@import "../../themes/_light.scss";

// Primary Variables

$primary-color: $blue;
//$primary-text-color: $red;
$sub-text-color: $grey-700;
$validation-text-color: $red;
$success-text-color: #3c763d;
$selected-color: $blue-lighter;
$select-hover: $grey-200;

//font size
$primary-fontsize: 14px;
$secondary-fontsize: 12px;

// Icons
$icon-color: $grey-800;
$icon-hover-color: $grey-900;

// Login Page
$login-bg: #2D3138; //Used on Error.cshtml, which view not used in boldbi
$border-color: $grey-400;
$login-font-color: #1B1E24; //Used on language dropdown in footer, which section not used in boldbi

// Admin Page

$admin-container-bg: $grey-000;
$admin-page-bg: $white;
$admin-body-border-color: $grey-300;
$admin-pages-border-color: $grey-300;
$description-text-color: #1B1C1C;

//Grid Variables

$grid-header-bg: $white;
$grid-content-bg: $grid-header-bg;
$grid-footer-bg: $grid-header-bg;

$grid-border-color: $admin-pages-border-color;
$grid-hover-color: $select-hover;
$grid-active-color: $selected-color;
$grid-active-text-color: $primary-text-color;
$grid-active-icon-color: $primary-text-color;
$grid-header-color: $sub-text-color;
$grid-text-color: $primary-text-color;
$grid-link-color: $primary-color;

$item-name-color: $grey-000;
$item-panel-bg: #3A404B;//Used on old Server-items-container DOM, which is not usable here
$item-panel-border-color: #555B63;
$item-search-color: #AAA;
$item-search-bg: #1B1E24;
$ItemSearchBorder: 1px solid #494F59;
$ItemColorOnSelect: #1B1E24;////Having style for that class but class Didn't used 'my-dashboards-banner-icon'
$ItemFontStyle: Roboto Medium 12px;
$AuthorColor: $grey-500;
$AuthorColorOnSelect: #262A33; 
$AuthorTextFontStyle: Roboto Regular 10px;
$item-select-bg: #A7ADB1;
$item-hover-bg: #454C56;
$item-count-bg: #A7ADB1;
$ItemCountFontStyle: Roboto Medium 10px;
$ad-icon-color: #848789;

//Main Menu Variables

$menu-bg: $grey-100;
$menu-active-bg: $grey-300;
$menu-item-height: 40px;
$menu-item-width: 40px;
$menu-icon-color: $icon-color;
$menu-hover-bg-color: $grey-300;
$menu-hover-color: $grey-900;
$menu-active-icon-color: $white;
$menu-new-active-icon-color: $primary;
$menu-label-color: $primary-black;

//Sub Menu

$menu-hover-text-color: $grey-400;
$menu-active-text-color: $primary-color;

//Header Variables

$header-bg: $primary-black;
$header-bg-color: #efefef;
$header-active-bg: #0071BC;
$header-text-color: #EFEDED;
$HeaderFontStyle: Roboto Medium 14px;
$header-height: 40px;
$header-border-color: #B8B8B8;
$unread-notification-color: $red;
$bullhorn-height: 35px;

//Button Variables

$btn-min-width: 90px;
$btn-height-normal: 28px;
$btn-height-large: 34px;
$filter-btn-min-width: 75px;
$primary-btn-bg: $primary-color;
$primary-btn-border: $primary-btn-border-color;
$primary-button-disabled: #F7F8F9;
$primary-btn-hover: $blue-secondary;
$primary-button-disabled: #F7F8F9;
$primary-btn-text-color: $white;
$primary-btn-disabled-bg: $grey-100;
$primary-btn-disabled-border: 1px solid $grey-400;
$secondary-btn-bg: $white;
$secondary-btn-text-color: $primary-black;
$secondary-btn-border: $grey-500;
$secondary-btn-hover: $grey-200;
$danger-btn-bg: $red;
$danger-btn-hover: #FF4E45;
$link-btn-hover: $grey-300;
$submit-button-disabled: $grey-100;

// Link colors
$link-text-color: $primary-color;
$link-text-hover-color: $blue-secondary;

// Profile Dialog

$profile-btn-text-color: $primary-black;
$profile-border-color: $grey-200;
$success-text-color: #3c763d;
$profile-info-width: 280px;
$profile-hover-color: #E2E2E2;
$profile-email-color: $grey-700;
$primary-btn-disabled-color: $grey-600;

//Dialog Box

$dialog-header-bgcolor: $white;
$dialog-body-bgcolor: $white;
$dialog-footer-bgcolor: $grey-100;
$dialog-scroll-color: $grey-400;//UserLimitExceeds

//CSS Radio Button

$radio-bg: $primary-color;
$radio-border: $secondary-btn-border;
$radio-shadow: $primary-btn-text-color;
$radio-active: $primary-color;
$radio-active-border: $primary-btn-border;
//Dialog
$dialog-close-icon-color: #696969;

//Application Font Sizes

$label-font-size: 14px;
$info-font-size: 12px;
$validation-font-size: $info-font-size;

//Favorite icon color
$favorite-icon-color: #ffda88;

//Search area border
$search-border: $grey-300;

//Iframe content background
$content-background: $grey-200;

//Dashboard hover
$dashboard-hover-color: #a7acb0;
$dashboard-icon-color: #000000;

//Place holder
$placeholder-color: $grey-500;

//Schedule status icon color
$active-schedule-icon-color: #008000;
$completed-schedule-icon-color: $orange;
$inactive-schedule-icon-color: $red;

//Notification variables
$notification-border-color: #356db5;
$notification-bg-color: #ef675c;
$notification: #ddd;

// Comments UserMention
$list-border-color: $grey-400;
$list-bg-color: $white;
$all-container-bg-color: $grey-100;
$all-container-border-color: $list-border-color;
$usermention-text-color: #3572b0;
$autocomplete-bg-color: $grey-200;
$autocomplete-border-color: $grey-400;
$autocomplete-trigger-bg: $autocomplete-border-color;
$unwatch-bg-color: #F8DB5A;
$watch-bg-color: $grey-400;
$heading-color: $primary-black;
$heading-outline: #d1d3d4;//Outline color not shown for span element
$post-bg-color: #3a99fb;//Using span not used in Comment Section
$reply-color: $grey-700;
$reply-border: $grey-400;
$comment-scroller-bg: $grey-700;
$commented-author-color: $primary-black;


//focus style
$focus: #66afe9;//box-shadow not used in getlink wrapper
//$shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);

// Dashboard Viewer page
$navbar-border-color: $grey-300;
$navbar-active-border-color: #E7E7E7;
$navbar-active-icon-color: #3782E3;
$dashboard-icon-color: #6d6e70;//no need
$dashboard-icon-hover-color: #3f3f3f;

//Dashboard Views
$poup-close-hover-color: #337ab7;///Used on SubscriptionPlan which used for Cloud
$recipients-bg-color: $grey-200;
$recipients-border-color: #ababab;
$share-items-bg-color: $white;
$waitpopup-bg-color: #f5f5f5;
$share-title-border-color: #ccc;
$footer-bg-color: #e2e2e2;////Used on SystemSettings as #user-data-message-container, which DOM not used anywhere
$footer-border-color: $grey-300;
$search-key-border-color: #e4e4e4;
$folder-tab-color: #FF712F;////Not used this entire AddDatasource.scss file
$search-bg-color: $white;
$select-border-color: $share-title-border-color;
$inactive-border-box-color: #A94442;
$footer-border-top: #bbb;
$search-schedule-bg-color: #f4f4f4;
$add-background-border-color: $search-key-border-color;
$delete-icon-color: $primary-black;

//Homepages
$ejwaiting-popup-bg: $grey-800;

//Custom Expression Editor
$clear-expression-color: #cd5c5c;
$label-color: #6495ed;
$list-hover-color: #009aef;
$button-background-color: #9acd32;
$button-text-color: $white;
$popup-close-icon-color: #000;
$background-color: #f7f7f7;
$overlay-color: $grey-700;

//LicenseSettings
$supported-plan: #008000;
$unsupported-plan: #FF0000;
$plan-color: $white;
$feature-plan-border: #d3d3d3;
$basic-plan: #ADD8E6;
$advance-plan: #FFA500;
$pro-plan: #008000;
$premium-plan: #800080;
$cancel-subscription: #FF0000;
$upgrade-plan: #A7ADB1;
$secondary-btn-border-color: $grey-500;
$subscription-btn-hover: #50b754;//used for cloud
$subscription-background: #4CAF50;//used for cloud
$upgrade-planname-font: 18px;
$upgrading-planprice-font: 28px;
$subscription-message-font: 12px;

//Fluent Popup
$popup-header-bg: $grey-000;
$popup-footer-bg: $popup-header-bg;
$popup-header-border: $grey-300;
$popip-footer-border: $popup-header-border;

//support
$support-open-color: #40C5A6;
$support-close-color: #EF606F;
$supports-id-color: #898989;

//OnBoardExperience
$journey-label-strike-color: #68CB9B;
$journey-label-color: $primary-black;
$journey-bg-color: #36B047;
$journey-title-color: $white;
$journey-step-color: #888;
$journey-inactive-color: #fafafa;

//Create Dashboard
//$popup-header-text-color: $primary-black;
//$popup-body-color: #efefef;
$template-dashboard-image-border: $grey-400;
//$template-dashboard-description-txt-color: #363636;
//$highlight-list-item: $primary;//duplicate


//Dashboard Listing new UX
$scroller-bg: $grey-500;
$right-sidebar-width: 230px;
$dashboard-border-color: $grey-300;
$dashboard-separator-color: $grey-400;
$dashboard-list-bg-color: $grey-100;
$category-list-bg-color: $grey-000;
$dashboard-light-text-color: $grey-700;
$dashboard-highlight-text-color: $primary;
$dashboard-primary-text-color: $primary-black;
$dashboard-secondary-text-color: $grey-700;
$dashboard-tile-bg-color: $white;
$hover-bg-color: $grey-200;
$favorite-icon-color: $orange;
$unfavorite-icon-color: $grey-800;
$highlight-list-item: $primary;
$dashboard-scroller-color: $scroller-bg;
$dashboard-search-bg-color: $grey-200;
$dashboard-color-white: $white;
$tooltip-label-color: $grey-400;
$dashboard-count-color: $grey-600;
$dashboard-tile-border-color: $grey-300;
$dashboard-icon-hover-bg-color: $grey-200;
$dashboard-icon-pressed-bg-color: $grey-400;

//Home
$home-container-bg: $grey-000;
$home-page-bg: $white;
$home-widget-width: 297px;
$home-widget-height: 142px;
$home-widget-lg-width: 296px;
$home-link-color: $blue-secondary;
$home-light-header-color: #666666;
$home-border: 1px solid $grey-300;
$home-items-color: $primary-black;
$home-owner-color: $grey-700;
$home-icon-size: 8px;
$home-icon-lg-size: 12px;
$home-title-font-size: 18px;
$home-header-font-size: 16px;
$home-sub-header-font-size: 14px;
$home-sub-header2-font-size: 13px;
$home-normal-font-size: 12px;
$home-small-font-size: 10px;
$home-primary-color: $primary-color;
//Subscription
$subscription-horizontal-border: #C8C8C8;
$subscription-buy-additional-storage-option: #0162FF;
$additional-storage-font-color: $primary-black;
$additional-storage-border-color: #E6E6E6;
$additional-storage-table-bg-color: #FBFBFB;
$success-message-bg-color: #e5ffed;

//Disable-Material-Switch
$disable-material-switch: $grey-300;

//Warning colors
$warning-icon-yellow: #FFC000;//not applicable for Boldbi. only for Syncfusion.

//dropdown
$dropdown-hover: $select-hover;
$dropdown-selected: $selected-color;
$dropdown-selected-text: $primary-text-color;

//Check box
$checkbox-bg: $white;

//Modal dialog
$dialog-footer-bg-color: $grey-000;
$dialog-border-color: $grey-300;

//Share Permission Dialog
$share-font-color: $primary-black;
$share-access-mode-bg-color: $grey-000;
$share-icon-color: $grey-800;
$share-description-color: $grey-700;
$share-input-bg-color: $dialog-footer-bgcolor;
$share-input-disable-input: $grey-500;
$share-ej-optio-bg-color: $grey-200;
$share-dialog-check-mark-color: $primary;
$share-listing-border-color: $grey-100;
$share-change-indicator-color: $yellow;
$share-change-indicator-banner-color: $grey-900;

//DateTimePicker and NumericSpinButton
$datetimepicker-current-month-color: $primary-text-color;
$datetimepicker-border-color: $border-color;
$datetimepicker-headertext-hover-color: $dropdown-hover;
$datetimepicker-active-color: $selected-color;
$datetimepicker-inactive-color: $primary-btn-disabled-color;
$datetimepicker-hover-color: $footer-border-color;
$datetimepicker-timecontainer-text-color: $primary-text-color;
$datetimepicker-timecontainer-bg-color: $selected-color;
$datetimepicker-timecontainer-border-color: $subscription-horizontal-border;

//embedCode
$embed-code-copy-bg: $grey-000;
$embed-code-copy-border: $grey-400;

//draft data source
$draft-datasource-badge-color: darken($grey-800, 10.20);
