<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved.</CopyrightInformation>
  <IsEnableCopyrightInfo>true</IsEnableCopyrightInfo>
  <InstallationFolder>TenantManagement</InstallationFolder>
  <IsEnablePoweredBySyncfusion>true</IsEnablePoweredBySyncfusion>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <OrganizationName>Bold ID</OrganizationName>
  <SqlConfiguration>
  </SqlConfiguration>
  <StorageType>0</StorageType>
  <WelcomeNoteText>Welcome to Bold Reports Enterprise Reporting </WelcomeNoteText>
  <TimeFormat>false</TimeFormat>
  <DRM>nwCIZ5qD/Zf9wyIKp8mQKGOLVYkeO12qsugm6/eRW9wHXHP4Fgutr429ob/NabjuT1LOkxwZbmlMSIKASDlDl5Fn5m/LXzppk5B9hNMopPdc2ymEF4rT0/o7VNKx3SA8jpclWDDtyJ3lGQ8PZXdUF52uMl0rlFY23gutZS6Xd6ZYdfhpCDVmSfANTbehNXSAZeyvLfJUXLbfPG3ND9LMx1SZ9vzUOyg6fCBr1u09bzOSOzXXqQKcyOUaJXnzh2hjw/2ePqXnUM6bbJ92vXOcW+Xnu4OceWp+ABKHHPfRE4JBuhdxSVhPvX57wUDjAlqwljiJkUdo4XtNI3/xWsc1qe3pb3VwgcD7HqOwOTewRU56PSGoHIFaGxE9S48c1i2GEuEj+RQY7rhFwidVfbMjsJTaggacWZ+VGdpgpkyX9elu3aHJlYy26cDseuTKA4f98XdS9liMlqLsen6MQmP8WtyeUFwmSbj87nGsws6uFTyAzBfI2oO+W+38tg7gbs0FYX/tK4Tx0cgkh1pSb2eO4qi7aq4x/DoYe27bP8RN4pyegYRFHmMC0aiaciqiD8c6CMtrjJbOiQ/cYGwy6lsoIQsaxsE3Er7A4Qke/pt2fqCHW93qGqqGFzeDbG11NkGtONc861Yc2PyKos1oh0Pj/ii2MKIzSrZU9zLnhzSadioxaj0eyYNuXS+vNUE6Egph2BwHyoQz+ABKxXs41SRUuA==</DRM>
  <InternalAppBIUrl>
  </InternalAppBIUrl>
  <InternalAppReportUrl>
  </InternalAppReportUrl>
  <InternalAppClientId>e71a2632-69a8-4ff5-919d-5c4a07f49365</InternalAppClientId>
  <InternalAppClientSecret>m5sVFaIZHMB5yXd9uOf+Sa2UEfpT112CtuV8f37LuZYpGHApQ3AtejapK52LFpt11utjwghfRuphhYlBlIIiDQ==</InternalAppClientSecret>
  <PreviewFeatures>
    <Localization>false</Localization>
  </PreviewFeatures>
</SystemSettings>