@font-face {
  font-family: 'dashboardwidget_font';
  src: url('../../fonts/dashboardwidget_font.eot?8cbxhs');
  src: url('../../fonts/dashboardwidget_font.eot?8cbxhs#iefix') format('embedded-opentype'), url('../../fonts/dashboardwidget_font.ttf?bfgft8') format('truetype'), url('../../fonts/dashboardwidget_font.woff?8cbxhs') format('woff'), url('../../fonts/dashboardwidget_font.svg?8cbxhs#dashboardwidget_font') format('svg');
  font-weight: normal;
  font-style: normal;
}
.e-dbrd-canvas.e-datepicker table td.e-disable {
  opacity: 1;
  color: silver;
}
.e-dbrd-canvas .e-dbrd-canvas .e-datewidget .e-in-wrap {
  border-color: #bbbcbb;
}
.e-dashbaorddatepicker-date-selectors span,
.e-dashbaorddatepicker-date-selectors input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.e-rtl {
  direction: rtl;
}
.e-dbrd-canvas.e-datewidget.e-focus,
.e-dbrd-canvas .e-datewidget .e-input.e-focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.e-dbrd-canvas.e-datewidget.e-rtl .e-select,
.e-dbrd-canvas.e-datewidget .e-disable.e-select:hover {
  background: none !important;
  /* Old browsers */
  border: 0;
  color: #797979;
}
.e-dbrd-canvas.e-datewidget .e-select {
  background: none;
  color: #797979;
}
.e-dbrd-canvas.e-datewidget .e-select:hover {
  background: #5eabde;
  /* Old browsers */
  color: white;
}
.e-dbrd-canvas.e-datewidget .e-select.e-active {
  background: #2382c3;
  /* Old browsers */
}
.e-dbrd-canvas.e-datewidget .e-input {
  font-size: 13px;
}
.e-dbrd-canvas.e-datepicker table td.other-month,
.e-dbrd-canvas.e-datepicker .e-allyear-first,
.e-dbrd-canvas.e-datepicker .e-allyear-last,
.e-dbrd-canvas.e-datepicker .e-year-first,
.e-dbrd-canvas.e-datepicker .e-year-last {
  color: #1b95cf;
}
.e-dbrd-canvas.e-datepicker table td.e-dp-weekend {
  color: #cd0a0a;
}
.e-dbrd-canvas.e-datepicker.e-calendar {
  border-color: #bbbcbb;
  background-color: white;
}
.e-dbrd-canvas.e-datepicker .e-header,
.e-datetime-popup .e-timecontainer .e-header {
  background: #1b95cf;
  /* Old browsers */
  color: white;
  font-size: 16px;
  font-weight: normal;
}
.e-dbrd-canvas.e-datepicker .e-footer {
  color: #5c5c5c;
  border: 1px solid transparent;
}
.e-dbrd-canvas.e-datepicker .e-footer:hover {
  background: #5eabde;
  /* Old browsers */
  color: white;
  border: 1px solid #5eabde;
}
.e-dbrd-canvas.e-datepicker .e-text {
  color: white;
}
.e-dbrd-canvas.e-datepicker .e-week-header,
.e-dbrd-canvas.e-datepicker .e-week-header:hover {
  background: #ecedee;
  /* Old browsers */
  color: #5c5c5c;
  border-bottom: 1px solid transparent;
}
.e-dbrd-canvas.e-datepicker table td:hover,
.e-dbrd-canvas.e-datepicker .current-month.e-state-default.e-special-day:hover {
  background: #5eabde;
  /* Old browsers */
  /*color: white; */
  border-color: #5eabde;
  border-radius: 4px;
  box-shadow: 0 0 0 transparent inset;
}
.e-dbrd-canvas.e-datepicker .e-datepicker-days .e-selected-days {
  background: #2382c3;
  /* Old browsers */
  border-radius: 0;
  box-shadow: 0 0 0 transparent inset;
  /*For flicker issue */
  color: white;
}
.e-dbrd-canvas.e-work-week .e-week-day,
.e-dbrd-canvas.e-selected-week,
.e-dbrd-canvas.e-selected-month {
  background-color: #ecedee;
  color: #5c5c5c;
}
.e-dbrd-canvas.e-datepicker .e-state-hover {
  box-shadow: 0 0 6px #bbbcbb inset;
}
.e-dbrd-canvas.e-datepicker .e-header .e-icon {
  color: white;
}
.e-dbrd-canvas.e-datepicker .e-left-arrow:hover,
.e-dbrd-canvas.e-datepicker .e-right-arrow:hover {
  background-color: #5eabde;
  border-radius: 4px 4px 4px 4px;
}
.e-dbrd-canvas.e-datepicker .e-state-default {
  color: #5c5c5c;
  font-weight: normal;
}
.e-dbrd-canvas.e-datepicker .today {
  background-color: #ecedee;
  color: #5c5c5c;
  box-shadow: 0 0 0 transparent inset;
  border-radius: 4px;
}
.e-dbrd-canvas.e-datepicker .other-month.e-active {
  background: none;
}
.e-dbrd-canvas.e-datepicker .e-active {
  background: #2382c3;
  /* Old browsers */
  border-radius: 4px;
  box-shadow: 0 0 0 transparent inset;
  /*For flicker issue */
  color: white;
}
.e-dbrd-canvas.e-datepicker table td.other-month:hover,
.e-dbrd-canvas.e-datepicker .e-allyear-first:hover,
.e-dbrd-canvas.e-datepicker .e-allyear-last:hover,
.e-dbrd-canvas.e-datepicker .e-year-first:hover,
.e-dbrd-canvas.e-datepicker .e-year-last:hover {
  color: #d0d0d1;
  background-color: transparent;
}
.e-dbrd-canvas.e-datewidget .e-in-wrap {
  border-color: #bbbcbb;
}
.datePickerParentDiv > .e-datewidget {
  float: left;
}
.e-datewidget .e-select:hover {
  background: #5eabde;
}
.e-hightlight {
  border: 2px #7BBEF7 dotted !important;
  color: #000000 !important;
  outline: 1px !important;
  border-radius: 2px;
}
.e-arrowheadright-2x:before,
.e-icon.e-right-arrow:before,
.e-rtl .e-icon.e-left-arrow:before {
  content: "";
}
.e-arrowheadleft-2x:before,
.e-icon.e-left-arrow:before,
.e-rtl .e-icon.e-right-arrow:before {
  content: "";
}
.e-datepicker .e-left-arrow:hover,
.e-datepicker .e-right-arrow:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}
.e-globalfilter-selection .e-focus,
.e-globalfilter-selection .e-focus + label {
  border: 1px solid gray !important;
}
.e-datepicker.e-input {
  text-indent: 6px;
}
.e-calender:before,
.e-icon.e-date:before {
  content: "";
  background-repeat: no-repeat;
  margin-left: 3px;
  margin-top: 1px;
}
.e-datepicker table td.other-month,
.e-datepicker .e-allyear-first,
.e-datepicker .e-allyear-last,
.e-datepicker .e-year-first,
.e-datepicker .e-year-last {
  color: #77A7FB !important;
}
.e-datewidget .e-input {
  background-color: white;
  color: #2b2b2b;
}
.e-datepicker .e-text {
  color: #4F4F4F !important;
  margin-top: -15px;
  vertical-align: middle;
}
.e-datepicker .e-state-hover {
  box-shadow: none !important;
  background-color: white !important;
}
.e-datepicker .e-header,
.e-datetime-popup .e-timecontainer .e-header {
  background: white !important;
  font-weight: bold !important;
}
.e-datepicker table th {
  font-family: 'Roboto' !important;
  background-color: white;
  font-weight: bold;
}
.e-datepicker table tr td {
  font-family: 'Roboto' !important;
  background-color: white;
  font-weight: bold;
}
.e-datepicker .e-available-date {
  color: #77A7FB !important;
  font-weight: bold;
}
.e-datepicker .e-unavailable-date {
  color: #4b4b4b;
}
/*.e-datepicker .e-active {
   /*border-radius: 50% !important;*/
/*color:white !important;
}*/
.e-datepicker table td:hover,
.e-datepicker .current-month.e-state-default.e-special-day:hover,
.e-datepicker .e-state-hover {
  background: none repeat scroll 0 0 #f4f4f4 !important;
}
.e-datepicker .current-month.e-state-default.e-week-day {
  color: #4f4f4f;
}
.e-datepicker .e-hidedate {
  color: lightgray !important;
}
.e-datepicker.e-popup,
.e-datepicker .e-dbrd-canvas,
.e-dbrd-canvas.e-datewidget .e-in-wrap {
  border: 1px solid #a5a5a5;
  border-radius: 3px;
}
.e-datepicker .e-icon.e-date {
  color: black;
  background-color: white;
}
.e-datepicker .e-in-wrap .e-select {
  background-color: white !important;
}
/*Images*/
/*e-disable*/
.e-datepicker .e-header .e-prev .e-left-arrow {
  background-repeat: no-repeat;
  content: "";
}
.e-datepicker .e-header .e-prev .e-disable {
  background-repeat: no-repeat;
  content: "";
}
.e-datepicker .e-header .e-next .e-right-arrow {
  background-repeat: no-repeat;
  content: "";
  margin-top: 4px;
}
.e-datepicker .e-header .e-next .e-disable {
  background-repeat: no-repeat;
  content: "";
}
.e-datepicker.e-popup.e-widget.e-calendar {
  width: 300px !important;
}
/*Size*/
.e-rte-toolbar-icon:before,
.e-bgcolor-icon:before,
.e-fontcolor-icon:before,
.e-rte-footericon:before,
.e-rte-resize:before {
  display: block;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}
.e-datepicker .e-icon {
  height: 24px;
  width: 24px;
}
/*hover*/
.e-datepicker .e-left-arrow:hover,
.e-datepicker .e-right-arrow:hover {
  background-color: white;
}
/*-------------------From ej.dashboarddatepicker.css---------------------------*/
.e-dashboarddatepicker-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0 auto;
}
.e-dashboarddatepicker-popup-wrapper .e-arrow-enabled i:before {
  color: #5e5e5e;
}
.e-dashboarddatepicker-popup-wrapper .e-arrow-diabled i:before {
  color: #bdbdbd;
}
.e-dashboarddatepicker-popup-wrapper .e-available-date {
  color: #2B2B2B;
  font-weight: bold;
}
.e-dashboarddatepicker-popup-wrapper .e-unavailable-date {
  color: #D8D8D8;
}
.e-dashboarddatepicker-popup-wrapper {
  font-family: sans-serif;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10004;
  border: 1px solid lightgray;
  display: none;
  -webkit-box-shadow: 1px 1px 10px lightgray;
  -ms-box-shadow: 1px 1px 10px lightgray;
  -moz-box-shadow: 1px 1px 10px lightgray;
  box-shadow: 1px 1px 10px lightgray;
  background: white;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.e-dashboarddatepicker-popup-wrapper .e-dashboarddatepicker-calendar {
  width: 200px;
  height: 244px;
}
.e-dashboarddatepicker-ranges {
  float: left;
  width: 100px;
  height: auto;
}
.e-fromspan,
.e-tospan {
  background-color: whitesmoke;
  border: 1px solid #cccccc;
  border-right: none;
  -ms-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 14px 0 10px;
  text-align: center;
  margin: 0 0 6px 0;
  height: 28px;
  line-height: 28px;
  width: 10%;
  font-size: 13px;
  color: #5E5E5E;
}
.e-dashboarddatepicker-calander-selector-wrapper {
  float: left;
  border-top: none;
  border-left: none;
  border-bottom: none;
  width: auto;
  height: auto;
  border-right: 1px solid lightgray;
  padding-bottom: 9px;
}
.e-dashboarddatepicker-calander-wrapper {
  border: 1px solid lightgray;
  clear: both;
  margin: 3px 10px 0 10px;
  height: auto;
  float: inherit;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.e-dashboarddatepicker-footer {
  background: #F9F9F9;
  height: 50px;
  border-top: 1px solid lightgray;
  -ms-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  clear: both;
}
.e-prev-month i:before {
  font-family: 'dashboardwidget_font';
  content: "\e803";
  font-style: normal;
  font-size: 18px;
}
.e-next-month i:before {
  font-family: 'dashboardwidget_font';
  content: "\e804";
  font-style: normal;
  font-size: 18px;
}
.calendar-table table {
  border-spacing: 0;
  width: 100%;
  margin: 0;
}
.calendar-table table td {
  font-family: 'Roboto';
  font-size: 12px;
  text-align: center;
  width: 3px;
  height: 24px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: normal;
  color: #5E5E5E;
  padding: 1.5px;
}
.calendar-table table th {
  font-family: 'Roboto';
  font-size: 13px;
  width: 20px;
  height: 35px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  font-weight: bolder;
  color: #5E5E5E;
}
.calendar-table table th {
  cursor: default;
}
.calendar-table table td:hover {
  background: #E5E5E5;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.calendar-table table td.e-disable:hover {
  background: transparent !important;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.calendar-table table td.selected {
  -ms-border-radius: 24px;
  border-radius: 24px;
  background: #77A7FB;
  color: white;
}
.calendar-table table td.selected.showrange {
  -webkit-box-shadow: 13px 0 0 0 #f4f4f4;
  -ms-box-shadow: 13px 0 0 0 #f4f4f4;
  -moz-box-shadow: 13px 0 0 0 #f4f4f4;
  box-shadow: 13px 0 0 0 #f4f4f4;
}
.calendar-table table td.in-range + .selected {
  -webkit-box-shadow: -13px 0 0 0 #f4f4f4;
  -ms-box-shadow: -13px 0 0 0 #f4f4f4;
  -moz-box-shadow: 13px 0 0 0 #f4f4f4;
  box-shadow: -13px 0 0 0 #f4f4f4;
}
.calendar-table table td.in-range {
  background: #f4f4f4;
  -ms-border-radius: 0;
  border-radius: 0;
}
.e-dashboarddatepicker-ranges ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 3px 0 0 0;
}
.e-dashboarddatepicker-ranges ul li {
  font-family: 'Roboto';
  font-size: 12px;
  padding-top: 8px;
  cursor: pointer;
  height: 28px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -moz-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 2px 2px 0 2px;
  padding-left: 5px;
  line-height: 12px;
}
.e-dashboarddatepicker-popup-wrapper .left {
  float: left;
}
.e-dashboarddatepicker-popup-wrapper .right {
  float: right;
}
.e-dashboarddatepicker-wrapper .e-input-main {
  font-family: 'Roboto';
  border: 1px solid #ccc;
  -ms-border-radius: 4px;
  border-radius: 4px;
  color: #555;
  display: block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 0 5px 0;
  padding: 0 25px 0 10px;
  /*width: auto;
    -moz-min-width: 35px;
    -ms-min-width: 35px;
    -o-min-width: 35px;
    -webkit-min-width: 35px;
    min-width: 35px;*/
  float: left;
}
.e-dashboarddatepicker-wrapper .e-input-main:focus,
.e-dashboarddatepicker-popup-wrapper .e-input-mini:focus {
  outline: none;
}
.e-dashboarddatepicker-popup-wrapper .e-dashboarddatepicker-cancel-btn,
.e-dashboarddatepicker-popup-wrapper .btn e-dashboarddatepicker-cancel-btn {
  font-family: 'Roboto';
  border-radius: 2px;
  font-size: 13px;
}
.e-dashboarddatepicker-popup-wrapper .e-input-mini {
  font-family: 'Roboto';
  border: 1px solid #ccc;
  -ms-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #5E5E5E;
  display: block;
  height: 28px;
  line-height: 25px;
  vertical-align: middle;
  margin: 0 0 5px 0;
  padding: 0 6px 0 10px;
  width: 69%;
}
.e-dashboarddatepicker-ranges ul li:hover {
  background-color: #2389E5;
  color: white;
}
.e-dashboarddatepicker-ranges ul li.selected {
  background-color: #2b99fc;
  color: white;
}
.e-dashboarddatepicker-footer button {
  float: right;
  margin: 10px 10px 10px 0;
}
.e-dashboarddatepicker-apply-btn {
  background-color: #3B99FC;
  border-color: #2C90FC !important;
  /*padding: 3px 20px;*/
  color: white !important;
}
.e-dashboarddatepicker-apply-btn:hover {
  background-color: #2389E5 !important;
}
.e-dashboarddatepicker-cancel-btn {
  background-color: #FFFFFF;
  padding: 3px 20px;
  border-color: #D0D0D0 !important;
  color: black !important;
}
.e-dashboarddatepicker-cancel-btn:hover {
  background-color: #EFEFEF !important;
}
.e-dashboarddatepicker-icon {
  cursor: pointer;
}
.e-dashboarddatepicker-icon:before {
  position: relative;
  font-family: 'dashboardwidget_font';
  content: "\e800";
  font-style: normal;
  cursor: pointer;
  float: left;
  line-height: 2;
  margin-left: -23px;
}
.e-dashboarddatepicker-icon.e-rtl:before {
  position: absolute;
  left: 23px;
  margin-left: 0px;
}
.e-dashboarddatepicker-footer .btn {
  width: 85px;
  height: 28px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -ms-border-radius: 4px;
  border-radius: 2px;
  -webkit-appearance: button;
  -moz-appearance: button;
  padding: 0 !important;
}
.e-dashboarddatepicker-footer .btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  -webkit-filter: alpha(opacity=65);
  -moz-filter: alpha(opacity=65);
  -o-filter: alpha(opacity=65);
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -ms-opacity: .65;
  opacity: .65;
}
.e-dashboarddatepicker-tooltip {
  padding: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  position: fixed;
  z-index: 1010;
  font-size: 13px;
}
.e-dashboarddatepicker-content {
  height: auto;
  width: auto;
  clear: both;
}
.e-dashboarddatepicker-input-container {
  width: 208px;
}
.e-dashbaorddatepicker-date-selectors {
  margin-top: 10px;
  margin-left: 10px;
  clear: both;
}
.e-dashboarddatepicker-popup-wrapper .other-month {
  color: #999;
  background: #fff;
}
