@import 'ej.webdesigner.definition.less';  // lesshint importPath: false

/************************EJ Designer Core*********************************/
.e-reportdesigner-designPanel {
  border: 0px solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11pt;
}
.e-reportdesigner-designArea {
  border: 0.5px solid;
}
/*Accordion Content Style*/
.e-reportdesigner-designer .e-acrdn > .e-content {
  background-color: #F6FAFD;
  font-size: 11px;
  border: 0.5px solid;
  border-color: #c8c8c8;
}
.e-reportdesigner-designer .e-acrdn > .e-select {
  font-size: 12px;
  border-style: none solid solid;
  border-color: #c8c8c8;
}
.e-reportdesigner-designer .e-acrdn > .e-select > .e-icon,
.e-acrdn.e-rtl > .e-select > div.e-close {
  font-size: 12px;
}
/*Accordion Selection Style*/
.e-reportdesigner-designer .e-acrdn .e-select.e-active,
.e-acrdn .e-disable.e-active.e-select:hover a,
.e-acrdn .e-disable.e-active.e-select:hover {
  color: Black !important;
  background-color: #EDEEEF !important;
}
/*Accordion Selected Arrow Style*/
.e-reportdesigner-designer .e-acrdn .e-select.e-active > span {
  color: Black !important;
}
/*Accordion Selected Text Style*/
.e-reportdesigner-designer .e-acrdn .e-select.e-active a {
  color: Black !important;
  background-color: #EDEEEF !important;
  font-weight: 600;
}
/*Accordion Default Style*/
.e-reportdesigner-designer .e-acrdn > .e-select,
.e-acrdn > .e-disable.e-select:hover,
.e-acrdn > .e-disable.e-select:hover a {
  background-color: white !important;
}
.e-reportdesigner-propertyPanel {
  font-size: 11pt;
}
.e-reportdesigner-designer .e-colorwidget .e-selected-color {
  border: 1px solid #c8c8c8 !important;
}
.e-reportdesigner-itempanel-innerTile {
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
}
.e-reportdesigner-designer-saveReport .e-btn.e-select,
.e-btn.e-disable.e-select:hover,
.e-tbtn.e-disable {
  color: white;
  border-color: black;
  background: black;
}
.e-reportdesigner-designer-saveReport .e-btn.e-btn-small {
  font-size: 11px;
}
/************************ToolBar*********************************/
.e-reportdesigner-toolbarcontainer {
  border: 0px Solid;
  border-color: #c8c8c8;
  background-color: #fcfcfc;
  border-radius: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 0px 0px inset !important;
}
.e-querydesigner-toolbarcontainer {
  background: #fcfcfc;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 0px 0px inset !important;
}
.e-reportdesigner-toolbarIconBasic {
  color: #333333;
}
.e-reportdesigner-toolbarIconMenu {
  color: black;
}
.e-designer-ejwidgets-splitbtn {
  background: transparent !important;
  color: #333333 !important;
  outline: none !important;
}
.e-reportdesigner-dataset-colum {
  background-color: #fff;
  border-color: #cecece;
  border-bottom: 1px solid #cecece;
  font-size: 12px;
}
.e-reportdesigner-dataset-colum:hover {
  background-color: #86cbea;
}
.e-reportdesigner-dataset .e-lv.subpage {
  border: 0px solid !important;
}
.e-reportdesigner-dataset .e-lv.e-parentlv > .e-lv.subpage {
  border: 0px solid !important;
}
.e-reportdesigner-dataset .e-lv .e-list {
  border: 0px solid !important;
}
.e-reportdesigner-dataset .e-lv .e-list-text {
  font-size: 13px !important;
}
.e-reportdesigner-designer-configuration .e-drp-btn.e-select,
.e-btn.e-select .e-icon,
.e-btn.e-select.e-disable:hover:not(.e-hsvButton),
.e-btn.e-select.e-disable:hover:not(.e-hsvButton) .e-icon {
  color: white !important;
}
.e-reportdesigner-designer-configuration .e-input,
.e-tooltipbox,
.e-btn,
.e-time-popup,
.e-datepicker.e-calendar,
.e-menu,
.e-uploadbox .e-file-name-txt,
.e-uploadbox .e-selectpart,
.e-uploadbox .e-uploadbtn,
.e-waitpopup-pane .e-text,
.e-tagcloud,
.e-toolbar,
.e-progressbar,
.e-scale .e-tick .tick-value,
.e-datetime-popup .e-dt-button,
.e-grid,
.e-ejinputtext,
.e-pager,
.e-fileexplorer,
.e-textbox {
  font-size: 11px;
}
.e-reportdesigner-designer-configuration .e-radiobtn-wrap .e-radsmaller .e-rad-icon {
  font-size: 7px;
}
.e-reportdesigner-designer-configuration .e-tab .e-header li {
  background: white !important;
  font-size: 14px !important;
}
.e-reportdesigner-designer-configuration .e-tab .e-header.e-addborderbottom .e-active {
  border-bottom: 2px solid #179bd7 !important;
  border-top: 0px solid;
}
.e-reportdesigner-designer-configuration .e-tab.e-js .e-header > .e-active,
.e-tab.e-js .e-left > .e-active,
.e-tab.e-js .e-right > .e-active {
  border: 0px solid #c8c8c8;
}
.e-reportdesigner-designer-configuration .e-tab.e-js .e-header > .e-bottom-line.e-active,
.e-tab.e-js .e-header > .e-bottom-line.e-active:hover {
  border-bottom: 2px solid #179bd7 !important;
}
.e-reportdesigner-designer-configuration .e-uploadbox .e-uploadinput,
.e-uploadbox .e-selectpart,
.e-uploadbox .e-select .e-inputbtn,
.e-uploadbox.e-disable .e-select .e-inputbtn {
  background-color: #179bd7;
  color: white !important;
}
.e-reportdesigner-toolbarli.e-active,
.e-reportdesigner-toolbarli.e-hover.e-active,
.e-reportdesigner-toolbarli.e-active.e-hover {
  background: #428bca !important;
  color: #ffffff !important;
}
.e-reportdesigner-toolbarli.e-active .e-designer-ejwidgets-splitbtn {
  color: #ffffff !important;
}
.e-reportdesigner-toolbarli.e-hover {
  background: #e2e2e2 !important;
  color: #333333 !important;
}
.e-reportdesigner-toolbarli.e-designer-splitbtn.e-active,
.e-reportdesigner-toolbarli.e-designer-splitbtn.e-hover {
  width: 37px !important;
}
.e-reportdesigner-toolbarul.e-separator {
  border-color: #cccccc !important;
}
.e-reportdesigner-toolbarcontainer .e-disable,
.e-querydesigner-toolbarcontainer .e-disable {
  opacity: 0.65 !important;
  filter: alpha(opacity=65) !important;
}
.e-reportdesigner-dataset-btn {
  border-radius: 4px !important;
  font-size: 12px  !important;
}
.e-reportdesigner-dataset-okbtn,
.e-reportdesigner-previewbtn,
.e-reportdesigner-dataset-btn,
.e-table-user-selection-active,
.e-table-user-selection-active.e-reportdesigner-dataset-column:hover,
.e-designer-addbtn,
.e-designer-alert-okbtn,
.e-designer-setparam-btn {
  background: #428bca !important;
  border-color: #3071a9 !important;
  color: #ffffff !important;
}
/************************ToolBar*********************************/
/************************ToolBar Actions*********************************/
.e-reportdesigner-inputPath {
  border: 1px solid #DBDBDB;
}
.e-reportdesigner-errorLog {
  color: red;
}
/************************ToolBar Actions*********************************/
/************************Collapsible Items Popup*********************************/
.e-reportdesigner-tooltiparrowpopup {
  background: white;
}
.e-reportdesigner-tooltiparrowpopup:after,
.e-reportdesigner-tooltiparrowpopup:before {
  border: solid transparent;
}
.e-reportdesigner-tooltiparrowpopup:after {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: white;
}
.e-reportdesigner-tooltiparrowpopup:before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #c8c8c8;
}
/************************Collapsible Items Popup*********************************/
/************************EJ Designer Core*********************************/
/************************EJ Designer Theme*********************************/
.e-reportdesigner-designPanel {
  border-color: #c8c8c8;
}
.e-reportdesigner-designArea {
  border-color: #c8c8c8;
}
.e-reportdesigner-itempanel-innerTile {
  background-color: white;
  border-color: gray;
}
/************************EJ Designer Theme*********************************/
.e-reportdesigner-itempanel-header {
  background-color: #fcfcfc;
  border-left: 1px solid #c8c8c8;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.e-reportdesigner-itempanel-wrapper {
  background-color: transparent !important;
  border-bottom: 1px solid #c8c8c8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.e-reportdesigner-itempanel-wrapper:hover {
  background-color: #e2e2e2 !important;
  color: #333333 !important;
}
.e-reportdesigner-itempanel-selection,
.e-reportdesigner-itempanel-selection:hover {
  background-color: #428bca !important;
  color: #ffffff !important;
}
/* Font Icons */
.e-reportdesigner-widget-circle:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-gauge .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-gauge .path2:before {
  color: #ec7838;
}
.e-reportdesigner-widget-image .path1:before {
  color: #ec7838;
}
.e-reportdesigner-widget-image .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-line:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-map .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-map .path2:before {
  color: #ec7838;
}
.e-reportdesigner-widget-maps:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-rectangle:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-textbox:before {
  color: #ec7838;
}
.e-reportdesigner-area-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-area-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-area-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-bar-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-bar-chart .path2:before {
  color: #7bcc29;
}
.e-reportdesigner-bar-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-bar-chart .path4:before {
  color: #ffde33;
}
.e-reportdesigner-bubble-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-bubble-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-bubble-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-bubble-chart .path4:before {
  color: #ec7838;
}
.e-reportdesigner-candle-stick-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-candle-stick-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-candle-stick-chart .path3:before {
  color: #7bcc29;
}
.e-reportdesigner-candle-stick-chart .path4:before {
  color: #ffde33;
}
.e-reportdesigner-column-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-column-chart .path2:before {
  color: #7bcc29;
}
.e-reportdesigner-column-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-column-chart .path4:before {
  color: #ffde33;
}
.e-reportdesigner-doughnut-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-doughnut-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-error-bar-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-error-bar-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-error-bar-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-error-bar-chart .path4:before {
  color: #4da6ff;
}
.e-reportdesigner-exploded-pie-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-exploded-pie-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-funnel-chart .path1:before {
  color: #ffde33;
}
.e-reportdesigner-funnel-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-funnel-chart .path3:before {
  color: #7bcc29;
}
.e-reportdesigner-funnel-chart .path4:before {
  color: #ec7838;
}
.e-reportdesigner-line-chart:before {
  color: #ec7838;
}
.e-reportdesigner-line-with-markers-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-line-with-markers-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-line-with-markers-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-line-with-markers-chart .path4:before {
  color: #4da6ff;
}
.e-reportdesigner-line-with-markers-chart .path5:before {
  color: #4da6ff;
}
.e-reportdesigner-line-with-markers-chart .path6:before {
  color: #4da6ff;
}
.e-reportdesigner-pie-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-pie-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-pie-chart .path3:before {
  color: #7bcc29;
}
.e-reportdesigner-polar-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-polar-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-polar-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-polar-chart .path4:before {
  color: #ec7838;
}
.e-reportdesigner-polar-chart .path5:before {
  color: #ec7838;
}
.e-reportdesigner-polar-chart .path6:before {
  color: #ec7838;
}
.e-reportdesigner-pyramid-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-pyramid-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-pyramid-chart .path3:before {
  color: #7bcc29;
}
.e-reportdesigner-radar-chart .path1:before {
  color: #6d6f70;
}
.e-reportdesigner-radar-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-radar-chart .path3:before {
  color: #ec7838;
}
.e-reportdesigner-radar-chart .path4:before {
  color: #ec7838;
}
.e-reportdesigner-radar-chart .path5:before {
  color: #ec7838;
}
.e-reportdesigner-radar-chart .path6:before {
  color: #ec7838;
}
.e-reportdesigner-radar-chart .path7:before {
  color: #4da6ff;
}
.e-reportdesigner-radar-chart .path8:before {
  color: #4da6ff;
}
.e-reportdesigner-radar-chart .path9:before {
  color: #4da6ff;
}
.e-reportdesigner-range-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-range-chart .path2:before {
  color: #ffde33;
}
.e-reportdesigner-range-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-range-column-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-range-column-chart .path2:before {
  color: #7bcc29;
}
.e-reportdesigner-range-column-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-range-column-chart .path4:before {
  color: #ffde33;
}
.e-reportdesigner-scatter-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-scatter-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-scatter-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-scatter-chart .path4:before {
  color: #4da6ff;
}
.e-reportdesigner-scatter-chart .path5:before {
  color: #ec7838;
}
.e-reportdesigner-scatter-chart .path6:before {
  color: #ec7838;
}
.e-reportdesigner-scatter-chart .path7:before {
  color: #ec7838;
}
.e-reportdesigner-smooth-area-chart .path1:before {
  color: #7bcc29;
}
.e-reportdesigner-smooth-area-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-smooth-line-chart:before {
  color: #ec7838;
}
.e-reportdesigner-smooth-line-with-markers-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-smooth-line-with-markers-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-smooth-line-with-markers-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-smooth-line-with-markers-chart .path4:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-area-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-area-chart .path2:before {
  color: #7bcc29;
}
.e-reportdesigner-stacked-area-chart .path3:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-area-chart-100 .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-area-chart-100 .path2:before {
  color: #ffde33;
}
.e-reportdesigner-stacked-area-chart-100 .path3:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart .path3:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart .path4:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart .path5:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart .path6:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart .path7:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart .path8:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart-100 .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart-100 .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart-100 .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart-100 .path4:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart-100 .path5:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart-100 .path6:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart-100 .path7:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart-100 .path8:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart .path4:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart .path5:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart .path6:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart .path7:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart .path8:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart-100 .path1:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart-100 .path2:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart-100 .path3:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart-100 .path4:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart-100 .path5:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart-100 .path6:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart-100 .path7:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart-100 .path8:before {
  color: #4da6ff;
}
.e-reportdesigner-stepped-line-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-stepped-line-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-stock-range-chart:before {
  color: #4da6ff;
}
.e-reportdesigner-dataset-boolean:before {
  color: #46556d;
}
.e-reportdesigner-dataset-char:before {
  color: #46556d;
}
.e-reportdesigner-dataset-column-deselect:before {
  color: #cad4e0;
}
.e-reportdesigner-dataset-datetime:before {
  color: #46556d;
}
.e-reportdesigner-dataset-misc:before {
  color: #46556d;
}
.e-reportdesigner-dataset-number:before {
  color: #46556d;
}
.e-reportdesigner-dataset-openfolder:before {
  color: #46556d;
}
.e-reportdesigner-dataset-string:before {
  color: #46556d;
}
.e-reportdesigner-dataset-table:before {
  color: #46556d;
}
.e-reportdesigner-errorinfo:before {
  color: #ff4d4d;
}
.e-reportdesigner-browse-folder .path1:before {
  color: #ebba16;
}
.e-reportdesigner-browse-folder .path2:before {
  color: #ebf0f3;
}
.e-reportdesigner-browse-folder .path3:before {
  color: #ffffff;
}
.e-reportdesigner-browse-folder .path4:before {
  color: #efce4a;
}
.e-reportdesigner-browse-reportfile .path1:before {
  color: #ffffff;
}
.e-reportdesigner-browse-reportfile .path2:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path3:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path4:before {
  color: #ffde33;
}
.e-reportdesigner-browse-reportfile .path5:before {
  color: #7bcc29;
}
.e-reportdesigner-browse-reportfile .path6:before {
  color: #ec7838;
}
.e-reportdesigner-browse-reportfile .path7:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path8:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path9:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path10:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path11:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path12:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path13:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path14:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path15:before {
  color: #ec7838;
}
.e-reportdesigner-browse-reportfile .path16:before {
  color: #7bcc29;
}
.e-reportdesigner-browse-reportfile .path17:before {
  color: #4da6ff;
}
.e-reportdesigner-browse-reportfile .path18:before {
  color: #ffde33;
}
.e-reportdesigner-browse-reportfile .path19:before {
  color: #7bcc29;
}
.e-reportdesigner-browse-reportfile .path20:before {
  color: #4da6ff;
}
.e-reportdesigner-imagemanager-add:before {
  color: #fff;
}
.e-reportdesigner-imagemanager-delete:before {
  color: #fff;
}
.e-reportdesigner-selection-drag .path1:before {
  color: #179bd7;
}
.e-reportdesigner-selection-drag .path2:before {
  color: #ffffff;
}
.e-reportdesigner-selection-move .path1:before {
  color: #ffffff;
}
.e-reportdesigner-selection-move .path2:before {
  color: #179bd7;
}
.e-reportdesigner-selection-move .path3:before {
  color: #179bd7;
}
.e-reportdesigner-widget-subreport:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-pivotgrid:before {
  color: #4da6ff;
}
.e-reportdesigner-alert-msg .path1:before {
  color: #ff4d4d
}
.e-reportdesigner-alert-msg .path2:before {
  color: #ff4d4d
}
.e-reportdesigner-alert-msg .path3:before {
  color: #ffffff
}
.e-reportdesigner-alert-msg .path4:before {
  color: #ffffff
}
.e-reportdesigner-alert-info .path1:before {
  color: #ebba16
}
.e-reportdesigner-alert-info .path2:before {
  color: #ebba16
}
.e-reportdesigner-widget-select {
  border: 1px solid;
  border-left-width: 0px;
  border-color: #c8c8c8;
  background-color: #ececec;
}
/************************EJ Font Icons*********************************/
/************************EJ Font Datasource Icons*********************************/
.e-reportdesigner-datasourceheader {
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
}
.e-designer-error .e-in-wrap,
.e-designer-error .e-atc-popup,
.e-designer-error .e-options,
.e-designer-error.e-textarea,
.e-designer-error.e-textbox,
.e-designer-error.e-btn,
.e-designer-error.e-designer-textcontent,
.e-designer-error.e-designer-textarea {
  border: #ff0000 1px solid !important;
}
.e-designer-error-radius {
  border-radius: 2px !important;
}
.e-designer-textcontent {
  color: rgba(51, 51, 51, 0.38);
  border: #d3d3d3 1px solid !important;
  background-color: #f5f5f5;
}
.e-designer-button {
  background: #428bca !important;
  border-color: #3071a9 !important;
  color: #ffffff !important;
}
.e-designer-datasource-list:hover,
.e-reportdesigner-param-list:hover {
  background: #f5f5f5 !important;
}
.e-designer-datasource-list,
.e-reportdesigner-param-list {
  border-bottom: 0.5px solid #dddddd !important;
}
/************************EJ Widget Autocomplete Icons*********************************/
.e-reportdesigner-widget-autocomplete {
  background: transparent !important;
}
.e-reportdesigner-widget-watermark {
  font-style: italic;
  color: gray !important;
  font-size: 13px !important;
}
/************************EJ Widget Autocomplete Icons*********************************/
/************************Toggle Button*********************************/
.e-reportdesigner-slider {
  background-color: #ccc;
}
.e-reportdesigner-slider:before {
  background-color: white;
}
input:checked + .e-reportdesigner-slider {
  background-color: #428bca;
}
/************************Toggle Button*********************************/
.e-designer-query-treeview.e-chk-image {
  color: #179bd7 !important;
}
.e-reportdesigner-dataset-selection .e-select {
  background-color: #fcfcfc !important;
}
.e-reportdesigner-preview-grid .e-gridheader,
.e-designer-defaultcolumn-grid .e-gridheader {
  border-top-style: none !important;
}
.e-reportdesigner-preview-grid tr.e-hover {
  background: #f4f4f4 !important;
}
.e-designer-defaultcolumn-grid tr.e-hover {
  background: transparent !important;
}
.e-reportdesigner-dataset-dragHeader {
  background: white;
  color: #282827;
  font-size: 15px;
}
.e-reportdesigner-nodeTag {
  background-color: transparent;
}
.e-reportdesigner-treeRow {
  background: transparent;
}
.e-reportdesigner-treeText {
  font-size: 14px;
}
/*************************************Scroller******************************************/
.e-reportdesigner-scroller .e-scrollbar .e-icon {
  font-size: 0px;
}
.e-reportdesigner-dataset-dataHeader {
  font-size: 12px;
  font-weight: 600;
  color: #428bca !important;
}
.e-reportdesigner-dataset-dataContent {
  font-size: 12px;
  font-weight: 600;
}
.e-reportdesigner-dataset-noRecordMsg,
.e-reportdesigner-preview-grid .emptyrecord,
.e-designer-defaultcolumn-grid .emptyrecord {
  font-size: 14px;
  color: #46556d !important;
}
.e-reportdesigner-dataset-column:hover {
  background: #f5f5f5 !important;
}
.e-reportdesigner-datasourceTypes:hover {
  background: #f5f5f5;
  border: #999999 1px solid;
}
.e-designer-header {
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #428bca;
  font-weight: 600;
  line-height: 1;
}
.e-designer-header-icon {
  color: #428bca;
}
.e-designer-content,
.e-querydesigner-dataset-text {
  font-size: 12px !important;
}
.e-designer-label {
  font-size: 13px !important;
}
.e-designer-tile-content {
  font-size: 11px !important;
}
.e-designer-top-tip.e-tooltip-wrap,
.e-designer-right-tip.e-tooltip-wrap {
  color: white;
  background: #404142;
  border: #404142;
}
.e-designer-bottom-tip .e-arrowTipOuter,
.e-reportdesigner,
.e-querydesigner,
.e-querydesigner .e-data-table,
.e-reportdesigner-dataset-dragHeader,
.e-reportdesigner-tooltiparrowpopup {
  border: 1px solid #c8c8c8;
}
.e-designer-bottom-tip .e-arrowTipOuter {
  border-top: 10px solid #c8c8c8;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.e-designer-bottom-tip .e-arrowTipInner {
  border-top: 9px solid #ffffff;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}
.e-designer-top-tip .e-arrowTipOuter {
  border-bottom: 10px solid #404142;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.e-designer-top-tip .e-arrowTipInner {
  border-bottom: 9px solid #404142;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-top: 9px solid transparent;
}
.e-designer-right-tip .e-arrowTipOuter {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: none;
  border-left: 10px solid #404142;
}
.e-designer-right-tip .e-arrowTipInner {
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: none;
  border-left: 9px solid #404142;
  left: 0px;
  top: 1px;
}
.e-designer-config-tooltip .e-arrowTipOuter {
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: none !important;
  border-left: 10px solid #cecece !important;
}
.e-designer-config-tooltip .e-arrowTipInner {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-right: none !important;
  border-left: 9px solid #ffffff !important;
}
.e-designer-property-tooltip .e-arrowTipOuter {
  border-top: none !important;
  border-bottom: 10px solid #cecece !important;
  border-right: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
}
.e-designer-property-tooltip .e-arrowTipInner {
  border-top:  none !important;
  border-bottom: 9px solid #ffffff !important;
  border-right: 9px solid transparent !important;
  border-left: 9px solid transparent !important;
}
.e-active > .e-designer-query-treeview.e-checkmark {
  color: white;
}
.e-designer-query-treeview.e-checkmark {
  color: #179bd7;
}
.e-reportdesigner-parameter-selection .e-input {
  font-size: 11px !important;
}
.e-designer-ejwidgets .e-input,
.e-atc-popup.e-designer-ejwidgets,
.e-ddl-popup.e-reportdesigner-dataset-selection,
.e-reportdesigner-dataset-selection .e-input {
  font-size: 12px !important;
  line-height: normal;
}
.e-designer-ejwidgets .e-select,
.e-rptviewer-drpdown .e-select,
.e-rptviewer-updown .e-select {
  background-color: #fcfcfc !important;
}
.e-fe-dialog > .e-header > .e-dialog-icon:before {
  color: #333333 !important;
}
.e-fe-dialog > .e-header > .e-dialog-icon:hover {
  background: #c8c8c8 !important;
  border-radius: 4px !important;
}
.e-reportdesigner-toolbar-undo .e-btn.e-select.e-disable:hover .e-icon,
.e-reportdesigner-toolbar-redo .e-btn.e-select.e-disable:hover .e-icon {
  color: #dbdbde !important;
}
.e-reportdesigner-report-selection {
  background-color: #f5f5f5 !important;
  border: 1px solid #999999 !important;
}
.e-reportdesigner-reportbrowse:hover {
  background: #f5f5f5;
  border: #999999 1px solid;
}
.e-gridtoolbar .e-reportdesigner-dataset-toparrow,
.e-gridtoolbar .e-reportdesigner-dataset-bottomarrow {
  font-size: 11px !important;
}
.e-designer-txtmark {
  font-style: normal;
  color: #BCBCBC !important;
}
.e-designer-datatype-icon {
  font-size: 20px !important;
}
.e-designer-dragabble-icon {
  font-size: 13px !important;
}
.e-designer-param-assign {
  font-size: 12px !important;
}
.e-designer-drpdown-selection .e-hover,
.e-designer-list-selection .e-hover {
  background-image: none !important;
  background-color: #f5f5f5 !important;
}
.e-designer-drpdown-selection .e-active,
.e-designer-list-selection .e-select {
  background-image: none !important;
  background-color: #e5e5e5 !important;
  color: #333333 !important;
}
.e-designer-param-assign .e-ddl .e-input,
.e-ddl [readonly].e-input,
.e-ddl-popup,
.e-ddl .e-options {
  font-size: 12px !important;
}
.e-designer-param-text {
  font-size: 12px !important;
  font-weight: 400 !important;
}
.e-designer-menu-defaulticon {
  border: 1px solid #c8c8c8 !important;
  background: white;
}
.e-designer-menu-expressionicon {
  border: 1px solid #c8c8c8 !important;
  background: black;
}
.e-designer-menu,
.e-designer-menu > li > ul {
  box-shadow: 0px 0px 10px #cbcbcb;
}
.e-designer-menu.e-menu.e-context .e-mfocused > .e-menulink,
.e-reportdesigner-textbox-context-menu.e-menu.e-context .e-mfocused > .e-menulink {
  color: #333333 !important;
  background: none !important;
  background-color: #e5e5e5 !important;
}
.e-designer-menu.e-menu.e-context .e-mhover > .e-menulink,
.e-reportdesigner-textbox-context-menu.e-menu.e-context .e-mhover > .e-menulink,
.e-designer-menu.e-menu.e-context .e-mhover,
.e-reportdesigner-textbox-context-menu.e-menu.e-context .e-mhover {
  color: #333333 !important;
  background: none !important;
  background-color: #f5f5f5 !important;
}
.e-designer-menu.e-menu.e-context .e-mfocused:hover > a > .e-icon,
.e-reportdesigner-textbox-context-menu.e-menu.e-context .e-mfocused:hover > a > .e-icon {
  color: #333333 !important;
}
/************************EJ QueryDesigner - Start*********************************/
.e-querydesigner {
  width: 100%;
}
.e-reportdesigner .e-querydesigner {
  border: 0 none !important;
}
.e-querydesigner .e-data-table {
  background-color: white;
}
.e-querydesigner .e-data-table .e-designer-table-close .e-close_01 {
  color: #333333 !important;
}
.e-querydesigner .e-data-table .e-designer-table-close .e-close_01:hover {
  background-color: #c8c8c8 !important;
  border-radius: 4px !important;
}
.e-querydesigner .e-data-table > .e-header > .e-settings::before {
  color: #282827 !important;
}
.e-joiner-drpdwn .e-input.e-disable {
  opacity: 1;
}
.e-reportdesigner-preview-grid .e-headercelldiv,
.e-designer-defaultcolumn-grid .e-headercelldiv {
  font-weight: 600 !important;
  font-size: 12px !important;
}
.e-reportdesigner-preview-grid .e-headercell,
.e-designer-defaultcolumn-grid .e-headercell {
  height: 35px !important;
}
.e-reportdesigner-preview-grid .e-alt_row {
  background: #f9f9f9 !important;
}
.e-designer-defaultcolumn-grid .e-alt_row {
  background: transparent !important;
}
.e-reportdesigner-preview-grid .e-rowcell,
.e-designer-defaultcolumn-grid .e-rowcell {
  border-color: #dddddd !important;
}
.e-table-user-selection-active .e-reportdesigner-dataset-char:before {
  content: "\e9af" !important;
  color: white !important;
}
.e-table-user-selection-active .e-reportdesigner-dataset-number:before {
  content: "\e9b6" !important;
  color: white !important;
}
.e-table-user-selection-active .e-reportdesigner-dataset-datetime:before {
  content: "\e9b2" !important;
  color: white !important;
}
.e-table-user-selection-active .e-reportdesigner-dataset-boolean:before {
  content: "\e9ad" !important;
  color: white !important;
}
.e-table-user-selection-active .e-reportdesigner-dataset-misc:before {
  content: "\e9b5" !important;
  color: white !important;
}
.e-table-user-selection-active .e-reportdesigner-dataset-column-deselect:before {
  color: white !important;
}
.e-expression-user-selection-active,
.e-masterwidget-user-selection-active {
  background-color: #f4f4f4 !important;
}
.e-reportdesigner-dataset-cancelbtn.e-select:hover {
  background-image: none !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}
.e-reportdesigner-dataset-cancelbtn.e-select:active {
  background-image: none !important;
  background-color: #e6e6e6 !important;
  border-color: #8c8c8c !important;
  color: #333333 !important;
}
.e-dataset-treeview .e-item .e-active .e-designer-query-treeview.e-checkmark {
  color: white !important;
}
.e-dataset-treeview .e-item .e-active.e-node-hover .e-designer-query-treeview.e-checkmark {
  color: #333333 !important;
}
/************************EJ QueryDesigner - End*********************************/
/************************************* Context Menu - Start ******************************************/
.e-reportdesigner-contextmenu-separator {
  border-color: #cecece !important;
}
/************************************* Context Menu - End ******************************************/
.e-designer-ejdialog .e-header,
.e-designer-dialog .e-header {
  border-bottom: 0.5px solid #c8c8c8 !important;
  background: #fff !important;
}
.e-designer-alertbox .e-header {
  border-bottom: 0 solid #c8c8c8 !important;
  background: #fff !important;
}
.e-designer-ejdialog .e-close::before,
.e-designer-dialog .e-close::before,
.e-designer-alertbox .e-close::before,
.e-designer-ejdialog .e-title,
.e-designer-dialog .e-title,
.e-designer-alertbox .e-title {
  color: #000000 !important;
}
.e-designer-ejdialog .e-titlebar,
.e-designer-dialog .e-titlebar,
.e-designer-alertbox .e-titlebar {
  background-color: #f7f7f7 !important;
}
.e-designer-dialog .e-footerbar,
.e-designer-ejdialog .e-footerbar {
  border-top: 0.5px #c8c8c8 !important;
}
.e-designer-ejdialog > .e-header > .e-dialog-icon:hover,
.e-designer-dialog > .e-header > .e-dialog-icon:hover,
.e-designer-alertbox > .e-header > .e-dialog-icon:hover {
  background: #c8c8c8 !important;
  border-radius: 4px !important;
}
.e-designer-ejdialog > .e-header > .e-dialog-icon:before,
.e-designer-dialog > .e-header > .e-dialog-icon:before,
.e-designer-alertbox > .e-header > .e-dialog-icon:before {
  color: #333333 !important;
}
.e-designer-okbtn {
  background: #428bca !important;
  border-color: #3071a9 !important;
  color: #ffffff !important;
}
.e-designer-cancelbtn,
.e-reportdesigner-dataset-cancelbtn,
.e-designer-alert-cancelbtn,
.e-designer-connect {
  font-weight: 600 !important;
  background-color: #F4F4F4 !important;
  border-color: #c8c8c8 !important;
  color: black !important;
}
.e-reportdesigner-alertinfo {
  color: #ff4d4d;
  font-size: 30px;
  padding-top: 5px;
}
.e-reportdesigner-alert-error {
  color: #D9534F;
  font-size: 36px;
  padding-top: 3px;
}
.e-designer-ejdialog .e-dialog-scroller,
.e-designer-dialog .e-dialog-scroller {
  border-color: #DBDBDB !important;
}
.e-designer-textbox-border {
  border-color: #DBDBDB !important;
}
.e-designer-add-btn {
  font-weight: 700 !important;
  font-size: 12px !important;
  color: #428bca !important;
  vertical-align: top !important;
}
.e-designer-add-label {
  font-weight: 700 !important;
  font-size: 12px !important;
  color: #303541 !important;
}
.e-designer-add-icon {
  font-size: 12px !important;
  color: #428bca !important;
  vertical-align: bottom !important;
}
.e-designer-filter-addIcon {
  font-size: 15px !important;
  color: #428bca !important;
}
.e-reportdesigner-exp-list:hover,
.e-designer-masterwidget-list:hover,
.e-designer-filterProfile-row:hover {
  background: #f4f4f4 !important;
}
.e-reportdesigner-exp-list {
  border-bottom: 0.5px solid #dbdbdb !important;
}
.e-designer-masterwidget-list {
  border-bottom: none !important;
}
.e-querydesigner-exp-separator,
.e-filterConfig-separator {
  border-right: 0.5px solid #dddddd !important;
}
.e-reportdesigner-menu-list:hover {
  background: #f4f4f4 !important;
}
.e-designer-table-dialog {
  background: #eeeeee !important;
  border-radius: 2px !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.e-designer-double-drag {
  font-size: 13px !important;
  color: #999999 !important;
  font-weight: 600 !important;
}
.e-designer-delete-icon {
  float: right !important;
  color: #D9534F !important;
  font-size: 12px !important;
}
.e-queryjoiner-delete-icon {
  float: right !important;
  color: #D9534F !important;
  font-size: 14px !important;
}
.e-designer-border-dialog {
  border: 0.5px solid #c9cbcc !important;
  background: white !important;
}
.e-designer-label-group {
  font-size: 11px !important;
  font-weight: 400 !important;
  color: #333333 !important;
}
.e-designer-label-sort {
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #333333 !important;
  cursor: default !important;
}
.e-designer-newparam-btn,
.e-desinger-new-btn,
.e-designer-newds-btn,
.e-designer-dsconnect-btn,
.e-reportdesigner-previewbtn,
.e-designer-setparam-btn {
  font-weight: 400 !important;
  font-size: 11px !important;
  border-radius: 4px !important;
}
.e-designer-new-btn-footer {
  border: 0px Solid !important;
  border-top-width: 1px !important;
  border-color: #DBDBDB !important;
}
.e-designer-loadbtn {
  font-weight: 600 !important;
  background-color: #F4F4F4 !important;
  border-color: #c8c8c8 !important;
  color: #4c4c4c !important;
}
.e-designer-toolbar.e-toolbar.e-responsive-toolbar,
.e-rptviewer-toolbar.e-toolbar.e-responsive-toolbar {
  border: 1px solid #c8c8c8 !important;
}
.e-userselect textarea::-moz-selection,
.e-userselect input::-moz-selection {
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  color: #ffffff;
  background: #3399ff;
}
.e-reportdesigner .CodeMirror,
.e-querydesigner .CodeMirror {
  font-weight: 400 !important;
  color: #333333 !important;
}
.e-property-row-header {
  border-color: lightgray;
  border-style: solid;
  background-color: #f5f5f5;
}
.e-property-row-header:hover,
.e-itempanel-header:hover {
  background-color: #e2e2e2;
}
.e-property-row-header.e-item-expand:not(.e-last-item) {
  border-bottom-style: solid !important;
}
.e-property-row-header.e-item-collapse:not(.e-last-item) {
  border-bottom-style: none !important;
}
.e-itempanel-report:hover {
  background-color: #f5f5f5;
}
.e-itempanel-report:hover,
.e-itempanel-header:hover {
  color: #282827;
}
.e-designer-empty-msg,
.e-designer-empty-folder {
  font-style: italic;
  color: #383838;
  opacity: 0.6;
}
/************************EJ Designer Fontfamily*********************************/
.e-designer-fontfamily,
.e-reportdesigner-toolbar-zoomelement,
.e-designer-content-label,
.e-designer-content-label .e-input,
.e-designer-content-label .e-corner,
.e-designer-switch-label,
.e-designer-top-tip.e-tooltip-wrap,
.e-designer-right-tip.e-tooltip-wrap,
.e-designer-bottom-tip.e-tooltip-wrap,
.e-reportdesigner-browse-path,
.e-designer-textarea,
.e-designer-textbox,
.e-designer-txt,
.e-designer-title-label,
.e-reportdesigner-menu-list,
.e-designer-pg-tag,
.e-reportdesigner-designer .e-acrdn > .e-content,
.e-reportdesigner-designer .e-acrdn > .e-select,
.e-reportdesigner-dataset-btn,
.e-reportdesigner-datasourceheader,
.e-reportdesigner-datasourceTile,
.e-reportdesigner-widget-watermark,
.e-reportdesigner-treeText,
.e-reportdesigner-dataset-dataHeader,
.e-reportdesigner-dataset-dataContent,
.e-reportdesigner-dataset-noRecordMsg,
.e-reportdesigner-preview-grid .emptyrecord,
.e-designer-defaultcolumn-grid .emptyrecord,
.e-designer-header,
.e-designer-content,
.e-querydesigner-dataset-text,
.e-designer-label,
.e-designer-tile-content,
.e-reportdesigner-parameter-selection .e-input,
.e-designer-ejwidgets .e-input,
.e-atc-popup.e-designer-ejwidgets,
.e-ddl-popup.e-reportdesigner-dataset-selection,
.e-reportdesigner-dataset-selection .e-input,
.e-designer-txtmark,
.e-designer-param-assign,
.e-designer-param-assign .e-ddl .e-input,
.e-ddl [readonly].e-input,
.e-ddl-popup,
.e-ddl .e-options,
.e-designer-param-text,
.e-designer-menu,
.e-designer-menu .e-menulink,
.e-reportdesigner-preview-grid .e-headercelldiv,
.e-reportdesigner-preview-grid .e-rowcell,
.e-designer-defaultcolumn-grid .e-headercell,
.e-designer-defaultcolumn-grid .e-rowcell,
.e-designer-cancelbtn,
.e-reportdesigner-dataset-cancelbtn,
.e-designer-alert-cancelbtn,
.e-designer-add-btn,
.e-designer-add-label,
.e-designer-label-group,
.e-designer-label-sort,
.e-designer-newparam-btn,
.e-desinger-new-btn,
.e-designer-newds-btn,
.e-designer-dsconnect-btn,
.e-reportdesigner-previewbtn,
.e-designer-setparam-btn,
.e-designer-loadbtn,
.e-property-row-header,
.e-reportdesigner .CodeMirror,
.e-querydesigner .CodeMirror,
.e-designer-empty-msg,
.e-reportdesigner-atc-boxshadow,
.e-designer-savebtn.e-txt,
.e-designer-cancelbtn.e-txt,
.e-designer-okbtn.e-txt,
.e-reportdesigner-dataset-okbtn.e-txt,
.e-reportdesigner-dataset-cancelbtn.e-txt,
.e-reportdesigner-dataset-btn.e-txt,
.e-reportdesigner-previewbtn .e-btntxt,
.e-desinger-new-btn .e-btntxt,
.e-designer-newparam-btn .e-btntxt,
.e-designer-newds-btn .e-btntxt,
.e-designer-dsconnect-btn.e-txt,
.e-designer-alert-okbtn .e-btntxt,
.e-designer-alert-cancelbtn .e-btntxt,
.e-designer-setparam-btn.e-txt,
.e-designer-addbtn .e-btntxt,
.e-designer-property-header > li > a,
.e-designer-connect.e-txt,
.e-designer-designbutton .e-btntxt,
.e-designer-ejdialog .e-title,
.e-designer-dialog .e-title,
.e-designer-alertbox .e-title,
.e-dbrd-control-header {
  font-family: 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial' !important;
}
/************************EJ Designer Fontfamily*********************************/
.e-designer-error-content {
  background-color: #f7f7f7 !important;
}


/***********************************************Dashboard******************************************/
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'dashboard_webdesigner_font';
    src: url('../../fonts/ejDashboardWebDesignerIconFont.eot?8cbxhs');
    src: url('../../fonts/ejDashboardWebDesignerIconFont.eot?8cbxhs#iefix') format('embedded-opentype'),
	url('../../fonts/ejDashboardWebDesignerIconFont.ttf?bfgft8') format('truetype'),
	url('../../fonts/ejDashboardWebDesignerIconFont.woff?8cbxhs') format('woff'),
	url('../../fonts/ejDashboardWebDesignerIconFont.svg?8cbxhs#ejDashboardWebDesignerIconFont') format('svg'); // lesshint maxCharPerLine: false
    font-weight: normal;
    font-style: normal;
}
.e-dbrd-control-container {
	background-color: @container-bg-color;
}
.e-dbrd-control-header {
    width: @hundred-percent;
    height:  @control-header-height;        
    position: @pos-relative;    
}
.e-dbrd-control-header .e-dbrd-control-title, .e-dbrd-control-header .e-dbrd-control-menu {	
	height: @hundred-percent;
	position: @pos-relative;	
	z-index: @control-title-z-index;		
}
.e-dbrd-control-header .e-dbrd-control-title {
	line-height: @control-header-height;
	font-size: @control-title-font-size;  
    float: @float-left;
	overflow: @overflow-hidden;
	white-space: @white-space-pre;
	text-overflow: @text-overflow-ellipsis;
	padding: @control-title-padding;
	color: @control-title-color;
	font-family: @dashboard-default-font-family;
}
.e-dbrd-control-header .e-dbrd-controlIcon-container {
	width: @icon-container-width;
    float: @float-right;
    padding: @icon-container-padding;
    height: @hundred-percent;
    margin: @icon-container-margin;
    position: @pos-relative;
    top: @control-icon-container-top;
}
.e-dbrd-control-header  .e-dbrd-controlIcon-container .e-dbrd-control-maximize-icon, .e-dbrd-control-header  .e-dbrd-controlIcon-container .e-dbrd-control-menu-icon {
	width: @control-header-icons-width;
	height: @hundred-percent;
	float: @float-left;	        
    background-repeat: no-repeat;
	color: @control-header-icons-color;
    cursor: @cursor-pointer;
	font-size: @control-header-icons-size;
	font-family: @dashboard-icons-font-family;
}
.e-dbrd-control-header  .e-dbrd-controlIcon-container .e-dbrd-control-maximize-icon:before {
	content: @maximize-icons-content;
}
.e-dbrd-control-header  .e-dbrd-controlIcon-container .e-dbrd-control-menu-icon:before {
	content: @horizontal-menu-icon-content;
}
.e-dbrd-control .e-webdesigner-grid-th, .e-dbrd-control .e-webdesigner-grid-td {
	font-family: @dashboard-default-font-family;
	font-size: @dashboard-webdesigner-grid-font-size;
}
.e-dbrd-control-container .e-dbrd-control {
	position: @pos-relative;
}
.e-reportdesigner-widget-card,
.e-reportdesigner-widget-choroplethmap,
.e-reportdesigner-widget-bubblemap,
.e-widgeticon.e-reportdesigner-widget-checkbox,
.e-widgeticon.e-reportdesigner-widget-listbox,
.e-widgeticon.e-reportdesigner-datepicker,
.e-widgeticon.e-reportdesigner-widget-grid {
    font-size: @tool-bar-icons-size;
    font-style: @font-style-normal;
    font-weight: @font-weight-normal;
    text-transform: @text-transform-none;
    line-height: @tool-bar-icon-line-height;
    font-size: @tool-bar-icons-size;
    color: @tool-bar-icons-color;
    margin-top: @tool-bar-icons-top;
    cursor: @cursor-default;
}
.e-reportdesigner-widget-grid:before {
	color: @tool-bar-icons-color;
}

@font-face {
  font-family: 'dashboard_webdesigner_font';
  src: url('../../fonts/dashboardwidget_font.eot?8cbxhs');
  src: url('../../fonts/dashboardwidget_font.eot?8cbxhs#iefix') format('embedded-opentype'), url('../../fonts/dashboardwidget_font.ttf?bfgft8') format('truetype'), url('../../fonts/dashboardwidget_font.woff?8cbxhs') format('woff'), url('../../fonts/dashboardwidget_font.svg?8cbxhs#dashboardwidget_font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.e-widgeticon.e-reportdesigner-widget-checkbox:before {
	font-family:  @dashboard-icons-font-family;
	content: @combo-box-icon-content;
}
.e-widgeticon.e-reportdesigner-widget-listbox:before {
	font-family:  @dashboard-icons-font-family;
	content: @list-box-icon-content;
}
.e-widgeticon.e-reportdesigner-datepicker:before {
	font-family:  @dashboard-icons-font-family;
	content: @date-picker-icon-content;
}
.e-dashboarddatepicker-icon:before, .e-dashboarddatepicker-popup-wrapper .e-arrow-diabled i:before, .e-next-month i:before, .e-prev-month i:before{
	font-family:  @dashboard-icons-font-family;
}

.e-dashboarddatepicker-icon:before {    
    line-height: @unset;
    padding-top: @date-picker-icon-pad-top;
}

.e-reportdesigner-widget-bubblemap:before
{
    font-family:@dashboard-icons-font-family;
    content:@bubblemap-content;
}
.e-reportdesigner-widget-choroplethmap:before {
    font-family: @dashboard-icons-font-family;
    content: @bubblemap-content;
}
.e-reportdesigner-widget-card:before {
    font-family: @dashboard-icons-font-family;
    content: @card-content;
}

.e-dashboardtick-icon:before {
	position: relative;
    font-family: 'dashboard_webdesigner_font';
    content: "\e933";
    font-style: normal;
    cursor: pointer;
    float: left;
    margin-left: 5px;
	margin-top: -5px;
}