/*-----------------------Map------------------*/
/*-----------------------OLAP Definition-----------------*/
/*-----------------------OLAP Definition End-----------------*/
/*----------------------Reportviewer Definition start------------------*/
/*----------------------Reportviewer Definition End------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
/*-----------------------Datepicker Definition-----------------*/
/*-----------------------Bootstrap support-----------------*/
/*----------------------Ribbon Definition-----------------------*/
/*----------------------Ribbon End-----------------------*/
/*----------------------Kanban Definition-----------------------*/
/*----------------------Kanban End-----------------------*/
/*----------------------Spreadsheet Definition-----------------------*/
/*----------------------Spreadsheet End-----------------------*/
/*------------------------------------- scrollbar -------------------------------------------*/
.e-scrollbar .e-vscroll,
.e-scrollbar .e-hscroll,
.e-scrollbar .e-vhandlespace {
  background-color: #fafafa;
}
.e-scrollbar .e-vscroll {
  border-left: 1px solid #c8c8c8;
  border-right: none;
}
.e-scrollbar .e-hscroll {
  border-top: 1px solid #c8c8c8;
}
.e-scrollbar .e-hscroll .e-hdown.e-icon {
  border-right: 1px solid #c8c8c8;
}
.e-scrollbar .e-hscroll .e-hup.e-icon {
  border-left: none;
}
.e-scrollbar .e-vscroll .e-vdown.e-icon {
  border-bottom: 1px solid #c8c8c8;
}
.e-scroller.e-rtl .e-scrollbar .e-vscroll {
  border-right: 1px solid #c8c8c8;
  border-left: none;
}
.e-scroller.e-rtl .e-scrollbar .e-hscroll .e-hup.e-icon {
  border-left: 1px solid #c8c8c8;
}
.e-scroller.e-rtl .e-scrollbar .e-hscroll .e-hdown.e-icon {
  border-right: none;
}
.e-scrollbar .e-active {
  background-color: #179bd7;
}
.e-scrollbar .e-vhandle,
.e-scrollbar .e-hhandle {
  background: #ececec;
  transition: top .1s linear 0s, left .1s linear 0s;
}
.e-scrollbar .e-vhandle {
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}
.e-scrollbar .e-hhandle {
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}
.e-scrollbar .e-vhandle:hover,
.e-scrollbar .e-hhandle:hover {
  background-color: #86cbea;
  cursor: default;
  border-color: #c8c8c8;
}
.e-scrollbar .e-button {
  color: #686969;
}
.e-scrollbar .e-button:hover {
  background-color: #86cbea;
  color: #282827;
  border-color: #c8c8c8;
}
.e-scroller .e-active {
  background-color: #179bd7;
}
.e-scroller .e-vscroll .e-vup.e-button,
.e-scroller .e-vscroll .e-vdown.e-button,
.e-scroller .e-hscroll .e-hup.e-button,
.e-scroller .e-hscroll .e-hdown.e-button {
  background: #ececec;
}
.e-scroller .e-disable .e-vhandle:hover,
.e-scroller .e-disable .e-vup.e-button:hover,
.e-scroller .e-disable .e-vdown.e-button:hover,
.e-scroller .e-disable .e-hup.e-button:hover,
.e-scroller .e-disable .e-hdown.e-button:hover .e-scroller .e-disable .e-hhandle:hover {
  background: #ececec;
  border: 1px solid #c8c8c8;
  transition: top .1s linear 0s, left .1s linear 0s;
}
.e-scroller .e-button,
.e-scroller .e-disable .e-button:hover {
  color: #686969;
}
.e-scroller .e-disable .e-button:hover {
  background-color: transparent;
}
