////Primary Colours
$blue: var(--primary-branding-bg-color);
$blue-lighter: var(--blue-lighter);
$blue-lighten: var(--blue-lighten);
$black: var(--primary-black);

//Grey Color
$grey-900: var(--grey-900);
$grey-800: var(--grey-800);
$grey-700: var(--grey-700);
$grey-600: var(--grey-600);
$grey-500: var(--grey-500);
$grey-400: var(--grey-400);
$grey-300: var(--grey-300);
$grey-200: var(--grey-200);
$grey-100: var(--grey-100);
$grey-000: var(--grey-000);

//secondary colors
$success: var(--green);
$danger: var(--red);
$orange: var(--orange);
$black: var(--grey-black);
$white: var(--grey-white);
$blue-secondary: var(--blue-secondary);

//Page colors
$background: var(--background);
$surface: var(--surface);
$primary-color: $blue;
$primary-text-color: var(--primary-text-color);
$description-text-color: $grey-900;
$validation-text-color: $danger;
$success-text-color: $success;
$sub-text-color: $grey-500;
$selected-color: $blue-lighter;

//ej2 spinner
$spinner-bg-color: #383838;

// placeholder
$placeholder-color: var(--place-holder);

//login section color
$section-backgroud: var(--section-backgroud);

//logo section 
$logo-section-border-color: var(--logo-section-border-color);
$logo-section-description-color: var(--logo-section-description-color);
$logo-disabled-color:$grey-400;

//warning colors
$warning-bg-normal-color: var(--warning-bg-normal-color);
$warning-border-normal-color: var(--warning-border-normal-color);
$warning-text-color:var(--warning-text-color);
$error-bg-color: var(--error-bg-color);
$error-text-color: var(--error-text-color);
//Common header description text
$header-description-text-normal-color: var(--header-description-text-normal-color);

//common separator color
$header-separator-color: var(--header-separator-color);
$section-separator-color: var(--section-separator-color);

//info message color
$info-text-color: var(--info-text-color);

//Icons
$icon-text-normal-color: var(--icon-text-normal-color);
$icon-text-hover-color: var(--icon-text-hover-color);
$ad-icon-color: $grey-500;

// Link colors
$link-text-color: var(--global-link-text-normal-color);
$link-text-hover-color: var(--global-link-text-hover-color);

//Toast
$toast-bg-normal-color: var(--toast-bg-normal-color);
$success-toast-border-normal-color: var(--success-toast-border-normal-color);
$warning-toast-border-normal-color: var(--warning-toast-border-normal-color);
$toast-text-normal-color: var(--toast-text-normal-color);
$toast-sec-text-normal-color: var(--toast-sec-text-normal-color);
$success-toast-icon-text-normal-color: var(--green);
$warning-toast-icon-text-normal-color: var(--warning-icon-color);
$toast-close-icon-text-normal-color: var(--toast-close-icon-text-normal-color);
$toast-close-icon-text-hover-color: var(--toast-close-icon-text-hover-color);

//Application Font Sizes
$label-font-size: 14px;
$info-font-size: 12px;
$validation-font-size: $info-font-size;

//homepage
$boldbi-brand: #ff4800;

//ej2 select color
$browser-default-select-color-ej2-custom: var(--selector-color);

//Subscription status colors
$trial-color: #555abf;
$trial-bg-color: #c4f0ff;
$trialnotstarted-color: #c85d42;
$trialnotstarted-bg-color: #fdeebe;
$active-color: #159570;
$active-bg-color: #d6facf;

//inputbox
$input-box-bg-normal-color: var(--input-box-bg-normal-color);
$input-box-bg-disable-color: var(--input-box-bg-disable-color);
$input-box-border-normal-color: var(--input-box-border-normal-color);
$input-box-border-active-color: var(--input-box-border-active-color);
$input-box-border-disable-color: var(--input-box-border-disable-color);
$input-box-border-alert-color: var(--input-box-border-alert-color);
$input-box-text-normal-color: var(--input-box-text-normal-color);
$input-box-placeholder-text-normal-color: var(--input-box-placeholder-text-normal-color);
$input-box-text-disable-color: var(--input-box-text-disable-color);

//Button Variables
$btn-min-width: 90px;
$btn-height-normal: 28px;
$btn-height-large: 34px;
$filter-btn-min-width: 75px;
$AuthorColor: $grey-300;
$primary-button-bg-normal-color: var(--primary-button-bg-normal-color);
$primary-button-bg-hover-color: var(--primary-button-bg-hover-color);
$primary-button-bg-disable-color: var(--primary-button-bg-disable-color);
$primary-button-border-normal-color: var(--primary-button-border-normal-color);
$primary-button-border-disable-color: var(--primary-button-border-disable-color);
$primary-button-text-normal-color: var(--primary-button-text-normal-color);
$primary-button-text-hover-color: var(--primary-button-text-hover-color);
$primary-button-text-disable-color: var(--primary-button-text-disable-color);
$secondary-button-bg-normal-color: var(--secondary-button-bg-normal-color);
$secondary-button-bg-hover-color: var(--secondary-button-bg-hover-color);
$secondary-button-bg-disable-color: var(--secondary-button-bg-disable-color);
$secondary-button-border-normal-color: var(--secondary-button-border-normal-color);
$secondary-button-border-disable-color: var(--secondary-button-border-disable-color);
$secondary-button-text-normal-color: var(--secondary-button-text-normal-color);
$secondary-button-text-hover-color: var(--secondary-button-text-hover-color);
$secondary-button-text-disable-color: var(--secondary-button-text-disable-color);
$danger-button-bg-normal-color: var(--danger-button-bg-normal-color);
$danger-button-bg-hover-color: var(--danger-button-bg-hover-color);
$danger-button-border-normal-color: var(--danger-button-border-normal-color);
$danger-button-text-normal-color: var(--danger-button-text-normal-color);
$danger-button-text-hover-color: var(--danger-button-text-hover-color);
$link-button-bg-normal-color: var(--link-button-bg-normal-color);
$link-button-bg-hover-color: var(--link-button-bg-hover-color);
$link-button-border-normal-color: var(--link-button-border-normal-color);
$link-button-border-hover-color: var(--link-button-border-hover-color);
$link-button-text-normal-color: var(--link-button-text-normal-color);
$link-button-text-hover-color: var(--link-button-text-hover-color);

//Dropdown menu
$drop-down-menu-btn-bg-normal-color: var(--drop-down-menu-btn-bg-normal-color);
$drop-down-menu-btn-bg-hover-color: var(--drop-down-menu-btn-bg-hover-color);
$drop-down-menu-btn-bg-disable-color: var(--drop-down-menu-btn-bg-disable-color);
$drop-down-menu-btn-border-normal-color: var(--drop-down-menu-btn-border-normal-color);
$drop-down-menu-btn-border-hover-color: var(--drop-down-menu-btn-border-hover-color);
$drop-down-menu-btn-border-disable-color: var(--drop-down-menu-btn-border-disable-color);
$drop-down-menu-btn-text-normal-color: var(--drop-down-menu-btn-text-normal-color);
$drop-down-menu-btn-text-hover-color: var(--drop-down-menu-btn-text-hover-color);
$drop-down-menu-btn-text-disable-color: var(--drop-down-menu-btn-text-disable-color);
$drop-down-menu-bg-normal-color: var(--drop-down-menu-bg-normal-color);
$drop-down-menu-bg-hover-color: var(--drop-down-menu-bg-hover-color);
$drop-down-menu-bg-active-color: var(--drop-down-menu-bg-active-color);
$drop-down-menu-border-normal-color: var(--drop-down-menu-border-normal-color);
$drop-down-menu-text-normal-color: var(--drop-down-menu-text-normal-color);
$drop-down-menu-text-hover-color: var(--drop-down-menu-text-hover-color);
$drop-down-menu-text-active-color: var(--drop-down-menu-text-active-color);

//Navigation
$nav-menu-content-bg-normal-color: var(--nav-menu-bg-color);
$nav-menu-content-bg-hover-color: var(--nav-menu-hover-color);
$nav-menu-content-bg-active-color: var(--nav-menu-active-color);
$nav-menu-content-text-normal-color: var(--nav-menu-text-color);
$nav-menu-content-text-hover-color: var(--nav-menu-hover-text-color);
$nav-menu-content-text-active-color: var(--nav-menu-active-text-color);
$nav-menu-separator-normal-color: var(--nav-menu-separtor-icon-color);

//SubNavigationMenu
$sub-nav-menu-border-color: var(--sub-nav-menu-border-color);
$sub-nav-menu-header-text-normal-color: var(--sub-nav-menu-header-text-normal-color);
$sub-nav-menu-bg-color: var(--sub-nav-menu-bg-color);
$sub-nav-menu-header-bg-color: var(--sub-nav-menu-header-bg-color);
$sub-nav-menu-header-border-color: var(--sub-nav-menu-header-border-color);
$sub-nav-menu-content-text-normal-color: var(--sub-nav-menu-content-text-normal-color);
$sub-nav-menu-content-text-active-color: var(--sub-nav-menu-content-text-active-color);
$sub-nav-menu-content-bg-active-color: var(--sub-nav-menu-content-bg-active-color);
$sub-nav-menu-hover-color: var(--sub-nav-menu-hover-color);

//tab
$tab-bg-normal-color: var(--tab-bg-normal-color);
$tab-bg-hover-color: var(--tab-bg-hover-color);
$tab-text-normal-color: var(--tab-text-normal-color);
$tab-text-hover-color: var(--tab-text-hover-color);
$tab-text-active-color: var(--tab-text-active-color);
$tab-border-normal-color: var(--tab-border-normal-color);
$tab-border-active-color: var(--tab-border-active-color);

//Dialog Box
$dialog-header-bg-normal-color: var(--dialog-header-bg-normal-color);
$dialog-header-border-normal-color: var(--dialog-header-border-normal-color);
$dialog-header-close-icon-normal-color: var(--dialog-header-close-icon-normal-color);
$dialog-header-close-icon-hover-color: var(--dialog-header-close-icon-hover-color);
$dialog-content-bg-normal-color: var(--dialog-content-bg-normal-color);
$dialog-content-panel-bg-normal-color: var(--dialog-content-panel-bg-normal-color);
$dialog-content-text-panel-bg-normal-color: var(--dialog-content-text-panel-bg-normal-color);
$dialog-content-note-sec-bg-normal-color: var(--dialog-content-note-sec-bg-normal-color);
$dialog-content-text-normal-color: var(--dialog-content-text-normal-color);
$dialog-content-sec-text-normal-color: var(--dialog-content-sec-text-normal-color);
$dialog-footer-bg-normal-color: var(--dialog-footer-bg-normal-color);
$dialog-footer-border-normal-color: var(--dialog-footer-border-normal-color);

//Radio Button
$radio-button-bg-active-color: var(--radio-button-bg-active-color);
$radio-button-border-normal-color: var(--radio-button-border-normal-color);
$radio-button-border-active-color: var(--radio-button-border-active-color);
$radio-button-border-disable-color: var(--radio-button-border-disable-color);
$radio-button-box-shadow-normal-color: var(--radio-button-box-shadow-normal-color);
$radio-button-box-shadow-active-color: var(--radio-button-box-shadow-active-color);
$radio-button-box-shadow-disable-color: var(--radio-button-box-shadow-disable-color);

//Checkbox
$checkbox-bg-normal-color: var(--checkbox-bg-normal-color);
$checkbox-bg-active-color: var(--checkbox-bg-active-color);
$checkbox-bg-disable-color: var(--checkbox-bg-disable-color);
$checkbox-border-normal-color: var(--checkbox-border-normal-color);
$checkbox-border-active-color: var(--checkbox-border-active-color);
$checkbox-border-disable-color: var(--checkbox-border-disable-color);
$checkbox-text-active-color: var(--checkbox-text-active-color);
$checkbox-text-disable-color: var(--checkbox-text-disable-color);
$checkbox-description-color: var(--checkbox-description-color);

//Switches
$material-switch-background-bg-normal-color: var(--material-switch-background-bg-normal-color);
$material-switch-background-bg-active-color: var(--material-switch-background-bg-active-color);
$material-switch-background-bg-disable-color: var(--material-switch-background-bg-disable-color);
$material-switch-background-border-normal-color: var(--material-switch-background-border-normal-color);
$material-switch-background-border-hover-color: var(--material-switch-background-border-hover-color);
$material-switch-background-border-active-color: var(--material-switch-background-border-active-color);
$material-switch-background-border-disable-color: var(--material-switch-background-border-disable-color);
$material-switch-foreground-bg-normal-color: var(--material-switch-foreground-bg-normal-color);
$material-switch-foreground-bg-active-color: var(--material-switch-foreground-bg-active-color);
$material-switch-foreground-bg-disable-color: var(--material-switch-foreground-bg-disable-color);

//Numeric text boxes
$numeric-text-box-bg-normal-color: var(--numeric-text-box-bg-normal-color);
$numeric-text-box-bg-disable-color: var(--numeric-text-box-bg-disable-color);
$numeric-text-box-text-normal-color: var(--numeric-text-box-text-normal-color);
$numeric-text-box-text-disable-color: var(--numeric-text-box-text-disable-color);
$numeric-text-box-border-normal-color: var(--numeric-text-box-border-normal-color);
$numeric-text-box-icon-bg-normal-color: var(--numeric-text-box-icon-bg-normal-color);
$numeric-text-box-icon-bg-hover-color: var(--numeric-text-box-icon-bg-hover-color);
$numeric-text-box-icon-bg-active-color: var(--numeric-text-box-icon-bg-active-color);
$numeric-text-box-icon-text-normal-color: var(--numeric-text-box-icon-text-normal-color);
$numeric-text-box-icon-text-hover-color: var(--numeric-text-box-icon-text-hover-color);
$numeric-text-box-icon-text-active-color: var(--numeric-text-box-icon-text-active-color);
//Grid
$grid-header-bg-normal-color: var(--grid-header-bg-normal-color);
$grid-header-text-normal-color: var(--grid-header-text-normal-color);
$grid-header-publish-text-normal-color: var(--grid-header-publish-text-normal-color);
$grid-header-border-normal-color: var(--grid-header-border-normal-color);
$grid-header-icon-normal-color: var(--grid-header-icon-normal-color);
$grid-header-icon-hover-color: var(--grid-header-icon-hover-color);
$grid-header-drop-bg-normal-color: var(--grid-header-drop-bg-normal-color);
$grid-header-drop-text-normal-color: var(--grid-header-drop-text-normal-color);
$grid-header-drop-border-normal-color: var(--grid-header-drop-border-normal-color);
$grid-header-drop-icon-bg-normal: var(--grid-header-drop-icon-bg-normal);
$grid-header-drop-icon-bg-hover: var(--grid-header-drop-icon-bg-hover);
$grid-header-drop-icon-text-normal: var(--grid-header-drop-icon-text-normal);
$grid-header-drop-icon-text-hover: var(--grid-header-drop-icon-text-hover);
$grid-header-drop-icon-border-normal: var(--grid-header-drop-icon-border-normal);
$grid-header-drop-icon-border-hover: var(--grid-header-drop-icon-border-hover);
$grid-content-drop-bg-normal: var(--grid-content-drop-bg-normal);
$grid-content-bg-normal-color: var(--grid-content-bg-normal-color);
$grid-content-bg-hover-color: var(--grid-content-bg-hover-color);
$grid-content-bg-active-color: var(--grid-content-bg-active-color);
$grid-content-text-normal-color: var(--grid-content-text-normal-color);
$grid-content-text-hover-color: var(--grid-content-text-hover-color);
$grid-content-text-active-color: var(--grid-content-text-active-color);
$grid-content-border-normal-color: var(--grid-content-border-normal-color);
$grid-content-icon-normal-color: var(--grid-content-icon-normal-color);
$grid-content-icon-hover-color: var(--grid-content-icon-hover-color);
$grid-content-icon-active-color: var(--grid-content-icon-active-color);
$grid-content-icon-disable-color: var(--grid-content-icon-disable-color);
$grid-content-button-bg-normal-color: var(--grid-content-button-bg-normal-color);
$grid-content-button-text-normal-color: var(--grid-content-button-text-normal-color);
$grid-footer-bg-normal-color: var(--grid-footer-bg-normal-color);
$grid-footer-text-normal-color: var(--grid-footer-text-normal-color);
$grid-footer-border-normal-color: var(--grid-footer-border-normal-color);
$grid-link-text-normal-color: var(--grid-link-text-normal-color);

//Excel filter
$excel-filter-bg-normal-color: var(--excel-filter-bg-normal-color);
$excel-filter-bg-hover-color: var(--excel-filter-bg-hover-color);
$excel-filter-bg-active-color: var(--excel-filter-bg-active-color);
$excel-filter-sec-bg-normal-color: var(--excel-filter-sec-bg-normal-color);
$excel-filter-text-normal-color: var(--excel-filter-text-normal-color);
$excel-filter-text-hover-color: var(--excel-filter-text-hover-color);
$excel-filter-text-active-color: var(--excel-filter-text-active-color);
$excel-filter-separator-normal-color: var(--excel-filter-separator-normal-color);
$excel-filter-checkbox-bg-normal-color: var(--excel-filter-checkbox-bg-normal-color);
$excel-filter-checkbox-text-normal-color: var(--excel-filter-checkbox-text-normal-color);
$excel-filter-checkbox-border-normal-color: var(--excel-filter-checkbox-border-normal-color);

//ej2 date range picker
$date-range-bg-normal-color: var( --date-range-bg-normal-color);
$date-range-border-color: var(--grey-400);
$date-range-icon-color: var(--date-range-icon-color);
$date-range-popup-active-date-bg-color: $blue;
$date-range-popup-active-date-border-color: $blue;
$date-range-popup-active-date-color: var(--grey-white);
$date-range-popup-date-hover-bg-color: var(--date-range-popup-date-hover-bg-color);
$date-range-popup-text-color: var(--date-range-popup-text-color);
$date-range-popup-list-bg-color: var(--date-range-popup-list-bg-color);
$date-range-popup-active-list-color: $blue;
$separator: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 1.75%, #CCCCCC 41.45%, #CCCCCC 58.43%, rgba(255, 255, 255, 0.0001) 98.33%);