$primary: #0565ff;
$accent: #333333;
$primary-active: #dbe9ff;
$accent-active: #0565ff;
$primary-variant: #007aff;
$secondary: #ffffff;
$background: #f9f9f9;
$surface: #ffffff;
$alert: #ff3b30;
$orange: #ff9503;
$warning: #ffcc01;
$success: #4dd964;
$branding-Color: #ff4800;
$grey-black: #000000;
$grey-white: #ffffff;
$blue-lighten: #f0f6ff;

//Active state bg variable
$active-bg: #dbe9ff;

//grey scale variables
$grey-999: #000000;
$grey-900: #1a1a1a; //darken($accent, 9.80)
$grey-800: #4d4d4d; //lighten($accent, 10.20)
$grey-700: #808080; //lighten($accent, 30.20)
$grey-600: #999999; //lighten($accent, 40.00)
$grey-500: #b3b3b3; //lighten($accent, 50.20)
$grey-400: #cccccc; //lighten($accent, 60.00)
$grey-300: #e6e6e6; //lighten($accent, 70.20)
$grey-200: #eeeeee; //lighten($accent, 73.33)
$grey-100: #f2f2f2; //lighten($accent, 74.90)
$grey-000: #f9f9f9; //lighten($accent, 77.65)
$grey: #ffffff;
$red-900: #fff2f2;

// Warning colors
$warning-900: #fff8ee;
$warning-800: #ffebcf;
$warning-700:  #ff3b30;

$place-holder: #b3b3b3;
$input-box-border: #cccccc;

:root {
    /*Background color*/
    --background: #{$background};
    /*Surface*/
    --surface: #{$surface};
    /*Primary Colours*/
    --blue: #{$primary};
    --primary-black: #{$accent};
    /*Secondary Colours*/
    --red: #{$alert};
    --green: #{$success};
    --blue-secondary: #{$primary-variant};
    --blue-lighter: #{$active-bg};
    --blue-lighten: #{$blue-lighten};
    /*Neturals Colour*/
    --white: #{$surface};
    /*Grey Colours*/
    --grey-999: #{$grey-999};
    --grey-900: #{$grey-900};
    --grey-800: #{$grey-800};
    --grey-700: #{$grey-700};
    --grey-600: #{$grey-600};
    --grey-500: #{$grey-500};
    --grey-400: #{$grey-400};
    --grey-300: #{$grey-300};
    --grey-200: #{$grey-200};
    --grey-100: #{$grey-100};
    --grey-000: #{$grey-000};
    --grey: #{$grey};
    --grey-black: #{$grey-black};
    --grey-white: #{$grey-white};
    --input-box-border: #{$input-box-border};
    --place-holder: #{$place-holder};
    --section-backgroud: #{$surface};
    // Warning colors
    --warning-900: #{$warning-900};
    --warning-800: #{$warning-800};
    --warning-700: #{$warning-700};
    --red-900: #{$red-900};
    ////primary branding color
    --primary-branding-bg-color: var(--primary-branding-color);
    --primary-branding-border-common-color: var(--primary-branding-border-color);
    ///primary-text-normal-color
    --primary-text-color: var(--primary-text-normal-color);
    --primary-hover-text-color: var(--primary-text-hover-color);
    ///secondary-text-color
    --secondary-text-color: var(--secondary-text-normal-color);
    ///active-text-color
    --active-text: var(--active-text-normal-color);
    ///hover bg color
    --hover-bg-color: var(--hover-bg-normal-color);
    //Text colors
    --ntc-btn-border-color: #{darken(desaturate($primary, 3.85), 10.20)};
    //Surface area
    --page-surface-border-color: var(--grey-300);
    /*Header Variables*/
    --danger-btn-hover: #{lighten($alert, 4.12)};
    //selected text color
    --selector-color: #{lighten($primary, 4.12)};
    //LogoSection
    --logo-section-border-color: var(--grey-400);
    --logo-section-description-color: var(--secondary-text-color);
    // Link colors
    --global-link-text-normal-color: var(--hyper-link-normal-color);
    --global-link-text-hover-color: var(--hyper-link-hover-color);
    //Icons
    --icon-text-normal-color: var(--grey-800);
    --icon-text-hover-color: var(--grey-900);
    //Common header description text
    --header-description-text-normal-color: var(--primary-text-color);
    //common separator color
    --header-separator-color: #{$grey-400};
    --section-separator-color: #{$grey-400};
    //info message color
    --info-text-color: var(--secondary-text-color);
    //Warning bg
    --warning-bg-normal-color: var(--warning-900);
    --warning-border-normal-color: var(--warning-800);
    --warning-text-color: var(--warning-700);
    --error-text-color: var(--warning-700);
    --error-bg-color: var(--red-900);
    //Date Range Picker
    --date-range-icon-color: var(--grey-700);
    --date-range-popup-text-color: var(--primary-text-color);
    --date-range-popup-date-hover-bg-color: var(--grey-200);
    --date-range-popup-list-bg-color: var(--grey-200);
    --date-range-bg-normal-color: var(--background);
    //Toast
    --warning-icon-color: #{lighten(adjust-hue($warning, -14), 12.75)};
    --warning-toast-border: #{lighten(desaturate(adjust-hue($alert, 4), 1.07), 3.92)};
    --success-toast-border: #{darken(desaturate(adjust-hue($success, 8), 11.62), 3.73)};
    //Buttons variables
    --primary-button-bg-normal-color: var(--primary-btn-bg-normal-color);
    --primary-button-bg-hover-color: var(--primary-btn-bg-hover-color);
    --primary-button-bg-disable-color: var(--primary-btn-bg-disable-color);
    --primary-button-border-normal-color: var(--primary-btn-border-normal-color);
    --primary-button-border-disable-color: var(--primary-btn-border-disable-color);
    --primary-button-text-normal-color: var(--primary-btn-text-normal-color);
    --primary-button-text-hover-color: var(--primary-btn-text-hover-color);
    --primary-button-text-disable-color: var(--primary-btn-text-disable-color);
    --secondary-button-bg-normal-color: var(--secondary-btn-bg-normal-color);
    --secondary-button-bg-hover-color: var(--secondary-btn-bg-hover-color);
    --secondary-button-bg-disable-color: var(--secondary-btn-bg-disable-color);
    --secondary-button-border-normal-color: var(--secondary-btn-border-normal-color);
    --secondary-button-border-disable-color: var(--secondary-btn-border-disable-color);
    --secondary-button-text-normal-color: var(--secondary-btn-text-normal-color);
    --secondary-button-text-hover-color: var(--secondary-btn-text-hover-color);
    --secondary-button-text-disable-color: var(--secondary-btn-text-disable-color);
    --danger-button-bg-normal-color: var(--red);
    --danger-button-bg-hover-color: var(--danger-btn-hover);
    --danger-button-border-normal-color: var(--red);
    --danger-button-text-normal-color: var(--grey-white);
    --danger-button-text-hover-color: var(--grey-white);
    --link-button-bg-normal-color: var(--link-btn-bg-normal-color);
    --link-button-bg-hover-color: var(--link-btn-bg-hover-color);
    --link-button-border-normal-color: var(--link-btn-border-normal-color);
    --link-button-border-hover-color: var(--link-btn-border-hover-color);
    --link-button-text-normal-color: var(--link-btn-text-normal-color);
    --link-button-text-hover-color: var(--link-btn-text-hover-color);
    //navigation
    --nav-menu-bg-color: var(--nav-menu-bg-normal-color);
    --nav-menu-hover-color: var(--nav-menu-bg-hover-color);
    --nav-menu-active-color: var(--nav-menu-bg-active-color);
    --nav-menu-text-color: var(--nav-menu-pri-text-normal-color);
    --nav-menu-active-text-color: var(--nav-menu-pri-text-active-color);
    --nav-menu-hover-text-color: var(--nav-menu-pri-text-hover-color);
    --nav-menu-separtor-icon-color: var(--grey-400);
    //SubNavigationMenu
    --sub-nav-menu-header-text-normal-color: var(--primary-text-color);
    --sub-nav-menu-content-text-normal-color: var(--primary-text-color);
    --sub-nav-menu-content-text-active-color: var(--active-text);
    --sub-nav-menu-content-bg-active-color: var(--active-bg-normal-color);
    --sub-nav-menu-header-border-color: var(--primary-branding-bg-color);
    --sub-nav-menu-header-bg-color: var(--primary-branding-bg-color);
    --sub-nav-menu-bg-color: var(--grey-000);
    --sub-nav-menu-border-color: var(--grey-400);
    --sub-nav-menu-hover-color: var(--hover-bg-color);
    //Tab
    --tab-bg-normal-color: var(--background);
    --tab-bg-hover-color: var(--hover-bg-color);
    --tab-text-normal-color: var(--primary-text-color);
    --tab-text-hover-color: var(--primary-hover-text-color);
    --tab-text-active-color: var(--primary-branding-bg-color);
    --tab-border-normal-color: var(--page-surface-border-color);
    --tab-border-active-color: var(--primary-branding-bg-color);
    //Input box
    --input-box-bg-normal-color: var(--grey);
    --input-box-bg-disable-color: var(--grey-100);
    --input-box-border-normal-color: var(--input-box-border);
    --input-box-border-active-color: var(--primary-branding-bg-color);
    --input-box-border-disable-color: var(--grey-400);
    --input-box-border-alert-color: var(--red);
    --input-box-text-normal-color: var(--primary-text-color);
    --input-box-placeholder-text-normal-color: var(--place-holder);
    --input-box-text-disable-color: var(--grey-600);
    //Dropdown menu
    --drop-down-menu-btn-bg-normal-color: var(--grey);
    --drop-down-menu-btn-bg-hover-color: var(--grey-300);
    --drop-down-menu-btn-bg-disable-color: var(--grey-100);
    --drop-down-menu-btn-border-normal-color: var(--input-box-border);
    --drop-down-menu-btn-border-hover-color: var(--grey-500);
    --drop-down-menu-btn-border-disable-color: var(--grey-400);
    --drop-down-menu-btn-text-normal-color: var(--primary-text-color);
    --drop-down-menu-btn-text-hover-color: var(--primary-hover-text-colorr);
    --drop-down-menu-btn-text-disable-color: var(--grey-600);
    --drop-down-menu-bg-normal-color: var(--white);
    --drop-down-menu-bg-hover-color: var(--hover-bg-color);
    --drop-down-menu-bg-active-color: var(--active-bg-normal-color);
    --drop-down-menu-border-normal-color: var(--grey-400);
    --drop-down-menu-text-normal-color: var(--primary-text-color);
    --drop-down-menu-text-hover-color: var(--primary-hover-text-color);
    --drop-down-menu-text-active-color: var(--active-text);
    //Switches
    --material-switch-background-bg-normal-color: var(--white);
    --material-switch-background-bg-active-color: var(--primary-branding-bg-color);
    --material-switch-background-bg-disable-color: var(--grey-200);
    --material-switch-background-border-normal-color: var(--grey-500);
    --material-switch-background-border-hover-color: var(--grey-800);
    --material-switch-background-border-active-color: var(--primary-branding-border-common-color);
    --material-switch-background-border-disable-color: var(--grey-400);
    --material-switch-foreground-bg-normal-color: var(--grey-700);
    --material-switch-foreground-bg-active-color: var(--white);
    --material-switch-foreground-bg-disable-color: var(--grey-500);
    //Radio button
    --radio-button-bg-active-color: var(--primary-branding-bg-color);
    --radio-button-border-normal-color: var(--grey-500);
    --radio-button-border-active-color: var(--primary-branding-border-common-color);
    --radio-button-border-disable-color: var(--grey-400);
    --radio-button-box-shadow-normal-color: var(--white);
    --radio-button-box-shadow-active-color: var(--white);
    --radio-button-box-shadow-disable-color: var(--grey-200);
    //Grid
    --grid-header-bg-normal-color: var(--background);
    --grid-header-text-normal-color: var(--primary-text-color);
    --grid-header-publish-text-normal-color: var(--primary-text-color);
    --grid-header-border-normal-color: var(--grey-300);
    --grid-header-icon-normal-color: var(--icon-text-normal-color);
    --grid-header-icon-hover-color: var(--icon-text-hover-color);
    --grid-header-drop-bg-normal-color: var(--grey-100);
    --grid-header-drop-text-normal-color: var(--primary-text-color);
    --grid-header-drop-border-normal-color: var(--grey-300);
    --grid-header-drop-icon-bg-normal: var(--grey-300);
    --grid-header-drop-icon-bg-hover: var(--grey-300);
    --grid-header-drop-icon-text-normal: var(--primary-text-color);
    --grid-header-drop-icon-text-hover: var(--primary-hover-text-color);
    --grid-header-drop-icon-border-normal: var(--grey-300);
    --grid-header-drop-icon-border-hover: var(--grey-300);
    --grid-content-drop-bg-normal: var(--grey-100);
    --grid-content-bg-normal-color: var(--white);
    --grid-content-bg-hover-color: var(--hover-bg-color);
    --grid-content-bg-active-color: var(--active-bg-normal-color);
    --grid-content-text-normal-color: var(--primary-text-color);
    --grid-content-text-hover-color: var(--primary-hover-text-colorr);
    --grid-content-text-active-color: var(--active-text);
    --grid-content-border-normal-color: var(--grey-300);
    --grid-content-icon-normal-color: var(--icon-text-normal-color);
    --grid-content-icon-hover-color: var(--icon-text-hover-color);
    --grid-content-icon-active-color: var(--icon-text-active-color);
    --grid-content-icon-disable-color: var(--icon-text-disable-color);
    --grid-content-button-bg-normal-color: var(--grey-300);
    --grid-content-button-text-normal-color: var(--primary-text-color);
    --grid-footer-bg-normal-color: var(--background);
    --grid-footer-text-normal-color: var(--primary-text-color);
    --grid-footer-border-normal-color: var(--grey-300);
    --grid-link-text-normal-color: var(--hyper-link-normal-color);
    //Excel filter
    --excel-filter-bg-normal-color: var(--white);
    --excel-filter-bg-hover-color: var(--hover-bg-color);
    --excel-filter-bg-active-color: var(--primary-branding-bg-color);
    --excel-filter-sec-bg-normal-color: var( --grey-000);
    --excel-filter-text-normal-color: var(--primary-text-color);
    --excel-filter-text-hover-color: var(--primary-hover-text-colorr);
    --excel-filter-text-active-color: var(--white);
    --excel-filter-separator-normal-color: var(--grey-300);
    --excel-filter-checkbox-bg-normal-color: var(--white);
    --excel-filter-checkbox-text-normal-color: var(--primary-branding-bg-color);
    --excel-filter-checkbox-border-normal-color: var(--grey-400);
    //Dialog
    --dialog-header-bg-normal-color: var(--background);
    --dialog-header-border-normal-color: var(--grey-300);
    --dialog-header-close-icon-normal-color: var(--icon-text-normal-color);
    --dialog-header-close-icon-hover-color: var(--icon-text-hover-color);
    --dialog-content-bg-normal-color: var(--surface);
    --dialog-content-panel-bg-normal-color: var(--background);
    --dialog-content-text-panel-bg-normal-color: var(--grey-300);
    --dialog-content-note-sec-bg-normal-color: var(--grey-000);
    --dialog-content-text-normal-color: var(--primary-text-color);
    --dialog-content-sec-text-normal-color: var(--secondary-text-color);
    --dialog-footer-bg-normal-color: var(--background);
    --dialog-footer-border-normal-color: var(--grey-300);
    //Checkbox
    --checkbox-bg-normal-color: var(--white);
    --checkbox-bg-active-color: var(--primary-branding-bg-color);
    --checkbox-bg-disable-color: var(--grey-100);
    --checkbox-border-normal-color: var(--grey-500);
    --checkbox-border-active-color: var(--primary-branding-border-common-color);
    --checkbox-border-disable-color: var(--grey-400);
    --checkbox-text-active-color: var(--grey-white);
    --checkbox-text-disable-color: var(--grey-500);
    --checkbox-description-color: var(--secondary-text-color);
    //Numeric text boxes
    --numeric-text-box-bg-normal-color: var(--white);
    --numeric-text-box-bg-disable-color: var(--grey-200);
    --numeric-text-box-text-normal-color: var(--primary-text-color);
    --numeric-text-box-text-disable-color: var(--grey-500);
    --numeric-text-box-border-normal-color: var(--grey-400);
    --numeric-text-box-icon-bg-normal-color: var(--surface);
    --numeric-text-box-icon-bg-hover-color: var(--active-bg-normal-color);
    --numeric-text-box-icon-bg-active-color: var(--blue);
    --numeric-text-box-icon-text-normal-color: var(--grey-800);
    --numeric-text-box-icon-text-hover-color: var(--active-text);
    --numeric-text-box-icon-text-active-color: var(--grey-800);
    //Toast
    --toast-bg-normal-color: var(--white);
    --success-toast-border-normal-color: var(--success-toast-border);
    --warning-toast-border-normal-color: var(--warning-border-normal-color);
    --toast-text-normal-color: var(--primary-text-color);
    --toast-sec-text-normal-color: var(--secondary-text-color);
    --success-toast-icon-text-normal-color: var(--green);
    --warning-toast-icon-text-normal-color: var(--warning-icon-color);
    --toast-close-icon-text-normal-color: var(--icon-text-normal-color);
    --toast-close-icon-text-hover-color: var(--icon-text-hover-color);
}
