@import"../../core/_typography.scss";
@import "../../core/_variables.scss";
@import "../../themes/_light_cloud.scss";
@import "../../mixins/_border-radius.scss";
@import "../../themes/default.scss";

#menu-area {
    background-color: $nav-menu-bg-color;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.12);
    height: 100%;
    position: fixed;
    width: $nav-menu-width;
    z-index: 2;

    #app-navigation {
        height: inherit;

        #main-nav {
            ul {
                list-style: none;
                padding: 0 (($nav-menu-width - $nav-menu-element-width) / 2);
                text-align: center;

                .sf-nav-item {
                    @include border-radius(4px);
                    height: $nav-menu-element-height;
                    margin: 4px 0;
                    width: $nav-menu-element-width;

                    .sf-nav-link {
                        border-radius: 4px;
                        display: inline-block;
                        height: inherit;
                        text-align: center;
                        width: inherit;

                        .menu-icon-container {
                            color: $nav-menu-text-color;
                            display: inline-block;
                            height: $nav-menu-icon-container-height;
                            padding: 8px (($nav-menu-element-width - $nav-menu-icon-container-width) / 2);
                            width: $nav-menu-icon-container-width;

                            i {
                                font-size: $nav-menu-icon-size;

                                .path1::before {
                                    color: $nav-icon-normal-color;
                                }
                            }
                        }

                        .menu-label {
                            color: $nav-menu-text-color;
                            float: left;
                            font-size: $nav-menu-text-size;
                            letter-spacing: $letter-spacing-normal;
                            margin-bottom: 3px;
                            width: 100%;
                        }
                    }

                    &:hover {
                        background-color: $nav-menu-hover-color;

                        .menu-icon-container:not(.create-menu-icon) {
                            .su, .menu-label {
                                color: $nav-menu-hover-text-color;
                            }
                        }

                        .menu-label {
                            color: $nav-menu-hover-text-color;
                        }
                    }

                    &.active {
                        background-color: $nav-menu-active-color;

                        .su, .menu-label {
                            color: $nav-menu-active-text-color !important;
                        }
                    }
                }
                /*.sf-nav-administration-collapse-item {
                    display: none !important;
                }*/
                .sf-nav-separator {
                    background: $nav-menu-separtor-icon-color;
                    height: 1px;
                    margin: 12px auto;
                    width: 50%;

                    + .sf-nav-item {
                        margin-top: 0;
                    }
                }

                .app-logo-block {
                    display: table;
                    height: $nav-menu-element-height + 4;
                    text-align: center;
                    width: $nav-menu-element-width;

                    .home-link {
                        display: table-cell;
                        vertical-align: middle;
                        width: 100%;

                        img {
                            min-width: 40px;
                            max-width: 60px;
                        }
                    }

                    .syncfusion-home-link {
                        img {
                            min-width: 55px;
                        }
                    }
                }
            }
        }

        #sub-nav {
            bottom: 0;
            position: absolute;
            width: $nav-menu-width;

            ul {
                list-style: none;
                padding: 0 (($nav-menu-width - $nav-menu-element-width) / 2);
                text-align: center;

                li {
                    text-align: center;

                    &.sub-menu-action {
                        border-radius: 4px;
                        cursor: pointer;
                        display: inline-block;
                        margin-bottom: 6px;
                        position: relative;

                        .menu-icon-container {
                            @include border-radius(4px);
                            color: $nav-menu-text-color;
                            display: inline-block;
                            height: 42px;
                            padding: 12px;
                            width: 42px;

                            i {
                                font-size: $nav-menu-icon-size;
                            }
                        }

                        .sub-menu {
                            left: 50px;
                            bottom: -3px;
                        }

                        &:hover {
                            background-color: $app-background-hover;
                            border-radius: 4px;
                        }

                        &.active {
                            background-color: $primary-selected-color;

                            .su, .menu-label {
                                color: $primary;
                            }
                        }

                        #user-system-notification {
                            #notification-indicator {
                                background: $red;
                                border: solid 1px $white;
                                border-radius: 10px;
                                display: block;
                                left: 21px;
                                line-height: 5px;
                                padding: 3px;
                                position: absolute;
                                top: 9px;
                            }
                        }
                    }

                    &.profile-section {
                        cursor: pointer;
                        margin-top: 2px;
                        padding: 8px 15px;
                        position: relative;

                        a {
                            .profile-picture {
                                @include border-radius(50%);
                                height: 40px;
                                width: 40px;
                                border: 1px solid $text-white;

                                &:hover {
                                    border: 1px solid $btn-hover-border-color;
                                }
                            }
                        }

                        .sub-menu {
                            left: 63px;
                            bottom: 0px;
                        }
                    }

                    &.profile-section.open {
                        a {
                            .profile-picture {
                                border: 1px solid $btn-hover-border-color;
                            }
                        }
                    }

                    &.sub-menu-action, &.profile-section {
                        .sub-menu {
                            width: 180px;
                            border: 0;
                            padding: 6px 0px;
                            cursor: default;

                            .sub-menu-item-title {
                                height: 34px;
                                text-align: left;
                                font-size: map-get($app-text-size, sm);
                                color: $nav-menu-text-color;

                                div {
                                    padding: 8px 8px 12px 8px;
                                    width: 100%;
                                    height: 100%;
                                    font-size: map-get($app-text-size, sm);
                                    font-weight: 600;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: 1.6;
                                    letter-spacing: 0.3px;
                                }
                            }

                            .sub-menu-profile {
                                height: auto !important;
                            }

                            .sub-menu-item {
                                height: 28px;
                                text-align: left;
                                cursor: pointer;
                                font-style: normal;
                                font-stretch: normal;

                                .sub-menu-profile-text-padding {
                                    font-family: $primary-font;
                                    font-size: 10px;
                                    font-weight: 600;
                                    line-height: 1.6;
                                    letter-spacing: 0.3px;
                                    color: $nav-menu-text-color;
                                    padding: 0 0 0 8px;
                                    margin-bottom: 11px;
                                }

                                a {
                                    padding: 5px 8px;
                                    font-size: 12px;
                                    font-weight: normal;
                                    line-height: 1.5;
                                    letter-spacing: 0.3px;
                                    color: $nav-menu-text-color !important;

                                    .sub-menu-bar-profile-image {
                                        float: left;
                                        height: 36px;
                                        width: 36px;
                                        border-radius: 50px;
                                        margin-top: 2px;
                                    }

                                    .sub-menu-user-name {
                                        display: inline-block;
                                        padding-left: 6px;
                                        width: 135px;
                                        font-weight: normal;
                                        font-family: $nav-menu-text-color;
                                        margin-top: 3px;

                                        .sub-menu-user-name-style {
                                            font-size: 12px;
                                            letter-spacing: 0.3px;
                                            color: $primary-black;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }

                                        .sub-menu-user-email-style, .sub-menu-user-username-style {
                                            font-size: 10px;
                                            letter-spacing: 0.25px;
                                            color: $nav-menu-text-color;
                                            line-height: 12px;
                                            margin-top: 2px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }
                                    }
                                }
                            }
                        }

                        &:hover:not(.profile-section dropup) {
                            background-color: $app-background-hover;
                        }
                    }

                    .sf-sub-menu-separator {
                        background: $separator-color;
                        height: 1px;
                        margin: 6px 0px;
                    }
                }

                .dropdown-backdrop {
                    cursor: default;
                }
            }
        }
    }
}

@media screen and (max-width: 1040px) {
    .cookie-notification {
        margin-left: 0px !important;
    }

    .mobile-visible {
        display: block;
    }

    .mobile-hidden {
        display: none !important;
    }

    .mobile-menu-icon {
        cursor: pointer;
        display: table;
        float: left;
        height: $nav-mobile-menu-icon-height;
        width: $nav-mobile-menu-icon-width;
        padding: 6px 8px;
        font-size: 20px;

        span {
            display: table-cell;
            vertical-align: middle;
        }
    }

    #mobile-profile-picture {
        height: 125px;
        overflow: hidden;

        .mobile-display-name {
            background: $mobile-display-name-bg-color;
            color: $text-white;
            position: relative;
            padding: 5px 20px;
            opacity: 0.8;
            overflow: hidden;
            text-overflow: ellipsis;
            top: 95px;
            white-space: nowrap;
        }

        img {
            margin-top: -30px;
            width: 175px;
        }
    }

    #server-app-container {
        #menu-area {
            background-color: $mobile-menu-bg-color;
            padding-top: $nav-mobile-menu-header-height !important;
            width: 175px;
            z-index: 1000;

            aside {
                height: 100%;
                width: 100%;

                #main-nav {
                    height: 100%;
                    overflow-x: hidden;
                    overflow-y: auto;
                    position: relative;
                    width: 100%;

                    #items-menu {
                        margin-top: 5px;
                        width: 100%;
                        padding: 0;
                        text-align: left;

                        .upper-divider {
                            vertical-align: bottom;
                            width: 175px;
                        }

                        .li-logout {
                            display: table !important;
                            position: absolute;
                            bottom: 0;
                        }

                        li {
                            width: 175px;
                            height: auto;
                            margin: 0;
                            display: table;
                            border-radius: 0;
                            line-height: 16px;

                            &.active {
                                background: transparent;
                                border-left: 5px solid $primary;

                                a, .sf-menu-option-link {
                                    background-color: darken($mobile-menu-active-bg-color, 5%);

                                    i {
                                        padding-left: 5px !important;
                                    }
                                }
                            }

                            a, .sf-menu-option-link {
                                display: inline-block;
                                height: 40px;
                                width: 100%;
                                padding-left: 10px;
                                padding-top: 12px;
                                text-align: center;
                                vertical-align: middle;

                                .menu-icon-container {
                                    padding: 0;
                                    color: $nav-icon-normal-color;
                                    display: block;
                                    height: auto;
                                    width: auto;
                                }

                                i {
                                    float: left;
                                    padding: 0 10px;
                                    font-size: 17px;
                                    display: block;
                                }

                                span.menu-label {
                                    float: left;
                                    font-size: 14px;
                                    padding-left: 10px;
                                    letter-spacing: 0;
                                    margin-bottom: 0px;
                                    width: auto;
                                    color: $primary-text-color;
                                    text-align: center;
                                }
                            }

                            &.sf-nav-separator {
                                height: 1px;
                                margin: 10px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1041px) and (max-width: 1399px) {
    #menu-area {
        #app-navigation {
            #main-nav {
                ul {
                    /*.sf-nav-administration-item {
                        display: none !important;
                    }

                    .sf-nav-administration-collapse-item {
                        display: inline-block !important;
                        cursor: pointer;
                        display: inline-block;
                        margin-bottom: 6px;
                        position: relative;
                        text-align: center;
                        border-radius: 4px;

                        .menu-icon-container {
                            @include border-radius(4px);
                            color: $nav-icon-normal-color;
                            display: inline-block;
                            height: 42px;
                            padding: 12px;
                            width: 42px;

                            i {
                                font-size: $nav-menu-icon-size;
                            }
                        }

                        .sub-menu {
                            left: 50px;
                            bottom: 0px;
                            padding: 6px;
                            margin: 0px;
                            border: 0;

                            .sf-nav-item {
                                float: left;
                                margin: 0;

                                .sf-nav-link {
                                    padding: 0;

                                    .menu-icon-container {
                                        i {
                                            padding: 0px;
                                        }
                                    }
                                }

                                &:not(:first-child) {
                                    margin-left: 8px;
                                }
                            }
                        }

                        &:hover {
                            background-color: $app-background-hover;
                        }

                        &.active {
                            background-color: $primary-selected-color;

                            .su, .menu-label {
                                color: $primary;
                            }
                        }

                        .dropdown-backdrop {
                            cursor: default;
                        }
                    }*/
                }

                .sf-nav-separator {
                    display: none !important;

                    &.logo-separator {
                        display: block !important;
                    }
                }
            }
        }
    }
}

.dropdown-menu {
    li {

        .sub-menu-profile-text-padding:hover {
            background: none;
            cursor: default;
        }
    }
}

.dropdown-menu {
    li {
        div{
        a {
            .sub-menu-profile-hover:hover {
                background: $app-background-hover;
                cursor: pointer;
            }
        }
    }}
}