#menu-area {
  background-color: var(--nav-menu-bg-color);
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
  position: fixed;
  width: 80px;
  z-index: 2; }
  #menu-area #app-navigation {
    height: inherit; }
    #menu-area #app-navigation #main-nav ul {
      list-style: none;
      padding: 0 5px;
      text-align: center;
      /*.sf-nav-administration-collapse-item {
                    display: none !important;
                }*/ }
      #menu-area #app-navigation #main-nav ul .sf-nav-item {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        height: 52px;
        margin: 4px 0;
        width: 70px; }
        #menu-area #app-navigation #main-nav ul .sf-nav-item .sf-nav-link {
          border-radius: 4px;
          display: inline-block;
          height: inherit;
          text-align: center;
          width: inherit; }
          #menu-area #app-navigation #main-nav ul .sf-nav-item .sf-nav-link .menu-icon-container {
            color: var(--nav-menu-text-color);
            display: inline-block;
            height: 36px;
            padding: 8px 13px;
            width: 44px; }
            #menu-area #app-navigation #main-nav ul .sf-nav-item .sf-nav-link .menu-icon-container i {
              font-size: 18px; }
              #menu-area #app-navigation #main-nav ul .sf-nav-item .sf-nav-link .menu-icon-container i .path1::before {
                color: #808080; }
          #menu-area #app-navigation #main-nav ul .sf-nav-item .sf-nav-link .menu-label {
            color: var(--nav-menu-text-color);
            float: left;
            font-size: 10px;
            letter-spacing: 0.3px;
            margin-bottom: 3px;
            width: 100%; }
        #menu-area #app-navigation #main-nav ul .sf-nav-item:hover {
          background-color: var(--nav-menu-hover-color); }
          #menu-area #app-navigation #main-nav ul .sf-nav-item:hover .menu-icon-container:not(.create-menu-icon) .su, #menu-area #app-navigation #main-nav ul .sf-nav-item:hover .menu-icon-container:not(.create-menu-icon) .menu-label {
            color: var(--nav-menu-hover-text-color); }
          #menu-area #app-navigation #main-nav ul .sf-nav-item:hover .menu-label {
            color: var(--nav-menu-hover-text-color); }
        #menu-area #app-navigation #main-nav ul .sf-nav-item.active {
          background-color: var(--nav-menu-active-color); }
          #menu-area #app-navigation #main-nav ul .sf-nav-item.active .su, #menu-area #app-navigation #main-nav ul .sf-nav-item.active .menu-label {
            color: var(--nav-menu-active-text-color) !important; }
      #menu-area #app-navigation #main-nav ul .sf-nav-separator {
        background: var(--nav-menu-separtor-icon-color);
        height: 1px;
        margin: 12px auto;
        width: 50%; }
        #menu-area #app-navigation #main-nav ul .sf-nav-separator + .sf-nav-item {
          margin-top: 0; }
      #menu-area #app-navigation #main-nav ul .app-logo-block {
        display: table;
        height: 56px;
        text-align: center;
        width: 70px; }
        #menu-area #app-navigation #main-nav ul .app-logo-block .home-link {
          display: table-cell;
          vertical-align: middle;
          width: 100%; }
          #menu-area #app-navigation #main-nav ul .app-logo-block .home-link img {
            min-width: 40px;
            max-width: 60px; }
        #menu-area #app-navigation #main-nav ul .app-logo-block .syncfusion-home-link img {
          min-width: 55px; }
    #menu-area #app-navigation #sub-nav {
      bottom: 0;
      position: absolute;
      width: 80px; }
      #menu-area #app-navigation #sub-nav ul {
        list-style: none;
        padding: 0 5px;
        text-align: center; }
        #menu-area #app-navigation #sub-nav ul li {
          text-align: center; }
          #menu-area #app-navigation #sub-nav ul li.sub-menu-action {
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            margin-bottom: 6px;
            position: relative; }
            #menu-area #app-navigation #sub-nav ul li.sub-menu-action .menu-icon-container {
              -moz-border-radius: 4px;
              -webkit-border-radius: 4px;
              -ms-border-radius: 4px;
              border-radius: 4px;
              color: var(--nav-menu-text-color);
              display: inline-block;
              height: 42px;
              padding: 12px;
              width: 42px; }
              #menu-area #app-navigation #sub-nav ul li.sub-menu-action .menu-icon-container i {
                font-size: 18px; }
            #menu-area #app-navigation #sub-nav ul li.sub-menu-action .sub-menu {
              left: 50px;
              bottom: -3px; }
            #menu-area #app-navigation #sub-nav ul li.sub-menu-action:hover {
              background-color: #eeeeee;
              border-radius: 4px; }
            #menu-area #app-navigation #sub-nav ul li.sub-menu-action.active {
              background-color: #dbe9ff; }
              #menu-area #app-navigation #sub-nav ul li.sub-menu-action.active .su, #menu-area #app-navigation #sub-nav ul li.sub-menu-action.active .menu-label {
                color: #0565ff; }
            #menu-area #app-navigation #sub-nav ul li.sub-menu-action #user-system-notification #notification-indicator {
              background: #ff3b30;
              border: solid 1px #fff;
              border-radius: 10px;
              display: block;
              left: 21px;
              line-height: 5px;
              padding: 3px;
              position: absolute;
              top: 9px; }
          #menu-area #app-navigation #sub-nav ul li.profile-section {
            cursor: pointer;
            margin-top: 2px;
            padding: 8px 15px;
            position: relative; }
            #menu-area #app-navigation #sub-nav ul li.profile-section a .profile-picture {
              -moz-border-radius: 50%;
              -webkit-border-radius: 50%;
              -ms-border-radius: 50%;
              border-radius: 50%;
              height: 40px;
              width: 40px;
              border: 1px solid #fff; }
              #menu-area #app-navigation #sub-nav ul li.profile-section a .profile-picture:hover {
                border: 1px solid #0565ff; }
            #menu-area #app-navigation #sub-nav ul li.profile-section .sub-menu {
              left: 63px;
              bottom: 0px; }
          #menu-area #app-navigation #sub-nav ul li.profile-section.open a .profile-picture {
            border: 1px solid #0565ff; }
          #menu-area #app-navigation #sub-nav ul li.sub-menu-action .sub-menu, #menu-area #app-navigation #sub-nav ul li.profile-section .sub-menu {
            width: 180px;
            border: 0;
            padding: 6px 0px;
            cursor: default; }
            #menu-area #app-navigation #sub-nav ul li.sub-menu-action .sub-menu .sub-menu-item-title, #menu-area #app-navigation #sub-nav ul li.profile-section .sub-menu .sub-menu-item-title {
              height: 34px;
              text-align: left;
              font-size: 10px;
              color: var(--nav-menu-text-color); }
              #menu-area #app-navigation #sub-nav ul li.sub-menu-action .sub-menu .sub-menu-item-title div, #menu-area #app-navigation #sub-nav ul li.profile-section .sub-menu .sub-menu-item-title div {
                padding: 8px 8px 12px 8px;
                width: 100%;
                height: 100%;
                font-size: 10px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.6;
                letter-spacing: 0.3px; }
            #menu-area #app-navigation #sub-nav ul li.sub-menu-action .sub-menu .sub-menu-profile, #menu-area #app-navigation #sub-nav ul li.profile-section .sub-menu .sub-menu-profile {
              height: auto !important; }
            #menu-area #app-navigation #sub-nav ul li.sub-menu-action .sub-menu .sub-menu-item, #menu-area #app-navigation #sub-nav ul li.profile-section .sub-menu .sub-menu-item {
              height: 28px;
              text-align: left;
              cursor: pointer;
              font-style: normal;
              font-stretch: normal; }
              #menu-area #app-navigation #sub-nav ul li.sub-menu-action .sub-menu .sub-menu-item .sub-menu-profile-text-padding, #menu-area #app-navigation #sub-nav ul li.profile-section .sub-menu .sub-menu-item .sub-menu-profile-text-padding {
                font-family: var(--font-family);
                font-size: 10px;
                font-weight: 600;
                line-height: 1.6;
                letter-spacing: 0.3px;
                color: var(--nav-menu-text-color);
                padding: 0 0 0 8px;
                margin-bottom: 11px; }
              #menu-area #app-navigation #sub-nav ul li.sub-menu-action .sub-menu .sub-menu-item a, #menu-area #app-navigation #sub-nav ul li.profile-section .sub-menu .sub-menu-item a {
                padding: 5px 8px;
                font-size: 12px;
                font-weight: normal;
                line-height: 1.5;
                letter-spacing: 0.3px;
                color: var(--nav-menu-text-color) !important; }
                #menu-area #app-navigation #sub-nav ul li.sub-menu-action .sub-menu .sub-menu-item a .sub-menu-bar-profile-image, #menu-area #app-navigation #sub-nav ul li.profile-section .sub-menu .sub-menu-item a .sub-menu-bar-profile-image {
                  float: left;
                  height: 36px;
                  width: 36px;
                  border-radius: 50px;
                  margin-top: 2px; }
                #menu-area #app-navigation #sub-nav ul li.sub-menu-action .sub-menu .sub-menu-item a .sub-menu-user-name, #menu-area #app-navigation #sub-nav ul li.profile-section .sub-menu .sub-menu-item a .sub-menu-user-name {
                  display: inline-block;
                  padding-left: 6px;
                  width: 135px;
                  font-weight: normal;
                  font-family: var(--nav-menu-text-color);
                  margin-top: 3px; }
                  #menu-area #app-navigation #sub-nav ul li.sub-menu-action .sub-menu .sub-menu-item a .sub-menu-user-name .sub-menu-user-name-style, #menu-area #app-navigation #sub-nav ul li.profile-section .sub-menu .sub-menu-item a .sub-menu-user-name .sub-menu-user-name-style {
                    font-size: 12px;
                    letter-spacing: 0.3px;
                    color: #333;
                    overflow: hidden;
                    text-overflow: ellipsis; }
                  #menu-area #app-navigation #sub-nav ul li.sub-menu-action .sub-menu .sub-menu-item a .sub-menu-user-name .sub-menu-user-email-style, #menu-area #app-navigation #sub-nav ul li.sub-menu-action .sub-menu .sub-menu-item a .sub-menu-user-name .sub-menu-user-username-style, #menu-area #app-navigation #sub-nav ul li.profile-section .sub-menu .sub-menu-item a .sub-menu-user-name .sub-menu-user-email-style, #menu-area #app-navigation #sub-nav ul li.profile-section .sub-menu .sub-menu-item a .sub-menu-user-name .sub-menu-user-username-style {
                    font-size: 10px;
                    letter-spacing: 0.25px;
                    color: var(--nav-menu-text-color);
                    line-height: 12px;
                    margin-top: 2px;
                    overflow: hidden;
                    text-overflow: ellipsis; }
          #menu-area #app-navigation #sub-nav ul li.sub-menu-action:hover, #menu-area #app-navigation #sub-nav ul li.profile-section:hover {
            background-color: #eeeeee; }
          #menu-area #app-navigation #sub-nav ul li .sf-sub-menu-separator {
            background: #cccccc;
            height: 1px;
            margin: 6px 0px; }
        #menu-area #app-navigation #sub-nav ul .dropdown-backdrop {
          cursor: default; }

@media screen and (max-width: 1040px) {
  .cookie-notification {
    margin-left: 0px !important; }
  .mobile-visible {
    display: block; }
  .mobile-hidden {
    display: none !important; }
  .mobile-menu-icon {
    cursor: pointer;
    display: table;
    float: left;
    height: 40px;
    width: 40px;
    padding: 6px 8px;
    font-size: 20px; }
    .mobile-menu-icon span {
      display: table-cell;
      vertical-align: middle; }
  #mobile-profile-picture {
    height: 125px;
    overflow: hidden; }
    #mobile-profile-picture .mobile-display-name {
      background: #333;
      color: #fff;
      position: relative;
      padding: 5px 20px;
      opacity: 0.8;
      overflow: hidden;
      text-overflow: ellipsis;
      top: 95px;
      white-space: nowrap; }
    #mobile-profile-picture img {
      margin-top: -30px;
      width: 175px; }
  #server-app-container #menu-area {
    background-color: #f2f2f2;
    padding-top: 40px !important;
    width: 175px;
    z-index: 1000; }
    #server-app-container #menu-area aside {
      height: 100%;
      width: 100%; }
      #server-app-container #menu-area aside #main-nav {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        width: 100%; }
        #server-app-container #menu-area aside #main-nav #items-menu {
          margin-top: 5px;
          width: 100%;
          padding: 0;
          text-align: left; }
          #server-app-container #menu-area aside #main-nav #items-menu .upper-divider {
            vertical-align: bottom;
            width: 175px; }
          #server-app-container #menu-area aside #main-nav #items-menu .li-logout {
            display: table !important;
            position: absolute;
            bottom: 0; }
          #server-app-container #menu-area aside #main-nav #items-menu li {
            width: 175px;
            height: auto;
            margin: 0;
            display: table;
            border-radius: 0;
            line-height: 16px; }
            #server-app-container #menu-area aside #main-nav #items-menu li.active {
              background: transparent;
              border-left: 5px solid #0565ff; }
              #server-app-container #menu-area aside #main-nav #items-menu li.active a, #server-app-container #menu-area aside #main-nav #items-menu li.active .sf-menu-option-link {
                background-color: #e1e1e1; }
                #server-app-container #menu-area aside #main-nav #items-menu li.active a i, #server-app-container #menu-area aside #main-nav #items-menu li.active .sf-menu-option-link i {
                  padding-left: 5px !important; }
            #server-app-container #menu-area aside #main-nav #items-menu li a, #server-app-container #menu-area aside #main-nav #items-menu li .sf-menu-option-link {
              display: inline-block;
              height: 40px;
              width: 100%;
              padding-left: 10px;
              padding-top: 12px;
              text-align: center;
              vertical-align: middle; }
              #server-app-container #menu-area aside #main-nav #items-menu li a .menu-icon-container, #server-app-container #menu-area aside #main-nav #items-menu li .sf-menu-option-link .menu-icon-container {
                padding: 0;
                color: #808080;
                display: block;
                height: auto;
                width: auto; }
              #server-app-container #menu-area aside #main-nav #items-menu li a i, #server-app-container #menu-area aside #main-nav #items-menu li .sf-menu-option-link i {
                float: left;
                padding: 0 10px;
                font-size: 17px;
                display: block; }
              #server-app-container #menu-area aside #main-nav #items-menu li a span.menu-label, #server-app-container #menu-area aside #main-nav #items-menu li .sf-menu-option-link span.menu-label {
                float: left;
                font-size: 14px;
                padding-left: 10px;
                letter-spacing: 0;
                margin-bottom: 0px;
                width: auto;
                color: var(--colorText);
                text-align: center; }
            #server-app-container #menu-area aside #main-nav #items-menu li.sf-nav-separator {
              height: 1px;
              margin: 10px 0; } }

@media screen and (min-width: 1041px) and (max-width: 1399px) {
  #menu-area #app-navigation #main-nav ul {
    /*.sf-nav-administration-item {
                        display: none !important;
                    }

                    .sf-nav-administration-collapse-item {
                        display: inline-block !important;
                        cursor: pointer;
                        display: inline-block;
                        margin-bottom: 6px;
                        position: relative;
                        text-align: center;
                        border-radius: 4px;

                        .menu-icon-container {
                            @include border-radius(4px);
                            color: $nav-icon-normal-color;
                            display: inline-block;
                            height: 42px;
                            padding: 12px;
                            width: 42px;

                            i {
                                font-size: $nav-menu-icon-size;
                            }
                        }

                        .sub-menu {
                            left: 50px;
                            bottom: 0px;
                            padding: 6px;
                            margin: 0px;
                            border: 0;

                            .sf-nav-item {
                                float: left;
                                margin: 0;

                                .sf-nav-link {
                                    padding: 0;

                                    .menu-icon-container {
                                        i {
                                            padding: 0px;
                                        }
                                    }
                                }

                                &:not(:first-child) {
                                    margin-left: 8px;
                                }
                            }
                        }

                        &:hover {
                            background-color: $app-background-hover;
                        }

                        &.active {
                            background-color: $primary-selected-color;

                            .su, .menu-label {
                                color: $primary;
                            }
                        }

                        .dropdown-backdrop {
                            cursor: default;
                        }
                    }*/ }
  #menu-area #app-navigation #main-nav .sf-nav-separator {
    display: none !important; }
    #menu-area #app-navigation #main-nav .sf-nav-separator.logo-separator {
      display: block !important; } }

.dropdown-menu li .sub-menu-profile-text-padding:hover {
  background: none;
  cursor: default; }

.dropdown-menu li div a .sub-menu-profile-hover:hover {
  background: #eeeeee;
  cursor: pointer; }
