<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Syncfusion.Server.IdentityProvider.API.Core.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\api" hostingModel="outofprocess" requestTimeout="00:20:00" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 15cc61ce-f756-40a6-a31e-8b689918b046-->