<div id="disable-mfa-confirmation"></div>
<div id="disable-mfa-confirmation-dialog-content">@Html.Raw(string.Format(T["Are you sure you want to disable two factor authentication for this user account {0} {1}?"].Value, "-", ViewBag.UserDetail.Username))
</div>