<div id="add-tenants-report-dialog-content" class="col-xs-12 no-padding">
    <div class="col-xs-12 status-text no-padding">
        <span class="status-display-msg">[[[Granting user access to sites]]] </span>
        <span class="status-description"></span>
        <div id="csv-download">
            [[[Please download the detailed report]]] <a class="report-download">[[[here]]]</a>.
        </div>
    </div>
    <div class="col-xs-12 status-table no-padding">
        <table class="report-table">
            <tbody>
                <tr class="title-row">
                    <td>
                        [[[Total]]]
                    </td>
                    <td>
                        [[[Success]]]
                    </td>
                    <td>
                        [[[Skipped]]]
                        <span tabindex="0" class="info-icon su su-info" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="[[[Users who already have access to the selected site(s) were skipped.]]]"></span>
                    </td>
                    <td>
                        [[[Failed]]]
                    </td>
                    <td>
                        [[[Status]]]
                    </td>
                </tr>
                <tr class="content-row">
                    <td id="total-count">
                    </td>
                    <td id="success-count">
                    </td>
                    <td id="skip-count">
                    </td>
                    <td id="fail-count">
                    </td>
                    <td id="status">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>