@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <script type="text/x-jsrender" id="application-name-template">
        <a class="item-name grid-content" title="{{:TenantName}}" data-toggle="tooltip" href="@Url.Action("ViewSite","TenantsManagement")/{{:Id}}">{{:TenantName}}</a>
    </script>
    <script type="text/x-jsrender" id="application-url-template">
        <a class="grid-content" title="{{:SiteUrl}}" data-toggle="tooltip" href="{{:SiteUrl}}">{{:SiteUrl}}</a>
    </script>
    <script type="text/x-jsrender" id="admin-checkbox-row-template">
        <input type="checkbox" class="checkbox-row material-checkbox" data-checked-id="{{:Id}}" id="admin-row-check{{:Id}}" data-id="{{:Id}}" />
        <input name="admin-row-check{{:Id}}" type="hidden" value="false">
        <label for="admin-row-check{{:Id}}" class="admin-checkbox-row-label"> </label>
    </script>

    <script type="text/x-jsrender" id="applicationname-header">
        <div class="item-name">[[[Site Name]]]</div>
    </script>
    <script type="text/x-jsrender" id="application-url-header">
        <div class="item-header">[[[Site URL]]]</div>
    </script>

    <script type="text/x-jsrender" id="admin-checkbox-header-template">
        @Html.CheckBox("admin-checkbox-header", new { @class = "material-checkbox" })
        @Html.Label("admin-checkbox-header", " ", new { @class = "admin-checkbox-header-label" })
    </script>
</head>
<div id="add-tenants-dialog-content" class="modal-body col-xs-12">
    <div id="add-user-search-area" class="pull-right">
        <input type="text" class="pull-left" id="add-tenant-search" placeholder="[[[Search sites]]]" />
        <span class="su su-inner-close close-icon pull-left" id="add-tenant-clear-search" title="[[[Clear search]]]"></span>
        <span class="su su-search search-icon pull-left" title="[[[Search]]]"></span>
    </div>
    <div class="col-xs-12 no-padding">
        <div id="add_tenants_grid">
        </div>
    </div>
    <div class="col-xs-12 no-padding">
        <div class="note-info"><span class="note-text">[[[Note]]]:</span><span>[[[ Select the users who would be granted site access.]]]</span></div>
    </div>
</div>

