@{
    Layout = null;

}

<div class="modal no-padding" id="add-tenants-report" tabindex="-1" role="dialog">
    <div class="col-lg-12 modal-dialog no-padding" role="document">
    <div class="col-lg-12 modal-content no-padding" autocomplete="off">
        <div class="col-md-12 modal-header">
            <div class="col-xs-8 no-padding">
                <i class="su head-icon"></i>
                <span class="modal-title">[[[Manage User Access]]]</span>
            </div>
            <div class="col-xs-4 no-padding">
                <a href="javascript:void(0);" onclick="onTenantsReportDialogClose()" class="close"><i class="su su-close"></i></a>
            </div>
        </div>
        <div class="modal-body col-xs-12">
            <div class="col-xs-12 status-text">
                <span class="status-display-msg">[[[Granting user access to sites]]] </span>
                <span class="status-description"></span>
                <div id="csv-download">
                    [[[Please download the detailed report]]] <a class="report-download">[[[here]]]</a>.
                </div>
            </div>
            <div class="col-xs-12 status-table">
                <table class="report-table">
                    <tbody>
                        <tr class="title-row">
                            <td>
                                [[[Total]]]
                            </td>
                            <td>
                                [[[Success]]]
                            </td>
                            <td>
                                [[[Skipped]]]
                                <span tabindex="0" class="info-icon su su-info" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="[[[Users who already have access to the selected site(s) were skipped.]]]"></span>
                            </td>
                            <td>
                                [[[Failed]]]
                            </td>
                            <td>
                                [[[Status]]]
                            </td>
                        </tr>
                        <tr class="content-row">
                            <td id="total-count">
                            </td>
                            <td id="success-count">
                            </td>
                            <td id="skip-count">
                            </td>
                            <td id="fail-count">
                            </td>
                            <td id="status">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 modal-footer add-user-dialog-footer no-right-padding no-left-padding">
            <input type="button" onclick="onTenantsReportDialogClose()" class="secondary-button popup-close" value="[[[Close]]]" />
        </div>
    </div>
	</div>
</div>

