<div class="modal" id="user-delete-confirmation" tabindex="-1" role="dialog">
    <div class="col-lg-12 modal-dialog no-padding" role="document">
        <div class="col-lg-12 modal-content no-padding" autocomplete="off">
            <div class="col-md-12 modal-header">
                <div class="col-8 float-start no-padding">
                    <i class="su su-delete head-icon"></i>
                    <span class="modal-title">@T["Delete User"]</span>
                </div>
                <div class="col-4 float-start no-padding">
                    <a href="#" class="close text-decoration-none" id="user-delete-dialog-close">
                        <i class="su su-close"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body col-12 float-start">
                <div class="col-12 float-start no-left-padding no-bottom-padding no-right-padding">
                    <div class="delete-msg">@T["Are you sure you want to delete the User(s)?"]</div>
                </div>
            </div>
            <div class="col-12 float-start modal-footer">
                <div class="col-4 float-start">
                    <input type="hidden" id="hiddenId" value="@ViewBag.id"/>
                </div>
                <div class="col-8 float-start no-padding">
                    <input type="hidden" value="">
                    <input type="button" class="critical-action-button multiple-delete" value="Yes"/>
                    <input type="button" id="delete-dialog-close" class="secondary-button popup-close" value="No"/>
                </div>
            </div>
        </div>
    </div>
</div>
