<div id="recovery-code-regeneration-confirmation"></div>
<div id="recovery-code-regeneration-confirmation-dialog-content">
    @{
#pragma warning disable SCS0029
    }
    @Html.Raw(string.Format(T["Existing recovery codes will no longer be valid. Are you sure you want the recovery codes to be regenerated for this user account {0} {1}?"].Value, "-", ViewBag.UserDetail.Username))
    @{
#pragma warning restore SCS0029
    }
</div>