@{
    var requestUrl = new Uri(this.Context.Request.GetDisplayUrl());
    var currentUrl = requestUrl.LocalPath.TrimEnd('/');
    var userListUrl = Url.Action("index", "UserManagement");
    var groupListUrl = Url.Action("group", "group");
}

<nav id="admin-nav">
    <ul>
        <li>
            <a class="admin-menu-item @(currentUrl.Contains("users") || currentUrl.Equals(userListUrl, StringComparison.CurrentCultureIgnoreCase) ? "active" : string.Empty)" href="@userListUrl" role="tab">
                <i class="su su-single-user"></i>
                <span>Users</span>
            </a>
        </li>
        <li>
            <a class="admin-menu-item @(currentUrl.Contains("groups") ? "active" : string.Empty)" href="@groupListUrl" role="tab">
                <i class="su su-group-1"></i>
                <span>Groups</span>
            </a>
        </li>
    </ul>
</nav>