@import"../../themes/_light_cloud.scss";
@import"../../core/_typography.scss";
@import"../../global.scss";

body {
    #server-app-container {
        #content-area {
            background-color: $primary-bg-color !important;
        }
    }

    .profile-content {
        width: 100%;
        background-color: $white;
        padding: 0 0 30px 0;

        .oval {
            margin: 50px auto 0 auto;
            text-align: center;

            .profile-pic-tag {
                font-size: 45px;
            }
        }

        .profile-top {
            width: 100%;
            height: 111px;
            background-color: $grey-100;
            border-bottom: solid 1px $app-background-hover;

            .profile-heading-text {
                font-family: $primary-text-color;
                font-size: 20px;
                padding: 20px 0 0 40px;
            }
        }

        .profile-top-1 {
            .edit-button-proflie {
                float: right;
                margin: 73px 53px 0 0;

                .span-edit {
                    color: $primary;
                    margin-right: 22px;

                    .edit-option-profile {
                        padding: 0 0 0 9px;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                .su {
                    padding: 8px;
                    text-align: center;

                    &:hover {
                        background-color: $selected-color;
                        cursor: pointer;
                    }
                }

                &.open {
                    .su {
                        background-color: $selected-color;
                        cursor: pointer;
                    }
                }


                ul {
                    position: relative;
                    margin-top: 24px;
                    margin-right: -100px;
                    padding: 0;

                    li {
                        font-family: $primary-font;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.5;
                        letter-spacing: 0.3px;
                        color: $primary-text-color;
                        padding: 7px 8px 5px 8px;
                        margin: 5px 0;

                        a {
                            padding: 0px;
                        }

                        &:hover {
                            background-color: $app-background-hover;
                            cursor: pointer;
                        }
                    }
                }
            }

            .profile-full-name {
                padding: 67px 0 0 0;
                display: inline-block;
                font-family: $primary-font;
                font-size: 20px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: 0.3px;
                color: $primary-text-color;

                .profile-displayname {
                    display: block;
                }

                .profile-edit-name {
                    font-size: 12px;
                    display: none;


                    input {
                        padding: 3px 8px;
                    }

                    .profile-edit-space {
                        margin: 0 4px 0 12px;
                    }

                    .su-tick {
                        display: inline-block;
                        padding: 8px 8px;

                        &:hover {
                            background-color: $white;
                            cursor: pointer;
                        }
                    }

                    .su-close {
                        display: inline-block;
                        padding: 8px 8px;
                        margin-left: 1px;

                        &:hover {
                            background-color: $white;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        #title {
            width: 100px;
            height: 100px;
        }

        table {
            margin-top: 28px;

            .label-left-name {
                font-family: $primary-font;
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.28px;
                color: $nav-icon-normal-color;
                padding: 16px 31px 0px 3px;
            }

            .label-right-name {
                font-family: $primary-font;
                font-size: 13px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.31;
                letter-spacing: 0.2px;
                color: $primary-text-color;
                padding-top: 16px;

                a {
                    color: $primary-text-color;
                }

                .su-edit {
                    display: inline-block;
                    padding-right: 9px;
                }

                #status-user, #status-org-user {
                    border: none;
                    padding-top: 0px;
                }

                #completed-status, #pending-status {
                    padding: 0;
                }
            }
        }

        .group-notification {
            width: 90%;

            .profilepage-line {
                margin: 30px 0 29px 0;
                border: solid 1px $app-background-hover;
            }

            .profile-page-groups {
                font-family: $primary-font;
                font-size: 16px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.4px;
                color: $nav-icon-normal-color;
                margin: 29px 0 0 0;
            }

            .profile-server-team {
                border-radius: 4px;
                border: solid 1px #dedede;
                height: auto;
                vertical-align: middle;
                padding: 16px;
                margin: 20px 20px 0 0;
                display: inline-block;

                .profile-team-logo {
                    border-radius: 16px;
                    width: 32px;
                    height: 32px;
                    display: inline-block;
                    text-align: center;
                    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
                    font-family: $primary-font;
                    font-size: 16px;
                    font-weight: 700;
                    font-style: normal;
                    font-stretch: normal;
                    float: left;
                    line-height: 32px;
                    letter-spacing: 0.24px;
                }


                .profile-team-text {
                    font-family: $primary-font;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.71;
                    letter-spacing: 0.26px;
                    color: $primary-text-color;
                    padding: 5px 0 0 8px;
                    display: inline-block;
                    width: 154px;
                    overflow: hidden;
                    height: 28px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            #notification-settings {
                #notification-heading-form-div {
                    font-family: $primary-font;
                    font-size: 16px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.4px;
                    color: $nav-icon-normal-color;
                    margin: 0;
                }

                #notification-preference-form-div {
                    .notification-preference-form {

                        #cancel-settings {
                            margin: 0 0 0 20px;
                        }

                        .notification-preference-table {
                            .margin-top16 {
                                margin-top: 16px;

                                .text-right {
                                    margin: 8px 0 5px 0;
                                    height: 18px;
                                    font-family: $primary-font;
                                    font-size: 12px;
                                    font-weight: normal;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: 1.5;
                                    letter-spacing: 0.3px;
                                    color: $primary-text-color;

                                    #settings-info-tag {
                                        padding-left: 10px;
                                        display: inline-block;

                                        .dropdown-menu {
                                            padding: 5px;
                                            left: auto;
                                            width: 170px;
                                        }
                                    }
                                }
                            }

                            .dropdown {
                                margin-left: 20px;

                                .bootstrap-select {
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }

            #inherit-settings-info {
                margin: 30px 0;
                font-size: 12px;
            }
        }
    }

    @media screen and (max-width: 767px) {
        .profile-content {
            .profile-top {
                .oval {
                    margin: 86px 0 0 0;
                    width: 100%;
                    height: 100px;
                }
            }

            .profile-top-1 {
                .profile-full-name {
                    padding: 0px;
                    width: 100%;
                    text-align: center;
                }

                .edit-button-proflie {
                    margin: -200px 10px 0 0;

                    .span-edit {
                        margin: 0 10px 0 5px;
                    }
                }
            }

            table {
                margin: auto;
            }

            .group-notification {
                width: 100%;

                .profile-page-groups {
                    padding-left: 20px;
                }

                .small-padding-in-profile {
                    padding-left: 20px;
                }
            }
        }
    }
}
