@-ms-viewport {
  width: auto !important; }

.dashboard-server *, .base-comment-container *, .server-dashboard-view *, #viewShare_popup *, .schedule-dialog *, #get-item-link_wrapper *, #messageBox_wrapper *, #delete-div_wrapper *, #permission_delete_confirmation_wrapper *, #designer-header * {
  font-family: var(--font-family); }

.e-icon, .e-rte-toolbar-icon, .e-background-color, .e-font, .e-rte-footericon, .e-resize-handle {
  font-family: 'ej-webfont' !important; }

html, body {
  height: 100%;
  width: 100%;
  font-family: var(--font-family) !important; }

::-ms-clear {
  display: none; }

input::-ms-clear, input::-ms-reveal {
  display: none; }

a:hover, a:focus {
  text-decoration: none !important; }

.suspension-warning, .user-warning {
  position: absolute;
  color: #000;
  text-align: center;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  -moz-box-shadow: 0 0 5px #000;
  top: 0;
  width: 100%;
  margin-left: -80px; }
  .suspension-warning .warning-content, .suspension-warning .user-warning-content, .user-warning .warning-content, .user-warning .user-warning-content {
    position: relative;
    padding: 10px;
    background: #fde073;
    background-color: #e57768;
    color: white; }
    .suspension-warning .warning-content a, .suspension-warning .user-warning-content a, .user-warning .warning-content a, .user-warning .user-warning-content a {
      color: white;
      text-decoration: underline; }
  .suspension-warning .close-warning-icons, .suspension-warning .close-user-warning-icons, .user-warning .close-warning-icons, .user-warning .close-user-warning-icons {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 2px;
    padding: 12px;
    border-radius: 10px; }

.profile-pic-tag {
  border-radius: 50%;
  color: var(--colorText);
  display: inline-block;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 2px;
  position: relative;
  text-align: center; }

#default-profile-image {
  border-radius: 50%;
  left: 0;
  position: absolute; }

.user-warning-space, .suspension-warning-space {
  padding-top: 45px !important; }

a {
  cursor: pointer;
  color: var(--colorPrimary); }
  a:hover {
    color: #007aff; }
  a:hover, a:focus {
    text-decoration: none !important; }

.dropdown-menu.inner li:hover a {
  background-color: #b3b3b3; }

.dropdown-menu.inner li.selected a {
  background-color: #dbe9ff; }

body #server-app-container #content-area {
  background-color: #fff !important; }

body .profile-content {
  width: 100%;
  background-color: #fff;
  padding: 0 0 30px 0; }
  body .profile-content .oval {
    margin: 50px auto 0 auto;
    text-align: center; }
    body .profile-content .oval .profile-pic-tag {
      font-size: 45px; }
  body .profile-content .profile-top {
    width: 100%;
    height: 111px;
    background-color: #e6e6e6;
    border-bottom: solid 1px #eeeeee; }
    body .profile-content .profile-top .profile-heading-text {
      font-family: var(--colorText);
      font-size: 20px;
      padding: 20px 0 0 40px; }
  body .profile-content .profile-top-1 .edit-button-proflie {
    float: right;
    margin: 73px 53px 0 0; }
    body .profile-content .profile-top-1 .edit-button-proflie .span-edit {
      color: #0565ff;
      margin-right: 22px; }
      body .profile-content .profile-top-1 .edit-button-proflie .span-edit .edit-option-profile {
        padding: 0 0 0 9px; }
      body .profile-content .profile-top-1 .edit-button-proflie .span-edit:hover {
        cursor: pointer; }
    body .profile-content .profile-top-1 .edit-button-proflie .su {
      padding: 8px;
      text-align: center; }
      body .profile-content .profile-top-1 .edit-button-proflie .su:hover {
        background-color: #dbe9ff;
        cursor: pointer; }
    body .profile-content .profile-top-1 .edit-button-proflie.open .su {
      background-color: #dbe9ff;
      cursor: pointer; }
    body .profile-content .profile-top-1 .edit-button-proflie ul {
      position: relative;
      margin-top: 24px;
      margin-right: -100px;
      padding: 0; }
      body .profile-content .profile-top-1 .edit-button-proflie ul li {
        font-family: var(--font-family);
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: var(--colorText);
        padding: 7px 8px 5px 8px;
        margin: 5px 0; }
        body .profile-content .profile-top-1 .edit-button-proflie ul li a {
          padding: 0px; }
        body .profile-content .profile-top-1 .edit-button-proflie ul li:hover {
          background-color: #eeeeee;
          cursor: pointer; }
  body .profile-content .profile-top-1 .profile-full-name {
    padding: 67px 0 0 0;
    display: inline-block;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: var(--colorText); }
    body .profile-content .profile-top-1 .profile-full-name .profile-displayname {
      display: block; }
    body .profile-content .profile-top-1 .profile-full-name .profile-edit-name {
      font-size: 12px;
      display: none; }
      body .profile-content .profile-top-1 .profile-full-name .profile-edit-name input {
        padding: 3px 8px; }
      body .profile-content .profile-top-1 .profile-full-name .profile-edit-name .profile-edit-space {
        margin: 0 4px 0 12px; }
      body .profile-content .profile-top-1 .profile-full-name .profile-edit-name .su-tick {
        display: inline-block;
        padding: 8px 8px; }
        body .profile-content .profile-top-1 .profile-full-name .profile-edit-name .su-tick:hover {
          background-color: #fff;
          cursor: pointer; }
      body .profile-content .profile-top-1 .profile-full-name .profile-edit-name .su-close {
        display: inline-block;
        padding: 8px 8px;
        margin-left: 1px; }
        body .profile-content .profile-top-1 .profile-full-name .profile-edit-name .su-close:hover {
          background-color: #fff;
          cursor: pointer; }
  body .profile-content #title {
    width: 100px;
    height: 100px; }
  body .profile-content table {
    margin-top: 28px; }
    body .profile-content table .label-left-name {
      font-family: var(--font-family);
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.28px;
      color: #808080;
      padding: 16px 31px 0px 3px; }
    body .profile-content table .label-right-name {
      font-family: var(--font-family);
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.31;
      letter-spacing: 0.2px;
      color: var(--colorText);
      padding-top: 16px; }
      body .profile-content table .label-right-name a {
        color: var(--colorText); }
      body .profile-content table .label-right-name .su-edit {
        display: inline-block;
        padding-right: 9px; }
      body .profile-content table .label-right-name #status-user, body .profile-content table .label-right-name #status-org-user {
        border: none;
        padding-top: 0px; }
      body .profile-content table .label-right-name #completed-status, body .profile-content table .label-right-name #pending-status {
        padding: 0; }
  body .profile-content .group-notification {
    width: 90%; }
    body .profile-content .group-notification .profilepage-line {
      margin: 30px 0 29px 0;
      border: solid 1px #eeeeee; }
    body .profile-content .group-notification .profile-page-groups {
      font-family: var(--font-family);
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: #808080;
      margin: 29px 0 0 0; }
    body .profile-content .group-notification .profile-server-team {
      border-radius: 4px;
      border: solid 1px #dedede;
      height: auto;
      vertical-align: middle;
      padding: 16px;
      margin: 20px 20px 0 0;
      display: inline-block; }
      body .profile-content .group-notification .profile-server-team .profile-team-logo {
        border-radius: 16px;
        width: 32px;
        height: 32px;
        display: inline-block;
        text-align: center;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        float: left;
        line-height: 32px;
        letter-spacing: 0.24px; }
      body .profile-content .group-notification .profile-server-team .profile-team-text {
        font-family: var(--font-family);
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 0.26px;
        color: var(--colorText);
        padding: 5px 0 0 8px;
        display: inline-block;
        width: 154px;
        overflow: hidden;
        height: 28px;
        text-overflow: ellipsis;
        white-space: nowrap; }
    body .profile-content .group-notification #notification-settings #notification-heading-form-div {
      font-family: var(--font-family);
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: #808080;
      margin: 0; }
    body .profile-content .group-notification #notification-settings #notification-preference-form-div .notification-preference-form #cancel-settings {
      margin: 0 0 0 20px; }
    body .profile-content .group-notification #notification-settings #notification-preference-form-div .notification-preference-form .notification-preference-table .margin-top16 {
      margin-top: 16px; }
      body .profile-content .group-notification #notification-settings #notification-preference-form-div .notification-preference-form .notification-preference-table .margin-top16 .text-right {
        margin: 8px 0 5px 0;
        height: 18px;
        font-family: var(--font-family);
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: var(--colorText); }
        body .profile-content .group-notification #notification-settings #notification-preference-form-div .notification-preference-form .notification-preference-table .margin-top16 .text-right #settings-info-tag {
          padding-left: 10px;
          display: inline-block; }
          body .profile-content .group-notification #notification-settings #notification-preference-form-div .notification-preference-form .notification-preference-table .margin-top16 .text-right #settings-info-tag .dropdown-menu {
            padding: 5px;
            left: auto;
            width: 170px; }
    body .profile-content .group-notification #notification-settings #notification-preference-form-div .notification-preference-form .notification-preference-table .dropdown {
      margin-left: 20px; }
      body .profile-content .group-notification #notification-settings #notification-preference-form-div .notification-preference-form .notification-preference-table .dropdown .bootstrap-select {
        padding: 0; }
    body .profile-content .group-notification #inherit-settings-info {
      margin: 30px 0;
      font-size: 12px; }

@media screen and (max-width: 767px) {
  body .profile-content .profile-top .oval {
    margin: 86px 0 0 0;
    width: 100%;
    height: 100px; }
  body .profile-content .profile-top-1 .profile-full-name {
    padding: 0px;
    width: 100%;
    text-align: center; }
  body .profile-content .profile-top-1 .edit-button-proflie {
    margin: -200px 10px 0 0; }
    body .profile-content .profile-top-1 .edit-button-proflie .span-edit {
      margin: 0 10px 0 5px; }
  body .profile-content table {
    margin: auto; }
  body .profile-content .group-notification {
    width: 100%; }
    body .profile-content .group-notification .profile-page-groups {
      padding-left: 20px; }
    body .profile-content .group-notification .small-padding-in-profile {
      padding-left: 20px; } }
