<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CopyrightInformation>Copyright &amp;copy 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved.</CopyrightInformation>
  <InstallationFolder>Syncfusion</InstallationFolder>
  <IsEnableCopyrightInfo>true</IsEnableCopyrightInfo>
  <IsEnablePoweredBySyncfusion>true</IsEnablePoweredBySyncfusion>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <OrganizationName>Syncfusion Server</OrganizationName>
  <DRM>be7gBPnSp1m9AjQu6YwkcX13jnvd7LT/jA3mCIWwbw9HBPFOOc6j3mAjR6a9fI7uhVl58JtVKZgKhU72cy2D+nTUmhqpo7mYZ9na59VL9B/pAZw45N+zRA3aPDVZNDTVO+7MrcwirpEzeD+oZZTSbl3UY/MGaXU/cZNm/ZOQWKHJgaj34dbLtmEdaot59ULwwlXB1QXu199ow6GVvMmxbUO3v7AnwckUbv/6AK/pw+RFgvrzIsVH7geySIhiwXxn1jS9/uOP6Ih/aIpqSrJqXwxcTpG0bhFNNRn+MgYDLxfMmYK7j685Q0czE5tbIO1ale12alaaqNFqN4LSCCIsPpWDR4QdhNkMyFLLqqjsyTzhaWrNtBno+EE1mzcMrD9jFvI90Mf6bGnwXJEkh+n/aw4K/rkDl0Q+J9fOPsiGU7J9R81qEov95JzEViNTO3dgYvVAjTUYX+67w4FHzKgznYmp1io+8jXmQYIBzKYkwQQd/waLQLD85gW2AjQTJjc1kXoPPxqFj6TaHMA92dCHLF9O0xhZe0QzlVP1+ooAx8iWogtfrHt1mASp6zOxN8le4X44MS4Bx1GzImQIoCyRpgmX5P6qLmru+LxQ3m8uJuePbylDHFA3Z2BBCB9965+SBeSDyyhnQvvUh/Vswj8oTEx4uTy5aATY3wp7oOXO2eiOYljBDEDj6Fj0HyvHFRHpraqR+m0VE21uzIvu44Wlsd8RHo9PgHVXiPxVB96gEmEpENN0kOyhDNOEODvhehiTgyAQoPby20eXwcpO11ky+rPPda78zoPpfBv8Pg8t/+HkNVOVWeduhMBNnwPWfoicajhFoqrStzgcn0yYRYXOfg==</DRM>
  <SqlConfiguration>
  </SqlConfiguration>
  <StorageType>0</StorageType>
  <WelcomeNoteText>Welcome to Syncfusion Server</WelcomeNoteText>
  <TimeFormat>false</TimeFormat>
</SystemSettings>