@import '../themes/_light_cloud.scss';
@import '../components/_buttons.scss';

#body {
    padding: 15px 15px 50px 15px !important;

    .boldsign-parent {
        .boldsign-child {
            .boldsign-main-content {
                font-family: 'Heebo', sans-serif;

                a {
                    color: $blue;
                }

                a:hover, a:focus {
                    color: $blue;
                }

                .danger-border {
                    border: 1px solid #ff3b30 !important;
                }

                #button-container {
                    margin-top: 33px;
                    margin-bottom: 24px;

                    #create-account, #create-boldsign-account, #authenticated-create-boldsign-account {
                        color: $text-white;
                        width: 320px;
                        height: 40px;
                        font-size: 16px;
                        font-weight: 500;

                        disabled {
                            background: $grey-200;
                            cursor: default;
                            border: none;
                            color: $text-white;
                        }
                    }

                    .sf-button:disabled {
                        background: $grey-200;
                        cursor: default;
                        border: none;
                        color: $text-white;
                    }
                }

                #create-account-container {
                    height: 450px;
                    width: 320px;
                    font-size: 14px;

                    #authenticated-signup {
                        p {
                            font-size: 12px;

                            a {
                                color: $email-validation-text;
                                text-decoration: underline !important;

                                &:hover {
                                    color: $email-validation-text;
                                    cursor: pointer;
                                }
                            }
                        }

                        #button-container {
                            margin-bottom: 48px;
                        }
                    }

                    h4 {
                        margin: 0;
                        text-align: left;
                        font-weight: 400;
                        font-size: 24px;
                        height: 26px;
                        color: $header-color;
                    }

                    .email-header {
                        float: left;
                        padding: 12px 0 20px 0;
                        text-align: left;
                        margin: 0;
                        font-size: 14px;
                        color: $sub-text;
                    }

                    #boldsign-email {
                        height: 40px;
                        width: 320px;
                        border-color: $border;
                        border-radius: 4px;

                        disabled {
                            background: $disabled;
                            cursor: default;
                            border: none;
                            color: $text-white;
                        }
                    }

                    .validation-message {
                        float: left;
                        text-align: left;
                        color: $validation-text-color;
                        font-size: 12px;
                        padding: 8px 0 24px 0;
                    }

                    .concent-text {
                        float: left;
                        padding: 0 0 24px 0;
                        text-align: left;
                        margin: 0;
                        color: $sub-text;
                        font-size: 12px;
                    }

                    .divider-container {
                        padding: 0;

                        .connect-line-left {
                            width: 45%;
                            float: left;
                            margin: 0;
                            margin-top: 9px;
                            position: absolute;
                            border-top: 1.3px dashed $grey-400;
                        }

                        .connect-line-right {
                            width: 45%;
                            float: right;
                            margin: 0;
                            margin-top: -8px;
                            border-top: 1.3px dashed $grey-400;
                        }
                    }

                    ::-moz-selection { /* Code for Firefox */
                        color: $text-white;
                        background: $blue;
                    }

                    ::selection {
                        color: $text-white;
                        background: $blue;
                    }
                }

                #verify-account-container {
                    height: 400px;
                    width: 320px;

                    h4 {
                        margin: 0;
                        text-align: left;
                        font-weight: 400;
                        font-size: 24px;
                        color: $header-color;
                        line-height: 26px;
                        padding-bottom: 12px;
                    }

                    #verify-account-header {
                        float: left;
                        padding: 10px 0 25px 0;
                        text-align: left;
                        margin: 0;
                        font-size: 14px;
                        color: $sub-text;
                        font-weight: 400;
                        line-height: 20px;
                        padding-bottom: 24px;
                    }

                    #verification-code-field {
                        position: relative;

                        #verification-code {
                            height: 30px;
                            letter-spacing: 0.34px;
                            padding-left: 10px;
                            font-size: 16px;
                            font-weight: 500;
                            border: 1px solid $border;
                            border-radius: 4px;

                            disabled {
                                background: $disabled;
                                cursor: default;
                                border: none !important;
                            }
                        }

                        .verification-complete {
                            position: absolute;
                            right: -25px;
                            top: 85px;
                        }

                        #code-expiry-info {
                            text-align: left;
                            font-size: 14px;
                            padding-top: 12px;
                            color: $email-validation-text;
                        }

                        #verifiation-error {
                            color: $danger;
                            display: none;
                            float: right;
                        }

                        ::-moz-selection { /* Code for Firefox */
                            color: $sub-text;
                            background: $white;
                        }

                        ::selection {
                            color: $sub-text;
                            background: $white;
                        }
                    }

                    #create-and-continue-field {
                        padding-top: 40px;

                        #create-password-field {
                            position: relative;

                            .popover {
                                left: 345px !important;
                            }

                            .su.su-boldsign-show {
                                position: absolute;
                                right: 10px;
                                top: 14px;
                                cursor: pointer;
                                color: $password-show-hide;
                                font-size: 15px;
                            }

                            #create-password {
                                height: 40px;
                                width: 90%;
                                border-radius: 4px;
                            }

                            #create-password + .popover {
                                background: $primary-black;
                                opacity: 0.8;
                                width: 176px;
                                top: -85px !important;

                                .arrow {
                                    top: 51% !important;
                                }

                                .arrow::after {
                                    border-right-color: $sub-text;
                                    opacity: 0.8;
                                }

                                .popover-title {
                                    background: $primary-black;
                                    opacity: 0.8;
                                    color: $border;
                                    font-size: 12px;
                                    letter-spacing: 0.3px;
                                    line-height: 18px;
                                    padding: 20px 14px 0 10px;
                                    text-align: center;
                                    border: none;
                                }

                                .popover-content {
                                    padding-top: 0px;
                                    height: 156px;

                                    ul {
                                        list-style: none;
                                        padding: 0px;

                                        li {
                                            height: 20px;
                                            margin: 9px 0px;

                                            span.icon {
                                                height: 16px;
                                                width: 16px;
                                                margin: 0 auto;
                                                border-radius: 50%;
                                                border: 1px solid $white;
                                                display: inline-block;
                                                float: left;
                                            }

                                            span.su-boldsign-valid-tick {
                                                float: left;
                                            }

                                            span.content {
                                                margin-left: 10px;
                                                color: $white;
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                }
                            }

                            .password-complete {
                                position: absolute;
                                right: -25px;
                                top: 12px;
                            }
                        }

                        #button-container {
                            margin-bottom: 25px;

                            #continue-account-verification {
                                color: $text-white;
                                width: 100%;
                                height: 40px;
                            }
                        }
                    }

                    #resend-field, #new-user-login-field {
                        text-align: left;
                    }

                    #resend-field {
                        color: $sub-text;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        padding-top: 12px;

                        #resend-code {
                            cursor: pointer;
                            font-weight: 500;
                            color: $primary;
                        }
                    }

                    #new-user-login-field {
                        color: $email-validation-text;
                        padding-top: 50px;

                        #cancel-and-create {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }

                #user-info-container {
                    height: 450px;
                    width: 320px;
                    font-size: 14px;

                    h4 {
                        margin: 0;
                        text-align: left;
                        font-weight: 400;
                        font-size: 24px;
                        color: $header-color;
                    }

                    p {
                        float: left;
                        padding: 10px 0 25px 0;
                        text-align: left;
                        margin: 0;
                        font-size: 14px;
                        color: $sub-text;
                    }

                    #user-info {
                        .name-inline {
                            display: inline-block;
                            margin-bottom: 0;
                            vertical-align: middle;
                            width: 49%;
                        }

                        .validation-message {
                            color: $validation-text-color;
                            display: block;
                            height: 30px;
                            font-size: 12px;
                            text-align: left;
                            position: absolute;
                            line-height: 12px;
                        }

                        .input-fields {
                            margin-bottom: 22px;
                        }

                        .fisrt-name {
                            padding-right: 10px;
                        }
                    }

                    ::-moz-selection { /* Code for Firefox */
                        color: $text-white;
                        background: $blue;
                    }

                    ::selection {
                        color: $text-white;
                        background: $blue;
                    }
                }
            }
        }
    }

    .form-control::-webkit-input-placeholder {
        color: $border;
    }
    /* WebKit, Blink, Edge */
    .form-control:-moz-placeholder {
        color: $border;
    }
    /* Mozilla Firefox 4 to 18 */
    .form-control::-moz-placeholder {
        color: $border;
    }
    /* Mozilla Firefox 19+ */
    .form-control:-ms-input-placeholder {
        color: $border;
    }
    /* Internet Explorer 10-11 */
    .form-control::-ms-input-placeholder {
        color: $border;
    }
    /* Microsoft Edge */
    ::-moz-selection { /* Code for Firefox */
        color: $sub-text;
        background: $white;
    }

    ::selection {
        color: $sub-text;
        background: $white;
    }
}

.display-none {
    display: none !important;
}

.su-boldsign-password-info {
    font-size: 16px;
    color: $border;
}

.su-boldsign-valid-tick {
    font-size: 16px;
    color: $password-tick;
}

.code-spacing {
    letter-spacing: 5px !important;
}

.mobile-header-login {
    text-align: center;
}

.text-center {
    text-align: center;
}

.header-img-mobile {
    margin-top: 30px !important;
}

#cance-and-new-setup-container {
    padding: 14px;
    font-family: 'Heebo', sans-serif;
    border-radius: 12px;

    h4 {
        font-size: 20px;
        color: $header-color;
        line-height: 26px;
        padding-bottom: 6px;
        font-weight: 500;
        margin: 0;
    }

    p {
        color: $sub-text;
        font-size: 12px;
        margin: 0;
        padding-bottom: 24px;
    }

    #new-setup-buttons {
        #continue-onboard {
            float: left;
            height: 32px;
            width: 184px;
        }

        #cancel-and-redirect {
            float: right;
            height: 32px;
            width: 90px;
            color: $white;
            font-weight: 500;
        }

        .link-button {
            background: #FFF;
            border: 0;
            border-radius: 4px;
            color: $blue;
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
            font-weight: 600;
            height: 28px;
            line-height: 28px;
            min-width: 90px;
            outline: none;
            text-align: center;
            padding: 0 15px;
            border: 1px solid $blue;
        }
    }
}
