@import '../themes/_light_cloud.scss';

.e-outline.e-float-input.e-control-wrapper.e-input-focus:not(.e-error):not(.e-success):not(.e-warning):not(.e-disabled):not(.e-float-icon-left), .e-outline.e-float-input.e-control-wrapper.e-input-focus:not(.e-error):not(.e-success):not(.e-warning):not(.e-disabled) {
    border-top-color: transparent !important;
    box-shadow: inset 0.1px 0 $blue, inset -0.1px 0 $blue, inset 0 -0.1px $blue !important;
}

.e-outline.e-float-input.e-input-focus:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled), .e-outline.e-float-input.e-control-wrapper.e-input-focus:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) {
    border-color: $blue !important;
}

.e-float-input.e-control-wrapper:not(.e-error).e-input-focus input ~ label.e-float-text {
    color: $blue !important;
}

.e-outline.e-input-focus label.e-float-text::before, .e-outline.e-input-focus label.e-float-text::after, .e-outline.e-float-input.e-input-focus label.e-float-text::before, .e-outline.e-float-input.e-input-focus label.e-float-text::after, .e-outline.e-float-input.e-control-wrapper.e-input-focus label.e-float-text::before, .e-outline.e-float-input.e-control-wrapper.e-input-focus label.e-float-text::after {
    border-top-color: $blue !important;
}

.e-outline.e-float-input.e-input-focus {
    .ng-invalid.ng-touched:not(.ng-exclude) {
        border-top-color: transparent !important;
        box-shadow: inset 0.1px 0 $blue, inset -0.1px 0 $blue, inset 0 -0.1px $blue !important;
    }
}

.e-outline.e-float-input:hover:not(.e-input-focus):not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) {
    border-color: $blue !important;
}

.e-outline.e-float-input:hover.e-valid-input:not(.e-input-focus):not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) label.e-float-text::before, .e-outline.e-float-input:hover.e-valid-input:not(.e-input-focus):not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) label.e-float-text::after {
    border-color: $blue !important;
}

.e-outline.e-float-input:hover:not(.e-input-focus):not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) input:valid ~ label.e-float-text {
    color: $blue !important;
}

.e-outline.e-float-input.e-valid-input:not(.e-success):not(.e-error):not(.e-warning):not(.e-float-icon-left), .e-outline.e-float-input.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-warning):not(.e-float-icon-left), .e-outline.e-float-input.e-valid-input.e-control-wrapper:hover:not(.e-success):not(.e-error):not(.e-warning):not(.e-float-icon-left), .e-outline.e-float-input.e-valid-input.e-control-wrapper:not(.e-success):not(.e-error):not(.e-warning):not(.e-float-icon-left), .e-outline.e-float-input.e-valid-input.e-control-wrapper:hover:not(.e-success):not(.e-error):not(.e-warning):not(.e-float-icon-left):not(.e-disabled), .e-outline.e-float-input.e-valid-input.e-control-wrapper:not(.e-success):not(.e-error):not(.e-warning):not(.e-float-icon-left):not(.e-disabled) {
    border-top-color: transparent !important;
}

.e-outline.e-input-focus input.ng-invalid.ng-touched:not(.ng-exclude), .e-outline.e-float-input:hover:not(.e-input-focus):not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) input.ng-invalid.ng-touched:not(.ng-exclude) {
    border-color: $blue !important;
    border: 0px !important;
}

.e-outline .e-input-focus label.e-float-text::before, .e-outline .e-input-focus label.e-float-text::after, .e-outline.e-input-focus.e-float-input label.e-float-text::before, .e-outline.e-input-focus.e-float-input label.e-float-text::after, .e-outline.e-input-focus.e-float-input.e-control-wrapper label.e-float-text::before, .e-outline.e-input-focuse-float-input.e-control-wrapper label.e-float-text::after {
    border-top: solid 1px !important;
}

.e-outline.e-float-input.e-input-focus:not(.e-input-group):not(.e-float-icon-left):not(.e-disabled):not(.e-success):not(.e-warning).e-error {
    border-top-color: transparent !important;
    box-shadow: inset 0.1px 0 $validation-text-color, inset -0.1px 0 $validation-text-color, inset 0 -0.1px $validation-text-color !important;
}

.e-outline.e-error.e-input-focus:not(.e-success):not(.e-warning) label.e-float-text::before, .e-outline.e-error.e-input-focus:not(.e-success):not(.e-warning) label.e-float-text::after, .e-outline.e-float-input.e-error.e-input-focus:not(.e-success):not(.e-warning) label.e-float-text::before, .e-outline.e-float-input.e-error.e-input-focus:not(.e-success):not(.e-warning) label.e-float-text::after, .e-outline.e-float-input.e-control-wrapper.e-error.e-input-focus:not(.e-success):not(.e-warning) label.e-float-text::before, .e-outline.e-float-input.e-control-wrapper.e-error.e-input-focus:not(.e-success):not(.e-warning) label.e-float-text::after {
    border-top-color: $validation-text-color !important
}

#verification-code-field {
    .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap {
        border: none !important;
        height: 40px;
    }

    .e-input-group:not(.e-float-icon-left):not(.e-float-input).e-input-focus::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after, .e-input-group.e-float-icon-left:not(.e-float-input).e-input-focus .e-input-in-wrap::before, .e-input-group.e-float-icon-left:not(.e-float-input).e-input-focus .e-input-in-wrap::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input).e-input-focus::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input).e-input-focus .e-input-in-wrap::before, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input).e-input-focus .e-input-in-wrap::after {
        width: 0 !important;
    }

    .e-input[disabled], .e-input-group .e-input[disabled], .e-input-group.e-control-wrapper .e-input[disabled], .e-input-group.e-disabled, .e-input-group.e-control-wrapper.e-disabled, .e-float-input input[disabled], .e-float-input.e-control-wrapper input[disabled], .e-float-input textarea[disabled], .e-float-input.e-control-wrapper textarea[disabled], .e-float-input.e-disabled, .e-float-input.e-control-wrapper.e-disabled {
        background: $disabled !important;
        cursor: pointer !important;
    }
}

.e-outline.e-float-input:not(.e-error):not(.e-valid-input):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text.e-label-bottom, .e-outline.e-float-input.e-control-wrapper:not(.e-error):not(.e-valid-input):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text.e-label-bottom, .e-outline.e-float-input:not(.e-error):not(.e-valid-input):not(.e-input-focus) input:valid ~ label.e-float-text.e-label-bottom, .e-outline.e-float-input.e-control-wrapper:not(.e-error):not(.e-valid-input):not(.e-input-focus) input:valid ~ label.e-float-text.e-label-bottom, .e-outline:not(.e-valid-input):not(.e-valid-input):not(.e-input-focus) input:not(:focus):not(:valid) ~ label.e-float-text, .e-outline.e-float-input:not(.e-valid-input):not(.e-input-focus) input:not(:focus):not(:valid):not(.e-valid-input) ~ label.e-float-text, .e-outline.e-float-input.e-control-wrapper:not(.e-valid-input):not(.e-input-focus) input:not(:focus):not(:valid):not(.e-valid-input) ~ label.e-float-text {
    line-height: 55px !important;
}

.e-outline.e-float-input.e-control-wrapper.e-disabled:not(.e-error) input[disabled] ~ label.e-float-text, .e-outline.e-float-input.e-control-wrapper.e-disabled:not(.e-error) input[disabled] ~ label.e-label-top.e-float-text {
    display: none !important;
}

.e-outline.e-float-input input[disabled], .e-outline.e-float-input.e-control-wrapper input[disabled] {
    background: $disabled !important;
    cursor: default !important;
}
