@import '../themes/_light_cloud.scss';

#tenant-registeristration {
    position: relative;
}

.popover-detail-text {
    cursor: pointer;
    color: $icon-info-color;
    position: absolute;
    margin: 12px 15px 15px 15px;
    top: 0;
    right: -50px;

    span {
        font-size: 16px;
    }

    &:hover {
        color: $primary-black;
    }
}

.add-extra-space-site {
    top: 108px;
}

.register-tenant-page {
    height: auto !important;
    background-color: $white;
    padding-bottom: 100px;

    .form-container {
        margin-bottom: 100px !important;
    }

    .free-plan-header {
        padding: 0 !important;
        margin: 27px 0 !important;
    }

    .feature-header {
        margin-bottom: 0 !important;
    }

    .offer-design {
        padding-top: 36px !important
    }

    .reg-header-offer-text {
        line-height: 1.5 !important;
        font-size: 20px !important;
        padding-right: 20px;
    }

    .ready-set-part{
        padding-top: 26px !important;
    } 
    
    .ready-set-header {
        margin-top: 0;
        font-size: 32px !important;
    }

    .ready-set-go-text {
        font-size: 32px !important;
        line-height: 42px !important;
        margin-top: 0 !important;
    }

    .offer-design-logo {
        padding-bottom: 20px;
    }

    .reg-header-info {
        margin-top: 5px !important;
        margin-bottom: 24px !important;

        span {
            display: block;
        }
    }

    .faq-terms-condition, .faq-part {
        padding: 100px 0;
        position: relative;
        float: left;
    }

    .faq-part {
        background-color: $bold-bi-background-color;

        h2 {
            padding-bottom: 80px;
        }

        p.answer-paragraph:first-child {
            margin-bottom: 16px;
        }
    }

    h2 {
        margin: 30px 0 38px 0;
        text-align: center;
        margin: 0 !important;
    }

    .answer-paragraph {
        padding-bottom: 60px;
    }

    .reg-page-bold-text {
        color: $bold-text-color;
        font-weight: normal;

        &:hover {
            color: $bold-link-hover-color;
        }
    }

    p {
        margin: 0;
    }

    .questions-text {
        color: $bold-bi-question-text-color;
        font-family: 'Bitter', serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 25px;
        margin: 0 0 27px 0;
    }

    .questions-right-part {
        padding-left: 20px;
    }

    .questions-left-part {
        padding-right: 20px;
    }
    
    .answer-paragraph {
        font-size: 19px;
        color: $bold-bi-text-color;
        line-height: 33px;
        font-family: 'Heebo', sans-serif;
        margin: 0;
    }

    .last-lest-question {
        p {
            padding-bottom: 0;
        }
    }

    .first-paragraph {
        margin-bottom: 16px;
    }

    .questions-answer {
        border-bottom: 1px solid $bold-bi-border;
        margin-bottom: 70px;
    }

    .terms-condition-part {
        background-color: $white;

        .inside-terms-condition {
            padding: 0 7%;
        }

        h2 {
            text-align: left;
            padding-bottom: 60px;
            margin-left: 20px !important;
        }

        ul {
            margin: 0;

            .last-order {
                margin: 0;
            }

            li {
                font-size: 19px;
                color: $bold-bi-text-color;
                letter-spacing: 0;
                line-height: 33px;
                margin-bottom: 40px;

                div {
                    margin-left: 22px !important;
                }
            }
        }
    }
}

.center-loader {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 375px) {
    #account-activation-popup-content, .activate-tenant-bg {
        width: 320px !important;
    }
}

@media screen and (max-width: 767px) {
    .last-lest-question {
        border-bottom: 1px solid $bold-bi-border;
        margin-bottom: 70px;
        p{
            padding-bottom: 60px !important;
        }
    }
    .inside-terms-condition {
        padding: 0;
    }
}

@media screen and (min-width: 2560px) {
    .register-tenant-page {
        .table-container {
            padding-left: 10% !important;
        }
    }
}

@media screen and (min-width: 1600px) {
    .left-space-faq-terms {
        padding-left: 19%;
    }

    .right-space-faq-terms {
        padding-right: 19%;
    }
}

@media screen and (max-width: 1600px) {
    .left-space-faq-terms {
        padding-left: 14%;
    }

    .right-space-faq-terms {
        padding-right: 14%;
    }
}

@media screen and (max-width: 1440px) {

    .left-space-faq-terms {
        padding-left: 10%;
    }

    .right-space-faq-terms {
        padding-right: 10%;
    }
}

@media screen and (max-width: 1366px) {
    .left-space-faq-terms {
        padding-left: 7%;
    }

    .right-space-faq-terms {
        padding-right: 7%;
    }
}

@media screen and (max-width: 1280px) {
    .left-space-faq-terms {
        padding-left: 14%;
    }

    .right-space-faq-terms {
        padding-right: 14%;
    }

    .reg-header-offer-text {
        font-size: 14px !important;
    }

    .header-ready-text {
        font-size: 24px !important;
    }
}


@media screen and (max-width: 1200px) {
    .left-space-faq-terms {
        padding-left: 6%;
    }

    .right-space-faq-terms {
        padding-right: 6%;
    }
}

@media screen and (min-width: 991px) {
    .register-tenant-page {
        .offer-header-part {
            padding-top: 17px !important;
        }

        .register-tenant-child {
            margin-top: 70px !important;
        }

        .vsdevspace-top{
            margin-top: 50px !important;
        }
    }
}

@media screen and (max-width: 991px) {
    .popover-detail-text {
        padding-left: 5px;
        margin-left: 0px;
        top: 0;
        right: -37px;
    }

    .left-space-faq-terms {
        padding: 0%;
    }

    .right-space-faq-terms {
        padding: 0%;
    }

    .questions-right-part, .questions-left-part {
        padding: 0 20px;
    }
}



