#tenant-registeristration {
  position: relative; }

.popover-detail-text {
  cursor: pointer;
  color: #828893;
  position: absolute;
  margin: 12px 15px 15px 15px;
  top: 0;
  right: -50px; }
  .popover-detail-text span {
    font-size: 16px; }
  .popover-detail-text:hover {
    color: #333; }

.add-extra-space-site {
  top: 108px; }

.register-tenant-page {
  height: auto !important;
  background-color: #fff;
  padding-bottom: 100px; }
  .register-tenant-page .form-container {
    margin-bottom: 100px !important; }
  .register-tenant-page .free-plan-header {
    padding: 0 !important;
    margin: 27px 0 !important; }
  .register-tenant-page .feature-header {
    margin-bottom: 0 !important; }
  .register-tenant-page .offer-design {
    padding-top: 36px !important; }
  .register-tenant-page .reg-header-offer-text {
    line-height: 1.5 !important;
    font-size: 20px !important;
    padding-right: 20px; }
  .register-tenant-page .ready-set-part {
    padding-top: 26px !important; }
  .register-tenant-page .ready-set-header {
    margin-top: 0;
    font-size: 32px !important; }
  .register-tenant-page .ready-set-go-text {
    font-size: 32px !important;
    line-height: 42px !important;
    margin-top: 0 !important; }
  .register-tenant-page .offer-design-logo {
    padding-bottom: 20px; }
  .register-tenant-page .reg-header-info {
    margin-top: 5px !important;
    margin-bottom: 24px !important; }
    .register-tenant-page .reg-header-info span {
      display: block; }
  .register-tenant-page .faq-terms-condition, .register-tenant-page .faq-part {
    padding: 100px 0;
    position: relative;
    float: left; }
  .register-tenant-page .faq-part {
    background-color: #fafafa; }
    .register-tenant-page .faq-part h2 {
      padding-bottom: 80px; }
    .register-tenant-page .faq-part p.answer-paragraph:first-child {
      margin-bottom: 16px; }
  .register-tenant-page h2 {
    margin: 30px 0 38px 0;
    text-align: center;
    margin: 0 !important; }
  .register-tenant-page .answer-paragraph {
    padding-bottom: 60px; }
  .register-tenant-page .reg-page-bold-text {
    color: #ff4800;
    font-weight: normal; }
    .register-tenant-page .reg-page-bold-text:hover {
      color: #23527c; }
  .register-tenant-page p {
    margin: 0; }
  .register-tenant-page .questions-text {
    color: #283a5e;
    font-family: 'Bitter', serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 25px;
    margin: 0 0 27px 0; }
  .register-tenant-page .questions-right-part {
    padding-left: 20px; }
  .register-tenant-page .questions-left-part {
    padding-right: 20px; }
  .register-tenant-page .answer-paragraph {
    font-size: 19px;
    color: #3C4D6F;
    line-height: 33px;
    font-family: 'Heebo', sans-serif;
    margin: 0; }
  .register-tenant-page .last-lest-question p {
    padding-bottom: 0; }
  .register-tenant-page .first-paragraph {
    margin-bottom: 16px; }
  .register-tenant-page .questions-answer {
    border-bottom: 1px solid #dedede;
    margin-bottom: 70px; }
  .register-tenant-page .terms-condition-part {
    background-color: #fff; }
    .register-tenant-page .terms-condition-part .inside-terms-condition {
      padding: 0 7%; }
    .register-tenant-page .terms-condition-part h2 {
      text-align: left;
      padding-bottom: 60px;
      margin-left: 20px !important; }
    .register-tenant-page .terms-condition-part ul {
      margin: 0; }
      .register-tenant-page .terms-condition-part ul .last-order {
        margin: 0; }
      .register-tenant-page .terms-condition-part ul li {
        font-size: 19px;
        color: #3C4D6F;
        letter-spacing: 0;
        line-height: 33px;
        margin-bottom: 40px; }
        .register-tenant-page .terms-condition-part ul li div {
          margin-left: 22px !important; }

.center-loader {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%); }

@media screen and (max-width: 375px) {
  #account-activation-popup-content, .activate-tenant-bg {
    width: 320px !important; } }

@media screen and (max-width: 767px) {
  .last-lest-question {
    border-bottom: 1px solid #dedede;
    margin-bottom: 70px; }
    .last-lest-question p {
      padding-bottom: 60px !important; }
  .inside-terms-condition {
    padding: 0; } }

@media screen and (min-width: 2560px) {
  .register-tenant-page .table-container {
    padding-left: 10% !important; } }

@media screen and (min-width: 1600px) {
  .left-space-faq-terms {
    padding-left: 19%; }
  .right-space-faq-terms {
    padding-right: 19%; } }

@media screen and (max-width: 1600px) {
  .left-space-faq-terms {
    padding-left: 14%; }
  .right-space-faq-terms {
    padding-right: 14%; } }

@media screen and (max-width: 1440px) {
  .left-space-faq-terms {
    padding-left: 10%; }
  .right-space-faq-terms {
    padding-right: 10%; } }

@media screen and (max-width: 1366px) {
  .left-space-faq-terms {
    padding-left: 7%; }
  .right-space-faq-terms {
    padding-right: 7%; } }

@media screen and (max-width: 1280px) {
  .left-space-faq-terms {
    padding-left: 14%; }
  .right-space-faq-terms {
    padding-right: 14%; }
  .reg-header-offer-text {
    font-size: 14px !important; }
  .header-ready-text {
    font-size: 24px !important; } }

@media screen and (max-width: 1200px) {
  .left-space-faq-terms {
    padding-left: 6%; }
  .right-space-faq-terms {
    padding-right: 6%; } }

@media screen and (min-width: 991px) {
  .register-tenant-page .offer-header-part {
    padding-top: 17px !important; }
  .register-tenant-page .register-tenant-child {
    margin-top: 70px !important; }
  .register-tenant-page .vsdevspace-top {
    margin-top: 50px !important; } }

@media screen and (max-width: 991px) {
  .popover-detail-text {
    padding-left: 5px;
    margin-left: 0px;
    top: 0;
    right: -37px; }
  .left-space-faq-terms {
    padding: 0%; }
  .right-space-faq-terms {
    padding: 0%; }
  .questions-right-part, .questions-left-part {
    padding: 0 20px; } }
