@Styles.Render("~/bundles/styles/custom-ui")

<div id="dashboard-rendering" class="col-xs-12" style="display:none"> 
    <iframe id="dashboard-rendering-iframe" style="height:100%;border:none"></iframe>
</div>