$predefined-classes: (padding, margin);

@each $currentvalue in $predefined-classes {
    .no-#{$currentvalue} {
        #{$currentvalue}: 0px !important;
    }
}

.display-none {
    display: none;
}

.fake-password {
    visibility: hidden;
    position: absolute;
    left: -99999px;
}