$primary-font: var(--font-family);
$secondary-font: var(--font-family);
$default-page-header: 'Bitter';

$app-text-size: ("xs": 10px, "sm": 10px, "md": 12px, "lg": 14px, "xl": 16px);

$validation-text-size: 10px;

$letter-spacing-normal: 0.3px;

$nav-menu-icon-size: 18px;

$nav-menu-text-size: 10px;