// Buttons

$min-button-width: 90px;

$button-height: (
    sm: 28px,
    md: 28px,
    lg: 34px
);

$nav-menu-width: 80px;

$nav-menu-element-height: 52px;
$nav-menu-element-width: 70px;

$nav-menu-icon-container-height: 36px;
$nav-menu-icon-container-width: 44px;

$nav-mobile-menu-header-height: 40px;
$nav-mobile-menu-icon-height: 40px;
$nav-mobile-menu-icon-width: 40px;

$default-pages-header-text-size: 20px;
$default-pages-paragraph-text-size: 14px;

$input-height: ( md: 28px, lg: 32px );