@import "../../themes/_light.scss";
@import "../../components/_spinner.scss";
@import "../../components/_dialog.scss";

#create-item-container {
    overflow: hidden;
}

.create-menu {
    top: 0;
    z-index: 10001;
    display: block;
    overflow: hidden;
    position: absolute;
    background-color: $white;
    width: 280px !important;
    height: 100%;
    max-height: 100%;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.12);
    visibility: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow-y: auto;

    .create-dashboard-section {
        background-color: $primary-light-color;
        padding: 15px 15px 5px 15px;

        .create-item-body-section {
            ul {
                margin: 11px 0px 1px 0px;

                li {
                    border: 1px solid $primary-light-color;
                }
            }
        }
    }

    .create-item-section {
        padding: 0px 15px 5px 15px;

        .create-item-body-section {
            ul {
                margin: 6px 0px 1px 0px;

                li {
                    border: 1px solid $white;
                }
            }
        }
    }

    .create-dashboard-section, .create-item-section {
        display: inline-block;
        width: 100%;
        height: auto;

        .create-dashboard-header-section {
            margin: 13px 9px 0px 9px;

            .create-dashboard-header-title {

                label {
                    font-size: 16px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.88;
                    letter-spacing: 0.2px;
                    margin-bottom: 6px;
                    color: $primary-text-color;
                }

                &::after {
                    content: '';
                    display: block;
                    width: 50px;
                    border-bottom: 2px solid $primary;
                }
            }
        }

        .create-item-body-section {
            ul {

                li {
                    height: 40px;
                    display: table;
                    width: 100%;
                    margin: 12px 0px;

                    .create-item-list-section {
                        width: 100%;
                        display: table-cell;
                        vertical-align: middle;
                        padding: 12px 8px;

                        .create-item-list-icon {
                            float: left;
                            padding-top: 1px;
                            height: 55px;
                            width: 55px;
                            padding: 2px;

                            img {
                                height: 50px;
                                width: 50px;
                            }
                        }

                        .create-item-list-title {
                            display: block;
                            float: left;
                            padding-left: 8px;
                            width: 160px;

                            label {
                                cursor: pointer;
                                color: $primary-text-color;
                                font-size: 13px;
                                font-weight: 600;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: 0.2px;
                                margin-bottom: 6px;
                            }

                            span {
                                width: 150px;
                                word-wrap: break-word;
                                display: block;
                                font-size: 11px;
                                font-weight: normal;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.36;
                                letter-spacing: 0.2px;
                                color: $text-description;
                            }
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: $white;
                        border: 1px solid $btn-hover-border-color;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        content: '';
        opacity: 1;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
}

.create-menu-open .create-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.create-menu-effect.create-menu {
    visibility: visible;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.create-menu-effect.create-menu-open .create-menu-effect.create-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#create-menu-backdrop {
    top: 0;
    left: 280px;
    height: 100vh;
    width: 100vh;
    position: absolute;
    background: transparent;
}

//Save Draft Style
#save-draft-container {
    .save-draft-content-section {
        padding: 21px 4px 19px 4px;

        .save-draft-title {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 0.3px;
            color: $primary-text-color;
            margin-bottom: 15px;
        }

        .save-draft-input-section {
            margin-bottom: 24px;

            .save-draft-input {
                width: 100%;
                height: 28px;
            }

            .e-input::placeholder {
                font-style: normal;
                font-size: 13px;
            }

            .e-input::-webkit-input-placeholder {
                color: $text-msg;
                font-style: normal !important;
            }

            .e-input:-moz-placeholder {
                color: $text-msg;
                font-style: normal !important;
                opacity: 1;
            }

            .e-input::-moz-placeholder {
                color: $text-msg;
                font-style: normal !important;
                opacity: 1;
            }

            .e-input:-ms-input-placeholder {
                color: $text-msg;
                font-style: normal !important;
            }

            .validation-message {
                color: $danger;
                margin: 4px 0px;
                font-size: 10px;
                position: absolute;
                display: grid !important;
            }

            .e-input-group.e-control-wrapper.e-error input.e-input {
                border-color: $danger;
            }

            .e-input-group.e-error, .e-input-group.e-control-wrapper.e-error, .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
                border-color: $danger;
            }
        }

        .save-draft-note {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 0.3px;
            color: $primary-text-color;
        }
    }
}

//Dashboard Intializing Loader
.preloader-wrap {
    #loader_image {
        position: relative;
        top: 39%;

        .loader-icon {
            display: block;
            top: 0 !important;
            left: 0 !important;
            position: relative;
            margin: 0 auto;
            width: 54px;
            height: 54px;
        }

        #loader_text {
            position: relative;
            top: 42%;
            font-size: 21px;
            font-weight: 400;
        }
    }
}
