<div id="user-add-dialog-wrapper" style="display:none">
    <div class="modal" tabindex="-1" role="dialog">
        <div id="user-add-dialog" class="modal-dialog" role="document">
            <form class="col-lg-12 no-padding add-user-dialog-form modal-content" id="dialog-container" autocomplete="off">
                <div class="col-md-12 modal-header">
                    <div class="col-xs-8 no-padding">
                        <i class="su su-user-add head-icon"></i>
                        <span class="modal-title">Add User</span>
                    </div>
                    <div class="col-xs-4 no-padding">
                        <a class="close" title="Close" href="javascript:void(0);" onclick="onUserAddDialogClose()">
                            <i class="su su-close"></i>
                        </a>
                    </div>
                </div>
                <div id="message" class="validation-message"></div>
                <div class="modal-body col-xs-12 no-padding form">
                    <div class="col-xs-12 form-padding">
                        <label class="col-xs-4 app-textbox-label text-right">Email address<span class="mandatory">*</span></label>
                        <div class="col-xs-8 no-left-padding">
                            <input type="text" id="mailid" maxlength="254" placeholder="Email address" class="form-control validation" name="email-address" data-name="email address" />
                            <span class="useradd-validation-messages" id="invalid-email"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 form-padding">
                        <label class="col-xs-4 app-textbox-label text-right">First name<span class="mandatory">*</span></label>
                        <div class="col-xs-8 no-left-padding">
                            <input type="text" id="firstname" maxlength="254" class="form-control  validation" placeholder="First name" name="first-name" data-name="first name">
                            <span class="useradd-validation-messages" id="invalid-firstname"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 form-padding last-name">
                        <label class="col-xs-4 app-textbox-label text-right">Last name</label>
                        <div class="col-xs-8 no-left-padding">
                            <input type="text" id="lastname" maxlength="254" class="form-control  validation" placeholder="Last name" name="last-name" data-name="last name">
                            <span class="useradd-validation-messages"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 modal-footer">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-8 no-padding">
                        <input type="button" id="add-user" class="primary-button" value="Add" />
                        <input type="button" id="cancel-user" class="secondary-button popup-close" value="Cancel" onclick="onUserAddDialogClose()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>