.no-padding {
  padding: 0px !important; }

.no-margin {
  margin: 0px !important; }

.display-none {
  display: none; }

.fake-password {
  visibility: hidden;
  position: absolute;
  left: -99999px; }
