$textbox-28: 28px;
$textbox-32: 32px;
$textsize-10: 10px;
$textsize-12: 12px;
$textsize-16: 16px;
$button-32: 32px;
$button-28: 28px;

$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;
$space-xxl: 36px;

$text-h1-font-size: 20px;
$text-h1-line-height: 30px;

$text-h2-font-size: 16px;
$text-h2-line-height: 24px;

$text-h4-font-size: 13px;
$text-h4-line-height: 20px;

$text-bitter-h2-font-size: 16px;
$text-bitter-h1-font-size: 20px;

$text-body-font-size: 12px;
$text-body-line-height: 18px;

$text-bitter-bold: 700;
$text-semibold: 600;
