<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<OrganizationName>Bold BI On-Premise Dashboards</OrganizationName>
	<WelcomeNoteText>Welcome to Bold BI On-Premise Dashboards</WelcomeNoteText>
	<CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.&#160;&#160;&#160;|&#160;&#160;&#160;All Rights Reserved</CopyrightInformation>
	<IsEnableCopyrightInfo>true</IsEnableCopyrightInfo>
	<IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
	<InstallationFolder></InstallationFolder>
	<IdaTenant></IdaTenant>
	<IdaAudience></IdaAudience>
	<DataSourceExtractIntervals></DataSourceExtractIntervals>
	<IsUserBasedMenu>false</IsUserBasedMenu>
	<CanIgnorePublishResourceValidation>false</CanIgnorePublishResourceValidation>
	<CanShowDownloadDashboardOption>false</CanShowDownloadDashboardOption>
	<OfflineCapable>false</OfflineCapable>
	<FailureOccurrence>5</FailureOccurrence>
	<DataRefreshTimeout>720</DataRefreshTimeout>
	<SilentAuthDomain></SilentAuthDomain>
	<PreviewFeatures>
		<Localization>false</Localization>
	</PreviewFeatures>
	<IsLogOptionalData>false</IsLogOptionalData>
</SystemSettings>