etl/etlservice/runtimes/osx/native/libduckdb.dylib filter=lfs diff=lfs merge=lfs -text
etl/etlservice/runtimes/linux-arm64/native/libduckdb.so filter=lfs diff=lfs merge=lfs -text
etl/etlservice/runtimes/linux-x64/native/libduckdb.so filter=lfs diff=lfs merge=lfs -text
