//rounded corners
@rc-all-4: 4px 4px 4px 4px;

//box shadow
@shadow-vert-soft: 0 2px 4px 0 rgba(0,0,0,0.12);

@color-grey-20: #FBFBFB;
@color-white: #FFFFFF;
@color-black: #000000;
@color-grey-60: #F2F2F2;
@color-grey-100: #E6E6E6;
@color-grey-200: #CCCCCC;
@color-grey-400: #999999;
@color-grey-800: #333333;
@color-primary: #0565FF;
@link-hover-color: #009AEF;
@color-ash-200: #E9ECEF;
@danger-color: #BE5108;
@back-button-hover: #F7F8F9;
@card-text-border-color: #80BDFF;
@color-blue: #007AFF;
@validation-text-color: #A94442;
@primary-border: #0851D0;
@bg-color: #F3F7F8;
@color-grey-footer: #808080;
@table-header-border-color: #aaa;
@table-row-border-color: #ddd;
@bootstrap-danger-color: #dc3545;
@secondary-btn-border-color: #dce1e5;
//gradient
@bg-linear-gradient: linear-gradient(-215deg, #FBFEFF 0%, #EEF2F3 100%);
@bold-bg-color: #fffdfc;