@import "../../default/default.scss";
@import"../../core/_typography.scss";

* {
    font-family: var(--font-family);
}

html, body {
    height: 100%;
    width: 100%;
    background-color: $background;
    color: $primary-text-color;
}

#content-area{
    height:100%;
}
.error-full-content {
    padding: 10px 0 70px 0;
    background-color: $background;
}
.error-page-outer {
    display: table;
    width: 100%;
    height: 100%;

    .error-page-content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        .error-inside {
            margin: auto;
            display: inline-block;
            font-style: normal;

            .error-image-center-1 {

                .error-image-1 {
                    display: block;
                    height: 50px;
                    margin: 0 auto;
                    width: 240px;
                }
            }

            .error-image-center-2 {
                padding-top: 50px;

                .error-image-2 {
                    display: block;
                    margin: 0 auto;
                    width: 300px;
                }
            }

            .error-type {
                color: $primary-text-color;
                font-size: 20px;
                font-weight: bold;
                padding-top: 40px;
                line-height: 1.2;
                letter-spacing: 0.6px;
                text-align: center;
            }

            .error-text {
                padding: 24px 5px 0 5px;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 1.71;
                letter-spacing: 0.3px;
                text-align: center;
                color: $primary-text-color;
            }

            .list-style {
                text-align: left;
                display: table;
                margin: 10px auto 0px;
            }

            .take-me-back-to-home-page {
                padding-top: 12px;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 1.71;
                letter-spacing: 0.3px;
                text-align: center;

                .error-page-cursor {
                    cursor: pointer;

                    .error-to-back-text-color {
                        color: $primary-color;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }

                .error-text-color {
                    color: $primary-text-color;
                }
            }
        }
    }
}

#deploy-error-container {
    margin: 16px auto;
    width: 500px;
    position: relative;
}

#deploy-error-copy {
    cursor: pointer;
    position: absolute;
    right: 19px;
    bottom: 5px;
    font-size: 11px;
}

#deploy-error-box {
    width: 500px;
    height: 120px;
    border: 1px Solid $input-box-border-normal-color;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: $input-box-bg-normal-color;
    padding: 12px;
    font-size: 12px;
    resize: none;
}

.take-me-back-to-home-page {
    margin-top: -10px;
}

//Umsconnectionerrorpage
.base-container-bg {
    background-color: $background;
    font-family: var(--font-family);
    vertical-align: middle;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;

    .base-conatiner {
        padding: 0;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        position: relative;

        #main-div {
            background-color: $background;
            color: $primary-text-color;
            display: table;
            vertical-align: middle;
            margin: 45px auto;
            width: 380px;
            margin-bottom: 140px;
            padding: 0 10px;
            border-radius: 5px;

            .app-logo {
                margin: 25px auto -10px auto;
                width: 255px;
                text-align: center;

                img {
                    height: 45px;
                }
            }

            .secondary-div {
                text-align: center;
                padding: 20px;

                .page-title {
                    color: $primary-text-color;
                    font-size: 18px;
                    font-weight: 400;
                    text-align: center;
                    padding: 10px;
                }

                .page-content {
                    color: $primary-text-color;
                    font-weight: 300;
                    display: block;
                    margin: auto;
                    padding: 10px 0;
                    font-size: 14px;
                    margin-bottom: 15px;
                }

                .page-second-content {
                    color: $sub-text-color;
                    margin-bottom: 15px;
                }

                .causes-class {
                    float: left;
                    margin: 10px 0 10px 25px;
                    font-weight: 600;
                }

                .causes-ul {
                    text-align: left;
                    margin-top: 20px;
                }

                .support-div {
                    padding: 15px 0;

                    .support-button {
                        background-color: $primary-color;
                        color: white;
                        text-decoration: none;
                        padding: 10px;
                        font-size: 14px;
                        box-shadow: 2px 6px 4px 0 rgba(0,0,0,0.14), 0 3px 5px 0 rgba(0,0,0,0.12), 0 4px 2px 0px rgba(0,0,0,0.2);
                    }
                }
            }

            .login-button {
                background-color: $primary-color;
                position: relative;
                width: 80%;
                height: 36px;
                border: none;
                color: white;
                box-shadow: 2px 6px 4px 0 rgba(0,0,0,0.14), 0 3px 5px 0 rgba(0,0,0,0.12), 0 4px 2px 0px rgba(0,0,0,0.2);
            }
        }
    }
}

//oauthaccessdeniedpage
.login-container-bg {
    font-family: var(--font-family);
    vertical-align: middle;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;

    .login-conatiner {
        padding: 0;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        position: relative;

        .login-main-div {
            display: table;
            vertical-align: middle;
            margin: 45px auto;
            width: 410px;
            margin-bottom: 140px;
            padding: 0 10px;
            border-radius: 5px;

            .login-logo {
                margin: 0 auto;
                width: 255px;
                text-align: center;
            }

            .login-secondary-div {
                text-align: center;
                padding: 20px;

                .login-page-title {
                    font-size: 25px;
                    font-weight: bold;
                    text-align: center;
                    padding: 10px;
                }

                .login-page-content {
                    font-weight: 300;
                    display: block;
                    margin: 15px 0 20px 0;
                    font-size: 14px;
                }

                .login-button {
                    background: $primary-color;
                    border-radius: 5px;
                    color: $primary-button-text-normal-color;
                    height: 32px;
                    font-size: 14px;
                    font-weight: 700;
                    cursor: pointer;
                    display: block;
                    width: 35%;
                    margin: 0 auto 32px auto;
                    line-height: 2;
                }

                .external-container {
                    .divider-container {
                        .line {
                            margin-top: 10px;
                            width: 100%;
                            background: #ddd;
                        }
                    }

                    .alternative-login {
                        display: inline-block;
                        width: 70%;
                        text-align: center;

                        .page-wrapper {
                            padding-top: 16px;
                            font-weight: 300;
                            font-size: 14px;

                            .hoverlink a:visited {
                                color: $primary-color;
                            }

                            .hoverlink a:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

#base-footer-div {
    margin-top: 20px;
    padding: 0px !important;
}

@media screen and (max-width: 760px) {
    .error-full-content {
        padding: 10px 0 96px 0 !important;
    }
}
