@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var isSuccess = ViewData["IsSuccess"] != null && Convert.ToBoolean(ViewData["IsSuccess"]);
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}
<!DOCTYPE html>
<html class="dashboard-server">
@if (isSuccess == false)
{

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <title>
            @ViewBag.Title
        </title>
        <script>
            var iswidgetexistUrl = "@Url.Action("iswidgetexist", "items")";
            function load() {
                if (($(parent.window).width()) > 1400) {
                    $(".dialog").addClass("iframe");
                }

                if (($(parent.window).width()) < 1400) {
                    $(".dialog").removeClass("iframe");
                }
            }
        </script>
        <style>
            [contentEditable=false]:empty:not(:focus):before {
                content: attr(data-text);
            }
        </style>
        @await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/add-widget.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-widget.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/add-widget.min.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-widget.min.js"></script>
        </environment>

        <script>
            $(document).ready(function () {
                $(document).on("click", ".PopupClose", function (e) {
                    parent.$("#widget_popup").find("iframe").contents().find("html").html("");
                    eDialog = parent.$("#widget_popup").data("ejDialog");
                    eDialog.close();
                });
            });
        </script>
    </head>
    <body style="background:white;overflow:hidden" onload="load();">
        <form name="addItemForm" id="addItemForm" method="post" action="~/widgets/addwidget" enctype="multipart/form-data">

            <div id="PopupContainer" class="col-lg-12 no-padding dialog">
                <div class="col-xs-12 dialog-header">
                    <div class="col-xs-10 no-padding">
                        <span class="su su-widget Head-icon"></span>
                        <span class="PopupTitle extendedTitle" title="[[[Upload Widget]]]">[[[Upload Widget]]]</span>
                    </div>
                    <div class="no-padding">
                        <a href="javascript:void(0);" title="[[[Close]]]" class="PopupClose" onclick="closeAddItemPopup()">
                            <span class="su su-close"></span>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 no-padding file-content-height dialog-body">
                    <div id="general-file-container">
                        <table width="100%" cellspacing="10px" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td class="col-xs-2 text-right"><div class="bottom-margin30 field-label">[[[Name]]]<span class="mandatory">*</span></div></td>
                                    <td class="col-xs-10 no-left-padding">
                                        <span>
                                            <input type="text" id="file_name" autofocus name="widgetname" maxlength="255" class="form-control bottom-margin30 text" tabindex="1">
                                            <span id="validate-name" class="validation-message text"></span>
                                            <div id="plugin_validation" class="validation-message text"></div>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-2 text-right"><div class="bottom-margin30 field-label">[[[Description]]]</div></td>
                                    <td class="col-xs-10 no-left-padding">
                                        <textarea style="resize: none;" name="description" class="form-control bottom-margin30 text" id="file_description" maxlength="1024" tabindex="2"></textarea>
                                        <span class="notification help-text">
                                            *[[[1024 characters maximum]]]
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-2 text-right"><div class="bottom-margin30 field-label">[[[Widget]]]<span class="mandatory">*</span></div></td>
                                    <td class="col-xs-10 no-padding">
                                        <div class="input-group no-padding imagepath bottom-margin30">
                                            <input type="text" class="form-control upload-file text" id="filename" value="[[[Browse file path]]]" name="uploadedFileName" readonly tabindex="-1" />
                                            <label for="browse_file" class="trigger-file-input-wrapper"></label>
                                            <div class='fileUpload btn btn-default'>
                                                <span>...</span><input type="file" id="browse_file" accept=".sydw" class="browse-button upload-btn" name="file" tabindex="-1">
                                            </div>
                                        </div>
                                        <span id="validate-file" class="validation-message text"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <input type="submit" class="hide-content" style="display: none" />
                <div class="dialog-footer">
                    <div class="pull-right">
                        <input type="button" title="" class="btn primary-button" id="publish_file" onclick="addfileValidate()" tabindex="4" value="[[[Add]]]" />
                        <input type="button" title="" class="btn secondary-button" id="cancelAddFile" onclick="closeAddItemPopup()" value="[[[Cancel]]]" tabindex="5">
                    </div>
                </div>
            </div>
        </form>
    </body>

}
else
{

    <head>

        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/add-widget.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-widget.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/add-widget.min.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-widget.min.js"></script>
        </environment>

        <script>
            $(document).ready(function () {
                var gridObj = parent.$("#items").data("ejGrid");
                closeAddItemPopup();
                parent.messageBox("su-widget", "[[[Add Widget]]]", "[[[Widget has been added successfully.]]]", "success", function () {
                    var gridName = window.parent.$('#item-grid-container').attr("data-grid-name");
                    if (gridName == "widgets") {
                        parent.ResetGrid();
                    }
                    parent.onCloseMessageBox();
                });
            });
        </script>
    </head>

}
<environment include="Development,CloudDevelopment">
<script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
</environment>
</html>