@import "../mixins.scss";

.app-button {
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    height: 28px;
    line-height: 25px;
    outline: none;
    text-align: center;
    min-width: 80px;
    padding: 0 12px;

    &:disabled {
        background: $submit-button-disabled !important;
        border: $border-color !important;
        color: #bbb !important;
    }
}

.app-primary-button {
    background: $primary-color;
    border-color: $primary-color;
    color: $primary-btn-text-color !important;

    &:hover {
        background: $primary-btn-hover;
    }

    & + .app-secondary-button {
        margin-left: 15px;
    }
}

.app-secondary-button {
    background: $secondary-btn-bg;
    border-color: $secondary-btn-border-color;
    color: $primary-text-color;

    &:hover {
        background: $secondary-btn-hover;
    }
}

.app-critical-action-button {
    background: $danger-btn-bg;
    border-color: $danger-btn-bg;
    color: $primary-btn-text-color;

    &:hover {
        background: $danger-btn-hover;
    }

    & + .app-secondary-button {
        margin-left: 15px;
    }
}