@import "../mixins.scss";

.admin-page-container {
    @include admin-page-template();
}

@media screen and (min-width: 1400px) {
    .admin-page-container {
        .admin-page-header {
            .back-button {
                font-size: $app-large-text-size + 8;
            }

            .page-title {
                font-size: $app-large-text-size + 2;
            }

            .page-description {
                font-size: $app-large-text-size;
            }

            .header {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .admin-page-body {
            font-size: $app-large-text-size;

            .app-textbox-label {
                font-size: $app-large-text-size;
                line-height: $textbox-lg-height;
            }

            .form-control {
                font-size: $app-large-text-size;
                height: $textbox-lg-height;
            }

            .validation-errors, .validation-message {
                font-size: $validation-large-text-size;
            }

            .form-input-field {
                button[data-toggle="dropdown"] {
                    font-size: $app-large-text-size - 1;
                }

                .dropdown-menu {
                    .text {
                        font-size: $list-content-large-size !important;
                    }
                }
            }
        }
    }
}