@import "../../default/default.scss";

body {
    overflow: hidden;

    header.startup-header {
        display: table;
        height: 70px;
        width: 100%;

        .startup-header-container {
            display: table-cell;
            vertical-align: middle;

            img {
                height: 30px;
                vertical-align: middle;
                border: 0px;
            }

            img.boldbi-logo {
                margin-left: 80px;
            }

            .footer-logo-container {
                float: right;
                margin-right: 80px;
                width: 210px;

                span {
                    margin-right: 8px;
                    color: $grey-700;
                    font-size: 12px;
                }
            }
        }
    }

    .auto-deploy-container {
        text-align: center;

        .image-container {
            padding-top: 150px;
        }

        a {
            text-decoration: none;
        }

        #auto-deployment-response {
            font-size: 14px;

            .response-message-header {
                font-size: 24px;
                font-weight: 700;
                margin-top: 22px;
                margin-bottom: 16px;
            }

            #deploy-message-container {
                margin-top: 24px;
            }

            #deploy-error-copy {
                cursor: pointer;
                position: relative;
                right: 25px;
                bottom: 11px;
                font-size: 16px;
            }

            #deploy-error-box {
                width: 500px;
                height: 120px;
                border: 1px Solid $grey-300;
                box-sizing: border-box;
                border-radius: 4px;
                background-color: $white;
                padding: 12px 6px 12px 12px;
                font-size: 12px;
                resize: none;
            }


            .response-message {
                left: 0;
                margin: 20px auto;
                right: 0;
                width: 800px;
                text-align: center;

                a {
                    display: none;
                }
            }

            .link-section {
                margin-top: 23px;
            }

            .help-link {
                margin-left: 3px;
            }

            .response-message-header, .link-section {
                display: none;
            }
        }
    }
}
