body {
  overflow: hidden; }
  body header.startup-header {
    display: table;
    height: 70px;
    width: 100%; }
    body header.startup-header .startup-header-container {
      display: table-cell;
      vertical-align: middle; }
      body header.startup-header .startup-header-container img {
        height: 30px;
        vertical-align: middle;
        border: 0px; }
      body header.startup-header .startup-header-container img.boldbi-logo {
        margin-left: 80px; }
      body header.startup-header .startup-header-container .footer-logo-container {
        float: right;
        margin-right: 80px;
        width: 210px; }
        body header.startup-header .startup-header-container .footer-logo-container span {
          margin-right: 8px;
          color: var(--grey-700);
          font-size: 12px; }
  body .auto-deploy-container {
    text-align: center; }
    body .auto-deploy-container .image-container {
      padding-top: 150px; }
    body .auto-deploy-container a {
      text-decoration: none; }
    body .auto-deploy-container #auto-deployment-response {
      font-size: 14px; }
      body .auto-deploy-container #auto-deployment-response .response-message-header {
        font-size: 24px;
        font-weight: 700;
        margin-top: 22px;
        margin-bottom: 16px; }
      body .auto-deploy-container #auto-deployment-response #deploy-message-container {
        margin-top: 24px; }
      body .auto-deploy-container #auto-deployment-response #deploy-error-copy {
        cursor: pointer;
        position: relative;
        right: 25px;
        bottom: 11px;
        font-size: 16px; }
      body .auto-deploy-container #auto-deployment-response #deploy-error-box {
        width: 500px;
        height: 120px;
        border: 1px Solid var(--grey-300);
        box-sizing: border-box;
        border-radius: 4px;
        background-color: var(--grey-white);
        padding: 12px 6px 12px 12px;
        font-size: 12px;
        resize: none; }
      body .auto-deploy-container #auto-deployment-response .response-message {
        left: 0;
        margin: 20px auto;
        right: 0;
        width: 800px;
        text-align: center; }
        body .auto-deploy-container #auto-deployment-response .response-message a {
          display: none; }
      body .auto-deploy-container #auto-deployment-response .link-section {
        margin-top: 23px; }
      body .auto-deploy-container #auto-deployment-response .help-link {
        margin-left: 3px; }
      body .auto-deploy-container #auto-deployment-response .response-message-header, body .auto-deploy-container #auto-deployment-response .link-section {
        display: none; }
