@using Syncfusion.Server.Base.DataClasses;

@{
    var domain = Syncfusion.Server.Base.CloudAppConfig.ProductHomeUrl(TenantType.BoldBI);
}
<div class="faq-part">
    <div class="col-xs-12">
        <h2 class="questions-text ready-set-go-text">Frequently asked questions</h2>
    </div>
    <div class="left-space-faq-terms col-sm-6">
        <div class="questions-right-part">
            <div class="questions-answer">
                <h4 class="questions-text">What do I get with this oﬀer? Why should I care?</h4>
                <p class="answer-paragraph first-paragraph no-padding">You get a 6-month subscription to Bold BI Cloud Edition, a comprehensive solution for business dash-boarding. This oﬀer is speciﬁcally for the Business 10 plan, which allows up to 10 dashboard Creators and unlimited Users.</p>
                <p class="answer-paragraph">Bold BI provides a rich, interactive dashboard editor for easily creating stunning dashboards without having to install any software. All you need is a computer with a modern browser and an internet connection. Bold BI supports integration with more than <a href="@domain/integrations" target="_blank"><b class="reg-page-bold-text">85 data sources</b></a>, allowing you to combine them as needed to visualize only relevant information. It encourages collaboration with other stakeholders and makes critical business data immediately digestible. </p>
            </div>
            <div class="questions-answer">
                <h4 class="questions-text">What happens when the free 6-month access to Bold BI expires?</h4>
                <p class="answer-paragraph">After your 6-month subscription to the Business 10 plan expires, you will be automatically downgraded to the free, single-Creator plan. If you would like to maintain 10 dashboard Creators, you can purchase the Business 10 plan. Other plans allowing more Creators are also available: <a href="@domain/pricing" target="_blank"><b class="reg-page-bold-text">https://www.boldbi.com/pricing</b></a>.</p>
            </div>
            <div class="last-lest-question">
                <h4 class="questions-text">Who is a Creator?</h4>
                <p class="answer-paragraph">A Creator is someone who creates, edits, shares, or otherwise manages dashboards. Only Creators are counted for licensing purposes.</p>
            </div>
        </div>
    </div>
    <div class="right-space-faq-terms col-sm-6">
        <div class="questions-left-part">
            <div class="questions-answer">
                <h4 class="questions-text">How long does the free access to Bold BI last?</h4>
                <p class="answer-paragraph">You have access to Bold BI Cloud Edition and can use the Business 10 plan for 6 months. This plan allows you and nine other people on your team to be dashboard Creators, and you can share the dashboards with an unlimited number of Users. This oﬀer is a $3,000 value.</p>
            </div>
            <div class="questions-answer">
                <h4 class="questions-text">Will Syncfusion communicate with me?</h4>
                <p class="answer-paragraph">Yes. By obtaining these complimentary subscriptions, you subscribe to Syncfusion email communications. If you choose to unsubscribe, you must discontinue the use of Syncfusion Bold BI.</p>
            </div>
            <div class="questions-answer">
                <h4 class="questions-text">Who is a User?</h4>
                <p class="answer-paragraph">A User is someone who can securely view dashboards that others have created. Users can interact with a dashboard using tools such as ﬁlters, exporters, etc., that are provided as a part of the dashboard. Users are not counted for licensing purposes.</p>
            </div>
            <div>
                <h4 class="questions-text">Who needs an account?</h4>
                <p class="answer-paragraph no-padding">Anyone who creates, edits, or views dashboards will need their own account. Viewers do not need an account to view publicly shared dashboards. Please note that only Creators are counted for licensing purposes, not Users. Users can securely view any dashboard shared with them.</p>
            </div>
        </div>
    </div>
</div>
