@using Syncfusion.Server.Base;

<div class="reg-info col-xs-12 offer-header-part">
    <div class="reg-header feature-header col-xs-12 no-padding">
        <a href="@CloudAppConfig.SyncfusionCloudHomeUrl">
            <img class="reg-image offer-design-logo" alt="syncfusion" src="https://cdn.boldbi.com/static/company/boldbi/logo/v1/login_logo.svg">
        </a>
        <h1 class="reg-header-info">
            <span>Welcome </span>
            <span>Visual Studio Dev </span>
            <span>Essentials Members</span>
        </h1>
        <h4 class="reg-header-info reg-header-offer-text">With your free 6-month subscription to the Bold BI Cloud Edition Business 10 plan, you can:</h4>
    </div>
    <div class="header-info-meassages col-xs-12 no-padding">
        <span class="reg-info-span col-xs-12 no-padding">
            <img class="reg-info-tick col-xs-2 no-padding" src="~/content/styles/less/images/bullet.svg" style="margin: 0 auto;">
            <span class="reg-info-1 col-xs-10 no-padding"><b>Create </b>stunning dashboards with a rich, interactive dashboard editor.</span>
        </span>
        <span class="reg-info-span col-xs-12 no-padding">
            <img class="reg-info-tick col-xs-2 no-padding" src="~/content/styles/less/images/bullet.svg" style="margin: 0 auto;">
            <span class="reg-info-2 col-xs-10 no-padding"><b>Connect </b>directly to 85+ data sources and easily combine them.</span>
        </span>
        <span class="reg-info-span col-xs-12 no-padding">
            <img class="reg-info-tick col-xs-2 no-padding" src="~/content/styles/less/images/bullet.svg" style="margin: 0 auto;">
            <span class="reg-info-3 col-xs-10 no-padding"><b>Collaborate </b>with other stakeholders now.</span>
        </span>
        <span class="reg-info-span col-xs-12 no-padding">
            <img class="reg-info-tick col-xs-2 no-padding" src="~/content/styles/less/images/bullet.svg" style="margin: 0 auto;">
            <span class="reg-info-3 col-xs-10 no-padding"><b>Access </b>onboarding services.</span>
        </span>
        <span class="reg-info-message-tablet col-xs-12 no-padding">
            <img class="reg-info-tick col-xs-2 no-padding" src="~/content/styles/less/images/bullet.svg" style="margin: 0 auto;">
            <span class="reg-info-3 col-xs-10 no-padding"><b>Use </b>a subscription valued at over $2,970!</span>
        </span>
    </div>
</div>