@using Syncfusion.Server.Base.DataClasses;

@{
    var domain = Syncfusion.Server.Base.CloudAppConfig.ProductHomeUrl(TenantType.BoldBI);
}
<div class="faq-terms-condition terms-condition-part col-xs-12">
    <div class="left-space-faq-terms right-space-faq-terms">
        <div class="inside-terms-condition">
            <h2 class="questions-text ready-set-go-text">Terms and Conditions for the 6-Month Subscription for Bold BI Cloud Edition Business 10 Plan</h2>

            <ul>
                <li>
                    <p class="answer-paragraph no-padding">After the 6 months, your account will be downgraded to a Syncfusion Single Plan Cloud Edition license. This means that you will only be allowed to have 1 Creator (as deﬁned in the license agreement). If you want more Creators, you would need to upgrade to a paid plan. Please visit the <a href="@domain/pricing" target="_blank"><b class="reg-page-bold-text">pricing page</b></a> for specific details.</p>
                </li>
                <li>
                    <p class="answer-paragraph no-padding">While using our site, we will ask you to give us certain personally identifiable information that can be used to contact or find you. Personally, identifiable information may include but is not limited to, your name and contact information.</p>
                </li>
                <li>
                    <p class="answer-paragraph no-padding">All licenses, to include this promotional license, are subject to the rights and restrictions of Syncfusion's Software License Agreement.</p>
                </li>
                <li class="last-order">
                    <p class="answer-paragraph no-padding last-order">By redeeming this benefit you agree to receive communications from Syncfusion. If you do not want to receive communications from Syncfusion, do not access this benefit or any software related to this benefit</p>
                </li>
            </ul>
        </div>
    </div>
</div>
