@import "../mixins.scss";

#server-app-container {
    background-color: $admin-container-bg;

    #PopupContainer {
        padding: 0px;
    }

    #update-card-container {
        margin-bottom: 25px;

        #update-card-header {

            .update-card-title {
                float: left;
                width: 70%;
            }

            .update-card-button {
                float: left;
                width: 30%;

                .cancel-update {
                    background: #e5e5e5;
                    border: none;
                    color: $primary-text-color;
                    height: 28px;
                    width: 100%;
                    outline: none;
                    display: none;
                    border-radius: 2px;
                }
            }
        }

        #update-card-body, #update-billing-body {
            margin-bottom: 30px;

            #billing-details-update {
                float: right;

                .update-billing-address {
                    float: right;
                }
            }

            .card-form {

                .address-section-title {
                    margin-bottom: 10px;
                    font-size: 14px;
                    font-weight: 700;
                }

                #address-section {
                    padding: 0px 30px 0px 0px;

                    .form-group {
                        margin-bottom: 28px;
                        position: relative;

                        .email-address-info {
                            float: right;
                            font-size: 10px;
                            position: absolute;
                            right: 0px;
                            top: -19px;
                        }

                        .validation-error {
                            position: absolute;
                            color: $validation-text-color;
                            font-size: $validation-font-size;
                        }

                        .has-error {
                            .dropdown-toggle {
                                border-color: $validation-text-color;
                            }
                        }

                        .country-validation {
                            left: 0px;
                            bottom: -18px;
                        }
                    }
                }
            }

            .card-container {
                margin-top: 0px;
                font-size: 14px;

                .pad8 {
                    padding: 8px;
                }

                .payment-description {
                    padding-left: 10px;
                    font-size: $app-large-text-size;
                    width: 75%;
                    float: left;
                }

                .update-card-container-title {
                    margin-bottom: 15px;

                    .card-title {
                        font-size: 14px;
                        font-weight: 700;
                        padding-left: 0px;
                        margin-bottom: 5px;
                        margin-top: 0;
                    }

                    .card-description {
                        margin: 0;
                        padding: 0;
                        font-size: 12px;
                    }
                }

                .card {
                    width: 280px;
                    background-color: #fff;
                    border-radius: 4px;
                    position: relative;

                    .card-block {
                        height: 150px;
                        box-shadow: 0px 0px 2px 2px #F0F0F0;
                        border-radius: 3px;

                        .card-brand {
                            color: #0C0C0C;
                        }

                        #card-name {
                            height: 70px;
                            padding-top: 12px;
                        }

                        #card-detail {
                            height: 30px;
                        }

                        .card-num {
                            color: #0565FF;
                        }

                        .card-expire-title {
                            font-size: 11px;
                            color: #7D88AB;
                            padding-bottom: 4px;
                        }

                        .card-expire {
                            font-size: 13px;
                        }

                        .card-button {
                            bottom: 0;
                            position: absolute;

                            .edit-card, .retry-payment, .update-and-pay {
                                cursor: pointer;
                                float: right;
                                width: 100%;
                                height: 30px;
                                color: #fff;
                                border: none;                                
                            }

                            .edit-card, .update-and-pay {
                                background-color: $primary-color;
                                border-radius: 0 0 3px 3px;

                                &:hover {
                                    background-color: $primary-btn-hover;
                                }
                            }

                            .retry-payment {
                                background-color: #ff8533;

                                &:hover {
                                    background-color: #f26f0c;
                                }
                            }

                            .update-and-pay, .retry-payment {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .validation-error {
                color: $validation-text-color;
                font-size: $validation-font-size;
            }

            .btn.dropdown-toggle {
                height: $textbox-height;
                font-size: $app-text-size;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            }
        }

        .admin-page-actions {
            margin-top: 0px;
        }
    }
}

#messageBox_wrapper.retry-payment-messageBox {

    .e-dialog-scroller.e-scroller.e-js.e-widget {

        .message-header {
            font-weight: 700;
        }

        #messageBox {

            .message-content {
                padding: 10px 0 10px 6px;
                text-align: unset;
            }
        }
    }
}

#messageBox_wrapper.retry-payment-loader {

    .e-dialog-scroller.e-scroller.e-js.e-widget {

        .message-header {
            font-weight: 700;
        }

        .message-box-close {
            span {
                display: none;
            }
        }

        .message-box-btn-holder {

            .secondary-button {
                display: none;
                overflow: hidden;
            }

            .loader {
                background-image: url('images/waitingpopup.gif');
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: 10px 10px 10px 10px;
                display: block;
                height: 40px;
                margin: 0 auto;
                position: relative;
                width: 40px;
            }
        }

        #messageBox {

            .message-content {
                padding: 10px 0 10px 6px;
                text-align: unset;
            }
        }
    }
}

#card-details-popup_wrapper {

    #card-details-popup_title {
        border-bottom: none;
        font-weight: 700;
        font-size: 14px;
        background-color: #fff;
    }

    .e-header {
        border: none;
    }

    #card-details-popup {
        padding: 0px;
    }

    .e-dialog-scroller {
        border: 1px solid #c8c8c8;
        width: 100%;
    }
}

body {
    margin: 0px;
    display: inline;

    .credit-card-master {
        width: 100%;
        margin-top: 6%;

        .credit-card-container {
            margin-right: 10%;
            margin-left: 10%;

            .card-form {
                padding: 30px;

                .row {
                    margin-bottom: 20px;
                    box-shadow: 4px 4px 5px #dadee5;
                    background-color: #fff;
                    margin-left: 0;
                    margin-right: 15px;


                    .address-section-title, .billing-section-title {
                        margin-top: 20px;
                        margin-left: 20px;

                        label {
                            font-size: 14px;
                        }
                    }
                }

                .control-label {
                    font-weight: 700;
                    font-size: 12px;
                    border: 1px transparent;
                }

                #billing-section, #address-section {
                    padding: 20px 20px;

                    .form-group {
                        margin-bottom: 20px;

                        .validation-error {
                            position: absolute;
                            color: $validation-text-color;
                        }
                    }

                    .card-error {
                        height: 20px;

                        .error {
                            color: $validation-text-color;
                        }
                    }

                    #card-detail {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}


#upgradecard-details {
    vertical-align: middle;
    margin-top: 2%;

    .update-card-description {
        padding: 0px 25px;
    }

    .poweredby-div {
        margin: 10px 0px 20px 0px;
        position: relative;
        width: 100%;

        #powerby-icon {
            background: url("images/powered-by-icons.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            height: 85px;
            position: absolute;
            width: 90%;
            left: 5%;
            z-index: -1;
        }

        #geotrust {
            float: right;
            position: relative;

            img[name="gts_seal"] {
                left: -5px;
                position: absolute;
                top: 16px;
                width: 80px;
            }
        }
    }

    .card-container {
        font-size: 12px;
        text-align: left !important;

        .card-input {
            border-radius: 5px !important;
        }

        .card-container-div {
            text-align: left !important;
            padding: 0px !important;
            float: none;
            margin: 0 auto;
            display: inline-block;
            position: relative;

            .card-number-div {
                margin: 0px 0px 5px 0px;
                position: relative;
            }

            #brand-icon {
                background: url("images/creditcard-icons.svg");
                background-repeat: no-repeat;
                background-size: 100%;
                height: 30px;
                position: absolute;
                right: 0;
                width: 50px;
                bottom: 8px;
            }

            .su-credit-card {
                background-position-y: -9px !important;
            }

            .su-visa {
                background-position-y: -83px !important;
            }

            .su-mastercard {
                background-position-y: -46px !important;
            }

            .su-american-express {
                background-position-y: -121px !important;
            }

            .su-jcb {
                background-position-y: -159px !important;
            }

            .su-discover {
                background-position-y: -196px !important;
            }

            .su-diners {
                background-position-y: -234px !important;
            }

            .su-unionpay {
                background-position-y: -271px !important;
            }

            .name-div {
                margin-bottom: 10px;
            }

            .exp-cvv-div {
                display: inline-block;
                padding: 0px;

                .exp-div, .cvv-div {
                    padding-left: 0px;
                }

                .exp-div {
                    float: left;
                }

                .cvv-div {
                    float: right;
                    position: relative;

                    label {
                        float: left;
                    }

                    .info-icon {
                        float: left;

                        .su-info {
                            cursor: pointer;
                        }

                        #help-text-message {
                            padding-left: 10px;
                        }
                    }
                }
            }

            .form-control {
                height: 32px;
            }

            .error-section {
                position: absolute;
                text-align: center;
                width: inherit;
                width: 100%;
            }

            #card-number.form-control,
            #card-cvc.form-control,
            #card-exp.form-control {
                display: inline-block;
                padding-top: 8px;
            }
        }
    }

    .error {
        font-size: $validation-font-size;
        line-height: 16px;
        padding: 0px 0px 0px 15px;
        width: 100%;
    }
}

.error {
    text-align: left;
    height: 30px;
    color: $validation-text-color;
}

.dialog-header {
    font-weight: 700;
    background-color: $admin-bg;
}

.update-card-footer {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0px;
    right: 0;

    .footer-button {
        float: right;
        padding: 13px 15px 13px 13px;
        width: 100%;
        background: $admin-bg none repeat scroll 0 0;

        .update-card-button {
            float: right;
            padding-left: 13px;

            .update-card, .update-card-and-pay, .cancel-update {
                float: left;
            }
        }
    }
}

//Add payment details style
.add-card-container-title {
    .card-title {
        font-size: 14px;
        font-weight: 700;
        padding-left: 0;
        margin-bottom: 5px;
        margin-top: 0;
    }
}

#add-card-details {
    padding: 0px 30px 0px 0px;

    .dialog-header, .update-card-footer {
        display: none;
    }

    #upgradecard-details {
        margin-top: 0px;

        .card-container {
            padding: 0px;

            #brand-icon {
                height: 28px;
                bottom: 10px;
            }

            .info-icon{
                top: 5px;
            }
        }

        .update-card-description {
            display: none;
        }

        .poweredby-div {
            margin: 0px;

            #powerby-icon {
                left: 0px;
                width: 100%;
                z-index: 0;
            }
        }

        .error {
            margin: 5px 0px;
            padding: 0px;
        }
    }
}

#payment-submit {
    float: right;
}

@media screen and (min-width: 1400px) {
    .btn.dropdown-toggle {
        height: $textbox-lg-height !important;
        font-size: $app-large-text-size !important;
    }

    .card-description {
        font-size: $app-large-text-size !important;
    }

    #add-card-details, #address-section {
        width: 535px;

        #upgradecard-details .poweredby-div {
            padding-bottom: 35px;
        }

        #geotrust {
            img[name="gts_seal"] {
                left: 4px;
                position: absolute;
                top: 19px;
                width: 90px;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    #add-card-details, #address-section {
        width: 535px;

        #upgradecard-details .poweredby-div {
            padding-bottom: 35px;
        }

        #geotrust {
            img[name="gts_seal"] {
                left: 10px !important;
                position: absolute;
                top: 20px !important;
                width: 90px;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .payment-description {
        font-size: $app-text-size !important;
        width: 70% !important;
    }

    #add-card-details, #address-section {
        width: 400px;

        #upgradecard-details .poweredby-div {
            padding-bottom: 15px;
        }

        #geotrust {
            img[name="gts_seal"] {
                left: 25px !important;
                position: absolute;
                top: 10px !important;
                width: 70px;
            }
        }
    }
}