// Resolution <= 1366px

$header-height: 40px;
$menu-height: 40px;
$menu-width: 40px;
$textbox-height: 28px;
$grid-row-height: 35px;

// Resolution >= 1366px

$header-lg-height: 50px;
$menu-lg-height: 55px;
$menu-lg-width: 55px;
$textbox-lg-height: 32px;
$grid-row-lg-height: 40px;