@import "../../core/_typography.scss";
@import "../../themes/default.scss";

#custom-attribute-dialog {
    background: $admin-page-bg;
    border: 1px solid $startup-container-border-color;

    .attribute-name {
        .e-float-input {
            height: 40px !important;
        }
    }

    .attribute-value, .attribute-description {
        .e-float-input {
            height: auto !important;
        }
    }

    .e-dlg-header-content {

        .e-dlg-header {
            color: $primary-text-color;

            .custom-dialog-header {
                color: $primary-text-color;
                font-size: map-get($app-text-size, md);
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: 0.3px;
            }
        }
    }

    .e-dlg-content {
        padding: 18px;
        background: $admin-page-bg;
    }

    .custom-attribute-label {
        color: $primary-text-color;
        font-size: map-get($app-text-size, sm) + 1;
        font-weight: normal;
        margin-top: 7px;
    }

    .custom-attribute-input {
        height: 32px !important;
    }

    .custom-attribute-div {
        margin: 0 14px 0 2px;
        padding: 0;

        .custom-attr-input {
            margin-bottom: 24px;
        }

        .entry-checkbox {
            labal::after {
                border-color: $grey-200;
            }
        }
    }

    ::-webkit-input-placeholder {
        color: $grey-200;
        font-size: map-get($app-text-size, sm);
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
    }

    :-moz-placeholder {
        color: $grey-200;
        font-size: map-get($app-text-size, sm);
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
    }

    ::-moz-placeholder {
        color: $grey-200;
        font-size: map-get($app-text-size, sm);
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
    }

    .custom-attribute-div:last-child {
        margin-bottom: 0;
    }

    .material-checkbox + input + label {
        color: $primary-text-color;
        font-weight: normal;
        height: 28px;
        padding: 7px 0 0 22px !important;
    }

    .material-checkbox:checked + input + label::before {
        bottom: 12px !important;
        left: 1px !important;
    }

    .e-footer-content {
        background: $admin-container-bg;

        .e-btn {
            font-family: var(--font-family);
            font-size: map-get($app-text-size, sm);
            font-weight: bold;
            height: 28px;
            line-height: 25px;
            margin-left: 16px;
            min-width: 80px;
        }
    }

    .has-error {
        border-color: $validation-text-color;

        #custom-attribute-value {
            border-color: $validation-text-color;
        }
    }

    #name-plugin-validation, #custom-name-validation, #value-plugin-validation, #custom-value-validation {
        color: $validation-text-color;
        float: left;
        margin-top: -15px;
        font-size: map-get($app-text-size, sm);
        position: absolute;
    }
}

#SiteAttributesGrid, #AddSiteAttributesGrid {

    .e-gridcontent {

        .e-rowcell {
            position: static !important;
            padding-left: 18px;
            text-overflow: ellipsis;

            .dropdown {
                position: absolute !important;

                .dropdown-menu {
                    left: -140px;
                    margin-top: 5px;
                    padding: 5px 0px;

                    li a {
                        padding: 5px 10px !important;

                        .menu-text {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .user-hover-options {
        #edit-site-attribute, #remove-site-attribute {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.custom-attr-validation-errors {
    color: $danger;
    font-size: map-get($app-text-size, sm);
    position: absolute;
}
