<div id="publish-info-popup" class="fluent-popup custom-bootstrap-styles custom-server-style" style="display: none" ng-controller="PublishInfoCtrl">
    <div class="fluent-popup-header col-xs-12 no-padding">
        <h4 class="popup-title">
            <span class="su su-info"></span>
            <span id="info-dialog-header">[[[Publishing Info]]]</span>
            <button id="close-info-dialog" type="button" title="[[[Close]]]" data-toggle="tool-tip" data-container="body" class="close popup-close" ng-click="closeItemInfo()" aria-label="Close">
                <span class="su su-close"></span>
            </button>
        </h4>
    </div>
    <div class="fluent-item-popup-body col-xs-12">
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">[[[Name:]]]</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.ItemName}}</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">[[[Description:]]]</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.Description}}</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">[[[Category Name:]]]</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.CategoryName}}</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">[[[Published Site:]]]</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.TenantName}}</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding" ng-if="!PublishedItemDetails.IsLocked">
            <label class="info-label col-xs-4 no-padding">[[[Allow Dashboard Editing:]]]</label><span class="col-xs-8 no-padding"> [[[Enabled]]]</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding" ng-if="PublishedItemDetails.IsLocked">
            <label class="info-label col-xs-4 no-padding">[[[Allow Dashboard Editing:]]]</label><span class="col-xs-8 no-padding">[[[Disabled]]]</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">[[[Created By:]]]</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.DisplayName}}</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">[[[Created Date:]]]</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.CreatedDateString}}</span>
        </span>
    </div>
    <div class="fluent-popup-footer col-xs-12">
        <div class="col-xs-12">
            <button class="app-button app-secondary-button" ng-click="closeItemInfo()" title="Close">[[[Close]]]</button>
        </div>
    </div>
</div>
