:root {
    --primary-branding-color: var(--blue);
    --primary-branding-border-color: var(--ntc-btn-border-color);
    --primary-text-normal-color: var(--primary-black);
    --primary-text-hover-color: var(--primary-black);
    --secondary-text-normal-color: var(--grey-700);
    --hyper-link-normal-color: var(--blue);
    --hyper-link-hover-color: var(--blue-secondary);
    --primary-btn-bg-normal-color: var(--blue);
    --primary-btn-bg-hover-color: var(--blue-secondary);
    --primary-btn-bg-disable-color: var(--grey-200);
    --primary-btn-border-normal-color: var(--blue);
    --primary-btn-border-disable-color: var(--grey-400);
    --primary-btn-text-normal-color: var(--white);
    --primary-btn-text-hover-color: var(--white);
    --primary-btn-text-disable-color: var(--grey-600);
    --secondary-btn-bg-normal-color: var(--white);
    --secondary-btn-bg-hover-color: var(--grey-200);
    --secondary-btn-bg-disable-color: var(--grey-200);
    --secondary-btn-border-normal-color: var(--grey-500);
    --secondary-btn-border-disable-color: var(--grey-400);
    --secondary-btn-text-normal-color: var(--primary-black);
    --secondary-btn-text-hover-color: var(--primary-black);
    --secondary-btn-text-disable-color: var(--grey-600);
    --link-btn-bg-normal-color: var(--white);
    --link-btn-bg-hover-color: var(--grey-200);
    --link-btn-text-normal-color: var(--blue);
    --link-btn-text-hover-color: var(--blue-secondary);
    --link-btn-border-normal-color: var(--blue);
    --link-btn-border-hover-color: var(--blue-secondary);
    --hover-bg-normal-color: var(--grey-200);
    --active-bg-normal-color: var(--blue-lighter);
    --active-text-normal-color: var(--blue);
    --nav-item-menu-icon-border-color: var(--create-item-icon-border-normal) !important;
    --nav-item-menu-section-bg-color: var(--blue-lighten) !important;
    --nav-menu-sec-text-normal-color: var(--secondary-text-normal-color) !important;
    --nav-menu-main-color: var(--primary-branding-bg-color);
    --nav-menu-bg-normal-color: var(--white);
    --nav-menu-bg-hover-color: var(--grey-300);
    --nav-menu-bg-active-color: var(--active-bg-normal-color);
    --nav-menu-pri-text-normal-color: var(--primary-text-normal-color);
    --nav-menu-pri-text-hover-color: var(--primary-text-normal-color);
    --nav-menu-pri-text-active-color: var(--active-text-normal-color);
    --nav-menu-hyper-link-normal-color: var(--hyper-link-normal-color);
    --nav-menu-hyper-link-hover-color: var(--hyper-link-hover-color);
}
