////Primary Colours
$blue: #0565ff;
$blue-lighter: #dbe9ff;
$blue-lighten: #f0f6ff;
$primary-black: #333;
$border-color: #bbb;

///Bold BI color
$bold-text-color: #ff4800;
$bold-bi-background-color: #fafafa;
$bold-bi-border: #dedede;
$bold-bi-text-color: #3C4D6F;
$bold-bi-question-text-color: #283a5e;
$bold-link-hover-color: #23527c;
$icon-info-color: #828893;

//Subscription status colors
$trial-color: #555abf;
$trial-bg-color: #c4f0ff;
$trialnotstarted-color: #c85d42;
$trialnotstarted-bg-color: #fdeebe;
$active-color: #159570;
$active-bg-color: #d6facf;

////Secondary Colours
$red: #ff3b30;
$orange: #ff9503;
$yellow: #ffcc01;
$green: #4dd964;
$blue-secondary: #007aff;
$primary-border: #0851d0;

////Neturals Colour
$white: #fff;

////Grey Colours
$grey-900: #1a1a1a;
$grey-800: #4d4d4d;
$grey-700: #808080;
$grey-600: #999999;
$grey-500: #b3b3b3;
$grey-400: #cccccc;
$grey-300: #eeeeee;
$grey-200: #f2f2f2;
$grey-100: #f9f9f9;


//// Branding Color
$boldbi-brand: #ff4800;

//Bold Sign Colors
$header-color: $primary-black;
$sub-text: #333842;
$border: #B3BBC5;
$email-validation-text: #666E80;
$validation-text-color: #a94442;
$disabled: #D2D7DE;
$password-tick: #137E3F;
$password-show-hide: #A0AEC0;

//////////////////////////////////////////
////Don't define any color below, make use of the above theme colors.

////general Colours

$primary: $blue;
$danger: $red;

//Additional colors
$validation-text-color: #a94442;
$primary-btn-hover-color: #1882ff;
$selected-color: #E7F0FF;

////Text Colours
$primary-text-color: $primary-black;
$text-white: $white;
$text-primary: $blue;
$text-disabled: $grey-400;
$text-placeholder: $grey-200;
$text-msg: $grey-500;
$text-info-link: $blue-secondary;
$text-error: $red;
$text-description: $grey-700;

$primary-bg-color: $white;
$primary-selected-color: $blue-lighter;
$primary-light-color: $blue-lighten;
$app-background-hover: $grey-300;
$icon-color: $grey-800;
$icon-hover-color: $grey-900;
$nav-icon-normal-color: $grey-700;

$primary-btn-hover-color: #1882ff;
$primary-btn-border-color: #0450cc;
$overlay-bg-color: $primary-black;
$btn-hover-border-color: $primary;
$separator-color: $grey-400;

// Admin Page
$admin-container-bg: $grey-100;
$admin-page-bg: $white;
$button-disabled-color: $grey-300;


////Mobile
$mobile-display-name-bg-color: $primary-black;
$mobile-menu-bg-color: $grey-200;
$mobile-menu-active-bg-color: $grey-300;

//Template Dashbopard Popup
$template-image-bg-color: $grey-200;
$template-dashboard-image-maximixe-bg-color: $grey-500;
