////Primary Colours
$blue: var(--colorPrimary);
$blue-lighter: #dbe9ff;
$blue-lighten: #f0f6ff;

//Grey Color
$grey-900: #1a1a1a;
$grey-800: #333333;
$grey-700: #4d4d4d;
$grey-500: #808080;
$grey-400: #999999;
$grey-300: #b3b3b3;
$grey-200: #cccccc;
$grey-80: #eeeeee;
$grey-60: #f2f2f2;
$grey-40: #f9f9f9;


$border-color: $grey-300;

$success: var(--success);
$danger: var(--danger);
$info: var(--info);

$orange: #ff9503;
$blue-secondary: #007aff;
$primary-border: #0851d0;
$antique-white:antiquewhite;

$primary-color: var(--colorPrimary);
$primary-text-color: var(--colorText);
$sub-text-color: $grey-500;
$validation-text-color: $danger;
$success-text-color: $success;
$selected-color: $blue-lighter;
$select-hover: $grey-80;

$primary-black: #333;
$white: #fff;

// Icons
$icon-color: $grey-700;
$icon-hover-color: $grey-900;

// Login Page
$login-bg: $grey-800;
$placeholder-color: $grey-300;
$border-color: $grey-200;
$login-font-color: $primary-black;

// Admin Page

$admin-container-bg: var(--background);
$admin-page-bg: var(--surface);
$admin-body-border-color: $grey-80;
$admin-pages-border-color: $grey-80;
$description-text-color: $grey-900;

//input box
$input-box-disabled: $grey-80;


//Grid Variables
$grid-header-bg: var(--surface);
$grid-content-bg: var(--surface);
$grid-footer-bg: var(--surface);
$grid-border-color: $grey-80;
$grid-hover-color: $grey-80;
$grid-active-color: $selected-color;
$grid-active-text-color: $primary-black;
$grid-active-icon-color: $primary-text-color;
$grid-header-color: $sub-text-color;
$grid-text-color: $primary-text-color;
$grid-link-color: $primary-color;

$item-name-color: $grey-40;
$item-panel-bg: $grey-700;
$item-search-color: $grey-300;
$item-search-bg: $primary-black;
$AuthorColor: $grey-300;
$AuthorColorOnSelect: $grey-800;
$AuthorTextFontStyle: Roboto Regular 10px;
$ad-icon-color: $grey-500;

//Main Menu Variables
$menu-active-bg: $primary-color;
$menu-icon-color: $grey-200;
$menu-label-color: $primary-text-color;
$menu-hover-color: $grey-80;
$menu-active-icon-color: $white;
$background-active: $blue-lighter;
$text-white: $white;

//Sub Menu
$menu-hover-text-color: $grey-80;
$menu-active-text-color: $primary-color;
$nav-icon-normal-color: $grey-500;
$blue-lighter-color: $blue-lighten;

//Header Variables
$header-bg: $grey-800;
$header-bg-color: $grey-80;
$header-text-color: $grey-80;
$header-height: 40px;

//Button Variables
$btn-min-width: 90px;
$btn-height-normal: 28px;
$btn-height-large: 34px;
$filter-btn-min-width: 75px;
$primary-btn-bg: $primary-color;
$primary-btn-hover: $blue-secondary;
$primary-btn-text-color: var(--colorOnPrimary);
$primary-btn-disabled-bg: $grey-40;
$primary-btn-disabled-border: $border-color;
$secondary-btn-bg: var(--colorSecondary);
$secondary-btn-text-color: var(--colorOnSecondary);
$secondary-btn-border: $grey-300;
$secondary-btn-hover: $grey-40;
$danger-btn-bg: $danger;
$danger-btn-hover: #FF4E45;
$link-btn-hover: $grey-80;
$submit-button-disabled: $grey-60;

// Link colors
$link-text-color: $primary-color;

// Profile Dialog
$profile-btn-text-color: $grey-500;
$profile-border-color: $grey-200;
$primary-btn-disabled-color: $grey-400;

//Dialog Box
$dialog-header-bgcolor: $admin-page-bg;
$dialog-body-bgcolor: $admin-page-bg;
$dialog-footer-bgcolor: $grey-60;
$footer-border-color:$grey-200;

//CSS Radio Button
$radio-bg: $primary-color;
$radio-border: $grid-border-color;
$radio-shadow: $primary-btn-text-color;
$radio-active: $primary-color;

//Dialog
$dialog-close-icon-color: $grey-500;
$su-nav-settings-color: $primary-black;

//Application Font Sizes

$label-font-size: 14px;
$info-font-size: 12px;
$validation-font-size: $info-font-size;

//Search area border
$search-border: $grey-200;

//Place holder 
$placeholder-color: $grey-300;

//Schedule status icon color
$active-schedule-icon-color: $success;
$completed-schedule-icon-color: $orange;
$inactive-schedule-icon-color: $danger;

//Notification variables
$notification: $grey-80;


//Dashboard Views
$poup-close-hover-color:$blue;
$footer-bg-color: $grey-80;
$footer-border-color:$grey-200;
$search-key-border-color: $grey-80;
$search-bg-color: $white;
$search-schedule-bg-color:$grey-60;

$overlay-color: $grey-500;



//Fluent Popup
$popup-header-bg: $grey-40;
$popup-footer-bg: $popup-header-bg;
$popup-header-border: $grey-80;
$popip-footer-border: $popup-header-border;


$highlight-list-item: $blue;


//Dashboard Listing new UX
$scroller-bg: $grey-300;
$dashboard-button-border-color: $primary-border;

//Home
$home-border: 1px solid $grey-80;

//Subscription
$table-header: $admin-page-bg;
$subscription-horizontal-border: $grey-200;
$subscription-buy-additional-storage-option: $blue;
$additional-storage-font-color: $grey-800;
$additional-storage-border-color: $grey-80;
$additional-storage-table-bg-color: $grey-40;

//dropdown
$dropdown-selected: $selected-color;

//Modal dialog
$dialog-footer-bg-color: $grey-40;
$dialog-border-color: $grey-80;
$numeric-focus-border: #ffcc01;

//Startup Page
$startup-container-border-color: $grey-80;

//Below colors used for cloud plans,we will work theming this for later

//LicenseSettings
$supported-plan: #008000;
$unsupported-plan: #FF0000;
$plan-color: $white;
$feature-plan-border: $grey-200;
$basic-plan: #00B0F0;
$advance-plan: #FFC000;
$pro-plan: #00B753;
$premium-plan: #7030A0;
$cancel-subscription: #FF0000;
$upgrade-plan: $grey-300;
$upgrade-planname-font: 16px;
$upgrading-planprice-font: 28px;
$secondary-btn-border-color: #b3b3b3;
$subscription-message-font: 10px;
$subscription-background: #4CAF50;
$subscription-btn-hover: #50b754;
$choose-plan-button: #7F7F7F;
//TenantLogs
$table-border: $grey-80;
$date-text: #1ab394;
$date-fontsize: 85%;
$logtype-fontsize: 13px;

//Bold Sign
$sub-text: #666E80;
$sub-text-black: #666E80;

//Tenant Status colors
$subscriptioncancelled: #9251ac;
$subscriptioncancelled-bg: #ffe0f5;
$markedforsuspension: #ce7c3a;
$markedforsuspension-bg: #fcf4b2;
$active: #159570;
$active-bg: #d6facf;
$trial: #555abf;
$trial-bg: #c4f0ff;

//Login Page
//$background-color: #d8d8d8;

//dialog
$bg-dialog-1: #f5deb4;
$dialog-text-1: #c69b69;
$boldbi-brand: #ff4800;
$dialog-seperator: #E1E1E1;

//Subscription status colors
$trial-color: #555abf;
$trial-bg-color: #c4f0ff;
$trialnotstarted-color: #c85d42;
$trialnotstarted-bg-color: #fdeebe;
$active-color: #159570;
$active-bg-color: #d6facf;

//Navigation
$nav-menu-bg-color: var(--nav-menu-bg-color);
$nav-menu-text-color: var(--nav-menu-text-color);
$nav-menu-text-sec-color: var(--nav-menu-text-sec-color);
$nav-menu-content-color: var(--nav-menu-content-color);
$nav-menu-active-color: var(--nav-menu-active-color);
$nav-menu-active-text-color: var(--nav-menu-active-text-color);
$nav-menu-active-sec-color: var(--nav-menu-active-sec-color);
$nav-menu-active-content-color: var(--nav-menu-active-content-color);
$nav-menu-hover-color: var(--nav-menu-hover-color);
$nav-menu-hover-text-color: var(--nav-menu-hover-text-color);
$nav-menu-hover-text-sec-color: var(--nav-menu-hover-text-sec-color);
$nav-menu-hover-content-color: var(--nav-menu-hover-content-color);
$nav-menu-create-icon-bgcolor: var(--nav-menu-create-icon-bgcolor);
$nav-menu-separtor-icon-color: var(--nav-menu-separtor-icon-color);

$item-menu-bg-color: $nav-menu-bg-color;
$item-menu-section-bg-color: var(--item-menu-section-bg-color);
$item-menu-title-color: $nav-menu-text-color;
$item-menu-descrip-color: $nav-menu-text-sec-color;
$item-menu-hover-bg-color: var(--item-menu-hover-bg-color);
$item-menu-hover-border-color: var(--item-menu-hover-border-color);
$item-menu-hover-title-color: $nav-menu-hover-text-color;
$item-menu-hover-descrip-color: $nav-menu-hover-text-sec-color;

$nav-notification-menu-bg-color: $nav-menu-bg-color;
$nav-notification-items-hover-bg-color: $nav-menu-hover-color;
$nav-notification-heading-text-color: $nav-menu-text-color;
$nav-notification-sub-heading-text-color: $nav-menu-text-sec-color;
$nav-notification-content-text-color: $nav-menu-text-color;
$nav-notification-time-text-color: $nav-menu-text-sec-color;
$nav-notification-content-hover-text-color: $nav-menu-text-color;
$nav-notification-time-hover-text-color: $nav-menu-hover-text-sec-color;

$browser-default-select-color-ej2-custom: #3297FD;




