:root {
    --background: #f9f9f9;
    --surface: #FFF;
    --colorText: #333333;
    --colorPrimary: #0565ff;
    --colorPrimaryVariant: #0050d1;
    --colorOnPrimary: #FFFFFF;
    --colorSecondary: #fff;
    --colorSecondaryVariant: #f9f9f9;
    --colorOnSecondary: #333;
    --success: #4dd964;
    --danger: #ff3b30;
    --info: #31708f;
}
