<div id="item-info-popup" class="fluent-popup custom-bootstrap-styles custom-server-style" style="display: none" ng-controller="ItemInfoCtrl">
    <div class="fluent-popup-header">
        <h4 class="popup-title">
            <span class="su su-info"></span>
            <span id="info-dialog-header">[[[Info]]]</span>
            <button id="close-info-dialog" type="button" title="[[[Close]]]" data-toggle="tool-tip" data-container="body" class="close popup-close" ng-click="closeItemInfo()" aria-label="Close">
                <span class="su su-close"></span>
            </button>
        </h4>
    </div>
    <div class="fluent-item-popup-body">
        <p class="item-info-name">
            {{ItemDetail.Name}}
        </p>
        <p class="item-info-description" ng-show="ItemDetail.Description != ''">
            {{ItemDetail.Description}}
        </p>
        <span class="item-info-created">
            <label class="info-label">[[[Created by:]]]</label> {{ItemDetail.CreatedByDisplayName}}
        </span>
        <span class="item-info-created">
            <label class="info-label">[[[Created on:]]]</label> {{ItemDetail.CreatedDate}}
        </span>
        <span class="item-info-modified">
            <label class="info-label">[[[Last modified by:]]]</label> {{ItemDetail.ModifiedByFullName}}
        </span>
        <span class="item-info-modified">
            <label class="info-label">[[[Last modified on:]]]</label> {{ItemDetail.ModifiedDate}}
        </span>
        <span class="item-info-modified" ng-hide="ItemDetail.IsDraft">
            <label class="info-label">[[[Category: ]]]</label> {{ItemDetail.CategoryName}}
        </span>
    </div>
    <div class="fluent-popup-footer">
        <div class="col-xs-12" ng-show="showDashboardLinkButton">
            <a href="{{viewDashboardUrl(ItemDetail.Id, ItemDetail.CategoryName, ItemDetail.Name, ItemDetail.IsDraft)}}" class="link-button" target="_blank" title="">{{GetInfoButtonText(ItemDetail.IsDraft)}}</a>
        </div>
        <div class="col-xs-12 ng-hide" ng-show="!showDashboardLinkButton">
            <button class="secondary-button" ng-click="closeItemInfo()" title="">[[[Close]]]</button>
        </div>
    </div>
</div>