@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }
body .admin-page-body .e-custom.e-non-float input {
  min-height: 30px !important; }
body .admin-page-body .e-custom.e-non-float.e-valid-input {
  border-color: var(--input-box-border-normal-color) !important; }
body .admin-page-body .e-custom.e-non-float:hover:not(.e-input-focus):not(.e-success):not(.e-error):not(.e-disabled) {
  border-color: var(--input-box-border-active-color) !important; }
body .admin-page-body .e-custom.e-non-float.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-disabled) {
  border-color: var(--input-box-border-active-color) !important; }
body .admin-page-body .e-custom.e-non-float.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled) {
  border-color: var(--input-box-border-active-color) !important;
  box-shadow: inset 0.1px 0 var(--input-box-border-active-color), inset -0.1px 0 var(--input-box-border-active-color), inset 0 -0.1px var(--input-box-border-active-color) !important; }
body .admin-page-body .e-custom.e-non-float.e-error {
  border-color: var(--red) !important;
  box-shadow: inset 0.1px 0 var(--red), inset -0.1px 0 var(--red), inset 0 -0.1px var(--red) !important; }
body .admin-page-body .e-custom.e-non-float.e-disabled {
  background-color: var(--input-box-bg-disable-color) !important;
  border: 1px solid var(--input-box-border-disable-color) !important;
  color: var(--input-box-text-disable-color) !important; }
body .admin-page-body .edit-files {
  margin-bottom: 20px; }
  body .admin-page-body .edit-files .e-input-group {
    height: 28px !important;
    width: 66.5% !important; }
    body .admin-page-body .edit-files .e-input-group label {
      font-size: 12px !important; }
    body .admin-page-body .edit-files .e-input-group input {
      width: 100% !important;
      padding: 3px 12px 10px !important; }
body .admin-page-body .form-groups .e-custom {
  height: auto !important;
  width: 66.5% !important; }
  body .admin-page-body .form-groups .e-custom #text-area-content {
    white-space: pre !important;
    font-size: 13px;
    height: 700px; }
body .admin-page-body .form-groups .e-float-input.e-control-wrapper:not(.e-error).e-input-focus textarea ~ label.e-float-text {
  color: var(--primary-branding-bg-color) !important; }
