@import "../../themes/default.scss";

body {
    .admin-page-body {
        .edit-files {
            margin-bottom: 20px;
            .e-float-input {
                width: 66.5% !important;
                height: 28px !important;

                label {
                    font-size: 12px !important;
                }

                input {
                    width: 100% !important;
                    padding: 3px 12px 10px !important;
                }
            }
        }

        .form-groups {
            .e-float-input {
                width: 66.5% !important;
                height: auto !important;

                #text-area-content {
                    white-space: pre !important;
                    font-size: 13px;
                }
            }

            .e-float-input.e-control-wrapper:not(.e-error).e-input-focus textarea ~ label.e-float-text {
                color: $primary-color !important;
            }
        }

        .textarea-label {
            height: 700px;
            width: 900px;
            border: 1px solid $grey-400;
            border-radius: 4px;
            margin: 10px;
            padding-left: 10px;
        }
    }
}
