@import "../mixins.scss";
@import "../../default/default.scss";

body {
    .admin-page-body {
        @include ej2NonFloat();

        .edit-files {
            margin-bottom: 20px;

            .e-input-group {
                height: 28px !important;
                width: 66.5% !important;

                label {
                    font-size: 12px !important;
                }

                input {
                    width: 100% !important;
                    padding: 3px 12px 10px !important;
                }
            }
        }

        .form-groups {

            .e-custom {
                height: auto !important;
                width: 66.5% !important;

                #text-area-content {
                    white-space: pre !important;
                    font-size: 13px;
                    height: 700px;
                }
            }

            .e-float-input.e-control-wrapper:not(.e-error).e-input-focus textarea ~ label.e-float-text {
                color: $primary-color !important;
            }
        }
    }
}
