@import "../../themes/default.scss";

body {
    .textarea-label {
        height: 700px;
        width: 900px;
        border: 1px solid $grey-400;
        border-radius: 4px;
        margin: 10px;
        padding-left: 10px;
    }
}

   
