@import "../mixins.scss";


#admin-menu-nav-bar {
    @include navmenu();
}

#server-app-container {
    overflow: hidden;

    #content-area {
        height: 100%;
    }

    .admin-page-content-container {
        @include admin-page-template_new();

        input:not([type=file]):not([type=checkbox]):not([type=submit]) {
            font-size: 12px;
            height: 28px;
            padding: 5px 8px;
            width: 450px;
        }

        .import-file {
            @include uploadInput();
        }

        .separator-margin {
            .method-type {
                float: left;

                button {
                    border-radius: 4px 0px 0px 4px;
                    border-right: none;
                    height: 28px !important;
                    opacity: 1;
                }
            }
        }

        #ssl-selectpicker {
            .input-group-addon {

                .btn {
                    height: 28px !important;
                    padding: 4px 12px;
                    border-radius: 4px 0px 0px 4px;
                }
            }

            #site_url {
                width: 360px;
                border-left: 0px;
                border-radius: 0px 4px 4px 0px
            }
        }

        .margin-bottom {
            margin-bottom: 16px;
        }

        #api-keys-body {
            @include copyshowClient();
        }
    }
}
