@import "../mixins.scss";


#admin-menu-nav-bar {
    @include navmenu();

    #license-notification-indicator {
        background: var(--red);
        border: solid 1px var(--white);
        border-radius: 10px;
        display: block;
        left: 24px;
        line-height: 5px;
        padding: 3px;
        position: absolute;
        top: 9px;
    }
    
    #tenant-activity-log
    {
        .audit-log
        {
            font-size: 16px !important;
            margin: 0 -2px;
        }
    }
    
    .beta-icon
    {
        font-size: 10px !important;
        margin-bottom: -1px;
        margin-left: 16px;
        background-color: $primary-button-bg-normal-color !important;
        color: $primary-button-text-normal-color !important;
        width: 38px !important;
        line-height: 13px !important;
        padding: 1px 4px !important;
    }
}

#server-app-container {
    overflow: hidden;

    #content-area {
        height: 100%;
    }


    @include admin-page-template_header();

    .auth-page-height {
        height: 100% !important;
    }

    .auth-page-width {
        width: 100% !important;
        height: calc(100% - 144px) !important;
    }

    .admin-page-container-with-tab {
        height: calc(100% - 144px) !important;
    }

    .admin-page-content-container {
        @include admin-page-template_new();

        &#embed-settings-container, &#api-keys-container, &#api-validation-container, &#bold-service-version-container, &#view-user-profile, &#proxy-container {
            height: calc(100% - 76px);
        }

        &#license-settings-container {
            height: calc(100% - 100px) !important;
        }

        &#application-information-container {
            height: calc(100% - 85px) !important;
        }

        &#change-password-container {
            height: calc(100% - 140px) !important;
        }

        &#look-and-feel-container {
            height: calc(100% - 120px) !important;
        }

        input:not([type=file]):not([type=checkbox]):not([type=submit]):not(.e-numerictextbox):not(.e-numeric-hidden):not(.e-daterangepicker) {
            font-size: 12px;
            height: 28px;
            padding: 5px 8px;
            width: 450px;
        }

        .import-file {
            @include uploadInput();
        }

        .separator-margin {
            .method-type {
                float: left;

                button {
                    border-radius: 4px 0px 0px 4px;
                    border-right: none;
                    height: 28px !important;
                    opacity: 1;
                }
            }
        }

        #ssl-selectpicker {
            .input-group-addon {

                .btn {
                    height: 28px !important;
                    padding: 4px 12px;
                    border-radius: 4px 0px 0px 4px;
                }
            }

            #site_url {
                width: 360px;
                border-left: 0px;
                border-radius: 0px 4px 4px 0px
            }
        }

        .margin-bottom {
            margin-bottom: 16px;
        }

        #api-keys-body {
            @include copyshowClient();
        }
    }
}

