@import "../../themes/default.scss";

#api-validation-container {
    .admin-page-body {
        .end-point-textbox {
            width: 431px;
            float: left;
            margin-right: 20px;
        }

        .primary-button {
            min-width: 107px;
        }
    }
}

#get-request-response-dialog-content {
    div {
        padding: 10px;
    }

    .api-end-point {
        margin-left: 10px;
        color: $primary-color;
    }

    .response-code {
        margin-left: 10px
    }

    pre {
        margin-top: 10px;
        max-height: 400px;
    }
}

.e-footer-content {
    text-align: center !important;
}

#messageBox_dialog-content {
    word-break: break-all;
    word-wrap: break-word;
}
