#api-keys-container #api-keys-body {
  padding-bottom: 5px; }
  #api-keys-container #api-keys-body .su.su-show, #api-keys-container #api-keys-body .su.su-hide {
    font-size: 14px;
    padding: 6px; }
