@import "../../themes/default.scss";

#api-keys-container {
    #api-keys-body {
        padding-bottom: 5px;

        .su.su-show, .su.su-hide {
            font-size: 14px;
            padding: 6px;
        }
    }
}
