@import "../../themes/default.scss";

#api-keys-container {
    .api-keys-header {
        .header-text {
            font-size: 14px;
        }
    }

    #api-keys-body {
        padding-bottom: 5px;

        .app-textbox-label {
            color: $primary-text-color;
        }

        .form-input-field {
            margin-top: 0;
            font-size: 12px;
            width: 500px;
        }

        .client-values {
            padding: 10px;
            border-radius: 2px;
            width: 300px;
            background-color: $grey-80 !important;
            border: none;
        }

        .copy-client-values {
            padding: 10px;
            background-color: $grey-80;
            position: relative;
            left: 3%;
            border: none;
            height: 34px;

            &:hover {
                background-color: $grey-200;
                cursor: pointer
            }
        }

        .su.su-show, .su.su-hide {
            font-size: 18px;
            top: 5px;
        }

        .show-hide-password {
            top: 0;
            margin-left: 10px;
        }
    }
}
