@import "../mixins.scss";

#server-app-container {
    #base-footer-div {
        background-color: transparent !important;
    }

    #content-area {
        background-color: $admin-container-bg !important;
    }
}

#base_container_WaitingPopup, .e-waitpopup-pane {
    z-index: 998 !important;
}

.placeholder {
    position: absolute;
    top: 0px;
    padding: 6px 0 6px 12px;
    color: $placeholder-color;
    height: 34px;
    line-height: 1.5;
    overflow: hidden;
}

.e-chkbox-wrap {
    float: left;

    .e-chkbox-medium {
        .e-chk-inact, .e-chk-act {
            border: 1px solid $grey-900;
            border-radius: 3px;
            height: 11px;
            top: 2px;
            width: 11px;
        }

        .e-chk-act .e-chk-image {
            left: -2px;
            top: -5px;
        }
    }
}

.tooltip-inner {
    word-break: break-all;
    white-space: pre;
    max-width: none;
}

.tooltip.top .tooltip-arrow {
    bottom: 1px;
}

.separator {
    float: left;
    width: 100%;
}

.confirmatioMessage {
    display: none;
    float: right;
    margin-top: 10px;
}

.ValidationErrorImage {
    color: $validation-text-color;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

#no-auth {
    .no-auth-msg {
        padding-left: 20px;
        padding-top: 25px;
        padding-bottom: 5px;
    }

    .options-padding {
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 65px;
        display: block;
    }

    .auth-icon {
        text-align: center;
        padding-top: 30px;
        font-size: 26px;
    }

    .auth-text {
        padding-top: 10px;
        text-align: center
    }

    a {
        color: $primary-text-color;
    }

    .default-auth-option {
        height: 120px;
        width: 160px;
        background: $admin-page-bg;
        border: 1px solid $grey-200;
        border-radius: 4px;
        display: inline-block;
        margin-right: 24px;
    }
}

#windows-ad-settings-tab {
    .popover {
        width: 100%;
    }
}

#active-directory-container, #sso-container {
    margin-bottom: 30px;

    .admin-page-body {
        border-top: none;
    }

    #ad-tab-nav {
        border-color: $admin-body-border-color;

        li:first-child {
            margin-left: 20px;
        }

        li a {
            color: $primary-text-color;
        }

        li.active {
            a {
                color: $primary-color;
            }
        }
    }

    input::-ms-clear, input::-ms-reveal {
        display: none;
    }
}

#oauth-settings-tab, #openid-settings-tab, #azure-ad-settings-tab, #jwt-settings-tab {
    #oauth-page-body, #openid-page-body {
        .su.su-show, .su.su-hide {
            font-size: 18px;
        }
    }

    #jwt-page-body {
        .su.su-show, .su.su-hide {
            font-size: 17px;
            top: 2px !important;
            height: 35px;
        }
    }

    .admin-page-body {
        color: $primary-text-color;

        .auth-settings-form {
            margin-bottom: 50px;
            margin-top: 10px;
            border-radius: 4px;
            float: left;
            width: 100%;

            .section-title {
                font-size: $app-large-text-size;
                margin: 30px 0 0 20px;
                font-weight: bold;
            }

            .method-type {
                float: left;
                width: 20% !important;
            }

            .info-popup {
                float: left;
                position: absolute;
                cursor: pointer;
                top: 7px;
            }

            .popover {
                width: 400px;
            }

            #oauth-userinfo-endpoint, #oauth-token-endpoint {
                width: 80%;
            }

            #oauth-user-data-info {
                top: 33px;
                margin-left: 20px;
            }

            #oauth-logo-info, #openid-logo-info, #jwt-logo-info {
                left: 130px;
                top: 2px;
            }

            input#oauth-callback-link, input#openid-callback-link, input#oauth-mobile-callback-link, input#openid-mobile-callback-link {
                overflow: hidden;
                border-radius: 4px 0 0 4px;
                resize: none;
                width: 93%;
                float: left;
                background-color: $dialog-body-bgcolor;
                box-shadow: none;

                &:focus {
                    border: 1px solid $primary-color;
                }
            }

            #oauth-callback-link-copy, #openid-callback-link-copy, #oauth-mobile-callback-link-copy, #openid-mobile-callback-link-copy {
                border-radius: 0 4px 4px 0;
                float: left;
                font-size: 14px;
                cursor: pointer;
                padding-left: 7px;
                padding-top: 10px;
                width: 7%;
                background-color: $dialog-body-bgcolor;
                box-shadow: none;
                border-left: none;
            }

            #oauth-callback-link-copy.focusdiv, #openid-callback-link-copy.focusdiv, #oauth-mobile-callback-link-copy.focusdiv, #openid-mobile-callback-link-copy.focusdiv {
                border-top: 1px solid $primary-color;
                border-right: 1px solid $primary-color;
                border-bottom: 1px solid $primary-color;
            }

            .section-info-message-container {
                margin: 20px;
                background-color: $admin-container-bg;
                border: 1px solid $footer-bg-color;
                border-left: 6px solid $primary-text-color;
                cursor: default;
                display: table;
                min-height: 45px;

                .su-info {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 22px;
                }

                .section-info-message {
                    display: table-cell;
                    padding: 10px;
                    vertical-align: middle;
                }
            }

            .logo-container {
                .auth-image-upload-box {
                    height: 100px;
                    width: 103px;
                    /*height: 133px;
                    width: 153px;*/
                    border-radius: 4px;
                    border: 2px solid $footer-bg-color;

                    .js-image-preview {
                        height: 70px;
                        width: 100px;
                        /*height: 100px;
                        width: 150px;*/
                        background-image: url("");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .upload-options {
                        height: 26px;
                        /*height: 30px;*/
                        background-color: $primary-btn-disabled-bg;
                        cursor: pointer;

                        input {
                            width: 0.1px;
                            height: 0.1px;
                        }

                        label {
                            width: 100%;
                            height: 100%;
                            display: table;
                            margin: 0;

                            span {
                                font-size: $app-large-text-size;
                                color: $primary-color;
                                display: table-cell;
                                vertical-align: middle;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .signing-key-values {
                padding: 10px;
                border-radius: 2px;
                background-color: $select-hover;
                border: none;
            }

            .signing-key-width {
                width: 300px;
            }

            .copy-signing-key-values {
                padding: 10px;
                background-color: $select-hover;
                position: relative;
                left: 3%;
                border: none;
                top: 0px !important;

                &:hover {
                    background-color: $border-color;
                    cursor: pointer
                }
            }

            .show-hide-password {
                top: 6px;
                right: 25px;
            }
        }
    }
}

.display-none {
    display: none;
}

.modal-body {
    .provider-name {
        color: $primary-color;
        font-style: italic;
    }

    a {
        color: $primary-color;
    }
}

.material-checkbox {
    @include material-checkbox-controls();
}

#messageBox {
    .message-content {
        margin-top: 25px !important;
        text-align: justify;
    }

    .message-box-btn-holder {
        padding: 6px 10px !important;
    }
}

@media screen and (max-width: 1040px) {
    #messageBox {
        height: 200px;
    }
}

@media screen and (min-width: 1041px) and (max-width: 1399px) {
    .popover-content {
        font-size: $app-text-size;
    }

    #messageBox {
        .message-content {
            margin-top: 30px !important;
        }
    }
}

@media screen and (min-width: 1040px) {
    .left-alignment {
        padding-left: 8%;
    }
}

@media screen and (max-width: 768px) {
    .default-auth-option {
        margin-top: 20px;
    }
}
