@import "../mixins.scss";

#base_container_WaitingPopup, .e-waitpopup-pane {
    z-index: 998 !important;
}

.admin-page-body {
    @include ej2NonFloat();
}


.e-chkbox-wrap {
    float: left;

    .e-chkbox-medium {
        .e-chk-inact, .e-chk-act {
            border: 1px solid $grey-900;
            border-radius: 3px;
            height: 11px;
            top: 2px;
            width: 11px;
        }

        .e-chk-act .e-chk-image {
            left: -2px;
            top: -5px;
        }
    }
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

#no-auth {
    .options-padding {
        padding-top: 15px;
        padding-bottom: 65px;
        display: block;
    }

    .auth-icon {
        text-align: center;
        padding-top: 30px;
        font-size: 26px;
    }

    .auth-text {
        padding-top: 10px;
        text-align: center
    }

    a {
        color: $primary-text-color;
    }

    .default-auth-option {

        .su-windows-ad {
            &:before {
                color: $primary-text-color !important;
            }
        }

        height: 120px;
        width: 160px;
        background: $surface;
        border: 1px solid $grey-200;
        border-radius: 4px;
        display: inline-block;
        margin-right: 24px;
    }
}

#windows-ad {
    .info-message {
        padding: 3px 0 0 44px;
        width: 75%;
        margin: 0 !important;
    }
    .domain{
        margin-top:6px !important;
    }
}

.auth-header {
    padding: 32px 24px 20px 24px !important;
}

#oauth-settings-tab, #openid-settings-tab, #azure-ad-settings-tab, #jwt-settings-tab, #azure-ad-b2c-settings-tab {
    .admin-page-body {
        .auth-settings-form {
            .auth-sub-title {
                margin-top: 32px;

                .section-title {
                    font-size: $app-large-text-size;
                    font-weight: bold;
                    margin-bottom: 4px;
                }
            }

            #jwt-signing-key.signing-key-width, #jwt-encryption-key.encryption-key-width {
                width: 450px !important;
                border-radius: 4px;
                border-right: 1px solid $input-box-border-normal-color !important;
            }

            #oauth-userinfo-endpoint, #oauth-token-endpoint {
                width: 370px;
                height: 28px;
                border-radius: 4px;
            }

            .method {
                .e-input-group {
                    height: 28px;
                    width: 80px !important;
                    float: left;
                }
            }

            input#oauth-callback-link, input#openid-callback-link, input#oauth-mobile-callback-link, input#openid-mobile-callback-link, input#jwt-signing-key {
                overflow: hidden;
                border-radius: 4px 0 0 4px;
                resize: none;
                width: 421px;
                float: left;
                background-color: $dialog-content-bg-normal-color;
                box-shadow: none;

                &:focus {
                    border: 1px solid $primary-color;
                }
            }

            .switch-margin {
                margin-top: 20px;
            }

            #oauth-callback-link-copy.focusdiv, #openid-callback-link-copy.focusdiv, #oauth-mobile-callback-link-copy.focusdiv, #openid-mobile-callback-link-copy.focusdiv {
                border-top: 1px solid $primary-color;
                border-right: 1px solid $primary-color;
                border-bottom: 1px solid $primary-color;
            }

            .logo-container {
                .auth-image-upload-box {
                    height: 80px;
                    width: 150px;
                    border-radius: 4px;
                    border: 1px solid $logo-section-border-color;
                    margin-bottom: 4px;

                    .js-image-preview {
                        height: 25px;
                        width: 100px;
                        margin: 18px auto 8px auto;
                        background-image: url("");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .upload-options {
                        height: 26px;
                        background-color: $grey-100;

                        input {
                            width: 0.1px;
                            height: 0.1px;
                        }

                        label {
                            width: 100%;
                            height: 100%;
                            display: table;
                            margin: 0;

                            span {
                                font-size: $list-content-large-size;
                                color: $primary-color;
                                display: table-cell;
                                vertical-align: middle;
                                text-align: center;
                                cursor: pointer;
                            }
                        }

                        input[type="button"] {
                            opacity: 0;
                        }
                    }
                }
            }

            .jwt-encryption-field {
                
                .inline-align {
                    margin-bottom: 10px !important;
                }
                
                .material-switch {
                    float: left;
                    width: 3%;
                }

                .info-message {
                    margin-bottom: 12px !important;
                }

                #jwt-encryption-key {
                    float: left;
                    width: 32%;
                    border-right: none;
                }

                #show-encryption-key {
                    margin-left: -6px;
                }
            }

            #jwt-signing-key {
                width: 366px !important;
                border-right: 0px
            }

            #show-signing-key, #show-encryption-key {
                border-left: none;
                padding: 7px;
                border-radius: 0px;
                position: inherit;
            }

            #copy-signing-key, #copy-encryption-key {
                border-left: none;
                border-radius: 0px;
                cursor: pointer;
            }

            #generate-signing-key, #generate-encryption-key {
                border-radius: 0 4px 4px 0;
                border-left: none;
                cursor: pointer;
            }

            .copy-signing-key-values {
                background-color: $surface !important;
                overflow: hidden;
                resize: none;
                width: 28px;
                height: 28px;
                float: left;
                box-shadow: none;
                padding-left: 8px;
            }
        }
    }

    .e-input-group {
        width: 450px !important;
    }
}

.display-none {
    display: none;
}

.dialogContent .dialogText {
    font-size: 15px;
    padding: 3%;
    word-wrap: break-word;
    border-radius: 2px;
    text-align: justify;
    font-style: initial;
    display: block;
    background-color: $warning-bg-normal-color;
    border: 1px solid $warning-border-normal-color;
}

.e-control.e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
    font-size: 20px;
    height: 100%;
    width: auto;
}

.su.su-warning-alt {
    font-size: 45px;
    position: relative;
    float: left;
    right: 2%;
}

#sendButton {
    position: relative;
    right: 38%;
    width: 20%;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    min-width: 90px;
    outline: none;
    text-align: center;
    padding: 0 15px;
    background: $secondary-button-bg-normal-color !important;
    color: $secondary-button-text-normal-color !important;
    border: $secondary-button-border-normal-color !important;
}

.material-checkbox {
    @include material-checkbox-controls();
}

#messageBox {
    .message-content {
        margin-top: 25px !important;
        text-align: justify;
    }

    .message-box-btn-holder {
        padding: 6px 10px !important;
    }
}

@media screen and (max-width: 1040px) {
    #messageBox {
        height: 200px;
    }
}

@media screen and (min-width: 1041px) and (max-width: 1399px) {
    #messageBox {
        .message-content {
            margin-top: 30px !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .default-auth-option {
        margin-top: 20px;
    }
}
