@charset "UTF-8";
@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

#server-app-container #base-footer-div {
  background-color: transparent !important; }

#server-app-container #content-area {
  background-color: var(--background) !important; }

#base_container_WaitingPopup, .e-waitpopup-pane {
  z-index: 998 !important; }

.placeholder {
  position: absolute;
  top: 0px;
  padding: 6px 0 6px 12px;
  color: #b3b3b3;
  height: 34px;
  line-height: 1.5;
  overflow: hidden; }

.e-chkbox-wrap {
  float: left; }
  .e-chkbox-wrap .e-chkbox-medium .e-chk-inact, .e-chkbox-wrap .e-chkbox-medium .e-chk-act {
    border: 1px solid #1a1a1a;
    border-radius: 3px;
    height: 11px;
    top: 2px;
    width: 11px; }
  .e-chkbox-wrap .e-chkbox-medium .e-chk-act .e-chk-image {
    left: -2px;
    top: -5px; }

.tooltip-inner {
  word-break: break-all;
  white-space: pre;
  max-width: none; }

.tooltip.top .tooltip-arrow {
  bottom: 1px; }

.separator {
  float: left;
  width: 100%; }

.confirmatioMessage {
  display: none;
  float: right;
  margin-top: 10px; }

.ValidationErrorImage {
  color: var(--danger); }

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important; }

#no-auth .no-auth-msg {
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 5px; }

#no-auth .options-padding {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 65px;
  display: block; }

#no-auth .auth-icon {
  text-align: center;
  padding-top: 30px;
  font-size: 26px; }

#no-auth .auth-text {
  padding-top: 10px;
  text-align: center; }

#no-auth a {
  color: var(--colorText); }

#no-auth .default-auth-option {
  height: 120px;
  width: 160px;
  background: var(--surface);
  border: 1px solid #cccccc;
  border-radius: 4px;
  display: inline-block;
  margin-right: 24px; }

#windows-ad-settings-tab .popover {
  width: 100%; }

#active-directory-container, #sso-container {
  margin-bottom: 30px; }
  #active-directory-container .admin-page-body, #sso-container .admin-page-body {
    border-top: none; }
  #active-directory-container #ad-tab-nav, #sso-container #ad-tab-nav {
    border-color: #eeeeee; }
    #active-directory-container #ad-tab-nav li:first-child, #sso-container #ad-tab-nav li:first-child {
      margin-left: 20px; }
    #active-directory-container #ad-tab-nav li a, #sso-container #ad-tab-nav li a {
      color: var(--colorText); }
    #active-directory-container #ad-tab-nav li.active a, #sso-container #ad-tab-nav li.active a {
      color: var(--colorPrimary); }
  #active-directory-container input::-ms-clear, #active-directory-container input::-ms-reveal, #sso-container input::-ms-clear, #sso-container input::-ms-reveal {
    display: none; }

#oauth-settings-tab #oauth-page-body .su.su-show, #oauth-settings-tab #oauth-page-body .su.su-hide, #oauth-settings-tab #openid-page-body .su.su-show, #oauth-settings-tab #openid-page-body .su.su-hide, #openid-settings-tab #oauth-page-body .su.su-show, #openid-settings-tab #oauth-page-body .su.su-hide, #openid-settings-tab #openid-page-body .su.su-show, #openid-settings-tab #openid-page-body .su.su-hide, #azure-ad-settings-tab #oauth-page-body .su.su-show, #azure-ad-settings-tab #oauth-page-body .su.su-hide, #azure-ad-settings-tab #openid-page-body .su.su-show, #azure-ad-settings-tab #openid-page-body .su.su-hide, #jwt-settings-tab #oauth-page-body .su.su-show, #jwt-settings-tab #oauth-page-body .su.su-hide, #jwt-settings-tab #openid-page-body .su.su-show, #jwt-settings-tab #openid-page-body .su.su-hide {
  font-size: 18px; }

#oauth-settings-tab #jwt-page-body .su.su-show, #oauth-settings-tab #jwt-page-body .su.su-hide, #openid-settings-tab #jwt-page-body .su.su-show, #openid-settings-tab #jwt-page-body .su.su-hide, #azure-ad-settings-tab #jwt-page-body .su.su-show, #azure-ad-settings-tab #jwt-page-body .su.su-hide, #jwt-settings-tab #jwt-page-body .su.su-show, #jwt-settings-tab #jwt-page-body .su.su-hide {
  font-size: 17px;
  top: 2px !important;
  height: 35px; }

#oauth-settings-tab .admin-page-body, #openid-settings-tab .admin-page-body, #azure-ad-settings-tab .admin-page-body, #jwt-settings-tab .admin-page-body {
  color: var(--colorText); }
  #oauth-settings-tab .admin-page-body .auth-settings-form, #openid-settings-tab .admin-page-body .auth-settings-form, #azure-ad-settings-tab .admin-page-body .auth-settings-form, #jwt-settings-tab .admin-page-body .auth-settings-form {
    margin-bottom: 50px;
    margin-top: 10px;
    border-radius: 4px;
    float: left;
    width: 100%; }
    #oauth-settings-tab .admin-page-body .auth-settings-form .section-title, #openid-settings-tab .admin-page-body .auth-settings-form .section-title, #azure-ad-settings-tab .admin-page-body .auth-settings-form .section-title, #jwt-settings-tab .admin-page-body .auth-settings-form .section-title {
      font-size: 14px;
      margin: 30px 0 0 20px;
      font-weight: bold; }
    #oauth-settings-tab .admin-page-body .auth-settings-form .method-type, #openid-settings-tab .admin-page-body .auth-settings-form .method-type, #azure-ad-settings-tab .admin-page-body .auth-settings-form .method-type, #jwt-settings-tab .admin-page-body .auth-settings-form .method-type {
      float: left;
      width: 20% !important; }
    #oauth-settings-tab .admin-page-body .auth-settings-form .info-popup, #openid-settings-tab .admin-page-body .auth-settings-form .info-popup, #azure-ad-settings-tab .admin-page-body .auth-settings-form .info-popup, #jwt-settings-tab .admin-page-body .auth-settings-form .info-popup {
      float: left;
      position: absolute;
      cursor: pointer;
      top: 7px; }
    #oauth-settings-tab .admin-page-body .auth-settings-form .popover, #openid-settings-tab .admin-page-body .auth-settings-form .popover, #azure-ad-settings-tab .admin-page-body .auth-settings-form .popover, #jwt-settings-tab .admin-page-body .auth-settings-form .popover {
      width: 400px; }
    #oauth-settings-tab .admin-page-body .auth-settings-form #oauth-userinfo-endpoint, #oauth-settings-tab .admin-page-body .auth-settings-form #oauth-token-endpoint, #openid-settings-tab .admin-page-body .auth-settings-form #oauth-userinfo-endpoint, #openid-settings-tab .admin-page-body .auth-settings-form #oauth-token-endpoint, #azure-ad-settings-tab .admin-page-body .auth-settings-form #oauth-userinfo-endpoint, #azure-ad-settings-tab .admin-page-body .auth-settings-form #oauth-token-endpoint, #jwt-settings-tab .admin-page-body .auth-settings-form #oauth-userinfo-endpoint, #jwt-settings-tab .admin-page-body .auth-settings-form #oauth-token-endpoint {
      width: 80%; }
    #oauth-settings-tab .admin-page-body .auth-settings-form #oauth-user-data-info, #openid-settings-tab .admin-page-body .auth-settings-form #oauth-user-data-info, #azure-ad-settings-tab .admin-page-body .auth-settings-form #oauth-user-data-info, #jwt-settings-tab .admin-page-body .auth-settings-form #oauth-user-data-info {
      top: 33px;
      margin-left: 20px; }
    #oauth-settings-tab .admin-page-body .auth-settings-form #oauth-logo-info, #oauth-settings-tab .admin-page-body .auth-settings-form #openid-logo-info, #oauth-settings-tab .admin-page-body .auth-settings-form #jwt-logo-info, #openid-settings-tab .admin-page-body .auth-settings-form #oauth-logo-info, #openid-settings-tab .admin-page-body .auth-settings-form #openid-logo-info, #openid-settings-tab .admin-page-body .auth-settings-form #jwt-logo-info, #azure-ad-settings-tab .admin-page-body .auth-settings-form #oauth-logo-info, #azure-ad-settings-tab .admin-page-body .auth-settings-form #openid-logo-info, #azure-ad-settings-tab .admin-page-body .auth-settings-form #jwt-logo-info, #jwt-settings-tab .admin-page-body .auth-settings-form #oauth-logo-info, #jwt-settings-tab .admin-page-body .auth-settings-form #openid-logo-info, #jwt-settings-tab .admin-page-body .auth-settings-form #jwt-logo-info {
      left: 130px;
      top: 2px; }
    #oauth-settings-tab .admin-page-body .auth-settings-form input#oauth-callback-link, #oauth-settings-tab .admin-page-body .auth-settings-form input#openid-callback-link, #oauth-settings-tab .admin-page-body .auth-settings-form input#oauth-mobile-callback-link, #oauth-settings-tab .admin-page-body .auth-settings-form input#openid-mobile-callback-link, #openid-settings-tab .admin-page-body .auth-settings-form input#oauth-callback-link, #openid-settings-tab .admin-page-body .auth-settings-form input#openid-callback-link, #openid-settings-tab .admin-page-body .auth-settings-form input#oauth-mobile-callback-link, #openid-settings-tab .admin-page-body .auth-settings-form input#openid-mobile-callback-link, #azure-ad-settings-tab .admin-page-body .auth-settings-form input#oauth-callback-link, #azure-ad-settings-tab .admin-page-body .auth-settings-form input#openid-callback-link, #azure-ad-settings-tab .admin-page-body .auth-settings-form input#oauth-mobile-callback-link, #azure-ad-settings-tab .admin-page-body .auth-settings-form input#openid-mobile-callback-link, #jwt-settings-tab .admin-page-body .auth-settings-form input#oauth-callback-link, #jwt-settings-tab .admin-page-body .auth-settings-form input#openid-callback-link, #jwt-settings-tab .admin-page-body .auth-settings-form input#oauth-mobile-callback-link, #jwt-settings-tab .admin-page-body .auth-settings-form input#openid-mobile-callback-link {
      overflow: hidden;
      border-radius: 4px 0 0 4px;
      resize: none;
      width: 93%;
      float: left;
      background-color: var(--surface);
      box-shadow: none; }
      #oauth-settings-tab .admin-page-body .auth-settings-form input#oauth-callback-link:focus, #oauth-settings-tab .admin-page-body .auth-settings-form input#openid-callback-link:focus, #oauth-settings-tab .admin-page-body .auth-settings-form input#oauth-mobile-callback-link:focus, #oauth-settings-tab .admin-page-body .auth-settings-form input#openid-mobile-callback-link:focus, #openid-settings-tab .admin-page-body .auth-settings-form input#oauth-callback-link:focus, #openid-settings-tab .admin-page-body .auth-settings-form input#openid-callback-link:focus, #openid-settings-tab .admin-page-body .auth-settings-form input#oauth-mobile-callback-link:focus, #openid-settings-tab .admin-page-body .auth-settings-form input#openid-mobile-callback-link:focus, #azure-ad-settings-tab .admin-page-body .auth-settings-form input#oauth-callback-link:focus, #azure-ad-settings-tab .admin-page-body .auth-settings-form input#openid-callback-link:focus, #azure-ad-settings-tab .admin-page-body .auth-settings-form input#oauth-mobile-callback-link:focus, #azure-ad-settings-tab .admin-page-body .auth-settings-form input#openid-mobile-callback-link:focus, #jwt-settings-tab .admin-page-body .auth-settings-form input#oauth-callback-link:focus, #jwt-settings-tab .admin-page-body .auth-settings-form input#openid-callback-link:focus, #jwt-settings-tab .admin-page-body .auth-settings-form input#oauth-mobile-callback-link:focus, #jwt-settings-tab .admin-page-body .auth-settings-form input#openid-mobile-callback-link:focus {
        border: 1px solid var(--colorPrimary); }
    #oauth-settings-tab .admin-page-body .auth-settings-form #oauth-callback-link-copy, #oauth-settings-tab .admin-page-body .auth-settings-form #openid-callback-link-copy, #oauth-settings-tab .admin-page-body .auth-settings-form #oauth-mobile-callback-link-copy, #oauth-settings-tab .admin-page-body .auth-settings-form #openid-mobile-callback-link-copy, #openid-settings-tab .admin-page-body .auth-settings-form #oauth-callback-link-copy, #openid-settings-tab .admin-page-body .auth-settings-form #openid-callback-link-copy, #openid-settings-tab .admin-page-body .auth-settings-form #oauth-mobile-callback-link-copy, #openid-settings-tab .admin-page-body .auth-settings-form #openid-mobile-callback-link-copy, #azure-ad-settings-tab .admin-page-body .auth-settings-form #oauth-callback-link-copy, #azure-ad-settings-tab .admin-page-body .auth-settings-form #openid-callback-link-copy, #azure-ad-settings-tab .admin-page-body .auth-settings-form #oauth-mobile-callback-link-copy, #azure-ad-settings-tab .admin-page-body .auth-settings-form #openid-mobile-callback-link-copy, #jwt-settings-tab .admin-page-body .auth-settings-form #oauth-callback-link-copy, #jwt-settings-tab .admin-page-body .auth-settings-form #openid-callback-link-copy, #jwt-settings-tab .admin-page-body .auth-settings-form #oauth-mobile-callback-link-copy, #jwt-settings-tab .admin-page-body .auth-settings-form #openid-mobile-callback-link-copy {
      border-radius: 0 4px 4px 0;
      float: left;
      font-size: 14px;
      cursor: pointer;
      padding-left: 7px;
      padding-top: 10px;
      width: 7%;
      background-color: var(--surface);
      box-shadow: none;
      border-left: none; }
    #oauth-settings-tab .admin-page-body .auth-settings-form #oauth-callback-link-copy.focusdiv, #oauth-settings-tab .admin-page-body .auth-settings-form #openid-callback-link-copy.focusdiv, #oauth-settings-tab .admin-page-body .auth-settings-form #oauth-mobile-callback-link-copy.focusdiv, #oauth-settings-tab .admin-page-body .auth-settings-form #openid-mobile-callback-link-copy.focusdiv, #openid-settings-tab .admin-page-body .auth-settings-form #oauth-callback-link-copy.focusdiv, #openid-settings-tab .admin-page-body .auth-settings-form #openid-callback-link-copy.focusdiv, #openid-settings-tab .admin-page-body .auth-settings-form #oauth-mobile-callback-link-copy.focusdiv, #openid-settings-tab .admin-page-body .auth-settings-form #openid-mobile-callback-link-copy.focusdiv, #azure-ad-settings-tab .admin-page-body .auth-settings-form #oauth-callback-link-copy.focusdiv, #azure-ad-settings-tab .admin-page-body .auth-settings-form #openid-callback-link-copy.focusdiv, #azure-ad-settings-tab .admin-page-body .auth-settings-form #oauth-mobile-callback-link-copy.focusdiv, #azure-ad-settings-tab .admin-page-body .auth-settings-form #openid-mobile-callback-link-copy.focusdiv, #jwt-settings-tab .admin-page-body .auth-settings-form #oauth-callback-link-copy.focusdiv, #jwt-settings-tab .admin-page-body .auth-settings-form #openid-callback-link-copy.focusdiv, #jwt-settings-tab .admin-page-body .auth-settings-form #oauth-mobile-callback-link-copy.focusdiv, #jwt-settings-tab .admin-page-body .auth-settings-form #openid-mobile-callback-link-copy.focusdiv {
      border-top: 1px solid var(--colorPrimary);
      border-right: 1px solid var(--colorPrimary);
      border-bottom: 1px solid var(--colorPrimary); }
    #oauth-settings-tab .admin-page-body .auth-settings-form .section-info-message-container, #openid-settings-tab .admin-page-body .auth-settings-form .section-info-message-container, #azure-ad-settings-tab .admin-page-body .auth-settings-form .section-info-message-container, #jwt-settings-tab .admin-page-body .auth-settings-form .section-info-message-container {
      margin: 20px;
      background-color: var(--background);
      border: 1px solid #eeeeee;
      border-left: 6px solid var(--colorText);
      cursor: default;
      display: table;
      min-height: 45px; }
      #oauth-settings-tab .admin-page-body .auth-settings-form .section-info-message-container .su-info, #openid-settings-tab .admin-page-body .auth-settings-form .section-info-message-container .su-info, #azure-ad-settings-tab .admin-page-body .auth-settings-form .section-info-message-container .su-info, #jwt-settings-tab .admin-page-body .auth-settings-form .section-info-message-container .su-info {
        display: table-cell;
        vertical-align: middle;
        font-size: 22px; }
      #oauth-settings-tab .admin-page-body .auth-settings-form .section-info-message-container .section-info-message, #openid-settings-tab .admin-page-body .auth-settings-form .section-info-message-container .section-info-message, #azure-ad-settings-tab .admin-page-body .auth-settings-form .section-info-message-container .section-info-message, #jwt-settings-tab .admin-page-body .auth-settings-form .section-info-message-container .section-info-message {
        display: table-cell;
        padding: 10px;
        vertical-align: middle; }
    #oauth-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box, #openid-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box, #azure-ad-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box, #jwt-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box {
      height: 100px;
      width: 103px;
      /*height: 133px;
                    width: 153px;*/
      border-radius: 4px;
      border: 2px solid #eeeeee; }
      #oauth-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .js-image-preview, #openid-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .js-image-preview, #azure-ad-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .js-image-preview, #jwt-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .js-image-preview {
        height: 70px;
        width: 100px;
        /*height: 100px;
                        width: 150px;*/
        background-image: url("");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain; }
      #oauth-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options, #openid-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options, #azure-ad-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options, #jwt-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options {
        height: 26px;
        /*height: 30px;*/
        background-color: #f9f9f9;
        cursor: pointer; }
        #oauth-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options input, #openid-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options input, #azure-ad-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options input, #jwt-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options input {
          width: 0.1px;
          height: 0.1px; }
        #oauth-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options label, #openid-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options label, #azure-ad-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options label, #jwt-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options label {
          width: 100%;
          height: 100%;
          display: table;
          margin: 0; }
          #oauth-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options label span, #openid-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options label span, #azure-ad-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options label span, #jwt-settings-tab .admin-page-body .auth-settings-form .logo-container .auth-image-upload-box .upload-options label span {
            font-size: 14px;
            color: var(--colorPrimary);
            display: table-cell;
            vertical-align: middle;
            text-align: center; }
    #oauth-settings-tab .admin-page-body .auth-settings-form .signing-key-values, #openid-settings-tab .admin-page-body .auth-settings-form .signing-key-values, #azure-ad-settings-tab .admin-page-body .auth-settings-form .signing-key-values, #jwt-settings-tab .admin-page-body .auth-settings-form .signing-key-values {
      padding: 10px;
      border-radius: 2px;
      background-color: #eeeeee;
      border: none; }
    #oauth-settings-tab .admin-page-body .auth-settings-form .signing-key-width, #openid-settings-tab .admin-page-body .auth-settings-form .signing-key-width, #azure-ad-settings-tab .admin-page-body .auth-settings-form .signing-key-width, #jwt-settings-tab .admin-page-body .auth-settings-form .signing-key-width {
      width: 300px; }
    #oauth-settings-tab .admin-page-body .auth-settings-form .copy-signing-key-values, #openid-settings-tab .admin-page-body .auth-settings-form .copy-signing-key-values, #azure-ad-settings-tab .admin-page-body .auth-settings-form .copy-signing-key-values, #jwt-settings-tab .admin-page-body .auth-settings-form .copy-signing-key-values {
      padding: 10px;
      background-color: #eeeeee;
      position: relative;
      left: 3%;
      border: none;
      top: 0px !important; }
      #oauth-settings-tab .admin-page-body .auth-settings-form .copy-signing-key-values:hover, #openid-settings-tab .admin-page-body .auth-settings-form .copy-signing-key-values:hover, #azure-ad-settings-tab .admin-page-body .auth-settings-form .copy-signing-key-values:hover, #jwt-settings-tab .admin-page-body .auth-settings-form .copy-signing-key-values:hover {
        background-color: #cccccc;
        cursor: pointer; }
    #oauth-settings-tab .admin-page-body .auth-settings-form .show-hide-password, #openid-settings-tab .admin-page-body .auth-settings-form .show-hide-password, #azure-ad-settings-tab .admin-page-body .auth-settings-form .show-hide-password, #jwt-settings-tab .admin-page-body .auth-settings-form .show-hide-password {
      top: 6px;
      right: 25px; }

.display-none {
  display: none; }

.modal-body .provider-name {
  color: var(--colorPrimary);
  font-style: italic; }

.modal-body a {
  color: var(--colorPrimary); }

.material-checkbox + input + label {
  position: relative;
  padding: 5px 0 0 25px !important;
  cursor: pointer;
  display: inline-block;
  color: var(--colorText);
  height: 25px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .material-checkbox + input + label::after {
    border-radius: 3px; }
  .material-checkbox + input + label::before, .material-checkbox + input + label::after {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1; }

.material-checkbox:not(:checked) + input + label::before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px; }

.material-checkbox:not(:checked) + input + label::after {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 2px solid #eeeeee;
  top: 0px;
  z-index: 1;
  margin-top: 7px;
  margin-bottom: 2px; }

.material-checkbox:checked + input + label::before {
  bottom: 14px;
  color: var(--colorOnPrimary);
  content: "";
  font-family: "Server";
  height: 10px;
  width: 5px;
  left: 3px; }

.material-checkbox:checked + input + label::after {
  top: 0;
  width: 16px;
  height: 16px;
  border: 1.5px solid var(--colorPrimary);
  background-color: var(--colorPrimary);
  z-index: 0;
  margin-top: 7px;
  margin-bottom: 2px; }

.material-checkbox:disabled + input + label::after {
  background-color: #eeeeee;
  border: 1px solid #eeeeee; }

.material-checkbox:not(:checked):disabled + input + label::after {
  background-color: #fff;
  border: 1px solid #eeeeee; }

.material-checkbox:not(:checked), .material-checkbox:checked {
  position: absolute;
  left: -9999px;
  opacity: 0; }

#messageBox .message-content {
  margin-top: 25px !important;
  text-align: justify; }

#messageBox .message-box-btn-holder {
  padding: 6px 10px !important; }

@media screen and (max-width: 1040px) {
  #messageBox {
    height: 200px; } }

@media screen and (min-width: 1041px) and (max-width: 1399px) {
  .popover-content {
    font-size: 12px; }
  #messageBox .message-content {
    margin-top: 30px !important; } }

@media screen and (min-width: 1040px) {
  .left-alignment {
    padding-left: 8%; } }

@media screen and (max-width: 768px) {
  .default-auth-option {
    margin-top: 20px; } }
