@import "../mixins.scss";
.admin-page-content-container {
    .admin-page-body {
        padding: 30px;

        .table-section {
            border-collapse: collapse;
            border: 1px solid $border-color;
            margin-bottom: 5px;
            width: auto;

            th {
                background-color: $white;
                border-bottom: 1px solid $border-color;
                height: 47px;
                padding: 12px 10px 10px 10px !important;
            }

            td {
                width: 25%;
                padding: 10px 9px 9px 9px !important;
            }
        }
    }
}
