@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }
#apply-button {
  line-height: 2px !important;
  font-size: 13px;
  height: 28px;
  min-width: 80px;
  margin-left: 14px; }

#reset {
  left: 535px;
  padding: 4px 10px 10px 10px;
  color: var(--primary-branding-bg-color);
  float: left !important;
  font-weight: bold;
  cursor: pointer; }

#refresh {
  color: var(--primary-branding-bg-color);
  cursor: pointer;
  font-size: 16px;
  margin-left: 18px;
  margin-top: 6px; }

.separator {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 1.75%, #CCCCCC 41.45%, #CCCCCC 58.43%, rgba(255, 255, 255, 0.0001) 98.33%);
  width: 2px;
  height: 34px;
  margin-left: 3px; }

#search-area {
  margin-right: 10px; }
  #search-area #search-event {
    max-width: 229px !important; }

.email-settings-drop-down {
  padding: 0;
  width: 200px; }
  .email-settings-drop-down .e-custom.e-non-float input {
    min-height: 30px !important; }
  .email-settings-drop-down .e-custom.e-non-float.e-valid-input {
    border-color: var(--input-box-border-normal-color) !important; }
  .email-settings-drop-down .e-custom.e-non-float:hover:not(.e-input-focus):not(.e-success):not(.e-error):not(.e-disabled) {
    border-color: var(--input-box-border-active-color) !important; }
  .email-settings-drop-down .e-custom.e-non-float.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-disabled) {
    border-color: var(--input-box-border-active-color) !important; }
  .email-settings-drop-down .e-custom.e-non-float.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled) {
    border-color: var(--input-box-border-active-color) !important;
    box-shadow: inset 0.1px 0 var(--input-box-border-active-color), inset -0.1px 0 var(--input-box-border-active-color), inset 0 -0.1px var(--input-box-border-active-color) !important; }
  .email-settings-drop-down .e-custom.e-non-float.e-error {
    border-color: var(--red) !important;
    box-shadow: inset 0.1px 0 var(--red), inset -0.1px 0 var(--red), inset 0 -0.1px var(--red) !important; }
  .email-settings-drop-down .e-custom.e-non-float.e-disabled {
    background-color: var(--input-box-bg-disable-color) !important;
    border: 1px solid var(--input-box-border-disable-color) !important;
    color: var(--input-box-text-disable-color) !important; }
  .email-settings-drop-down .e-input-group.e-control-wrapper {
    height: 28px; }
    .email-settings-drop-down .e-input-group.e-control-wrapper .e-input {
      padding: 0px 0px 5px 7px !important; }

#email-activity-log #email-activity-log_title {
  position: absolute; }
#email-activity-log #email-activity-log_dialog-content {
  padding: 0px 0px 10px 0px  !important; }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body #mail-error-message, #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body #mail-body {
    height: auto !important;
    margin-top: 2px; }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body #mail-error-message {
    color: var(--error-text-color);
    background-color: var(--error-bg-color);
    border: none; }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body .email-log-event {
    margin-top: 14px;
    padding-right: 15px;
    padding-left: 15px; }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body .email-log-date, #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body .email-log-status, #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body .email-log-recipient, #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body .email-log-initiated, #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body .email-log-initiated, #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body .mail-error-message, #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body .mail-body {
    padding-right: 15px;
    padding-left: 15px; }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body .mail-body {
    margin-top: 5px; }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body .email-data {
    width: 25%;
    line-height: 25px;
    color: var(--grey-500); }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body #email-text-area, #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body #error-text-area {
    width: 30%; }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body #mail-body {
    white-space: pre-line;
    padding: 12px;
    margin: 0;
    word-wrap: break-word;
    font-size: 14px; }
#email-activity-log .e-footer-content .e-control {
  position: absolute;
  right: 10px; }

.filter-section {
  padding: 24px 0px 0px 24px; }
  .filter-section .filter-alignment {
    padding-right: 14px; }

#emailActivityLogGrid {
  margin: 60px 24px 0px 24px; }

.date-picker {
  width: 191px; }

#activity-log-container {
  height: calc(100% - 75px) !important; }
  #activity-log-container .admin-page-content .filter-section {
    padding: 24px 0px 0px 24px !important; }
    #activity-log-container .admin-page-content .filter-section .filter-alignment {
      display: inline !important;
      width: 100%; }
      #activity-log-container .admin-page-content .filter-section .filter-alignment .date-picker .e-custom.e-date-range-wrapper {
        width: 280px !important; }
      #activity-log-container .admin-page-content .filter-section .filter-alignment .e-custom.e-date-range-wrapper .e-range-icon.e-icons {
        left: 250px !important; }
      #activity-log-container .admin-page-content .filter-section .filter-alignment #apply-button {
        min-width: 72px !important;
        height: 28px !important; }
      #activity-log-container .admin-page-content .filter-section .filter-alignment .separator {
        height: 30px !important; }
      #activity-log-container .admin-page-content .filter-section .filter-alignment #reset {
        font-size: 14px;
        padding: 4px 16px 5px 16px;
        color: var(--primary-branding-bg-color);
        float: left !important;
        font-weight: bold;
        cursor: pointer; }
      #activity-log-container .admin-page-content .filter-section .filter-alignment #refresh {
        font-size: 14px !important;
        display: inline-block;
        margin-top: 9px !important; }
  #activity-log-container .activity-settings-drop-down-common, #activity-log-container .activity-settings-drop-down-category, #activity-log-container .activity-settings-drop-down-type {
    padding: 0px 10px 0px 16px;
    width: 330px; }
    #activity-log-container .activity-settings-drop-down-common .e-custom.e-non-float input, #activity-log-container .activity-settings-drop-down-category .e-custom.e-non-float input, #activity-log-container .activity-settings-drop-down-type .e-custom.e-non-float input {
      min-height: 30px !important; }
    #activity-log-container .activity-settings-drop-down-common .e-custom.e-non-float.e-valid-input, #activity-log-container .activity-settings-drop-down-category .e-custom.e-non-float.e-valid-input, #activity-log-container .activity-settings-drop-down-type .e-custom.e-non-float.e-valid-input {
      border-color: var(--input-box-border-normal-color) !important; }
    #activity-log-container .activity-settings-drop-down-common .e-custom.e-non-float:hover:not(.e-input-focus):not(.e-success):not(.e-error):not(.e-disabled), #activity-log-container .activity-settings-drop-down-category .e-custom.e-non-float:hover:not(.e-input-focus):not(.e-success):not(.e-error):not(.e-disabled), #activity-log-container .activity-settings-drop-down-type .e-custom.e-non-float:hover:not(.e-input-focus):not(.e-success):not(.e-error):not(.e-disabled) {
      border-color: var(--input-box-border-active-color) !important; }
    #activity-log-container .activity-settings-drop-down-common .e-custom.e-non-float.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-disabled), #activity-log-container .activity-settings-drop-down-category .e-custom.e-non-float.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-disabled), #activity-log-container .activity-settings-drop-down-type .e-custom.e-non-float.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-disabled) {
      border-color: var(--input-box-border-active-color) !important; }
    #activity-log-container .activity-settings-drop-down-common .e-custom.e-non-float.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled), #activity-log-container .activity-settings-drop-down-category .e-custom.e-non-float.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled), #activity-log-container .activity-settings-drop-down-type .e-custom.e-non-float.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled) {
      border-color: var(--input-box-border-active-color) !important;
      box-shadow: inset 0.1px 0 var(--input-box-border-active-color), inset -0.1px 0 var(--input-box-border-active-color), inset 0 -0.1px var(--input-box-border-active-color) !important; }
    #activity-log-container .activity-settings-drop-down-common .e-custom.e-non-float.e-error, #activity-log-container .activity-settings-drop-down-category .e-custom.e-non-float.e-error, #activity-log-container .activity-settings-drop-down-type .e-custom.e-non-float.e-error {
      border-color: var(--red) !important;
      box-shadow: inset 0.1px 0 var(--red), inset -0.1px 0 var(--red), inset 0 -0.1px var(--red) !important; }
    #activity-log-container .activity-settings-drop-down-common .e-custom.e-non-float.e-disabled, #activity-log-container .activity-settings-drop-down-category .e-custom.e-non-float.e-disabled, #activity-log-container .activity-settings-drop-down-type .e-custom.e-non-float.e-disabled {
      background-color: var(--input-box-bg-disable-color) !important;
      border: 1px solid var(--input-box-border-disable-color) !important;
      color: var(--input-box-text-disable-color) !important; }
    #activity-log-container .activity-settings-drop-down-common .e-input-group.e-control-wrapper, #activity-log-container .activity-settings-drop-down-category .e-input-group.e-control-wrapper, #activity-log-container .activity-settings-drop-down-type .e-input-group.e-control-wrapper {
      height: 28px; }
      #activity-log-container .activity-settings-drop-down-common .e-input-group.e-control-wrapper .e-input, #activity-log-container .activity-settings-drop-down-category .e-input-group.e-control-wrapper .e-input, #activity-log-container .activity-settings-drop-down-type .e-input-group.e-control-wrapper .e-input {
        padding: 0px 0px 5px 7px !important; }
  #activity-log-container .activity-settings-drop-down-category {
    margin-left: 90px; }

#userActivityLogGrid {
  margin: 50px 24px 0px 24px !important; }
  #userActivityLogGrid .initiate-display-name {
    text-wrap: initial !important; }

#user-activity-log #user-activity-log_title {
  padding: 10px 15px !important; }
#user-activity-log #user-activity-log_dialog-content {
  padding: 0px 0px 1px 0px !important;
  max-height: 614px !important; }
  #user-activity-log #user-activity-log_dialog-content .fluent-item-popup-body .col-12 {
    padding-right: 15px;
    padding-left: 15px; }
  #user-activity-log #user-activity-log_dialog-content .fluent-item-popup-body .activity-log-summary {
    margin-top: 14px; }
  #user-activity-log #user-activity-log_dialog-content .fluent-item-popup-body .activity-log-user-agent {
    margin-bottom: 20px; }
  #user-activity-log #user-activity-log_dialog-content .fluent-item-popup-body .activity-log-label {
    width: 25%;
    line-height: 30px;
    color: var(--grey-600);
    font-size: 12px; }
    #user-activity-log #user-activity-log_dialog-content .fluent-item-popup-body .activity-log-label label {
      margin-bottom: 0 !important; }
  #user-activity-log #user-activity-log_dialog-content .fluent-item-popup-body .activity-log-detail {
    float: right;
    width: 75%;
    margin-top: 8px;
    font-size: 12px; }
  #user-activity-log #user-activity-log_dialog-content .fluent-item-popup-body label {
    font-weight: normal !important;
    margin-bottom: 5px !important; }
  #user-activity-log #user-activity-log_dialog-content .fluent-item-popup-body .changes-logs-label {
    width: 96px;
    color: var(--grey-900) !important;
    font-size: 14px;
    margin-top: 15px; }
  #user-activity-log #user-activity-log_dialog-content .fluent-item-popup-body .change-items {
    margin-top: 8px !important; }
  #user-activity-log #user-activity-log_dialog-content .fluent-item-popup-body .change-to {
    margin-bottom: 8px !important; }
  #user-activity-log #user-activity-log_dialog-content .fluent-item-popup-body .change-item {
    margin-top: 8px;
    float: right;
    width: 75%;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 12px;
    margin-bottom: 10px; }
  #user-activity-log #user-activity-log_dialog-content .fluent-item-popup-body .horizontal-line {
    display: block;
    width: 94%;
    height: 1px;
    background-color: var(--grey-400) !important;
    margin: 2px 15px; }
