@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }
#apply-button {
  line-height: 2px !important;
  font-size: 13px;
  height: 28px;
  min-width: 80px;
  margin-left: 14px; }

#reset {
  left: 535px;
  padding: 4px 10px 10px 10px;
  color: var(--primary-branding-bg-color);
  float: left !important;
  font-weight: bold;
  cursor: pointer; }

#refresh {
  color: var(--primary-branding-bg-color);
  cursor: pointer;
  font-size: 16px;
  margin-left: 18px;
  margin-top: 6px; }

.separator {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 1.75%, #CCCCCC 41.45%, #CCCCCC 58.43%, rgba(255, 255, 255, 0.0001) 98.33%);
  width: 2px;
  height: 34px;
  margin-left: 3px; }

#search-area {
  margin-right: 10px; }
  #search-area #search-event {
    max-width: 229px !important; }

.email-settings-drop-down {
  padding: 0;
  width: 200px; }
  .email-settings-drop-down .e-custom.e-non-float input {
    min-height: 30px !important; }
  .email-settings-drop-down .e-custom.e-non-float.e-valid-input {
    border-color: var(--input-box-border-normal-color) !important; }
  .email-settings-drop-down .e-custom.e-non-float:hover:not(.e-input-focus):not(.e-success):not(.e-error):not(.e-disabled) {
    border-color: var(--input-box-border-active-color) !important; }
  .email-settings-drop-down .e-custom.e-non-float.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-disabled) {
    border-color: var(--input-box-border-active-color) !important; }
  .email-settings-drop-down .e-custom.e-non-float.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled) {
    border-color: var(--input-box-border-active-color) !important;
    box-shadow: inset 0.1px 0 var(--input-box-border-active-color), inset -0.1px 0 var(--input-box-border-active-color), inset 0 -0.1px var(--input-box-border-active-color) !important; }
  .email-settings-drop-down .e-custom.e-non-float.e-error {
    border-color: var(--red) !important;
    box-shadow: inset 0.1px 0 var(--red), inset -0.1px 0 var(--red), inset 0 -0.1px var(--red) !important; }
  .email-settings-drop-down .e-custom.e-non-float.e-disabled {
    background-color: var(--input-box-bg-disable-color) !important;
    border: 1px solid var(--input-box-border-disable-color) !important;
    color: var(--input-box-text-disable-color) !important; }
  .email-settings-drop-down .e-input-group.e-control-wrapper {
    height: 28px; }
    .email-settings-drop-down .e-input-group.e-control-wrapper .e-input {
      padding: 0px 0px 5px 7px !important; }

#email-activity-log #email-activity-log_title {
  position: absolute; }
#email-activity-log #email-activity-log_dialog-content {
  padding: 0px 0px 10px 0px  !important; }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body #mail-error-message, #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body #mail-body {
    height: auto !important;
    margin-top: 2px; }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body #mail-error-message {
    color: var(--error-text-color);
    background-color: var(--error-bg-color);
    border: none; }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body .email-log-event {
    margin-top: 14px; }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body .mail-body {
    margin-top: 5px; }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body .email-data {
    width: 25%;
    line-height: 25px;
    color: var(--grey-500); }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body #email-text-area, #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body #error-text-area {
    width: 30%; }
  #email-activity-log #email-activity-log_dialog-content .fluent-item-popup-body #mail-body {
    white-space: pre-line;
    padding: 12px;
    margin: 0;
    word-wrap: break-word; }
#email-activity-log .e-footer-content .e-control {
  position: absolute;
  right: 10px; }

.filter-section {
  padding: 24px 0px 0px 24px; }

#emailActivityLogGrid {
  margin: 60px 24px 0px 24px;
  position: absolute; }

.date-picker {
  width: 191px; }
