@import "../mixins.scss";

.customEmailTemplateClass {
    color: var(--green-300);
}

.material-checkbox {
    @include material-checkbox-controls();
}

.info-align {
    position: absolute !important;
    top:63px;
}

#template-add-dialog_title{
    position: absolute;
}

#template-add-dialog_dialog-content{
    padding: 0px !important;
}
.add-template-dialog-form{
    border: none !important;
}
.modal-footer{
    height: 45px;
    padding: 8px 20px;
}
.copy-dialog-style{
    height: 189px !important;
    background: $dialog-content-bg-normal-color !important;
}
.input-container{
    width:100% !important;
}

.dialog-background{
    background: $dialog-content-bg-normal-color !important;
}

#template-name-input{
    width: 527px !important;
}
.hover {cursor: pointer;}
.input-style{
    position: absolute !important;
    top: 9px !important;
    width: 100% !important;
}

#specific-grid-container {
    height: calc(100% - 95px) !important;
    padding: 23px !important;
    padding-bottom: 0px !important;
}

.lable-style{
    right: 1px !important;
    top: 8px !important;
    width: 100px !important;
    padding: 0 !important;
    font-weight: 200 !important;
}

.copy-from-lable{
    right: 20px;
    bottom: 3px;
    font-weight: 200 !important;
}

.choose-from-lable{
    right: 33px;
    bottom: 5px;
    font-weight: 200 !important;
}

.send-html-email{
    width:100px !important;
    font-size:12px !important;
}


.html-checkbox-style {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    border: none !important;
    margin-top: 12px !important;
    font-size: 12px;
}

.html-mail-checkbox-header{
    width: 70px !important;
}

.padding-class{
    padding-bottom: 13px !important;
}

.header-alignment{
    height:120px !important;
}
.emailtemplatefield{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    #email-template-name{
        max-width: 70% !important;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .badge{
        border-radius: 6px;
        padding: 5px 7px !important;
    }
}
.button-align{
    margin-top:20px !important;
    width:98% !important;
}
#template-delete-confirmation{
    .e-primary{
        background: var(--danger-button-bg-hover-color) !important;
        border: 1px solid var(--danger-button-border-normal-color) !important;
    }
    .e-footer-content{
        border-top: 1px solid var(--dialog-footer-border-normal-color) !important;
        background: var(--dialog-footer-bg-normal-color) !important;
        height: 48px !important;
        padding: 0 !important;
        .e-btn{
            margin-right: 15px !important;
            margin-left: 0px !important;
        }
    }
    .e-dlg-header-content{
        height: 44px !important;
        padding: 0 !important;
        border-bottom: 1px solid var(--dialog-header-border-normal-color) !important;
        background: var(--dialog-header-bg-normal-color) !important;
    }
    .e-dlg-content{
        height: 52px;
        padding: 18px;
    }
    .e-dialog {
        .e-dlg-header {
            font-size: 18px;
            font-weight: normal;
        }

        .e-dlg-header-content {
            padding: 18px;
            border-radius: 1px 1px 0 0;
            line-height: 30px;

            .e-dlg-closeicon-btn {
                height: 30px;
                left: 6px;
                width: 30px;
            }
        }
    }
}

#templates{
    padding: 23px !important;
    padding-bottom: 0px !important;
}

.input-container {
    .validate-error {
        display: none;
        font-size: $app-text-size;
        color: $validation-text-color;
    }
    .templateAdd-validation-messages {
        position: absolute;
        top: 44px;
    }
}

#email-configure {
    .bi-page-content {
        padding: 24px 34px 0px 32px !important;
    }

    .email-configure-container {
        border-bottom: 1px solid $section-separator-color;
        margin-bottom: 20px;
        padding-bottom: 20px;

        .custom-template-label {
            width: 161px;
            height: 18px;
            margin-right: 5px;
            font-weight: 600;
        }

        .inline-align {
            display: inline-block;
        }

        #custom-template-enabled {
            width: 32px;
            height: 18px;
        }

        .info-message {
            line-height: 18px;
            font-size: $app-text-size;
            font-weight: 400;
            color: var(--input-box-text-normal-color);
            letter-spacing: 0.3px;
            padding-top: 3px;
            width: 733.662px !important;
        }

        .material-switch > label {
            width: 32px;
        }

        .enable-loader {
            position: absolute;
            top: -1px;
            margin-left: 5px;

            .loader-align {
                width: 20px;
                height: 20px;
                display: block;
                margin-left: 5px;
            }
        }

        .embed-loading {
            > span {
                background-image: url(images/waitingpopup_small.gif);
                background-position: 97% center;
                background-repeat: no-repeat;
            }
        }

        .email-configure-header {
            font-size: $app-text-size + 2 !important;
            font-weight: bold;
            line-height: 18px;
            letter-spacing: 0.26px;
            margin-bottom: 0px;
            padding: 0;
        }

        .email-configure-description {
            color: black;
            font-size: $app-text-size;
            line-height: 18px;
            letter-spacing: 0.26px;
            margin-top: 0px;
            margin-bottom: 0px;
            width: 733.662px;
        }

        .email-configure-listCollection {
            padding-left: 0px;
            margin-bottom: 0px;

            .email-configure-list {
                color: black;
                list-style: none;
                padding-top: 6px;

                .material-checkbox {
                    @include material-checkbox-controls();

                    & + input + label {
                        font-size: $app-text-size;
                    }
                }

                .info-message {
                    line-height: 18px;
                    font-size: 12px;
                    color: black;
                    letter-spacing: .26px;
                    padding-left: 24px;
                    padding-top: 3px;
                    width: 733.662px !important;
                }
            }
        }
    }

    #email-content-container {
        .e-toolbar {
            min-height: 42px;
        }

        .email-body-label {
            margin-bottom: 10px;
            font-size: $app-text-size;
            font-weight: bold;
            padding: 12px 0px 0px 0px !important;
        }

        #email-body-container_editable-content {
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.3px;
        }
        
        #email-body-container {
            height: 263px !important;
            width: 530px !important;
            float: none;
            border-color: #CCCCCC;
            border-radius: 4px;
            margin: 38px 0 12px 0 !important;

            #email-body-container_toolbar_wrapper {
                height: 42px !important;

                #email-body-container_toolbar {
                    border-radius: 4px 4px 0px 0px;
                    position: absolute;
                }

                .e-toolbar-items {
                    .e-separator {
                        border-image: none;
                        border-width: 1px;
                    }
                }
            }
        }

        .disabled {
            pointer-events: none;
            opacity: 0.6;
        }

        #email-body-container_view {
            border-radius: 4px;
            border-top: none;
            border-color: #CCCCCC;
        }

        #selected-users-container {
            height: 338px !important;
        }

        #email-body-containerhtml-preview {
            font-size: 12px;
        }

        .email-content-header {
            font-size: $app-text-size + 2;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0.3px;
            margin-bottom: 0px;
            padding: 0;
        }

        .email-content-description {
            color: var(--input-box-text-normal-color);
            font-size: $app-text-size;
            line-height: 18px;
            letter-spacing: 0.3px;
            margin-top: 0px;
            margin-bottom: 0px;
            width: 733.662px;
        }

        #selected-users-container-value {
            display: block !important;
        }

        .subject-header {
            font-size: $app-text-size;
            font-weight: bold;
            line-height: 17.63px;
            letter-spacing: 0.28px;
            padding: 10px 0px 8px 0px;
        }

        .disclaimer-content-header {
            font-size: $app-text-size;
            font-weight: bold;
            padding: 20px 0px 8px 0px;
        }

        .header-content-header {
            font-size: $app-text-size;
            font-weight: bold;
            padding: 12px 0px 8px 0px;
        }

        #subject-input, #header-content-input {
            width: 530px;
            height: 24px;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.3px;
            font-weight: 400;
            padding: 5px 8px;
            border-color: #CCCCCC;
        }

        .disclaimer-content {

            .disclaimer-content-text {
                color: $input-box-text-normal-color;
                background: $input-box-bg-normal-color;
                border-radius: 4px;
                cursor: text;
                display: block;
                height: 111px;
                width: 530px;
                margin-top: 4px;

                #disclaimer-content-input {
                    border: 1px solid #CCCCCC;
                    box-shadow: none !important;
                    display: inline-block;
                    width: 530px;
                    height: 80px;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.3px;
                    resize: none;
                    padding: 5px 8px;
                }
            }
        }

        .disabled-textarea {
            background: var(--input-box-bg-disable-color);
            color: $input-box-text-disable-color;
        }

        .disabled-button {
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
        }


        .disabled-advance-settings {
            color: $input-box-text-disable-color;
            pointer-events: none;
        }

        .validate-error {
            display: none;
            font-size: $app-text-size;
            color: $validation-text-color;
        }

        .email-error {
            font-size: $app-text-size;
            color: $validation-text-color;
        }

        .disable-reset {
            color: $input-box-text-disable-color;
            pointer-events: none;
        }

        .has-error {
            border-color: $input-box-border-alert-color;
            color: $input-box-text-normal-color;
            background: $input-box-bg-normal-color;
        }

        .e-icons {
            font-weight: bold;
        }
    }
    .e-dialog .e-btn.e-dlg-closeicon-btn{
        background: none !important;
    }
}
.e-rte-content{
    color: var(--primary-text-normal-color) !important;
    background: var(--surface) !important;
}
.e-btn-icon:hover{
    color: var(--dialog-header-close-icon-normal-color) !important;
}
.e-dialog .e-btn.e-dlg-closeicon-btn{
    background: none !important;
}

#email-body-container_rtelink, #email-body-container_image{
  width: auto !important;
    min-width: 100px !important;
    .e-btn, .e-css.e-btn {
        padding: 0 !important;
    }
    .e-dlg-closeicon-btn{
        min-width:10px !important;
    }
}
#email-activity-log{
    .e-footer-content {
        min-height: 48px;
        height: auto !important;
    }
}
#search-area{
    .tooltip{
        width:104px;
    }
}

.e-toolbar {
    background: var(--checkbox-bg-normal-color) !important;
    
    .e-toolbar-item{
        background: var(--checkbox-bg-normal-color) !important;
        
        .e-tbar-btn {
            color: var(--primary-text-normal-color) !important;
            background: var(--checkbox-bg-normal-color) !important;
        }
    }
    .e-toolbar-items {
        background: var(--dialog-content-bg-normal-color) !important;
    }
    .e-icons {
        color: var(--primary-text-normal-color) !important;
    }
}

.e-toolbar .e-toolbar-item.e-separator {
    border: solid 1px var(--grey-600) !important;
}

#email-body-container_toolbar{
    border-bottom-color: var(--input-box-border-normal-color) !important;
}
.e-richtexteditor{
    .e-dlg-header-content {
        background: var(--top-header-bg-color) !important;
        .e-dlg-header {
            color: var(--primary-text-color) !important;
        }
        .e-icon-dlg-close{
            color: var(--primary-text-color) !important;
        }
    }
    .e-dlg-content{
        background: var(--surface) !important;
    }
    .e-rte-label{
        color: var(--primary-text-color) !important;
    }
    .e-linkheader{
        color: var(--primary-text-color) !important;
    }
    
    .e-footer-content{
        background: var(--top-header-bg-color) !important;
    }
    .e-dialog .e-dlg-header-content {
        padding: 15px !important;
    }
}
 