@import "../mixins.scss";

#apply-button {
    line-height: 2px !important;
    font-size: 13px;
    height: 28px;
    min-width: 80px;
    margin-left: 14px;
}

#reset {
    left: 535px;
    padding: 4px 10px 10px 10px;
    color: $blue;
    float: left !important;
    font-weight: bold;
    cursor: pointer;
}

#refresh {
    color: $blue;
    cursor: pointer;
    font-size: 16px;
    margin-left: 18px;
    margin-top: 6px;
}

.separator {
    background: $separator;
    width: 2px;
    height: 34px;
    margin-left: 3px;
}

#search-area {
    margin-right: 10px;

    #search-event {
        max-width: 229px !important
    }
}

.email-settings-drop-down {
    @include ej2NonFloat();
    padding: 0;
    width: 200px;

    .e-input-group.e-control-wrapper {
        height: 28px;

        .e-input {
            padding: 0px 0px 5px 7px !important;
        }
    }
}

#email-activity-log {

    #email-activity-log_title {
        position: absolute;
    }

    #email-activity-log_dialog-content {
        padding: 0px 0px 10px 0px  !important;

        .fluent-item-popup-body {

            #mail-error-message, #mail-body {
                height: auto !important;
                margin-top: 2px;
            }

            #mail-error-message {
                color: $error-text-color;
                background-color: $error-bg-color;
                border: none;
            }

            .email-log-event {
                margin-top: 14px;
            }

            .mail-body {
                margin-top: 5px;
            }

            .email-data {
                width: 25%;
                line-height: 25px;
                color: $grey-500;
            }

            #email-text-area, #error-text-area {
                width: 30%;
            }

            #mail-body {
                white-space: pre-line;
                padding: 12px;
                margin: 0;
                word-wrap: break-word;
            }
        }
    }

    .e-footer-content {
        .e-control {
            position: absolute;
            right: 10px;
        }
    }
}


    .filter-section {
        padding: 24px 0px 0px 24px;
    }

    #emailActivityLogGrid {
       margin:60px 24px 0px 24px;
       position:absolute;
    }
.date-picker {
    width: 191px;
}