@import "../../core/_typography.scss";
@import "../../core/_variables.scss";
@import "../../themes/default.scss";
@import "../../mixins/_border-radius.scss";

#embed-settings-container {
    #embed-settings-body {
        padding-bottom: 5px;

        .embed-authentication {
            margin: 0px 0 16px 0;

            .material-switch > label {
                width: 33px;
            }

            .embed-loader {
                position: absolute;
                top: -1px;
                margin-left: 5px;

                .loader-align {
                    width: 20px;
                    height: 20px;
                    display: block;
                    margin-left: 5px;
                }
            }

            .embed-loading {
                > span {
                    background-image: url(images/waitingpopup_small.gif);
                    background-position: 97% center;
                    background-repeat: no-repeat;
                }
            }
        }

        #get-secret-code {
            .info-message {
                width: 584px;
            }
        }

        .secret-code-container {

            #get-embed-code {
                min-width: 133px;
            }

            .primary-button {
                padding: 0px 18px;
            }

            #secret-code-link {
                width: 431px;
                float: left;
                margin-right: 20px;

                .form-control {
                    padding: 5px 8px;
                }

                #secret-code {
                    border-radius: 4px 0 0 4px;
                    box-shadow: none;
                    display: inline-block;
                    font-size: 13px;
                    height: 28px;
                    float: left;
                    overflow: hidden;
                    resize: none;
                    width: 393px;
                }

                #secret-code-copy {
                    border-radius: 0 4px 4px 0;
                    box-shadow: none;
                    border-left: none !important;
                    cursor: pointer;
                    display: inline-block;
                    float: left;
                    font-size: map-get($app-text-size, lg);
                    height: 28px;
                    width: 38px;
                    padding-left: 11px;
                    padding-top: 6px;
                }
            }

            #secret-code-copy.focusdiv {
                box-shadow: 0 0 2px 0 $blue;
                -moz-box-shadow: 0 0 2px 0 $blue;
                -webkit-box-shadow: 0 0 2px 0 $blue;
                border-top: 1px solid $blue;
                border-right: 1px solid $blue;
                border-bottom: 1px solid $blue;
            }

            .bg-warning {
                background-color: $embed-warning-bg-normal-color;
                border: 1px solid $embed-warning-border-normal-color;
            }
        }

        .secret-code-notification {
            width: 584px;
            border-radius: 4px;
            display: none;
            font-size: map-get($app-text-size, md);
            margin-top: 20px;
            padding: 12px;
            letter-spacing: 0.26px;
        }

        .import-file {
            .btn[disabled] {
                opacity: 1;
            }

            #import-validation-msg {
                color: $validation-text-color;
                cursor: pointer;
                float: left;
                position: absolute;
                margin-top: 15px;
            }
        }
    }
}

    #messageBox {
        letter-spacing: 0.3px;

        .message-content.messagebox-align {
            padding: 5px 0;
        }
    }

    #messageBox_wrapper {
        .message-box-btn-holder {
            background: $admin-container-bg;
        }

        .critical-action-button, .primary-button, .secondary-button {
            height: 28px;
            margin-left: 15px;
            line-height: 28px;
            width: 80px;
        }

        .message-box-close {
            font-size: map-get($app-text-size, sm) - 1;
            color: $grey-700;
            opacity: 1;

            &:hover {
                color: $icon-hover-color;
            }
        }
    }