@import "../../default/default.scss";
@import "../mixins.scss";

#import-export-settings-container {
    .export-section {

        .export-option {
            margin-bottom: 11px;
        }
    }

    #import-export-settings-tab-nav {
        background: $background;
    }
}

.form-padding {
    padding: 5px 0 10px 0 !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
}

.modal-footer {
    height: 50px !important;
    padding: 8px !important;
}

.e-dialog .modal-body .app-textbox-label {
    margin-top: 8px;
    padding-right: 25px;
}

.e-dialog .modal-body .ruleadd-validation-messages {
    color: var(--red);
    display: block;
    font-size: 10px;
    margin-bottom: -16px;
    padding-top: 5px !important;
}

.col-4 {
    padding-left: 0 !important;
}

.modal-body {
    padding: 0 15px 15px 15px !important;
}

.col-8 {
    width: 100% !important;
}

.e-dlg-header {
    padding: 10px 15px !important;
}

#rules-add-dialog {
    width: 400px !important;

    .e-dlg-content {
        padding: 0 !important;
        overflow: visible;
    }
}

#rules-add-dialog_title {
    width: 200px !important;
}

input#rulename {
    width: 370px;
}

input#ipaddress {
    width: 370px;
}

#grid-container{
    margin-top: 16px;
}
