@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

#license-settings-container .new-start-container .new-start-container-bg span.first-content {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.12px; }

#license-settings-container .new-start-container .new-start-container-bg span.second-content {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: var(--colorText); }

#license-settings-container .new-start-container .new-start-container-bg .help, .change-subscription-dialog-content .help {
  display: block;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.65px; }

#license-settings-container .new-start-container .new-start-container-bg .link-header {
  font-size: 16px;
  color: var(--colorText);
  letter-spacing: 0.75px;
  line-height: 30px; }

#offline-license-update-dialog {
  width: 424px; }
  #offline-license-update-dialog #popup-container .upload-header {
    height: 44px;
    padding: 11.5px 0 11.5px 12px;
    background: #f9f9f9;
    border-radius: 4px 4px 0 0; }
    #offline-license-update-dialog #popup-container .upload-header .popup-title {
      font-size: 15px;
      color: var(--colorText);
      letter-spacing: 0.3px;
      line-height: 21px; }
    #offline-license-update-dialog #popup-container .upload-header .popup-close-div {
      padding-left: 54px; }
      #offline-license-update-dialog #popup-container .upload-header .popup-close-div .popup-close {
        font-size: 15px;
        color: #4d4d4d; }
  #offline-license-update-dialog #popup-container .upload-content {
    padding-left: 16px;
    padding-right: 16px; }
    #offline-license-update-dialog #popup-container .upload-content #upload-section .popover {
      width: 200px !important; }
    #offline-license-update-dialog #popup-container .upload-content #upload-section #upload-lable {
      padding-top: 25px;
      font-size: 13px;
      color: var(--colorText);
      letter-spacing: 0.3px;
      line-height: 18px;
      margin-bottom: 8px;
      font-weight: 500; }
    #offline-license-update-dialog #popup-container .upload-content #upload-section #browse-info {
      padding-left: 5px; }
    #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper #file-name {
        width: 375px;
        background: var(--colorSecondary);
        border: 1px solid #b3b3b3;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        height: 28px;
        font-size: 13px;
        line-height: 28px;
        cursor: pointer; }
        #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper #file-name:focus {
          border-color: #b3b3b3 !important; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper button {
        margin: 0 0 0 10px;
        width: 80px !important;
        min-width: 80px !important; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper img {
        width: 43px;
        height: 28px;
        border: 1px solid #b3b3b3;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-left: -1px;
        cursor: pointer; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper input[type="file"] {
        -webkit-appearance: none;
        text-align: left; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper input[type="file"]::-webkit-file-upload-button {
        -webkit-appearance: none;
        float: right;
        margin: 0 0 0 10px;
        color: var(--colorPrimary);
        border: 1px solid #0851d0;
        border-radius: 4px; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper .validation-error-message {
        color: var(--danger);
        font-size: 11px;
        letter-spacing: 0.3px;
        line-height: 16px;
        padding: 3px 0 0 0;
        width: 375px; }
    #offline-license-update-dialog #popup-container .upload-content #license-details {
      padding: 15px 0 0 0; }
      #offline-license-update-dialog #popup-container .upload-content #license-details .upload-group {
        margin-bottom: 12px; }
      #offline-license-update-dialog #popup-container .upload-content #license-details .license-detail-lable {
        font-size: 14px;
        color: var(--colorText);
        letter-spacing: 0.3px;
        line-height: 23px; }
      #offline-license-update-dialog #popup-container .upload-content #license-details #customer-email, #offline-license-update-dialog #popup-container .upload-content #license-details #subscription-id-offline, #offline-license-update-dialog #popup-container .upload-content #license-details #subscription-name, #offline-license-update-dialog #popup-container .upload-content #license-details #plan-name, #offline-license-update-dialog #popup-container .upload-content #license-details #expiry-date {
        font-size: 14px;
        color: var(--colorText);
        letter-spacing: 0.3px;
        line-height: 23px;
        overflow: hidden;
        text-overflow: ellipsis; }
      #offline-license-update-dialog #popup-container .upload-content #license-details #tenant-status {
        border-radius: 14px;
        width: 100px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        font-size: 14px; }
  #offline-license-update-dialog #popup-container .upload-footer {
    padding-top: 32px;
    padding-bottom: 24px; }
    #offline-license-update-dialog #popup-container .upload-footer #confirm-license {
      float: right;
      width: 120px !important; }
      #offline-license-update-dialog #popup-container .upload-footer #confirm-license:disabled {
        background: #f2f2f2; }
    #offline-license-update-dialog #popup-container .upload-footer #cancel-license-update {
      float: right;
      margin-right: 15px;
      width: 80px !important;
      background: var(--colorSecondary); }
  #offline-license-update-dialog .display-none {
    display: none !important; }

#license-settings-container #license-settings-form {
  color: var(--colorText); }
  #license-settings-container #license-settings-form .sub-section-heading {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    height: 21px;
    margin: 8px 0 16px 0; }
  #license-settings-container #license-settings-form #plan-details-contianer table {
    border: 1px solid #e6e6e6;
    margin: 0px; }
    #license-settings-container #license-settings-form #plan-details-contianer table tbody tr {
      font-size: 13px;
      font-weight: normal;
      letter-spacing: 0.3px;
      height: 40px; }
      #license-settings-container #license-settings-form #plan-details-contianer table tbody tr th {
        background: var(--background);
        border-bottom: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;
        font-weight: bold;
        line-height: 20px;
        padding: 13px 0px 12px 16px; }
      #license-settings-container #license-settings-form #plan-details-contianer table tbody tr td {
        border-top: 1px solid #e6e6e6;
        line-height: 20px;
        padding: 9.5px 0px 9.5px 16px; }
      #license-settings-container #license-settings-form #plan-details-contianer table tbody tr:first-child {
        height: 45px; }
  #license-settings-container #license-settings-form .active-subscription-table-section {
    border-collapse: collapse;
    border: 1px solid #e6e6e6;
    width: 605px; }
    #license-settings-container #license-settings-form .active-subscription-table-section th {
      background-color: var(--background);
      border-bottom: 1px solid #e6e6e6; }
    #license-settings-container #license-settings-form .active-subscription-table-section td {
      border: none;
      padding: 10px; }
    #license-settings-container #license-settings-form .active-subscription-table-section tr td:first-child {
      background-color: var(--surface);
      text-align: right;
      display: table-cell;
      vertical-align: middle;
      font-weight: 600;
      border-right: 1px solid #e6e6e6; }
    #license-settings-container #license-settings-form .active-subscription-table-section td:last-child {
      border-bottom: 1px solid #e6e6e6; }
    #license-settings-container #license-settings-form .active-subscription-table-section tr td span {
      display: block;
      padding-bottom: 4px; }
    #license-settings-container #license-settings-form .active-subscription-table-section #subscription-id-bi, #license-settings-container #license-settings-form .active-subscription-table-section #subscription-id-reports {
      float: left;
      margin: 10px 0 0 0; }
      #license-settings-container #license-settings-form .active-subscription-table-section #subscription-id-bi .subscription-link, #license-settings-container #license-settings-form .active-subscription-table-section #subscription-id-reports .subscription-link {
        color: var(--colorPrimary) !important; }
        #license-settings-container #license-settings-form .active-subscription-table-section #subscription-id-bi .subscription-link:hover, #license-settings-container #license-settings-form .active-subscription-table-section #subscription-id-reports .subscription-link:hover {
          color: #007aff !important; }
    #license-settings-container #license-settings-form .active-subscription-table-section #subscription-copy-bi, #license-settings-container #license-settings-form .active-subscription-table-section #subscription-copy-reports {
      float: right;
      width: 16px;
      cursor: pointer;
      margin-top: 7px;
      margin-left: 25px; }
    #license-settings-container #license-settings-form .active-subscription-table-section .display-none {
      display: none !important; }
  #license-settings-container #license-settings-form .renewal-body {
    border-bottom: 0px; }
    #license-settings-container #license-settings-form .renewal-body #renewal-information #online-renewal h3 {
      padding: 0px 0 8px 0;
      margin: 0 auto;
      font-size: 14px;
      font-weight: 700; }
    #license-settings-container #license-settings-form .renewal-body #renewal-information #online-renewal .update-license-btn-holder #update-license-key-notification-loader-bi, #license-settings-container #license-settings-form .renewal-body #renewal-information #online-renewal .update-license-btn-holder #update-license-key-notification-loader-reports {
      padding: 0 40px;
      height: 34px;
      line-height: 34px; }
    #license-settings-container #license-settings-form .renewal-body #renewal-information .offline-renewal h3 {
      padding: 20px 0 8px 0;
      margin: 0 auto;
      font-size: 14px;
      font-weight: 700; }
    #license-settings-container #license-settings-form .renewal-body #renewal-information button {
      width: 100px;
      margin-left: 10px; }

#license-settings-container .new-start-container {
  text-align: center;
  padding: 10px; }
  #license-settings-container .new-start-container .new-start-container-bg span {
    display: block; }
    #license-settings-container .new-start-container .new-start-container-bg span.first-content {
      margin-top: 18px; }
      #license-settings-container .new-start-container .new-start-container-bg span.first-content span {
        display: inline-block;
        font-weight: bold;
        color: #ff4800; }
    #license-settings-container .new-start-container .new-start-container-bg span.second-content {
      letter-spacing: 0.84px;
      margin-top: 24px;
      font-size: 18px;
      line-height: 1.67; }
  #license-settings-container .new-start-container .new-start-container-bg .help {
    margin-top: 24px;
    color: var(--colorPrimary); }
  #license-settings-container .new-start-container .new-start-container-bg .btn-holder {
    margin-top: 40px;
    margin-bottom: 20px; }
    #license-settings-container .new-start-container .new-start-container-bg .btn-holder #online-license-bi, #license-settings-container .new-start-container .new-start-container-bg .btn-holder #online-license-reports {
      margin-right: 15px;
      width: 222px; }
  #license-settings-container .new-start-container .new-start-container-bg .link-header .offline-license-acion {
    color: var(--colorPrimary);
    text-decoration: underline !important;
    cursor: pointer; }
  #license-settings-container .new-start-container .new-start-container-bg .align-center {
    text-align: center; }

.change-subscription-dialog-content {
  text-align: center;
  padding: 16px; }
  .change-subscription-dialog-content .help {
    margin-top: 24px;
    color: var(--colorPrimary); }
  .change-subscription-dialog-content #online-license-bi, .change-subscription-dialog-content #online-license-reports {
    margin-right: 15px;
    width: 222px; }
  .change-subscription-dialog-content .online-change-subscription {
    padding: 0 16px 0 0; }
  .change-subscription-dialog-content .offline-change-subscription {
    padding: 0 0 0 16px; }
  .change-subscription-dialog-content .online-change-subscription-content, .change-subscription-dialog-content .offline-change-subscription-content {
    text-align: left; }
    .change-subscription-dialog-content .online-change-subscription-content h3, .change-subscription-dialog-content .offline-change-subscription-content h3 {
      padding: 0 0 8px 0;
      margin: 0 auto;
      font-weight: 600;
      font-style: normal;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.35px; }
    .change-subscription-dialog-content .online-change-subscription-content p, .change-subscription-dialog-content .offline-change-subscription-content p {
      padding: 0 0 20px 0;
      margin: 0 auto;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.35px; }
  .change-subscription-dialog-content .seperator {
    height: 70%;
    width: 1px;
    border: 1px solid #E1E1E1;
    position: absolute;
    left: 50%; }
  .change-subscription-dialog-content button {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-align: center !important;
    letter-spacing: 0.3px;
    color: var(--colorPrimary);
    border: 1px solid var(--colorPrimary);
    border-radius: 4px;
    height: 28px;
    background: #fff; }
    .change-subscription-dialog-content button:hover {
      background: var(--colorPrimary);
      color: #fff; }
  .change-subscription-dialog-content #online-license-bi, .change-subscription-dialog-content #offline-update-bi {
    width: 120px; }
  .change-subscription-dialog-content .help-container {
    padding: 15px 0 0 0; }

.no-license-container {
  text-align: center;
  padding: 10px; }
  .no-license-container .no-license-container-bg img {
    height: 247px; }
  .no-license-container .no-license-container-bg .no-license-description {
    padding: 40px 0 16px 0;
    margin: 0;
    font-size: 16px;
    color: var(--colorText);
    letter-spacing: 0.75px;
    line-height: 30px; }
  .no-license-container .no-license-container-bg .no-license-rediect {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: var(--colorText);
    letter-spacing: 0.75px;
    line-height: 30px; }
  .no-license-container .no-license-container-bg .no-license-signup {
    color: var(--colorPrimary);
    text-decoration: underline; }

.e-control.e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
  font-size: 10px;
  height: 100%;
  width: auto;
  color: #333333; }

.e-control.e-dialog .e-dlg-header-content + .e-dlg-content {
  padding: 0; }

.e-control.e-dialog .e-dlg-header {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.3px; }

.e-control.e-dialog .e-dlg-header-content {
  padding: 12px 12px 6px 12px; }

.trial {
  background-color: #c4f0ff;
  color: #555abf; }

.trial-not-started {
  background-color: #fdeebe;
  color: #c85d42; }

.active-status {
  background-color: #d6facf;
  color: #159570; }
