@import "../mixins.scss";

%server-startup-first-content {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.12px;
}

%server-startup-second-content {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: $primary-text-color;
}

%need-help-content-styles {
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.65px;
}

%link-header {
    font-size: 16px;
    color: $primary-text-color;
    letter-spacing: 0.75px;
    line-height: 30px;
}

#offline-license-update-dialog {
    width: 424px;

    .e-btn.e-primary {
        width: 120px;
    }

    #popup-container {
        .upload-header {
            height: 44px;
            padding: 11.5px 0 11.5px 12px;
            /*background: $grey-40;*/
            border-radius: 4px 4px 0 0;

            .popup-title {
                font-size: 15px;
                color: $primary-text-color;
                letter-spacing: 0.3px;
                line-height: 21px;
            }

            .popup-close-div {
                padding-left: 54px;

                .popup-close {
                    font-size: 15px;
                    color: $dialog-header-close-icon-normal-color;
                }
            }
        }

        .upload-content {
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 35px;

            #upload-section {
                .popover {
                    width: 200px !important;
                }

                #upload-lable {
                    padding-top: 25px;
                    font-size: 13px;
                    color: $primary-text-color;
                    letter-spacing: 0.3px;
                    line-height: 18px;
                    margin-bottom: 8px;
                    font-weight: 500;
                }

                #browse-info {
                    padding-left: 5px;
                }

                .upload-btn-wrapper {
                    position: relative;
                    overflow: hidden;
                    display: inline-block;
                    @include uploadInput();

                    #file-name {
                        width: 375px;
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                        height: 28px;
                        font-size: 13px;
                        line-height: 28px;
                        cursor: pointer;

                        &:focus {
                            border-color: $input-box-border-normal-color !important;
                        }
                    }

                    button {
                        margin: 0 0 0 10px;
                        width: 80px !important;
                        min-width: 80px !important;
                    }

                    img {
                        width: 43px;
                        height: 28px;
                        border: 1px solid $secondary-button-border-normal-color;
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                        margin-left: -1px;
                        cursor: pointer;
                    }

                    input[type="file"] {
                        -webkit-appearance: none;
                        text-align: left;
                    }

                    input[type="file"]::-webkit-file-upload-button {
                        -webkit-appearance: none;
                        float: right;
                        margin: 0 0 0 10px;
                        border-radius: 4px;
                    }

                    .validation-error-message {
                        color: $validation-text-color;
                        font-size: 11px;
                        letter-spacing: 0.3px;
                        line-height: 16px;
                        padding: 3px 0 0 0;
                        width: 375px;
                    }
                }
            }

            #license-details {
                padding: 15px 0 0 0;

                .upload-group {
                    margin-bottom: 12px;
                }

                .license-detail-lable {
                    font-size: 14px;
                    color: $primary-text-color;
                    letter-spacing: 0.3px;
                    line-height: 23px;
                }

                #customer-email, #subscription-id-offline, #subscription-name, #plan-name, #expiry-date {
                    font-size: 14px;
                    color: $primary-text-color;
                    letter-spacing: 0.3px;
                    line-height: 23px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                #tenant-status {
                    border-radius: 14px;
                    width: 100px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    font-size: 14px;
                }
            }
        }

        .upload-footer {
            padding-top: 32px;
            padding-bottom: 24px;

            #confirm-license {
                float: right;
                width: 120px !important;

                &:disabled {
                    /*background: $grey-60;*/
                }
            }

            #cancel-license-update {
                float: right;
                margin-right: 15px;
                width: 80px !important;
                background: $secondary-button-bg-normal-color;
            }
        }
    }

    .display-none {
        display: none !important;
    }
}

#license-settings-container {
    #license-settings-form {
        color: $primary-text-color;
        position: fixed;

        .sub-section-heading {
            font-size: 14px;
            font-weight: bold;
            line-height: 21px;
            height: 21px;
            margin: 8px 0 16px 0
        }

        .active-subscription-table-section {
            border-collapse: collapse;
            border: 1px solid $section-separator-color;
            width: 610px;
            height: 190px;
            left: 45px;
            border-radius: 4px;

            th {
                background-color: $background;
                border-bottom: 1px solid $section-separator-color;
            }

            td {
                border: none;
                padding: 10px;
            }

            tr td:first-child {
                background-color: $surface;
                font-size: 13px;
                display: table-cell;
                padding: 8px 0px 0px 16px;
                border-right: 1px solid $section-separator-color;
                width: 154px;
                letter-spacing: 0.325px;
            }

            td:last-child {
                border-bottom: 1px solid $section-separator-color;
                font-size: 13px;
                line-height: 24px;
                padding: 8px 0px 10px 16px;
                width: 432px;
                height: 40px;
                letter-spacing: 0.325px;
            }

            tr td span {
                display: block;
                padding-bottom: 4px;
            }

            #subscription-id-bi, #subscription-id-reports {
                float: left;
                margin: 11px 0 0 0;
                letter-spacing: 0px !important;

                .subscription-link {
                    color: $link-text-color !important;

                    &:hover {
                        color: $link-text-hover-color !important;
                    }
                }
            }

            #subscription-copy-bi, #subscription-copy-reports {
                cursor: pointer;
                margin-top: 10px;
                position: absolute;
               margin-left:12px;
                min-width: 53px;
            }

            .display-none {
                display: none !important;
            }
        }
    }

    .new-start-container {
        text-align: center;
        padding: 10px;

        .new-start-container-bg {
            span {
                display: block;

                &.first-content {
                    @extend %server-startup-first-content;
                    margin-top: 18px;

                    span {
                        display: inline-block;
                        font-weight: bold;
                        color: $boldbi-brand;
                    }
                }

                &.second-content {
                    @extend %server-startup-second-content;
                    letter-spacing: 0.84px;
                    margin-top: 24px;
                    font-size: 18px;
                    line-height: 1.67;
                }
            }

            .help {
                @extend %need-help-content-styles;
                margin-top: 24px;
                color: $primary-color;
            }

            .btn-holder {
                margin-top: 40px;
                margin-bottom: 20px;

                #online-license-bi, #online-license-reports {
                    margin-right: 15px;
                    width: 222px;
                }
            }

            .link-header {
                @extend %link-header;

                .offline-license-acion {
                    color: $primary-color;
                    text-decoration: underline !important;
                    cursor: pointer;
                }
            }

            .align-center {
                text-align: center;
            }
        }
    }
}

.change-subscription-dialog-content {
    text-align: center;
    padding: 16px;

    .help {
        @extend %need-help-content-styles;
        margin-top: 24px;
        color: $primary-color;
    }

    #online-license-bi, #online-license-reports {
        margin-right: 15px;
        width: 222px;
    }

    .online-change-subscription {
        padding: 0 16px 0 0;
    }

    .offline-change-subscription {
        padding: 0 0 0 16px;
    }

    .online-change-subscription-content, .offline-change-subscription-content {
        text-align: left;

        h3 {
            padding: 0 0 8px 0;
            margin: 0 auto;
            font-weight: 600;
            font-style: normal;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.5px;
        }

        p {
            padding: 0 0 20px 0;
            margin: 0 auto;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.5px;
        }
    }

    .seperator {
        height: 70%;
        width: 1px;
        border: 1px solid $section-separator-color;
        position: absolute;
        left: 267px;
    }

    button {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        text-align: center !important;
        letter-spacing: 0.3px;
        border-radius: 4px;
        height: 28px;
    }

    #online-license-bi, #offline-update-bi {
        width: 120px;
    }

    .help-container {
        padding: 15px 0 0 0;
        line-height: 21px;
        letter-spacing: 0.5px;
    }

    .online-change-subscription-content {
        padding: 10px 0px 0px 19px;
    }

    .offline-change-subscription-content{
        padding:10px 0px 0px 25px;
    }
}

.no-license-container {
    text-align: center;
    padding: 10px;

    .no-license-container-bg {
        img {
            height: 247px;
        }

        .no-license-description {
            padding: 40px 0 16px 0;
            margin: 0;
            font-size: 16px;
            color: $primary-text-color;
            letter-spacing: 0.75px;
            line-height: 30px;
        }

        .no-license-rediect {
            padding: 0;
            margin: 0;
            font-size: 16px;
            color: $primary-text-color;
            letter-spacing: 0.75px;
            line-height: 30px;
        }

        .no-license-signup {
            color: $primary-color;
            text-decoration: underline;
        }
    }
}


.e-control.e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
    font-size: 10px;
    height: 100%;
    width: auto;
    color: $grey-800;
}

.e-control.e-dialog .e-dlg-header-content + .e-dlg-content {
    padding: 0;
}

.trial {
    background-color: $trial-bg-color;
    color: $trial-color;
}

.trial-not-started {
    background-color: $trialnotstarted-bg-color;
    color: $trialnotstarted-color;
}

.active-status {
    background-color: $active-bg-color;
    color: $active-color;
}
#license-settings-container {
    .sub-title {
        line-height: 30px !important;
        margin-left: 45px !important;
        margin-top: 0px !important;
    }

    .secondary-button {
        height: 24px;
        line-height: 2px;
        position: absolute;
        top: 30px;
        font-weight: 400;
        padding: 0px 8px;
    }

    .edit-link {
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        position: relative;
    }

    #subscription-information {
        margin-left: 45px !important;
    }

    .renew-container {
        margin-left: 45px;
        background: $warning-bg-normal-color;
        border: 1px solid $warning-border-normal-color;
        width: 610px;
        height: auto;
        padding: 10px;
    }

    .renew-content {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $warning-text-color;
        margin-left: 40px;
    }

    #change-subscription {
        top: 39px;
        margin-left: 74px;
    }

    .su-warning-alt {
        font-size: 18px;
        top: 13px;
        position: absolute;
        margin-left: 8px;
        color: $warning-text-color;
    }

    #details-information {
        position: relative;
        margin-top: auto;

        .plan {
            padding-top: 8px;
            line-height: 0px !important;
        }

        .heading {
            padding-top: 20px !important;
        }

        .sub-title {
            margin-right: 345px;
        }
        .display-inline{
            display:inline-block;
        }
    }
}