@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }
#license-settings-container .new-start-container .new-start-container-bg span.first-content {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.12px; }

#license-settings-container .new-start-container .new-start-container-bg span.second-content {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: var(--primary-text-color); }

#license-settings-container .new-start-container .new-start-container-bg .help, .change-subscription-dialog-content .help {
  display: block;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.65px; }

#license-settings-container .new-start-container .new-start-container-bg .link-header {
  font-size: 16px;
  color: var(--primary-text-color);
  letter-spacing: 0.75px;
  line-height: 30px; }

#offline-license-update-dialog {
  width: 424px;
  height: auto; }
  #offline-license-update-dialog .e-btn.e-primary {
    width: 120px; }
  #offline-license-update-dialog .e-dlg-content {
    overflow: hidden; }
  #offline-license-update-dialog #popup-container .upload-header {
    height: 44px;
    padding: 11.5px 0 11.5px 12px;
    /*background: $grey-40;*/
    border-radius: 4px 4px 0 0; }
    #offline-license-update-dialog #popup-container .upload-header .popup-title {
      font-size: 15px;
      color: var(--primary-text-color);
      letter-spacing: 0.3px;
      line-height: 21px; }
    #offline-license-update-dialog #popup-container .upload-header .popup-close-div {
      padding-left: 54px; }
      #offline-license-update-dialog #popup-container .upload-header .popup-close-div .popup-close {
        font-size: 15px;
        color: var(--dialog-header-close-icon-normal-color); }
  #offline-license-update-dialog #popup-container .upload-content {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 35px; }
    #offline-license-update-dialog #popup-container .upload-content #upload-section .popover {
      width: 200px !important; }
    #offline-license-update-dialog #popup-container .upload-content #upload-section #upload-lable {
      padding-top: 25px;
      font-size: 13px;
      color: var(--primary-text-color);
      letter-spacing: 0.3px;
      line-height: 18px;
      margin-bottom: 8px;
      font-weight: 500; }
    #offline-license-update-dialog #popup-container .upload-content #upload-section #browse-info {
      padding-left: 5px; }
    #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper .form-control, #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper #filename {
        border-radius: 4px 0 0 4px;
        box-shadow: none;
        display: inline-block;
        font-size: 12px;
        height: 28px;
        float: left;
        overflow: hidden;
        resize: none;
        width: 393px;
        cursor: default;
        border-right: 0px !important; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper .input-group-addon {
        border-radius: 0 4px 4px 0;
        box-shadow: none;
        border-left: none;
        cursor: pointer;
        display: inline-block;
        float: left;
        font-size: 16px;
        height: 28px;
        width: 38px;
        color: var(--input-box-text-normal-color);
        background-color: var(--input-box-bg-normal-color);
        border: 1px solid var(--input-box-border-normal-color);
        line-height: 1;
        padding: 1px 1px 7px 1px; }
        #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper .input-group-addon.validation-message {
          border-color: var(--red) !important;
          color: var(--red) !important; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper input.upload-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 0; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper .primary-button {
        min-width: 133px;
        height: 28px;
        line-height: 26px;
        width: 120px;
        padding: 0px; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper .upload-box {
        width: 431px;
        float: left;
        margin-right: 20px; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper .download-template {
        color: var(--global-link-text-normal-color);
        position: absolute; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper .file-upload-btn {
        display: inline-block;
        position: relative;
        bottom: 4px; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper #file-name {
        width: 375px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        height: 28px;
        font-size: 13px;
        line-height: 28px;
        cursor: pointer; }
        #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper #file-name:focus {
          border-color: var(--input-box-border-normal-color) !important; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper button {
        margin: 0 0 0 10px;
        width: 80px !important;
        min-width: 80px !important; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper img {
        width: 43px;
        height: 28px;
        border: 1px solid var(--secondary-button-border-normal-color);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-left: -1px;
        cursor: pointer;
        padding: 7px; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper input[type="file"] {
        -webkit-appearance: none;
        text-align: left; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper input[type="file"]::-webkit-file-upload-button {
        -webkit-appearance: none;
        float: right;
        margin: 0 0 0 10px;
        border-radius: 4px; }
      #offline-license-update-dialog #popup-container .upload-content #upload-section .upload-btn-wrapper .validation-error-message {
        color: var(--red);
        font-size: 11px;
        letter-spacing: 0.3px;
        line-height: 16px;
        padding: 3px 0 0 0;
        width: 375px; }
    #offline-license-update-dialog #popup-container .upload-content #license-details {
      padding: 15px 0 0 0; }
      #offline-license-update-dialog #popup-container .upload-content #license-details .upload-group {
        margin-bottom: 12px; }
      #offline-license-update-dialog #popup-container .upload-content #license-details .license-detail-lable {
        font-size: 14px;
        color: var(--primary-text-color);
        letter-spacing: 0.3px;
        line-height: 23px; }
      #offline-license-update-dialog #popup-container .upload-content #license-details #customer-email, #offline-license-update-dialog #popup-container .upload-content #license-details #subscription-id-offline, #offline-license-update-dialog #popup-container .upload-content #license-details #subscription-name, #offline-license-update-dialog #popup-container .upload-content #license-details #plan-name, #offline-license-update-dialog #popup-container .upload-content #license-details #expiry-date {
        font-size: 14px;
        color: var(--primary-text-color);
        letter-spacing: 0.3px;
        line-height: 23px;
        overflow: hidden;
        text-overflow: ellipsis; }
      #offline-license-update-dialog #popup-container .upload-content #license-details #tenant-status {
        border-radius: 14px;
        width: 100px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        font-size: 14px; }
  #offline-license-update-dialog #popup-container .upload-footer {
    padding-top: 32px;
    padding-bottom: 24px; }
    #offline-license-update-dialog #popup-container .upload-footer #confirm-license {
      float: right;
      width: 120px !important; }
      #offline-license-update-dialog #popup-container .upload-footer #confirm-license:disabled {
        /*background: $grey-60;*/ }
    #offline-license-update-dialog #popup-container .upload-footer #cancel-license-update {
      float: right;
      margin-right: 15px;
      width: 80px !important;
      background: var(--secondary-button-bg-normal-color); }
  #offline-license-update-dialog .display-none {
    display: none !important; }

#license-settings-container #license-settings-form {
  color: var(--primary-text-color);
  position: fixed; }
  #license-settings-container #license-settings-form .sub-section-heading {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    height: 21px;
    margin: 8px 0 16px 0; }
  #license-settings-container #license-settings-form .active-subscription-table-section {
    border-collapse: collapse;
    border: 1px solid var(--section-separator-color);
    width: 650px;
    height: 190px;
    left: 45px;
    border-radius: 4px; }
    #license-settings-container #license-settings-form .active-subscription-table-section th {
      background-color: var(--background);
      border-bottom: 1px solid var(--section-separator-color); }
    #license-settings-container #license-settings-form .active-subscription-table-section td {
      border: none;
      padding: 10px;
      background-color: var(--surface);
      color: var(--primary-text-color); }
    #license-settings-container #license-settings-form .active-subscription-table-section tr td:first-child {
      font-size: 13px;
      display: table-cell;
      padding: 8px 0px 0px 16px;
      border-right: 1px solid var(--section-separator-color);
      width: 154px;
      letter-spacing: 0.325px; }
    #license-settings-container #license-settings-form .active-subscription-table-section td:last-child {
      border-bottom: 1px solid var(--section-separator-color);
      font-size: 13px;
      line-height: 24px;
      padding: 8px 0px 10px 16px;
      width: 432px;
      height: 40px;
      letter-spacing: 0.325px; }
    #license-settings-container #license-settings-form .active-subscription-table-section tr td span {
      display: block;
      padding-bottom: 4px; }
    #license-settings-container #license-settings-form .active-subscription-table-section #subscription-id-bi, #license-settings-container #license-settings-form .active-subscription-table-section #subscription-id-reports {
      float: left;
      margin: 11px 0 0 0;
      letter-spacing: 0px !important; }
      #license-settings-container #license-settings-form .active-subscription-table-section #subscription-id-bi .subscription-link, #license-settings-container #license-settings-form .active-subscription-table-section #subscription-id-reports .subscription-link {
        color: var(--global-link-text-normal-color) !important; }
        #license-settings-container #license-settings-form .active-subscription-table-section #subscription-id-bi .subscription-link:hover, #license-settings-container #license-settings-form .active-subscription-table-section #subscription-id-reports .subscription-link:hover {
          color: var(--global-link-text-hover-color) !important; }
    #license-settings-container #license-settings-form .active-subscription-table-section #subscription-copy-bi, #license-settings-container #license-settings-form .active-subscription-table-section #subscription-copy-reports {
      cursor: pointer;
      position: absolute;
      margin-left: 12px;
      min-width: 53px; }
    #license-settings-container #license-settings-form .active-subscription-table-section .display-none {
      display: none !important; }
#license-settings-container .new-start-container {
  text-align: center;
  padding: 10px; }
  #license-settings-container .new-start-container .new-start-container-bg span {
    display: block; }
    #license-settings-container .new-start-container .new-start-container-bg span.first-content {
      margin-top: 18px; }
      #license-settings-container .new-start-container .new-start-container-bg span.first-content span {
        display: inline-block;
        font-weight: bold;
        color: #ff4800; }
    #license-settings-container .new-start-container .new-start-container-bg span.second-content {
      letter-spacing: 0.84px;
      margin-top: 24px;
      font-size: 18px;
      line-height: 1.67; }
  #license-settings-container .new-start-container .new-start-container-bg .help {
    margin-top: 24px;
    color: var(--primary-branding-bg-color); }
  #license-settings-container .new-start-container .new-start-container-bg .btn-holder {
    margin-top: 40px;
    margin-bottom: 20px; }
    #license-settings-container .new-start-container .new-start-container-bg .btn-holder #online-license-bi, #license-settings-container .new-start-container .new-start-container-bg .btn-holder #online-license-reports {
      margin-right: 15px;
      width: 222px; }
  #license-settings-container .new-start-container .new-start-container-bg .link-header .offline-license-acion {
    color: var(--primary-branding-bg-color);
    text-decoration: underline !important;
    cursor: pointer; }
  #license-settings-container .new-start-container .new-start-container-bg .align-center {
    text-align: center; }

.change-subscription-dialog-content {
  text-align: center;
  padding: 16px; }
  .change-subscription-dialog-content .help {
    margin-top: 24px;
    color: var(--primary-branding-bg-color); }
  .change-subscription-dialog-content #online-license-bi, .change-subscription-dialog-content #online-license-reports {
    margin-right: 15px;
    width: 222px; }
  .change-subscription-dialog-content .online-change-subscription {
    padding: 0 16px 0 0; }
  .change-subscription-dialog-content .offline-change-subscription {
    padding: 0 0 0 16px; }
  .change-subscription-dialog-content .online-change-subscription-content, .change-subscription-dialog-content .offline-change-subscription-content {
    text-align: left; }
    .change-subscription-dialog-content .online-change-subscription-content h3, .change-subscription-dialog-content .offline-change-subscription-content h3 {
      padding: 0 0 8px 0;
      margin: 0 auto;
      font-weight: 600;
      font-style: normal;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.5px; }
    .change-subscription-dialog-content .online-change-subscription-content p, .change-subscription-dialog-content .offline-change-subscription-content p {
      padding: 0 0 20px 0;
      margin: 0 auto;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.5px; }
  .change-subscription-dialog-content .seperator {
    height: 70%;
    width: 1px;
    border: 1px solid var(--section-separator-color);
    position: absolute;
    left: 267px; }
  .change-subscription-dialog-content button {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-align: center !important;
    letter-spacing: 0.3px;
    border-radius: 4px;
    height: 28px; }
  .change-subscription-dialog-content #online-license-bi, .change-subscription-dialog-content #offline-update-bi {
    width: 120px; }
  .change-subscription-dialog-content .help-container {
    padding: 15px 0 0 0;
    line-height: 21px;
    letter-spacing: 0.5px; }
  .change-subscription-dialog-content .online-change-subscription-content {
    padding: 10px 0px 0px 19px; }
  .change-subscription-dialog-content .offline-change-subscription-content {
    padding: 10px 0px 0px 25px; }

.no-license-container {
  text-align: center;
  padding: 10px; }
  .no-license-container .no-license-container-bg img {
    height: 247px; }
  .no-license-container .no-license-container-bg .no-license-description {
    padding: 40px 0 16px 0;
    margin: 0;
    font-size: 16px;
    color: var(--primary-text-color);
    letter-spacing: 0.75px;
    line-height: 30px; }
  .no-license-container .no-license-container-bg .no-license-rediect {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: var(--primary-text-color);
    letter-spacing: 0.75px;
    line-height: 30px; }
  .no-license-container .no-license-container-bg .no-license-signup {
    color: var(--primary-branding-bg-color);
    text-decoration: underline; }

.e-control.e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
  font-size: 10px;
  height: 100%;
  width: auto;
  color: var(--grey-800); }

.e-control.e-dialog .e-dlg-header-content + .e-dlg-content {
  padding: 0; }

.trial {
  background-color: #c4f0ff;
  color: #555abf; }

.trial-not-started {
  background-color: #fdeebe;
  color: #c85d42; }

.active-status {
  background-color: #d6facf;
  color: #159570; }

#license-settings-container .sub-title {
  line-height: 30px !important;
  margin-left: 45px !important;
  margin-top: 0px !important; }
#license-settings-container .secondary-button {
  height: 24px;
  line-height: 2px;
  position: absolute;
  font-weight: 400;
  padding: 0px 8px; }
#license-settings-container .edit-link {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative; }
#license-settings-container #subscription-information {
  margin-left: 45px !important; }
#license-settings-container .renew-container {
  margin-left: 45px;
  background: var(--warning-bg-normal-color);
  border: 1px solid var(--warning-border-normal-color);
  width: 610px;
  height: auto;
  padding: 10px; }
#license-settings-container .renew-content {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--warning-text-color);
  margin-left: 40px; }
#license-settings-container #change-subscription {
  margin-left: 74px; }
#license-settings-container .su-warning-alt {
  font-size: 18px;
  top: 13px;
  position: absolute;
  margin-left: 8px;
  color: var(--warning-text-color); }
#license-settings-container #details-information {
  position: relative;
  margin-top: auto; }
  #license-settings-container #details-information .plan {
    padding-top: 8px;
    line-height: 0px !important; }
  #license-settings-container #details-information .heading {
    padding-top: 20px !important; }
  #license-settings-container #details-information .sub-title {
    margin-right: 345px; }
  #license-settings-container #details-information .display-inline {
    display: inline-block; }
