@import "../mixins.scss";

#look-and-feel-container {
    .admin-page-body {
        .sub-section {
            .form-group {
                margin: 0 0 16px 0;
            }
        }
    }

    .manage-link-disabled {
        pointer-events: none;
        color: $grey-400;
        cursor: not-allowed;
        text-decoration: none;
    }

    .inherit-description {
        height: auto;
        padding-left: 30px;
        background: var(--warning-bg-normal-color);
        display: flex !important;

        .inherit-info {
            margin-top: 15px !important;
            margin-right: 4px !important;
        }

        label {
            font-size: $app-text-size;
            font-weight: 400;
            letter-spacing: 0.32px;
            line-height: 24px;
            padding: 12px 12px 12px 2px;
            margin-bottom: 0px;
        }
    }

    .section-dropdown-content-first {
        margin-bottom: 28px;
        margin-top: 0px;
    }

    #light {
        padding-right: 16px;
    }

    .form-group {
        width: 450px !important;

        #appearance-container {
            padding-bottom: 10px;
        }

        .manage-theme, .upload-box {
            display: inline;
        }

        a {
            cursor: pointer;
        }

        .upload-link-btn {
            float: right;
            margin: 0 0 0px;
        }
    }

    @include ej2NonFloat();

    .remove-section {
        border-bottom: none !important;
        margin-bottom: 0px !important;
    }
}

.modal-dialog {
    width: 400px !important;
    pointer-events: auto !important;

    .e-dlg-header {
        overflow: visible;
    }

    .e-dlg-content {
        overflow: hidden;
        padding: 0 !important;
    }

    .modal-content {
        border: none !important;
        box-shadow: none !important;
    }

    .form-control {
        font-size: $app-text-size;
        width: 260px;
        height: $btn-height-normal;
        line-height: normal;
    }

    .font-label {
        font-size: 13px;
        margin-top: 8px;
        font-weight: 400;
        padding-right: 45px;
        margin-bottom: 5px;
    }

    .upload-box {
        .input-group-addon {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .dialog-info {
        line-height: 1.5;
        letter-spacing: .3px;
    }

    .field-padding {
        padding: 10px 0;
    }

    .padding-bottom {
        padding-bottom: 20px;
    }

    .validation-message {
        color: $validation-text-color;
        display: block;
        font-size: $app-text-size;
        margin-bottom: -16px;
    }

    #font-file-name, .theme-file-name {
        border-radius: 4px 0 0 4px;
        box-shadow: none;
        display: inline-block;
        float: left;
        height: 28px;
        overflow: hidden;
        resize: none;
        width: 88%;
        cursor: default;
    }

    #font-name, .theme-name {
        width: 369px !important;
    }

    .upload-file-btn {
        height: 28px;
        line-height: 1;
        padding: 1px 1px 7px 1px;
        width: 45px;
        border-radius: 0 4px 4px 0 !important;
        cursor: pointer;
        color: $input-box-text-normal-color;
        background-color: $input-box-bg-normal-color;
        border: 1px solid $input-box-border-normal-color;
        border-left: 0 !important;

        &.validation-message {
            border-color: $validation-text-color !important;
            color: $validation-text-color !important;
        }
    }

    input.upload-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 0;
    }

    .modal-footer {
        padding: 15px;
        text-align: right;

        .secondary-button {
            margin-right: 10px;
        }
    }
}

.padding-container {
    padding-left: 15px;
    padding-right: 15px;
}
