@import "../mixins.scss";

#look-and-feel-container {
    #look-and-feel-body {
        .add-new-font {
            padding: 5px 0px 0px 0px;
            font-size: $app-text-size;

            #woff-upload {
                color: $primary-color;
            }
        }

        @include ej2NonFloat();
    }
}

#font-upload-dialog_wrapper {
    @include dialogbox();

    .form-control {
        font-size: $app-text-size;
        width: 260px;
        height: $btn-height-normal;
        line-height: normal;
    }

    .font-label {
        font-size:13px;
        margin-top: 8px;
        font-weight: 400;
        padding-right: 45px;
    }

    .field-padding {
        padding: 10px;
    }

    .padding-bottom {
        padding-bottom: 20px;
    }

    .fontupload-validation-messages {
        color: $validation-text-color;
        display: block;
        font-size: $validation-large-text-size;
        margin-bottom: -16px;
    }

    #font-file-name {
        border-radius: 4px 0 0 4px;
        box-shadow: none;
        display: inline-block;
        float: left;
        height: 28px;
        overflow: hidden;
        resize: none;
        width: 80%;
        border: 1px solid $border-color;
        background-color: $admin-page-bg;
        cursor: default;
    }


    .upload-file-btn {
        background-color: $admin-page-bg;
        border: 1px solid $border-color;
        height: 28px;
        line-height: 1;
        padding: 1px 1px 7px 1px;
        width: 45px;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
    }

    input.upload-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 0;
    }
}

