@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }
#look-and-feel-container .admin-page-body .sub-section .form-group {
  margin: 0 0 16px 0; }
#look-and-feel-container .section-dropdown-content-first {
  margin-bottom: 28px;
  margin-top: 0px; }
#look-and-feel-container #light {
  padding-right: 16px; }
#look-and-feel-container .form-group {
  width: 450px !important; }
  #look-and-feel-container .form-group #appearance-container {
    padding-bottom: 10px; }
  #look-and-feel-container .form-group .manage-theme, #look-and-feel-container .form-group .upload-box {
    display: inline; }
  #look-and-feel-container .form-group a {
    cursor: pointer; }
  #look-and-feel-container .form-group .upload-link-btn {
    float: right;
    margin: 0 0 0px; }
#look-and-feel-container .e-custom.e-non-float input {
  min-height: 30px !important; }
#look-and-feel-container .e-custom.e-non-float.e-valid-input {
  border-color: var(--input-box-border-normal-color) !important; }
#look-and-feel-container .e-custom.e-non-float:hover:not(.e-input-focus):not(.e-success):not(.e-error):not(.e-disabled) {
  border-color: var(--input-box-border-active-color) !important; }
#look-and-feel-container .e-custom.e-non-float.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-disabled) {
  border-color: var(--input-box-border-active-color) !important; }
#look-and-feel-container .e-custom.e-non-float.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled) {
  border-color: var(--input-box-border-active-color) !important;
  box-shadow: inset 0.1px 0 var(--input-box-border-active-color), inset -0.1px 0 var(--input-box-border-active-color), inset 0 -0.1px var(--input-box-border-active-color) !important; }
#look-and-feel-container .e-custom.e-non-float.e-error {
  border-color: var(--red) !important;
  box-shadow: inset 0.1px 0 var(--red), inset -0.1px 0 var(--red), inset 0 -0.1px var(--red) !important; }
#look-and-feel-container .e-custom.e-non-float.e-disabled {
  background-color: var(--input-box-bg-disable-color) !important;
  border: 1px solid var(--input-box-border-disable-color) !important;
  color: var(--input-box-text-disable-color) !important; }
#look-and-feel-container .remove-section {
  border-bottom: none !important;
  margin-bottom: 0px !important; }

.modal-dialog {
  width: 400px !important;
  pointer-events: auto !important; }
  .modal-dialog .e-dlg-header {
    overflow: visible; }
  .modal-dialog .e-dlg-content {
    overflow: hidden;
    padding: 0 !important; }
  .modal-dialog .modal-content {
    border: none !important;
    box-shadow: none !important; }
  .modal-dialog .form-control {
    font-size: 12px;
    width: 260px;
    height: 28px;
    line-height: normal; }
  .modal-dialog .font-label {
    font-size: 13px;
    margin-top: 8px;
    font-weight: 400;
    padding-right: 45px;
    margin-bottom: 5px; }
  .modal-dialog .upload-box .input-group-addon {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400; }
  .modal-dialog .dialog-info {
    line-height: 1.5;
    letter-spacing: .3px; }
  .modal-dialog .field-padding {
    padding: 10px 0; }
  .modal-dialog .padding-bottom {
    padding-bottom: 20px; }
  .modal-dialog .validation-message {
    color: var(--red);
    display: block;
    font-size: 12px;
    margin-bottom: -16px; }
  .modal-dialog #font-file-name, .modal-dialog .theme-file-name {
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    display: inline-block;
    float: left;
    height: 28px;
    overflow: hidden;
    resize: none;
    width: 88%;
    cursor: default; }
  .modal-dialog #font-name, .modal-dialog .theme-name {
    width: 369px !important; }
  .modal-dialog .upload-file-btn {
    height: 28px;
    line-height: 1;
    padding: 1px 1px 7px 1px;
    width: 45px;
    border-radius: 0 4px 4px 0 !important;
    cursor: pointer;
    color: var(--input-box-text-normal-color);
    background-color: var(--input-box-bg-normal-color);
    border: 1px solid var(--input-box-border-normal-color);
    border-left: 0 !important; }
    .modal-dialog .upload-file-btn.validation-message {
      border-color: var(--red) !important;
      color: var(--red) !important; }
  .modal-dialog input.upload-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 0; }
  .modal-dialog .modal-footer {
    padding: 15px;
    text-align: right; }
    .modal-dialog .modal-footer .secondary-button {
      margin-right: 10px; }

.padding-container {
  padding-left: 15px;
  padding-right: 15px; }
