@import "../mixins.scss";

#mail-settings-container {
    .mail-authentication {
        font-weight: bold !important;
    }

    #anonymous {
        padding-right: 16px;
    }

    .authentication-type {
        display: inline-block;

        .radio-btn-label {
            margin-bottom: 0px !important;
            font-size: $app-text-size;
            font-weight: normal;
            letter-spacing: 0.3px;
            line-height: 18px;
            padding-left: 26px !important;
        }
    }

    input::-ms-clear, input::-ms-reveal {
        display: none;
    }

    .test-connection-button {
        height: 28px;
        min-width: 137px;
        margin-bottom: 32px;
        text-align: center;
    }
}

#test-mail-dialog {
    .update-form-input-field {
        margin-top: 25px;
        margin-bottom: 51px;

        .app-textbox-label {
            padding: 0 !important;
            font-weight: 400;
            color: $primary-text-color;
            margin-bottom: 10px;
        }

        @include ej2NonFloat();

        #test-mail-dialog_title {
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.3px;
            padding-left: 3px;
        }
    }

    #test-main-error-message {
        width: 100%;
        padding: 12px;
        border-radius: 4px;
        min-height: 90px;
    }

    .test-mail-info {
        color: $grey-500;
        font-size: 12px;
    }

    .e-dlg-content {
        padding: 16px;
    }

    .e-label-bottom {
        line-height: 40px !important;
    }

    #validation-error, .validation-message {
        font-size: 12px;
        position: absolute;
        color: $danger;

        a {
            cursor: pointer;
            color: $link-text-color;

            &:hover {
                color: $blue-secondary;
            }
        }
    }

    #test-mail-form {
        padding: 0 16px;
    }

    #test-mail {
        border-radius: 4px;
        height: 28px;
        min-height: 28px !important;
    }

    .e-footer-content {
        padding-right: 15px;

        button {
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0.3px;
            margin-left: 20px;
            width: 80px;
            height: 26px;
        }
    }

    .success-box {
        text-align: center;
        padding: 25px 0;
    }
}
