@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

#mail-settings-container .mail-authentication {
  font-weight: bold !important; }

#mail-settings-container #anonymous {
  padding-right: 16px; }

#mail-settings-container .authentication-type {
  display: inline-block; }
  #mail-settings-container .authentication-type .radio-btn-label {
    margin-bottom: 0px !important;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.3px;
    line-height: 18px;
    padding-left: 26px !important; }

#mail-settings-container input::-ms-clear, #mail-settings-container input::-ms-reveal {
  display: none; }

#mail-settings-container .test-connection-button {
  height: 28px;
  min-width: 137px;
  margin-bottom: 32px;
  text-align: center; }

#test-mail-dialog .update-form-input-field {
  margin-top: 25px;
  margin-bottom: 51px; }
  #test-mail-dialog .update-form-input-field .app-textbox-label {
    padding: 0 !important;
    font-weight: 400;
    color: var(--colorText);
    margin-bottom: 10px; }
  #test-mail-dialog .update-form-input-field .e-custom.e-non-float input {
    min-height: 30px !important; }
  #test-mail-dialog .update-form-input-field .e-custom.e-non-float:hover:not(.e-input-focus):not(.e-success):not(.e-error):not(.e-disabled) {
    border-color: var(--colorPrimary) !important; }
  #test-mail-dialog .update-form-input-field .e-custom.e-non-float.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-disabled) {
    border-color: var(--colorPrimary) !important; }
  #test-mail-dialog .update-form-input-field .e-custom.e-non-float.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled) {
    border-color: var(--colorPrimary) !important;
    box-shadow: inset 0.1px 0 var(--colorPrimary), inset -0.1px 0 var(--colorPrimary), inset 0 -0.1px var(--colorPrimary) !important; }
  #test-mail-dialog .update-form-input-field .e-custom.e-non-float.e-error {
    border-color: var(--danger);
    box-shadow: inset 0.1px 0 var(--danger), inset -0.1px 0 var(--danger), inset 0 -0.1px var(--danger) !important; }
  #test-mail-dialog .update-form-input-field .e-custom.e-non-float.e-disabled {
    background-color: #eeeeee !important;
    border: 1px solid #cccccc !important;
    color: #b3b3b3 !important; }
  #test-mail-dialog .update-form-input-field #test-mail-dialog_title {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.3px;
    padding-left: 3px; }

#test-mail-dialog #test-main-error-message {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  min-height: 90px; }

#test-mail-dialog .test-mail-info {
  color: #808080;
  font-size: 12px; }

#test-mail-dialog .e-dlg-content {
  padding: 16px; }

#test-mail-dialog .e-label-bottom {
  line-height: 40px !important; }

#test-mail-dialog #validation-error, #test-mail-dialog .validation-message {
  font-size: 12px;
  position: absolute;
  color: var(--danger); }
  #test-mail-dialog #validation-error a, #test-mail-dialog .validation-message a {
    cursor: pointer;
    color: var(--colorPrimary); }
    #test-mail-dialog #validation-error a:hover, #test-mail-dialog .validation-message a:hover {
      color: #007aff; }

#test-mail-dialog #test-mail-form {
  padding: 0 16px; }

#test-mail-dialog #test-mail {
  border-radius: 4px;
  height: 28px;
  min-height: 28px !important; }

#test-mail-dialog .e-footer-content {
  padding-right: 15px; }
  #test-mail-dialog .e-footer-content button {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin-left: 20px;
    width: 80px;
    height: 26px; }

#test-mail-dialog .success-box {
  text-align: center;
  padding: 25px 0; }
