@import "../mixins.scss";

#localization-container {

    #search-area {
        margin-right: 0px !important;
    }

    .e-footer-content .e-control {
        margin-right: 10px;
    }

    #add-language {
        width: 121px;
        line-height: 2px !important;
        font-size: 13px;
        height: 28px;

        span {
            margin-left: 15px;
        }
    }

    #delete-language {
        position: relative;
        left: 367px;
        color: $validation-text-color;
        border-color: $validation-text-color;
        line-height: 2px !important;
        height: 28px;
        margin-top: 35px;
        margin-bottom: 8px;
        z-index: 1;
    }

    .selected-language {
        position: relative;
        top: 40px;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }

    .su-add {
        position: relative;
        left: 23px;
        margin-left: 10px;
        top: 5px;
        color: $primary-color;
        font-size: 18px;
    }

    .remove-language {
        color: $danger;
    }
}

#upload-container {

    #default-language {
        margin-left: -7px;
        padding-bottom: 10px;
        font-weight: 200;
    }

    .select-language {

        @include ej2NonFloat();
        padding: 0;
        width: 376px;
        margin-left: 6px;

        .e-input-group.e-control-wrapper {
            height: 33px;

            .e-input {
                padding: 5px 0px 5px 7px !important;
            }
        }
    }

    #choose-file {
        padding: 15px 0px 5px 10px;
        font-weight: 200;
    }

    .help-content {
        padding: 8px 0px 10px 0px;
        margin-left: 10px;

        .help-link-content {
            line-height: 18px;
        }
    }

    #message-container {
        height: auto;
        background: $grey-000;
        width: 370px;
        padding: 3px;
        margin: 10px 0px 0px 10px;

        .validation-error-message {
            color: $validation-text-color;
            font-size: 12px;
            width: 360px;
            position: relative;
            padding: 5px 0px 0px 10px;
        }

        #file-name {
            padding: 4px 0px 0px 10px;
            width: 360px;
            height: auto;
            background: $grey-000;
            border: none;
        }

        .error-content {
            padding-bottom: 8px;
        }

        .localization-message-content {
            .success {
                color: $success !important;
            }

            .validation-error-content {
                color: $validation-text-color;
                font-size: 12px;
                position: relative;
                top: 3px;
                padding: 0px 0px 0px 10px;
                letter-spacing: 0.3px;

                .error-message-change {
                    padding-left: 12px;
                }
            }
        }
    }

    .e-footer-content .uploaded-language {
        width: 100px;
        padding: 5px;
    }

    .upload-link {
        .e-upload.e-upload-drag-hover {
            outline: none;
        }

        .e-upload {
            width: auto !important;
            height: auto !important;
            border: none;

            &:before {
                display: none;
            }

            .e-file-select-wrap {
                background: none;
                padding: 0 !important;

                .e-css.e-btn:disabled {
                    background: $grey-100;
                    color: $grey-600;
                }

                .e-btn {
                    cursor: pointer;
                    font-family: var(--font-family);
                    font-size: 12px;
                    font-weight: bold;
                    border-radius: 5px;
                    width: 80px;
                    height: 28px;
                    text-transform: none;
                    margin-left: 8px;
                    color: $surface;
                    background: $primary-color;
                    padding: 3px;
                }

                .e-file-select, .e-file-drop {
                    display: none;
                }
            }
        }
    }
}

#language-delete-dialog {
    .e-footer-content {
        .cancel-button {
            margin-right: 25px;
        }
    }

    .warning-message {
        margin-top: 15px;
    }

    #language-delete-dialog_dialog-content {
        #language-delete-dialog-content {
            padding: 11px 0px 15px 0px;

            .info-message {
                margin-top: -15px;
                height: 3px;
            }
        }
    }
}

#messageBox .e-footer-content, #messageBox .message-content {
    text-align: center;
}