@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }
#localization-container #search-area {
  margin-right: 0px !important; }
#localization-container .e-footer-content .e-control {
  margin-right: 10px; }
#localization-container #add-language {
  width: 121px;
  line-height: 2px !important;
  font-size: 13px;
  height: 28px; }
  #localization-container #add-language span {
    margin-left: 15px; }
#localization-container #delete-language {
  position: relative;
  left: 367px;
  color: var(--red);
  border-color: var(--red);
  line-height: 2px !important;
  height: 28px;
  margin-top: 35px;
  margin-bottom: 8px;
  z-index: 1; }
#localization-container .selected-language {
  position: relative;
  top: 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px; }
#localization-container .su-add {
  position: relative;
  left: 23px;
  margin-left: 10px;
  top: 5px;
  color: var(--primary-branding-bg-color);
  font-size: 18px; }
#localization-container .remove-language {
  color: var(--red); }

#upload-container #default-language {
  margin-left: -7px;
  padding-bottom: 10px;
  font-weight: 200; }
#upload-container .select-language {
  padding: 0;
  width: 376px;
  margin-left: 6px; }
  #upload-container .select-language .e-custom.e-non-float input {
    min-height: 30px !important; }
  #upload-container .select-language .e-custom.e-non-float.e-valid-input {
    border-color: var(--input-box-border-normal-color) !important; }
  #upload-container .select-language .e-custom.e-non-float:hover:not(.e-input-focus):not(.e-success):not(.e-error):not(.e-disabled) {
    border-color: var(--input-box-border-active-color) !important; }
  #upload-container .select-language .e-custom.e-non-float.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-disabled) {
    border-color: var(--input-box-border-active-color) !important; }
  #upload-container .select-language .e-custom.e-non-float.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled) {
    border-color: var(--input-box-border-active-color) !important;
    box-shadow: inset 0.1px 0 var(--input-box-border-active-color), inset -0.1px 0 var(--input-box-border-active-color), inset 0 -0.1px var(--input-box-border-active-color) !important; }
  #upload-container .select-language .e-custom.e-non-float.e-error {
    border-color: var(--red) !important;
    box-shadow: inset 0.1px 0 var(--red), inset -0.1px 0 var(--red), inset 0 -0.1px var(--red) !important; }
  #upload-container .select-language .e-custom.e-non-float.e-disabled {
    background-color: var(--input-box-bg-disable-color) !important;
    border: 1px solid var(--input-box-border-disable-color) !important;
    color: var(--input-box-text-disable-color) !important; }
  #upload-container .select-language .e-input-group.e-control-wrapper {
    height: 33px; }
    #upload-container .select-language .e-input-group.e-control-wrapper .e-input {
      padding: 5px 0px 5px 7px !important; }
#upload-container #choose-file {
  padding: 15px 0px 5px 10px;
  font-weight: 200; }
#upload-container .help-content {
  padding: 8px 0px 10px 0px;
  margin-left: 10px; }
  #upload-container .help-content .help-link-content {
    line-height: 18px; }
#upload-container #message-container {
  height: auto;
  background: var(--grey-000);
  width: 370px;
  padding: 3px;
  margin: 10px 0px 0px 10px; }
  #upload-container #message-container .validation-error-message {
    color: var(--red);
    font-size: 12px;
    width: 360px;
    position: relative;
    padding: 5px 0px 0px 10px; }
  #upload-container #message-container #file-name {
    padding: 4px 0px 0px 10px;
    width: 360px;
    height: auto;
    background: var(--grey-000);
    border: none; }
  #upload-container #message-container .error-content {
    padding-bottom: 8px; }
  #upload-container #message-container .localization-message-content .success {
    color: var(--green) !important; }
  #upload-container #message-container .localization-message-content .validation-error-content {
    color: var(--red);
    font-size: 12px;
    position: relative;
    top: 3px;
    padding: 0px 0px 0px 10px;
    letter-spacing: 0.3px; }
    #upload-container #message-container .localization-message-content .validation-error-content .error-message-change {
      padding-left: 12px; }
#upload-container .e-footer-content .uploaded-language {
  width: 100px;
  padding: 5px; }
#upload-container .upload-link .e-upload.e-upload-drag-hover {
  outline: none; }
#upload-container .upload-link .e-upload {
  width: auto !important;
  height: auto !important;
  border: none; }
  #upload-container .upload-link .e-upload:before {
    display: none; }
  #upload-container .upload-link .e-upload .e-file-select-wrap {
    background: none;
    padding: 0 !important; }
    #upload-container .upload-link .e-upload .e-file-select-wrap .e-css.e-btn:disabled {
      background: var(--grey-100);
      color: var(--grey-600); }
    #upload-container .upload-link .e-upload .e-file-select-wrap .e-btn {
      cursor: pointer;
      font-family: var(--font-family);
      font-size: 12px;
      font-weight: bold;
      border-radius: 5px;
      width: 80px;
      height: 28px;
      text-transform: none;
      margin-left: 8px;
      color: var(--surface);
      background: var(--primary-branding-bg-color);
      padding: 3px; }
    #upload-container .upload-link .e-upload .e-file-select-wrap .e-file-select, #upload-container .upload-link .e-upload .e-file-select-wrap .e-file-drop {
      display: none; }

#language-delete-dialog .e-footer-content .cancel-button {
  margin-right: 25px; }
#language-delete-dialog .warning-message {
  margin-top: 15px; }
#language-delete-dialog #language-delete-dialog_dialog-content #language-delete-dialog-content {
  padding: 11px 0px 15px 0px; }
  #language-delete-dialog #language-delete-dialog_dialog-content #language-delete-dialog-content .info-message {
    margin-top: -15px;
    height: 3px; }

#messageBox .e-footer-content, #messageBox .message-content {
  text-align: center; }
