@charset "UTF-8";
@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }
#proxy-container .material-checkbox + input + label {
  cursor: pointer;
  display: inline-block;
  height: 25px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.26px;
  margin: 0;
  padding: 6px 7px 0 24px !important;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  white-space: nowrap; }
  #proxy-container .material-checkbox + input + label::after {
    border-radius: 2px; }
  #proxy-container .material-checkbox + input + label::before, #proxy-container .material-checkbox + input + label::after {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
    width: 11px;
    height: 8px; }
#proxy-container .material-checkbox:not(:checked) + input + label::before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px; }
#proxy-container .material-checkbox:not(:checked) + input + label::after {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid var(--checkbox-border-normal-color);
  top: 0px;
  z-index: 1;
  margin-top: 7px;
  margin-bottom: 2px; }
#proxy-container .material-checkbox:checked + input + label::before {
  bottom: 11.2px;
  color: var(--checkbox-text-active-color);
  content: "";
  font-family: "Server";
  left: 1px;
  font-size: 14px;
  font-weight: bold; }
#proxy-container .material-checkbox:checked + input + label::after {
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--checkbox-border-active-color);
  background-color: var(--checkbox-bg-active-color);
  z-index: 0;
  margin-top: 7px;
  margin-bottom: 2px; }
#proxy-container .material-checkbox:disabled + input + label::after {
  background-color: var(--checkbox-bg-disable-color);
  border: 1px solid var(--checkbox-border-disable-color); }
#proxy-container .material-checkbox:disabled + input + label::before {
  color: var(--checkbox-text-disable-color); }
#proxy-container .material-checkbox:not(:checked):disabled + input + label::after {
  background-color: var(--checkbox-bg-disable-color);
  border: 1px solid var(--checkbox-border-disable-color); }
#proxy-container .material-checkbox:not(:checked), #proxy-container .material-checkbox:checked {
  position: absolute;
  left: -9999px;
  opacity: 0; }
#proxy-container .validation-error-image {
  color: var(--red);
  top: 20px;
  position: relative;
  right: 90px; }
#proxy-container .proxy-position {
  position: absolute; }
#proxy-container .admin-page-body .enable-ssl-checkbox {
  margin-top: 10px; }
#proxy-container .admin-page-body .sub-section {
  border-bottom: none !important; }
  #proxy-container .admin-page-body .sub-section div.form-group:last-child {
    margin: 0 0 32px 0; }
  #proxy-container .admin-page-body .sub-section .label-default-width {
    width: 450px !important; }
    #proxy-container .admin-page-body .sub-section .label-default-width .app-textbox-label {
      width: 125px;
      display: inline-block; }
  #proxy-container .admin-page-body .sub-section .form-group {
    margin: 0 0 16px 0; }
    #proxy-container .admin-page-body .sub-section .form-group:after {
      clear: both;
      display: table;
      content: ""; }
    #proxy-container .admin-page-body .sub-section .form-group:before {
      display: table;
      content: ""; }
#proxy-container .admin-page-body .e-custom.e-non-float input {
  min-height: 30px !important; }
#proxy-container .admin-page-body .e-custom.e-non-float.e-valid-input {
  border-color: var(--input-box-border-normal-color) !important; }
#proxy-container .admin-page-body .e-custom.e-non-float:hover:not(.e-input-focus):not(.e-success):not(.e-error):not(.e-disabled) {
  border-color: var(--input-box-border-active-color) !important; }
#proxy-container .admin-page-body .e-custom.e-non-float.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-disabled) {
  border-color: var(--input-box-border-active-color) !important; }
#proxy-container .admin-page-body .e-custom.e-non-float.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled) {
  border-color: var(--input-box-border-active-color) !important;
  box-shadow: inset 0.1px 0 var(--input-box-border-active-color), inset -0.1px 0 var(--input-box-border-active-color), inset 0 -0.1px var(--input-box-border-active-color) !important; }
#proxy-container .admin-page-body .e-custom.e-non-float.e-error {
  border-color: var(--red) !important;
  box-shadow: inset 0.1px 0 var(--red), inset -0.1px 0 var(--red), inset 0 -0.1px var(--red) !important; }
#proxy-container .admin-page-body .e-custom.e-non-float.e-disabled {
  background-color: var(--input-box-bg-disable-color) !important;
  border: 1px solid var(--input-box-border-disable-color) !important;
  color: var(--input-box-text-disable-color) !important; }
#proxy-container .input-group-addon {
  padding: 0; }
#proxy-container #ssl-selectpicker {
  float: left; }
  #proxy-container #ssl-selectpicker .input-group-addon {
    border: 0;
    background-color: transparent; }
    #proxy-container #ssl-selectpicker .input-group-addon .e-input-group {
      width: 80px !important;
      height: 28px !important; }
      #proxy-container #ssl-selectpicker .input-group-addon .e-input-group input {
        padding-top: 0px; }
  #proxy-container #ssl-selectpicker .bootstrap-select .btn {
    font-size: 12px; }
  #proxy-container #ssl-selectpicker .selectpicker:not(ul) {
    border-radius: 4px 0px 0px 4px;
    border-right: 0;
    height: 28px;
    padding-top: 5px; }
  #proxy-container #ssl-selectpicker ul.selectpicker {
    overflow: visible !important; }
#proxy-container .exist-domain-info {
  display: none;
  padding: 0px;
  margin-top: 5%; }
  #proxy-container .exist-domain-info input {
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer; }
  #proxy-container .exist-domain-info a {
    color: var(--primary-branding-bg-color); }
#proxy-container .ssl-certification {
  margin-top: 11px;
  margin-bottom: 0px !important; }
#proxy-container .dropdown-toggle span {
  color: var(--primary-text-color); }
#proxy-container #help_text {
  padding-left: 0px;
  padding-top: 7px; }
  #proxy-container #help_text #ssl-help-message {
    padding: 5px; }
#proxy-container .e-selectpart {
  border: 0; }
  #proxy-container .e-selectpart .e-inputbtn {
    background: var(--surface);
    color: var(--primary-text-color);
    font-size: 12px;
    font-weight: bolder; }
    #proxy-container .e-selectpart .e-inputbtn:hover {
      background: var(--background); }

.material-checkbox + input + label {
  cursor: pointer;
  display: inline-block;
  height: 25px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.26px;
  margin: 0;
  padding: 6px 7px 0 24px !important;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  white-space: nowrap; }
  .material-checkbox + input + label::after {
    border-radius: 2px; }
  .material-checkbox + input + label::before, .material-checkbox + input + label::after {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
    width: 11px;
    height: 8px; }
.material-checkbox:not(:checked) + input + label::before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px; }
.material-checkbox:not(:checked) + input + label::after {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid var(--checkbox-border-normal-color);
  top: 0px;
  z-index: 1;
  margin-top: 7px;
  margin-bottom: 2px; }
.material-checkbox:checked + input + label::before {
  bottom: 11.2px;
  color: var(--checkbox-text-active-color);
  content: "";
  font-family: "Server";
  left: 1px;
  font-size: 14px;
  font-weight: bold; }
.material-checkbox:checked + input + label::after {
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--checkbox-border-active-color);
  background-color: var(--checkbox-bg-active-color);
  z-index: 0;
  margin-top: 7px;
  margin-bottom: 2px; }
.material-checkbox:disabled + input + label::after {
  background-color: var(--checkbox-bg-disable-color);
  border: 1px solid var(--checkbox-border-disable-color); }
.material-checkbox:disabled + input + label::before {
  color: var(--checkbox-text-disable-color); }
.material-checkbox:not(:checked):disabled + input + label::after {
  background-color: var(--checkbox-bg-disable-color);
  border: 1px solid var(--checkbox-border-disable-color); }
.material-checkbox:not(:checked), .material-checkbox:checked {
  position: absolute;
  left: -9999px;
  opacity: 0; }
.material-checkbox + input + label {
  font-size: 12px; }
