@import "../mixins.scss";
@import "../../themes/default.scss";


.Edit-system-settings-container {
    padding: 0px !important;
    margin-bottom: 20px;

    .section-heading {
        font-size: 18px;
        color: $grey-900;
    }
}

#base_container_WaitingPopup, .e-waitpopup-pane {
    z-index: 998 !important;
}

.placeholder {
    position: absolute;
    top: 0px;
    padding: 6px 0 6px 12px;
    color: $placeholder-color;
    height: 34px;
    line-height: 1.5;
    overflow: hidden;
}

.e-chkbox-wrap
{
    float: left;
    .e-chkbox-medium
    {
        .e-chk-inact,.e-chk-act   {
            border: 1px solid $grey-900;
            border-radius: 3px;
            height: 11px;
            top: 2px;
            width: 11px;
        }
        .e-chk-act .e-chk-image {
            left: -2px;
            top: -5px;
        }
    }
}

.dialogContent .dialogText {
    font-size: 15px;
    padding: 3%;
    word-wrap: break-word;
    border-radius: 2px;
    text-align: justify;
    color: $dialog-text-1;
    font-style: initial;
    display: block;
    background-color: $bg-dialog-1;
}

.custom-template.e-dialog .e-dlg-header-content {
    border-bottom: none;
    background-color: $white;
}

.e-control.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    height: 25px;
    width: 30px;
}

.e-control.e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
    font-size: 20px;
    height: 100%;
    width: 100%;
    color: $grey-800;
}

.su.su-warning-alt {
    font-size: 45px;
    position: relative;
    float: left;
    right: 2%;
}

#sendButton {
    position: relative;
    right: 38%;
    width: 20%;
    background: white;
    border: 0;
    border-radius: 4px;
    color: $grey-800;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    min-width: 90px;
    outline: none;
    text-align: center;
    border: 1px solid $grey-300;


    &:hover {
        background-color: $grey-200;
    }
}


.separator {
    float: left;
    width: 100%;
}

#UpdateSAMLSettings-bottom {
    float: right;
    margin-left: 15px;
}

#UpdateSAMLSettingsCancel-bottom {
    float: right;
    margin-left: 15px;
}

.confirmatioMessage {
    display: none;
    float: right;
    margin-top: 10px;
}

.ValidationErrorImage {
    color: $validation-text-color;
}

.import-area {
    font-size: 30px;
    border-bottom: 1px solid $admin-pages-border-color;
    padding: 0 0 20px 0;
    margin: 0px;

    div{
        float: left;
    }
    .import-label{
        padding:0px;
    }
    h5{
        margin: 0;
    }
}

.no-margin{
    margin: 0;
}

.top-padding{
    padding-top:5px;
}

#sso-container {
    float: left;

    .saml-form {
        padding: 0;
        float: left;
        //background-color: $white;
        border-radius: 4px;
        margin: 0;
    }
}

.validation-message {
    color: $validation-text-color;
    display: block;
    float: left;
    height: 13px;
    width: 100%;
    font-size: 12px;
    line-height: 1;
}

.enable-area{
    margin-top: 20px;

    #enable-sso, .enable-sso-label{
        cursor: pointer;
        float: left;
    }
    .enable-sso-label{
        padding: 0 8px;
    }
    label{
        margin: 0;
    }
}

.app-checkbox-label{
    margin-top:9px;
}
.check-box-label{
    padding: 0;
    margin-bottom: 10px; 
    
    .material-checkbox + input + label{
        height:30px !important;
        font-weight: 400;
    }
}
.saml-description{
    margin: 0;
    padding-left: 26px;
}

.info-popup{
    float: left;
    position: absolute;
    cursor: pointer;
    top: 7px;
}

.popover {
    max-width: 100%;
}

#saml-setting {
        margin-bottom: 20px;
        margin-top: 0px;
        //background-color: $white;
        border-radius: 4px;
        padding-top: 0;
        padding-bottom: 15px;
        float: left;
        padding-left: 25px;
        width: 100%;

        .col-md-12 {
            margin-top: 0px;
            padding: 0px;
            margin-bottom: 15px;
            border:0px;

            /*.form-input-field, .form-label-field {
                margin-top: 0px;
                padding: 0px;
            }*/
        }
    }
#messageBox{
.message-content{
    margin-top:25px !important;
    text-align: justify;
}
.message-box-btn-holder{
    padding:6px 10px !important;
}
}

@media screen and (max-width: 1040px) {
    #messageBox {
        height: 200px;
    }
}

@media screen and (min-width: 1400px) {
    .signing-key-width {
        width: 423px !important;
    }
}

@media screen and (min-width: 1041px) and (max-width: 1399px)
{
     .popover-content{
             font-size: $app-text-size;
         }

     #messageBox{
.message-content{
    margin-top:30px !important;
}
}
}

