#security-settings-container .sub-section div.password-option:last-child {
  margin: 0 0 24px 0; }

#security-settings-container .sub-section .password-option {
  margin-bottom: 11px; }

#security-settings-container .sub-section .password-length {
  margin-right: 12px; }

#security-settings-container .sub-section .info-message {
  width: auto !important;
  padding: 3px 0 0 44px;
  margin: 0px !important; }
