@import "../../default/default.scss";
@import "../mixins.scss";

#security-settings-container {
    .sub-section {
        div.password-option:last-child {
            margin: 0 0 24px 0;
        }

        .password-option {
            margin-bottom: 11px;
        }

        .password-length {
            margin-right: 12px;
        }

        .info-message {
            width: auto !important;
            padding: 3px 0 0 44px;
            margin: 0px !important;
        }

        #error-min-len {
            color: $validation-text-color !important;
            padding-left: 110px;
        }

        .min-len-validation-messages {
            color: $validation-text-color;
            display: block;
            font-size: 12px;
            margin-bottom: -1px;
            padding-left: 110px;
        }
    }

    #security-settings-tab-nav {
        background: $background;
    }

    
}

#csp-settings-form {
    .has-error {
        border-color: $input-box-border-alert-color;
        color: $input-box-text-normal-color;
        background: $input-box-bg-normal-color;
    }

    .enable-csp {
        .info-message {
            padding-left: 24px;
        }
    }

    .info-label {
        label {
            margin-bottom: 4px !important;
        }
    }

    .src-names-list {
        .info-label {
            padding-top: 10px;
        }
    }

    .style-src-content {
        &::placeholder {
            color: #555 !important;
        }
    }

    .validation-errors {
        color: $danger;
        font-size: 12px;
    }

    .src-input-class {
        border: 1px solid $input-box-border-normal-color;
        color: $input-box-text-normal-color;
        background: $input-box-bg-normal-color;
        border-radius: 4px;
        cursor: text;
        display: block;
        height: 75px;
        max-height: 150px;
        overflow-y: auto;
        width: 450px;
        margin-bottom: 4px;
        margin-top: 4px;

        .src-input-chip {
            display: inline;
            padding: 0;

            .e-chip {
                border: none;
            }
        }

        input {
            border: none !important;
            box-shadow: none !important;
            display: inline-block;
            min-width: 30%;
            max-width: 100%;
            padding-left: 4px;
            transition: none;
        }
    }

    .src-disabled {
        pointer-events: none;
        background: $input-box-bg-disable-color;
        border: 1px solid $input-box-border-disable-color;
        color: $input-box-text-disable-color;
    }

    .disable-bg-color {
        background: $input-box-bg-disable-color;
        border: 1px solid $input-box-border-disable-color !important;
        color: $input-box-text-disable-color;
    }

    .bottom-src-bottom-margin {
        margin-bottom: 32px;
    }

    .info-message {
        width: 450px;
        margin-top: 0px !important;
    }

    .bottom-src-bottom-margin{
        padding-bottom:32px;
    }

    .focused{
        border:1px solid $primary-color;
    }
}

#x-frame-options-settings-body {
    padding-bottom: 5px;

    .info-message {
        padding: 3px 0px 32px 24px;
        width: 584px !important;
        margin-top: 0px !important;
        line-height: 18px;
        color: $checkbox-description-color;
        letter-spacing: 0.26px;
    }

    .field-container-dashboard label {
        margin-top: 2px;
        font-weight: 400;
        letter-spacing: 0.3px;
        line-height: 18px;
    }

    .x-frame-notification {
        width: 584px;
        border-radius: 4px;
        display: none;
        margin-top: 0px;
        margin-bottom: 32px;
        padding: 12px;
        letter-spacing: 0.26px;
        background-color: $warning-bg-normal-color;
        border: 1px solid $warning-border-normal-color;
    }
}

#cookie-options-settings-body {

    .samesite {
        cursor: default !important;
        font-weight: bold !important;
        margin-bottom: 12px !important;
    }

    #lax, #strict {
        padding-right: 16px;
    }

    #none {
        margin-bottom: 32px;
    }

    .cookie-notification {
        width: 584px;
        border-radius: 4px;
        display: none;
        margin-top: 0px;
        margin-bottom: 32px;
        padding: 12px;
        letter-spacing: 0.26px;
        background-color: $warning-bg-normal-color;
        border: 1px solid $warning-border-normal-color;
    }
}

#network-settings-settings-body {
    #rules-grid {
        margin-top: 10px;

        .su-edit{
            color: var(--primary-black) !important;
        }
        .su-delete{
            color: var(--primary-black) !important;
        }
        .tenant-action{
            cursor: pointer;
        }
    }
    .enable-config {
        font-weight: 400;
        font-size: 14px !important;
        line-height: 18px;
        letter-spacing: .26px;
        padding-right: 20px !important;
    }
    .whitelisting-info {
        display: flex;
        align-items: center;
        border-top: 2px solid var(--nav-menu-separtor-icon-color);
        padding-top: 20px;
        justify-content: space-between;

        #create-rule button {
            width: 103px;
        }
        .dropdown-toggle {
            &::after {
                visibility: hidden;
            }
        }
    }

    .ipaddress-info {
        border-radius: 4px;
        line-height: 18px;
        letter-spacing: .26px;
        font-size: 12px;
        padding: 12px 5px 12px 6px;
        border: 1px solid var(--warning-border-normal-color);;
        background: var(--warning-bg-normal-color);
    }
    .info-message {
        width: auto !important;
        max-width: 810px !important;
        padding-bottom: 20px;
    }
}
#samesite-dialog {
    .e-footer-content .e-control.e-btn {
        margin-right: 160px;
    }
}

#dialog-container {
    border: none !important;
    box-shadow: none !important;
}

.form-padding {
    padding: 5px 0 10px 0 !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
}

.modal-footer {
    height: 50px !important;
    padding: 8px !important;
}
.e-dialog .modal-body .app-textbox-label {
    margin-top: 8px;
    padding-right: 25px;
}
.e-dialog .modal-body .ruleadd-validation-messages {
    color: var(--red);
    display: block;
    font-size: 10px;
    margin-bottom: -16px;
    padding-top: 5px !important;
}
.col-4{
    padding-left: 0 !important;
}
.modal-body {
    padding: 0 15px 15px 15px !important;
}
.col-8 {
    width: 100% !important;
}
.e-dlg-header{
    padding: 10px 15px !important;
    
}
#rules-add-dialog{
    width: 400px !important;
    
    .e-dlg-content {
        padding: 0 !important;
        overflow: visible;
    }
}
#rules-add-dialog_title{
    width:200px !important;
}

input#rulename {
    width: 370px;
}
input#ipaddress {
    width: 370px;
}
