@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }
#security-settings-container .sub-section div.password-option:last-child {
  margin: 0 0 24px 0; }
#security-settings-container .sub-section .password-option {
  margin-bottom: 11px; }
#security-settings-container .sub-section .password-length {
  margin-right: 12px; }
#security-settings-container .sub-section .info-message {
  width: auto !important;
  padding: 3px 0 0 44px;
  margin: 0px !important; }
#security-settings-container .sub-section #error-min-len {
  color: var(--red) !important;
  padding-left: 110px; }
#security-settings-container .sub-section .min-len-validation-messages {
  color: var(--red);
  display: block;
  font-size: 12px;
  margin-bottom: -1px;
  padding-left: 110px; }
#security-settings-container #security-settings-tab-nav {
  background: var(--background); }

#csp-settings-form .has-error {
  border-color: var(--input-box-border-alert-color);
  color: var(--input-box-text-normal-color);
  background: var(--input-box-bg-normal-color); }
#csp-settings-form .enable-csp .info-message {
  padding-left: 24px; }
#csp-settings-form .info-label label {
  margin-bottom: 4px !important; }
#csp-settings-form .src-names-list .info-label {
  padding-top: 10px; }
#csp-settings-form .validation-errors {
  color: var(--red);
  font-size: 12px; }
#csp-settings-form .src-input-class {
  border: 1px solid var(--input-box-border-normal-color);
  color: var(--input-box-text-normal-color);
  background: var(--input-box-bg-normal-color);
  border-radius: 4px;
  cursor: text;
  display: block;
  height: 75px;
  max-height: 150px;
  overflow-y: auto;
  width: 450px;
  margin-bottom: 4px;
  margin-top: 4px; }
  #csp-settings-form .src-input-class .src-input-chip {
    display: inline;
    padding: 0; }
    #csp-settings-form .src-input-class .src-input-chip .e-chip {
      border: none; }
  #csp-settings-form .src-input-class input {
    border: none !important;
    box-shadow: none !important;
    display: inline-block;
    min-width: 30%;
    max-width: 100%;
    padding-left: 4px;
    transition: none; }
#csp-settings-form .src-disabled {
  pointer-events: none;
  background: var(--input-box-bg-disable-color);
  border: 1px solid var(--input-box-border-disable-color);
  color: var(--input-box-text-disable-color); }
#csp-settings-form .disable-bg-color {
  background: var(--input-box-bg-disable-color);
  border: 1px solid var(--input-box-border-disable-color) !important;
  color: var(--input-box-text-disable-color); }
#csp-settings-form .bottom-src-bottom-margin {
  margin-bottom: 32px; }
#csp-settings-form .info-message {
  width: 450px;
  margin-top: 0px !important; }
#csp-settings-form .bottom-src-bottom-margin {
  padding-bottom: 32px; }
#csp-settings-form .focused {
  border: 1px solid var(--primary-branding-bg-color); }

#x-frame-options-settings-body {
  padding-bottom: 5px; }
  #x-frame-options-settings-body .info-message {
    padding: 3px 0px 32px 24px;
    width: 584px !important;
    margin-top: 0px !important;
    line-height: 18px;
    color: var(--checkbox-description-color);
    letter-spacing: 0.26px; }
  #x-frame-options-settings-body .field-container-dashboard label {
    margin-top: 2px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 18px; }
  #x-frame-options-settings-body .bg-warning {
    background-color: var(--warning-bg-normal-color);
    border: 1px solid var(--warning-border-normal-color); }
  #x-frame-options-settings-body .x-frame-notification {
    width: 584px;
    border-radius: 4px;
    display: none;
    margin-top: 0px;
    margin-bottom: 32px;
    padding: 12px;
    letter-spacing: 0.26px; }

#cookie-options-settings-body .samesite {
  cursor: default !important;
  font-weight: bold !important;
  margin-bottom: 12px !important; }
#cookie-options-settings-body #lax, #cookie-options-settings-body #strict {
  padding-right: 16px; }
#cookie-options-settings-body #none {
  margin-bottom: 32px; }
#cookie-options-settings-body .bg-warning {
  background-color: var(--warning-bg-normal-color);
  border: 1px solid var(--warning-border-normal-color); }
#cookie-options-settings-body .cookie-notification {
  width: 584px;
  border-radius: 4px;
  display: none;
  margin-top: 0px;
  margin-bottom: 32px;
  padding: 12px;
  letter-spacing: 0.26px; }

#samesite-dialog .e-footer-content .e-control.e-btn {
  margin-right: 160px; }
