@import "../mixins.scss";

#look-and-feel-container {
    .validation-error-image {
        color: $validation-text-color;
    }

    .admin-page-body {
        .site-sub-section {
            border-bottom: 1px solid $hr-separator-normal-color;
            margin-bottom: 28px;

            div.form-group:last-child {
                margin: 0 0 32px 0;
            }

            .form-group {
                margin: 0 0 16px 0;
            }
        }

        .branding-sub-section {
            border: none;

            .branding-logo {
                border: 1px solid $logo-section-border-color !important;
                border-radius: 4px;
                height: 100px;
                margin-right: 0;
                width: 280px;
            }

            .login-screen-logo {
                margin: 0 0 32px 0 !important;
            }

            .header-logo {
                margin: 0 0 32px 32px !important;
            }

            .email-logo {
                margin: 0 0 0 32px !important;
            }

            .logo-section {
                border: 1px solid $logo-section-border-color !important;
                border-radius: 4px;
                height: 80px;
                margin: 10px 2px 10px 8px;
                padding: 5px;
                width: 80px;

                img {
                    bottom: 0;
                    margin: auto;
                    position: absolute;
                    top: 0;
                    width: 70px;
                }
            }

            .logo-description {
                padding: 12px 12px 9px 12px;

                p {
                    font-size: 12px;
                    color: $logo-section-description-color !important;
                }

                .upload-link {
                    .settings-upload-button {
                        width: auto !important;
                        height: auto !important;

                        .e-selectpart {
                            background: none;

                            .e-inputbtn {
                                cursor: pointer;
                                font-family: var(--font-family);
                                font-size: 12px;
                                font-weight: bold;
                                padding-left: 0;
                                width: auto;
                                text-transform: none;
                                box-shadow: none;
                            }

                            .e-uploadinput {
                                cursor: pointer;
                                font-size: 0;
                                opacity: 0;
                            }
                        }
                    }

                    .e-inputbtn {
                        color: $primary-color !important;
                    }

                    .powerdby-logo-link-disabled {
                        color: $logo-disabled-color !important;
                    }
                }

                .powerdby-logo-disabled {
                    color: $logo-disabled-color !important;
                }
            }

            .powerdby-section {
                padding: 24px 0px;

                .margin {
                    margin: 12px 0 0 0 !important;
                }
            }

            .copyright-info {
                margin: 12px 0 8px 0;
            }
        }

        @include ej2NonFloat();
    }

    .input-group-addon {
        padding: 0;
    }

    #ssl-selectpicker {
        float: left;

        .input-group-addon {
            border: 0;
            background-color: transparent;

            .e-input-group {
                width: 80px !important;
                height: 28px !important;

                input {
                    padding-top: 0px;
                }
            }
        }

        .bootstrap-select {
            .btn {
                font-size: $app-text-size;
            }
        }

        .selectpicker:not(ul) {
            border-radius: 4px 0px 0px 4px;
            border-right: 0;
            height: $btn-height-normal;
            padding-top: 5px;
        }

        ul.selectpicker {
            overflow: visible !important;
        }
    }

    .exist-domain-info {
        padding: 0px;
        margin-left: 2px;
        margin-top: 5%;

        input {
            margin-top: 10px;
            margin-right: 5px;
            cursor: pointer;
        }

        a {
            color: $primary-color;
        }
    }

    .dropdown-toggle {
        span {
            color: $menu-label-color;
        }
    }

    #help_text {
        padding-left: 0px;
        padding-top: 7px;

        #ssl-help-message {
            padding: 5px;
        }
    }

    .e-selectpart {
        border: 0;

        .e-inputbtn {
            background: $admin-page-bg;
            color: $primary-text-color;
            font-size: $app-text-size;
            font-weight: bolder;

            &:hover {
                background: $admin-container-bg;
            }
        }
    }

    .sub-section {
        .highlight-image {
            margin-left: -22px;
        }

        #upload-login-image-textbox, #upload-main-screen-image-textbox, #upload-favicon-image-textbox, #upload-emaillogo-image-textbox {
            cursor: default;
        }
    }

    .lang-ingo-tag {
        padding: 5px 0px 0px 0px;
        margin-top: 3px;

        .dropdown-menu {
            padding: 5px;
        }
    }

    .no-license-info {
        text-align: center;
        font-size: 16px;
    }
}

#active-directory-container {
    #synchronization-options {
        margin-right: 175px;
    }

    .port-number-info {
        font-size: 12px;
    }

    .schedule-synchronization {
        margin-left: 15px;
    }

    .test-connection {
        margin-right: 15px;
    }

    input::-ms-clear, input::-ms-reveal {
        display: none;
    }

    .waiting-icon {
        right: -25px;
        top: 7px;
        position: absolute;
    }
}

.bootstrap-select.btn-group {
    .no-results {
        margin: 0;
    }
}

@media screen and (min-width: 1041px) and (max-width: 1399px) {
    #ssl-help-message, #language-help-message {
        font-size: $app-text-size;
    }

    #ssl-selectpicker {
        .bootstrap-select {
            .btn {
                font-size: $app-text-size !important;
                height: $textbox-height !important;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .link-button, .critical-action-button {
        height: $btn-height-large;
        line-height: $btn-height-large;
    }

    #offline-license-update-dialog {
        #popup-container {
            .upload-content {
                #upload-section {
                    .upload-btn-wrapper {
                        #file-name {
                            height: $btn-height-large;
                            line-height: $btn-height-large;
                        }

                        img {
                            height: $btn-height-large;
                            line-height: $btn-height-large;
                        }
                    }
                }
            }
        }
    }
}
