@import "../mixins.scss";


$color-grey-200: #CCCCCC;

%server-startup-first-content {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.12px;
}

%server-startup-second-content {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: $menu-label-color;
}

%need-help-content-styles {
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.65px;
}

%link-header {
    font-size: 16px;
    color: $menu-label-color;
    letter-spacing: 0.75px;
    line-height: 30px;
}



#server-app-container {
    #base-footer-div {
        background-color: transparent !important;
    }
}

#look-and-feel-container, #mail-settings-container, #active-directory-container {
    .confirmatioMessage {
        display: none;
    }
}

#mail-settings-container {
    margin-bottom: 25px;
}

#look-and-feel-container {
    .sub-section-heading {
        font-size: $app-text-size + 2;
        font-weight: 700;
        margin: 0 0 20px 0;
        padding: 0;
    }

    #look-and-feel-form {
        color: $primary-text-color;

        .table-section {
            border-collapse: collapse;
            border: 1px solid $grey-200;
            margin-bottom: 5px;
            width: 605px;

            th {
                background-color: $table-header;
                border-bottom: 1px solid $grey-200;
            }

            td {
                border: none;
                width: 25%;
            }

            td:first-child {
                width: 30%;
            }
        }

        .active-subscription-table-section {
            border-collapse: collapse;
            border: 1px solid $grey-200;
            width: 605px;

            th {
                background-color: $table-header;
                border-bottom: 1px solid $grey-200;
            }

            td {
                border: none;
                padding: 10px;
            }

            tr td:first-child {
                background-color: $table-header;
                text-align: right;
                display: table-cell;
                vertical-align: middle;
                font-weight: 600;
                border-right: 1px solid $grey-200;
            }

            td:last-child {
                border-bottom: 1px solid $grey-200;
            }

            tr td span {
                display: block;
                padding-bottom: 4px;
            }

            #subscription-id-bi, #subscription-id-reports {
                float: left;
                margin: 10px 0 0 0;

                .subscription-link {
                    color: $link-text-color !important;

                    &:hover {
                        color: $blue-secondary !important;
                    }
                }
            }

            #subscription-copy-bi, #subscription-copy-reports {
                float: right;
                width: 16px;
                cursor: pointer;
                margin-top: 10px;
                margin-left: 25px;
            }

            .display-none {
                display: none !important;
            }
        }



        .renewal-body {
            .renewal-header {
                margin: 0;
            }

            #renewal-information {
                #online-renewal {
                    h3 {
                        padding: 20px 0 8px 0;
                        margin: 0 auto;
                        font-size: 14px;
                        font-weight: 700;
                    }

                    .update-license-btn-holder {
                        margin-top: -35px;

                        #update-license-key-notification-loader-bi, #update-license-key-notification-loader-reports {
                            padding: 0 40px;
                            height: 34px;
                            line-height: 34px;
                        }
                    }
                }

                .offline-renewal {
                    h3 {
                        padding: 20px 0 8px 0;
                        margin: 0 auto;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }

                button {
                    width: 100px;
                    margin-left: 10px;
                }
            }
        }
    }

    .validation-error-image {
        color: $validation-text-color;
    }

    .no-padding > label {
        font-weight: normal;
    }

    .input-group-addon {
        padding: 0;
    }

    .filename-text {
        background: $admin-page-bg;
    }

    #ssl-selectpicker {
        padding-right: 15px;
        padding-left: 15px;
        float: left;

        .input-group-addon {
            border: 0;
        }

        .bootstrap-select {
            border: 0;
            padding: 0;
            margin: 0;

            .btn {
                font-size: $app-large-text-size;
                height: $textbox-lg-height;
            }
        }

        .selectpicker:not(ul) {
            border-radius: 4px 0px 0px 4px;
            border-right: 0;
            height: $btn-height-normal;
            padding-top: 5px;
        }

        ul.selectpicker {
            overflow: visible !important;
        }
    }

    .exist-domain-info {
        margin-left: 17%;
        margin-top: 5px;
        input{
            margin-right: 5px;
            cursor: pointer;
        }
        a {
            color: $primary-color;
        }
    } 
    
    .bootstrap-select {
        .btn {
            font-size: $app-large-text-size;
            height: $textbox-lg-height;
        }
    }

    .dropdown-toggle {
        span {
            color: $menu-label-color;
        }
    }

    .info-container {
        background-color: $admin-container-bg;
        border: 1px solid $footer-bg-color;
        border-left: 6px solid $primary-text-color;
        display: inline-block;
        font-style: italic;
        font-size: $app-text-size;
        height: 30px;
        margin-bottom: 15px;
        padding: 7px;
    }

    #help_text {
        padding-left: 0px;
        padding-top: 7px;

        #ssl-help-message {
            padding: 5px;
        }
    }

    #txt_welcome_note {
        resize: none;
        height: auto;
    }

    .e-selectpart {
        border: 0;

        .e-inputbtn {
            background: $admin-page-bg;
            color: $primary-text-color;
            font-size: $app-text-size;
            font-weight: bolder;

            &:hover {
                background: $admin-container-bg;
            }
        }
    }

    .sub-section {
        .highlight-image {
            margin-left: -22px;
        }

        #upload-login-image-textbox, #upload-main-screen-image-textbox, #upload-favicon-image-textbox, #upload-emaillogo-image-textbox {
            cursor: default;
        }
    }

    #site-copyright {
        margin-left: -5px;
        width: 101.5%;
    }

    #image-container {
        border: 1px solid $admin-pages-border-color;
        border-radius: 4px;
        display: inline-block;

        td {
            padding: 15px;

            &.header-img, &.powered-img {
                padding: 25px 50px;
            }

            &.login-img {
                padding: 30px 50px;

                > span {
                    display: inline-block;
                }
            }

            .app-img-container {
                border-radius: 4px;
                display: inline-block;
                vertical-align: middle;

                &.header-icon {
                    padding: 10px;
                }

                &.favicon {
                    border-radius: 4px;
                    border: 1px solid $admin-pages-border-color;
                    padding: 18px;
                }

                #favicon_logo_img {
                    max-height: 16px;
                    max-width: 16px;
                }

                #mainscreen_logo_img {
                    max-height: 40px;
                    max-width: 40px;
                }

                #email_logo_img, #display-login-logo, #display-powered-logo {
                    max-height: 40px;
                    max-width: 200px;
                }
            }
        }
    }

    .lang-ingo-tag {
        padding: 5px 0px 0px 0px;
        margin-top: 3px;

        .dropdown-menu {
            padding: 5px;
        }
    }

    .top-padding {
        padding-top: 5px;
    }

    .admin-page-body {
        margin-bottom: 30px;
    }

    .tab-data {
        border-top: 0px;
    }

    .no-license-info {
        text-align: center;
        font-size: 16px;
    }

    #license-tab-nav {
        border-color: $admin-body-border-color;

        li:first-child {
            margin-left: 20px;
        }

        li a {
            color: $primary-text-color;
        }

        li.active {
            a {
                color: $primary-color;
            }
        }
    }
}

#active-directory-container {
    #synchronization-options {
        margin-right: 175px;
    }

    .admin-page-body {
        border-top: none;
    }

    #ad-tab-nav {
        border-color: $admin-body-border-color;

        li:first-child {
            margin-left: 20px;
        }

        li a {
            color: $primary-text-color;
        }

        li.active {
            a {
                color: $primary-color;
            }
        }
    }

    .port-number-info {
        font-size: 12px;
    }

    .schedule-synchronization {
        margin-left: 15px;
    }

    .test-connection {
        margin-right: 15px;
    }

    input::-ms-clear, input::-ms-reveal {
        display: none;
    }

    .waiting-icon {
        right: -25px;
        top: 7px;
        position: absolute;
    }
}

#mail-settings-container {

    .show-hide-password {
        font-size: 18px;
        top: 6px !important;
    }

    input::-ms-clear, input::-ms-reveal {
        display: none;
    }

    .tooltip-inner {
        word-break: break-all;
        white-space: pre;
        max-width: none;
    }

    .tooltip.top .tooltip-arrow {
        bottom: 1px;
    }
}

.placeholder {
    position: absolute;
    width: 240px;
    padding: 6px 12px;
    line-height: 1.4;
    color: $placeholder-color;
    text-align: left;
    top: 0px;
    z-index: 100;
}

.bootstrap-select.btn-group {
    .no-results {
        margin: 0;
    }
}

@media screen and (min-width: 1041px) and (max-width: 1399px) {
    #ssl-help-message, #language-help-message {
        font-size: $app-text-size;
    }

    #ssl-selectpicker {
        .bootstrap-select {
            .btn {
                font-size: $app-text-size !important;
                height: $textbox-height !important;
            }
        }
    }
}

.time {
    top: 0px;
    position: absolute;
    margin-left: 62px;
}

#offline-license-update-dialog {
    width: 424px;

    #popup-container {
        .upload-header {
            height: 44px;
            padding: 11.5px 0 11.5px 12px;
            background: $grey-40;
            border-radius: 4px 4px 0 0;

            .popup-title {
                font-size: 16px;
                color: $menu-label-color;
                letter-spacing: 0.3px;
                line-height: 21px;
                font-weight: 900;
            }

            .popup-close-div {
                padding-left: 54px;

                .popup-close {
                    font-size: 15px;
                    color: $icon-color;
                }
            }
        }

        .upload-content {
            padding-left: 16px;
            padding-right: 16px;

            #upload-section {
                .popover {
                    width: 200px !important;
                }

                #upload-lable {
                    padding-top: 25px;
                    font-size: 16px;
                    color: $menu-label-color;
                    letter-spacing: 0.3px;
                    line-height: 18px;
                    margin-bottom: 8px;
                    font-weight: 500;
                }

                #browse-info {
                    padding-left: 5px;
                }

                .upload-btn-wrapper {
                    position: relative;
                    overflow: hidden;
                    display: inline-block;

                    #file-name {
                        width: 375px;
                        background: $secondary-btn-bg;
                        border: 1px solid $secondary-btn-border;
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                        height: 28px;
                        line-height: 28px;
                        cursor: pointer;

                        &:focus {
                            border-color: $secondary-btn-border !important;
                        }
                    }

                    button {
                        margin: 0 0 0 10px;
                        width: 80px !important;
                        min-width: 80px !important;
                    }

                    img {
                        width: 43px;
                        height: 28px;
                        border: 1px solid $secondary-btn-border;
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                        margin-left: -1px;
                        cursor: pointer;
                    }

                    input[type="file"] {
                        -webkit-appearance: none;
                        text-align: left;
                    }

                    input[type="file"]::-webkit-file-upload-button {
                        -webkit-appearance: none;
                        float: right;
                        margin: 0 0 0 10px;
                        color: $primary-btn-bg;
                        border: 1px solid $dashboard-button-border-color;
                        border-radius: 4px;
                    }

                    .validation-error-message {
                        color: $validation-text-color;
                        font-size: 11px;
                        letter-spacing: 0.3px;
                        line-height: 16px;
                        padding: 3px 0 0 0;
                        width: 375px;
                    }
                }
            }

            #license-details {
                padding: 15px 0 0 0;

                .upload-group {
                    margin-bottom: 12px;
                }

                .license-detail-lable {
                    font-size: 14px;
                    color: $menu-label-color;
                    letter-spacing: 0.3px;
                    line-height: 23px;
                }

                #customer-email, #subscription-id-offline, #subscription-name, #plan-name, #expiry-date {
                    font-size: 14px;
                    color: $menu-label-color;
                    letter-spacing: 0.3px;
                    line-height: 23px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                #tenant-status {
                    border-radius: 14px;
                    width: 100px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    font-size: 14px;
                }
            }
        }

        .upload-footer {
            padding-top: 32px;
            padding-bottom: 24px;

            #confirm-license {
                float: right;
                width: 120px !important;

                &:disabled {
                    background: #F2F2F2;
                }
            }

            #cancel-license-update {
                float: right;
                margin-right: 15px;
                width: 80px !important;
                background: $secondary-btn-bg;
            }
        }
    }

    .display-none {
        display: none !important;
    }
}

.new-start-container {
    text-align: center;
    padding: 10px;

    .new-start-container-bg {
        span {
            display: block;

            &.first-content {
                @extend %server-startup-first-content;
                margin-top: 18px;

                span {
                    display: inline-block;
                    font-weight: bold;
                    color: $boldbi-brand;
                }
            }

            &.second-content {
                @extend %server-startup-second-content;
                letter-spacing: 0.84px;
                margin-top: 24px;
                font-size: 18px;
                line-height: 1.67;
            }
        }

        .help {
            @extend %need-help-content-styles;
            margin-top: 24px;
            color: $primary-color;
        }

        .btn-holder {
            margin-top: 40px;
            margin-bottom: 20px;

            #online-license-bi, #online-license-reports {
                margin-right: 15px;
                width: 222px;
            }
        }

        .link-header {
            @extend %link-header;

            .offline-license-acion {
                color: $primary-color;
                text-decoration: underline !important;
                cursor: pointer;
            }
        }

        .align-center {
            text-align: center;
        }
    }
}

.no-license-container {
    text-align: center;
    padding: 10px;

    .no-license-container-bg {
        img {
            height: 247px;
        }

        .no-license-description {
            padding: 40px 0 16px 0;
            margin: 0;
            font-size: 16px;
            color: $menu-label-color;
            letter-spacing: 0.75px;
            line-height: 30px;
        }

        .no-license-rediect {
            padding: 0;
            margin: 0;
            font-size: 16px;
            color: $menu-label-color;
            letter-spacing: 0.75px;
            line-height: 30px;
        }

        .no-license-signup {
            color: $primary-color;
            text-decoration: underline;
        }
    }
}

.e-control.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    height: 25px;
    width: 30px;
}

.e-control.e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
    font-size: 20px;
    height: 100%;
    width: 100%;
    color: $grey-800;
}

.e-control.e-dialog .e-dlg-header-content + .e-dlg-content {
    padding: 0;
}

.e-control.e-dialog .e-dlg-header {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.3px;
}

.e-control.e-dialog .e-dlg-header-content {
    padding: 12px 12px 6px 12px;
}

.change-subscription-dialog-content {
    text-align: center;
    padding: 16px;

    .help {
        @extend %need-help-content-styles;
        margin-top: 24px;
        color: $primary-color;
    }

    #online-license-bi, #online-license-reports {
        margin-right: 15px;
        width: 222px;
    }

    .online-change-subscription {
        padding: 0 16px 0 0;
    }

    .offline-change-subscription {
        padding: 0 0 0 16px;
    }

    .online-change-subscription-content, .offline-change-subscription-content {
        text-align: left;

        h3 {
            padding: 0 0 8px 0;
            margin: 0 auto;
            font-weight: 600;
            font-style: normal;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.35px;
        }

        p {
            padding: 0 0 20px 0;
            margin: 0 auto;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.35px;
        }
    }

    .seperator {
        height: 70%;
        width: 1px;
        border: 1px solid $dialog-seperator;
        position: absolute;
        left: 50%;
    }

    button {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        text-align: center !important;
        letter-spacing: 0.3px;
        color: $blue;
        border: 1px solid $blue;
        border-radius: 4px;
        height: 28px;
        background: #FFF;

        &:hover {
            background: $blue;
            color: $white;
        }
    }

    #online-license-bi, #offline-update-bi {
        width: 120px;
    }

    .help-container {
        padding: 15px 0 0 0;
    }
}

@media screen and (min-width: 1400px) {
    .primary-button, .secondary-button, .link-button, .critical-action-button {
        height: $btn-height-large;
        line-height: $btn-height-large;
    }

    #offline-license-update-dialog {
        #popup-container {
            .upload-content {
                #upload-section {
                    .upload-btn-wrapper {
                        #file-name {
                            height: $btn-height-large;
                            line-height: $btn-height-large;
                        }

                        img {
                            height: $btn-height-large;
                            line-height: $btn-height-large;
                        }
                    }
                }
            }
        }
    }
}

.trial {
    background-color: $trial-bg-color;
    color: $trial-color;
}

.trial-not-started {
    background-color: $trialnotstarted-bg-color;
    color: $trialnotstarted-color;
}

.active-status {
    background-color: $active-bg-color;
    color: $active-color;
}
