@import "../mixins.scss";

#user-settings-container {
    .email-settings-validation {
	    max-width: 574px;
        padding: 5px;
        margin-top: 20px;
        font-size: 12px;
    }

    .activation {
        cursor: default !important;
    }

    .app-textbox-label {
        cursor: pointer;
        line-height: 20px;

        .popover {
            width: 300px;
        }
    }

    .row {
        margin-bottom: 20px;
    }

    .notransition:before, .notransition:after {
        /*CSS animations*/
        animation: none !important;
        -moz-animation: none !important;
        -ms-animation: none !important;
        -o-animation: none !important;
        -webkit-animation: none !important;
    }
}

@media screen and (min-width: 1200px) {
    #email, #required {
        margin-left: -60px;
    }
}