@import "../mixins.scss";

#user-settings-container {

    #automatic, #not-required {
        padding-right: 16px;
    }

    .email-required-header {
        margin-bottom: 10px;
    }

    .email-settings-validation {
        margin-top: 24px;
        width: 584px;
        border-radius: 4px;
        line-height: 18px;
        letter-spacing: 0.26px;
        font-size: $app-text-size;
        padding: 12px;
        background-color: $warning-bg-normal-color;
        border: 1px solid $warning-border-normal-color;
    }

    .activation {
        cursor: default !important;
        font-weight: bold !important;
        margin-bottom:12px !important;
    }

    .is-email-required {
        margin-bottom: 2px !important;
        font-weight: bold !important;
    }

    .app-textbox-label {
        cursor: pointer;
        line-height: 20px;
    }

    .email-container {
        margin: 24px 0px 32px 0px;
    }

    .notransition:before, .notransition:after {
        /*CSS animations*/
        animation: none !important;
        -moz-animation: none !important;
        -ms-animation: none !important;
        -o-animation: none !important;
        -webkit-animation: none !important;
    }
}