@import "../mixins.scss";

#user-settings-container {

    #automatic, #not-required {
        padding-right: 16px;
    }

    .activation-mode {
        display: inline-block;

        .radio-btn-label {
            margin-bottom: 0px !important;
            font-size: $app-text-size;
            font-weight: normal;
            letter-spacing: 0.3px;
            line-height: 18px;
            padding-left: 26px !important;
        }
    }

    .email-settings-validation {
        margin-top: 24px;
        width: 584px;
        border-radius: 4px;
        line-height: 18px;
        letter-spacing: 0.26px;
        font-size: $app-text-size;
        padding: 12px;
        background-color: $embed-warning-bg-normal-color;
        border: 1px solid $embed-warning-border-normal-color;
    }

    .activation {
        cursor: default !important;
        font-weight: bold !important;
        margin-bottom:12px !important;
    }

    .is-email-required {
        margin-bottom: 2px !important;
        font-weight: bold !important;
    }

    .app-textbox-label {
        cursor: pointer;
        line-height: 20px;
    }

    .email-container {
        margin: 24px 0px 32px 0px;
    }

    .notransition:before, .notransition:after {
        /*CSS animations*/
        animation: none !important;
        -moz-animation: none !important;
        -ms-animation: none !important;
        -o-animation: none !important;
        -webkit-animation: none !important;
    }
}