@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }
#user-settings-container #automatic, #user-settings-container #not-required {
  padding-right: 16px; }
#user-settings-container .email-required-header {
  margin-bottom: 10px; }
#user-settings-container .email-settings-validation {
  margin-top: 24px;
  width: 584px;
  border-radius: 4px;
  line-height: 18px;
  letter-spacing: 0.26px;
  font-size: 12px;
  padding: 12px;
  background-color: var(--warning-bg-normal-color);
  border: 1px solid var(--warning-border-normal-color); }
#user-settings-container .activation {
  cursor: default !important;
  font-weight: bold !important;
  margin-bottom: 12px !important; }
#user-settings-container .is-email-required {
  margin-bottom: 2px !important;
  font-weight: bold !important; }
#user-settings-container .app-textbox-label {
  cursor: pointer;
  line-height: 20px; }
#user-settings-container .email-container {
  margin: 24px 0px 0px 0px; }
#user-settings-container .anonymous-section {
  margin: 24px 0px 32px 0px; }
  #user-settings-container .anonymous-section .anonymous-label {
    font-weight: 700 !important; }
  #user-settings-container .anonymous-section .section-info-message {
    margin-top: 5px; }
#user-settings-container .notransition:before, #user-settings-container .notransition:after {
  /*CSS animations*/
  animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -o-animation: none !important;
  -webkit-animation: none !important; }
