@import (reference) "../Mixins.less";

#notification-settings-container {
    .notification-header {
        .header-text {
            font-size: @app-text-size;
        }
    }

    #notification-settings-body {
        .bottom-width {
            margin-bottom: 10px;
        }
    }

    .dropdown-toggle {
        cursor: pointer;
    }

    .dropdown-menu {
        font-size: @app-large-text-size;
        width: 200px;
        padding: 5px;
    }

    .tool-tip {
        float: none;
        padding: 0px;
        display: inline;
    }
}

@media screen and (min-width: 1041px) and (max-width: 1399px) {
    .dropdown-menu {
        font-size: @app-text-size !important;
    }
}