/*@mixin app-header($height: $header-height) {
    background-color: $header-bg;
    color: $header-text-color;
    height: $height;
    position: fixed;
    width: 100%;
    z-index: 1050;

    .header-bar {
        margin: 0;
        padding: 0;

        .application-navigation {
            font-size: 25px;
            color: $primary-btn-text-color;
            vertical-align: middle;
            cursor: pointer;
        }

        .dropdown-menu {
            margin-top: -6.5px;
            padding: 0;
            min-width: 100px !important;

            .app-loading-text {
                color: $primary-text-color;
                padding-left: 5px;
            }
        }

        .main-screen-logo {
            float: left;
            padding: 5px;

            #application-logo {
                height: $height - 20;
                margin: 4px 0 0 4px;
            }
        }

        .org-name-wrapper {
            display: inline-block;
            padding-left: 10px;

            .header-org-name {
                display: table-cell;
                height: $height;
                margin: 0;
                vertical-align: middle;*/
/*color: $primary-btn-text-color !important;*/
            /*}
        }

        #upload-item-section {
            #btn-item-upload {
                background: $primary-color;
                border: none;
                border-radius: 0;*/
/*color: $primary-btn-text-color;*/
                /*height: $height;
                width: 120px;
            }
        }

        .user-account {
            float: right;

            .profile-picture {
                img {
                    cursor: pointer;
                    height: $header-height;
                    width: $header-height;
                }
            }

            #profile-info-section {
                left: auto;
                right: 0;
                padding: 0;
                white-space: nowrap;

                .profile-info {
                    border-bottom: 1px solid $profile-border-color;
                    padding: 0;

                    .profile-picture-area {
                        padding: 10px;

                        img {
                            border-radius: 50%;
                            height: 48px;
                            width: 48px;
                        }
                    }

                    .profile-info-area {
                        overflow: auto;
                        padding-right: 10px;

                        ul {
                            list-style: none;

                            #profile-name {
                                color: $primary-text-color;
                                font-size: $app-large-text-size;
                                font-weight: 500;
                                height: auto;
                                margin-top: 10px;
                            }

                            #profile-email {
                                font-size: $app-text-size;
                                font-weight: 400;
                            }
                        }
                    }
                }

                .profile-buttons {
                    a {
                        color: $profile-btn-text-color;
                        padding: 10px 0;
                        text-align: center;

                        &:first-child {
                            border-right: 1px solid $profile-border-color;
                        }
                    }
                }
            }
        }
    }
}*/
/*@mixin dialog($dialog-font-size, $dialog-validation-size, $dialog-text-box) {
    .form-control, .btn {
        border-radius: 0;
    }

    .dialog-header {
        font-size: $dialog-font-size + 2;
        padding: 10px 15px;

        .PopupTitle {
            vertical-align: top;
        }

        .report-name {
            font-size: $dialog-validation-size;
        }

        .PopupClose {
            float: right;
            font-size: $dialog-validation-size;

            &:hover {
                color: $primary-color;
                text-decoration: none;
            }
        }
    }

    input[type="text"], button[type="button"] {
        height: $dialog-text-box;
    }

    .fileUpload {
        height: $dialog-text-box;
        padding: 0 18px;
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .padding20 {
        padding: 20px;
    }

    .padding-bottom20 {
        padding-bottom: 20px;
    }

    .no-bottom-padding {
        padding-bottom: 0 !important;
    }

    .no-top-padding {
        padding-top: 0 !important;
    }

    .no-left-padding {
        padding-left: 0 !important;
    }

    .no-right-padding {
        padding-right: 0 !important;
    }

    .rightAlign {
        text-align: right;
    }

    .bottom-margin30 {
        margin-bottom: 30px;
    }

    .padding10 {
        padding: 10px;
    }

    .bootstrap-select {
        width: 100% !important;
    }

    .bottom-margin35 {
        margin-bottom: 35px;
    }

    .dialog-body {
        font-size: $dialog-font-size;
        padding: 10px 15px;

        .bootstrap-select.btn-group .no-results {
            padding: 6px;
            margin: 0;
        }

        .validation-error {
            color: $validation-text-color;
            font-size: $validation-text-size;
            float: left;
            margin-top: -24px;
        }

        .filter-option {
            margin-top: -2px;
        }

        .text-label {
            margin: 5px 0 5px;
        }

        #filename, #name {
            cursor: pointer;
        }

        .permission-denied {
            padding: 10px;
            text-align: center;
        }

        .highlight-name {
            font-style: italic;
            color: $primary-color;
        }

        .mandatory {
            padding-left: 2px;
        }

        .text, .note {
            font-size: $dialog-font-size;
        }

        .bootstrap-select {
            padding: 0;
        }

        .help-text {
            font-size: $dialog-validation-size;
        }

        .help-text-mandatory {
            padding-right: 2px;
        }

        .padding-right-15 {
            padding-right: 15px;
        }
    }

    .dialog-footer {
        padding: 10px;
        background: #e5e5e5 none repeat scroll 0 0;
        border-top: 1px solid #bbbbbb;
        bottom: 0;
        padding: 10px 15px;
        position: fixed;
        right: 0;
        width: 100%;

        .centerAlign {
            width: 100%;
            text-align: center;

            .PopupClose, .ItemPermissionPopupClose {
                float: none;
            }
        }

        .primary-button {
            margin-right: 10px;
        }
    }
}*/
/*@media (min-width:1040px) and (max-width: 1200px) {
    .app-header {
        #application-list {
            text-align: center !important;
        }
    }
}*/
.e-dlg-container .e-dlg-header-content {
  height: 44px !important;
  padding: 0; }
  .e-dlg-container .e-dlg-header-content .e-btn .e-btn-icon {
    font-size: 8px;
    margin: 0 10px 15px 200px; }
  .e-dlg-container .e-dlg-header-content .dlg-title, .e-dlg-container .e-dlg-header-content .modal-title {
    margin: 11px 312px 12px 12px;
    line-height: 21px;
    width: 148px;
    height: 20.76px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.3px; }
  .e-dlg-container .e-dlg-header-content .su {
    position: absolute;
    margin: 15px 12px 13px 12px; }
  .e-dlg-container .e-dlg-header-content .modal-title {
    position: absolute;
    margin: 11px 288px 12px 35px !important; }
.e-dlg-container .e-footer-content {
  height: 43px;
  width: 472px;
  padding: 0px !important; }
  .e-dlg-container .e-footer-content .e-btn, .e-dlg-container .e-footer-content .secondary-button {
    margin: 8px 0 7px 0;
    font-size: 13px;
    line-height: 20px;
    width: 80px;
    height: 28px; }
  .e-dlg-container .e-footer-content .e-btn.e-primary, .e-dlg-container .e-footer-content .critical-action-button {
    margin: 8px 16px 7px 12px;
    font-size: 13px;
    line-height: 20px;
    width: 80px;
    height: 28px; }
  .e-dlg-container .e-footer-content .secondary-button {
    margin: 8px 16px 7px 0 !important; }
  .e-dlg-container .e-footer-content .critical-action-button {
    background-color: var(--red);
    border: 1px solid var(--red); }
