.e-custom .e-dropdownbase .e-list-item {
  background: var(--drop-down-menu-bg-normal-color);
  color: var(--drop-down-menu-text-normal-color); }
  .e-custom .e-dropdownbase .e-list-item.e-hover {
    color: var(--drop-down-menu-text-hover-color);
    background: var(--drop-down-menu-bg-hover-color); }
  .e-custom .e-dropdownbase .e-list-item.e-active, .e-custom .e-dropdownbase .e-list-item.e-active.e-hover {
    color: var(--drop-down-menu-text-active-color);
    background: var(--drop-down-menu-bg-active-color); }

.e-ddl .e-input-group-icon, .e-ddl .e-input-group-icon:hover {
  color: var(--drop-down-menu-btn-text-normal-color) !important; }

.e-outline.e-popup.e-custom {
  border: 1px solid var(--drop-down-menu-border-normal-color); }
