@import "../default/default.scss";

.e-custom .e-dropdownbase .e-list-item {
    background: $drop-down-menu-bg-normal-color;
    color: $drop-down-menu-text-normal-color;

    &.e-hover {
        color: $drop-down-menu-text-hover-color;
        background: $drop-down-menu-bg-hover-color;
    }

    &.e-active, &.e-active.e-hover {
        color: $drop-down-menu-text-active-color;
        background: $drop-down-menu-bg-active-color;
    }
}

.e-ddl {
    .e-input-group-icon, .e-input-group-icon:hover {
        color: $drop-down-menu-btn-text-normal-color !important;
    }
}
.e-outline.e-popup.e-custom {
    border: 1px solid $drop-down-menu-border-normal-color;
}