@import "../default/default.scss";

.e-upload {
    border: 1px dashed $logo-section-border-color;
    box-sizing: border-box;
    border-radius: 4px;
    height: 100px;
    width: 200px;

    .e-btn, .e-css.e-btn {
        background: $secondary-button-bg-normal-color;
        border: 1px solid $secondary-button-border-normal-color;
        color: $secondary-button-text-normal-color;
        box-shadow: none !important;
        font-weight: 600;
        font-size: 13px;
        height: 28px;
        letter-spacing: 0.3px;
        width: 90px;
        position: absolute;
        left: 55px;
        top: 49px;
        text-transform: none;

        &:hover {
            background: $secondary-button-bg-hover-color;
            border: 1px solid $secondary-button-border-normal-color;
            color: $secondary-button-text-hover-color;
            outline: 0px;
        }
    }

    .e-file-drop {
        color: $dialog-content-text-normal-color !important;
        font-weight: 600;
        font-size: 12px !important;
        font-style: normal;
        line-height: 14px;
        letter-spacing: 0.3px;
        left: 38px;
        position: relative;
        margin: 23px 62px 12px;
        width: 76px;
        height: 14px;
    }
}
