@import "../../core/_variables.scss";
@import "../../components/_buttons.scss";
@import "../../themes/_light_cloud.scss";
@import "../../core/_typography.scss";

//unlock feature dialog - target element height
.unlock-enterprise-features {
    min-height: 450px !important;
}

.blur-content {
    filter: blur(5px);
}

%font {
    font-style: normal;
    font-stretch: normal;
}

#unlock-enterprise-features-container {
    .e-dlg-content {
        padding: 0 !important;

        #shield-container {
            background-color: $grey-100;
            text-align: center;
            height: 420px;
            width: 400px;

            #unlock-shield {
                width: 96px;
                height: 106px;
                margin: 50px 0 17px 0;
            }

            h1 {
                font-size: 20px;
                font-weight: bold;
                font-family: $primary-font;
                line-height: 1.2;
                letter-spacing: 0.6px;
                margin: 0;
                padding: 0 52px 0 55px;
                color: $primary;
                @extend %font;
            }

            p {
                font-size: 13px;
                font-family: Heebo;
                font-weight: normal;
                line-height: 1.38;
                letter-spacing: 0.3px;
                @extend %font;
            }

            .self-hosted-feature {
                padding: 0 20px;
            }

            #feature-paragraph-content {
                margin-bottom: 23px;
                margin-top: 13px;
            }

            button {
                width: 216px;
                height: 32px;
                border-radius: 4px;
                border: solid 1px $primary-btn-border-color;
                margin-bottom: 50px;
                color: $white;
            }

            #feature-list {
                ul {
                    display: inline-block;
                    padding: 0;
                }
            }

            .license-contact-us {
                padding: 0 20px;
            }

            #upgrade-license-contact-us {
                display: block;
                margin-top: 13px;

                a {
                    cursor: pointer;
                    color: $primary;

                    &:hover {
                        color: $blue-secondary;
                    }
                }
            }

            .shield-container-divider {
                margin-top: 24px;
                margin-bottom: 24px;
            }

            #contact-sales-cookie-content, #contact-sales-success {
                color: $green;
                padding: 0 20px;
            }
        }
    }
}
