.sf-button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  min-width: 90px;
  outline: none;
  text-align: center;
  padding: 0 15px; }
  .sf-button:disabled {
    cursor: default;
    background-color: #cccccc; }

.sf-primary-button {
  background: var(--colorPrimary); }

.sf-secondary-button {
  background: #fff; }

.sf-danger-button {
  background: var(--danger); }

.sf-rounded-button {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.unlock-enterprise-features {
  min-height: 450px !important; }

.blur-content {
  filter: blur(5px); }

#unlock-enterprise-features-container .e-dlg-content #shield-container h1, #unlock-enterprise-features-container .e-dlg-content #shield-container p {
  font-style: normal;
  font-stretch: normal; }

#unlock-enterprise-features-container .e-dlg-content {
  padding: 0 !important; }
  #unlock-enterprise-features-container .e-dlg-content #shield-container {
    background-color: #f9f9f9;
    text-align: center;
    height: 420px;
    width: 400px; }
    #unlock-enterprise-features-container .e-dlg-content #shield-container #unlock-shield {
      width: 96px;
      height: 106px;
      margin: 50px 0 17px 0; }
    #unlock-enterprise-features-container .e-dlg-content #shield-container h1 {
      font-size: 20px;
      font-weight: bold;
      font-family: var(--font-family);
      line-height: 1.2;
      letter-spacing: 0.6px;
      margin: 0;
      padding: 0 52px 0 55px;
      color: #0565ff; }
    #unlock-enterprise-features-container .e-dlg-content #shield-container p {
      font-size: 13px;
      font-family: Heebo;
      font-weight: normal;
      line-height: 1.38;
      letter-spacing: 0.3px; }
    #unlock-enterprise-features-container .e-dlg-content #shield-container .self-hosted-feature {
      padding: 0 20px; }
    #unlock-enterprise-features-container .e-dlg-content #shield-container #feature-paragraph-content {
      margin-bottom: 23px;
      margin-top: 13px; }
    #unlock-enterprise-features-container .e-dlg-content #shield-container button {
      width: 216px;
      height: 32px;
      border-radius: 4px;
      border: solid 1px #0450cc;
      margin-bottom: 50px;
      color: #fff; }
    #unlock-enterprise-features-container .e-dlg-content #shield-container #feature-list ul {
      display: inline-block;
      padding: 0; }
    #unlock-enterprise-features-container .e-dlg-content #shield-container .license-contact-us {
      padding: 0 20px; }
    #unlock-enterprise-features-container .e-dlg-content #shield-container #upgrade-license-contact-us {
      display: block;
      margin-top: 13px; }
      #unlock-enterprise-features-container .e-dlg-content #shield-container #upgrade-license-contact-us a {
        cursor: pointer;
        color: #0565ff; }
        #unlock-enterprise-features-container .e-dlg-content #shield-container #upgrade-license-contact-us a:hover {
          color: #007aff; }
    #unlock-enterprise-features-container .e-dlg-content #shield-container .shield-container-divider {
      margin-top: 24px;
      margin-bottom: 24px; }
    #unlock-enterprise-features-container .e-dlg-content #shield-container #contact-sales-cookie-content, #unlock-enterprise-features-container .e-dlg-content #shield-container #contact-sales-success {
      color: #4dd964;
      padding: 0 20px; }
