@{
    var dashboardServerResourceUrl = _globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}

<environment include="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/custom-ui.css" />
</environment>
<environment exclude="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/custom-ui.min.css" />
</environment>
<div id="dashboard-rendering" class="col-12" style="display:none">
    <iframe id="dashboard-rendering-iframe" style="border:none"></iframe>
</div>
 <script nonce="@Context.Items["ScriptNonce"]" type="text/javascript">
    var headerHeight = $(".dashboard-header-container").outerHeight();
    $("#dashboard-rendering-iframe").css("height", "calc(100% - " + headerHeight + "px)");
</script>