@{
    var globalAppSettings = new TenantHandler().GetTenantConfig();
    ViewBag.Title = "[[[Comment Not Found]]] - " + globalAppSettings.SystemSettings.OrganizationName;
}

@section scripts{
    @Scripts.Render("~/bundles/scripts/bootstrapjs")
}

@section MainSection{
    <div>
        <div class="col-md-12">
            <div class="col-xs-12 text-center" style="color: #ff0000; margin-top: 60px ; font-size: 30px">[[[The mentioned comment could not be opened as the dashboard or widget has been removed.]]]</div>
        </div>
    </div>
}