@import "Mixins.scss";

body * {
    font-family: RobotoRegular;
}

.sample-item-popup {
    @include modal($app-text-size, $textbox-height);
}

#sample-item-container {
    @include modal($app-large-text-size,$textbox-lg-height);

    .modal {
        display: inline-block !important;
        position: absolute;

        .modal-dialog {
            width: 100%;
            margin: 0px;

            .modal-content {
                .modal-header {
                    .link-item-name {
                        font-size: 11px;
                        padding-top: 2px !important;
                    }
                }

                .modal-body {
                    height: 400px;

                    .assigned-permission {
                        h4 {
                            font-size: $app-large-text-size;
                        }
                    }

                    .bs-deselect-all-custom, .bs-select-all-custom {
                        font-size: $app-large-text-size;
                    }

                    .header-menu {
                        .header-tab {
                            font-size: $app-large-text-size;
                        }
                    }

                    .dropdown-menu {
                        li {
                            a {
                                .text, .check-mark {
                                    font-size: $app-large-text-size;
                                }

                                &:hover, &:focus, &:active {
                                    .text, .check-mark {
                                        font-size: $app-large-text-size;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .sample-item {
        .sample-category {
            padding: 0px;
            border: 1px solid #ddd;
            border-right: none;
            margin-top: 30px;
            height: 365px;

            h5 {
                border-bottom: 1px solid #ddd;
                padding-bottom: 10px;
                margin-bottom: 0px;
                padding-left: 13px;
                font-weight: bold;
                color: $sub-text-color;
            }

            .list-group {
                margin-bottom: 0px;
                overflow-y: scroll;
                height: 328px;
            }

            .highlight-list-item {
                background-color: $selected-color;
            }

            .list-group-item {
                border-radius: 0;
                border-right: 0;
                border-left: 0;
                font-size: 13px;
                cursor: pointer;
            }
        }

        #search-area {
            margin-bottom: 0px;
            margin-right: 15px;
            position: absolute;
            right: 0;
            top: 0;
        }

        .sample-dashboard {
            overflow-y: scroll;
            height: 365px;
            margin-top: 30px;
            padding: 7px;
            border: 1px solid #ddd;
        }

        .dashboard-empty-message-div {
            padding-top: 90px;

            .dashboard-empty-message {
                font-size: 14px;
                font-style: normal;
                font-stretch: normal;
                line-height: 24px;
                letter-spacing: 0.4px;
                color: $dashboard-primary-text-color;
                display: block;
                padding: 24px 0;
                text-align: center;
            }

            .empty-dashboard-image-div {
                margin: 0 auto;
                text-align: center;
                }
            }

        .sample-separator {
            padding: 0px;
            margin: 7px 0px 7px 0px;
        }

        .sample-image {
            padding: 0px 5px;

            img {
                width: 150px;
                height: 100px;
            }
        }

        .search-found {
            padding-top: 5px;
            padding-right: 0px;
            padding-bottom: 20px;
            padding-left: 7px; 
        }

        .sample-add {
            padding-top: 17px;
        }

        .sample-content {
            height: 105px;

            .sample-name {
                color: #333230;
                font-size: 13px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-bottom: 5px;
            }

            .sample-description {
                color: #999590;
                font-size: 11px;
                display: -webkit-box;
                height: 48px;
                margin: 0 auto;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .sample-add-button {
                float: right;
                margin-bottom: 5px;
            }
        }
    }
}