body * {
  font-family: RobotoRegular; }

.sample-item-popup .modal-content {
  border-radius: 0;
  border: 0;
  padding: 0; }
  .sample-item-popup .modal-content .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .sample-item-popup .modal-content .modal-header {
    border: none;
    height: 50px;
    padding: 10px !important; }
    .sample-item-popup .modal-content .modal-header .modal-title {
      font-size: 14px;
      font-weight: 500; }
    .sample-item-popup .modal-content .modal-header .header-icon {
      padding: 3px 3px 3px 0;
      width: 20px; }
    .sample-item-popup .modal-content .modal-header .header-content {
      font-size: 10px;
      font-weight: 400; }
    .sample-item-popup .modal-content .modal-header .popup-close {
      color: #4d4d4d;
      font-size: 15px; }
      .sample-item-popup .modal-content .modal-header .popup-close:hover {
        color: #1a1a1a;
        text-decoration: none; }
  .sample-item-popup .modal-content .modal-body {
    font-size: 12px;
    padding: 10px;
    overflow-y: auto; }
    .sample-item-popup .modal-content .modal-body * {
      outline: none !important; }
    .sample-item-popup .modal-content .modal-body #file-name {
      cursor: pointer; }
    .sample-item-popup .modal-content .modal-body .highlight-name {
      font-style: italic;
      color: #0565ff; }
    .sample-item-popup .modal-content .modal-body .selectpicker, .sample-item-popup .modal-content .modal-body .form-control {
      font-size: 12px; }
    .sample-item-popup .modal-content .modal-body .btn-default {
      height: 28px; }
      .sample-item-popup .modal-content .modal-body .btn-default .filter-option {
        margin-top: -1px; }
    .sample-item-popup .modal-content .modal-body .delete-msg {
      margin-top: 4px; }
    .sample-item-popup .modal-content .modal-body .validation-message {
      color: #ff3b30;
      font-size: 10px;
      float: left; }
    .sample-item-popup .modal-content .modal-body .app-textbox-label {
      font-weight: 400;
      font-size: 12px; }
    .sample-item-popup .modal-content .modal-body .info-text {
      font-size: 10px; }
  .sample-item-popup .modal-content .modal-footer {
    background-color: #f9f9f9;
    height: 50px;
    padding: 10px; }
    .sample-item-popup .modal-content .modal-footer .message-area {
      height: 35px;
      margin-top: -8px; }
      .sample-item-popup .modal-content .modal-footer .message-area .error-message, .sample-item-popup .modal-content .modal-footer .message-area .success-message {
        padding: 0px;
        float: left;
        text-align: left;
        height: 44px;
        width: 100%;
        display: none;
        word-wrap: break-word; }
      .sample-item-popup .modal-content .modal-footer .message-area .success-message {
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis; }
    .sample-item-popup .modal-content .modal-footer .margin-right {
      margin-right: 10px; }
    .sample-item-popup .modal-content .modal-footer .margin-top {
      margin-top: 0.5px; }

#sample-item-container .modal-content {
  border-radius: 0;
  border: 0;
  padding: 0; }
  #sample-item-container .modal-content .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  #sample-item-container .modal-content .modal-header {
    border: none;
    height: 50px;
    padding: 10px !important; }
    #sample-item-container .modal-content .modal-header .modal-title {
      font-size: 16px;
      font-weight: 500; }
    #sample-item-container .modal-content .modal-header .header-icon {
      padding: 3px 3px 3px 0;
      width: 20px; }
    #sample-item-container .modal-content .modal-header .header-content {
      font-size: 12px;
      font-weight: 400; }
    #sample-item-container .modal-content .modal-header .popup-close {
      color: #4d4d4d;
      font-size: 15px; }
      #sample-item-container .modal-content .modal-header .popup-close:hover {
        color: #1a1a1a;
        text-decoration: none; }
  #sample-item-container .modal-content .modal-body {
    font-size: 14px;
    padding: 10px;
    overflow-y: auto; }
    #sample-item-container .modal-content .modal-body * {
      outline: none !important; }
    #sample-item-container .modal-content .modal-body #file-name {
      cursor: pointer; }
    #sample-item-container .modal-content .modal-body .highlight-name {
      font-style: italic;
      color: #0565ff; }
    #sample-item-container .modal-content .modal-body .selectpicker, #sample-item-container .modal-content .modal-body .form-control {
      font-size: 14px; }
    #sample-item-container .modal-content .modal-body .btn-default {
      height: 32px; }
      #sample-item-container .modal-content .modal-body .btn-default .filter-option {
        margin-top: -1px; }
    #sample-item-container .modal-content .modal-body .delete-msg {
      margin-top: 4px; }
    #sample-item-container .modal-content .modal-body .validation-message {
      color: #ff3b30;
      font-size: 12px;
      float: left; }
    #sample-item-container .modal-content .modal-body .app-textbox-label {
      font-weight: 400;
      font-size: 14px; }
    #sample-item-container .modal-content .modal-body .info-text {
      font-size: 12px; }
  #sample-item-container .modal-content .modal-footer {
    background-color: #f9f9f9;
    height: 50px;
    padding: 10px; }
    #sample-item-container .modal-content .modal-footer .message-area {
      height: 35px;
      margin-top: -8px; }
      #sample-item-container .modal-content .modal-footer .message-area .error-message, #sample-item-container .modal-content .modal-footer .message-area .success-message {
        padding: 0px;
        float: left;
        text-align: left;
        height: 44px;
        width: 100%;
        display: none;
        word-wrap: break-word; }
      #sample-item-container .modal-content .modal-footer .message-area .success-message {
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis; }
    #sample-item-container .modal-content .modal-footer .margin-right {
      margin-right: 10px; }
    #sample-item-container .modal-content .modal-footer .margin-top {
      margin-top: 0.5px; }

#sample-item-container .modal {
  display: inline-block !important;
  position: absolute; }
  #sample-item-container .modal .modal-dialog {
    width: 100%;
    margin: 0px; }
    #sample-item-container .modal .modal-dialog .modal-content .modal-header .link-item-name {
      font-size: 11px;
      padding-top: 2px !important; }
    #sample-item-container .modal .modal-dialog .modal-content .modal-body {
      height: 400px; }
      #sample-item-container .modal .modal-dialog .modal-content .modal-body .assigned-permission h4 {
        font-size: 14px; }
      #sample-item-container .modal .modal-dialog .modal-content .modal-body .bs-deselect-all-custom, #sample-item-container .modal .modal-dialog .modal-content .modal-body .bs-select-all-custom {
        font-size: 14px; }
      #sample-item-container .modal .modal-dialog .modal-content .modal-body .header-menu .header-tab {
        font-size: 14px; }
      #sample-item-container .modal .modal-dialog .modal-content .modal-body .dropdown-menu li a .text, #sample-item-container .modal .modal-dialog .modal-content .modal-body .dropdown-menu li a .check-mark {
        font-size: 14px; }
      #sample-item-container .modal .modal-dialog .modal-content .modal-body .dropdown-menu li a:hover .text, #sample-item-container .modal .modal-dialog .modal-content .modal-body .dropdown-menu li a:hover .check-mark, #sample-item-container .modal .modal-dialog .modal-content .modal-body .dropdown-menu li a:focus .text, #sample-item-container .modal .modal-dialog .modal-content .modal-body .dropdown-menu li a:focus .check-mark, #sample-item-container .modal .modal-dialog .modal-content .modal-body .dropdown-menu li a:active .text, #sample-item-container .modal .modal-dialog .modal-content .modal-body .dropdown-menu li a:active .check-mark {
        font-size: 14px; }

#sample-item-container .sample-item .sample-category {
  padding: 0px;
  border: 1px solid #ddd;
  border-right: none;
  margin-top: 30px;
  height: 365px; }
  #sample-item-container .sample-item .sample-category h5 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 0px;
    padding-left: 13px;
    font-weight: bold;
    color: #808080; }
  #sample-item-container .sample-item .sample-category .list-group {
    margin-bottom: 0px;
    overflow-y: scroll;
    height: 328px; }
  #sample-item-container .sample-item .sample-category .highlight-list-item {
    background-color: #dbe9ff; }
  #sample-item-container .sample-item .sample-category .list-group-item {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    font-size: 13px;
    cursor: pointer; }

#sample-item-container .sample-item #search-area {
  margin-bottom: 0px;
  margin-right: 15px;
  position: absolute;
  right: 0;
  top: 0; }

#sample-item-container .sample-item .sample-dashboard {
  overflow-y: scroll;
  height: 365px;
  margin-top: 30px;
  padding: 7px;
  border: 1px solid #ddd; }

#sample-item-container .sample-item .dashboard-empty-message-div {
  padding-top: 90px; }
  #sample-item-container .sample-item .dashboard-empty-message-div .dashboard-empty-message {
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #333;
    display: block;
    padding: 24px 0;
    text-align: center; }
  #sample-item-container .sample-item .dashboard-empty-message-div .empty-dashboard-image-div {
    margin: 0 auto;
    text-align: center; }

#sample-item-container .sample-item .sample-separator {
  padding: 0px;
  margin: 7px 0px 7px 0px; }

#sample-item-container .sample-item .sample-image {
  padding: 0px 5px; }
  #sample-item-container .sample-item .sample-image img {
    width: 150px;
    height: 100px; }

#sample-item-container .sample-item .search-found {
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 7px; }

#sample-item-container .sample-item .sample-add {
  padding-top: 17px; }

#sample-item-container .sample-item .sample-content {
  height: 105px; }
  #sample-item-container .sample-item .sample-content .sample-name {
    color: #333230;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 5px; }
  #sample-item-container .sample-item .sample-content .sample-description {
    color: #999590;
    font-size: 11px;
    display: -webkit-box;
    height: 48px;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  #sample-item-container .sample-item .sample-content .sample-add-button {
    float: right;
    margin-bottom: 5px; }
