$dialog-header-bg-color: #F9F9F9;
$dialog-footer-bg-color: #F9F9F9;
$dialog-border-color: #E6E6E6;
$validation-text-color: #A94442;
$button-bg-color: #e5e5e5;

body {
    background-color:white;
    #create_category_content, #update_category_content {
        width: 100%;
        float: left;
        table {
            width: 100%;
            border-spacing: 10px;

            tr {
                margin-bottom: 5px;
                margin-top: 5px;

                td:first-child {
                    width: 25%;
                }

                td:nth-child(2) {
                    width: 75%;

                    .validation-message {
                        color: $validation-text-color;
                        float: left;
                        margin-top: -25px;
                    }

                    textarea {
                        resize: none;
                    }
                }
            }
        }
    }
    .header-menu{
        .extendedTitle{
            display:inline-block;
            width:90%;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
        }
    }

    .category-btns {
        bottom: 0;
        padding: 10px;
        position: fixed;
        right: 0;
        width: 100%;
        background: $button-bg-color none repeat scroll 0 0;
        border-top: 1px solid #bbbbbb;
    }

    #AddCategoryPopup, #EditCategoryPopup {
        .dialog {
        .dialog-header {
            background-color: $dialog-header-bg-color;
            border: 1px solid $dialog-border-color;
            font-size: 14px;
            padding: 10px 10px;
        }
        .dialog-body {
                padding: 15px 15px;

                .form-control{
                    border-radius:4px;
                }
        }
        .dialog-footer {
            position: absolute;
            background-color: $dialog-header-bg-color;
            border: 1px solid $dialog-border-color;
        }
        .btn {
            border-radius:4px;
        }
        }
    }
}
.bottom-margin30{
    margin-bottom:25px;
}

.notification{
    float:left;
    margin-top:-25px;
}
.top-margin{
    margin-top:-5px;
}

.success-message{
    padding-top:115px;
}
