@import "Themes/Default.scss";

body {
    background-color: transparent;
    overflow: hidden;
}

.displayNone {
    display: none;
}

.base-comment-container {
    position: fixed;
    top: 0px;
    background-color: white;
    border-radius: 4px;
    width: 100%;

    .editor-toolbar {
        padding: 0 2px !important;
    }

    .watch-txt-container {
        span.su {
            border-radius: 12px;
            color: white;
            float: left;
            font-size: 14px;
            font-weight: bold;
            height: 22px;
            padding: 3.7px;
            width: 22px;
            cursor: pointer;
            margin-right: 7px;
        }

        span.su.unwatch {
            background-color: $unwatch-bg-color;
        }

        span.su.watch {
            background-color: $watch-bg-color;
        }

        div {
            float: left;
            margin: 3px;
            cursor: pointer;
        }
    }

    #comment_action_area {
        background-color: $home-container-bg;
        padding-bottom: 10px;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;

        #comment_action_slider {
            font-size: 12px;
        }
    }

    .header-section {
        border-bottom: 1px solid $border-color;

        #header-pane {
            height: 45px;

            .view-heading {
                float: left;
                font-size: 14px;
                color: $heading-color;
                margin: 13px 10px;
                outline: $heading-outline;
                text-align: left;
                font-weight: bold;
                width: 73%;
            }
        }

        a {
            font-size: 15px;
            margin-top: 12px;
            padding-right: 10px;
            color: $dashboard-primary-text-color;
            text-decoration: none;
        }

        a:hover {
            color: $icon-hover-color;
        }
    }

    .PopupClose {
        float: right;
        margin-right: 3px;
    }

    .comment-submit-container {
        background-color: $home-container-bg;
        max-height: 267px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 15px;
        border-radius: 4px;
        position: relative;
        width: 100%;
    }

    .validate-fail {
        position: absolute;
        color: $validation-text-color;
        bottom: 18px;
        left: 10px;
        line-height: 14px;
        font-size: 12px;
    }

    .count-sort {
        background-color: $home-container-bg;
        border-bottom: 0.5px solid #D6D6D6;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 3px;
        padding-bottom: 7px;

        #comment_count {
            line-height: 20px;
        }
    }

    .header-comment-close {
        margin-left: 10px;
    }

    #commentSorting {
        line-height: 20px;

        .sort-old {
            width: 43px;
            float: right;
        }

        .sort-new {
            width: 47px;
            margin-left: 42%;
        }

        .sort-active {
            color: rgb(58, 153, 251);
        }

        .sort-inactive {
            cursor: pointer;
            color: rgb(136, 136, 136);
        }
    }

    .post-watch {
        padding: 0px;
        padding-bottom: 6px;

        div {
            padding: 0px;
        }

        #watchItem {
            font-size: 20px;
            cursor: pointer;
            float: left;
            padding-right: 10px;
            padding-top: 5px;
        }

        #watch-text {
            float: left;
            color: rgb(136,136,136);
            padding-top: 5px;
        }

        .watch {
            color: rgb(210,210,210);
        }

        .unwatch {
            color: rgb(248,219,90);
        }
    }

    .comment-list {
        padding-left: 0px;
        margin-left: 0px;

        .deleted-post {
            .su-reply, .su-options-horizontal, .su-reply:hover, su-options-horizontal:hover, .reply {
                color: rgb(226,226,226) !important;
                cursor: default !important;
            }
        }

        .deleted-message {
            color: rgb(126, 126, 126);
            font-size: 12px;
            font-style: italic;

            .su {
                padding-right: 5px;
                padding-left: 10px;
            }
        }

        li.post {
            width: 100%;
            border-top: 0.5px solid #D6D6D6;
        }

        .post:first-child {
            border-top: none;
        }

        .post {
            list-style: none;
            float: left;

            .hasChild {
                cursor: pointer;
                border-bottom: 0.5px solid #D6D6D6;
            }

            .reply-count {
                color: $reply-color;
                font-size: 10px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 2px;
                background-color: $home-container-bg;
                border-top: 1px solid $reply-border;

                .child-count {
                    padding: 2px 0px 0px 0px;
                }
            }

            .reply-count.expanded {
                border-top: 0.5px solid $reply-border;
                border-bottom: none;
            }

            .collapse-icon {
                float: right;
                padding-top: 4px;
            }
        }

        .children {
            background-color: $home-container-bg;
            float: left;
            margin: 0;
            padding-left: 0;
            width: 100%;

            li.post {
                width: 100%;
                border-top: none;

                .reply-count {
                    border-bottom: 0.5px solid #D6D6D6;
                    margin-bottom: 15px;
                }

                .reply-count.hasChild {
                    border-top: 2px solid #D6D6D6;
                }

                .reply-count.expanded {
                    border-top: 0.5px solid #D6D6D6;
                }

                .post-content {
                    padding-top: 0px;

                    menu {
                        opacity: 0;
                    }

                    .avatar-container {
                        padding-left: 25px;
                    }

                    .post-body {
                        .post-message {
                            margin-left: 30px;
                        }
                    }

                    .reply-count {
                        width: 95%;
                        float: right;
                    }
                }

                .post-content:hover {
                    menu {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .post-content {
        position: relative;
        padding-top: 10px;

        #replyComment {
            float: left;
            position: relative;
            width: 100%;

            .reply-comment-footer {
                float: right;
                padding-top: 15px;
                width: 50%;
            }
        }

        .avatar-container {
            padding: 0px 7px 0px;

            .avatar {
                height: 35px;
                width: 35px;
                margin-top: 8px;
                margin-left: 2px;
                border-radius: 20px;
            }
        }

        .avatar {
            float: left;
            margin-right: 12px;
        }

        .post-body {
            padding: 3px 0px 10px;

            .post-byline {
                color: $commented-author-color;
                width: 195px;
                white-space: nowrap;
                overflow: hidden;
                margin-bottom: 2px;
                text-overflow: ellipsis;

                .su-status-active {
                    font-size: 8px;
                    color: $post-bg-color;
                    padding-left: 10px;
                }
            }

            .post-body-inner {
                margin-bottom: 5px;

                .post-message {
                    font-size: 12px !important;
                    margin: 0 10px;
                    overflow-x: auto;
                    padding-top: 1px;
                }

                .edit-post {
                    background-color: $autocomplete-bg-color;
                    border-top: 0.5px solid #D6D6D6;
                    float: left;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    width: 100%;
                    position: relative;

                    .edit {
                        padding: 5px 7px 5px;
                        width: 100%;
                    }

                    .temp-post {
                        float: right;
                        padding: 15px 0px 6px 6px;

                        #save-edit {
                            margin-right: 10px;
                        }
                    }
                }
            }

            .time-ago {
                font-size: 11px;
                color: rgb(136,136,136);
            }

            header {
                height: 50px;
            }

            menu {
                padding-top: 5px;
                padding-left: 0px;
                padding-right: 5px;
                float: right;
                line-height: 1px;
                margin: 0px;

                li {
                    cursor: pointer;
                    margin: 0px 10px 0px 0px;
                    padding: 0px;
                    font-size: 13px;
                    line-height: 15px;
                }

                .su-reply, .su-options-horizontal {
                    color: $icon-color;

                    &:hover {
                        color: $icon-hover-color;
                    }
                }

                .su-options-horizontal {
                    cursor: pointer;
                    padding-right: 5px;
                }

                .dropdown-menu {
                    left: auto;
                    right: 0px;
                    top: 35px;
                    min-width: 100px;

                    .edit, .delete, .parent {
                        margin: 0px;
                    }
                }

                .reply, .parent {
                    float: left;
                    list-style: none;

                    .su-clone {
                        float: left;
                        line-height: 15px;
                    }
                }

                .footer {
                    margin-left: 12px;
                }
            }

            .edit-post {
                .edit-text {
                    margin-bottom: 7px;
                    height: 70px;
                }
            }

            .post-meta {
                line-height: 11px;
                width: 185px;
            }
        }

        .reply-form-container {
            padding: 15px 7px 15px;
            border-top: 0.5px solid #D6D6D6;
            background-color: $autocomplete-bg-color;

            #post-reply {
                margin-right: 10px;
            }

            .reply-text {
                margin-bottom: 7px;
                height: 70px;
            }
        }
    }

    .additional-content {
        text-align: center;
        margin: auto;
        min-height: 0px;

        h5 {
            margin-top: 0;
        }
    }

    .e-scrollbar .e-vhandle, .e-scrollbar .e-hhandle, .e-scrollbar .e-button {
        border-radius: 10px;
    }

    .e-hscrollbar {
        height: 0px !important;
    }

    .e-vhandle {
        background-color: white;
    }

    .CodeMirror {
        padding: 0px;
    }

    .CodeMirror, .CodeMirror-scroll {
        height: 150px;
        min-height: 150px !important;
    }

    .message {
        font-size: 12px;
        left: 7px;
        position: absolute;
    }
}

#autocomplete-input_suggestion {
    width: 200px;

    .e-hscrollbar {
        display: none;
    }

    .e-ul {
        width: 100% !important;

        li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.widget-comment {
    .error-message, .error-message-edit {
        .validate-fail {
            width: 160px;
            bottom: 13px;
        }
    }

    .editor-toolbar {
        padding: 0 2px !important;

        a {
            width: 27px;
        }
    }
}

.e-rte .e-toolbarspan {
    border: none;
    border-bottom: 1px solid #c8c8c8;
}

.e-scrollbar .e-vhandle, .e-scrollbar .e-hhandle, .e-scrollbar .e-button {
    border-radius: 10px;
    background-color: $comment-scroller-bg;
    font-size: 0px;
}

.e-scrollbar .e-vhandle:hover, .e-scrollbar .e-hhandle:hover {
    background-color: $comment-scroller-bg;
}

.e-scrollbar .e-vup.e-icon::before {
    content: none;
}

.e-scrollbar .e-vscroll {
    border-left: 0.5px solid #D6D6D6;
}

.e-waitpopup-pane {
    width: 100% !important;
}

.su-upload-image {
    position: relative;
}

.e-selectpart {
    opacity: 0;
    left: 0px !important;
    position: absolute !important;
    cursor: pointer;
    height: 29px !important;
    margin: 0;
    text-align: center;
    text-decoration: none;
    width: 29px !important;
}

.post-message > p > img {
    cursor: pointer;
    max-height: 350px !important;
    max-width: 250px !important;
}

//UserMention

#autocomplete {
    background-color: $autocomplete-bg-color;
    border: solid 1px $autocomplete-border-color;
}

#autocomplete-trigger {
    background-color: $autocomplete-trigger-bg;
    padding: 0 2px;
}

#autocomplete-search-text {
    padding: 0 4px 0 2px;
}

.cm-allcontainer, .cm-groupcontainer, .cm-usercontainer {
    color: $usermention-text-color;
    border: 1px solid $all-container-border-color;
    border-radius: 3px;
    line-height: 16px;
    white-space: nowrap;
    background: $all-container-bg-color;
}

.usermention-suggestionlist {
    background-color: $list-bg-color !important;
    border: 1px solid $list-border-color !important;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.2) !important;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.2) !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2) !important;
    padding: 0 !important;

    .e-hover{
        background: $select-hover;
    }
}

.editor-toolbar {
    .preview {
        opacity: 0.9 !important;
        pointer-events: visible !important;
    }
}

@media screen and (max-width: 409px) {
    .base-comment-container {
        .editor-toolbar {
            .su {
                width: 8.5%;
            }
        }

        .error-message {
            font-size: 8px;
        }

        .count-sort {
            #commentSorting {
                .sort-new {
                    margin-left: 20%;
                }
            }
        }

        .post-content {
            #replyComment {
                .reply-comment-footer {
                    padding-top: 20px;
                    width: 100%;
                }
            }

            .edit-post {
                .temp-post {
                    padding-top: 20px !important;
                }
            }

            .post-body {
                .post-meta {
                    width: 165px;
                }
            }
        }

        .validate-fail {
            font-size: 10px;
        }
    }
}
