@import "Mixins.scss";
@import "Themes/Default.scss";

#content-area {
    #dashboard-page-container {
        border-right: 1px solid $dashboard-border-color;
        width: 330px;
        height: 100%;

        .mobile-header {
            background-color: $category-list-bg-color;
            border-bottom: 1px solid $dashboard-separator-color;
            border-right: 1px solid $dashboard-border-color;
            cursor: pointer;
            padding: 10px 15px;
            width: 330px;
            @include item-name-style();

            .mobile-section-expand-collapse {
                float: right;
                padding-top: 4px;
            }

            .category-icon {
                padding-right: 7px;
            }
        }

        .dashboard-dropdown-container {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;

            .item-searchbox-container {
                width: auto !important;
                margin: 6px 5px 6px 10px !important;
            }

            .dashboard-filter-container {
                flex: 1;
                display: flex;

                .dashboard-dropdown-label {
                    line-height: 24px;
                }

                .dashboard-filter-sort {
                    flex: 1;
                    width: 100%;

                    .btn, .dashboard-sort-filter-menu {
                        width: 100% !important;
                    }
                }
            }

            .search-active {
                width: 100% !important;

                .item-searchbox-container {
                    width: 100% !important;

                    .dashboard-search-area {
                        display: flex;
                        flex-direction: row-reverse;
                        margin-left: 6px;
                        margin-bottom: 6px;

                        #dashboard-search-items {
                            flex: 1;
                        }
                    }
                }
            }
        }
    }

    #category-panel {
        margin-top: 40px;
        float: none;
        width: 330px;

        .category-bar-ul {
            padding-top: 0px;
            margin: 0;

            .category-search-area {
                display: flex;
                padding: 10px !important;
                width: 100% !important;

                input {
                    flex: 1;
                }
            }
        }

        #parent-category-scroll-element {
            width: 330px;
        }
    }

    #dashboard-list-panel {
        padding-top: 0px;
        width: 330px;
        margin-top: 40px;
        display: block;
        margin: 0;

        .dashboard-list-separator {
            margin: 10px 0 !important;
        }

        .fd-post {
            max-width: 100%;
        }

        .author-name {
            width: 100%;
        }

        #parent-dashboard-scroll-element, #dashboard-scroll-element {
            width: 312px !important;
        }

        .dashboard-name {
            width: 100%;
        }

        #order {
            margin: 10px 10px 0 10px !important;
        }

        .mobile-dashboard-search {
            padding-top: 12px !important;
        }

        .active {
            background-color: $primary-selected-color !important;
        }

        .open-link {
            padding: 0 50px 0 50px !important;
        }

        .hide {
            display: none;
        }
    }

    #dashboard-rendering {
        width: 100%;
        height: 100vh;
        margin-left: 330px !important;
        padding: 0;
    }
}

@media screen and (max-width: 1040px) {
    #content-area {
        #dashboard-list-panel {
            width: 100%;

            #parent-dashboard-scroll-element, #dashboard-scroll-element {
                width: 100% !important;
            }
        }

        #dashboard-page-container {
            width: 100%;

            .mobile-header {
                width: 100%;
            }
        }

        #dashboard-rendering {
            display: none !important;
        }

         #category-panel {
             width: 100%;
         }
    }
}