@import  "Mixins.scss";
$app-text-size-alert : 14px;

#pin-widget-popup {
    padding: 0px;
    border: 4px;

    #pin-widget-popup-iframe {
        border: none;
    }
}

#success-alert, #warning-alert {
    background-color: $secondary-btn-bg;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    display: none;
    min-height: 60px;
    position: fixed;
    right: 30px;
    top: 40px;
    width: 340px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 99999;

    #image-container {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        width: 60px;

        .image-holder {
            text-align: center;
            vertical-align: middle;


            span {
                background: green;
                border-radius: 50%;
                color: white;
                display: inline-block;
                height: 32px;
                position: relative;
                width: 32px;
                padding-top: 10px;
            }
        }

        .su-warning-alt {
            color: #ffae42;
            font-size: 32px;
            margin: 14px;
            position: relative;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
            height: 32px;
            width: 32px;
        }
    }

    #message {
        line-height: 10px;
        position: relative;

        #message-header {
            color: $item-search-bg;
            font-size: $app-large-text-size;
            font-weight: 500;
            margin: 0px;
            padding: 10px 0px;
            width: 100%;
        }

        #message-content {
            color: $sub-text-color;
            display: inline-block;
            font-size: $app-text-size-alert;
            font-weight: 400;
            line-height: 16px;
            padding-bottom: 18px;
            position: relative;
            white-space: normal;
            width: 100%;
        }
    }

    .div-close {
        float: left;
    }

    .close-div {
        border-left: 1px solid #d6d6d6;
        color: $sub-text-color;
        cursor: pointer;
        display: table-cell;
        padding: 10px;
        text-align: center;
        vertical-align: middle;

        #close-content {
            font-size: 12px;
            font-weight: 400;
            position: relative;
        }

        &:hover{
            color: #000;
        }
    }
}

#warning-alert {
    #message {
        width: 230px;
    }
}

#pin-widget-popup_wrapper_WaitingPopup , #dashboard-homepage-popup_wrapper_WaitingPopup {
    background-color: $ejwaiting-popup-bg !important;
}

#save-view-popup_wrapper{
    border-radius: 0;

    #save-view-popup-iframe{
        border: none;
        width: 600px !important;
     }
}
#save-view-popup {
    padding: 0px;
}

#commentModuleContainer {
    position: absolute;
    width: 410px !important;
    right: 1px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    z-index: 16777270;
    top: 0px;
    font-family: 'RobotoRegular' !important;

    .e-scroller, .e-dialog, .e-dialog-scroller {
        border: none !important;
        border-radius: 0px !important;
        overflow: visible !important;
    }

    
     #widget-loader-icon {
           position: absolute;
           top: 50%;
           left: 50% !important;
           margin-left: -27px;
           margin-top: -27px;
       }

     #comment-module-container-loader-icon {
           position: absolute;
           top: 50%;
           left: 50% !important;
           margin-left: -27px;
           margin-top: -27px;
        }
}

#viewShare_popup_wrapper.e-dialog.e-dialog-wrap {
    background: none;
}

#viewShare_popup_wrapper.e-shadow {
    box-shadow: none;

    .e-dialog-scroller {
        border-radius: 0 !important;
        border: 0 none;
    }
}

#viewShare_popup_wrapper_WaitingPopup.e-waitpopup-pane {
    -moz-user-select: none;
    background-color: $all-container-bg-color !important;
    color: #333;
    opacity: 0.85;
}

#viewShare_popup_iframe {
    border: 0 none;
    height: 600px;
    padding: 0;
    width: 100%;
}

#viewShare_popup {
    background: none;
    left: 381px;
    padding: 0;
    display: none;
    position: absolute;
    width: 650px;
    z-index: 99999999;
}

.ViewShare_popup_shadow {
    background: rgba(0, 0, 0, 0.37) none repeat scroll 0 0;
    display: block;
    height: 100%;
    position: fixed;
    left: 0;
    display: none;
    top: 0;
    width: 100%;
    z-index: 999;
}

#commentModuleContainer_iframe {
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

#widgetCommentModuleContainer {
    width: 350px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 16777270;

     #widget-comment-module-container-loader-icon {
           position: absolute;
           top: 50%;
           left: 50% !important;
           margin-left: -27px;
           margin-top: -27px;
        }
}

#widgetCommentModuleContainer_iframe {
    border: 0.5px solid #D6D6D6;
    border-radius: 4px;
}

#delete_popup_iframe {
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    border: none;
    z-index: 16777271;
}

.displayNone {
    display: none;
}

.e-waitpopup-sharepopup {
    display: block;
    height: 600px;
    left: 0;
    position: absolute;
    top: 0;
    width: 650px;
    z-index: 10004;
    background-color: $all-container-bg-color;
    opacity: 0.85;
}

.home-button {
    float: left;
    background-color: rgb(51, 122, 183);
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#commentImage_popup_wrapper {
    position: relative;
    border: none !important;
    vertical-align: central !important;
    display: block;
    margin: auto;
    overflow: visible !important;
    min-height: 1px !important;
    min-width: 1px !important;

    .col-md-12, .col-xs-12, .col-lg-12 {
        float: none !important;
    }
}

#commentImage_popup {
    border: none !important;
    overflow: hidden;
    padding: 0px !important;
}

#commentImage_popup_image {
    position: absolute;
    padding: 15px;
}

.closePopupImage {
    left: 16px !important;
    top: 0;
}

#PopupContainer {
    position: relative;
    overflow: visible !important;

    a:hover {
        text-decoration: none;
    }

    a {
        position: relative;
        z-index: 9;
        text-decoration: none !important;
        outline: none !important;
    }
}

.su-with-comment {
    color: $primary-color;
}

@media screen and (max-width: 409px) {
    #commentModuleContainer, #filter-view, #dashboard-view-toogle {
        width: 100% !important;
    }
}

#dashboard-homepage-form {
    font-family: Roboto;

    .header-menu {
        padding: 15px 15px 0px 20px;

        .head-icon {
            float: left;
            font-size: 16px;
            padding: 2px 5px 0px 0px;
        }

        .popup-title {
            font-size: 16px;
            padding: 0;
        }

        a {
            color: $icon-color;
            float: right;
            font-size: $app-text-size;
            text-decoration: none !important;

            span:hover {
                text-decoration: none !important;
                color: $icon-hover-color !important;
            }
        }

        a:hover {
            color: $primary-btn-bg;
            text-decoration: none !important;
        }
    }

    #dashboard-homepage-name {
        color: gray;
        font-size: $app-text-size;
        overflow: hidden;
        padding-top: 5px;
        white-space: nowrap;
        width: 400px;
        word-break: break-all;
        text-overflow: ellipsis;
    }

    #homepage-name-container {
        height: 65px;

        .homepage-name-label {
            font-weight: normal;
            padding: 10px 0px 0px 0px;
        }

        #homepage-input {
            display: inline-block;
            margin-left: 10px;
            padding: 0px;
            width: 250px;

            #homepage-name {
                border-radius: 0px;
                width: 250px;
            }
        }

        .validation-errors {
            color: $validation-text-color;
            font-size: $app-text-size;
        }
    }

    #dashboard-homepage-container {
        float: left;
        padding-left: 5px;
        padding-top: 32px;

        label {
            font-weight: normal;
        }

        .homepage-name-label {
            padding-left: 0px;
        }

        #filter-container {
            padding-top: 20px;

            .keepfilter {
                width: 80px;
            }

            #info-tag {
                #filter-info {
                    cursor: pointer;
                }
            }
        }

        #keep-filter-label, #make-default-label {
            padding-left: 0px;
        }

        #button-container {
            float: right;
            padding-left: 0px;
            padding-right: 0px;

            input {
                height: 32px;
            }

            #dashboard-homepage-save-button {
                margin-right: 15px;
            }
        }

        .primary-button {
            @include button();
        }

        .secondary-button {
            @include button($secondary-btn-bg, $secondary-btn-text-color, $secondary-btn-hover, $btn-height-normal, false);
            border: 1px solid $secondary-btn-border;
        }

        .validation-errors {
            color: $validation-text-color;
            font-size: $app-text-size;
            position: absolute;
        }
    }

    #dashboard-homepage-button {
        background: $dialog-footer-bg-color none repeat scroll 0 0;
        border-top: 1px solid $dialog-border-color;
        bottom: 0;
        padding: 10px 15px 10px 10px;
        position: absolute;
        right: 0;
        width: 100%;

        .btn {
            border-radius: 0px;
        }
    }
}

#pin-parent-dashboard {
    .su-pin {
        font-size: 14px;
        padding-top: 9px;
    }
}

.su-icon {
    bottom: 2px;
    color: $icon-color;
    float: left;
    height: 16px;
    padding: 5px 4px 3px 4px;
    position: relative;
    width: 16px;

    &:hover {
        color: $icon-hover-color;
        cursor: pointer;
    }
}

.su-with-comment {
    color: $primary-color;
}

#dashboard-edit {
    color: $menu-label-color;
    text-decoration: none;
}

.highlight-icon {
    color: $primary-color;

    &#dashboard-comment {
        background-color: $dashboard-icon-hover-bg-color;
    }
}

.server-banner-icon {
    line-height: 19px;

    &:hover {
        background-color: $dashboard-icon-hover-bg-color;
    }
}

//Hide icons for slideshow
#dashboard-refresh {
    display: none !important;
}


.hide-dashboard-icons {
    #dashboard-refresh {
        display: block !important;
    }

    ul.options, .su-pin, .su-edit, .e-dbrd-banner-link, .e-dbrd-banner-menu, .e-dbrd-banner-text-icon, .e-dbrd-banner-widget-withoutcomments, .e-dbrd-banner-widget-withcomments, .e-dbrd-control-menu, .e-dashboard-banner-menu, .e-dashboard-banner-link, .su-icon, .e-dbrd-control-menu-icon, .e-dashboard-banner-icon:not(#dashboard-fullscreen):not(#dashboard-refresh), .e-dashboard-banner-description, .server-banner-icon + .e-banner-verticalsplitline, #dashboard_bannerPanel div a + .e-banner-verticalsplitline, .e-dashboard-widget-menu {
        display: none !important;
    }

    #dashboard {
        width: 100% !important;
    }
}


.hide-embed-dashboard-icons {
    .e-dbrd-banner-link, .e-dbrd-banner-menu, .e-dbrd-banner-text-icon, .e-dbrd-banner-widget-withoutcomments, .e-dbrd-banner-widget-withcomments, .e-dbrd-control-menu, .e-dashboard-banner-menu, .e-dashboard-banner-link, .e-dashboard-banner-icon:not(#dashboard-fullscreen):not(#dashboard-refresh):not(#dashboard_otheroption):not(#dashboard-view):not(#dashboard-comment):not(#dashboard_dashboardmenu), #dashboard_bannerPanel div a + .e-banner-verticalsplitline, .saved-view .su.cursor-pointer {
        display: none !important;
    }
}

#filter-view {
    #filter-view_layout_wrapper {
        top: 45px;
        border-top: 1px solid $border-color !important;
    }

    #close-filter {
        position: absolute;
        right: 0;
    }

    #validation-message {
        font-family: RobotoRegular;
        margin-top: 45px;
        padding-top: 10px;
        border-top: 1px solid $border-color;
        text-align: center;
    }
}

#dashboard-view-toogle, #filter-view, #commentModuleContainer {
    top: 0;
    right: 0;
    background-color: $share-items-bg-color;
    height: 100% !important;
    border-right: 1px solid #d5d0d0;
    margin-bottom: 0px !important;
    position: fixed !important;
    z-index: 10003;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);
}

.dashboard-view-toogle {
    width: 410px !important;
}

#filter-view a, #dashboard-view-toogle #close-container a {
    padding-right: 10px;
    color: #333;
    text-decoration: none;
}

#dashboard-view-toogle #close-container a {
    margin-top: 10px;
}

#filter-view a {
    margin-top: 11px;
}

#filter-view a:hover, #dashboard-view-toogle #close-container a:hover {
    color: $icon-hover-color;
}

.pin-widget {
    .viewer {
        .e-dashboarddesigner-designcanvas {
            padding: 0px 0 !important
        }

        .e-dbrd-control-container {
            margin: 0 !important;
            box-shadow: 0 0px 0px 0 rgba(0,0,0,.07) !important;
        }

        .e-dbrd-control-header {
            display: none;
        }
    }
}

.pin-widget {
    .e-reportdesigner-designer {
        border-width: 0px 0px !important;
        .viewer {
            border-width: 0px 0px 0px 0px !important;
            background-color: white !important;
            .e-dashboarddesigner-designPanel {
                .e-dbrd-designcanvas-container {
                    border-width: 0px 0px 0px 0px !important;
                    background-color: white !important;
                    overflow: hidden !important;
                }
            }
        }
    }
}

.pin-widget {
    .viewer {
        .e-dashboarddesigner-designcanvas {
            padding: 0px 0 !important
        }

        .e-dbrd-control-container {
            margin: 0 !important;
            box-shadow: 0 0px 0px 0 rgba(0,0,0,.07) !important;
        }

        .e-dbrd-control-header {
            display: none;
        }
    }
}

.pin-widget {
    .e-reportdesigner-designer {
        border-width: 0px 0px !important;
        .viewer {
            border-width: 0px 0px 0px 0px !important;
            background-color: white !important;
            .e-dashboarddesigner-designPanel {
                .e-dbrd-designcanvas-container {
                    border-width: 0px 0px 0px 0px !important;
                    background-color: white !important;
                    overflow: hidden !important;
                }
            }
        }
    }
}

#embed-widget {
    .su-embed {
        font-size: 18px;
        padding-top: 7px;
    }
}