@import  "Themes/Default.scss";
@import  "Variables/FontSize.scss";
@import  "Variables/ElementSize.scss";
@import  "../../Fonts/variables.scss";

#designer-header *, #messageBox_wrapper *, .custom-bootstrap-styles * {
    font-family: Roboto;

    .li-logout {
        display: none !important;
    }

    .mobile-visible {
        display: none;
    }
}

#menu-area {
    .img-loader {
        -webkit-animation-name: fadeOpactiy;
        -webkit-animation-duration: 4s;
        animation-name: fadeOpactiy;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        background: gray;
        height: 32px;
        width: 32px;
        display: block;
        float: none;
        margin: 0 auto;
    }
}

#designer-header {
    width: 100%;
    height: $header-height;
    background-color: #fff;
    border-bottom: 1px solid #c8c8c8;
    padding-left: 80px !important;

    .no-margin {
        margin: 0 !important;
    }

    .no-padding {
        padding: 0 !important;
    }

    a:hover, a:focus {
        text-decoration: none !important;
    }

    @media screen and (min-width: 1400px) {
        height: $header-lg-height !important;

        .dashboard-name, .datasource-name {
            margin-top: 14px !important;
        }

        .dashboard-name, .datasource-name {
            padding-left: 22px !important;

            .edit-dashboard, .edit-datasource {
                font-size: 16px !important;
            }

            .dashboard-status, .datasource-status, .dashboard-unsave, .datasource-unsave {
                font-size: 13px !important;
            }
        }
    }

    @media screen and (max-width: 1399px) {
        #concierge-support-request .primary-button {
            height: 28px;
            margin: 6px 20px;
        }
    }

    .dashboard-name, .datasource-name {
        margin-top: 10px;
        display: inline-block;
        padding-left: 6px;

        .edit-dashboard, .edit-datasource {
            color: #333842;
        }

        .dashboard-status, .datasource-status {
            color: darkgray;
            font-size: 12px;
            font-family: Segoe UI;
            padding-left: 15px;
            font-style: italic;
        }

        .dashboard-unsave, .datasource-unsave {
            color: red;
            font-size: 12px;
            font-family: Segoe UI;
            padding-left: 10px;
            display: none;
        }
    }
}
//Confirmation message Dialog box
#messageBox_wrapper {
    height: 180px !important;

    .e-dialog-scroller e-scroller e-js e-widget {
        height: 180px !important;
        line-height: 1.4;

        #messageBox {
            height: 180px !important;

            .message-header {
                margin-top: 10px;
            }

            .message-content {
                height: 100px;
            }
        }
    }
}

@mixin button($background: $primary-btn-bg, $color: $primary-btn-text-color, $hover: $primary-btn-hover, $height: $btn-height-normal, $icon: false) {
    background: $background;
    border: 0;
    border-radius: 2px;
    color: $color;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: $height;
    line-height: $height;
    min-width: $btn-min-width;
    outline: none;
    text-align: center;

    @if $icon == true {
        padding: 0 0 0 15px;
    }

    @if $icon == false {
        padding: 0 15px;
    }

    @if $icon == true {
	 span {
        padding-right: 15px;
		}
    }

    @if $icon == true {
	  i{
        display: inline-block;
        width: 15px;
		}
    }

    &:hover, &:focus {
        background: $hover;
        color: $color;
    }

    &:disabled {
        background: $primary-btn-disabled-bg;
        color: $sub-text-color;
        cursor: default;
    }
}

#messageBox {
    .message-header {
        font-size: $app-large-text-size + 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 400px;
    }

    .message-box-close {
        color: $primary-text-color;
        cursor: pointer;
        font-size: 14px;
        position: absolute;
        right: 15px;
        top: 8px;

        &:hover {
            color: $primary-btn-bg;
        }
    }

    .message-content {
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: $app-large-text-size;
        display: table-cell;
        vertical-align: middle;
        width: 450px;
        height: 105px;
        text-align: center;
        line-height: 1.4;

        a {
            color: #337ab7;
            text-decoration: none;
        }
    }

    .message-box-btn-holder {
        background: $dialog-footer-bg-color none repeat scroll 0 0;
        border-top: 1px solid $dialog-border-color;
        bottom: 0;
        position: absolute;
        right: 0;
        width: 100%;
        text-align: center;
        height: 50px;

        input[type=button] {
            cursor: pointer;
            -webkit-appearance: none;
        }

        .secondary-button {
            @include button($secondary-btn-bg, $secondary-btn-text-color, $secondary-btn-hover, $btn-height-normal, false);
            border: 1px solid $secondary-btn-border;
            margin-top: 7px;
            margin-left: 10px;
            background: #fff;
            border-radius: 2px;
            font-size: 12px;
            font-weight: 600;
            min-width: 90px;
            height: 34px;
            line-height: 34px;
            color: $primary-text-color;
        }
    }
}

#base-footer-div {
    padding: 5px 30px 0px 30px;
    background-color: #f2f2f2;
    color: $primary-text-color;
    margin-top: 7px;
    margin-bottom: 35px;

    #dropdown-lang {
        display: none;
    }

    .language-area {
        #lang_menu {
            #footer-separator {
                display: none !important;
            }
        }
    }
}

.custom-server-style {
    line-height: 1.42;

    #success-alert, #warning-alert {
        background-color: $secondary-btn-bg;
        border-radius: 2px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        display: none;
        min-height: 60px;
        position: fixed;
        right: 30px;
        top: 90px;
        width: 340px;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        z-index: 999999;

        #image-container {
            display: table-cell;
            position: relative;
            vertical-align: middle;
            width: 60px;

            .image-holder {
                text-align: center;
                vertical-align: middle;


                span {
                    background: green;
                    border-radius: 50%;
                    color: white;
                    display: inline-block;
                    height: 32px;
                    position: relative;
                    width: 32px;
                    padding-top: 10px;
                }
            }

            .su-warning-alt {
                color: #ffae42;
                font-size: 32px;
                margin: 14px;
                position: relative;
                text-align: center;
                vertical-align: middle;
                display: inline-block;
                height: 32px;
                width: 32px;
            }
        }

        #message {
            line-height: 10px;
            position: relative;

            #message-header {
                color: $item-search-bg;
                font-size: $app-large-text-size;
                font-weight: 500;
                margin: 0px;
                padding: 10px 0px;
                width: 100%;
            }

            #message-content {
                color: $sub-text-color;
                display: inline-block;
                font-size: $app-text-size;
                font-weight: 400;
                line-height: 16px;
                padding-bottom: 10px;
                position: relative;
                white-space: normal;
                width: 100%;
            }
        }

        .div-close {
            float: left;
        }

        .close-div {
            border-left: 1px solid #d6d6d6;
            color: $sub-text-color;
            cursor: pointer;
            display: table-cell;
            padding: 10px;
            text-align: center;
            vertical-align: middle;

            #close-content {
                font-size: 12px;
                font-weight: 400;
                position: relative;
            }

            &:hover {
                color: black;
            }
        }
    }

    #warning-alert {

        #message {
            width: 230px;
        }
    }

    .error-message {
        padding: 6px;
        color: $validation-text-color;
    }
}

#dashboardDesigner #dashboardDesigner_designerContainer #dashboardDesigner_toolBar #users-container {
    display: none !important;
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;

    .users-count {
        padding-left: 3px;
        font-size: 14px;
    }
}

#dashboardDesigner #dashboardDesigner_designerContainer #dashboardDesigner_toolBar #users {
    height: auto;
    max-height: 300px;
    left: 81%;
    z-index: 1001;
    top: 35px;
    width: 220px;
    color: $primary-text-color;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .editing-message {
        background-color: #333842;
        color: #fff;
        padding-bottom: 8px;
    }

    .users-list {
        max-height: 150px;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;

        #editing-users {
            list-style: none;
            padding: 0 0 5px 0;

            li img {
                height: 32px;
                width: 32px;
                margin-top: 5px;
                border-radius: 50%;
            }

            .user-name-padding {
                padding-left: 10px;
                vertical-align: middle;
                text-overflow: ellipsis;
                width: 145px;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    .divider {
        padding: 0px;
        margin: 3px 0;
    }

    li {
        padding-left: 10px;
        padding-top: 10px;
    }

    .notification-message {
        padding-top: 0px;
        font-size: 12px;
        padding-bottom: 5px;
    }
}

#general-feedback-popup {
    .fluent-popup-body {
        .error-message {
            font-size: 10px !important;
            visibility: hidden;
            padding: 6px;
            color: $validation-text-color;
        }

        .popup-close {
            margin-right: 14px;
            opacity: 1;
            color: #575757;

            &:focus {
                outline: none !important;
                outline-color: $popup-header-bg !important;
                box-shadow: none !important;
            }
        }

        .popup-label {
            font-size: 12px;
        }
    }

    .app-button {
        font-size: 13px !important;
    }

    .app-primary-button {
        background: $primary-color;
        border-color: $primary-color;
        color: $primary-btn-text-color;

        &:hover {
            background: $primary-btn-hover;
        }
    }
}

.app-hyperlink {
    color: $link-text-color !important;

    &:hover {
        color: $link-text-hover-color !important;
    }
}
