@import  "Mixins.scss";

#time-intervals-div {
    padding: 10px;

    #_timewidget, .e-timewidget {
        border-radius: 4px;
        float: left;
        height: 32px;
        width: 176px;

        .e-in-wrap {
            border-radius: 4px;
        }

        .e-select {
            display: none;
        }
    }

    .time-width {
        font-family: inherit;
        font-size: $app-large-text-size;
        margin-top: 1px !important;
    }

    .frequency-error {
        color: $validation-text-color;
        display: none;
        margin-top: 0px;
        margin-left: 30px;
        position: absolute;
    }

    #refresh-interval-warning-message {
        color: $validation-text-color;
        font-size: 12px;
    }

    #refresh-interval-message{
        padding-left: 15%;
        margin-top: 15px;
    }
    
    .recurrence-field-row {
        margin-top: 10px;
    }
    
    .margin-issue {
        margin-right: 50px;
    }

    #recurrence-type-container, .start-date-width {
        width: 250px;
        padding-left: 5px;

        .btn-group {
            div ul {
                width: 218px !important;
            }
        }
    }

    .normal-font {
        font-weight: normal;
    }

    .pointer, #scheduleGrid_search a {
        cursor: pointer;
    }

    #occurence-count {
        width: 40px;
    }

    .small-width {
        width: 110px;
    }

    .mar-top {
        margin-top: 2px;
    }

    .bs-width {
        div {
            .dropdown-menu.open {
                margin-left: 10px;
                min-width: 92% !important;

                ul {
                    width: 99px !important;
                }
            }
        }
    }

    .bs-month-width {
        div {
            .dropdown-menu.open {
                margin-left: 10px;
                min-width: 90% !important;

                ul {
                    width: 90px !important;
                }
            }
        }
    }

    .start-date-width {
        width: 250px;
        padding-left: 13px;
    }

    .clspadleft {
        padding-left: 80px;
    }

    .monthly-select {
        padding-left: 10px;
        margin-top: -5px;
    }

    .clspad {
        padding-left: 11px;
    }

    .cls-day {
        padding: 0px 10px 0px 10px;
        margin-top: -5px;
    }

    .top-margin {
        margin-top: -7px !important;
    }

    .dropdown-menu {
        margin-left: 10px;
        min-width: 180px !important;
    }

    .day-dropdown-width {
        width: 140px !important;
    }

    .dropdown-menu .inner {
        margin-left: 0px;
    }

    .large-width {
        width: 160px;
    }

    .full-width {
        width: 100%;
    }

    .time-zone {
        margin-top: -7px;
    }

    #time-zone {
        padding-left: 58px;
    }

    #system-time, #time-zone {
        font-size: $app-text-size;
    }
 
    .clsend {
        padding-left: 20px;
        padding-top: 9px;
    }

    .clsnever {
        padding-left: 15px;
        padding-top: 9px;
    }

    .e-datetime-wrap {
        width: 220px !important;
    }

    .starts-label {
        margin-top: 16px;
    }

    .end-label {
        margin-top: 8px;
    }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        margin-top: 7px;
    }

    .align-center {
        margin-top: 3px !important;
    }


    #system-time {
        margin-left: -22px;
        margin-top: 15px;
        left: 9px;
    }

    .e-select {
        border-left: 1px solid $admin-pages-border-color !important;
    }

    .validate-error {
        display: none;
        color: $validation-text-color;
    }

    #schedule-message-container {
        margin: 60px 30px 0px 17px;
        background-color: $secondary-btn-bg;
        border: 1px solid $template-dashboard-image-border;
        border-left: 6px solid $header-bg;
        cursor: default;
        display: table;
        min-height: 45px;
        width: auto;

        .su-info {
            display: table-cell;
            vertical-align: middle;
            font-size: 22px;
        }

        #schedule-message {
            display: table-cell;
            padding: 10px;
            vertical-align: middle;
        }
    }

    .form-control {
        font-size: $app-large-text-size;
    }

    .button-left {
        margin-left: 10px;
    }

    #monthly-dow-week-container {
        .dropdown-menu {
            min-width: 100px !important;
        }
    }

    #monthly-dow-day-container {
        .dropdown-menu {
            min-width: 120px !important;
        }
    }

    #yearly-dow-day-container, #yearly-dow-month-container, .monthly-select {
        .dropdown-menu {
            min-width: 140px !important;
        }
    }

    #yearly-dow-week-container .monthly-select {
        .dropdown-menu {
            min-width: 80% !important;
        }
    }

    .material-checkbox {
        @include material-checkbox-controls();

        &:checked + input + label::before {
            bottom: 10px !important;
        }
    }
}

#submit-container, #time-intervals-div {
    .leftmargin {
        margin-left: 10px;
    }
}
#recurrence-module {

    #submit-container {
        border-top: 1px solid $border-color;
        position: fixed;
        bottom: 0px;
        left: 0px;
        padding: 10px;
        background-color: $popup-footer-bg;
    }
}

.dashboard-server {

    html, body {
        height: 0px;
    }

    #datasource-header {
        margin-top: 7px;
        font-size: 16px;

        #refresh-schedule-close-icon {
            position: absolute;
            top: 0px;
            right: 0;
            padding: 5px;
            margin: 10px;
            color: $icon-color;

            &:hover {
                cursor: pointer;
                color: $icon-hover-color !important;
            }
        }
    }

    #datasource-description {
        font-size: 12px;
        padding: 3px 0 10px 0;
    }

    #time-intervals-div {
        .datasource-dialog-padding {
            padding: 10px;
        }

        .enabled-div {
            margin-top: 20px;
        }
    }

    #start-date_popup {
        .e-button-container {
            .e-dt-button.e-dt-done {
                color: $dashboard-color-white;
            }
        }
    }

    #end-date_popup {
        .e-button-container {
            .e-dt-button.e-dt-done {
                color: $dashboard-color-white;
            }
        }
    }
}