@import  "Mixins.scss";
body {
    #server-app-container {
        overflow:auto !important;
    }   
    #item-grid-container {
        .e-grid .e-gridcontent tr td.e-templatecell a{
            display: block !important;
        }
    h2 {
        margin: 0;
    }

     #create-datasource-connection {
            margin-left: 15px;
     }

     #my-connection {
            margin-left: 15px;
     }

    .grid-container {
        margin-top: 55px;

        #items {
            .dropdown {
                position: absolute;

                .dropdown-menu {
                    left: -244px;
                    margin: 0;
                    padding: 5px 0px;
                    width: 260px;
                    }
                }

                .e-gridcontent {
                    .e-table {
                        .e-row {
                            .e-rowcell {
                                .item-name {
                                    .badge {
                                        font-size: 10px;
                                        float: right;
                                        background-color: $grey-200;
                                        color: $draft-datasource-badge-color;
                                        margin-top: 1px;
                                        border-radius: 2px;
                                    }

                                    .datasource-name {
                                        max-width: 140px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: inline-block;
                                        margin-right:4px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#create-data-preview-popup_wrapper {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    overflow: hidden;

    .e-dialog-scroller {
        border: none !important;
        height: 100% !important;
        width: 100% !important;
    }

    #create-data-preview-popup {
        padding: 0;
        width: 100% !important;
        height: 100% !important;

        #create-data-preview-iframe {
            border: none;
            width: 100% !important;
            height: 100% !important;
        }
    }
}

#create-merge-datasource-popup_wrapper {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    overflow: hidden;

    .e-dialog-scroller {
        border: none !important;
        height: 100% !important;
        width: 100% !important;
    }

    #create-merge-datasource-popup {
        padding: 0;
        width: 100% !important;
        height: 100% !important;

        #create-merge-datasource-iframe {
            border: none;
            width: 100% !important;
            height: 100% !important;
        }
    }
}

#datasource-refresh-schedule-container {
    height: auto !important;
    padding: 0 !important;
    width: 1000px;

    .datasource-refresh-popup-frame {
        border: 0;
        float: left;
        height: 570px;
        top: 350px;
        width: 100%;
    }

    .e-dlg-content {
        width: 100%;
        padding: 0px;
    }
}

#item-action {
    iframe {
        border: 0;
        float: left;
        height: 275px;
        width: 100%;
    }
}

.item-update,.item-add {
    @include modal($app-text-size, $textbox-height);

    .modal {
        display: block !important;

        .modal-dialog {
            height: 490px;
            margin: 0 !important;
            width: 100%;

            .modal-content {
                height: 490px;

                .modal-body {
                    max-height:390px;
                    padding: 10px;
                    overflow:hidden;

                    #general-file-container {
                        height: 370px;

                        #label-div {
                            margin-top: -5px;
                        }

                        #file-name-content {
                            height: $textbox-height;
                        }

                         .validation-message {
                            margin-top: 3px;
                            }

                        .upload-file {
                            border-bottom-right-radius: 0;
                            border-top-right-radius: 0;
                            border-right: 0 none;
                            float: left;
                            height: $textbox-height;
                        }

                        .input-group {
                            width: 90.5%;
                        }

                          .trigger-file-input_wrapper {
                              display: none;
                               }

                        .file-upload {
                            border-radius: 0;
                            margin-left: 0px;
                            padding: 0 18px;
                            position: absolute;

                            span {
                                margin-top: -2px;
                            }
                        }

                        input.upload-btn {
                            position: absolute;
                            top: 0;
                            right: 0;
                            margin: 0;
                            padding: 0;
                            font-size: 20px;
                            cursor: pointer;
                            opacity: 0;
                            filter: alpha(opacity=0);
                        }

                        tr {
                            .content-padding {
                                padding: 20px 0 0 0;
                            }

                            #datasource-label {
                                margin-top: 8px;
                            }
                        }

                        td {
                            border-top: 0;
                            padding-left: 0;

                            .app-textbox-label {
                                margin-bottom: 25px;
                                margin-right: 15px;

                                .mandatory {
                                    padding: 3px;
                                }
                            }
                        }

                        #version-comment {
                            line-height: 12px;
                            margin-left: 15px;
                        }

                        .content {
                            padding-right: 0;
                            padding-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

.item-add {
       .modal {
               .modal-dialog {
                  height:355px;
            .modal-content {
                height:355px;
                .modal-body {
                    max-height:255px;
                    
                    #general-file-container {
                        height: 235px;
                        }
}                     
        }
    }
}
       }
.updation{
         @include modal($app-large-text-size,$textbox-lg-height);
.modal{
    .modal-dialog{
    .modal-content{
        .modal-body{
            #general-file-container{
                #file-name-content{
                            height:$textbox-lg-height;

                        }

                        .upload-file {
                            height: $textbox-lg-height;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1040px) {
    #server-app-container{
        #content-area{
            background-color: inherit;
            padding: 42px 0px 0px;
        }
    }
}

/*Hiding no suggestion and waiting popup in Filtering*/
#items_acString {
    background-image: none !important;
}

#items_acString_suggestion {
    display: none !important;
}

#messageBox_wrapper{
    height: 135px !important;
    .message-content{
        margin-top :15px;
        height: 60px;
    }
}
.error-file-upload{
    border:1px solid #c94442 !important;   

    &:focus{
         border:1px solid #c94442;
         box-shadow:none;
    }
    &:hover{
         border:1px solid #c94442;
    }
}
.no-left-border{
    border-left:none !important;
}