.text-h4 {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #333333; }

.text-small {
  font-size: 10px;
  letter-spacing: 0.3px;
  line-height: 16px;
  color: #333333; }

.text-button {
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333333; }

.text-body {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: #333333; }

.text-semibold {
  font-weight: 600; }

.popover.tour {
  font-family: Roboto;
  height: auto;
  max-width: 440px;
  width: 440px;
  border-radius: 3px; }
  .popover.tour .popover-content {
    padding: 0;
    width: 100%;
    height: 100%; }
    .popover.tour .popover-content .server-tour-container {
      height: 100%;
      padding: 0 16px; }
      .popover.tour .popover-content .server-tour-container .server-tour-title {
        height: auto;
        margin-top: 10px; }
        .popover.tour .popover-content .server-tour-container .server-tour-title .title-text {
          font-size: 16px;
          font-weight: normal !important; }
        .popover.tour .popover-content .server-tour-container .server-tour-title .su-close {
          float: right;
          cursor: pointer;
          font-size: 15px; }
      .popover.tour .popover-content .server-tour-container .server-tour-body {
        height: auto;
        padding: 10px 0 25px 0;
        font-size: 14px; }
      .popover.tour .popover-content .server-tour-container .tour-footer {
        height: auto;
        padding-bottom: 5px !important; }
        .popover.tour .popover-content .server-tour-container .tour-footer .tour-page {
          font-size: 12px; }
        .popover.tour .popover-content .server-tour-container .tour-footer .tour-navigation-div {
          color: #0970FF;
          text-align: right;
          font-size: 12px; }
          .popover.tour .popover-content .server-tour-container .tour-footer .tour-navigation-div span {
            cursor: pointer; }
          .popover.tour .popover-content .server-tour-container .tour-footer .tour-navigation-div .prev-nav {
            margin-right: 16px; }
          .popover.tour .popover-content .server-tour-container .tour-footer .tour-navigation-div .end-nav {
            font-size: 12px;
            position: relative; }

.tour-backdrop {
  background-color: #a5aab5; }

#backdropFallback {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw; }

.add-tour-padding {
  padding: 0 0 5px 10px !important; }

.tour-step-backdrop-parent {
  position: absolute; }

.adding-tour-overlay-position {
  top: 0;
  right: 100px; }

.popover.tour {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none; }

.hide {
  display: none; }

.col-xs-12 {
  float: left;
  position: relative;
  width: 100%; }

.col-xs-6 {
  float: left;
  position: relative;
  width: 50%; }
