@import  "Themes/Default.scss";
@import  "Mixins.scss";

#PopupContainer {
    .fileUpload {
        margin-left: -3px;
    }
}

.dialog {
    @include dialog($app-text-size, $app-text-size - 2, $text-box-size);

    .category-validation-error {
        color: $validation-text-color;
        font-size: $validation-text-size;
        float: left;
        line-height: 16px;
        position: absolute;
        width: 100%;
    }

    #add-new-category {
        button {
            width: 40px;
        }
    }
}

.bootstrap-select > .btn {
    font-size: $app-text-size;
}


.dialog.iframe {
    @include dialog($app-large-text-size, $app-text-size, $text-large-box-size);
}

.dialog.iframe {
    .bootstrap-select > .btn {
        font-size: $app-large-text-size;
    }
}

#dashboard .e-chkbox-wrap, #widget-container .e-chkbox-wrap {
    .e-chkbox-small .e-checkmark {
        line-height: 1;
    }

    .e-chk-image.e-checkmark:before {
        text-indent: initial;
    }
}
    