@import  "Mixins.scss";

body {
    * {
        font-family: RobotoRegular;
    }

    div {
        .container {
            height: 10em;
        }

        .content {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);

            p {
                text-align: center;
            }

            .embed-login-image {
                margin-bottom: 11px;

                img {
                   height: 40px;
                   display: block;
                   margin: auto;
                }
            }

            .embed-login-header {
                font-size: 18px;
                letter-spacing: 0.42px;
                margin: 0 0 14px 0;
            }

            .embed-login-description {
                font-size: 13px;
                letter-spacing: 0.3px;
                margin: 0 0 25px 0;
            }
        }


        .primary-button {
            @include button();
            border: 1px solid $primary-btn-border;
            display: block;
            font-size: 13px;
            letter-spacing: 0.3px;
            margin: 0 auto 32px auto;
        }


        .loader-icon {
            position: absolute !important;
            top: 60% !important;
            left: 47% !important;
        }
    }
}
