@import  "Mixins.scss";

#general-feedback-popup {
    max-width: 520px;
    max-height: 490px;
    min-height: 440px;

    .display-none {
        display: none;
    }

    .fluent-popup-body {
        height: auto !important;
        background-color: #FFFFFF !important;

        .general-feedback-smiley {
            #feedback-smiley {
                margin-top: 8px;
                margin-bottom: 20px;

                .smiley-button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    margin-right: 10px;
                    padding: 0;

                    &.smiley-select {
                        opacity: 0.3;
                    }

                    .smiley {
                        width: 35px;
                        height: 35px;
                    }

                    &:focus {
                        outline: none !important;
                        outline-color: #ffffff !important;
                        box-shadow: none !important;
                    }
                }
            }
        }

        .general-feedback-subject {
            .btn-group {
                margin-top: 8px;
                margin-bottom: 20px;

                .button {
                    background-color: #ffffff;
                    border: 1px solid #B3B3B3;
                    border-radius: 0;
                    color: #333333;
                    padding: 3px 23.4px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    cursor: pointer;
                    float: left;
                    font-size: 13px;
                    letter-spacing: 0.3px;
                    line-height: 20px;

                    &:not(:last-child) {
                        border-right: none;
                    }

                    &:hover {
                        background-color: #dce1e5;
                    }

                    &:first-child {
                        border-radius: 4px 0 0 4px;
                    }

                    &:last-child {
                        border-radius: 0 4px 4px 0;
                    }

                    &.button-bg-change {
                        background: $primary-color;
                        border-color: $primary-color;
                        color: $primary-btn-text-color;

                        &:hover {
                            background: $primary-btn-hover;
                        }
                    }
                }
            }
        }

        .form-group {
            margin-bottom: 0px;

            .textarea {
                width: 95%;
                height: 90px;
                resize: none !important;
            }

            .CodeMirror {
                border-radius: 4px;
                min-height: 130px;
                max-height: 130px;
                margin-top: 8px;
                font-size: 12px;
                border: 1px solid $border-color;
                padding: 4px;
            }

            .CodeMirror-scroll {
                min-height: 75px;
                max-height: 80px;
            }

            .CodeMirror-code {
                max-width: 407px;
            }

            .CodeMirror-sizer {
                border-right-width: 11px;
            }

            .CodeMirror-focused {
                border-color: $primary-color;
                outline: 0;
            }
        }

        .error-message {
            font-size: 10px !important;
            visibility: hidden;
        }

        #general-feedback-checkbox {
            .material-checkbox {
                @include material-checkbox-controls();

                &:checked + input + label::before {
                    left: 2px !important;
                    bottom: 13px !important;
                }
            }

            .material-checkbox + input + label {
                padding: 8px 0 0 26px !important;
            }

            .toggle-space {
                height: 30px !important;
                font-weight: 200;
                font-size: 12px;
            }
        }
    }

    #general-feedback-button {
        #button-container {
            bottom: 0;
            padding: 9px 15px;
            right: 0;
            width: 100%;

            .app-button {
                margin-left: 15px;
            }
        }
    }
}

    .display-none {
        display: none;
    }
