@import  "Mixins.scss";
@import  "Variables/FontSize.scss";
@import  "../../Fonts/variables.scss";

#content-area {
    background: $home-container-bg;

    #home-container {
        margin: auto;
        margin-top: 25px;
        width: 1200px;

        .concierge-support-div {
            height: 190px;
            background: $home-page-bg;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
            margin-bottom: 25px;
            padding: 16px;

            .concierge-img {
                padding: 18px;
            }

            h4 {
                margin: 0 0 10px;
            }

            img {
                width: 153px;
                height: 124px;
            }

            .concierge-content {
                padding-top: 15px;
                line-height: 2;
                letter-spacing: 0.3px;
                font-size: $home-sub-header2-font-size;

                .concierge-title {
                    font-size: $home-title-font-size;
                    line-height: 1.33;
                    letter-spacing: 0.5px;
                }
            }

            .su-close {
                color: $icon-color;
                float: right;
                cursor: pointer;
                font-size: $home-title-font-size;

                &:hover {
                    color: $icon-hover-color;
                }
            }

            .concierge-buttons {
                padding-top: 10px;
            }
        }

        .content-left {
            width: 760px;
            margin-bottom: 70px;

            h4 {
                margin-top: 0;
                margin-bottom: 20px;
                letter-spacing: 0.48px;
                line-height: 24px;
                font-size: $home-header-font-size;
            }

            h5 {
                font-size: $home-sub-header2-font-size;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0.3px;
            }

            .header {
                line-height: 24px;
                color: $home-light-header-color;
                font-size: $home-sub-header-font-size;
                letter-spacing: 0.32px;
            }

            .link-box-div {
                background: $home-page-bg;
                height: $home-widget-height;
                width: $home-widget-width;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
                cursor: pointer;
                float: left;
                margin-right: 40px;
                margin-bottom: 20px;

                hr {
                    margin: 0 5%;
                }

                .link-box-content {
                    height: 100%;
                    width: 100%;
                    display: table;
                    background: $home-page-bg;
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
                    transition: all 0.3s linear;
                    border-radius: 4px;

                    .blank-dashboard-section {
                        color: $home-items-color;
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        font-size: $home-sub-header-font-size;

                        .blank-dashboard-icon {
                            color: $home-link-color;
                            font-size: 22px;
                        }

                        .blank-dashboard-title {
                            margin-top: 5%;
                            font-weight: bold;
                            color: $home-primary-color;
                        }
                    }

                    &:hover {
                        box-shadow: 0 6px 14px 3px rgba(0,0,0,0.10);
                    }
                }

                .link-box-footer {
                    width: 100%;
                    height: 30%;
                    display: table;
                    color: $home-link-color;

                    .deploy-template-dashboard {
                        font-size: $home-normal-font-size;
                        color: $home-link-color;
                        letter-spacing: 0.3px;
                        line-height: 18px;
                        display: table-cell;
                        vertical-align: middle;
                        padding-left: 25px;

                        .su {
                            padding-right: 10px;
                            font-size: $home-icon-lg-size;
                        }
                    }
                }
            }

            .quick-actions-div {
                margin-top: 20px;

                .quick-actions-content {

                    .dropdown {
                        ul {
                            overflow: auto;
                            width: 505px;
                            height: 267px;
                            margin-right: 5px;
                        }

                        .quick-actions {
                            width: 505px;
                            text-align: left;
                            height: 24px;
                            background: $home-page-bg;
                            border-radius: 4px;
                            font-size: $home-normal-font-size;
                            color: $home-items-color;
                            letter-spacing: 0.3px;
                            line-height: 18px;
                            font-weight: 100;
                            margin-left: -3px;
                            padding: 0 8px;

                            &:focus {
                                border: 1px solid $home-link-color;
                            }

                            &::placeholder {
                                color: $home-light-header-color;
                                opacity: 1;
                            }

                            &::-ms-input-placeholder {
                                color: $home-light-header-color;
                            }

                            &::-ms-input-placeholder {
                                color: $home-light-header-color;
                            }

                            &::-webkit-input-placeholder {
                                color: $home-light-header-color;
                            }

                            &::-moz-placeholder {
                                color: $home-light-header-color;
                            }
                        }

                        .su {
                            cursor: pointer;
                            margin-left: -22px;
                            font-size: $home-icon-size;
                            pointer-events: none;
                        }

                        .dropdown-menu {
                            .action-link {
                                height: auto;

                                a {
                                    white-space: normal;
                                    cursor: pointer;
                                    line-height: 1.5;
                                    letter-spacing: 0.3px;
                                    font-size: $home-normal-font-size;

                                    &.separator {
                                        border-bottom: $home-border;
                                        height: 1px;
                                        padding: 0;
                                        width: 470px;
                                        margin: 5px 9px;
                                    }

                                    .action-title {
                                        font-size: $home-sub-header2-font-size;
                                        font-weight: 600;
                                        letter-spacing: 0.4px;
                                    }

                                    .action-description {
                                        font-size: $home-normal-font-size;
                                        line-height: 1.5;
                                        letter-spacing: 0.3px;
                                        margin-top: 4px;
                                    }
                                }
                            }
                        }

                        .quick-search-area {
                            $search-height: 24px;
                            margin-right: 123px;
                            margin: 10px 10px 15px 10px;

                            input[type="text"] {
                                color: $dashboard-secondary-text-color;
                                height: $search-height;
                                letter-spacing: 0.3px;
                                line-height: 18px;
                                position: relative;
                                padding-left: 8px;
                                width: 175px;
                                border: 1px solid $dashboard-search-bg-color;
                                border-right: 0;
                                background: $dashboard-search-bg-color;
                                border-radius: 4px 0 0 4px;
                                font-size: 12px;

                                &:focus {
                                    outline: none;
                                    background: $dashboard-color-white;
                                    border: 1px solid $dashboard-highlight-text-color;
                                    border-right: 0;

                                    .su-search {
                                        background: $dashboard-color-white;
                                    }
                                }
                            }

                            .su-search, .su-inner-close {
                                color: $dashboard-secondary-text-color;
                                width: 25px;
                                height: $search-height;
                                line-height: $search-height;
                                border: 1px solid $dashboard-search-bg-color;
                                border-left: 0 !important;
                                padding-left: 2px;
                                font-size: 10px;
                                background-color: $primary-btn-text-color;
                                cursor: pointer;
                                background: $dashboard-search-bg-color;
                                border-radius: 0 4px 4px 0;
                                background: $dashboard-search-bg-color;

                                &.active {
                                    background: $dashboard-color-white;
                                    border: 1px solid $dashboard-highlight-text-color;
                                }
                            }
                        }
                    }

                    .quick-search-area {
                        margin-right: 123px;
                    }
                }

                hr {
                    margin: 10px 0 20px;
                }
            }

            .separator {
                hr {
                    width: $home-widget-width + $home-widget-width + 40px;
                    margin: 10px 0 20px 0;
                }
            }

            .vertical-separator {
                background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 2%, $border-color 41%, #CCCCCC 58%, rgba(255,255,255,0.00) 98%);
            }

            .quick-actions-list {
                margin-bottom: 10px;
            }

            .options {

                ul {
                    padding-left: 15px;

                    li {
                        color: $home-link-color;
                        padding-left: 7px;

                        a {
                            font-size: $home-sub-header2-font-size;
                            color: $home-link-color;
                            letter-spacing: 0.32px;
                            line-height: 30px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .datasource-list-div {

                .datasource-div {

                    .separator-right {
                        margin-right: 30px;
                    }

                    .separator-left {
                        margin-left: 30px;
                    }

                    .separator {
                        margin-top: 10px;
                        height: 26px;
                        width: 2px;
                        position: absolute;
                        background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 2%, $border-color 41%, #CCCCCC 58%, rgba(255,255,255,0.00) 98%);
                    }

                    .datasource-list-ul {
                        margin-top: 10px;

                        .datasource-item {
                            display: inline-block;

                            .datasource {
                                margin-left: 25px;

                                img {
                                    max-height: 40px;
                                    max-width: 40px;
                                    cursor: pointer;
                                }

                                &.more-services {
                                    cursor: pointer;
                                }
                            }

                            &.blur-div:after {
                                background-image: linear-gradient(-269deg, #F9F9F9 0%, rgba(249,249,249,0.00) 100%);
                            }
                        }

                        .more-services {
                            font-size: 13px;
                            color: $home-link-color;
                            letter-spacing: 0.32px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }

        .content-right {
            width: 440px;

            h4 {
                font-size: $home-sub-header-font-size;
                color: $home-light-header-color;
            }

            .recent-dashboards {

                .no-items {
                    text-align: center;
                    padding-top: 15px;
                    font-size: $home-sub-header2-font-size;
                    letter-spacing: 0.32px;
                    line-height: 30px;
                }

                ul {
                    padding-right: 20px !important;
                    list-style-type: none;

                    li {

                        &.dashboard-item-link {
                            cursor: pointer;
                            height: 64px;
                            border: 0;
                            border-bottom: $home-border;

                            &:hover {
                                background: $home-page-bg;
                            }
                        }

                        a {
                            text-decoration: none;
                            padding: 10px 10px 10px 22px;

                            &.item-name {
                                font-size: $home-sub-header2-font-size;
                                color: $home-items-color;
                                letter-spacing: 0.3px;
                                line-height: 20px;
                                font-weight: 600;
                                @include ellipses
                            }

                            span {
                                &.owner-name {
                                    font-size: $home-small-font-size;
                                    color: $home-owner-color;
                                    letter-spacing: 0.3px;
                                    line-height: 16px;
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .quick-help-div {
                margin-top: 8%;

                ul {
                    margin-top: 10px;
                    padding-left: 15px;

                    li {
                        padding-left: 7px;
                        color: $home-link-color;

                        a {
                            font-size: $home-sub-header2-font-size;
                            color: $home-link-color;
                            letter-spacing: 0.32px;
                            line-height: 30px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    #content-area {
        padding: $header-lg-height 0 0 $menu-width !important;
    }
}

#scheduler-popup-iframe {
    width: 100%;
    border: 0;
    height: 630px;
    float: left;
}

#sample-item-popup {
    width: 100% !important;
    padding: 0;
    margin-top: 0;

    #sample-item-iframe {
        border: 0px;
        width: 100%;
        float: left;
        height: 500px;
    }
}

#create-dashboard-popup_wrapper {
    left: 0 !important;
    top: 0 !important;

    .e-dialog-scroller {
        border: 0;
        width: 100% !important;
    }
}

#messageBox_wrapper.success-message-large {
    height: 200px !important;
    width: 530px !important;

    .e-dialog-scroller.e-scroller.e-js.e-widget {
        height: 200px !important;
        width: 530px !important;

        #messageBox {
            height: 200px !important;
            width: 530px !important;

            .message-content {
                text-align: left !important;
                height: 110px;
            }
        }
    }

    .e-scrollbar {
        display: none;
    }
}

#messageBox_wrapper.success-message-small {
    height: 180px !important;
    width: 530px !important;

    .e-dialog-scroller.e-scroller.e-js.e-widget {
        height: 180px !important;
        width: 530px !important;

        #messageBox {
            height: 180px !important;
            width: 530px !important;

            .message-content {
                text-align: left !important;
                height: 105px;
            }
        }
    }
}

@media screen and (min-width: 1041px) and (max-width: 1399px) {
    #content-area {
        padding: 40px 30px 0px $menu-width + 15 !important;

        #home-container {
            width: 100%;

            .content-right{
                width: 350px;
            }
        }
    }
}
