@import url(../Fonts/font-RobotoRegular.css);
#items-container {
  background-color: #f2f2f2;
  padding: 0px;
  font-family: RobotoRegular; }
  #items-container ul#items-name {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 0px;
    padding-left: 0px; }
    #items-container ul#items-name li {
      float: left;
      height: 40px;
      width: 90px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      color: #A7ADB1; }
    #items-container ul#items-name li.active {
      color: #0565ff;
      border-bottom: 5px solid #0565ff; }
  #items-container #item-list {
    border-top: 1px solid #555B63; }
    #items-container #item-list #search {
      color: #f9f9f9;
      background: #3A404B;
      border-bottom: 1px solid #555b63;
      height: 50px;
      padding: 8px 0 10px 10px; }
      #items-container #item-list #search #back-button {
        font-size: 20px;
        padding: 7px 0px 0px 0px !important;
        cursor: pointer; }
      #items-container #item-list #search #item-type {
        display: inline-block;
        color: #b3b3b3;
        height: 40px;
        padding: 8px 9px 9px 6px;
        font-size: 12px;
        font-weight: 600;
        float: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 20px;
        cursor: default; }
      #items-container #item-list #search #sort-options {
        float: right;
        display: inline-block;
        cursor: pointer;
        font-size: Roboto Medium 12px;
        border: none; }
        #items-container #item-list #search #sort-options #sort-container {
          display: inline-block;
          width: 95px; }
          #items-container #item-list #search #sort-options #sort-container button {
            background-color: #3A404B;
            border: 0 none;
            color: #b3b3b3;
            font-size: 10px;
            margin: 0;
            height: 20px;
            padding: 0px; }
          #items-container #item-list #search #sort-options #sort-container .dashboard-sort {
            border: none;
            cursor: pointer;
            font-size: 12px;
            left: auto;
            min-width: 130px;
            right: 80px;
            top: auto; }
            #items-container #item-list #search #sort-options #sort-container .dashboard-sort li {
              height: auto;
              padding: 0; }
              #items-container #item-list #search #sort-options #sort-container .dashboard-sort li i {
                padding: 0 3px 0 0;
                vertical-align: middle; }
          #items-container #item-list #search #sort-options #sort-container .dashboard-sort > li > a > .su {
            visibility: hidden; }
          #items-container #item-list #search #sort-options #sort-container .dashboard-sort > li > a.selected > .su {
            visibility: visible; }
        #items-container #item-list #search #sort-options #order {
          padding-left: 10px;
          padding-right: 5px;
          line-height: 34px; }
          #items-container #item-list #search #sort-options #order .path1:before, #items-container #item-list #search #sort-options #order .path2:before {
            font-family: 'server' !important; }
          #items-container #item-list #search #sort-options #order .opacity {
            opacity: 0.3; }
        #items-container #item-list #search #sort-options .search-area {
          background: #fff;
          border-bottom-left-radius: 2px;
          border-top-left-radius: 2px;
          line-height: 28px;
          height: 34px;
          color: #1B1E24;
          float: right;
          -moz-transition: width .35s linear;
          -o-transition: width .35s linear;
          -webkit-transition: width .35s linear;
          transition: width .35s linear;
          width: 27px; }
          #items-container #item-list #search #sort-options .search-area input {
            background: inherit;
            border: none;
            color: inherit;
            outline: none;
            height: 34px;
            line-height: normal;
            -moz-transition: width .35s linear;
            -o-transition: width .35s linear;
            -webkit-transition: width .35s linear;
            transition: width .35s linear;
            visibility: hidden;
            padding-left: 5px;
            width: 100%; }
          #items-container #item-list #search #sort-options .search-area input::-webkit-input-placeholder {
            line-height: normal !important; }
          #items-container #item-list #search #sort-options .search-area #input-div {
            margin-left: 20px; }
          #items-container #item-list #search #sort-options .search-area ::-webkit-input-placeholder {
            color: #b3b3b3; }
          #items-container #item-list #search #sort-options .search-area :-moz-placeholder {
            color: #b3b3b3;
            opacity: 1; }
          #items-container #item-list #search #sort-options .search-area ::-moz-placeholder {
            color: #b3b3b3;
            opacity: 1; }
          #items-container #item-list #search #sort-options .search-area :-ms-input-placeholder {
            color: #b3b3b3; }
          #items-container #item-list #search #sort-options .search-area #search-clear {
            cursor: pointer;
            display: none;
            float: right;
            position: relative;
            top: -24px;
            padding-right: 5px;
            width: 10%; }
          #items-container #item-list #search #sort-options .search-area #item-search {
            cursor: pointer;
            font-size: 12px;
            padding-left: 7px;
            padding-top: 11px;
            vertical-align: middle; }
        #items-container #item-list #search #sort-options .search-area.add-background {
          width: 290px !important; }
          #items-container #item-list #search #sort-options .search-area.add-background input {
            -moz-transition: width .35s linear;
            -o-transition: width .35s linear;
            -webkit-transition: width .35s linear;
            transition: width .35s linear;
            visibility: visible !important; }
          #items-container #item-list #search #sort-options .search-area.add-background .placeholder {
            color: inherit;
            height: 34px;
            line-height: 34px;
            padding-left: 5px;
            position: absolute;
            top: 0; }
          #items-container #item-list #search #sort-options .search-area.add-background input.show {
            visibility: visible !important; }
          #items-container #item-list #search #sort-options .search-area.add-background input::-ms-clear {
            display: none !important; }
        #items-container #item-list #search #sort-options .search-area.focusdiv {
          border-radius: 2px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px; }
    #items-container #item-list #items {
      border: none;
      padding-right: 2px;
      width: 100% !important;
      position: inherit;
      display: block;
      height: 599px; }
      #items-container #item-list #items .e-gridheader, #items-container #item-list #items .e-pager {
        display: none; }
      #items-container #item-list #items .e-gridcontent {
        background: #3A404B !important;
        width: 100% !important; }
        #items-container #item-list #items .e-gridcontent .e-table {
          width: 100% !important; }
          #items-container #item-list #items .e-gridcontent .e-table .emptyrecord {
            text-align: center;
            padding: 10px;
            font-size: 13px; }
        #items-container #item-list #items .e-gridcontent .e-row td {
          border-bottom: 1px solid #555B63; }
        #items-container #item-list #items .e-gridcontent .e-row .e-rowcell {
          background: #3A404B;
          border: none;
          color: #f9f9f9;
          padding: 0 8px 0 12px; }
          #items-container #item-list #items .e-gridcontent .e-row .e-rowcell:hover {
            background: #454C56; }
          #items-container #item-list #items .e-gridcontent .e-row .e-rowcell .item-link {
            cursor: pointer;
            border-bottom: 1px solid #555B63;
            color: inherit;
            display: inline-block;
            padding: 0px 0px 10px 0px;
            text-decoration: none !important;
            outline: none;
            width: 100%; }
            #items-container #item-list #items .e-gridcontent .e-row .e-rowcell .item-link .options-area {
              padding: 5px; }
            #items-container #item-list #items .e-gridcontent .e-row .e-rowcell .item-link .name-and-options {
              padding: 0 0 6px !important;
              cursor: pointer; }
              #items-container #item-list #items .e-gridcontent .e-row .e-rowcell .item-link .name-and-options .item-name {
                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
                overflow: hidden;
                padding-top: 10px !important;
                text-overflow: ellipsis;
                white-space: nowrap; }
              #items-container #item-list #items .e-gridcontent .e-row .e-rowcell .item-link .name-and-options .multitab-icon {
                float: right;
                padding-top: 8px; }
            #items-container #item-list #items .e-gridcontent .e-row .e-rowcell .item-link .item-info {
              padding: 0; }
              #items-container #item-list #items .e-gridcontent .e-row .e-rowcell .item-link .item-info .owner-name, #items-container #item-list #items .e-gridcontent .e-row .e-rowcell .item-link .item-info time {
                color: #A7ADB1;
                font-size: 10px;
                font-weight: 600; }
              #items-container #item-list #items .e-gridcontent .e-row .e-rowcell .item-link .item-info .owner-name {
                float: left; }
              #items-container #item-list #items .e-gridcontent .e-row .e-rowcell .item-link .item-info .modified-time {
                display: inline-block;
                text-align: right;
                padding-right: 5px !important; }
            #items-container #item-list #items .e-gridcontent .e-row .e-rowcell .item-link .options {
              display: none;
              padding-top: 10px !important;
              float: right; }
          #items-container #item-list #items .e-gridcontent .e-row .e-rowcell .options {
            color: #b3b3b3;
            display: inline-block;
            font-size: 12px;
            text-align: center; }
        #items-container #item-list #items .e-gridcontent .e-row .e-rowcell.e-active {
          background-color: #a7acb0 !important; }
          #items-container #item-list #items .e-gridcontent .e-row .e-rowcell.e-active .name-and-options {
            color: #6d6e70; }
          #items-container #item-list #items .e-gridcontent .e-row .e-rowcell.e-active .item-info .owner-name, #items-container #item-list #items .e-gridcontent .e-row .e-rowcell.e-active .item-info time {
            color: #696969; }
          #items-container #item-list #items .e-gridcontent .e-row .e-rowcell.e-active .options {
            color: #6d6e70;
            font-size: 12px;
            display: inline-block;
            text-align: center; }
          #items-container #item-list #items .e-gridcontent .e-row .e-rowcell.e-active:hover {
            background-color: #a7acb0; }
            #items-container #item-list #items .e-gridcontent .e-row .e-rowcell.e-active:hover .name-and-options {
              color: #6d6e70; }
            #items-container #item-list #items .e-gridcontent .e-row .e-rowcell.e-active:hover .item-info .owner-name, #items-container #item-list #items .e-gridcontent .e-row .e-rowcell.e-active:hover .item-info time {
              color: #696969; }
            #items-container #item-list #items .e-gridcontent .e-row .e-rowcell.e-active:hover .options {
              color: #6d6e70;
              display: inline-block;
              text-align: center;
              font-size: 12px; }
        #items-container #item-list #items .e-gridcontent tr td {
          overflow: visible; }
          #items-container #item-list #items .e-gridcontent tr td .dropdown-menu {
            left: auto;
            right: 33%;
            min-width: 70px;
            padding: 3px 0px; }
            #items-container #item-list #items .e-gridcontent tr td .dropdown-menu li {
              line-height: 28px; }
            #items-container #item-list #items .e-gridcontent tr td .dropdown-menu li > span {
              color: #333;
              display: inline-block;
              padding: 5px 10px;
              font-weight: 400;
              line-height: 1.42857; }
        #items-container #item-list #items .e-gridcontent tr .emptyrecord {
          color: #f9f9f9; }
      #items-container #item-list #items .e-pagerstatusbar {
        display: none !important; }
    #items-container #item-list .e-scrollbar.e-vscrollbar {
      width: 4px !important; }
      #items-container #item-list .e-scrollbar.e-vscrollbar .e-vscroll {
        border: none;
        float: right;
        vertical-align: top;
        width: inherit; }
        #items-container #item-list .e-scrollbar.e-vscrollbar .e-vscroll .e-vup, #items-container #item-list .e-scrollbar.e-vscrollbar .e-vscroll .e-vdown {
          display: none !important;
          height: 0 !important; }
        #items-container #item-list .e-scrollbar.e-vscrollbar .e-vscroll .e-vhandlespace {
          background: #3A404B; }
          #items-container #item-list .e-scrollbar.e-vscrollbar .e-vscroll .e-vhandlespace .e-vhandle {
            background: #eeeeee;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            border-bottom: 1px solid #f2f2f2;
            border-top: 1px solid #f2f2f2; }
        #items-container #item-list .e-scrollbar.e-vscrollbar .e-vscroll .e-icon {
          display: block;
          width: 100% !important;
          position: relative; }
    #items-container #item-list .e-scrollbar.e-hscrollbar {
      display: none !important;
      width: 8px !important; }
      #items-container #item-list .e-scrollbar.e-hscrollbar .e-hscroll {
        border: none; }
        #items-container #item-list .e-scrollbar.e-hscrollbar .e-hscroll .e-hup, #items-container #item-list .e-scrollbar.e-hscrollbar .e-hscroll .e-hdown {
          display: none !important;
          height: 0 !important; }
        #items-container #item-list .e-scrollbar.e-hscrollbar .e-hscroll .e-hhandlespace {
          background: #3A404B; }
          #items-container #item-list .e-scrollbar.e-hscrollbar .e-hscroll .e-hhandlespace .e-hhandle {
            background: #f2f2f2;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            border-bottom: 1px solid #f2f2f2;
            border-top: 1px solid #f2f2f2; }

.display-none {
  display: none !important; }

#preview-container {
  background: #f9f9f9;
  height: 100%; }
  #preview-container #header-menu {
    height: 50px;
    font-size: 12px; }
    #preview-container #header-menu #item-container {
      padding-top: 15px; }
      #preview-container #header-menu #item-container #preview-item-name {
        font-weight: bold; }
      #preview-container #header-menu #item-container a span {
        color: dimgray; }
      #preview-container #header-menu #item-container a:hover span {
        color: #0565ff; }
    #preview-container #header-menu #owner-container {
      padding-top: 10px; }
  #preview-container #preview {
    height: 460px;
    width: 560px;
    margin-top: 30px;
    position: inherit;
    display: block; }
    #preview-container #preview .e-dbrd-control-menu, #preview-container #preview .e-dbrd-control-small-menu, #preview-container #preview .e-dbrd-banner-menu, #preview-container #preview .e-dbrd-inactive-header-Menu-button, #preview-container #preview #preview_tabExport {
      display: none !important; }
  #preview-container #select-item {
    font-size: 12px;
    position: absolute;
    top: 48%;
    left: 40%;
    padding: 7px;
    background-color: #eeeeee; }
  #preview-container #disabled-preview {
    font-size: 12px; }
    #preview-container #disabled-preview #load-preview {
      position: absolute;
      top: 50%;
      left: 44%;
      z-index: 10; }
  #preview-container #view-denied {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 550px; }
  #preview-container #buttons {
    padding-top: 15px; }
    #preview-container #buttons #add-button {
      margin-right: 10px; }
