@import  "Mixins.scss";

#version-window-container {
    @include modal($app-text-size, $textbox-height);

    .modal {
        display: flex;
        position: relative !important;

        .modal-dialog {
            height: 584px;
            margin: 0 !important;
            padding: 0;
            width: 100%;

            .modal-content {
                height: 584px;
                border-radius: 0px;
                border: 0px;
                padding: 0px;

                .modal-header {
                    border: none;
                    height: 50px;
                    padding: 10px !important;

                    .header-icon {
                        padding: 3px 3px 3px 0;
                        width: 20px;
                    }

                    .modal-title {
                        font-weight: 500;
                    }
                }

                .modal-body {
                    height: 484px;
                    max-height: 484px;
                    padding: 10px;
                    overflow-y: auto;

                    .nav-tabs {
                        .versions-tab {
                            margin-left: 20px;
                        }

                        li {
                            a {
                                font-size: 14px;
                                color: $primary-text-color;
                            }
                        }

                        .active {
                            a {
                                font-size: 14px;
                                color: $primary-btn-bg;
                            }
                        }
                    }

                    .version-container-padding {
                        padding: 20px 0;

                        #item-version-container {
                            #grid, #loggrid {
                                .dropdown {
                                    position: absolute;

                                    .dropdown-menu {
                                        left: -136px;
                                    }
                                }

                                .e-headercell {
                                    .e-headercelldiv[ej-mappingname='Comment'] {
                                        cursor: default;
                                    }
                                    &:last-child {
                                        cursor: default;
                                    }
                                }
                            }
                        }

                        #item-log-container {
                            #grid, #loggrid {
                                .dropdown {
                                    position: absolute;

                                    .dropdown-menu {
                                        left: -136px;
                                        margin: 0;
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }

                    .e-gridcontent {
                        height: auto !important;

                        .e-content {
                            width: 100% !important;
                        }
                    }
                }

                .modal-footer {
                    height: 50px;
                    padding: 10px;

                    .margin-top {
                        margin-top: 2px;
                    }
                }

                .secondary-button {
                    @include button($secondary-btn-bg, $secondary-btn-text-color, $secondary-btn-hover, $btn-height-normal, false);
                    border: 1px solid $secondary-btn-border;
                    padding: 0 15px;

                    &:hover {
                        border: 1px solid $secondary-btn-border;
                        background: $secondary-btn-hover;
                        color: $secondary-btn-text-color;
                    }
                }
            }
        }
    }
}

#loggrid_WaitingPopup{
    display:none !important;
}

.e-hscrollbar{
        display: none !important;
    }

@media screen and (min-width: 1200px){
    #version-window-container {
        .modal-title {
            font-size: $app-large-text-size !important;
        }

        .modal-body {
            .nav-tabs {
                li {
                    a {
                        font-size: 12px !important;
                    }
                }

                .active {
                    a {
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px){
    #version-window-container {
        .modal-title {
            font-size: $app-large-text-size + 2 !important;
        }

        .modal-body {
            h4 {
                font-size: 14px !important;
            }

            font-size: 14px !important;

            .nav-tabs {
                li {
                    a {
                        font-size: 14px !important;
                    }
                }

                .active {
                    a {
                        font-size: 14px !important;
                    }
                }
            }
        }

        .secondary-button {
            height: 28px !important;
            line-height: 28px !important;            
        }
    } 
}