#limit-user_wrapper .e-dialog {
  padding: 0;
  display: block; }
  #limit-user_wrapper .e-dialog .modal-dialog {
    border-radius: 0px;
    display: block;
    height: auto;
    min-height: 120px;
    margin: 0px;
    width: 378px; }
    #limit-user_wrapper .e-dialog .modal-dialog .modal-content {
      border: none; }
    #limit-user_wrapper .e-dialog .modal-dialog .modal-header {
      border-bottom: 0;
      padding: 10px; }
      #limit-user_wrapper .e-dialog .modal-dialog .modal-header .su-close {
        color: #4d4d4d;
        cursor: pointer;
        font-size: 14px; }
      #limit-user_wrapper .e-dialog .modal-dialog .modal-header a.close {
        color: #333;
        font-size: 14px;
        opacity: 1;
        filter: none !important; }
        #limit-user_wrapper .e-dialog .modal-dialog .modal-header a.close:hover {
          color: #1a1a1a; }
      #limit-user_wrapper .e-dialog .modal-dialog .modal-header .modal-title {
        font-size: 14px; }
        #limit-user_wrapper .e-dialog .modal-dialog .modal-header .modal-title head-icon {
          padding-right: 7px; }
    #limit-user_wrapper .e-dialog .modal-dialog .modal-body {
      padding: 0px !important;
      font-size: 12px; }
      #limit-user_wrapper .e-dialog .modal-dialog .modal-body .limit-user-body {
        text-align: center; }
    #limit-user_wrapper .e-dialog .modal-dialog .modal-footer {
      border-top: 1px solid #e2e2e2;
      background-color: #f2f2f2;
      margin-top: 25px;
      padding: 12.5px 10px;
      text-align: right; }
      #limit-user_wrapper .e-dialog .modal-dialog .modal-footer .primary-button {
        margin-right: 10px; }

#limit-user_wrapper .groupmsg-box-height {
  height: auto !important; }

#limit-user_wrapper .e-scrollbar {
  height: 0px !important; }
