@import  "Mixins.scss";

#limit-user_wrapper {
    .e-dialog {
        padding: 0;
        display: block;

        .modal-dialog {
            border-radius: 0px;
            display: block;
            height: auto;
            min-height: 120px;
            margin: 0px;
            width: 378px;

            .modal-content {
                border: none;
            }

            .modal-header {
                border-bottom: 0;
                padding: 10px;

                .su-close {
                    color: $icon-color;
                    cursor: pointer;
                    font-size: 14px;
                }

                a.close {
                    color: $primary-text-color;
                    font-size: $app-large-text-size;
                    opacity: 1;
                    filter: none !important;

                    &:hover {
                        color: $icon-hover-color;
                    }
                }

                .modal-title {
                    font-size: $app-large-text-size;

                    head-icon {
                        padding-right: 7px;
                    }
                }
            }

            .modal-body {
                padding: 0px !important;
                font-size: $app-text-size;

                .limit-user-body {
                    text-align: center;
                }
            }

            .modal-footer {
                border-top: 1px solid $footer-border-color;
                background-color: $dialog-footer-bgcolor;
                margin-top: 25px;
                padding: 12.5px 10px;
                text-align: right;

                .primary-button {
                    margin-right: 10px;
                }
            }
        }
    }

    .groupmsg-box-height {
        height: auto !important;
    }

    .e-scrollbar {
        height: 0px !important;
    }
}
