@import "Themes/Default.scss";
@import "Variables/FontSize.scss";
@import "Variables/ElementSize.scss";
@import "../../Fonts/variables.scss";

@mixin button($background: $primary-btn-bg, $color: $primary-btn-text-color, $hover: $primary-btn-hover, $height: $btn-height-normal, $icon: false) {
    background: $background;
    border: 0;
    border-radius: 4px;
    color: $color;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: $height;
    line-height: $height;
    min-width: $btn-min-width;
    outline: none;
    text-align: center;

    @if $icon == true {
        padding: 0 0 0 15px;
    }

    @if $icon == false {
        padding: 0 15px;
    }

    @if $icon == true {
        span {
		padding-right: 15px;
		}
    }
	
    @if $icon == true {
        i {
		display: inline-block;
        width: 15px;
		}
    }

    &:hover, &:focus {
        background: $hover;
        color: $color;
    }

    &:disabled {
        background: $primary-btn-disabled-bg;
        border: $primary-btn-disabled-border;
        color: $primary-btn-disabled-color;
        cursor: default;
    }
}

@mixin dialogbox() {
    .modal-dialog {
        margin: 0 auto;
        padding: 0;
        border-radius: 2px;

        .modal-content {
            border: none;

            .modal-header {
                background: $dialog-header-bgcolor;
                padding: 10px;
                width: 100%;
                z-index: 9;
                float: left;
                margin: 0;
                border-bottom: medium none;
                height: 50px;

                .modal-title {
                    font-size: $app-large-text-size;
                    padding: 0;
                }

                a.close {
                    color: $icon-color;
                    float: right;
                    font-size: $app-large-text-size;
                    margin: 0;
                    opacity: 1;
                    filter: none !important;

                    &:hover {
                        color: $icon-hover-color;
                    }
                }
            }

            .modal-body {
                background: $dialog-body-bgcolor;
                font-size: $app-text-size;
                padding: 10px;
            }

            .modal-footer {
                background: $dialog-footer-bg-color;
                border-top: 1px solid $dialog-border-color;
                padding: 10px;

                .primary-button, .critical-action-button {
                    margin-right: 10px;
                }
            }
        }
    }

    .e-scrollbar {
        display: none !important; /*To override style from script*/
    }
}

@mixin submenu-item($default: $primary-text-color, $hover: $menu-hover-text-color, $active: $menu-active-text-color) {
    a {
        color: $default;
        cursor: pointer;
        display: inline-block;
        font-size: $app-text-size;
        font-weight: 400;
        height: inherit;
        overflow: hidden;
        outline: none;
        padding: 0 15px;
        position: relative;

        i {
            font-size: $app-large-text-size + 2;
            padding-right: 15px;
        }

        &:before {
            bottom: 0;
            content: "";
            height: 3px;
            position: absolute;
            left: 50%;
            right: 50%;
            -webkit-transition-property: left, right;
            transition-property: left, right;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:hover, &:focus {
            &:before {
                background: $hover;
                left: 0;
                right: 0;
            }
        }

        &.active {
            color: $active;

            &:before {
                background: $active;
                left: 0;
                right: 0;
            }
        }
    }
}

@mixin app-header($height: $header-height) {
    background-color: $header-bg;
    color: $header-text-color;
    height: $height;
    position: fixed;
    width: 100%;
    z-index: 1050;

    .header-bar {
        margin: 0;
        padding: 0;

        .main-screen-logo {
            float: left;
            padding: 5px;

            #application-logo {
                height: $height - 10;
                height: $height - 10;
            }

            .application-logo-svg {
                height: $height - 20 !important;
                margin: 4px 0 0 4px;
            }
        }

        .org-name-wrapper {
            display: inline-block;
            padding-left: 10px;

            .header-org-name {
                display: table-cell;
                height: $height;
                margin: 0;
                vertical-align: middle;
            }
        }

        #upload-item-section {
            height: 40px;

            .add-button {
                padding: 5px 10px 4px 10px;
                margin: 6px 10px 0 0;
                border-radius: 7px;
                display: block;
                color: #fff;
                cursor: pointer;
                height: 28px;
                line-height: 18px;
                text-align: center;
                background-color: transparent;

                .su-add {
                    background-color: $primary-btn-text-color;
                    color: $header-bg;
                    margin-right: 5px;
                    font-size: 12px;
                    padding: 2px;
                    border-radius: 3px;
                }

                .su-vertical-expand {
                    color: $primary-btn-text-color;
                    font-size: 8px;
                }
            }

            .add-button:hover {
                background-color: lighten($item-panel-bg, 10%);
            }

            #add-menus {
                right: 10px;
                top: 47px;
                margin-top: -5px;
                min-width: 180px;

                li:hover {
                    cursor: pointer;

                    ul {
                        display: block;
                    }
                }

                li {
                    height: 28px;

                    a {
                        padding: 4px 10px;

                        span {
                            font-size: 12px;
                            letter-spacing: 0.3px;
                            line-height: 18px;
                        }

                        i {
                            font-size: 12px;
                            padding: 0px 5px 0px 0px;
                        }
                    }
                }

                li.divider {
                    height: 1px;
                    margin: 3px 0;
                }

                li {
                    a.dropdown-toggle {
                        display: table;

                        i {
                            padding: 0 10px;
                        }

                        .su-angle-right {
                            display: table-cell;
                            vertical-align: middle;
                            text-align: right;
                            font-size: 16px;
                        }
                    }
                }

                .dropdown-submenu {
                    height: 34px;

                    a {
                        &:hover {
                            background-color: white;
                            cursor: default;
                        }

                        span {
                            font-size: 12px;
                            font-weight: 600;
                            letter-spacing: 0.3px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }

        #upload-item-section.open {
            .add-button {
                background-color: $primary-color;

                .su-add {
                    color: $primary-color;
                }
            }
        }

        .user-account {
            float: right;

            .profile-picture {
                img {
                    cursor: pointer;
                    height: $header-height;
                    width: $header-height;
                }
            }

            #profile-info-section {
                left: auto;
                right: 0;
                padding: 0;
                white-space: nowrap;
                width: $profile-info-width;
                border: none;

                .profile-info {
                    padding: 0;

                    .profile-picture-area {
                        padding: 10px;

                        img {
                            border-radius: 50%;
                            height: 48px;
                            width: 48px;
                        }
                    }

                    .profile-info-area {
                        overflow: auto;
                        padding-right: 10px;

                        ul {
                            list-style: none;

                            #profile-name {
                                color: $primary-text-color;
                                font-size: $app-large-text-size;
                                font-weight: 500;
                                height: auto;
                                margin-top: 10px;
                                width: $profile-info-width - 75;
                                @include ellipses();
                            }

                            #profile-email {
                                color: $profile-email-color;
                                font-size: $app-text-size;
                                font-weight: 400;
                                width: $profile-info-width - 75;
                                @include ellipses();
                            }
                        }
                    }
                }

                .profile-buttons {
                    a {
                        color: $profile-btn-text-color;
                        padding: 10px 20px;
                        cursor: pointer;
                        font-size: 13px;
                        letter-spacing: 0.3px;
                        line-height: 20px;

                        &.separator {
                            padding: 0;
                            border-bottom: 1px solid $profile-border-color;

                            &.top {
                                margin-bottom: 5px;
                            }

                            &.middle {
                                margin: 5px 0;
                            }

                            &.bottom {
                                border: 0;
                                margin-bottom: 5px;
                            }
                        }

                        &:hover {
                            background: $profile-hover-color;
                        }
                    }
                }
            }
        }

        #notification-section {
            cursor: pointer;
            display: table;
            height: $header-height;
            width: $header-height;

            &:hover {
                background-color: lighten($item-panel-bg, 10%);

                #notification-link {
                    #notification-indicator {
                        border-color: lighten($item-panel-bg, 10%);
                    }
                }
            }

            #notification-link {
                display: table-cell;
                height: inherit;
                margin: 0 auto;
                position: relative;
                text-align: center;
                vertical-align: middle;
                width: inherit;

                #notification-icon {
                    color: $primary-btn-text-color;
                    display: inline-block;
                    height: $header-height;
                    width: $header-height;
                    line-height: $header-height;
                    font-size: 17px;
                }

                #notification-indicator {
                    background: $unread-notification-color;
                    border-radius: 10px;
                    display: block;
                    font-size: 9px;
                    left: 21px;
                    line-height: 5px;
                    padding: 3px;
                    position: absolute;
                    top: 9px;
                }
            }
        }

        #feedback-section {
            cursor: pointer;
            display: table;
            height: $header-height;
            width: $header-height;

            &:hover {
                background-color: lighten($item-panel-bg, 10%);
            }

            #feedback-link {
                display: table-cell;
                height: inherit;
                margin: 0 auto;
                position: relative;
                text-align: center;
                vertical-align: middle;
                width: inherit;

                #feedback-icon {
                    color: $primary-btn-text-color;
                    display: inline-block;
                    height: $bullhorn-height;
                    width: $header-height;
                    line-height: $header-height;
                }

                #bullhorn_img {
                    font-size: 16px;
                }
            }
        }
    }
}

@mixin app-menu($height: $menu-height, $width: $menu-width, $icon-size: $icon-size) {
    background-color: $menu-bg;
    color: $menu-icon-color;
    height: 100%;
    margin-top: $height;
    position: fixed;
    width: $width;
    z-index: 2;

    .menu-bar {
        ul {
            float: left;
            list-style-type: none;
            padding: 0;
            width: $width;
            margin-top: 10px;

            li {
                display: table;

                &.nav-icon-separator {
                    padding: 15px;

                    .separator-div {
                        background-image: linear-gradient(-180deg,rgba(255,255,255,0.00) 2%,#CCCCCC 41%,#CCCCCC 58%,rgba(255,255,255,0.00) 98%);
                        display: table-cell;
                        height: 1px;
                        width: $separator-width;
                    }
                }

                &.active {
                    a {
                        background-color: $menu-active-bg;

                        .su {
                            color: $menu-new-active-icon-color;
                        }

                        .path1:before {
                            color: $menu-new-active-icon-color;
                        }

                        .menu-label {
                            color: $menu-new-active-icon-color;
                        }
                    }

                    &:hover {
                        background-color: $menu-hover-bg-color;

                        .su {
                            border-radius: 5px;
                            color: $primary-color;
                        }
                    }
                }

                a {
                    color: $menu-icon-color;
                    display: table-cell;
                    height: 55px;
                    text-align: center;
                    vertical-align: middle;
                    width: $width;

                    &:hover {
                        background-color: $menu-hover-bg-color;

                        .su {
                            border-radius: 5px;
                            color: $menu-hover-color;
                        }
                    }

                    .su {
                        font-size: $icon-size;
                        display: block;
                        padding: 5px 10px;
                    }

                    .menu-label {
                        color: $menu-label-color;
                        display: block;
                        font-size: 9px;
                        text-align: center;
                    }
                }
            }
        }

        #administration-menu {
            position: fixed;
            margin: 0;
            bottom: 0;
            padding-bottom: 10px;

            li.help-option {
                cursor: pointer;

                a {
                    font-size: 24px;
                }

                ul {
                    padding: 10px 0 5px 0;
                    left: 40px;
                    margin: 0;
                    bottom: 0;
                    min-width: 180px;

                    li {
                        padding: 5px 20px;

                        a {
                            height: auto;
                            text-align: left;
                            font-size: 14px;
                            font-weight: 100;
                            padding: 0;
                        }

                        &:hover {
                            background: none;
                        }
                    }

                    .option-title {
                        a {
                            cursor: default;
                            font-weight: bolder;
                        }
                    }

                    .su-open-link-newtab {
                        display: inline-block;
                        font-size: 12px;
                        padding: 0 0 0 5px;
                    }
                }
            }
        }
    }
}

@mixin admin-page-template() {
    padding: 20px 20px 20px 30px;

    .admin-page-header {
        border-bottom: 1px solid #e2e2e2;
        margin: 0 0 20px 0;
        padding: 0 0 20px 0;

        .back-button {
            color: $sub-text-color;
            font-size: $app-large-text-size + 6;
            line-height: 1;
            margin-right: 5px;
            padding: 7px 7px 4px 7px;

            &:hover {
                background: $dashboard-search-bg-color;
                border-radius: 4px;
            }

            &:active {
                background: $border-color;
            }
        }

        .page-title {
            font-size: $app-large-text-size;
            font-weight: 700;
            padding-left: 0px;
            margin-bottom: 5px;
            margin-top: 0;
        }

        .page-description {
            margin: 0;
            padding: 0;
            font-size: $app-text-size;
        }

        .primary-button,
        .secondary-button {
            margin-left: 15px;
        }
    }

    .admin-page-body {
        background-color: $admin-page-bg;
        border: 1px solid $admin-body-border-color;
        border-radius: 4px;
        font-size: $app-text-size;
        float: left;
        margin-bottom: 80px;
        margin-top: 0px;
        padding: 20px;
        position: relative;
        width: 100%;

        .input-field-wrapper {
            margin-bottom: 15px;
        }

        .app-textbox-label {
            font-size: $app-text-size;
            font-weight: normal;
            line-height: $textbox-height;
            margin: 0;
            text-align: right;
        }

        #txt_welcome_note {
            resize: vertical;
        }

        .info-text {
            color: $sub-text-color;
            font-size: $app-text-size - 1;
        }

        .field-container {
            margin-bottom: 8px;
            margin-top: 0px;
            padding-left: 10px;
        }

        .bootstrap-select {
            padding-left: 0;
        }

        .form-control {
            font-size: $app-text-size;
            height: $textbox-height;
        }

        .validation-errors, .validation-message {
            color: $validation-text-color;
            font-size: $validation-text-size;
        }

        .show-hide-password {
            @include show-or-hide-password();
        }

        .form-input-field {
            button[data-toggle="dropdown"] {
                font-size: $app-text-size - 1;
            }
        }

        .dropdown-menu a span {
            font-size: $list-content-size;
        }
        // To vertically center the switch for the label
        .switch-align {
            margin-top: 8px;
        }
    }

    .admin-page-actions {
        margin-top: -50px;
        padding: 0 0 30px 0;

        .primary-button,
        .secondary-button {
            margin-left: 15px;
        }
    }

    @media screen and (max-width: 1040px) {
        .admin-page-header {
            margin: 0 0 15px 0;
            padding: 0 0 10px 0;
        }
    }
}

//Checkbox material design class
@mixin material-checkbox-controls($active: $primary-btn-bg, $default: $secondary-btn-border, $checkbox-tick: $primary-btn-text-color) {
    & + input + label {
        position: relative;
        padding: 5px 0 0 18px !important;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        margin: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        &::after {
            border-radius: 3px;
        }

        &::before, &::after {
            content: '';
            left: 0;
            position: absolute;
            -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
            transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
            z-index: 1;
        }
    }

    &:not(:checked) + input + label::before {
        width: 0;
        height: 0;
        border: 3px solid transparent;
        left: 6px;
        top: 10px;
    }

    &:not(:checked) + input + label::after {
        height: 16px;
        width: 16px;
        background-color: $checkbox-bg;
        border: 2px solid $default;
        top: 0px;
        z-index: 1;
        margin-top: 7px;
        margin-bottom: 2px;
    }

    &:checked + input + label::before {
        bottom: 14px;
        color: $checkbox-tick;
        content: $su-tick;
        font-family: "Server";
        height: 10px;
        width: 5px;
    }

    &:checked + input + label::after {
        top: 0;
        width: 16px;
        height: 16px;
        border: 1.5px solid $primary-btn-border;
        background-color: $active;
        z-index: 0;
        margin-top: 7px;
        margin-bottom: 2px;
    }

    &:disabled + input + label::after {
        background-color: $submit-button-disabled;
        border: 1px solid $default;
    }

    &:not(:checked):disabled + input + label::after {
        background-color: $submit-button-disabled;
        border: 1px solid $default;
    }

    &:not(:checked), &:checked {
        position: absolute;
        left: -9999px;
        opacity: 0;
    }
}

//Radio button material design class

@mixin material-radiobutton-controls($active: $primary-btn-bg, $default: $admin-pages-border-color, $button-bg: $primary-btn-text-color) {
    display: none;

    & + label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 30px !important;

        &:before {
            content: "";
            display: inline-block;
            width: 23px;
            height: 21px;
            margin-top: 3px;
            margin-right: 10px;
            position: absolute;
            left: 0;
            border-radius: 50%;
            border: 2px solid lightgrey;
            background-color: $button-bg;
        }
    }

    &:checked + label:before {
        content: "\2022";
        color: $active;
        font-family: monospace;
        background-color: $button-bg;
        font-size: 29px;
        text-align: center;
        line-height: 15px;
        border: 2px solid $active;
    }

    &:disabled + label:before {
        background-color: #FFF;
        border: 2px medium $default;
        cursor: default;
    }

    &:disabled:checked + label:before {
        color: $default;
        border: 2px solid $default;
        background-color: white;
        cursor: default;
    }
}

@mixin grid($border-color: $grid-border-color, $header-bg: $grid-header-bg, $header-text-color: $grid-header-color, $text-color: $grid-text-color, $link-color: $grid-link-color, $header-font-size: 14px, $content-font-size: 12px) {
    .e-gridheader {
        border-bottom: 2px solid $grid-border-color;

        .e-table {
            .e-columnheader {
                .e-headercell {
                    background-color: $grid-header-bg;
                    height: 50px;

                    .e-headercelldiv {
                        font-family: inherit;
                        font-size: $header-font-size;
                        font-weight: 600;
                        color: $header-text-color;
                    }
                }
            }
        }
    }

    .e-gridcontent {
        e-table {
            .e-rowcell {
                border-color: $grid-border-color;
                font-size: $content-font-size;
                font-weight: 400;
                font-family: inherit;
                white-space: normal;
                word-break: break-all;

                .dropdown-menu {
                    a {
                        color: #1b1c1c;
                    }
                }

                a {
                    color: $grid-link-color;
                    white-space: normal;
                    word-break: break-all;
                }
            }

            .e-active {
                a {
                    color: #fff;
                }

                .dropdown-menu {
                    a {
                        color: #1b1c1c;
                    }
                }
            }

            .e-alt_row {
                background-color: #fff;

                .dropdown-menu {
                    a {
                        color: #1b1c1c;
                    }
                }

                &:hover {
                    background-color: #f7f7f7;
                }
            }

            .dropdown {
                hr {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    margin-left: -5px;
                    margin-right: -5px;
                }
            }

            .emptyrecord {
                padding: 10px 10px 10px 38px;
            }
        }
    }

    .e-pager {
        font-family: inherit;
        height: 25px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
}

@mixin dialog($dialog-font-size, $dialog-validation-size, $dialog-text-box) {
    .form-control {
        border-radius: 0;
    }

    .dialog-header {
        font-size: $dialog-font-size + 2;
        padding: 10px 15px;

        .PopupTitle {
            vertical-align: top;
        }

        .report-name {
            font-size: $dialog-validation-size;
        }

        .PopupClose {
            color: $icon-color;
            float: right;
            font-size: $app-text-size + 3;

            &:hover {
                color: $icon-hover-color;
                text-decoration: none;
            }
        }
    }

    input[type="text"], button[type="button"] {
        height: $dialog-text-box;
    }

    .fileUpload {
        height: $dialog-text-box;
        padding: 0 18px;
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .padding20 {
        padding: 20px;
    }

    .padding-bottom20 {
        padding-bottom: 20px;
    }

    .no-bottom-padding {
        padding-bottom: 0 !important;
    }

    .no-top-padding {
        padding-top: 0 !important;
    }

    .no-left-padding {
        padding-left: 0 !important;
    }

    .no-right-padding {
        padding-right: 0 !important;
    }

    .rightAlign {
        text-align: right;
    }

    .bottom-margin30 {
        margin-bottom: 30px;
    }

    .padding10 {
        padding: 10px;
    }

    .bootstrap-select {
        width: 100% !important;
    }

    .bottom-margin35 {
        margin-bottom: 35px;
    }

    .dialog-body {
        font-size: $dialog-font-size;
        padding: 10px 15px;

        .bootstrap-select.btn-group .no-results {
            padding: 6px;
            margin: 0;
        }

        .validation-error {
            color: $validation-text-color;
            font-size: $validation-text-size;
            float: left;
            margin-top: -24px;
        }

        .filter-option {
            margin-top: -2px;
        }

        .text-label {
            margin: 5px 0 5px;
        }

        #filename, #name {
            cursor: pointer;
        }

        .permission-denied {
            padding: 10px;
            text-align: center;
        }

        .highlight-name {
            font-style: italic;
            color: $primary-btn-bg;
        }

        .mandatory {
            padding-left: 2px;
        }

        .text, .note {
            font-size: $dialog-font-size;
        }

        .bootstrap-select {
            padding: 0;
        }

        .help-text {
            font-size: $dialog-validation-size;
        }

        .help-text-mandatory {
            padding-right: 2px;
        }

        .padding-right-15 {
            padding-right: 15px;
        }
    }

    .dialog-footer {
        padding: 10px;
        background: $dialog-footer-bg-color none repeat scroll 0 0;
        border-top: 1px solid $dialog-border-color;
        bottom: 0;
        padding: 10px 15px;
        position: fixed;
        right: 0;
        width: 100%;

        .centerAlign {
            width: 100%;
            text-align: center;

            .PopupClose, .ItemPermissionPopupClose {
                float: none;
            }
        }

        .primary-button {
            margin-right: 10px;
        }
    }
}

@mixin show-or-hide-password() {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 9px;
}

//style for dialogpopup

@mixin modal($modal-font-size: $app-text-size, $modal-height: $textbox-height) {
    .modal-content {
        border-radius: 0;
        border: 0;
        padding: 0;

        .ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .modal-header {
            border: none;
            height: 50px;
            padding: 10px !important;

            .modal-title {
                font-size: $modal-font-size + 2;
                font-weight: 500;
            }

            .header-icon {
                padding: 3px 3px 3px 0;
                width: 20px;
            }

            .header-content {
                font-size: $modal-font-size - 2;
                font-weight: 400;
            }

            .popup-close {
                color: $icon-color;
                font-size: $app-text-size + 3;

                &:hover {
                    color: $icon-hover-color;
                    text-decoration: none;
                }
            }
        }

        .modal-body {
            font-size: $modal-font-size;
            padding: 10px;
            overflow-y: auto;

            * {
                outline: none !important;
            }

            #file-name {
                cursor: pointer;
            }

            .highlight-name {
                font-style: italic;
                color: $primary-btn-bg;
            }

            .selectpicker, .form-control {
                font-size: $modal-font-size;
            }

            .btn-default {
                height: $modal-height;

                .filter-option {
                    margin-top: -1px;
                }
            }

            .delete-msg {
                margin-top: 4px;
            }

            .validation-message {
                color: $validation-text-color;
                font-size: $modal-font-size - 2;
                float: left;
            }

            .app-textbox-label {
                font-weight: 400;
                font-size: $modal-font-size;
            }

            .info-text {
                font-size: $modal-font-size - 2;
            }
        }

        .modal-footer {
            background-color: $dialog-footer-bg-color;
            height: 50px;
            padding: 10px;

            .message-area {
                height: 35px;
                margin-top: -8px;

                .error-message, .success-message {
                    padding: 0px;
                    float: left;
                    text-align: left;
                    height: 44px;
                    width: 100%;
                    display: none;
                    word-wrap: break-word;
                }

                .success-message {
                    overflow: hidden;
                    position: relative;
                    text-overflow: ellipsis;
                }
            }

            .margin-right {
                margin-right: 10px;
            }

            .margin-top {
                margin-top: 0.5px;
            }
        }
    }
}


@mixin fluent-popup($popup-header-bg: $popup-header-bg, $popup-footer-bg: $popup-footer-bg, $popup-header-border: $popup-header-border, $popip-footer-border: $popup-header-border) {
    padding: 0 !important;

    .fluent-popup-header {
        background-color: $popup-header-bg;
        border-bottom: 1px solid $popup-header-border;
        margin: 0;
        height: 44px;
        padding-top: 2px;
        border-top: none;

        .popup-title {
            font-size: 14px;
            color: $primary-text-color;
            letter-spacing: 0.3px;
            line-height: 21px;
            font-weight: 600;
            margin-left: 12px;

            .popup-close {
                font-size: 16px;
                margin-right: 7px;
                opacity: 0.7;
                color: $icon-color;
                padding: 2px;

                &:focus {
                    outline: none !important;
                    outline-color: $popup-header-bg !important;
                    box-shadow: none !important;
                }

                &:hover {
                    color: $icon-hover-color !important;
                }
            }
        }
    }

    .fluent-popup-body {
        padding: 15px;
        background-color: #FFFFFF;

        .popup-label {
            font-size: 12px;
            color: #363636;
            margin: 0;
            font-weight: 200;
        }

        .popup-info {
            font-size: 10px;
            color: #31708f;
            letter-spacing: 0.3px;
            margin: 0;
            font-weight: 200;
        }
    }

    .fluent-popup-footer {
        background-color: $dialog-footer-bg-color;
        border-top: 1px solid $dialog-border-color;
        height: 48px;
        border-bottom: none;
    }
}

@mixin ellipses{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin item-name-style() {
    font-size: $primary-fontsize;
    font-weight: 600;
    color: $dashboard-primary-text-color;
    letter-spacing: 0.3px;
    line-height: 21px;
    @include ellipses;
}

@mixin item-subtext-style() {
    font-size: $secondary-fontsize;
    color: $dashboard-primary-text-color;
    letter-spacing: 0.3px;
    line-height: 18px;
    @include ellipses;
}

@mixin loading-fade() {
    .fd-post {
        margin: 15px 0;
        padding: 12px;
        width: 500px;
    }

    .fd-place-holder {
        overflow: hidden;
        height: 36px;
        background: #dbdbdb;
        position: relative;
    }

    .fd-place-holder::before {
        content: "";
        background-image: linear-gradient(to right,#DBDBDB 0%,#d4d4d4 20%,#e6e6e6 40%,#DBDBDB 100%);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        animation: 1s placeHolderShimmer linear infinite;
    }

    @keyframes placeHolderShimmer {
        0% {
            transform: translateX(-468px);
        }

        100% {
            transform: translateX(468px);
        }
    }

    .fd-place-holder div {
        background-color: $dashboard-list-bg-color;
        position: absolute;
        right: 0;
    }

    .fd-place-holder .fd-avatar {
        width: 40px;
        border: 8px solid white;
        top: -14px;
        left: -8px;
    }

    .fd-place-holder .fd-avatar.fd-round {
        border-radius: 50%;
    }

    .fd-place-holder .fd-divider-1 {
        height: 2px;
        top: 0;
        left: 0px;
    }

    .fd-place-holder .name {
        height: 6px;
        top: 8px;
        left: 136px;
    }

    .fd-place-holder .fd-divider-2 {
        height: 10px;
        top: 15px;
        left: 00px;
    }

    .fd-place-holder .fd-date-time {
        height: 13px;
        top: 2px;
        left: 190px;
    }

    .fd-place-holder .fd-divider-3 {
        height: 16px;
        top: 48px;
        left: 0px;
    }
}

@mixin bootstrap-selectpicker() {
    background-color: $dashboard-color-white !important;
    border-color: $highlight-list-item !important;

    .btn-default:focus {
        background-color: $dashboard-color-white !important;
        border-color: $highlight-list-item !important;
        outline: none !important;
    }

    &:active {
        background-color: $dashboard-color-white !important;
        border-color: $highlight-list-item !important;
    }

    &.open {
        .dropdown-toggle {
            background-color: $dashboard-color-white !important;
            box-shadow: none !important;
            border-color: $highlight-list-item !important;
        }
    }
}
