/*@import  "Mixins.scss";
@import  "Variables/FontSize.scss";
@import  "../Fonts/variables.scss";
@import "../Fonts/font-RobotoRegular.css";

.mobile-visible {
    display: none;
}

a:hover, a:focus {
    text-decoration: none !important;
}

.display-none {
    display: none !important;
}

#menu-area {
    @include app-menu();
    border-right: $nav-designer-border;
    margin-top: 0 !important;

    .menu-bar ul li a .concierge-su {
        font-weight: 600;
    }

    #items-menu, #administration-menu {
        li {
            line-height: 16px;
            margin: 4px 5px;

            a {
                border-radius: 4px;
            }
        }
    }
}

#dashboardDesigner, #datasourceDesigner {
    padding-left: $menu-width !important;
}

@media screen and (max-width: 1040px) {
    .cookie-notification {
        margin-left: 0px !important;
    }

    .mobile-visible {
        display: block;
    }

    .mobile-hidden {
        display: none !important;
    }

    .mobile-menu-icon {
        cursor: pointer;
        display: table;
        float: left;
        height: $menu-height;
        width: $menu-height;
        padding: 6px 8px;
        font-size: 20px;

        span {
            display: table-cell;
            vertical-align: middle;
        }
    }

    #mobile-profile-picture {
        height: 125px;
        overflow: hidden;

        .mobile-display-name {
            background: $AuthorColorOnSelect;
            color: $primary-btn-text-color;
            position: relative;
            padding: 5px 20px;
            opacity: 0.8;
            overflow: hidden;
            text-overflow: ellipsis;
            top: 95px;
            white-space: nowrap;
        }

        img {
            margin-top: -30px;
            width: 175px;
        }
    }

    #server-app-container {
        #menu-area {
            width: 175px;
            z-index: 1000;

            aside {
                height: 100%;
                width: 100%;

                #main-nav {
                    height: 100%;
                    overflow-x: hidden;
                    overflow-y: auto;
                    position: relative;
                    width: 100%;

                    #items-menu {
                        margin-top: 5px;
                        width: 100%;

                        .upper-divider {
                            vertical-align: bottom;
                            width: 175px;
                        }

                        .li-logout {
                            display: table !important;
                            position: absolute;
                            bottom: 0;
                        }

                        li {
                            width: inherit;
                            margin: 0;

                            &.active {
                                background: transparent;
                                border-left: 5px solid $primary-color;

                                a {
                                    i {
                                        padding-left: 5px !important;
                                    }
                                }
                            }

                            a {
                                display: inline-block;
                                height: 40px;
                                width: 100%;
                                padding-left: 10px;
                                padding-top: 12px;

                                i {
                                    float: left;
                                    padding: 0 10px;
                                }

                                span.menu-label {
                                    float: left;
                                    font-size: 14px;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1041px) and (max-width: 1399px) {
    #dashboardDesigner, #datasourceDesigner {
        padding-left: $menu-sm-width !important;
    }

    #menu-area {
        display: block;
        height: 100% !important;
        width: $menu-sm-width !important;

        .menu-bar {
            ul {
                li {
                    margin: 4px 0px !important;

                    &.active {
                        background-color: $menu-active-bg !important;

                        a {
                            background: transparent;
                        }
                    }

                    a {
                        height: $menu-sm-height !important;
                        border-radius: 0px !important;

                        .su {
                            font-size: $menu-sm-icon-size !important;
                        }

                        .menu-label {
                            font-size: $menu-sm-text-size !important;
                        }
                    }
                }
            }

            #main-nav {
                #items-menu, #administration-menu {
                    width: $menu-sm-width !important;
                    margin-top: 0px !important;
                }
            }
        }
    }

    #content-area {
        #server-items-container {
            .item-list-panel {
                width: 30%;
            }

            #item-viewer {
                width: 70%;
            }
        }
    }

    #header-area {
        .header-bar {
            #concierge-support-request {
                margin: 6px;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    #menu-area {
        @include app-menu($menu-lg-height, $menu-lg-width, $icon-large-size);
        display: block;
        height: 100% !important;
        border-right: $nav-designer-border !important;
        margin-top: 0 !important;
        padding-top: 0 !important;

        #items-menu {
            width: $menu-lg-width;
        }

        #administration-menu {
            width: $menu-lg-width;

            li.help-option {
                ul {
                    left: 55px !important;
                }
            }
        }

        #items-menu, #administration-menu {
            li {
                line-height: 16px;
                margin: 4px 5px;

                a {
                    border-radius: 4px;
                }
            }
        }
    }

    #server-app-container {
        #menu-area {
            #items-menu, #administration-menu {
                li {
                    line-height: 16px;

                    .menu-label {
                        font-size: 9px;
                    }
                }
            }
        }
    }
}*/
