@import  "Mixins.scss";
@import  "Variables/FontSize.scss";
@import  "../../Fonts/variables.scss";
@import "../Fonts/font-RobotoRegular.css";

.dashboard-server *, .base-comment-container *, .server-dashboard-view *, #viewShare_popup *, .schedule-dialog *, #get-item-link_wrapper *, #messageBox_wrapper *, #delete-div_wrapper *, #permission_delete_confirmation_wrapper *, #designer-header *{
    font-family: RobotoRegular;
}

.e-icon, .e-rte-toolbar-icon, .e-background-color, .e-font, .e-rte-footericon, .e-resize-handle {
    font-family: 'ej-webfont' !important;
}

html, body {
    height: 100%;
    width: 100%;
}

//Form control focus
body {
    .form-control, input[type="text"] {
        &:focus {
            border-color: $primary-color !important;
            box-shadow: none !important;
            outline: none !important;
            transition: all .3s linear;
        }

        & ~ .focusdiv {
            border: 0;
            box-shadow: none !important;
            outline: none !important;
            border-color: transparent;
        }
    }

    .has-error .form-control {
        &:focus {
            border-color: $validation-text-color !important;
            box-shadow: none !important;
            outline: none !important;
            transition: all .3s linear;
        }
    }

    input[type="text"] {
        &:focus {
            & ~ .su-search {
                border: 1px solid $primary-color !important;
                border-left: 0px !important;
            }

            & ~ .close-icon {
                border: 1px solid $primary-color !important;
                border-left: 0px !important;
            }
        }
    }
}

a:hover, a:focus {
    text-decoration: none !important;
}

//To hide default clear button in IE browsers
::-ms-clear {
    display: none;
}

@-ms-viewport {
    width: auto !important;
}

.dropdown {
    padding: 5px;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}


.form-control:disabled {
    cursor: default !important;
}

.disabled-lable-color {
    color: $tooltip-label-color;
}

.bootstrap-select.btn-group > .disabled {
    cursor: default !important;
}

//We are not using glyphicon font icons. This class will be used in bootstrap dropdown. To use tick icon we are overriding from our font file
.glyphicon-ok::before {
    content: $su-tick !important;
    font-family: "Server" !important;
    float: right;
}

.dropdown-menu {
    border-radius: 2px;
    padding: 5px 0;

    li {
        height: 30px;
        width: 100%;

        > a, > span {
            color: $primary-text-color !important;
            padding: 5px 10px;
            width: 100%;

            i {
                font-size: 14px;
                padding: 0 10px;

                i {
                    padding: 0;
                }
            }

            span {
                font-size: $app-text-size;
                font-weight: 400;
            }

            &:hover {
                background: $dropdown-hover;
            }
        }

        &.divider {
            cursor: default;
            margin: 2px 0;
        }

        &.active, &.selected {
            a {
                background-color: $dropdown-selected !important;

                &:hover {
                    background: $dropdown-selected !important;
                }
            }
        }

        a {
            &:focus {
                outline: none !important;
            }
        }
    }
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.mobile-visible {
    display: none;
}

.primary-button {
    @include button();
    border: 1px solid $primary-btn-border;
}

.primary-icon-button {
    @include button($icon: false);
}

.secondary-button {
    @include button($secondary-btn-bg, $secondary-btn-text-color, $secondary-btn-hover, $btn-height-normal, false);
    border: 1px solid $secondary-btn-border;

    &:hover, &:focus {
        border: 1px solid $secondary-btn-border;
        background: $secondary-btn-hover;
        color: $secondary-btn-text-color;
        outline: 0px;
    }
}

.link-button {
    @include button($secondary-btn-bg, $primary-color, $secondary-btn-hover, $btn-height-normal, false);
    border: 1px solid $primary-color;

    &:hover {
        border: 1px solid $primary-btn-hover;
        color: $primary-btn-hover;
    }
}

.critical-action-button {
    @include button($danger-btn-bg,$primary-btn-text-color,$danger-btn-hover, $btn-height-normal, false);
    border: 1px solid $danger-btn-bg;
}

.app-hyperlink {
    color: $link-text-color;

    &:hover {
        color: $link-text-hover-color;
    }
}

#PopupContainer {
    .dialog-footer-position {
        position: relative;
    }
}

#server-app-container {
    background: $admin-container-bg;
    height: 100%;
    min-height: 100%;
    opacity: 1;
    overflow: auto;
    -webkit-transition: opacity 600ms ease-out;
    -moz-transition: opacity 600ms ease-out;
    -o-transition: opacity 600ms ease-out;
    transition: opacity 600ms ease-out;
    width: 100%;

    #header-area {
        @include app-header();
    }

    .li-logout {
        display: none !important;
    }

    #content-area {
        margin-bottom: -70px;
        min-height: 100%;
        padding: 0px 0px 0px 80px;
        width: 100%;

        #success-alert, #warning-alert {
            background-color: $secondary-btn-bg;
            border-radius: 2px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
            display: none;
            min-height: 60px;
            position: fixed;
            right: 30px;
            top: 90px;
            width: 340px;
            -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
            z-index: 99999;

            #image-container {
                display: table-cell;
                position: relative;
                vertical-align: middle;
                width: 60px;

                .image-holder {
                    text-align: center;
                    vertical-align: middle;


                    span {
                        background: green;
                        border-radius: 50%;
                        color: white;
                        display: inline-block;
                        height: 32px;
                        position: relative;
                        width: 32px;
                        padding-top: 10px;
                    }
                }

                .su-warning-alt {
                    color: #ffae42;
                    font-size: 32px;
                    margin: 14px;
                    position: relative;
                    text-align: center;
                    vertical-align: middle;
                    display: inline-block;
                    height: 32px;
                    width: 32px;
                }
            }

            #message {
                line-height: 10px;
                position: relative;

                #message-header {
                    color: $item-search-bg;
                    font-size: $app-large-text-size;
                    font-weight: 500;
                    margin: 0px;
                    padding: 10px 0px;
                    width: 100%;
                }

                #message-content {
                    color: $sub-text-color;
                    display: inline-block;
                    font-size: $app-text-size;
                    font-weight: 400;
                    line-height: 16px;
                    padding-bottom: 10px;
                    position: relative;
                    white-space: normal;
                    width: 100%;
                }
            }

            .div-close {
                float: left;
            }

            .close-div {
                border-left: 1px solid #d6d6d6;
                color: $sub-text-color;
                cursor: pointer;
                display: table-cell;
                padding: 10px;
                text-align: center;
                vertical-align: middle;

                #close-content {
                    font-size: 12px;
                    font-weight: 400;
                    position: relative;
                }

                &:hover {
                    color: black;
                }
            }
        }

        #warning-alert {

            #message {
                width: 230px;
            }
        }

        #mobile-alert {
            position: absolute;
            background-color: $admin-page-bg;
            border-radius: 5px;
            height: 25px;
            width: auto;
            display: none;
            bottom: 10%;
            left: 50%;
            margin-left: -145px;
            z-index: 99999;

            #message {
                font-size: $app-text-size;
                padding: 5px;
            }
        }

        #progress-alert-container {
            position: fixed;
            z-index: 99999;
            /*pointer-events: none;*/
            top: 12px;
            right: 12px;

            .progress-alert {
                background-color: $secondary-btn-bg;
                border-radius: 2px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
                display: none;
                min-height: 60px;
                margin-bottom: 10px;
                width: 340px;
                -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
                z-index: 99999;

                #image-container {
                    display: table-cell;
                    position: relative;
                    vertical-align: middle;
                    width: 60px;

                    .image-holder {
                        text-align: center;
                        vertical-align: middle;


                        span {
                            background: green;
                            border-radius: 50%;
                            color: white;
                            display: inline-block;
                            height: 32px;
                            position: relative;
                            width: 32px;
                            padding-top: 10px;
                        }
                    }

                    .su-warning-alt {
                        color: #ffae42;
                        font-size: 32px;
                        margin: 14px;
                        position: relative;
                        text-align: center;
                        vertical-align: middle;
                        display: inline-block;
                        height: 32px;
                        width: 32px;
                    }
                }

                #message {
                    line-height: 10px;
                    position: relative;

                    #message-header {
                        color: $item-search-bg;
                        font-size: $app-large-text-size;
                        font-weight: 500;
                        margin: 0px;
                        padding: 10px 0px;
                        width: 100%;
                    }

                    #message-content {
                        color: $sub-text-color;
                        display: inline-block;
                        font-size: $app-text-size;
                        font-weight: 400;
                        line-height: 16px;
                        padding-bottom: 10px;
                        position: relative;
                        white-space: normal;
                        width: 100%;
                    }
                }

                .div-close {
                    float: left;
                }

                .close-div {
                    border-left: 1px solid #d6d6d6;
                    color: $sub-text-color;
                    cursor: pointer;
                    display: table-cell;
                    padding: 10px;
                    text-align: center;
                    vertical-align: middle;
                    width: 60px;

                    #close-content {
                        font-size: 12px;
                        font-weight: 400;
                        position: relative;
                    }

                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }

    #base-footer-div {
        background-color: $admin-container-bg;
        color: $primary-text-color;
        margin-top: 7px;
        padding: 25px 30px 10px 110px;
        position: relative;
        width: 100%;

        #lang_menu {
            #dropdown-lang {
                color: $primary-text-color !important;
            }
        }
    }
}

#admin-nav {
    padding-bottom: 10px;
    margin: 10px 0px 0px 30px;

    ul {
        height: 40px;
        line-height: 40px;
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
            height: inherit;
            @include submenu-item();
        }
    }

    #payment-link {
        .su-dollar {
            font-size: 10px;

            &:before {
                border: 1.6px solid;
                padding: 2px;
            }
        }
    }

    .su-concierge-support {
        font-weight: 600;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;

    input {
        opacity: 0;

        &:checked + .slider {
            background-color: $primary-btn-bg;

            &:before {
                -webkit-transform: translateX(30px);
                -ms-transform: translateX(30px);
                transform: translateX(30px);
            }
        }

        &:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
    }

    .slider {
        border-radius: 34px;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $border-color;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            border-radius: 50%;
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 4px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }
}

//style for Search box
#search-area, #user-search-area, #group-search-area, #search-items, #template-datasource-search-area {
    position: relative;
    margin-left: 10px;
    margin-bottom: 15px;

    input[type="text"] {
        border: 1px solid $admin-pages-border-color;
        border-right: 0;
        border-radius: 4px 0 0 4px;
        color: $primary-text-color;
        height: $textbox-height;
        line-height: normal;
        position: relative;
        padding-left: 5px;
        width: 185px;

        &:focus {
            outline: none;
        }
    }

    .placeholder {
        color: $admin-pages-border-color;
        height: 30px;
        line-height: $textbox-height;
        padding-left: 5px;
        padding-top: 0;
        position: absolute;
        top: 0;
    }

    .su-search, .close-icon {
        width: 25px;
        height: $textbox-height;
        border: 1px solid $admin-pages-border-color;
        padding: 0;
        border-left: 0;
        border-radius: 0 4px 4px 0;
        background-color: $primary-btn-text-color;
        cursor: pointer;
        font-size: 10px;
        line-height: 31px;
        color: $icon-color;

        &:hover {
            color: $icon-hover-color;
        }
    }

    .close-icon.su-inner-close {
        display: none;
    }
}

//Dialog box for confirmation
#popup-container, #delete-popup-container {
    .header-menu {
        background: white none repeat scroll 0 0;
        padding: 10px;
        width: 100%;
        z-index: 9;

        .down-arrow {
            left: 37px;
            margin-top: -15px;
            width: 24px;
            height: 21px;
            top: 35px;
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.5s linear 0s;
        }

        .popup-close, .close-dialog {
            color: $icon-color;
            font-size: $app-text-size + 3;

            &:hover {
                color: $icon-hover-color;
            }
        }

        .popup-title {
            font-size: $app-large-text-size;
        }

        .head-icon {
            font-size: $app-large-text-size;
            padding: 4px 3px;
        }
    }

    .dialog-body {
        background: white;
        font-size: $app-text-size;

        .delete-msg {
            font-size: $app-text-size;
            text-align: center;

            .highlight-name {
                font-style: italic;
                color: $primary-btn-bg;
            }
        }

        .deletepad {
            padding-bottom: 68px;
        }

        .namepad {
            padding: 16px 0 0 0;

            .grouppad {
                padding-left: 0;

                .placeholder {
                    height: $textbox-height + 2px;
                    padding-left: 12px;
                    position: absolute;
                    top: 0;
                    line-height: 35px;
                    color: $placeholder-color;
                }

                #invalid-groupname {
                    display: block;
                    height: 28px;
                    font-size: $app-text-size - 2;
                }

                #group-description {
                    resize: none;
                }
            }
        }

        .form-control {
            height: $textbox-height;
        }

        textarea {
            height: auto !important;
        }
    }

    .dialog-footer {
        background: $dialog-footer-bg-color none repeat scroll 0 0;
        border-top: 1px solid $dialog-border-color;
        padding: 13px 0;

        .secondary-button {
            margin-left: 10px;
            margin-right: 10px;
        }

        #cancel-group {
            font-family: RobotoRegular;
        }
    }

    .dialog-footer-fixed {
        bottom: 0;
        position: fixed;
    }

    .dialogFooterMar {
        background: $admin-pages-border-color none repeat scroll 0 0;
        border-top: 1px solid $grid-border-color;
        margin-top: 32px;
        padding: 14px 0;
    }
}

.bootstrap-select {
    padding-left: 10px;
    width: 100% !important;
}

.error-message {
    padding: 6px;
    color: $validation-text-color;

    span {
        color: $validation-text-color !important;
    }
}

.validation-failed-text {
    color: $validation-text-color !important;
}

.success-message {
    padding: 6px;
    color: $success-text-color;
    font-size: 14px;
}

.material-checkbox {
    @include material-checkbox-controls();
}

.cursor-type {
    cursor: pointer,
}

.info-settings {
    cursor: pointer;
    margin-left:11px;
}
//Confirmation message Dialog box
#messageBox {
    .message-header {
        font-size: $app-large-text-size;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 400px;

        .su-edit {
            font-size: $app-text-size;
        }

        span {
            margin-right: 5px;

            .su-delete {
                color: $validation-text-color;
            }
        }
    }

    .message-box-close {
        color: $icon-color;
        cursor: pointer;
        font-size: 14px;
        position: absolute;
        right: 15px;
        top: 8px;

        &:hover {
            color: $icon-hover-color;
        }
    }

    .message-content {
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: $app-text-size;
        display: table-cell;
        vertical-align: middle;
        height: 60px;
        width: 450px;

        .list-area {
            padding: 10px 0 0 50px;
            text-align: left;
        }
    }

    .message-box-btn-holder {
        background: $dialog-footer-bg-color none repeat scroll 0 0;
        border-top: 1px solid $dialog-border-color;
        bottom: 0;
        padding: 10px;
        position: absolute;
        right: 0;
        width: 100%;
        text-align: center;

        .secondary-button {
            margin-left: 10px;
        }

        .app-secondary-button + .app-critical-action-button {
            margin-right: 10px;
        }
    }
}

.admin-page-body {
    .e-grid {
        .e-gridheader {
            .e-headercell {
                .e-headercelldiv {
                    .item-name {
                        display: inline;
                    }

                    .item-header {
                        display: inline;
                    }
                }
            }
        }
    }
}

#user-list-container {
    .e-grid {
        .e-gridheader {
            .e-headercell {
                .e-headercelldiv {
                    .item-name {
                        display: inline;
                    }

                    .item-header {
                        display: inline;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1040px) {

    .cookie-notification {
        margin-left: 0px !important;
    }

    .mobile-visible {
        display: block;
    }

    .mobile-hidden {
        display: none !important;
    }

    .mobile-menu-icon {
        cursor: pointer;
        display: table;
        float: left;
        height: $menu-height;
        width: $menu-height;

        span {
            display: table-cell;
            vertical-align: middle;
        }
    }

    #server-app-container {

        #upload-item-section {
            display: none;
        }

        .collapse.width {
            height: auto;
            -webkit-transition: all 0.35s ease;
            -moz-transition: all 0.35s ease;
            -o-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }

        #content-area {
            margin: 0;
            padding: 40px 0 0;

            #server-items-container {
                margin-left: 0;

                .item-list-panel {
                    margin: 0 auto;
                    min-width: 100%;

                    #create-new-category {
                        display: none;
                    }
                }
            }

            #item-viewer {
                display: none;

                .cookie-notification {
                    display: none;
                }
            }
        }

        #base-footer-div {
            left: 0;
            margin-top: 0px;
            padding: 0px 10px 12px 15px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1040px) {
    #server-app-container {
        #header-area {
            .header-bar {
                #concierge-support-request {
                    margin: 6px;
                }

                #on-board-experience-section {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #server-app-container {
        #header-area {
            .header-bar {
                #concierge-support-request, #feedback-section {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .primary-button, .secondary-button, .link-button, .critical-action-button {
        height: $btn-height-large;
        line-height: $btn-height-large;
    }

    #search-area, #user-search-area, #group-search-area {
        input[type="text"], .close-icon.su-inner-close, .su-search {
            height: $textbox-lg-height;
        }
    }

    #server-app-container {

        #header-area {
            height: $header-lg-height;

            .header-bar {

                .main-screen-logo {
                    padding: 5px 7.5px;

                    #application-logo {
                        height: $header-lg-height - 10;
                    }

                    .application-logo-svg {
                        height: $header-lg-height - 20 !important;
                        margin: 4px 0 0 4px;
                    }
                }

                .org-name-wrapper .header-org-name {
                    font-size: $app-large-text-size + 2;
                    height: $header-lg-height;
                }

                #upload-item-section {
                    height: 50px;

                    .add-button {
                        height: 34px;
                        line-height: 23px;
                        padding: 4px 10px 4px 10px;
                        margin: 8px 10px 0 0;
                        font-size: 18px;

                        .su-add {
                            font-size: 12px;
                        }

                        .su-vertical-expand {
                            font-size: 9px;
                        }
                    }

                    #add-menus {
                        top: 57px;
                    }
                }

                .user-account {
                    .profile-picture {
                        img {
                            height: $header-lg-height;
                            width: $header-lg-height;
                        }
                    }

                    #profile-info-section {
                        .profile-info {
                            .profile-info-area {
                                ul {
                                    #profile-name {
                                        font-size: $app-large-text-size + 1;
                                    }

                                    #profile-email {
                                        font-size: $app-large-text-size;
                                    }
                                }
                            }
                        }
                    }
                }

                #notification-section {
                    height: $header-lg-height;
                    width: $header-lg-height;

                    #notification-link {
                        #notification-icon {
                            height: $header-lg-height;
                            width: $header-lg-height;
                            line-height: $header-lg-height;
                            font-size: 18px;
                        }

                        .not-active {
                            pointer-events: none;
                            cursor: default;
                            opacity: 0.3;
                        }

                        #notification-indicator {
                            font-size: 10px;
                            line-height: 6px;
                            left: 26px;
                            top: 13px;
                        }
                    }
                }

                #feedback-section {
                    cursor: pointer;
                    display: table;
                    height: $header-lg-height;
                    width: $header-lg-height;

                    &:hover {
                        background-color: lighten($item-panel-bg, 10%);
                    }

                    feedback-link {
                        display: table-cell;
                        height: inherit;
                        margin: 0 auto;
                        position: relative;
                        text-align: center;
                        vertical-align: middle;
                        width: inherit;

                        #feedback-icon {
                            color: $primary-btn-text-color;
                            display: inline-block;
                            height: $bullhorn-height;
                            width: $header-lg-height;
                            line-height: $header-lg-height;
                        }

                        #bullhorn_img {
                            font-size: 16px;
                        }
                    }
                }

                #concierge-support-request {
                    margin: 8px;

                    .tooltip {
                        .tooltip-inner {
                            text-align: center;
                        }
                    }
                }
            }

            .img-loader {
                height: $header-lg-height - 10;
                width: $header-lg-height - 10;
            }
        }

        #content-area {
            padding: 0px 0px 0px $menu-lg-width;

            #server-items-container {
                .su-sidebar-expand.category-collapse {
                    height: $menu-lg-height;
                    line-height: $menu-lg-height;
                }

                .item-list-panel {
                    .item-navigation {
                        li {
                            max-width: 14%;
                            height: $menu-lg-height;
                            line-height: $menu-lg-height;
                            width: 100%;

                            a {
                                display: block;
                                margin: 0 auto;
                                text-align: center;
                                width: 100%;
                            }
                        }
                    }

                    #category-listing {
                        #category-section-name {
                            font-size: $app-large-text-size;
                        }

                        #field {
                            .selected {
                                font-size: $app-text-size - 1;
                            }
                        }
                    }

                    #item-grid-container {
                        #items {
                            .item-link {
                                .item-name {
                                    font-size: $app-large-text-size;
                                }

                                .item-info {
                                    .owner-name, .modified-time {
                                        font-size: $app-text-size - 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #base-footer-div {
            padding-left: 110px;
        }
    }

    #search-area, #user-search-area, #group-search-area, #search-items {
        .placeholder {
            padding-top: 2px;
        }
    }
}

//glyphicon tick icon
.glyphicon-ok::before {
    content: $su-tick !important;
    font-family: "Server" !important;
}

@media screen and (min-width: 1400px) {
    #messageBox {
        .message-box-close {
            font-size: $app-large-text-size + 2;
        }

        .message-header {
            font-size: $app-large-text-size + 2;

            .su-edit {
                font-size: $app-large-text-size;
            }
        }

        .message-content {
            font-size: $app-large-text-size;
        }

        .message-box-btn-holder {
            height: 50px;
            padding: 10px;
        }
    }
}

#body_WaitingPopup, #add-item-popup_wrapper_WaitingPopup {
    background-color: #383838 !important;
}

#add-item-popup_wrapper {
    .e-scroller {
        border-radius: 0px !important;
        border: 0px !important;
    }
}

#license-message {
    margin-top: 17%;
    text-align: center;

    span#message {
        background-color: $secondary-btn-bg;
        border: 1px solid #d1d1d1;
        border-left: 6px solid #ff0000;
        cursor: default;
        display: inline-block;
        height: 45px;
        line-height: 45px;
        padding: 0px 8px;

        span.su-info {
            color: #ff0000;
            float: left;
            font-size: 22px;
            margin: 12px 10px 0px 0px;
        }
    }
}

.back-to-server {
    margin-top: 10px;
    padding-left: 30px;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    width: auto !important;
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu.pull-left {
    float: none !important;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    right: 100%;
    left: auto;
    margin-left: 10px;
}


.img-loader, .name-loader {
    -webkit-animation-name: fadeOpactiy;
    -webkit-animation-duration: 4s;
    animation-name: fadeOpactiy;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background: gray;
    height: 32px;
}

.img-loader {
    width: 32px;
    display: block;
    float: none;
    margin: 0 auto;
}

.name-loader {
    height: 20px;
    width: 100px;
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.tooltip.bottom {
    .tooltip-arrow {
        top: 0 !important;
    }
}

.tooltip.top {
    .tooltip-arrow {
        top: auto !important;
    }
}

#create-connection-popup_wrapper {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    overflow: hidden;

    .e-dialog-scroller {
        border: none !important;
        height: 100% !important;
        width: 100% !important;
        height: 100% !important;
    }

    #create-connection-popup {
        padding: 0;
        width: 100% !important;
        height: 100% !important;

        #create-connection-iframe {
            border: none;
            width: 100% !important;
            height: 100% !important;
        }
    }
}

.cm-link, .cm-url {
    color: inherit !important;
    text-decoration: none !important;
}

//Add outline for selectpicker focus
select.selectpicker + .btn-group, select.select-picker + .btn-group {
    @include bootstrap-selectpicker();
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .05s;
    transition-property: height;

    &.width {
        width: 0px;
        height: auto;
        transition-property: width;
        transition-duration: .05s;
    }
}

#collapse-menu-backdrop {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
}

.pin-widget .viewer .e-dbrd-control-container{
    margin: 0 !important;
}
