@charset "UTF-8";
#server-app-container {
  background: #f9f9f9 none repeat scroll 0% 0%; }

.e-gridwaitingpopup {
  z-index: 1000 !important; }

#base-container .admin-page-header .header {
  padding-top: 8px !important; }

#base-container #group-header .margin-right, #base-container #user-header .margin-right {
  margin-right: 10px; }

#base-container #group-header .adjust-style-for-backarrow, #base-container #user-header .adjust-style-for-backarrow {
  padding-top: 8px !important; }

#base-container .permission-grid {
  margin-top: 0;
  padding-right: 0;
  padding-left: 0; }

#permission-delete-confirmation {
  padding: 0; }
  #permission-delete-confirmation .modal-content {
    border-radius: 0;
    border: 0;
    padding: 0; }
    #permission-delete-confirmation .modal-content .ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    #permission-delete-confirmation .modal-content .modal-header {
      border: none;
      height: 50px;
      padding: 10px !important; }
      #permission-delete-confirmation .modal-content .modal-header .modal-title {
        font-size: 14px;
        font-weight: 500; }
      #permission-delete-confirmation .modal-content .modal-header .header-icon {
        padding: 3px 3px 3px 0;
        width: 20px; }
      #permission-delete-confirmation .modal-content .modal-header .header-content {
        font-size: 10px;
        font-weight: 400; }
      #permission-delete-confirmation .modal-content .modal-header .popup-close {
        color: #4d4d4d;
        font-size: 15px; }
        #permission-delete-confirmation .modal-content .modal-header .popup-close:hover {
          color: #1a1a1a;
          text-decoration: none; }
    #permission-delete-confirmation .modal-content .modal-body {
      font-size: 12px;
      padding: 10px;
      overflow-y: auto; }
      #permission-delete-confirmation .modal-content .modal-body * {
        outline: none !important; }
      #permission-delete-confirmation .modal-content .modal-body #file-name {
        cursor: pointer; }
      #permission-delete-confirmation .modal-content .modal-body .highlight-name {
        font-style: italic;
        color: #0565ff; }
      #permission-delete-confirmation .modal-content .modal-body .selectpicker, #permission-delete-confirmation .modal-content .modal-body .form-control {
        font-size: 12px; }
      #permission-delete-confirmation .modal-content .modal-body .btn-default {
        height: 28px; }
        #permission-delete-confirmation .modal-content .modal-body .btn-default .filter-option {
          margin-top: -1px; }
      #permission-delete-confirmation .modal-content .modal-body .delete-msg {
        margin-top: 4px; }
      #permission-delete-confirmation .modal-content .modal-body .validation-message {
        color: #ff3b30;
        font-size: 10px;
        float: left; }
      #permission-delete-confirmation .modal-content .modal-body .app-textbox-label {
        font-weight: 400;
        font-size: 12px; }
      #permission-delete-confirmation .modal-content .modal-body .info-text {
        font-size: 10px; }
    #permission-delete-confirmation .modal-content .modal-footer {
      background-color: #f9f9f9;
      height: 50px;
      padding: 10px; }
      #permission-delete-confirmation .modal-content .modal-footer .message-area {
        height: 35px;
        margin-top: -8px; }
        #permission-delete-confirmation .modal-content .modal-footer .message-area .error-message, #permission-delete-confirmation .modal-content .modal-footer .message-area .success-message {
          padding: 0px;
          float: left;
          text-align: left;
          height: 44px;
          width: 100%;
          display: none;
          word-wrap: break-word; }
        #permission-delete-confirmation .modal-content .modal-footer .message-area .success-message {
          overflow: hidden;
          position: relative;
          text-overflow: ellipsis; }
      #permission-delete-confirmation .modal-content .modal-footer .margin-right {
        margin-right: 10px; }
      #permission-delete-confirmation .modal-content .modal-footer .margin-top {
        margin-top: 0.5px; }
  #permission-delete-confirmation .modal-content {
    height: 150px; }
    #permission-delete-confirmation .modal-content .modal-body {
      display: table !important;
      height: 50px; }

#add-permission_wrapper #add-permission {
  padding: 0;
  top: 0;
  width: 598px !important;
  height: 302px !important; }

.add-permissions {
  height: 300px; }
  .add-permissions .modal-content {
    border-radius: 0;
    border: 0;
    padding: 0; }
    .add-permissions .modal-content .ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .add-permissions .modal-content .modal-header {
      border: none;
      height: 50px;
      padding: 10px !important; }
      .add-permissions .modal-content .modal-header .modal-title {
        font-size: 14px;
        font-weight: 500; }
      .add-permissions .modal-content .modal-header .header-icon {
        padding: 3px 3px 3px 0;
        width: 20px; }
      .add-permissions .modal-content .modal-header .header-content {
        font-size: 10px;
        font-weight: 400; }
      .add-permissions .modal-content .modal-header .popup-close {
        color: #4d4d4d;
        font-size: 15px; }
        .add-permissions .modal-content .modal-header .popup-close:hover {
          color: #1a1a1a;
          text-decoration: none; }
    .add-permissions .modal-content .modal-body {
      font-size: 12px;
      padding: 10px;
      overflow-y: auto; }
      .add-permissions .modal-content .modal-body * {
        outline: none !important; }
      .add-permissions .modal-content .modal-body #file-name {
        cursor: pointer; }
      .add-permissions .modal-content .modal-body .highlight-name {
        font-style: italic;
        color: #0565ff; }
      .add-permissions .modal-content .modal-body .selectpicker, .add-permissions .modal-content .modal-body .form-control {
        font-size: 12px; }
      .add-permissions .modal-content .modal-body .btn-default {
        height: 28px; }
        .add-permissions .modal-content .modal-body .btn-default .filter-option {
          margin-top: -1px; }
      .add-permissions .modal-content .modal-body .delete-msg {
        margin-top: 4px; }
      .add-permissions .modal-content .modal-body .validation-message {
        color: #ff3b30;
        font-size: 10px;
        float: left; }
      .add-permissions .modal-content .modal-body .app-textbox-label {
        font-weight: 400;
        font-size: 12px; }
      .add-permissions .modal-content .modal-body .info-text {
        font-size: 10px; }
    .add-permissions .modal-content .modal-footer {
      background-color: #f9f9f9;
      height: 50px;
      padding: 10px; }
      .add-permissions .modal-content .modal-footer .message-area {
        height: 35px;
        margin-top: -8px; }
        .add-permissions .modal-content .modal-footer .message-area .error-message, .add-permissions .modal-content .modal-footer .message-area .success-message {
          padding: 0px;
          float: left;
          text-align: left;
          height: 44px;
          width: 100%;
          display: none;
          word-wrap: break-word; }
        .add-permissions .modal-content .modal-footer .message-area .success-message {
          overflow: hidden;
          position: relative;
          text-overflow: ellipsis; }
      .add-permissions .modal-content .modal-footer .margin-right {
        margin-right: 10px; }
      .add-permissions .modal-content .modal-footer .margin-top {
        margin-top: 0.5px; }
  .add-permissions .modal {
    display: inline-block !important; }
    .add-permissions .modal .modal-dialog {
      height: 300px;
      margin: 0 !important;
      padding: 0;
      width: 100%; }
      .add-permissions .modal .modal-dialog .modal-content {
        height: 300px; }
        .add-permissions .modal .modal-dialog .modal-content .modal-body {
          height: 200px;
          overflow: visible; }
          .add-permissions .modal .modal-dialog .modal-content .modal-body .heading {
            font-size: 12px;
            font-weight: 400 !important;
            margin-top: 6px; }
          .add-permissions .modal .modal-dialog .modal-content .modal-body .form-list {
            padding: 15px 0; }
            .add-permissions .modal .modal-dialog .modal-content .modal-body .form-list .selection {
              padding-left: 0 !important; }
            .add-permissions .modal .modal-dialog .modal-content .modal-body .form-list .btn-default {
              height: 28px; }
              .add-permissions .modal .modal-dialog .modal-content .modal-body .form-list .btn-default .filter-option {
                font-size: 12px;
                margin-top: -1px;
                text-overflow: ellipsis; }
          .add-permissions .modal .modal-dialog .modal-content .modal-body .dropdown-menu {
            left: 9px !important;
            min-width: 98% !important;
            max-width: 300px !important; }
            .add-permissions .modal .modal-dialog .modal-content .modal-body .dropdown-menu ul {
              max-width: 300px; }
            .add-permissions .modal .modal-dialog .modal-content .modal-body .dropdown-menu .active a {
              background-color: #dbe9ff; }
          .add-permissions .modal .modal-dialog .modal-content .modal-body .drop-up .dropdown-menu {
            bottom: 100%;
            margin-bottom: 2px;
            top: auto; }
            .add-permissions .modal .modal-dialog .modal-content .modal-body .drop-up .dropdown-menu .dropdown-header {
              font-weight: bold; }
              .add-permissions .modal .modal-dialog .modal-content .modal-body .drop-up .dropdown-menu .dropdown-header .text {
                text-decoration: underline;
                padding: 0 !important; }
            .add-permissions .modal .modal-dialog .modal-content .modal-body .drop-up .dropdown-menu .divider {
              margin: 0px;
              height: 0px; }
            .add-permissions .modal .modal-dialog .modal-content .modal-body .drop-up .dropdown-menu .opt .text {
              padding-left: 15px;
              vertical-align: top; }
          .add-permissions .modal .modal-dialog .modal-content .modal-body .drop-up .caret {
            border-bottom: 4px solid;
            border-top: 0 none;
            content: ""; }
          .add-permissions .modal .modal-dialog .modal-content .modal-body .entity-selection .drop-up .inner {
            max-height: 62px !important;
            overflow: hidden; }
          .add-permissions .modal .modal-dialog .modal-content .modal-body .scope-selection .dropdown-menu .inner {
            overflow: hidden; }
          .add-permissions .modal .modal-dialog .modal-content .modal-body .scope-selection .dropdown-menu li a span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 300px; }
        .add-permissions .modal .modal-dialog .modal-content .modal-footer .buttons-area .create-another-permision {
          display: inline-block;
          margin-right: 20px; }
          .add-permissions .modal .modal-dialog .modal-content .modal-footer .buttons-area .create-another-permision .toggle-space {
            font-size: 12px;
            font-weight: 500; }
            .add-permissions .modal .modal-dialog .modal-content .modal-footer .buttons-area .create-another-permision .toggle-space .checkbox-text {
              padding-left: 5px; }
        .add-permissions .modal .modal-dialog .modal-content .modal-footer .buttons-area #save-permission {
          margin-right: 10px; }
        .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox + input + label {
          position: relative;
          padding: 5px 0 0 18px !important;
          cursor: pointer;
          display: inline-block;
          height: 25px;
          margin: 0;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none; }
          .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox + input + label::after {
            border-radius: 3px; }
          .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox + input + label::before, .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox + input + label::after {
            content: '';
            left: 0;
            position: absolute;
            -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
            transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
            z-index: 1; }
        .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox:not(:checked) + input + label::before {
          width: 0;
          height: 0;
          border: 3px solid transparent;
          left: 6px;
          top: 10px; }
        .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox:not(:checked) + input + label::after {
          height: 16px;
          width: 16px;
          background-color: #fff;
          border: 2px solid #b3b3b3;
          top: 0px;
          z-index: 1;
          margin-top: 7px;
          margin-bottom: 2px; }
        .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox:checked + input + label::before {
          bottom: 14px;
          color: #fff;
          content: "";
          font-family: "Server";
          height: 10px;
          width: 5px; }
        .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox:checked + input + label::after {
          top: 0;
          width: 16px;
          height: 16px;
          border: 1.5px solid #0451cc;
          background-color: #0565ff;
          z-index: 0;
          margin-top: 7px;
          margin-bottom: 2px; }
        .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox:disabled + input + label::after {
          background-color: #f2f2f2;
          border: 1px solid #b3b3b3; }
        .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox:not(:checked):disabled + input + label::after {
          background-color: #f2f2f2;
          border: 1px solid #b3b3b3; }
        .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox:not(:checked), .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox:checked {
          position: absolute;
          left: -9999px;
          opacity: 0; }
        .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox:not(:checked) + input + label::after {
          border: 2px solid #999;
          top: -2px; }
        .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox:checked + input + label::before {
          bottom: 10px !important;
          left: 1px; }
        .add-permissions .modal .modal-dialog .modal-content .modal-footer .material-checkbox:checked + input + label::after {
          top: -2px; }

#user-mgmt-navigation {
  margin-top: -20px;
  padding-bottom: 30px; }
  #user-mgmt-navigation ul {
    height: 40px;
    line-height: 40px;
    list-style: none; }
    #user-mgmt-navigation ul li {
      display: inline-block;
      height: inherit; }
      #user-mgmt-navigation ul li a {
        color: #333;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
        height: inherit;
        overflow: hidden;
        outline: none;
        padding: 0 15px;
        position: relative; }
        #user-mgmt-navigation ul li a i {
          font-size: 16px;
          padding-right: 15px; }
        #user-mgmt-navigation ul li a:before {
          bottom: 0;
          content: "";
          height: 3px;
          position: absolute;
          left: 50%;
          right: 50%;
          -webkit-transition-property: left, right;
          transition-property: left, right;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }
        #user-mgmt-navigation ul li a:hover:before, #user-mgmt-navigation ul li a:focus:before {
          background: #cccccc;
          left: 0;
          right: 0; }
        #user-mgmt-navigation ul li a.active {
          color: #0565ff; }
          #user-mgmt-navigation ul li a.active:before {
            background: #0565ff;
            left: 0;
            right: 0; }

.lg-flexible .modal-content {
  border-radius: 0;
  border: 0;
  padding: 0; }
  .lg-flexible .modal-content .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .lg-flexible .modal-content .modal-header {
    border: none;
    height: 50px;
    padding: 10px !important; }
    .lg-flexible .modal-content .modal-header .modal-title {
      font-size: 16px;
      font-weight: 500; }
    .lg-flexible .modal-content .modal-header .header-icon {
      padding: 3px 3px 3px 0;
      width: 20px; }
    .lg-flexible .modal-content .modal-header .header-content {
      font-size: 12px;
      font-weight: 400; }
    .lg-flexible .modal-content .modal-header .popup-close {
      color: #4d4d4d;
      font-size: 15px; }
      .lg-flexible .modal-content .modal-header .popup-close:hover {
        color: #1a1a1a;
        text-decoration: none; }
  .lg-flexible .modal-content .modal-body {
    font-size: 14px;
    padding: 10px;
    overflow-y: auto; }
    .lg-flexible .modal-content .modal-body * {
      outline: none !important; }
    .lg-flexible .modal-content .modal-body #file-name {
      cursor: pointer; }
    .lg-flexible .modal-content .modal-body .highlight-name {
      font-style: italic;
      color: #0565ff; }
    .lg-flexible .modal-content .modal-body .selectpicker, .lg-flexible .modal-content .modal-body .form-control {
      font-size: 14px; }
    .lg-flexible .modal-content .modal-body .btn-default {
      height: 32px; }
      .lg-flexible .modal-content .modal-body .btn-default .filter-option {
        margin-top: -1px; }
    .lg-flexible .modal-content .modal-body .delete-msg {
      margin-top: 4px; }
    .lg-flexible .modal-content .modal-body .validation-message {
      color: #ff3b30;
      font-size: 12px;
      float: left; }
    .lg-flexible .modal-content .modal-body .app-textbox-label {
      font-weight: 400;
      font-size: 14px; }
    .lg-flexible .modal-content .modal-body .info-text {
      font-size: 12px; }
  .lg-flexible .modal-content .modal-footer {
    background-color: #f9f9f9;
    height: 50px;
    padding: 10px; }
    .lg-flexible .modal-content .modal-footer .message-area {
      height: 35px;
      margin-top: -8px; }
      .lg-flexible .modal-content .modal-footer .message-area .error-message, .lg-flexible .modal-content .modal-footer .message-area .success-message {
        padding: 0px;
        float: left;
        text-align: left;
        height: 44px;
        width: 100%;
        display: none;
        word-wrap: break-word; }
      .lg-flexible .modal-content .modal-footer .message-area .success-message {
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis; }
    .lg-flexible .modal-content .modal-footer .margin-right {
      margin-right: 10px; }
    .lg-flexible .modal-content .modal-footer .margin-top {
      margin-top: 0.5px; }

.lg-flexible .modal .modal-dialog .modal-content .modal-body {
  font-size: 14px !important; }
  .lg-flexible .modal .modal-dialog .modal-content .modal-body .heading {
    font-size: 14px;
    margin-top: 7px; }
  .lg-flexible .modal .modal-dialog .modal-content .modal-body .form-list .btn-default {
    height: 32px; }
    .lg-flexible .modal .modal-dialog .modal-content .modal-body .form-list .btn-default .filter-option {
      font-size: 14px;
      margin-top: 0; }

@media screen and (min-width: 1400px) {
  #permission-delete-confirmation {
    padding: 0; }
    #permission-delete-confirmation .modal-content {
      border-radius: 0;
      border: 0;
      padding: 0; }
      #permission-delete-confirmation .modal-content .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      #permission-delete-confirmation .modal-content .modal-header {
        border: none;
        height: 50px;
        padding: 10px !important; }
        #permission-delete-confirmation .modal-content .modal-header .modal-title {
          font-size: 16px;
          font-weight: 500; }
        #permission-delete-confirmation .modal-content .modal-header .header-icon {
          padding: 3px 3px 3px 0;
          width: 20px; }
        #permission-delete-confirmation .modal-content .modal-header .header-content {
          font-size: 12px;
          font-weight: 400; }
        #permission-delete-confirmation .modal-content .modal-header .popup-close {
          color: #4d4d4d;
          font-size: 15px; }
          #permission-delete-confirmation .modal-content .modal-header .popup-close:hover {
            color: #1a1a1a;
            text-decoration: none; }
      #permission-delete-confirmation .modal-content .modal-body {
        font-size: 14px;
        padding: 10px;
        overflow-y: auto; }
        #permission-delete-confirmation .modal-content .modal-body * {
          outline: none !important; }
        #permission-delete-confirmation .modal-content .modal-body #file-name {
          cursor: pointer; }
        #permission-delete-confirmation .modal-content .modal-body .highlight-name {
          font-style: italic;
          color: #0565ff; }
        #permission-delete-confirmation .modal-content .modal-body .selectpicker, #permission-delete-confirmation .modal-content .modal-body .form-control {
          font-size: 14px; }
        #permission-delete-confirmation .modal-content .modal-body .btn-default {
          height: 32px; }
          #permission-delete-confirmation .modal-content .modal-body .btn-default .filter-option {
            margin-top: -1px; }
        #permission-delete-confirmation .modal-content .modal-body .delete-msg {
          margin-top: 4px; }
        #permission-delete-confirmation .modal-content .modal-body .validation-message {
          color: #ff3b30;
          font-size: 12px;
          float: left; }
        #permission-delete-confirmation .modal-content .modal-body .app-textbox-label {
          font-weight: 400;
          font-size: 14px; }
        #permission-delete-confirmation .modal-content .modal-body .info-text {
          font-size: 12px; }
      #permission-delete-confirmation .modal-content .modal-footer {
        background-color: #f9f9f9;
        height: 50px;
        padding: 10px; }
        #permission-delete-confirmation .modal-content .modal-footer .message-area {
          height: 35px;
          margin-top: -8px; }
          #permission-delete-confirmation .modal-content .modal-footer .message-area .error-message, #permission-delete-confirmation .modal-content .modal-footer .message-area .success-message {
            padding: 0px;
            float: left;
            text-align: left;
            height: 44px;
            width: 100%;
            display: none;
            word-wrap: break-word; }
          #permission-delete-confirmation .modal-content .modal-footer .message-area .success-message {
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis; }
        #permission-delete-confirmation .modal-content .modal-footer .margin-right {
          margin-right: 10px; }
        #permission-delete-confirmation .modal-content .modal-footer .margin-top {
          margin-top: 0.5px; }
    #permission-delete-confirmation .modal-content .modal-footer .margin-top {
      margin-top: 1px; } }

@media screen and (max-width: 1024px) {
  #content-area {
    padding: 69px 10px 0 10px !important; } }
