@import  "Mixins.scss";

#server-app-container {
    background: $admin-container-bg none repeat scroll 0% 0%;
}

.e-gridwaitingpopup {
    z-index: 1000 !important;
}

#base-container {
    .admin-page-header {
        .header {
            padding-top: 8px !important;
        }
    }

    #group-header, #user-header {
        .margin-right {
            margin-right: 10px;
        }

        .adjust-style-for-backarrow {
            padding-top: 8px !important;
        }
    }

    .permission-grid {
        margin-top: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

// style for deletepermission
#permission-delete-confirmation {
    padding: 0;
    @include modal($app-text-size,$textbox-height);

    .modal-content {
        height: 150px;

        .modal-body {
            display: table !important;
            height: 50px;
        }
    }
}

// style for the AddPermission
#add-permission_wrapper {
    #add-permission {
        padding: 0;
        top: 0;
        width: 598px !important;
        height: 302px !important;
    }
}

.add-permissions {
    height: 300px;
    @include modal($app-text-size, $textbox-height);

    .modal {
        display: inline-block !important;

        .modal-dialog {
            height: 300px;
            margin: 0 !important;
            padding: 0;
            width: 100%;

            .modal-content {
                height: 300px;

                .modal-body {
                    height: 200px;
                    overflow: visible;

                    .heading {
                        font-size: $app-text-size;
                        font-weight: 400 !important;
                        margin-top: 6px;
                    }

                    .form-list {
                        padding: 15px 0;

                        .selection {
                            padding-left: 0 !important;
                        }

                        .btn-default {
                            height: $textbox-height;

                            .filter-option {
                                font-size: $app-text-size;
                                margin-top: -1px;
                                text-overflow: ellipsis;
                            }
                        }
                    }


                    .dropdown-menu {
                        left: 9px !important;
                        min-width: 98% !important;
                        max-width: 300px !important;

                        ul {
                            max-width: 300px;
                        }

                        .active a {
                            background-color: $dropdown-selected;
                        }
                    }

                    .drop-up {
                        .dropdown-menu {
                            bottom: 100%;
                            margin-bottom: 2px;
                            top: auto;

                            .dropdown-header {
                                font-weight: bold;

                                .text {
                                    text-decoration: underline;
                                    padding: 0 !important;
                                }
                            }

                            .divider {
                                margin: 0px;
                                height: 0px;
                            }

                            .opt {
                                .text {
                                    padding-left: 15px;
                                    vertical-align: top;
                                }
                            }
                        }

                        .caret {
                            border-bottom: 4px solid;
                            border-top: 0 none;
                            content: "";
                        }
                    }

                    .entity-selection {
                        .drop-up {
                            .inner {
                                max-height: 62px !important;
                                overflow: hidden;
                            }
                        }
                    }

                    .scope-selection {
                        .dropdown-menu {
                            .inner {
                                overflow: hidden;
                            }

                            li a span {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                width: 300px;
                            }
                        }
                    }
                }

                .modal-footer {
                    .buttons-area {
                        .create-another-permision {
                            display: inline-block;
                            margin-right: 20px;

                            .toggle-space {
                                font-size: 12px;
                                font-weight: 500;

                                .checkbox-text {
                                    padding-left: 5px;
                                }
                            }
                        }

                        #save-permission {
                            margin-right: 10px;
                        }
                    }

                    .material-checkbox {
                        @include material-checkbox-controls();

                        &:not(:checked) + input + label::after {
                            border: 2px solid #999;
                            top: -2px;
                        }

                        &:checked + input + label::before {
                            bottom: 10px !important;
                            left: 1px;
                        }

                        &:checked + input + label::after {
                            top: -2px;
                        }
                    }
                }
            }
        }
    }
}

//style for the UserManagementMenu
#user-mgmt-navigation {
    margin-top: -20px;
    padding-bottom: 30px;

    ul {
        height: 40px;
        line-height: 40px;
        list-style: none;

        li {
            display: inline-block;
            height: inherit;
            @include submenu-item();
        }
    }
}


// style for Add-permission in screen-width greater than 1400px
.lg-flexible {
    @include modal($app-large-text-size,$textbox-lg-height);

    .modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    font-size: $app-large-text-size !important;

                    .heading {
                        font-size: $app-large-text-size;
                        margin-top: 7px;
                    }

                    .form-list {
                        .btn-default {
                            height: $textbox-lg-height;

                            .filter-option {
                                font-size: $app-large-text-size;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

//style for delete-permission
@media screen and (min-width:1400px) {
    #permission-delete-confirmation {
        padding: 0;
        @include modal($app-large-text-size,$textbox-lg-height);

        .modal-content {
            .modal-footer {
                .margin-top {
                    margin-top: 1px;
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    #content-area {
        padding: 69px 10px 0 10px !important;
    }
}
