@import "../themes/light.scss";

#base-container {
    #user-list-container {
        .content-wrapper {
            .synchronize-icon-container {
                padding-right: 10px;
            }

            .synchronize-button {
                background-color: darken($grey-200, 1.57);
                margin-left: 10px;
                padding: 4px;
                width: 100px;
                font-size: 11px;
                height: 25px;
                border: 1px solid darken($grey-300, 1.96);
                margin-bottom: 2px;
            }

            .hide-synchronize {
                display: none !important;
            }
        }
    }
}

#PublishItemGrid {
    .e-groupdroparea {
        line-height: 30px;
        font-size: 14px;
        background-color: darken($grey-000, 1.18);
        color: $primary-black;

        .e-animatebutton {
            color: $primary-black !important;
        }

        .e-grid-icon {
            line-height: 17px;
            color: $primary-black;
            background-color: darken($grey-200, 1.57);
            border-radius: 15px;
            border-color: darken($grey-200, 1.57);

            .e-icon {
                color: $primary-black;
            }
        }
    }

    .e-cloneproperties.e-grid.e-dragclone {
        border-radius: 20px !important;
        background-color: $blue-lighter !important;
        height: 30px !important;
        line-height: 30px !important;
    }

    .e-headercelldiv {
        color: $primary-black;
        font-size: 13px;
    }

    .e-gridcontent {

        .e-icon {
            margin-left: 0 !important;
        }

        .e-icon.e-gdiagonalnext {
            margin-left: 0 !important;
        }

        .e-rowcell {
            position: static !important;
            padding-left: 18px;
            text-overflow: ellipsis;

            .dropdown {
                position: absolute !important;

                .dropdown-menu {
                    left: -140px;
                    margin-top: 5px;
                    padding: 5px 0px;
                }
            }
        }

        tr td[ej-mappingname ='Name'] + td {
            button {
                display: inline-block;
            }
        }
    }

    .e-rarrowdown-2x, .e-rarrowup-2x, .e-ungroupbutton, .e-filtericon {
        font-size: 12px;
    }
}

#PublishHistoryGrid {

    .e-gridcontent .e-rowcell {
        padding-left: 18px;
        text-overflow: ellipsis;
    }
}

#publish-info-popup_dialog-content {
    padding: 0px !important;
}

#PublishHistoryContainer_dialog-content {
    padding: 0px !important;
}

#PublishFailureStatus_dialog-content {
    padding: 0px !important;
}

#PublishFailureStatus {
    .popup-title {
        margin: 15px 5px 15px 15px;
        line-height: 14px;

        .su-info {
            padding-right: 4px;
        }
    }

    .fluent-item-popup-body {
        text-align: center;
        padding: 20px;
        max-height: 200px !important;
        max-width: 500px !important;
        overflow-y: scroll;
    }

    .fluent-popup-footer {
        text-align: right;
        padding: 9px;
    }

    .failure-status-dialog-scolling {
        overflow-y: hidden !important;
    }
}

#publish-info-popup {
    .item-info-created {
        font-size: 12px;
        color: $primary-black;
        letter-spacing: 0.3px;
        line-height: 18px;
        display: block;
        margin-top: 5px;
    }

    .info-label {
        color: $grey-400;
    }

    .fluent-item-popup-body {
        padding: 10px;
    }

    .fluent-popup-footer {
        text-align: right;
        padding: 9px;
    }

    .popup-close {
        color: $grey-800;
        font-size: 15px;
    }

    .popup-title {
        line-height: 14px;
        margin: 15px 5px 15px 10px;
    }
}

#PublishHistoryContainer {

    .modal-header {
        border: none;
        height: 50px;

        .header-icon {
            padding: 3px 3px 3px 0;
            width: 20px;
        }

        .popup-close {
            color: $grey-800;
            font-size: 15px;
        }
    }

    .modal-body {
        height: 470px;
        max-height: 470px;
        overflow-y: auto;
    }

    .modal-footer {
        padding: 10px; 
        background-color: $grey-000;
    }
}

#publish-remove-container_dialog-content {
    padding: 0 !important;
}

#publish-remove-container {
    .modal-header {
        border: none;
        font-size: 14px;

        .header-icon {
            padding: 3px 3px 3px 0;
            width: 20px;
        }

        .popup-close {
            color: $grey-800;
        }
    }

    .modal-body {
        font-size: 13px;
    }

    .modal-footer {
        background-color: $grey-000;
        padding: 10px !important;

        .app-secondary-button {
            margin-left: 10px;
        }
    }
}