@import  "Mixins.scss";
@import  "Variables/FontSize.scss";

#save-view-container {
    #save-view-form {
        .validation-errors {
            color: $validation-text-color;
            font-size: $app-text-size;
        }

        #item-name-division {
            padding-top: 0px;
        }

        .notification-alert-message {
            padding: 10px;
            margin-left: 5px;
        }

        #default-view-division {
            .switch-padding {
                top: 5px;
            }

            .material-switch {
                padding: 6px;
            }

            .tool-tip {
                float: none;
                padding: 0px;
                display: inline;

                .dropdown-toggle {
                    cursor: pointer;
                    margin-left: 11px;
                }

                .dropdown-menu {
                    font-size: 12px;
                    margin-left: 14px;
                    width: 310px;
                    padding: 4px;
                }
            }
        }
    }

    .rightAlign {
        margin-right: 15px;
    }
}

.has-error {
    border: 1px solid $validation-text-color;
}

.has-error.form-control:focus {
    border-color: $validation-text-color !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
}