@import  "Mixins.scss";

#get_item_link {

    .PopupTitle, .Head-icon {
        font-size: 14px;
    }

    .report-name {
        font-size: 10px;
    }

    .get-link-body {
        font-size: 14px !important;
        padding-top: 0px !important;

        .note {
            font-size: 12px;
        }

        #item-link {
            background-color: $dialog-body-bgcolor;
            font-size: 12px;
            overflow: hidden;
            border-radius: 4px 0 0 4px;
            resize: none;
            width: 90%;
            float: left;
            border-right: medium none;

            &:focus {
                border: 1px solid $primary-color;
                box-shadow: none;
            }
        }

        #item-link-copy {
            background-color: $dialog-body-bgcolor;
            border-radius: 0 4px 4px 0;
            float: left;
            border-left: medium none;
            cursor: pointer;
            line-height: 14px;
            padding-left: 7px;
            padding-top: 10px;
            width: 7%;
        }

        #item-link-copy.focusdiv {
            border-top: 1px solid $primary-color;
            border-right: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
        }

        .dashboard-link {
            font-size: 12px;
        }
    }

    input[type="button"] {
        -webkit-appearance: none;
    }
}
