@import  "Mixins.scss";

#content-area {
    #admin-nav {
        #ticket-listing-link {
            .su-concierge-support {
                font-weight: 600;
            }
        }
    }

    .admin-page-container {
        padding: 20px 20px 20px 30px;

        .admin-page-header {
            border-bottom: 1px solid #e2e2e2;
            margin: 0 0 20px 0;
            padding: 0 0 10px 0;

            .page-title {
                font-size: 16px !important;
                padding-left: 0px !important;
                font-weight: 700;
                margin-bottom: 5px;
                margin-top: 0;

                #ticket-count {
                    padding-left: 5px;
                }
            }

            .ticket-button {
                border: 1px solid $primary-color;
                border-radius: 4px;
                cursor: pointer;
                font-weight: 600;
                padding: 8px 20px;
                background: $primary-color;
                color: $primary-btn-text-color;

                &:hover {
                    background: $primary-btn-hover;
                }
            }
        }

        .admin-page-body {
            background-color: $admin-page-bg;
            border: 1px solid $admin-body-border-color;
            border-radius: 4px;
            font-size: 12px;
            float: left;
            margin-bottom: 80px;
            margin-top: 0;
            min-height: 250px;
            padding: 10px;
            position: relative;
            width: 100%;
        }
    }
}

.e-waitpopup-pane .e-image {
    top: 80px !important;
}

.info-template {
    border-bottom: 1px solid $border-color;
    margin-left: 15px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    .ticket-title {
        margin-top: 30px;
        margin-bottom: 16px;
        font-size: 14px !important;
        color: $primary-text-color;
        line-height: 16px;
    }

    .ticket-message {
        margin-bottom: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 98%;
        color: $primary-text-color;
        font-size: 12px;
        line-height: 14px;
    }

    .info-area {
        color: $supports-id-color;
        font-size: 11px;
        margin-bottom: 30px;
        line-height: 13px;

        .status {
            color: $primary-btn-text-color;
            border-radius: 2px;
            padding: 3px 10px;
            font-size: 10px;
            line-height: 11px;

            &.open-status {
                border: 1px solid $support-open-color;
                background-color: $support-open-color;
            }

            &.closed-status {
                border: 1px solid $support-close-color;
                background-color: $support-close-color;
            }
        }

        .divider-margin {
            margin: 0 5px;
        }
    }
}

.e-grid .e-gridheader .e-headercell.e-headertemplate {
    padding-left: 15px !important;
}

.e-gridcontent .e-table .e-row .e-rowcell {
    padding: 0;
}

.e-grid .e-columnheader {
    display: none !important;
    border-top-style: none !important;
}

.e-grid .e-pager {
    display: none !important;
}

.e-gridcontent .e-table .e-row .e-rowcell p {
    margin: 0;
}

.e-grid .e-gridheader {
    border: none !important;
}

.e-grid {
    border: none !important;
}

.e-grid .emptyrecord {
    text-align: center;
    padding-top: 100px;
}
