@import  "Mixins.scss";
@import  "Themes/Default.scss";

#content-area {
    padding-right: 0px !important;
    padding-left: $menu-lg-width;
    background-color: $dashboard-list-bg-color;
}

#dashboard-page-container {
    background-color: $dashboard-list-bg-color;
    position: fixed;

    #category-panel {
        background-color: $category-list-bg-color;
        border-right: 1px solid $dashboard-border-color;
        float: left;
        height: 100vh;
        width: $right-sidebar-width;

        .category-bar-ul {
            list-style: none;
            margin: 0px 2px 0px 0px;
            padding: 16px 0px 0px 0px;

            .active {
                background-color: $selected-color;
            }

            .category-item {
                &:hover {
                    .category-settings {
                        visibility: visible;
                    }
                }
            }

            .category-item, .category-list {
                border-bottom: 1px solid $dashboard-border-color;
                cursor: pointer;
                height: 37px;
                line-height: 35px;

                &:hover:not(.active) {
                    background-color: $hover-bg-color;
                }

                .category-icon {
                    font-size: 13px;
                    margin: 5px 0px 0px 10px;
                    padding: 5px;
                }

                .category-bar-header {
                    @include item-subtext-style();
                }

                .category-name {
                    @include item-subtext-style();
                    line-height: 37px;
                    padding: 0 15px;
                }

                .count-container {
                    float: right;
                    padding-right: 15px;

                    .category-count {
                        font-size: 12px;
                        font-weight: 600;
                        color: $dashboard-count-color;
                        letter-spacing: 0.26px;
                        margin-bottom: 4px;
                        padding: 3px;
                        width: 30px;
                    }
                }

                .category-settings {
                    line-height: 27px;
                    padding: 0px;
                    visibility: hidden;

                    .dropdown, .dropup {
                        padding: 6px 5px 4px 5px;

                        .dropdown-menu {
                            left: auto;
                            right: 0px;
                            top: 27px;
                        }
                    }

                    .open {
                        visibility: visible;
                    }

                    .dropup {
                        .dropdown-menu {
                            bottom: 30px;
                            top: auto;
                        }
                    }
                }
            }

            .category-list {
                .category-search-area {
                    font-size: $secondary-fontsize;
                    padding: 5px;
                    position: relative;
                    width: 100%;

                    .close-icon, .su-search {
                        color: $unfavorite-icon-color;
                        font-size: 10px;
                        line-height: 26px;
                        padding: 0px 6px;
                    }

                    input[type="text"] {
                        border: 1px solid $border-color;
                        border-right: 0;
                        border-radius: 4px 0 0 4px;
                        color: $primary-text-color;
                        height: $textbox-height;
                        line-height: normal;
                        position: relative;
                        padding-left: 5px;
                        width: 190px;

                        &:focus {
                            outline: none;
                            border-color: $dashboard-highlight-text-color
                        }
                    }

                    .placeholder {
                        color: $admin-pages-border-color;
                        height: 30px;
                        line-height: $textbox-height;
                        position: absolute;
                        top: 0;
                    }

                    .su-search, .close-icon {
                        width: 25px;
                        height: $textbox-height;
                        border: 1px solid $border-color;
                        border-left: 0;
                        border-radius: 0 4px 4px 0;
                        background-color: $primary-btn-text-color;
                        cursor: pointer;
                    }

                    .focus {
                        border-color: $dashboard-highlight-text-color
                    }
                }

                &:hover {
                    background-color: transparent !important;
                }

                .category-expand-collapse {
                    float: right;
                    padding: 12px;
                }
            }
        }
    }

    #dashboard-list-panel {
        @include loading-fade();
        background-color: $dashboard-list-bg-color;
        display: table-cell;
        margin-left: $right-sidebar-width;
        padding: 15px;
        width: 100vw;

        .dashboard-list-header {
            margin: 7px 0.5%;
            padding: 0 120px 0 50px;
            width: 99%;

            .dashboard-list-header-label {
                @include item-subtext-style();
                color: $dashboard-light-text-color;
                line-height: 21px;
                padding: 0 10px;
            }
        }

        .dashboard-action-container {
            .category-info-container {
                height: 48px;
                @include ellipses();
            }

            .dashboard-category-name, .dashboard-count {
                @include item-name-style();
                display: inline-block;
            }

            .dashboard-category-name {
                max-width: 65%;
            }

            .dashboard-count {
                max-width: 35%;
            }

            .dashboard-category-owner {
                @include item-subtext-style();
                display: block;
                height: 18px;
                margin-top: 5px;
            }
        }

        .dashboard-list-container {
            .public-dashboard-disabled {
                text-align: center;
                margin-top: 10px;

                span {
                    display: inline-block;
                    padding: 1px 10px;
                    border-radius: 4px;
                    font-size: $secondary-fontsize;
                }
            }
        }

        .dashboard-dropdown-container {
            float: right;

            .dashboard-dropdown-label {
                @include item-subtext-style();
                padding: 0px 10px;
                vertical-align: middle;
            }

            #order {
                color: $unfavorite-icon-color;
                cursor: pointer;
                font-size: 15px;
                vertical-align: middle;
                margin: 0 10px 0 5px;
                padding: 5px;
                position: relative;

                .su-sort-left, .su-sort-right {
                    color: $menu-icon-color;
                    position: absolute;
                    top: 6px;
                    left: 0px;
                }

                .su-sort-right {
                    left: 2px;
                }
            }

            .descending {
                .su-sort-left {
                    opacity: 0.3;
                }
            }

            .ascending {
                .su-sort-right {
                    opacity: 0.3;
                }
            }

            .mobile-dashboard-search {
                cursor: pointer;
                padding: 15px 10px 10px 0;
            }
        }

        .item-searchbox-container {
            float: right;
            height: 32px;
            margin: 6px 5px 6px 10px;
            width: 200px;

            .dashboard-search-area {
                $search-height: 24px;

                input[type="text"] {
                    background: $dashboard-color-white;
                    border: 1px solid $border-color;
                    border-right: 0;
                    border-radius: 4px 0 0 4px;
                    color: $primary-text-color;
                    font-size: $app-text-size;
                    height: $search-height;
                    letter-spacing: 0.3px;
                    line-height: 18px;
                    position: relative;
                    padding-left: 8px;
                    width: 175px;

                    &:focus {
                        outline: none;
                        background: $dashboard-color-white;
                        border: 1px solid $dashboard-highlight-text-color;
                        border-right: 0;

                        .su-search {
                            background: $dashboard-color-white;
                        }
                    }
                }

                .su-search, .su-inner-close {
                    background: $dashboard-color-white;
                    border: 1px solid $border-color;
                    border-left: 0 !important;
                    border-radius: 0 4px 4px 0;
                    cursor: pointer;
                    font-size: 10px;
                    height: $search-height;
                    line-height: 22px;
                    padding-left: 2px;
                    width: 20px;
                    color: $icon-color !important;

                    &:hover {
                        color: $icon-hover-color !important;
                    }

                    &.active {
                        background: $dashboard-color-white;
                        border: 1px solid $dashboard-highlight-text-color;
                    }
                }
            }
        }

        .dashboard-sort-container, .dashboard-filter-container {
            display: inline-block;
            float: right;
            margin: 12px 10px 0 0;
        }

        .dashboard-filter-sort {
            display: inline-block;
            padding: 0px 10px;

            .btn-default {
                color: $dashboard-primary-text-color;
                font-size: $secondary-fontsize;
                height: 24px;
                letter-spacing: 0.3px;
                padding: 0px;
                text-align: left;
                min-width: 170px;

                &:focus {
                    background-color: $dashboard-color-white;
                    border-color: $highlight-list-item;
                }

                .selected-field {
                    padding: 3px 8px;
                }

                .su-vertical-expand {
                    float: right;
                    font-size: 9px;
                    padding: 7px;
                }

                &:active {
                    background-color: $dashboard-color-white;
                }
            }

            .dashboard-sort-filter-menu {
                min-width: 170px;

                .search-option {
                    @include item-subtext-style();
                    padding: 5px;
                }

                .su {
                    @include item-subtext-style();
                    font-size: 12px;
                    padding: 0 5px;
                    visibility: hidden;
                }

                .selected {
                    .su {
                        color: $dropdown-selected-text;
                        visibility: visible;
                    }

                    .search-option {
                        color: $dropdown-selected-text;
                    }
                }

                .dashboard-sort-options {
                    padding: 5px 0px 5px 0px;
                }

                li {
                    float: left;
                }
            }
        }

        #dashboard-scroll-content {
            padding-right: 10px !important;
        }

        .dashboard-list-separator {
            background-color: $dashboard-separator-color;
            float: left;
            height: 1px;
            margin: 10px 0px 0px 0px;
        }

        .dashboard-list-section {
            list-style: none;

            li:first-child {
                margin-top: 0px;
            }

            .dashboard-tile {
                background: $dashboard-tile-bg-color;
                border: 1px solid $dashboard-tile-border-color;
                border-radius: 4px;
                cursor: pointer;
                height: 60px;
                margin: 5px 0.5%;
                transition: .1s all;
                width: 99%;

                &:hover {
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
                    margin-right: 0px;
                    margin-left: 0px;
                    padding: 0px;
                    width: 100%;
                }

                .list-label {
                    @include item-subtext-style();
                    color: $dashboard-light-text-color;
                    line-height: 21px;
                    margin-top: 8px;
                    padding: 0 10px;
                }

                .dashboard-name {
                    @include item-name-style();
                    margin-top: 8px;
                }

                .category-name, .modified-date {
                    font-size: $secondary-fontsize;
                    color: $dashboard-primary-text-color;
                    letter-spacing: 0.3px;
                    line-height: 18px;
                    margin: 21px 0;
                    padding-left: 15px;
                    @include ellipses();

                    .category-icon {
                        padding-right: 4px;
                    }
                }

                .author-name {
                    @include item-subtext-style();
                    font-weight: 400;
                    margin: 4px 0;

                    .badge.badge-secondary {
                        font-size: 10px;
                        margin-left: 8px;
                        margin-bottom: 2px;
                        background-color: $menu-bg;
                        color: $dashboard-secondary-text-color;
                    }
                }

                .modified-date {
                    float: left;
                }

                .open-link {
                    padding: 0 115px 0 50px;
                }

                .dashboard-share {
                    cursor: pointer;
                    float: right;
                    line-height: 60px;
                    position: absolute;
                    right: 60px;
                    text-align: center;

                    .item-permissions {
                        color: $menu-icon-color;
                        padding: 12px 13px 11px 13px;

                        &:hover {
                            background-color: $dashboard-icon-hover-bg-color;
                            border-radius: 5px;
                            color: $menu-hover-color;
                        }
                    }
                }

                .options {
                    cursor: pointer;
                    float: right;
                    line-height: 60px;
                    position: absolute;
                    right: 0px;
                    text-align: center;

                    .options-area {
                        color: $menu-icon-color;
                        padding: 13px;
                        margin-right: 10px;

                        &:hover {
                            background-color: $dashboard-icon-hover-bg-color;
                            border-radius: 5px;
                            color: $menu-hover-color;
                        }
                    }

                    .dropdown-menu {
                        left: auto;
                        right: 20px;
                        top: 40px;
                        width: 170px;

                        .option-click, .views {
                            float: left;
                            line-height: 30px;
                            padding: 0px;

                            span {
                                @include item-subtext-style();
                            }
                        }
                    }

                    .dashboard-views:hover > ul {
                        display: block;
                    }

                    .dashboard-views {
                        padding: 0px !important;
                    }

                    .item-views {
                        max-width: 50px;
                        top: 0px !important;
                        left: 0px !important;

                        .view-name {
                            font-size: 12px;
                            float: left;
                            line-height: 30px;
                            overflow: hidden;
                            padding: 0px 10px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    .views-loader {
                        > span {
                            background-image: url(images/waitingpopup_small.gif);
                            background-position: 97% center;
                            background-repeat: no-repeat;
                        }
                    }

                    .no-loader {
                        background-image: none;
                    }
                }

                .dropup {
                    .dropdown-menu {
                        bottom: 30px;
                        top: auto;
                    }
                }

                .favorite {
                    cursor: pointer;
                    float: left;
                    font-size: 15px;
                    line-height: 60px !important;
                    padding: 0 10px 0 15px;
                    position: absolute;
                    left: 0;
                    width: 45px;
                    z-index: 999;
                }

                .su-favorite {
                    color: $favorite-icon-color;
                    font-size: 15px;
                }

                .su-dis-favorite {
                    color: $unfavorite-icon-color;

                    &:hover {
                        color: $menu-hover-color;
                    }
                }
            }
        }

        .dashboard-empty-message-div {
            padding-top: 200px;

            .dashboard-empty-message {
                font-size: 16px;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.4px;
                color: $dashboard-primary-text-color;
                display: block;
                padding: 24px 0;
                text-align: center;
            }

            .create-buttton, .empty-dashboard-image-div {
                margin: 0 auto;
                text-align: center;

                button {
                    background-color: $primary-color;
                    border: 1px solid $primary-color;
                    border-radius: 4px;
                    font-size: 13px;
                    font-weight: 600;
                    height: 28px;
                    letter-spacing: 0.3px;
                    line-height: 18px;
                    width: 150px;
                }
            }
        }
    }

    #parent-category-scroll-element, #parent-dashboard-scroll-element {
        cursor: default;

        #category-scroll-element {
            width: 100% !important;
        }

        .e-scrollbar {
            background-color: transparent;

            &.active {
                display: block !important;
            }

            .e-vscroll {
                border: 1px solid $dashboard-border-color;
                border-radius: 10px;

                .e-vup, .e-vdown {
                    display: none;
                    height: 0px;
                    font-size: 0px;
                }

                .e-vhandlespace {
                    border-radius: 10px;

                    .e-vhandle {
                        background-color: $dashboard-scroller-color;
                        border: 0px;
                        border-radius: 5px;
                    }
                }
            }
        }

        &:hover {
            .e-scrollbar {
                display: block !important;
            }
        }

        .category-empty-message-div {
            .category-empty-message {
                @include item-subtext-style();
                display: block;
                margin-top: 10px;
                text-align: center;
            }
        }

        #dashboard-scroll-element {
            width: 100% !important,
        }
    }
}

#dashboard-sort-modal {
    .modal-dialog {
        left: 50%;
        margin-left: -110px;
        margin-top: -125px;
        position: absolute;
        top: 50%;
        width: 240px;

        .modal-content {
            border-radius: 0px;

            ul {
                margin: 6px 0px;

                li {
                    height: 28px;
                    line-height: 25px;
                    margin: 2px;

                    .dashboard-sort-options {
                        .search-option {
                            @include item-subtext-style();
                        }
                    }
                }

                .su {
                    @include item-subtext-style();
                    font-size: 14px;
                    padding: 0 5px;
                    vertical-align: middle;
                    visibility: hidden;
                }

                .selected {
                    .su {
                        color: $highlight-list-item;
                        visibility: visible;
                    }

                    .dashboard-sort-options {
                        .search-option {
                            color: $highlight-list-item;
                        }
                    }
                }
            }
        }

        .modal-footer {
            button {
                width: 90px;
            }

            .app-primary-button {
                margin-right: 4px;
            }
        }
    }
}

.tooltip-inner {
    text-align: left;
    max-width: 350px !important;

    .clear-search-tooltip {
        white-space: nowrap;
    }

    .dashboard-list-tooltip {
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.3px;
        color: $dashboard-tile-bg-color;
        text-align: left;
        display: block;

        .tooltip-row {
            display: table-row;

            .tooltip-label {
                color: $tooltip-label-color;
                display: table-cell;
                padding-right: 10px;
                text-align: right;
                width: 90px;
            }

            .tooltip-description {
                display: table-cell;
            }
        }
    }
}

input[type="text"]::-webkit-input-placeholder {
    color: $placeholder-color;
}

input[type="text"]::-moz-placeholder {
    color: $placeholder-color;
}

ul {
    list-style: none;
}

#messageBox_wrapper.success-message-large {
    height: 200px !important;
    width: 530px !important;

    .e-dialog-scroller.e-scroller.e-js.e-widget {
        height: 200px !important;
        width: 530px !important;

        #messageBox {
            height: 200px !important;
            width: 530px !important;

            .message-content {
                text-align: left !important;
                height: 110px;
            }
        }
    }

    .e-scrollbar{
        display: none !important;
    }
}

#messageBox_wrapper.success-message-small {
    height: 180px !important;
    width: 530px !important;

    .e-dialog-scroller.e-scroller.e-js.e-widget {
        height: 180px !important;
        width: 530px !important;

        #messageBox {
            height: 180px !important;
            width: 530px !important;

            .message-content {
                text-align: left !important;
                height: 105px;
            }
        }
    }

    .e-scrollbar {
        display: none !important;
    }
}

@media screen and (max-width: 1310px) and (min-width: 1200px) {
    #dashboard-list-panel {
        .dashboard-action-container {
            .item-searchbox-container {
                margin-left: 35% !important;
            }
        }
    }
}


//Tablet
@media screen and (max-width: 1040px) {
    body {
        overscroll-behavior-y: contain;
    }

    #dashboard-list-panel {
        .dashboard-list-separator {
            margin: 20px 0 !important;
        }

        #parent-dashboard-scroll-element {
            #dashboard-scroll-content {
                padding: 0px !important;
            }

            .e-scrollbar {
                background-color: transparent;

                .e-vscroll {
                    background-color: transparent;
                    border: none;

                    .e-vhandlespace {
                        background-color: transparent;
                    }
                }
            }
        }

        .dashboard-action-container {
            .item-searchbox-container {
                width: auto !important;
            }

            .dashboard-dropdown-container {
                #order {
                    float: right;
                    margin: 14px 25px 0px 10px !important;
                }

                .dashboard-filter-container {
                    .dashboard-filter-sort {
                        button {
                            height: 32px !important;
                            width: 150px !important;
                        }
                    }
                }

                .item-searchbox-container {
                    .dashboard-search-area {
                        #dashboard-search-items {
                            height: 32px;
                        }

                        .su-inner-close, .su-search {
                            height: 32px !important;
                            line-height: 32px !important;
                        }

                        .su-search {
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }

        .dashboard-tile {
            margin: 5px 0 5px 0 !important;
            width: 100% !important;

            .open-link {
                padding: 0 50px 0 50px !important;
            }
        }

        .dashboard-list-header {
            padding: 0 50px 0 50px !important;
            width: 100% !important;
        }
    }

    #category-panel {
        .category-bar-ul {
            .category-search-area {
                input, .su-inner-close, .su-search {
                    height: 32px !important;
                    line-height: 32px !important;
                }
            }
        }
    }
}


//Mobile
@media screen and (max-width: 768px) {
    #content-area {
        #dashboard-page-container {
            width: 100%;

            .mobile-header {
                background-color: $category-list-bg-color;
                border-bottom: 1px solid $dashboard-separator-color;
                cursor: pointer;
                padding: 10px 15px;
                @include item-name-style();

                .mobile-section-expand-collapse {
                    float: right;
                    padding-top: 4px;
                }

                .category-icon {
                    padding-right: 7px;
                }
            }

            .dashboard-dropdown-container {
                display: flex;
                flex-direction: row-reverse;
                width: 100%;

                .dashboard-filter-container {
                    flex: 1;
                    display: flex;

                    .dashboard-dropdown-label {
                        line-height: 32px;
                    }

                    .dashboard-filter-sort {
                        flex: 1;
                        width: 100%;

                        .btn, .dashboard-sort-filter-menu {
                            width: 100% !important;
                        }
                    }
                }

                .search-active {
                    width: 100% !important;

                    .item-searchbox-container {
                        width: 100% !important;

                        .dashboard-search-area {
                            display: flex;
                            flex-direction: row-reverse;
                            margin-left: 6px;
                            margin-bottom: 6px;

                            #dashboard-search-items {
                                flex: 1;
                            }
                        }
                    }
                }
            }
        }

        #category-panel {
            border-right: none;
            width: 100%;

            .category-bar-ul {
                padding-top: 0px;
                margin: 0;

                .category-search-area {
                    display: flex;
                    padding: 10px !important;
                    width: 100% !important;

                    input {
                        flex: 1;
                    }
                }
            }
        }

        #dashboard-list-panel {
            float: right;
            max-width: 100%;
            padding-top: 0px;

            .dashboard-list-separator {
                margin: 10px 0 !important;
            }

            .fd-post {
                max-width: 100%;
            }

            .author-name {
                width: 100%;
            }

            .dashboard-empty-message-div {
                left: 0;
                position: fixed;
                padding-top: 0 !important;
                top: 50%;
            }
        }
    }
}

@media screen and (min-width: 1041px) and (max-width: 1399px) {
    #content-area {
        padding: 0px 0px 0px $menu-lg-width !important;
    }
}