#content-area {
  padding-right: 0px !important;
  padding-left: 80px;
  background-color: #f2f2f2; }

#dashboard-page-container {
  background-color: #f2f2f2;
  position: fixed; }
  #dashboard-page-container #category-panel {
    background-color: #f9f9f9;
    border-right: 1px solid #e2e2e2;
    float: left;
    height: 100vh;
    width: 230px; }
    #dashboard-page-container #category-panel .category-bar-ul {
      list-style: none;
      margin: 0px 2px 0px 0px;
      padding: 16px 0px 0px 0px; }
      #dashboard-page-container #category-panel .category-bar-ul .active {
        background-color: #dbe9ff; }
      #dashboard-page-container #category-panel .category-bar-ul .category-item:hover .category-settings {
        visibility: visible; }
      #dashboard-page-container #category-panel .category-bar-ul .category-item, #dashboard-page-container #category-panel .category-bar-ul .category-list {
        border-bottom: 1px solid #e2e2e2;
        cursor: pointer;
        height: 37px;
        line-height: 35px; }
        #dashboard-page-container #category-panel .category-bar-ul .category-item:hover:not(.active), #dashboard-page-container #category-panel .category-bar-ul .category-list:hover:not(.active) {
          background-color: #eeeeee; }
        #dashboard-page-container #category-panel .category-bar-ul .category-item .category-icon, #dashboard-page-container #category-panel .category-bar-ul .category-list .category-icon {
          font-size: 13px;
          margin: 5px 0px 0px 10px;
          padding: 5px; }
        #dashboard-page-container #category-panel .category-bar-ul .category-item .category-bar-header, #dashboard-page-container #category-panel .category-bar-ul .category-list .category-bar-header {
          font-size: 12px;
          color: #333;
          letter-spacing: 0.3px;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        #dashboard-page-container #category-panel .category-bar-ul .category-item .category-name, #dashboard-page-container #category-panel .category-bar-ul .category-list .category-name {
          font-size: 12px;
          color: #333;
          letter-spacing: 0.3px;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 37px;
          padding: 0 15px; }
        #dashboard-page-container #category-panel .category-bar-ul .category-item .count-container, #dashboard-page-container #category-panel .category-bar-ul .category-list .count-container {
          float: right;
          padding-right: 15px; }
          #dashboard-page-container #category-panel .category-bar-ul .category-item .count-container .category-count, #dashboard-page-container #category-panel .category-bar-ul .category-list .count-container .category-count {
            font-size: 12px;
            font-weight: 600;
            color: #999999;
            letter-spacing: 0.26px;
            margin-bottom: 4px;
            padding: 3px;
            width: 30px; }
        #dashboard-page-container #category-panel .category-bar-ul .category-item .category-settings, #dashboard-page-container #category-panel .category-bar-ul .category-list .category-settings {
          line-height: 27px;
          padding: 0px;
          visibility: hidden; }
          #dashboard-page-container #category-panel .category-bar-ul .category-item .category-settings .dropdown, #dashboard-page-container #category-panel .category-bar-ul .category-item .category-settings .dropup, #dashboard-page-container #category-panel .category-bar-ul .category-list .category-settings .dropdown, #dashboard-page-container #category-panel .category-bar-ul .category-list .category-settings .dropup {
            padding: 6px 5px 4px 5px; }
            #dashboard-page-container #category-panel .category-bar-ul .category-item .category-settings .dropdown .dropdown-menu, #dashboard-page-container #category-panel .category-bar-ul .category-item .category-settings .dropup .dropdown-menu, #dashboard-page-container #category-panel .category-bar-ul .category-list .category-settings .dropdown .dropdown-menu, #dashboard-page-container #category-panel .category-bar-ul .category-list .category-settings .dropup .dropdown-menu {
              left: auto;
              right: 0px;
              top: 27px; }
          #dashboard-page-container #category-panel .category-bar-ul .category-item .category-settings .open, #dashboard-page-container #category-panel .category-bar-ul .category-list .category-settings .open {
            visibility: visible; }
          #dashboard-page-container #category-panel .category-bar-ul .category-item .category-settings .dropup .dropdown-menu, #dashboard-page-container #category-panel .category-bar-ul .category-list .category-settings .dropup .dropdown-menu {
            bottom: 30px;
            top: auto; }
      #dashboard-page-container #category-panel .category-bar-ul .category-list .category-search-area {
        font-size: 12px;
        padding: 5px;
        position: relative;
        width: 100%; }
        #dashboard-page-container #category-panel .category-bar-ul .category-list .category-search-area .close-icon, #dashboard-page-container #category-panel .category-bar-ul .category-list .category-search-area .su-search {
          color: #4d4d4d;
          font-size: 10px;
          line-height: 26px;
          padding: 0px 6px; }
        #dashboard-page-container #category-panel .category-bar-ul .category-list .category-search-area input[type="text"] {
          border: 1px solid #cccccc;
          border-right: 0;
          border-radius: 4px 0 0 4px;
          color: #333;
          height: 28px;
          line-height: normal;
          position: relative;
          padding-left: 5px;
          width: 190px; }
          #dashboard-page-container #category-panel .category-bar-ul .category-list .category-search-area input[type="text"]:focus {
            outline: none;
            border-color: #0565ff; }
        #dashboard-page-container #category-panel .category-bar-ul .category-list .category-search-area .placeholder {
          color: #e2e2e2;
          height: 30px;
          line-height: 28px;
          position: absolute;
          top: 0; }
        #dashboard-page-container #category-panel .category-bar-ul .category-list .category-search-area .su-search, #dashboard-page-container #category-panel .category-bar-ul .category-list .category-search-area .close-icon {
          width: 25px;
          height: 28px;
          border: 1px solid #cccccc;
          border-left: 0;
          border-radius: 0 4px 4px 0;
          background-color: #fff;
          cursor: pointer; }
        #dashboard-page-container #category-panel .category-bar-ul .category-list .category-search-area .focus {
          border-color: #0565ff; }
      #dashboard-page-container #category-panel .category-bar-ul .category-list:hover {
        background-color: transparent !important; }
      #dashboard-page-container #category-panel .category-bar-ul .category-list .category-expand-collapse {
        float: right;
        padding: 12px; }
  #dashboard-page-container #dashboard-list-panel {
    background-color: #f2f2f2;
    display: table-cell;
    margin-left: 230px;
    padding: 15px;
    width: 100vw; }
    #dashboard-page-container #dashboard-list-panel .fd-post {
      margin: 15px 0;
      padding: 12px;
      width: 500px; }
    #dashboard-page-container #dashboard-list-panel .fd-place-holder {
      overflow: hidden;
      height: 36px;
      background: #dbdbdb;
      position: relative; }
    #dashboard-page-container #dashboard-list-panel .fd-place-holder::before {
      content: "";
      background-image: linear-gradient(to right, #DBDBDB 0%, #d4d4d4 20%, #e6e6e6 40%, #DBDBDB 100%);
      background-repeat: no-repeat;
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      animation: 1s placeHolderShimmer linear infinite; }

@keyframes placeHolderShimmer {
  0% {
    transform: translateX(-468px); }
  100% {
    transform: translateX(468px); } }
    #dashboard-page-container #dashboard-list-panel .fd-place-holder div {
      background-color: #f2f2f2;
      position: absolute;
      right: 0; }
    #dashboard-page-container #dashboard-list-panel .fd-place-holder .fd-avatar {
      width: 40px;
      border: 8px solid white;
      top: -14px;
      left: -8px; }
    #dashboard-page-container #dashboard-list-panel .fd-place-holder .fd-avatar.fd-round {
      border-radius: 50%; }
    #dashboard-page-container #dashboard-list-panel .fd-place-holder .fd-divider-1 {
      height: 2px;
      top: 0;
      left: 0px; }
    #dashboard-page-container #dashboard-list-panel .fd-place-holder .name {
      height: 6px;
      top: 8px;
      left: 136px; }
    #dashboard-page-container #dashboard-list-panel .fd-place-holder .fd-divider-2 {
      height: 10px;
      top: 15px;
      left: 00px; }
    #dashboard-page-container #dashboard-list-panel .fd-place-holder .fd-date-time {
      height: 13px;
      top: 2px;
      left: 190px; }
    #dashboard-page-container #dashboard-list-panel .fd-place-holder .fd-divider-3 {
      height: 16px;
      top: 48px;
      left: 0px; }
    #dashboard-page-container #dashboard-list-panel .dashboard-list-header {
      margin: 7px 0.5%;
      padding: 0 120px 0 50px;
      width: 99%; }
      #dashboard-page-container #dashboard-list-panel .dashboard-list-header .dashboard-list-header-label {
        font-size: 12px;
        color: #333;
        letter-spacing: 0.3px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #808080;
        line-height: 21px;
        padding: 0 10px; }
    #dashboard-page-container #dashboard-list-panel .dashboard-action-container .category-info-container {
      height: 48px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    #dashboard-page-container #dashboard-list-panel .dashboard-action-container .dashboard-category-name, #dashboard-page-container #dashboard-list-panel .dashboard-action-container .dashboard-count {
      font-size: 14px;
      font-weight: 600;
      color: #333;
      letter-spacing: 0.3px;
      line-height: 21px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block; }
    #dashboard-page-container #dashboard-list-panel .dashboard-action-container .dashboard-category-name {
      max-width: 65%; }
    #dashboard-page-container #dashboard-list-panel .dashboard-action-container .dashboard-count {
      max-width: 35%; }
    #dashboard-page-container #dashboard-list-panel .dashboard-action-container .dashboard-category-owner {
      font-size: 12px;
      color: #333;
      letter-spacing: 0.3px;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      height: 18px;
      margin-top: 5px; }
    #dashboard-page-container #dashboard-list-panel .dashboard-list-container .public-dashboard-disabled {
      text-align: center;
      margin-top: 10px; }
      #dashboard-page-container #dashboard-list-panel .dashboard-list-container .public-dashboard-disabled span {
        display: inline-block;
        padding: 1px 10px;
        border-radius: 4px;
        font-size: 12px; }
    #dashboard-page-container #dashboard-list-panel .dashboard-dropdown-container {
      float: right; }
      #dashboard-page-container #dashboard-list-panel .dashboard-dropdown-container .dashboard-dropdown-label {
        font-size: 12px;
        color: #333;
        letter-spacing: 0.3px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0px 10px;
        vertical-align: middle; }
      #dashboard-page-container #dashboard-list-panel .dashboard-dropdown-container #order {
        color: #4d4d4d;
        cursor: pointer;
        font-size: 15px;
        vertical-align: middle;
        margin: 0 10px 0 5px;
        padding: 5px;
        position: relative; }
        #dashboard-page-container #dashboard-list-panel .dashboard-dropdown-container #order .su-sort-left, #dashboard-page-container #dashboard-list-panel .dashboard-dropdown-container #order .su-sort-right {
          color: #4d4d4d;
          position: absolute;
          top: 6px;
          left: 0px; }
        #dashboard-page-container #dashboard-list-panel .dashboard-dropdown-container #order .su-sort-right {
          left: 2px; }
      #dashboard-page-container #dashboard-list-panel .dashboard-dropdown-container .descending .su-sort-left {
        opacity: 0.3; }
      #dashboard-page-container #dashboard-list-panel .dashboard-dropdown-container .ascending .su-sort-right {
        opacity: 0.3; }
      #dashboard-page-container #dashboard-list-panel .dashboard-dropdown-container .mobile-dashboard-search {
        cursor: pointer;
        padding: 15px 10px 10px 0; }
    #dashboard-page-container #dashboard-list-panel .item-searchbox-container {
      float: right;
      height: 32px;
      margin: 6px 5px 6px 10px;
      width: 200px; }
      #dashboard-page-container #dashboard-list-panel .item-searchbox-container .dashboard-search-area input[type="text"] {
        background: #fff;
        border: 1px solid #cccccc;
        border-right: 0;
        border-radius: 4px 0 0 4px;
        color: #333;
        font-size: 12px;
        height: 24px;
        letter-spacing: 0.3px;
        line-height: 18px;
        position: relative;
        padding-left: 8px;
        width: 175px; }
        #dashboard-page-container #dashboard-list-panel .item-searchbox-container .dashboard-search-area input[type="text"]:focus {
          outline: none;
          background: #fff;
          border: 1px solid #0565ff;
          border-right: 0; }
          #dashboard-page-container #dashboard-list-panel .item-searchbox-container .dashboard-search-area input[type="text"]:focus .su-search {
            background: #fff; }
      #dashboard-page-container #dashboard-list-panel .item-searchbox-container .dashboard-search-area .su-search, #dashboard-page-container #dashboard-list-panel .item-searchbox-container .dashboard-search-area .su-inner-close {
        background: #fff;
        border: 1px solid #cccccc;
        border-left: 0 !important;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        font-size: 10px;
        height: 24px;
        line-height: 22px;
        padding-left: 2px;
        width: 20px;
        color: #4d4d4d !important; }
        #dashboard-page-container #dashboard-list-panel .item-searchbox-container .dashboard-search-area .su-search:hover, #dashboard-page-container #dashboard-list-panel .item-searchbox-container .dashboard-search-area .su-inner-close:hover {
          color: #1a1a1a !important; }
        #dashboard-page-container #dashboard-list-panel .item-searchbox-container .dashboard-search-area .su-search.active, #dashboard-page-container #dashboard-list-panel .item-searchbox-container .dashboard-search-area .su-inner-close.active {
          background: #fff;
          border: 1px solid #0565ff; }
    #dashboard-page-container #dashboard-list-panel .dashboard-sort-container, #dashboard-page-container #dashboard-list-panel .dashboard-filter-container {
      display: inline-block;
      float: right;
      margin: 12px 10px 0 0; }
    #dashboard-page-container #dashboard-list-panel .dashboard-filter-sort {
      display: inline-block;
      padding: 0px 10px; }
      #dashboard-page-container #dashboard-list-panel .dashboard-filter-sort .btn-default {
        color: #333;
        font-size: 12px;
        height: 24px;
        letter-spacing: 0.3px;
        padding: 0px;
        text-align: left;
        min-width: 170px; }
        #dashboard-page-container #dashboard-list-panel .dashboard-filter-sort .btn-default:focus {
          background-color: #fff;
          border-color: #0565ff; }
        #dashboard-page-container #dashboard-list-panel .dashboard-filter-sort .btn-default .selected-field {
          padding: 3px 8px; }
        #dashboard-page-container #dashboard-list-panel .dashboard-filter-sort .btn-default .su-vertical-expand {
          float: right;
          font-size: 9px;
          padding: 7px; }
        #dashboard-page-container #dashboard-list-panel .dashboard-filter-sort .btn-default:active {
          background-color: #fff; }
      #dashboard-page-container #dashboard-list-panel .dashboard-filter-sort .dashboard-sort-filter-menu {
        min-width: 170px; }
        #dashboard-page-container #dashboard-list-panel .dashboard-filter-sort .dashboard-sort-filter-menu .search-option {
          font-size: 12px;
          color: #333;
          letter-spacing: 0.3px;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 5px; }
        #dashboard-page-container #dashboard-list-panel .dashboard-filter-sort .dashboard-sort-filter-menu .su {
          font-size: 12px;
          color: #333;
          letter-spacing: 0.3px;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 12px;
          padding: 0 5px;
          visibility: hidden; }
        #dashboard-page-container #dashboard-list-panel .dashboard-filter-sort .dashboard-sort-filter-menu .selected .su {
          color: #333;
          visibility: visible; }
        #dashboard-page-container #dashboard-list-panel .dashboard-filter-sort .dashboard-sort-filter-menu .selected .search-option {
          color: #333; }
        #dashboard-page-container #dashboard-list-panel .dashboard-filter-sort .dashboard-sort-filter-menu .dashboard-sort-options {
          padding: 5px 0px 5px 0px; }
        #dashboard-page-container #dashboard-list-panel .dashboard-filter-sort .dashboard-sort-filter-menu li {
          float: left; }
    #dashboard-page-container #dashboard-list-panel #dashboard-scroll-content {
      padding-right: 10px !important; }
    #dashboard-page-container #dashboard-list-panel .dashboard-list-separator {
      background-color: #cccccc;
      float: left;
      height: 1px;
      margin: 10px 0px 0px 0px; }
    #dashboard-page-container #dashboard-list-panel .dashboard-list-section {
      list-style: none; }
      #dashboard-page-container #dashboard-list-panel .dashboard-list-section li:first-child {
        margin-top: 0px; }
      #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile {
        background: #fff;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        cursor: pointer;
        height: 60px;
        margin: 5px 0.5%;
        transition: .1s all;
        width: 99%; }
        #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile:hover {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          margin-right: 0px;
          margin-left: 0px;
          padding: 0px;
          width: 100%; }
        #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .list-label {
          font-size: 12px;
          color: #333;
          letter-spacing: 0.3px;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #808080;
          line-height: 21px;
          margin-top: 8px;
          padding: 0 10px; }
        #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .dashboard-name {
          font-size: 14px;
          font-weight: 600;
          color: #333;
          letter-spacing: 0.3px;
          line-height: 21px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-top: 8px; }
        #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .category-name, #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .modified-date {
          font-size: 12px;
          color: #333;
          letter-spacing: 0.3px;
          line-height: 18px;
          margin: 21px 0;
          padding-left: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .category-name .category-icon, #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .modified-date .category-icon {
            padding-right: 4px; }
        #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .author-name {
          font-size: 12px;
          color: #333;
          letter-spacing: 0.3px;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: 400;
          margin: 4px 0; }
          #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .author-name .badge.badge-secondary {
            font-size: 10px;
            margin-left: 8px;
            margin-bottom: 2px;
            background-color: #f2f2f2;
            color: #808080; }
        #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .modified-date {
          float: left; }
        #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .open-link {
          padding: 0 115px 0 50px; }
        #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .dashboard-share {
          cursor: pointer;
          float: right;
          line-height: 60px;
          position: absolute;
          right: 60px;
          text-align: center; }
          #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .dashboard-share .item-permissions {
            color: #4d4d4d;
            padding: 12px 13px 11px 13px; }
            #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .dashboard-share .item-permissions:hover {
              background-color: #eeeeee;
              border-radius: 5px;
              color: #1a1a1a; }
        #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options {
          cursor: pointer;
          float: right;
          line-height: 60px;
          position: absolute;
          right: 0px;
          text-align: center; }
          #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options .options-area {
            color: #4d4d4d;
            padding: 13px;
            margin-right: 10px; }
            #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options .options-area:hover {
              background-color: #eeeeee;
              border-radius: 5px;
              color: #1a1a1a; }
          #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options .dropdown-menu {
            left: auto;
            right: 20px;
            top: 40px;
            width: 170px; }
            #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options .dropdown-menu .option-click, #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options .dropdown-menu .views {
              float: left;
              line-height: 30px;
              padding: 0px; }
              #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options .dropdown-menu .option-click span, #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options .dropdown-menu .views span {
                font-size: 12px;
                color: #333;
                letter-spacing: 0.3px;
                line-height: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
          #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options .dashboard-views:hover > ul {
            display: block; }
          #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options .dashboard-views {
            padding: 0px !important; }
          #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options .item-views {
            max-width: 50px;
            top: 0px !important;
            left: 0px !important; }
            #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options .item-views .view-name {
              font-size: 12px;
              float: left;
              line-height: 30px;
              overflow: hidden;
              padding: 0px 10px;
              text-overflow: ellipsis;
              white-space: nowrap; }
          #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options .views-loader > span {
            background-image: url(images/waitingpopup_small.gif);
            background-position: 97% center;
            background-repeat: no-repeat; }
          #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .options .no-loader {
            background-image: none; }
        #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .dropup .dropdown-menu {
          bottom: 30px;
          top: auto; }
        #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .favorite {
          cursor: pointer;
          float: left;
          font-size: 15px;
          line-height: 60px !important;
          padding: 0 10px 0 15px;
          position: absolute;
          left: 0;
          width: 45px;
          z-index: 999; }
        #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .su-favorite {
          color: #ff9503;
          font-size: 15px; }
        #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .su-dis-favorite {
          color: #4d4d4d; }
          #dashboard-page-container #dashboard-list-panel .dashboard-list-section .dashboard-tile .su-dis-favorite:hover {
            color: #1a1a1a; }
    #dashboard-page-container #dashboard-list-panel .dashboard-empty-message-div {
      padding-top: 200px; }
      #dashboard-page-container #dashboard-list-panel .dashboard-empty-message-div .dashboard-empty-message {
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #333;
        display: block;
        padding: 24px 0;
        text-align: center; }
      #dashboard-page-container #dashboard-list-panel .dashboard-empty-message-div .create-buttton, #dashboard-page-container #dashboard-list-panel .dashboard-empty-message-div .empty-dashboard-image-div {
        margin: 0 auto;
        text-align: center; }
        #dashboard-page-container #dashboard-list-panel .dashboard-empty-message-div .create-buttton button, #dashboard-page-container #dashboard-list-panel .dashboard-empty-message-div .empty-dashboard-image-div button {
          background-color: #0565ff;
          border: 1px solid #0565ff;
          border-radius: 4px;
          font-size: 13px;
          font-weight: 600;
          height: 28px;
          letter-spacing: 0.3px;
          line-height: 18px;
          width: 150px; }
  #dashboard-page-container #parent-category-scroll-element, #dashboard-page-container #parent-dashboard-scroll-element {
    cursor: default; }
    #dashboard-page-container #parent-category-scroll-element #category-scroll-element, #dashboard-page-container #parent-dashboard-scroll-element #category-scroll-element {
      width: 100% !important; }
    #dashboard-page-container #parent-category-scroll-element .e-scrollbar, #dashboard-page-container #parent-dashboard-scroll-element .e-scrollbar {
      background-color: transparent; }
      #dashboard-page-container #parent-category-scroll-element .e-scrollbar.active, #dashboard-page-container #parent-dashboard-scroll-element .e-scrollbar.active {
        display: block !important; }
      #dashboard-page-container #parent-category-scroll-element .e-scrollbar .e-vscroll, #dashboard-page-container #parent-dashboard-scroll-element .e-scrollbar .e-vscroll {
        border: 1px solid #e2e2e2;
        border-radius: 10px; }
        #dashboard-page-container #parent-category-scroll-element .e-scrollbar .e-vscroll .e-vup, #dashboard-page-container #parent-category-scroll-element .e-scrollbar .e-vscroll .e-vdown, #dashboard-page-container #parent-dashboard-scroll-element .e-scrollbar .e-vscroll .e-vup, #dashboard-page-container #parent-dashboard-scroll-element .e-scrollbar .e-vscroll .e-vdown {
          display: none;
          height: 0px;
          font-size: 0px; }
        #dashboard-page-container #parent-category-scroll-element .e-scrollbar .e-vscroll .e-vhandlespace, #dashboard-page-container #parent-dashboard-scroll-element .e-scrollbar .e-vscroll .e-vhandlespace {
          border-radius: 10px; }
          #dashboard-page-container #parent-category-scroll-element .e-scrollbar .e-vscroll .e-vhandlespace .e-vhandle, #dashboard-page-container #parent-dashboard-scroll-element .e-scrollbar .e-vscroll .e-vhandlespace .e-vhandle {
            background-color: #b3b3b3;
            border: 0px;
            border-radius: 5px; }
    #dashboard-page-container #parent-category-scroll-element:hover .e-scrollbar, #dashboard-page-container #parent-dashboard-scroll-element:hover .e-scrollbar {
      display: block !important; }
    #dashboard-page-container #parent-category-scroll-element .category-empty-message-div .category-empty-message, #dashboard-page-container #parent-dashboard-scroll-element .category-empty-message-div .category-empty-message {
      font-size: 12px;
      color: #333;
      letter-spacing: 0.3px;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      margin-top: 10px;
      text-align: center; }
    #dashboard-page-container #parent-category-scroll-element #dashboard-scroll-element, #dashboard-page-container #parent-dashboard-scroll-element #dashboard-scroll-element {
      width: 100% !important; }

#dashboard-sort-modal .modal-dialog {
  left: 50%;
  margin-left: -110px;
  margin-top: -125px;
  position: absolute;
  top: 50%;
  width: 240px; }
  #dashboard-sort-modal .modal-dialog .modal-content {
    border-radius: 0px; }
    #dashboard-sort-modal .modal-dialog .modal-content ul {
      margin: 6px 0px; }
      #dashboard-sort-modal .modal-dialog .modal-content ul li {
        height: 28px;
        line-height: 25px;
        margin: 2px; }
        #dashboard-sort-modal .modal-dialog .modal-content ul li .dashboard-sort-options .search-option {
          font-size: 12px;
          color: #333;
          letter-spacing: 0.3px;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
      #dashboard-sort-modal .modal-dialog .modal-content ul .su {
        font-size: 12px;
        color: #333;
        letter-spacing: 0.3px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        padding: 0 5px;
        vertical-align: middle;
        visibility: hidden; }
      #dashboard-sort-modal .modal-dialog .modal-content ul .selected .su {
        color: #0565ff;
        visibility: visible; }
      #dashboard-sort-modal .modal-dialog .modal-content ul .selected .dashboard-sort-options .search-option {
        color: #0565ff; }
  #dashboard-sort-modal .modal-dialog .modal-footer button {
    width: 90px; }
  #dashboard-sort-modal .modal-dialog .modal-footer .app-primary-button {
    margin-right: 4px; }

.tooltip-inner {
  text-align: left;
  max-width: 350px !important; }
  .tooltip-inner .clear-search-tooltip {
    white-space: nowrap; }
  .tooltip-inner .dashboard-list-tooltip {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.3px;
    color: #fff;
    text-align: left;
    display: block; }
    .tooltip-inner .dashboard-list-tooltip .tooltip-row {
      display: table-row; }
      .tooltip-inner .dashboard-list-tooltip .tooltip-row .tooltip-label {
        color: #cccccc;
        display: table-cell;
        padding-right: 10px;
        text-align: right;
        width: 90px; }
      .tooltip-inner .dashboard-list-tooltip .tooltip-row .tooltip-description {
        display: table-cell; }

input[type="text"]::-webkit-input-placeholder {
  color: #b3b3b3; }

input[type="text"]::-moz-placeholder {
  color: #b3b3b3; }

ul {
  list-style: none; }

#messageBox_wrapper.success-message-large {
  height: 200px !important;
  width: 530px !important; }
  #messageBox_wrapper.success-message-large .e-dialog-scroller.e-scroller.e-js.e-widget {
    height: 200px !important;
    width: 530px !important; }
    #messageBox_wrapper.success-message-large .e-dialog-scroller.e-scroller.e-js.e-widget #messageBox {
      height: 200px !important;
      width: 530px !important; }
      #messageBox_wrapper.success-message-large .e-dialog-scroller.e-scroller.e-js.e-widget #messageBox .message-content {
        text-align: left !important;
        height: 110px; }
  #messageBox_wrapper.success-message-large .e-scrollbar {
    display: none !important; }

#messageBox_wrapper.success-message-small {
  height: 180px !important;
  width: 530px !important; }
  #messageBox_wrapper.success-message-small .e-dialog-scroller.e-scroller.e-js.e-widget {
    height: 180px !important;
    width: 530px !important; }
    #messageBox_wrapper.success-message-small .e-dialog-scroller.e-scroller.e-js.e-widget #messageBox {
      height: 180px !important;
      width: 530px !important; }
      #messageBox_wrapper.success-message-small .e-dialog-scroller.e-scroller.e-js.e-widget #messageBox .message-content {
        text-align: left !important;
        height: 105px; }
  #messageBox_wrapper.success-message-small .e-scrollbar {
    display: none !important; }

@media screen and (max-width: 1310px) and (min-width: 1200px) {
  #dashboard-list-panel .dashboard-action-container .item-searchbox-container {
    margin-left: 35% !important; } }

@media screen and (max-width: 1040px) {
  body {
    overscroll-behavior-y: contain; }
  #dashboard-list-panel .dashboard-list-separator {
    margin: 20px 0 !important; }
  #dashboard-list-panel #parent-dashboard-scroll-element #dashboard-scroll-content {
    padding: 0px !important; }
  #dashboard-list-panel #parent-dashboard-scroll-element .e-scrollbar {
    background-color: transparent; }
    #dashboard-list-panel #parent-dashboard-scroll-element .e-scrollbar .e-vscroll {
      background-color: transparent;
      border: none; }
      #dashboard-list-panel #parent-dashboard-scroll-element .e-scrollbar .e-vscroll .e-vhandlespace {
        background-color: transparent; }
  #dashboard-list-panel .dashboard-action-container .item-searchbox-container {
    width: auto !important; }
  #dashboard-list-panel .dashboard-action-container .dashboard-dropdown-container #order {
    float: right;
    margin: 14px 25px 0px 10px !important; }
  #dashboard-list-panel .dashboard-action-container .dashboard-dropdown-container .dashboard-filter-container .dashboard-filter-sort button {
    height: 32px !important;
    width: 150px !important; }
  #dashboard-list-panel .dashboard-action-container .dashboard-dropdown-container .item-searchbox-container .dashboard-search-area #dashboard-search-items {
    height: 32px; }
  #dashboard-list-panel .dashboard-action-container .dashboard-dropdown-container .item-searchbox-container .dashboard-search-area .su-inner-close, #dashboard-list-panel .dashboard-action-container .dashboard-dropdown-container .item-searchbox-container .dashboard-search-area .su-search {
    height: 32px !important;
    line-height: 32px !important; }
  #dashboard-list-panel .dashboard-action-container .dashboard-dropdown-container .item-searchbox-container .dashboard-search-area .su-search {
    font-size: 14px !important; }
  #dashboard-list-panel .dashboard-tile {
    margin: 5px 0 5px 0 !important;
    width: 100% !important; }
    #dashboard-list-panel .dashboard-tile .open-link {
      padding: 0 50px 0 50px !important; }
  #dashboard-list-panel .dashboard-list-header {
    padding: 0 50px 0 50px !important;
    width: 100% !important; }
  #category-panel .category-bar-ul .category-search-area input, #category-panel .category-bar-ul .category-search-area .su-inner-close, #category-panel .category-bar-ul .category-search-area .su-search {
    height: 32px !important;
    line-height: 32px !important; } }

@media screen and (max-width: 768px) {
  #content-area #dashboard-page-container {
    width: 100%; }
    #content-area #dashboard-page-container .mobile-header {
      background-color: #f9f9f9;
      border-bottom: 1px solid #cccccc;
      cursor: pointer;
      padding: 10px 15px;
      font-size: 14px;
      font-weight: 600;
      color: #333;
      letter-spacing: 0.3px;
      line-height: 21px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      #content-area #dashboard-page-container .mobile-header .mobile-section-expand-collapse {
        float: right;
        padding-top: 4px; }
      #content-area #dashboard-page-container .mobile-header .category-icon {
        padding-right: 7px; }
    #content-area #dashboard-page-container .dashboard-dropdown-container {
      display: flex;
      flex-direction: row-reverse;
      width: 100%; }
      #content-area #dashboard-page-container .dashboard-dropdown-container .dashboard-filter-container {
        flex: 1;
        display: flex; }
        #content-area #dashboard-page-container .dashboard-dropdown-container .dashboard-filter-container .dashboard-dropdown-label {
          line-height: 32px; }
        #content-area #dashboard-page-container .dashboard-dropdown-container .dashboard-filter-container .dashboard-filter-sort {
          flex: 1;
          width: 100%; }
          #content-area #dashboard-page-container .dashboard-dropdown-container .dashboard-filter-container .dashboard-filter-sort .btn, #content-area #dashboard-page-container .dashboard-dropdown-container .dashboard-filter-container .dashboard-filter-sort .dashboard-sort-filter-menu {
            width: 100% !important; }
      #content-area #dashboard-page-container .dashboard-dropdown-container .search-active {
        width: 100% !important; }
        #content-area #dashboard-page-container .dashboard-dropdown-container .search-active .item-searchbox-container {
          width: 100% !important; }
          #content-area #dashboard-page-container .dashboard-dropdown-container .search-active .item-searchbox-container .dashboard-search-area {
            display: flex;
            flex-direction: row-reverse;
            margin-left: 6px;
            margin-bottom: 6px; }
            #content-area #dashboard-page-container .dashboard-dropdown-container .search-active .item-searchbox-container .dashboard-search-area #dashboard-search-items {
              flex: 1; }
  #content-area #category-panel {
    border-right: none;
    width: 100%; }
    #content-area #category-panel .category-bar-ul {
      padding-top: 0px;
      margin: 0; }
      #content-area #category-panel .category-bar-ul .category-search-area {
        display: flex;
        padding: 10px !important;
        width: 100% !important; }
        #content-area #category-panel .category-bar-ul .category-search-area input {
          flex: 1; }
  #content-area #dashboard-list-panel {
    float: right;
    max-width: 100%;
    padding-top: 0px; }
    #content-area #dashboard-list-panel .dashboard-list-separator {
      margin: 10px 0 !important; }
    #content-area #dashboard-list-panel .fd-post {
      max-width: 100%; }
    #content-area #dashboard-list-panel .author-name {
      width: 100%; }
    #content-area #dashboard-list-panel .dashboard-empty-message-div {
      left: 0;
      position: fixed;
      padding-top: 0 !important;
      top: 50%; } }

@media screen and (min-width: 1041px) and (max-width: 1399px) {
  #content-area {
    padding: 0px 0px 0px 80px !important; } }
