body {
  background-color: white; }
  body .header-menu {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 15px;
    position: relative; }
  body .PopupClose {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;
    color: #4d4d4d; }
    body .PopupClose:hover {
      color: #1a1a1a; }
  body .dashboard-name {
    color: gray;
    overflow: hidden;
    padding: 4px 6px 4px 0px;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    width: 100%;
    font-size: 10px; }
  body .item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 60%; }
  body #datasource-popup-module {
    position: relative; }
    body #datasource-popup-module .datasource-btns {
      bottom: 0;
      padding: 10px;
      position: fixed;
      right: 0;
      width: 100%;
      background: #f9f9f9 none repeat scroll 0 0;
      border-top: 1px solid #e2e2e2; }
      body #datasource-popup-module .datasource-btns .btn {
        border-radius: 0px; }
      body #datasource-popup-module .datasource-btns .primary-button {
        margin-right: 10px; }
    body #datasource-popup-module #new-datasource-tab-content {
      margin-top: 0;
      overflow-y: auto;
      padding: 0;
      border-bottom: 0px solid #c1c1c1;
      height: 476px;
      width: 100%; }
      body #datasource-popup-module #new-datasource-tab-content #new-datasource-content-holder {
        margin-top: 0;
        padding: 0;
        float: left;
        width: 100%; }
        body #datasource-popup-module #new-datasource-tab-content #new-datasource-content-holder #add-new-datasource {
          cursor: pointer;
          padding: 10px; }
    body #datasource-popup-module tr th {
      padding-left: 25px;
      padding-bottom: 15px;
      font-size: 14px; }
    body #datasource-popup-module tr td {
      width: 50%;
      padding: 0px 20px 20px 25px;
      font-size: 12px; }
  body .bootstrap-select {
    width: 400px !important;
    padding: 0px; }
    body .bootstrap-select .btn {
      font-size: 12px;
      border-radius: 0px;
      height: 28px; }
  body .hidden {
    display: none; }
  body .disabled a {
    color: black !important;
    cursor: pointer !important; }
  body .float-left {
    float: left; }
  body .bottom-margin30 {
    margin-bottom: 30px; }
  body .dropdown-menu.open {
    padding: 5px; }
    body .dropdown-menu.open div.bs-searchbox {
      padding: 4px 0px; }
    body .dropdown-menu.open ul.dropdown-menu li:not(.divider) {
      height: auto; }
      body .dropdown-menu.open ul.dropdown-menu li:not(.divider) a span {
        width: 350px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle; }
    body .dropdown-menu.open ul.dropdown-menu li.active a {
      background-color: #dbe9ff; }
    body .dropdown-menu.open ul.dropdown-menu li.no-results {
      margin: 0; }

.iframe-content-height .modal-title {
  font-size: 16px !important; }

.iframe-content-height .report-name {
  font-size: 12px !important; }

.iframe-content-height label {
  font-size: 14px !important; }

.iframe-content-height button {
  height: 32px !important;
  font-size: 14px !important; }

.iframe-content-height input {
  height: 32px !important;
  font-size: 14px !important; }

.iframe-content-height tr th {
  font-size: 14px !important; }

.iframe-content-height tr td {
  font-size: 14px !important; }
