@import  "Mixins.scss";

.sync-container, .admin-page-container {
    width: 100%;
    left: 0;

    .material-checkbox {
        @include material-checkbox-controls();
    }

    .page-description {
        margin: 0px !important;
    }

    .back-button {
        margin-top: 0 !important;
    }

    .windows-ad-user-import-warning {
        padding: 10px;
        margin-bottom: 15px;

        .warning-icon-container {
            float: left;

            .su-warning-alt {
                font-size: 25px;
                color: $warning-icon-yellow;
            }
        }

        .text-warning {
            display: block;
            margin-top: 3px;
            margin-left: 15px;
            float: left;

            a {
                cursor: pointer;
            }
        }
    }

    #search-area {
        margin-top: 15px;
    }

    .user-name {
        line-height: 22px;
    }

    #sync-button {
        list-style: none;
    }

    .top-margin {
        margin-top: -28px;
    }

    #Grid, #user_grid {
        margin-top: 65px;
    }

    #user_grid.windows-ad-content-margin {
        margin-top: 135px;
    }

    .su-login-error {
        color: $validation-text-color;
    }

    .e-gridcontent tr td {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .e-grid .e-gridcontent tr td.e-rowcell {
        padding-left: 17px !important;

        .user-import-validation {
            cursor: pointer;
            padding-top: 3px;
        }
    }

    .e-grid .e-gridheader .e-headercell .e-headercelldiv {
        .material-checkbox:checked + input + label::before {
            height: 11px !important;
        }
    }

    #user_grid_stringDlg_wrapper {
        .e-dialog-scroller {
            height: 150px !important;
        }
    }

    .material-checkbox:not(:checked) + input + label {
        margin-top: -3px !important;
    }

    .material-checkbox:checked + input + label::after {
        margin-top: 4px !important;
    }

    .material-checkbox:checked + input + label::before {
        height: 5px !important;
        margin-top: 5px !important;
        bottom: 16px;
        left: 1px;
    }
}

.tab-invisible {
    display: none;
}

.visible-tab-container {
    display: block;
    margin-top: -30px;
}

.group-import-validation {
    color: $validation-text-color;
    cursor: pointer;
    padding-top: 3px;
}

.tooltip-inner {
    max-width: 400px !important;
}

.post-success-table {
    td {
        word-break: break-all;
    }
}

#new-group-area {
    iframe {
        height: 290px;
        border: 0;
        width: 100%;
    }
}

#delete-group-area {
    iframe {
        height: 200px;
        border: 0;
        width: 100%;
    }
}
#messageBox{
    .message-content{
        h4{
            font-size: $app-large-text-size;
        }
    }
}
//User synchronization msg box
.msg-box-height{
     height: 250px !important;
}
.msg-footer-height{
    position: absolute;
    margin-top: 84px;
}

//Groups synchronization msg box
.groupmsg-box-height{
     height: 400px !important;
     width:770px !important;
     
     .e-vscrollbar{
        display: none !important;
    }
}

.groupmsg-content-height{
    height: 275px !important;
    overflow: auto;    
    width:100% !important;
    display:block !important;
}

.tooltip-inner {
    word-break: normal;
    white-space: pre-wrap;
    max-width: none;
}

.ad-userlist-info {
    margin-top: 20px;
}