#view-page-container .admin-page-header {
  padding-bottom: 15px; }
  #view-page-container .admin-page-header .page-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 8px; }

#view-page-container #group-header {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 25px; }
  #view-page-container #group-header .col-md-5 {
    margin-top: 1px !important;
    padding-left: 0 !important; }
  #view-page-container #group-header .group-buttons {
    padding-left: 0;
    text-align: right; }
  #view-page-container #group-header .manage-permissions {
    margin-right: 10px; }
  #view-page-container #group-header .delete-group {
    margin-left: 10px; }
  #view-page-container #group-header #add-custom-attribute {
    height: 30px;
    line-height: 28px;
    margin-right: 10px;
    width: 120px; }

#view-page-container .admin-page-body {
  font-size: 14px;
  border-top: none; }
  #view-page-container .admin-page-body #info-container .row {
    margin: 10px 0 0 0; }
  #view-page-container .admin-page-body #invalid-groupname {
    margin-top: 5px; }
  #view-page-container .admin-page-body .close-icon.su-inner-close {
    display: none; }

#view-page-container #people-container, #view-page-container #info-container {
  padding: 0; }

#view-page-container #ad-tab-nav li:first-child {
  margin-left: 15px; }

#view-page-container #ad-tab-nav li a {
  color: #333; }

#view-page-container #ad-tab-nav li.active a {
  color: #0565ff; }

#view-page-container #group-attribute-tab .admin-page-body {
  padding-top: 20px;
  border: 1px solid #e2e2e2;
  border-top: none; }

#view-page-container #group-attribute-tab .disabled-icon-color {
  color: #cccccc !important;
  cursor: default !important; }

/*Hiding no suggestion and waiting popup in Filtering*/
#Grid_acString {
  background-image: none !important; }

#Grid_acString_suggestion {
  display: none !important; }

#delete-group-area_wrapper {
  height: 150px !important; }
  #delete-group-area_wrapper .e-dialog {
    height: 150px !important;
    width: 497px !important; }

.tooltip-inner {
  word-break: break-all; }
