$su-access-denied: "\e900";
$su-add: "\e901";
$su-ai-model: "\e902";
$su-angle-double-left: "\e903";
$su-angle-double-right: "\e904";
$su-angle-left: "\e905";
$su-angle-right: "\e906";
$su-api-keys: "\e907";
$su-applications: "\e908";
$su-arrow-back: "\e909";
$su-audit-log: "\e90a";
$su-azure-ad: "\e90b";
$su-azure-b2c: "\e90c";
$su-card-view: "\e90d";
$su-close: "\e90e";
$su-copy: "\e90f";
$su-datasource: "\e910";
$su-delete: "\e911";
$su-download: "\e912";
$su-edit: "\e913";
$su-edit-inverse: "\e914";
$su-e-mail: "\e915";
$su-embed: "\e916";
$su-eye: "\e917";
$su-favorite: "\e918";
$su-favorite-fill: "\e919";
$su-filter-funnel-01: "\e91a";
$su-help: "\e91b";
$su-hide: "\e91c";
$su-image: "\e91d";
$su-info: "\e91e";
$su-inner-close: "\e91f";
$su-license-settings: "\e920";
$su-list-view: "\e921";
$su-lock: "\e922";
$su-login-error: "\e923";
$su-look-and-feel: "\e924";
$su-master-site-bi: "\e925";
$su-master-site-reports: "\e926";
$su-mobile-menu-icon: "\e927";
$su-nav-settings: "\e928";
$su-oauth-path1: "\e929";
$su-oauth-path2: "\e92a";
$su-oauth-path3: "\e92b";
$su-openid: "\e92c";
$su-options: "\e92d";
$su-password-tick: "\e92e";
$su-profile-log-out: "\e92f";
$su-profile-settings: "\e930";
$su-search: "\e931";
$su-search-homelg: "\e932";
$su-shield: "\e933";
$su-show: "\e934";
$su-single-sign-on: "\e935";
$su-single-user: "\e936";
$su-sort: "\e937";
$su-suspend: "\e938";
$su-sync: "\e939";
$su-tick: "\e93a";
$su-unlock-user: "\e93b";
$su-upload: "\e93c";
$su-url: "\e93d";
$su-user: "\e93e";
$su-user-add: "\e93f";
$su-user-settings: "\e940";
$su-warning-alert: "\e941";
$su-warning-alt: "\e942";
$su-wave-emoji-path1: "\e943";
$su-wave-emoji-path2: "\e944";
$su-wave-emoji-path3: "\e945";
$su-wave-emoji-path4: "\e946";
$su-wave-emoji-path5: "\e947";
$su-wave-emoji-path6: "\e948";
$su-wave-emoji-path7: "\e949";
$su-windows-ad: "\e94a";