$su-access-denied: "\e900";
$su-add: "\e901";
$su-angle-double-left: "\e902";
$su-angle-double-right: "\e903";
$su-angle-left: "\e904";
$su-angle-right: "\e905";
$su-api-keys: "\e906";
$su-applications: "\e907";
$su-arrow-back: "\e908";
$su-azure-ad: "\e909";
$su-close: "\e90a";
$su-copy: "\e90b";
$su-datasource: "\e90c";
$su-delete: "\e90d";
$su-download: "\e90e";
$su-edit: "\e90f";
$su-edit-inverse: "\e910";
$su-e-mail: "\e911";
$su-embed: "\e912";
$su-eye: "\e913";
$su-help: "\e914";
$su-hide: "\e915";
$su-image: "\e916";
$su-info: "\e917";
$su-inner-close: "\e918";
$su-license-settings: "\e919";
$su-lock: "\e91a";
$su-login-error: "\e91b";
$su-look-and-feel: "\e91c";
$su-mobile-menu-icon: "\e91d";
$su-nav-settings: "\e91e";
$su-oauth-path1: "\e91f";
$su-oauth-path2: "\e920";
$su-oauth-path3: "\e921";
$su-openid: "\e922";
$su-options: "\e923";
$su-password-tick: "\e924";
$su-search: "\e925";
$su-shield: "\e926";
$su-show: "\e927";
$su-single-sign-on: "\e928";
$su-single-user: "\e929";
$su-sort: "\e92a";
$su-sync: "\e92b";
$su-tick: "\e92c";
$su-unlock-user: "\e92d";
$su-upload: "\e92e";
$su-url: "\e92f";
$su-user: "\e930";
$su-user-add: "\e931";
$su-user-settings: "\e932";
$su-warning-alt: "\e933";
$su-windows-ad: "\e934";