@import "../../pages/Mixins.scss";
@import "../../core/_typography.scss";

#external-site-dialog {
    .e-dlg-header {
        .external-sites-dialog-header {
            color: $primary-text-color;
            font-size: map-get($app-text-size, lg);
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: 0.3px;
        }
    }

    #get-external-site-content {
        display: block;
        float: left;

        input {
            height: 28px;
            margin-bottom: 25px !important;
        }

        label {
            color: $primary-text-color;
            font-weight: normal;
            font-size: map-get($app-text-size, md);
            line-height: normal;
            margin-top: 6px;
            text-align: right;
        }

        .first-child {
            margin-top: 10px !important;
        }

        #external-client-secret {
            padding: 6px 25px 6px 12px;
        }
    }

    ::-webkit-input-placeholder {
        color: $separator-color;
        font-size: map-get($app-text-size, md);
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
    }

    :-moz-placeholder {
        color: $separator-color;
        font-size: map-get($app-text-size, md);
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
    }

    ::-moz-placeholder {
        color: $separator-color;
        font-size: map-get($app-text-size, md);
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
    }

    .show-hide-password {
        cursor: pointer;
        position: absolute;
        right: 24px;
        top: 9px;
    }

    .e-dlg-header-content {
        height: 44px;
        padding: 12px 12px 11px 12px;

        .e-dlg-header {
            .custom-dialog-header {
                color: $primary-text-color;
                font-size: map-get($app-text-size, lg);
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: 0.3px;
            }
        }

        .e-dlg-closeicon-btn {
            margin: 4px 0 0 0;
            padding: 0px;

            .e-btn-icon {
                color: $icon-color;
                float: right;
                font-size: map-get($app-text-size, lg) + 1;
                line-height: 25px;

                &:hover {
                    color: $icon-hover-color;
                }
            }
        }
    }

    .e-dlg-content {
        padding-bottom: 10px;
    }

    .clientid-validation-message, .client-secret-validation-message, .site-url-validation-message, .name-validation-message {
        color: $danger;
        float: left;
        margin-top: -25px;
        font-size: map-get($app-text-size, md);
        position: relative;
    }

    .has-error {
        border-color: $danger;
    }

    .e-footer-content .e-btn {
        font-size: map-get($app-text-size, md);
        font-weight: bold;
        height: 28px;
        line-height: 25px;
        margin-left: 16px;
        min-width: 80px;
    }
}

#ConnectedSitesGrid {
    .e-gridcontent {
        .e-rowcell {
            position: static !important;
            padding-left: 20px;
            text-overflow: ellipsis;
        }
    }
}

.highlight-name {
    font-style: italic;
    color: $primary-btn-bg;
    text-overflow: ellipsis;
    overflow: hidden;
}