#external-site-dialog .e-dlg-header .external-sites-dialog-header {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.3px; }

#external-site-dialog #get-external-site-content {
  display: block;
  float: left; }
  #external-site-dialog #get-external-site-content input {
    height: 28px;
    margin-bottom: 25px !important; }
  #external-site-dialog #get-external-site-content label {
    color: #333;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    margin-top: 6px;
    text-align: right; }
  #external-site-dialog #get-external-site-content .first-child {
    margin-top: 10px !important; }
  #external-site-dialog #get-external-site-content #external-client-secret {
    padding: 6px 25px 6px 12px; }

#external-site-dialog ::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.3px; }

#external-site-dialog :-moz-placeholder {
  color: #cccccc;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.3px; }

#external-site-dialog ::-moz-placeholder {
  color: #cccccc;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.3px; }

#external-site-dialog .show-hide-password {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 9px; }

#external-site-dialog .e-dlg-header-content {
  height: 44px;
  padding: 12px 12px 11px 12px; }
  #external-site-dialog .e-dlg-header-content .e-dlg-header .custom-dialog-header {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.3px; }
  #external-site-dialog .e-dlg-header-content .e-dlg-closeicon-btn {
    margin: 4px 0 0 0;
    padding: 0px; }
    #external-site-dialog .e-dlg-header-content .e-dlg-closeicon-btn .e-btn-icon {
      color: #4d4d4d;
      float: right;
      font-size: 15px;
      line-height: 25px; }
      #external-site-dialog .e-dlg-header-content .e-dlg-closeicon-btn .e-btn-icon:hover {
        color: #1a1a1a; }

#external-site-dialog .e-dlg-content {
  padding-bottom: 10px; }

#external-site-dialog .clientid-validation-message, #external-site-dialog .client-secret-validation-message, #external-site-dialog .site-url-validation-message, #external-site-dialog .name-validation-message {
  color: #ff3b30;
  float: left;
  margin-top: -25px;
  font-size: 12px;
  position: relative; }

#external-site-dialog .has-error {
  border-color: #ff3b30; }

#external-site-dialog .e-footer-content .e-btn {
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  line-height: 25px;
  margin-left: 16px;
  min-width: 80px; }

#ConnectedSitesGrid .e-gridcontent .e-rowcell {
  position: static !important;
  padding-left: 20px;
  text-overflow: ellipsis; }

.highlight-name {
  font-style: italic;
  color: #0565ff;
  text-overflow: ellipsis;
  overflow: hidden; }
