@import "../../pages/Mixins.scss";
@import "../../core/_typography.scss";
@import "../../themes/_light.scss";

#publish-site-dialog {
    .e-dlg-header-content {
        height: 44px;
        padding: 12px 12px 11px 12px;

        .e-dlg-header {
            .publish-dialog-header {
                color: $primary-text-color;
                font-size: map-get($app-text-size, lg);
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: 0.3px;
            }
        }

        .e-dlg-closeicon-btn {
            margin: 4px 0 0 0;
            padding: 0px;

            .e-btn-icon {
                color: $icon-color;
                float: right;
                font-size: map-get($app-text-size, lg) + 1;
                line-height: 25px;

                &:hover {
                    color: $icon-hover-color;
                }
            }
        }
    }

    .e-dlg-content {
        padding: 0;
    }

    #publish-site-dialog_dialog-content {
        overflow-y: hidden;
    }

    #publish-site-content {
        float: left;

        #publish-base-container {
            float: left;
        }

        .material-checkbox {
            @include material-checkbox-controls();
        }

        .material-checkbox + input + label {
            padding: 8px 0 0 25px !important;
        }

        .material-checkbox:checked + input + label::before {
            bottom: 7px !important;
            left: 2px !important;
        }

        .material-checkbox:checked + input + label::after {
            margin-bottom: 2px !important;
        }

        #publish-category-validation, #advanced-category-validation, #publish-plugin-validation, #advanced-plugin-validation, #active-sites-validation {
            color: $danger;
            float: left;
            margin-top: -20px;
            font-size: map-get($app-text-size, md);
        }

        .has-error {
            border-color: $danger;
        }

        .external-publish-separator {
            min-height: 423px;
        }

        .publish-container {
            border-right: 0.5px solid $separator-color;
            padding: 16px 20px 19px 16px;

            #publish-dashboard-descrition {
                height: 75px;
            }

            #publish-dashboard-checkbox {
                margin-bottom: 5px;
            }

            #add-external-sites {
                .btn {
                    height: 28px;
                    margin-bottom: 16px;
                    padding: 4px 10px;

                    .su-add {
                        font-size: map-get($app-text-size, md);
                    }
                }
            }
        }

        label {
            color: $primary-text-color;
            font-weight: normal;
            font-size: map-get($app-text-size, md);
            line-height: normal;
            margin-bottom: 8px;
        }

        input, textarea {
            border-color: $dropdown-border-color;
            font-size: map-get($app-text-size, md);
            height: 28px;
            margin-bottom: 18px;
            padding: 3px 8px;
            resize: vertical;
        }

        ::-webkit-input-placeholder {
            color: $separator-color;
            font-size: map-get($app-text-size, md);
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: 0.3px;
        }

        :-moz-placeholder {
            color: $separator-color;
            font-size: map-get($app-text-size, md);
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: 0.3px;
        }

        ::-moz-placeholder {
            color: $separator-color;
            font-size: map-get($app-text-size, md);
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: 0.3px;
        }

        .external-dropdown {
            float: left;

            .dropdown-toggle {
                border-radius: 4px 0 0 4px;
                width: 280px;
            }
        }

        .advance-external-page {
            width: 350px;
        }

        #active-sites-dropdown, #selected-datasources {
            .bootstrap-select {
                border-color: $dropdown-border-color;
                height: 28px;
                margin-bottom: 18px;

                .btn-default:focus {
                    outline: none !important;
                }

                .dropdown-toggle {
                    height: 28px;
                    padding: 4px 12px;
                }

                .dropdown-menu.inner li a span.text {
                    text-overflow: ellipsis !important;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-right: 0 !important;
                    line-height: 20px;
                }

                .dropdown-menu li a {
                    height: 30px;
                    padding: 5px 10px;
                }

                .dropdown-menu li.disabled a:hover {
                    cursor: default;
                }

                .dropdown-menu.open {
                    max-height: 250px !important;

                    .bs-searchbox input {
                        margin-bottom: 5px;
                    }
                }

                .dropdown-menu li a span.check-mark {
                    float: left;
                    visibility: hidden;
                    position: relative;
                    display: inline-block;
                    width: 20px;
                    height: 16px;
                    margin-left: 10px;
                }

                .dropdown-menu li.selected a span.check-mark {
                    margin-top: 2px;
                    visibility: visible;
                }
            }
        }

        #selected-datasources .dropdown-menu.inner li a span.text {
            width: 240px;
        }

        #active-sites-dropdown .dropdown-menu.inner li a span.text {
            width: 210px;
        }

        .publish-info {
            padding: 16px 20px 0px 20px;

            h5 {
                font-size: map-get($app-text-size, lg);
                font-weight: 600;
                line-height: normal;
                margin: 0;
                padding-bottom: 10px;
            }

            p {
                font-size: map-get($app-text-size, md) + 1;
                line-height: 1.69;
                letter-spacing: normal;
                margin-bottom: 16px;
            }
        }

        .selected-sites {
            padding: 0;
            width: 324px;

            ul {
                margin: 0;
                padding: 0;
                width: 324px;

                li {
                    background-color: $white;
                    border-bottom: 1px solid $app-background-hover;
                    cursor: pointer;
                    height: 50px;


                    span {
                        line-height: 50px;
                        padding: 0 0 16px 12px;
                    }
                }

                .active {
                    background-color: $primary-selected-color;
                }
            }

            ul:first-child {
                margin-top: 8px;
            }
        }

        .advanced-page-container {
            border-left: 0.5px solid $separator-color;
            padding: 16px 16px 14px 20px;

            .users-list {
                height: 43px;

                .btn-group .dropdown-menu.open {
                    .bs-searchbox input {
                        margin-bottom: 5px;
                    }

                    max-height: 250px !important;
                }

                .btn-group .dropdown-menu.inner li a span.text {
                    text-overflow: ellipsis !important;
                    white-space: nowrap;
                    width: 250px;
                    overflow: hidden;
                    margin-right: 0 !important;
                    line-height: 10px;
                }

                .btn-default:focus {
                    outline: none !important;
                }

                #user-selected {
                    font-size: map-get($app-text-size, md);
                    height: 28px;
                    padding: 4px 12px;

                    option {
                        &:hover {
                            background-color: $text-placeholder !important;
                        }

                        &:active {
                            background-color: $primary-selected-color !important;
                        }
                    }
                }
            }

            #advanced-dashboard-descrition {
                height: 40px;
            }

            p {
                display: inline-block;
                font-size: map-get($app-text-size, md);
            }

            #advanced-dashboard-checkbox {
                margin-bottom: 16px;
            }

            #selected-datasources {
                height: 45px;
            }
        }
    }

    .e-footer-content .e-btn {
        font-size: map-get($app-text-size, md) + 1;
        font-weight: 600;
        height: 28px;
        line-height: 28px;
        min-width: 120px;
    }

    .display-none {
        display: none;
    }

    #publish-select-site-container {
        width: 700px;
        padding: 20px 25px;

        label {
            font-weight: bold;
            font-size: $label-large-text-size;
        }

        .first-label {
            margin: 10px 0;
        }

        .site-content-container {
            display: inline-block;

            .site-content {
                display: inline-block;
                font-size: map-get($app-text-size, md)+1;
                margin-left: 28px;
            }
        }
    }
}