@import "../themes/_light.scss";
@import "../Extender.scss";
@import "../core/_typography.scss";
@import "../core/_variables.scss";
@import "../mixins/_checkbox.scss","../components/_buttons.scss","../components/_textboxes.scss","../core/_resolution.scss";

%text-style-decoration {
    color: $primary-black;
    font-family: $primary-font;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
}

html {
    width: 100%;
    height: 100%;

    body {
        overflow: hidden;
        width: 100%;
        height: 100%;
        font-family: $primary-font !important;

        .add-tenant-dialog-wrapper {
            width: 100%;
            height: 100%;

            #popup-container {
                padding: 0 !important;
                width: 100%;
                height: 100%;

                .modal-header {
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
                    background-color: $white;
                    height: 50px;
                    padding: 0 !important;
                    border: none;

                    .add-tenant-popup-title {
                        padding: 18px 0 0 18px;
                        line-height: 0;
                        float: left;

                        label {
                            width: 102px;
                            height: 15px;
                            @extend %text-style-decoration;
                            letter-spacing: 0.33px;
                            margin: 0;
                        }
                    }

                    .selector {
                        position: relative;
                        width: 650px;
                        margin: auto;

                        .selector-icons {
                            height: 28px;
                            margin-left: 165px;

                            .selector-panel {
                                float: left;
                                padding: 7px 0 0 0;

                                .circle {
                                    border-radius: 50%;
                                    width: 14px;
                                    height: 14px;
                                    border: solid 2px $grey-400;
                                    background-color: $white;
                                    float: left;
                                }

                                .hr-tag {
                                    width: 90px;
                                    margin-left: 14px;
                                    margin-top: 4px;
                                    border: solid 2px $grey-400;
                                }
                            }
                        }

                        .selector-content {
                            margin-left: 130px;
                            height: 16px;
                            @extend %text-style-decoration;
                            font-weight: 500;
                            line-height: 1.6;
                            letter-spacing: 0.3px;
                            text-align: left;
                            color: $grey-700;

                            .site-creation {
                                width: 75px;
                                padding-right: 18px;
                            }

                            .select-database {
                                width: 91px;
                                padding-right: 18px;
                            }

                            .select-intermediate-database {
                                padding-right: 18px;
                            }

                            .select-storage {
                                padding-right: 18px;
                            }

                            .get-data-security {
                                padding-right: 18px;
                            }

                            .administrator {
                                width: 82px;
                            }
                        }

                        .selectedClass {
                            border-color: $primary !important;
                        }

                        .selectedContent {
                            color: $primary !important;
                        }

                        .selectedOval {
                            .hr-tag {
                                border: 2px solid $primary !important;
                            }

                            .circle {
                                background-color: $primary !important;
                            }
                        }
                    }

                    .icons {
                        padding: 18px 18px 0 18px;
                        float: right;
                        width: 50px;

                        #add-tenant-close {
                            color: $grey-800;
                            float: left;
                            height: 14px;
                            width: 14px;
                            font-family: $primary-font;
                            background: transparent;
                        }
                    }

                    .icon-alignment {
                        margin-left: 265px !important;
                    }

                    .content-alignment {
                        margin-left: 230px !important;
                    }

                    .selector-alignment {
                        width: 870px !important;
                    }
                }

                .modal-tenant-body {
                    background-color: $grey-100;
                    padding: 0 24px !important;

                    #dialog-header {
                        height: 74px;
                        border-radius: 4px;
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
                        padding: 14px 30px;
                        display: none;
                        background-color: $white;
                        width: 464px;
                        margin: auto;
                        margin-top: 24px;
                        position: relative;

                        .text-header-content {
                            @extend %text-style-decoration;
                            letter-spacing: 0.3px;
                            float: left;
                        }

                        .header-description {
                            display: inline-block;
                            padding-left: 37px;
                            height: 21px;
                            @extend %text-style-decoration;
                            font-weight: 500;
                            letter-spacing: 0.35px;
                            margin-top: -2px;
                            @extend %text-overflow-ellipsis;
                        }

                        .header-label {
                            color: $grey-700;
                            margin: 0;
                            padding-bottom: 11px;
                        }

                        #used-tenant-identifier {
                            padding-left: 47px;
                            color: $primary;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            width: 80%;
                        }
                    }

                    #dialog-body {
                        width: 464px;
                        margin: auto;
                        position: relative;

                        .dialog-body-div {
                            border-radius: 6px;
                            box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.12);
                            background-color: $white;
                            margin: 24px 0 !important;
                            padding-top: 24px;
                            float: left;
                            width: 464px;

                            .text-content {
                                @extend %text-style-decoration;
                                letter-spacing: 0.3px;
                            }

                            #dialog-body-header {
                                @extend %text-style-decoration;
                                text-align: center;

                                #header-logo {
                                    width: 464px;
                                    padding-bottom: 24px;

                                    img {
                                        width: 60px;
                                        height: 60px;
                                    }
                                }

                                #header-title {
                                    height: 21px;
                                    letter-spacing: 0.4px;
                                    line-height: normal;
                                    font-weight: bold;
                                }

                                #header-description {
                                    padding: 18px 13px 18px 12px;
                                    line-height: 1.67;
                                    letter-spacing: 0.3px;
                                    font-weight: normal;
                                }
                            }

                            #dialog-body-container {
                                float: left;
                                padding: 6px 24px 24px 24px;
                                width: 464px;

                                .tenant-registration-form {
                                    width: 100%;

                                    label {
                                        height: 14px;
                                        line-height: normal;
                                        margin-bottom: 8px;
                                    }

                                    .form-text {
                                        height: 32px;
                                        border-radius: 4px;
                                    }

                                    .site-default-text {
                                        width: 416px;
                                        height: 20px;
                                        line-height: 1.54;
                                        @extend %text-overflow-ellipsis;
                                    }

                                    .site-url, .site-name {
                                        padding-top: 24px !important;
                                    }

                                    #tenant-name {
                                        line-height: 1.5;
                                    }

                                    .identifier-info {
                                        position: absolute;
                                        padding-top: 20px;
                                        float: left;
                                        display: block;
                                        width: 100%;

                                        .url-part {
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }

                                        .site-url {
                                            word-spacing: -3px;
                                            cursor: pointer;
                                            padding-top: 0 !important;
                                        }

                                        .site-id-name {
                                            font-weight: 600;
                                        }
                                    }

                                    .validation-txt-errors {
                                        display: none;
                                        color: $validation-text-color;
                                        position: absolute !important;
                                    }
                                }

                                .tenant-database-form, .tenant-intermediate-database-form {
                                    .system-startUp-settings-bg {
                                        position: relative;
                                        display: inline-block;

                                        #system-settings-general {
                                            margin: 0px auto;
                                        }

                                        .system-settings-page-container {
                                            padding: 0;
                                        }

                                        .startup-page-conatiner {
                                            display: inline;
                                            padding: 0;
                                        }

                                        .system-settings-db-selection-field {
                                            box-shadow: none;
                                            padding: 0;
                                            width: 400px !important
                                        }

                                        .bootstrap-select {
                                            padding: 0;
                                        }

                                        .disabled {
                                            cursor: not-allowed;
                                            background: $grey-300;
                                        }

                                        #database-type-dropdown {
                                            padding-top: 0px;
                                        }

                                        .sql-server-existing-db {
                                            .dropdown-menu .inner {
                                                max-height: 220px !important;
                                                overflow-y: auto;
                                            }
                                        }

                                        .btn-holder, .fake-password {
                                            display: none;
                                        }
                                    }

                                    #messageBox {
                                        display: none;
                                    }
                                }

                                .storage-form {
                                    #system-settings-filestorage-container {
                                        box-shadow: none;
                                        padding: 0;
                                        width: 400px !important;

                                        .report-content {
                                            padding-top: 200px !important;
                                            text-align: center;
                                            margin-bottom: 14px;
                                            margin-top: 70px;
                                            position: absolute;
                                            margin-right: 20px;
                                        }

                                        .form-div {
                                            margin: 0px !important;
                                            padding-bottom: 24px;
                                            position: relative;
                                        }

                                        .storage-checkbox.file-storage-button {
                                            display: none;
                                        }


                                        .database-types {
                                            padding-top: 15px;
                                            position: relative;

                                            .file-storage-align, .blob-storage-align {
                                                display: inline-block;
                                                margin-left: 70px;
                                                margin-bottom: 1px;
                                            }
                                        }

                                        .secure-sql {
                                            margin-top: 24px;
                                            margin-bottom: 24px;

                                            &.material-checkbox label {
                                                &::before {
                                                    top: 2px;
                                                }

                                                &::after {
                                                    top: 5px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .tenant-user-form {
                                    width: 454px;
                                    border: none;
                                    padding: 0;


                                    .validation-user-div {
                                        margin-top: 5px;

                                        span {
                                            padding-left: 20px;
                                        }
                                    }

                                    .user-body-container {
                                        padding: 0;
                                    }

                                    #add_admins_grid {
                                        padding: 0 0 0 20px;
                                        width: 454px !important;
                                        border: none;

                                        .e-gridheader {
                                            border: none;
                                            display: none;
                                        }

                                        .e-gridcontent {
                                            width: 434px !important;

                                            .e-content {
                                                width: 424px !important;
                                            }

                                            table {
                                                border-collapse: collapse !important;
                                                position: relative;
                                            }

                                            tr {
                                                height: 62px;
                                                border-bottom: 2px solid $grey-400;
                                                text-align: left !important;

                                                td {
                                                    .e.active {
                                                        background: $blue;
                                                    }
                                                }
                                            }

                                            .item-name {
                                                height: 15px;
                                                @extend %text-style-decoration;
                                                letter-spacing: 0.33px;
                                            }

                                            .email-id {
                                                color: $grey-700;
                                                margin-top: 8px;
                                                @extend %text-overflow-ellipsis;
                                            }

                                            .e-table {
                                                .e-row {
                                                    .e-rowcell {
                                                        padding-left: 0;
                                                        padding-right: 0;
                                                    }
                                                }
                                            }

                                            .option-icon {
                                                top: 0px !important;
                                            }
                                        }

                                        .e-gridcontent {
                                            .material-checkbox {
                                                @include material-checkbox-controls();

                                                & + input + label {
                                                    padding: 0;
                                                    margin-left: -20px;
                                                }
                                            }
                                        }

                                        .e-pagerstatusbar {
                                            display: none !important;
                                        }
                                        //style for grid scrollbar
                                        .e-scrollbar.e-vscrollbar {
                                            width: 10px !important;

                                            .e-vscroll {
                                                border: none;
                                                float: right;
                                                vertical-align: top;
                                                width: inherit;

                                                .e-vup, .e-vdown {
                                                    display: none !important;
                                                    height: 0 !important;
                                                }

                                                .e-vhandlespace {
                                                    background: $white;
                                                    height: 100% !important;

                                                    .e-vhandle {
                                                        width: 4px !important;
                                                        background-color: $grey-500;
                                                    }
                                                }

                                                .e-icon {
                                                    position: relative;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .grid-alignment {
                                padding: 6px 5px 20px 5px !important;
                                overflow: hidden !important;
                            }

                            .grid-height-control {
                                height: 400px;
                            }
                        }
                    }
                }

                .adjustment {
                    overflow-y: auto;
                }

                .site-page-adjustment {
                    margin-top: 30px !important;
                }

                #dialog-body-footer {
                    height: 64px;
                    border-radius: 0 0 4px 4px;
                    background-color: $white;
                    position: fixed;
                    bottom: 0;
                    border-top: 2px solid $grey-400;
                    padding: 16px 23px;
                    text-align: center;
                    float: left;

                    #details-back {
                        @include button(32px, 162px, "secondary");
                        @extend %text-style-decoration;
                        line-height: 1.54;
                        letter-spacing: 0.3px;
                        display: none;
                    }

                    #details-next {
                        @include button(32px, 418px, "primary");
                        @extend %text-style-decoration;
                        line-height: 1.54;
                        letter-spacing: 0.3px;
                    }

                    .next-alignment {
                        width: 230px !important;
                        margin-left: 24px !important;
                    }

                    #move-to-next {
                        display: none !important;
                    }
                }
            }
        }

        #custom-attribute-dialog {
            .material-checkbox {
                @include material-checkbox-controls();
            }

            .material-checkbox + input + label {
                padding-top: 7px !important;
            }

            .material-checkbox:checked + input + label::before {
                bottom: 7px !important;
                left: 2px !important;
            }
        }

        .data-security-container {
            h5 {
                font-weight: bold;
                font-size: map-get($app-text-size, lg);
                margin-bottom: 30px;
            }

            .app-textbox-label {
                text-align: right;
                margin-right: 20px;
            }

            .isolation-code-container {
                margin-top: 20px;
                margin-bottom: 20%;

                label {
                    margin-top: 5px;
                }

                #site-isolation-code {
                    height: 28px;
                    min-width: 220px;
                }

                .has-error {
                    border-color: $danger;
                }

                #isolation-code-validation {
                    color: $danger;
                    font-size: map-get($app-text-size, sm);
                    position: absolute;
                }
            }

            .attribute-header {
                margin-bottom: 30px;

                h5 {
                    display: inline-block;
                    font-weight: bold;
                    font-size: map-get($app-text-size, lg);
                    margin: 0;
                }

                .add-site-attribute {
                    color: $primary;
                    cursor: pointer;
                    display: inline-block;
                    font-family: $primary-font !important;
                    float: right;
                    font-weight: bold;
                    margin-right: 10px;
                }

                .su-add:before {
                    color: $primary;
                    font-family: 'server' !important;
                    font-size: map-get($app-text-size, sm);
                    margin-right: 4px;
                }
            }

            .notes-container {
                display: inline-block;
                margin-top: 25%;

                h5 {
                    display: inline-block;
                    font-size: map-get($app-text-size, sm);
                    margin: 0 0 10px 0;
                }

                p {
                    font-size: map-get($app-text-size, xs);
                }
            }
        }
    }
}

    #add_admins_grid_stringDlg_wrapper {
        .e-scroller {
            overflow-y: auto;
        }
    }

    #add_admins_grid_stringDlg {
        display: none;
    }

    .display-none {
        display: none;
    }

    .no-padding {
        padding: 0 !important;
    }
    //style for Search box
    #search-area {
        padding: 21px 30px 20px 24px;
        float: left;
        width: 100%;

        input[type="text"] {
            padding: 3px 8px;
            width: 360px;
            height: 24px;
            border: none;
            border-radius: 4px;
            background-color: $grey-300;
            @extend %text-style-decoration;
            line-height: 1.5;
            letter-spacing: 0.3px;

            &:focus {
                border: none;
            }
        }

        .su-search {
            width: 12px;
            height: 12px;
            position: absolute;
            margin-left: -20px;
            margin-top: 6px;
            font-size: 12px;
            color: $grey-700;
            border: 0 !important;
        }

        .su-search-alignment {
            margin-left: 338px;
        }

        .close-icon {
            font-size: map-get($app-text-size, sm);
            width: 12px;
            height: 12px;
            position: absolute;
            margin-left: 338px;
            margin-top: 6px;
            border: 0 !important;
        }

        .search-bar {
            width: 360px;
            height: 24px;
            float: left;
            margin-right: 24px;
        }

        .sort {
            margin-top: 3px;
            float: right;
        }

        .su-sort {
            color: $grey-700;
            width: 15px;
            height: 15px;
            font-size: 17px;
        }
    }

    .close-icon.su-inner-close {
        display: none;
    }
    //placeholder color for grid
    ::-webkit-input-placeholder {
        color: $grey-700;
    }

    ::-moz-placeholder {
        color: $grey-700;
    }

    .placeholder {
        color: $grey-700;
    }

    @media screen and (min-width: 0px) {
        html {
            body {

                .selector-content {
                    font-size: map-get($app-text-size, "xs");
                }

                .header-description {
                    font-size: map-get($app-text-size, "md");
                }

                #header-title {
                    font-size: map-get($app-text-size, "lg");
                }
            }
        }
    }

    @media screen and (min-width: 1400px) {
        html {
            body {
                .selector-icons {
                    margin-left: 18% !important;
                }

                .selector-panel {
                    .hr-tag {
                        width: 110px !important;
                    }
                }

                .icon-alignment {
                    margin-left: 265px !important;
                }

                .selector-content {
                    font-size: map-get($app-text-size, "xs")+2;
                    margin-left: 13% !important;
                }

                .content-alignment {
                    margin-left: 230px !important;
                }

                .header-description {
                    font-size: map-get($app-text-size, "md")+2;
                }

                #header-title {
                    font-size: map-get($app-text-size, "lg")+2;
                }
            }
        }
    }

    .bootstrap-select.btn-group > .disabled {
        cursor: default;
    }
    