* {
  font-family: "RobotoRegular"; }

*:focus {
  outline: none !important; }

body {
  background: #f9f9f9; }
  body #content-area {
    margin-top: 0px !important; }
    body #content-area .user-warning {
      text-align: center;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      top: 0;
      width: 100%;
      z-index: 101; }
    body #content-area .user-warning .warning-content, body #content-area .user-warning .user-warning-content {
      position: relative;
      padding: 10px;
      background-color: #e57768;
      color: white; }
    body #content-area .user-warning .warning-content, body #content-area .user-warning .user-warning-content a {
      color: white;
      text-decoration: underline; }
    body #content-area .user-warning .warning-content, body #content-area .user-warning .close-user-warning-icons {
      cursor: pointer;
      font-size: 13px;
      position: absolute;
      right: 5px;
      top: 7px;
      padding: 12px;
      border-radius: 10px; }
    body #content-area .user-warning-space {
      padding-top: 45px !important; }
  body #base-footer-div {
    color: #808080;
    float: left;
    font-size: 12px;
    font-weight: 600;
    height: 50px;
    padding: 0px 0px 0px 80px;
    width: 100%; }
    body #base-footer-div footer {
      display: block !important;
      padding: 0px !important; }
      body #base-footer-div footer .layout-footer {
        padding: 0px;
        margin-top: 10px; }
        body #base-footer-div footer .layout-footer #enablefooter {
          color: #808080;
          font-size: 12px;
          margin: 7px 0px;
          text-align: right; }
          body #base-footer-div footer .layout-footer #enablefooter #footer-separator {
            margin-left: 10px;
            margin-right: 10px;
            padding: 0px 10px; }
          body #base-footer-div footer .layout-footer #enablefooter #footerlogo {
            height: 25px;
            width: 110px; }
      body #base-footer-div footer .language-area {
        bottom: 0px;
        float: right;
        font-size: 12px;
        padding: 6px 20px 10px 8px !important;
        position: relative;
        right: 0px;
        bottom: 0px; }
        body #base-footer-div footer .language-area #lang_menu {
          height: 24px;
          color: #333;
          position: relative;
          right: 0; }
          body #base-footer-div footer .language-area #lang_menu #footer-separator {
            margin-left: 10px;
            margin-right: 10px; }
        body #base-footer-div footer .language-area #dropdown-lang {
          color: #4d4d4d;
          border: none;
          background-color: transparent;
          border-bottom: 1px solid #333333;
          border-radius: 0;
          padding: 4px 20px 4px 0px;
          height: 32px;
          position: relative;
          top: -10px; }
          body #base-footer-div footer .language-area #dropdown-lang .lang-overflow {
            display: inline-block;
            margin-top: 3px;
            overflow: hidden;
            text-align: left;
            text-overflow: ellipsis;
            width: 160px; }
          body #base-footer-div footer .language-area #dropdown-lang .su-dropdown-arrow {
            font-size: 12px;
            position: absolute;
            right: 5px;
            top: 11px; }
        body #base-footer-div footer .language-area ul {
          border-radius: 0px;
          width: 190px; }
          body #base-footer-div footer .language-area ul a span {
            display: block;
            font-size: 11px;
            overflow: hidden;
            padding: 4px 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 160px; }
        body #base-footer-div footer .language-area .dropdown-menu {
          background-color: #fff;
          border-radius: 5px;
          margin-bottom: 10px;
          width: 180px; }
          body #base-footer-div footer .language-area .dropdown-menu li a {
            color: #2D3138;
            padding: 3px 10px; }
      body #base-footer-div footer p {
        margin-bottom: 0px; }
        body #base-footer-div footer p a {
          color: inherit;
          text-decoration: none; }
        body #base-footer-div footer p img {
          margin-left: 5px;
          margin-top: -7px; }
    body #base-footer-div .no-padding {
      padding: 0px; }
    body #base-footer-div .copyright-poweredby {
      position: relative; }
    body #base-footer-div .cookie-notification + .copyright-poweredby {
      bottom: 28px; }
  body #server-app-container #base-footer-div {
    margin-top: 20px;
    padding: 0px 0px 0px 80px !important; }

body.layout-accounts #base-footer-div {
  padding: 0px; }

@media screen and (max-width: 1400px) {
  body #base-footer-div footer .language-area {
    font-size: 12px; }
  body #base-footer-div footer #enablefooter {
    font-size: 12px; } }

@media screen and (max-width: 1040px) {
  #base-footer-div {
    padding: 0px !important; }
    #base-footer-div .language-area {
      width: 100%;
      text-align: center !important; }
    #base-footer-div #enablefooter {
      margin-top: 0px !important;
      width: 100%;
      text-align: center !important; } }
