@import "../core/typography";
@import "../themes/light";

$deployment-footer-height: 40px;
$deployment-header-height: 60px;

body.welcome-page-footer-alignment {
    padding-bottom: $deployment-footer-height + $deployment-header-height;
}

body {
    padding-bottom: $deployment-footer-height;
    background-color: $grey-100;

    header.deployment-header {
        display: table;
        height: $deployment-header-height;
        width: 100%;

        .deployment-header-container {
            display: table-cell;
            vertical-align: middle;

            img {
                height: 30px;
            }

            img.boldbi-logo {
                margin-left: 80px;
            }

            a.su-close {
                font-size: 30px;
                float: right;
                margin-right: 40px;
                cursor: pointer;
                color: $grey-800;

                &:hover, &:focus {
                    text-decoration: none !important;
                }
            }
        }
    }

    .deploy-tenant-parent, .welcome-tenant-parent {
        height: 100%;
        width: 100%;
        display: table;

        .deploy-tenant-child, .welcome-tenant-child {
            display: table-cell;
            vertical-align: middle;
            text-align: center;

            .deployment-page-image {
                margin-bottom: 50px;

                img {
                    margin-right: 20px;
                }
            }

            .deploy-tenant-bg {
                font-family: RobotoRegular;
                font-size: 12px;
                margin: 0 auto;
                display: inline-block;
                height: 32px;
                font-size: 20px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.6;
                letter-spacing: 0.6px;
                color: $primary-black;

                .deployment-content {
                    font-size: 24px;
                }

                .deployment-content-small, #deployment-status {
                    font-size: 14px;
                    margin-top: 18px;
                    height: 20px;
                    font-size: 13px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.54;
                    letter-spacing: 0.3px;
                    color: $grey-700;
                }

                #deployment-status {
                    margin-top: 60px;
                }

                .deployment-container {
                    margin-top: 35px;

                    .circle-progress {
                        svg {
                            width: 100%;
                            display: block;
                        }

                        .wrapper {
                            position: relative;
                            width: 400px;
                            height: 400px;
                            margin: 0 auto;
                        }

                        .wrapper > #bar, .wrapper > img {
                            position: absolute;
                            top: 0px;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }

                        .wrapper > img {
                            box-sizing: border-box;
                            padding: 2%;
                        }

                        .wrapper > img {
                            border-radius: 50%;
                        }
                    }
                }
            }

            .welcome-tenant-bg {
                #user-profile-picture {
                    height: 100px;
                    width: 164px;
                    margin: 0 auto;
                    background-image: url("../../../Images/Application/boldbi/profile-picture-background.svg");

                    img {
                        height: 100px;
                        width: 100px;
                        border-radius: 50%;
                        margin: 0 auto;
                    }
                }

                .profile-picture-background {
                }

                .user-name {
                    font-size: 18px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.84px;
                    text-align: center;
                    color: $primary-black;
                    margin-top: 18px;
                }

                .welcome-content {
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2.14;
                    letter-spacing: 0.65px;
                    text-align: center;
                    color: $grey-700;
                    margin-top: 12px;
                }

                .tenant-parent-container {
                    margin-top: 32px;
                }

                .dashboard-parent-container {
                    margin-top: 24px;
                }

                .admin-link-container {
                    display: inline-block;
                    cursor: pointer;
                    width: 515px;
                    border-radius: 4px;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
                    background-color: $white;
                    /*margin: 0 auto;
                    float: none;*/
                    text-align: left;

                    table.admin-options {
                        td.action-logo {
                            width: 18%;

                            img {
                                height: 60px;
                                width: 60px;
                                margin: 15px;
                            }
                        }

                        .action-title {
                            font-size: 14px;
                            font-weight: 500;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: 0.65px;
                            color: $primary-black;

                            div {
                                margin-top: 5px;
                            }
                        }

                        .action-description {
                            font-size: 12px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: 0.56px;
                            color: $grey-700;
                            vertical-align: top;
                            position: relative;

                            a {
                                position: absolute;
                                right: 15px;
                                font-size: 20px;
                                bottom: 18px;
                                color: $primary;
                            }
                        }
                    }

                    &:hover {
                        box-shadow: 0 6px 14px 3px rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }

    .deployment-footer {
        height: $deployment-footer-height;
        text-align: center;
        line-height: $deployment-footer-height;

        .footer-content {
            color: $grey-700;
            font-size: 10px;
            margin-right: 8px;
        }

        .footer-logo {
            height: 20px;
        }
    }

    #base-footer-div {
        background-color: transparent;
        font-size: map-get($app-text-size, md);
        padding: 0px !important;
        margin: 0px !important;
        display: table;
        height: $deployment-footer-height;
        position: relative;

        footer {
            display: table-cell;
            vertical-align: middle;

            .copyright-poweredby {
                margin: 0px 32px;

                #lang_menu {
                    height: initial !important;

                    #copyrightinfo {
                        font-size: map-get($app-text-size, md);
                    }
                }

                #footerlogo {
                    height: 20px;
                    margin-top: -2px;
                }
            }
        }
    }
}
