<div id="get-request-response"></div>
<div id="get-request-response-dialog-content">
    <div>[[[API Endpoint]]] : <span class="api-end-point"></span></div>
    <div>[[[Response Code]]] : <span class="response-code"></span></div>
    <div>[[[Response Message]]] :<pre><code class="response-message"></code></pre></div>
</div>