<div class="sub-section col-xs-12 no-padding last-sub-section">
    <h3 class="title sub-section-heading">@T["User Account Lockout"]</h3>
    <div class="col-xs-12 no-padding section-content-first">
        <div class="material-switch inline-align">
            <input type="checkbox" id="enable-user-restrict" @(GlobalAppSettings.SystemSettings.LockUserAccounts ? "checked" : string.Empty) />
            <label for="enable-user-restrict" class="label-primary"></label>
        </div>
        <div class="app-textbox-label inline-align">
            @T["Enable Account Lockout"]
        </div>
        <div class="info-message">
            @T["When a user's password is typed incorrectly five times or more, the account will be locked."]
        </div>
    </div>
</div>
