<div id="offline-license-update-dialog" class="col-xs-12 modal no-padding" tabindex="-1" role="dialog">
    <div id="popup-container" class="col-xs-12 no-padding">
        <div class="col-md-12 upload-header">
            <div class="col-xs-10 no-padding">
                <span class="popup-title">[[[Upload License]]]</span>
            </div>
            <div class="col-xs-2 popup-close-div">
                <a href="javascript:void(0);" onclick="uploadLicenseDialogClose()" class="popup-close" title="[[[Close]]]">
                    <span class="su su-close"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-12 upload-content">
            <div id="upload-section" class="col-xs-12 no-padding">
                <div class="col-xs-12 no-padding">
                    <label id="upload-lable">[[[Select license file]]]</label>
                </div>
                <div class="upload-btn-wrapper col-xs-12 no-padding">
                    <input type="text" id="file-name" class="col-xs-8" placeholder="[[[Choose file]]]" readonly="readonly" />
                    <img id="browse-lic" class="col-xs-4" src="~/images/common/folder.svg" />
                    <input type='file' id="getFile" accept=".lic" class="display-none">
                    <div id="tenant-type" class="display-none"></div>
                    <div class="validation-error-message col-xs-12 display-none"></div>
                </div>
                <div id="license-details" class="col-xs-12" style="display: none">
                    <div id="customer-email-container" class="col-xs-12 upload-group no-padding display-none">
                        <label class="col-xs-4 no-padding license-detail-lable">[[[Email]]]</label>
                        <p id="customer-email" class="col-xs-8 no-padding"></p>
                    </div>
                    <div id="subscription-id-container" class="col-xs-12 no-padding upload-group display-none">
                        <label class="col-xs-4 no-padding  license-detail-lable">[[[Subscription Id]]]</label>
                        <p id="subscription-id-offline" class="col-xs-8 no-padding"></p>
                    </div>
                    <div  id="subscription-name-container" class="col-xs-12 no-padding upload-group display-none">
                        <label class="col-xs-4 no-padding  license-detail-lable">[[[Subscription Name]]]</label>
                        <p id="subscription-name" class="col-xs-8 no-padding"></p>
                    </div>
                    <div  id="plan-name-container" class="col-xs-12 no-padding upload-group display-none">
                        <label class="col-xs-4 no-padding  license-detail-lable">[[[Plan Name]]]</label>
                        <p id="plan-name" class="col-xs-8 no-padding"></p>
                    </div>
                    <div  id="tenant-status-container" class="col-xs-12 no-padding upload-group display-none">
                        <label class="col-xs-4 no-padding  license-detail-lable">[[[Tenant Status]]]</label>
                        <p id="tenant-status" class="col-xs-8 no-padding">[[[Licensed]]]</p>
                    </div>
                    <div  id="expiry-date-container" class="col-xs-12 no-padding display-none">
                        <label class="col-xs-4 no-padding  license-detail-lable">[[[Expiry Date]]]</label>
                        <p id="expiry-date" class="col-xs-8 no-padding"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 upload-footer">
            <input disabled id="confirm-license" type="button" value="[[[Update License]]]" onclick="confirmLicenseUpdate()" class="primary-button">
            <input id="cancel-license-update" type="button" value="[[[Cancel]]]" onclick="uploadLicenseDialogClose()" class="secondary-button">
        </div>
    </div>
</div>