@{
    var isEnableCopyrightInfo = (bool)ViewBag.SystemSettings.IsEnableCopyrightInfo;
    var isEnablePoweredBySyncfusion = (bool)ViewBag.SystemSettings.IsEnablePoweredBySyncfusion;
}
    <script>
    var isSitesPage = "true";
    var isEnableCopyrightInfo = @Json.Serialize(isEnableCopyrightInfo);
    var isEnablePoweredBySyncfusion = @Json.Serialize(isEnablePoweredBySyncfusion);
    </script>
    <div id="look-and-feel-container" class="admin-page-content-container col-xs-12">
        <div id="organization-block" class="admin-page-content col-xs-12 no-padding">
            <div class="col-md-12 import-area admin-page-header">
                <hgroup class="admin-page-header-description">
                    <h1 class="h2 page-title">[[[Site Settings]]]</h1>
                    <h5 class="page-description">[[[Rebrand with your company name, logo, domain, time zone, and date-time display formats.]]]</h5>
                </hgroup>
            </div>

            <form id="look-and-feel-form" class="col-md-12 form-horizontal admin-page-body" autocomplete="off">
                @await Html.PartialAsync("_GeneralSection")
                @await Html.PartialAsync("_DisplaySection")
                @await Html.PartialAsync("_BrandingSection")
            </form>
            <div class="admin-page-footer col-xs-12">
                <div class="admin-page-actions col-lg-12 col-md-12 no-margin">
                    <a href="@Url.Content("~/")" class="secondary-button pull-right" id="cancel-site-settings" title="">[[[Cancel]]]</a>
                    <button type="button" title="" id="update-mail-settings" name="UpdateSystemSettings" class="primary-button pull-right update-system-settings">
                        [[[Save]]]
                    </button>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("../Shared/_FooterOnPremise")
    </div>
