<div id="font-upload-dialog-popup">
    <div class="modal" tabindex="-1" role="dialog">
        <div id="font-upload-dialog" class="modal-dialog" role="document">
            <form action="@Url.Action("UploadFontFile", "Administration")" method="post" onsubmit="uplodformValidation()" enctype="multipart/form-data" class="col-lg-12 no-padding modal-content" id="upload-font-form" autocomplete="off" novalidate>
                <div class="col-md-12 modal-header">
                    <div class="col-xs-8 no-padding">
                        <i class="su su-upload head-icon"></i>
                        <span class="modal-title">[[[Upload Font]]]</span>
                    </div>
                    <div class="col-xs-4 no-padding">
                        <a class="close" title="[[[Close]]]" href="javascript:void(0);" onclick="onUploadFontDialogClose()">
                            <i class="su su-close"></i>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12 field-padding">
                        <label class="col-xs-4 font-label">[[[Font file]]]<span class="mandatory">*</span></label>
                        <div class="col-xs-8 upload-box">
                            <input type="text" class="form-control no-margin" id="font-file-name" tabindex="-1" value="[[[Browse file path (.woff2)]]]" readonly>
                            <span id="trigger-file" class="input-group-addon upload-file-btn">...</span>
                            <input type="file" accept=".woff2" name="fontfile" id="font-file" class="upload-btn">
                        </div>
                    </div>

                    <div class="col-xs-12 field-padding padding-bottom">
                        <label class="col-xs-4 font-label">[[[Font name]]]<span class="mandatory">*</span></label>
                        <div class="col-xs-8">
                            <input type="text" id="font-name" maxlength="254" class="form-control validation" placeholder="[[[Font name]]]" name="fontname" data-name="font name" required>
                            <span class="fontupload-validation-messages" id="invalid-font-name"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 modal-footer">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-8 no-padding">
                        <input type="submit" id="upload-font" class="primary-button" value="[[[Upload]]]" disabled />
                        <input type="button" id="cancel-font-upload" class="secondary-button popup-close" value="[[[Cancel]]]" onclick="onUploadFontDialogClose()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
