<div role="tabpanel" class="tab-pane col-xs-12 no-padding" id="windows-ad-settings-tab">
    <div id="oauth-page-body" class="col-lg-12 col-md-12 col-sm-12 admin-page-body">
        <form id="windows-ad" name="windowsadSettingsForm" class="auth-settings-form col-lg-12 col-md-12 col-sm-12 no-padding" method="post" autocomplete="off">
            <div class="col-xs-12 no-padding margin-bottom">
                <div class="material-switch inline-align">
                    <input type="checkbox" id="enable-windows-ad" ng-model="windowsAdEnabled" />
                    <label for="enable-windows-ad" class="label-primary"></label>
                </div>
                <div class="app-textbox-label inline-align">
                    [[[Enable Windows Authentication]]]
                </div>
                <div class="info-message">
                    [[[Show or hide Windows Authentication option from Login screen.]]]
                </div>
            </div>
        </form>
    </div>
</div>