<div role="tabpanel" class="tab-pane" id="windows-ad-settings-tab">
    <div id="oauth-page-body" class="col-lg-12 col-md-12 col-sm-12 admin-page-body no-padding">
        <form id="windows-ad" name="windowsadSettingsForm" class="auth-settings-form col-lg-12 col-md-12 col-sm-12 no-padding" method="post" autocomplete="off">
            <div class="col-md-12 form-group" style="margin-top: 10px;">
                <div class="col-md-12 no-padding no-margin enable-windowsad-label">
                    <label class="app-textbox-label col-md-3 no-margin">
                        [[[Enable Windows Authentication]]]
                        <span tabindex="0" class="info-icon su su-info" role="button" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="[[[Show or hide Windows Authentication option from Login screen.]]]"></span>
                    </label>
                    <div class="col-md-9 form-input-field pull-left switch-align">
                        <span class="material-switch text-left">
                            @if ((bool)ViewBag.WindowsAdSettings.IsEnabled)
                            {
                                <input type="checkbox" id="enable-windows-ad" name="enable-windows-ad" ng-model="windowsAd.IsEnabled" ng-init="windowsAd.IsEnabled=true" ng-checked=true />
                            }
                            else
                            {
                                <input type="checkbox" id="enable-windows-ad" name="enable-windows-ad" ng-model="windowsAd.IsEnabled" ng-init="windowsAd.IsEnabled=false" ng-checked=false />
                            }
                            <label for="enable-windows-ad" class="label-primary"></label>
                        </span>
                        <span class="validation-message"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>