@{
    ViewBag.Title = "[[[API Keys]]] - " + GlobalAppSettings.SystemSettings.OrganizationName;
}

@section styles{
    <link rel="stylesheet" href="~/bundles/css/api-keys.css" asp-append-version="true" />
}
@section scripts{
    <script src="~/bundles/js/api-keys.js" asp-append-version="true"></script>
    <script src="~/bundles/js/ej2.js" asp-append-version="true"></script>
    <script>
        $.extend(ej, Syncfusion);
    </script>
}

@section MainSection{

    @await Html.PartialAsync("_AdminMenu")

    <div id="api-keys-container" class="col-xs-12 col-md-12 col-sm-12 admin-page-content-container">
        <div class="admin-page-content col-xs-12 no-padding">
            <div id="api-keys-header" class="col-xs-12 col-md-12 col-sm-12 admin-page-header">
                <hgroup class="admin-page-header-description">
                    <h1 class="h2 page-title">
                        [[[API Keys]]]
                    </h1>
                    <h5 class="page-description">
                        [[[Client id and secret for REST API authentication]]]
                    </h5>
                </hgroup>
            </div>
            <div id="api-keys-body" class="col-xs-12 admin-page-body">
                <form class="admin-page-form col-xs-12 col-md-12 col-sm-12 no-padding" autocomplete="off">
                    <div class="col-md-12 no-padding">
                        <div class="col-md-12 no-padding">
                            @Html.Label("api-client-id", "[[[Client id]]]", new { @class = "app-textbox-label" })
                        </div>
                        <div class="id">
                            <input type="text" class="client-values form-control no-margin" tabindex="-1" id="myApiId" onfocus="this.blur()" readonly="readonly" value="@ViewBag.ApiClientId.ToString()" />
                            <div class="su su-copy form-control" id="api-copy-client-id" onclick="copyToClipboard('#myApiId','#api-copy-client-id')" data-toggle="tooltip" data-original-title="[[[Click to copy]]]"></div>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding input-field-margin">
                        <div class="col-md-12 no-padding">
                            @Html.Label("api-client-secret", "[[[Client secret]]]", new { @class = "app-textbox-label" })
                        </div>
                        <div class="secret">
                            <input type="password" id="my-api-secret" readonly="readonly" onfocus="this.blur()" class="form-control client-values my-secret" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" value="@ViewBag.ApiClientSecret.ToString()" />
                            <div class="su su-show show-client-secret" id="show-api-client-secret" data-toggle="tooltip" data-original-title="[[[Click to view]]]"></div>
                            <div class="su su-copy form-control" id="api-copy-client-secret" onclick="copyToClipboard('#my-api-secret','#api-copy-client-secret')" data-toggle="tooltip" data-original-title="[[[Click to copy]]]"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @await Html.PartialAsync("../Shared/_FooterOnPremise")
    </div>
}
