@import "../core/_variables.scss";
@import "../core/_typography.scss";

@mixin button($height, $show-icon: false) {
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: map-get($app-text-size, md);
    font-weight: 600;
    height: $height;
    line-height: $height;
    min-width: $min-button-width;
    outline: none;
    text-align: center;

    @if ($show-icon == true) {
        padding: 0 0 0 15px;

        span {
            padding-right: 15px;
        }

        i {
            display: inline-block;
            width: 15px;
        }
    }

    @if ($show-icon == false) {
        padding: 0 15px;
    }

    &:disabled {
        cursor: default;
    }
}
