<div class="permission-app-container">
    <div class="content-container-fluid" id="feature-permission-app-container">
        <div id="Feature_Grid" class="grid">
        </div>
    </div>
</div>