@import "mixins.scss";

body {
    overflow: hidden !important;
}

#base-container {
    #group-header {
        .adjust-style-for-backarrow {
            padding-top: 8px !important;
        }
    }
}

#group-directory-container {  

   .admin-page-header {
        padding-bottom: 15px;

        .page-title {
            padding-top: 10px;
        }
    }

    #group-header {
        .groups-menu {
            list-style: none;

            > li {
                display: inline-block;
                float: inherit;
                margin-left: 15px;
                padding: 0;
            }
        }
       #synchronize-dropdown-menu{
            left: -125px;
        }
        #dropdown-options{
            left: -108px;
        }

        .caret {
            color: $primary-btn-text-color;
        }       

        .group-margin {
            margin-left: -30px;
        }

        .top-margin {
            margin-top: 0;
        }

        .synchronize-groups {
            margin-bottom: 10px;
        }

        #add-user-in-groups {
            float: right;
            display: none;
            margin-top: 0px;

            .group-delete-button {
                margin-left: 10px;
                float: right;
            }
        }
    }

    #grid-container {
        background: $admin-page-bg;

        #Grid {
            width: 100%;
            margin-left: 2px;

            table {
                th:last-child {
                    cursor: default;
                }
            }
        }

        .e-rowcell .dropdown {
            position: absolute;

            .dropdown-menu {
                left: -175px;
                width: 195px;

                a {
                    padding: 5px 10px;

                    .su {
                        padding: 0 10px 0 5px;

                        .su-close {
                            color: $sub-text-color;
                            font-size:$app-large-text-size;
                            margin-right: 4px;
                        }
                    }
                }
            }
        }

        .margin {
            margin-left: 3px;
        }

        .ad-azure-indication {
        padding: 10px 0 0 5px;

        .su {
            color: $sub-text-color;
        }
    }

    }

    
}

#new-group-area {
    iframe {
        height: 290px;
        border: 0;
        width: 100%;
    }
}

.top-margin {
    margin-top: 6px;
}

.help-text {
    font-size: $app-text-size - 2;
}

#delete-group-area,#delete-group-iframe {
    iframe {
        height: 150px;
        border: 0;
        width: 100%;
    }
}

.e-grid .e-gridheader .e-headercell.e-headertemplate {
    padding-left: 12px !important;
}

//style for the  EditGroup Menu
#base-container {
    #delete-button {
        margin-left: 10px;
    }

    .admin-page-body {
        font-size: $app-text-size;

        #info-container {
            .row {
                margin-top: 10px;
            }
            .form-control{
                color:$primary-text-color;
            }
            .group-info-label {
                padding: 5px;
            }

            #group-info-name {
                font-size: $app-text-size;
                padding: 6px 12px;
            }
            #group-info-description {
                font-size: $app-text-size;
                padding: 5px;
            }
         
            .group-info-text {
                #group-info-description {
                    height: 105px;
                    resize: none;
                }

                #required-content {
                    font-size: $app-text-size -2;
                }
                 :-ms-input-placeholder.form-control {
                 color: $placeholder-color !important;
                     }

                 .placeholder {
                        color: $placeholder-color !important;
                        height: 30px;
                        line-height: 35px;
                        padding-left: 5px;
                        position: absolute;
                        top: 0;
                    }
            }

            .margin-left {
                margin-left: -4px;
            }

            .padding-right {
                padding-right: 6px;
            }

            #group-edit-confirmation {
                color: $validation-text-color;
                margin-right: 10px;
            }
        }

        #people-container {
            padding: 30px 0 0 0;

            .user-content {
                padding: 0 0 10px 0;

                .user-list-text {
                    float: left;
                    margin: 5px 6px 0 0;
                }

                #user-list-container {
                    .bs-deselect-all, .bs-select-all {
                        display: none;
                    }

                    .bs-deselect-all-custom, .bs-select-all-custom {
                        font-size: $app-text-size;
                        color: $primary-btn-bg;

                        &:hover {
                            text-decoration: underline;
                        }
                        }
                     .bs-select-all-custom .bs-select-custom-tick{
                         display:none;
                     }
                        .bs-deselect-all-custom .bs-select-custom-tick {
                            display: inline;
                            float: right;
                            margin-right: 22px;
                        }
                  
                     .bs-actionsbox:hover, .bs-select-all-custom :hover {
                        cursor: pointer;
                    }

                    .btn-default {
                        height: $textbox-height;
                    }

                    .bootstrap-select {
                        float: left;
                        width: 300px !important;

                        .filter-option {
                            font-size: $app-text-size;
                            text-overflow: ellipsis;
                            margin-top: -2px;
                        }
                    .dropdown-menu {

                        li {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 275px;

                            a {
                                background: none;

                                .text {
                                    float: left;
                                    font-size: $app-text-size;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    width: 195px;

                                    &:focus, &:active {
                                        color: $secondary-btn-bg;
                                    }
                                }

                                .check-mark {
                                    font-size: $app-text-size;
                                    left: 210px;

                                    &:focus, &:active {
                                        color: $secondary-btn-bg;
                                    }
                                }

                                &:hover {
                                    background: none;
                                }
                            }

                            &:hover {
                                background-color: $admin-pages-border-color;
                            }

                            &:focus, &:active {
                                background-color: $primary-btn-bg;
                            }
                        }

                        li.active{
                            background-color: $primary-btn-bg;
                        }

                        .check-mark {
                            margin: 0 !important;
                        }
                        .selected{
                            background-color:$primary-btn-bg;
                            .text,.check-mark{
                                color:$secondary-btn-bg;
                            }
                   &:hover{
                                background-color:$primary-btn-bg;

                            }
                        }
                    }
                    }
                }

                #user-save-button {
                    float: left;
                    margin: 0 0 0 10px;

                    .btn {
                        padding: 6px 20px;
                    }
                }

                #search-area {
                    float: right;
                    margin-right: -3px;
                    position: relative;

                    input[type="text"] {
                        border: 1px solid $admin-pages-border-color;
                        border-radius: 4px 0 0 4px;
                        border-right: 0;
                        float: left;
                        height: 35px;
                        padding-left: 5px;
                        -webkit-appearance: none;
                        width: 185px;

                        &:focus {
                            outline: none;
                        }
                    }

                    .placeholder {
                        color: $admin-pages-border-color;
                        height: 30px;
                        line-height: 35px;
                        padding-left: 5px;
                        position: absolute;
                        top: 0;
                    }

                    #clear-search {
                        background-color: $secondary-btn-bg;
                        border: 1px solid $admin-pages-border-color;
                        border-left: 0;
                        border-radius: 0 4px 4px 0;
                        cursor: pointer;
                        display: none;
                        float: left;
                        height: 35px;
                        padding-left: 4px;
                        padding-top: 10px;
                        width: 25px;
                    }

                    .su-search {
                        background-color: $secondary-btn-bg;
                        border: 1px solid $admin-pages-border-color;
                        border-left: 0;
                        border-radius: 0 4px 4px 0;
                        cursor: pointer;
                        float: left;
                        height: 35px;
                        text-align: center;
                        padding-top: 10px;
                        width: 25px;
                    }
                }
            }

            #Grid {
                float: left;
                width: 100%;
                margin-left: 2px;

                .e-gridcontent .e-alt_row {
                    background: none;
                }

                tr {
                    a.delete-user {
                        display: none;
                    }

                    &.e-hover {
                        a.delete-user {
                            color: $validation-text-color !important;
                            display: inline-block;
                            font-weight: 400;

                            .su {
                                font-size: 12px;
                            }

                            .su-close {
                                color: $validation-text-color;
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// style for deletegroup
#delete-group-area_wrapper {
    height:150px !important;
    .e-dialog {
        height: 150px !important;
        width: 497px !important;
    }
}


#group-delete-confirmation {
    padding: 0;
    @include modal();

    .modal-content {
        height: 150px;

        .modal-body {
            .delete-msg{
                margin:0;
            }
              .highlight-name{
                font-style:italic;
                color:$success-text-color,
            }
        }
        .modal-footer{
            bottom:0;
            position:fixed;
        }
            }
}


@media screen and (min-width: 1400px) {
    #base-container {
        .admin-page-body {
            font-size: $app-large-text-size;

            #info-container {
                #group-name {
                    #group-info-name {
                        font-size: $app-large-text-size;
                    }
                }

                .group-info-text {
                    #group-info-description {
                        color: $primary-text-color;
                        font-size: $app-large-text-size;
                    }

                    #required-content {
                        font-size: $app-text-size;
                    }
                }
            }

            #people-container {
                .user-content {
                    padding: 0 0 10px 0;

                    .user--list-text {
                        margin: 6px 6px 0 0;
                    }

                    #user-list-container {
                        .btn-default {
                            height: $textbox-lg-height;
                        }

                        .bootstrap-select {
                            .filter-option {
                                font-size: $app-large-text-size;
                            }

                            .dropdown-menu {
                                font-size: $app-large-text-size;

                                li {
                                    a {
                                        .text {
                                            font-size: $app-large-text-size;
                                        }

                                        &:focus, &:active {
                                            .text, .check-mark {
                                                font-size: $app-large-text-size;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #user-save-button {
                        margin: -2px 0 0 10px;
                    }
                }
            }
        }
    }
}
/*Hiding no suggestion and waiting popup in Filtering*/
#Grid_acString {
    background-image: none !important;
}

#Grid_acString_suggestion {
    display: none !important;
}

/*Add group >1400 resolution style*/
 .lg-flexible-creategroup{
        #popup-container,#delete-popup-container {
            .header-menu {
                  .popup-close.close-dialog {
                        .su-close {
                            color: $primary-text-color;
                            font-size:$app-text-size;
                            margin-right: 4px;
                        }
                        &:hover{
                            color: $primary-color;
                        }
                    }

                &:hover {
                    color: $primary-color;
                }
            }

            .popup-title {
                font-size: $app-large-text-size + 2;
            }

            .head-icon {
                font-size: $app-large-text-size + 2;
            }      

        .dialog-body {
            font-size: $app-large-text-size;

            .delete-msg {
                font-size: $app-large-text-size;
            }

            .namepad {
                .grouppad {

                    .placeholder {
                        height: $textbox-lg-height;
                    }

                    #invalid-groupname {
                        font-size: $app-text-size;
                    }

                    .help-text {
                        font-size: $app-text-size;
                    }
                }
            }

            .form-control {
                height: $textbox-height;
            }

            textarea {
                height: auto !important;
            }
        }
    }
 }


.e-dialog, #groups-delete-confirmation {
    padding: 0;

    .modal-dialog {
        display: block;
        height: auto;
        min-height: 120px;
        width: 378px;

        .modal-body {
            .delete-msg {
                font-size: 12px;
                text-align: center;
            }
        }
    }

    @include dialogbox();
}

#groups-delete-confirmation-wrapper {
    #popup-container {
        .dialog-footer {
            margin-top: 33px,
        }
    }
}

.lg-flexible-deletegroup {
    #group-delete-confirmation .modal-content {

        .modal-header {
            .modal-title {
                font-size: $app-large-text-size + 2,
            }
        }

        .modal-body {
            .delete-msg {
                font-size: $app-large-text-size,
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
    #group-directory-container {

        #group-header {

            #synchronize-dropdown-menu {
                left: -125px;
                width: 235px !important;
            }

            #dropdown-options {
               left: -108px;
                width: 211px !important;
            }
        }
    }
}

// style for delete user from group
#delete-group-area_wrapper {
    height: 150px !important;

    .e-dialog {
        height: 150px !important;
        width: 497px !important;
    }
}

#user-delete-confirmation {
    padding: 0;

    .modal-content {
        border-radius: 0;
        border: 0;
        height: 150px;
        padding: 0px;

        .modal-header {
            border: 0;
            height: 50px;
            padding: 10px !important;

            .modal-title {
                font-size: $app-large-text-size;
                font-weight: 500;
            }

            .popup-close {
                color: $primary-text-color;

                &:hover {
                    color: $primary-btn-bg;
                    text-decoration: none;
                }
            }
        }

        .modal-body {
            display: table !important;
            font-size:$app-text-size;
            height: 50px;

            .delete-msg {
                margin-top: 4px;
            }
        }

        .modal-footer {
            background-color: $admin-pages-border-color;
            height: 50px;
            padding: 10px;

            .margin-right {
                margin-right: 10px;
            }

            .margin-top {
                margin-top: 2px;
            }
        }
    }
}

.lg-flexible{
    #user-delete-confirmation{
     .modal-content{
         .modal-header
         { .modal-title{
             font-size:$app-large-text-size + 2;
         }
           .popup-close{
                font-size:$app-large-text-size + 2;
           }
           }
       .modal-body{
           font-size:$app-large-text-size;
       }
   }
}
    }

#messageBox_wrapper {
    width: 450px !important;
    height: 150px !important;

    .e-dialog-scroller {
        height: 150px;
        width: 448px;

        #messageBox {
            height: 150px !important;
            width: 448px !important;
        }
    }
}

#invalid-groupname {
    margin-left: -6px;                 
}