@import "newthemes/elementsize.scss";
@import "newthemes/elementcolor.scss";
@import "newthemes/mixins.scss";

#license-setting-header {
    text-align: center;

    .month-ends {
        display: none;
    }
}

.proceed-button {
    @include proceed-button($button-32, $textsize-12);
}

.back-button {
    @include back-button($button-32, $textsize-12);
}

.validation-error {
    color: $validation-text-color;
    font-size: $textsize-10;
    padding-top: 3px;
    text-align: left;
    line-height: 12px;
    display: inline-block;
}

.stepper {
    width: 305px;
    height: 80px;
    padding: 30px 63px 14px 63px;
    margin: 0 auto;

    .circle-container {
        float: left;
        position: relative;

        hr {
            float: left;
            width: 56px;
            margin: 7px 4px;
            border-top: 2px solid $color-grey-300;
        }

        .circle {
            height: 14px;
            width: 14px;
            border: 2px solid $color-grey-300;
            border-radius: 50%;
            float: right;
        }

        .activity-name {
            position: absolute;
            top: 20px;
            left: 57px;
            color: $color-grey-300;
            font-weight: $text-semibold;
        }
    }

    .circle-container {
        .activity-name.billing {
            left: 55px;
        }
    }

    .circle-container.plan {
        .activity-name {
            left: -5px;
        }
    }

    .inprogress {
        hr {
            border-top: 2px solid $color-primary;
            transition: 1s all ease;
        }

        .circle {
            border: 2px solid $color-primary;
            transition: 2s all ease;
        }

        .activity-name {
            color: $color-primary;
            transition: 3s all ease;
        }
    }

    .completed {
        hr {
            border-top: 2px solid $color-primary;
            transition: 1s all ease;
        }

        .circle {
            border: 2px solid $color-primary;
            background: $color-primary;
            transition: 2s all ease;
        }

        .activity-name {
            transition: 3s all ease;
        }
    }
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}
