@import "mixins.scss";

#view-page-container {
    .admin-page-header {
        padding-bottom: 15px;

        .page-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-top: 8px;
        }
    }

    #group-header {
        border-bottom: 1px solid $grid-border-color;
        margin-bottom: 25px;

        .col-md-5 {
            margin-top: 1px !important;
            padding-left: 0 !important;
        }

        .group-buttons {
            padding-left: 0;
            text-align: right;
        }

        .manage-permissions {
            margin-right: 10px;
        }

        .delete-group {
            margin-left: 10px;
        }
    }

    .admin-page-body {
        font-size: 14px;

        #info-container .row {
            margin: 10px 0 0 0;
        }

        #invalid-groupname {
            margin-top: 5px;
        }

        .close-icon.su-inner-close {
            display: none;
        }
    }

    #people-container, #info-container {
        padding: 0;
    }
}

/*Hiding no suggestion and waiting popup in Filtering*/
#Grid_acString {
    background-image: none !important;
}

#Grid_acString_suggestion {
    display: none !important;
}

// style for deletegroup 
#delete-group-area_wrapper {
    height:150px !important;
    .e-dialog {
        height: 150px !important;
        width: 497px !important;
    }
}