﻿@{
    var globalAppSettings = _globalAppSettings;
    ViewBag.Title = "[[[Credentials]]] - " + globalAppSettings.SystemSettings.OrganizationName;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}

@section scripts{
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/credentials.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/credentials.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/credentials.min.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/credentials.min.js"></script>
    </environment>
    <script>
        var clientSecret = "ViewBag.GlobalAppSettings.SystemSettings.TenantSecret";
    </script>
}

@section MainSection{
@Html.PartialAsync("_AdminMenu")
<environment include="Development,CloudDevelopment">
    <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
</environment>
<div id="credentials-container" role="tabpanel" class="col-xs-12 admin-page-container">
    <div id="credentials-header" class="col-xs-12 admin-page-header">
        <hgroup>
            <h1 class="h2 page-title">
                [[[CREDENTIALS]]]
            </h1>
            <h5 class="page-description">
                [[[Credentials to access your application.]]]
            </h5>
        </hgroup>
    </div>
    <div id="credentials-body" class="admin-page-body">
        <div class="col-xs-12 form-group ">





@Html.Label("client-id", "Client ID", new { @class = "app-textbox-label col-xs-2" })
<div class="form-input-field col-xs-8">
    <input type="text" class="form-control client-values col-xs-5" id="my-client-id" readonly="" value="@ViewBag.GlobalAppSettings.SystemSettings.TenantId" />
    <button class="su su-copy copy-client-values" id="copy-client-id" onclick="fnCopyClientCredentials('#my-client-id','#copy-client-id')" data-toggle="tooltip" data-original-title="[[[Click to copy]]]"></button>
</div>
</div>
<div class="col-xs-12 form-group no-margin">





@Html.Label("client-secret", "Client secret", new { @class = "app-textbox-label col-xs-2" })
<div class="form-input-field col-xs-8">
    <input type="text" id="my-secret" readonly="" class="form-control client-values col-xs-5" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" value="" />
    <button class="su su-copy copy-client-values" id="copy-client-secret" onclick="fnCopyClientCredentials('#my-secret','#copy-client-secret')" data-toggle="tooltip" data-original-title="[[[Click to copy]]]"></button>
    <button class="su su-eye show-hide-password copy-client-values" id="show-client-secret" data-toggle="tooltip" data-original-title="[[[Click to view]]]"></button>
</div>
</div>
<div class="col-xs-12" id="secret-code-message" style="display: none;">
    <span class="col-xs-2"></span>
    <div class="col-xs-4 bg-warning secret-code-notification">
        [[[Secret used by the client to exchange an authorization code for a token. This must be kept confidential. Do not include it in applications that cannot keep it secret, such as those running on the client.]]]
    </div>
</div>
</div>
</div>



}