@{
    Layout = null;
}
<html>
<head>
    <script>
        $(document).ready(function () {
            $("#item-link-copy").removeClass("focusdiv");
            $("#item-link").on("focusin", function () {
                $("#item-link-copy").addClass("focusdiv");
            });
            $("#item-link").on("focusout", function () {
                $("#item-link-copy").removeClass("focusdiv");
            });
        });

        function load() {
            if (($(parent.window).width()) > 1400) {
                $(".dialog").addClass("iframe");
            }

            if (($(parent.window).width()) < 1400) {
                $(".dialog").removeClass("iframe");
            }
        }
    </script>
</head>
<body onload="load()">
    <div id="get_item_link" class="col-xs-12 no-padding dialog" style="display:none">
        <div class="col-xs-12 dialog-header">
            <div class="col-xs-6 no-padding">
                <span class="su su-link Head-icon"></span>
                <span class="PopupTitle">Get Link</span>
            </div>
            <div class="col-xs-6 no-padding">
                <a href="javascript:void(0);" title="Close" class="PopupClose" onclick="onGetLinkDialogClose()"><span class="su su-close"></span></a>
            </div>
            <div class="report-name no-padding col-xs-12 link-item-name ellipsis" style="padding-left:5px;padding-top: 10px;"></div>
        </div>
        <div class="dialog-body col-xs-12 no-padding">
            <div class="col-xs-12">
                <div class="get-link-body">
                    <div class="link-div" style="display:none">
                        <div class="col-sm-12 col-xs-12 no-padding">
                            <span style="white-space:normal;float:left;margin-bottom:10px">
                                <span class="db-link">Connection String:</span>
                            </span>
                        </div>
                        <input onClick="this.setSelectionRange(0, this.value.length)" id="item-link" class="form-control" readonly />
                        <div class="form-control su su-copy text focus" id="item-link-copy" readonly="" data-original-title="Click to copy"></div>
                    </div>
                    <div class="container-link-div" style="display:none">
                        <div class="col-sm-12 col-xs-12 no-padding">
                            <span style="white-space:normal;float:left;margin-bottom:10px;margin-top:10px">
                                <span class="db-link">Container Name:</span>
                            </span>
                        </div>
                        <input onClick="this.setSelectionRange(0, this.value.length)" id="container-name" class="form-control" readonly />
                        <div class="form-control su su-copy text focus" id="container-name-copy" readonly="" data-original-title="Click to copy"></div>
                    </div>

                    <strong style="padding-top:15px;float:left" class="note">Note:</strong>
                    <span style="padding-top:5px;padding-bottom:10px;white-space:normal;float:left">
                        <span class="link">
                            Anyone can navigate to this link, but only users with the appropriate permissions will be able to view.
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 dialog-footer rightAlign no-right-padding no-left-padding" style="position:relative !important;font-size:14px !important">
            <div class="pull-right"></div>
            <div class="no-padding centerAlign validationArea" id="close">
                <input title="" type="button" id="Cancel" class="btn secondary-button PopupClose" value="OK" onclick="onGetLinkDialogClose()" tabindex="3" autofocus />
            </div>
        </div>
    </div>
</body>
</html>