<header class="startup-header">
    <div class="startup-header-container">
        <img class="boldbi-logo" src="@Url.Content("~/images/"+GlobalAppSettings.Branding+"/application/registration_header_logo.svg")" />
        <div class="footer-logo-container">
            <span>[[[Powered by]]]</span><img class="boldbi-footer-logo" src="@Url.Content( "~/images/" + GlobalAppSettings.Branding + "/application/footer_logo_black.svg")" />
        </div>
    </div>
</header>