<div id="avatar-upload-box" title="Change Profile picture" class="modal" role="dialog">
    <div class="modal-dialog">
        <div id="popup-container" class="col-lg-12 no-padding modal-content">

            <div class="col-md-12 modal-header">
                <div class="col-xs-6 no-padding">
                    <span class="su su-open"></span>
                    <span class="popup-title modal-title">Change Profile Picture</span>
                </div>
                <div class="col-xs-6 no-padding text-right">
                    <a href="javascript:void(0);" class="popup-close" data-toggle="tooltip" data-placement="top" data-container="body" title="Close">
                        <span class="su su-close"></span>
                    </a>
                </div>
            </div>

            <div class="modal-body col-xs-12">
                <div class="col-md-6 no-padding input-group image-path">
                    <input class="form-control" id="image-path" disabled="disabled" data-text="browse image path" value="" readonly="readonly" />
                    <span id="upload-picture" class="input-group-addon">
                    </span>
                </div>

                <div class="image-selection-holder col-md-4">
                    <div>
                        <div class="img-container">
                            <img id="profile-picture" style="background-repeat: no-repeat;" src="@GlobalAppSettings.SystemSettings.CDNLink/images/common/preview.jpg" />
                            <input type="hidden" name="LeftOfCropArea" value="" />
                            <input type="hidden" name="TopOfCropArea" value="" />
                            <input type="hidden" name="LeftToCropArea" value="" />
                            <input type="hidden" name="TopToCropArea" value="" />
                            <input type="hidden" name="height" value="" />
                            <input type="hidden" name="width" value="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding" id="file-description">
                    <div id="file-description-content info-text">
                        *Allowed file types are .png, .jpg, and .jpeg. Maximum file size is 20MB. Recommended resolution is 200x200 pixels.
                    </div>
                </div>
            </div>

            <div class="col-xs-12 modal-footer">
                <div class="col-xs-4"></div>
                <div class="col-xs-8 text-align no-padding margin-top">
                    <input type="button" value="Save" class="primary-button" id="upload-image" disabled="disabled">
                    <input type="button" value="Cancel" class="secondary-button" id="cancel-avatar-popup">

                </div>
            </div>
        </div>
    </div>

</div>

<style>
    [contentEditable=false]:empty:not(:focus):before {
        content: attr(data-text);
    }
</style>




