@{
    var requestUrl = new Uri(this.Context.Request.GetDisplayUrl());
    var currentUrl = requestUrl.LocalPath.TrimEnd('/');
}

<nav id="admin-nav">
    <ul>
        <li class="mobile-hidden">
            <a id="license-settings-link" class="admin-menu-item @(currentUrl.IndexOf(Url.Action("LicenseSettings", "Subscription"), StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@Url.Action("LicenseSettings", "Subscription")" role="tab">
                <i class="su su-license-settings"></i>
                <span>Subscription</span>
            </a>
        </li>
        <li>
            <a id="payment-link" class="admin-menu-item @(currentUrl.IndexOf(Url.Action("GetCardDetail", "Payment"), StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@Url.Action("GetCardDetail", "Payment")" role="tab">
                <i class="su su-dollar"></i>
                <span>Payments</span>
            </a>
        </li>
    </ul>
</nav>