
<div id="warning-toast-dialog" class="warning-toast-dialog fluent-popup custom-bootstrap-styles custom-server-style no-padding" style="display: none; padding: 20px !important">
    <div class="fluent-popup-header col-12 float-start no-padding">
        <h4 class="popup-title">
            <span class="su su-info"></span>
            <span id="info-dialog-header">@T["Error Info"]</span>
            <button id="close-info-dialog" type="button" title="@T["Close"]" data-bs-toggle="tool-tip" data-bs-container="body" class="close popup-close" aria-label="Close">
                <span class="su su-close"></span>
            </button>
        </h4>
    </div>
    <div class="fluent-item-popup-body col-12 float-start">
        <span class="item-info-created col-12 float-start" id="warning-toast-content">
        </span>
    </div>
    <div class="fluent-popup-footer col-12 float-start">
        <button class="secondary-button" id = "close-button" title="Close">@T["Close"]</button>
    </div>
</div>
