
<div id="warning-toast-dialog" class="warning-toast-dialog fluent-popup custom-bootstrap-styles custom-server-style no-padding" style="display: none; padding: 20px !important">
    <div class="fluent-popup-header col-xs-12 no-padding">
        <h4 class="popup-title">
            <span class="su su-info"></span>
            <span id="info-dialog-header">[[[Error Info]]]</span>
            <button id="close-info-dialog" type="button" title="[[[Close]]]" data-toggle="tool-tip" data-container="body" class="close popup-close" onclick="closeWarningToastDialog()" aria-label="Close">
                <span class="su su-close"></span>
            </button>
        </h4>
    </div>
    <div class="fluent-item-popup-body col-xs-12">
        <span class="item-info-created col-xs-12" id="warning-toast-content">
        </span>
    </div>
    <div class="fluent-popup-footer col-xs-12">
        <button class="secondary-button" onclick="closeWarningToastDialog()" title="Close">[[[Close]]]</button>
    </div>
</div>
