<div id="auto-deployment-response"></div>
<div id="auto-deployment-response-dialog-content">
    [[[We are unable to deploy the site using the values configured from the environment variables. To configure the application, please fill in the required information.]]]
</div>