<div id="admin-nav">
    <ul id="startup-tab-nav" class="nav nav-tabs" role="tablist">
        <li>
            <a href="" id="default-tab" class="active" role="tab" data-toggle="tab"><span>[[[SIMPLE]]]</span></a>
        </li>
        <li>
            <a href="" id="advanced-tab" role="tab" data-toggle="tab"><span>[[[ADVANCED]]]</span></a>
        </li>
    </ul>
</div>
<input type="hidden" name="is_simple_mode" id="is_simple_mode" value="true" />