<div id="admin-nav">
    <ul id="startup-tab-nav" class="nav nav-tabs" role="tablist">
        <li>
            <a href="" id="default-tab" class="text-decoration-none" role="tab" data-bs-toggle="tab"><span>@T["SIMPLE"]</span></a>
        </li>
        <li>
            <a href="" id="advanced-tab" class="text-decoration-none" role="tab" data-bs-toggle="tab"><span>@T["ADVANCED"]</span></a>
        </li>
    </ul>
</div>
<input type="hidden" name="is_simple_mode" id="is_simple_mode" value="true" />