@{
    var boldReportsUrl = CloudAppConfig.InternalAppReportUrl + "/" + @CloudAppConfig.TenantIdentifierPrefix + "/";
    var boldBIUrl = CloudAppConfig.InternalAppBIUrl + "/" + @CloudAppConfig.TenantIdentifierPrefix + "/";
}

<div class="system-settings-page-container col-lg-5 col-md-5 col-sm-5 col-xs-5" id="system-settings-tenant-container">
    <div class="system-settings-tenant-configuration-field">
        <form id="tenant-content-holder" class="col-md-12 no-padding text-wrap">
            <div class="txt-holder center-align">
                <label class="field-label">[[[Site Name]]]</label>
                <input type="text" id="txt-site-name" name="sitename" class="form-control system-settings-startup-page-fields db-fields" placeholder="[[[Site Name]]]" />
                <span class="startup-validation validation-txt-errors"></span>
            </div>
            <div class="txt-holder center-align">
                <label class="field-label">[[[Site Identifier]]]</label>
                <input type="text" id="txt-site-identifier" name="siteidentifier" class="form-control system-settings-startup-page-fields db-fields" placeholder="[[[Site Identifier]]]" />
                <span class="startup-validation validation-txt-errors"></span>
            </div>
            <div class="report-content " style="padding-top: 28px;">
                <div>[[[The site identifier should be unique, and it is part of your site URL.]]]</div>
                <div class="site-info-part">
                    <span class="report-content">[[[i.e ]]]</span>
                    <span id="site-full-url" class="report-content site-full-url" data-toggle="popover" data-html="true" data-placement="top" data-container="body" data-content="">
                        <span class="site-base-url">@(GlobalAppSettings.Branding == AppBranding.BoldBI.Identifier ? boldBIUrl : boldReportsUrl)</span>
                        <span id="site-default-text" class="site-default-text"></span>
                    </span>
                </div>
            </div>
        </form>
        <div class="btn-holder center-align button-alignment">
            <button type="button" id="tenant-config-submit" class="proceed-button">[[[Next]]]</button>
        </div>
    </div>
</div>