@{ 
    var passwordRules = "<ul class='text-body' id='password_policy_rules'><li id='p_policy_length'><span class = 'icon'></span><span class='content'>[[[6 characters]]]</span></li><li id='p_policy_uppercase'><span class = 'icon'></span><span class='content'>[[[1 uppercase letter]]]</span></li><li id='p_policy_lowercase'><span class = 'icon'></span><span class='content'>[[[1 lowercase letter]]]</span></li><li id='p_policy_number'><span class = 'icon'></span><span class='content'>[[[1 number]]]</span></li><li id='p_policy_specialcharacter'><span class = 'icon'></span><span class='content'>[[[1 special character]]]</span></li></ul>";
    var displayName = GlobalAppSettings.BrandingDisplayName;
}

    <script>
        var displayName = "@displayName";
    </script>
<div class="col-md-12 system-settings-page-container " id="system-settings-user-account-container" >
    <form id="admin-account-fields-container" class="admin-account-fields-container" autocomplete="off" >
        <input type="hidden" id="tenant-password-policy" data-policy-uppercase="True" data-policy-lowercase="True" data-policy-number="True" data-policy-specialcharacter="True" data-policy-partofusername="True" data-policy-minimumlength="6" />
        <input type="hidden" id="user-details" data-username="" data-email="" data-displayname="" />
        <div class="form-div form-group input-alignment form-group-top">
            <input type="text" tabindex="1" id="txt-firstname" name="firstname" class="" placeholder="[[[First name]]]" maxlength="254" />
            <span class="startup-validation txt-firstname validation-txt-errors"></span>
        </div>
        <div class="form-div form-group input-alignment">
            <input type="text" tabindex="2" id="txt-lastname" class="" placeholder="[[[Last name]]]" name="lastname" maxlength="254" />
            <span class="startup-validation validation-txt-errors"></span>
        </div>
        <div class="form-div form-group input-alignment">
            <input type="text" tabindex="3" id="txt-username" class="" placeholder="[[[Username]]]" name="username" autocomplete="off" maxlength="254" />
            <span class="startup-validation txt-username validation-txt-errors"></span>
            <div class="dropdown-menu mail-description" role="menu">
                <div class="username-content">
                    <div class="check-div">*</div><div id="username-detail">[[[Please enter a valid Username.]]]</div>
                </div>
            </div>
        </div>
        <div class="form-div form-group input-alignment admin-form-email">
            <input type="text" tabindex="4" id="txt-emailid" class="" placeholder="[[[Email address]]]" name="email" autocomplete="off" maxlength="254" />
            <span class="startup-validation txt-emailid validation-txt-errors"></span>
            <div class="dropdown-menu mail-description" role="menu">
                <div class="mail-contain">
                    <div class="check-div">*</div><div id="mail-detail">[[[Please enter a valid email address.]]]</div>
                </div>
            </div>
        </div>
        <div class="form-div form-group input-alignment">
            <input type="text" class="display-none">
            <input type="password" class="fake-password" name="fake_passwordfield_to_turnoff_autocomplete">
            <input type="password" tabindex="5" id="new-password" class="" placeholder="[[[Password]]]" name="password" autocomplete="off" maxlength="85" data-toggle="popover" data-title="[[[Password must contain:]]]" data-trigger="focus" data-html="true" data-content="@passwordRules" data-placement="left" />
            <span class="su su-show show-hide-password show-hide-password-ej2" data-toggle="tooltip" data-original-title="[[[Click to view]]]"></span>
            <div class="startup-validation validation-txt-errors" id="new-password"></div>
        </div>

        <div id="confirm-password-section" class="form-div form-group input-alignment">
            <input type="text" class="display-none">
            <input type="password" tabindex="6" id="txt-confirm-password" class="" placeholder="[[[Confirm password]]]" name="confirm" autocomplete="off" maxlength="85" />
            <span class="su su-show show-hide-password show-hide-password-ej2" data-toggle="tooltip" data-original-title="[[[Click to view]]]"></span>
            <div class="startup-validation validation-txt-errors" id="confirm-password"></div>
        </div>
        <div class="btn-holder" id="admin-account-submit-container">
            <button type="button"  tabindex="7" id="user-account-proceed" class="proceed-button">[[[Next]]]</button>
        </div>
    </form>
</div>


