@import "../../core/_typography.scss";
@import "../../core/_variables.scss";
@import "../../themes/_light.scss";
@import "../../mixins/_border-radius.scss";

#embed-settings-container {
    .embed-settings-header {
        .header-text {
            font-size: map-get($app-text-size, md);
        }
    }

    #embed-settings-body {
        padding-bottom: 5px;

        .embed-authentication {
            margin-bottom: 30px;
        }

        .embed-enabled {
            margin-left: 12px;
        }

        .text-left {
            margin-right: 36px;
        }

        .secret-code-container {
            padding: 0;
        }

        .secret-code-notification {
            border-radius: 4px;
            display: none;
            font-size: map-get($app-text-size, md) + 1;
            margin-left: 14px;
            margin-top: 20px;
            padding: 5px 10px;
            width: 67%;
        }

        #secret-code-link {
            display: flex;

            #secret-code {
                border-radius: 4px 0 0 4px;
                box-shadow: none;
                display: inline-block;
                font-size: map-get($app-text-size, md);
                float: left;
                height: 28px;
                overflow: hidden;
                resize: none;
                width: 80%;
            }

            #secret-code-copy {
                border-radius: 0 4px 4px 0;
                box-shadow: none;
                border-left: none;
                cursor: pointer;
                display: inline-block;
                float: left;
                font-size: map-get($app-text-size, md);
                height: 28px;
                padding-left: 16px;
                padding-top: 7px;
                width: 45px;
            }

            #secret-code-copy.focusdiv {
                box-shadow: 0 0 2px 0 $primary;
                -moz-box-shadow: 0 0 2px 0 $primary;
                -webkit-box-shadow: 0 0 2px 0 $primary;
                border-top: 1px solid $primary;
                border-right: 1px solid $primary;
                border-bottom: 1px solid $primary;
            }
        }

        button {
            height: 28px;
            line-height: 26px;
            width: 120px;
        }

        .import-file {
            margin-bottom: 30px;

            .disabled {
                background-color: $button-disabled-color !important;
                border: 1px solid $separator-color !important;
            }

            .form-control, #filename {
                border-radius: 0px;
                border: 1px solid $separator-color;
                background-color: $admin-page-bg;
                box-shadow: none;
                height: 28px;
                width: 82%;
            }

            .input-group-addon {
                background-color: $admin-page-bg;
                border: 1px solid $separator-color;
                height: 28px;
                line-height: 1;
                padding: 1px 1px 7px 1px;
                width: 45px;
            }

            input.upload-btn {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
                width: 0;
            }

            #import-validation-msg {
                color: $danger;
                cursor: pointer;
                float: left;
                position: absolute;
                margin-top: 15px;
            }

            .primary-button {
                height: 28px;
                line-height: 26px;
                width: 120px;
                margin-left: 6px;
            }
        }

        .download-template {
            color: $primary;
            position: absolute;
        }
    }

    .tool-tip {
        display: inline;
        float: none;
        padding: 0px;
    }

    .app-textbox-label {
        margin-left: 20px;
    }

    #embed-enabled-loader-icon {
        position: absolute;
        top: -18px;
        left: 60px !important;
    }

    #embed-info {
        cursor: pointer;
        margin-left: 5px;
    }
}

#messageBox {
    letter-spacing: 0.3px;

    .message-content.messagebox-align {
        padding: 5px 0;
    }
}

#messageBox_wrapper {
    .message-box-btn-holder {
        background: $admin-container-bg;
    }

    .critical-action-button, .primary-button, .secondary-button {
        height: 28px;
        margin-left: 15px;
        line-height: 28px;
        width: 80px;
    }

    .message-box-close {
        font-size: map-get($app-text-size, sm) - 1;

        &:hover {
            color: $icon-hover-color;
        }
    }
}
