#embed-settings-container .embed-settings-header .header-text {
  font-size: 14px; }

#embed-settings-container #embed-settings-body {
  padding-bottom: 5px; }
  #embed-settings-container #embed-settings-body .embed-authentication {
    margin-bottom: 30px; }
  #embed-settings-container #embed-settings-body .embed-enabled {
    margin-left: 12px; }
  #embed-settings-container #embed-settings-body .text-left {
    margin-right: 36px; }
  #embed-settings-container #embed-settings-body .secret-code-container {
    padding: 0; }
  #embed-settings-container #embed-settings-body .secret-code-notification {
    border-radius: 4px;
    display: none;
    font-size: 15px;
    margin-left: 14px;
    margin-top: 20px;
    padding: 5px 10px;
    width: 67%; }
  #embed-settings-container #embed-settings-body #secret-code-link {
    display: flex; }
    #embed-settings-container #embed-settings-body #secret-code-link #secret-code {
      border-radius: 4px 0 0 4px;
      box-shadow: none;
      display: inline-block;
      font-size: 14px;
      float: left;
      height: 28px;
      overflow: hidden;
      resize: none;
      width: 80%; }
    #embed-settings-container #embed-settings-body #secret-code-link #secret-code-copy {
      border-radius: 0 4px 4px 0;
      box-shadow: none;
      border-left: none;
      cursor: pointer;
      display: inline-block;
      float: left;
      font-size: 14px;
      height: 28px;
      padding-left: 16px;
      padding-top: 7px;
      width: 45px; }
    #embed-settings-container #embed-settings-body #secret-code-link #secret-code-copy.focusdiv {
      box-shadow: 0 0 2px 0 #0565ff;
      -moz-box-shadow: 0 0 2px 0 #0565ff;
      -webkit-box-shadow: 0 0 2px 0 #0565ff;
      border-top: 1px solid #0565ff;
      border-right: 1px solid #0565ff;
      border-bottom: 1px solid #0565ff; }
  #embed-settings-container #embed-settings-body button {
    height: 28px;
    line-height: 26px;
    width: 120px; }
  #embed-settings-container #embed-settings-body .import-file {
    margin-bottom: 30px; }
    #embed-settings-container #embed-settings-body .import-file .disabled {
      background-color: #eeeeee !important;
      border: 1px solid #cccccc !important; }
    #embed-settings-container #embed-settings-body .import-file .form-control, #embed-settings-container #embed-settings-body .import-file #filename {
      border-radius: 0px;
      border: 1px solid #cccccc;
      background-color: #fff;
      box-shadow: none;
      height: 28px;
      width: 82%; }
    #embed-settings-container #embed-settings-body .import-file .input-group-addon {
      background-color: #fff;
      border: 1px solid #cccccc;
      height: 28px;
      line-height: 1;
      padding: 1px 1px 7px 1px;
      width: 45px; }
    #embed-settings-container #embed-settings-body .import-file input.upload-btn {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
      width: 0; }
    #embed-settings-container #embed-settings-body .import-file #import-validation-msg {
      color: #ff3b30;
      cursor: pointer;
      float: left;
      position: absolute;
      margin-top: 15px; }
    #embed-settings-container #embed-settings-body .import-file .primary-button {
      height: 28px;
      line-height: 26px;
      width: 120px;
      margin-left: 6px; }
  #embed-settings-container #embed-settings-body .download-template {
    color: #0565ff;
    position: absolute; }

#embed-settings-container .tool-tip {
  display: inline;
  float: none;
  padding: 0px; }

#embed-settings-container .app-textbox-label {
  margin-left: 20px; }

#embed-settings-container #embed-enabled-loader-icon {
  position: absolute;
  top: -18px;
  left: 60px !important; }

#embed-settings-container #embed-info {
  cursor: pointer;
  margin-left: 5px; }

#messageBox {
  letter-spacing: 0.3px; }
  #messageBox .message-content.messagebox-align {
    padding: 5px 0; }

#messageBox_wrapper .message-box-btn-holder {
  background: #f9f9f9; }

#messageBox_wrapper .critical-action-button, #messageBox_wrapper .primary-button, #messageBox_wrapper .secondary-button {
  height: 28px;
  margin-left: 15px;
  line-height: 28px;
  width: 80px; }

#messageBox_wrapper .message-box-close {
  font-size: 11px; }
  #messageBox_wrapper .message-box-close:hover {
    color: #1a1a1a; }
