@{
    var globalAppSettings = _globalAppSettings;
    var isMobile = new DeviceDetection(Context).IsMobile;
    ViewBag.Title = globalAppSettings.SystemSettings.OrganizationName + " - [[[Files]]]";
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}

@model List<ItemDetail>

@section styles{
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/files-page.css" />
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/files-page.min.css" />
    </environment>
}
@section scripts{
    <script>
        var editFilePopupUrl = "@Url.Action("getfiledetails", "files")";
        var getLinkDialogViewUrl = "@Url.Action("GetLinkView", "items")";
    </script>
    @if (isMobile)
    {
        <environment include="Development,CloudDevelopment">
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/files-page.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/files-page.min.js"></script>
        </environment>
    }
    else
    {
        <environment include="Development,CloudDevelopment">
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/files-page-mobile.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/files-page-mobile.min.js"></script>
        </environment>

    }
}

@section MainSection{
    <div id="item-grid-container" data-grid-name="files" class="admin-page-container">
        <input type="hidden" class="page-name" data-content="[[[FILES]]]">
        @if (!isMobile)
        {
            <div class="import-area admin-page-header">
                <h2 class="page-title">[[[FILES]]]</h2>
            </div>
            <div class="admin-page-body">
                <div id="search-area" class="pull-right">
                    <input type="text" id="search-items" class="pull-left no-margin" placeholder="[[[Search files]]]" />
                    <span class="su close-icon su-inner-close pull-left no-margin clear-search" id="clear-search" data-toggle="tooltip" data-placement="left" title="[[[Clear search]]]"></span>
                    <span class="su su-search search-item pull-left no-margin" data-toggle="tooltip" data-placement="left" title="[[[Search files]]]"></span>
                </div>

                <div class="grid-container grid">
                    @await Html.PartialAsync("../Items/_ItemsGrid", new ViewDataDictionary(ViewData) { { "gridName", "files" } })
                </div>
            </div>
        }
        else
        {
            <div class="grid-container grid">
                @await Html.PartialAsync("../Items/_ItemsGridForMobile", new ViewDataDictionary(ViewData) { { "gridName", "files" } })
            </div>
        }
    </div>
    <div id="edit-files-popup" style="display:none">
        <iframe id="edit-files-popup-iframe" class="file-popup-frame"></iframe>
    </div>
    <div id="popup-container" style="display:none" class="no-padding">
        <iframe id="scheduler-popup-iframe" class="file-popup-frame"></iframe>
    </div>
    @if (!isMobile)
    {
        @await Html.PartialAsync("../Items/_AddItems")
        @await Html.PartialAsync("../Items/_ItemVersion")
    }
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
}