@{
    var passwordRules = "<ul class='text-body' id='password_policy_rules'><li id='p_policy_length'><span class = 'icon'></span><span class='content'>6 characters</span></li><li id='p_policy_uppercase'><span class = 'icon'></span><span class='content'>1 Uppercase letter</span></li><li id='p_policy_lowercase'><span class = 'icon'></span><span class='content'>1 Lowercase letter</span></li><li id='p_policy_number'><span class = 'icon'></span><span class='content'>1 Number</span></li><li id='p_policy_specialcharacter'><span class = 'icon'></span><span class='content'>1 Special character</span></li></ul>";
}
<div id="verify-account-container" class="display-none">
    <h4>Verify and setup account!</h4>
    <p id="verify-account-header">We’ve sent a 6-digit confirmation code to <b class="user-email"></b></p>
    <div id="verification-code-field">
        <input type="text" maxlength="6" tabindex="1" id="verification-code" class="form-control" placeholder="Enter the 6-digit code here" name="verification-code" autocomplete="off" />
        <span class="su-boldsign-valid-tick verification-complete display-none"></span>
        <div id="verifiation-error"></div>
        <div id="code-expiry-info" class="display-none">Code expires in 2 days.</div>
    </div>
    <div id="resend-field">Didn't receive the email?  <span id="resend-code">Resend Code</span></div>
    <div id="create-and-continue-field" class="display-none">
        <div id="create-password-field">
            <input required name="password" type="password" id="create-password" placeholder="Create Password*" class="change-password-form" maxlength="85" data-toggle="popover" data-title="Password must contain:" data-trigger="focus" data-html="true" data-content="@passwordRules">
            <span class="su su-boldsign-show boldsign-show-hide-password special-char"></span>
            <span class="su-boldsign-password-info password-complete"></span>
            <span class="validation-holder"></span>
        </div>
        <div id="button-container">
            <button disabled id="continue-account-verification" class="sf-button sf-primary-button">Continue</button>
        </div>
    </div>
    <div id="new-user-login-field">
        You’re currently creating an account as <span class="user-email"></span>. If you don’t want to set up a new account with this email address, you can <span id="cancel-and-create" tabindex="9">sign up with another email address.</span>
    </div>
</div>
