@charset "UTF-8";
@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

html,
body {
  height: 100%; }

body {
  margin: 0px;
  min-height: 100%;
  padding: 0px; }

input::-ms-clear,
input::-ms-reveal {
  display: none !important; }

.check::after {
  background-color: var(--colorPrimary);
  border: 1.5px solid var(--surface);
  height: 16px;
  margin-bottom: 2px;
  margin-top: 2px;
  top: 0px;
  width: 16px;
  z-index: 0; }

.material-checkbox + input + label {
  cursor: pointer;
  display: inline-block;
  height: 25px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.26px;
  margin: 0;
  padding: 6px 7px 0 24px !important;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .material-checkbox + input + label::after {
    border-radius: 2px; }
  .material-checkbox + input + label::before, .material-checkbox + input + label::after {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
    width: 11px;
    height: 8px; }

.material-checkbox:not(:checked) + input + label::before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px; }

.material-checkbox:not(:checked) + input + label::after {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid #b3b3b3;
  top: 0px;
  z-index: 1;
  margin-top: 7px;
  margin-bottom: 2px; }

.material-checkbox:checked + input + label::before {
  bottom: 11.2px;
  color: #fff;
  content: "";
  font-family: "Server";
  left: 1px;
  font-size: 14px;
  font-weight: bold; }

.material-checkbox:checked + input + label::after {
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--colorPrimary);
  background-color: var(--colorPrimary);
  z-index: 0;
  margin-top: 7px;
  margin-bottom: 2px; }

.material-checkbox:disabled + input + label::after {
  background-color: #f2f2f2;
  border: 1px solid #cccccc; }

.material-checkbox:disabled + input + label::before {
  color: #b3b3b3; }

.material-checkbox:not(:checked):disabled + input + label::after {
  background-color: #f2f2f2;
  border: 1px solid #cccccc; }

.material-checkbox:not(:checked), .material-checkbox:checked {
  position: absolute;
  left: -9999px;
  opacity: 0; }

.material-checkbox:checked + input + label::before {
  bottom: 10px !important;
  left: 1px; }

.material-checkbox + input + label {
  padding-top: 6px !important; }

ul#password_policy_rules {
  font-size: 12px;
  position: absolute;
  text-align: left; }

.placeholder {
  color: #b3b3b3;
  line-height: 1.4;
  margin-top: -32px;
  padding: 6px 12px;
  position: absolute;
  text-align: left;
  width: 240px; }

*:focus {
  outline: none !important; }

body {
  background-color: #333333;
  display: table;
  font-family: var(--font-family);
  font-size: 14px;
  height: 100%;
  vertical-align: middle;
  width: 100%; }
  body .login-master {
    background-color: #333333;
    display: table;
    height: 100%;
    left: 0px;
    position: absolute;
    width: 100%; }
    body .login-master .login-main {
      display: table-cell;
      height: 100%;
      transition: all linear 0.5s;
      transition-duration: 2s;
      transition-property: padding;
      vertical-align: middle;
      width: 100%;
      transition-property: padding;
      transition-duration: 2s;
      transition: all linear 0.5s; }
      body .login-master .login-main .password-container .login-inner-container {
        width: 340px !important; }
      body .login-master .login-main .login-container {
        background-color: var(--colorOnPrimary);
        border-radius: 5px;
        margin: 0 auto;
        transition-property: height;
        transition-duration: 2s;
        transition: all linear 0.5s; }
        body .login-master .login-main .login-container .or-line-desktop {
          margin-left: 4%;
          margin-top: 6%; }
        body .login-master .login-main .login-container .or-line-mobile {
          margin-top: 5%;
          width: 100%; }
        body .login-master .login-main .login-container #alternative-login {
          margin-top: 4%; }
          body .login-master .login-main .login-container #alternative-login .active-directory-login i, body .login-master .login-main .login-container #alternative-login .active-directory-login img {
            font-size: 20px;
            padding-left: 3px;
            margin: 0 auto; }
          body .login-master .login-main .login-container #alternative-login .active-directory-login span {
            display: block;
            float: left;
            line-height: 21px;
            padding-left: 6px; }
          body .login-master .login-main .login-container #alternative-login .button-style {
            padding: 8px;
            width: 200px;
            margin-top: 15px; }
            body .login-master .login-main .login-container #alternative-login .button-style .inner {
              height: 100%;
              display: table; }
          body .login-master .login-main .login-container #alternative-login .link-button {
            background-color: var(--surface);
            border: 1px solid #cccccc;
            border-radius: 2px; }
            body .login-master .login-main .login-container #alternative-login .link-button:hover {
              background-color: #f9f9f9; }
        body .login-master .login-main .login-container .login-inner-container.no-float {
          float: none; }
        body .login-master .login-main .login-container .login-inner-container {
          margin: auto;
          position: relative;
          width: 360px;
          transition-property: height;
          transition-duration: 2s;
          transition: all linear 0.5s;
          transition-duration: 2s;
          transition-property: height;
          width: 100%; }
          body .login-master .login-main .login-container .login-inner-container .login-logo {
            display: table;
            height: 100px;
            margin: 0px auto 0px;
            padding-bottom: 8px;
            text-align: center;
            width: 220px; }
            body .login-master .login-main .login-container .login-inner-container .login-logo div {
              display: table-cell;
              vertical-align: middle; }
          body .login-master .login-main .login-container .login-inner-container .upper-divider {
            height: 2px;
            left: 8px;
            width: 300px; }
          body .login-master .login-main .login-container .login-inner-container .org-name {
            font-size: 18px;
            margin-top: 10px;
            text-align: center;
            width: 100%; }
          body .login-master .login-main .login-container .login-inner-container .user-validation {
            color: var(--danger);
            font-size: 12px;
            margin-top: 10px; }
          body .login-master .login-main .login-container .login-inner-container .float-center {
            font-size: 18px;
            margin: -30px 0px -10px;
            margin-top: 10px;
            text-align: center;
            width: 100%; }
          body .login-master .login-main .login-container .login-inner-container .login-form .text-margin {
            margin: 30px 0px; }
          body .login-master .login-main .login-container .login-inner-container .login-form #key-input {
            height: 32px; }
          body .login-master .login-main .login-container .login-inner-container .login-form #message {
            color: var(--danger);
            display: block;
            margin-bottom: -5px;
            margin-top: 5px;
            width: 100%; }
            body .login-master .login-main .login-container .login-inner-container .login-form #message .pwd-success {
              color: var(--success); }
          body .login-master .login-main .login-container .login-inner-container .login-form .login-fields {
            clear: both;
            margin-left: 10px;
            margin-right: 10px; }
            body .login-master .login-main .login-container .login-inner-container .login-form .login-fields label {
              cursor: pointer;
              font-weight: inherit; }
            body .login-master .login-main .login-container .login-inner-container .login-form .login-fields #drop-down {
              margin-top: 20px;
              width: 100%; }
              body .login-master .login-main .login-container .login-inner-container .login-form .login-fields #drop-down .login-auth {
                background-color: transparent;
                border-color: #cccccc;
                color: black;
                height: 32px;
                padding-right: 100px;
                width: 100%; }
              body .login-master .login-main .login-container .login-inner-container .login-form .login-fields #drop-down #dropdown-icon {
                float: right;
                margin-top: 5px;
                position: absolute;
                right: 10px;
                top: 9px; }
              body .login-master .login-main .login-container .login-inner-container .login-form .login-fields #drop-down #dropdown-ul {
                width: 100%; }
              body .login-master .login-main .login-container .login-inner-container .login-form .login-fields #drop-down .dropdown-menu li a {
                padding: 3px 12px; }
            body .login-master .login-main .login-container .login-inner-container .login-form .login-fields #password-field {
              position: relative; }
            body .login-master .login-main .login-container .login-inner-container .login-form .login-fields #login-username {
              height: 32px;
              margin-top: 20px; }
            body .login-master .login-main .login-container .login-inner-container .login-form .login-fields #error-username {
              color: var(--danger);
              left: 1px;
              padding: 0px; }
            body .login-master .login-main .login-container .login-inner-container .login-form .login-fields #login-password {
              margin-top: 15px;
              height: 32px;
              margin-top: 20px; }
            body .login-master .login-main .login-container .login-inner-container .login-form .login-fields #error-password {
              color: var(--danger);
              left: 1px;
              padding: 0px; }
            body .login-master .login-main .login-container .login-inner-container .login-form .login-fields .login-options {
              line-height: 20px;
              margin-top: 10px; }
              body .login-master .login-main .login-container .login-inner-container .login-form .login-fields .login-options .disable-text-select {
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;
                user-select: none; }
              body .login-master .login-main .login-container .login-inner-container .login-form .login-fields .login-options .forgot-pwd-link {
                color: var(--colorPrimary);
                float: right;
                margin-top: -20px; }
                body .login-master .login-main .login-container .login-inner-container .login-form .login-fields .login-options .forgot-pwd-link:hover {
                  color: #007aff;
                  text-decoration: none; }
              body .login-master .login-main .login-container .login-inner-container .login-form .login-fields .login-options .forgot-button {
                background-color: transparent; }
            body .login-master .login-main .login-container .login-inner-container .login-form .login-fields .login-button {
              background-color: var(--colorPrimary);
              position: relative;
              width: 80%;
              height: 36px;
              border: none;
              box-shadow: 2px 6px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 5px 0 rgba(0, 0, 0, 0.12), 0 4px 2px 0px rgba(0, 0, 0, 0.2); }
            body .login-master .login-main .login-container .login-inner-container .login-form .login-fields .login-button-windows {
              background-color: var(--colorPrimary);
              border: 0px;
              border-radius: 50%;
              height: 65px;
              left: 38%;
              position: relative;
              top: 35px;
              width: 80%;
              height: 36px;
              border: none;
              box-shadow: 2px 6px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 5px 0 rgba(0, 0, 0, 0.12), 0 4px 2px 0px rgba(0, 0, 0, 0.2); }
            body .login-master .login-main .login-container .login-inner-container .login-form .login-fields .login-icon {
              color: var(--surface);
              font-size: 14px;
              margin-top: 25px;
              margin-bottom: -5px; }
            body .login-master .login-main .login-container .login-inner-container .login-form .login-fields .login-style {
              color: var(--surface);
              font-size: 14px; }
          body .login-master .login-main .login-container .login-inner-container .login-form .special-char-msg {
            float: left;
            left: 20px;
            padding: 0px; }
          body .login-master .login-main .login-container .login-inner-container .login-form .special-char-msg-login {
            left: 2px;
            padding: 0px;
            position: relative; }
          body .login-master .login-main .login-container .login-inner-container .login-form #username-validation {
            float: left;
            padding: 0px;
            width: 90%; }
          body .login-master .login-main .login-container .login-inner-container .login-form .submit-button {
            background-color: var(--colorPrimary);
            border: 0px;
            border-radius: 50%;
            height: 65px;
            left: 39%;
            position: relative;
            top: 25px;
            left: 38%;
            width: 65px; }
          body .login-master .login-main .login-container .login-inner-container .login-form .submit-icon {
            color: var(--surface);
            font-size: 25px; }
          body .login-master .login-main .login-container .login-inner-container #forgot-password-form {
            margin-bottom: -40px; }
          body .login-master .login-main .login-container .login-inner-container .lower-divider-login {
            height: 2px;
            margin-left: -20px;
            width: 350px; }
          body .login-master .login-main .login-container .login-inner-container .external-login {
            position: relative;
            top: 100px; }
          body .login-master .login-main .login-container .login-inner-container .active-directory-login {
            background-color: #333333;
            width: 100%;
            color: #808080; }
            body .login-master .login-main .login-container .login-inner-container .active-directory-login #windows-login {
              margin-top: 20px;
              margin-left: 24%;
              color: var(--surface);
              text-decoration: none; }
              body .login-master .login-main .login-container .login-inner-container .active-directory-login #windows-login:hover {
                background-color: var(--surface);
                color: #333333;
                border-radius: 5px; }
              body .login-master .login-main .login-container .login-inner-container .active-directory-login #windows-login .su-ms-adfs {
                margin-right: 10px; }
          body .login-master .login-main .login-container .login-inner-container #email-settings-msg {
            font-size: 14px;
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: center; }
          body .login-master .login-main .login-container .login-inner-container .lower-divider {
            height: 3px;
            position: relative;
            top: 70px;
            width: 100%; }
          body .login-master .login-main .login-container .login-inner-container .forgot-password-caption {
            color: #808080;
            left: 40px;
            position: relative;
            top: 85px;
            color: #808080; }
            body .login-master .login-main .login-container .login-inner-container .forgot-password-caption a {
              color: var(--colorPrimary); }
          body .login-master .login-main .login-container .login-inner-container .success-box {
            border: 2px solid var(--success);
            color: var(--success);
            margin-bottom: 20px;
            padding: 10px;
            position: relative;
            top: 20px; }
            body .login-master .login-main .login-container .login-inner-container .success-box p {
              margin-top: 10px; }
            body .login-master .login-main .login-container .login-inner-container .success-box .success-icon {
              background-color: var(--success);
              border-radius: 50%;
              height: 30px;
              left: 45%;
              margin-bottom: 10px;
              position: relative;
              width: 30px; }
              body .login-master .login-main .login-container .login-inner-container .success-box .success-icon .succes-tick {
                color: var(--surface);
                left: 8px;
                position: relative;
                top: 7px; }
          body .login-master .login-main .login-container .login-inner-container .align-center {
            text-align: center; }
            body .login-master .login-main .login-container .login-inner-container .align-center a {
              color: var(--success); }
              body .login-master .login-main .login-container .login-inner-container .align-center a:hover {
                color: var(--success); }
          body .login-master .login-main .login-container .login-inner-container .alert-danger {
            background-color: transparent;
            margin-top: 20px;
            width: 100%; }
          body .login-master .login-main .login-container .login-inner-container .form-area {
            margin-top: 30px; }
            body .login-master .login-main .login-container .login-inner-container .form-area #new-password,
            body .login-master .login-main .login-container .login-inner-container .form-area #confirm-password {
              height: 32px; }
            body .login-master .login-main .login-container .login-inner-container .form-area .password-form-holder {
              margin-bottom: 25px;
              margin-top: -5px;
              padding: 0px; }
              body .login-master .login-main .login-container .login-inner-container .form-area .password-form-holder div .show-hide-password {
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 9px; }
              body .login-master .login-main .login-container .login-inner-container .form-area .password-form-holder div .su-error {
                color: var(--danger);
                cursor: pointer;
                display: none;
                position: absolute;
                right: 30px;
                top: 10px; }
              body .login-master .login-main .login-container .login-inner-container .form-area .password-form-holder div .dropdown-password-validation {
                margin-top: 33px;
                min-width: 270px;
                position: absolute;
                top: 0%; }
              body .login-master .login-main .login-container .login-inner-container .form-area .password-form-holder div #password-description {
                padding-left: 10px;
                width: 295px; }
              body .login-master .login-main .login-container .login-inner-container .form-area .password-form-holder div .password-content {
                padding-left: 7px;
                width: 295px; }
              body .login-master .login-main .login-container .login-inner-container .form-area .password-form-holder div .checkdiv {
                float: left;
                position: relative;
                width: 0px; }
            body .login-master .login-main .login-container .login-inner-container .form-area .update-button {
              background-color: var(--colorPrimary);
              border: 0px;
              border-radius: 50%;
              height: 65px;
              left: 40%;
              margin-top: -50px;
              position: relative;
              top: 50px;
              width: 65px; }
              body .login-master .login-main .login-container .login-inner-container .form-area .update-button .update-text {
                color: var(--surface);
                font-size: 25px; }
          body .login-master .login-main .login-container .login-inner-container .org-name-cp {
            font-size: 23px;
            margin-left: 5px;
            margin-top: 10px;
            text-align: center;
            width: 100%; }
          body .login-master .login-main .login-container .login-inner-container .account-succes {
            margin-top: -40px; }
          body .login-master .login-main .login-container .login-inner-container .account-act-title {
            font-size: 20px;
            margin-top: 10px;
            text-align: center;
            width: 100%; }
          body .login-master .login-main .login-container .login-inner-container .account-activation-title {
            display: none;
            margin-top: 25px;
            text-align: center; }
        body .login-master .login-main .login-container .inner-table {
          display: table; }
      body .login-master .login-main .error-message {
        margin-top: 15px;
        width: 100%;
        text-align: center;
        display: none; }
        body .login-master .login-main .error-message span {
          font-weight: bold;
          padding: 6px; }
      body .login-master .login-main .invalid-msgs {
        margin-bottom: 40px; }
      body .login-master .login-main .login-password-show {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 9px; }
      body .login-master .login-main .special-char-msg-login,
      body .login-master .login-main #error-username,
      body .login-master .login-main #error-password {
        color: var(--danger);
        font-size: 12px; }
      body .login-master .login-main .validation-holder {
        color: var(--danger);
        font-size: 12px;
        display: block;
        height: 11px; }
      body .login-master .login-main #access-denied {
        display: none;
        margin-top: 2px; }
      body .login-master .login-main #login-button[disabled],
      body .login-master .login-main #save-activate[disabled],
      body .login-master .login-main #submit-button[disabled],
      body .login-master .login-main #update-button[disabled],
      body .login-master .login-main #login-button[disabled]:hover,
      body .login-master .login-main #save-activate[disabled]:hover,
      body .login-master .login-main #submit-button[disabled]:hover,
      body .login-master .login-main #update-button[disabled]:hover {
        background-color: #f2f2f2 !important;
        color: #eeeeee !important; }
      body .login-master .login-main #login-button:hover,
      body .login-master .login-main #login-button-windows:hover,
      body .login-master .login-main #save-activate:hover,
      body .login-master .login-main #submit-button:hover,
      body .login-master .login-main #update-button:hover {
        background-color: #007aff; }
      body .login-master .login-main .link-hover:hover {
        color: #007aff;
        text-decoration: none; }

@media (min-width: 1280px) {
  body .login-master .login-main .login-container .login-inner-container .login-form .login-fields .login-button {
    width: 80% !important; }
  body .login-master .login-main .login-container #alternative-login {
    margin-top: 110px !important; } }

@media (max-width: 400px) {
  .login-container .org-name {
    font-size: 17px !important; }
  .login-container .float-center {
    font-size: 14px !important; }
  .login-container .login-inner-container .org-name-cp {
    font-size: 17px !important; }
  .login-container #password_policy_rules {
    right: 38% !important; } }

@media (max-width: 366px) {
  #copyrightinfo {
    font-size: 9px !important; } }

@media (max-width: 423px) {
  #copyrightinfo {
    font-size: 10px !important; } }

@media (max-width: 1024px) {
  #error-password {
    top: 76px !important; } }

@media (max-width: 1199px) {
  #email-settings-msg {
    margin-bottom: 60px !important; } }

@media (max-width: 1400px) {
  .placeholder {
    margin-top: -28px !important; }
  body {
    font-size: 12px; }
    body h5,
    body .dropdown-menu,
    body .btn,
    body .form-control {
      font-size: 12px; }
    body .special-char-msg-login, body .validation-holder, body #error-username, body #error-password {
      font-size: 10px !important; }
    body .login-master .login-main .login-container .login-inner-container .upper-divider {
      width: 90% !important; }
    body .login-master .login-main .login-container .login-inner-container .org-name {
      font-size: 16px !important; }
    body .login-master .login-main .login-container .login-inner-container .account-act-title {
      font-size: 15px !important; }
    body .login-master .login-main .login-container .login-inner-container .float-center {
      font-size: 14px !important; }
    body .login-master .login-main .login-container .login-inner-container .org-name-cp {
      font-size: 16px !important; }
    body .login-master .login-main .login-container .login-inner-container #password_policy_rules {
      right: -1% !important; }
    body .login-master .login-main .login-container .login-inner-container .login-form .login-fields #drop-down .login-auth {
      height: 28px; }
    body .login-master .login-main .login-container .login-inner-container .login-form .login-fields #login-username,
    body .login-master .login-main .login-container .login-inner-container .login-form .login-fields #login-password {
      height: 28px; }
    body .login-master .login-main .login-container .login-inner-container .login-form #key-input {
      height: 28px; }
    body .login-master .login-main .login-container .login-inner-container .login-form .submit-button {
      left: 35%; }
    body .login-master .login-main .login-container .login-inner-container .login-form .login-button {
      width: 100% !important; }
    body .login-master .login-main .login-container .login-inner-container .login-form .login-button-windows {
      width: 100% !important; }
    body .login-master .login-main .login-container .login-inner-container #windows-login {
      margin-left: 120px !important; }
    body .login-master .login-main .login-container .login-inner-container #email-settings-msg {
      font-size: 12px; }
    body .login-master .login-main .login-container .login-inner-container .form-area #new-password,
    body .login-master .login-main .login-container .login-inner-container .form-area #confirm-password {
      height: 28px; }
    body .login-master .login-main .login-container .login-inner-container .form-area .update-button {
      height: 55px !important;
      width: 55px !important; } }

/*Styles common form desktop view*/
@media (min-width: 1280px) {
  body .login-main .password-container {
    width: 360px !important;
    margin-top: 25px !important; }
  body .login-main .login-container {
    width: 700px !important;
    padding: 45px; }
    body .login-main .login-container .login-inner-container {
      float: left;
      width: 320px !important; }
      body .login-main .login-container .login-inner-container .login-form .login-fields .login-button {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%; }
      body .login-main .login-container .login-inner-container .login-form .login-fields .login-button-windows {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%; }
    body .login-main .login-container #alternative-login {
      float: right; }
  body .login-main .login-container.no-external-login {
    width: 410px !important; }
  body .login-main .login-container.height-adjust {
    padding-bottom: 75px; } }

@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-color: var(--surface); }
    body .login-master {
      background-color: var(--surface);
      padding: 0 !important; }
      body .login-master .login-main {
        background-color: var(--surface);
        vertical-align: initial;
        padding: 0 !important; }
      body .login-master .login-container {
        background-color: var(--surface) !important;
        margin: 0 !important;
        width: 100% !important; }
        body .login-master .login-container .org-name {
          font-size: 17px !important; }
        body .login-master .login-container .float-center {
          font-size: 14px !important; }
        body .login-master .login-container .login-inner-container {
          width: 300px !important;
          margin-top: 25px !important; }
          body .login-master .login-container .login-inner-container .org-name-cp {
            font-size: 17px !important; }
          body .login-master .login-container .login-inner-container .lower-divider {
            top: 40px !important; }
          body .login-master .login-container .login-inner-container .forgot-password-caption {
            top: 60px !important;
            left: 15px !important; }
        body .login-master .login-container #password_policy_rules {
          right: 38% !important; } }

@media (min-width: 768px) and (max-width: 1400px) {
  body {
    background-color: #333333; }
    body .login-master {
      background-color: #333333; }
      body .login-master .login-main .login-container {
        background-color: var(--surface);
        width: 700px !important;
        padding: 45px; }
        body .login-master .login-main .login-container .login-inner-container {
          float: left;
          width: 320px !important; }
        body .login-master .login-main .login-container #alternative-login {
          float: right;
          margin-top: 110px !important; } }

@media (min-width: 480px) and (max-width: 600px) {
  body {
    background-color: var(--surface); }
    body .login-master {
      background-color: var(--surface); }
      body .login-master .login-main {
        vertical-align: initial; }
        body .login-master .login-main .login-container {
          background-color: var(--surface);
          width: 400px !important; } }

@media (min-width: 600px) and (max-width: 799px) {
  body {
    background-color: var(--surface); }
    body .login-master {
      background-color: var(--surface); }
      body .login-master .login-main {
        vertical-align: initial; }
        body .login-master .login-main .login-container {
          background-color: var(--surface);
          width: 400px !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: var(--surface); }
    body .login-master {
      background-color: var(--surface); }
      body .login-master .login-main {
        vertical-align: initial; }
        body .login-master .login-main .login-container {
          background-color: var(--surface); }
          body .login-master .login-main .login-container .login-inner-container {
            margin-top: 10%;
            float: none; }
          body .login-master .login-main .login-container #alternative-login {
            float: none;
            margin-top: 0px !important; } }

/*Styles common for all mobile devices*/
@media (min-width: 320px) and (max-width: 1200px) {
  body .login-main .login-container #alternative-login .login-width {
    text-align: center; }
  body .login-main .login-container #alternative-login .active-directory-login {
    text-align: center; } }

.active-directory-icon {
  height: 100%;
  display: table-cell;
  vertical-align: middle; }

.active-directory-content {
  float: left;
  width: 100%; }

@media (min-width: 768px) and (max-width: 1400px) {
  body .login-main .login-container.no-external-login {
    width: 410px !important; } }
