@import "../../themes/default.scss";
@import "../variables/fontsize.scss";
@import "../variables/elementsize.scss";
@import "../newthemes/elementcolor.scss";

footer {
    display: table;
    height: 50px;
    background: transparent;
    padding: 0px 30px !important;

    .footer-image, .footer-link {
        display: table-cell;
        vertical-align: middle;
    }

    .footer-image {
        padding-left: 3% !important;
    }

    .footer-link {
        text-align: right;
        font-size: 12px;
        font-weight: 600;
        color: $color-grey-footer;

        a {
            color: $color-grey-footer;
            text-decoration: none;
        }

        a:hover {
            color: $color-blue;
            text-decoration: none;
        }
    }

    .footer-link.layout {
        color: $color-grey-footer;

        a {
            color: $color-grey-footer;
        }

        a:hover {
            color: $color-blue;
        }
    }
}

*:focus {
    outline: none !important;
}

#base-footer-div {
    background-color: transparent;
    bottom: 0px;
    color: $sub-text-color;
    float: left;
    font-size: $app-large-text-size;
    font-weight: 600;
    padding: 25px 30px 10px 30px;
    position: absolute;
    width: 100%;

    footer {
        .layout-footer {
            margin-top: 10px;
            padding: 0px;

            #enablefooter {
                #footer-separator {
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 0px 10px;
                }
            }
        }

        .language-area {
            bottom: 0px;
            float: right;
            font-size: $app-large-text-size;
            margin-bottom: 5px;
            padding: 0px;
            position: relative;
            right: 0px;
            width: auto;
            bottom: 0px;
            font-size: $app-large-text-size;

            #lang_menu {
                height: 24px;
                position: relative;
                right: 0;

                #footer-separator {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }

            #dropdown-lang {
                color: $menu-icon-color;
                border: none;
                background-color: transparent;
                border-bottom: 1px solid $profile-btn-text-color;
                border-radius: 0;
                padding: 4px 20px 4px 0px;
                height: $textbox-lg-height;
                position: relative;
                top: -10px;

                .lang-overflow {
                    display: inline-block;
                    margin-top: 3px;
                    overflow: hidden;
                    text-align: left;
                    text-overflow: ellipsis;
                    width: 160px;
                }

                .su-dropdown-arrow {
                    font-size: 12px;
                    position: absolute;
                    right: 5px;
                    top: 11px;
                }
            }

            ul {
                border-radius: 0px;
                width: 190px;

                a {
                    span {
                        display: block;
                        font-size: $list-content-size;
                        overflow: hidden;
                        padding: 4px 10px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 160px;
                    }
                }
            }

            .dropdown-menu {
                background-color: $admin-page-bg;
                border-radius: 5px;
                margin-bottom: 10px;
                width: 180px;

                li {
                    a {
                        color: $login-bg;
                        padding: 3px 10px;
                    }
                }
            }
        }

        p {
            margin-bottom: 0px;

            a {
                color: inherit;
                text-decoration: none;
            }

            img {
                margin-left: 5px;
                margin-top: -7px;
            }
        }
    }

    .no-padding {
        padding: 0px;
    }

    .cookie-notification {
        position: fixed;
        height: auto;
        left: 0;
        bottom: 0;
        background: $AuthorColorOnSelect;
        z-index: 100152;
        width: 100%;
        padding: 11px;
        font-size: 13px;
        font-weight: 600;
        margin-left: $menu-width;
    }

    .copyright-poweredby {
        position: relative;
    }

    .cookie-notification + .copyright-poweredby {
        bottom: 28px;
    }

    .cookie-notification-div-mobile {
        font-size: 13px !important;
        line-height: 2.16666667em;
        margin-bottom: 5px;
    }

    .cookie-notification-row-mobile {
        color: $white;
        font-size: 13px;
        padding: 0px 40px 0px 40px;
    }

    .cookie-notification-row-not-mobile {
        color: $white;
        font-size: 13px;
        padding: 0px 50px 0px 30px;
    }

    .agreebutton-mobile {
        margin-top: 5px;
    }

    .cookie-notification-div-not-mobile {
        font-size: 13px !important;
        line-height: 1.7em;
        width: 86%;
    }

    .cookiesubs-button {
        background: $primary-btn-bg;
        color: $white;
        display: inline-block;
        font-size: 13px;
        padding: 3px 25px;
        border-radius: 4px;
        cursor: pointer;
    }

    .cookiesubs-button-span {
        font-family: var(--font-family);
        font-size: 13px;
        font-weight: bold;
    }

    .copyright-poweredby {
        position: relative;
    }

    .cookie-notification + .copyright-poweredby {
        bottom: 28px;
    }

    a.privacy-link {
        &:link, &:visited {
            color: $link-text-color;
            text-decoration: none !important;
        }

        &:hover {
            color: $link-text-color;
            text-decoration: underline !important;
        }
    }
}

@media(width:768px) {
    #base-footer-div footer {
        .language-area {
            width: 150px !important;
        }
    }
}

@media(width:1024px) {
    #base-footer-div {
        footer p {
            margin-left: 60%;
        }
    }
}

@media screen and (max-width: 1040px) {
    #base-footer-div {
        margin-top: 60px !important;

        footer {
            .language-area #dropdown-lang {
                color: $login-font-color;
            }
        }
    }
}

@media (max-width: 1400px) {
    #base-footer-div {
        font-size: $app-text-size;
        background-color: transparent;

        footer {
            .language-area {
                font-size: $app-text-size;

                #dropdown-lang {
                    font-size: $app-text-size;
                    height: $textbox-height;
                    width: 180px !important;
                }
            }
        }
    }
}


@media screen and (max-width: 1040px) {
    #base-footer-div {
        footer {
            #enablefooter {
                #poweredbysyncfusion {
                    width: 185px;
                }
            }

            p img {
                height: 20px;
                width: 60px;
            }
        }

        .layout-footer .language-area {
            .dropdown-menu li a {
                padding: 0;
            }

            ul {
                a span {
                    font-size: 10px;
                }
            }

            #lang_menu {
                .dropdown-menu {
                    padding: 3px 0;
                    min-width: 120px;
                    margin-left: -2px;
                }

                .lang-overflow {
                    color: $login-font-color;
                    margin-top: 6px;
                }
            }

            #dropdown-lang {
                font-size: 10px;
                width: 125px !important;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #base-footer-div {
        padding: 8px 10px 12px 15px;

        footer {
            #enablefooter {
                #poweredbysyncfusion,
                #copyrightinfo {
                    float: none !important;
                    padding-bottom: 3px;
                    text-align: center;
                    width: 100%;
                }

                #footer-separator {
                    display: none !important;
                }
            }

            .language-area {
                float: none;
                margin: auto !important;
            }
        }
    }
}

/*Background color-profile change for mobile devices*/
@media (min-width: 320px) and (max-width: 1040px) {
    .dropdown-menu {
        width: 128px !important;
    }
}

@media (min-width:320px) and (max-width:1024px) {
    #base-footer-div {
        background-color: transparent;
    }
}

@media (max-width: 340px) {
    #base-footer-div {
        #enablefooter {
            width: 48%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .notification-not-mobile {
        margin-left: $menu-lg-width !important;
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

@media(max-width: 767px) {
    .agreebutton {
        margin-top: 15px
    }
}

@media(max-width: 520px) {
    .agreebutton {
        text-align: center
    }

    #cookiesubs {
        width: 90%;
        padding: 5px 25px !important
    }
}
