@import  "../Mixins.scss";

#on-board-experience-section {
    ul {
        list-style: none;
        padding: 0px;

        li {
            i {
                font-size: 16px;
                color: $border-color;
            }

            .journey-label {
                color: $journey-label-color;
                font-size: 14px;
            }

            .journey-step {
                font-size: 12px;
                color: $journey-step-color;
                margin: 5px 0px;
            }

            .journey-content {
                cursor: pointer;
                padding: 26px 23px;

                .journey-step-box {
                    background-color: $journey-bg-color;
                    color: $border-color;
                    background: $journey-inactive-color;
                    border: 1px solid $dashboard-separator-color;
                    font-size: 30px;
                    height: 50px;
                    line-height: 50px;
                    margin-right: 15px;
                    text-align: center;
                    width: 50px;
                }

                &:hover {
                    background: $menu-bg;
                }
            }
        }

        #journey-progress-bar-section {
            background: $journey-bg-color;
            height: 30px;

            #donot-show-journey {
                color: $dashboard-color-white;
                font-size: 16px;
                height: 30px;
                opacity: 1;
                width: 25px;
            }

            .progress-status-section {
                padding: 10px 25px 15px 15px;
            }

            .journey-progress-bar-label {
                font-size: 12px;
                color: $journey-title-color;
                line-height: 30px;
                text-shadow: 0 1px 2px rgba(0,0,0,0.20);
                width: auto;
            }

            .progress {
                margin: 0px;
                height: 6px;
                background-color: #A1DBBA;

                .progress-bar-success {
                    background-color: #016F3B;
                }
            }

            .progress-bar-percentage {
                font-size: 10px;
                color: #FFFFFF;
                line-height: 6px;
                padding: 0px 8px;
                text-shadow: 0 1px 2px rgba(0,0,0,0.20);
            }
        }

        .journey-done {
            .journey-step-box {
                background-color: $journey-bg-color !important;
                border: none !important;
                color: $dashboard-color-white !important;
            }

            .journey-label {
                color: $journey-bg-color;
                text-decoration: line-through;
            }
        }

        .donot-show-journey {
            color: #979797;
            font-size: 10px;
            margin: 5px;
            text-align: center;
        }
    }
}


.setup-journey {
    background: $dashboard-color-white;
    border: 1px solid $journey-bg-color;
    box-sizing: content-box;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12);
    height: auto !important;
    margin-bottom: 20px;
}


@media screen and (max-width: 1240px) {
    #on-board-experience-section {
        ul {
            #journey-progress-bar-section {
                .journey-progress-bar-label {
                    font-size: 10px;
                }
            }
        }
    }
}


//Circle Ripple
.circle-ripple {
    background-color: #FFF;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    -webkit-animation: ripple 2s ease-out 0.4s infinite;
    animation: ripple 2s ease-out 0.4s infinite;
    position: absolute;
    left: 25px;
    top: 26px;
    z-index: 5;
    pointer-events: none;
}

.circle-ripple:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    right: -2px;
    bottom: -2px;
    z-index: 5;
    pointer-events: none;
    border-radius: 50%;
    -webkit-animation: ripple-2 2s ease-out 1.4s infinite;
    animation: ripple-2 2s ease-out 1.4s infinite;
}

@-webkit-keyframes ripple {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(74, 144, 226, 0.6);
        box-shadow: 0 0 0 0 rgba(74, 144, 226, 0.6);
    }

    100% {
        -webkit-box-shadow: 0 0 0 30px rgba(74, 144, 226, 0);
        box-shadow: 0 0 0 30px rgba(74, 144, 226, 0);
    }
}

@keyframes ripple {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(74, 144, 226, 0.6);
        box-shadow: 0 0 0 0 rgba(74, 144, 226, 0.6);
    }

    100% {
        -webkit-box-shadow: 0 0 0 30px rgba(74, 144, 226, 0);
        box-shadow: 0 0 0 30px rgba(74, 144, 226, 0);
    }
}

@-webkit-keyframes ripple-2 {
    0% {
        -webkit-box-shadow: 0 0 0 0px rgba(74, 144, 226, 0.6);
        box-shadow: 0 0 0 0px rgba(74, 144, 226, 0.6);
    }

    100% {
        -webkit-box-shadow: 0 0 0 30px rgba(74, 144, 226, 0);
        box-shadow: 0 0 0 30px rgba(74, 144, 226, 0);
    }
}

@keyframes ripple-2 {
    0% {
        -webkit-box-shadow: 0 0 0 0px rgba(74, 144, 226, 0.6);
        box-shadow: 0 0 0 0px rgba(74, 144, 226, 0.6);
    }

    100% {
        -webkit-box-shadow: 0 0 0 30px rgba(74, 144, 226, 0);
        box-shadow: 0 0 0 30px rgba(74, 144, 226, 0);
    }
}