@import "../../default/default.scss";
@import"../../core/_typography.scss";

#container {
    position: absolute;
    width: 349px;
    height: 101px;
    top: 85px;
    left: 17px;
}

#text-error-area {
    position: absolute;
    width: 349px;
    height: 101px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $input-box-text-normal-color;
    background: $input-box-bg-normal-color;
    border: 1px solid $input-box-border-normal-color;
    border-radius: 4px;
    resize:none;
    padding:14px 34px 14px 12px;
}

#copy-error-area {
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    right: 5px;
    bottom: 6px;
    padding: 0px 15px 0px 0px;
}

#view {
    line-height: 18px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 42px;
    left: 235px;
    height: 18px;
    font-style: normal;
    font-weight: 900;
    color: $primary-color;
}

::-webkit-scrollbar {
    width: 4px !important;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: $grey-200;
}

.scroller {
    scrollbar-color: $grey-200;
    scrollbar-width: thin;
}


  