@import "../../themes/_light_cloud.scss";
@import"../../core/_typography.scss";

* {
    font-family: $primary-font;
}

#content-area {
    height: 100%;
    background-color: $grey-100;
}

.error-full-content {
    padding: 10px 0 70px 0;
    background-color: $grey-100;
}

.error-page-outer {
    display: table;
    width: 100%;
    height: 100%;

    .error-page-content {
        background-color: $grey-100;
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        .error-inside {
            margin: auto;
            display: inline-block;
            font-style: normal;

            .error-image-center-1 {

                .error-image-1 {
                    display: block;
                    height: 50px;
                    margin: 0 auto;
                    width: 240px;
                }
            }

            .error-image-center-2 {
                padding-top: 50px;

                .error-image-2 {
                    display: block;
                    margin: 0 auto;
                    width: 300px;
                }
            }

            .error-type {
                font-family: $primary-font;
                font-size: 20px;
                font-weight: bold;
                padding-top: 40px;
                line-height: 1.2;
                letter-spacing: 0.6px;
                text-align: center;
            }

            .error-text {
                padding: 24px 5px 0 5px;
                font-family: $primary-font;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 1.71;
                letter-spacing: 0.3px;
                text-align: center;
                color: $primary-text-color;
            }

            .list-style {
                text-align: left;
                display: table;
                margin: 10px auto 0px;
            }

            .take-me-back-to-home-page {
                padding-top: 12px;
                font-family: $primary-font;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 1.71;
                letter-spacing: 0.3px;
                text-align: center;

                .error-page-cursor {
                    cursor: pointer;

                    .error-to-beck-text-color {
                        color: $primary;

                        &:hover {
                            color: $blue-secondary;
                        }
                    }
                }

                .error-text-color {
                    color: $primary-black;
                }
            }
        }
    }
}

#base-footer-div {
    margin-top: 20px;
    padding: 0px !important;
    background-color: $grey-100 !important;
}

@media screen and (max-width: 760px) {
    .error-full-content {
        padding: 10px 0 96px 0 !important;
    }
}
