* {
  font-family: var(--font-family); }

html, body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
  color: var(--primary-text-color); }

#content-area {
  height: 100%;
  background-color: var(--grey-100); }

.error-full-content {
  padding: 10px 0 70px 0; }

.error-page-outer {
  display: table;
  width: 100%;
  height: 100%; }
  .error-page-outer .error-page-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .error-page-outer .error-page-content .error-inside {
      margin: auto;
      display: inline-block;
      font-style: normal; }
      .error-page-outer .error-page-content .error-inside .error-image-center-1 .error-image-1 {
        display: block;
        height: 50px;
        margin: 0 auto;
        width: 240px; }
      .error-page-outer .error-page-content .error-inside .error-image-center-2 {
        padding-top: 50px; }
        .error-page-outer .error-page-content .error-inside .error-image-center-2 .error-image-2 {
          display: block;
          margin: 0 auto;
          width: 300px; }
      .error-page-outer .error-page-content .error-inside .error-type {
        font-size: 20px;
        font-weight: bold;
        padding-top: 40px;
        line-height: 1.2;
        letter-spacing: 0.6px;
        text-align: center;
        color: var(--primary-text-color); }
      .error-page-outer .error-page-content .error-inside .error-text {
        padding: 24px 5px 0 5px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 0.3px;
        text-align: center;
        color: var(--primary-text-color); }
      .error-page-outer .error-page-content .error-inside .list-style {
        text-align: left;
        display: table;
        margin: 10px auto 0px; }
      .error-page-outer .error-page-content .error-inside .take-me-back-to-home-page {
        color: var(--primary-text-color);
        padding-top: 12px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 0.3px;
        text-align: center; }
        .error-page-outer .error-page-content .error-inside .take-me-back-to-home-page .error-page-cursor {
          cursor: pointer; }
          .error-page-outer .error-page-content .error-inside .take-me-back-to-home-page .error-page-cursor .error-to-back-text-color {
            color: var(--primary-branding-bg-color); }
            .error-page-outer .error-page-content .error-inside .take-me-back-to-home-page .error-page-cursor .error-to-back-text-color:hover {
              color: var(--blue-secondary);
              text-decoration: none; }
      .error-page-outer .error-page-content .error-inside #deploy-error-container {
        margin: 16px auto;
        width: 500px;
        position: relative; }
      .error-page-outer .error-page-content .error-inside #deploy-error-copy {
        color: var(--icon-text-normal-color);
        cursor: pointer;
        position: absolute;
        right: 16px;
        bottom: 5px;
        font-size: 13px; }
      .error-page-outer .error-page-content .error-inside #deploy-error-box {
        border: 1px solid var(--input-box-border-normal-color);
        color: var(--input-box-text-normal-color);
        background: var(--input-box-bg-normal-color);
        width: 500px;
        height: 120px;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 12px;
        font-size: 12px;
        resize: none; }

#base-footer-div {
  margin-top: 20px;
  padding: 10px !important;
  background-color: var(--background) !important; }

@media screen and (max-width: 760px) {
  .error-full-content {
    padding: 10px 0 96px 0 !important; } }
#base-footer-div {
  bottom: 0px;
  float: left;
  font-size: 12px;
  font-weight: 600;
  margin-top: 7px;
  width: 100%;
  padding-bottom: 10px !important;
  position: fixed;
  padding-right: 70px; }

#copyrightinfo {
  padding-left: 20px; }

#poweredbysyncfusion {
  padding-right: 20px; }

@media screen and (max-width: 1040px) {
  #copyrightinfo {
    margin-bottom: -40px !important; } }
@media screen and (max-width: 767px) {
  #copyrightinfo {
    text-align: center;
    width: 100%;
    margin-top: -50px !important;
    margin-left: 10px !important;
    padding-right: 50px; }

  #poweredbysyncfusion {
    margin-top: -10px !important;
    margin-left: -1% !important;
    position: fixed;
    width: 100%;
    text-align: center; } }
.base-container-bg {
  background-color: var(--background);
  font-family: var(--font-family);
  vertical-align: middle;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0; }
  .base-container-bg .base-conatiner {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative; }
    .base-container-bg .base-conatiner #main-div {
      display: table;
      vertical-align: middle;
      margin: 45px auto;
      width: 380px;
      margin-bottom: 140px;
      padding: 0 10px;
      border-radius: 5px; }
      .base-container-bg .base-conatiner #main-div .app-logo {
        margin: 25px auto -10px auto;
        width: 255px;
        text-align: center; }
        .base-container-bg .base-conatiner #main-div .app-logo img {
          height: 45px; }
      .base-container-bg .base-conatiner #main-div .secondary-div {
        text-align: center;
        padding: 20px; }
        .base-container-bg .base-conatiner #main-div .secondary-div .page-title {
          color: var(--primary-text-color);
          font-size: 18px;
          font-weight: 400;
          text-align: center;
          padding: 10px; }
        .base-container-bg .base-conatiner #main-div .secondary-div .page-content {
          color: var(--primary-text-color);
          font-weight: 300;
          display: block;
          margin: auto;
          padding: 10px 0;
          font-size: 14px; }
          .base-container-bg .base-conatiner #main-div .secondary-div .page-content b {
            font-weight: 700;
            color: var(--grey-black); }
          .base-container-bg .base-conatiner #main-div .secondary-div .page-content a {
            color: var(--primary-branding-bg-color); }
        .base-container-bg .base-conatiner #main-div .secondary-div .causes-class {
          float: left;
          margin: 10px 0 10px 25px;
          font-weight: 600; }
        .base-container-bg .base-conatiner #main-div .secondary-div .causes-ul {
          text-align: left;
          margin-top: 20px; }
        .base-container-bg .base-conatiner #main-div .secondary-div .support-div {
          padding: 15px 0; }
          .base-container-bg .base-conatiner #main-div .secondary-div .support-div #support-button {
            background-color: var(--primary-branding-bg-color);
            color: var(--grey-white);
            text-decoration: none;
            padding: 5px 10px;
            font-size: 14px; }
      .base-container-bg .base-conatiner #main-div .login-button {
        background-color: var(--primary-button-bg-normal-color);
        position: relative;
        width: 80%;
        height: 36px;
        border: none;
        color: var(--grey-white);
        box-shadow: 2px 6px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 5px 0 rgba(0, 0, 0, 0.12), 0 4px 2px 0px rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 500px) {
  .base-container-bg .base-conatiner {
    padding: 0 10px; }
    .base-container-bg .base-conatiner #main-div {
      width: auto; } }
.tooltip .tooltip-inner {
  font-size: 12px; }
