@{
    ViewBag.Title = "Terms of Use | Bold ID";
    Layout = "~/Views/Shared/_Layout.PrivacyPolicy.cshtml";
}

<body>
    <div class="page-wrapper">
        <div class="container">
            <div class="header">
                <h1>
                    <b>Bold ID Terms of Use</b>
                </h1>
            </div>
            <div class="eff-date">
                Effective April 9, 2020
            </div>
            <div class="content">
                <div>
                    <h3>
                        <b>ACCEPTANCE OF TERMS</b>
                    </h3>
                    <p>
                        The Website Services (as defined in the next section) that Syncfusion provides to you, for BOLD ID, on this website (“Website”) are subject to the following Terms of Use ("TOU"). Syncfusion reserves the right to update the TOU at any time without notice to you. The most current version of the TOU can be reviewed by clicking on the <a href="https://www.syncfusion.com/terms-of-use">"Terms of Use"</a>.
                    </p>
                    <h3>
                        <b>DESCRIPTION OF WEBSITE SERVICES</b>
                    </h3>
                    <p>
                        Syncfusion offers you the option of reading or previewing the information on the website or the Syncfusion Succinctly series. These options allow you to obtain more information about Syncfusion, Syncfusion products, and topics in the eBook. The use of the Syncfusion Succinctly series is for your personal use; it cannot be used for commercial use. You cannot copy or distribute anything in this application and Syncfusion retains all title, copyright, interest, and all other intellectual property rights to the Syncfusion Succinctly series.
                    </p>
                    <h3>
                        <b>PRIVACY AND PROTECTION OF PERSONAL INFORMATION</b>
                    </h3>
                    <p>
                        See the Syncfusion Privacy Policy disclosures relating to the collection and use of your information.
                    </p>
                    <h3>
                        <b>MATERIALS POSTED ON THIS WEBSITE</b>
                    </h3>
                    <p>
                        All materials, including books, whitepapers, datasheets, white papers, datasheets, videos, and FAQs (collectively “Materials”) that are made available as part of the Website Services are the copyrighted work of Syncfusion or its suppliers. Your use of these Materials is governed by one of two sets of license terms. If you are presented with a license for the Materials, the terms of that license apply; if no license is presented to you, these terms apply. Syncfusion reserves all other rights to the Materials not expressly granted under these license terms. In your use of the Materials you may not:<br /><br />
                        1.	Remove, modify or tamper with any copyright notices;<br />
                        2.	Distribute the Materials to third parties, including by posting the Materials on any networked computer for access by any other computer on the network, or broadcast the Materials in any media;<br />
                        3.	Make any modifications to the Materials.<br /><br />
                        Elements of Syncfusion Websites are protected by trade dress, trademark, unfair competition, and other laws and may not be copied or imitated in whole or in part. No logo, graphic, sound, or image from any Syncfusion Website may be copied or retransmitted unless expressly permitted by Syncfusion.
                        Syncfusion may have trademarks, copyrights, or other intellectual property rights covering subject matter in the Materials. By providing the Materials to you, Syncfusion does not give you any license to these patents, trademarks, copyrights, or other intellectual property, unless Syncfusion does so expressly in writing.
                        The individual accessing the site, or downloading the Syncfusion product, is downloading, reading, or otherwise utilizing Syncfusion’s ebooks, software, or Licensed Program. Thus, you agree that Syncfusion will have the ability to verify your information, to include ensuring your name and country of access are accurate. You fully allow Syncfusion to use such data for marketing and promotional research. Moreover, you certify that if you appear to be out of compliance or appear to provide inaccurate data, Syncfusion has the right to contact you to verify your data.
                    </p>
                    <h3>
                        <b>LIABILITY DISCLAIMER</b>
                    </h3>
                    <p>
                        Syncfusion and its suppliers make no representations about the suitability of the information contained in the materials and related graphics published as part of the website services for any purpose. All such materials and related graphics, and the website services, are provided "As is" without warranty of any kind. Syncfusion and its suppliers hereby disclaim all warranties and conditions with regard to the foregoing, including all warranties and conditions of merchantability, whether express, implied, or statutory, fitness for a particular purpose, title, and non-infringement. The materials and related graphics published on the website could include technical inaccuracies or typographical errors. Changes are periodically added to the information herein. Syncfusion and its suppliers may make improvements and/or changes to the website services and/or the materials described herein at any time.
                        In no event shall syncfusion or its suppliers be liable for any special, indirect, or consequential damages or any damages whatsoever resulting from loss of use, data or profits, whether in an action of contract, negligence, or other tortious action, arising out of or in connection with the use or performance of the website services, any provision of or failure to provide the website services, or any information available from the website services. The aggregate liability of syncfusion arising under this agreement will not exceed $5.00 usd.
                    </p>
                    <h3>
                        <b>MEMBER ACCOUNT, PASSWORD, AND SECURITY</b>
                    </h3>
                    <p>
                        If any of the Website Services require you to open an account, you must complete the registration process by providing us with current, complete, and accurate information as prompted by the applicable registration form. You also will choose a password and a user name. You are entirely responsible for maintaining the confidentiality of your password and any other non-public account information. Furthermore, you are entirely responsible for any and all activities that occur under your account. You agree to notify Syncfusion immediately of any unauthorized use of your account or any other breach of security. Syncfusion will not be liable for any loss that you may incur as a result of someone else using your user name, password, or account, either with or without your knowledge. However, you could be held liable for losses incurred by Syncfusion or another party due to someone else using your user name, password, or account. You may not use anyone else's account at any time without the permission of the account holder.
                    </p>
                    <h3>
                        <b>NO UNLAWFUL OR PROHIBITED USE</b>
                    </h3>
                    <p>
                        As a condition of your use of the Website Services, you will not use the Website Services for any purpose that is unlawful or prohibited by these TOU.
                    </p>
                    <h3>
                        <b>
                            INTELLECTUAL PROPERTY RIGHTS
                        </b>
                    </h3>
                    <p>
                        Syncfusion retains all right, title, and interest in and to the Website and the Website Services, including all copyrights, patents, trade secrets, trademarks, and other intellectual property rights.
                        Syncfusion reserves all rights not expressly granted. These TOU do not grant or imply any rights to any Syncfusion or supplier trademarks, trade names, or logos.
                        Any rights not expressly granted herein are reserved.
                        Send your questions to the appropriate contact as listed below:
                    </p>
                    <h3>
                        <b>NOTICES AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT</b>
                    </h3>
                    <p>
                        Pursuant to Title 17, United States Code, Section 512(c)(2), notifications of claimed copyright should be sent to General Counsel, Syncfusion, Inc. 2501 Aerial Center Parkway, Suite 200 Morrisville, North Carolina 27560.<br /><br /> ALL INQUIRIES NOT RELEVANT TO THE FOLLOWING PROCEDURE WILL RECEIVE NO RESPONSE.
                    </p>
                    <h3>
                        <b>
                            COPYRIGHT NOTICE
                        </b>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</body>


