<div class="modal fade in" id="popup-container" data-dialog="add-users-in-group">
    <div id="confirm-modal">
        <div class="modal-dialog">
            <div id="movable-dialog" class="modal-content">
                <div class="modal-header dialog-header-confirm">
                    <a href="javascript:void(0);" id="group-close-button" class="pull-right close">
                        <span class="su su-close"></span>
                    </a>
                    <div class="modal-title popup-title"><span class="su su-open head-icon"><i class="su-open path1"></i></span> [[[Assign Group]]]</div>
                    <div class="subhead-menu col-xs-12">
                        [[[Add the selected users to a Group]]] - <span id="usersCount">
                        </span> [[[user(s) selected]]]
                    </div>
                </div>
                <div class="modal-body col-xs-12 content group-section">
                    <form id="new-group" class="col-xs-12 no-padding new-group-form" style="display: none" autocomplete="off">
                        <div class="col-xs-12 content no-padding">
                            <div class="col-xs-3 form-label text-right no-padding">
                                [[[Name]]]
                                <span class="mandatory">*</span>
                            </div>
                            <div class="col-xs-9">
                                <input id="group-name" class="form-control" placeholder="[[[Group name]]]" type="text" name="group-name" maxlength="60">
                                <span id="group-name-validation" class="group-validation" title="[[[Please enter group name]]]" data-content="">
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 description-content no-padding"><div class="col-xs-3 form-label text-right no-padding">[[[Description]]]</div><div class="col-xs-9"><textarea id="group-description" class="form-control text-area" maxlength="1024"></textarea><span class="notification">*[[[1024 characters maximum]]]</span></div></div>
                    </form>
                    <div id="existing-group" class="col-xs-12 no-padding">
                        <div class="col-xs-12 no-padding"><div class="col-xs-3 form-label text-right no-padding">[[[Group Name]]]&nbsp;&nbsp;</div><div class="col-xs-9"><select id="groupname-dropdown" class="form-control selectpicker" data-size="5" title="[[[Select Group]]]" data-live-search="true" data-none-results-text="[[[No results match]]]" data-live-search-placeholder="[[[Search]]]"></select></div></div>
                    </div>
                </div>
                <div id="modal-footer" class="modal-footer content" style="display:none;">
                    <h4>[[[Selected user(s)]]]</h4>
                    <div id="UserListToGroup"></div>
                </div>
                <div class="modal-footer content">
                    <input id="addnew-group" class="secondary-button app-btn-secondary pull-left" type="button" value="[[[New Group]]]">
                    <input id="add-existing-group" class="secondary-button app-btn-secondary pull-left" type="button" value="[[[Existing Group]]]">
                    <input id="add-user-group-button" class="primary-button app-btn-primary" type="button" value="[[[Add]]]">
                    <input id="cancel-addgroup-button" class="secondary-button app-btn-secondary" type="button" value="[[[Cancel]]]">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" style="z-index: 1035;"></div>