@{
    var currentPlan = Html.Raw(String.Format(T["You can only have {0}0{1} users as per your {2}current plan{3}."].Value, "<span class='licensed-user-count'>","</span>", "<a href=" + Url.Action("LicenseSettings", "Administration") + "> ", "</a>") + " " + String.Format(T["{0}Upgrade your plan{1} to add more users."].Value, "<a href=" + Url.Action("LicenseSettings", "Administration") + "#plan-upgrade>", "</a>"));
}
<div class="modal no-padding" id="limit-user" tabindex="-1" role="dialog" style="display:none">
    <div class="col-lg-12 modal-dialog no-padding" role="document">
        <div class="col-lg-12 modal-content no-padding" autocomplete="off">
            <div class="col-md-12 modal-header">
                <div class="col-xs-11 no-padding">
                    <span class="su su-license-settings head-icon"></span>
                    <span class="modal-title"> @T["License limit reached"]</span>
                </div>
                <div class="col-xs-1 no-padding">
                    <a href="javascript:void(0);" class="float-end" title="@T["Close"]" onclick="onLimitUserDialogClose()">
                        <span class="su su-close"></span>
                    </a>
                </div>
            </div>
            <div class="modal-body col-12">
                <div class="col-12">
                    <div class="limit-user-body padding10">
                        <span id="limit-import-ad" style="display: none">
                            @currentPlan
                            @Html.Raw(String.Format(T["You can only choose {0} user(s) to import since there are only {1} remaining license(s)."].Value, "<span class='importad-allowed-count'></span>", "<span class='importad-allowed-count'></span>"))
                        </span>
                        <span id="zero-user-acc" style="display:none">
                            @currentPlan
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 modal-footer">
                <div class="col-12 no-padding text-center validationArea" id="close">
                    <input title="" type="button" id="Cancel" class="secondary-button app-btn-secondary" value="@T["OK"]" onclick="onLimitUserDialogClose()" tabindex="3" autofocus />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#limit-user").ejDialog({
            width: "378px",
            showOnInit: false,
            allowDraggable: false,
            enableResize: false,
            height: "auto",
            showHeader: false,
            enableModal: true,
            closeOnEscape: true,
            close: "onLimitUserDialogClose"
        });
    });

    function onLimitUserDialogClose() {
        $("#limit-user").ejDialog("close");
        $("#limit-import-ad").hide();
        $("#zero-user-acc").hide();
        if (typeof (onUserAddDialogClose) != "undefined") {
            onUserAddDialogClose();
        }
    }
</script>