@{
    var contactUs = GlobalAppSettings.Configuration.GetSection("AppSettings")["syncfusion:product_home"] + "/contact";
}
<link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
<div class="col-xs-12 defafult-pages-container no-padding">
    <div class="default-pages">
        <img class="default-pages-image" src="https://cdn.boldbi.com/static/default-pages/v1/dt-payments.svg">
        <h1 class="default-pages-header">Payment profile linked to Syncfusion Direct-Trac</h1>
        <p class="default-pages-message"> Please contact your sales representative for more information.</p>
        <a href="@contactUs" target="_blank" class="primary-button">Contact Us</a>
    </div>
</div>