//rounded corners
$rc-all-4: 4px 4px 4px 4px;
$rc-all-6: 6px 6px 6px 6px;

//box shadow
$shadow-vert-soft: 0 2px 4px 0 rgba(0,0,0,0.12);

$color-grey-20: #FBFBFB;
$color-grey-28: #282828;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-40: #f9f9f9;
$color-grey-60: #F2F2F2;
$color-grey-80: #EEEEEE;
$color-grey-100: #E6E6E6;
$color-grey-200: #CCCCCC;
$color-grey-300: #B3B3B3;
$color-grey-500: #808080;
$color-grey-800: #333333;
$color-primary: #0565FF;
$link-hover-color: #009AEF;
$color-ash-200: #E9ECEF;
$danger-color: #EF3F3F;
$back-button-hover: #F7F8F9;
$card-text-border-color: #80BDFF;
$validation-text-color: #d9534f;
$primary-border: #0851D0;
$color-blue: #007AFF;
$color-grey-footer: #808080;
$cookies-bg-color : #262a33;
$cookies-link-color : #5EACFF;
$success-text-color: #1ab572;
$selected-color: #CDE0FF;
$select-hover: #EEEEEE;
$grey-800: #4d4d4d;
$icon-hover-color: #1a1a1a;
//gradient
$bg-linear-gradient: linear-gradient(-215deg, #FBFEFF 0%, #EEF2F3 100%);


//bold bi colors
$boldbi-primary-color: #ff4800;

//boldbi registration
$registration-header: #283a5e;
$registration-footer: #202e4b;
$registration-form-background: #fffdfc;
$registration-form-heading: #6a717c;
$registration-footer-copyright: #7d889f;
$registration-form-border-color: $color-grey-200;
$registration-agreement-color: #828893;
$registration-form-domain-bg-color: #f6f6f6;
$choose-plan-light: #fff1ef;
$registartion-page-link: #0052CC;
$registartion-page-link-hover: #0747A6;
$registartion-page-plan-text: #555555;

//dialog
$bg-dialog-1: #f5deb4;
$dialog-text-1: #c69b69;

