@import "elementsize.scss";
@import "elementcolor.scss";
@import "../../themes/default.scss";

/* don't show the eye for password inputs */
::-ms-reveal {
    width: 0;
    height: 0;
}

::-ms-clear {
    width: 0;
    height: 0;
}

* {
    outline: none !important;
}

*:focus {
    outline: none !important;
}

label {
    font-weight: normal;
}

a, a:hover, a:focus {
    text-decoration: none !important;
    color: $primary-color;
}

input[type=button], input[type=submit], button[type=submit] {
    padding: 0px !important;
}

input.form-control:not(.input-block-level), .btn-group.form-control .btn.dropdown-toggle, .form-control.StripeElement {
    box-shadow: none !important;
    border: 1px solid $registration-form-border-color;
}

.bs-searchbox .input-block-level.form-control {
    box-shadow: none !important;
    border: 1.5px solid $color-grey-200;
}

input.form-control:focus:not(.input-block-level), .StripeElement--focus {
    outline: none !important;
    border: 1.5px solid $color-primary !important;
    box-shadow: none !important;
}

input.ng-invalid.ng-touched.remove-border {
    outline: none !important;
    border: 1.5px solid $color-primary !important;
    box-shadow: none !important;
}

input.ng-invalid.ng-touched:not(.ng-exclude):not(.e-control), input.ng-invalid.ng-empty.ng-dirty:not(.ng-exclude):not(.e-control), input.ng-invalid.ng-touched:focus:not(.ng-exclude):not(.e-control), .has-error input.form-control:not(.input-block-level), .has-error input.form-control:focus:not(.input-block-level), .has-error .btn-group.form-control .btn.dropdown-toggle, .StripeElement--invalid, input.ng-invalid.ng-invalid-pattern:focus, input.ng-invalid.ng-invalid-maxlength:focus, input.ng-invalid.ng-invalid-uniquednsnotactivated:focus, input.error-focus.ng-invalid.ng-untouched {
    outline: none !important;
    border: 1px solid $validation-text-color !important;
    box-shadow: none !important;
}

input[type="password"] {
    padding-right: 30px;
}

.form-control[disabled] {
    cursor: default;
    background-color: $input-box-disabled !important;
}

.su-eye {
    cursor: pointer;
    position: absolute;
}

.material-checkbox {
    position: relative;

    label {
        cursor: pointer;
        margin-bottom: 0px;
        margin-left: 8px;

        &:before, &:after {
            content: "";
            left: 0;
            position: absolute;
            top: 0;
        }

        &:before {
            background: $color-white;
            border: 1.5px solid $color-grey-200;
            border-radius: 2px;
            cursor: pointer;
            height: 15px;
            transition: background .3s;
            width: 15px;
        }
    }

    input[type="checkbox"] {
        outline: 0;
        margin: 0px;
        opacity: 0;

        &:checked + input {
            + label:before {
                background: $color-primary;
                border: 1.5px solid $color-primary;
            }

            + label:after {
                border: 2px solid $color-white;
                border-right-style: none;
                border-top-style: none;
                height: 6px;
                left: 2px;
                top: 3px;
                width: 10px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
            }
        }

        &:focus + input {
            + label:before {
                border: 1.5px solid $boldbi-primary-color;
            }
        }
    }
}

.material-checkbox.selfhosted {
    position: relative;

    label {
        cursor: pointer;
        margin-bottom: 0px;
        margin-left: 8px;

        &:before, &:after {
            content: "";
            left: 0;
            position: absolute;
            top: 0;
        }

        &:before {
            background: $color-white;
            border: 1.5px solid $color-grey-200;
            border-radius: 2px;
            cursor: pointer;
            height: 15px;
            transition: background .3s;
            width: 15px;
        }
    }

    input[type="checkbox"] {
        outline: 0;
        margin: 0px;
        opacity: 0;

        &:checked {
            + label:before {
                background: $color-primary;
                border: 1.5px solid $color-primary;
            }

            + label:after {
                border: 2px solid $color-white;
                border-right-style: none;
                border-top-style: none;
                height: 6px;
                left: 2px;
                top: 3px;
                width: 10px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
            }
        }

        &:focus + input {
            + label:before {
                border: 1.5px solid $primary-btn-hover;
            }
        }
    }
}


@mixin proceed-button($height: $button-32, $fontsize: 14px) {
    background: $boldbi-primary-color;
    border: 1px solid $boldbi-primary-color;
    border-radius: 5px;
    color: $color-white;
    height: $height;
    outline: none;
    font-size: $fontsize;
    font-weight: 700;
    cursor: pointer;
    display: block;

    &:hover, &:focus {
        background-color: $choose-plan-light;
        border: none;
        color: $boldbi-primary-color;
    }

    &:disabled {
        background: $color-grey-200;
        cursor: default;
        border: none;
        color: $color-white;
    }
}

@mixin back-button($height: $button-32, $fontsize: 14px) {
    background: $color-white;
    border: 1px solid $secondary-btn-border;
    border-radius: 5px;
    color: $color-grey-800;
    height: $height;
    outline: none;
    font-size: $fontsize;
    font-weight: 700;
    cursor: pointer;
    display: block;

    &:hover, &:focus {
        background: $back-button-hover;
    }

    &:disabled {
        background: $border-color;
        cursor: default;
    }
}

span.su-password-tick {
    background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    font-size: 20px;
    display: inline-block;
    float: left;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border-radius: 50%;
}

@mixin header($header-font-size, $header-line-height) {
    font-size: $header-font-size;
    letter-spacing: 0.3px;
    line-height: $header-line-height;
    color: $color-grey-800;
}

@mixin text-bitter($text-font-size) {
    font-size: $text-font-size;
    letter-spacing: 0.6px;
    line-height: 24px;
    color: $color-grey-800;
}

.text-h1 {
    @include header($text-h1-font-size, $text-h1-line-height);
}

.text-h2 {
    @include header($text-h2-font-size, $text-h2-line-height);
}

.text-h4 {
    @include header($text-h4-font-size, $text-h4-line-height);
}

.text-body {
    @include header($text-body-font-size, $text-body-line-height);
}

.text-bitter-h2 {
    @include text-bitter($text-bitter-h2-font-size);
}

.text-bitter-h1 {
    @include text-bitter($text-bitter-h1-font-size);
}

.text-primary {
    color: $color-primary;
}

@mixin button($background: $primary-btn-bg, $color: $primary-btn-text-color, $hover: $primary-btn-hover, $height: $btn-height-normal, $icon: false) {
    background: $background;
    border: 0;
    border-radius: 2px;
    color: $color;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: $height;
    line-height: $height;
    min-width: $btn-min-width;
    outline: none;
    text-align: center;

    @if($icon) {
        & {
            padding: 0 0 0 15px;
        }

        span {
            padding-right: 15px;
        }

        i {
            display: inline-block;
            width: 15px;
        }
    }
    @else {
        & {
            padding: 0 15px;
        }
    }

    &:hover, &:focus {
        background: $hover;
        color: $color;
    }

    &:disabled {
        background: $primary-btn-disabled-bg;
        color: $sub-text-color;
        cursor: default;
    }
}