html, body {
  height: 100%;
  width: 100%;
  font-family: "RobotoRegular" !important; }

::-ms-clear {
  display: none; }

input::-ms-clear, input::-ms-reveal {
  display: none; }

a {
  cursor: pointer;
  color: #0565ff; }
  a:hover {
    color: #1882ff; }
  a:hover, a:focus {
    text-decoration: none !important; }

.dropdown-menu.inner li:hover a {
  background-color: #eeeeee; }

.dropdown-menu.inner li.selected a {
  background-color: #E7F0FF; }

@media screen and (min-width: 0px) {
  body, body .form-control, body .bootstrap-select .btn, body .dropdown-menu .inner {
    font-size: 12px; }
  body .form-control, body .bootstrap-select .btn {
    height: 28px; }
  body .validation-txt-errors {
    font-size: 12px;
    color: #a94442; } }

@media screen and (min-width: 1400px) {
  body, body .form-control, body .bootstrap-select .btn, body .dropdown-menu .inner {
    font-size: 14px; }
  body .form-control, body .bootstrap-select .btn {
    height: 32px; }
  body .validation-txt-errors {
    font-size: 12px;
    color: #a94442; } }

#body-container #site-container .row .site-row-container .site-name, #body-container #site-container .row .site-row-container .site-url-container .site-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

body {
  margin: auto;
  background-color: #f9f9f9; }

#header-container {
  width: 100%;
  height: 60px;
  margin-bottom: 16px; }
  #header-container .boldbi-logo {
    float: left;
    padding: 16px 0px 16px 83px;
    max-width: 180px;
    max-height: 40px; }
  #header-container .logout-container {
    float: right;
    width: auto;
    height: 28px;
    border-radius: 4px;
    padding: 16px 83px 16px 24px;
    text-align: center; }
    #header-container .logout-container .logout {
      font-size: 12px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.61px;
      text-align: center;
      text-decoration: none;
      color: #0565ff; }
  #header-container .create-site {
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    position: relative;
    text-align: center;
    width: auto;
    height: 28px;
    line-height: 28px;
    background-color: #0565ff;
    border-color: #0451cc;
    color: #fff;
    float: right;
    margin: 15px 0px;
    padding: 6px 8px;
    line-height: normal;
    text-decoration: none;
    font-size: 12px;
    outline: 0; }
    #header-container .create-site:hover {
      background-color: #1882ff; }
    #header-container .create-site:disabled {
      cursor: default;
      background-color: #f2f2f2;
      box-shadow: none;
      color: #999999;
      border: 1px solid #cccccc; }
    #header-container .create-site:focus {
      outline: 0; }
  #header-container .manage-sites {
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    position: relative;
    text-align: center;
    width: auto;
    height: 28px;
    line-height: 28px;
    background-color: #fff;
    border-color: #b3b3b3;
    color: #333;
    float: right;
    margin: 15px 24px 15px 0px;
    padding: 6px 8px;
    line-height: normal;
    text-decoration: none;
    font-size: 12px;
    outline: 0; }
    #header-container .manage-sites:hover {
      background-color: #eeeeee; }
    #header-container .manage-sites:disabled {
      cursor: default;
      background-color: #f2f2f2;
      box-shadow: none;
      color: #999999;
      border: 1px solid #cccccc; }
    #header-container .manage-sites:focus {
      outline: 0; }

#body-container {
  margin: auto;
  text-align: center;
  float: left;
  width: 100%; }
  #body-container .user-image-container {
    width: 164px;
    height: 100px;
    margin: auto;
    background-image: url("/ums/Content/Images/img-profile-bg.svg"); }
    #body-container .user-image-container .user-image {
      width: 100px;
      height: 100px;
      border-radius: 50%; }
  #body-container .user-name {
    width: auto;
    height: 22px;
    padding-top: 18px;
    font-size: 18px;
    letter-spacing: 0.84px;
    text-align: center;
    color: #333; }
  #body-container .welcome-note {
    width: auto;
    height: 30px;
    padding: 12px 0px 0px 0px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.65px;
    text-align: center;
    color: #808080; }
  #body-container .loader {
    width: 24px;
    height: 24px;
    padding-top: 36px;
    background-color: #0565ff; }
  #body-container .line {
    width: 70px;
    margin: 12px auto;
    border: solid 1px #ff4800; }
  #body-container .choose-site {
    width: auto;
    height: 30px;
    padding-bottom: 18px;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.61px;
    text-align: center;
    color: #1a1a1a; }
  #body-container #site-container {
    float: left;
    width: 100%; }
    #body-container #site-container .row {
      margin: auto; }
      #body-container #site-container .row .fade {
        opacity: 0;
        -webkit-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear; }
      #body-container #site-container .row .tooltip {
        position: absolute;
        z-index: 1070;
        display: block;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: left;
        text-align: start;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        letter-spacing: normal;
        word-break: normal;
        word-spacing: normal;
        word-wrap: normal;
        white-space: normal;
        filter: alpha(opacity=0);
        opacity: 0;
        line-break: auto; }
        #body-container #site-container .row .tooltip .tooltip-arrow {
          bottom: 0;
          left: 50%;
          margin-left: -5px;
          border-width: 5px 5px 0;
          border-top-color: #333;
          position: absolute;
          width: 0;
          height: 0;
          color: transparent;
          border-style: solid; }
        #body-container #site-container .row .tooltip .tooltip-inner {
          max-width: 200px;
          padding: 3px 8px;
          color: #fff;
          text-align: center;
          background-color: #333;
          border-radius: 4px; }
      #body-container #site-container .row .fade.in {
        opacity: 1; }
      #body-container #site-container .row .tooltip.top {
        padding: 5px 0;
        margin-top: -3px; }
      #body-container #site-container .row .tooltip.in {
        filter: alpha(opacity=90);
        opacity: .9; }
      #body-container #site-container .row .site-row-container {
        width: 200px;
        height: 134px;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        background-color: #fff;
        margin: 0px 12px 24px 12px;
        display: inline-block;
        text-decoration: none; }
        #body-container #site-container .row .site-row-container:hover {
          box-shadow: 0 6px 14px 3px rgba(0, 0, 0, 0.1); }
        #body-container #site-container .row .site-row-container .site-logo-container {
          width: 200px;
          height: 60px;
          margin: 8px 0px; }
          #body-container #site-container .row .site-row-container .site-logo-container .site-logo {
            display: block;
            margin: 0 auto;
            max-width: 180px;
            max-height: 40px;
            padding: 10px; }
          #body-container #site-container .row .site-row-container .site-logo-container .img-loader {
            -webkit-animation-name: fadeOpactiy;
            -webkit-animation-duration: 4s;
            animation-name: fadeOpactiy;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            background: gray;
            padding-top: 10px;
            height: 40px;
            width: 100px;
            display: block;
            float: none;
            margin: 0 auto; }
        #body-container #site-container .row .site-row-container .site-name {
          width: auto;
          height: 18px;
          font-size: 12px;
          padding: 0px 10px;
          font-weight: bold;
          letter-spacing: 0.56px;
          text-align: center;
          color: #333; }
        #body-container #site-container .row .site-row-container .site-url-container {
          width: 200px;
          height: 24px;
          margin: 8px 0px;
          color: #808080;
          text-decoration: none; }
          #body-container #site-container .row .site-row-container .site-url-container .site-url {
            width: auto;
            height: 18px;
            padding: 3px 10px;
            font-size: 12px;
            letter-spacing: 0.56px;
            text-align: center;
            color: #808080; }

#footer-container {
  width: 100%;
  height: 40px;
  float: left; }
  #footer-container .copyright-container {
    float: left; }
    #footer-container .copyright-container .copyright {
      width: auto;
      height: 21px;
      padding: 10px 0px 9px 32px;
      font-size: 12px;
      line-height: 21px;
      letter-spacing: 0.36px;
      color: #333; }
  #footer-container .footer-logo-container {
    float: right;
    width: auto;
    height: 32px;
    padding: 4px 32px 4px 0px; }
    #footer-container .footer-logo-container .powered-by {
      width: auto;
      height: 10px;
      padding: 12px 0px 10px 5px;
      line-height: 10px;
      vertical-align: top;
      display: inline-block;
      font-size: 10px;
      color: #808080;
      margin-top: -9px; }
    #footer-container .footer-logo-container .footer-logo {
      width: 89px;
      height: 30px;
      padding: 6px 0px;
      margin-top: -10px; }
  #footer-container .display-none {
    display: none; }

@media screen and (max-width: 768px) {
  #header-container .boldbi-logo {
    padding-left: 30px; }
  #header-container .logout-container {
    display: none; }
  #header-container .create-site {
    display: none; }
  #header-container .manage-sites {
    display: none; }
  #body-container #site-container .row {
    width: 225px;
    display: block; }
  #footer-container {
    text-align: center;
    margin: auto; }
    #footer-container .copyright-container {
      float: none; }
      #footer-container .copyright-container .copyright {
        padding-left: 0px;
        margin-bottom: 40px; }
    #footer-container .footer-logo-container {
      float: none;
      padding-right: 0px; } }

@media screen and (min-width: 768px) and (max-width: 1081px) {
  #site-container .row {
    width: 672px; } }

@media screen and (min-width: 1081px) and (max-width: 1367px) {
  #site-container .row {
    width: 896px; } }

@media screen and (min-width: 1367px) {
  #site-container .row {
    width: 1344px; } }
