<ReportingExtensions>
	<DataExtension>
		<Extension Name="SQL" Assembly="BoldReports.Web" Type="BoldReports.RDL.Data.SqlDataExtension" IsBuiltInExtension="True"/>
		<Extension Name="SQLCE" Assembly="BoldReports.Web" Type="BoldReports.RDL.Data.SqlCeDataExtension" IsBuiltInExtension="True"/>
		<Extension Name="OLEDB" Assembly="BoldReports.Web" Type="BoldReports.RDL.Data.OleDbDataExtension" IsBuiltInExtension="True"/>
		<Extension Name="ODBC" Assembly="BoldReports.Web" Type="BoldReports.RDL.Data.OdbcDataExtension" IsBuiltInExtension="True"/>
		<Extension Name="Oracle" Assembly="BoldReports.Web" Type="BoldReports.RDL.Data.OracleDataExtension" IsBuiltInExtension="True"/>
		<Extension Name="XML" Assembly="BoldReports.Web" Type="BoldReports.RDL.Data.XmlDataExtension" IsBuiltInExtension="True"/>
		<Extension Name="Microsoft SQL Server Analysis Services" Assembly="BoldReports.DataExtensions.SSAS" Type="BoldReports.DataExtensions.SSAS.SSASDataExtension">
			<Properties>
				<Add Key="QueryDesignerEnabled" Value="false"/>
				<Add Key="QueryFilterEnabled" Value="false"/>
				<Add Key="QueryExpressionEnabled" Value="false"/>
				<Add Key="QueryJoinerEnabled" Value="false"/>
				<Add Key="QueryColumnEdit" Value="false"/>
			</Properties>
		</Extension>
		<Extension Name="PostgreSQL" Assembly="BoldReports.DataExtensions.PostgreSQL" Type="BoldReports.DataExtensions.PostgreSQL.PostgreSQLDataExtension">
			<Properties>
				<Add Key="QueryDesignerEnabled" Value="false"/>
				<Add Key="QueryFilterEnabled" Value="false"/>
				<Add Key="QueryExpressionEnabled" Value="false"/>
				<Add Key="QueryJoinerEnabled" Value="false"/>
				<Add Key="QueryColumnEdit" Value="false"/>
			</Properties>
		</Extension>
		<Extension Name="WebAPI" Assembly="BoldReports.DataExtensions.WebAPI" Type="BoldReports.DataExtensions.WebAPI.WebAPIExtension">
			<Properties>
			    <Add Key="ServerExclude" Value="true"/>
				<Add Key="QueryDesignerEnabled" Value="true"/>
				<Add Key="QueryFilterEnabled" Value="false"/>
				<Add Key="QueryExpressionEnabled" Value="false"/>
				<Add Key="QueryJoinerEnabled" Value="false"/>
				<Add Key="QueryColumnEdit" Value="false"/>
			</Properties>
		</Extension>
	</DataExtension>
	<ReportItems>
		<ReportItem Name="Barcode" Assembly="BoldReports.Extensions.BarcodeCRI" Type="BoldReports.Extensions.BarcodeCRI.BarcodeCustomReportItem" />
	    <ReportItem Name="QRBarcode" Assembly="BoldReports.Extensions.BarcodeCRI" Type="BoldReports.Extensions.BarcodeCRI.BarcodeCustomReportItem" />
	</ReportItems>
</ReportingExtensions>