@import "../pages/mixins.scss";

//date-range-input-box:
.e-custom.e-date-range-wrapper {
    border-radius: 4px !important;
    border: 1px solid $date-range-border-color !important;
    height: 28px !important;
    width: 178px !important;

    .e-daterangepicker {
        padding: 0px 0px 0px 7px !important;
        min-width: 150px !important;
        min-height: auto !important;
    }

    .e-range-icon.e-icons {
        left: 150px;
        font-size: 17px !important;
        color: $date-range-icon-color !important;
        position: absolute;
        margin-top: 0px !important;

        &.e-active, &:hover {
            color: $date-range-icon-color;
        }
    }

    .e-clear-icon {
        display: none;
    }

    &.e-input-focus:not(.e-success):not(.e-error):not(.e-float-icon-left):not(.e-disabled):not(.e-numeric), &.e-valid-input:not(.e-success):not(.e-error):not(.e-non-float):not(.e-float-icon-left):not(.e-disabled):not(.e-numeric) /*, .e-valid-input:not(.e-success):not(.e-error):not(.e-non-float):not(.e-float-icon-left):not(.e-disabled):not(.e-numeric) */ {
        border: 1px solid $date-range-border-color !important;
    }
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::before {
    border: 1px solid $date-range-border-color !important;
}

//popup-menu
.e-daterangepicker.e-popup.e-preset-wrapper {
    position: absolute;
    left: 350px !important;
    width: 606px;

    .e-calendar .e-content td.e-selected span.e-day, .e-calendar .e-content td.e-today span.e-day, .e-calendar .e-content td.e-focused-date span.e-day {
        border: 1px solid $date-range-popup-active-date-border-color !important;
        box-shadow: none;
        color: $date-range-popup-active-date-color !important;
        border-radius: 0px !important;
        background-color: $date-range-popup-active-date-bg-color !important;
    }

    .e-calendar .e-content td:hover span.e-day {
        border-radius: 0px !important;
        background: $date-range-popup-date-hover-bg-color;
    }

    .e-separator, .e-footer {
        border-top: 1px solid $date-range-border-color;
    }

    .e-calendar-container .e-left-container, .e-date-range-container.e-range-border {
        border-right: 1px solid $date-range-border-color;
    }
}

//popup-menu-list Item:
.e-daterangepicker.e-popup .e-presets .e-list-item {
    padding: 10px 0px 10px 16px !important;
    letter-spacing: 0.5px;
    height: auto !important;
    line-height: 7px !important;
    margin-top: 10px;

    &:hover {
        background-color: $date-range-popup-list-bg-color !important;
        color: $date-range-popup-text-color !important;
    }

    &.e-active {
        background-color: $date-range-popup-list-bg-color !important;
        color: $date-range-popup-active-list-color !important;
    }
}

//popup-menu-background color
.e-daterangepicker.e-popup.e-preset-wrapper, .e-daterangepicker.e-popup .e-range-header, .e-daterangepicker.e-popup .e-calendar, .e-daterangepicker.e-popup .e-footer, .e-daterangepicker.e-popup .e-presets.e-lib.e-keyboard, .e-calendar .e-content.e-year td > span.e-day, .e-calendar .e-content.e-decade td > span.e-day {
    background-color: $date-range-bg-normal-color !important;
}

//popup-menu-Text color
.e-daterangepicker.e-popup .e-start-label, .e-daterangepicker.e-popup .e-end-label, .e-daterangepicker.e-popup .e-presets, .e-calendar .e-header .e-title, .e-calendar .e-content span, .e-calendar th, .e-calendar .e-date-icon-prev, .e-calendar .e-date-icon-next, .e-daterangepicker.e-popup .e-change-icon, .e-daterangepicker.e-popup .e-day-span {
    color: $date-range-popup-text-color !important;
}

//popup-menu-selected & non-selected items.
.e-daterangepicker.e-popup .e-calendar .e-range-hover:not(.e-selected) span.e-day, .e-daterangepicker.e-popup .e-calendar .e-range-hover:not(.e-selected):hover span.e-day, .e-daterangepicker.e-popup .e-calendar .e-content .e-range-hover {
    background-color: $date-range-popup-date-hover-bg-color !important;
}