.e-float-input {
  height: 28px !important; }
  .e-float-input.e-outline:not(.e-input-focus):not(.e-numeric):not(.e-disabled):not(.e-error):not(.e-non-float) .e-float-text {
    color: var(--input-box-placeholder-text-normal-color) !important; }
  .e-float-input.e-disabled {
    -webkit-text-fill-color: var(--input-box-text-disable-color) !important; }

.e-custom {
  font-family: var(--font-family) !important;
  font-size: 14px !important;
  border-color: var(--input-box-border-normal-color) !important;
  color: var(--input-box-text-normal-color) !important;
  background: var(--input-box-bg-normal-color) !important; }
  .e-custom input {
    min-height: 40px !important; }
  .e-custom.e-valid-input:not(.e-numeric):not(.e-disabled):not(.e-error):not(.e-non-float) {
    border-top-color: transparent !important; }
    .e-custom.e-valid-input:not(.e-numeric):not(.e-disabled):not(.e-error):not(.e-non-float) .e-float-text {
      color: var(--input-box-text-normal-color) !important; }
      .e-custom.e-valid-input:not(.e-numeric):not(.e-disabled):not(.e-error):not(.e-non-float) .e-float-text.e-label-top::after, .e-custom.e-valid-input:not(.e-numeric):not(.e-disabled):not(.e-error):not(.e-non-float) .e-float-text.e-label-top::before, .e-custom.e-valid-input:not(.e-numeric):not(.e-disabled):not(.e-error):not(.e-non-float) .e-float-text.e-label-bottom::after, .e-custom.e-valid-input:not(.e-numeric):not(.e-disabled):not(.e-error):not(.e-non-float) .e-float-text.e-label-bottom::before {
        border-top: solid 1px var(--input-box-border-normal-color) !important; }
  .e-custom:hover:not(.e-input-focus):not(.e-input-group):not(.e-success):not(.e-error):not(.e-disabled):not(.e-popup) {
    border-color: var(--input-box-border-active-color) !important; }
    .e-custom:hover:not(.e-input-focus):not(.e-input-group):not(.e-success):not(.e-error):not(.e-disabled):not(.e-popup) input:valid ~ label.e-float-text {
      color: var(--primary-branding-bg-color) !important; }
  .e-custom .e-float-input.e-disabled {
    border-top-color: transparent !important; }
  .e-custom.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-float-icon-left):not(.e-disabled):not(.e-numeric):not(.e-non-float) {
    border-color: var(--primary-branding-bg-color) !important;
    border-top-color: transparent !important; }
    .e-custom.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-float-icon-left):not(.e-disabled):not(.e-numeric):not(.e-non-float) .e-float-text {
      color: var(--primary-branding-bg-color) !important; }
      .e-custom.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-float-icon-left):not(.e-disabled):not(.e-numeric):not(.e-non-float) .e-float-text.e-label-top::after, .e-custom.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-float-icon-left):not(.e-disabled):not(.e-numeric):not(.e-non-float) .e-float-text.e-label-top::before, .e-custom.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-float-icon-left):not(.e-disabled):not(.e-numeric):not(.e-non-float) .e-float-text.e-label-bottom::after, .e-custom.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-float-icon-left):not(.e-disabled):not(.e-numeric):not(.e-non-float) .e-float-text.e-label-bottom::before {
        border-top: solid 1px var(--primary-branding-bg-color) !important; }
  .e-custom.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled):not(.e-float-icon-left):not(.e-numeric):not(.e-non-float) {
    border-color: var(--primary-branding-bg-color) !important;
    border-top-color: transparent !important;
    box-shadow: inset 0.1px 0 var(--primary-branding-bg-color), inset -0.1px 0 var(--primary-branding-bg-color), inset 0 -0.1px var(--primary-branding-bg-color) !important; }
    .e-custom.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled):not(.e-float-icon-left):not(.e-numeric):not(.e-non-float) .e-float-text {
      color: var(--primary-branding-bg-color) !important; }
      .e-custom.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled):not(.e-float-icon-left):not(.e-numeric):not(.e-non-float) .e-float-text.e-label-top::after, .e-custom.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled):not(.e-float-icon-left):not(.e-numeric):not(.e-non-float) .e-float-text.e-label-top::before, .e-custom.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled):not(.e-float-icon-left):not(.e-numeric):not(.e-non-float) .e-float-text.e-label-bottom::after, .e-custom.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled):not(.e-float-icon-left):not(.e-numeric):not(.e-non-float) .e-float-text.e-label-bottom::before {
        border-top: solid 1px var(--primary-branding-bg-color) !important; }
  .e-custom.e-error {
    border-color: var(--input-box-border-alert-color) !important;
    box-shadow: inset 0.1px 0 var(--red), inset -0.1px 0 var(--red), inset 0 -0.1px var(--red) !important; }
    .e-custom.e-error.e-input-focus, .e-custom.e-error.e-valid-input {
      border-top-color: transparent !important; }
      .e-custom.e-error.e-input-focus .e-float-text, .e-custom.e-error.e-valid-input .e-float-text {
        color: var(--red) !important; }
        .e-custom.e-error.e-input-focus .e-float-text.e-label-top::after, .e-custom.e-error.e-input-focus .e-float-text.e-label-top::before, .e-custom.e-error.e-input-focus .e-float-text.e-label-bottom::after, .e-custom.e-error.e-input-focus .e-float-text.e-label-bottom::before, .e-custom.e-error.e-valid-input .e-float-text.e-label-top::after, .e-custom.e-error.e-valid-input .e-float-text.e-label-top::before, .e-custom.e-error.e-valid-input .e-float-text.e-label-bottom::after, .e-custom.e-error.e-valid-input .e-float-text.e-label-bottom::before {
          border-top: solid 1px var(--input-box-border-alert-color) !important; }
  .e-custom.e-disabled {
    background-color: var(--input-box-bg-disable-color) !important;
    border: 1px solid var(--input-box-border-disable-color) !important;
    color: var(--input-box-text-disable-color) !important;
    border-top-color: transparent !important;
    -webkit-text-fill-color: var(--input-box-text-disable-color) !important; }
    .e-custom.e-disabled .e-float-text.e-label-top::after, .e-custom.e-disabled .e-float-text.e-label-top::before {
      border-top: solid 1px var(--input-box-border-disable-color) !important; }
  .e-custom .e-label-bottom {
    line-height: 55px !important;
    font-size: 14px !important; }
  .e-custom.e-input-group .e-disabled {
    -webkit-text-fill-color: var(--input-box-text-disable-color) !important; }
  .e-custom.e-input-group .e-input-group-icon {
    font-size: 10px !important;
    margin-top: 4px !important; }

input.e-input::placeholder, textarea.e-input::placeholder, .e-input-group input.e-input::placeholder, .e-input-group.e-control-wrapper input.e-input::placeholder, .e-float-input input::placeholder, .e-float-input.e-control-wrapper input::placeholder, .e-input-group textarea.e-input::placeholder, .e-input-group.e-control-wrapper textarea.e-input::placeholder, .e-float-input textarea::placeholder, .e-float-input.e-control-wrapper textarea::placeholder {
  color: var(--input-box-placeholder-text-normal-color) !important; }

input.e-input::selection, textarea.e-input::selection, .e-input-group input.e-input::selection, .e-input-group.e-control-wrapper input.e-input::selection, .e-float-input input::selection, .e-float-input.e-control-wrapper input::selection, .e-input-group textarea.e-input::selection, .e-input-group.e-control-wrapper textarea.e-input::selection, .e-float-input textarea::selection, .e-float-input.e-control-wrapper textarea::selection {
  background: var(--selector-color) !important;
  color: var(--primary-text-color) !important; }
