@import "../default/default.scss";

.e-custom.e-numeric.e-valid-input, .e-custom.e-numeric {
    min-height: 28px !important;
    width: 103px !important;
    height: 30px !important;
    border-color: $numeric-text-box-border-normal-color !important;
    background: $numeric-text-box-bg-normal-color !important;
    color: $numeric-text-box-text-normal-color !important;

    .e-numerictextbox {
        font-size: 12px;
        min-height: 0px !important;
    }

    &:hover {
        border-color: $primary-color !important;
    }

    &.e-input-focus:not(.e-disabled) {
        border-color: $primary-color !important;
        box-shadow: inset 0.1px 0.1px $primary-color, inset -0.1px 0 $primary-color, inset 0 -0.1px $primary-color !important;
    }

    .e-input-group-icon {
        margin: 7px 3px 8px 0 !important;
        min-width: 23px;
        color: $numeric-text-box-icon-text-normal-color !important;

        &.e-input-btn-ripple {
            &::after {
                animation: none !important;
            }
        }
    }

    span.e-input-group-icon {
        &.e-spin-down {
            border-color: $numeric-text-box-border-normal-color !important;
            border-right-width: 1px !important;
        }
    }

    .e-spin-down {
        margin: 0px !important;
        width: 0;
        border-right: 1px solid $numeric-text-box-border-normal-color;

        &::after {
            margin-bottom: -11px;
            margin-left: 48px;
            border-top: 1px solid $numeric-text-box-border-normal-color;
            width: 23px;
        }

        &::before {
            margin-bottom: -11px;
            margin-left: 48px;
            border-top: 1px solid $numeric-text-box-border-normal-color;
            width: 23px;
        }
    }

    .e-spin-up {
        margin: 0px !important;
        width: 0;
        height: 0;

        &::after {
            margin-bottom: 2px;
            width: 23px;
        }

        &::before {
            margin-bottom: 2px;
            width: 23px;
        }
    }
}