@import "../../default/default.scss";

body {
    color: $primary-text-color !important;
    background: var(--surface) !important;
    font-family: var(--font-family);

    .left {
        float: left;
        margin: 15px;
    }

    .right {
        float: right;
        margin: 15px;
    }

    .container {
        margin: 0 auto;
        max-width: 1024px;
    }

    .table {
        width: 100%;
        border-spacing: 0 15px;
    }

    .status-header {
        border-radius: 8px;
        margin: 0% 10%;
        padding: 13px;
        text-align: center;

        a {
            color: $link-text-color;
        }

        a:hover, a:focus {
            text-decoration: none !important;
            color: $link-text-hover-color;
        }

        &.status-success {
            background-color: $success;
        }

        &.status-warning {
            background-color: $yellow;
        }
    }

    .row {
        background-color: $grey-100;
        color: $primary-text-color;
    }

    .border {
        border: 2px solid $section-separator-color;
        margin: 2% 10%;
        padding: 0px 15px;
        border-radius: 8px;
    }

    .image {
        margin: 0 auto;
        padding: 15px;
        text-align: center;
    }
}

