@import "../../themes/_light_cloud.scss";

body {
    .left {
        float: left;
        margin: 15px;
    }

    .right {
        float: right;
        margin: 15px;
    }

    .container {
        margin: 0 auto;
        max-width: 1024px;
    }

    .table {
        width: 100%;
        border-spacing: 0 15px;
    }

    .status-header {
        border-radius: 8px;
        color: white;
        font-family: RobotoRegular;
        margin: 0% 10%;
        padding: 13px;
        text-align: center;

        &.status-success {
            background-color: $green;
        }

        &.status-warning {
            background-color: $yellow;
        }
    }


    .row {
        background-color: $grey-200;
        color: $grey-700;
        font-family: RobotoRegular;
    }

    .border {
        border: 2px solid $grey-400;
        margin: 2% 10%;
        padding: 0px 15px;
        border-radius: 8px;
    }

    .image {
        margin: 0 auto;
        padding: 15px;
        text-align: center;
    }
}

