body .left {
  float: left;
  margin: 15px; }

body .right {
  float: right;
  margin: 15px; }

body .container {
  margin: 0 auto;
  max-width: 1024px; }

body .table {
  width: 100%;
  border-spacing: 0 15px; }

body .status-header {
  border-radius: 8px;
  color: white;
  font-family: RobotoRegular;
  margin: 0% 10%;
  padding: 13px;
  text-align: center; }
  body .status-header.status-success {
    background-color: #4dd964; }
  body .status-header.status-warning {
    background-color: #ffcc01; }

body .row {
  background-color: #f2f2f2;
  color: #808080;
  font-family: RobotoRegular; }

body .border {
  border: 2px solid #cccccc;
  margin: 2% 10%;
  padding: 0px 15px;
  border-radius: 8px; }

body .image {
  margin: 0 auto;
  padding: 15px;
  text-align: center; }
