body {
  color: var(--primary-text-color) !important;
  background: var(--surface) !important;
  font-family: var(--font-family); }
  body .left {
    float: left;
    margin: 15px; }
  body .right {
    float: right;
    margin: 15px; }
  body .container {
    margin: 0 auto;
    max-width: 1024px; }
  body .table {
    width: 100%;
    border-spacing: 0 15px; }
  body .status-header {
    border-radius: 8px;
    margin: 0% 10%;
    padding: 13px;
    text-align: center; }
    body .status-header a {
      color: var(--global-link-text-normal-color); }
    body .status-header a:hover, body .status-header a:focus {
      text-decoration: none !important;
      color: var(--global-link-text-hover-color); }
    body .status-header.status-success {
      background-color: var(--green); }
    body .status-header.status-warning {
      background-color: var(--yellow); }
  body .border {
    border: 2px solid var(--section-separator-color);
    margin: 2% 10%;
    padding: 0px 15px;
    border-radius: 8px; }
    body .border .row {
      background-color: var(--grey-100);
      color: var(--primary-text-color); }
      body .border .row .application-link {
        color: var(--global-link-text-normal-color);
        font-size: 11px; }
      body .border .row .online {
        color: forestgreen; }
      body .border .row .down {
        color: red; }
  body .image {
    margin: 0 auto;
    padding: 15px;
    text-align: center; }
