@using Syncfusion.Server.Base.DataClasses;

@{
    var domain = Syncfusion.Server.Base.CloudAppConfig.ProductHomeUrl(TenantType.BoldBI);
}
<div class="activate-tenant-bg">
    <div class="icon-container icon-background"><span class="su su-warning-alt"></span></div>
    <div class="heading text-h4">Invalid Coupon</div>
    <div class="status-message text-body">The applied coupon is invalid or has already been used.</div>
    <div class="btn-holder text-body">
        <a href="@domain" class="proceed-button primary-button">Go to homepage</a>
    </div>
</div>
