@import "mixins.scss";

#application-dialog {
    .modal-header {
        background: $list-bg-color;
        padding: 10px;
        width: 100%;
        z-index: 9;
        float: left;
        margin: 0;
        border-bottom: medium none;
        height: 50px;
        color: $header-bg;
        font-size: $label-font-size;

        .no-padding {
            padding: 0 !important;
        }

        .modal-title {
            font-size: $label-font-size;
            margin: 0px;
            padding: 0px;
        }

        a.close {
            color: $primary-text-color;
            float: right;
            font-size: $app-text-size - 2;
            margin: 0;
            opacity: 1;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .modal-body {
        .form-control {
            font-size: $info-font-size;
            height: 28px;
        }

        .app-textbox-label {
            margin-top: 8px;
            font-weight: 400;
            padding-right: 50px;
            font-size: $info-font-size;

            .required {
                margin-right: -5.5px;
                padding-left: 0.2em;
            }
        }

        .site-url-fields {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            height: 28px;
            width: 90%;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }

        .form-padding {
            padding: 10px;
        }

        .validation-message {
            display: block;
            height: 20px;
            color: $validation-text-color;
            width: 100%;
            font-size: $validation-text-size;
            margin-bottom: -16px;
        }

        .app-url-validation-message {
            margin-left: -60px !important;
        }

        .close-url{
            font-size: 10px;
            margin-left: 10px;
            cursor: pointer;

            &:hover{
                color: $primary-btn-bg;
            }
        }

        .selectpicker-class {
            padding-right: 15px;
            padding-left: 15px;
            float: left;
            height: $textbox-height;
            margin-bottom: 20px;

            .input-group-addon {
                padding: 0px;
                border: 0px;
            }

            .bootstrap-select {
                padding: 0px;
                padding-bottom: 0px;
            }

            .selectpicker:not(ul) {
                border-radius: 4px 0px 0px 4px;
                border-width: 1px 0px 1px 1px !important;
                height: 28px;
                font-size: 12px;
                width: 66px;
            }

            ul.selectpicker {
                overflow: visible !important;
            }

            .app-url-validation-message {
                margin-left: -67px !important;
                margin-bottom: -16px !important;
            }

            .validate-url{
                width: 90%;
                margin-left: -65px;
            }
        }
        .url-add-div{
            width: 70px;
            .url-add{
                margin-top: 5px;
                position: relative;
                left: 15px;
                cursor: pointer;
                width: auto;
            }
        }


        #selectpicker-application-type {

            .bootstrap-select {
                padding: 0px;
                padding-bottom: 0px;
            }
        }

        .switch-align {
            padding: 10px;
            margin-left: 7px;
        }

        .useraccesspopover {
            cursor: pointer;
            margin-left: 10px;
        }

        .icon-label{
            top: 20px;
        }
        .icon-img {
            > span {
                display: inline-block;
            }
        }

        .img-view-holder {
            border: 0.5px solid $grid-border-color;
            border-radius: 2px;
            float: left;
            height: 74px;
            margin-left: 15px;
            text-align: center;
            width: 74px;
            margin-bottom: 15px;

            #icon-img {
                border-radius: 2px;
                height: 64px;
                margin: 4px 0 0 -11px;
                width: 64px;
            }

            .icon-img {
                background: $primary-text-color;
                opacity: 0.3;
                position: relative;
            }

            .icon-edit-button {
                background: $primary-text-color none repeat scroll 0% 0%;
                border-radius: 13px;
                color: $primary-btn-text-color;
                cursor: pointer;
                display: inline;
                height: 20px;
                padding: 3px;
                position: absolute;
                top: 50px;
                width: 20px;
            }

            #icon-button-click {
                left: 4px;
                display: none;
            }

            #icon-delete-click {
                left: 50px;
                display: none;
            }

            #icon-upload-box{
                position: absolute;
                width: 1px !important;
                height: 1px !important;
                opacity: 0;
            }
        }
        .img-info-label{
            top: 45px;
            position: absolute;
        }

        .popover{
            .popover-content{
                font-size: $validation-text-size + 1;
            }            
        }

        .img-validation-msg{
            display: none;
            color: $validation-text-color;
            font-size: $validation-text-size;
            position: relative;
            top: 75px;
            right: 75px;
        }
    }

    .modal-footer {
        border-top: 1px solid $footer-border-color;
        background-color: $dialog-footer-bgcolor;
        text-align: right;
        padding: 10px;

        .primary-button, .secondary-button {
            margin-right: 10px;
        }
    }
}

@media screen and (min-width: 1400px) {
    #application-dialog {
        .modal-header {
            .modal-title {
                font-size: $app-large-text-size + 2;
            }

            a.close {
                font-size: $app-text-size;
            }
        }

        .modal-body {
            .form-control {
                font-size: $info-font-size + 2;
                height: 32px;
            }

            .app-textbox-label {
                font-size: $info-font-size + 2;
            }

            .selectpicker-class {
                .selectpicker:not(ul) {
                    height: 32px;
                }
            }

            .validation-message {
                font-size: $validation-text-size + 1;
            }

            .popover {
                width: 300px;
                font-size: $validation-text-size + 1;
            }

            .img-validation-msg{
                font-size: $validation-text-size + 1;
            }
        }
    }
}
