@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

body #server-app-container #header-area .header-bar .main-screen-logo .dropdown-menu #application-list .popover .arrow {
  top: 50% !important; }

body #server-app-container #header-area .header-bar .main-screen-logo .dropdown-menu #application-list .popover .popover-title {
  display: none; }

body #server-app-container #header-area .header-bar .main-screen-logo .dropdown-menu #application-list .popover a {
  vertical-align: unset;
  width: unset;
  height: auto;
  padding: 0 !important;
  text-align: left;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--colorPrimary); }

.tooltip-inner {
  max-width: none;
  white-space: nowrap; }
