@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

#edit-profile-base-div #user-profile-master {
  margin-left: 20px; }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form {
    padding: 20px 0; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .confirm-section, #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .new-section {
      margin-top: 20px; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .e-outline.e-error {
      height: 32px !important; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .e-outline.e-valid-input {
      height: 32px !important; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .e-error .e-float-text.e-label-bottom {
      line-height: 23px !important; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .e-input-focus.e-error .e-float-text.e-label-bottom {
      line-height: 14px !important; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-label-div {
      right: 20px; }
      #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-label-div .password-label {
        font-size: 12px;
        font-weight: 400; }
      #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-label-div .mandatory {
        padding: 3px; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table #fake-password {
      display: none; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .form-control {
      height: 28px; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-validate-holder {
      font-size: 12px;
      color: #ff3b30; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .show-hide-password {
      color: var(--colorText);
      cursor: pointer;
      margin-top: -1px;
      position: absolute;
      right: 12px;
      top: 10px;
      visibility: visible; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .button-section {
      padding-top: 12px; }
      #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .button-section #change-password-cancel {
        margin-left: 10px; }
        #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .button-section #change-password-cancel:hover {
          color: var(--colorPrimary); }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .su.su-show {
      position: absolute;
      right: 10px;
      font-size: 22px; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .su.su-hide {
      position: absolute;
      right: 10px;
      font-size: 22px; }

@media (max-width: 390px) {
  #content-area #edit-profile-base-div #user-profile-master #change-password {
    padding: 0px; }
    #content-area #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-field {
      width: 100%; }
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333333 !important;
    position: relative !important;
    margin-left: -85px !important;
    margin-top: -20px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-top: -20px !important;
    margin-right: 60px !important; } }

@media screen and (min-width: 700px) and (max-width: 768px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333333 !important;
    position: relative !important;
    margin-left: -60px !important;
    margin-top: 40px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right;
    margin-top: -12px; } }

@media screen and (min-width: 1000px) and (max-width: 1040px) {
  #content-area {
    padding-left: 0px !important; }
    #content-area #edit-profile-base-div #user-profile-master {
      padding: 0px 20px 0px 20px; }
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333333 !important;
    position: relative !important;
    margin-left: -60px !important;
    margin-top: 40px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right;
    margin-top: -12px; } }

@media screen and (max-width: 500px) {
  #content-area {
    padding-left: 0px !important; }
    #content-area #edit-profile-base-div #user-profile-master {
      padding: 0px 10px 0px 10px; }
      #content-area #edit-profile-base-div #user-profile-master #change-password .password-label-div {
        right: 0 !important; } }
      @media screen and (max-width: 500px) and (max-width: 767px) {
        #content-area #edit-profile-base-div #user-profile-master #change-password .password-label-div {
          text-align: left; } }

@media screen and (max-width: 500px) {
      #content-area #edit-profile-base-div #user-profile-master #change-password .password-field {
        margin-top: 5px;
        width: 50%;
        min-width: 250px; }
        #content-area #edit-profile-base-div #user-profile-master #change-password .password-field #password_policy_rules {
          padding-top: 7px; }
      #content-area #edit-profile-base-div #user-profile-master #change-password #change-password-content {
        margin: 20px 0px; }
        #content-area #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form {
          padding: 10px; }
        #content-area #edit-profile-base-div #user-profile-master #change-password #change-password-content #change-password-btn {
          margin-left: -15px; } }

@media screen and (min-width: 400px) and (max-width: 450px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333333 !important;
    position: relative !important;
    margin-left: -60px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-right: 35px !important; } }

@media screen and (max-width: 1024px) {
  #content-area {
    padding-left: 0px !important; }
    #content-area #edit-profile-base-div #user-profile-master {
      padding: 0px 20px 0px 20px; } }

@media screen and (max-width: 768px) {
  #content-area {
    padding-left: 0px !important; }
    #content-area #edit-profile-base-div #user-profile-master {
      padding: 0px 10px 0px 10px; }
      #content-area #edit-profile-base-div #user-profile-master #change-password .password-label-div {
        right: 0 !important; } }
      @media screen and (max-width: 768px) and (max-width: 767px) {
        #content-area #edit-profile-base-div #user-profile-master #change-password .password-label-div {
          text-align: left; } }

@media screen and (max-width: 768px) {
      #content-area #edit-profile-base-div #user-profile-master #change-password .password-field {
        margin-top: 5px;
        width: 50%;
        min-width: 250px; }
        #content-area #edit-profile-base-div #user-profile-master #change-password .password-field #password_policy_rules {
          padding-top: 7px; }
      #content-area #edit-profile-base-div #user-profile-master #change-password #change-password-content {
        margin: 20px 0px; }
        #content-area #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form {
          padding: 10px; } }

@media screen and (min-width: 1400px) {
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-label-div .password-label {
    font-size: 14px; }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .show-hide-password {
    color: var(--colorText);
    cursor: pointer;
    margin-top: -1px;
    position: absolute;
    right: 12px;
    top: 10px;
    visibility: visible; }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .form-control {
    height: 32px; }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-validate-holder {
    font-size: 12px;
    color: #ff3b30; } }

@media screen and (max-width: 800px) {
  .top-margin {
    margin-top: 0px !important; } }

@media screen and (max-width: 320px) {
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .form-control {
    width: 92%; }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .show-hide-password {
    color: #1b1e24;
    cursor: pointer;
    margin-top: -1px;
    position: absolute;
    right: 30px;
    top: 10px;
    visibility: visible; } }
