@import "mixins.scss";

#profile-menu-nav-bar {
    @include navmenu();
}

#server-app-container {
    #content-area {
        height: 100%;
    }

    .admin-page-content-container {
        @include admin-page-template_new();

        .e-custom {
            font-family: var(--font-family) !important;
            font-size: 13px !important;

            input {
                min-height: 28px !important;
            }

            &:hover:not(.e-input-focus):not(.e-success):not(.e-error) {
                border-color: $primary-color !important;
            }

            &.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-disabled) {
                border-color: $primary-color !important;
            }

            &.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled) {
                border-color: $primary-color !important;
                box-shadow: inset 0.1px 0 $primary-color, inset -0.1px 0 $primary-color, inset 0 -0.1px $primary-color !important;
            }

            &.e-error {
                border-color: $validation-text-color;
                box-shadow: inset 0.1px 0 $validation-text-color, inset -0.1px 0 $validation-text-color, inset 0 -0.1px $validation-text-color !important;
            }
        }

        input.e-input::selection, textarea.e-input::selection, .e-input-group input.e-input::selection, .e-input-group.e-control-wrapper input.e-input::selection, .e-float-input input::selection, .e-float-input.e-control-wrapper input::selection, .e-input-group textarea.e-input::selection, .e-input-group.e-control-wrapper textarea.e-input::selection, .e-float-input textarea::selection, .e-float-input.e-control-wrapper textarea::selection {
            background: $browser-default-select-color-ej2-custom !important;
            color: $white !important;
        }

        #change-password {
            .change-password-form {
                .e-float-input {
                    font-size: 12px;
                    height: 28px;
                    width: 450px;
                }

                #fake-password {
                    display: none;
                }

                #confirm-password-section {
                    margin-bottom: 20px;
                }

                .password-validate-holder {
                    font-size: $app-text-size;
                    color: #ff3b30;
                }

                .show-hide-password {
                    color: $primary-text-color;
                    cursor: pointer;
                    visibility: visible;
                    position: absolute;
                }

                #new-password + .popover {
                    background: $black;
                    opacity: 0.8;
                    width: 180px;

                    .arrow::after {
                        border-left-color: #333;
                        border-right-color: #333;
                    }

                    .popover-title {
                        background: $black;
                        opacity: 0.8;
                        color: $white;
                        font-size: $app-text-size;
                        letter-spacing: 0.3px;
                        line-height: 18px;
                        padding-bottom: 0px;
                        border: none;
                    }

                    .popover-content {
                        padding-top: 0px;
                        height: 175px;

                        ul {
                            list-style: none;
                            padding: 0px;

                            li {
                                height: 20px;
                                margin: 15px 15px 15px 10px;

                                span.icon {
                                    height: 15px;
                                    width: 15px;
                                    margin: 0 auto;
                                    border-radius: 50%;
                                    border: 2px solid $white;
                                    display: inline-block;
                                    float: left;
                                }

                                span.content {
                                    color: $white;
                                    display: inline;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }

                .button-section {
                    padding-top: 12px;

                    #change-password-cancel {
                        margin-left: 10px;

                        &:hover {
                            color: $primary-btn-bg;
                        }
                    }
                }

                .su.su-show, .su.su-hide {
                    margin-left: -27px;
                    font-size: 14px;
                    margin-top: 7px;
                }
            }
        }
    }
}

@media (max-width: 390px) {
    #content-area {
        #edit-profile-base-div {
            #user-profile-master {
                #change-password {
                    padding: 0px;

                    #change-password-content {
                        .change-password-form {
                            .user-profile-table {
                                .password-field {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $delete-icon-color !important;
                position: relative !important;
                margin-left: -85px !important;
                margin-top: -20px !important;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-top: -20px !important;
                margin-right: 60px !important;
            }
        }
    }
}

@media screen and (min-width:700px) and (max-width:768px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $delete-icon-color !important;
                position: relative !important;
                margin-left: -60px !important;
                margin-top: 40px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -12px;
            }
        }
    }
}

@media screen and (min-width:1000px) and (max-width: 1040px) {
    #content-area {
        padding-left: 0px !important;

        #edit-profile-base-div {
            #user-profile-master {
                padding: 0px 20px 0px 20px;
            }
        }
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $delete-icon-color !important;
                position: relative !important;
                margin-left: -60px !important;
                margin-top: 40px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -12px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #content-area {
        padding-left: 0px !important;

        #edit-profile-base-div {
            #user-profile-master {
                padding: 0px 10px 0px 10px;

                #change-password {
                    .password-label-div {
                        right: 0 !important;

                        @media (max-width: 767px) {
                            text-align: left;
                        }
                    }

                    .password-field {
                        margin-top: 5px;
                        width: 50%;
                        min-width: 250px;

                        #password_policy_rules {
                            padding-top: 7px;
                        }
                    }

                    #change-password-content {
                        margin: 20px 0px;

                        .change-password-form {
                            padding: 10px;
                        }

                        #change-password-btn {
                            margin-left: -15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:400px) and (max-width:450px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $delete-icon-color !important;
                position: relative !important;
                margin-left: -60px !important;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: 35px !important;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #content-area {
        padding-left: 0px !important;

        #edit-profile-base-div {
            #user-profile-master {
                padding: 0px 20px 0px 20px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #content-area {
        padding-left: 0px !important;

        #edit-profile-base-div {
            #user-profile-master {
                padding: 0px 10px 0px 10px;

                #change-password {
                    .password-label-div {
                        right: 0 !important;

                        @media (max-width: 767px) {
                            text-align: left;
                        }
                    }

                    .password-field {
                        margin-top: 5px;
                        width: 50%;
                        min-width: 250px;

                        #password_policy_rules {
                            padding-top: 7px;
                        }
                    }

                    #change-password-content {
                        margin: 20px 0px;

                        .change-password-form {
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    #edit-profile-base-div {
        #user-profile-master {
            #change-password {
                #change-password-content {
                    .change-password-form {
                        .user-profile-table {
                            .password-label-div {
                                .password-label {
                                    font-size: $app-large-text-size;
                                }
                            }

                            .show-hide-password {
                                color: $primary-text-color;
                                cursor: pointer;
                                margin-top: -1px;
                                position: absolute;
                                right: 12px;
                                top: 10px;
                                visibility: visible;
                            }

                            .form-control {
                                height: $textbox-lg-height;
                            }

                            .password-validate-holder {
                               font-size: $app-text-size;
                            color: #ff3b30;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .top-margin {
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 320px) {
    #edit-profile-base-div {
        #user-profile-master {
            #change-password {
                #change-password-content {
                    .change-password-form {
                        .form-control {
                            width: 92%;
                        }

                        .user-profile-table {
                            .show-hide-password {
                                color: #1b1e24;
                                cursor: pointer;
                                margin-top: -1px;
                                position: absolute;
                                right: 30px;
                                top: 10px;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}
