@import "../themes/default.scss";
@import "mixins.scss";

#PopupContainer {
    .fileUpload {
        margin-left: -3px;
    }
}

.dialog {
    @include dialog($app-text-size, $app-text-size - 2, $text-box-size);
}

.bootstrap-select > .btn {
    font-size: $app-text-size;
}

.dialog.iframe {
    @include dialog($app-large-text-size, $app-text-size, $text-large-box-size);
}

.dialog.iframe {
    .bootstrap-select > .btn {
        font-size: $app-large-text-size;
    }
}