@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.e-dlg-container .e-dlg-header-content {
  padding: 10px 15px;
  border-bottom: 1px solid #e6e6e6;
  background: var(--background); }
  .e-dlg-container .e-dlg-header-content .e-dlg-closeicon-btn:hover, .e-dlg-container .e-dlg-header-content .e-dlg-closeicon-btn:focus {
    background-color: transparent !important;
    border: 0; }
  .e-dlg-container .e-dlg-header-content .e-dlg-closeicon-btn .e-icon-dlg-close {
    font-size: 10px;
    right: 11px;
    position: absolute; }
  .e-dlg-container .e-dlg-header-content .e-dlg-header {
    width: auto;
    height: auto;
    font-size: 14px; }
    .e-dlg-container .e-dlg-header-content .e-dlg-header .dlg-title {
      font-size: 14px; }
    .e-dlg-container .e-dlg-header-content .e-dlg-header .dlg-description {
      font-size: 13px;
      margin-top: -8px; }

.e-dlg-container .e-dlg-header-content + .e-dlg-content {
  padding-top: 18px !important; }

.e-dlg-container .e-footer-content {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  background: var(--background);
  padding: 11px;
  height: 48px; }
  .e-dlg-container .e-footer-content .e-btn.e-lib.e-primary.e-flat {
    margin-right: 15px; }

.e-dlg-container .e-btn {
  font-family: var(--font-family);
  text-transform: none; }

#PopupContainer .fileUpload {
  margin-left: -3px; }

.dialog .form-control, .dialog .btn {
  border-radius: 0; }

.dialog .dialog-header {
  font-size: 14px;
  padding: 10px 15px; }
  .dialog .dialog-header .PopupTitle {
    vertical-align: top; }
  .dialog .dialog-header .report-name {
    font-size: 10px; }
  .dialog .dialog-header .PopupClose {
    color: #808080;
    float: right;
    font-size: 10px; }
    .dialog .dialog-header .PopupClose:hover {
      color: var(--colorPrimary);
      text-decoration: none; }

.dialog input[type="text"], .dialog button[type="button"] {
  height: 28px; }

.dialog .fileUpload {
  height: 28px;
  padding: 0 18px; }

.dialog .ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.dialog .padding20 {
  padding: 20px; }

.dialog .padding-bottom20 {
  padding-bottom: 20px; }

.dialog .no-bottom-padding {
  padding-bottom: 0 !important; }

.dialog .no-top-padding {
  padding-top: 0 !important; }

.dialog .no-left-padding {
  padding-left: 0 !important; }

.dialog .no-right-padding {
  padding-right: 0 !important; }

.dialog .rightAlign {
  text-align: right; }

.dialog .bottom-margin30 {
  margin-bottom: 30px; }

.dialog .padding10 {
  padding: 10px; }

.dialog .bootstrap-select {
  width: 100% !important; }

.dialog .bottom-margin35 {
  margin-bottom: 35px; }

.dialog .dialog-body {
  font-size: 12px;
  padding: 10px 15px; }
  .dialog .dialog-body .bootstrap-select.btn-group .no-results {
    padding: 6px;
    margin: 0; }
  .dialog .dialog-body .validation-error {
    color: var(--danger);
    font-size: 10px;
    float: left;
    margin-top: -24px; }
  .dialog .dialog-body .filter-option {
    margin-top: -2px; }
  .dialog .dialog-body .text-label {
    margin: 5px 0 5px; }
  .dialog .dialog-body #filename, .dialog .dialog-body #name {
    cursor: pointer; }
  .dialog .dialog-body .permission-denied {
    padding: 10px;
    text-align: center; }
  .dialog .dialog-body .highlight-name {
    font-style: italic;
    color: var(--colorPrimary); }
  .dialog .dialog-body .mandatory {
    padding-left: 2px; }
  .dialog .dialog-body .text, .dialog .dialog-body .note {
    font-size: 12px; }
  .dialog .dialog-body .bootstrap-select {
    padding: 0; }
  .dialog .dialog-body .help-text {
    font-size: 10px; }
  .dialog .dialog-body .help-text-mandatory {
    padding-right: 2px; }
  .dialog .dialog-body .padding-right-15 {
    padding-right: 15px; }

.dialog .dialog-footer {
  padding: 10px;
  background: #e5e5e5 none repeat scroll 0 0;
  border-top: 1px solid #bbbbbb;
  bottom: 0;
  padding: 10px 15px;
  position: fixed;
  right: 0;
  width: 100%; }
  .dialog .dialog-footer .centerAlign {
    width: 100%;
    text-align: center; }
    .dialog .dialog-footer .centerAlign .PopupClose, .dialog .dialog-footer .centerAlign .ItemPermissionPopupClose {
      float: none; }
  .dialog .dialog-footer .primary-button {
    margin-right: 10px; }

.bootstrap-select > .btn {
  font-size: 12px; }

.dialog.iframe .form-control, .dialog.iframe .btn {
  border-radius: 0; }

.dialog.iframe .dialog-header {
  font-size: 16px;
  padding: 10px 15px; }
  .dialog.iframe .dialog-header .PopupTitle {
    vertical-align: top; }
  .dialog.iframe .dialog-header .report-name {
    font-size: 12px; }
  .dialog.iframe .dialog-header .PopupClose {
    color: #808080;
    float: right;
    font-size: 12px; }
    .dialog.iframe .dialog-header .PopupClose:hover {
      color: var(--colorPrimary);
      text-decoration: none; }

.dialog.iframe input[type="text"], .dialog.iframe button[type="button"] {
  height: 32px; }

.dialog.iframe .fileUpload {
  height: 32px;
  padding: 0 18px; }

.dialog.iframe .ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.dialog.iframe .padding20 {
  padding: 20px; }

.dialog.iframe .padding-bottom20 {
  padding-bottom: 20px; }

.dialog.iframe .no-bottom-padding {
  padding-bottom: 0 !important; }

.dialog.iframe .no-top-padding {
  padding-top: 0 !important; }

.dialog.iframe .no-left-padding {
  padding-left: 0 !important; }

.dialog.iframe .no-right-padding {
  padding-right: 0 !important; }

.dialog.iframe .rightAlign {
  text-align: right; }

.dialog.iframe .bottom-margin30 {
  margin-bottom: 30px; }

.dialog.iframe .padding10 {
  padding: 10px; }

.dialog.iframe .bootstrap-select {
  width: 100% !important; }

.dialog.iframe .bottom-margin35 {
  margin-bottom: 35px; }

.dialog.iframe .dialog-body {
  font-size: 14px;
  padding: 10px 15px; }
  .dialog.iframe .dialog-body .bootstrap-select.btn-group .no-results {
    padding: 6px;
    margin: 0; }
  .dialog.iframe .dialog-body .validation-error {
    color: var(--danger);
    font-size: 10px;
    float: left;
    margin-top: -24px; }
  .dialog.iframe .dialog-body .filter-option {
    margin-top: -2px; }
  .dialog.iframe .dialog-body .text-label {
    margin: 5px 0 5px; }
  .dialog.iframe .dialog-body #filename, .dialog.iframe .dialog-body #name {
    cursor: pointer; }
  .dialog.iframe .dialog-body .permission-denied {
    padding: 10px;
    text-align: center; }
  .dialog.iframe .dialog-body .highlight-name {
    font-style: italic;
    color: var(--colorPrimary); }
  .dialog.iframe .dialog-body .mandatory {
    padding-left: 2px; }
  .dialog.iframe .dialog-body .text, .dialog.iframe .dialog-body .note {
    font-size: 14px; }
  .dialog.iframe .dialog-body .bootstrap-select {
    padding: 0; }
  .dialog.iframe .dialog-body .help-text {
    font-size: 12px; }
  .dialog.iframe .dialog-body .help-text-mandatory {
    padding-right: 2px; }
  .dialog.iframe .dialog-body .padding-right-15 {
    padding-right: 15px; }

.dialog.iframe .dialog-footer {
  padding: 10px;
  background: #e5e5e5 none repeat scroll 0 0;
  border-top: 1px solid #bbbbbb;
  bottom: 0;
  padding: 10px 15px;
  position: fixed;
  right: 0;
  width: 100%; }
  .dialog.iframe .dialog-footer .centerAlign {
    width: 100%;
    text-align: center; }
    .dialog.iframe .dialog-footer .centerAlign .PopupClose, .dialog.iframe .dialog-footer .centerAlign .ItemPermissionPopupClose {
      float: none; }
  .dialog.iframe .dialog-footer .primary-button {
    margin-right: 10px; }

.dialog.iframe .bootstrap-select > .btn {
  font-size: 14px; }
