@import "../themes/_light_cloud.scss";
@import "../core/_typography.scss";

* {
    font-family: var(--font-family);
}

*:focus {
    outline: none !important;
}

body {
    background: $grey-100;

    #content-area {
        margin-top: 0px !important;
    }

    #base-footer-div {
        float: left;
        font-size: map-get($app-text-size, sm);
        font-weight: 600;
        padding: 0px 27px 0px 24px;
        width: 100%;

        footer {

            .layout-footer {
                padding: 0px;

                #enablefooter {

                    #footer-separator {
                        margin-left: 10px;
                        margin-right: 10px;
                        padding: 0px 10px;
                    }

                    #footerlogo {
                        height: 25px;
                        width: 110px;
                    }
                }
            }

            .language-area {
                bottom: 0px;
                float: right;
                font-size: map-get($app-text-size, sm);
                padding: 6px 20px 10px 8px;
                position: relative;
                right: 0px;
                bottom: 0px;

                #lang_menu {
                    color: $primary-black;
                    position: relative;
                    right: 0;

                    #footer-separator {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }

            p {
                margin-bottom: 0px;

                a {
                    color: inherit;
                    text-decoration: none;
                }

                img {
                    margin-left: 5px;
                    margin-top: -7px;
                }
            }
        }

        .no-padding {
            padding: 0px;
        }

        .copyright-poweredby {
            position: relative;
        }

        .cookie-notification + .copyright-poweredby {
            bottom: 28px;
        }
    }
}

body.layout-accounts {
    #base-footer-div {
        padding: 0px;
    }
}

@media screen and (max-width: 1400px) {
    body {
        #base-footer-div {
            footer {
                .language-area {
                    font-size: map-get($app-text-size, sm);
                }

                #enablefooter {
                    font-size: map-get($app-text-size, sm);
                }
            }
        }
    }
}

@media screen and (max-width: 1040px) {
    #base-footer-div {
        padding: 0px !important;

        .language-area {
            width: 100%;
            text-align: center !important;
        }

        #enablefooter {
            margin-top: 0px !important;
            width: 100%;
            text-align: center !important;
        }
    }
}

