@import "../themes/default.scss";
@import "mixins.scss";
@import "variables/fontsize.scss";
@import "../../fonts/variables.scss";

.e-grid {
    border-color: $grid-border-color;

    .e-gridheader {
        background: $grid-header-bg;
        border-color: $grid-border-color;
        color: $grid-header-color;

        .e-headercell {
            padding-left: 15px;
            padding-top: 5px;

            .e-headercelldiv, .e-headercelldiv *:not(.material-checkbox + label) {
                color: $grid-text-color;
                font-size: $app-text-size;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .e-gridcontent {
        background: $grid-content-bg;
        color: $grid-text-color;
        font-size: $app-text-size;

        tr {
            height: 35px;

            &.e-hover td {
                background: $grid-hover-color;
            }

            td {
                padding-left: 15px;

                &.e-rowcell {
                    padding-left: 15px;
                    overflow: hidden;
                    width: 100%;
                }

                &.e-templatecell {
                    .grid-content {
                        display: inline-block;
                        line-height: 17px;
                        max-width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    a {
                        display: inline-block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                &.e-rowcell, &.e-templatecell:not(>.material-checkbox) {
                    text-overflow: ellipsis;
                }

                &.e-tabletd {
                    padding-left: 0;
                }

                a {
                    color: $grid-link-color;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .option-icon {
                    border: 1px solid $grid-content-bg;
                    border-radius: 5px;
                    cursor: pointer;
                    padding: 4px 2px;
                    position: absolute;
                    top: -12px !important;
                }

                .grid-directory-icon {
                    padding: 0 0 0 15px;
                    color: $ad-icon-color;
                }

                &.emptyrecord {
                    padding: 10px;
                }

                &.e-active {
                    background: $grid-active-color;
                    color: $grid-content-bg;

                    a {
                        color: $grid-content-bg;
                    }

                    .grid-directory-icon {
                        color: $admin-page-bg;
                    }
                }
            }
        }

        tr {
            a.delete-user, .delete-permission, .delete-group-permission, .permission-delete, .remove-group-access, .delete-admin-permission {
                display: none !important;
            }

            &.e-hover {
                a.delete-user, .delete-permission, .delete-group-permission, .permission-delete, .remove-group-access, .delete-admin-permission {
                    color: $validation-text-color !important;
                    display: inline-block !important;
                    font-weight: 400;

                    .su {
                        font-size: $app-text-size;
                    }

                    .su-close {
                        color: $validation-text-color;
                        font-size: $app-text-size - 2;
                    }
                }
            }
        }
    }

    .e-pager {
        background: $grid-footer-bg;
        border-color: $grid-border-color;
        color: $grid-link-color;
        display: table;
        height: 40px;

        .e-pagercontainer, .e-parentmsgbar {
            display: table-cell;
            vertical-align: middle;
        }

        .e-pagercontainer {
            background: $grid-footer-bg;
            border: none;

            .e-icon, .e-link {
                background: transparent;
                border: none;
                float: left;
                font-size: $app-text-size;
            }

            .e-icon {
                font-family: "Server" !important;
                font-size: $icon-size + 1;
                margin-top: -4px;
            }

            .e-mediaback:before {
                content: $su-angle-double-left;
            }

            .e-mediaforward:before {
                content: $su-angle-double-right;
            }

            .e-arrowheadleft-2x:before {
                content: $su-angle-left;
            }

            .e-arrowheadright-2x:before {
                content: $su-angle-right;
            }

            .e-numericcontainer {
                float: left;
                margin-top: 2px;

                .e-link {
                    background: transparent;
                    color: $primary-color;
                }

                .e-currentitem {
                    color: $sub-text-color;
                }
            }
        }

        .e-parentmsgbar {
            color: $sub-text-color;
            font-size: $app-text-size;
            float: none;
            padding-top: 0;
        }
    }

    .e-dialog-wrap[id$='_stringDlg_wrapper'] {
        border-radius: 4px;

        .e-dlgcontainer {
            font-family: var(--font-family) !important;

            .e-select {
                border-left: 0;

                &:hover {
                    background: $primary-color;

                    .e-icon {
                        color: $primary-btn-text-color;
                    }
                }
            }

            .e-input, .e-caption {
                font-size: $app-text-size;
            }

            .e-input {
                border-radius: 4px;
            }

            .e-dlgBtns {
                .e-filter {
                    @include button();
                    min-width: $filter-btn-min-width;
                }

                .e-clear {
                    @include button($secondary-btn-bg, $secondary-btn-text-color, $secondary-btn-hover);
                    border: 1px solid $secondary-btn-border;
                    min-width: $filter-btn-min-width;
                }
            }
        }
    }

    .e-excelfilter {
        .e-menu-wrap {
            .e-menu {
                li {
                    &:hover, &.e-mhover {
                        background: $grid-hover-color;

                        .e-menulink {
                            background: transparent;
                        }
                    }

                    &.e-active {
                        background: $primary-color;

                        .e-menulink {
                            background: transparent;
                        }
                    }

                    &.e-separator {
                        background: transparent;
                        border-bottom-color: $grid-border-color !important;
                    }
                }
            }
        }

        .e-btncontainer {
            margin-left: 34px;
            width: 100%;

            input {
                min-width: 60px !important;
            }

            input[id$='_OkBtn'] {
                @include button();
            }

            input[id$='_CancelBtn'] {
                @include button($secondary-btn-bg, $secondary-btn-text-color, $secondary-btn-hover);
                border: 1px solid $secondary-btn-border;
            }
        }
    }
}

.items-mobile-grid {
    padding: 10px;

    .e-grid {
        border-color: $grid-border-color;
        border-radius: 4px;

        .e-gridcontent {
            border-radius: 0px 0px 4px 4px;
            overflow: visible;
            position: relative;

            .emptyrecord {
                text-align: center;
            }

            .e-content {
                position: relative;

                .card-field {
                    padding-right: 18px !important;
                }
            }

            .card-table {
                width: 100%;

                .card-field {
                    padding: 5px 0px 5px 10px;
                    text-align: left;
                }

                .card-header {
                    color: $sub-text-color;
                    Padding: 0;
                    text-align: right;
                }
            }

            .dropdown {
                position: absolute;

                .dropdown-menu {
                    left: auto !important;
                    right: -8px;
                    width: 180px !important;

                    hr {
                        margin: 5px;
                    }
                }
            }

            .details {
                padding: 0;
            }

            tr {
                td {
                    padding-left: 0px;
                }
            }

            .e-table {
                td:first-child {
                    padding: 0px;

                    .status {
                        height: 35px;
                        width: 5px;
                    }

                    .active {
                        background-color: $active-schedule-icon-color;
                    }

                    .inactive {
                        background-color: $inactive-schedule-icon-color;
                    }

                    .completed {
                        background-color: $completed-schedule-icon-color;
                    }
                }

                .e-rowcell {
                    border-color: $grid-border-color;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    .su {
                        color: $sub-text-color;
                        padding: 5px;
                    }

                    .su-vertical-expand {
                        font-size: 8px;
                    }
                }
            }
        }

        .e-gridheader {
            display: none;
        }

        .e-gridtoolbar {
            background: $grid-header-bg;
            border-color: $grid-border-color;
            border-radius: 4px;

            .e-horizontal {
                border-bottom: 1px solid $grid-border-color;
                width: 100%;
            }

            #items_expand-temp, #scheduleGrid_expand-temp {
                background: transparent;
                border: none;
                padding-top: 8px;

                .collapse-all, .expand-all {
                    padding: 10px;
                }
            }

            #items_search-temp, #scheduleGrid_search-temp {
                background-color: transparent;
                border: none;
                float: right;
                padding-right: 5px;

                a {
                    padding: 10px;
                }

                .remove-background {
                    border: none;
                    background-color: transparent;
                }

                #clear-search {
                    height: 25px;
                    padding-top: 5px;
                }

                #search-items, #search-schedules {
                    height: 25px;
                    width: 150px;
                }

                .search-item {
                    height: 25px;
                    padding-top: 5px;
                }

                ::-webkit-input-placeholder {
                    color: $AuthorColor;
                }

                :-moz-placeholder {
                    color: $AuthorColor;
                    opacity: 1;
                }

                ::-moz-placeholder {
                    color: $AuthorColor;
                    opacity: 1;
                }

                :-ms-input-placeholder {
                    color: $AuthorColor;
                }
            }
        }

        .e-pagerstatusbar {
            display: none !important;
        }
    }

    .e-scrollbar.e-vscrollbar {
        width: 8px !important;

        .e-vscroll {
            border: none;
            float: right;
            vertical-align: top;
            width: inherit;

            .e-vup, .e-vdown {
                display: none !important;
            }

            .e-vhandlespace {
                .e-vhandle {
                    -moz-border-radius: 4px;
                    -webkit-border-radius: 4px;
                    border-radius: 4px;
                    border-bottom: 1px solid;
                    border-top: 1px solid;
                }
            }

            .e-icon {
                width: 100% !important;
                position: relative;
            }
        }
    }

    .e-scrollbar.e-hscrollbar {
        width: 8px !important;

        .e-hscroll {
            border: none;

            .e-hup, .e-hdown {
                display: none !important;
            }

            .e-hhandlespace {
                .e-hhandle {
                    -moz-border-radius: 4px;
                    -webkit-border-radius: 4px;
                    border-radius: 4px;
                    border-bottom: 1px solid;
                    border-top: 1px solid;
                }
            }
        }
    }
}

.e-ddl-popup, .e-atc-popup {
    border-color: $border-color;

    .e-ul {
        li {
            font-size: $app-text-size;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .e-hover {
        background: $grid-hover-color;
    }

    .e-active {
        background: $primary-color;
    }
}

@media screen and (min-width: 1400px) {
    .e-grid {
        .e-gridheader {
            .e-headercell {
                .e-headercelldiv, .e-headercelldiv * {
                    font-size: $app-large-text-size;
                }
            }
        }

        .e-gridcontent {
            font-size: $app-large-text-size;

            tr {
                height: $grid-row-lg-height;
            }
        }

        .e-dialog-wrap[id$='_stringDlg_wrapper'] {
            .e-dlgcontainer {
                .e-input, .e-caption {
                    font-size: $app-large-text-size;
                }
            }
        }
    }

    .e-ddl-popup, .e-atc-popup {
        .e-ul {
            li {
                font-size: $app-large-text-size;
            }
        }
    }
}

.e-toolbarTooltip {
    display: none !important;
}

#application_grid {
    .dropdown-menu {
        z-index: 997 !important;
    }
}

#application_grid {
    .dropdown {
        position: absolute;
    }

    .dropdown-menu {
        left: -172px;
        width: 190px;
    }
}