@charset "UTF-8";
@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.e-grid {
  border-color: #eeeeee; }
  .e-grid .e-gridheader {
    background: var(--background);
    border-color: #eeeeee;
    color: #808080; }
    .e-grid .e-gridheader .e-headercell {
      padding-left: 15px;
      padding-top: 5px; }
      .e-grid .e-gridheader .e-headercell .e-headercelldiv, .e-grid .e-gridheader .e-headercell .e-headercelldiv * {
        color: var(--colorText);
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis; }
  .e-grid .e-gridcontent {
    background: var(--background);
    color: var(--colorText);
    font-size: 12px; }
    .e-grid .e-gridcontent tr {
      height: 35px; }
      .e-grid .e-gridcontent tr.e-hover td {
        background: #eeeeee; }
      .e-grid .e-gridcontent tr td {
        padding-left: 15px; }
        .e-grid .e-gridcontent tr td.e-rowcell {
          padding-left: 15px;
          overflow: hidden;
          width: 100%; }
        .e-grid .e-gridcontent tr td.e-templatecell .grid-content {
          display: inline-block;
          line-height: 17px;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .e-grid .e-gridcontent tr td.e-templatecell a {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .e-grid .e-gridcontent tr td.e-rowcell, .e-grid .e-gridcontent tr td.e-templatecell {
          text-overflow: ellipsis; }
        .e-grid .e-gridcontent tr td.e-tabletd {
          padding-left: 0; }
        .e-grid .e-gridcontent tr td a {
          color: var(--colorPrimary);
          overflow: hidden;
          text-overflow: ellipsis; }
        .e-grid .e-gridcontent tr td .option-icon {
          border: 1px solid var(--background);
          border-radius: 5px;
          cursor: pointer;
          padding: 4px 2px;
          position: absolute;
          top: -12px !important; }
        .e-grid .e-gridcontent tr td .grid-directory-icon {
          padding: 0 0 0 15px;
          color: #808080; }
        .e-grid .e-gridcontent tr td.emptyrecord {
          padding: 10px; }
        .e-grid .e-gridcontent tr td.e-active {
          background: var(--colorPrimary);
          color: var(--background); }
          .e-grid .e-gridcontent tr td.e-active a {
            color: var(--background); }
          .e-grid .e-gridcontent tr td.e-active .grid-directory-icon {
            color: var(--surface); }
    .e-grid .e-gridcontent tr a.delete-user, .e-grid .e-gridcontent tr .delete-permission, .e-grid .e-gridcontent tr .delete-group-permission, .e-grid .e-gridcontent tr .permission-delete, .e-grid .e-gridcontent tr .remove-group-access, .e-grid .e-gridcontent tr .delete-admin-permission {
      display: none !important; }
    .e-grid .e-gridcontent tr.e-hover a.delete-user, .e-grid .e-gridcontent tr.e-hover .delete-permission, .e-grid .e-gridcontent tr.e-hover .delete-group-permission, .e-grid .e-gridcontent tr.e-hover .permission-delete, .e-grid .e-gridcontent tr.e-hover .remove-group-access, .e-grid .e-gridcontent tr.e-hover .delete-admin-permission {
      color: var(--danger) !important;
      display: inline-block !important;
      font-weight: 400; }
      .e-grid .e-gridcontent tr.e-hover a.delete-user .su, .e-grid .e-gridcontent tr.e-hover .delete-permission .su, .e-grid .e-gridcontent tr.e-hover .delete-group-permission .su, .e-grid .e-gridcontent tr.e-hover .permission-delete .su, .e-grid .e-gridcontent tr.e-hover .remove-group-access .su, .e-grid .e-gridcontent tr.e-hover .delete-admin-permission .su {
        font-size: 12px; }
      .e-grid .e-gridcontent tr.e-hover a.delete-user .su-close, .e-grid .e-gridcontent tr.e-hover .delete-permission .su-close, .e-grid .e-gridcontent tr.e-hover .delete-group-permission .su-close, .e-grid .e-gridcontent tr.e-hover .permission-delete .su-close, .e-grid .e-gridcontent tr.e-hover .remove-group-access .su-close, .e-grid .e-gridcontent tr.e-hover .delete-admin-permission .su-close {
        color: var(--danger);
        font-size: 10px; }
  .e-grid .e-pager {
    background: var(--background);
    border-color: #eeeeee;
    color: var(--colorPrimary);
    display: table;
    height: 40px; }
    .e-grid .e-pager .e-pagercontainer, .e-grid .e-pager .e-parentmsgbar {
      display: table-cell;
      vertical-align: middle; }
    .e-grid .e-pager .e-pagercontainer {
      background: var(--background);
      border: none; }
      .e-grid .e-pager .e-pagercontainer .e-icon, .e-grid .e-pager .e-pagercontainer .e-link {
        background: transparent;
        border: none;
        float: left;
        font-size: 12px; }
      .e-grid .e-pager .e-pagercontainer .e-icon {
        font-family: "Server" !important;
        font-size: 17px;
        margin-top: -4px; }
      .e-grid .e-pager .e-pagercontainer .e-mediaback:before {
        content: ""; }
      .e-grid .e-pager .e-pagercontainer .e-mediaforward:before {
        content: ""; }
      .e-grid .e-pager .e-pagercontainer .e-arrowheadleft-2x:before {
        content: ""; }
      .e-grid .e-pager .e-pagercontainer .e-arrowheadright-2x:before {
        content: ""; }
      .e-grid .e-pager .e-pagercontainer .e-numericcontainer {
        float: left;
        margin-top: 2px; }
        .e-grid .e-pager .e-pagercontainer .e-numericcontainer .e-link {
          background: transparent;
          color: var(--colorPrimary); }
        .e-grid .e-pager .e-pagercontainer .e-numericcontainer .e-currentitem {
          color: #808080; }
    .e-grid .e-pager .e-parentmsgbar {
      color: #808080;
      font-size: 12px;
      float: none;
      padding-top: 0; }
  .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] {
    border-radius: 4px; }
    .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer {
      font-family: var(--font-family) !important; }
      .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-select {
        border-left: 0; }
        .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-select:hover {
          background: var(--colorPrimary); }
          .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-select:hover .e-icon {
            color: #fff; }
      .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-input, .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-caption {
        font-size: 12px; }
      .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-input {
        border-radius: 4px; }
      .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-filter {
        background: var(--colorPrimary);
        border: 0;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        height: 28px;
        line-height: 28px;
        min-width: 90px;
        outline: none;
        text-align: center;
        min-width: 75px; }
        .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-filter {
          padding: 0 15px; }
        .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-filter:hover, .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-filter:focus {
          background: #007aff;
          color: #fff; }
        .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-filter:disabled {
          background: #f9f9f9;
          color: #808080;
          cursor: not-allowed; }
      .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-clear {
        background: var(--colorSecondary);
        border: 0;
        border-radius: 4px;
        color: var(--colorOnSecondary);
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        height: 28px;
        line-height: 28px;
        min-width: 90px;
        outline: none;
        text-align: center;
        border: 1px solid #eeeeee;
        min-width: 75px; }
        .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-clear {
          padding: 0 15px; }
        .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-clear:hover, .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-clear:focus {
          background: #f9f9f9;
          color: var(--colorOnSecondary); }
        .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-clear:disabled {
          background: #f9f9f9;
          color: #808080;
          cursor: not-allowed; }
  .e-grid .e-excelfilter .e-menu-wrap .e-menu li:hover, .e-grid .e-excelfilter .e-menu-wrap .e-menu li.e-mhover {
    background: #eeeeee; }
    .e-grid .e-excelfilter .e-menu-wrap .e-menu li:hover .e-menulink, .e-grid .e-excelfilter .e-menu-wrap .e-menu li.e-mhover .e-menulink {
      background: transparent; }
  .e-grid .e-excelfilter .e-menu-wrap .e-menu li.e-active {
    background: var(--colorPrimary); }
    .e-grid .e-excelfilter .e-menu-wrap .e-menu li.e-active .e-menulink {
      background: transparent; }
  .e-grid .e-excelfilter .e-menu-wrap .e-menu li.e-separator {
    background: transparent;
    border-bottom-color: #eeeeee !important; }
  .e-grid .e-excelfilter .e-btncontainer {
    margin-left: 34px;
    width: 100%; }
    .e-grid .e-excelfilter .e-btncontainer input {
      min-width: 60px !important; }
    .e-grid .e-excelfilter .e-btncontainer input[id$='_OkBtn'] {
      background: var(--colorPrimary);
      border: 0;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      height: 28px;
      line-height: 28px;
      min-width: 90px;
      outline: none;
      text-align: center; }
      .e-grid .e-excelfilter .e-btncontainer input[id$='_OkBtn'] {
        padding: 0 15px; }
      .e-grid .e-excelfilter .e-btncontainer input[id$='_OkBtn']:hover, .e-grid .e-excelfilter .e-btncontainer input[id$='_OkBtn']:focus {
        background: #007aff;
        color: #fff; }
      .e-grid .e-excelfilter .e-btncontainer input[id$='_OkBtn']:disabled {
        background: #f9f9f9;
        color: #808080;
        cursor: not-allowed; }
    .e-grid .e-excelfilter .e-btncontainer input[id$='_CancelBtn'] {
      background: var(--colorSecondary);
      border: 0;
      border-radius: 4px;
      color: var(--colorOnSecondary);
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      height: 28px;
      line-height: 28px;
      min-width: 90px;
      outline: none;
      text-align: center;
      border: 1px solid #eeeeee; }
      .e-grid .e-excelfilter .e-btncontainer input[id$='_CancelBtn'] {
        padding: 0 15px; }
      .e-grid .e-excelfilter .e-btncontainer input[id$='_CancelBtn']:hover, .e-grid .e-excelfilter .e-btncontainer input[id$='_CancelBtn']:focus {
        background: #f9f9f9;
        color: var(--colorOnSecondary); }
      .e-grid .e-excelfilter .e-btncontainer input[id$='_CancelBtn']:disabled {
        background: #f9f9f9;
        color: #808080;
        cursor: not-allowed; }

.items-mobile-grid {
  padding: 10px; }
  .items-mobile-grid .e-grid {
    border-color: #eeeeee;
    border-radius: 4px; }
    .items-mobile-grid .e-grid .e-gridcontent {
      border-radius: 0px 0px 4px 4px;
      overflow: visible;
      position: relative; }
      .items-mobile-grid .e-grid .e-gridcontent .emptyrecord {
        text-align: center; }
      .items-mobile-grid .e-grid .e-gridcontent .e-content {
        position: relative; }
        .items-mobile-grid .e-grid .e-gridcontent .e-content .card-field {
          padding-right: 18px !important; }
      .items-mobile-grid .e-grid .e-gridcontent .card-table {
        width: 100%; }
        .items-mobile-grid .e-grid .e-gridcontent .card-table .card-field {
          padding: 5px 0px 5px 10px;
          text-align: left; }
        .items-mobile-grid .e-grid .e-gridcontent .card-table .card-header {
          color: #808080;
          Padding: 0;
          text-align: right; }
      .items-mobile-grid .e-grid .e-gridcontent .dropdown {
        position: absolute; }
        .items-mobile-grid .e-grid .e-gridcontent .dropdown .dropdown-menu {
          left: auto !important;
          right: -8px;
          width: 180px !important; }
          .items-mobile-grid .e-grid .e-gridcontent .dropdown .dropdown-menu hr {
            margin: 5px; }
      .items-mobile-grid .e-grid .e-gridcontent .details {
        padding: 0; }
      .items-mobile-grid .e-grid .e-gridcontent tr td {
        padding-left: 0px; }
      .items-mobile-grid .e-grid .e-gridcontent .e-table td:first-child {
        padding: 0px; }
        .items-mobile-grid .e-grid .e-gridcontent .e-table td:first-child .status {
          height: 35px;
          width: 5px; }
        .items-mobile-grid .e-grid .e-gridcontent .e-table td:first-child .active {
          background-color: var(--success); }
        .items-mobile-grid .e-grid .e-gridcontent .e-table td:first-child .inactive {
          background-color: var(--danger); }
        .items-mobile-grid .e-grid .e-gridcontent .e-table td:first-child .completed {
          background-color: #ff9503; }
      .items-mobile-grid .e-grid .e-gridcontent .e-table .e-rowcell {
        border-color: #eeeeee;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .items-mobile-grid .e-grid .e-gridcontent .e-table .e-rowcell .su {
          color: #808080;
          padding: 5px; }
        .items-mobile-grid .e-grid .e-gridcontent .e-table .e-rowcell .su-vertical-expand {
          font-size: 8px; }
    .items-mobile-grid .e-grid .e-gridheader {
      display: none; }
    .items-mobile-grid .e-grid .e-gridtoolbar {
      background: var(--background);
      border-color: #eeeeee;
      border-radius: 4px; }
      .items-mobile-grid .e-grid .e-gridtoolbar .e-horizontal {
        border-bottom: 1px solid #eeeeee;
        width: 100%; }
      .items-mobile-grid .e-grid .e-gridtoolbar #items_expand-temp, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_expand-temp {
        background: transparent;
        border: none;
        padding-top: 8px; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_expand-temp .collapse-all, .items-mobile-grid .e-grid .e-gridtoolbar #items_expand-temp .expand-all, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_expand-temp .collapse-all, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_expand-temp .expand-all {
          padding: 10px; }
      .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp {
        background-color: transparent;
        border: none;
        float: right;
        padding-right: 5px; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp a, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp a {
          padding: 10px; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp .remove-background, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp .remove-background {
          border: none;
          background-color: transparent; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp #clear-search, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp #clear-search {
          height: 25px;
          padding-top: 5px; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp #search-items, .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp #search-schedules, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp #search-items, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp #search-schedules {
          height: 25px;
          width: 150px; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp .search-item, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp .search-item {
          height: 25px;
          padding-top: 5px; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp ::-webkit-input-placeholder, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp ::-webkit-input-placeholder {
          color: #b3b3b3; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp :-moz-placeholder, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp :-moz-placeholder {
          color: #b3b3b3;
          opacity: 1; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp ::-moz-placeholder, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp ::-moz-placeholder {
          color: #b3b3b3;
          opacity: 1; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp :-ms-input-placeholder, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp :-ms-input-placeholder {
          color: #b3b3b3; }
    .items-mobile-grid .e-grid .e-pagerstatusbar {
      display: none !important; }
  .items-mobile-grid .e-scrollbar.e-vscrollbar {
    width: 8px !important; }
    .items-mobile-grid .e-scrollbar.e-vscrollbar .e-vscroll {
      border: none;
      float: right;
      vertical-align: top;
      width: inherit; }
      .items-mobile-grid .e-scrollbar.e-vscrollbar .e-vscroll .e-vup, .items-mobile-grid .e-scrollbar.e-vscrollbar .e-vscroll .e-vdown {
        display: none !important; }
      .items-mobile-grid .e-scrollbar.e-vscrollbar .e-vscroll .e-vhandlespace .e-vhandle {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border-bottom: 1px solid;
        border-top: 1px solid; }
      .items-mobile-grid .e-scrollbar.e-vscrollbar .e-vscroll .e-icon {
        width: 100% !important;
        position: relative; }
  .items-mobile-grid .e-scrollbar.e-hscrollbar {
    width: 8px !important; }
    .items-mobile-grid .e-scrollbar.e-hscrollbar .e-hscroll {
      border: none; }
      .items-mobile-grid .e-scrollbar.e-hscrollbar .e-hscroll .e-hup, .items-mobile-grid .e-scrollbar.e-hscrollbar .e-hscroll .e-hdown {
        display: none !important; }
      .items-mobile-grid .e-scrollbar.e-hscrollbar .e-hscroll .e-hhandlespace .e-hhandle {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border-bottom: 1px solid;
        border-top: 1px solid; }

.e-ddl-popup, .e-atc-popup {
  border-color: #cccccc; }
  .e-ddl-popup .e-ul li, .e-atc-popup .e-ul li {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .e-ddl-popup .e-hover, .e-atc-popup .e-hover {
    background: #eeeeee; }
  .e-ddl-popup .e-active, .e-atc-popup .e-active {
    background: var(--colorPrimary); }

@media screen and (min-width: 1400px) {
  .e-grid .e-gridheader .e-headercell .e-headercelldiv, .e-grid .e-gridheader .e-headercell .e-headercelldiv * {
    font-size: 14px; }
  .e-grid .e-gridcontent {
    font-size: 14px; }
    .e-grid .e-gridcontent tr {
      height: 40px; }
  .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-input, .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-caption {
    font-size: 14px; }
  .e-ddl-popup .e-ul li, .e-atc-popup .e-ul li {
    font-size: 14px; } }

.e-toolbarTooltip {
  display: none !important; }

#application_grid .dropdown-menu {
  z-index: 997 !important; }

#application_grid .dropdown {
  position: absolute; }

#application_grid .dropdown-menu {
  left: -172px;
  width: 190px; }
