@import "mixins.scss";
@import "variables/fontsize.scss";

#manage-account-base-div {
    margin-top: 0px;

    .manage-account-header {
        .header {
            padding-top: 8px !important;
        }
    }

    #user-account-master {
        label {
            font-weight: 400;
        }

        #manage-account-heading-div {
            border-bottom: 1px solid $profile-border-color;
            float: left;
            margin: 0 0 15px 0;
            padding: 0 0 10px 0;

            .section-heading {
                font-size: $app-large-text-size;
                font-weight: 500;
            }
        }

        .user-account-section {
            background-color: $admin-page-bg;
            margin: 0 0 10px 0 !important;
            padding-bottom: 20px;

            #prepare-my-download, #close-my-account {
                border: 0.5px solid #ddd;
                border-radius: 2px;
                float: left;
                height: 120px;
                margin: 20px;
                cursor: pointer;
                text-align: center;
                width: 180px;
                font-size: 12px;

                .su {
                    margin: 22px 0px 12px;
                    font-size: 50px;
                    color: #555;
                }
            }
        }
    }
}

#download-data-action-popup_wrapper {
    overflow: hidden;

    .e-dialog-scroller {
        border-color: white;
        overflow: hidden;
    }
}

#download-data-action-popup {
    overflow: hidden;

    #download-data-container {
        .dialog-header {
            height: 40px;
        }

        .dialog-footer {
            bottom: 0;
            position: absolute;
        }

        .PopupTitle {
            font-size: $app-text-size + 2;
        }

        .dialog-body {

            .text-label {
                font-size: $app-text-size;
                margin: 10px 0px 10px 0px;
            }

            #download-data-password-section {
                margin: 10px 0px 10px 0px;

                #download-data-password {
                    height: 34px;
                    width: 150px;
                    float: left;
                    margin-left: 30px;
                    border-radius: 4px 0px 0px 4px;
                }

                #copy-password {
                    cursor: pointer;
                    border-radius: 0 4px 4px 0;
                    float: left;
                    border-left: medium none;
                    padding-left: 6px;
                    padding-top: 10px;
                    font-size: 16px;
                    width: 13%;
                }

                #copy-password.focusdiv {
                    box-shadow: 0 0 2px 0 $focus;
                    -moz-box-shadow: 0 0 2px 0 $focus;
                    -webkit-box-shadow: 0 0 2px 0 $focus;
                    border-top: 1px solid $focus;
                    border-right: 1px solid $focus;
                    border-bottom: 1px solid $focus;
                }
            }
        }

        .bottom-padding {
            padding-bottom: 10px;
        }

        .top-padding {
            padding-top: 15px !important;
        }
    }
}
