@import "mixins.scss";

body {
    .notification-content-container-partial {
        #scroll-element {
            .e-vup, .e-vdown {
                display: none;
            }
        }

        .notification-list-ul {
            padding-left: 0;

            li {
                border-bottom: 1px solid $notification;
                float: left;
                list-style: none;
                padding-bottom: 10px;

                p {
                    padding-top: 10px;

                    .notification-picture-menu {
                        float: left;
                        width: 15%;

                        img {
                            margin-left: 10px;
                            margin-top: 6px;
                        }
                    }

                    .notification-text-content {
                        float: left;
                        font-size: $app-large-text-size;
                        width: 85%;

                        a {
                            color: $primary-color;
                            text-decoration: none;
                        }
                    }
                }

                .time-option {
                    color: $header-bg;
                    float: left;
                    font-size: $info-large-text-size;
                    margin-left: 55px;
                }
            }

            li:last-child {
                margin-bottom: 10px;
            }
        }

        .additional-content {
            text-align: center;

            #action-btn {
                color: $primary-color;
                cursor: pointer;
                width: 100%;
            }
        }
    }
}

.e-waitpopup-pane .e-image {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: block;
    height: 30px;
    margin: 0 auto;
    position: relative;
    width: 30px;
}

.e-waitpopup-pane .e-image {
    background-color: $secondary-btn-bg;
    background-image: url("/content/styles/essentialjs/images/waitingpopup_small.gif");
}

.e-scrollbar .e-vhandle, .e-scrollbar .e-hhandle, .e-scrollbar .e-button {
    border-radius: 10px;
    background-color: $profile-border-color;
}