@import "../themes/default.scss";
@import "variables/fontsize.scss";

ul#password_policy_rules {
    font-size: $app-text-size -2;
    color: $validation-text-color;
    list-style-type: none;
    padding: 0;
    white-space: nowrap;
}

#password_policy_rules #p_policy_heading {
    color: $primary-text-color;
    padding-bottom: 10px;
}

#password-policy-rules {
    #p_policy_length {
        margin-left: 47px;
    }

    #p_policy_uppercase, #p_policy_lowercase {
        margin-right: -5px;
    }

    #p_policy_number {
        margin-right: 4px;
    }

    #p_policy_specialcharacter {
        margin-right: -44px;
    }

    li {
        span {
            font-size: $app-text-size -2 !important;
            padding-right: 10px !important;
        }
    }
}

.clear-error {
    color: $success-text-color;
}

ul#password_policy_rules {
    li span.su-password-tick {
        color: $success-text-color !important;
        font-size: 15px;
    }
}

ul#password_policy_rules {

    li span.su-tick {
        color: $success-text-color !important;
        margin-right: 10px;
    }
}

li span.su-close {
    color: $validation-text-color;
    margin-right: 10px;
}

@media (max-width: 989px) {
    ul#password_policy_rules {
        margin: 0 !important;
        padding-bottom: 35px;
    }
}

@media (max-width: 410px) {
    ul#password_policy_rules {
        #p_policy_heading {
            white-space: normal;
        }
    }
}

@media screen and (min-width: 1400px) {
    ul#password_policy_rules {
        font-size: $app-text-size;
    }
}
