@import "../themes/default.scss";

.su-error {
    cursor: pointer;
    color: $validation-text-color;
    display: none;
    position: absolute;
    right: 30px;
    top: 19px;
}

.check-div {
    width: 0px;
    position: relative;
    float: left;
}