@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

#profile-menu-nav-bar {
  background: #f9f9f9;
  border-right: 1px solid #cccccc;
  float: left;
  height: 100vh;
  padding: 18px 13px;
  width: 230px;
  overflow-x: hidden;
  overflow-y: auto; }
  #profile-menu-nav-bar ul {
    height: auto;
    list-style: none;
    padding: 0; }
    #profile-menu-nav-bar ul li {
      cursor: pointer;
      display: inline-block;
      height: 36px;
      margin-bottom: 8px;
      position: relative;
      width: 204px; }
      #profile-menu-nav-bar ul li a {
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
        height: inherit;
        overflow: hidden;
        outline: none;
        padding: 0 15px;
        position: relative;
        width: 204px; }
        #profile-menu-nav-bar ul li a i {
          font-size: 16px;
          padding-right: 6px; }
      #profile-menu-nav-bar ul li:hover {
        background: #eeeeee;
        border-radius: 4px;
        left: 0;
        right: 0; }
      #profile-menu-nav-bar ul li.active {
        background: #dbe9ff;
        border-radius: 4px; }
        #profile-menu-nav-bar ul li.active a span, #profile-menu-nav-bar ul li.active a i {
          color: var(--colorPrimary);
          font-weight: 700;
          letter-spacing: 0.3px;
          line-height: 36px;
          vertical-align: middle; }
  #profile-menu-nav-bar .header {
    color: #333333;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.24px;
    line-height: 18px;
    margin-top: 0px;
    width: 50px; }
    #profile-menu-nav-bar .header::after {
      background: var(--colorPrimary);
      bottom: 0;
      border: 2px solid var(--colorPrimary);
      border-radius: 4px;
      content: "";
      display: block;
      height: 1px;
      margin-top: 4px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
  #profile-menu-nav-bar .admin-menu-item a span, #profile-menu-nav-bar .admin-menu-item a i {
    color: #333333;
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 36px;
    vertical-align: middle; }

#server-app-container #content-area {
  height: 100%; }

#server-app-container .admin-page-content-container {
  background: var(--surface);
  height: 100%;
  overflow: auto;
  padding: 0;
  position: relative;
  width: calc(100% - 230px); }
  #server-app-container .admin-page-content-container .admin-page-content {
    min-height: calc(100% - 95px); }
    #server-app-container .admin-page-content-container .admin-page-content .info-message {
      margin-top: 6px;
      line-height: 18px;
      color: #808080;
      letter-spacing: 0.26px;
      font-size: 12px;
      width: 450px; }
    #server-app-container .admin-page-content-container .admin-page-content .admin-page-header {
      background: var(--background);
      padding: 32px 24px; }
      #server-app-container .admin-page-content-container .admin-page-content .admin-page-header .page-title {
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        margin: 0px; }
    #server-app-container .admin-page-content-container .admin-page-content .admin-page-body {
      padding: 24px 24px 0px 24px;
      font-size: 12px;
      border-top: 1px solid #e6e6e6; }
      #server-app-container .admin-page-content-container .admin-page-content .admin-page-body .input-field-margin {
        margin-top: 16px; }
      #server-app-container .admin-page-content-container .admin-page-content .admin-page-body .validation-errors, #server-app-container .admin-page-content-container .admin-page-content .admin-page-body .validation-message {
        color: var(--danger);
        font-size: 12px; }
      #server-app-container .admin-page-content-container .admin-page-content .admin-page-body .e-input-group {
        width: 450px;
        height: 28px; }
      #server-app-container .admin-page-content-container .admin-page-content .admin-page-body .sub-title {
        font-size: 14px;
        font-weight: bold;
        line-height: 21px;
        margin: 32px 0px 12px 0px;
        padding: 0; }
      #server-app-container .admin-page-content-container .admin-page-content .admin-page-body .sub-section-heading {
        font-size: 14px;
        font-weight: bold;
        line-height: 21px;
        margin: 0 0 12px 0;
        padding: 0; }
      #server-app-container .admin-page-content-container .admin-page-content .admin-page-body .app-textbox-label {
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        font-size: 12px;
        text-align: left;
        margin-bottom: 8px;
        letter-spacing: 0.3px;
        padding: 0; }
      #server-app-container .admin-page-content-container .admin-page-content .admin-page-body .admin-settings-drop-down {
        width: 450px !important; }
        #server-app-container .admin-page-content-container .admin-page-content .admin-page-body .admin-settings-drop-down .btn-group {
          height: 28px; }
        #server-app-container .admin-page-content-container .admin-page-content .admin-page-body .admin-settings-drop-down button {
          font-size: 12px !important;
          height: 28px !important;
          padding: 5px 8px; }
    #server-app-container .admin-page-content-container .admin-page-content .admin-page-footer {
      padding: 0px 24px; }
      #server-app-container .admin-page-content-container .admin-page-content .admin-page-footer .admin-page-actions {
        border-top: 1px solid #e6e6e6;
        padding: 32px 0 0 0; }
        #server-app-container .admin-page-content-container .admin-page-content .admin-page-footer .admin-page-actions .secondary-button, #server-app-container .admin-page-content-container .admin-page-content .admin-page-footer .admin-page-actions .primary-button {
          margin-left: 15px; }
  #server-app-container .admin-page-content-container #base-footer-div {
    margin: 0;
    padding: 52px 24px 24px 24px; }
  #server-app-container .admin-page-content-container #is-aduser, #server-app-container .admin-page-content-container #logged-user {
    display: none; }
  #server-app-container .admin-page-content-container .admin-page-body .app-textbox-label {
    font-weight: bold !important; }
  #server-app-container .admin-page-content-container .admin-page-body .display-name {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 18px;
    padding-left: 12px;
    margin-top: 23px; }
  #server-app-container .admin-page-content-container .admin-page-body .profile-img-name {
    border-bottom: 1px solid #e6e6e6; }
    #server-app-container .admin-page-content-container .admin-page-body .profile-img-name .edit-section {
      margin-top: 25px; }
    #server-app-container .admin-page-content-container .admin-page-body .profile-img-name #edit-button {
      margin: 0 24px; }
  #server-app-container .admin-page-content-container .admin-page-body .img-view-holder {
    border-radius: 2px;
    float: left;
    height: 120px;
    margin-bottom: 20px;
    text-align: center;
    padding-right: 40px;
    width: 120px; }
    #server-app-container .admin-page-content-container .admin-page-body .img-view-holder .profile-pic-tag {
      color: var(--colorText);
      display: inline-block;
      font-size: 10px;
      font-weight: 900;
      letter-spacing: 2px;
      position: relative;
      text-align: center;
      border-radius: 50%; }
    #server-app-container .admin-page-content-container .admin-page-body .img-view-holder #user-profile-picture {
      border-radius: 2px;
      height: 110px;
      margin: 4px 0 0 -11px;
      width: 110px; }
    #server-app-container .admin-page-content-container .admin-page-body .img-view-holder .user-profile-picture {
      background: var(--colorText);
      opacity: 0.3;
      position: relative; }
    #server-app-container .admin-page-content-container .admin-page-body .img-view-holder .profile-picture-edit-button {
      background: var(--colorText) none repeat scroll 0% 0%;
      border-radius: 13px;
      color: #fff;
      cursor: pointer;
      display: inline;
      height: 25px;
      padding: 5px;
      position: absolute;
      top: 86px;
      width: 25px; }
    #server-app-container .admin-page-content-container .admin-page-body .img-view-holder #avatar-button-click {
      left: -9px;
      top: 48px; }
    #server-app-container .admin-page-content-container .admin-page-body .img-view-holder #avatar-delete-click {
      left: 107px;
      top: 48px; }
  #server-app-container .admin-page-content-container .admin-page-body #profile-details {
    margin-top: 20px;
    margin-left: 10px;
    width: 750px; }
    #server-app-container .admin-page-content-container .admin-page-body #profile-details form {
      display: table;
      width: 60%; }
      #server-app-container .admin-page-content-container .admin-page-body #profile-details form div.form-element-label {
        display: table-row;
        width: 100%; }
        #server-app-container .admin-page-content-container .admin-page-body #profile-details form div.form-element-label .tooltip .tooltip-inner {
          max-width: unset; }
        #server-app-container .admin-page-content-container .admin-page-body #profile-details form div.form-element-label label, #server-app-container .admin-page-content-container .admin-page-body #profile-details form div.form-element-label .no-edit, #server-app-container .admin-page-content-container .admin-page-body #profile-details form div.form-element-label #user-email {
          display: table-cell;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 0.3px;
          line-height: 20px;
          padding-bottom: 20px; }
        #server-app-container .admin-page-content-container .admin-page-body #profile-details form div.form-element-label .input-field-div {
          margin-left: 38px; }
        #server-app-container .admin-page-content-container .admin-page-body #profile-details form div.form-element-label label {
          color: #808080;
          width: 75px; }
        #server-app-container .admin-page-content-container .admin-page-body #profile-details form div.form-element-label .no-edit, #server-app-container .admin-page-content-container .admin-page-body #profile-details form div.form-element-label #user-email {
          font-weight: bold;
          border: 0;
          width: 100%; }
        #server-app-container .admin-page-content-container .admin-page-body #profile-details form div.form-element-label #user-email {
          text-overflow: ellipsis; }
        #server-app-container .admin-page-content-container .admin-page-body #profile-details form div.form-element-label .form-control {
          height: 28px;
          margin-bottom: 4px;
          margin-top: 4px;
          font-size: 12px;
          display: inline-block; }
        #server-app-container .admin-page-content-container .admin-page-body #profile-details form div.form-element-label .validation-message {
          padding-top: 6px; }
  #server-app-container .admin-page-content-container #azure-user-info {
    margin-top: 24px;
    margin-bottom: 24px;
    width: auto;
    border-radius: 4px;
    line-height: 18px;
    letter-spacing: 0.26px;
    font-size: 12px;
    padding: 12px;
    background-color: #fff8ee;
    border: 1px solid #ffebcf; }
  #server-app-container .admin-page-content-container .mandatory, #server-app-container .admin-page-content-container #cancel-button, #server-app-container .admin-page-content-container #save-button, #server-app-container .admin-page-content-container #language-cancel-link-button {
    display: none; }
  #server-app-container .admin-page-content-container #edit-profile-base-div .admin-page-footer {
    display: none; }

#avatar-upload-box .e-dlg-content {
  padding: 0px !important;
  overflow: hidden; }

#avatar-upload-box .image-path {
  margin: 23.5px 24px 16px 24px;
  width: 200px;
  height: 100px; }
  #avatar-upload-box .image-path .e-upload::before {
    display: none; }
  #avatar-upload-box .image-path .form-control {
    height: 28px; }
  #avatar-upload-box .image-path #image-path {
    border-right: none;
    cursor: pointer;
    font-size: 12px; }
  #avatar-upload-box .image-path #upload-picture {
    border: 1px solid #cccccc;
    line-height: 0;
    height: 25px !important;
    padding: 0 !important;
    width: 60px !important; }
    #avatar-upload-box .image-path #upload-picture .e-selectpart {
      border: 0;
      height: 25px; }
      #avatar-upload-box .image-path #upload-picture .e-selectpart .e-inputbtn {
        background: var(--surface);
        color: #333333;
        font-size: 12px;
        font-weight: bolder; }
        #avatar-upload-box .image-path #upload-picture .e-selectpart .e-inputbtn:hover {
          background: var(--background); }

#avatar-upload-box .image-message {
  bottom: 165px;
  float: left;
  font-size: 12px;
  position: absolute;
  margin-left: 25px;
  color: var(--danger); }

#avatar-upload-box .image-selection-holder {
  border: 1px solid #cccccc;
  float: right;
  overflow: hidden;
  margin: 24px 24px 39px 24px;
  bottom: 140px;
  position: relative;
  width: 202px;
  height: 202px;
  border-radius: 4px; }
  #avatar-upload-box .image-selection-holder .image-div {
    text-align: center; }
  #avatar-upload-box .image-selection-holder .img-container {
    overflow: hidden;
    text-align: center;
    width: 200px; }
    #avatar-upload-box .image-selection-holder .img-container #image-preview-text {
      font-size: 12px;
      font-weight: 600;
      margin: 93px 59px;
      width: 82px;
      height: 14px;
      line-height: 14px; }
    #avatar-upload-box .image-selection-holder .img-container #profile-picture {
      background-repeat: no-repeat;
      height: 200px;
      max-width: 100%;
      width: 200px; }
    #avatar-upload-box .image-selection-holder .img-container .jcrop-active {
      height: 200px !important;
      width: 200px !important; }
    #avatar-upload-box .image-selection-holder .img-container .custom-shade {
      height: 100%;
      left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      width: 100%; }
    #avatar-upload-box .image-selection-holder .img-container .jcrop-circle-demo .jcrop-box {
      background-image: none !important;
      border: 1px solid rgba(255, 255, 255, 0.4);
      box-shadow: 1px 1px 26px #000000;
      height: 100%;
      left: 0;
      opacity: 0.5 !important;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%; }

#avatar-upload-box #file-description {
  width: 200px;
  color: #808080;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.3px !important; }
  #avatar-upload-box #file-description #file-description-content ul .content {
    margin: 0 24px 4px 0;
    width: 200px; }
  #avatar-upload-box #file-description #file-description-content ul .last {
    margin-bottom: 25px; }

#messageBox {
  display: block; }
