@import "mixins.scss";

#profile-menu-nav-bar {
    @include navmenu();
}

#server-app-container {
    #content-area {
        height: 100%;
    }

    .admin-page-content-container {
        @include admin-page-template_new();

        #is-aduser, #logged-user {
            display: none;
        }

        .admin-page-body {
            .app-textbox-label {
                font-weight: bold !important;
            }

            .display-name {
                font-size: $app-large-text-size + 4;
                font-weight: bold;
                letter-spacing: 0.5px;
                line-height: 18px;
                padding-left: 12px;
                margin-top: 23px;
            }

            .profile-img-name {
                border-bottom: 1px solid $grey-100;

                .edit-section {
                    margin-top: 25px;
                }

                #edit-button {
                    margin: 0 24px;
                }
            }

            .img-view-holder {
                border-radius: 2px;
                float: left;
                height: 120px;
                margin-bottom: 20px;
                text-align: center;
                padding-right: 40px;
                width: 120px;

                .profile-pic-tag {
                    color: $primary-text-color;
                    display: inline-block;
                    font-size: 10px;
                    font-weight: 900;
                    letter-spacing: 2px;
                    position: relative;
                    text-align: center;
                    border-radius: 50%;
                }

                #user-profile-picture {
                    border-radius: 2px;
                    height: 110px;
                    margin: 4px 0 0 -11px;
                    width: 110px;
                }

                .user-profile-picture {
                    background: $primary-text-color;
                    opacity: 0.3;
                    position: relative;
                }

                .profile-picture-edit-button {
                    background: $primary-text-color none repeat scroll 0% 0%;
                    border-radius: 13px;
                    color: $primary-btn-text-color;
                    cursor: pointer;
                    display: inline;
                    height: 25px;
                    padding: 5px;
                    position: absolute;
                    top: 86px;
                    width: 25px;
                }

                #avatar-button-click {
                    left: -9px;
                    top: 48px;
                }

                #avatar-delete-click {
                    left: 107px;
                    top: 48px;
                }
            }

            #profile-details {
                margin-top: 20px;
                margin-left: 10px;
                width: 750px;

                form {
                    display: table;
                    width: 60%;

                    div.form-element-label {
                        display: table-row;
                        width: 100%;

                        .tooltip {
                            .tooltip-inner {
                                max-width: unset;
                            }
                        }

                        label, .no-edit, #user-email {
                            display: table-cell;
                            font-size: $app-text-size + 1;
                            font-weight: 400;
                            letter-spacing: 0.3px;
                            line-height: 20px;
                            padding-bottom: 20px;
                        }

                        .input-field-div {
                            margin-left: 38px;
                        }

                        label {
                            color: $grey-500;
                            width: 75px;
                        }

                        .no-edit, #user-email {
                            font-weight: bold;
                            border: 0;
                            width: 100%;
                        }

                        #user-email {
                            text-overflow: ellipsis;
                        }

                        .form-control {
                            height: 28px;
                            margin-bottom: 4px;
                            margin-top: 4px;
                            font-size: 12px;
                            display: inline-block;
                        }

                        .validation-message {
                            padding-top: 6px;
                        }
                    }
                }
            }
        }

        #azure-user-info {
            margin-top: 24px;
            margin-bottom: 24px;
            width: auto;
            border-radius: 4px;
            line-height: 18px;
            letter-spacing: 0.26px;
            font-size: $app-text-size;
            padding: 12px;
            background-color: $embed-warning-bg-normal-color;
            border: 1px solid $embed-warning-border-normal-color;
        }

        .mandatory, #cancel-button, #save-button, #language-cancel-link-button {
            display: none;
        }

        & #edit-profile-base-div {
            .admin-page-footer {
                display: none;
            }
        }
    }
}

#avatar-upload-box {

    .e-dlg-content {
        padding: 0px !important;
        overflow: hidden;
    }

    .image-path {
        margin: 23.5px 24px 16px 24px;
        width: 200px;
        height: 100px;

        .e-upload::before {
            display: none;
        }

        .form-control {
            height: $textbox-height;
        }

        #image-path {
            border-right: none;
            cursor: pointer;
            font-size: $app-text-size;
        }

        #upload-picture {
            border: 1px solid $profile-border-color;
            line-height: 0;
            height: 25px !important;
            padding: 0 !important;
            width: 60px !important;

            .e-selectpart {
                border: 0;
                height: 25px;

                .e-inputbtn {
                    background: $admin-page-bg;
                    color: $header-bg;
                    font-size: $app-text-size;
                    font-weight: bolder;

                    &:hover {
                        background: $admin-container-bg;
                    }
                }
            }
        }
    }

    .image-message {
        bottom: 165px;
        float: left;
        font-size: 12px;
        position: absolute;
        margin-left: 25px;
        color: $validation-text-color;
    }

    .image-selection-holder {
        border: 1px solid $profile-border-color;
        float: right;
        overflow: hidden;
        margin: 24px 24px 39px 24px;
        bottom: 140px;
        position: relative;
        width: 202px;
        height: 202px;
        border-radius: 4px;

        .image-div {
            text-align: center;
        }

        .img-container {
            overflow: hidden;
            text-align: center;
            width: 200px;

            #image-preview-text {
                font-size: 12px;
                font-weight: 600;
                margin: 93px 59px;
                width: 82px;
                height: 14px;
                line-height: 14px;
            }

            #profile-picture {
                background-repeat: no-repeat;
                height: 200px;
                max-width: 100%;
                width: 200px;
            }

            .jcrop-active {
                height: 200px !important;
                width: 200px !important;
            }

            .custom-shade {
                height: 100%;
                left: 0;
                opacity: 1;
                position: absolute;
                top: 0;
                width: 100%;
            }

            .jcrop-circle-demo .jcrop-box {
                background-image: none !important;
                border: 1px solid rgba(255, 255, 255, 0.4);
                box-shadow: 1px 1px 26px #000000;
                height: 100%;
                left: 0;
                opacity: 0.5 !important;
                overflow: hidden;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }

    #file-description {
        width: 200px;
        color: $grey-500;
        font-size: $app-text-size;
        line-height: 18px;
        letter-spacing: 0.3px !important;

        #file-description-content {
            ul {
                .content {
                    margin: 0 24px 4px 0;
                    width: 200px;
                }

                .last {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

#messageBox {
    display: block;
}
