@import "../default/default.scss";
@import "variables/fontsize.scss";
@import "variables/elementsize.scss";
@import "../../fonts/variables.scss";

body {
    .top-nav-sec {
        float: right;
        margin-left: 20px;
        width: 88px;
    }
}

.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    float: right;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: $primary-text-color;
    cursor: pointer;

    i {
        font-size: 20px;
        color: var(--secondary-text-color);
    }

    .profile-pic-tag {
        text-align: center;
        font-weight: 900;

        #first-letter {
            font-size: 13px !important;
        }
    }
}

.help-icon-item {
    margin-right: 10px !important;
}

.dropdown-menu li.top-menu-item > span:hover {
    background: none;
}

.icon-item {
    margin: 0px;
    border-radius: 50%;
    cursor: pointer;

    &.help-icon-item:hover {
        background-color: $grey-300;

        .icon-container {
            border-radius: 4px;
            color: $nav-menu-content-text-normal-color;
            display: inline-block;
            height: 42px;
            padding: 12px;
            width: 42px;

            i {
                font-size: 20px;
                color: var(--secondary-text-color);
            }
        }
    }
}

#top-nav {
    .top-menu {
        width: 194px;
        border: 0;
        border-radius: 2px;
        cursor: default;
        left: -140px;
        list-style: none;
        padding: 0 5px;
        text-align: center;
        top: auto;
        bottom: auto;
        line-height: 20px;

        &.dropdown-menu {
            background: $drop-down-menu-bg-normal-color !important;

            li.top-menu-item {
                a {
                    &:hover {
                        background: $drop-down-menu-bg-hover-color !important;
                    }
                }
            }
        }
    }

    .help-icon-item .top-menu {
        padding: 5px;
    }

    .top-menu-item-title {
        height: 32px;
        text-align: left;
    }

    .top-menu-item {
        height: 32px;
        text-align: left;
        cursor: pointer;
        font-style: normal;
        font-stretch: normal;
        font-size: 14px;
        color: $primary-text-color;

        span {
            display: block;
        }
    }

    .sf-top-menu-separator {
        background: var(--nav-menu-separtor-icon-color);
        height: 1px;
        margin: 5px 0px;
        cursor: default;
    }

    .top-menu-item-title div, .top-menu-item span {
        padding: 5px 10px;
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.3px;
    }

    .top-menu-item-title div {
        font-weight: 600;
        letter-spacing: 0.3px;
    }

    .dropdown-menu li.top-menu-item > span:hover {
        background: none;
    }

    li.profile-section {
        .top-menu {
            font-size: 12px;
            width: 240px;
            border: 0;
            padding: 6px 10px 4px 10px;
            cursor: default;
            left: -200px;
            bottom: auto;
            top: auto;

            .top-menu-profile {
                height: auto !important;
                text-align: left;
                cursor: pointer;
                font-style: normal;
                font-stretch: normal;

                a {
                    padding: 4px 0px;
                }

                .top-menu-user-email-style {
                    color: $primary-text-color;
                }
            }

            .top-menu-item {
                font-size: 12px;
                text-align: left;
                cursor: pointer;
                font-style: normal;
                font-stretch: normal;

                span {
                    padding: 0px 10px;
                    font-size: 12px;
                }

                a {
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 20px;
                    letter-spacing: 0.3px;

                    .top-menu-profile-hover {
                        display: inline-block;
                        padding-left: 10px;

                        .top-menu-user-name {
                            float: right;
                            display: inline-block;
                            padding-left: 60px;
                            width: 200px;
                            font-weight: normal;
                            margin-top: -40px;

                            .top-menu-user-name-style, .top-menu-user-email-style {
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .top-menu-user-name-style {
                                font-size: 12px;
                            }


                            .top-menu-user-email-style {
                                font-size: 10px;
                            }
                        }
                    }
                }

                &.logout-section a {
                    font-size: 14px;
                }
            }
        }

        .top-menu-profile-text-padding {
            font-size: 10px;
            padding-left: 10px;
        }
    }
}