body .top-nav-sec {
  float: right;
  margin-left: 20px;
  width: 88px; }

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  float: right; }

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: var(--primary-text-color);
  cursor: pointer; }
  .icon-container i {
    font-size: 20px;
    color: var(--secondary-text-color); }
  .icon-container .profile-pic-tag {
    text-align: center;
    font-weight: 900; }
    .icon-container .profile-pic-tag #first-letter {
      font-size: 13px !important; }

.help-icon-item {
  margin-right: 10px !important; }

.dropdown-menu li.top-menu-item > span:hover {
  background: none; }

.icon-item {
  margin: 0px;
  border-radius: 50%;
  cursor: pointer; }
  .icon-item.help-icon-item:hover {
    background-color: var(--grey-300); }
    .icon-item.help-icon-item:hover .icon-container {
      border-radius: 4px;
      color: var(--nav-menu-text-color);
      display: inline-block;
      height: 42px;
      padding: 12px;
      width: 42px; }
      .icon-item.help-icon-item:hover .icon-container i {
        font-size: 20px;
        color: var(--secondary-text-color); }

#top-nav .top-menu {
  width: 194px;
  border: 0;
  border-radius: 2px;
  cursor: default;
  left: -140px;
  list-style: none;
  padding: 0 5px;
  text-align: center;
  top: auto;
  bottom: auto;
  line-height: 20px; }
  #top-nav .top-menu.dropdown-menu {
    background: var(--drop-down-menu-bg-normal-color) !important; }
    #top-nav .top-menu.dropdown-menu li.top-menu-item a:hover {
      background: var(--drop-down-menu-bg-hover-color) !important; }
#top-nav .help-icon-item .top-menu {
  padding: 5px; }
#top-nav .top-menu-item-title {
  height: 32px;
  text-align: left; }
#top-nav .top-menu-item {
  height: 32px;
  text-align: left;
  cursor: pointer;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: var(--primary-text-color); }
  #top-nav .top-menu-item span {
    display: block; }
#top-nav .sf-top-menu-separator {
  background: var(--nav-menu-separtor-icon-color);
  height: 1px;
  margin: 5px 0px;
  cursor: default; }
#top-nav .top-menu-item-title div, #top-nav .top-menu-item span {
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px; }
#top-nav .top-menu-item-title div {
  font-weight: 600;
  letter-spacing: 0.3px; }
#top-nav .dropdown-menu li.top-menu-item > span:hover {
  background: none; }
#top-nav li.profile-section .top-menu {
  font-size: 12px;
  width: 240px;
  border: 0;
  padding: 6px 10px 4px 10px;
  cursor: default;
  left: -200px;
  bottom: auto;
  top: auto; }
  #top-nav li.profile-section .top-menu .top-menu-profile {
    height: auto !important;
    text-align: left;
    cursor: pointer;
    font-style: normal;
    font-stretch: normal; }
    #top-nav li.profile-section .top-menu .top-menu-profile a {
      padding: 4px 0px; }
    #top-nav li.profile-section .top-menu .top-menu-profile .top-menu-user-email-style {
      color: var(--primary-text-color); }
  #top-nav li.profile-section .top-menu .top-menu-item {
    font-size: 12px;
    text-align: left;
    cursor: pointer;
    font-style: normal;
    font-stretch: normal; }
    #top-nav li.profile-section .top-menu .top-menu-item span {
      padding: 0px 10px;
      font-size: 12px; }
    #top-nav li.profile-section .top-menu .top-menu-item a {
      font-size: 12px;
      font-weight: normal;
      line-height: 20px;
      letter-spacing: 0.3px; }
      #top-nav li.profile-section .top-menu .top-menu-item a .top-menu-profile-hover {
        display: inline-block;
        padding-left: 10px; }
        #top-nav li.profile-section .top-menu .top-menu-item a .top-menu-profile-hover .top-menu-user-name {
          float: right;
          display: inline-block;
          padding-left: 60px;
          width: 200px;
          font-weight: normal;
          margin-top: -40px; }
          #top-nav li.profile-section .top-menu .top-menu-item a .top-menu-profile-hover .top-menu-user-name .top-menu-user-name-style, #top-nav li.profile-section .top-menu .top-menu-item a .top-menu-profile-hover .top-menu-user-name .top-menu-user-email-style {
            overflow: hidden;
            text-overflow: ellipsis; }
          #top-nav li.profile-section .top-menu .top-menu-item a .top-menu-profile-hover .top-menu-user-name .top-menu-user-name-style {
            font-size: 12px; }
          #top-nav li.profile-section .top-menu .top-menu-item a .top-menu-profile-hover .top-menu-user-name .top-menu-user-email-style {
            font-size: 10px; }
    #top-nav li.profile-section .top-menu .top-menu-item.logout-section a {
      font-size: 14px; }
#top-nav li.profile-section .top-menu-profile-text-padding {
  font-size: 10px;
  padding-left: 10px; }
#top-nav li.profile-section .tooltip-inner {
  word-break: break-all !important;
  white-space: pre !important;
  max-width: none !important; }
