@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

body {
  overflow: hidden !important; }

#base-container .admin-page-header #user-title #user-management-options {
  list-style: none; }
  #base-container .admin-page-header #user-title #user-management-options > li {
    display: inline-block;
    float: inherit;
    margin-left: 15px;
    padding: 0; }

#base-container .admin-page-header #user-title .dropdown .dropdown-toggle .caret {
  color: var(--colorSecondary); }

#base-container .admin-page-header #user-title .dropdown .add-user-dropdown {
  left: -119px; }

#base-container .admin-page-header #user-title .dropdown .sync-user-dropdown {
  left: -126px; }

#base-container .admin-page-header #user-title #add-user-in-group .user-add-group, #base-container .admin-page-header #user-title #add-user-in-group .user-delete-button {
  margin-left: 15px;
  float: right; }

#base-container #user-list-container #user_grid .dropdown {
  position: absolute;
  right: 35px; }
  #base-container #user-list-container #user_grid .dropdown .dropdown-menu {
    left: -172px;
    width: 190px; }

#base-container #user-list-container .margin {
  margin-left: 3px; }

#base-container .ad-azure-indication {
  padding: 10px 0 0 5px; }
  #base-container .ad-azure-indication .su {
    color: #808080; }

.e-grid .e-gridheader .e-headercell.e-headertemplate {
  padding-left: 15px !important; }

.e-grid .e-gridcontent tr:first-child td, .e-grid tr:first-child.e-editedrow td.e-rowcell, .e-grid .e-gridcontent .e-firstrow > td {
  border-top: 1px solid #eeeeee; }

#popup-container #confirm-modal .modal-dialog #movable-dialog {
  border-radius: 0;
  top: 273px; }
  #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-header {
    border-bottom: 0;
    padding: 10px; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-header a.close {
      color: var(--colorText);
      font-size: 14px;
      opacity: 1; }
      #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-header a.close:hover {
        color: var(--colorPrimary); }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-header .modal-title {
      font-size: 14px; }
      #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-header .modal-title head-icon {
        padding-right: 7px; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-header .subhead-menu {
      font-size: 12px;
      padding: 0 0 10px 0; }
  #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body {
    padding: 0px !important;
    font-size: 12px; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body .placeholder {
      height: 30px;
      padding-left: 12px;
      position: absolute;
      top: 0;
      line-height: 28px;
      color: #b3b3b3; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body .form-label {
      margin-top: 8px; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body .form-control {
      font-size: 12px;
      height: 28px; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body textarea.form-control {
      font-size: 12px;
      height: auto;
      resize: none; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body .group-validation {
      color: var(--danger);
      display: block;
      font-size: 10px; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body .description-content {
      margin-top: 20px; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body .notification {
      font-size: 10px; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body .dropdown-menu {
      max-width: 200px; }
      #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body .dropdown-menu > .active > a {
        color: var(--surface) !important;
        background-color: var(--colorPrimary); }
      #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body .dropdown-menu li a span {
        max-width: 385px;
        overflow: hidden;
        text-overflow: ellipsis; }
  #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-footer {
    border-top: 1px solid #cccccc;
    background-color: #f2f2f2;
    margin-top: 190px;
    padding: 12.5px 10px;
    text-align: right; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-footer .primary-button {
      margin-right: 10px; }

.e-dialog .modal-dialog {
  margin: 0 auto;
  padding: 0;
  border-radius: 2px; }
  .e-dialog .modal-dialog .modal-content {
    border: none; }
    .e-dialog .modal-dialog .modal-content .modal-header {
      background: #fff;
      padding: 10px;
      width: 100%;
      z-index: 9;
      float: left;
      margin: 0;
      border-bottom: medium none;
      height: 50px; }
      .e-dialog .modal-dialog .modal-content .modal-header .modal-title {
        font-size: 14px;
        padding: 0; }
      .e-dialog .modal-dialog .modal-content .modal-header a.close {
        color: var(--colorText);
        float: right;
        font-size: 10px;
        margin: 0;
        opacity: 1; }
        .e-dialog .modal-dialog .modal-content .modal-header a.close:hover {
          color: var(--colorPrimary); }
    .e-dialog .modal-dialog .modal-content .modal-body {
      background: #fff;
      font-size: 12px;
      padding: 10px; }
    .e-dialog .modal-dialog .modal-content .modal-footer {
      background: #f2f2f2;
      border-top: 1px solid #cccccc;
      padding: 10px; }
      .e-dialog .modal-dialog .modal-content .modal-footer .primary-button, .e-dialog .modal-dialog .modal-content .modal-footer .critical-action-button {
        margin-right: 10px; }

.e-dialog .e-scrollbar {
  display: none !important;
  /*To override style from script*/ }

.e-dialog .validation-message {
  float: left;
  margin: 0 10px; }
  .e-dialog .validation-message span {
    float: left;
    font-size: 11px;
    padding: 10px; }

.e-dialog .modal-body {
  padding: 0px; }
  .e-dialog .modal-body .form-control {
    font-size: 12px;
    width: 301px;
    height: 28px;
    line-height: normal; }
  .e-dialog .modal-body .app-textbox-label {
    margin-top: 8px;
    font-weight: 400;
    padding-right: 50px; }
  .e-dialog .modal-body .form-padding {
    padding: 10px; }
  .e-dialog .modal-body .last-name {
    margin-bottom: 10px; }
  .e-dialog .modal-body .useradd-validation-messages {
    color: var(--danger);
    display: block;
    font-size: 10px;
    margin-bottom: -16px; }
  .e-dialog .modal-body .placeholder {
    height: 30px;
    padding-left: 12px;
    position: absolute;
    top: 0;
    line-height: 28px;
    color: #b3b3b3; }

.e-dialog, #user-delete-confirmation, #singleuser-delete-confirmation {
  padding: 0;
  display: block; }
  .e-dialog .modal-dialog, #user-delete-confirmation .modal-dialog, #singleuser-delete-confirmation .modal-dialog {
    display: block;
    height: auto;
    min-height: 120px;
    width: 378px; }
    .e-dialog .modal-dialog .modal-body, #user-delete-confirmation .modal-dialog .modal-body, #singleuser-delete-confirmation .modal-dialog .modal-body {
      padding: 0px !important; }
      .e-dialog .modal-dialog .modal-body .delete-msg, #user-delete-confirmation .modal-dialog .modal-body .delete-msg, #singleuser-delete-confirmation .modal-dialog .modal-body .delete-msg {
        height: 50px;
        font-size: 12px; }

/*Hiding no suggestion and waiting popup in Filtering*/
#user_grid_acString {
  background-image: none !important; }

#user_grid_acString_suggestion {
  display: none !important; }

.tooltip-inner {
  word-break: break-all; }

@media screen and (min-width: 1400px) {
  #base-container .admin-page-header #user-title .dropdown .add-user-dropdown {
    left: -120px; }
  #base-container .admin-page-header #user-title .dropdown .sync-user-dropdown {
    left: -125px; }
  #base-container #user-list-container #search-area input[type="text"] {
    height: 32px; }
  #base-container #user-list-container #search-area .close-icon {
    height: 32px; }
  #base-container #user-list-container #search-area .su-search {
    height: 32px; }
  .e-dialog .modal-dialog .modal-content .modal-header .modal-title, .e-dialog .modal-dialog .modal-content .modal-header a.close {
    font-size: 16px; }
  .e-dialog .validation-message span {
    font-size: 12px; }
  .e-dialog .modal-body .form-control {
    font-size: 14px;
    height: 32px; }
  .e-dialog .modal-body .app-textbox-label {
    font-size: 14px; }
  .e-dialog .modal-body .useradd-validation-messages {
    font-size: 12px; }
  .e-dialog .modal-body .placeholder {
    line-height: 32px; }
  #singleuser-delete-confirmation .modal-dialog .modal-body .delete-msg, #user-delete-confirmation .modal-dialog .modal-body .delete-msg {
    font-size: 14px; }
  #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-header .modal-title, #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-header a.close {
    font-size: 16px; }
  #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-header .subhead-menu {
    font-size: 14px; }
  #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body {
    font-size: 14px; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body .form-control {
      font-size: 14px;
      height: 32px; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body .group-validation {
      font-size: 12px; }
    #popup-container #confirm-modal .modal-dialog #movable-dialog .modal-body .notification {
      font-size: 12px; } }
