/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0; }

::-ms-clear {
  width: 0;
  height: 0; }

* {
  outline: none !important; }

*:focus {
  outline: none !important; }

label {
  font-weight: normal; }

a, a:hover {
  text-decoration: none !important; }

a:focus {
  text-decoration: underline !important; }

input[type=button], input[type=submit], button[type=submit] {
  padding: 0px !important; }

input.form-control:not(.input-block-level), .btn-group.form-control .btn.dropdown-toggle {
  box-shadow: none !important;
  border: 1.5px solid #cccccc; }

.bs-searchbox .input-block-level.form-control {
  box-shadow: none !important;
  border: 1.5px solid #cccccc; }

input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid var(--colorPrimary) !important;
  box-shadow: none !important; }

.has-error .form-control, .has-error input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid var(--danger) !important;
  box-shadow: none !important; }

input[type="password"] {
  padding-right: 30px; }

.form-control[disabled] {
  cursor: default; }

.su-eye {
  cursor: pointer;
  position: absolute; }

.material-checkbox {
  position: relative; }
  .material-checkbox label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox label:before, .material-checkbox label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox label:before {
      background: #fff;
      border: 1.5px solid #cccccc;
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox input[type="checkbox"]:checked + label:before {
      background: var(--colorPrimary);
      border: 1.5px solid #0851d0; }
    .material-checkbox input[type="checkbox"]:checked + label:after {
      border: 2px solid #fff;
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid #0851d0; }

span.su-password-tick {
  background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  font-size: 20px;
  display: inline-block;
  float: left;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%; }

.text-h1 {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 30px;
  color: #333333; }

.text-h2 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: #333333; }

.text-h4 {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #333333; }

.text-body {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: #333333; }

.text-bitter-h2 {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-bitter-h1 {
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-primary {
  color: var(--colorPrimary); }

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px; }

body {
  position: relative;
  padding-bottom: 50px;
  background: linear-gradient(-215deg, #FBFEFF 0%, #EEF2F3 100%); }

.account-parent {
  height: 100%;
  width: 100%;
  display: table; }
  .account-parent .account-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .account-parent .account-child .syncfusion-logo {
      position: fixed;
      top: 25px;
      left: 25px; }
    .account-parent .account-child .account-bg {
      font-family: var(--font-family);
      font-size: 12px;
      margin: 0 auto;
      display: inline-block; }
      .account-parent .account-child .account-bg h5 {
        margin-top: 25px; }
      .account-parent .account-child .account-bg .button-container {
        margin-top: 40px; }
        .account-parent .account-child .account-bg .button-container .proceed-button {
          background: var(--colorPrimary);
          border: 1px solid #0851d0;
          border-radius: 5px;
          color: #fff;
          height: 32px;
          outline: none;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
          display: block;
          float: left;
          width: 250px; }
          .account-parent .account-child .account-bg .button-container .proceed-button:hover, .account-parent .account-child .account-bg .button-container .proceed-button:focus {
            background: #007aff; }
          .account-parent .account-child .account-bg .button-container .proceed-button:disabled {
            background: #cccccc;
            cursor: default;
            border: none; }
        .account-parent .account-child .account-bg .button-container .back-button {
          background: #fff;
          border: 1px solid #DCE1E5;
          border-radius: 5px;
          color: #333333;
          height: 32px;
          outline: none;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
          display: block;
          float: right;
          margin-left: 20px;
          width: 50px; }
          .account-parent .account-child .account-bg .button-container .back-button:hover, .account-parent .account-child .account-bg .button-container .back-button:focus {
            background: #f9f9f9; }
          .account-parent .account-child .account-bg .button-container .back-button:disabled {
            background: #cccccc;
            cursor: default; }

#success-alert, #warning-alert {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  display: none;
  min-height: 60px;
  position: fixed;
  right: 30px;
  top: 50px;
  width: 340px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); }
  #success-alert #image-container, #warning-alert #image-container {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    width: 60px; }
    #success-alert #image-container .image-holder, #warning-alert #image-container .image-holder {
      text-align: center;
      vertical-align: middle; }
      #success-alert #image-container .image-holder span, #warning-alert #image-container .image-holder span {
        background: green;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        height: 32px;
        position: relative;
        width: 32px;
        padding-top: 10px; }
    #success-alert #image-container .su-warning-alt, #warning-alert #image-container .su-warning-alt {
      color: #ffae42;
      font-size: 32px;
      margin: 14px;
      position: relative;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      height: 32px;
      width: 32px; }
  #success-alert #message, #warning-alert #message {
    line-height: 10px;
    position: relative;
    width: 230px; }
    #success-alert #message #message-header, #warning-alert #message #message-header {
      color: #1b1e24;
      font-size: 14px;
      font-weight: 500;
      margin: 0px;
      padding: 10px 0px;
      width: 100%; }
    #success-alert #message #message-content, #warning-alert #message #message-content {
      color: #7c7c7c;
      display: inline-block;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      padding-bottom: 10px;
      position: relative;
      white-space: normal;
      width: 100%; }
  #success-alert .div-close, #warning-alert .div-close {
    float: left; }
  #success-alert .close-div, #warning-alert .close-div {
    border-left: 1px solid #d6d6d6;
    cursor: pointer;
    display: table-cell;
    padding: 10px;
    text-align: center;
    vertical-align: middle; }
    #success-alert .close-div #close-content, #warning-alert .close-div #close-content {
      color: #7c7c7c;
      font-size: 12px;
      font-weight: 400;
      position: relative; }
