@import "mixins.scss";

body {
    overflow: hidden !important;
}

#base-container {
    .admin-page-header {
        #user-title {
            #user-management-options {
                list-style: none;

                > li {
                    display: inline-block;
                    float: inherit;
                    margin-left: 15px;
                    padding: 0;
                }
            }

            .dropdown {
                .dropdown-toggle {
                    .caret {
                        color: $secondary-btn-bg;
                    }
                }

                .add-user-dropdown {
                    left: -119px;
                }

                .sync-user-dropdown {
                    left: -126px;
                }
            }

            #add-user-in-group {
                .user-add-group, .user-delete-button {
                    margin-left: 15px;
                    float: right;
                }
            }
        }
    }

    #user-list-container {
        #user_grid {
            .dropdown {
                position: absolute;
                right: 35px;

                .dropdown-menu {
                    left: -172px;
                    width: 190px;
                }
            }
        }

        .margin {
            margin-left: 3px;
        }
    }

    .ad-azure-indication {
        padding: 10px 0 0 5px;

        .su {
            color: $ad-icon-color;
        }
    }
}

.e-grid .e-gridheader .e-headercell.e-headertemplate {
    padding-left: 15px !important;
}

.e-grid .e-gridcontent tr:first-child td, .e-grid tr:first-child.e-editedrow td.e-rowcell, .e-grid .e-gridcontent .e-firstrow > td {
    border-top: 1px solid $grid-border-color;
}

#popup-container {
    #confirm-modal {
        .modal-dialog {
            #movable-dialog {
                border-radius: 0;
                top: 273px;

                .modal-header {
                    border-bottom: 0;
                    padding: 10px;

                    a.close {
                        color: $primary-text-color;
                        font-size: $app-large-text-size;
                        opacity: 1;

                        &:hover {
                            color: $primary-color;
                        }
                    }

                    .modal-title {
                        font-size: $app-large-text-size;

                        head-icon {
                            padding-right: 7px;
                        }
                    }

                    .subhead-menu {
                        font-size: $app-text-size;
                        padding: 0 0 10px 0;
                    }
                }

                .modal-body {
                    padding: 0px !important;
                    font-size: $app-text-size;

                    .placeholder {
                        height: $textbox-height + 2;
                        padding-left: 12px;
                        position: absolute;
                        top: 0;
                        line-height: $textbox-height;
                        color: $placeholder-color;
                    }

                    .form-label {
                        margin-top: 8px;
                    }

                    .form-control {
                        font-size: $app-text-size;
                        height: $btn-height-normal;
                    }

                    textarea.form-control {
                        font-size: $app-text-size;
                        height: auto;
                        resize: none;
                    }

                    .group-validation {
                        color: $validation-text-color;
                        display: block;
                        font-size: $validation-text-size;
                    }

                    .description-content {
                        margin-top: 20px;
                    }

                    .notification {
                        font-size: $validation-text-size;
                    }

                    .dropdown-menu {
                        max-width: 200px;

                        > .active > a {
                            color: $admin-page-bg !important;
                            background-color: $primary-color;
                        }

                        li {
                            a {
                                span {
                                    max-width: 385px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                }

                .modal-footer {
                    border-top: 1px solid $footer-border-color;
                    background-color: $dialog-footer-bgcolor;
                    margin-top: 190px;
                    padding: 12.5px 10px;
                    text-align: right;

                    .primary-button {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.e-dialog {
    @include dialogbox();

    .validation-message {
        float: left;
        margin: 0 10px;

        span {
            float: left;
            font-size: 11px;
            padding: 10px;
        }
    }

    .modal-body {
        padding: 0px;

        .form-control {
            font-size: $app-text-size;
            width: 301px;
            height: $btn-height-normal;
            line-height: normal;
        }

        .app-textbox-label {
            margin-top: 8px;
            font-weight: 400;
            padding-right: 50px;
        }

        .form-padding {
            padding: 10px;
        }

        .last-name {
            margin-bottom: 10px;
        }

        .useradd-validation-messages {
            color: $validation-text-color;
            display: block;
            font-size: $validation-text-size;
            margin-bottom: -16px;
        }

        .placeholder {
            height: $textbox-height + 2;
            padding-left: 12px;
            position: absolute;
            top: 0;
            line-height: $textbox-height;
            color: $placeholder-color;
        }
    }
}

.e-dialog, #user-delete-confirmation, #singleuser-delete-confirmation {
    padding: 0;
    //To retrieve the dialog box during window resize
    display: block;

    .modal-dialog {
        display: block;
        height: auto;
        min-height: 120px;
        width: 378px;

        .modal-body {
            padding: 0px !important;

            .delete-msg {
                height: 50px;
                font-size: $app-text-size;
            }
        }
    }
}

/*Hiding no suggestion and waiting popup in Filtering*/
#user_grid_acString {
    background-image: none !important;
}

#user_grid_acString_suggestion {
    display: none !important;
}

// To wrap the text in tool tip
.tooltip-inner {
    word-break: break-all;
}

@media screen and (min-width: 1400px) {
    #base-container .admin-page-header #user-title .dropdown {
        .add-user-dropdown {
            left: -120px;
        }

        .sync-user-dropdown {
            left: -125px;
        }
    }

    #base-container #user-list-container {
        #search-area {
            input[type="text"] {
                height: $textbox-lg-height;
            }

            .close-icon {
                height: $textbox-lg-height;
            }

            .su-search {
                height: $textbox-lg-height;
            }
        }
    }

    .e-dialog .modal-dialog .modal-content .modal-header {
        .modal-title, a.close {
            font-size: $app-large-text-size + 2;
        }
    }

    .e-dialog {
        .validation-message {
            span {
                font-size: $validation-large-text-size;
            }
        }

        .modal-body {
            .form-control {
                font-size: $app-large-text-size;
                height: $textbox-lg-height;
            }

            .app-textbox-label {
                font-size: $app-large-text-size;
            }

            .useradd-validation-messages {
                font-size: $validation-large-text-size;
            }

            .placeholder {
                line-height: $textbox-height + 4;
            }
        }
    }

    #singleuser-delete-confirmation .modal-dialog .modal-body .delete-msg, #user-delete-confirmation .modal-dialog .modal-body .delete-msg {
        font-size: $app-large-text-size;
    }

    #popup-container #confirm-modal .modal-dialog #movable-dialog {
        .modal-header {
            .modal-title, a.close {
                font-size: $app-large-text-size + 2;
            }

            .subhead-menu {
                font-size: $app-large-text-size;
            }
        }

        .modal-body {
            font-size: $app-large-text-size;

            .form-control {
                font-size: $app-large-text-size;
                height: $textbox-lg-height;
            }

            .group-validation {
                font-size: $validation-large-text-size;
            }

            .notification {
                font-size: $validation-large-text-size;
            }
        }
    }
}