@import "mixins.scss";

#profile-menu-nav-bar {
    @include navmenu();
}

#server-app-container {
    #content-area {
        height: 100%;
    }

    .admin-page-content-container {
        @include admin-page-template_new();

        .admin-page-body {
            .app-textbox-label {
                font-weight: bold !important;
            }

            .language-label {
                margin-bottom: 20px;
            }

            .disable-content {
                background-color: $admin-container-bg;
            }

            @include ej2NonFloat();
        }

        #language-cancel-link-button {
            display: none;
        }
    }
}