body #notification_preference_base_div {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0; }
  body #notification_preference_base_div #MasterContainerNotification #notification_preference_heading_div {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10PX;
    position: relative; }
    body #notification_preference_base_div #MasterContainerNotification #notification_preference_heading_div .notification-label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal; }
    body #notification_preference_base_div #MasterContainerNotification #notification_preference_heading_div .section-heading {
      display: inline-block;
      max-width: 100%;
      margin-bottom: -9px;
      color: #1a1a1a;
      font-size: 30px;
      font-weight: normal; }
  body #notification_preference_base_div #MasterContainerNotification #notification_preference_form_div {
    background-color: #fff;
    margin-top: 30px;
    font-size: 16px;
    color: #1a1a1a; }
    body #notification_preference_base_div #MasterContainerNotification #notification_preference_form_div .margin-top20 {
      margin-top: 20px; }
    body #notification_preference_base_div #MasterContainerNotification #notification_preference_form_div .margin-top10 {
      margin-top: 10px; }
    body #notification_preference_base_div #MasterContainerNotification #notification_preference_form_div .margin-bottom20 {
      margin-bottom: 20px; }
    body #notification_preference_base_div #MasterContainerNotification #notification_preference_form_div span.alertMessages {
      color: var(--danger); }
    body #notification_preference_base_div #MasterContainerNotification #notification_preference_form_div h5 {
      margin-top: 0;
      margin-left: 5px; }
    body #notification_preference_base_div #MasterContainerNotification #notification_preference_form_div .notification-preference-table {
      font-size: 14px;
      margin: 5px;
      /*td {
                    width: 245px;
                    padding: 8px;
                    position: relative;
                }*/ }
  body #notification_preference_base_div #success_message {
    color: var(--danger); }

body .LeftMargin15 {
  margin-left: 15px; }

body .hidden-visibility {
  visibility: hidden;
  height: 50px; }

@media (max-width: 767px) {
  #notification_preference_form_div .dropdown {
    margin-top: 10px; } }

@media (max-width: 1040px) {
  body #notification_preference_base_div #MasterContainerNotification #notification_preference_heading_div label {
    font-size: 16px !important; }
  body #notification_preference_base_div #MasterContainerNotification #notification_preference_heading_div #UserHead {
    text-overflow: initial;
    white-space: normal;
    word-wrap: break-word; } }

@media (max-width: 320px) {
  body #notification_preference_base_div #MasterContainerNotification #notification_preference_heading_div label {
    font-size: 14px !important; } }
