@import "newthemes/elementsize.scss";
@import "newthemes/mixins.scss";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    padding-bottom: 50px;
    background: $bg-linear-gradient;
}

.account-parent {
    height: 100%;
    width: 100%;
    display: table;

    .account-child {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        
        .syncfusion-logo{
            position: fixed;
            top: 25px;
            left: 25px;
        }
            .account-bg {
            font-family: var(--font-family);
            font-size: $textsize-12;
            margin: 0 auto;
            display: inline-block;

            h5{
                margin-top: 25px;
            }

            .button-container {
                margin-top: 40px;

                .proceed-button {
                    @include proceed-button();
                    float: left;
                    width: 250px;
                }

                .back-button {
                    @include back-button();
                    float: right;
                    margin-left: 20px;
                    width: 50px;
                }
            }
        }
    }
}

#success-alert, #warning-alert {
    background-color: $white;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    display: none;
    min-height: 60px;
    position: fixed;
    right: 30px;
    top: 50px;
    width: 340px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

    #image-container {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        width: 60px;

        .image-holder {
            text-align: center;
            vertical-align: middle;

            span {
                background: green;
                border-radius: 50%;
                color: $white;
                display: inline-block;
                height: 32px;
                position: relative;
                width: 32px;
                padding-top: 10px;
            }
        }

        .su-warning-alt {
            color: #ffae42;
            font-size: 32px;
            margin: 14px;
            position: relative;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
            height: 32px;
            width: 32px;
        }
    }

    #message {
        line-height: 10px;
        position: relative;
        width: 230px;

        #message-header {
            color: #1b1e24;
            font-size: $textsize-12 + 2;
            font-weight: 500;
            margin: 0px;
            padding: 10px 0px;
            width: 100%;
        }

        #message-content {
            color: #7c7c7c;
            display: inline-block;
            font-size: $textsize-12;
            font-weight: 400;
            line-height: 16px;
            padding-bottom: 10px;
            position: relative;
            white-space: normal;
            width: 100%;
        }
    }

    .div-close {
        float: left;
    }

    .close-div {
        border-left: 1px solid #d6d6d6;
        cursor: pointer;
        display: table-cell;
        padding: 10px;
        text-align: center;
        vertical-align: middle;

        #close-content {
            color: #7c7c7c;
            font-size: 12px;
            font-weight: 400;
            position: relative;
        }
    }
}
