@import "mixins.scss";

body {
    overflow: hidden !important;
}

.admin-page-container {
    @include admin-page-template();
}

.admin-page-container {
    .admin-page-header {
        .page-title {
            font-size: $app-large-text-size + 2;
        }
    }

    .tab-area {
        #ad-tab-nav {
            li a {
                color: $primary-text-color;
            }

            li.active a {
                color: $primary-color;
            }
        }
    }

    .tab-content {
        #application-tab {
            .admin-page-body {
                .img-view-holder {
                    border: 0.5px solid $grid-border-color;
                    border-radius: 2px;
                    float: left;
                    height: 120px;
                    margin: 20px 0 0 20px;
                    text-align: center;
                    width: 120px;

                    #application-logo {
                        border-radius: 2px;
                        height: 110px;
                        margin: 4px 0 0 -11px;
                        width: 110px;
                    }
                    /*.application-logo-edit-button {
                        background: $primary-text-color none repeat scroll 0% 0%;
                        border-radius: 13px;
                        color: $primary-btn-text-color;
                        cursor: pointer;
                        display: inline;
                        height: 25px;
                        padding: 5px;
                        position: absolute;
                        top: 86px;
                        width: 25px;
                    }

                    #logo-button-click {
                        left: 7px;
                    }

                    #logo-delete-click {
                        left: 86px;
                    }*/
                }

                #edit-application-form-div {
                    float: left;
                    font-size: $app-large-text-size;
                    margin-top: 20px;

                    .app-textbox-label {
                        color: $dialog-close-icon-color;
                    }

                    .form-input-field {
                        margin-top: 0;
                        font-size: $app-text-size;
                    }

                    .client-id, .client-secret {
                        padding-top: 5px;
                    }

                    .application-url, .application-name, .application-type {
                        margin-top: 6px;
                    }

                    .no-border {
                        border: 0;
                        background-color: white;
                        box-shadow: none;
                        margin-top: 5px;
                    }

                    .copy {
                        margin-top: 12px;

                        i {
                            border: 1px solid $search-border;
                            cursor: pointer;
                            padding: 6px;
                            background-color: $grey-300;
                            opacity: 1;
                            margin-top: 14px;
                        }

                        #client-secret {
                            margin-left: 5px;
                        }
                    }

                    .active {
                        a {
                            color: $grid-link-color;
                        }
                    }

                    .hasaccess, .isactive {
                        padding-top: 7px;
                    }
                }
            }

            #application-management {
                display: inline-block;
                margin-left: 15px;
                padding: 0;
            }
        }

        #users-tab, #admins-tab {
            #user-list-container {
                #add-users-button {
                    margin-left: 10px;
                }
            }

            #admin-list-container {
                #add-admins-button {
                    margin-left: 10px;
                }
            }
        }

        #groups-tab {
            #group-list-container {
                #add-groups-button {
                    margin-left: 10px;
                }
            }
        }

        .admin-page-body {
            border-top: 0 !important;
        }
    }
}

/*Hiding no suggestion and waiting popup in Filtering*/
#application_grid_acString, #users_grid_acString, #add_users_grid_acString, #admins_grid_acString, #add_admins_grid_acString {
    background-image: none !important;
}

#application_grid_acString_suggestion, #users_grid_acString_suggestion, #add_users_grid_acString_suggestion, #admins_grid_acString_suggestion, #add_admins_grid_acString_suggestion {
    display: none !important;
}

#add-users-dialog_wrapper, #grant-access-group-dialog_wrapper, #add-admins-dialog_wrapper, .modal {
    width: 902px !important;

    .e-dialog-scroller {
        width: 902px !important;
        border-bottom: none;

        #add-users-dialog, #grant-access-group-dialog, #add-admins-dialog {
            height: 1070px !important;
            display: block;
            @include dialogbox();

            .modal-dialog {
                width: 902px !important;
                position: fixed;

                .modal-content {
                    .modal-header {
                        .description {
                            margin-top: 5px;
                            font-size: $app-text-size;
                        }
                    }

                    .modal-body {
                        .description {
                            margin-top: 14px;
                        }

                        min-height: 433px !important;

                        #add_users_grid, #add_groups_grid, #add_admins_grid {
                            .e-gridcontent {
                                max-height: 275px !important;
                                overflow: auto !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.all-access-warning {
    padding: 10px;
    font-size: $app-text-size;
}

@media screen and (max-width: 1399px) {
    .add-user-dialog-footer, .add-admin-dialog-footer {
        height: 56px !important;
    }

    .admin-page-body {
        .client-id, .client-secret {
            height: 28px !important;
        }
    }
}

#user-remove-confirmation_wrapper, #group-remove-confirmation_wrapper, #admin-remove-confirmation_wrapper {
    .e-dialog-scroller {
        width: 390px !important;

        #user-remove-confirmation, #group-remove-confirmation, #admin-remove-confirmation, .modal {
            width: 390px !important;
            padding: 0;
            display: block;
            @include dialogbox();

            .modal-dialog {
                width: 390px;

                .modal-content {
                    .modal-body {
                        height: 50px;
                    }
                }
            }
        }
    }
}

#application_grid{
    .e-gridcontent{
        .e-table{
            .e-row{
                .e-rowcell {
                    vertical-align: top !important;
                }
            }
        }
        .option-icon{
            top: 0px !important;
        }
    }
}

.e-scrollbar {
    display: none !important;
}

.e-gridheader {
    .material-checkbox {
        @include material-checkbox-controls();

        &:checked + input + label::before {
            bottom: 14px !important;
            left: 1px;
        }
    }
}

.e-gridcontent {
    .material-checkbox {
        @include material-checkbox-controls();

        &:checked + input + label::before {
            bottom: 8px !important;
            left: 1px;
        }
    }
}

#regenerate-client-secret-dialog {
    .modal-dialog {
        display: block;
        height: auto;
        min-height: 120px;
        width: 400px;
        margin: 0 auto;
        padding: 0;
        border-radius: 2px;

        .modal-content {
            border: none;
        }

        .modal-header {
            background: $admin-page-bg;
            padding: 10px;
            width: 100%;
            z-index: 9;
            float: left;
            margin: 0;
            border-bottom: medium none;
            height: 50px;
            font-size: $app-large-text-size;

            a.close {
                color: $primary-text-color;
                float: right;
                font-size: $app-text-size - 2;
                margin: 0;
                opacity: 1;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .modal-body {
            font-size: $info-font-size;
            padding: 0px !important;

            .delete-msg {
                height: 80px;
                padding: 5px;
                color: antiquewhite;
            }

            .alert-msg {
                border: 1px solid;
                padding: 5px;
                border-radius: 5px;
                background-color: $regenerate-warning-bg;

                .client-secret-msg {
                    color: $regenerate-warning-text;
                    margin-bottom: 0;
                }

                #icon {
                    color: $regenerate-warning-text;
                    font-size: 33px;
                    padding-left: 1px;
                }
            }
        }

        .modal-footer {
            background: $dialog-footer-bgcolor;
            border-top: 1px solid $footer-border-color !important;
            padding: 10px !important;
            text-align: center !important;
        }
    }
}

#application-information-container {
    #application-information-header {
        .back-button {
            padding-top: 3px;
        }
    }
}

@media screen and (min-width: 1400px) {
    #users-tab, #groups-tab, #admins-tab {
        #user-list-container, #group-list-container, #admin-list-container {
            .short-description {
                font-size: $app-large-text-size;
            }
        }
    }

    .admin-page-container {
        .tab-content {
            #application-tab {
                .admin-page-body {
                    font-size: $app-large-text-size;

                    #edit-application-form-div {
                        .app-textbox-label {
                            font-size: $app-large-text-size;
                            line-height: $textbox-lg-height;
                        }

                        .form-control {
                            font-size: $app-large-text-size;
                            height: $textbox-lg-height;
                        }

                        .form-input-field {
                            font-size: $app-large-text-size;
                        }
                    }
                }
            }
        }
    }

    #add-users-dialog_wrapper, #grant-access-group-dialog_wrapper, #add-admins-dialog_wrapper {
        .e-dialog-scroller {
            #add-users-dialog, #grant-access-group-dialog, #add-admins-dialog {
                .modal-dialog .modal-content {
                    .modal-header {
                        .modal-title {
                            font-size: $app-large-text-size + 2;
                        }

                        a.close {
                            font-size: $app-text-size;
                        }
                    }

                    .modal-body {
                        .description {
                            font-size: $app-large-text-size;
                        }
                    }
                }
            }

            .description {
                font-size: $app-text-size;
            }
        }
    }

    #user-remove-confirmation_wrapper, #group-remove-confirmation_wrapper, #admin-remove-confirmation_wrapper {
        .e-dialog-scroller {
            #user-remove-confirmation, #group-remove-confirmation, #admin-remove-confirmation {
                .modal-dialog .modal-content {
                    .modal-header {
                        .modal-title {
                            font-size: $app-large-text-size + 2;
                        }

                        a.close {
                            font-size: $app-text-size;
                        }
                    }

                    .modal-body {
                        font-size: $app-large-text-size;
                    }
                }
            }
        }
    }

    #search-area, #add-user-search-area, #add-group-search-area, #add-admin-search-area {
        input[type="text"], .close-icon.su-inner-close, .su-search {
            height: $textbox-lg-height + 2;
        }
    }

    #search-area, #add-user-search-area, #add-group-search-area, #add-admin-search-area {
        .placeholder {
            padding-top: 2px;
        }

        .su-search, .close-icon.su-inner-close {
            padding-top: 8px + 1;
        }
    }

    #regenerate-client-secret-dialog {
        .modal-header {
            font-size: $label-font-size + 2 !important;

            a.close {
                font-size: $app-text-size !important;
            }
        }

        .modal-body {
            font-size: $label-font-size !important;
        }
    }

    .admin-page-body {
        .client-id, .client-secret {
            height: 32px !important;
        }
    }
}

.tooltip-inner{
    max-width: none;
    white-space: nowrap;
}