@using Syncfusion.Server.Base;

@{
    ViewBag.IncludeHeader = false;
    ViewBag.RemoveUserProfile = Context.User.Identity.IsAuthenticated ? !Context.User.Identity.IsAuthenticated : true;
    Layout = "~/Views/Shared/_Layout.Accounts.cshtml";
    ViewBag.Title = $"{T["Account Activation"].Value} - {GlobalAppSettings.SystemSettings.OrganizationName}";
}

@section styles{
    <link rel="stylesheet" href="~/bundles/css/account-activation.css" asp-append-version="true"/>
}

@section MainSection{
    <div id="account-activation-content">
        @await Html.PartialAsync("_EmailSentConfirmation")
    </div>
}