@using Syncfusion.Server.Base;

@{
    Layout = "~/Views/Shared/_Layout.Accounts.cshtml";

    @if (ViewBag.IsAccountActivation)
    {
        ViewBag.Title = "[[[Account Activation]]] - " + GlobalAppSettings.SystemSettings.OrganizationName;
    }
    else
    {
        ViewBag.Title = "[[[Account Recovery]]] - " + GlobalAppSettings.SystemSettings.OrganizationName;
    }

    var email = ViewBag.Email;
}

@section styles{
    <link rel="stylesheet" href="~/bundles/css/accounts-code-confirmation.css" asp-append-version="true" />
}

@section MainSection{
    <div class="code-confirmation-body">
        <div class="icon-container">
            <div class="su su-tick"></div>
        </div>
        @if (ViewBag.IsAccountActivation)
        {
            <div class="heading text-h4">[[[Account activation successful.]]]</div>
            <div class="status-message text-body">[[[Your account <a id="tenant-email" href='mailto:  @email'>@email</a> has been activated successfully.]]]</div>
        }
        else
        {
            <div class="heading text-h4">[[[Password reset successful.]]]</div>
            <div class="status-message text-body">[[[The password for your account <a id="tenant-email" href='mailto:  @email'>@email</a> has been updated successfully.]]]</div>
        }

        <div class="divider-light"></div>
        <div class="back-button text-body"> <a href="@Url.Action("login","accounts")"><span>[[[Proceed to Login]]]</span></a></div>
    </div>
}