@import "core/_typography.scss";
@import "core/_variables.scss";
@import "themes/default.scss";

@-ms-viewport {
    width: auto !important;
}

.dashboard-server *, .base-comment-container *, .server-dashboard-view *, #viewShare_popup *, .schedule-dialog *, #get-item-link_wrapper *, #messageBox_wrapper *, #delete-div_wrapper *, #permission_delete_confirmation_wrapper *, #designer-header * {
    font-family: $primary-font;
}

.e-icon, .e-rte-toolbar-icon, .e-background-color, .e-font, .e-rte-footericon, .e-resize-handle {
    font-family: 'ej-webfont' !important;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: $primary-font !important;
}

//To hide default clear button in IE browsers
::-ms-clear {
    display: none;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}

a:hover, a:focus {
    text-decoration: none !important;
}

.suspension-warning, .user-warning {
    position: absolute;
    color: #000;
    text-align: center;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    -moz-box-shadow: 0 0 5px #000;
    top: 0;
    width: 100%;
    margin-left: -80px;

    .warning-content, .user-warning-content {
        position: relative;
        padding: 10px;
        background: #fde073;
        background-color: #e57768;
        color: white;

        a {
            color: white;
            text-decoration: underline;
        }
    }

    .close-warning-icons, .close-user-warning-icons {
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        right: 5px;
        top: 2px;
        padding: 12px;
        border-radius: 10px;
    }
}

.profile-pic-tag {
    border-radius: 50%;
    color: $primary-text-color;
    display: inline-block;
    font-size: map-get($app-text-size, sm);
    font-weight: 900;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
}

#default-profile-image {
    border-radius: 50%;
    left: 0;
    position: absolute;
}

.user-warning-space, .suspension-warning-space {
    padding-top: 45px !important;
}

a {
    cursor: pointer;
    color: $primary-color;

    &:hover {
        color: $primary-btn-hover;
    }

    &:hover, &:focus {
        text-decoration: none !important;
    }
}

.dropdown-menu.inner {

    li:hover {
        a {
            background-color: $grey-300;
        }
    }

    li.selected {
        a {
            background-color: $selected-color;
        }
    }
}
