@media screen and (min-width: 0px) {
  body {
    font-size: 10px; }
    body .form-control, body .bootstrap-select .btn {
      font-size: 10px;
      height: 28px; }
    body .dropdown-menu .inner {
      font-size: 10px; }
    body .validation-txt-errors {
      font-size: 12px;
      color: var(--red); } }
@media screen and (min-width: 1400px) {
  body {
    font-size: 12px; }
    body .form-control, body .bootstrap-select .btn {
      font-size: 12px;
      height: 32px; }
    body .dropdown-menu .inner {
      font-size: 12px; }
    body .validation-txt-errors {
      font-size: 12px;
      color: var(--red); } }
body {
  margin: auto;
  color: var(--primary-text-color) !important;
  background: var(--surface);
  font-family: var(--font-family);
  height: 100%;
  position: relative; }

#site-down-alert .e-dlg-header-content {
  background-color: var(--dialog-content-bg-normal-color);
  border: 0px; }
  #site-down-alert .e-dlg-header-content .e-btn-icon {
    font-size: 8px; }
#site-down-alert .e-dlg-content {
  text-align: center; }
  #site-down-alert .e-dlg-content .body-content {
    padding-top: 30px; }
    #site-down-alert .e-dlg-content .body-content a {
      color: var(--primary-branding-bg-color); }

#header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--header-separator-color);
  height: 72px; }
  #header-container .boldbi-logo {
    float: left;
    margin: 20px 20px 10px 0px; }
  #header-container .side-header {
    display: flex;
    align-items: center;
    margin-right: 5px;
    height: 40px; }
  #header-container .create-site {
    float: right;
    margin: 15px 15px;
    text-decoration: none;
    outline: 0;
    padding: 10px 16px 10px 16px;
    display: flex;
    border-radius: 8px;
    border: 1px solid #0450cc;
    background: #0466ff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    letter-spacing: 0.6px;
    height: 42px !important; }
  #header-container .create-button {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 20px; }
    #header-container .create-button .manage-icon {
      margin: 1px 4px 1px 1px;
      width: 12px;
      padding-top: 1px; }
    #header-container .create-button .new-site {
      padding: 4px 0px 4px 4px; }
  #header-container .manage-sites {
    float: right;
    margin: 15px 24px 15px 0px;
    text-decoration: none;
    font-size: 10px;
    outline: 0;
    height: 24px; }

#body-container {
  margin: auto;
  text-align: center;
  float: left;
  width: 100%;
  height: calc(100% - 122px) !important;
  overflow-y: scroll; }
  #body-container .allsites-page-nav-bar .nav {
    padding-left: 36px;
    margin-bottom: 27px;
    margin-top: 32px;
    height: 40px; }
    #body-container .allsites-page-nav-bar .nav li > a {
      position: relative;
      display: block;
      padding: 9px 4px 13px 4px;
      line-height: 14px;
      margin-right: 16px;
      font-size: 16px;
      font-weight: 600; }
    #body-container .allsites-page-nav-bar .nav .active a {
      color: #0466ff;
      height: 40px;
      border-bottom: 3px solid #0466ff;
      background-color: none !important; }
  #body-container .allsites-page-nav-bar .nav-tabs > li.active > a, #body-container .allsites-page-nav-bar .nav-tabs > li.active:focus, #body-container .allsites-page-nav-bar .nav-tabs > li.active:hover {
    background: none; }
  #body-container .allsites-page-nav-bar .nav-tabs > li > a, #body-container .allsites-page-nav-bar .nav-tabs > li:focus, #body-container .allsites-page-nav-bar .nav-tabs > li:hover {
    background: none; }
  #body-container .allsites-page-nav-bar .nav-tabs {
    border: none; }
    #body-container .allsites-page-nav-bar .nav-tabs .dropdown-menu {
      display: flex;
      flex-direction: column;
      padding: 0px 12px 0px 16px;
      border-radius: 5px !important;
      border-top-right-radius: 5px !important;
      border-top-left-radius: 5px !important;
      font-size: 12px !important;
      border: none !important;
      min-width: 190px; }
  #body-container .allsites-page-nav-bar ul {
    line-height: 40px;
    list-style: none;
    padding: 0px 34px; }
    #body-container .allsites-page-nav-bar ul li {
      display: inline-block;
      height: inherit;
      cursor: pointer; }
      #body-container .allsites-page-nav-bar ul li .popover {
        width: 250px; }
      #body-container .allsites-page-nav-bar ul li a {
        padding: 10px 15px;
        text-align: left;
        border: none;
        color: var(--primary-text-color);
        cursor: pointer;
        display: inline-block;
        height: inherit;
        overflow: hidden;
        outline: none;
        position: relative;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.5px; }
        #body-container .allsites-page-nav-bar ul li a:hover:after, #body-container .allsites-page-nav-bar ul li a:focus:after {
          left: 0;
          right: 0; }
  #body-container .search-bar input[type="text"] {
    height: 40px;
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    margin: 0px 11px;
    border: 1px solid var(--header-separator-color);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    background: var(--surface) !important; }
  #body-container .search-bar .search-icon {
    display: flex;
    align-items: center;
    position: absolute;
    display: block;
    right: 6px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    margin: 0px 7px; }
  #body-container .search-bar textarea {
    color: var(--primary-text-color) !important; }
  #body-container .close-icon {
    position: absolute;
    padding: 10px;
    right: 9px;
    top: 2px;
    font-size: 16px; }
  #body-container .search-icon {
    height: 40px;
    width: 40px;
    border-radius: 4px;
    border: 1px solid var(--header-separator-color);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05); }
    #body-container .search-icon.no-border {
      border: none;
      background-color: transparent;
      box-shadow: none; }
  #body-container .user-image-container {
    width: 164px;
    height: 100px;
    margin: auto;
    background-image: url("images/img-profile-bg.svg"); }
    #body-container .user-image-container .user-image {
      width: 100px;
      height: 100px;
      border-radius: 50%; }
    #body-container .user-image-container .profile-pic-tag {
      border-radius: 50%;
      color: var(--primary-text-color);
      display: inline-block;
      font-size: 10px;
      font-weight: 900;
      letter-spacing: 2px;
      position: relative;
      text-align: center; }
    #body-container .user-image-container #default-profile-image {
      border-radius: 50%;
      left: 0;
      position: absolute; }
  #body-container .admin-home {
    display: flex;
    text-align: left;
    padding: 32px 54px 0px;
    font-size: 20px;
    gap: 8px;
    font-weight: 500; }
  #body-container .user-name {
    letter-spacing: 0.84px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 108ch; }
  #body-container .wave-icon {
    height: 22px;
    width: 22px; }
  #body-container .tenant-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%; }
  #body-container .e-sortfilterdiv {
    display: none; }
  #body-container .e-headertext {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 20px;
    letter-spacing: 0.678px; }
  #body-container .e-content button {
    border: none;
    background: none; }
  #body-container .open-link {
    font-weight: 600; }
  #body-container .e-content a {
    text-decoration: none; }
  #body-container .e-grid .e-gridcontent tr {
    font-size: 14px;
    color: var(--primary-text-color);
    height: 60px;
    font-weight: 400;
    letter-spacing: 0.6px; }
  #body-container .e-gridpager {
    height: 60px; }
  #body-container .e-columnheader {
    height: 60px; }
  #body-container .e-rowcell {
    font-size: 14px;
    color: var(--primary-text-color); }
  #body-container .e-headercontent tr.e-columnheader th:nth-child(1) {
    height: 44px; }
  #body-container .e-row td[aria-colindex="5"] {
    padding: 0px 25px; }
  #body-container .e-pager, #body-container .e-pagercontainer {
    padding: 11px 8px 0px 10px !important; }
  #body-container .e-pager .e-parentmsgbar {
    padding: 11px 12px 0px 0px !important; }
  #body-container .tab-content {
    padding-left: 5px;
    padding-right: 5px; }
  #body-container .favorite-button {
    font-size: 20px; }
  #body-container .tenant-logo {
    display: none; }
  #body-container .e-headercell {
    padding-top: 10px !important; }
  #body-container .loader {
    width: 24px;
    height: 24px;
    padding-top: 36px;
    background-color: var(--primary-branding-bg-color); }
  #body-container .line {
    width: 70px;
    margin: 12px auto;
    border: solid 1px #ff4800; }
  #body-container .choose-site {
    width: auto;
    height: 30px;
    padding-bottom: 18px;
    font-size: 10px;
    line-height: 30px;
    letter-spacing: 0.61px;
    text-align: center; }
  #body-container .dropdown-menu {
    left: auto !important;
    right: 2px !important;
    background-color: var(--surface) !important; }
  #body-container .dropdown-menu label {
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px; }
    #body-container .dropdown-menu label padding-bott span {
      color: #475467; }
  #body-container .dropdown-section-title {
    font-weight: 600;
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    margin-top: 2px !important;
    height: 20px; }
  #body-container .sort-by {
    height: 30px; }
  #body-container .alphabetical {
    height: 20px;
    margin: 10px 0px 16px 0px;
    padding: 0px 0px 0px 26px; }
  #body-container .order-by {
    margin-bottom: 20px;
    padding: 2px; }
  #body-container .asc {
    height: 20px;
    padding: 0px 30px 0px 26px;
    margin: 10px 0px 10px 0px; }
  #body-container .desc {
    height: 20px;
    padding: 0px 8px 0px 26px;
    margin: 10px 0 15px 0px; }
  #body-container .sf-top-menu-separator {
    background: var(--nav-menu-separtor-icon-color);
    height: 1px;
    cursor: default; }
  #body-container input[type="checkbox"],
  #body-container input[type="radio"] {
    margin: 2px 5px 2px 0px;
    line-height: normal;
    vertical-align: sub;
    accent-color: #0466ff;
    border: 1px solid #0450cc;
    width: 16px;
    height: 16px; }
  #body-container input[type=radio][class=css-radio]:checked + label:after {
    -webkit-animation: none !important; }
  #body-container .btn-default {
    height: 40px;
    width: 40px;
    background-color: var(--surface) !important;
    border: 1px solid var(--header-separator-color);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    margin: 0px 0px 5px 11px;
    color: var(--primary-text-color); }
  #body-container #sorting-sites, #body-container #sorting-favorites {
    border-left: 1px solid var(--header-separator-color);
    height: 40px; }
  #body-container .e-pagercontainer {
    background: none !important; }
  #body-container .e-grid .e-rowcell {
    border-color: var(--header-separator-color) !important; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: var(--grey-500);
  border-radius: 6px; }

.scroller {
  scrollbar-color: var(--grey-200);
  scrollbar-width: thin; }

#footer-container {
  width: 100%;
  height: 40px;
  float: left;
  margin-top: 20px !important;
  position: fixed;
  bottom: 0px;
  margin-bottom: 7px; }
  #footer-container .copyright-container {
    float: left; }
    #footer-container .copyright-container .copyright {
      width: auto;
      height: 21px;
      padding: 10px 0px 9px 32px;
      font-size: 12px;
      line-height: 21px;
      letter-spacing: 0.36px; }
  #footer-container .footer-logo-container {
    float: right;
    width: auto;
    height: 32px;
    padding: 15px 32px 4px 0px; }
    #footer-container .footer-logo-container .powered-by {
      width: auto;
      height: 10px;
      padding: 12px 0px 10px 5px;
      line-height: 10px;
      vertical-align: top;
      display: inline-block;
      font-size: 12px;
      margin-top: -9px; }
    #footer-container .footer-logo-container .footer-logo {
      width: 89px;
      height: 33px;
      padding: 6px 0px;
      margin-top: -10px; }
  #footer-container .display-none {
    display: none; }

@media screen and (min-width: 1081px) and (max-width: 1367px) {
  #site-container .row {
    width: 896px; } }
@media screen and (min-width: 1367px) {
  #site-container .row {
    width: 1344px; } }
@media (max-width: 1080px) {
  #header-container .boldbi-logo {
    padding-left: 15px;
    margin: 10px 0px 0px 0px !important; }
  #header-container .logout-container {
    display: none; }
  #header-container .create-site {
    display: none; }
  #header-container .manage-sites {
    display: none; }
  #header-container .profile-tag {
    display: none; }
  #header-container .mobile-menu-icon {
    display: block !important;
    text-decoration: none;
    font-size: 28px;
    font-weight: 900;
    color: var(--primary-text-color) !important;
    cursor: pointer; }

  #body-container #site-container .row {
    width: 225px;
    display: block; }
  #body-container .admin-home {
    padding: 32px 16px 0 !important; }
  #body-container .allsites-page-nav-bar .nav {
    padding-left: 0px; }
  #body-container .allsites-page-nav-bar ul {
    padding: 0px !important; }
  #body-container .tab-content {
    padding-left: 15px;
    padding-right: 15px; }

  .admin-page-container-with-tab .col-xs-12,
  .admin-page-content .col-xs-12,
  .tab-content .col-xs-12,
  .admin-page-body .col-xs-12 {
    padding-right: 0 !important;
    padding-left: 0 !important; }

  .mobile-hidden-view, .mobile-view {
    display: none; }

  .create-button {
    padding: 0px 0px 0px 25px;
    width: 228px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    letter-spacing: 0.6px !important; }

  .create-button .manage-icon {
    margin: 7px 0px 1px 0px !important; }

  .create-site {
    margin: 0px !important; }

  .nav-tabs {
    border-bottom: 1px solid var(--header-separator-color) !important; }

  .search-icon, .btn-default {
    border: none !important;
    box-shadow: none !important; }

  .btn-default:hover {
    background-color: none !important; }

  #sorting-sites {
    border-left: none !important; }

  #sorting-favorites {
    border-left: none !important; }

  .search-bar .search-icon {
    font-size: 20px !important;
    padding: 11px !important; }

  .search-icon {
    width: 30px !important; }

  .btn-default {
    width: auto !important;
    font-size: 18px !important;
    margin: 0 !important; }

  .e-gridpager .e-mfirst, .e-gridpager .e-mprev, .e-gridpager .e-mlast, .e-gridpager .e-mnext {
    display: none !important; }

  .e-grid .e-table {
    background-color: transparent !important; }

  .search-bar input[type="text"] {
    width: 280px !important;
    font-size: 16px;
    border: none !important;
    box-shadow: none !important;
    background: var(--surface) !important; }

  #body-container .allsites-page-nav-bar .nav {
    height: 41px !important; } }
@media screen and (min-width: 768px) and (max-width: 1081px) {
  #site-container .row {
    width: 672px; } }
@media screen and (max-width: 768px) {
  #body-container {
    height: calc(100% - 158px) !important; }

  #footer-container {
    text-align: center;
    margin-bottom: 25px;
    position: relative; }
    #footer-container .copyright-container {
      float: none; }
      #footer-container .copyright-container .copyright {
        padding: 0px 10px !important;
        margin-bottom: 0px; }
    #footer-container .footer-logo-container {
      float: none;
      padding: 0px !important;
      margin: 10px; } }
@media screen and (max-width: 605px) {
  .e-rowcell .tenant-logo {
    display: inline-block !important;
    font-size: 12px;
    margin-top: 5px;
    background-color: var(--multi-tab-badge);
    color: var(--secondary-text-color);
    padding: 0px 5px 0px 5px;
    border-radius: 5px; } }
@media screen and (min-width: 519px) and (max-width: 549px) {
  .search-bar input[type="text"] {
    font-size: 14px !important;
    position: absolute !important;
    right: 1px !important;
    width: 452px !important;
    margin: 0px !important; }

  .search-bar .search-icon {
    font-size: 20px !important;
    padding: 11px !important; }

  .btn-default {
    width: auto !important;
    font-size: 18px !important;
    margin: 0px !important; }

  .search-icon {
    width: 30px !important; }

  .e-gridpager .e-mfirst, .e-gridpager .e-mprev, .e-gridpager .e-mlast, .e-gridpager .e-mnext {
    display: none !important; } }
@media screen and (max-width: 510px) {
  .search-bar input[type="text"] {
    font-size: 14px !important;
    position: absolute !important;
    right: 10px !important;
    width: 425px !important;
    margin: 0px !important;
    top: 1px; }

  .search-bar .search-icon {
    font-size: 20px !important;
    padding: 11px !important; }

  .btn-default {
    width: auto !important;
    font-size: 18px !important;
    margin: 0px !important; }

  .search-icon {
    width: 30px !important; }

  .e-gridpager .e-mfirst, .e-gridpager .e-mprev, .e-gridpager .e-mlast, .e-gridpager .e-mnext {
    display: none !important; } }
@media screen and (min-width: 478px) and (max-width: 492px) {
  .search-bar input[type="text"] {
    font-size: 14px !important;
    position: absolute !important;
    right: 10px !important;
    width: 409px !important;
    margin: 0px !important;
    top: 0px; }

  .search-bar .search-icon {
    font-size: 20px !important;
    padding: 11px !important; }

  .btn-default {
    width: auto !important;
    font-size: 18px !important;
    margin: 0px !important; }

  .search-icon {
    width: 30px !important; }

  .e-gridpager .e-mfirst, .e-gridpager .e-mprev, .e-gridpager .e-mlast, .e-gridpager .e-mnext {
    display: none !important; } }
@media screen and (min-width: 415px) and (max-width: 478px) {
  .search-bar input[type="text"] {
    font-size: 14px !important;
    position: absolute !important;
    right: 10px !important;
    width: 350px !important;
    margin: 0px !important;
    top: 0px; } }
@media screen and (min-width: 380px) and (max-width: 400px) {
  .search-bar input[type="text"] {
    font-size: 14px !important;
    position: absolute !important;
    right: 10px !important;
    width: 305px !important;
    margin: 0px !important;
    top: 0px; }

  .search-bar .search-icon {
    font-size: 20px !important;
    padding: 11px !important; }

  .btn-default {
    width: auto !important;
    font-size: 18px !important;
    margin: 0px !important; }

  .search-icon {
    width: 30px !important; }

  .e-gridpager .e-mfirst, .e-gridpager .e-mprev, .e-gridpager .e-mlast, .e-gridpager .e-mnext {
    display: none !important; } }
@media screen and (min-width: 300px) and (max-width: 376px) {
  .search-bar input[type="text"] {
    font-size: 14px !important;
    position: absolute !important;
    right: 1px !important;
    width: 310px !important;
    margin: 0px !important;
    top: 0px; } }
