@media screen and (min-width: 0px) {
  body {
    font-size: 10px; }
    body .form-control, body .bootstrap-select .btn {
      font-size: 10px;
      height: 28px; }
    body .dropdown-menu .inner {
      font-size: 10px; }
    body .validation-txt-errors {
      font-size: 12px;
      color: var(--red); } }
@media screen and (min-width: 1400px) {
  body {
    font-size: 12px; }
    body .form-control, body .bootstrap-select .btn {
      font-size: 12px;
      height: 32px; }
    body .dropdown-menu .inner {
      font-size: 12px; }
    body .validation-txt-errors {
      font-size: 12px;
      color: var(--red); } }
#body-container #site-container .row .site-row-container .site-name, #body-container #site-container .row .site-row-container .site-url-container .site-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

body {
  margin: auto;
  color: var(--primary-text-color) !important;
  background: var(--background);
  font-family: var(--font-family); }

#site-down-alert .e-dlg-header-content {
  background-color: var(--dialog-content-bg-normal-color);
  border: 0px; }
  #site-down-alert .e-dlg-header-content .e-btn-icon {
    font-size: 8px; }
#site-down-alert .e-dlg-content {
  text-align: center; }
  #site-down-alert .e-dlg-content .body-content {
    padding-top: 30px; }
    #site-down-alert .e-dlg-content .body-content a {
      color: var(--primary-branding-bg-color); }

#header-container {
  width: 100%;
  height: 60px;
  margin-bottom: 16px; }
  #header-container .boldbi-logo {
    float: left;
    width: 140px;
    height: 28px;
    padding: 16px 0px 16px 83px; }
  #header-container .logout-container {
    float: right;
    width: auto;
    height: 28px;
    border-radius: 4px;
    padding: 16px 83px 16px 24px;
    text-align: center; }
    #header-container .logout-container .logout {
      font-size: 10px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.61px;
      text-align: center;
      text-decoration: none;
      color: var(--primary-branding-bg-color); }
  #header-container .create-site {
    float: right;
    margin: 15px 0px;
    text-decoration: none;
    font-size: 10px;
    outline: 0;
    height: 24px; }
  #header-container .manage-sites {
    float: right;
    margin: 15px 24px 15px 0px;
    text-decoration: none;
    font-size: 10px;
    outline: 0;
    height: 24px; }

#body-container {
  margin: auto;
  text-align: center;
  float: left;
  width: 100%; }
  #body-container .user-image-container {
    width: 164px;
    height: 100px;
    margin: auto;
    background-image: url("images/img-profile-bg.svg"); }
    #body-container .user-image-container .user-image {
      width: 100px;
      height: 100px;
      border-radius: 50%; }
    #body-container .user-image-container .profile-pic-tag {
      border-radius: 50%;
      color: var(--primary-text-color);
      display: inline-block;
      font-size: 10px;
      font-weight: 900;
      letter-spacing: 2px;
      position: relative;
      text-align: center; }
    #body-container .user-image-container #default-profile-image {
      border-radius: 50%;
      left: 0;
      position: absolute; }
  #body-container .user-name {
    width: auto;
    height: 22px;
    padding-top: 18px;
    font-size: 16px;
    letter-spacing: 0.84px;
    text-align: center; }
  #body-container .welcome-note {
    width: auto;
    height: 30px;
    padding: 12px 0px 0px 0px;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.65px;
    text-align: center; }
  #body-container .loader {
    width: 24px;
    height: 24px;
    padding-top: 36px;
    background-color: var(--primary-branding-bg-color); }
  #body-container .line {
    width: 70px;
    margin: 12px auto;
    border: solid 1px #ff4800; }
  #body-container .choose-site {
    width: auto;
    height: 30px;
    padding-bottom: 18px;
    font-size: 10px;
    line-height: 30px;
    letter-spacing: 0.61px;
    text-align: center; }
  #body-container #site-container {
    float: left;
    width: 100%; }
    #body-container #site-container .row {
      margin: auto; }
      #body-container #site-container .row .fade {
        opacity: 0;
        -webkit-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear; }
      #body-container #site-container .row .tooltip {
        position: absolute;
        z-index: 1070;
        display: block;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: left;
        text-align: start;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        letter-spacing: normal;
        word-break: normal;
        word-spacing: normal;
        word-wrap: normal;
        white-space: normal;
        filter: alpha(opacity=0);
        opacity: 0;
        line-break: auto; }
        #body-container #site-container .row .tooltip .tooltip-arrow {
          bottom: 0;
          left: 50%;
          margin-left: -5px;
          border-width: 5px 5px 0;
          border-top-color: var(--grey-black);
          position: absolute;
          width: 0;
          height: 0;
          color: transparent;
          border-style: solid; }
        #body-container #site-container .row .tooltip .tooltip-inner {
          max-width: 200px;
          padding: 3px 8px;
          color: var(--grey-white);
          text-align: center;
          background-color: var(--grey-black);
          border-radius: 4px; }
      #body-container #site-container .row .fade.in {
        opacity: 1; }
      #body-container #site-container .row .tooltip.top {
        padding: 5px 0;
        margin-top: -3px; }
      #body-container #site-container .row .tooltip.in {
        filter: alpha(opacity=90);
        opacity: .9; }
      #body-container #site-container .row .site-row-container {
        width: 200px;
        height: 134px;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        border: 1px solid var(--logo-section-border-color);
        margin: 0px 12px 24px 12px;
        display: inline-block;
        text-decoration: none; }
        #body-container #site-container .row .site-row-container:hover {
          box-shadow: 0 6px 14px 3px rgba(0, 0, 0, 0.1); }
        #body-container #site-container .row .site-row-container .site-logo-container {
          width: 200px;
          height: 60px;
          margin: 8px 0px; }
          #body-container #site-container .row .site-row-container .site-logo-container .site-logo {
            display: block;
            margin: 0 auto;
            max-width: 180px;
            max-height: 40px;
            padding: 10px; }
          #body-container #site-container .row .site-row-container .site-logo-container .img-loader {
            -webkit-animation-name: fadeOpactiy;
            -webkit-animation-duration: 4s;
            animation-name: fadeOpactiy;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            background: gray;
            padding-top: 10px;
            height: 40px;
            width: 100px;
            display: block;
            float: none;
            margin: 0 auto; }
        #body-container #site-container .row .site-row-container .site-name {
          width: auto;
          height: 16px;
          font-size: 10px;
          padding: 0px 10px;
          font-weight: bold;
          letter-spacing: 0.56px;
          text-align: center;
          color: var(--primary-text-color); }
        #body-container #site-container .row .site-row-container .site-url-container {
          width: 200px;
          height: 24px;
          margin: 8px 0px;
          text-decoration: none; }
          #body-container #site-container .row .site-row-container .site-url-container .site-url {
            width: auto;
            height: 16px;
            padding: 3px 10px;
            font-size: 10px;
            letter-spacing: 0.56px;
            text-align: center;
            color: var(--primary-text-color); }

#footer-container {
  width: 100%;
  height: 40px;
  float: left; }
  #footer-container .copyright-container {
    float: left; }
    #footer-container .copyright-container .copyright {
      width: auto;
      height: 21px;
      padding: 10px 0px 9px 32px;
      font-size: 10px;
      line-height: 21px;
      letter-spacing: 0.36px; }
  #footer-container .footer-logo-container {
    float: right;
    width: auto;
    height: 32px;
    padding: 4px 32px 4px 0px; }
    #footer-container .footer-logo-container .powered-by {
      width: auto;
      height: 10px;
      padding: 12px 0px 10px 5px;
      line-height: 10px;
      vertical-align: top;
      display: inline-block;
      font-size: 10px;
      margin-top: -9px; }
    #footer-container .footer-logo-container .footer-logo {
      width: 89px;
      height: 30px;
      padding: 6px 0px;
      margin-top: -10px; }
  #footer-container .display-none {
    display: none; }

@media screen and (max-width: 768px) {
  #header-container .boldbi-logo {
    padding-left: 30px; }
  #header-container .logout-container {
    display: none; }
  #header-container .create-site {
    display: none; }
  #header-container .manage-sites {
    display: none; }

  #body-container #site-container .row {
    width: 225px;
    display: block; }

  #footer-container {
    text-align: center;
    margin: auto; }
    #footer-container .copyright-container {
      float: none; }
      #footer-container .copyright-container .copyright {
        padding-left: 0px;
        margin-bottom: 40px; }
    #footer-container .footer-logo-container {
      float: none;
      padding-right: 0px; } }
@media screen and (min-width: 768px) and (max-width: 1081px) {
  #site-container .row {
    width: 672px; } }
@media screen and (min-width: 1081px) and (max-width: 1367px) {
  #site-container .row {
    width: 896px; } }
@media screen and (min-width: 1367px) {
  #site-container .row {
    width: 1344px; } }
