@-ms-viewport {
  width: auto !important; }

.dashboard-server *, .base-comment-container *, .server-dashboard-view *, #viewShare_popup *, .schedule-dialog *, #get-item-link_wrapper *, #messageBox_wrapper *, #delete-div_wrapper *, #permission_delete_confirmation_wrapper *, #designer-header * {
  font-family: var(--font-family); }

.e-icon, .e-rte-toolbar-icon, .e-background-color, .e-font, .e-rte-footericon, .e-resize-handle {
  font-family: 'ej-webfont' !important; }

html, body {
  height: 100%;
  width: 100%;
  font-family: var(--font-family) !important; }

::-ms-clear {
  display: none; }

input::-ms-clear, input::-ms-reveal {
  display: none; }

a:hover, a:focus {
  text-decoration: none !important; }

.suspension-warning, .user-warning {
  position: absolute;
  color: #000;
  text-align: center;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  -moz-box-shadow: 0 0 5px #000;
  top: 0;
  width: 100%;
  margin-left: -80px; }
  .suspension-warning .warning-content, .suspension-warning .user-warning-content, .user-warning .warning-content, .user-warning .user-warning-content {
    position: relative;
    padding: 10px;
    background: #fde073;
    background-color: #e57768;
    color: white; }
    .suspension-warning .warning-content a, .suspension-warning .user-warning-content a, .user-warning .warning-content a, .user-warning .user-warning-content a {
      color: white;
      text-decoration: underline; }
  .suspension-warning .close-warning-icons, .suspension-warning .close-user-warning-icons, .user-warning .close-warning-icons, .user-warning .close-user-warning-icons {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 2px;
    padding: 12px;
    border-radius: 10px; }

.profile-pic-tag {
  border-radius: 50%;
  color: var(--colorText);
  display: inline-block;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 2px;
  position: relative;
  text-align: center; }

#default-profile-image {
  border-radius: 50%;
  left: 0;
  position: absolute; }

.user-warning-space, .suspension-warning-space {
  padding-top: 45px !important; }

a {
  cursor: pointer;
  color: var(--colorPrimary); }
  a:hover {
    color: #007aff; }
  a:hover, a:focus {
    text-decoration: none !important; }

.dropdown-menu.inner li:hover a {
  background-color: #b3b3b3; }

.dropdown-menu.inner li.selected a {
  background-color: #dbe9ff; }

@media screen and (min-width: 0px) {
  body {
    font-size: 10px; }
    body .form-control, body .bootstrap-select .btn {
      font-size: 10px;
      height: 28px; }
    body .dropdown-menu .inner {
      font-size: 10px; }
    body .validation-txt-errors {
      font-size: 12px;
      color: var(--danger); } }

@media screen and (min-width: 1400px) {
  body {
    font-size: 12px; }
    body .form-control, body .bootstrap-select .btn {
      font-size: 12px;
      height: 32px; }
    body .dropdown-menu .inner {
      font-size: 12px; }
    body .validation-txt-errors {
      font-size: 12px;
      color: var(--danger); } }

#body-container #site-container .row .site-row-container .site-name, #body-container #site-container .row .site-row-container .site-url-container .site-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

body {
  margin: auto;
  background-color: #f9f9f9; }

#site-down-alert .e-dlg-header-content {
  background-color: var(--surface);
  border: 0px; }

#site-down-alert .e-dlg-content {
  text-align: center; }
  #site-down-alert .e-dlg-content .body-content {
    padding-top: 30px; }

#site-down-alert .e-footer-content {
  background: var(--background);
  text-align: center; }
  #site-down-alert .e-footer-content .e-btn {
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: bold;
    height: 28px;
    margin-left: 16px;
    min-width: 80px; }

#header-container {
  width: 100%;
  height: 60px;
  margin-bottom: 16px; }
  #header-container .boldbi-logo {
    float: left;
    width: 140px;
    height: 28px;
    padding: 16px 0px 16px 83px; }
  #header-container .logout-container {
    float: right;
    width: auto;
    height: 28px;
    border-radius: 4px;
    padding: 16px 83px 16px 24px;
    text-align: center; }
    #header-container .logout-container .logout {
      font-size: 10px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.61px;
      text-align: center;
      text-decoration: none;
      color: var(--colorPrimary); }
  #header-container .create-site {
    background-color: var(--colorPrimary);
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--colorOnPrimary);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    position: relative;
    text-align: center;
    width: auto;
    float: right;
    margin: 15px 0px;
    padding: 6px 8px;
    line-height: normal;
    text-decoration: none;
    font-size: 10px;
    outline: 0; }
    #header-container .create-site:hover {
      background-color: #007aff; }
    #header-container .create-site:disabled {
      background-color: #f2f2f2;
      border: 1px solid #cccccc;
      box-shadow: none;
      color: #999999;
      cursor: default; }
    #header-container .create-site:focus {
      outline: 0; }
  #header-container .manage-sites {
    background-color: var(--colorSecondary);
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--colorOnSecondary);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    position: relative;
    text-align: center;
    width: auto;
    float: right;
    margin: 15px 24px 15px 0px;
    padding: 6px 8px;
    line-height: normal;
    text-decoration: none;
    font-size: 10px;
    outline: 0; }
    #header-container .manage-sites:hover {
      background-color: #f9f9f9; }
    #header-container .manage-sites:disabled {
      background-color: #f2f2f2;
      border: 1px solid #cccccc;
      box-shadow: none;
      color: #999999;
      cursor: default; }
    #header-container .manage-sites:focus {
      outline: 0; }

#body-container {
  margin: auto;
  text-align: center;
  float: left;
  width: 100%; }
  #body-container .user-image-container {
    width: 164px;
    height: 100px;
    margin: auto;
    background-image: url("images/img-profile-bg.svg"); }
    #body-container .user-image-container .user-image {
      width: 100px;
      height: 100px;
      border-radius: 50%; }
  #body-container .user-name {
    width: auto;
    height: 22px;
    padding-top: 18px;
    font-size: 16px;
    letter-spacing: 0.84px;
    text-align: center;
    color: #333; }
  #body-container .welcome-note {
    width: auto;
    height: 30px;
    padding: 12px 0px 0px 0px;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.65px;
    text-align: center;
    color: #4d4d4d; }
  #body-container .loader {
    width: 24px;
    height: 24px;
    padding-top: 36px;
    background-color: var(--colorPrimary); }
  #body-container .line {
    width: 70px;
    margin: 12px auto;
    border: solid 1px #ff4800; }
  #body-container .choose-site {
    width: auto;
    height: 30px;
    padding-bottom: 18px;
    font-size: 10px;
    line-height: 30px;
    letter-spacing: 0.61px;
    text-align: center;
    color: #1a1a1a; }
  #body-container #site-container {
    float: left;
    width: 100%; }
    #body-container #site-container .row {
      margin: auto; }
      #body-container #site-container .row .fade {
        opacity: 0;
        -webkit-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear; }
      #body-container #site-container .row .tooltip {
        position: absolute;
        z-index: 1070;
        display: block;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: left;
        text-align: start;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        letter-spacing: normal;
        word-break: normal;
        word-spacing: normal;
        word-wrap: normal;
        white-space: normal;
        filter: alpha(opacity=0);
        opacity: 0;
        line-break: auto; }
        #body-container #site-container .row .tooltip .tooltip-arrow {
          bottom: 0;
          left: 50%;
          margin-left: -5px;
          border-width: 5px 5px 0;
          border-top-color: #333;
          position: absolute;
          width: 0;
          height: 0;
          color: transparent;
          border-style: solid; }
        #body-container #site-container .row .tooltip .tooltip-inner {
          max-width: 200px;
          padding: 3px 8px;
          color: #fff;
          text-align: center;
          background-color: #333;
          border-radius: 4px; }
      #body-container #site-container .row .fade.in {
        opacity: 1; }
      #body-container #site-container .row .tooltip.top {
        padding: 5px 0;
        margin-top: -3px; }
      #body-container #site-container .row .tooltip.in {
        filter: alpha(opacity=90);
        opacity: .9; }
      #body-container #site-container .row .site-row-container {
        width: 200px;
        height: 134px;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        background-color: #fff;
        margin: 0px 12px 24px 12px;
        display: inline-block;
        text-decoration: none; }
        #body-container #site-container .row .site-row-container:hover {
          box-shadow: 0 6px 14px 3px rgba(0, 0, 0, 0.1); }
        #body-container #site-container .row .site-row-container .site-logo-container {
          width: 200px;
          height: 60px;
          margin: 8px 0px; }
          #body-container #site-container .row .site-row-container .site-logo-container .site-logo {
            display: block;
            margin: 0 auto;
            max-width: 180px;
            max-height: 40px;
            padding: 10px; }
          #body-container #site-container .row .site-row-container .site-logo-container .img-loader {
            -webkit-animation-name: fadeOpactiy;
            -webkit-animation-duration: 4s;
            animation-name: fadeOpactiy;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            background: gray;
            padding-top: 10px;
            height: 40px;
            width: 100px;
            display: block;
            float: none;
            margin: 0 auto; }
        #body-container #site-container .row .site-row-container .site-name {
          width: auto;
          height: 16px;
          font-size: 10px;
          padding: 0px 10px;
          font-weight: bold;
          letter-spacing: 0.56px;
          text-align: center;
          color: #333; }
        #body-container #site-container .row .site-row-container .site-url-container {
          width: 200px;
          height: 24px;
          margin: 8px 0px;
          color: #4d4d4d;
          text-decoration: none; }
          #body-container #site-container .row .site-row-container .site-url-container .site-url {
            width: auto;
            height: 16px;
            padding: 3px 10px;
            font-size: 10px;
            letter-spacing: 0.56px;
            text-align: center;
            color: #4d4d4d; }

#footer-container {
  width: 100%;
  height: 40px;
  float: left; }
  #footer-container .copyright-container {
    float: left; }
    #footer-container .copyright-container .copyright {
      width: auto;
      height: 21px;
      padding: 10px 0px 9px 32px;
      font-size: 10px;
      line-height: 21px;
      letter-spacing: 0.36px;
      color: #333; }
  #footer-container .footer-logo-container {
    float: right;
    width: auto;
    height: 32px;
    padding: 4px 32px 4px 0px; }
    #footer-container .footer-logo-container .powered-by {
      width: auto;
      height: 10px;
      padding: 12px 0px 10px 5px;
      line-height: 10px;
      vertical-align: top;
      display: inline-block;
      font-size: 10px;
      color: #4d4d4d;
      margin-top: -9px; }
    #footer-container .footer-logo-container .footer-logo {
      width: 89px;
      height: 30px;
      padding: 6px 0px;
      margin-top: -10px; }
  #footer-container .display-none {
    display: none; }

@media screen and (max-width: 768px) {
  #header-container .boldbi-logo {
    padding-left: 30px; }
  #header-container .logout-container {
    display: none; }
  #header-container .create-site {
    display: none; }
  #header-container .manage-sites {
    display: none; }
  #body-container #site-container .row {
    width: 225px;
    display: block; }
  #footer-container {
    text-align: center;
    margin: auto; }
    #footer-container .copyright-container {
      float: none; }
      #footer-container .copyright-container .copyright {
        padding-left: 0px;
        margin-bottom: 40px; }
    #footer-container .footer-logo-container {
      float: none;
      padding-right: 0px; } }

@media screen and (min-width: 768px) and (max-width: 1081px) {
  #site-container .row {
    width: 672px; } }

@media screen and (min-width: 1081px) and (max-width: 1367px) {
  #site-container .row {
    width: 896px; } }

@media screen and (min-width: 1367px) {
  #site-container .row {
    width: 1344px; } }
