@import "global.scss", "core/_resolution.scss", "extender.scss", "mixins/_button.scss";

$header-height: 60px;
$footer-height: 40px;
$box-shadow: rgba(0, 0, 0, 0.12);
$box-hover-shadow: rgba(0, 0, 0, 0.1);

body {
    margin: auto;
    background-color: $grey-40;
}

#site-down-alert {
    .e-dlg-header-content
        {
        background-color: $admin-page-bg;
        border:0px;
        }

        .e-dlg-content {
        text-align: center;

        .body-content {
            padding-top: 30px;
        }
    }

    .e-footer-content {
        background: $admin-container-bg;
        text-align: center;

        .e-btn {
            font-family: var(--font-family);
            font-size: map-get($app-text-size, sm);
            font-weight: bold;
            height: 28px;
            margin-left: 16px;
            min-width: 80px;
        }
    }
}

#header-container {
    width: 100%;
    height: $header-height;
    margin-bottom: 16px;

    .boldbi-logo {
        float: left;
        width: 140px;
        height: map-get($input-height, md);
        padding: 16px 0px 16px 83px;
    }

    .logout-container {
        float: right;
        width: auto;
        height: map-get($input-height, md);
        border-radius: 4px;
        padding: 16px 83px 16px 24px;
        text-align: center;

        .logout {
            font-size: map-get($app-text-size, sm);
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0.61px;
            text-align: center;
            text-decoration: none;
            color: $primary-color;
        }
    }

    .create-site {
        @include button(map-get($input-height, md), auto);
        float: right;
        margin: 15px 0px;
        padding: 6px 8px;
        line-height: normal;
        text-decoration: none;
        font-size: map-get($app-text-size, sm);
        outline: 0;

        &:focus {
            outline: 0;
        }
    }

    .manage-sites {
        @include button(map-get($input-height, md), auto, "secondary");
        float: right;
        margin: 15px 24px 15px 0px;
        padding: 6px 8px;
        line-height: normal;
        text-decoration: none;
        font-size: map-get($app-text-size, sm);
        outline: 0;

        &:focus {
            outline: 0;
        }
    }
}

#body-container {
    margin: auto;
    text-align: center;
    float: left;
    width: 100%;

    .user-image-container {
        width: 164px;
        height: 100px;
        margin: auto;
        background-image: url("images/img-profile-bg.svg");

        .user-image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }

    .user-name {
        width: auto;
        height: 22px;
        padding-top: 18px;
        font-size: map-get($app-text-size, xl);
        letter-spacing: 0.84px;
        text-align: center;
        color: $primary-black;
    }


    .welcome-note {
        width: auto;
        height: 30px;
        padding: 12px 0px 0px 0px;
        font-size: map-get($app-text-size, md);
        line-height: 30px;
        letter-spacing: 0.65px;
        text-align: center;
        color: $grey-700;
    }

    .loader {
        width: 24px;
        height: 24px;
        padding-top: 36px;
        background-color: $primary-color;
    }

    .line {
        width: 70px;
        margin: 12px auto;
        border: solid 1px $boldbi-brand;
    }

    .choose-site {
        width: auto;
        height: 30px;
        padding-bottom: 18px;
        font-size: map-get($app-text-size, sm);
        line-height: 30px;
        letter-spacing: 0.61px;
        text-align: center;
        color: $grey-900;
    }

    #site-container {
        float: left;
        width: 100%;

        .row {
            margin: auto;

            .fade {
                opacity: 0;
                -webkit-transition: opacity .15s linear;
                -o-transition: opacity .15s linear;
                transition: opacity .15s linear;
            }

            .tooltip {
                position: absolute;
                z-index: 1070;
                display: block;
                font-size: map-get($app-text-size, sm);
                font-style: normal;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: left;
                text-align: start;
                text-decoration: none;
                text-shadow: none;
                text-transform: none;
                letter-spacing: normal;
                word-break: normal;
                word-spacing: normal;
                word-wrap: normal;
                white-space: normal;
                filter: alpha(opacity=0);
                opacity: 0;
                line-break: auto;

                .tooltip-arrow {
                    bottom: 0;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px 5px 0;
                    border-top-color: $primary-black;
                    position: absolute;
                    width: 0;
                    height: 0;
                    color: transparent;
                    border-style: solid;
                }

                .tooltip-inner {
                    max-width: 200px;
                    padding: 3px 8px;
                    color: $white;
                    text-align: center;
                    background-color: $primary-black;
                    border-radius: 4px;
                }
            }

            .fade.in {
                opacity: 1;
            }

            .tooltip.top {
                padding: 5px 0;
                margin-top: -3px;
            }

            .tooltip.in {
                filter: alpha(opacity=90);
                opacity: .9;
            }

            .site-row-container {
                width: 200px;
                height: 134px;
                border-radius: 4px;
                box-shadow: 0 2px 4px 0 $box-shadow;
                background-color: $white;
                margin: 0px 12px 24px 12px;
                display: inline-block;
                text-decoration: none;

                &:hover {
                    box-shadow: 0 6px 14px 3px $box-hover-shadow;
                }

                .site-logo-container {
                    width: 200px;
                    height: 60px;
                    margin: 8px 0px;

                    .site-logo {
                        display: block;
                        margin: 0 auto;
                        max-width: 180px;
                        max-height: 40px;
                        padding: 10px;
                    }

                    .img-loader {
                        -webkit-animation-name: fadeOpactiy;
                        -webkit-animation-duration: 4s;
                        animation-name: fadeOpactiy;
                        animation-duration: 4s;
                        animation-iteration-count: infinite;
                        background: gray;
                        padding-top: 10px;
                        height: 40px;
                        width: 100px;
                        display: block;
                        float: none;
                        margin: 0 auto;
                    }
                }

                .site-name {
                    width: auto;
                    height: map-get($app-text-size, xl);
                    font-size: map-get($app-text-size, sm);
                    padding: 0px 10px;
                    font-weight: bold;
                    letter-spacing: 0.56px;
                    text-align: center;
                    color: $primary-black;
                    @extend %text-overflow-ellipsis;
                }

                .site-url-container {
                    width: 200px;
                    height: 24px;
                    margin: 8px 0px;
                    color: $grey-700;
                    text-decoration: none;

                    .site-url {
                        width: auto;
                        height: map-get($app-text-size, xl);
                        padding: 3px 10px;
                        font-size: map-get($app-text-size, sm);
                        letter-spacing: 0.56px;
                        text-align: center;
                        color: $grey-700;
                        @extend %text-overflow-ellipsis;
                    }
                }
            }
        }
    }
}

#footer-container {
    width: 100%;
    height: $footer-height;
    float: left;

    .copyright-container {
        float: left;

        .copyright {
            width: auto;
            height: 21px;
            padding: 10px 0px 9px 32px;
            font-size: map-get($app-text-size, sm);
            line-height: 21px;
            letter-spacing: 0.36px;
            color: $primary-black;
        }
    }

    .footer-logo-container {
        float: right;
        width: auto;
        height: 32px;
        padding: 4px 32px 4px 0px;

        .powered-by {
            width: auto;
            height: 10px;
            padding: 12px 0px 10px 5px;
            line-height: 10px;
            vertical-align: top;
            display: inline-block;
            font-size: map-get($app-text-size, xs);
            color: $grey-700;
            margin-top: -9px;
        }

        .footer-logo {
            width: 89px;
            height: 30px;
            padding: 6px 0px;
            margin-top: -10px;
        }
    }

    .display-none {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    #header-container {

        .boldbi-logo {
            padding-left: 30px;
        }

        .logout-container {
            display: none;
        }

        .create-site {
            display: none;
        }

        .manage-sites {
            display: none;
        }
    }

    #body-container {
        #site-container {
            .row {
                width: 225px;
                display: block;
            }
        }
    }

    #footer-container {
        text-align: center;
        margin: auto;

        .copyright-container {
            float: none;

            .copyright {
                padding-left: 0px;
                margin-bottom: 40px;
            }
        }

        .footer-logo-container {
            float: none;
            padding-right: 0px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1081px) {
    #site-container {
        .row {
            width: 672px;
        }
    }
}

@media screen and (min-width: 1081px) and (max-width: 1367px) {
    #site-container {
        .row {
            width: 896px;
        }
    }
}

@media screen and (min-width: 1367px) {
    #site-container {
        .row {
            width: 1344px;
        }
    }
}
