@{
    var domain = ViewData["Domain"] != null ? ViewData["Domain"].ToString() : GlobalAppSettings.BrandingDomain;
}
<div class="cookie-notification">
    <div class="container">
        <div class="row" style="color:#ffffff;font-size:13px;padding:0px 50px 0px 30px">
            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-12 content-small vcenter" style="font-family:RobotoRegular;font-size:13px !important;line-height: 1.7em; width: 86%;">
                We use cookies to give you the best experience on our website. If you continue to browse, then you agree to our <a href="@domain/privacy" target="_blank" style="text-decoration:underline;" class="privacy-link">privacy policy</a> and <a href="@domain/cookie-policy" target="_blank" style="text-decoration:underline;" class="privacy-link">cookie policy</a>.
            </div>
            <div class="col-lg-1 col-sm-1 col-xs-12 vcenter agreebutton">
                <button id="cookiesubs" type="button" class="btn  btn--stack  btn--primary" style="background:#ff4800; color:white;display: inline-block;font-size:13px;padding: 3px 25px;border-radius: 3px;cursor:pointer">
                    <span class="btn--text" style="font-family:RobotoRegular;font-size:13px;font-weight: bold;">OK</span>
                </button>
            </div>
        </div>
    </div>
</div>
