@{
    var domain = CloudAppConfig.SyncfusionCloudHomeUrl;
}

<link rel="stylesheet" href="~/bundles/css/creditcardpay.css" asp-append-version="true"/>
<script src="https://js.stripe.com/v3/"></script>

<script>
    var stripePublicKey = "@GlobalAppSettings.Configuration.GetSection("AppSettings")["stripe:public_key"]";
    var createSubscriptionUrl = "@Url.Action("CreateSubscription", "Register")";
</script>
<div class="credit-card-container">
    <div class="wrapper">
        <div id="credit-card-body">
            <h3 class="free-description no-margin text-h1">You won’t be charged untill @ViewBag.FreeSubscriptionEndDate</h3>
            <form id="card-form" onsubmit="validateForm(event)">
                <div class="card-container">
                    <div class="card-container-div no-padding">
                        <div class="accepted-cards">
                            <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications." style='float: right;width: 82px;margin-top: 13px;height: 38px;margin-right: 9px;'>
                                <tr>
                                    <td width="135" align="center" valign="top">
                                        <script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=@(CloudAppConfig.TenantAppURL)&amp;size=M&amp;lang=en"></script><br />
                                        <a href="http://www.geotrust.com/ssl/" target="_blank" style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-number-div">
                            <label for="card-number" class="text-body text-bitter-bold">Card Number</label>
                            <span id="card-number" class="form-control"></span>
                            <span class="su-credit-card" id="brand-icon"></span>
                        </div>
                        <div class="name-div">
                            <label for="name" class="text-body text-bitter-bold">Name on the card</label>
                            <input type="text" class="form-control text-body" placeholder="Name on the card" id="name" autocomplete="cc-name">
                        </div>
                        <div class="exp-cvv-div">
                            <div class="exp-div">
                                <label for="card-exp" class="text-body text-bitter-bold">Expiry Date</label>
                                <span id="card-exp" class="form-control"></span>
                            </div>
                            <div class="cvv-div">
                                <label for="card-cvc" class="text-body text-bitter-bold">CVC </label><span id="cvc-popover" tabindex="-1" class="info-icon" role="button" data-toggle="popover" data-content="Three-digit number on the back of your card" data-trigger="focus"></span>
                                <span id="card-cvc" class="form-control"></span>
                            </div>
                        </div>
                        <div class="form-group text-body error-section no-padding no-margin">
                            <div class="error no-padding" role="alert">
                                <span class="message validation-error"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="card-details-info">By clicking on "Subscribe," you confirm that you accept our <a href="@domain/terms-of-use" target="_blank">Terms of Service</a> and that your subscription will automatically renew based on the subscription billing period. Your credit card will automatically be charged the subscription fee until you cancel your subscription. You can cancel your subscription anytime from the Dashboards' subscription page.</div>
                <div class="button-div no-padding">
                    <input id="card-page-back" type="button" class="back-button text-semibold" value="Back" />
                    <input id="payment-submit" type="submit" class="proceed-button text-semibold" value="Subscribe" />
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/bundles/js/creditcardpay.js" asp-append-version="true"></script>