@{ 
    var requestUrl = new Uri(this.Context.Request.GetDisplayUrl());
}

﻿<div id="existing-account-login-popup" style="display:none">
    <p class="col-xs-12">An account with this email address already exists. Login to complete registration.</p>
    <div class="col-xs-12" id="redirection-buttons">
        <button id="redirection-submit" class="col-xs-12 login-url" href="@Url.Action("Login", "Accounts")?returnUrl=@WebUtility.UrlEncode(requestUrl.AbsoluteUri)&deploy=true">Login</button>
        <button id="redirection-cancel" class="col-xs-12" onclick="existingAccountLoginPopupClose()">Try another email address</button>
    </div>
</div>
