<div id="recovery-code-box"></div>
<div id="recovery-code-box-content">
    <hgroup class="admin-page-header-description mfa-success-message">
        @T["Two factor authentication enabled successfully for your account."]
    </hgroup>
    <hgroup class="admin-page-header-description recovery-code-header">
        @T["Recovery codes"]:
    </hgroup>
    <div id="recovery-code-containers" class="info-message recovery-code-containers">
        <div class="bg-info">
            <p>
                @T["Recovery codes are helpful to gain access to your account if your device is lost or not able to access the TOTP authenticator application. We strongly recommend that you copy your recovery codes and keep them safe."]
            </p>
        </div>
        <div class="recovery-code-content">
            <input type="hidden" id="copy-recovery" readonly="readonly" />
            <span class="su su-copy text focus" id="recovery-code-copy"  data-toggle="tooltip" data-original-title="@T["Click to copy"]"></span>
            <table id="table-recovery" class="recovery-code">
            </table>
        </div>
    </div>
</div>

