@using Syncfusion.Server.Base.DataClasses;

@model NotificationSettings
@{ 
    var notificationList = new List<SelectListItem>
    {
    new SelectListItem { Text = "Enable", Value = ((int)NotificationPreferenceOption.Enable).ToString() },
        new SelectListItem { Text = "Disable", Value = ((int)NotificationPreferenceOption.Disable).ToString()},
    new SelectListItem { Text = "Inherit from global settings", Value = ((int)NotificationPreferenceOption.Inherit).ToString()}
    };
}

    <div id="notification-preference-base-div" class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-margin admin-page-body">
        <input type="hidden" class="page-title" data-page="NOTIFICATION PREFERENCE">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="notification-heading-form-div">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding" id="section-heading">
                Notification Settings
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding" id="notification-preference-form-div">
            <form class="col-xs-12 col-sm-12 col-md-12 col-lg-12 notification-preference-form no-padding" autocomplete="off">
                <div class="notification-preference-table col-sm-8 col-xs-12" cellpadding="20">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top16">
                        <label valign="top" class="notification-content col-xs-12 col-sm-5 col-md-5 col-lg-4 no-padding text-right">
                            System notifications
                        </label>
                        <div class="col-xs-11 col-sm-6 col-md-4 col-lg-3 no-padding dropdown">
                            @Html.DropDownListFor(model => model.EnableSystemNotification, notificationList, new { @class = "selectpicker notification-disabled", @id = "system-notify-status" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top16">
                        <label class="col-xs-12 col-sm-5 col-md-5 col-lg-4 no-padding notification-content text-right">Mail notifications</label>
                        <div class="hidden-visibility col-xs-11 col-sm-6 col-md-4 col-lg-3 no-padding dropdown">
                            @Html.DropDownListFor(model => model.EnableMailNotification, notificationList, new { @class = "selectpicker notification-disabled", @id = "mail-notify-status" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 no-padding margin-left">
                        <h5 id="success-msg"></h5>
                    </div>
                </div>
                <div id="edit-button" class="col-sm-4 col-xs-12 no-padding">
                    <input type="button" class="secondary-button pull-right" id="edit-settings" title="" value="Edit">
                    <input type="button" class="secondary-button pull-right" title="" id="cancel-settings" value="Cancel">
                    <input type="button" class="primary-button pull-right inactive-content" id="update-notification-settings" title="" value="Save">
                </div>
            </form>
        </div>
    </div>
