.sf-button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  min-width: 90px;
  outline: none;
  text-align: center;
  padding: 0 15px; }
  .sf-button:disabled {
    cursor: default; }

.sf-primary-button {
  background: #0565ff; }

.sf-secondary-button {
  background: #fff; }

.sf-danger-button {
  background: #ff3b30; }

.sf-rounded-button {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
