<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Syncfusion.Server.IdentityProvider.Core.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\web" hostingModel="outofprocess" requestTimeout="00:20:00" />
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="2097151" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: ef71ce97-c12b-47ab-9084-76e570096c80-->