@import (reference) "../NewThemes/ElementColor.less";
@import (reference) "../NewThemes/ElementSize.less";
@import (reference) "../NewThemes/Mixins.less";

.change-password-container {
    height: auto;
    width: 348px;
    font-size: @textsize-12;
    padding: @space-l @space-xxl;
    text-align: left;

    .form-name {
        font-weight: @text-semibold;
        color: @color-primary;
    }

    .form-name::after {
        content: '';
        display: block;
        width: 74px;
        border-bottom: 2px solid @color-primary;
    }

    .update-form-input-field.new-password {
        padding: @space-l 0px;
    }

    .update-form-input-field.re-password {
        margin-bottom: @space-xxl;

        .su.su-eye {
            top: 10px;
        }
    }

    .update-form-input-field {
        position: relative;

        label {
            margin-bottom: 8px;
        }

        .form-control {
            font-size: @textsize-12;
            border-radius: 5px;
            height: @textbox-32;
            padding-right: 30px;
        }

        .form-control[disabled] {
            cursor: default;
        }

        .su.su-eye {
            position: absolute;
            top: 35px;
            right: 10px;
        }
    }

    .proceed-button {
        .proceed-button();
        margin: 0 auto;
        width: 60%;
    }
}

.validation-holder {
    color: @validation-text-color;
    font-size: @textsize-10;
    position: absolute;
}

#password + .popover {
    
    background: @color-black;
    opacity: 0.8;
    width: 200px;
    top: -135px !important;
    
    .arrow {
        top: 80% !important;
    }

    .arrow::after {
        border-right-color: @color-black;
        opacity: 0.8;
    }

    .popover-title {
        background: @color-black;
        opacity: 0.8;
        color: @color-white;
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 18px;
        padding-bottom: 0px;
        border: none;
    }

    .popover-content {
        padding-top: 0px;
        height: 175px;

        ul {
            list-style: none;
            padding: 0px;

            li {
                height: 20px;
                margin: 15px 15px 15px 10px;

                span.icon {
                    height: 20px;
                    width: 20px;
                    margin: 0 auto;
                    border-radius: 50%;
                    border: 2px solid @color-white;
                    display: inline-block;
                    float: left;
                }

                span.content {
                    margin-left: 14px;
                    color: @color-white;
                }
            }
        }
    }
}


@media screen and (min-width:700px) and (max-width:768px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: -10px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -45px;
            }
        }
    }
}

@media screen and (min-width:1000px) and (max-width: 1040px) {

    #password + .popover {
        background: @color-black;
        opacity: 0.8;
        width: 200px;
        top: -160px !important;

        .arrow {
            top: 90% !important;
        }

      
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: -10px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -40px;
            }
        }
    }
}

@media screen and (min-width:400px) and (max-width:450px) {

    #password + .popover {
        position: absolute;
        background: @color-black;
        opacity: 0.8;
        width: 200px;
        top: -220px !important;
        margin-left: -170px;

        .arrow {
            top: 103% !important;
            left: 50px;
            transform: rotate(270deg);
        }
       
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: 18px !important;
                margin-top: -60px;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: 5px !important;
                margin-top: -40px;
            }
        }
    }
}

@media screen and (max-width:390px) {

    #password + .popover {
        position: absolute;
        background: @color-black;
        opacity: 0.8;
        width: 200px;
        top: -220px !important;
        margin-left: -170px;

        .arrow {
            top: 103% !important;
            left: 50px;
            transform: rotate(270deg);
        }

       
    }
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: 18px !important;
                margin-top:-60px;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: -10px !important;
                margin-top: -40px;
            }
        }
    }
}
