@{
    var requestUrl = new Uri(Context.Request.GetDisplayUrl());
    var currentUrl = requestUrl.LocalPath.TrimEnd('/');
    var userListUrl = Url.Action("index", "OrgUserManagement");
    var groupListUrl = Url.Action("group", "orggroup");
}

<nav id="admin-nav">
    <ul>
        <li>
            <a class="admin-menu-item @(currentUrl.Contains("users") ? "active" : string.Empty)" href="@userListUrl" role="tab">
                <i class="su su-user-1"></i>
                <span>Users</span>
            </a>
        </li>
        <li>
            <a class="admin-menu-item @(currentUrl.Contains("groups") ? "active" : string.Empty)" href="@groupListUrl" role="tab">
                <i class="su su-group-1"></i>
                <span>Groups</span>
            </a>
        </li>
    </ul>
</nav>