<div id="cance-and-new-setup-container" class="">
    <h4>Cancel the new account setup</h4>
    <p>You’ll be taken back to the BoldSign create account page.</p>
    <div id="new-setup-buttons">
        <button id="continue-onboard" class="link-button">Continue Onboarding</button>
        <button data-href="@CloudAppConfig.ProductHomeUrl(TenantType.BoldSign)" id="cancel-and-redirect" class="sf-button sf-primary-button">Yes</button>
    </div>
</div>
