@import "../mixins.scss";

#server-app-container {
    #content-area {
        height: 100%;
    }

    .admin-page-content-container {
        @include admin-page-template_new();

        #application-tab {
            @include copyshowClient();
        }

        input:not(#search-app-users):not(#search-tenants) {
            font-size: 12px;
            height: 28px;
            padding: 5px 8px;
            width: 450px;
        }
    }
}
