@import "../mixins.scss";

#server-app-container {
    #content-area {
        height: 100%;
    }

    @include admin-page-template_header();

    .admin-page-content-container {

        @include admin-page-template_new();

        &#application-information-container {
            height: calc(100% - 85px) !important;
        }

        &#base-container {
            height: calc(100% - 121px) !important;
        }

        #application-tab {
            @include copyshowClient();
        }

        input:not(#search-app-users):not(#search-tenants) {
            font-size: 12px;
            height: 28px;
            padding: 5px 8px;
            width: 450px;
        }
    }
}
