@import "../../default/default.scss";

#messageBox {
    display: block;

    .message-content {
        .tenant-name {
            color: $primary-color;
            font-style: italic;
        }

        .tenant-delete-warning {
            margin-top: 15px;

            span {
                font-weight: bold;
            }

            div {
                padding-top: 5px;
            }
        }
    }
}

#add-tenant-popup_wrapper {
    top: 0 !important;

    .e-dialog-scroller {
        border: 0px;
    }
}

#add-tenant-popup {
    padding: 0;
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;

    .e-dlg-content {
        overflow: hidden !important;
        padding: 0px !important;
    }

    #add-tenant-iframe {
        border: none;
        width: 100% !important;
        height: 100% !important;
    }
}

.provide-access-button, .cancel-button {
    padding-right: 16px;
}