@import "../../themes/default.scss";

.su-suspend {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGlkPSJYTUxJRF81ODk2XyI+DQoJPGc+DQoJCTxnIGlkPSJYTUxJRF8xNTZfIj4NCgkJCTxwYXRoIGlkPSJYTUxJRF8xNTdfIiBmaWxsPSIjNDQ0NDQ0IiBkPSJNMTkuNCwxOS40SDQuNmMtMS41LDAtMi44LTEuMi0yLjgtMi44VjcuNGMwLTEuNSwxLjItMi44LDIuOC0yLjhoMTQuNw0KCQkJCWMxLjUsMCwyLjgsMS4yLDIuOCwyLjh2OS4yQzIyLjEsMTguMSwyMC45LDE5LjQsMTkuNCwxOS40eiBNNC42LDYuNWMtMC41LDAtMC45LDAuNC0wLjksMC45djkuMmMwLDAuNSwwLjQsMC45LDAuOSwwLjloMTQuNw0KCQkJCWMwLjUsMCwwLjktMC40LDAuOS0wLjlWNy40YzAtMC41LTAuNC0wLjktMC45LTAuOUg0LjZ6Ii8+DQoJCTwvZz4NCgkJPGcgaWQ9IlhNTElEXzE1NF8iPg0KCQkJDQoJCQkJPHJlY3QgaWQ9IlhNTElEXzE1NV8iIHg9IjEwLjYiIHk9Ii0zLjYiIHRyYW5zZm9ybT0ibWF0cml4KDAuNzA3MSAwLjcwNzEgLTAuNzA3MSAwLjcwNzEgMTEuOTk5OSAtNC45NzA2KSIgZmlsbD0iIzQ0NDQ0NCIgd2lkdGg9IjIuOCIgaGVpZ2h0PSIzMS4yIi8+DQoJCTwvZz4NCgk8L2c+DQo8L2c+DQo8L3N2Zz4NCg==");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 8px;
    padding: 0 10px;
}

#messageBox {
    display: block;

    .message-content {
        .tenant-name {
            color: $primary-color;
            font-style: italic;
        }

        .tenant-delete-warning {
            margin-top: 15px;

            span {
                font-weight: bold;
            }

            div {
                padding-top: 5px;
            }
        }

        .material {
            input[type=checkbox] {
                position: absolute;
            }

            .label-database {
                margin-left: 25px;
                font-weight: 400;
            }
        }
    }
}

#add-tenant-popup_wrapper {
    top: 0 !important;

    .e-dialog-scroller {
        border: 0px;
    }
}

#add-tenant-popup {
    padding: 0;
    width: 100% !important;
    height: 100% !important;

    #add-tenant-iframe {
        border: none;
        width: 100% !important;
        height: 100% !important;
    }
}
