@import "../mixins.scss";
@import "../newthemes/mixins.scss";

.admin-page-content {
    .admin-page-header {
        border: 0px !important
    }

    .admin-page-body {
        .no-tenant-detail {
            padding: 28% 0% 20% 25%;
            font-size: 14px;
        }
    }

    #application-tab {
        .img-view-holder {
            border: 0.5px solid $grid-border-color;
            border-radius: 2px;
            float: left;
            height: 80px;
            margin: 20px 0 20px 20px;
            text-align: center;
            width: 80px;

            #application-logo {
                border-radius: 2px;
                height: 40px;
                margin: 20px 0 0 0px;
                width: 40px;
            }
        }

        #edit-application-form-div {
            margin-left: 20px;
        }
    }

    #custom-attribute-tab, #data-security-tab {
        #add-custom-attribute, .application-isolation-code {
            margin-bottom: 20px;
        }
    }

    #users-tab {
        #user-list-container {
            #new-user-button {
                position: relative;
                right: 20px;
            }

            #add-users-button {
                position: relative;
                right: 40px;
                margin-left: 10px;
            }

            #remove-users-button {
                margin-right: 50px;
            }
        }
    }
}


.note-info {
    margin-top: 10px;

    .note-text {
        font-weight: bold;
    }
}

#custom-attribute-dialog {
    .attribute-name {
        .e-float-input {
            height: 28px !important;

            #custom-attribute-name {
                width: 100% !important;
                padding: 3px 12px 10px !important;
            }
        }

        .e-label-bottom {
            line-height: 39px !important;
        }
    }

    .attribute-value, .attribute-description {
        .e-float-input {
            height: auto !important;
        }
    }
}
