@import "../mixins.scss";
@import "../newthemes/mixins.scss";

.admin-page-content {
    .admin-page-header {
        border: 0px !important
    }

    .admin-page-body {
        .no-tenant-detail {
            padding: 28% 0% 20% 25%;
            font-size: 14px;
        }

        .search-margin{
            margin-bottom: 15px !important;
        }
    }

    #application-tab {
        .img-view-holder {
            border: 0.5px solid $grid-content-border-normal-color;
            border-radius: 2px;
            float: left;
            height: 80px;
            margin: 20px 0 20px 20px;
            text-align: center;
            width: 80px;

            #application-logo {
                border-radius: 2px;
                height: 40px;
                margin: 20px 0 0 0px;
                width: 40px;
            }
        }

        #edit-application-form-div {
            margin-left: 20px;
        }
    }

    #custom-attribute-tab, #data-security-tab, .user-attributes-content {
        #add-custom-attribute, .application-isolation-code {
            margin-bottom: 20px;
        }
    }
}

.cancel-button {
    margin-right: 10px !important;
}

.note-info {
    margin-top: 10px;

    .note-text {
        font-weight: bold;
    }
}

#grant-users-access-dialog {
    .e-btn.e-primary {
        width: auto;
    }
}

#custom-attribute-dialog {
    .attribute-name {
        .e-float-input {
            height: 28px !important;

            #custom-attribute-name {
                width: 100% !important;
                padding: 3px 12px 10px !important;
            }
        }

        .e-label-bottom {
            line-height: 39px !important;
        }
    }

    .attribute-value, .attribute-description {
        .e-float-input {
            height: auto !important;
        }
    }
}

#master-site-change{
    line-height:5px;
}
