@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }
/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0; }

::-ms-clear {
  width: 0;
  height: 0; }

* {
  outline: none !important; }

*:focus {
  outline: none !important; }

label {
  font-weight: normal; }

input[type=button], input[type=submit], button[type=submit] {
  padding: 0px !important; }

input.form-control:not(.input-block-level), .btn-group.form-control .btn.dropdown-toggle, .form-control.StripeElement {
  box-shadow: none !important;
  border: 1px solid var(--input-box-border-normal-color); }

.bs-searchbox .input-block-level.form-control {
  box-shadow: none !important;
  border: 1.5px solid var(--input-box-border-normal-color); }

input.form-control:focus:not(.input-block-level), .StripeElement--focus {
  outline: none !important;
  border: 1.5px solid var(--primary-branding-bg-color) !important;
  box-shadow: none !important; }

input.ng-invalid.ng-touched.remove-border {
  outline: none !important;
  border: 1.5px solid var(--primary-branding-bg-color) !important;
  box-shadow: none !important; }

input.ng-invalid.ng-touched:not(.ng-exclude):not(.e-control), input.ng-invalid.ng-empty.ng-dirty:not(.ng-exclude):not(.e-control), input.ng-invalid.ng-touched:focus:not(.ng-exclude):not(.e-control), .has-error input.form-control:not(.input-block-level), .has-error input.form-control:focus:not(.input-block-level), .has-error .btn-group.form-control .btn.dropdown-toggle, .StripeElement--invalid, input.ng-invalid.ng-invalid-pattern:focus, input.ng-invalid.ng-invalid-maxlength:focus, input.ng-invalid.ng-invalid-uniquednsnotactivated:focus, input.error-focus.ng-invalid.ng-untouched {
  outline: none !important;
  border: 1px solid var(--red) !important;
  box-shadow: none !important; }

input[type="password"] {
  padding-right: 30px; }

.form-control[disabled] {
  cursor: default;
  background-color: var(--input-box-bg-disable-color) !important; }

.su-eye {
  cursor: pointer;
  position: absolute; }

.material-checkbox {
  position: relative; }
  .material-checkbox label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox label:before, .material-checkbox label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox label:before {
      background: var(--grey-white);
      border: 1.5px solid var(--checkbox-border-normal-color);
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox input[type="checkbox"]:checked + input + label:before {
      background: var(--primary-branding-bg-color);
      border: 1.5px solid var(--primary-branding-bg-color); }
    .material-checkbox input[type="checkbox"]:checked + input + label:after {
      border: 2px solid var(--grey-white);
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid var(--primary-branding-bg-color); }

.material-checkbox.selfhosted {
  position: relative; }
  .material-checkbox.selfhosted label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox.selfhosted label:before, .material-checkbox.selfhosted label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox.selfhosted label:before {
      background: var(--grey-white);
      border: 1.5px solid var(--checkbox-border-normal-color);
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox.selfhosted input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox.selfhosted input[type="checkbox"]:checked + label:before {
      background: var(--primary-branding-bg-color);
      border: 1.5px solid var(--primary-branding-bg-color); }
    .material-checkbox.selfhosted input[type="checkbox"]:checked + label:after {
      border: 2px solid var(--grey-white);
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox.selfhosted input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid var(--primary-button-bg-hover-color); }

span.su-password-tick {
  background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  font-size: 20px;
  display: inline-block;
  float: left;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%; }

.text-h1 {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 30px; }

.text-h2 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px; }

.text-h4 {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px; }

.text-body {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px; }

.text-bitter-h2 {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 24px; }

.text-bitter-h1 {
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 24px; }

.text-primary {
  color: var(--primary-branding-bg-color); }

.admin-page-content .admin-page-header {
  border: 0px !important; }
.admin-page-content .admin-page-body .no-tenant-detail {
  padding: 28% 0% 20% 25%;
  font-size: 14px; }
.admin-page-content .admin-page-body .search-margin {
  margin-bottom: 15px !important; }
.admin-page-content #application-tab .img-view-holder {
  border: 0.5px solid var(--grid-content-border-normal-color);
  border-radius: 2px;
  float: left;
  height: 80px;
  margin: 20px 0 20px 20px;
  text-align: center;
  width: 80px; }
  .admin-page-content #application-tab .img-view-holder #application-logo {
    border-radius: 2px;
    height: 40px;
    margin: 20px 0 0 0px;
    width: 40px; }
.admin-page-content #application-tab #edit-application-form-div {
  margin-left: 20px; }
.admin-page-content #custom-attribute-tab #add-custom-attribute, .admin-page-content #custom-attribute-tab .application-isolation-code, .admin-page-content #data-security-tab #add-custom-attribute, .admin-page-content #data-security-tab .application-isolation-code, .admin-page-content .user-attributes-content #add-custom-attribute, .admin-page-content .user-attributes-content .application-isolation-code {
  margin-bottom: 20px; }
.admin-page-content #site-settings-tab .admin-page-body .site-settings {
  padding: 20px 20px 15px 20px; }
  .admin-page-content #site-settings-tab .admin-page-body .site-settings .switch-padding {
    padding-top: 20px;
    margin-left: 30px; }
  .admin-page-content #site-settings-tab .admin-page-body .site-settings .settings-info {
    color: var(--info-text-color);
    padding-left: 5px; }
.admin-page-content #site-settings-tab .admin-page-body .e-checkbox-wrapper .e-frame {
  height: 16px;
  width: 16px; }
.admin-page-content #site-settings-tab .admin-page-body label {
  padding-left: 5px; }
.admin-page-content #site-settings-tab #update-tenant-settings {
  width: 90px !important; }
.admin-page-content #users-tab #user-list-container #new-user-button {
  position: relative;
  right: 20px; }
.admin-page-content #users-tab #user-list-container #add-users-button {
  position: relative;
  right: 40px;
  margin-left: 10px; }
.admin-page-content #users-tab #user-list-container #remove-users-button {
  margin-right: 50px; }

.cancel-button {
  margin-right: 10px !important; }

.note-info {
  margin-top: 10px; }
  .note-info .note-text {
    font-weight: bold; }

#grant-users-access-dialog .e-btn.e-primary {
  width: auto; }

#custom-attribute-dialog .attribute-name .e-float-input {
  height: 28px !important; }
  #custom-attribute-dialog .attribute-name .e-float-input #custom-attribute-name {
    width: 100% !important;
    padding: 3px 12px 10px !important; }
#custom-attribute-dialog .attribute-name .e-label-bottom {
  line-height: 39px !important; }
#custom-attribute-dialog .attribute-value .e-float-input, #custom-attribute-dialog .attribute-description .e-float-input {
  height: auto !important; }

#master-site-change {
  line-height: 5px; }

.e-popup .e-checkbox-wrapper .e-frame.e-check, .e-popup .e-checkbox-wrapper:hover .e-css.e-checkbox-wrapper .e-frame.e-check {
  background-color: var(--primary-button-bg-normal-color);
  color: var(--grey-white); }

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after {
  background-color: transparent !important; }

.e-checkbox-wrapper .e-frame.e-check {
  background-color: var(--primary-button-bg-normal-color) !important;
  border: 1px solid var(--primary-button-border-normal-color);
  color: var(--primary-button-text-normal-color) !important; }

.e-custom.e-non-float:not(.e-popup-open) {
  height: 32px !important;
  font-family: var(--font-family) !important;
  font-size: 14px !important; }
