@import "../mixins.scss";
@import "../newthemes/mixins.scss";

.admin-page-content {
    .admin-page-header {
        border: 0px !important
    }

    .admin-page-body {
        .no-tenant-detail {
            padding: 28% 0% 20% 25%;
            font-size: 14px;
        }

        .search-margin{
            margin-bottom: 15px !important;
        }
    }

    #application-tab {
        .img-view-holder {
            border: 0.5px solid $grid-content-border-normal-color;
            border-radius: 2px;
            float: left;
            height: 80px;
            margin: 20px 0 20px 20px;
            text-align: center;
            width: 80px;

            #application-logo {
                border-radius: 2px;
                height: 40px;
                margin: 20px 0 0 0px;
                width: 40px;
            }
        }

        #edit-application-form-div {
            margin-left: 20px;
        }
    }

    #custom-attribute-tab, #data-security-tab, .user-attributes-content {
        #add-custom-attribute, .application-isolation-code {
            margin-bottom: 20px;
        }
    }

    #site-settings-tab {
        .admin-page-body {
            .site-settings {
                padding: 20px 20px 15px 20px;

                .switch-padding {
                    padding-top: 20px;
                    margin-left: 30px;
                }

                .settings-info {
                    color: $info-text-color;
                }
            }

            .e-checkbox-wrapper .e-frame {
                height: 16px;
                width: 16px;
            }

            input[type=checkbox] {
                margin-top: 0 !important;
            }

            .settings-label {
                padding-left: 5px;
            }

            .tooltip {
                left: 0 !important;
            }
        }

        #update-tenant-settings {
            width: 90px !important;
        }
    }

    #users-tab {
        #user-list-container {
            #new-user-button {
                position: relative;
                right: 20px;
            }

            #add-users-button {
                position: relative;
                right: 40px;
                margin-left: 10px;
            }

            #remove-users-button {
                margin-right: 50px;
            }
        }
    }
    
    #resource-limitation-tab {
        .form-control {
            width: 260px !important;
        }
        
        .info-message {
            padding-left: 43px;
        }

        .has-error {
            border-color: $input-box-border-alert-color !important;
            color: $input-box-text-normal-color !important;
            background: $input-box-bg-normal-color !important;
        }
    }
}

.cancel-button {
    margin-right: 10px !important;
}

.note-info {
    margin-top: 10px;

    .note-text {
        font-weight: bold;
    }
}

#grant-users-access-dialog {
    .e-btn.e-primary {
        width: auto;
    }
}

#custom-attribute-dialog {
    .attribute-name {
        .e-float-input {
            height: 28px !important;

            #custom-attribute-name {
                width: 100% !important;
                padding: 3px 12px 10px !important;
            }
        }

        .e-label-bottom {
            line-height: 39px !important;
        }
    }

    .attribute-value, .attribute-description {
        .e-float-input {
            height: auto !important;
        }
    }
}

#master-site-change{
    line-height:5px;
}

.e-popup .e-checkbox-wrapper .e-frame.e-check, .e-popup .e-checkbox-wrapper:hover .e-css.e-checkbox-wrapper .e-frame.e-check {
    background-color: $checkbox-bg-disable-color;
    color: $white;
}

.e-checkbox-wrapper .e-checkbox:focus + .e-frame {
    background-color: $checkbox-bg-disable-color;
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after {
    background-color: transparent !important;
}

.e-checkbox-wrapper .e-frame.e-check, .e-checkbox-wrapper .e-frame.e-stop {
    background-color: $primary-button-bg-normal-color !important;
    border: 1px solid $primary-button-border-normal-color;
    color: $primary-button-text-normal-color !important;
}

.e-checkbox-wrapper .e-frame {
    background-color: $checkbox-bg-disable-color;
}

.e-custom.e-non-float:not(.e-popup-open) {
    height: 32px !important;
    font-family: var(--font-family) !important;
    font-size: 14px !important;
}
