@{
    var isAllSitesTab = (string.IsNullOrWhiteSpace(Context.Request.Query["view"]) || Context.Request.Query["view"] == "all-sites") ? "active" : string.Empty;
}
<script nonce="@Context.Items["ScriptNonce"]">
</script>
<div role="tabpanel" class="tab-pane all-sites-body @isAllSitesTab" id="all-sites">
    <div id="all-sites-body" class="admin-page-body col-xs-12">
        <div id="grid-tooltip">
            <div id="AllSitesGrid"></div>
        </div>
        <div id="all-sites-tile">
            <div class="tenant-cards-container card-container" id="tenant-cards-container-all"> </div>
            <div class="no-records" style="display: none">@T["No records to display"]</div>
            <div id="card" class="inner-card skeleton-wrapper">
                <div class="skeleton-card">
                    <div class="skeleton img"></div>
                    <div class="skeleton text">
                        <div class="line"></div>
                        <div class="line short"></div>
                        <div class="line"></div>
                        <div class="line short"></div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>