@{
    var isAllSitesTab = (string.IsNullOrWhiteSpace(Context.Request.Query["view"]) || Context.Request.Query["view"] == "all-sites") ? "active" : string.Empty;
}
<script nonce="@Context.Items["ScriptNonce"]">
</script>
<div role="tabpanel" class="tab-pane all-sites-body @isAllSitesTab" id="all-sites">
    <div id="all-sites-body" class="admin-page-body col-xs-12">
        <div id="grid-tooltip">
            <div id="AllSitesGrid"></div>
        </div>
    </div>
</div>