@{
    var isFavoriteTab = Context.Request.Query["view"] == "favorites" ? "active" : string.Empty;
}
<script nonce="@Context.Items["ScriptNonce"]">
</script>

<div role="tabpanel" class="tab-pane favorite-sites-body @isFavoriteTab" id="favorites">
    <div id="favorite-sites-body" class="admin-page-body float-start">
        <div id="grid-tooltip">
            <div id="FavoriteGrid"></div>
        </div>
        <div id="favorite-sites-tile">
            <div class="tenant-cards-container card-container" id="tenant-cards-container-favorite"> </div>
            <div class="no-records" style="display: none" >@T["No records to display"]</div>
        </div>
    </div>
</div>