<div id="site-down-alert-content" style="display:none">
    <div>
        <img src="@GlobalAppSettings.SystemSettings.CDNLink/images/static/error-pages/v1/500.svg" style=" width:214px; height:124px; ">
    </div>
    <div class="body-content">
        <div>
           [[[Unable to reach the site]]] - <a>@ViewBag.ErrorSiteUrl</a>.
        </div>
        <div>[[[Please contact your system administrator for more information.]]]</div>
    </div>
</div>
