@{
    var imageHelper = new ImageHelper(Context);
}
<div id="site-down-alert-content" style="display:none">
    <div>
        <img src="@imageHelper.InternalServerErrorImage()" style=" width:214px; height:124px; ">
    </div>
    <div class="body-content">
        <div>
            @T["Unable to reach the site"] - <a>@ViewBag.ErrorSiteUrl</a>.
        </div>
        <div>@T["Please contact your system administrator for more information."]</div>
    </div>
</div>
