/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0; }

::-ms-clear {
  width: 0;
  height: 0; }

* {
  outline: none !important; }

*:focus {
  outline: none !important; }

label {
  font-weight: normal; }

a, a:hover {
  text-decoration: none !important; }

a:focus {
  text-decoration: underline !important; }

input[type=button], input[type=submit], button[type=submit] {
  padding: 0px !important; }

input.form-control:not(.input-block-level), .btn-group.form-control .btn.dropdown-toggle {
  box-shadow: none !important;
  border: 1.5px solid #cccccc; }

.bs-searchbox .input-block-level.form-control {
  box-shadow: none !important;
  border: 1.5px solid #cccccc; }

input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid var(--colorPrimary) !important;
  box-shadow: none !important; }

.has-error .form-control, .has-error input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid var(--danger) !important;
  box-shadow: none !important; }

input[type="password"] {
  padding-right: 30px; }

.form-control[disabled] {
  cursor: default; }

.su-eye {
  cursor: pointer;
  position: absolute; }

.material-checkbox {
  position: relative; }
  .material-checkbox label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox label:before, .material-checkbox label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox label:before {
      background: #fff;
      border: 1.5px solid #cccccc;
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox input[type="checkbox"]:checked + label:before {
      background: var(--colorPrimary);
      border: 1.5px solid #0851d0; }
    .material-checkbox input[type="checkbox"]:checked + label:after {
      border: 2px solid #fff;
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid #0851d0; }

span.su-password-tick {
  background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  font-size: 20px;
  display: inline-block;
  float: left;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%; }

.text-h1 {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 30px;
  color: #333333; }

.text-h2 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: #333333; }

.text-h4 {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #333333; }

.text-body {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: #333333; }

.text-bitter-h2 {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-bitter-h1 {
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-primary {
  color: var(--colorPrimary); }

.forgot-password-container {
  height: auto;
  width: 348px;
  font-size: 12px;
  padding: 24px 36px;
  text-align: left; }
  .forgot-password-container .icon-container {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fa9a32;
    padding-top: 5px;
    padding-left: 8px;
    color: #fa9a32; }
    .forgot-password-container .icon-container .su.su-warning-alt {
      font-size: 25px;
      color: #fff; }
  .forgot-password-container .heading {
    margin: 16px 0px;
    font-weight: 600;
    text-align: center; }
  .forgot-password-container .user-validation {
    color: var(--danger);
    padding-bottom: 24px;
    text-align: center; }
  .forgot-password-container .form-name {
    font-weight: 600;
    color: var(--colorPrimary); }
  .forgot-password-container .form-name::after {
    content: '';
    display: block;
    width: 74px;
    border-bottom: 2px solid var(--colorPrimary); }
  .forgot-password-container .forgot-password-content {
    padding-top: 32px;
    padding-bottom: 24px; }
  .forgot-password-container .forgot-form-input-field {
    padding-bottom: 36px; }
    .forgot-password-container .forgot-form-input-field label {
      margin-bottom: 8px; }
    .forgot-password-container .forgot-form-input-field .form-control {
      font-size: 12px;
      border-radius: 5px;
      height: 32px;
      padding-right: 30px; }
    .forgot-password-container .forgot-form-input-field .form-control[disabled] {
      cursor: default; }
    .forgot-password-container .forgot-form-input-field #username-validation {
      position: absolute; }
    .forgot-password-container .forgot-form-input-field #key-input {
      height: 40px;
      border-color: #b3b3b3;
      border-radius: 4px; }
  .forgot-password-container #submit-button {
    margin-bottom: 24px; }
  .forgot-password-container .proceed-button {
    background: var(--colorPrimary);
    border: 1px solid #0851d0;
    border-radius: 5px;
    color: #fff;
    height: 32px;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    width: 60%;
    margin: 0 auto 32px auto; }
    .forgot-password-container .proceed-button:hover, .forgot-password-container .proceed-button:focus {
      background: #007aff; }
    .forgot-password-container .proceed-button:disabled {
      background: #cccccc;
      cursor: default;
      border: none; }
    .forgot-password-container .proceed-button:hover {
      background: #007aff; }
  .forgot-password-container .back-button a {
    display: table;
    color: #007aff;
    margin: 0 auto; }
  .forgot-password-container .back-button a:hover {
    text-decoration: none; }
  .forgot-password-container .back-button span {
    display: table-cell;
    vertical-align: middle; }
  .forgot-password-container .back-button span.su-arrow-back {
    padding-right: 8px;
    font-size: 16px; }
  .forgot-password-container .validation-holder {
    color: var(--danger);
    font-size: 10px; }

@media screen and (min-width: 700px) and (max-width: 768px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333 !important;
    position: relative !important;
    margin-left: -5px !important;
    margin-top: -10px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right;
    margin-top: -45px; } }

@media screen and (min-width: 1000px) and (max-width: 1040px) {
  #content-area {
    padding-left: 0px !important; }
    #content-area #edit-profile-base-div #user-profile-master {
      padding: 0px 20px 0px 20px; }
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333 !important;
    position: relative !important;
    margin-left: -5px !important;
    margin-top: -10px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right !important;
    margin-top: -45px; } }

@media screen and (max-width: 390px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333 !important;
    position: relative !important;
    margin-left: 18px !important;
    margin-top: -50px; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-right: -10px !important;
    margin-top: -40px; } }

@media screen and (min-width: 400px) and (max-width: 450px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333 !important;
    position: relative !important;
    margin-left: 18px !important;
    margin-top: -50px; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-right: 3px !important;
    margin-top: -40px; } }

.e-outline.e-input-group input.e-input, .e-outline.e-float-input.e-input-group input, .e-outline.e-input-group.e-control-wrapper input.e-input, .e-outline.e-float-input.e-input-group.e-control-wrapper input, .e-outline.e-float-input input, .e-outline.e-float-input.e-control-wrapper input {
  min-height: 32px !important; }

.e-outline.e-float-input:not(.e-error):not(.e-valid-input):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text.e-label-bottom {
  top: -11px !important; }

.e-outline.e-float-input.e-control-wrapper.e-input-focus:not(.e-error):not(.e-success):not(.e-warning):not(.e-disabled):not(.e-float-icon-left), .e-outline.e-float-input.e-control-wrapper.e-input-focus:not(.e-error):not(.e-success):not(.e-warning):not(.e-disabled) {
  border-top-color: transparent !important;
  box-shadow: inset 0.1px 0 var(--colorPrimary), inset -0.1px 0 var(--colorPrimary), inset 0 -0.1px var(--colorPrimary) !important; }

.e-outline.e-float-input.e-input-focus:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled), .e-outline.e-float-input.e-control-wrapper.e-input-focus:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) {
  border-color: var(--colorPrimary) !important; }

.e-float-input.e-control-wrapper:not(.e-error).e-input-focus input ~ label.e-float-text {
  color: var(--colorPrimary) !important; }

.e-outline.e-input-focus label.e-float-text::before, .e-outline.e-input-focus label.e-float-text::after, .e-outline.e-float-input.e-input-focus label.e-float-text::before, .e-outline.e-float-input.e-input-focus label.e-float-text::after, .e-outline.e-float-input.e-control-wrapper.e-input-focus label.e-float-text::before, .e-outline.e-float-input.e-control-wrapper.e-input-focus label.e-float-text::after {
  border-top-color: var(--colorPrimary) !important; }

.e-outline.e-float-input.e-input-focus .ng-invalid.ng-touched:not(.ng-exclude) {
  border-top-color: transparent !important;
  box-shadow: inset 0.1px 0 var(--colorPrimary), inset -0.1px 0 var(--colorPrimary), inset 0 -0.1px var(--colorPrimary) !important; }

.e-outline.e-float-input:hover:not(.e-input-focus):not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) {
  border-color: var(--colorPrimary) !important; }

.e-outline.e-float-input:hover.e-valid-input:not(.e-input-focus):not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) label.e-float-text::before, .e-outline.e-float-input:hover.e-valid-input:not(.e-input-focus):not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) label.e-float-text::after {
  border-color: var(--colorPrimary) !important; }

.e-outline.e-float-input:hover:not(.e-input-focus):not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) input:valid ~ label.e-float-text {
  color: var(--colorPrimary) !important; }

.e-outline.e-float-input.e-valid-input:not(.e-success):not(.e-error):not(.e-warning):not(.e-float-icon-left), .e-outline.e-float-input.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-warning):not(.e-float-icon-left), .e-outline.e-float-input.e-valid-input.e-control-wrapper:hover:not(.e-success):not(.e-error):not(.e-warning):not(.e-float-icon-left), .e-outline.e-float-input.e-valid-input.e-control-wrapper:not(.e-success):not(.e-error):not(.e-warning):not(.e-float-icon-left), .e-outline.e-float-input.e-valid-input.e-control-wrapper:hover:not(.e-success):not(.e-error):not(.e-warning):not(.e-float-icon-left):not(.e-disabled), .e-outline.e-float-input.e-valid-input.e-control-wrapper:not(.e-success):not(.e-error):not(.e-warning):not(.e-float-icon-left):not(.e-disabled) {
  border-top-color: transparent !important; }

.e-outline.e-input-focus input.ng-invalid.ng-touched:not(.ng-exclude), .e-outline.e-float-input:hover:not(.e-input-focus):not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) input.ng-invalid.ng-touched:not(.ng-exclude) {
  border-color: var(--colorPrimary) !important;
  border: 0px !important; }

.e-outline .e-input-focus label.e-float-text::before, .e-outline .e-input-focus label.e-float-text::after, .e-outline.e-input-focus.e-float-input label.e-float-text::before, .e-outline.e-input-focus.e-float-input label.e-float-text::after, .e-outline.e-input-focus.e-float-input.e-control-wrapper label.e-float-text::before, .e-outline.e-input-focuse-float-input.e-control-wrapper label.e-float-text::after {
  border-top: solid 1px !important; }

.e-outline.e-float-input.e-input-focus:not(.e-input-group):not(.e-float-icon-left):not(.e-disabled):not(.e-success):not(.e-warning).e-error {
  border-top-color: transparent !important;
  box-shadow: inset 0.1px 0 var(--danger), inset -0.1px 0 var(--danger), inset 0 -0.1px var(--danger) !important; }

.e-outline.e-error.e-input-focus:not(.e-success):not(.e-warning) label.e-float-text::before, .e-outline.e-error.e-input-focus:not(.e-success):not(.e-warning) label.e-float-text::after, .e-outline.e-float-input.e-error.e-input-focus:not(.e-success):not(.e-warning) label.e-float-text::before, .e-outline.e-float-input.e-error.e-input-focus:not(.e-success):not(.e-warning) label.e-float-text::after, .e-outline.e-float-input.e-control-wrapper.e-error.e-input-focus:not(.e-success):not(.e-warning) label.e-float-text::before, .e-outline.e-float-input.e-control-wrapper.e-error.e-input-focus:not(.e-success):not(.e-warning) label.e-float-text::after {
  border-top-color: var(--danger) !important; }

#verification-code-field .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), #verification-code-field .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, #verification-code-field .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), #verification-code-field .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, #verification-code-field .e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, #verification-code-field .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap {
  border: none !important;
  height: 40px; }

#verification-code-field .e-input-group:not(.e-float-icon-left):not(.e-float-input).e-input-focus::before, #verification-code-field .e-input-group:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after, #verification-code-field .e-input-group.e-float-icon-left:not(.e-float-input).e-input-focus .e-input-in-wrap::before, #verification-code-field .e-input-group.e-float-icon-left:not(.e-float-input).e-input-focus .e-input-in-wrap::after, #verification-code-field .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input).e-input-focus::before, #verification-code-field .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after, #verification-code-field .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input).e-input-focus .e-input-in-wrap::before, #verification-code-field .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input).e-input-focus .e-input-in-wrap::after {
  width: 0 !important; }

#verification-code-field .e-input[disabled], #verification-code-field .e-input-group .e-input[disabled], #verification-code-field .e-input-group.e-control-wrapper .e-input[disabled], #verification-code-field .e-input-group.e-disabled, #verification-code-field .e-input-group.e-control-wrapper.e-disabled, #verification-code-field .e-float-input input[disabled], #verification-code-field .e-float-input.e-control-wrapper input[disabled], #verification-code-field .e-float-input textarea[disabled], #verification-code-field .e-float-input.e-control-wrapper textarea[disabled], #verification-code-field .e-float-input.e-disabled, #verification-code-field .e-float-input.e-control-wrapper.e-disabled {
  background: #f9f9f9 !important;
  cursor: pointer !important; }

.e-outline.e-float-input:not(.e-error):not(.e-valid-input):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text.e-label-bottom, .e-outline.e-float-input.e-control-wrapper:not(.e-error):not(.e-valid-input):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text.e-label-bottom, .e-outline.e-float-input:not(.e-error):not(.e-valid-input):not(.e-input-focus) input:valid ~ label.e-float-text.e-label-bottom, .e-outline.e-float-input.e-control-wrapper:not(.e-error):not(.e-valid-input):not(.e-input-focus) input:valid ~ label.e-float-text.e-label-bottom, .e-outline:not(.e-valid-input):not(.e-valid-input):not(.e-input-focus) input:not(:focus):not(:valid) ~ label.e-float-text, .e-outline.e-float-input:not(.e-valid-input):not(.e-input-focus) input:not(:focus):not(:valid):not(.e-valid-input) ~ label.e-float-text, .e-outline.e-float-input.e-control-wrapper:not(.e-valid-input):not(.e-input-focus) input:not(:focus):not(:valid):not(.e-valid-input) ~ label.e-float-text {
  line-height: 55px !important; }

.e-outline.e-float-input.e-control-wrapper.e-disabled:not(.e-error) input[disabled] ~ label.e-float-text, .e-outline.e-float-input.e-control-wrapper.e-disabled:not(.e-error) input[disabled] ~ label.e-label-top.e-float-text {
  display: none !important; }

.e-outline.e-float-input input[disabled], .e-outline.e-float-input.e-control-wrapper input[disabled] {
  background: #f9f9f9 !important;
  cursor: default !important; }
