.reset-password-container {
  height: auto;
  width: 348px;
  font-size: 12px;
  padding: 24px 36px;
  text-align: center; }
  .reset-password-container .icon-container {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fa9a32;
    padding: 5px;
    color: #fa9a32; }
    .reset-password-container .icon-container .su.su-warning-alt {
      font-size: 25px;
      color: #fff; }
  .reset-password-container .heading {
    margin: 16px 0px;
    font-weight: 600; }
  .reset-password-container .link-validation {
    color: var(--danger);
    padding-bottom: 24px;
    text-align: center; }
  .reset-password-container .back-button a {
    display: table;
    color: #007aff;
    margin: 0 auto; }
  .reset-password-container .back-button a:hover {
    text-decoration: none; }
  .reset-password-container .back-button span {
    display: table-cell;
    vertical-align: middle; }
  .reset-password-container .back-button span.su-arrow-back {
    padding-right: 8px;
    font-size: 16px; }
  .reset-password-container .divider-light {
    border-bottom: 1px solid #ccc;
    height: 2px;
    margin-top: 24px;
    margin-bottom: 16px; }

@media screen and (max-width: 320px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333 !important;
    position: relative !important;
    margin-left: 80px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-right: -40px !important;
    margin-top: 10px; } }

@media screen and (min-width: 350px) and (max-width: 390px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333 !important;
    position: relative !important;
    margin-left: 18px !important;
    margin-top: -50px; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-right: -10px !important;
    margin-top: -30px; } }

@media screen and (min-width: 400px) and (max-width: 450px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333 !important;
    position: relative !important;
    margin-left: 18px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-right: 5px !important; } }

@media screen and (min-width: 700px) and (max-width: 768px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333 !important;
    position: relative !important;
    margin-left: -5px !important;
    margin-top: -10px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right;
    margin-top: -45px; } }

@media screen and (min-width: 1000px) and (max-width: 1040px) {
  #content-area {
    margin-top: 30px !important; }
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333 !important;
    position: relative !important;
    margin-left: -5px !important;
    margin-top: -10px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right;
    margin-top: -40px; } }
