@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.code-confirmation-body {
  height: auto;
  width: 400px;
  font-size: 12px;
  padding: 24px 32px;
  text-align: center; }
  .code-confirmation-body .icon-container {
    background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-bottom: 20px; }
    .code-confirmation-body .icon-container .su.su-tick {
      height: 25px;
      width: 25px;
      margin: 7px auto 0px auto;
      border-radius: 50%;
      padding: 4px;
      color: var(--success);
      font-size: 17px;
      background: #fff; }
  .code-confirmation-body .heading {
    padding-top: 12px;
    padding-bottom: 16px;
    font-weight: 600; }
  .code-confirmation-body .status-message #tenant-email {
    font-weight: 600;
    text-decoration: none;
    color: #333333; }
  .code-confirmation-body .status-message span {
    display: block; }
  .code-confirmation-body .resend-verification {
    margin-top: 24px;
    margin-bottom: 20px; }
    .code-confirmation-body .resend-verification a.text-primary {
      text-decoration: none; }
  .code-confirmation-body .divider-light {
    border-bottom: 1px solid #cccccc;
    height: 2px;
    margin-top: 24px;
    margin-bottom: 16px; }
  .code-confirmation-body .expiration-time .info-icon {
    height: 18px;
    width: 18px;
    display: inline-block;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 50%;
    margin-right: 7px;
    color: var(--colorPrimary); }
  .code-confirmation-body .expiration-time .message {
    display: inline-block;
    padding-left: 2px; }
  .code-confirmation-body .back-button {
    padding-top: 24px; }
    .code-confirmation-body .back-button a {
      display: table;
      color: #007aff;
      margin: 0 auto; }
    .code-confirmation-body .back-button a:hover {
      text-decoration: none; }
    .code-confirmation-body .back-button span {
      display: table-cell;
      vertical-align: middle; }
    .code-confirmation-body .back-button span.su-arrow-back {
      padding-right: 8px;
      font-size: 16px; }
  .code-confirmation-body .link-button {
    background: var(--colorSecondary);
    border: 0;
    border-radius: 4px;
    color: var(--colorPrimary);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    min-width: 90px;
    outline: none;
    text-align: center;
    border: 1px solid var(--colorPrimary); }
    .code-confirmation-body .link-button {
      padding: 0 15px; }
    .code-confirmation-body .link-button:hover, .code-confirmation-body .link-button:focus {
      background: #f9f9f9;
      color: var(--colorPrimary); }
    .code-confirmation-body .link-button:disabled {
      background: #f9f9f9;
      color: #808080;
      cursor: not-allowed; }
    .code-confirmation-body .link-button:hover {
      border: 1px solid #007aff;
      color: #007aff; }
  .code-confirmation-body #mail-resend {
    line-height: 18px;
    padding: 0 15px !important; }

@media screen and (max-width: 320px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333333 !important;
    position: relative !important;
    margin-left: 80px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-right: -30px !important;
    margin-top: 10px; } }

@media screen and (min-width: 350px) and (max-width: 390px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333333 !important;
    position: relative !important;
    margin-left: 18px !important;
    margin-top: -50px; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-right: -10px !important;
    margin-top: -30px; } }

@media screen and (min-width: 400px) and (max-width: 450px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333333 !important;
    position: relative !important;
    margin-left: 18px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-right: 35px !important; } }

@media screen and (min-width: 700px) and (max-width: 768px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333333 !important;
    position: relative !important;
    margin-left: -5px !important;
    margin-top: -10px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right;
    margin-top: -45px; } }

@media screen and (min-width: 1000px) and (max-width: 1040px) {
  #content-area {
    margin-top: 30px !important; }
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333333 !important;
    position: relative !important;
    margin-left: -5px !important;
    margin-top: -10px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right;
    margin-top: -40px; } }
