html, body {
  min-height: 640px; }

.activate-user-bg {
  font-family: var(--font-family);
  font-size: 12px;
  margin: 0 auto;
  display: inline-block;
  max-width: 400px;
  border-radius: 4px;
  padding: 24px 32px;
  text-align: center; }
  .activate-user-bg .icon-success {
    background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    border-radius: 50%;
    margin: 0 auto 20px auto; }
    .activate-user-bg .icon-success .su.su-tick {
      height: 25px;
      width: 25px;
      margin: 7px;
      position: absolute;
      border-radius: 50%;
      padding: 4px;
      color: #4dd964;
      font-size: 17px;
      background: #fff; }
  .activate-user-bg .icon-failure {
    height: 40px;
    width: 40px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    background-color: #ff9503;
    padding: 5px; }
    .activate-user-bg .icon-failure .su.su-warning-alt {
      font-size: 25px;
      color: #fff;
      margin-top: 7px; }
  .activate-user-bg .heading {
    margin: 16px 0px;
    font-weight: 600; }
  .activate-user-bg .status-message {
    margin-bottom: 24px; }
    .activate-user-bg .status-message #user-email {
      font-weight: 600;
      text-decoration: none;
      color: #333;
      word-break: break-all; }
    .activate-user-bg .status-message span {
      display: block; }
  .activate-user-bg .btn-holder {
    border-radius: 5px;
    text-align: center;
    vertical-align: central;
    background: #0565ff;
    height: 32px;
    width: 120px;
    margin: 0 auto; }
  .activate-user-bg .proceed-button {
    background-color: #0565ff;
    border: none;
    color: #fff;
    height: inherit;
    display: inline-block;
    width: 120px;
    outline: none;
    line-height: 32px;
    border: 1px solid #0851d0;
    border-radius: 5px; }
    .activate-user-bg .proceed-button:hover {
      background: #0050d1;
      text-decoration: none; }
    .activate-user-bg .proceed-button:disabled {
      background: #cccccc;
      cursor: default; }
  .activate-user-bg .resend-verification {
    margin-top: 24px; }
    .activate-user-bg .resend-verification a.text-primary {
      text-decoration: none;
      cursor: pointer; }
  .activate-user-bg .divider-light {
    border-bottom: 1px solid #cccccc;
    height: 2px;
    margin-top: 24px;
    margin-bottom: 16px; }
  .activate-user-bg .expiration-time .info-icon {
    height: 18px;
    width: 18px;
    display: inline-block;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 50%;
    margin-right: 7px;
    color: #0565ff; }
  .activate-user-bg .expiration-time .message {
    display: inline-block;
    padding-left: 2px; }
  .activate-user-bg .verification-contianer {
    text-align: center; }
    .activate-user-bg .verification-contianer #verifiation-error {
      padding: 0 5px 5px 5px;
      color: #ff3b30;
      display: none; }
    .activate-user-bg .verification-contianer .btn-holder {
      margin-top: 15px !important; }
    .activate-user-bg .verification-contianer .account-verification-code {
      border-radius: 8px;
      padding: 8px;
      font-size: 20px;
      letter-spacing: 5px;
      text-align: center;
      width: 100% !important; }

@media screen and (max-width: 418px) {
  body {
    padding-bottom: 80px; } }
