@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.admin-page-container {
  margin: 0;
  padding: 0; }
  .admin-page-container .admin-page-header {
    border-bottom: 1px solid #e2e2e2;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0; }
    .admin-page-container .admin-page-header .back-button {
      color: #808080;
      font-size: 20px;
      line-height: 1;
      margin-top: -3px;
      padding: 0px 10px 0px 0px; }
    .admin-page-container .admin-page-header .page-title {
      font-size: 14px;
      color: var(--colorText);
      font-weight: 700;
      padding-left: 0px;
      margin-bottom: 5px;
      margin-top: 0; }
    .admin-page-container .admin-page-header .page-description {
      margin: 0;
      padding: 0;
      font-size: 12px; }
  .admin-page-container .admin-page-body {
    background-color: var(--surface);
    border: 1px solid #eeeeee;
    border-radius: 4px;
    font-size: 12px;
    float: left;
    margin-bottom: 80px;
    margin-top: 0px;
    padding: 20px;
    position: relative;
    width: 100%;
    color: var(--colorText); }
    .admin-page-container .admin-page-body .input-field-wrapper {
      margin-bottom: 15px; }
    .admin-page-container .admin-page-body .app-textbox-label {
      font-size: 12px;
      font-weight: normal;
      line-height: 28px;
      margin: 0;
      text-align: right; }
    .admin-page-container .admin-page-body #txt_welcome_note {
      resize: vertical; }
    .admin-page-container .admin-page-body .info-text {
      color: #808080;
      font-size: 11px; }
    .admin-page-container .admin-page-body .field-container {
      margin-bottom: 8px;
      margin-top: 0px;
      padding-left: 10px; }
    .admin-page-container .admin-page-body .bootstrap-select {
      padding-left: 0; }
    .admin-page-container .admin-page-body .form-control {
      font-size: 12px;
      height: 28px; }
    .admin-page-container .admin-page-body .validation-errors, .admin-page-container .admin-page-body .validation-message {
      color: var(--danger);
      font-size: 10px; }
    .admin-page-container .admin-page-body .show-hide-password {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 9px; }
    .admin-page-container .admin-page-body .form-input-field button[data-toggle="dropdown"] {
      font-size: 11px; }
    .admin-page-container .admin-page-body .dropdown-menu a span {
      font-size: 11px; }
    .admin-page-container .admin-page-body .switch-align {
      margin-top: 8px; }
  .admin-page-container .admin-page-actions {
    margin-top: -50px;
    padding: 0 0 30px 0; }
    .admin-page-container .admin-page-actions .primary-button,
    .admin-page-container .admin-page-actions .secondary-button {
      margin-left: 15px; }
  @media screen and (max-width: 1040px) {
    .admin-page-container .admin-page-header {
      margin: 0 0 15px 0;
      padding: 0 0 10px 0; } }

@media screen and (min-width: 1400px) {
  .admin-page-container .admin-page-header .back-button {
    font-size: 22px; }
  .admin-page-container .admin-page-header .page-title {
    font-size: 16px; }
  .admin-page-container .admin-page-header .page-description {
    font-size: 14px; }
  .admin-page-container .admin-page-header .header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .admin-page-container .admin-page-body {
    font-size: 14px; }
    .admin-page-container .admin-page-body .app-textbox-label {
      font-size: 14px;
      line-height: 32px; }
    .admin-page-container .admin-page-body .form-control {
      font-size: 14px;
      height: 32px; }
    .admin-page-container .admin-page-body .validation-errors, .admin-page-container .admin-page-body .validation-message {
      font-size: 12px; }
    .admin-page-container .admin-page-body .form-input-field button[data-toggle="dropdown"] {
      font-size: 13px; }
    .admin-page-container .admin-page-body .form-input-field .dropdown-menu .text {
      font-size: 13px !important; } }

@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

#server-app-container, #base-footer-div {
  background: #f9f9f9 !important; }

.admin-page-container .admin-page-header {
  margin-bottom: 0; }
  .admin-page-container .admin-page-header .page-title {
    font-size: 18px; }

.admin-page-container .admin-page-body {
  background: var(--background);
  border-color: #eeeeee;
  border-width: 0;
  padding-top: 30px !important; }
  .admin-page-container .admin-page-body #admin-page-inner-body .row {
    border-right: 1px solid #eeeeee; }
  .admin-page-container .admin-page-body .column .list-content {
    background-color: var(--surface);
    border: 1px solid #eeeeee;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 20px 26px;
    height: 300px;
    line-height: 1.8; }
    .admin-page-container .admin-page-body .column .list-content .appheader {
      border-bottom: 1px solid #eeeeee;
      float: left;
      padding-bottom: 26px;
      width: 100%; }
      .admin-page-container .admin-page-body .column .list-content .appheader .icon-badge {
        color: #fff;
        float: left;
        margin-right: 20px;
        margin-top: -35px;
        padding: 50px 17px 15px 17px; }
        .admin-page-container .admin-page-body .column .list-content .appheader .icon-badge.users {
          background: #1090D9; }
        .admin-page-container .admin-page-body .column .list-content .appheader .icon-badge.groups {
          background: #24C97C; }
        .admin-page-container .admin-page-body .column .list-content .appheader .icon-badge.applications {
          background: #F2AF47; }
        .admin-page-container .admin-page-body .column .list-content .appheader .icon-badge i {
          font-size: 32px; }
      .admin-page-container .admin-page-body .column .list-content .appheader .count {
        margin-top: -8px;
        margin-bottom: 0; }
    .admin-page-container .admin-page-body .column .list-content .module-links {
      margin-left: -6px; }
      .admin-page-container .admin-page-body .column .list-content .module-links .main-nav {
        margin-top: 20px;
        line-height: 1.8; }
        .admin-page-container .admin-page-body .column .list-content .module-links .main-nav li {
          display: block;
          height: 32px;
          position: relative;
          width: 100%; }
          .admin-page-container .admin-page-body .column .list-content .module-links .main-nav li > a {
            color: var(--colorText);
            float: left; }
            .admin-page-container .admin-page-body .column .list-content .module-links .main-nav li > a > i {
              font-size: 16px;
              padding: 8px; }
            .admin-page-container .admin-page-body .column .list-content .module-links .main-nav li > a > i, .admin-page-container .admin-page-body .column .list-content .module-links .main-nav li > a > span {
              float: left; }
            .admin-page-container .admin-page-body .column .list-content .module-links .main-nav li > a > span {
              padding-top: 6px; }
          .admin-page-container .admin-page-body .column .list-content .module-links .main-nav li > .no-hyperlink {
            cursor: pointer;
            padding-left: 32px; }
          .admin-page-container .admin-page-body .column .list-content .module-links .main-nav li .sub-nav {
            background: var(--surface);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            display: none;
            left: 130px;
            list-style: none;
            padding: 5px;
            position: absolute;
            top: 0;
            width: 145px;
            z-index: 9; }
            .admin-page-container .admin-page-body .column .list-content .module-links .main-nav li .sub-nav li {
              padding: 5px; }
              .admin-page-container .admin-page-body .column .list-content .module-links .main-nav li .sub-nav li a:hover {
                color: var(--colorPrimary); }
          .admin-page-container .admin-page-body .column .list-content .module-links .main-nav li.view-link {
            margin-bottom: 5px; }
          .admin-page-container .admin-page-body .column .list-content .module-links .main-nav li:hover .sub-nav {
            display: block; }
        .admin-page-container .admin-page-body .column .list-content .module-links .main-nav .access-information {
          overflow: hidden;
          text-overflow: ellipsis; }
  .admin-page-container .admin-page-body .column.user-column, .admin-page-container .admin-page-body .column.group-column {
    padding-right: 0; }
  .admin-page-container .admin-page-body .app-module {
    border-top: 1px solid #eeeeee;
    margin-top: 30px;
    padding-left: 40px; }
    .admin-page-container .admin-page-body .app-module .module-header {
      margin-top: 30px; }
    .admin-page-container .admin-page-body .app-module .app-list {
      padding-top: 20px; }
      .admin-page-container .admin-page-body .app-module .app-list ul {
        list-style: none;
        padding: 0; }
        .admin-page-container .admin-page-body .app-module .app-list ul li {
          display: inline-block;
          height: 32px;
          margin-right: 85px;
          margin-bottom: 30px;
          cursor: pointer; }
          .admin-page-container .admin-page-body .app-module .app-list ul li .bar {
            display: table;
            border-left: 5px solid;
            float: left;
            height: 32px; }
            .admin-page-container .admin-page-body .app-module .app-list ul li .bar.app-theme-blue {
              border-left-color: #1090D9; }
            .admin-page-container .admin-page-body .app-module .app-list ul li .bar.app-theme-green {
              border-left-color: #24C97C; }
            .admin-page-container .admin-page-body .app-module .app-list ul li .bar.app-theme-cyan {
              border-left-color: #019FA2; }
            .admin-page-container .admin-page-body .app-module .app-list ul li .bar.app-theme-gold {
              border-left-color: #F2AF47; }
            .admin-page-container .admin-page-body .app-module .app-list ul li .bar.app-theme-yellow {
              border-left-color: #F7E962; }
            .admin-page-container .admin-page-body .app-module .app-list ul li .bar.app-theme-red {
              border-left-color: #EB6A57; }
            .admin-page-container .admin-page-body .app-module .app-list ul li .bar.app-theme-indigo {
              border-left-color: #6655C8; }
            .admin-page-container .admin-page-body .app-module .app-list ul li .bar .app-name {
              background-color: var(--surface);
              color: var(--colorText);
              float: left;
              padding: 6px 20px;
              min-width: 225px;
              max-width: 225px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap !important;
              display: table-row;
              font-size: 14px; }
              .admin-page-container .admin-page-body .app-module .app-list ul li .bar .app-name .app-url {
                font-size: 12px; }
            .admin-page-container .admin-page-body .app-module .app-list ul li .bar:hover {
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
          .admin-page-container .admin-page-body .app-module .app-list ul li .popover {
            width: auto !important; }
            .admin-page-container .admin-page-body .app-module .app-list ul li .popover .arrow {
              top: 50% !important; }
            .admin-page-container .admin-page-body .app-module .app-list ul li .popover .popover-title {
              display: none; }
            .admin-page-container .admin-page-body .app-module .app-list ul li .popover .popover-content {
              max-width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
            .admin-page-container .admin-page-body .app-module .app-list ul li .popover a {
              vertical-align: unset;
              width: unset;
              height: auto;
              padding: 0 !important;
              text-align: left;
              color: var(--colorPrimary); }
  .admin-page-container .admin-page-body .recent-users-container {
    padding: 0 !important; }
  .admin-page-container .admin-page-body .recent-users-module {
    padding-left: 48px;
    height: 340px; }
    .admin-page-container .admin-page-body .recent-users-module .recent-users-list {
      list-style: none;
      padding: 0; }
      .admin-page-container .admin-page-body .recent-users-module .recent-users-list li {
        height: 32px;
        margin: 6px 7px; }
        .admin-page-container .admin-page-body .recent-users-module .recent-users-list li .img-loader, .admin-page-container .admin-page-body .recent-users-module .recent-users-list li .name-loader {
          -webkit-animation-name: fadeOpactiy;
          -webkit-animation-duration: 4s;
          animation-name: fadeOpactiy;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          background: #eeeeee;
          display: block;
          float: left;
          height: 32px;
          margin-right: 14px; }
        .admin-page-container .admin-page-body .recent-users-module .recent-users-list li .img-loader {
          border-radius: 50%;
          width: 32px; }
        .admin-page-container .admin-page-body .recent-users-module .recent-users-list li .name-loader {
          height: 20px;
          margin-top: 5px;
          width: 100px; }
        .admin-page-container .admin-page-body .recent-users-module .recent-users-list li a {
          color: var(--colorText);
          display: inline-block; }
        .admin-page-container .admin-page-body .recent-users-module .recent-users-list li img {
          border-radius: 50%;
          float: left;
          margin-right: 14px; }
        .admin-page-container .admin-page-body .recent-users-module .recent-users-list li .user-display-name {
          float: left;
          padding: 7px 0;
          max-width: 120px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap !important; }

@media (max-width: 1024px) {
  .admin-page-container .admin-page-header .page-title {
    padding-left: 10px; } }

@media (min-width: 299px) and (max-width: 320px) {
  .siteadmin .list-content .list-unstyled {
    padding-left: 15px; } }

@media (min-width: 319px) and (max-width: 361px) {
  .siteadmin .list-content .list-unstyled {
    padding-left: 0px !important;
    padding-right: 0px !important; } }

@media (min-width: 1024px) and (max-width: 1365px) {
  .admin-page-container .admin-page-body .column .list-content .appheader h4 {
    font-size: 16px; }
  .admin-page-container .admin-page-body .column .list-content .appheader h1 {
    font-size: 30px; } }

@-webkit-keyframes fadeOpactiy {
  0% {
    opacity: 0.25; }
  25% {
    opacity: 0.50; }
  50% {
    opacity: 0.75; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0.25; } }

@keyframes fadeOpactiy {
  0% {
    opacity: 0.25; }
  25% {
    opacity: 0.50; }
  50% {
    opacity: 0.75; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0.25; } }
