@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.admin-page-container {
  margin: 0;
  padding: 0; }
  .admin-page-container .admin-page-header {
    border-bottom: 1px solid #e2e2e2;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0; }
    .admin-page-container .admin-page-header .back-button {
      color: #808080;
      font-size: 20px;
      line-height: 1;
      margin-top: -3px;
      padding: 0px 10px 0px 0px; }
    .admin-page-container .admin-page-header .page-title {
      font-size: 14px;
      color: var(--colorText);
      font-weight: 700;
      padding-left: 0px;
      margin-bottom: 5px;
      margin-top: 0; }
    .admin-page-container .admin-page-header .page-description {
      margin: 0;
      padding: 0;
      font-size: 12px; }
  .admin-page-container .admin-page-body {
    background-color: var(--surface);
    border: 1px solid #eeeeee;
    border-radius: 4px;
    font-size: 12px;
    float: left;
    margin-bottom: 80px;
    margin-top: 0px;
    padding: 20px;
    position: relative;
    width: 100%;
    color: var(--colorText); }
    .admin-page-container .admin-page-body .input-field-wrapper {
      margin-bottom: 15px; }
    .admin-page-container .admin-page-body .app-textbox-label {
      font-size: 12px;
      font-weight: normal;
      line-height: 28px;
      margin: 0;
      text-align: right; }
    .admin-page-container .admin-page-body #txt_welcome_note {
      resize: vertical; }
    .admin-page-container .admin-page-body .info-text {
      color: #808080;
      font-size: 11px; }
    .admin-page-container .admin-page-body .field-container {
      margin-bottom: 8px;
      margin-top: 0px;
      padding-left: 10px; }
    .admin-page-container .admin-page-body .bootstrap-select {
      padding-left: 0; }
    .admin-page-container .admin-page-body .form-control {
      font-size: 12px;
      height: 28px; }
    .admin-page-container .admin-page-body .validation-errors, .admin-page-container .admin-page-body .validation-message {
      color: var(--danger);
      font-size: 10px; }
    .admin-page-container .admin-page-body .show-hide-password {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 9px; }
    .admin-page-container .admin-page-body .form-input-field button[data-toggle="dropdown"] {
      font-size: 11px; }
    .admin-page-container .admin-page-body .dropdown-menu a span {
      font-size: 11px; }
    .admin-page-container .admin-page-body .switch-align {
      margin-top: 8px; }
  .admin-page-container .admin-page-actions {
    margin-top: -50px;
    padding: 0 0 30px 0; }
    .admin-page-container .admin-page-actions .primary-button,
    .admin-page-container .admin-page-actions .secondary-button {
      margin-left: 15px; }
  @media screen and (max-width: 1040px) {
    .admin-page-container .admin-page-header {
      margin: 0 0 15px 0;
      padding: 0 0 10px 0; } }

@media screen and (min-width: 1400px) {
  .admin-page-container .admin-page-header .back-button {
    font-size: 22px; }
  .admin-page-container .admin-page-header .page-title {
    font-size: 16px; }
  .admin-page-container .admin-page-header .page-description {
    font-size: 14px; }
  .admin-page-container .admin-page-header .header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .admin-page-container .admin-page-body {
    font-size: 14px; }
    .admin-page-container .admin-page-body .app-textbox-label {
      font-size: 14px;
      line-height: 32px; }
    .admin-page-container .admin-page-body .form-control {
      font-size: 14px;
      height: 32px; }
    .admin-page-container .admin-page-body .validation-errors, .admin-page-container .admin-page-body .validation-message {
      font-size: 12px; }
    .admin-page-container .admin-page-body .form-input-field button[data-toggle="dropdown"] {
      font-size: 13px; }
    .admin-page-container .admin-page-body .form-input-field .dropdown-menu .text {
      font-size: 13px !important; } }

@-moz-keyframes ripple {
  5%, 100% {
    opacity: 0; }
  5% {
    opacity: 1; } }

@-webkit-keyframes ripple {
  5%, 100% {
    opacity: 0; }
  5% {
    opacity: 1; } }

@keyframes ripple {
  5%, 100% {
    opacity: 0; }
  5% {
    opacity: 1; } }

input[type="radio"][class="css-radio"] {
  display: none; }

input[type="radio"][class="css-radio"] + label {
  cursor: pointer;
  padding-left: 28px;
  position: relative; }

input[type="radio"][class="css-radio"] + label:before, input[type="radio"][class="css-radio"] + label:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

input[type="radio"][class="css-radio"] + label:before {
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #eeeeee; }

input[type="radio"][class="css-radio"] + label:after {
  top: 49%;
  left: 9px;
  width: 54px;
  height: 54px;
  opacity: 0;
  background: rgba(0, 154, 239, 0.3);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0); }

input[type="radio"][class="css-radio"]:checked + label:before {
  -moz-box-shadow: inset 0 0 0 4px #fff;
  -webkit-box-shadow: inset 0 0 0 4px #fff;
  box-shadow: inset 0 0 0 4px #fff;
  border: 2px solid var(--colorPrimary);
  background: var(--colorPrimary); }

input[type="radio"][class="css-radio"]:checked + label:after {
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -moz-animation: ripple 1s none;
  -webkit-animation: ripple 1s none;
  animation: ripple 1s none; }

input[type="radio"][class="css-radio"]:checked:disabled + label:before {
  -moz-box-shadow: inset 0 0 0 4px #fff;
  -webkit-box-shadow: inset 0 0 0 4px #fff;
  box-shadow: inset 0 0 0 4px #fff;
  border: 2px solid #eeeeee;
  background: #eeeeee; }

#delete-user-data-container .admin-page-header .page-title {
  font-weight: 500; }

#delete-user-data-container #delete-user-data-master #delete-user-data, #delete-user-data-container #delete-user-data-master #user-tenants {
  margin-bottom: 40px; }

#delete-user-data-container #delete-user-data-master #delete-user-data #delete-user-data-content .delete-user-data-form .close-account-points {
  margin: 20px 0px; }
  #delete-user-data-container #delete-user-data-master #delete-user-data #delete-user-data-content .delete-user-data-form .close-account-points li {
    margin: 5px 0px; }

#delete-user-data-container #delete-user-data-master #user-tenants .info {
  display: block;
  margin-bottom: 20px; }

#delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table {
  border-collapse: collapse; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr th {
    padding-bottom: 5px;
    padding-top: 10px;
    border-bottom: 2px solid #b3b3b3;
    color: #b3b3b3; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr th:not(:first-child) {
    padding-left: 20px; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr td {
    height: 80px;
    padding-left: 20px;
    border-bottom: 1px solid #eeeeee; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr th:nth-child(2), #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr td:nth-child(2) {
    width: 250px; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr th:nth-child(3), #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr td:nth-child(3) {
    width: 220px; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr th:nth-child(4), #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr td:nth-child(4) {
    min-width: 120px; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr th:nth-child(5), #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr td:nth-child(5) {
    min-width: 100px; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-name .domain-name {
    display: block; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-name .subscription-end-date {
    color: #999999;
    display: inline-block;
    font-size: 12px;
    padding-top: 5px; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-actions input[type="radio"][class="css-radio"]:not(:checked):not(:disabled) + label:before {
    border: 2px solid #999999; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-actions input[type="radio"][class="css-radio"][value="delete-tenant"]:not(:checked):not(:disabled) + label:before {
    border: 2px solid var(--danger); }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-actions input[type="radio"][class="css-radio"][value="delete-tenant"]:checked:not(:disabled) + label:before {
    border: 2px solid var(--danger);
    background: var(--danger); }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-actions input[type="radio"][class="css-radio"][value="delete-tenant"] + label:after {
    background: rgba(220, 53, 69, 0.3); }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-actions label {
    font-weight: normal;
    margin-bottom: 0px; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-actions label.disabled {
    color: #cccccc;
    cursor: default; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-actions label.delete-tenant-label:not(.disabled) {
    color: var(--danger); }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-actions .separator {
    display: inline-block;
    border-left: 1px solid #333333;
    height: 15px;
    margin: 0px 20px; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-actions .separator.disabled {
    border-left: 1px solid #cccccc; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-status .will-retain {
    display: none; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-status .will-delete.deleted {
    width: 250px; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table tr .tenant-domain-status.deleted {
    width: 250px; }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table a {
    color: var(--colorPrimary); }
  #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table a:hover, #delete-user-data-container #delete-user-data-master #user-tenants #user-tenants-table a:focus {
    color: #007aff; }

#delete-user-data-container #delete-user-data-master #user-tenants .condition {
  font-size: 12px;
  color: #cccccc;
  margin-top: 10px; }

#delete-user-data-container #delete-user-data-master .button-section {
  margin-bottom: 40px; }
  #delete-user-data-container #delete-user-data-master .button-section #delete-user-data-cancel {
    margin-left: 10px;
    color: #333333;
    border: 1px solid #b3b3b3; }

#user-data-delete-confirmation #popup-container .modal-header {
  border: none;
  font-size: 16px;
  padding-bottom: 0px; }
  #user-data-delete-confirmation #popup-container .modal-header .popup-close {
    color: #333;
    font-size: 10px;
    outline: none; }
  #user-data-delete-confirmation #popup-container .modal-header .popup-close:hover {
    color: #0050d1; }

#user-data-delete-confirmation #popup-container .modal-body {
  padding: 30px 0px; }
  #user-data-delete-confirmation #popup-container .modal-body .delete-info {
    text-align: center; }
  #user-data-delete-confirmation #popup-container .modal-body .delete-info.left-align {
    text-align: left; }

#user-data-delete-confirmation #popup-container .modal-footer {
  background: #f2f2f2;
  padding: 10px; }
  #user-data-delete-confirmation #popup-container .modal-footer .secondary-button {
    margin-left: 10px; }
