html {
  height: 100%; }

body {
  height: 100%; }
  body .content-container-fluid .cols-sample-area .frame .e-rotator-wrap .e-inner {
    border: none; }
  body #controls-container {
    background: #000000;
    border-radius: 6px;
    bottom: 50px;
    display: block;
    font-family: 'RobotoRegular';
    height: 92px;
    left: 0;
    margin: 0 auto;
    opacity: 0.7;
    position: absolute;
    right: 0;
    width: 292px;
    z-index: 9999999; }
    body #controls-container #controls {
      height: 64px; }
    body #controls-container .pager-separator {
      border: 1px solid #272727;
      margin: 1px 15px 6px 15px; }
    body #controls-container #pager {
      font-size: 12px;
      color: #FFFFFF;
      letter-spacing: 0.43px;
      text-align: center; }
    body #controls-container .su {
      color: #FFFFFF;
      cursor: pointer; }
    body #controls-container .su-left, body #controls-container .su-right, body #controls-container .su-play-1, body #controls-container .su-pause {
      float: left;
      font-size: 30px;
      padding: 17px; }
    body #controls-container .su-maximize-1, body #controls-container .su-minimize {
      float: right;
      font-size: 22px;
      padding: 21px; }
    body #controls-container #slide-play-pause {
      float: left; }
    body #controls-container button {
      padding: 0px;
      background-color: transparent;
      border: none; }
    body #controls-container .btn {
      position: relative;
      width: 65px;
      height: 65px;
      padding: 15px;
      cursor: pointer;
      transition: border 0.1s ease-in-out; }
      body #controls-container .btn:hover .bar {
        background-color: #fff; }
      body #controls-container .btn .bar {
        display: inline-block;
        position: absolute;
        top: 23px;
        left: 12px;
        width: 3px;
        height: 18px;
        border-radius: 3px;
        background-color: white;
        transform-origin: center;
        transition: transform 0.4s ease-in-out, background 0.1s ease-in-out; }
      body #controls-container .btn.pause .bar-1 {
        transform: translateX(13.5px) translateY(0px) rotate(0deg); }
      body #controls-container .btn.pause .bar-2 {
        transform: translateX(24px) translateY(0px) rotate(0deg); }
      body #controls-container .btn.pause .bar-3 {
        transform: translateX(24px) translateY(0px) rotate(0deg); }
      body #controls-container .btn.play .bar-1 {
        transform: translateX(18px) translateY(-5px) rotate(-55deg); }
      body #controls-container .btn.play .bar-2 {
        transform: translateX(18px) translateY(4px) rotate(-125deg); }
      body #controls-container .btn.play .bar-3 {
        top: 22px;
        height: 19px;
        transform: translateX(12px) translateY(0px) rotate(-180deg); }
    body #controls-container button {
      position: relative;
      transition: box-shadow .3s; }
    body #controls-container button:focus {
      outline: 0; }
    body #controls-container button:hover {
      -webkit-transform: scale(1.25, 1.25);
      transform: scale(1.25, 1.25); }
    body #controls-container #slide-play-pause:hover {
      -webkit-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2); }
    body #controls-container button:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 5px;
      background: rgba(255, 255, 255, 0.5);
      opacity: 0;
      border-radius: 100%;
      transform: scale(1, 1) translate(-50%);
      transform-origin: 50% 50%; }
    body #controls-container .ripple {
      width: 0;
      height: 0;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      transform: scale(0);
      position: absolute;
      opacity: 1; }
    body #controls-container .rippleEffect {
      animation: rippleDrop .9s linear; }

@keyframes rippleDrop {
  0% {
    transform: scale(0, 0);
    opacity: 1; }
  20% {
    transform: scale(2, 2);
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(4, 4); } }
