body #server-app-container {
  overflow: auto; }

.slideshows-listing #slideshows-grid-container {
  margin-top: 10px; }
  .slideshows-listing #slideshows-grid-container #search-area input {
    position: relative; }
  .slideshows-listing #slideshows-grid-container .dropdown-menu {
    z-index: 997 !important;
    margin-left: -6px;
    margin-top: 3px; }

.slideshows-listing .slide-show-grid {
  margin-top: 55px; }
  .slideshows-listing .slide-show-grid table .e-columnheader > th:nth-last-of-type(-n+2) {
    cursor: default; }

.slideshows-listing .su-edit {
  color: #333; }

.slideshows-listing .menu-text {
  color: #333; }

.slideshows-listing .option-icon {
  top: 0 !important; }

.slideshows-listing .e-rowcell .dropdown {
  position: absolute; }
  .slideshows-listing .e-rowcell .dropdown .dropdown-menu {
    left: -142px;
    margin: 0px;
    padding: 5px 0px; }
    .slideshows-listing .e-rowcell .dropdown .dropdown-menu a {
      padding: 5px 10px; }

.bootstrap-select.btn-group .dropdown-menu li a {
  white-space: nowrap; }

/*Overriding Grid styles*/
.e-grid .e-gridcontent tr td.e-templatecell a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.e-grid .e-gridcontent tr td.e-templatecell .grid-content {
  line-height: 16px !important; }

.e-grid .e-gridcontent tr td .option-icon {
  margin-left: -10px; }

/*Remove scrolling in message box*/
#messageBox_wrapper {
  height: 175px !important; }
  #messageBox_wrapper #messageBox {
    height: 175px !important; }
    #messageBox_wrapper #messageBox .e-dialog-scroller .e-scroller .e-js .e-widget {
      display: none !important; }
    #messageBox_wrapper #messageBox .message-content {
      height: 100px; }

.message-content-top {
  margin-top: 20px !important; }

.modal {
  display: block; }
  .modal .modal-dialog {
    width: auto; }

.notransition:before, .notransition:after {
  /*CSS animations*/
  animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -o-animation: none !important;
  -webkit-animation: none !important; }

@media screen and (max-width: 1040px) {
  #server-app-container #content-area {
    padding: 42px 0px 0px; } }

/*Hiding no suggestion and waiting popup in Filtering*/
#slideshowGrid_acString {
  background-image: none !important; }

#slideshowGrid_acString_suggestion {
  display: none !important; }

.tooltip-inner {
  text-align: left; }

#messageBox_wrapper.success-message-large {
  height: 200px !important;
  width: 530px !important; }
  #messageBox_wrapper.success-message-large .e-dialog-scroller.e-scroller.e-js.e-widget {
    height: 200px !important;
    width: 530px !important; }
    #messageBox_wrapper.success-message-large .e-dialog-scroller.e-scroller.e-js.e-widget #messageBox {
      height: 200px !important;
      width: 530px !important; }
      #messageBox_wrapper.success-message-large .e-dialog-scroller.e-scroller.e-js.e-widget #messageBox .message-content {
        text-align: left !important; }

#messageBox_wrapper.success-message-small {
  height: 180px !important;
  width: 530px !important; }
  #messageBox_wrapper.success-message-small .e-dialog-scroller.e-scroller.e-js.e-widget {
    height: 180px !important;
    width: 530px !important; }
    #messageBox_wrapper.success-message-small .e-dialog-scroller.e-scroller.e-js.e-widget #messageBox {
      height: 180px !important;
      width: 530px !important; }
      #messageBox_wrapper.success-message-small .e-dialog-scroller.e-scroller.e-js.e-widget #messageBox .message-content {
        text-align: left !important; }

#item-link-copy {
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  font-size: 15px;
  float: left;
  border-left: medium thin;
  cursor: pointer;
  padding: 9px 0px 10px 0px;
  text-align: center;
  width: 7%; }

.get-link-label {
  font-size: 13px; }

.private-note {
  font-size: 12px; }

input#item-link {
  background-color: #fff;
  font-size: 12px;
  overflow: hidden;
  border-radius: 4px 0 0 4px;
  resize: none;
  width: 90%;
  float: left;
  border-right: medium none; }

#item-link-copy.focusdiv {
  border: 1px solid #0565ff; }
