@import "../core/_variables.scss";
@import "../core/_typography.scss";
@import "../default/default.scss";

@mixin sf_button($height, $show-icon: false) {
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: map-get($app-text-size, md);
    font-weight: 600;
    height: $height;
    line-height: $height;
    min-width: $min-button-width;
    outline: none;
    text-align: center;

    @if ($show-icon == true) {
        padding: 0 0 0 15px;

        span {
            padding-right: 15px;
        }

        i {
            display: inline-block;
            width: 15px;
        }
    }

    @if ($show-icon == false) {
        padding: 0 15px;
    }

    &:disabled {
        cursor: default;
        background-color: $grey-200;
    }
}

@mixin button($height, $width, $buttonType: "primary", $background-color: $primary-color, $color: $primary-button-text-normal-color, $border: 1px solid, $border-radius: 4px, $hover-color: $primary-button-bg-hover-color) {

    @if ($buttonType == "primary") {
        $background-color: $primary-color;
        $color: $primary-button-text-normal-color;
        $hover-color: $primary-button-bg-hover-color;
    }
    @else if ($buttonType == "secondary") {
        $background-color: $secondary-button-bg-normal-color;
        $color: $secondary-button-text-normal-color;
        $border-color: $secondary-button-border-normal-color;
        $hover-color: $secondary-button-bg-hover-color;
    }

    background-color: $background-color;
    border: $border $grey-400;
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $color;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: $height;
    line-height: $height;
    position: relative;
    text-align: center;
    width: $width;

    &:hover {
        background-color: $hover-color;
    }

    &:disabled {
        background-color: $grey-400;
        border: 1px solid $grey-200;
        box-shadow: none;
        color: $grey-400;
        cursor: default;
    }
}