/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0; }

::-ms-clear {
  width: 0;
  height: 0; }

* {
  outline: none !important; }

*:focus {
  outline: none !important; }

label {
  font-weight: normal; }

a, a:hover {
  text-decoration: none !important; }

a:focus {
  text-decoration: underline !important; }

input[type=button], input[type=submit], button[type=submit] {
  padding: 0px !important; }

input.form-control:not(.input-block-level), .btn-group.form-control .btn.dropdown-toggle {
  box-shadow: none !important;
  border: 1.5px solid var(--grey-200); }

.bs-searchbox .input-block-level.form-control {
  box-shadow: none !important;
  border: 1.5px solid var(--grey-200); }

input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid var(--primary-branding-bg-color) !important;
  box-shadow: none !important; }

.has-error .form-control, .has-error input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid var(--red) !important;
  box-shadow: none !important; }

input[type="password"] {
  padding-right: 30px; }

.form-control[disabled] {
  cursor: default; }

.su-eye {
  cursor: pointer;
  position: absolute; }

.material-checkbox {
  position: relative; }
  .material-checkbox label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox label:before, .material-checkbox label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox label:before {
      background: var(--grey-white);
      border: 1.5px solid var(--grey-200);
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox input[type="checkbox"]:checked + label:before {
      background: var(--primary-branding-bg-color);
      border: 1.5px solid var(--checkbox-border-active-color); }
    .material-checkbox input[type="checkbox"]:checked + label:after {
      border: 2px solid var(--grey-white);
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid var(--checkbox-border-normal-color); }

span.su-password-tick {
  background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  font-size: 20px;
  display: inline-block;
  float: left;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%; }

.text-h1 {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 30px;
  color: var(--primary-text-color); }

.text-h2 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: var(--primary-text-color); }

.text-h4 {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: var(--primary-text-color); }

.text-body {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: var(--primary-text-color); }

.text-bitter-h2 {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: var(--grey-800); }

.text-bitter-h1 {
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: var(--grey-800); }

.text-primary {
  color: var(--primary-branding-bg-color); }

.activation-wrapper {
  font-family: var(--font-family);
  font-size: 12px;
  margin: 0 auto;
  display: inline-block;
  min-width: 320px;
  padding: 24px 32px;
  text-align: center; }
  .activation-wrapper .icon-success {
    background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 5px; }
    .activation-wrapper .icon-success .su.su-tick {
      height: 25px;
      width: 25px;
      margin: 3px auto 0px auto;
      border-radius: 50%;
      padding: 4px;
      color: #6fd963;
      font-size: 17px;
      background: white; }
  .activation-wrapper .icon-failure {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--orange);
    padding: 5px;
    color: var(--orange); }
    .activation-wrapper .icon-failure .su.su-warning-alt {
      font-size: 25px;
      color: var(--grey-white); }
  .activation-wrapper .heading {
    margin: 16px 0px;
    font-weight: 600; }
  .activation-wrapper .status-message #tenant-email {
    font-weight: 600;
    text-decoration: none; }
  .activation-wrapper .status-message span {
    display: block; }
  .activation-wrapper .account-activated {
    margin-bottom: 20px; }
  .activation-wrapper .resend-verification {
    margin-top: 24px; }
    .activation-wrapper .resend-verification a.text-primary {
      text-decoration: none;
      cursor: pointer; }
  .activation-wrapper .divider-light {
    border-bottom: 1px solid var(--section-separator-color);
    height: 2px;
    margin-top: 24px;
    margin-bottom: 16px; }
  .activation-wrapper .expiration-time .info-icon {
    height: 18px;
    width: 18px;
    display: inline-block;
    border: 1px solid var(--grey-400);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 50%;
    margin-right: 7px;
    color: var(--primary-branding-bg-color); }
  .activation-wrapper .expiration-time .message {
    display: inline-block;
    padding-left: 2px; }
  .activation-wrapper .link-hover:hover {
    color: var(--primary-branding-bg-color); }
