@import "../newthemes/elementsize.scss";
@import "../newthemes/mixins.scss";
@import "../../themes/default.scss";

.activation-wrapper {
    font-family: var(--font-family);
    font-size: $textsize-12;
    margin: 0 auto;
    display: inline-block;
    min-width: 320px;
    padding: $space-l $space-xl;
    text-align: center;

    .icon-success {
        background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        display: inline-block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 0 auto;
        padding: 5px;

        .su.su-tick {
            height: 25px;
            width: 25px;
            margin: 3px auto 0px auto;
            border-radius: 50%;
            padding: 4px;
            color: #6fd963;
            font-size: 17px;
            background: white;
        }
    }

    .icon-failure {
        height: 40px;
        width: 40px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: $orange;
        padding: 5px;
        color: $orange;

        .su.su-warning-alt {
            font-size: 25px;
            color: $white;
        }
    }

    .heading {
        margin: $space-m 0px;
        font-weight: $text-semibold;
    }

    .status-message {
        #tenant-email {
            font-weight: $text-semibold;
            text-decoration: none;
            color: $grey-800;
        }

        span {
            display: block;
        }
    }

    .account-activated {
        margin-bottom: 20px;
    }

    .proceed-button {
        @include proceed-button();
        min-width: 120px;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        padding: 0 10px !important;
        &:hover {
            background: $primary-btn-hover;
        }
    }

    .resend-verification {
        margin-top: $space-l;

        a.text-primary {
            text-decoration: none;
            cursor: pointer;
        }
    }

    .divider-light {
        border-bottom: 1px solid $grey-200;
        height: 2px;
        margin-top: $space-l;
        margin-bottom: $space-m;
    }

    .expiration-time {
        .info-icon {
            height: 18px;
            width: 18px;
            display: inline-block;
            border: 1px solid $grey-200;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            border-radius: 50%;
            margin-right: 7px;
            color: $primary-color;
        }

        .message {
            display: inline-block;
            padding-left: 2px;
        }
    }

    .link-hover:hover {
        color: $primary-color;
    }
}
