@import "../newthemes/elementsize.scss";
@import "../newthemes/mixins.scss";
@import "../../themes/default.scss";

.change-password-container {
    height: auto;
    width: 348px;
    font-size: $textsize-12;
    padding: $space-l $space-xxl;
    text-align: left;

    .form-name {
        font-weight: $text-semibold;
        color: $primary-color;
    }

    .form-name::after {
        content: '';
        display: block;
        width: 74px;
        border-bottom: 2px solid $primary-color;
    }

    .update-form-input-field.new-password {
        padding: $space-l 0px;

        .e-error {
            height: 32px;
        }

        .e-float-line {
            color: $danger !important;
            display: none;
            font-size: 12px;
            margin-top: 8px;
        }


        #new-password {
            height: 32px;
        }

        label {
            color: $grey-300 !important;
            font-size: 14px !important;
        }

        .e-error {
            label {
                color: $danger !important;
            }
        }


        .e-error {
            .e-float-text.e-label-bottom {
                line-height: 23px !important;
            }
        }

        .e-input-focus.e-error {
            .e-float-text.e-label-bottom {
                line-height: 14px !important;
            }
        }

        .e-error.e-input-focus {
            .e-float-text.e-label-bottom {
                font-size: 12px !important;
            }
        }


        .e-label-top {
            font-size: 12px !important
        }

        #validation-error {
            font-size: 12px;
            color: $danger;
        }

        .show-hide-password {
            color: $primary-text-color;
            cursor: pointer;
            position: absolute;
            right: 12px;
            top: 31px;
            visibility: visible;
        }
    }

    .update-form-input-field.re-password {
        margin-bottom: $space-xxl;

        .su.su-eye {
            top: 10px;
        }

        .e-error {
            height: 32px;
        }

        .e-float-line {
            color: $danger !important;
            display: none;
            font-size: 12px;
            margin-top: 8px;
        }


        #new-password {
            height: 32px;
        }

        label {
            color: $grey-300 !important;
            font-size: 14px !important;
        }

        .e-error {
            label {
                color: $danger !important;
            }
        }

        .e-error {
            .e-float-text.e-label-bottom {
                line-height: 23px !important;
            }
        }

        .e-input-focus.e-error {
            .e-float-text.e-label-bottom {
                line-height: 14px !important;
            }
        }

        .e-error.e-input-focus {
            .e-float-text.e-label-bottom {
                font-size: 12px !important;
            }
        }

        .e-label-top {
            font-size: 12px !important
        }

        #validation-error {
            font-size: 12px;
            color: $danger;
        }

        .show-hide-password {
            color: $primary-text-color;
            cursor: pointer;
            margin-top: -1px;
            position: absolute;
            right: 12px;
            top: 8px;
            visibility: visible;
        }
    }


    .input-field-padding {
        padding-top: 20px;
    }

    .update-form-input-field {
        position: relative;

        label {
            margin-bottom: 8px;
        }

        .form-control {
            font-size: $textsize-12;
            border-radius: 5px;
            height: $textbox-32;
            padding-right: 30px;
        }

        .form-control[disabled] {
            cursor: default;
        }

        .su.su-eye {
            position: absolute;
            top: 35px;
            right: 10px;
        }
    }

    .agreement-wrapper {
        margin: 0px 0px 36px 0px;

        .material-checkbox {
            label {
                &:before, &:after {
                    top: 1px;
                }
            }

            input[type="checkbox"] {
                &:checked + input {
                    + label:after {
                        top: 4px;
                    }
                }
            }
        }

        label {
            display: inline-block;
            font-size: 12px;
            font-weight: normal;
            color: $grey-800;
            text-decoration: none !important;
            margin: 0px;
            cursor: pointer;
            padding-left: .5em;
            width: 93%;

            .app-hyperlink {
                color: $link-text-color !important;

                &:hover {
                    color: $link-text-hover-color !important;
                }
            }
        }
    }

    .proceed-button {
        @include proceed-button();
        margin: 0 auto;
        width: 60%;

        &:hover {
            background: $primary-btn-hover;
        }
    }

    .su.su-show {
        position: absolute;
        right: 10px;
        font-size: 16px;
    }

    .su.su-hide {
        position: absolute;
        right: 10px;
        font-size: 16px;
    }

    .tooltip {
        .tooltip-inner {
            word-break: break-all !important;
            white-space: pre !important;
            max-width: none !important;
        }

        .tooltip.top .tooltip-arrow {
            bottom: 1px !important;
        }
    }
}

.validation-holder {
    color: $validation-text-color;
    font-size: $textsize-10;
    position: absolute;
}

#new-password + .popover {
    background: $black;
    opacity: 0.8;
    width: 200px;
    top: -158px !important;

    .arrow {
        top: 80% !important;
    }

    .arrow::after {
        border-right-color: $black;
        opacity: 0.8;
    }

    .popover-title {
        background: $black;
        opacity: 0.8;
        color: $white;
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 18px;
        padding-bottom: 0px;
        border: none;
    }

    .popover-content {
        padding-top: 0px;
        height: 175px;

        ul {
            list-style: none;
            padding: 0px;

            li {
                height: 20px;
                margin: 15px 15px 15px 10px;

                span.icon {
                    height: 20px;
                    width: 20px;
                    margin: 0 auto;
                    border-radius: 50%;
                    border: 2px solid $white;
                    display: inline-block;
                    float: left;
                }

                span.content {
                    margin-left: 14px;
                    color: $white;
                }
            }
        }
    }
}

@media screen and (min-width:700px) and (max-width:768px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: -10px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -45px;
            }
        }
    }
}

@media screen and (min-width:1000px) and (max-width: 1040px) {

    #new-password + .popover {
        background: $black;
        opacity: 0.8;
        width: 200px;
        top: -160px !important;

        .arrow {
            top: 90% !important;
        }
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $grey-800 !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: -10px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -40px;
            }
        }
    }
}

@media screen and (min-width:400px) and (max-width:450px) {

    #new-password + .popover {
        position: absolute;
        background: $black;
        opacity: 0.8;
        width: 200px;
        top: -220px !important;
        margin-left: -170px;

        .arrow {
            top: 103% !important;
            left: 50px;
            transform: rotate(270deg);
        }
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $grey-800 !important;
                position: relative !important;
                margin-left: 18px !important;
                margin-top: -60px;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: 5px !important;
                margin-top: -40px;
            }
        }
    }
}

@media screen and (max-width:390px) {

    #new-password + .popover {
        position: absolute;
        background: $black;
        opacity: 0.8;
        width: 200px;
        top: -220px !important;
        margin-left: -170px;

        .arrow {
            top: 103% !important;
            left: 50px;
            transform: rotate(270deg);
        }
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $grey-800 !important;
                position: relative !important;
                margin-left: 18px !important;
                margin-top: -60px;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: -10px !important;
                margin-top: -40px;
            }
        }
    }
}
