@import "../newthemes/elementsize.scss";
@import "../newthemes/mixins.scss";
@import "../../default/default.scss";

.change-password-container {
    height: auto;
    width: 348px;
    font-size: $textsize-12;
    padding: $space-l $space-xxl;
    text-align: left;

    .form-name {
        font-weight: $text-semibold;
        color: $primary-color;
    }

    .form-name::after {
        content: '';
        display: block;
        width: 74px;
        border-bottom: 2px solid $primary-color;
    }

    .update-form-input-field {
        #validation-error {
            font-size: 12px;
            color: $danger;
        }

        .show-hide-password {
            cursor: pointer;
            position: absolute;
            right: 12px;
            visibility: visible;
        }

        &.new-password {
            padding: $space-l 0px;

            #new-password {
                height: 32px;
            }

            .show-hide-password {
                top: 35px;
            }
        }

        &.re-password {
            margin-bottom: $space-xxl;

            .su.su-eye {
                top: 10px;
            }

            .show-hide-password {
                top: 10px;
            }
        }
    }

    .input-field-padding {
        padding-top: 20px;
    }

    .update-form-input-field {
        position: relative;

        label {
            margin-bottom: 8px;
        }

        .form-control {
            font-size: $textsize-12;
            border-radius: 5px;
            height: $textbox-32;
            padding-right: 30px;
        }

        .form-control[disabled] {
            cursor: default;
        }

        .su.su-eye {
            position: absolute;
            top: 35px;
            right: 10px;
        }
    }

    .proceed-button {
        display: block;
        margin: 0 auto;
        width: 60%;
    }

    .su.su-show {
        position: absolute;
        right: 10px;
        font-size: 16px;
    }

    .su.su-hide {
        position: absolute;
        right: 10px;
        font-size: 16px;
    }

    .tooltip {
        .tooltip-inner {
            word-break: break-all !important;
            white-space: pre !important;
            max-width: none !important;
        }

        .tooltip.top .tooltip-arrow {
            bottom: 1px !important;
        }
    }
}

.validation-holder {
    color: $validation-text-color;
    font-size: $textsize-10;
    position: absolute;
}

#new-password + .popover {
    background: $black;
    opacity: 0.8;
    width: 200px;

    .arrow::after {
        border-right-color: $black;
        opacity: 0.8;
    }

    .popover-title {
        background: $black;
        opacity: 0.8;
        color: $white;
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 18px;
        padding-bottom: 0px;
        border: none;
    }

    .popover-content {
        padding-top: 0px;
        height: auto;

        ul {
            list-style: none;
            padding: 0px;

            li {
                height: 20px;
                margin: 15px 15px 15px 10px;

                span.icon {
                    height: 20px;
                    width: 20px;
                    margin: 0 auto;
                    border-radius: 50%;
                    border: 2px solid $white;
                    display: inline-block;
                    float: left;
                }

                span.content {
                    margin-left: 14px;
                    color: $white;
                }
            }
        }
    }
}

@media screen and (min-width:700px) and (max-width:768px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: -10px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -45px;
            }
        }
    }
}

@media screen and (min-width:1000px) and (max-width: 1040px) {

    #new-password + .popover {
        background: $black;
        opacity: 0.8;
        width: 200px;
        top: -160px !important;

        .arrow {
            top: 90% !important;
        }
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $grey-800 !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: -10px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -40px;
            }
        }
    }
}

@media screen and (min-width:400px) and (max-width:450px) {

    #new-password + .popover {
        position: absolute;
        background: $black;
        opacity: 0.8;
        width: 200px;
        top: -220px !important;
        margin-left: -170px;

        .arrow {
            top: 103% !important;
            left: 50px;
            transform: rotate(270deg);
        }
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $grey-800 !important;
                position: relative !important;
                margin-left: 18px !important;
                margin-top: -60px;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: 5px !important;
                margin-top: -40px;
            }
        }
    }
}

@media screen and (max-width:390px) {

    #new-password + .popover {
        position: absolute;
        background: $black;
        opacity: 0.8;
        width: 200px;
        top: -220px !important;
        margin-left: -170px;

        .arrow {
            top: 103% !important;
            left: 50px;
            transform: rotate(270deg);
        }
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $grey-800 !important;
                position: relative !important;
                margin-left: 18px !important;
                margin-top: -60px;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: -10px !important;
                margin-top: -40px;
            }
        }
    }
}
