@import "../newthemes/elementsize.scss";
@import "../mixins.scss";

.code-confirmation-body {
    height: auto;
    width: 400px;
    font-size: $textsize-12;
    padding: $space-l $space-xl;
    text-align: center;

    .icon-container {
        background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        display: inline-block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-bottom: 20px;

        .su.su-tick {
            height: 25px;
            width: 25px;
            margin: 7px auto 0px auto;
            border-radius: 50%;
            padding: 4px;
            color: $success;
            font-size: 17px;
            background: $white;
        }
    }

    .heading {
        padding-top: $space-s;
        padding-bottom: $space-m;
        font-weight: $text-semibold;
    }

    .status-message {
        #tenant-email {
            font-weight: $text-semibold;
            text-decoration: none;
            color: $grey-800;
        }

        span {
            display: block;
        }
    }

    .resend-verification {
        margin-top: $space-l;
        margin-bottom: 20px;

        a.text-primary {
            text-decoration: none;
        }
    }

    .divider-light {
        border-bottom: 1px solid $grey-200;
        height: 2px;
        margin-top: $space-l;
        margin-bottom: $space-m;
    }

    .expiration-time {
        .info-icon {
            height: 18px;
            width: 18px;
            display: inline-block;
            border: 1px solid $grey-200;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            border-radius: 50%;
            margin-right: 7px;
            color: $primary-color;
        }

        .message {
            display: inline-block;
            padding-left: 2px;
        }
    }

    .back-button {
        padding-top: $space-l;

        a {
            display: table;
            color: $blue-secondary;
            margin: 0 auto;
        }

        a:hover {
            text-decoration: none;
        }

        span {
            display: table-cell;
            vertical-align: middle;
        }

        span.su-arrow-back {
            padding-right: $space-xs;
            font-size: $textsize-16;
        }
    }

    .link-button {
        @include button($secondary-btn-bg, $primary-color, $secondary-btn-hover, $btn-height-normal, false);
        border: 1px solid $primary-color;

        &:hover {
            border: 1px solid $primary-btn-hover;
            color: $primary-btn-hover;
        }
    }

    #mail-resend {
        line-height: 18px;
        padding: 0 15px !important;
    }
}

@media screen and (max-width:320px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $delete-icon-color !important;
                position: relative !important;
                margin-left: 80px !important;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: -30px !important;
                margin-top: 10px;
            }
        }
    }
}

@media screen and (min-width:350px) and (max-width:390px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $delete-icon-color !important;
                position: relative !important;
                margin-left: 18px !important;
                margin-top: -50px;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: -10px !important;
                margin-top: -30px;
            }
        }
    }
}

@media screen and (min-width:400px) and (max-width:450px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $delete-icon-color !important;
                position: relative !important;
                margin-left: 18px !important;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: 35px !important;
            }
        }
    }
}

@media screen and (min-width:700px) and (max-width:768px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $delete-icon-color !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: -10px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -45px;
            }
        }
    }
}

@media screen and (min-width:1000px) and (max-width:1040px) {
    #content-area {
        margin-top: 30px !important;
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $delete-icon-color !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: -10px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -40px;
            }
        }
    }
}

