@import "../../themes/default.scss";
footer {
    display: table;
    height: 50px;
    background: transparent;
    padding: 0px 80px !important;
    font-family: var(--font-family);

    .footer-copy-right, .footer-link {
        display: table-cell;
        vertical-align: middle;
    }

    .footer-copy-right {
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 16px;
        font-weight: 500;

        a {
            color: $grey-500;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
            color: $blue-secondary;
        }
    }

    .footer-link {
        text-align: right;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.3px;
        line-height: 16px;

        a {
            text-decoration: none;
            color: $grey-500;
        }

        a:first-child {
            padding-right: 15px;
        }

        a:nth-child(2) {
            padding-right: 15px;
        }

        a:hover {
            text-decoration: none;
            color: $blue-secondary;
        }
    }

    .footer-link.layout {

        a {
            color: $grey-500;
        }

        a:hover {
            color: $blue-secondary;
        }
    }

    .cookie-notification {
        position: fixed;
        left: 0;
        bottom: 0;
        background: #262a33;
        z-index: 100152;
        width: 100%;
        padding: 11px;
        font-size: 13px;
        font-weight: 600;
    }

    .copyright-poweredby {
        position: relative;
    }

    .cookie-notification + .footer-copy-right {
        vertical-align: initial;
        position: relative;
        bottom: 25px;
    }

    .cookie-notification ~ .footer-link {
        vertical-align: initial;
        position: relative;
        bottom: 25px;
    }

    a.privacy-link:link {
        color: #5EACFF;
        text-decoration: none !important;
    }

    a.privacy-link:visited {
        color: #5EACFF;
        text-decoration: none !important;
    }

    a.privacy-link:hover {
        color: #5EACFF;
        text-decoration: underline !important;
    }
}
