/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0; }

::-ms-clear {
  width: 0;
  height: 0; }

* {
  outline: none !important; }

*:focus {
  outline: none !important; }

label {
  font-weight: normal; }

a, a:hover {
  text-decoration: none !important; }

a:focus {
  text-decoration: underline !important; }

input[type=button], input[type=submit], button[type=submit] {
  padding: 0px !important; }

input.form-control:not(.input-block-level), .btn-group.form-control .btn.dropdown-toggle {
  box-shadow: none !important;
  border: 1.5px solid var(--grey-200); }

.bs-searchbox .input-block-level.form-control {
  box-shadow: none !important;
  border: 1.5px solid var(--grey-200); }

input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid var(--primary-branding-bg-color) !important;
  box-shadow: none !important; }

.has-error .form-control, .has-error input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid var(--red) !important;
  box-shadow: none !important; }

input[type="password"] {
  padding-right: 30px; }

.form-control[disabled] {
  cursor: default; }

.su-eye {
  cursor: pointer;
  position: absolute; }

.material-checkbox {
  position: relative; }
  .material-checkbox label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox label:before, .material-checkbox label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox label:before {
      background: var(--grey-white);
      border: 1.5px solid var(--grey-200);
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox input[type="checkbox"]:checked + label:before {
      background: var(--primary-branding-bg-color);
      border: 1.5px solid var(--checkbox-border-active-color); }
    .material-checkbox input[type="checkbox"]:checked + label:after {
      border: 2px solid var(--grey-white);
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid var(--checkbox-border-normal-color); }

span.su-password-tick {
  background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  font-size: 20px;
  display: inline-block;
  float: left;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%; }

.text-h1 {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 30px;
  color: var(--primary-text-color); }

.text-h2 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: var(--primary-text-color); }

.text-h4 {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: var(--primary-text-color); }

.text-body {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: var(--primary-text-color); }

.text-bitter-h2 {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: var(--grey-800); }

.text-bitter-h1 {
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: var(--grey-800); }

.text-primary {
  color: var(--primary-branding-bg-color); }

.forgot-password-container {
  height: auto;
  width: 348px;
  font-size: 12px;
  padding: 24px 36px;
  text-align: left; }
  .forgot-password-container .icon-container {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fa9a32;
    padding-top: 5px;
    padding-left: 8px;
    color: #fa9a32; }
    .forgot-password-container .icon-container .su.su-warning-alt {
      font-size: 25px;
      color: var(--grey-white); }
  .forgot-password-container .heading {
    margin: 16px 0px;
    font-weight: 600;
    text-align: center; }
  .forgot-password-container .user-validation {
    color: var(--red);
    padding-bottom: 24px;
    text-align: center; }
  .forgot-password-container .form-name {
    font-weight: 600;
    color: var(--primary-branding-bg-color); }
  .forgot-password-container .form-name::after {
    content: '';
    display: block;
    width: 74px;
    border-bottom: 2px solid var(--primary-branding-bg-color); }
  .forgot-password-container .forgot-password-content {
    padding-top: 32px;
    padding-bottom: 24px; }
  .forgot-password-container .forgot-form-input-field {
    padding-bottom: 36px; }
    .forgot-password-container .forgot-form-input-field label {
      margin-bottom: 8px; }
    .forgot-password-container .forgot-form-input-field .form-control {
      font-size: 12px;
      border-radius: 5px;
      height: 32px;
      padding-right: 30px; }
    .forgot-password-container .forgot-form-input-field .form-control[disabled] {
      cursor: default; }
    .forgot-password-container .forgot-form-input-field #username-validation {
      position: absolute; }
    .forgot-password-container .forgot-form-input-field #key-input {
      height: 40px;
      border-radius: 4px; }
  .forgot-password-container #submit-button {
    margin-bottom: 24px; }
  .forgot-password-container .proceed-button {
    display: block;
    width: 60%;
    margin: 0 auto 32px auto; }
  .forgot-password-container .back-button a {
    display: table;
    margin: 0 auto; }
  .forgot-password-container .back-button a:hover {
    text-decoration: none; }
  .forgot-password-container .back-button span {
    display: table-cell;
    vertical-align: middle; }
  .forgot-password-container .back-button span.su-arrow-back {
    padding-right: 8px;
    font-size: 16px; }
  .forgot-password-container .validation-holder {
    color: var(--red);
    font-size: 10px; }

@media screen and (min-width: 700px) and (max-width: 768px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333 !important;
    position: relative !important;
    margin-left: -5px !important;
    margin-top: -10px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right;
    margin-top: -45px; } }
@media screen and (min-width: 1000px) and (max-width: 1040px) {
  #content-area {
    padding-left: 0px !important; }
    #content-area #edit-profile-base-div #user-profile-master {
      padding: 0px 20px 0px 20px; }

  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333 !important;
    position: relative !important;
    margin-left: -5px !important;
    margin-top: -10px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right !important;
    margin-top: -45px; } }
@media screen and (max-width: 390px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333 !important;
    position: relative !important;
    margin-left: 18px !important;
    margin-top: -50px; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-right: -10px !important;
    margin-top: -40px; } }
@media screen and (min-width: 400px) and (max-width: 450px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333 !important;
    position: relative !important;
    margin-left: 18px !important;
    margin-top: -50px; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-right: 3px !important;
    margin-top: -40px; } }
