@import "../newthemes/elementsize.scss";
@import "../newthemes/mixins.scss";
@import "../../themes/default.scss";

.forgot-password-container {
    height: auto;
    width: 348px;
    font-size: $textsize-12;
    padding: $space-l $space-xxl;
    text-align: left;

    .icon-container {
        height: 40px;
        width: 40px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: #fa9a32;
        padding-top: 5px;
        padding-left: 8px;
        color: #fa9a32;

        .su.su-warning-alt {
            font-size: 25px;
            color: $white;
        }
    }

    .heading {
        margin: $space-m 0px;
        font-weight: $text-semibold;
        text-align: center;
    }

    .user-validation {
        color: $validation-text-color;
        padding-bottom: $space-l;
        text-align: center;
    }

    .form-name {
        font-weight: $text-semibold;
        color: $primary-color;
    }

    .form-name::after {
        content: '';
        display: block;
        width: 74px;
        border-bottom: 2px solid $primary-color;
    }

    .forgot-password-content {
        padding-top: $space-xl;
        padding-bottom: $space-l;
    }

    .forgot-form-input-field {
        padding-bottom: $space-xxl;

        label {
            margin-bottom: 8px;
        }

        .form-control {
            font-size: $textsize-12;
            border-radius: 5px;
            height: $textbox-32;
            padding-right: 30px;
        }

        .form-control[disabled] {
            cursor: default;
        }

        #username-validation {
            position: absolute;
        }

        #key-input {
            height: 40px;
            border-color: $grey-300;
            border-radius: 4px;
        }
    }

    #submit-button {
        margin-bottom: $space-l;
    }

    .proceed-button {
        @include proceed-button();
        width: 60%;
        margin: 0 auto $space-xl auto;

        &:hover {
            background: $primary-btn-hover;
        }
    }

    .back-button {
        a {
            display: table;
            color: $blue-secondary;
            margin: 0 auto;
        }

        a:hover {
            text-decoration: none;
        }

        span {
            display: table-cell;
            vertical-align: middle;
        }

        span.su-arrow-back {
            padding-right: $space-xs;
            font-size: 16px;
        }
    }

    .validation-holder {
        color: $validation-text-color;
        font-size: $textsize-10;
    }
}

@media screen and (min-width:700px) and (max-width:768px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: -10px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -45px;
            }
        }
    }
}

@media screen and (min-width:1000px) and (max-width: 1040px) {
    #content-area {
        padding-left: 0px !important;

        #edit-profile-base-div {
            #user-profile-master {
                padding: 0px 20px 0px 20px;
            }
        }
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: -10px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right !important;
                margin-top: -45px;
            }
        }
    }
}

@media screen and (max-width:390px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: 18px !important;
                margin-top: -50px;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: -10px !important;
                margin-top: -40px;
            }
        }
    }
}

@media screen and (min-width:400px) and (max-width:450px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: 18px !important;
                margin-top: -50px;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: 3px !important;
                margin-top: -40px;
            }
        }
    }
}
