@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px; }

body {
  position: relative;
  padding-bottom: 50px;
  background: linear-gradient(-215deg, #FBFEFF 0%, #EEF2F3 100%); }

.account-parent {
  height: 100%;
  width: 100%;
  display: table; }
  .account-parent .account-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .account-parent .account-child .account-bg {
      font-family: var(--font-family);
      font-size: 12px;
      margin: 0 auto;
      height: auto;
      display: inline-block; }
      .account-parent .account-child .account-bg .account-header {
        margin-bottom: 20px; }
        .account-parent .account-child .account-bg .account-header img {
          max-height: 40px;
          max-width: 200px; }
        .account-parent .account-child .account-bg .account-header a {
          display: inline-block; }

.account-parent.header-padding {
  padding-top: 50px; }

input::-ms-clear,
input::-ms-reveal {
  display: none !important; }

#header {
  background-color: #333333;
  color: #eeeeee;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1050; }
  #header .header-bar {
    margin: 0;
    padding: 0;
    height: inherit; }
    #header .header-bar .login-account {
      padding: 15px; }
      #header .header-bar .login-account a {
        font-size: 14px; }
    #header .header-bar .main-screen-logo {
      float: left;
      padding: 5px 7.5px; }
      #header .header-bar .main-screen-logo #application-logo {
        height: 40px;
        height: 40px; }
    #header .header-bar .org-name-wrapper {
      display: inline-block;
      padding-left: 10px;
      font-size: 18px; }
      #header .header-bar .org-name-wrapper .header-org-name {
        display: table-cell;
        height: 50px;
        margin: 0;
        vertical-align: middle;
        font-size: 18px; }
    #header .header-bar #upload-item-section #btn-item-upload {
      background: var(--colorPrimary);
      border: none;
      border-radius: 0;
      color: #fff;
      height: 50px;
      width: 120px; }
    #header .header-bar .user-account {
      float: right; }
      #header .header-bar .user-account .profile-picture img {
        cursor: pointer;
        height: 50px;
        width: 50px; }
      #header .header-bar .user-account #profile-info-section {
        left: auto;
        right: 0;
        padding: 0;
        white-space: nowrap; }
        #header .header-bar .user-account #profile-info-section .profile-info {
          border-bottom: 1px solid #cccccc;
          padding: 0; }
          #header .header-bar .user-account #profile-info-section .profile-info .profile-picture-area {
            padding: 10px; }
            #header .header-bar .user-account #profile-info-section .profile-info .profile-picture-area img {
              border-radius: 50%;
              height: 48px;
              width: 48px; }
          #header .header-bar .user-account #profile-info-section .profile-info .profile-info-area {
            overflow: auto;
            padding-right: 10px; }
            #header .header-bar .user-account #profile-info-section .profile-info .profile-info-area ul {
              list-style: none;
              margin: 0px;
              padding: 0px; }
              #header .header-bar .user-account #profile-info-section .profile-info .profile-info-area ul #profile-name {
                color: var(--colorText);
                font-size: 15px;
                font-weight: 500;
                height: auto;
                margin-top: 10px; }
              #header .header-bar .user-account #profile-info-section .profile-info .profile-info-area ul #profile-email {
                color: var(--colorPrimary);
                font-size: 14px;
                font-weight: 400; }
        #header .header-bar .user-account #profile-info-section .profile-buttons a {
          color: #808080;
          display: inline-block;
          padding: 10px 0;
          text-align: center;
          text-decoration: none;
          width: 50%; }
          #header .header-bar .user-account #profile-info-section .profile-buttons a:first-child {
            border-right: 1px solid #cccccc; }
    #header .header-bar #notification-section {
      cursor: pointer;
      display: table;
      height: 50px;
      width: 50px; }
      #header .header-bar #notification-section:hover {
        background-color: #808080; }
        #header .header-bar #notification-section:hover #notification-link #notification-indicator {
          border-color: #808080; }
      #header .header-bar #notification-section #notification-link {
        display: table-cell;
        height: inherit;
        margin: 0 auto;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: inherit; }
        #header .header-bar #notification-section #notification-link #notification-icon {
          color: #fff;
          display: inline-block;
          height: 50px;
          width: 50px;
          line-height: 50px; }
        #header .header-bar #notification-section #notification-link #notification-indicator {
          background: var(--danger);
          border: 1px solid #333333;
          border-radius: 10px;
          display: block;
          left: 26px;
          height: 8px;
          position: absolute;
          top: 15px;
          width: 8px; }
        #header .header-bar #notification-section #notification-link #notification-content-area {
          border-radius: 10px;
          height: 400px;
          left: auto;
          padding: 0 !important;
          right: 0;
          width: 375px; }
          #header .header-bar #notification-section #notification-link #notification-content-area #notification-header {
            background-color: #eeeeee;
            color: #333333;
            cursor: default;
            float: left;
            font-size: 18px;
            height: 40px;
            padding: 8px;
            width: 100%; }
            #header .header-bar #notification-section #notification-link #notification-content-area #notification-header span, #header .header-bar #notification-section #notification-link #notification-content-area #notification-header a {
              margin-top: 4px; }
            #header .header-bar #notification-section #notification-link #notification-content-area #notification-header span {
              float: left;
              font-size: 14px; }
            #header .header-bar #notification-section #notification-link #notification-content-area #notification-header a {
              float: right;
              color: var(--colorPrimary);
              font-size: 14px; }
          #header .header-bar #notification-section #notification-link #notification-content-area #notification-list {
            border: 0 none;
            height: 360px;
            width: 100%; }
    #header .header-bar .login-account {
      float: right;
      padding: 15px;
      font-weight: 500; }
      #header .header-bar .login-account a {
        color: #fff;
        font-size: 14px;
        text-decoration: none; }
