@import "../newthemes/elementsize.scss";
@import "../mixins.scss";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    padding-bottom: 50px;
    background: $bg-linear-gradient;
}

.account-parent {
    height: 100%;
    width: 100%;
    display: table;

    .account-child {
        display: table-cell;
        vertical-align: middle;
        text-align: center;


        .account-bg {
            font-family: var(--font-family);
            font-size: $textsize-12;
            margin: 0 auto;
            height: auto;
            display: inline-block;

            .account-header {
                margin-bottom: 20px;

                img {
                    max-height: 40px;
                    max-width: 200px;
                }

                a {
                    display: inline-block;
                }
            }
        }
    }
}

.account-parent.header-padding {
    padding-top: 50px;
}

input::-ms-clear,
input::-ms-reveal {
    display: none !important;
}

#header {
    background-color: $header-bg;
    color: $header-text-color;
    height: $header-lg-height;
    position: fixed;
    width: 100%;
    z-index: 1050;

    .header-bar {
        margin: 0;
        padding: 0;
        height: inherit;

        .login-account {
            padding: 15px;

            a {
                font-size: $app-large-text-size;
            }
        }

        .main-screen-logo {
            float: left;
            padding: 5px 7.5px;

            #application-logo {
                height: $header-lg-height - 10;
                height: $header-lg-height - 10;
            }
        }

        .org-name-wrapper {
            display: inline-block;
            padding-left: 10px;
            font-size: $app-large-text-size + 4;

            .header-org-name {
                display: table-cell;
                height: $header-lg-height;
                margin: 0;
                vertical-align: middle;
                font-size: $app-large-text-size + 4;
            }
        }

        #upload-item-section {
            #btn-item-upload {
                background: $primary-btn-bg;
                border: none;
                border-radius: 0;
                color: $primary-btn-text-color;
                height: $header-lg-height;
                width: 120px;
            }
        }

        .user-account {
            float: right;

            .profile-picture {
                img {
                    cursor: pointer;
                    height: $header-lg-height;
                    width: $header-lg-height;
                }
            }

            #profile-info-section {
                left: auto;
                right: 0;
                padding: 0;
                white-space: nowrap;

                .profile-info {
                    border-bottom: 1px solid $profile-border-color;
                    padding: 0;

                    .profile-picture-area {
                        padding: 10px;

                        img {
                            border-radius: 50%;
                            height: 48px;
                            width: 48px;
                        }
                    }

                    .profile-info-area {
                        overflow: auto;
                        padding-right: 10px;

                        ul {
                            list-style: none;
                            margin: 0px;
                            padding: 0px;

                            #profile-name {
                                color: $primary-text-color;
                                font-size: $app-large-text-size + 1;
                                font-weight: 500;
                                height: auto;
                                margin-top: 10px;
                            }

                            #profile-email {
                                color: $grid-link-color;
                                font-size: $app-large-text-size;
                                font-weight: 400;
                            }
                        }
                    }
                }

                .profile-buttons {
                    a {
                        color: $profile-btn-text-color;
                        display: inline-block;
                        padding: 10px 0;
                        text-align: center;
                        text-decoration: none;
                        width: 50%;

                        &:first-child {
                            border-right: 1px solid $profile-border-color;
                        }
                    }
                }
            }
        }

        #notification-section {
            cursor: pointer;
            display: table;
            height: $header-lg-height;
            width: $header-lg-height;

            &:hover {
                background-color: $grey-500;

                #notification-link {
                    #notification-indicator {
                        border-color: $grey-500;
                    }
                }
            }

            #notification-link {
                display: table-cell;
                height: inherit;
                margin: 0 auto;
                position: relative;
                text-align: center;
                vertical-align: middle;
                width: inherit;

                #notification-icon {
                    color: $primary-btn-text-color;
                    display: inline-block;
                    height: $header-lg-height;
                    width: $header-lg-height;
                    line-height: $header-lg-height;
                }

                #notification-indicator {
                    background: $unread-notification-color;
                    border: 1px solid $header-bg;
                    border-radius: 10px;
                    display: block;
                    left: 26px;
                    height: 8px;
                    position: absolute;
                    top: 15px;
                    width: 8px;
                }

                #notification-content-area {
                    border-radius: 10px;
                    height: 400px;
                    left: auto;
                    padding: 0 !important;
                    right: 0;
                    width: 375px;

                    #notification-header {
                        background-color: $header-bg-color;
                        color: $header-bg;
                        cursor: default;
                        float: left;
                        font-size: 18px;
                        height: 40px;
                        padding: 8px;
                        width: 100%;

                        span, a {
                            margin-top: 4px;
                        }

                        span {
                            float: left;
                            font-size: $app-large-text-size;
                        }

                        a {
                            float: right;
                            color: $primary-btn-bg;
                            font-size: $app-large-text-size;
                        }
                    }

                    #notification-list {
                        border: 0 none;
                        height: 360px;
                        width: 100%;
                    }
                }
            }
        }

        .login-account {
            float: right;
            padding: 15px;
            font-weight: 500;

            a {
                color: $primary-btn-text-color;
                font-size: $app-large-text-size;
                text-decoration: none;
            }
        }
    }
}
