@import "../newthemes/elementsize.scss";
@import "../mixins.scss";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    padding-bottom: 50px;
}

.account-parent {
    height: 100%;
    width: 100%;
    display: table;

    .account-child {
        display: table-cell;
        vertical-align: middle;
        text-align: center;


        .account-bg {
            font-family: var(--font-family);
            font-size: $textsize-12;
            margin: 0 auto;
            height: auto;
            display: inline-block;

            .account-header {
                margin-bottom: 20px;

                img {
                    max-height: 40px;
                    max-width: 200px;
                }

                a {
                    display: inline-block;
                }
            }
        }
    }
}

.account-parent.header-padding {
    padding-top: 50px;
}

input::-ms-clear,
input::-ms-reveal {
    display: none !important;
}

#header {
    height: $header-lg-height;
    position: fixed;
    width: 100%;
    z-index: 1050;

    .header-bar {
        margin: 0;
        padding: 0;
        height: inherit;

        .login-account {
            padding: 15px;

            a {
                font-size: $app-large-text-size;
            }
        }

        .main-screen-logo {
            float: left;
            padding: 5px 7.5px;

            #application-logo {
                height: $header-lg-height - 10;
                height: $header-lg-height - 10;
            }
        }

        .org-name-wrapper {
            display: inline-block;
            padding-left: 10px;
            font-size: $app-large-text-size + 4;

            .header-org-name {
                display: table-cell;
                height: $header-lg-height;
                margin: 0;
                vertical-align: middle;
                font-size: $app-large-text-size + 4;
            }
        }

        #upload-item-section {
            #btn-item-upload {
                background: $primary-color;
                border: none;
                border-radius: 0;
                color: $primary-button-text-normal-color;
                height: $header-lg-height;
                width: 120px;
            }
        }

        .user-account {
            float: right;

            .profile-picture {
                img {
                    cursor: pointer;
                    height: $header-lg-height;
                    width: $header-lg-height;
                }
            }

            #profile-info-section {
                left: auto;
                right: 0;
                padding: 0;
                white-space: nowrap;

                .profile-info {
                    border-bottom: 1px solid $logo-section-border-color;
                    padding: 0;

                    .profile-picture-area {
                        padding: 10px;

                        img {
                            border-radius: 50%;
                            height: 48px;
                            width: 48px;
                        }
                    }

                    .profile-info-area {
                        overflow: auto;
                        padding-right: 10px;

                        ul {
                            list-style: none;
                            margin: 0px;
                            padding: 0px;

                            #profile-name {
                                color: $primary-text-color;
                                font-size: $app-large-text-size + 1;
                                font-weight: 500;
                                height: auto;
                                margin-top: 10px;
                            }

                            #profile-email {
                                font-size: $app-large-text-size;
                                font-weight: 400;
                            }
                        }
                    }
                }

                .profile-buttons {
                    a {
                        color: $primary-text-color;
                        display: inline-block;
                        padding: 10px 0;
                        text-align: center;
                        text-decoration: none;
                        width: 50%;

                        &:first-child {
                            border-right: 1px solid $section-separator-color;
                        }
                    }
                }
            }
        }

       

        .login-account {
            float: right;
            padding: 15px;
            font-weight: 500;

            a {
                color: $primary-button-text-normal-color;
                font-size: $app-large-text-size;
                text-decoration: none;
            }
        }
    }
}
