/*@mixin app-header($height: $header-height) {
    background-color: $header-bg;
    color: $header-text-color;
    height: $height;
    position: fixed;
    width: 100%;
    z-index: 1050;

    .header-bar {
        margin: 0;
        padding: 0;

        .application-navigation {
            font-size: 25px;
            color: $primary-btn-text-color;
            vertical-align: middle;
            cursor: pointer;
        }

        .dropdown-menu {
            margin-top: -6.5px;
            padding: 0;
            min-width: 100px !important;

            .app-loading-text {
                color: $primary-text-color;
                padding-left: 5px;
            }
        }

        .main-screen-logo {
            float: left;
            padding: 5px;

            #application-logo {
                height: $height - 20;
                margin: 4px 0 0 4px;
            }
        }

        .org-name-wrapper {
            display: inline-block;
            padding-left: 10px;

            .header-org-name {
                display: table-cell;
                height: $height;
                margin: 0;
                vertical-align: middle;*/
/*color: $primary-btn-text-color !important;*/
            /*}
        }

        #upload-item-section {
            #btn-item-upload {
                background: $primary-color;
                border: none;
                border-radius: 0;*/
/*color: $primary-btn-text-color;*/
                /*height: $height;
                width: 120px;
            }
        }

        .user-account {
            float: right;

            .profile-picture {
                img {
                    cursor: pointer;
                    height: $header-height;
                    width: $header-height;
                }
            }

            #profile-info-section {
                left: auto;
                right: 0;
                padding: 0;
                white-space: nowrap;

                .profile-info {
                    border-bottom: 1px solid $profile-border-color;
                    padding: 0;

                    .profile-picture-area {
                        padding: 10px;

                        img {
                            border-radius: 50%;
                            height: 48px;
                            width: 48px;
                        }
                    }

                    .profile-info-area {
                        overflow: auto;
                        padding-right: 10px;

                        ul {
                            list-style: none;

                            #profile-name {
                                color: $primary-text-color;
                                font-size: $app-large-text-size;
                                font-weight: 500;
                                height: auto;
                                margin-top: 10px;
                            }

                            #profile-email {
                                font-size: $app-text-size;
                                font-weight: 400;
                            }
                        }
                    }
                }

                .profile-buttons {
                    a {
                        color: $profile-btn-text-color;
                        padding: 10px 0;
                        text-align: center;

                        &:first-child {
                            border-right: 1px solid $profile-border-color;
                        }
                    }
                }
            }
        }
    }
}*/
/*@mixin dialog($dialog-font-size, $dialog-validation-size, $dialog-text-box) {
    .form-control, .btn {
        border-radius: 0;
    }

    .dialog-header {
        font-size: $dialog-font-size + 2;
        padding: 10px 15px;

        .PopupTitle {
            vertical-align: top;
        }

        .report-name {
            font-size: $dialog-validation-size;
        }

        .PopupClose {
            float: right;
            font-size: $dialog-validation-size;

            &:hover {
                color: $primary-color;
                text-decoration: none;
            }
        }
    }

    input[type="text"], button[type="button"] {
        height: $dialog-text-box;
    }

    .fileUpload {
        height: $dialog-text-box;
        padding: 0 18px;
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .padding20 {
        padding: 20px;
    }

    .padding-bottom20 {
        padding-bottom: 20px;
    }

    .no-bottom-padding {
        padding-bottom: 0 !important;
    }

    .no-top-padding {
        padding-top: 0 !important;
    }

    .no-left-padding {
        padding-left: 0 !important;
    }

    .no-right-padding {
        padding-right: 0 !important;
    }

    .rightAlign {
        text-align: right;
    }

    .bottom-margin30 {
        margin-bottom: 30px;
    }

    .padding10 {
        padding: 10px;
    }

    .bootstrap-select {
        width: 100% !important;
    }

    .bottom-margin35 {
        margin-bottom: 35px;
    }

    .dialog-body {
        font-size: $dialog-font-size;
        padding: 10px 15px;

        .bootstrap-select.btn-group .no-results {
            padding: 6px;
            margin: 0;
        }

        .validation-error {
            color: $validation-text-color;
            font-size: $validation-text-size;
            float: left;
            margin-top: -24px;
        }

        .filter-option {
            margin-top: -2px;
        }

        .text-label {
            margin: 5px 0 5px;
        }

        #filename, #name {
            cursor: pointer;
        }

        .permission-denied {
            padding: 10px;
            text-align: center;
        }

        .highlight-name {
            font-style: italic;
            color: $primary-color;
        }

        .mandatory {
            padding-left: 2px;
        }

        .text, .note {
            font-size: $dialog-font-size;
        }

        .bootstrap-select {
            padding: 0;
        }

        .help-text {
            font-size: $dialog-validation-size;
        }

        .help-text-mandatory {
            padding-right: 2px;
        }

        .padding-right-15 {
            padding-right: 15px;
        }
    }

    .dialog-footer {
        padding: 10px;
        background: #e5e5e5 none repeat scroll 0 0;
        border-top: 1px solid #bbbbbb;
        bottom: 0;
        padding: 10px 15px;
        position: fixed;
        right: 0;
        width: 100%;

        .centerAlign {
            width: 100%;
            text-align: center;

            .PopupClose, .ItemPermissionPopupClose {
                float: none;
            }
        }

        .primary-button {
            margin-right: 10px;
        }
    }
}*/
/*@media (min-width:1040px) and (max-width: 1200px) {
    .app-header {
        #application-list {
            text-align: center !important;
        }
    }
}*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px; }

body {
  position: relative;
  padding-bottom: 50px; }

.account-parent {
  height: 100%;
  width: 100%;
  display: table; }
  .account-parent .account-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .account-parent .account-child .account-bg {
      font-family: var(--font-family);
      font-size: 12px;
      margin: 0 auto;
      height: auto;
      display: inline-block; }
      .account-parent .account-child .account-bg .account-header {
        margin-bottom: 20px; }
        .account-parent .account-child .account-bg .account-header img {
          max-height: 40px;
          max-width: 200px; }
        .account-parent .account-child .account-bg .account-header a {
          display: inline-block; }

.account-parent.header-padding {
  padding-top: 50px; }

input::-ms-clear,
input::-ms-reveal {
  display: none !important; }

#header {
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1050; }
  #header .header-bar {
    margin: 0;
    padding: 0;
    height: inherit; }
    #header .header-bar .login-account {
      padding: 15px; }
      #header .header-bar .login-account a {
        font-size: 14px; }
    #header .header-bar .main-screen-logo {
      float: left;
      padding: 5px 7.5px; }
      #header .header-bar .main-screen-logo #application-logo {
        height: 40px;
        height: 40px; }
    #header .header-bar .org-name-wrapper {
      display: inline-block;
      padding-left: 10px;
      font-size: 18px; }
      #header .header-bar .org-name-wrapper .header-org-name {
        display: table-cell;
        height: 50px;
        margin: 0;
        vertical-align: middle;
        font-size: 18px; }
    #header .header-bar #upload-item-section #btn-item-upload {
      background: var(--primary-branding-bg-color);
      border: none;
      border-radius: 0;
      color: var(--primary-button-text-normal-color);
      height: 50px;
      width: 120px; }
    #header .header-bar .user-account {
      float: right; }
      #header .header-bar .user-account .profile-picture img {
        cursor: pointer;
        height: 50px;
        width: 50px; }
      #header .header-bar .user-account #profile-info-section {
        left: auto;
        right: 0;
        padding: 0;
        white-space: nowrap; }
        #header .header-bar .user-account #profile-info-section .profile-info {
          border-bottom: 1px solid var(--logo-section-border-color);
          padding: 0; }
          #header .header-bar .user-account #profile-info-section .profile-info .profile-picture-area {
            padding: 10px; }
            #header .header-bar .user-account #profile-info-section .profile-info .profile-picture-area img {
              border-radius: 50%;
              height: 48px;
              width: 48px; }
          #header .header-bar .user-account #profile-info-section .profile-info .profile-info-area {
            overflow: auto;
            padding-right: 10px; }
            #header .header-bar .user-account #profile-info-section .profile-info .profile-info-area ul {
              list-style: none;
              margin: 0px;
              padding: 0px; }
              #header .header-bar .user-account #profile-info-section .profile-info .profile-info-area ul #profile-name {
                color: var(--primary-text-color);
                font-size: 15px;
                font-weight: 500;
                height: auto;
                margin-top: 10px; }
              #header .header-bar .user-account #profile-info-section .profile-info .profile-info-area ul #profile-email {
                font-size: 14px;
                font-weight: 400; }
        #header .header-bar .user-account #profile-info-section .profile-buttons a {
          color: var(--primary-text-color);
          display: inline-block;
          padding: 10px 0;
          text-align: center;
          text-decoration: none;
          width: 50%; }
          #header .header-bar .user-account #profile-info-section .profile-buttons a:first-child {
            border-right: 1px solid var(--section-separator-color); }
    #header .header-bar .login-account {
      float: right;
      padding: 15px;
      font-weight: 500; }
      #header .header-bar .login-account a {
        color: var(--primary-button-text-normal-color);
        font-size: 14px;
        text-decoration: none; }

.tooltip .tooltip-inner {
  font-size: 12px; }
