.account-bg {
  background: var(--surface); }
  .account-bg .login-wrapper {
    height: auto;
    width: 348px;
    font-size: 12px;
    padding: 12px;
    text-align: left; }
    .account-bg .login-wrapper .login-body .form-name {
      width: 74px;
      border-bottom: 2px solid var(--primary-branding-bg-color);
      font-weight: 600;
      color: var(--primary-branding-bg-color); }
    .account-bg .login-wrapper .login-body #login-form .login-header {
      font-size: 20px;
      color: var(--primary-branding-bg-color);
      margin-top: -12px;
      margin-bottom: 30px;
      font-weight: 600;
      line-height: 30px;
      padding-bottom: 8px; }
      .account-bg .login-wrapper .login-body #login-form .login-header:after {
        content: '';
        display: block;
        width: 74px;
        border-bottom: 2px solid var(--primary-branding-bg-color); }
    .account-bg .login-wrapper .login-body #login-form .login-fields .email {
      position: relative;
      padding: 0px 0px 24px 0px; }
      .account-bg .login-wrapper .login-body #login-form .login-fields .email label {
        margin-bottom: 8px; }
    .account-bg .login-wrapper .login-body #login-form .login-fields #password-field {
      position: relative;
      padding-bottom: 24px; }
      .account-bg .login-wrapper .login-body #login-form .login-fields #password-field label {
        margin-bottom: 8px; }
      .account-bg .login-wrapper .login-body #login-form .login-fields #password-field .show-hide-password {
        cursor: pointer;
        position: absolute;
        right: 10px;
        font-size: 16px;
        top: 12px; }
      .account-bg .login-wrapper .login-body #login-form .login-fields #password-field .tooltip .tooltip-inner {
        word-break: break-all !important;
        white-space: pre !important;
        max-width: none !important; }
      .account-bg .login-wrapper .login-body #login-form .login-fields #password-field .tooltip .tooltip.top .tooltip-arrow {
        bottom: 1px !important; }
    .account-bg .login-wrapper .login-body #login-form .login-fields .form-control {
      font-size: 12px;
      border-radius: 5px;
      height: 32px;
      padding-right: 30px; }
    .account-bg .login-wrapper .login-body #login-form .login-fields .form-control[disabled] {
      cursor: default; }
    .account-bg .login-wrapper .login-body #login-form .login-fields #login-email {
      height: 40px;
      width: 346px;
      border-radius: 4px; }
    .account-bg .login-wrapper .login-body #login-form .login-fields #current-password {
      height: 40px !important;
      width: 346px; }
    @media (max-width: 426px) {
      .account-bg .login-wrapper .login-body #login-form .login-fields #show-newpassword {
        right: 23px !important; } }
    @media (max-width: 376px) {
      .account-bg .login-wrapper .login-body #login-form .login-fields #show-newpassword {
        right: -15px !important; } }
    @media (max-width: 321px) {
      .account-bg .login-wrapper .login-body #login-form .login-fields #show-newpassword {
        right: 12px !important; } }
    .account-bg .login-wrapper .login-body #login-form .proceed-button {
      height: 40px;
      outline: none;
      font-size: 16px;
      font-weight: 700;
      width: 100%;
      cursor: pointer;
      display: block;
      width: 45%;
      margin: 0 auto 16px auto; }
    .account-bg .login-wrapper .login-body #login-form .validation-holder, .account-bg .login-wrapper .login-body #login-form #error-email, .account-bg .login-wrapper .login-body #login-form #error-password {
      color: var(--red);
      font-size: 12px;
      display: none;
      margin: 3px;
      position: relative; }
    .account-bg .login-wrapper .login-body #login-form .logged-in-user {
      text-align: center;
      padding: 0px 0px 15px 0px; }
      .account-bg .login-wrapper .login-body #login-form .logged-in-user .email-id {
        font-weight: 700; }
    .account-bg .login-wrapper .login-body .backtologin-align {
      text-align: center;
      margin-top: 18px; }
    .account-bg .login-wrapper .login-body .external-container .divider-container {
      overflow: hidden;
      text-align: center;
      padding: 6px;
      width: 320px;
      right: -14px; }
      .account-bg .login-wrapper .login-body .external-container .divider-container .line {
        position: absolute;
        top: 100%;
        height: 1px;
        background: var(--grey-400);
        margin: -8px; }
      .account-bg .login-wrapper .login-body .external-container .divider-container .line.right {
        right: 0px; }
    .account-bg .login-wrapper .login-body .external-container #alternative-login {
      display: inline-block;
      width: 100%;
      text-align: center;
      width: 390px; }
      .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper {
        padding-top: 16px; }
        .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper img {
          height: 24px;
          width: 24px;
          margin-right: 5px !important;
          margin-bottom: 2px; }
        .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .external-provider {
          margin-bottom: 2px !important; }
        .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper button {
          background-color: initial;
          border: none;
          padding: 0px;
          margin: 0 5px 20px 3px; }
        .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .active-directory-login {
          width: 33%;
          float: left;
          display: inline-block; }
        .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .link-button {
          border: 1px solid var(--link-button-border-normal-color);
          border-radius: 4px; }
        .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .no-padding {
          padding: 0; }
        .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .external-login-buttons {
          float: left; }
        .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .external-login-buttons:only-child {
          display: inline-block;
          float: none;
          position: relative;
          right: 20px; }
        .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .login-provider, .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .windows-ad-login {
          display: block;
          text-align: center;
          width: 350px;
          height: 44px;
          padding: 6px;
          vertical-align: top;
          line-height: 30px;
          font-weight: bold;
          border: 1px solid var(--logo-section-border-color); }
          .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .login-provider .login-provider-name, .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .login-provider .windows-ad-login-text, .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .windows-ad-login .login-provider-name, .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .windows-ad-login .windows-ad-login-text {
            cursor: pointer;
            font-weight: bold;
            font-size: 14px;
            color: var(--primary-text-color); }
          .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .login-provider .login-button-openid #openid_logo_img, .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .windows-ad-login .login-button-openid #openid_logo_img {
            height: 30px;
            width: 30px; }
          .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .login-provider .open-id-logo, .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .windows-ad-login .open-id-logo {
            margin-bottom: 2px !important; }
        .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .google-login {
          width: 33%;
          float: left;
          display: inline-block;
          padding-left: 30px; }
        .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .error-message {
          width: 100%;
          text-align: center;
          display: none; }
          .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper .error-message span {
            color: var(--red);
            font-size: 12px;
            font-weight: bold;
            padding: 6px; }
        .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper #login-button-windows .su-windows-ad {
          font-size: 24px;
          vertical-align: middle;
          margin-right: 5px; }
        .account-bg .login-wrapper .login-body .external-container #alternative-login .page-wrapper #login-button-windows .su-windows-ad::before {
          color: var(--blue-secondary); }
    .account-bg .login-wrapper .login-body .bold-container {
      padding-top: 16px; }
      .account-bg .login-wrapper .login-body .bold-container .sign-up-button {
        border: transparent;
        border-radius: 60px !important;
        color: #ff4800;
        height: 40px;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        display: block;
        line-height: 2;
        width: 50%;
        margin: 0 auto auto auto; }
        .account-bg .login-wrapper .login-body .bold-container .sign-up-button:hover {
          background-color: #fff1ef; }
        .account-bg .login-wrapper .login-body .bold-container .sign-up-button img {
          padding: 3px 0;
          float: left;
          margin-left: 10px; }
        .account-bg .login-wrapper .login-body .bold-container .sign-up-button #sign-login-text {
          padding-top: 1px; }
    .account-bg .login-wrapper .login-body button[disabled] {
      cursor: default;
      background-color: var(--grey-200) !important; }
    .account-bg .login-wrapper .login-body .external-login-option {
      height: 42px;
      display: inline-block; }
    .account-bg .login-wrapper .login-body .syncfusion-login-option {
      float: none;
      top: -28px;
      left: -5px; }
    .account-bg .login-wrapper .login-body #access-denied, .account-bg .login-wrapper .login-body #validate-azure-user, .account-bg .login-wrapper .login-body #validate-ad-user, .account-bg .login-wrapper .login-body #validate-auth-user, .account-bg .login-wrapper .login-body #azure-b2c-password-reset {
      text-align: center;
      display: none;
      white-space: nowrap;
      font-size: 12px;
      color: var(--red);
      margin: 15px 77px;
      padding: 5px 16px;
      border-radius: 5px;
      border: 1px solid #f2cfcf; }
      .account-bg .login-wrapper .login-body #access-denied #login-input-error, .account-bg .login-wrapper .login-body #validate-azure-user #login-input-error, .account-bg .login-wrapper .login-body #validate-ad-user #login-input-error, .account-bg .login-wrapper .login-body #validate-auth-user #login-input-error, .account-bg .login-wrapper .login-body #azure-b2c-password-reset #login-input-error {
        display: inline-block;
        padding-left: 5px; }
    .account-bg .login-wrapper .login-body .forget-password-align, .account-bg .login-wrapper .login-body #validate-auth-user, .account-bg .login-wrapper .login-body #azure-b2c-password-reset {
      margin-left: 63px;
      margin-top: 18px; }
    .account-bg .login-wrapper .login-body .auth-error-text {
      white-space: normal; }

.login-options {
  padding-bottom: 24px; }
  .login-options #remember-me {
    display: inline-block; }
  .login-options a {
    display: inline-block;
    float: right;
    color: var(--primary-branding-bg-color); }
  .login-options a:hover {
    text-decoration: none; }

#mfaVerification-form .mfa-logged-text {
  margin-bottom: 10px; }
#mfaVerification-form .mfaVerification-options {
  padding-bottom: 24px; }
  #mfaVerification-form .mfaVerification-options #skipMfa-Verification {
    display: inline-block; }
  #mfaVerification-form .mfaVerification-options a {
    display: inline-block;
    float: right;
    color: var(--primary-branding-bg-color); }
  #mfaVerification-form .mfaVerification-options a:hover {
    text-decoration: none; }
#mfaVerification-form #error-mfa {
  color: var(--red);
  font-size: 12px;
  display: none;
  margin: 3px;
  position: relative; }
#mfaVerification-form .continue-button {
  text-align: center; }

@media screen and (max-width: 470px) {
  body {
    padding-bottom: 100px; }

  .account-bg {
    width: 90% !important; }

  .login-wrapper {
    margin-top: 25px !important;
    padding: 0;
    width: 100% !important; }

  #alternative-login .page-wrapper button {
    margin: 0 5px 20px 10px !important; }
  #alternative-login .page-wrapper .external-login-buttons .divider-container {
    width: 100% !important; }

  #validate-auth-user {
    margin: 0 10% !important;
    width: 80% !important; }

  .mfaVerification-wrapper {
    margin-top: 25px !important;
    padding: 0;
    width: 100% !important; } }
@media screen and (min-width: 700px) and (max-width: 820px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: var(--primary-text-color) !important;
    position: relative !important;
    margin-left: 5px !important;
    margin-top: 20px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right;
    margin-top: -22px !important; } }
@media screen and (min-width: 1000px) and (max-width: 1040px) {
  #content-area {
    margin-top: 30px !important; }

  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: var(--primary-text-color) !important;
    position: relative !important;
    margin-left: 5px !important;
    margin-top: 20px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right;
    margin-top: -25px !important; } }
@media screen and (min-width: 390px) and (max-width: 450px) {
  #login-form .login-fields .e-float-input {
    width: auto; }

  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: var(--primary-text-color) !important;
    position: relative !important;
    margin-left: 40px !important;
    margin-top: 5px; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-right: -1px !important;
    float: none !important; } }
@media screen and (min-width: 490px) and (max-width: 550px) {
  #base-footer-div {
    left: 75px !important; }
    #base-footer-div footer .language-area {
      float: right !important; }
    #base-footer-div footer #poweredbysyncfusion {
      margin-right: 70px !important; } }
@media screen and (max-width: 320px) {
  #base-footer-div {
    left: 75px !important; }
    #base-footer-div footer #poweredbysyncfusion {
      margin-top: 10px !important; } }
@media screen and (min-width: 330px) and (max-width: 390px) {
  #login-form .login-fields .e-float-input {
    width: auto; }

  #base-footer-div {
    left: 25px !important; }
    #base-footer-div footer #copyrightinfo {
      color: var(--primary-text-color) !important;
      position: relative !important;
      margin-left: 18px !important;
      margin-top: 20px; }
    #base-footer-div footer #poweredbysyncfusion {
      font-size: 10px !important;
      margin-right: -10px !important;
      margin-top: 10px;
      float: none !important; } }
