@import "../newthemes/elementsize.scss";
@import "../newthemes/mixins.scss";
@import "../../themes/default.scss";

.login-wrapper {
    height: auto;
    width: 348px;
    font-size: $textsize-12;
    padding: $space-s;
    text-align: left;

    .login-body {
        .form-name {
            width: 74px;
            border-bottom: 2px solid $primary-color;
            font-weight: $text-semibold;
            color: $primary-color;
        }

        #login-form {

            .login-header {
                font-size: 20px;
                color: $primary-color;
                margin-top: -12px;
                margin-bottom: 30px;
                font-weight: $text-semibold;
                line-height: 30px;
                padding-bottom: 8px;

                &:after {
                    content: '';
                    display: block;
                    width: 74px;
                    border-bottom: 2px solid $primary-color;
                }
            }

            .login-fields {
                .email {
                    position: relative;
                    padding: 0px 0px $space-l 0px;

                    label {
                        margin-bottom: 8px;
                    }

                    .e-outline {
                        &:hover {
                            #label_login-email {
                                color: $primary-color !important;
                            }
                        }
                    }

                    .mail-loader-div.email-loader {
                        background: url(images/textboxloader.gif) no-repeat right center;
                        position: absolute;
                        bottom: 38px;
                        right: 10px;
                        width: 20px;
                        height: 20px;
                    }
                }

                #password-field {
                    position: relative;
                    padding-bottom: $space-l;

                    label {
                        margin-bottom: 8px;
                    }

                    .show-hide-password {
                        cursor: pointer;
                        position: absolute;
                        right: 10px;
                        font-size: 16px;
                        top: 12px;
                    }

                    .tooltip {
                        .tooltip-inner {
                            word-break: break-all !important;
                            white-space: pre !important;
                            max-width: none !important;
                        }

                        .tooltip.top .tooltip-arrow {
                            bottom: 1px !important;
                        }
                    }
                }

                .form-control {
                    font-size: $textsize-12;
                    border-radius: 5px;
                    height: $textbox-32;
                    padding-right: 30px;
                }

                .form-control[disabled] {
                    cursor: default;
                }

                #login-email {
                    height: 40px;
                    width: 320px;
                    border-color: $grey-300;
                    border-radius: 4px;
                }

                #current-password{
                    height: 40px !important;
                }
            }

            .proceed-button {
                @include proceed-button();
                width: 45%;
                margin: 0 auto $space-xl auto;

                &:hover {
                    background: $primary-btn-hover;
                }
            }

            .validation-holder, #error-email, #error-password {
                color: $validation-text-color;
                font-size: $textsize-12;
                display: none;
                margin: 3px;
                position: absolute;
            }
        }

        .external-container {
            .divider-container {
                overflow: hidden;
                text-align: center;
                padding: 0px;

                .line {
                    position: absolute;
                    top: 100%;
                    height: 1px;
                    background: $grey-400;
                    margin: -8px;
                }

                .line.right {
                    right: 0px;
                }
            }

            #alternative-login {
                display: inline-block;
                width: 100%;
                text-align: center;
                width: 390px;

                .page-wrapper {
                    padding-top: $space-xl;

                    img {
                        height: 24px;
                        width: 24px;
                        margin-right: 5px !important;
                    }

                    button {
                        background-color: initial;
                        border: none;
                        padding: 0px;
                        margin: 0 5px 20px 3px;
                    }

                    .active-directory-login {
                        width: 33%;
                        float: left;
                        display: inline-block;
                    }

                    .link-button {
                        border: 1px solid $primary-border;
                        border-radius: 4px;

                        &:hover {
                            background-color: $submit-button-disabled;
                            border-color: $external-button-border;
                            color: $primary-text-color;
                        }
                    }

                    .no-padding {
                        padding: 0;
                    }

                    .external-login-buttons {
                        float: left;
                    }

                    .external-login-buttons:only-child {
                        display: inline-block;
                        float: none;
                        position: relative;
                        right: 20px;
                    }

                    .login-provider, .windows-ad-login {
                        display: block;
                        text-align: center;
                        width: 163px;
                        height: 44px;
                        padding: 6px;
                        vertical-align: top;
                        line-height: 30px;
                        font-weight: bold;
                        border: 1px solid $external-button-border;

                        .login-provider-name, .windows-ad-login-text {
                            cursor: pointer;
                            padding: 5px;
                            font-weight: bold;
                            color: $primary-text-color;
                        }

                        .login-button-openid {
                            #openid_logo_img {
                                height: 30px;
                                width: 30px;
                            }
                        }
                    }

                    .google-login {
                        width: 33%;
                        float: left;
                        display: inline-block;
                        padding-left: 30px;
                    }

                    .error-message {
                        width: 100%;
                        text-align: center;
                        display: none;

                        span {
                            color: $validation-text-color;
                            font-size: 12px;
                            font-weight: bold;
                            padding: 6px;
                        }
                    }

                    #login-button-windows {
                        .su-windows-ad {
                            font-size: $textbox-28 - 4;
                            vertical-align: middle;
                            margin-right: 5px;
                        }

                        .su-windows-ad::before {
                            color: $blue-secondary;
                        }
                    }
                }
            }
        }

        .bold-container {
            padding-top: $space-m;

            .sign-up-button {
                border: transparent;
                border-radius: 60px !important;
                color: #ff4800;
                height: 40px;
                font-size: 14px;
                font-weight: 700;
                cursor: pointer;
                display: block;
                line-height: 2;
                width: 50%;
                margin: 0 auto auto auto;

                &:hover {
                    background-color: #fff1ef;
                }

                img {
                    padding: 3px 0;
                    float: left;
                    margin-left: 10px;
                }

                #sign-login-text {
                    padding-top: 1px;
                }
            }
        }

        button[disabled] {
            cursor: default;
            background-color: $grey-200 !important;
        }

        .external-login-option {
            height: 42px;
            display: inline-block;
        }

        .syncfusion-login-option {
            float: none;
            top: -28px;
            left: -5px;
        }

        #access-denied, #validate-azure-user, #validate-ad-user, #validate-auth-user {
            text-align: center;
            display: none;
            white-space: nowrap;
            font-size: $textsize-12;
            color: $validation-text-color;
            margin: 15px 77px;
            padding: 5px 16px;
            border-radius: 5px;
            border: 1px solid #f2cfcf;

            #login-input-error {
                display: inline-block;
                padding-left: 5px;
            }
        }

        .forget-password-align, #validate-auth-user {
            margin-left: 63px;
            margin-top: 18px;
        }

        .forgot-pwd-link {
            color: $blue-secondary;
        }

        .auth-error-text {
            white-space: normal;
        }
    }
}

.login-options {
    padding-bottom: $space-l;

    #remember-me {
        display: inline-block;
    }

        a {
            display: inline-block;
            float: right;
            color: $primary-color;
        }

    a:hover {
        text-decoration: none;
    }
}

@media screen and (max-width: 470px) {

    body {
        padding-bottom: 100px;
    }

    .account-bg {
        width: 90% !important;
    }

    .login-wrapper {
        margin-top: 25px !important;
        padding: 0;
        width: 100% !important;
    }

    #alternative-login {

        .page-wrapper {

            button {
                margin: 0 5px 20px 10px !important;
            }

            .external-login-buttons {

                .divider-container {
                    width: 100% !important;
                }
            }
        }
    }

    #validate-auth-user {
        margin: 0 10% !important;
        width: 80% !important;
    }
}

@media screen and (min-width:700px) and (max-width:768px) {

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $delete-icon-color !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: 20px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -12px;
            }
        }
    }
}

@media screen and (min-width:1000px) and (max-width:1040px) {
    #content-area {
        margin-top: 30px !important;
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $delete-icon-color !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: 20px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -12px;
            }
        }
    }
}

@media screen and (min-width:400px) and (max-width:450px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $delete-icon-color !important;
                position: relative !important;
                margin-left: 18px !important;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: 35px !important;
            }
        }
    }
}

@media screen and (min-width:490px) and (max-width:550px) {
    #base-footer-div {
        left: 75px !important;

        footer {

            .language-area {
                float: right !important;
            }

            #poweredbysyncfusion {
                margin-right: 70px !important;
            }
        }
    }
}

@media screen and (max-width:320px) {
    #base-footer-div {
        left: 75px !important;

        footer {
            #poweredbysyncfusion {
                margin-top: 10px !important;
            }
        }
    }
}

@media screen and (min-width:330px) and (max-width:390px) {

    #base-footer-div {
        left: 25px !important;

        footer {

            #copyrightinfo {
                color: $delete-icon-color !important;
                position: relative !important;
                margin-left: 18px !important;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: -10px !important;
                margin-top: 10px;
            }
        }
    }
}
