@import "../newthemes/elementsize.scss";
@import "../../default/default.scss";

.account-bg {
    background: $surface;

    .login-wrapper {
        height: auto;
        width: 348px;
        font-size: $textsize-12;
        padding: $space-s;
        text-align: left;

        .login-body {
            .form-name {
                width: 74px;
                border-bottom: 2px solid $primary-color;
                font-weight: $text-semibold;
                color: $primary-color;
            }

            #login-form {

                .login-header {
                    font-size: 20px;
                    color: $primary-color;
                    margin-top: -12px;
                    margin-bottom: 30px;
                    font-weight: $text-semibold;
                    line-height: 30px;
                    padding-bottom: 8px;

                    &:after {
                        content: '';
                        display: block;
                        width: 74px;
                        border-bottom: 2px solid $primary-color;
                    }
                }

                .login-fields {
                    .email {
                        position: relative;
                        padding: 0px 0px $space-l 0px;

                        label {
                            margin-bottom: 8px;
                        }
                    }

                    #password-field {
                        position: relative;
                        padding-bottom: $space-l;

                        label {
                            margin-bottom: 8px;
                        }

                        .show-hide-password {
                            cursor: pointer;
                            position: absolute;
                            right: 10px;
                            font-size: 16px;
                            top: 12px;
                        }

                        .tooltip {
                            .tooltip-inner {
                                word-break: break-all !important;
                                white-space: pre !important;
                                max-width: none !important;
                            }

                            .tooltip.top .tooltip-arrow {
                                bottom: 1px !important;
                            }
                        }
                    }

                    .form-control {
                        font-size: $textsize-12;
                        border-radius: 5px;
                        height: $textbox-32;
                        padding-right: 30px;
                    }

                    .form-control[disabled] {
                        cursor: default;
                    }

                    #login-email {
                        height: 40px;
                        width: 346px;
                        border-radius: 4px;
                    }

                    #current-password {
                        height: 40px !important;
                    }
                }

                .proceed-button {
                    height: 40px;
                    outline: none;
                    font-size: 16px;
                    font-weight: 700;
                    width: 100%;
                    cursor: pointer;
                    display: block;
                    width: 45%;
                    margin: 0 auto $space-m auto;
                }

                .validation-holder, #error-email, #error-password {
                    color: $validation-text-color;
                    font-size: $textsize-12;
                    display: none;
                    margin: 3px;
                    position: relative;
                }

                .logged-in-user {
                    text-align: center;
                    padding: 0px 0px 15px 0px;

                    .email-id {
                        font-weight: 700;
                    }
                }
            }

            .backtologin-align {
                text-align: center;
                margin-top: 18px;
            }

            .external-container {
                .divider-container {
                    overflow: hidden;
                    text-align: center;
                    padding: 6px;
                    width: 320px;
                    right: -14px;

                    .line {
                        position: absolute;
                        top: 100%;
                        height: 1px;
                        background: $grey-400;
                        margin: -8px;
                    }

                    .line.right {
                        right: 0px;
                    }
                }

                #alternative-login {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    width: 390px;

                    .page-wrapper {
                        padding-top: $space-m;

                        img {
                            height: 24px;
                            width: 24px;
                            margin-right: 5px !important;
                            margin-bottom: 2px;
                        }

                        .external-provider {
                            margin-bottom: 2px !important;
                        }

                        button {
                            background-color: initial;
                            border: none;
                            padding: 0px;
                            margin: 0 5px 20px 3px;
                        }

                        .active-directory-login {
                            width: 33%;
                            float: left;
                            display: inline-block;
                        }

                        .link-button {
                            border: 1px solid $link-button-border-normal-color;
                            border-radius: 4px;
                        }

                        .no-padding {
                            padding: 0;
                        }

                        .external-login-buttons {
                            float: left;
                        }

                        .external-login-buttons:only-child {
                            display: inline-block;
                            float: none;
                            position: relative;
                            right: 20px;
                        }

                        .login-provider, .windows-ad-login {
                            display: block;
                            text-align: center;
                            width: 350px;
                            height: 44px;
                            padding: 6px;
                            vertical-align: top;
                            line-height: 30px;
                            font-weight: bold;
                            border: 1px solid $logo-section-border-color;

                            .login-provider-name, .windows-ad-login-text {
                                cursor: pointer;
                                font-weight: bold;
                                font-size: 14px;
                                color: $primary-text-color;
                            }

                            .login-button-openid {
                                #openid_logo_img {
                                    height: 30px;
                                    width: 30px;
                                }
                            }

                            .open-id-logo {
                                margin-bottom: 2px !important;
                            }
                        }

                        .google-login {
                            width: 33%;
                            float: left;
                            display: inline-block;
                            padding-left: 30px;
                        }

                        .error-message {
                            width: 100%;
                            text-align: center;
                            display: none;

                            span {
                                color: $validation-text-color;
                                font-size: 12px;
                                font-weight: bold;
                                padding: 6px;
                            }
                        }

                        #login-button-windows {
                            .su-windows-ad {
                                font-size: $textbox-28 - 4;
                                vertical-align: middle;
                                margin-right: 5px;
                            }

                            .su-windows-ad::before {
                                color: $blue-secondary;
                            }
                        }
                    }
                }
            }

            .bold-container {
                padding-top: $space-m;

                .sign-up-button {
                    border: transparent;
                    border-radius: 60px !important;
                    color: #ff4800;
                    height: 40px;
                    font-size: 14px;
                    font-weight: 700;
                    cursor: pointer;
                    display: block;
                    line-height: 2;
                    width: 50%;
                    margin: 0 auto auto auto;

                    &:hover {
                        background-color: #fff1ef;
                    }

                    img {
                        padding: 3px 0;
                        float: left;
                        margin-left: 10px;
                    }

                    #sign-login-text {
                        padding-top: 1px;
                    }
                }
            }

            button[disabled] {
                cursor: default;
                background-color: $grey-200 !important;
            }

            .external-login-option {
                height: 42px;
                display: inline-block;
            }

            .syncfusion-login-option {
                float: none;
                top: -28px;
                left: -5px;
            }

            #access-denied, #validate-azure-user, #validate-ad-user, #validate-auth-user, #azure-b2c-password-reset {
                text-align: center;
                display: none;
                white-space: nowrap;
                font-size: $textsize-12;
                color: $validation-text-color;
                margin: 15px 77px;
                padding: 5px 16px;
                border-radius: 5px;
                border: 1px solid #f2cfcf;

                #login-input-error {
                    display: inline-block;
                    padding-left: 5px;
                }
            }

            .forget-password-align, #validate-auth-user, #azure-b2c-password-reset {
                margin-left: 63px;
                margin-top: 18px;
            }

            .auth-error-text {
                white-space: normal;
            }
        }
    }
}

.login-options {
    padding-bottom: $space-l;

    #remember-me {
        display: inline-block;
    }

    a {
        display: inline-block;
        float: right;
        color: $primary-color;
    }

    a:hover {
        text-decoration: none;
    }
}

#mfaVerification-form {
    .mfa-logged-text {
        margin-bottom: 10px;
    }

    .mfaVerification-options {
        padding-bottom: $space-l;

        #skipMfa-Verification {
            display: inline-block;
        }

        a {
            display: inline-block;
            float: right;
            color: $primary-color;
        }

        a:hover {
            text-decoration: none;
        }
    }

    #error-mfa {
        color: $validation-text-color;
        font-size: $textsize-12;
        display: none;
        margin: 3px;
        position: relative;
    }

    .continue-button {
        text-align: center;
    }
}

@media screen and (max-width: 470px) {

    body {
        padding-bottom: 100px;
    }

    .account-bg {
        width: 90% !important;
    }

    .login-wrapper {
        margin-top: 25px !important;
        padding: 0;
        width: 100% !important;
    }

    #alternative-login {

        .page-wrapper {

            button {
                margin: 0 5px 20px 10px !important;
            }

            .external-login-buttons {

                .divider-container {
                    width: 100% !important;
                }
            }
        }
    }

    #validate-auth-user {
        margin: 0 10% !important;
        width: 80% !important;
    }

    .mfaVerification-wrapper {
        margin-top: 25px !important;
        padding: 0;
        width: 100% !important;
    }
}

@media screen and (min-width:700px) and (max-width:820px) {

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $primary-text-color !important;
                position: relative !important;
                margin-left: 5px !important;
                margin-top: 20px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -22px !important;
            }
        }
    }
}

@media screen and (min-width:1000px) and (max-width:1040px) {
    #content-area {
        margin-top: 30px !important;
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $primary-text-color !important;
                position: relative !important;
                margin-left: 5px !important;
                margin-top: 20px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -25px !important;
            }
        }
    }
}

@media screen and (min-width:390px) and (max-width:450px) {

    #login-form {
        .login-fields {
            .e-float-input {
                width: auto;
            }
        }
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: $primary-text-color !important;
                position: relative !important;
                margin-left: 40px !important;
                margin-top: 5px;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: -1px !important;
                float: none !important;
            }
        }
    }
}

@media screen and (min-width:490px) and (max-width:550px) {
    #base-footer-div {
        left: 75px !important;

        footer {

            .language-area {
                float: right !important;
            }

            #poweredbysyncfusion {
                margin-right: 70px !important;
            }
        }
    }
}

@media screen and (max-width:320px) {
    #base-footer-div {
        left: 75px !important;

        footer {
            #poweredbysyncfusion {
                margin-top: 10px !important;
            }
        }
    }
}

@media screen and (min-width:330px) and (max-width:390px) {

    #login-form {
        .login-fields {
            .e-float-input {
                width: auto;
            }
        }
    }

    #base-footer-div {
        left: 25px !important;

        footer {

            #copyrightinfo {
                color: $primary-text-color !important;
                position: relative !important;
                margin-left: 18px !important;
                margin-top: 20px;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: -10px !important;
                margin-top: 10px;
                float: none !important;
            }
        }
    }
}