/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0; }

::-ms-clear {
  width: 0;
  height: 0; }

* {
  outline: none !important; }

*:focus {
  outline: none !important; }

label {
  font-weight: normal; }

a, a:hover {
  text-decoration: none !important; }

a:focus {
  text-decoration: underline !important; }

input[type=button], input[type=submit], button[type=submit] {
  padding: 0px !important; }

input.form-control:not(.input-block-level), .btn-group.form-control .btn.dropdown-toggle {
  box-shadow: none !important;
  border: 1.5px solid #cccccc; }

.bs-searchbox .input-block-level.form-control {
  box-shadow: none !important;
  border: 1.5px solid #cccccc; }

input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid var(--colorPrimary) !important;
  box-shadow: none !important; }

.has-error .form-control, .has-error input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid var(--danger) !important;
  box-shadow: none !important; }

input[type="password"] {
  padding-right: 30px; }

.form-control[disabled] {
  cursor: default; }

.su-eye {
  cursor: pointer;
  position: absolute; }

.material-checkbox {
  position: relative; }
  .material-checkbox label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox label:before, .material-checkbox label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox label:before {
      background: #fff;
      border: 1.5px solid #cccccc;
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox input[type="checkbox"]:checked + label:before {
      background: var(--colorPrimary);
      border: 1.5px solid #0851d0; }
    .material-checkbox input[type="checkbox"]:checked + label:after {
      border: 2px solid #fff;
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid #0851d0; }

span.su-password-tick {
  background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  font-size: 20px;
  display: inline-block;
  float: left;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%; }

.text-h1 {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 30px;
  color: #333333; }

.text-h2 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: #333333; }

.text-h4 {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #333333; }

.text-body {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: #333333; }

.text-bitter-h2 {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-bitter-h1 {
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-primary {
  color: var(--colorPrimary); }

.login-wrapper {
  height: auto;
  width: 348px;
  font-size: 12px;
  padding: 12px;
  text-align: left; }
  .login-wrapper .login-body .form-name {
    width: 74px;
    border-bottom: 2px solid var(--colorPrimary);
    font-weight: 600;
    color: var(--colorPrimary); }
  .login-wrapper .login-body #login-form .login-header {
    font-size: 20px;
    color: var(--colorPrimary);
    margin-top: -12px;
    margin-bottom: 30px;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 8px; }
    .login-wrapper .login-body #login-form .login-header:after {
      content: '';
      display: block;
      width: 74px;
      border-bottom: 2px solid var(--colorPrimary); }
  .login-wrapper .login-body #login-form .login-fields .email {
    position: relative;
    padding: 0px 0px 24px 0px; }
    .login-wrapper .login-body #login-form .login-fields .email label {
      margin-bottom: 8px; }
    .login-wrapper .login-body #login-form .login-fields .email .e-outline:hover #label_login-email {
      color: var(--colorPrimary) !important; }
    .login-wrapper .login-body #login-form .login-fields .email .mail-loader-div.email-loader {
      background: url(images/textboxloader.gif) no-repeat right center;
      position: absolute;
      bottom: 38px;
      right: 10px;
      width: 20px;
      height: 20px; }
  .login-wrapper .login-body #login-form .login-fields #password-field {
    position: relative;
    padding-bottom: 24px; }
    .login-wrapper .login-body #login-form .login-fields #password-field label {
      margin-bottom: 8px; }
    .login-wrapper .login-body #login-form .login-fields #password-field .show-hide-password {
      cursor: pointer;
      position: absolute;
      right: 10px;
      font-size: 16px;
      top: 12px; }
    .login-wrapper .login-body #login-form .login-fields #password-field .tooltip .tooltip-inner {
      word-break: break-all !important;
      white-space: pre !important;
      max-width: none !important; }
    .login-wrapper .login-body #login-form .login-fields #password-field .tooltip .tooltip.top .tooltip-arrow {
      bottom: 1px !important; }
  .login-wrapper .login-body #login-form .login-fields .form-control {
    font-size: 12px;
    border-radius: 5px;
    height: 32px;
    padding-right: 30px; }
  .login-wrapper .login-body #login-form .login-fields .form-control[disabled] {
    cursor: default; }
  .login-wrapper .login-body #login-form .login-fields #login-email {
    height: 40px;
    width: 320px;
    border-color: #b3b3b3;
    border-radius: 4px; }
  .login-wrapper .login-body #login-form .login-fields #current-password {
    height: 40px !important; }
  .login-wrapper .login-body #login-form .proceed-button {
    background: var(--colorPrimary);
    border: 1px solid #0851d0;
    border-radius: 5px;
    color: #fff;
    height: 32px;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    width: 45%;
    margin: 0 auto 32px auto; }
    .login-wrapper .login-body #login-form .proceed-button:hover, .login-wrapper .login-body #login-form .proceed-button:focus {
      background: #007aff; }
    .login-wrapper .login-body #login-form .proceed-button:disabled {
      background: #cccccc;
      cursor: default;
      border: none; }
    .login-wrapper .login-body #login-form .proceed-button:hover {
      background: #007aff; }
  .login-wrapper .login-body #login-form .validation-holder, .login-wrapper .login-body #login-form #error-email, .login-wrapper .login-body #login-form #error-password {
    color: var(--danger);
    font-size: 12px;
    display: none;
    margin: 3px;
    position: absolute; }
  .login-wrapper .login-body .external-container .divider-container {
    overflow: hidden;
    text-align: center;
    padding: 0px; }
    .login-wrapper .login-body .external-container .divider-container .line {
      position: absolute;
      top: 100%;
      height: 1px;
      background: #999999;
      margin: -8px; }
    .login-wrapper .login-body .external-container .divider-container .line.right {
      right: 0px; }
  .login-wrapper .login-body .external-container #alternative-login {
    display: inline-block;
    width: 100%;
    text-align: center;
    width: 390px; }
    .login-wrapper .login-body .external-container #alternative-login .page-wrapper {
      padding-top: 32px; }
      .login-wrapper .login-body .external-container #alternative-login .page-wrapper img {
        height: 24px;
        width: 24px;
        margin-right: 5px !important; }
      .login-wrapper .login-body .external-container #alternative-login .page-wrapper button {
        background-color: initial;
        border: none;
        padding: 0px;
        margin: 0 5px 20px 3px; }
      .login-wrapper .login-body .external-container #alternative-login .page-wrapper .active-directory-login {
        width: 33%;
        float: left;
        display: inline-block; }
      .login-wrapper .login-body .external-container #alternative-login .page-wrapper .link-button {
        border: 1px solid #0851d0;
        border-radius: 4px; }
        .login-wrapper .login-body .external-container #alternative-login .page-wrapper .link-button:hover {
          background-color: #f2f2f2;
          border-color: #cccccc;
          color: var(--colorText); }
      .login-wrapper .login-body .external-container #alternative-login .page-wrapper .no-padding {
        padding: 0; }
      .login-wrapper .login-body .external-container #alternative-login .page-wrapper .external-login-buttons {
        float: left; }
      .login-wrapper .login-body .external-container #alternative-login .page-wrapper .external-login-buttons:only-child {
        display: inline-block;
        float: none;
        position: relative;
        right: 20px; }
      .login-wrapper .login-body .external-container #alternative-login .page-wrapper .login-provider, .login-wrapper .login-body .external-container #alternative-login .page-wrapper .windows-ad-login {
        display: block;
        text-align: center;
        width: 163px;
        height: 44px;
        padding: 6px;
        vertical-align: top;
        line-height: 30px;
        font-weight: bold;
        border: 1px solid #cccccc; }
        .login-wrapper .login-body .external-container #alternative-login .page-wrapper .login-provider .login-provider-name, .login-wrapper .login-body .external-container #alternative-login .page-wrapper .login-provider .windows-ad-login-text, .login-wrapper .login-body .external-container #alternative-login .page-wrapper .windows-ad-login .login-provider-name, .login-wrapper .login-body .external-container #alternative-login .page-wrapper .windows-ad-login .windows-ad-login-text {
          cursor: pointer;
          padding: 5px;
          font-weight: bold;
          color: var(--colorText); }
        .login-wrapper .login-body .external-container #alternative-login .page-wrapper .login-provider .login-button-openid #openid_logo_img, .login-wrapper .login-body .external-container #alternative-login .page-wrapper .windows-ad-login .login-button-openid #openid_logo_img {
          height: 30px;
          width: 30px; }
      .login-wrapper .login-body .external-container #alternative-login .page-wrapper .google-login {
        width: 33%;
        float: left;
        display: inline-block;
        padding-left: 30px; }
      .login-wrapper .login-body .external-container #alternative-login .page-wrapper .error-message {
        width: 100%;
        text-align: center;
        display: none; }
        .login-wrapper .login-body .external-container #alternative-login .page-wrapper .error-message span {
          color: var(--danger);
          font-size: 12px;
          font-weight: bold;
          padding: 6px; }
      .login-wrapper .login-body .external-container #alternative-login .page-wrapper #login-button-windows .su-windows-ad {
        font-size: 24px;
        vertical-align: middle;
        margin-right: 5px; }
      .login-wrapper .login-body .external-container #alternative-login .page-wrapper #login-button-windows .su-windows-ad::before {
        color: #007aff; }
  .login-wrapper .login-body .bold-container {
    padding-top: 16px; }
    .login-wrapper .login-body .bold-container .sign-up-button {
      border: transparent;
      border-radius: 60px !important;
      color: #ff4800;
      height: 40px;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      display: block;
      line-height: 2;
      width: 50%;
      margin: 0 auto auto auto; }
      .login-wrapper .login-body .bold-container .sign-up-button:hover {
        background-color: #fff1ef; }
      .login-wrapper .login-body .bold-container .sign-up-button img {
        padding: 3px 0;
        float: left;
        margin-left: 10px; }
      .login-wrapper .login-body .bold-container .sign-up-button #sign-login-text {
        padding-top: 1px; }
  .login-wrapper .login-body button[disabled] {
    cursor: default;
    background-color: #cccccc !important; }
  .login-wrapper .login-body .external-login-option {
    height: 42px;
    display: inline-block; }
  .login-wrapper .login-body .syncfusion-login-option {
    float: none;
    top: -28px;
    left: -5px; }
  .login-wrapper .login-body #access-denied, .login-wrapper .login-body #validate-azure-user, .login-wrapper .login-body #validate-ad-user, .login-wrapper .login-body #validate-auth-user {
    text-align: center;
    display: none;
    white-space: nowrap;
    font-size: 12px;
    color: var(--danger);
    margin: 15px 77px;
    padding: 5px 16px;
    border-radius: 5px;
    border: 1px solid #f2cfcf; }
    .login-wrapper .login-body #access-denied #login-input-error, .login-wrapper .login-body #validate-azure-user #login-input-error, .login-wrapper .login-body #validate-ad-user #login-input-error, .login-wrapper .login-body #validate-auth-user #login-input-error {
      display: inline-block;
      padding-left: 5px; }
  .login-wrapper .login-body .forget-password-align, .login-wrapper .login-body #validate-auth-user {
    margin-left: 63px;
    margin-top: 18px; }
  .login-wrapper .login-body .forgot-pwd-link {
    color: #007aff; }
  .login-wrapper .login-body .auth-error-text {
    white-space: normal; }

.login-options {
  padding-bottom: 24px; }
  .login-options #remember-me {
    display: inline-block; }
  .login-options a {
    display: inline-block;
    float: right;
    color: var(--colorPrimary); }
  .login-options a:hover {
    text-decoration: none; }

@media screen and (max-width: 470px) {
  body {
    padding-bottom: 100px; }
  .account-bg {
    width: 90% !important; }
  .login-wrapper {
    margin-top: 25px !important;
    padding: 0;
    width: 100% !important; }
  #alternative-login .page-wrapper button {
    margin: 0 5px 20px 10px !important; }
  #alternative-login .page-wrapper .external-login-buttons .divider-container {
    width: 100% !important; }
  #validate-auth-user {
    margin: 0 10% !important;
    width: 80% !important; } }

@media screen and (min-width: 700px) and (max-width: 768px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333333 !important;
    position: relative !important;
    margin-left: -5px !important;
    margin-top: 20px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right;
    margin-top: -12px; } }

@media screen and (min-width: 1000px) and (max-width: 1040px) {
  #content-area {
    margin-top: 30px !important; }
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333333 !important;
    position: relative !important;
    margin-left: -5px !important;
    margin-top: 20px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 12px !important;
    text-align: right;
    margin-top: -12px; } }

@media screen and (min-width: 400px) and (max-width: 450px) {
  #base-footer-div footer #copyrightinfo {
    height: 24px !important;
    color: #333333 !important;
    position: relative !important;
    margin-left: 18px !important; }
  #base-footer-div footer #poweredbysyncfusion {
    font-size: 10px !important;
    margin-right: 35px !important; } }

@media screen and (min-width: 490px) and (max-width: 550px) {
  #base-footer-div {
    left: 75px !important; }
    #base-footer-div footer .language-area {
      float: right !important; }
    #base-footer-div footer #poweredbysyncfusion {
      margin-right: 70px !important; } }

@media screen and (max-width: 320px) {
  #base-footer-div {
    left: 75px !important; }
    #base-footer-div footer #poweredbysyncfusion {
      margin-top: 10px !important; } }

@media screen and (min-width: 330px) and (max-width: 390px) {
  #base-footer-div {
    left: 25px !important; }
    #base-footer-div footer #copyrightinfo {
      color: #333333 !important;
      position: relative !important;
      margin-left: 18px !important; }
    #base-footer-div footer #poweredbysyncfusion {
      font-size: 10px !important;
      margin-right: -10px !important;
      margin-top: 10px; } }
