@import "../newthemes/elementsize.scss";
@import "../newthemes/mixins.scss";

.privacy-policy-wrapper {
    height: auto;
    width: 500px;
    font-size: $textsize-12;
    padding: $space-l $space-xl;
    text-align: center;

    .privacy-policy-body {

        .form-name {
            font-weight: $text-semibold;
            color: $primary-color;
        }

        .form-name::after {
            content: '';
            display: block;
            width: 74px;
            border-bottom: 2px solid $primary-color;
            margin-left: 90px;
        }

        #privacy-policy-form {

            .agreement-wrapper {
                padding: 32px 0px 36px 0px;

                .material-checkbox {
                    label {
                        &:before, &:after {
                            top: 1px;
                        }
                    }

                    input[type="checkbox"] {
                        &:checked + input {
                            + label:after {
                                top: 4px;
                            }
                        }
                    }
                }

                label {
                    display: inline;
                    font-size: 12px;
                    font-weight: normal;
                    color: $grey-800;
                    text-decoration: none !important;
                    margin: 0px;

                    a {
                        color: $primary-color;
                    }
                }
            }

            .proceed-button {
                @include proceed-button();
                width: 30%;
                margin: 0 auto $space-xl auto;
            }
        }
    }
}

footer {
    display: table;
}
