@import "../newthemes/elementsize.scss";
@import "../../themes/default.scss";

.reset-password-container {
    height: auto;
    width: 348px;
    font-size: $textsize-12;
    padding: $space-l $space-xxl;
    text-align: center;

    .icon-container {
        height: 40px;
        width: 40px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: #fa9a32;
        padding: 5px;
        color: #fa9a32;

        .su.su-warning-alt {
            font-size: 25px;
            color: $white;
        }
    }

    .heading {
        margin: $space-m 0px;
        font-weight: $text-semibold;
    }

    .link-validation {
        color: $validation-text-color;
        padding-bottom: $space-l;
        text-align: center;
    }

    .back-button {
        a {
            display: table;
            color: $blue-secondary;
            margin: 0 auto;
        }

        a:hover {
            text-decoration: none;
        }

        span {
            display: table-cell;
            vertical-align: middle;
        }

        span.su-arrow-back {
            padding-right: $space-xs;
            font-size: 16px;
        }
    }

    .divider-light {
        border-bottom: 1px solid #ccc;
        height: 2px;
        margin-top: 24px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width:320px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: 80px !important;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: -40px !important;
                margin-top: 10px;
            }
        }
    }
}

@media screen and (min-width:350px) and (max-width:390px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: 18px !important;
                margin-top: -50px;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: -10px !important;
                margin-top: -30px;
            }
        }
    }
}

@media screen and (min-width:400px) and (max-width:450px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: 18px !important;
            }

            #poweredbysyncfusion {
                font-size: 10px !important;
                margin-right: 5px !important;
            }
        }
    }
}

@media screen and (min-width:700px) and (max-width:768px) {
    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: -10px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -45px;
            }
        }
    }
}

@media screen and (min-width:1000px) and (max-width:1040px) {
    #content-area {
        margin-top: 30px !important;
    }

    #base-footer-div {
        footer {

            #copyrightinfo {
                height: 24px !important;
                color: #333 !important;
                position: relative !important;
                margin-left: -5px !important;
                margin-top: -10px !important;
            }

            #poweredbysyncfusion {
                font-size: 12px !important;
                text-align: right;
                margin-top: -40px;
            }
        }
    }
}

