/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0; }

::-ms-clear {
  width: 0;
  height: 0; }

* {
  outline: none !important; }

*:focus {
  outline: none !important; }

label {
  font-weight: normal; }

a, a:hover {
  text-decoration: none !important; }

a:focus {
  text-decoration: underline !important; }

input[type=button], input[type=submit], button[type=submit] {
  padding: 0px !important; }

input.form-control:not(.input-block-level), .btn-group.form-control .btn.dropdown-toggle {
  box-shadow: none !important;
  border: 1.5px solid #cccccc; }

.bs-searchbox .input-block-level.form-control {
  box-shadow: none !important;
  border: 1.5px solid #cccccc; }

input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid var(--colorPrimary) !important;
  box-shadow: none !important; }

.has-error .form-control, .has-error input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid var(--danger) !important;
  box-shadow: none !important; }

input[type="password"] {
  padding-right: 30px; }

.form-control[disabled] {
  cursor: default; }

.su-eye {
  cursor: pointer;
  position: absolute; }

.material-checkbox {
  position: relative; }
  .material-checkbox label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox label:before, .material-checkbox label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox label:before {
      background: #fff;
      border: 1.5px solid #cccccc;
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox input[type="checkbox"]:checked + label:before {
      background: var(--colorPrimary);
      border: 1.5px solid #0851d0; }
    .material-checkbox input[type="checkbox"]:checked + label:after {
      border: 2px solid #fff;
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid #0851d0; }

span.su-password-tick {
  background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  font-size: 20px;
  display: inline-block;
  float: left;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%; }

.text-h1 {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 30px;
  color: #333333; }

.text-h2 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: #333333; }

.text-h4 {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #333333; }

.text-body {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: #333333; }

.text-bitter-h2 {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-bitter-h1 {
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-primary {
  color: var(--colorPrimary); }

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px; }

body {
  position: relative;
  background: linear-gradient(-215deg, #FBFEFF 0%, #EEF2F3 100%); }

.account-parent {
  height: 100%;
  width: 100%;
  display: table; }
  .account-parent .account-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .account-parent .account-child .account-bg {
      font-family: var(--font-family);
      font-size: 12px;
      margin: 0 auto;
      display: inline-block;
      box-shadow: 1px 0 13px 0 rgba(0, 0, 0, 0.1);
      background-color: #fffdfc; }
      .account-parent .account-child .account-bg .account-header {
        padding: 20px 10px 10px 10px;
        margin: 0; }
        .account-parent .account-child .account-bg .account-header img {
          height: 45px; }
        .account-parent .account-child .account-bg .account-header a {
          display: inline-block; }

.syncfusion-login-wrapper {
  height: auto;
  width: 348px;
  font-size: 12px;
  padding: 24px 32px;
  text-align: left; }
  .syncfusion-login-wrapper .login-body .form-name {
    width: 74px;
    border-bottom: 2px solid var(--colorPrimary);
    font-weight: 600;
    color: var(--colorPrimary); }
  .syncfusion-login-wrapper .login-body .syncfusion-login-form .syncfusion-login-header {
    font-size: 17px;
    color: var(--colorPrimary);
    margin-top: -12px;
    margin-bottom: 30px;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 8px;
    text-align: center; }
    .syncfusion-login-wrapper .login-body .syncfusion-login-form .syncfusion-login-header:after {
      content: '';
      display: block;
      width: 74px; }
  .syncfusion-login-wrapper .login-body .syncfusion-login-form .syncfusion-login-fields .email {
    position: relative;
    padding: 0px 0px 24px 0px; }
    .syncfusion-login-wrapper .login-body .syncfusion-login-form .syncfusion-login-fields .email label {
      margin-bottom: 8px; }
    .syncfusion-login-wrapper .login-body .syncfusion-login-form .syncfusion-login-fields .email .mail-loader-div.email-loader {
      background: url(images/textboxloader.gif) no-repeat right center;
      position: absolute;
      top: 6px;
      right: 10px;
      width: 20px;
      height: 20px; }
  .syncfusion-login-wrapper .login-body .syncfusion-login-form .syncfusion-login-fields #syncfusion-password-field {
    position: relative;
    padding-bottom: 24px; }
    .syncfusion-login-wrapper .login-body .syncfusion-login-form .syncfusion-login-fields #syncfusion-password-field label {
      margin-bottom: 8px; }
    .syncfusion-login-wrapper .login-body .syncfusion-login-form .syncfusion-login-fields #syncfusion-password-field .su.su-eye {
      position: absolute;
      right: 10px;
      top: 11px;
      cursor: pointer; }
  .syncfusion-login-wrapper .login-body .syncfusion-login-form .syncfusion-login-fields .form-control {
    font-size: 12px;
    border-radius: 5px;
    height: 32px;
    padding-right: 30px; }
  .syncfusion-login-wrapper .login-body .syncfusion-login-form .syncfusion-login-fields .form-control[disabled] {
    cursor: default; }
  .syncfusion-login-wrapper .login-body .syncfusion-login-form .proceed-button {
    background: var(--colorPrimary);
    border: 1px solid #0851d0;
    border-radius: 5px;
    color: #fff;
    height: 32px;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    width: 45%;
    margin: 0 auto 32px auto; }
    .syncfusion-login-wrapper .login-body .syncfusion-login-form .proceed-button:hover, .syncfusion-login-wrapper .login-body .syncfusion-login-form .proceed-button:focus {
      background: #007aff; }
    .syncfusion-login-wrapper .login-body .syncfusion-login-form .proceed-button:disabled {
      background: #cccccc;
      cursor: default;
      border: none; }
  .syncfusion-login-wrapper .login-body .syncfusion-login-form .validation-holder, .syncfusion-login-wrapper .login-body .syncfusion-login-form #error-email, .syncfusion-login-wrapper .login-body .syncfusion-login-form #error-password {
    color: var(--danger);
    font-size: 10px;
    display: none;
    margin: 3px;
    position: absolute; }
  .syncfusion-login-wrapper .login-body .external-container .divider-container {
    overflow: hidden;
    text-align: center;
    padding: 0px; }
    .syncfusion-login-wrapper .login-body .external-container .divider-container .line {
      position: absolute;
      top: 100%;
      height: 1px;
      background: #999999;
      margin: -8px; }
    .syncfusion-login-wrapper .login-body .external-container .divider-container .line.right {
      right: 0px; }
  .syncfusion-login-wrapper .login-body .external-container #alternative-login {
    display: inline-block;
    width: 100%;
    text-align: center; }
    .syncfusion-login-wrapper .login-body .external-container #alternative-login .page-wrapper {
      padding-top: 16px; }
      .syncfusion-login-wrapper .login-body .external-container #alternative-login .page-wrapper img {
        height: 24px;
        width: 24px; }
      .syncfusion-login-wrapper .login-body .external-container #alternative-login .page-wrapper button {
        background-color: initial;
        border: none;
        padding: 0px; }
      .syncfusion-login-wrapper .login-body .external-container #alternative-login .page-wrapper .active-directory-login {
        width: 33%;
        float: left;
        display: inline-block; }
      .syncfusion-login-wrapper .login-body .external-container #alternative-login .page-wrapper .login-provider {
        display: inline-block;
        text-align: center;
        padding: 12px; }
        .syncfusion-login-wrapper .login-body .external-container #alternative-login .page-wrapper .login-provider .login-provider-name {
          padding-top: 10px;
          padding-bottom: 5px;
          cursor: pointer; }
      .syncfusion-login-wrapper .login-body .external-container #alternative-login .page-wrapper .google-login {
        width: 33%;
        float: left;
        display: inline-block;
        padding-left: 30px; }
      .syncfusion-login-wrapper .login-body .external-container #alternative-login .page-wrapper .error-message {
        width: 100%;
        text-align: center;
        display: none; }
        .syncfusion-login-wrapper .login-body .external-container #alternative-login .page-wrapper .error-message span {
          color: var(--danger);
          font-size: 12px;
          font-weight: bold;
          padding: 6px; }
  .syncfusion-login-wrapper .login-body button[disabled] {
    cursor: default;
    background-color: #cccccc !important; }
  .syncfusion-login-wrapper .login-body #access-denied, .syncfusion-login-wrapper .login-body #validate-azure-user, .syncfusion-login-wrapper .login-body #validate-ad-user {
    text-align: center;
    display: none;
    white-space: nowrap;
    font-size: 12px;
    color: var(--danger);
    margin: 15px 77px;
    padding: 5px 16px;
    border-radius: 5px;
    border: 1px solid #f2cfcf; }
  .syncfusion-login-wrapper .login-body .forget-password-align {
    margin-left: 63px;
    margin-top: 18px; }
  .syncfusion-login-wrapper .login-body .forgot-pwd-link {
    color: #007aff; }

.login-options {
  padding-bottom: 24px; }
  .login-options #remember-me {
    display: inline-block; }
  .login-options a {
    display: inline-block;
    float: right;
    color: var(--colorPrimary); }
  .login-options a:hover {
    text-decoration: none; }

footer {
  display: none !important; }
