@import "../newthemes/elementsize.scss";
@import "../newthemes/mixins.scss";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    background: $bg-linear-gradient;
}

.account-parent {
    height: 100%;
    width: 100%;
    display: table;

    .account-child {
        display: table-cell;
        vertical-align: middle;
        text-align: center;


        .account-bg {
            font-family: var(--font-family);
            font-size: $textsize-12;
            margin: 0 auto;
            display: inline-block;
            box-shadow: 1px 0 13px 0 rgba(0,0,0,.1);
            background-color: $bold-bg-color;

            .account-header {
                padding: 20px 10px 10px 10px;
                margin: 0;

                img {
                    height: 45px;
                }

                a {
                    display: inline-block;
                }
            }
        }
    }
}

.syncfusion-login-wrapper {
    height: auto;
    width: 348px;
    font-size: $textsize-12;
    padding: $space-l $space-xl;
    text-align: left;

    .login-body {
        .form-name {
            width: 74px;
            border-bottom: 2px solid $primary-color;
            font-weight: $text-semibold;
            color: $primary-color;
        }

        .syncfusion-login-form {
            .syncfusion-login-header {
                font-size: 17px;
                color: $primary-color;
                margin-top: -12px;
                margin-bottom: 30px;
                font-weight: $text-semibold;
                line-height: 30px;
                padding-bottom: 8px;
                text-align: center;

                &:after {
                    content: '';
                    display: block;
                    width: 74px;
                }
            }

            .syncfusion-login-fields {
                .email {
                    position: relative;
                    padding: 0px 0px $space-l 0px;

                    label {
                        margin-bottom: 8px;
                    }

                    .mail-loader-div.email-loader {
                        background: url(images/textboxloader.gif) no-repeat right center;
                        position: absolute;
                        top: 6px;
                        right: 10px;
                        width: 20px;
                        height: 20px;
                    }
                }

                #syncfusion-password-field {
                    position: relative;
                    padding-bottom: $space-l;

                    label {
                        margin-bottom: 8px;
                    }

                    .su.su-eye {
                        position: absolute;
                        right: 10px;
                        top: 11px;
                        cursor: pointer;
                    }
                }

                .form-control {
                    font-size: $textsize-12;
                    border-radius: 5px;
                    height: $textbox-32;
                    padding-right: 30px;
                }

                .form-control[disabled] {
                    cursor: default;
                }
            }

            .proceed-button {
                @include proceed-button();
                width: 45%;
                margin: 0 auto $space-xl auto;
            }

            .validation-holder, #error-email, #error-password {
                color: $validation-text-color;
                font-size: $textsize-10;
                display: none;
                margin: 3px;
                position: absolute;
            }
        }

        .external-container {
            .divider-container {
                overflow: hidden;
                text-align: center;
                padding: 0px;

                .line {
                    position: absolute;
                    top: 100%;
                    height: 1px;
                    background: $grey-400;
                    margin: -8px;
                }

                .line.right {
                    right: 0px;
                }
            }

            #alternative-login {
                display: inline-block;
                width: 100%;
                text-align: center;

                .page-wrapper {
                    padding-top: $space-m;

                    img {
                        height: 24px;
                        width: 24px;
                    }

                    button {
                        background-color: initial;
                        border: none;
                        padding: 0px;
                    }

                    .active-directory-login {
                        width: 33%;
                        float: left;
                        display: inline-block;
                    }

                    .login-provider {
                        display: inline-block;
                        text-align: center;
                        padding: 12px;

                        .login-provider-name {
                            padding-top: 10px;
                            padding-bottom: 5px;
                            cursor: pointer;
                        }
                    }

                    .google-login {
                        width: 33%;
                        float: left;
                        display: inline-block;
                        padding-left: 30px;
                    }

                    .error-message {
                        width: 100%;
                        text-align: center;
                        display: none;

                        span {
                            color: $validation-text-color;
                            font-size: 12px;
                            font-weight: bold;
                            padding: 6px;
                        }
                    }
                }
            }
        }

        button[disabled] {
            cursor: default;
            background-color: $grey-200 !important;
        }

        #access-denied, #validate-azure-user, #validate-ad-user {
            text-align: center;
            display: none;
            white-space: nowrap;
            font-size: $textsize-12;
            color: $validation-text-color;
            margin: 15px 77px;
            padding: 5px 16px;
            border-radius: 5px;
            border: 1px solid #f2cfcf;
        }

        .forget-password-align {
            margin-left: 63px;
            margin-top: 18px;
        }

        .forgot-pwd-link {
            color: $blue-secondary;
        }
    }
}

.login-options {
    padding-bottom: $space-l;

    #remember-me {
        display: inline-block;
    }

    a {
        display: inline-block;
        float: right;
        color: $primary-color;
    }

    a:hover {
        text-decoration: none;
    }
}

footer {
    display: none !important
}