

body {
    background-color: #ffffff;
    font-family: Roboto;
}
.e-header {
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.6px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
}
.e-sub-heading {
    font-size: 12px;
    color: #333333;
    letter-spacing: 0.3px;
    text-align: center;
    line-height: 24px;
    padding-top: 10px;
}
.e-auth-header-wrapper {
    padding-top: 10%;
}
.e-auth-header-wrapper label {
    display: block;
}
.e-auth-content-wrapper {
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    height: auto;
    min-height:130px;
    background-color: white;
    margin-top: 10px;
    position: relative;
}
    .e-auth-content-wrapper .e-auth-content-header {
        height: 40px;
        background: #F9F9F9;
        border-bottom: 1px solid #CDCDCD;
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
        .e-auth-content-wrapper .e-auth-content-header .e-ds-name {
            font-size: 14px;
            font-weight: bold;
            vertical-align: middle;
            display: inline-block;
            margin-top: 10px;
            margin-left: 5px;
        }

    .e-auth-content-wrapper .e-auth-content-footer, .e-account-settings-content-wrapper .e-account-settings-content-footer {
        bottom: 0;
        width: 100%;
        height: 45px;
        /*background: #F9F9F9;*/
        /*border-top: 1px solid #CDCDCD;
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;*/
    }

    .e-auth-content-wrapper .e-ok-btn:hover, .e-account-settings-content-wrapper .e-ok-btn:hover {
        background: #008ad7;
        color: #ffffff;
    }

    .e-auth-content-wrapper .e-ok-btn, .e-account-settings-content-wrapper .e-ok-btn {
        border: 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        padding: 0 12px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        min-width: 90px;
        height: 34px;
        font-family: Roboto;
        font-size: 13px;
        letter-spacing: 0.5px;
        line-height: 20px;
        font-weight: 500;
        background: #0565FF;
        border-color: #0450cc;
        color: #fff;
        outline: #fafafa 0 solid;
        transition: all .1s linear;
    }
    .e-auth-content-wrapper .e-required.e-account-settings.e-req-error {
        border-color: #d40404 !important;
        outline-color: #d40404;
    }
        .e-auth-content-wrapper .e-ok-btn:hover, .e-account-settings-content-wrapper .e-ok-btn:hover {
            background: #1882ff;
            border-color: #0450cc;
            color: #fff;
            outline: #fafafa 0 solid;
            transition: all .1s linear;
        }
        .e-auth-content-wrapper .e-right-align {
            float: right;
            margin-right: 10px;
        }
    .e-auth-content-wrapper .e-authorize-btn {
        line-height: 12px;
    }
    .e-auth-content-wrapper .e-auth-content {
        height: calc(100% - 100px);
        padding: 5px;
    }
        .e-auth-content-wrapper .e-auth-content .e-div {
            display: table;
            padding: 10px 5px;
            width: 100%;
        }
        .e-auth-content-wrapper .e-auth-content .e-div label{
            font-size: 12px;
        }
        .e-auth-content-wrapper .e-auth-content .e-div span {
            display: table-cell;
            width: 25%;
        }
            .e-auth-content-wrapper .e-auth-content .e-div input, .e-auth-content-wrapper .e-auth-content .e-div .e-list {
                background: #FFFFFF;
                border: 1px solid #B3B3B3;
                border-radius: 4px;
                height: 25px;
                width: 95%;
                display: table-cell;
                padding: 3px;
                color: #333333;
            }
    .e-auth-content-wrapper.e-req-error .e-auth-content .e-div .e-required {
        border-color: #d40404;
        outline-color: #d40404;
    }
    .e-auth-content-wrapper .e-auth-content .e-div .e-domain-url.e-required.e-req-error, 
    .e-auth-content-wrapper .e-auth-content .e-div .e-domain-username.e-required.e-req-error, 
    .e-auth-content-wrapper .e-auth-content .e-div .e-domain-pwd.e-required.e-req-error {
        border-color: #d40404;
        outline-color: #d40404;
    }
    .e-auth-content-wrapper .e-auth-content .e-div .e-list {
        height: 30px;
        font-size: 12px;
        width: 97%;
    }
    .e-auth-content-wrapper .e-ok-btn:disabled {
        background: #f2f2f2;
        box-shadow: none;
        color: #999999;
        border: 1px solid #cccccc;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: default;
        display: inline-block;
        padding: 0 12px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        min-width: 90px;
        height: 34px;
        font-family: Roboto;
        font-size: 13px;
        letter-spacing: 0.5px;
        line-height: 20px;
        font-weight: 500;
        outline: #fafafa 0 solid;
        transition: all .1s linear;
    }
        .e-auth-content-wrapper .e-auth-content .e-div .e-list option div{
            width:100%;
            height:100%;
        }
        .e-auth-content-wrapper .e-label {
            font-size: 12px;
            line-height: 24px;
        }
    .e-auth-content-wrapper .e-add-auth-req-wrapper{
        margin-top:5px;
        display:none;
    }
    .e-auth-content-footer .e-new-account {
        font-size: 12px;
        line-height: 40px;
        color: #0162FF;
        margin-left: 10px;
        display: none;
        user-select: none;
    }
    .e-auth-content-footer .e-new-account > span {
        font-size: 20px;
        cursor: pointer;
    }
    .e-auth-content-footer .e-new-account label {
        cursor: pointer;
        vertical-align: top;
    }
.e-no-acc-label {
    font-size: 12px;
    display:none;
}
.e-warn {
    color: red;
}
.e-loader-wrappper {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(255,255,255,0.7);
}
    .e-loader-wrappper > div {
        display: table-cell;
        vertical-align: middle;
    }
    .e-loader-wrappper .e-loader {
        width: 40px;
        height: 40px;
        margin: 0 auto;
        background: url(Images/loader.gif) no-repeat;
        background-size: contain;
    }
    .e-loader-wrappper .e-loader-text {
        text-align: center;
        width: 100%;
        font-family: Roboto;
        font-size: 12px;
        margin-top: 10px;
        display: none;
    }
.e-error{
    font-size:12px;
    color:red;
    margin-left:5px;
    display:none;
}
.jira {
    background: url('Images/jira.png') no-repeat;
}
.salesforce {
    background: url('Images/salesforce.png') no-repeat;
}
.analytics {
    background: url('Images/google_analytics.png') no-repeat;
}
.zendesk {
    background: url('Images/zendesk.png') no-repeat;
}
.mailchimp {
    background: url('Images/mailchimp.png') no-repeat;
}
.stripe {
    background: url('Images/stripe.png') no-repeat;
}
.sendgrid {
    background: url('Images/sendgrid.png') no-repeat;
}

.github {
    background: url('Images/github.png') no-repeat;
}

.twilio {
    background: url('Images/twilio.png') no-repeat;
}

.youtube {
    background: url('Images/youtube.png') no-repeat;
}

#account-settings-container {
    display: none;
}

#account-settings-container .e-account-settings-content-wrapper{
    margin-top: 10px;
    padding: 10px;
}
#account-settings-container .e-account-settings-dropdown-div{
    padding-bottom: 20px;
}
#account-settings-container .e-account-settings-dropdown-label-div {
    width: 25%;
    float: left;
    font-size: 12px;
    margin-top: 6px;
}
#account-settings-container .e-account-settings{
    height: 30px;
    width: 74%;
    padding-left: 5px;
    background: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
}
.e-repositories {
    border: 1px solid grey;
    height: 160px;
    width: 74%;
    overflow: auto;
    border-radius: 4px;
}
.e-searchbox {
    border: 1px solid grey;
    border-radius: 4px;
    width: 60%;
    height: 85%;
    border-color: #b3bbc5;
}

.e-select-all {
    margin-left: 10px;
}

.e-search-panel {
    height: 18%;
    margin-top: 4px;
    padding: 10px;
}

.search-icon {
    background: url('Images/search-icon.png') no-repeat;
    height: 15px;
    width: 15px;
    margin-left: -6%;
    margin-bottom: -2px;
}

#items-count {
    float: right;
    color: #0565FF;
    font-size: 10px;
    padding-right: 4px;
    margin-top: -2%;
}

.repo-div {
    padding: 10px;
}
.e-auth-content-footer .e-back-btn-div {
    float: left;
    display:none;
    padding-left:10px;
}
.e-auth-content-footer #settings-back-btn {
    font-size: 12px;
    color: #333333;
    text-align: center;
    line-height: 20px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    background: #f9f9f9;
    padding: 5px 10px;
    cursor: pointer;
}
.help-icon {
    background: url(Images/help_icon.png) no-repeat;
    width: 18px;
    height: 18px;
    background-size: 14px;
    display: block;
    float: left;
    margin-left: 5px;
    opacity: 0.8;
    text-decoration: none;
}