#concierge-settings-container .concierge-header .header-text {
  font-size: 12px; }

#concierge-settings-container #concierge-settings-body {
  padding-bottom: 5px; }
  #concierge-settings-container #concierge-settings-body .notification-header, #concierge-settings-container #concierge-settings-body .material-switch {
    margin: 0 10px; }
  #concierge-settings-container #concierge-settings-body .dropdown-toggle {
    cursor: pointer; }
  #concierge-settings-container #concierge-settings-body .dropdown-menu {
    font-size: 14px;
    line-height: 20px;
    margin-left: 14px;
    width: 200px;
    padding: 5px; }
  #concierge-settings-container #concierge-settings-body .tool-tip {
    margin: 0 15px;
    line-height: 24px; }
  #concierge-settings-container #concierge-settings-body .app-textbox-label {
    margin-left: 20px; }

@media screen and (min-width: 1041px) and (max-width: 1399px) {
  .dropdown-menu {
    font-size: 12px !important; } }
