@import  "../Mixins.scss";

#concierge-settings-container {
    .concierge-header {
        .header-text {
            font-size: $app-text-size;
        }
    }

    #concierge-settings-body {
        padding-bottom: 5px;

        .notification-header, .material-switch {
            margin: 0 10px;
        }

        .dropdown-toggle {
            cursor: pointer;
        }

        .dropdown-menu {
            font-size: $app-large-text-size;
            line-height: 20px;
            margin-left: $app-large-text-size;
            width: 200px;
            padding: 5px;
        }

        .tool-tip {
            margin: 0 15px;
            line-height: 24px;
        }

        .app-textbox-label {
            margin-left: 20px;
        }
    }
}

@media screen and (min-width: 1041px) and (max-width: 1399px) {
    .dropdown-menu {
        font-size: $app-text-size !important;
    }
}
