@import  "../Mixins.scss";

#concierge-support-popup {
    max-width: 520px;
    max-height: 490px;

    .fluent-popup-body {
        height: auto !important;
        background-color: #FFFFFF !important;

        .concierge-support-description {
            margin-bottom: 10px;
        }

        #concierge-support-subject {
            color: #363636;
            font-size: 12px;
            height: 28px;
            margin: 8px 0px 20px 0px;
        }

        .support-subject {
            .btn-group {
                margin-top: 8px;
                margin-bottom: 20px;

                .button {
                    background-color: #ffffff;
                    border: 1px solid #B3B3B3;
                    border-radius: 0;
                    color: #333333;
                    padding: 3px 23.4px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    cursor: pointer;
                    float: left;
                    font-size: 13px;
                    letter-spacing: 0.3px;
                    line-height: 20px;

                    &:not(:last-child) {
                        border-right: none;
                    }

                    &:hover {
                        background-color: #dce1e5;
                    }

                    &:first-child {
                        border-radius: 4px 0 0 4px;
                    }

                    &:last-child {
                        border-radius: 0 4px 4px 0;
                    }

                    &.button-bg-change {
                        background: $primary-color;
                        border-color: $primary-color;
                        color: $primary-btn-text-color;

                        &:hover {
                            background: $primary-btn-hover;
                        }
                    }
                }
            }
        }

        .form-group {
            margin-bottom: 0px;

            .textarea {
                width: 95%;
                height: 90px;
                resize: none !important;
            }

            .editor-toolbar {
                margin-top: 8px;
                border: 1px solid $border-color;
                border-bottom: none;
            }

            .CodeMirror {
                border-radius: 4px;
                min-height: 130px;
                max-height: 130px;
                font-size: 12px;
                border: 1px solid $border-color;
                margin-top: 8px;
                padding: 4px;
            }

            .CodeMirror-scroll {
                min-height: 75px;
                max-height: 80px;
            }

            .CodeMirror-code {
                max-width: 407px;
            }

            .CodeMirror-sizer {
                border-right-width: 11px;
            }

            .CodeMirror-focused {
                border-color: $primary-color;
                outline: 0;
            }
        }

        .support-message {
            margin-bottom: 10px;
        }

        .error-message {
            font-size: 10px !important;
            visibility: hidden;
        }

        .attach-file-container {
            height: 50px;
            margin-top: 10px;

            #attach-file-label {
                padding: 0px;
                line-height: 29px;
            }

            .input-group-addon {
                padding: 0;
            }

            .filename-text {
                background: $admin-page-bg;
            }

            .e-selectpart {
                border: 0;

                .e-inputbtn {
                    background: $admin-page-bg;
                    color: $header-bg !important;
                    font-size: $app-text-size;
                    font-weight: bolder;

                    &:hover {
                        background: $admin-container-bg;
                    }
                }
            }

            #attach-file-addon {
                cursor: pointer;
            }

            .attach-file-input {
                padding-right: 0;

                #attach-file-textbox {
                    height: 28px;
                    background-color: $home-border;
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }

        #create-new-concierge, #concierge-support-checkbox {
            height: auto;

            .hide-checkbox {
                cursor: default;
                padding: 0px !important;

                &:after, &:before {
                    display: none;
                }
            }

            .toggle-space {
                height: 30px !important;
                font-weight: 200;
                font-size: 12px;
            }

            #admin-access-message {
                display: none;
                font-size: 12px;
            }
        }

        #create-new-concierge {
            display: none;
            margin-top: 10px;

            .conceirge-loader {
                background-image: url('../images/waitingpopup_small.gif');
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: 10px 10px 10px 10px;
                display: none;
                height: 20px;
                width: 20px;
                position: absolute;
                margin-top: 5px;
                margin-left: 10px;
            }
        }

        #concierge-support-checkbox {
            #terms-info {
                display: inline;
                font-size: 12px;
                position: relative;

                span {
                    cursor: pointer;
                    margin-left: 5px;
                }

                span#concierge-info:hover {
                    border-bottom: 1px dotted;
                    text-decoration: none;
                }
            }
        }

        .material-checkbox {
            @include material-checkbox-controls();

            &:checked + input + label::before {
                left: 2px !important;
                bottom: 13px !important;
            }
        }

        .material-checkbox + input + label {
            padding: 7px 0 0 26px !important;
        }
    }

    #concierge-support-button {
        #button-container {
            bottom: 0;
            padding: 9px 15px;
            right: 0;
            width: 100%;

            .app-button {
                margin-left: 15px;
            }

            .app-primary-button {
                color: $primary-btn-text-color;
            }
        }
    }

    .popover-content {
        font-size: 12px;
        padding: 5px;
        height: auto !important;
        width: 215px;

        .para-margin-five {
            margin-bottom: 5px;
        }
    }
}

.support-content-area{
    background: #f9f9f9;
}

#view-incident-container {

    .admin-page-header {
        .adjust-style-for-backarrow {
            padding-top: 8px !important;
        }
    }

    .align-middle {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .sm-loader {
        background-image: url('../images/waitingpopup_small.gif');
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 10px 10px 10px 10px;
        display: none;
        height: 20px;
        width: 20px;
        position: absolute;
        margin-top: 5px;
        margin-left: 10px;
    }

    .incident-id, .created-date, .reply-count, .status, .slash {
        float: left;
        margin-right: 10px;
    }

    #reply-button {
        border: none;
        box-shadow: none !important;
        color: #828282;
        height: 35px;
        margin-bottom: 20px;
    }

    #reply {
        display: none;
        border-bottom: 1px solid $admin-body-border-color;

        .pull-right {
            margin-left: 15px;
        }

        .admin-page-body {
            margin-bottom: 25px !important;
        }

        .toggle-space {
            height: 30px !important;
            font-weight: 200;
            font-size: 12px;
        }

        #reply-attach-file-textbox {
            cursor: pointer;
            background-color: $home-border;
        }

        .editor-toolbar {
            border: 1px solid #ddd;
            border-bottom: none !important;
            opacity: 1;
        }

        #reply-attach-file-textbox {
            background: #fff;
        }

        #reply-input-group {
            .info {
                margin-top: 5px !important;
                font-size: 10px;
                color: #31708f;
                letter-spacing: 0.63px;
                margin: 0;
                font-weight: 200;
            }
        }

        .form-div {
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }

    .reply-info {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .admin-page-header {
        padding: 20px !important;

        .title-message {
            margin-top: 15px;
            margin-bottom: 20px;
            text-align: justify;

            img {
                max-width: 100%;
            }
        }

        .incident-info {
            font-size: 12px;

            .status {
                color: $primary-btn-text-color;
                border-radius: 2px;
                padding: 3px 15px;

                &.open-status {
                    border: 1px solid #3EC4A6;
                    background-color: #3EC4A6;
                }

                &.closed-status {
                    border: 1px solid #EE606E;
                    background-color: #EE606E;
                }
            }
        }

        &.view-all {
            margin: 0 !important;
            border: none !important;
        }
    }

    .admin-page-body {
        background-color: unset !important;
        border: none !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        .row {
            margin: 0;
            padding: 15px 0;

            &.update-divider {
                border-bottom: 1px solid $admin-body-border-color;
            }

            &.updates {
                padding: 20px 0 !important;
            }

            .update-by-img {
                float: left;
                margin-right: 15px;

                img {
                    height: 20px !important;
                }
            }

            .content-big {
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 0.25px;
            }

            .update-by-info {
                font-size: 12px;

                .update-by {
                    float: left;
                    margin-right: 15px;
                    color: #999;
                }
            }

            .update-messge {
                margin-top: 15px;
                font-size: 14px;

                span {
                    background-color: unset !important;
                }

                img {
                    max-width: 100%;
                }
            }
        }
    }

    .attach-file-container {
        height: 40px;

        #attach-file-label {
            padding: 0px;
            line-height: 29px;
        }

        .input-group-addon {
            padding: 0;
        }

        .filename-text {
            background: $admin-page-bg;
        }

        .e-selectpart {
            border: 0;

            .e-inputbtn {
                background: $admin-page-bg;
                color: $header-bg;
                font-size: $app-text-size;
                font-weight: bolder;

                &:hover {
                    background: $admin-container-bg;
                }
            }
        }

        #reply-attach-file-addon {
            cursor: pointer;
        }

        .reply-attach-file-input {
            padding-right: 0;

            #reply-attach-file-textbox {
                height: 28px;
                background-color: $home-border;
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .no-update-lable {
        width: 50%;
        text-align: center;
        padding-top:20px;

        .no-records-icon {
            font-size: 16px;
            padding: 5px;
        }

        .no-records-message{
            font-size: 15px;
        }
    }
}

.editor-toolbar {
    .preview {
        opacity: 0.9 !important;
        pointer-events: visible !important;
    }
}