@import"../themes/_light_cloud.scss";

table {
    table-layout: fixed;
    width: 100%;
}

table td {
    word-wrap: break-word; /* All browsers since IE 5.5+ */
    overflow-wrap: break-word; /* Renamed property in CSS3 draft spec */
}

td {
    padding: 10px;
    border: 1px solid $border-color;
    font-size: 12px;
}

td:first-child {
    font-weight: 600;
    width: 10%;
}
