@import "../Mixins.scss";

#custom-domain-popup {
    .loader-gif {
        bottom: 20px;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    .custom-domain-logo {
        margin-bottom: 15px;

        .su {
            color: $icon-color;
            font-size: 30px;
        }
    }

    .custom-domain-header {
        margin-bottom: 14px;

        span {
            @include item-name-style();
            font-weight: 600;
            font-size: 16px;
        }
    }

    .validate-custom-domain-div {
        .custom-domain-description {
            .domain-name-warning {
                @include item-subtext-style();
                color: #7b838e;
                margin-bottom: 14px;
            }

            .custom-domain-link-div {
                margin: 0 auto;
                padding-bottom: 20px;
                width: 220px;

                .custom-domain-link {
                    background: $dashboard-list-bg-color;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    font-size: 12px;
                    height: 24px;
                }

                .custom-domain-link-copy {
                    background-color: $home-page-bg;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    font-size: 11px;
                    height: 24px;
                }
            }
        }

        .custom-domain-input {
            #custom-domain-name {
                font-size: 12px;
                height: 28px;
                margin: 0 auto;
                text-align: center;
                width: 250px;
            }

            #domain-validation-message {
                font-size: 10px;
                min-height: 38px;
            }
        }
    }

    #card-payment-container {
        display: inline-block;
        width: 100%;

        #upgradecard-details {
            display: inline-block;
            width: 100%;

            .poweredby-div {
                padding: 0;

                #powerby-icon {
                    z-index: 1;
                    left: 0;
                    width: 100%;
                }

                #geotrust {
                    table {
                        margin-right: 0 !important;
                    }
                }
            }

            .card-container {
                padding-left: 0;

                .form-control {
                    height: 26px;
                }

                .card-fields-container {
                    margin-bottom: 26px;
                }

                .card-container-div {
                    #brand-icon {
                        bottom: 5px;
                    }

                    #card-number.form-control,
                    #card-cvc.form-control,
                    #card-exp.form-control {
                        padding-top: 5px;
                    }
                }
            }

            .error-section {
                .error {
                    text-align: center;
                }
            }
        }

        .horizontal-divider {
            border-top: 1px solid $border-color;
            margin: 0 0 25px 0;
        }

        .payment-summary {
            .storage-payment-label {
                font-size: 14px;
                color: $additional-storage-font-color;
                letter-spacing: 0;
                line-height: 26px;
                font-weight: 100;
            }

            .storage-total-price {
                font-size: 16px;
                color: $additional-storage-font-color;
                letter-spacing: 0.37px;
                text-align: center;
                line-height: 20px;
                float: right;
                font-weight: 600;
                margin-right: 20px;
            }
        }

        .card-pay-button {
            padding: 0;

            #card-pay-now-button {
                position: relative;
            }
        }
    }

    #billing-address-container {
        display: inline-block;
        width: 100%;

        #card-form-id {
            #billing-address-label {
                font-size: 12px;
                letter-spacing: 0.3px;
                line-height: 18px;
                font-weight: 600 !important;
                margin-bottom: 20px;
            }

            #address-section {
                padding: 0 10px 0 0;

                input {
                    height: 28px;
                }

                .form-group {
                    margin-bottom: 28px;
                    position: relative;

                    .email-address-info {
                        float: right;
                        font-size: 10px;
                        position: absolute;
                        right: 0;
                        top: -19px;
                    }

                    .validation-error {
                        position: absolute;
                        color: $validation-text-color;
                        font-size: $validation-font-size;
                    }

                    .has-error {
                        .dropdown-toggle {
                            border-color: $validation-text-color;
                        }
                    }

                    .country-validation {
                        left: 0;
                        bottom: -18px;
                    }
                }
            }

            .billing-address-button {
                padding: 0;

                #billing-address-validate-button {
                    position: relative;
                }
            }
        }

        .validation-error {
            color: $validation-text-color;
            font-size: $validation-font-size;
        }

        .btn.dropdown-toggle {
            height: $textbox-height;
            font-size: $app-text-size;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        }
    }

    #custom-domain-buy-button {
        width: 100px;
    }

    #custom-domain-validate-button, #custom-domain-buy-button {
        margin: 0 auto;
        display: block;
        position: relative;
    }

    .upload-ssl-certificate-div {
        .free-ssl-div {
            background-color: #f1f1fe;
            height: 40px;
            margin-bottom: 14px;

            .su {
                float: left;
                font-size: 20px;
                padding: 10px 15px;
            }

            .free-ssl-description {
                font-size: 11px;
                color: $dashboard-primary-text-color;
                letter-spacing: 0.24px;
                line-height: 40px;
            }

            .free-ssl-badge {
                background-color: $highlight-list-item;
                float: right;
                font-weight: 600;
                font-size: 12px;
                letter-spacing: 0.3px;
                margin: 9px;
                padding: 5px;
                text-shadow: 0 2px 2px rgba(0,0,0,0.22);
            }
        }

        .upload-ssl-description {
            margin-bottom: 20px;
        }

        .ssl-certificate-input {
            .ssl-certificate-upload-div, .certificate-password-div {
                width: 250px;
                margin: 0 auto;
            }

            .ssl-certificate-upload, #ssl-certificate-password {
                font-size: 12px;
                height: 28px;
            }

            .ssl-certificate-upload {
                margin-bottom: 23px;
            }

            .ssl-browsefile-input, .ssl-browsefile-button {
                font-size: 12px;
                height: 28px;
                line-height: 16px;
            }
        }

        #certificate-upload-validation-message {
            font-size: 10px;
            min-height: 53px;
            padding: 10px;
        }

        .ssl-certificate-button {
            float: none;
            margin: 0 auto;

            #ssl-certificate-validate-button {
                position: relative;
            }
        }
    }

    .domain-registration-success {
        @include item-name-style();

        .registration-success-header {
            margin-bottom: 24px;

            .su-password-tick {
                background-image: linear-gradient(-220deg, #BAE04B 7%, #A2DA55 29%, #78D967 50%, #6AD46B 69%, #4FD478 88%);
                border-radius: 25px;
                color: white;
                display: inline-block;
                font-size: 25px;
                font-weight: bold;
                padding: 7px;
            }
        }

        .registration-success-description {
            margin-bottom: 22px;
        }

        .custom-domain-address {
            color: $subscription-buy-additional-storage-option;
            display: block;
            margin-bottom: 25px;
        }

        .registration-success-separator {
            height: 1px;
            margin: 0 auto;
            padding-bottom: 15px;
            width: 52px;
        }

        .ssl-validity {
            font-weight: 500;
            margin-bottom: 40px;

            .valid-until-date {
                font-weight: 600;
            }
        }

        .registration-success-close {
            display: block;
            margin: 0 auto;
        }
    }

    .app-primary-button, .app-secondary-button {
        margin-top: 10px;
    }

    #custom-domain-description-label {
        letter-spacing: 0.26px;
        line-height: 18px;
        margin-bottom: 10px;
        width: 100%;
    }

    .domain-learn {
        display: block;
        margin-top: 6px;
    }

    .buy-domain-separator {
        height: 1px;
        margin: 0 auto;
        padding-bottom: 15px;
        width: 52px;
    }

    .custom-domain-amount {
        font-weight: 500;
        margin-bottom: 35px;

        .custom-domain-charge {
            font-size: 20px;
            font-weight: bold;

            .charge-period {
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.tooltip{
    z-index: 99999;
}