@import "../Mixins.scss";
@import "../../themes/_light.scss";

#dashboard-settings-container {
    .dashboard-settings-header {
        .header-text {
            font-size: $app-text-size;
        }
    }

    .admin-page-body {
        border-top: none;
    }

    #dashboard-settings-body {
        padding-bottom: 5px;

        .input-field-wrapper {
            .admin-options {
                margin: 15px 0 !important;
            }
        }
    }

    #site-attribute-body {
        border-top: none;
        padding: 20px 15px !important;
    }

    .border-class {
        border-top: none;
    }

    #add-custom-attribute {
        height: 30px;
        line-height: 28px;
        margin-right: 10px;
        width: 120px;
    }

    #dashboards-tab-nav {
        li:first-child {
            margin-left: 15px;
        }

        li a {
            color: $primary-black;
        }

        li.active a {
            color: $primary;
        }
    }

    #ad-tab-nav {

        li.active {
            a {
               color: $blue;
                border: 1px solid #ddd;
                border-bottom: none;
            }
        }
    }

    #ad-tab-nav {
        li {
            a {
                color: $primary-black;
                border: none;
                border-bottom-color: transparent;
            }
        }
    }

    .nav {
        padding-left: 20px;

        > li {
            > a {
                position: relative;
                display: block;
                padding: 10px 15px;
            }
        }
    }

    .nav-tabs {
        > li {
            border-bottom-color: transparent;
       }
   }

    .dropdown-toggle {
        cursor: pointer;
        margin-left: 11px;
    }

    .dropdown-menu {
        font-size: $app-large-text-size;
        margin-left: $app-large-text-size;
        width: 200px;
        padding: 5px;
    }

    .tool-tip {
        float: none;
        padding: 0px;
        display: inline;
    }

    .app-textbox-label {
        margin-left: 20px;
    }
}

#deployment-dashboard-dialog {
    .e-dlg-header-content {
        padding: 8px 0px 8px 12px !important;
        font-size: 14px !important;

        .e-btn.e-dlg-closeicon-btn {
            height: 22px !important;
            width: auto !important;

            .e-icon-dlg-close {
                color: $grey-800;
                font-size: 14px !important;
            }
        }
    }

    .e-dlg-content {
        padding: 20px 18px;
    }

    .e-footer-content {
        .e-btn {
            min-width: 80px;
        }
    }
}

#deployment-dashboard-delete-confirmation {
    padding: 0;
    //To retrieve the dialog box during window resize
    display: block;

    .modal-dialog {
        display: block;
        height: auto;
        min-height: 120px;
        width: 378px;

        .modal-body {
            padding: 0px !important;

            .delete-msg {
                height: 50px;
                font-size: $app-text-size;
            }
        }
    }

    .delete-msg {
        margin-bottom: 20px;
    }
}

#deployment-dashboard-delete-confirmation .modal-dialog .modal-body .delete-msg, .modal-dialog .modal-body .delete-msg {
    font-size: $app-large-text-size;
}

@media screen and (min-width: 1041px) and (max-width: 1399px) {
    .dropdown-menu {
        font-size: $app-text-size !important;
    }
}
