#dashboard-settings-container .dashboard-settings-header .header-text {
  font-size: 12px; }

#dashboard-settings-container .admin-page-body {
  border-top: none; }

#dashboard-settings-container #dashboard-settings-body {
  padding-bottom: 5px; }
  #dashboard-settings-container #dashboard-settings-body .input-field-wrapper .admin-options {
    margin: 15px 0 !important; }

#dashboard-settings-container #site-attribute-body {
  border-top: none;
  padding: 20px 15px !important; }

#dashboard-settings-container .border-class {
  border-top: none; }

#dashboard-settings-container #add-custom-attribute {
  height: 30px;
  line-height: 28px;
  margin-right: 10px;
  width: 120px; }

#dashboard-settings-container #dashboards-tab-nav li:first-child {
  margin-left: 15px; }

#dashboard-settings-container #dashboards-tab-nav li a {
  color: #333; }

#dashboard-settings-container #dashboards-tab-nav li.active a {
  color: #0565ff; }

#dashboard-settings-container #ad-tab-nav li.active a {
  color: #0565ff;
  border: 1px solid #ddd;
  border-bottom: none; }

#dashboard-settings-container #ad-tab-nav li a {
  color: #333;
  border: none;
  border-bottom-color: transparent; }

#dashboard-settings-container .nav {
  padding-left: 20px; }
  #dashboard-settings-container .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px; }

#dashboard-settings-container .nav-tabs > li {
  border-bottom-color: transparent; }

#dashboard-settings-container .dropdown-toggle {
  cursor: pointer;
  margin-left: 11px; }

#dashboard-settings-container .dropdown-menu {
  font-size: 14px;
  margin-left: 14px;
  width: 200px;
  padding: 5px; }

#dashboard-settings-container .tool-tip {
  float: none;
  padding: 0px;
  display: inline; }

#dashboard-settings-container .app-textbox-label {
  margin-left: 20px; }

#deployment-dashboard-dialog .e-dlg-header-content {
  padding: 8px 0px 8px 12px !important;
  font-size: 14px !important; }
  #deployment-dashboard-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    height: 22px !important;
    width: auto !important; }
    #deployment-dashboard-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn .e-icon-dlg-close {
      color: #4d4d4d;
      font-size: 14px !important; }

#deployment-dashboard-dialog .e-dlg-content {
  padding: 20px 18px; }

#deployment-dashboard-dialog .e-footer-content .e-btn {
  min-width: 80px; }

#deployment-dashboard-delete-confirmation {
  padding: 0;
  display: block; }
  #deployment-dashboard-delete-confirmation .modal-dialog {
    display: block;
    height: auto;
    min-height: 120px;
    width: 378px; }
    #deployment-dashboard-delete-confirmation .modal-dialog .modal-body {
      padding: 0px !important; }
      #deployment-dashboard-delete-confirmation .modal-dialog .modal-body .delete-msg {
        height: 50px;
        font-size: 12px; }
  #deployment-dashboard-delete-confirmation .delete-msg {
    margin-bottom: 20px; }

#deployment-dashboard-delete-confirmation .modal-dialog .modal-body .delete-msg, .modal-dialog .modal-body .delete-msg {
  font-size: 14px; }

@media screen and (min-width: 1041px) and (max-width: 1399px) {
  .dropdown-menu {
    font-size: 12px !important; } }
