@import "../Mixins.scss";
@import "../../themes/_light.scss";

#add-deployment-dashboard {
    .useradd-validation-messages {
        color: $validation-text-color;
        display: block;
        font-size: $validation-text-size;
        margin-bottom: -16px;
        position: absolute;
    }

    .material-checkbox {
        @include material-checkbox-controls();

        & + input + label {
            line-height: 1.5;
            font-weight: normal;
            padding: 5px 0 0 25px !important;
            vertical-align: middle !important;
        }

        &:checked + input + label::before {
            padding-right: 10px !important;
            bottom: 10px !important;
            left: 2px;
        }
    }

    label {
        font-weight: 100 !important;
        font-size: 12px !important;
        color: #5E5E5E !important;
    }

    .dropdown-menu {
        ul .disabled {
            display: none !important;
        }
    }

    .btn {
        font-size: 11px !important;
        height: 28px !important;
        letter-spacing: 0.5px;
        outline: none !important;
    }

    #dashboard-label {
        padding-top: 7px !important;
    }

    #datasource-label {
        padding-top: 7px !important;
    }

    .select-override-input {
        margin-top: 2px !important;
        height: 28px !important;
        width: 362px !important;
        font-size: 12px !important;
    }

    .select-override-description {
        width: 362px !important;
        font-size: 12px !important;
    }

    .select-override-selector {
        height: 28px !important;
        width: 275px !important;
    }

    .margin-down {
        margin-top: 3px;
    }

    .display {
        color: $validation-text-color;
        display: block;
        font-size: $validation-text-size;
        position: absolute;
    }

    .box-error-color {
        border-color: $text-error;
    }

    .modal-body {
        .deployment-field-container {
            margin-bottom: 15px;

            textarea {
                margin-bottom: 10px;
            }
        }

        .deployment-dropdown-container {
            margin-bottom: 25px;
        }
    }

    .dashboard-edit-container {
        margin-bottom: 5px;
    }
}

#dashboardGrid {
    .e-rowcell {
        text-overflow: ellipsis;
    }

    tr {
        td.e-rowcell {
            padding-left: 20px !important;
        }

        a.delete-user {
            display: none;
        }

        &.e-hover {
            a.delete-user {
                color: $validation-text-color !important;
                display: inline-block;
                font-weight: 400;

                .su {
                    font-size: 12px;
                }

                .su-close {
                    color: $validation-text-color;
                    font-size: 10px;
                }
            }
        }
    }
}
