#notification-settings-container .notification-header .header-text {
  font-size: 12px; }

#notification-settings-container #notification-settings-body .bottom-width {
  margin-bottom: 10px; }

#notification-settings-container .dropdown-toggle {
  cursor: pointer; }

#notification-settings-container .dropdown-menu {
  font-size: 14px;
  width: 200px;
  padding: 5px; }

#notification-settings-container .tool-tip {
  float: none;
  padding: 0px;
  display: inline; }

#notification-settings-container .tool-tip-description {
  float: left;
  top: 8px;
  padding: 0px;
  display: inline; }

#notification-settings-container .tool-tip-padding {
  padding: 9px; }

@media screen and (min-width: 1041px) and (max-width: 1399px) {
  .dropdown-menu {
    font-size: 12px !important; } }
