@import  "../Mixins.scss";

#look-and-feel-container, #mail-settings-container, #active-directory-container {
    .confirmatioMessage {
        display: none;
    }
}

#mail-settings-container {
    margin-bottom: 25px;
}

#user-settings-container {
    margin-bottom: 30px;

    #acc-activate-setting {
        .app-textbox-label {
            line-height: 20px;
        }

        #email {
            .validation-errors {
                margin-top: 20px;
                font-size: 14px;
                padding: 5px;
                color: $dashboard-primary-text-color;
            }
        }
    }
}

.info-dropdown {
    font-size: 14px;
    text-align: left;
    background-color: $list-bg-color;
    border: 1px solid rgba(0,0,0,.15);
    position: absolute;
    margin: 2px 0 0;
    min-width: 160px;
    display: none;
    padding: 5px;
}

.info-area {
    cursor: pointer;
    position: absolute;
    margin-left: 62px;
    top: 3px;
}

.su su-info {
    top: 0;
    position: absolute;
    margin-left: 62px;
}

#look-and-feel-container {
    margin-bottom: 30px;

    #site_url {
        margin-bottom: 15px;
        border-radius: 4px;
    }

    .sub-section-heading {
        font-size: $app-text-size + 2;
        font-weight: 700;
        margin: 0 0 20px 0;
        padding: 0;
    }

    .validation-error-image {
        color: $validation-text-color;
    }

    .no-padding > label {
        font-weight: normal;
    }

    .input-group-addon {
        padding: 0;
    }

    .filename-text {
        background: $admin-page-bg;
    }

    .applogo-label {
        margin-top: 5px;
    }

    .primary-color-class {
        border-color: $primary-color;
    }

    .custom-domain-section {
        padding-right: 0px;
        padding-left: 20px;

        .custom-domain {
            .alert-success {
                padding: 5px;
            }
        }

        .custom-domain-btn {
            height: 30px;
            line-height: 28px;
            margin-left: 15px;
            width: 160px;
        }
    }


    #help_text {
        padding-left: 0px;
        padding-top: 7px;

        #ssl-help-message {
            padding: 5px;
        }
    }

    #txt_welcome_note {
        resize: none;
        height: auto;
    }

    .e-selectpart {
        border: 0;

        .e-inputbtn {
            background: $admin-page-bg;
            color: $header-bg;
            cursor: pointer;
            font-size: $app-text-size;
            font-weight: bolder;

            &:hover {
                background: $admin-container-bg;
            }
        }
    }

    .sub-section {
        .highlight-image {
            margin-left: -22px;
        }

        #upload-main-screen-image-addon, #upload-favicon-image-addon, #upload-emaillogo-image-addon, #upload-login-image-addon {
            cursor: pointer;
        }

        #upload-login-image-textbox, #upload-main-screen-image-textbox, #upload-favicon-image-textbox, #upload-emaillogo-image-textbox {
            background-color: $autocomplete-bg-color !important;
            opacity: 1;
            cursor: pointer;
        }
    }

    #image-container {
        border: 1px solid $admin-pages-border-color;
        border-radius: 4px;
        display: inline-block;

        td {
            padding: 5%;

            &.login-img {
                > span {
                    display: inline-block;
                }
            }

            .app-img-container {
                border-radius: 4px;
                display: inline-block;
                height: 60px;
                vertical-align: middle;
                max-width: 200px;
                max-height: 60px;

                &.header-icon {
                    padding: 10px;
                }

                &.favicon {
                    border-radius: 4px;
                    border: 1px solid $admin-pages-border-color;
                    padding: 18px;
                }
            }
        }
    }

    .lang-ingo-tag {
        padding: 5px 0px 0px 0px;
        margin-top: 3px;

        .dropdown-menu {
            padding: 5px;
        }
    }

    .top-padding {
        padding-top: 5px;
    }

    .admin-page-body {
        margin-bottom: 30px;
    }

    #ssl-selectpicker {
        padding-right: 0px;
        padding-left: 20px;
        float: left;

        .input-group-addon {
            border: 0;
        }

        .bootstrap-select {
            border: 0;
            padding: 0;
            margin: 0;
        }

        .selectpicker:not(ul) {
            border-radius: 4px 0px 0px 4px;
            border-right: 0;
            line-height: normal;
        }

        ul.selectpicker {
            overflow: visible !important;
        }

        #site-base-url {
            border-radius: 0px 4px 4px 0px;
        }
    }

    .margin_btm_30 {
        margin-bottom: 30px;
    }

    #site-orgname-section {
        padding-right: 0px;
        padding-left: 20px;
    }

    #login-disclaimer {

        .material-checkbox {
            @include material-checkbox-controls();

            &:checked + input + label::before {
                bottom: 9px !important;
            }

            &:checked + input + label::after {
                margin-top: 4px !important;
                margin-bottom: 0 !important;
            }
        }

        .material-checkbox + input + label {
            padding: 5px 0 0 25px !important;
            line-height: 14px
        }

        .hide-disclaimer-checkbox {
            .material-checkbox:checked + input + label::after {
                display: none !important;
            }
        }

        .validation-errors {
            position: absolute;
            bottom: -17px;
        }

        #consent-preview-container {
            .blur-whitelable-content {
                margin-bottom: 20px;
            }
        }
    }

    .login-disclaimer {
        margin-top: 20px;
    }

    #login-disclaimer-message {
        height: 100px;
        resize: vertical;
    }

    #login-disclaimer-temp {
        height: 100px;
        resize: vertical;
    }

    .user-model-language-container {
        padding-top: 4px;

        .model-language-info-tag {
            padding: 8px 0 0 0;
        }
    }

    #model-language-dropdown {

        ul li:first-child {
            display: none;
        }
    }

    .common-tooltip-info {
        width: 250px;
        font-size: $app-large-text-size;
        padding: 5px 10px;
    }
}

#system-settings-db-selection-container {
    margin-top: 10px;
    display: block;

    .text-wrap {
        .bootstrap-select li a > span.text {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 240px;
        }
    }
    //Database selection container styles
    .system-settings-db-selection-field {

        #umpdb-checkbox {
            margin-top: 10px;
        }

        .material-checkbox {
            @include material-checkbox-controls();
        }

        .material-checkbox:checked + input + label::before {
            bottom: 10px;
        }

        .disable-text-select {
            font-size: $app-large-text-size;
            left: -18px;
        }
        /*.database-types {
                        margin-bottom: 15px;                       
                    }*/
        .database-dropdown-margin {
            margin-bottom: 10px;

            > div.bootstrap-select {
                width: 300px !important;
            }
        }

        .sqlcenot {
            display: none;
            position: relative;

            .su {
                display: block;
                color: $sub-text-color;
            }

            .dropdown-menu {
                padding: 8px;
                top: -59px;
                width: 300px;
            }
        }

        #connection-validation {

            .validation-errors {
                display: none;
                color: $validation-text-color;
                font-size: $app-text-size;
            }
        }

        label {
            font-weight: 500;
            cursor: pointer;
        }

        .new-db {
            display: inline-block;
            float: left;
            margin: 11px -15px;
        }

        .existing-db {
            display: inline-block;
            float: left;
            margin: 11px 0px;
            padding-left: 36px;
            padding-top: 0px;
        }

        #db-content-holder {
            .database-for {
                margin-top: 10px;
                margin-bottom: -5px;
            }

            .database-dropdown-margin {
                .btn-group {
                    .dropdown-menu {
                        li.disabled {
                            a {
                                cursor: default !important;
                            }
                        }
                    }
                }
            }
            
            .databse-dropdown {
                .bootstrap-select {
                    margin: 0px;
                }

                #waiting-icon, ump-waiting-icon {
                    right: 35px;
                    top: 4px;
                    position: absolute;
                }

                .datastore-waitingpopup{
                    right: 220px !important;
                }
            }

            .dropdown-menu {
                .inner {
                    a {
                        padding: 5px 10px;
                        height: 30px;
                    }
                }
            }

            .dropdown-menu li {
                height: auto;
                width: 100%;
            }
        }

        .system-settings-startup-page-fields, db-fields {
            border-width: 1px;
            width: 300px;
            margin: 0px auto 5px 0px;
        }
    }

    .placeholder {
        position: absolute;
        left: 50%;
        margin-left: -136px;
        margin-top: -28px;
        color: $AuthorColor;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-group-radio {
        margin-bottom: 0px;
        margin-top: -10px;
        height: 45px;
    }

    .show-hide-password {
        cursor: pointer;
        position: absolute;
        right: auto;
        left: 292px;
        top: 9px;
    }

    .display-none {
        display: none;
    }

    .startup-validation {
        display: block;
        color: $validation-text-color;
        font-size: $app-text-size;
        text-align: left;
    }

    .fake-password {
        visibility: hidden;
        position: absolute;
        left: -99999px;
    }
}
//Database selection container ends

#active-directory-container {
    margin-bottom: 30px;

    .admin-page-body {
        border-top: none;
    }

    #ad-tab-nav {
        border-color: $admin-body-border-color;

        li:first-child {
            margin-left: 20px;
        }

        li a {
            color: $primary-text-color;
        }

        li.active {
            a {
                color: $primary-color;
            }
        }
    }

    .port-number-info {
        font-size: 12px;
    }

    .schedule-synchronization {
        margin-left: 15px;
    }

    .test-connection {
        margin-right: 15px;
    }

    input::-ms-clear, input::-ms-reveal {
        display: none;
    }

    .database-select-loader-icon {
        position: absolute;
        left: 99% !important;
        top: -11px;
    }
}

#auth-control-tab {
    #auth-control-body {
        #auth-control-form {
            margin-top: 20px;

            .login-option-dropdown {
                margin: 15px 0 25px 0;

                .login-provider-info-tag {
                    padding: 8px 0 0 0;
                    width: 3%;

                    .common-tooltip-info {
                        font-size: $app-large-text-size;
                        padding: 5px 10px;
                        width: 250px;
                    }
                }

                .glyphicon-ok {
                    font-size: $app-text-size;
                    margin-top: 3px;
                }
            }
        }
    }
}

#oauth-settings-tab, #openid-settings-tab {
    .admin-page-body {
        .auth-settings-form {
            margin-bottom: 50px;
            margin-top: 10px;
            border-radius: 4px;
            float: left;
            width: 100%;

            input {
                margin-bottom: 10px !important;
            }

            .validation-message {
                bottom: -10px;
                display: block;
                position: absolute;
            }

            .dropdown-toggle {
                margin-bottom: 10px !important;
            }

            .section-title {
                font-size: $app-large-text-size;
                margin: 30px 0 0 20px;
                font-weight: bold;
            }

            .method-type {
                float: left;
                width: 20% !important;
            }

            .info-popup {
                float: left;
                position: absolute;
                cursor: pointer;
                top: 7px;
            }

            .popover {
                max-width: 400px;
            }

            #oauth-userinfo-endpoint, #oauth-token-endpoint {
                width: 80%;
            }

            #oauth-user-data-info {
                top: 33px;
                margin-left: 20px;
            }

            #oauth-logo-info, #openid-logo-info {
                left: 130px;
                top: 2px;
            }

            input#oauth-callback-link, input#openid-callback-link, input#oauth-mobile-callback-link, input#openid-mobile-callback-link {
                overflow: hidden;
                border-radius: 4px 0 0 4px;
                resize: none;
                width: 93%;
                float: left;
                background-color: $dialog-body-bgcolor;
                box-shadow: none;

                &:focus {
                    border: 1px solid $primary-color;
                }
            }

            #oauth-callback-link-copy, #openid-callback-link-copy, #oauth-mobile-callback-link-copy, #openid-mobile-callback-link-copy {
                border-radius: 0 4px 4px 0;
                float: left;
                font-size: 14px;
                cursor: pointer;
                padding-left: 7px;
                padding-top: 10px;
                width: 7%;
                background-color: $dialog-body-bgcolor;
                box-shadow: none;
                border-left: none;
            }

            #oauth-callback-link-copy.focusdiv, #openid-callback-link-copy.focusdiv, #oauth-mobile-callback-link-copy.focusdiv, #openid-mobile-callback-link-copy.focusdiv {
                border-top: 1px solid $primary-color;
                border-right: 1px solid $primary-color;
                border-bottom: 1px solid $primary-color;
            }

            .section-info-message-container {
                margin: 20px;
                background-color: $secondary-btn-bg;
                border: 1px solid $footer-bg-color;
                border-left: 6px solid $header-bg;
                cursor: default;
                display: table;
                min-height: 45px;

                .su-info {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 22px;
                }

                .section-info-message {
                    display: table-cell;
                    padding: 10px;
                    vertical-align: middle;
                }
            }

            .logo-container {
                .auth-image-upload-box {
                    height: 100px;
                    width: 103px;
                    border-radius: 4px;
                    border: 2px solid $embed-code-copy-border;
                    margin-bottom: 10px;

                    .js-image-preview {
                        height: 70px;
                        width: 100px;
                        background-image: url("");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .upload-options {
                        height: 26px;
                        background-color: $primary-btn-disabled-bg;
                        cursor: pointer;

                        input {
                            width: 0.1px;
                            height: 0.1px;
                        }

                        label {
                            width: 100%;
                            height: 100%;
                            display: table;
                            margin: 0;

                            span {
                                font-size: $app-large-text-size;
                                color: $primary-color;
                                display: table-cell;
                                vertical-align: middle;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

#mail-settings-container {

    input::-ms-clear, input::-ms-reveal {
        display: none;
    }
}

.disclaimer-content-container {
    padding: 15px;
    width: 500px;
    text-align: left;
}

.content-disclaimer-name {
    a {
        cursor: pointer;
    }
}

#consent-content-dialog {
    min-height: 100px;
    max-height: 300px;
}

#consent-content-info {
    margin-left: 10px;

    .su-info {

        &:hover, active {
            cursor: pointer;
        }
    }
}

#login-disclaimer-container {

    .CodeMirror {
        height: 150px;

        .CodeMirror-scroll {
            min-height: 120px !important;
        }
    }
}

#consent-content-dialog_dialog-content {
    padding: 0px;
    overflow: hidden;
}

#consent-content-dialog {
    @include fluent-popup();

    .fluent-item-popup-body {
        min-height: 100px;
        max-height: 300px;
        overflow-y: auto;
    }

    .fluent-popup-footer {

        .app-secondary-button {
            margin: 10px;
        }
    }
}

.placeholder {
    position: absolute;
    width: 240px;
    padding: 6px 12px;
    line-height: 1.4;
    color: $placeholder-color;
    text-align: left;
    top: 0px;
    z-index: 100;
}

.bootstrap-select.btn-group {
    .no-results {
        margin: 0;
    }
}

@media screen and (min-width: 1041px) and (max-width: 1399px) {
    #ssl-help-message, #language-help-message {
        font-size: $app-text-size;
    }
}

.time {
    top: 0px;
    position: absolute;
    margin-left: 62px;
}

#azure-ad-group-user-import-info {
    cursor: pointer;
    margin-left: 15px;
}