
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirect</title>
    <script type="text/javascript">
         var userToken = "@ViewBag.UserToken";
        var serverUrl = "@ViewBag.ServerUrl"
        var data = { isSuccess: true, userToken : userToken };
        window.opener.postMessage(data, serverUrl);
        window.close();
    </script>
</head>
<body>
    <div>
        <p>[[[Please wait...]]]</p>
    </div>
</body>
</html>
