// Resolution <= 1366px

$app-text-size: 12px;
$label-text-size: $app-text-size;
$validation-text-size: $app-text-size - 2;
$info-text-size: $app-text-size - 2;
$button-text-size: $app-text-size;
$submenu-text-size: $app-text-size;
$icon-size: $app-text-size + 4;
$text-box-size: 28px;
$list-content-size: $app-text-size - 1;

// Resolution >= 1366px

$app-large-text-size: $app-text-size + 2;
$label-large-text-size: $app-large-text-size;
$validation-large-text-size: $app-large-text-size - 2;
$info-large-text-size: $app-large-text-size - 2;
$button-large-text-size: $app-large-text-size;
$submenu-normal-text-size: $app-large-text-size;
$icon-large-size: $app-large-text-size + 4;
$text-large-box-size: 32px;
$list-content-large-size: $app-large-text-size - 1;