<script>
    function CloseGroup() {
        parent.$(".modal,.modal-backdrop").remove();
    }
    function ValidateCSVFile() {
        var csvfile = document.getElementById("csvfile");
        return false;
    }
</script>
<link href="~/Content/Styles/Bootstrap.css" rel="stylesheet" />
<link href="~/Content/Styles/Style.css" rel="stylesheet" />
<form action="@Url.Action("UploadFileFormAction", "User")" target="_parent" method="post" onsubmit="return ValidateCSVFile();" enctype="multipart/form-data">
    <div class="modal-header dialog-header-confirm">
        <button onclick="CloseGroup()" class="close" id="group-Close-button" type="button">
            ×
        </button><h4 class="modal-title">Add users by uploading CSV file</h4>
    </div>
    <div class="modal-body col-xs-12 content">
        <div class="col-xs-6">
            <input type="file" name="csvfile" id="csvfile">
        </div>
        <div class="col-xs-6 no-padding">
            <a href="/Content/Documents/Template.csv" title="" style="float:right;">
                Download template
            </a>
        </div>
    </div>
    <div class="modal-footer content" style="text-align:right;"><input type="submit" value="Show list" class="btn btn-blue"></div>
</form>