////Primary Colours
$blue: #0565ff;
$blue-lighter: #dbe9ff;
$blue-lighten: #f0f6ff;
$primary-black: #333;


////Secondary Colours
$red: #ff3b30;
$orange: #ff9503;
$yellow: #ffcc01;
$green: #4dd964;
$blue-secondary: #007aff;

////Neturals Colour
$white: #fff;

////Grey Colours
$grey-900: #1a1a1a;
$grey-800: #4d4d4d;
$grey-700: #808080;
$grey-600: #999999;
$grey-500: #b3b3b3;
$grey-400: #cccccc;
$grey-300: #e2e2e2;
$grey-200: #eeeeee;
$grey-100: #f2f2f2;
$grey-000: #f9f9f9;

//////////////////////////////////////////
////Don't define any color below, make use of the above theme colors.

////general Colours

$primary: $blue;
$danger: $red;

////Text Colours
$primary-text-color: $primary-black;
$text-white: $white;
$text-primary: $blue;
$text-disabled: $grey-400;
$text-placeholder: $grey-200;
$text-msg: $grey-500;
$text-info-link: $blue-secondary;
$text-error: $red;
$text-description: $grey-700;

$primary-selected-color: $blue-lighter;
$primary-light-color: $blue-lighten;
$app-background-hover: $grey-300;
$icon-color: $grey-800;
$icon-hover-color: $grey-900;
$nav-icon-normal-color: $grey-700;

$primary-btn-border-color: darken(desaturate($blue, 3.85), 10.20);
$overlay-bg-color: $primary-black;
$btn-hover-border-color: $primary;
$separator-color: $grey-400;
$dropdown-border-color: $grey-500;

////Mobile
$mobile-display-name-bg-color: $primary-black;
$mobile-menu-bg-color: $grey-200;
$mobile-menu-active-bg-color: $grey-300;

//Template Dashbopard Popup
$template-image-bg-color: $grey-200;
$template-dashboard-image-maximixe-bg-color: $grey-500;

//Brand Color
$boldbi-brand: #ff4800;

//Multi-Tabbed-theme
$dark-black: #000000;

//Webinar Notification Banner
$banner-title: #283A5E;
$banner-bullets: #3C4D6F;