@import "../../core/_variables.scss";
@import "../../components/_buttons.scss";
@import "../../themes/_light_cloud.scss";
@import "../../core/_typography.scss";

%shared-margin {
    margin-top: 24px;
}

%shared-text-align {
    text-align: center;
}

%shared-vertical-align {
    vertical-align: middle;
}

%font {
    font-style: normal;
    font-stretch: normal;
}

#content-area {
    height: 100%;

    .defafult-pages-container {
        display: table;
        height: 100%;
        width: 100%;

        .default-pages {
            display: table-cell;
            @extend %shared-vertical-align;
            @extend %shared-text-align;

            img {
                width: 384px;
                height: 224px;
                object-fit: contain;
                margin-bottom: 34px;
            }

            h1 {
                font-size: $default-pages-header-text-size;
                font-weight: bold;
                line-height: 1.2;
                font-family: $default-page-header;
                letter-spacing: 0.6px;
                margin-top: 0;
                margin-bottom: 25px;
                @extend %font;
            }


            p {
                font-size: $default-pages-paragraph-text-size;
                font-weight: normal;
                line-height: 1.71;
                letter-spacing: 0.3px;
                padding-bottom: 24px;
                margin: 0 auto;
                width: 75%;
                @extend %font;
            }

            button {
                width: 200px;
                height: 32px;
                line-height: 32px;
                border-radius: 4px;
                color: $white;
                border: 1px solid $primary;
            }
        }
    }
}

#base-footer-div {
    .copyright-poweredby {
        display: none !important;
    }
}
