#embed-settings-container .embed-settings-header .header-text {
  font-size: 12px; }

#embed-settings-container #embed-settings-body {
  padding-bottom: 5px; }
  #embed-settings-container #embed-settings-body .embed-authentication {
    margin-bottom: 30px; }
  #embed-settings-container #embed-settings-body .embed-enabled {
    margin-left: 12px; }
  #embed-settings-container #embed-settings-body .text-left {
    margin-right: 36px; }
  #embed-settings-container #embed-settings-body .secret-code-container {
    padding: 0; }
  #embed-settings-container #embed-settings-body .secret-code-notification {
    border-radius: 4px;
    display: none;
    font-size: 13px;
    margin-left: 14px;
    margin-top: 20px;
    padding: 5px 10px;
    width: 67%; }
  #embed-settings-container #embed-settings-body #secret-code-link {
    display: flex; }
    #embed-settings-container #embed-settings-body #secret-code-link #secret-code {
      border-radius: 4px 0 0 4px;
      box-shadow: none;
      display: inline-block;
      font-size: 12px;
      float: left;
      height: 28px;
      overflow: hidden;
      resize: none;
      width: 80%; }
    #embed-settings-container #embed-settings-body #secret-code-link #secret-code-copy {
      border-radius: 0 4px 4px 0;
      box-shadow: none;
      border-left: none;
      cursor: pointer;
      display: inline-block;
      float: left;
      font-size: 14px;
      height: 28px;
      padding-left: 16px;
      padding-top: 7px;
      width: 45px; }
    #embed-settings-container #embed-settings-body #secret-code-link #secret-code-copy.focusdiv {
      box-shadow: 0 0 2px 0 #0565ff;
      -moz-box-shadow: 0 0 2px 0 #0565ff;
      -webkit-box-shadow: 0 0 2px 0 #0565ff;
      border-top: 1px solid #0565ff;
      border-right: 1px solid #0565ff;
      border-bottom: 1px solid #0565ff; }
  #embed-settings-container #embed-settings-body button {
    height: 28px;
    line-height: 26px;
    width: 120px; }

#embed-settings-container .dropdown-toggle {
  cursor: pointer;
  margin-left: 11px; }

#embed-settings-container .dropdown-menu {
  font-size: 13px;
  letter-spacing: 0.3px;
  margin-left: 14px;
  padding: 5px;
  width: 200px; }

#embed-settings-container .tool-tip {
  display: inline;
  float: none;
  padding: 0px; }

#embed-settings-container .app-textbox-label {
  margin-left: 20px; }

#embed-settings-container #embed-enabled-loader-icon {
  position: absolute;
  top: -18px;
  left: 60px !important; }

#messageBox {
  letter-spacing: 0.3px; }
  #messageBox .message-content.messagebox-align {
    padding: 5px 0; }
