@import "../../core/_typography.scss";
@import "../../core/_variables.scss";
@import "../../themes/_light.scss";
@import "../../mixins/_border-radius.scss";

#embed-settings-container {
    .embed-settings-header {
        .header-text {
            font-size: map-get($app-text-size, md);
        }
    }

    #embed-settings-body {
        padding-bottom: 5px;

        .embed-authentication {
            margin-bottom: 30px;
        }

        .embed-enabled {
            margin-left: 12px;
        }

        .text-left {
            margin-right: 36px;
        }

        .secret-code-container {
            padding: 0;
        }

        .secret-code-notification {
            border-radius: 4px;
            display: none;
            font-size: map-get($app-text-size, md) + 1;
            margin-left: 14px;
            margin-top: 20px;
            padding: 5px 10px;
            width: 67%;
        }

        #secret-code-link {
            display: flex;

            #secret-code {
                border-radius: 4px 0 0 4px;
                box-shadow: none;
                display: inline-block;
                font-size: map-get($app-text-size, md);
                float: left;
                height: 28px;
                overflow: hidden;
                resize: none;
                width: 80%;
            }

            #secret-code-copy {
                border-radius: 0 4px 4px 0;
                box-shadow: none;
                border-left: none;
                cursor: pointer;
                display: inline-block;
                float: left;
                font-size: map-get($app-text-size, lg);
                height: 28px;
                padding-left: 16px;
                padding-top: 7px;
                width: 45px;
            }

            #secret-code-copy.focusdiv {
                box-shadow: 0 0 2px 0 $primary;
                -moz-box-shadow: 0 0 2px 0 $primary;
                -webkit-box-shadow: 0 0 2px 0 $primary;
                border-top: 1px solid $primary;
                border-right: 1px solid $primary;
                border-bottom: 1px solid $primary;
            }
        }

        button {
            height: 28px;
            line-height: 26px;
            width: 120px;
        }
    }

    .dropdown-toggle {
        cursor: pointer;
        margin-left: 11px;
    }

    .dropdown-menu {
        font-size: map-get($app-text-size, md) + 1;
        letter-spacing: 0.3px;
        margin-left: 14px;
        padding: 5px;
        width: 200px;
    }

    .tool-tip {
        display: inline;
        float: none;
        padding: 0px;
    }

    .app-textbox-label {
        margin-left: 20px;
    }

    #embed-enabled-loader-icon {
        position: absolute;
        top: -18px;
        left: 60px !important;
    }
}

#messageBox {
    letter-spacing: 0.3px;

    .message-content.messagebox-align {
        padding: 5px 0;
    }
}