.account-parent {
  background: linear-gradient(-215deg, #fbfeff 0%, #eef2f3 100%); }
  .account-parent .account-child .account-bg .account-header {
    margin-bottom: 9px; }
  .account-parent .account-child .account-bg .login-wrapper .login-body {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.42px; }
    .account-parent .account-child .account-bg .login-wrapper .login-body .login-header {
      padding-bottom: 14px !important;
      margin-bottom: 0 !important;
      font-size: 18px;
      letter-spacing: 0.42px; }
    .account-parent .account-child .account-bg .login-wrapper .login-body .login-header:after {
      border-bottom: none !important; }
    .account-parent .account-child .account-bg .login-wrapper .login-body .forget-password-align {
      margin-left: 0px !important;
      text-align: center; }
    .account-parent .account-child .account-bg .login-wrapper .login-body .page-wrapper {
      margin: auto; }
    .account-parent .account-child .account-bg .login-wrapper .login-body .syncfusion-brand-option {
      float: right; }
    .account-parent .account-child .account-bg .login-wrapper .login-body .header-line {
      margin: 0 0 24px 0;
      height: 2px;
      width: 70px;
      background-color: #0565ff;
      float: left; }
    .account-parent .account-child .account-bg .login-wrapper .login-body #login-email {
      letter-spacing: 0.3px; }
    .account-parent .account-child .account-bg .login-wrapper .login-body .connect-line-left {
      width: 32%;
      float: left;
      margin: 0;
      margin-top: 9px;
      position: absolute;
      border-top: 1.5px dashed #cccccc; }
    .account-parent .account-child .account-bg .login-wrapper .login-body .connect-line-right {
      width: 32%;
      float: right;
      margin: 0;
      margin-top: -8px;
      border-top: 1.5px dashed #cccccc; }
    .account-parent .account-child .account-bg .login-wrapper .login-body #login-button {
      font-size: 13px;
      letter-spacing: 0.3px;
      line-height: 1.54;
      width: 145px !important;
      height: 36px !important;
      margin-bottom: 40px !important; }
    .account-parent .account-child .account-bg .login-wrapper .login-body .content {
      letter-spacing: 0.39px;
      font-size: 13px !important; }

.layout-footer {
  background: transparent; }

@media screen and (min-width: 760px) {
  .account-bg {
    width: 492px;
    height: 655px;
    border-radius: 8px;
    border: solid 1px #c9ced0;
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 80px; }
    .account-bg .login-wrapper {
      width: 338px;
      margin: auto;
      padding: 15px 0 !important; } }

@media (min-width: 760px) and (max-width: 900px) {
  .account-bg {
    height: auto;
    width: auto;
    padding: 40px !important; } }

@media screen and (max-width: 350px) {
  .login-wrapper {
    width: auto;
    padding: 24px 20px; } }

@media screen and (max-width: 760px) {
  .layout-footer {
    padding: 0 !important; }
    .layout-footer .footer-copy-right, .layout-footer .footer-link {
      float: none !important;
      display: block;
      text-align: center; }
    .layout-footer .footer-link {
      padding-top: 10px; } }
