@import "../themes/_light_cloud.scss";

html,body{
    min-height: 637px;
}

.sign-up-container {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding-bottom: 30px;
    margin: auto;

    .sign-up-page {
        display: table-cell;
        vertical-align: middle;

        .form-content {
            display: inline-block;
            margin: auto;

            .sign-up-details {
                margin-bottom: 30px;
            }

            img {
                margin-bottom: 40px;
            }

            h2 {
                font-size: 20px;
                color: $blue;
                margin-top: -12px;
                text-align: left;
                font-weight: 600;
                line-height: 30px;
                padding-bottom: 8px;
                margin-bottom: 38px;
            }

            h2:after {
                content: '';
                display: block;
                width: 74px;
                border-bottom: 2px solid $blue !important;
            }

            .form-control {
                font-size: 12px;
                border-radius: 5px;
                height: 32px;
                padding-right: 30px;
                box-shadow: none !important;
                border: 1px solid $grey-400;
            }

            .show-hide-password {
                top: 10px;
                right: 10px;
            }

            input.form-control:focus:not(.input-block-level) {
                outline: none !important;
                border: 1.5px solid $blue;
                box-shadow: none !important;
            }
        }

        #read-more-privacy:focus {
            text-decoration: underline !important;
        }

        #register-button {
            width: 200px;
            color: $white;
            height: 32px;
            background-color: $blue;
            border: 1px solid $primary-border;
            border-radius: 5px;
        }

        #register-button:hover, #register-button:focus {
            background: darken($blue, 10%);
        }

        #register-button:disabled {
            background: $grey-400;
            cursor: default;
            border: none;
        }

        #input-register {
            margin-top: 34px;
        }
    }

    .name-input-place {
        display: inline-block;
        padding-bottom: 30px !important;
    }

    .input-elements {
        position: relative;
        padding-bottom: 24px;

        input {
            width: 300px;
            height: 32px;
            margin: auto;
        }

        .first-name {
            margin-right: 5px;
        }

        .valid-name {
            left: 0 !important;
        }

        .name-input {
            width: 146px;
        }

        .text-danger {
            position: absolute;
            font-size: 10px;
            text-align: left;
            left: 0;
        }
    }

    .condition-checkbox-div {
        text-align: left;
        margin-bottom: 30px;

        div {
            display: inline-block;
        }

        a {
            color: $blue;

            &:hover {
                color: darkblue;
            }
        }

        .condition-links {
            float: left;
            max-width: 272px;
        }
    }

    .popover {
        background: $primary-text-color;
        opacity: 0.8;
        width: 200px;
        top: 17px !important;

        .arrow {
            top: 80% !important;
        }

        .arrow::after {
            border-right-color: $primary-text-color;
            opacity: 0.8;
        }

        .popover-title {
            background: $primary-text-color;
            opacity: 0.8;
            color: $text-white;
            font-size: 12px;
            letter-spacing: 0.3px;
            line-height: 18px;
            padding-bottom: 0px;
            border: none;
        }

        .popover-content {
            padding-top: 0px;
            height: 175px;

            ul {
                list-style: none;
                padding: 0px;

                li {
                    height: 20px;
                    margin: 15px 15px 15px 10px;

                    span.icon {
                        height: 20px;
                        width: 20px;
                        margin: 0 auto;
                        border-radius: 50%;
                        border: 2px solid $white;
                        display: inline-block;
                        float: left;
                    }

                    span.content {
                        margin-left: 14px;
                        color: $text-white;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 418px){
    body{
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 720px) {
    .sign-up-container {
        .popover {
            left: 32% !important;
            top: -11% !important;

            .arrow, .arrow::after {
                border-left: 11px solid transparent;
                border-right: 11px solid transparent;
                border-top: 11px solid;
                top: 100% !important;
                left: 40% !important;
            }
        }
    }
}
