@import "../themes/_light_cloud.scss";

html,body{
    min-height: 640px;
}

.activate-user-bg {
    font-family: var(--font-family);
    font-size: 12px;
    margin: 0 auto;
    display: inline-block;
    max-width: 400px;
    border-radius: 4px;
    padding: 24px 32px;
    text-align: center;

    .icon-success {
        background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        display: inline-block;
        height: 40px;
        width: 40px;
        position: relative;
        border-radius: 50%;
        margin: 0 auto 20px auto;

        .su.su-tick {
            height: 25px;
            width: 25px;
            margin: 7px;
            position: absolute;
            border-radius: 50%;
            padding: 4px;
            color: $green;
            font-size: 17px;
            background: $white;
        }
    }

    .icon-failure {
        height: 40px;
        width: 40px;
        margin: 0 auto 20px auto;
        border-radius: 50%;
        background-color: $orange;
        padding: 5px;

        .su.su-warning-alt {
            font-size: 25px;
            color: $white;
            margin-top: 7px;
        }
    }

    .heading {
        margin: 16px 0px;
        font-weight: 600;
    }

    .status-message {
        margin-bottom: 24px;

        #user-email {
            font-weight: 600;
            text-decoration: none;
            color: $primary-text-color;
            word-break: break-all;
        }

        span {
            display: block;
        }
    }

    .btn-holder {
        border-radius: 5px;
        text-align: center;
        vertical-align: central;
        background: $blue;
        height: 32px;
        width: 120px;
        margin: 0 auto;
    }

    .proceed-button {
        background-color: $blue;
        border: none;
        color: $white;
        height: inherit;
        display: inline-block;
        width: 120px;
        outline: none;
        line-height: 32px;
        border: 1px solid $primary-border;
        border-radius: 5px;

        &:hover {
            background: darken($blue, 10%);
            text-decoration: none;
        }

        &:disabled {
            background: $grey-400;
            cursor: default;
        }
    }

    .resend-verification {
        margin-top: 24px;

        a.text-primary {
            text-decoration: none;
            cursor: pointer;
        }
    }

    .divider-light {
        border-bottom: 1px solid $grey-400;
        height: 2px;
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .expiration-time {
        .info-icon {
            height: 18px;
            width: 18px;
            display: inline-block;
            border: 1px solid $grey-400;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            border-radius: 50%;
            margin-right: 7px;
            color: $blue;
        }

        .message {
            display: inline-block;
            padding-left: 2px;
        }
    }

    .verification-contianer {
        text-align: center;

        #verifiation-error {
            padding: 0 5px 5px 5px;
            color: $red;
            display: none;
        }

        .btn-holder {
            margin-top: 15px !important;
        }

        .account-verification-code {
            border-radius: 8px;
            padding: 8px;
            font-size: 20px;
            letter-spacing: 5px;
            text-align: center;
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 418px) {
    body {
        padding-bottom: 80px;
    }
}
