@{
    Layout = null;
    var cdnLink = (Context.Request.PathBase.ToString().Equals("/") ? string.Empty : Context.Request.PathBase.ToString()) + ServerAppConfig.AppSettings.EndPoints.CdnLink + "/images";
    var dashboardServerResourceUrl = (Context.Request.PathBase + ServerAppConfig.AppSettings.EndPoints.CdnLink).TrimEnd('/');
    var faviconLogo = ServerAppConfig.InternalAppIdpUrl + "/ums/logos?type=favicon";
}
<!DOCTYPE html>
<html class="dashboard-server">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Site Suspended - @GlobalAppSettings.BrandingDisplayName</title>
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/layout.css" />
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/error-page.css" />
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/layout.min.css" />
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/error-page.min.css" />
    </environment>

    @await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")
<link rel="icon" href="@faviconLogo" onerror="if (this.href != '@cdnLink/application/@ServerAppConfig.AppSettings.AppBranding.Identifier/@IconFileNames.Favicon') this.href = '@cdnLink/application/@ServerAppConfig.AppSettings.AppBranding.Identifier/@IconFileNames.Favicon';" />
</head>
<body>
    <div class="suspended-container-bg">
        <div class="suspended-conatiner" id="suspended-conatiner">
            <div id="suspended-main-div">
                <div class="suspended-logo">
                    <img src="@cdnLink/application/suspended.svg" />
                </div>
                <div class="suspended-secondary-div">
                    <div class="suspended-page-title">
                        [[[Suspended]]]
                    </div>
                    <div class="suspended-page-content">[[[Subscription to the Dashboards has been suspended. Please contact your System Administrator for more details.]]]</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>