@import "../mixins/_button.scss";
@import "../mixins/_border-radius.scss";

$button-theme: (
    primary: $primary-color,
    secondary: $white, 
    danger: $danger
);

.sf-button {
    @include sf_button(map-get($button-height, md));
}

@each $theme,$value in $button-theme{
    .sf-#{$theme}-button{
        background: $value;
    }
}

.sf-rounded-button {
    @include border-radius(50%);
}