.e-dlg-container {
    .e-control.e-dialog {
        .e-dlg-content {
            padding: 18px;
        }

        .e-footer-content {
            padding: 10px 18px;

            .e-btn {
                margin-left: 16px;
            }
        }
    }
}