@import "../themes/default.scss";

.e-spinner-pane {
    opacity: .85;
    background-color: $primary-black !important;

    .e-spinner-inner .e-spin-material {
        stroke: $primary-color !important;
    }
}