@import "../themes/_light.scss";

.e-spinner-pane {
    opacity: .85;
    background-color: $overlay-bg-color !important;

    .e-spinner-inner .e-spin-material {
        stroke: $primary !important;
    }
}