@import "../themes/default.scss";

body {
    .form-control, input[type="text"] {
        &:focus {
            border-color: $primary-color !important;
            box-shadow: none !important;
            outline: none !important;
            transition: all .3s linear;
        }

        :disabled {
            cursor: default !important;
        }

        & ~ .focusdiv {
            border: 0;
            box-shadow: none !important;
            outline: none !important;
            border-color: transparent;
        }
    }

    .has-error .form-control {
        &:focus {
            border-color: $danger !important;
            box-shadow: none !important;
            outline: none !important;
            transition: all .3s linear;
        }
    }

    input[type="text"] {
        &:focus {
            & ~ .su-search {
                border: 1px solid $primary-color !important;
                border-left: 0px !important;
            }

            & ~ .close-icon {
                border: 1px solid $primary-color !important;
                border-left: 0px !important;
            }
        }
    }
}
