html, body, form {
  height: 100%;
  margin: 0px; }

#container {
  display: table;
  height: 100%;
  width: 100%; }
  #container #inner-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
    #container #inner-container #loading-popup {
      background: url(images/waitingpopup.gif);
      background-position: center;
      background-repeat: no-repeat;
      height: 50px;
      margin: 0 auto;
      width: 50px; }
    #container #inner-container #waiting-text {
      font-family: 'Open Sans','Helvetica','Arial',sans-serif;
      font-size: 13px;
      font-weight: lighter; }
