ul#password_policy_rules {
  font-size: 12px -2;
  color: var(--danger);
  list-style-type: none;
  margin-left: 110%;
  margin-top: -12%;
  padding: 0;
  white-space: nowrap; }
  ul#password_policy_rules span {
    margin-right: 5px; }

#password_policy_rules #p_policy_heading {
  color: var(--colorText);
  padding-bottom: 10px; }

#password-policy-rules #p_policy_length {
  margin-left: 47px; }

#password-policy-rules #p_policy_uppercase, #password-policy-rules #p_policy_lowercase {
  margin-right: -5px; }

#password-policy-rules #p_policy_number {
  margin-right: 4px; }

#password-policy-rules #p_policy_specialcharacter {
  margin-right: -44px; }

#password-policy-rules li span {
  font-size: 12px -2 !important;
  padding-right: 10px !important; }

.clear-error {
  color: var(--success); }

li span.su-tick {
  color: var(--success) !important;
  margin-right: 10px; }

li span.su-close {
  color: var(--danger);
  margin-right: 10px; }

@media (max-width: 989px) {
  ul#password_policy_rules {
    margin: 0 !important;
    padding-bottom: 70px; } }

@media (max-width: 410px) {
  ul#password_policy_rules #p_policy_heading {
    white-space: normal; } }

@media screen and (min-width: 1400px) {
  ul#password_policy_rules {
    font-size: 12px; } }

@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.admin-page-container {
  margin: 0;
  padding: 0;
  padding: 20px; }
  .admin-page-container .admin-page-header {
    border-bottom: 1px solid #eeeeee;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0; }
    .admin-page-container .admin-page-header .back-button {
      color: #808080;
      font-size: 20px;
      line-height: 1;
      margin-top: -3px;
      padding: 0px 10px 0px 0px; }
    .admin-page-container .admin-page-header .page-title {
      font-size: 14px;
      color: var(--colorText);
      font-weight: 700;
      padding-left: 0px;
      margin-bottom: 5px;
      margin-top: 0; }
    .admin-page-container .admin-page-header .page-description {
      color: #1a1a1a;
      margin: 0;
      padding: 0;
      font-size: 12px; }
  .admin-page-container .admin-page-body {
    background-color: var(--surface);
    border: 1px solid #eeeeee;
    border-radius: 4px;
    font-size: 12px;
    float: left;
    margin-bottom: 80px;
    margin-top: 0px;
    padding: 20px;
    position: relative;
    width: 100%; }
    .admin-page-container .admin-page-body .input-field-wrapper {
      margin-bottom: 15px; }
    .admin-page-container .admin-page-body .app-textbox-label {
      color: var(--colorText);
      font-size: 12px;
      font-weight: normal;
      line-height: 28px;
      margin: 0;
      text-align: right; }
    .admin-page-container .admin-page-body #txt_welcome_note {
      resize: vertical; }
    .admin-page-container .admin-page-body .info-text {
      color: #808080;
      font-size: 11px; }
    .admin-page-container .admin-page-body .field-container {
      margin-bottom: 8px;
      margin-top: 0px;
      padding-left: 10px; }
    .admin-page-container .admin-page-body .bootstrap-select {
      padding-left: 0; }
    .admin-page-container .admin-page-body .form-control {
      font-size: 12px;
      height: 28px; }
    .admin-page-container .admin-page-body .validation-errors, .admin-page-container .admin-page-body .validation-message {
      color: var(--danger);
      font-size: 10px; }
    .admin-page-container .admin-page-body .show-hide-password {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 9px; }
    .admin-page-container .admin-page-body .form-input-field button[data-toggle="dropdown"] {
      font-size: 11px; }
    .admin-page-container .admin-page-body .dropdown-menu a span {
      font-size: 11px; }
    .admin-page-container .admin-page-body .switch-align {
      margin-top: 8px;
      margin-left: -12px; }
    .admin-page-container .admin-page-body .saml-switch-align {
      margin-top: 8px; }
  .admin-page-container .admin-page-actions {
    margin-top: -50px;
    padding: 0 0 30px 0; }
    .admin-page-container .admin-page-actions .primary-button,
    .admin-page-container .admin-page-actions .secondary-button {
      margin-left: 15px; }
  @media screen and (max-width: 1040px) {
    .admin-page-container .admin-page-header {
      margin: 0 0 15px 0;
      padding: 0 0 10px 0; } }

@media screen and (min-width: 1400px) {
  .admin-page-container {
    padding: 25px; }
    .admin-page-container .admin-page-header .back-button {
      font-size: 22px; }
    .admin-page-container .admin-page-header .page-title {
      font-size: 16px; }
    .admin-page-container .admin-page-header .page-description {
      font-size: 14px; }
    .admin-page-container .admin-page-header .header {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .admin-page-container .admin-page-body {
      font-size: 14px; }
      .admin-page-container .admin-page-body .app-textbox-label {
        font-size: 14px;
        line-height: 32px; }
      .admin-page-container .admin-page-body .form-control {
        font-size: 14px;
        height: 32px; }
        .admin-page-container .admin-page-body .form-control .ums-lanuage-group {
          padding: 0 15px; }
      .admin-page-container .admin-page-body .validation-errors, .admin-page-container .admin-page-body .validation-message {
        font-size: 12px; }
      .admin-page-container .admin-page-body .form-input-field button[data-toggle="dropdown"] {
        font-size: 13px; }
      .admin-page-container .admin-page-body .form-input-field .dropdown-menu .text {
        font-size: 13px !important; }
  #edit-user-profile-master .admin-page-header .header .page-title {
    margin-top: 0px !important; } }

@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

#edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form {
  padding: 20px 0; }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .confirm-section, #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .new-section {
    margin-top: 20px; }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-label-div {
    right: 20px; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-label-div .password-label {
      font-size: 12px;
      font-weight: 400; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-label-div .mandatory {
      padding: 3px; }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table #fake-password {
    display: none; }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .form-control {
    height: 28px; }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-validate-holder {
    font-size: 12px -2;
    color: var(--danger); }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .show-hide-password {
    color: var(--colorText);
    cursor: pointer;
    margin-top: -1px;
    position: absolute;
    right: 12px;
    top: 10px;
    visibility: visible; }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .button-section {
    padding-top: 12px; }
    #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .button-section #change-password-cancel {
      margin-left: 10px; }
      #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .button-section #change-password-cancel:hover {
        color: var(--colorPrimary); }

@media (max-width: 390px) {
  #content-area #edit-profile-base-div #user-profile-master #change-password {
    padding: 0px; }
    #content-area #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-field {
      width: 100%; } }

@media screen and (max-width: 1024px) {
  #content-area {
    padding-left: 0px !important; }
    #content-area #edit-profile-base-div #user-profile-master {
      padding: 0px 20px 0px 20px; } }

@media screen and (max-width: 768px) {
  #content-area {
    padding-left: 0px !important; }
    #content-area #edit-profile-base-div #user-profile-master {
      padding: 0px 10px 0px 10px; }
      #content-area #edit-profile-base-div #user-profile-master #change-password .password-label-div {
        right: 0 !important; } }
      @media screen and (max-width: 768px) and (max-width: 767px) {
        #content-area #edit-profile-base-div #user-profile-master #change-password .password-label-div {
          text-align: left; } }

@media screen and (max-width: 768px) {
      #content-area #edit-profile-base-div #user-profile-master #change-password .password-field {
        margin-top: 5px;
        width: 50%;
        min-width: 250px; }
        #content-area #edit-profile-base-div #user-profile-master #change-password .password-field #password_policy_rules {
          padding-top: 7px; }
      #content-area #edit-profile-base-div #user-profile-master #change-password #change-password-content {
        margin: 20px 0px; }
        #content-area #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form {
          padding: 10px; } }

@media screen and (min-width: 1400px) {
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-label-div .password-label {
    font-size: 14px; }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .form-control {
    height: 32px; }
  #edit-profile-base-div #user-profile-master #change-password #change-password-content .change-password-form .user-profile-table .password-validate-holder {
    font-size: 12px;
    color: var(--danger); } }

@media screen and (max-width: 800px) {
  .top-margin {
    margin-top: 0px !important; } }
