/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0; }

::-ms-clear {
  width: 0;
  height: 0; }

* {
  outline: none !important; }

*:focus {
  outline: none !important; }

label {
  font-weight: normal; }

a, a:hover, a:focus {
  text-decoration: none !important;
  color: var(--colorPrimary); }

input[type=button], input[type=submit], button[type=submit] {
  padding: 0px !important; }

input.form-control:not(.input-block-level), .btn-group.form-control .btn.dropdown-toggle, .form-control.StripeElement {
  box-shadow: none !important;
  border: 1px solid #CCCCCC; }

.bs-searchbox .input-block-level.form-control {
  box-shadow: none !important;
  border: 1.5px solid #CCCCCC; }

input.form-control:focus:not(.input-block-level), .StripeElement--focus {
  outline: none !important;
  border: 1.5px solid #0565FF !important;
  box-shadow: none !important; }

input.ng-invalid.ng-touched.remove-border {
  outline: none !important;
  border: 1.5px solid #0565FF !important;
  box-shadow: none !important; }

input.ng-invalid.ng-touched:not(.ng-exclude):not(.e-control), input.ng-invalid.ng-empty.ng-dirty:not(.ng-exclude):not(.e-control), input.ng-invalid.ng-touched:focus:not(.ng-exclude):not(.e-control), .has-error input.form-control:not(.input-block-level), .has-error input.form-control:focus:not(.input-block-level), .has-error .btn-group.form-control .btn.dropdown-toggle, .StripeElement--invalid, input.ng-invalid.ng-invalid-pattern:focus, input.ng-invalid.ng-invalid-maxlength:focus, input.ng-invalid.ng-invalid-uniquednsnotactivated:focus, input.error-focus.ng-invalid.ng-untouched {
  outline: none !important;
  border: 1px solid var(--danger) !important;
  box-shadow: none !important; }

input[type="password"] {
  padding-right: 30px; }

.form-control[disabled] {
  cursor: default;
  background-color: #eeeeee !important; }

.su-eye {
  cursor: pointer;
  position: absolute; }

.material-checkbox {
  position: relative; }
  .material-checkbox label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox label:before, .material-checkbox label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox label:before {
      background: #FFFFFF;
      border: 1.5px solid #CCCCCC;
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox input[type="checkbox"]:checked + input + label:before {
      background: #0565FF;
      border: 1.5px solid #0565FF; }
    .material-checkbox input[type="checkbox"]:checked + input + label:after {
      border: 2px solid #FFFFFF;
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid #ff4800; }

.material-checkbox.selfhosted {
  position: relative; }
  .material-checkbox.selfhosted label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox.selfhosted label:before, .material-checkbox.selfhosted label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox.selfhosted label:before {
      background: #FFFFFF;
      border: 1.5px solid #CCCCCC;
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox.selfhosted input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox.selfhosted input[type="checkbox"]:checked + label:before {
      background: #0565FF;
      border: 1.5px solid #0565FF; }
    .material-checkbox.selfhosted input[type="checkbox"]:checked + label:after {
      border: 2px solid #FFFFFF;
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox.selfhosted input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid #007aff; }

span.su-password-tick {
  background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  font-size: 20px;
  display: inline-block;
  float: left;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%; }

.text-h1 {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 30px;
  color: #333333; }

.text-h2 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: #333333; }

.text-h4 {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #333333; }

.text-body {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: #333333; }

.text-bitter-h2 {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-bitter-h1 {
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-primary {
  color: #0565FF; }

#license-setting-header {
  text-align: center; }
  #license-setting-header .month-ends {
    display: none; }

.proceed-button {
  background: #ff4800;
  border: 1px solid #ff4800;
  border-radius: 5px;
  color: #FFFFFF;
  height: 32px;
  outline: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  display: block; }
  .proceed-button:hover, .proceed-button:focus {
    background-color: #fff1ef;
    border: none;
    color: #ff4800; }
  .proceed-button:disabled {
    background: #CCCCCC;
    cursor: default;
    border: none;
    color: #FFFFFF; }

.back-button {
  background: #FFFFFF;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  color: #333333;
  height: 32px;
  outline: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  display: block; }
  .back-button:hover, .back-button:focus {
    background: #F7F8F9; }
  .back-button:disabled {
    background: #cccccc;
    cursor: default; }

.validation-error {
  color: var(--danger);
  font-size: 10px;
  padding-top: 3px;
  text-align: left;
  line-height: 12px;
  display: inline-block; }

.stepper {
  width: 305px;
  height: 80px;
  padding: 30px 63px 14px 63px;
  margin: 0 auto; }
  .stepper .circle-container {
    float: left;
    position: relative; }
    .stepper .circle-container hr {
      float: left;
      width: 56px;
      margin: 7px 4px;
      border-top: 2px solid #B3B3B3; }
    .stepper .circle-container .circle {
      height: 14px;
      width: 14px;
      border: 2px solid #B3B3B3;
      border-radius: 50%;
      float: right; }
    .stepper .circle-container .activity-name {
      position: absolute;
      top: 20px;
      left: 57px;
      color: #B3B3B3;
      font-weight: 600; }
  .stepper .circle-container .activity-name.billing {
    left: 55px; }
  .stepper .circle-container.plan .activity-name {
    left: -5px; }
  .stepper .inprogress hr {
    border-top: 2px solid #0565FF;
    transition: 1s all ease; }
  .stepper .inprogress .circle {
    border: 2px solid #0565FF;
    transition: 2s all ease; }
  .stepper .inprogress .activity-name {
    color: #0565FF;
    transition: 3s all ease; }
  .stepper .completed hr {
    border-top: 2px solid #0565FF;
    transition: 1s all ease; }
  .stepper .completed .circle {
    border: 2px solid #0565FF;
    background: #0565FF;
    transition: 2s all ease; }
  .stepper .completed .activity-name {
    transition: 3s all ease; }

.display-none {
  display: none; }

.display-block {
  display: block; }
