.material-switch > input[type="checkbox"] {
  display: none; }

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px; }

.material-switch > label::before {
  background: black;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  margin-left: 15px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px; }

.material-switch > label::after {
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  margin-left: 15px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px; }

.material-switch > input[type="checkbox"]:checked + label::before {
  background: var(--colorPrimary);
  opacity: 0.5; }

.material-switch > input[type="checkbox"]:checked + label::after {
  background: var(--colorPrimary);
  left: 20px; }

@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.admin-page-container {
  margin: 0;
  padding: 0;
  padding: 20px; }
  .admin-page-container .admin-page-header {
    border-bottom: 1px solid #eeeeee;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0; }
    .admin-page-container .admin-page-header .back-button {
      color: #808080;
      font-size: 20px;
      line-height: 1;
      margin-top: -3px;
      padding: 0px 10px 0px 0px; }
    .admin-page-container .admin-page-header .page-title {
      font-size: 14px;
      color: var(--colorText);
      font-weight: 700;
      padding-left: 0px;
      margin-bottom: 5px;
      margin-top: 0; }
    .admin-page-container .admin-page-header .page-description {
      color: #1a1a1a;
      margin: 0;
      padding: 0;
      font-size: 12px; }
  .admin-page-container .admin-page-body {
    background-color: var(--surface);
    border: 1px solid #eeeeee;
    border-radius: 4px;
    font-size: 12px;
    float: left;
    margin-bottom: 80px;
    margin-top: 0px;
    padding: 20px;
    position: relative;
    width: 100%; }
    .admin-page-container .admin-page-body .input-field-wrapper {
      margin-bottom: 15px; }
    .admin-page-container .admin-page-body .app-textbox-label {
      color: var(--colorText);
      font-size: 12px;
      font-weight: normal;
      line-height: 28px;
      margin: 0;
      text-align: right; }
    .admin-page-container .admin-page-body #txt_welcome_note {
      resize: vertical; }
    .admin-page-container .admin-page-body .info-text {
      color: #808080;
      font-size: 11px; }
    .admin-page-container .admin-page-body .field-container {
      margin-bottom: 8px;
      margin-top: 0px;
      padding-left: 10px; }
    .admin-page-container .admin-page-body .bootstrap-select {
      padding-left: 0; }
    .admin-page-container .admin-page-body .form-control {
      font-size: 12px;
      height: 28px; }
    .admin-page-container .admin-page-body .validation-errors, .admin-page-container .admin-page-body .validation-message {
      color: var(--danger);
      font-size: 10px; }
    .admin-page-container .admin-page-body .show-hide-password {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 9px; }
    .admin-page-container .admin-page-body .form-input-field button[data-toggle="dropdown"] {
      font-size: 11px; }
    .admin-page-container .admin-page-body .dropdown-menu a span {
      font-size: 11px; }
    .admin-page-container .admin-page-body .switch-align {
      margin-top: 8px;
      margin-left: -12px; }
    .admin-page-container .admin-page-body .saml-switch-align {
      margin-top: 8px; }
  .admin-page-container .admin-page-actions {
    margin-top: -50px;
    padding: 0 0 30px 0; }
    .admin-page-container .admin-page-actions .primary-button,
    .admin-page-container .admin-page-actions .secondary-button {
      margin-left: 15px; }
  @media screen and (max-width: 1040px) {
    .admin-page-container .admin-page-header {
      margin: 0 0 15px 0;
      padding: 0 0 10px 0; } }

@media screen and (min-width: 1400px) {
  .admin-page-container {
    padding: 25px; }
    .admin-page-container .admin-page-header .back-button {
      font-size: 22px; }
    .admin-page-container .admin-page-header .page-title {
      font-size: 16px; }
    .admin-page-container .admin-page-header .page-description {
      font-size: 14px; }
    .admin-page-container .admin-page-header .header {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .admin-page-container .admin-page-body {
      font-size: 14px; }
      .admin-page-container .admin-page-body .app-textbox-label {
        font-size: 14px;
        line-height: 32px; }
      .admin-page-container .admin-page-body .form-control {
        font-size: 14px;
        height: 32px; }
        .admin-page-container .admin-page-body .form-control .ums-lanuage-group {
          padding: 0 15px; }
      .admin-page-container .admin-page-body .validation-errors, .admin-page-container .admin-page-body .validation-message {
        font-size: 12px; }
      .admin-page-container .admin-page-body .form-input-field button[data-toggle="dropdown"] {
        font-size: 13px; }
      .admin-page-container .admin-page-body .form-input-field .dropdown-menu .text {
        font-size: 13px !important; }
  #edit-user-profile-master .admin-page-header .header .page-title {
    margin-top: 0px !important; } }

#embed-settings-container .embed-settings-header .header-text {
  font-size: 14px; }

#embed-settings-container #embed-settings-body {
  padding-bottom: 5px; }
  #embed-settings-container #embed-settings-body .embed-authentication {
    margin-bottom: 30px; }
  #embed-settings-container #embed-settings-body .embed-enabled {
    margin-left: 12px; }
  #embed-settings-container #embed-settings-body .text-left {
    margin-right: 36px; }
  #embed-settings-container #embed-settings-body .secret-code-container {
    padding: 0; }
  #embed-settings-container #embed-settings-body .secret-code-notification {
    border-radius: 4px;
    display: none;
    font-size: 15px;
    margin-left: 14px;
    margin-top: 20px;
    padding: 5px 10px;
    width: 67%; }
  #embed-settings-container #embed-settings-body #secret-code-link {
    display: flex; }
    #embed-settings-container #embed-settings-body #secret-code-link #secret-code {
      border-radius: 4px 0 0 4px;
      box-shadow: none;
      display: inline-block;
      font-size: 14px;
      float: left;
      height: 28px;
      overflow: hidden;
      resize: none;
      width: 80%; }
    #embed-settings-container #embed-settings-body #secret-code-link #secret-code-copy {
      border-radius: 0 4px 4px 0;
      box-shadow: none;
      border-left: none;
      cursor: pointer;
      display: inline-block;
      float: left;
      font-size: 14px;
      height: 28px;
      padding-left: 16px;
      padding-top: 7px;
      width: 45px; }
    #embed-settings-container #embed-settings-body #secret-code-link .tooltip .tooltip-arrow {
      top: auto !important; }
    #embed-settings-container #embed-settings-body #secret-code-link #secret-code-copy.focusdiv {
      box-shadow: 0 0 2px 0 var(--colorPrimary);
      -moz-box-shadow: 0 0 2px 0 var(--colorPrimary);
      -webkit-box-shadow: 0 0 2px 0 var(--colorPrimary);
      border-top: 1px solid var(--colorPrimary);
      border-right: 1px solid var(--colorPrimary);
      border-bottom: 1px solid var(--colorPrimary); }
  #embed-settings-container #embed-settings-body button {
    height: 28px;
    line-height: 26px;
    width: 120px; }
  #embed-settings-container #embed-settings-body .import-file {
    margin-bottom: 30px; }
    #embed-settings-container #embed-settings-body .import-file .disabled {
      background-color: #eeeeee !important;
      border: 1px solid #cccccc !important;
      cursor: default !important; }
    #embed-settings-container #embed-settings-body .import-file .form-control, #embed-settings-container #embed-settings-body .import-file #filename {
      border-radius: 4px 0 0 4px;
      box-shadow: none;
      display: inline-block;
      float: left;
      height: 28px;
      overflow: hidden;
      resize: none;
      width: 80%;
      border: 1px solid #cccccc;
      background-color: var(--surface);
      cursor: default; }
    #embed-settings-container #embed-settings-body .import-file .input-group-addon {
      background-color: var(--surface);
      border: 1px solid #cccccc;
      height: 28px;
      line-height: 1;
      padding: 1px 1px 7px 1px;
      width: 45px;
      border-radius: 0 4px 4px 0; }
    #embed-settings-container #embed-settings-body .import-file input.upload-btn {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
      width: 0; }
    #embed-settings-container #embed-settings-body .import-file #import-validation-msg {
      color: var(--danger);
      cursor: pointer;
      float: left;
      position: absolute;
      margin-top: 15px; }
    #embed-settings-container #embed-settings-body .import-file .primary-button {
      height: 28px;
      line-height: 26px;
      width: 120px;
      margin-left: 6px; }
  #embed-settings-container #embed-settings-body .download-template {
    color: var(--colorPrimary);
    position: absolute; }

#embed-settings-container .tool-tip {
  display: inline;
  float: none;
  padding: 0px; }

#embed-settings-container .app-textbox-label {
  margin-left: 20px; }

#embed-settings-container #embed-enabled-loader-icon {
  position: absolute;
  top: -18px;
  left: 60px !important; }

#embed-settings-container #embed-info {
  cursor: pointer;
  margin-left: 5px; }

#embed-settings-container .popover .arrow {
  margin-left: -3px !important; }

#messageBox {
  letter-spacing: 0.3px; }
  #messageBox .message-content.messagebox-align {
    padding: 5px 0; }

#messageBox_wrapper .message-box-btn-holder {
  background: var(--background); }

#messageBox_wrapper .critical-action-button, #messageBox_wrapper .primary-button, #messageBox_wrapper .secondary-button {
  height: 28px;
  margin-left: 15px;
  line-height: 28px;
  width: 80px; }

#messageBox_wrapper .message-box-close {
  font-size: 11px;
  color: #4d4d4d;
  opacity: 1; }
  #messageBox_wrapper .message-box-close:hover {
    color: #1a1a1a; }
