@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.admin-page-container {
  margin: 0;
  padding: 0;
  padding: 20px; }
  .admin-page-container .admin-page-header {
    border-bottom: 1px solid #eeeeee;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0; }
    .admin-page-container .admin-page-header .back-button {
      color: #808080;
      font-size: 20px;
      line-height: 1;
      margin-top: -3px;
      padding: 0px 10px 0px 0px; }
    .admin-page-container .admin-page-header .page-title {
      font-size: 14px;
      color: var(--colorText);
      font-weight: 700;
      padding-left: 0px;
      margin-bottom: 5px;
      margin-top: 0; }
    .admin-page-container .admin-page-header .page-description {
      color: #1a1a1a;
      margin: 0;
      padding: 0;
      font-size: 12px; }
  .admin-page-container .admin-page-body {
    background-color: var(--surface);
    border: 1px solid #eeeeee;
    border-radius: 4px;
    font-size: 12px;
    float: left;
    margin-bottom: 80px;
    margin-top: 0px;
    padding: 20px;
    position: relative;
    width: 100%; }
    .admin-page-container .admin-page-body .input-field-wrapper {
      margin-bottom: 15px; }
    .admin-page-container .admin-page-body .app-textbox-label {
      color: var(--colorText);
      font-size: 12px;
      font-weight: normal;
      line-height: 28px;
      margin: 0;
      text-align: right; }
    .admin-page-container .admin-page-body #txt_welcome_note {
      resize: vertical; }
    .admin-page-container .admin-page-body .info-text {
      color: #808080;
      font-size: 11px; }
    .admin-page-container .admin-page-body .field-container {
      margin-bottom: 8px;
      margin-top: 0px;
      padding-left: 10px; }
    .admin-page-container .admin-page-body .bootstrap-select {
      padding-left: 0; }
    .admin-page-container .admin-page-body .form-control {
      font-size: 12px;
      height: 28px; }
    .admin-page-container .admin-page-body .validation-errors, .admin-page-container .admin-page-body .validation-message {
      color: var(--danger);
      font-size: 10px; }
    .admin-page-container .admin-page-body .show-hide-password {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 9px; }
    .admin-page-container .admin-page-body .form-input-field button[data-toggle="dropdown"] {
      font-size: 11px; }
    .admin-page-container .admin-page-body .dropdown-menu a span {
      font-size: 11px; }
    .admin-page-container .admin-page-body .switch-align {
      margin-top: 8px;
      margin-left: -12px; }
    .admin-page-container .admin-page-body .saml-switch-align {
      margin-top: 8px; }
  .admin-page-container .admin-page-actions {
    margin-top: -50px;
    padding: 0 0 30px 0; }
    .admin-page-container .admin-page-actions .primary-button,
    .admin-page-container .admin-page-actions .secondary-button {
      margin-left: 15px; }
  @media screen and (max-width: 1040px) {
    .admin-page-container .admin-page-header {
      margin: 0 0 15px 0;
      padding: 0 0 10px 0; } }

@media screen and (min-width: 1400px) {
  .admin-page-container {
    padding: 25px; }
    .admin-page-container .admin-page-header .back-button {
      font-size: 22px; }
    .admin-page-container .admin-page-header .page-title {
      font-size: 16px; }
    .admin-page-container .admin-page-header .page-description {
      font-size: 14px; }
    .admin-page-container .admin-page-header .header {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .admin-page-container .admin-page-body {
      font-size: 14px; }
      .admin-page-container .admin-page-body .app-textbox-label {
        font-size: 14px;
        line-height: 32px; }
      .admin-page-container .admin-page-body .form-control {
        font-size: 14px;
        height: 32px; }
        .admin-page-container .admin-page-body .form-control .ums-lanuage-group {
          padding: 0 15px; }
      .admin-page-container .admin-page-body .validation-errors, .admin-page-container .admin-page-body .validation-message {
        font-size: 12px; }
      .admin-page-container .admin-page-body .form-input-field button[data-toggle="dropdown"] {
        font-size: 13px; }
      .admin-page-container .admin-page-body .form-input-field .dropdown-menu .text {
        font-size: 13px !important; }
  #edit-user-profile-master .admin-page-header .header .page-title {
    margin-top: 0px !important; } }

#layout-body-loader-icon {
  position: absolute;
  top: 50%;
  left: 50% !important;
  margin-left: -27px;
  margin-top: -27px; }

.loader-icon {
  display: block; }

.loader-icon {
  left: 0px !important;
  position: relative;
  margin: 0px auto;
  width: 54px;
  height: 54px; }

.loader-icon .circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 54px;
  width: 54px;
  position: relative; }

.loader-icon .path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
  stroke: #007aff;
  stroke-linecap: square; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124; } }

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124; } }

#content-area {
  padding: 20px; }
  #content-area .status-button {
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    padding: 3px 16px;
    text-align: center;
    text-decoration: none; }
  #content-area #timezone-container {
    margin-top: -25px; }
    #content-area #timezone-container label {
      float: left;
      padding: 7px;
      margin-right: 15px; }
    #content-area #timezone-container #timezone-filter_wrapper {
      float: right; }
  #content-area #search-area {
    float: left;
    width: 100%; }
    #content-area #search-area .other-filters-collection {
      background: #f9f9f9;
      border: 1px solid #f2f2f2;
      overflow: hidden;
      padding: 20px; }
      #content-area #search-area .other-filters-collection .other-filters-collection-container {
        padding-left: 0px; }
        #content-area #search-area .other-filters-collection .other-filters-collection-container #search-container {
          width: 275px; }
          #content-area #search-area .other-filters-collection .other-filters-collection-container #search-container input, #content-area #search-area .other-filters-collection .other-filters-collection-container #search-container span {
            margin-top: 28px !important;
            height: 30px !important;
            border-radius: 0px;
            border-color: #cccccc; }
          #content-area #search-area .other-filters-collection .other-filters-collection-container #search-container input {
            width: 90.5%; }
        #content-area #search-area .other-filters-collection .other-filters-collection-container .filter-container {
          display: inline-block;
          margin-right: 20px; }
        #content-area #search-area .other-filters-collection .other-filters-collection-container .date-range-picker input {
          border: none;
          width: 100%;
          padding-bottom: 5px; }
    #content-area #search-area #appstatus_dropdown, #content-area #search-area #paymentstatus_dropdown, #content-area #search-area #plandroobdown_dropdown {
      border-left: 1px solid #cccccc !important; }
    #content-area #search-area label {
      font-weight: 600; }
  #content-area #tenant-info-tab .status-button {
    margin-left: 15px; }
  #content-area #tenant-resources-tab .admin-page-body .row {
    margin-bottom: 20px; }
  #content-area #tenant-resources-tab .admin-page-body .row-header span {
    font-size: 25px;
    padding-left: 20px; }
  #content-area #tenant-resources-tab .admin-page-body #users-count-div {
    width: 550px; }
  #content-area #tenant-resources-tab .admin-page-body .card-info {
    height: 200px;
    width: 350px;
    background-color: #fff;
    box-shadow: 0 0 20px #f2f2f2;
    border: 1px solid #f2f2f2;
    margin-left: 20px; }
    #content-area #tenant-resources-tab .admin-page-body .card-info .inner-card-info {
      height: 100%;
      /*.details {
                        .detail-div {
                            .label-tag {
                                font-weight: 600;
                            }

                            img {
                                width: auto;
                                height: auto;
                            }

                            #app-name-value {
                                margin-left: 20px;
                            }

                            .logo-div {
                                margin-top: 10px;
                            }

                            .logo-value {
                                max-width: 200px;
                                max-height: 60px;
                            }
                        }
                    }*/ }
      #content-area #tenant-resources-tab .admin-page-body .card-info .inner-card-info .main-div {
        padding: 20px 0 0 20px;
        border-bottom: 2px solid #f2f2f2;
        height: 63%; }
        #content-area #tenant-resources-tab .admin-page-body .card-info .inner-card-info .main-div .header {
          font-size: 24px; }
        #content-area #tenant-resources-tab .admin-page-body .card-info .inner-card-info .main-div .main-count-div {
          margin-top: 20px; }
          #content-area #tenant-resources-tab .admin-page-body .card-info .inner-card-info .main-div .main-count-div .main-count-value {
            font-size: 29px; }
          #content-area #tenant-resources-tab .admin-page-body .card-info .inner-card-info .main-div .main-count-div .main-count-label {
            font-size: 18px;
            margin-left: 10px; }
      #content-area #tenant-resources-tab .admin-page-body .card-info .inner-card-info .secondary-div {
        height: 37%; }
        #content-area #tenant-resources-tab .admin-page-body .card-info .inner-card-info .secondary-div .sec-element-div {
          height: 100%;
          padding: 15px 0 0 20px;
          border-right: 2px solid #f2f2f2; }
          #content-area #tenant-resources-tab .admin-page-body .card-info .inner-card-info .secondary-div .sec-element-div .sec-element-value {
            font-size: 18px;
            margin-bottom: 5px; }
        #content-area #tenant-resources-tab .admin-page-body .card-info .inner-card-info .secondary-div .border-right-element {
          border-right: 2px solid #f2f2f2; }
  #content-area #tenant-resources-tab .admin-page-body .single-card-info {
    height: 150px;
    width: 250px;
    background-color: white;
    box-shadow: 0 0 20px #f2f2f2;
    border: 1px solid #f2f2f2;
    margin-left: 20px; }
    #content-area #tenant-resources-tab .admin-page-body .single-card-info .inner-card-info {
      padding: 20px;
      height: 100%; }
      #content-area #tenant-resources-tab .admin-page-body .single-card-info .inner-card-info .header {
        font-size: 24px;
        margin-bottom: 20px; }
      #content-area #tenant-resources-tab .admin-page-body .single-card-info .inner-card-info .details-div {
        float: right; }
        #content-area #tenant-resources-tab .admin-page-body .single-card-info .inner-card-info .details-div .single-detail-value {
          font-size: 45px; }
  #content-area #tenant-resources-tab .admin-page-body .custom-branding-div .single-card-info .inner-card-info .header {
    font-size: 16px; }
  #content-area #tenant-resources-tab .admin-page-body .custom-branding-div .single-card-info .inner-card-info .details-div .single-detail-value {
    font-size: 24px; }
  #content-area #tenant-resources-tab .app-name-info {
    width: auto !important;
    max-width: 400px;
    min-height: 150px;
    height: auto !important;
    padding-bottom: 10px !important; }
  #content-area #tenant-resources-tab .tenant-activty-types-div {
    display: inline-block;
    width: 100%;
    background: white;
    margin-bottom: 30px; }
    #content-area #tenant-resources-tab .tenant-activty-types-div .tenant-activty-types {
      display: inline-block;
      padding: 20px;
      font-size: 16px; }
      #content-area #tenant-resources-tab .tenant-activty-types-div .tenant-activty-types .row-header span {
        font-size: 25px;
        padding-left: 0; }
      #content-area #tenant-resources-tab .tenant-activty-types-div .tenant-activty-types .item-table-div {
        padding: 5px 20px;
        box-shadow: 0 0 10px 2px #eeeeee;
        overflow-x: scroll;
        max-height: 300px; }
        #content-area #tenant-resources-tab .tenant-activty-types-div .tenant-activty-types .item-table-div table {
          width: 100%; }
          #content-area #tenant-resources-tab .tenant-activty-types-div .tenant-activty-types .item-table-div table td, #content-area #tenant-resources-tab .tenant-activty-types-div .tenant-activty-types .item-table-div table th {
            padding: 5px;
            border-bottom: 2px solid #f2f2f2; }
          #content-area #tenant-resources-tab .tenant-activty-types-div .tenant-activty-types .item-table-div table td:last-child, #content-area #tenant-resources-tab .tenant-activty-types-div .tenant-activty-types .item-table-div table th:last-child {
            border-right: none; }
          #content-area #tenant-resources-tab .tenant-activty-types-div .tenant-activty-types .item-table-div table tr:last-child td {
            border-bottom: none; }
  #content-area #plan-upgrade-popup-iframe {
    width: 100%;
    border: 0;
    background: white;
    height: 324px;
    float: left; }
  #content-area #application-information-container .admin-page-body {
    margin-bottom: 30px !important;
    border-top: 0 !important; }
  #content-area #application-information-container .license-info .su-close {
    color: gray;
    padding: 4px;
    border-radius: 50%; }
  #content-area #application-information-container .license-info .su-tick {
    color: #008000;
    padding: 4px;
    border-radius: 50%; }
  #content-area #application-information-container .license-info .current-plan {
    color: #7030A0;
    font-size: 16px; }
  #content-area #application-information-container .license-info .pricing-charge {
    font-size: 14px; }
  #content-area #application-information-container .license-info .pricing-charge-details {
    color: #00B753; }
  #content-area #application-information-container .license-info .license-feature {
    width: 100%;
    border-collapse: collapse; }
    #content-area #application-information-container .license-info .license-feature td {
      border: 1px solid #cccccc;
      padding: 5px;
      font-weight: 400; }
    #content-area #application-information-container .license-info .license-feature td:first-child {
      width: 75%; }
    #content-area #application-information-container .license-info .license-feature td:nth-child(2) {
      text-align: center; }
  #content-area #application-information-container .logdetails {
    padding: 2%; }
    #content-area #application-information-container .logdetails .row .date {
      text-align: right;
      width: 110px;
      position: relative;
      padding-top: 38px; }
      #content-area #application-information-container .logdetails .row .date i {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        height: 25px;
        width: 30px;
        text-align: center;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
        background: #f8f8f8; }
      #content-area #application-information-container .logdetails .row .date .text-green {
        color: #1ab394; }
      #content-area #application-information-container .logdetails .row .date small {
        font-size: 85%; }
    #content-area #application-information-container .logdetails .row .content {
      border-left: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: 80px; }
      #content-area #application-information-container .logdetails .row .content .logtype {
        font-weight: 900;
        font-size: 13px; }
      #content-area #application-information-container .logdetails .row .content p {
        padding-top: 12px; }
    #content-area #application-information-container .logdetails .row .no-top-border {
      border-top: 0 !important; }
  #content-area .form-input-field {
    margin-top: 6px; }
  #content-area .form-group {
    margin-bottom: 5px !important; }
  #content-area .copy {
    margin-top: 12px; }
    #content-area .copy i {
      border: 1px solid #cccccc;
      cursor: pointer;
      padding: 6px;
      background-color: #eee;
      opacity: 1;
      margin-top: 14px; }
  #content-area .tenant-status .activation-pending {
    background-color: #b8fdfe;
    color: #217ab7; }
  #content-area .tenant-status .payment-pending, #content-area .tenant-status .active-trial, #content-area .tenant-status .trial-not-started {
    background-color: #c4f0ff;
    color: #555abf; }
  #content-area .tenant-status .deployment-failed {
    background-color: #fdeebe;
    color: #c85d42; }
  #content-area .tenant-status .active {
    background-color: #d6facf;
    color: #159570; }
  #content-area .tenant-status .suspended {
    background-color: #fcf4b2;
    color: #ce7c3a; }
  #content-area .tenant-status .deleted, #content-area .tenant-status .deletion-pending {
    background-color: #ffe7cb;
    color: #c23d4b; }
  #content-area .tenant-status .deployment-inprogress {
    background-color: #e6ebf1;
    color: #525f7f; }
  #content-area .tenant-status .subscription-cancelled {
    background-color: #ffe0f5;
    color: #9251ac; }
  #content-area .payment-status .status-button {
    width: 80px !important; }
  #content-area .payment-status .success {
    background-color: #5cb85c; }
  #content-area .payment-status .failure {
    background-color: #d9534f; }
  #content-area .payment-status .refund {
    background-color: #f0ad4e; }
  #content-area .payment-status .cancel {
    background-color: #f0ad4e; }
  #content-area .product-types .bold-bi {
    background-color: #D7EBFF;
    color: #3C3DA6; }
  #content-area .product-types .bold-reports {
    background-color: #F6E6B9;
    color: #8F2700; }
  #content-area .product-types .bold-bi-onpremise {
    background-color: #FDE2DD;
    color: #9B0840; }
  #content-area .product-types .bold-reports-onpremise {
    background-color: #CBF4C9;
    color: #04593D; }
  #content-area .product-types .bold-sign {
    background-color: #CBF4C9;
    color: #04593D; }
  #content-area .options {
    width: 50%; }
  #content-area .pending {
    border-color: royalblue;
    color: royalblue !important; }
  #content-area #item-grid-container h2 {
    margin: 0; }
  #content-area #item-grid-container .grid-container {
    float: left;
    width: 100%; }
    #content-area #item-grid-container .grid-container #items .dropdown {
      position: absolute; }
      #content-area #item-grid-container .grid-container #items .dropdown .dropdown-menu {
        left: -174px;
        margin: 0;
        padding: 5px 0px;
        width: 170px; }
      #content-area #item-grid-container .grid-container #items .dropdown i {
        vertical-align: middle; }
      #content-area #item-grid-container .grid-container #items .dropdown .su-nav-settings:before {
        color: #333; }
    #content-area #item-grid-container .grid-container #items .customer-name, #content-area #item-grid-container .grid-container #items .customer-email {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis; }
    #content-area #item-grid-container .grid-container #items .internal-icon {
      height: 20px;
      width: 20px; }
    #content-area #item-grid-container .grid-container #items .tooltip-inner {
      max-width: none; }
    #content-area #item-grid-container .grid-container #items .customer-name {
      margin-bottom: 3px; }
    #content-area #item-grid-container .grid-container #items .customer-email {
      color: #808080; }
    #content-area #item-grid-container .grid-container #items .plan {
      border-radius: 5px;
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      padding: 3px 16px;
      text-align: center;
      text-decoration: none; }
      #content-area #item-grid-container .grid-container #items .plan.plan-1 {
        background-color: #e6e6e6;
        color: gray; }
      #content-area #item-grid-container .grid-container #items .plan.plan-2 {
        background-color: #eceaf3;
        color: #5b528c; }
      #content-area #item-grid-container .grid-container #items .plan.plan-3 {
        background-color: #a3d5ff;
        color: #003d70; }
      #content-area #item-grid-container .grid-container #items .plan.plan-4 {
        background-color: #e4caf4;
        color: #521973; }
      #content-area #item-grid-container .grid-container #items .plan.plan-5 {
        background-color: #c1df8e;
        color: #5d7e23; }
      #content-area #item-grid-container .grid-container #items .plan.plan-6 {
        background-color: #fffaea;
        color: #eaaf00; }
      #content-area #item-grid-container .grid-container #items .plan.plan-7 {
        background-color: #ffb699;
        color: #FF4800; }
      #content-area #item-grid-container .grid-container #items .plan.plan-8 {
        background-color: #deb9c3;
        color: #221015; }
      #content-area #item-grid-container .grid-container #items .plan.plan-9 {
        background-color: #fae0ef;
        color: #BB2079; }
      #content-area #item-grid-container .grid-container #items .plan.plan-10 {
        background-color: #e1f6e9;
        color: #31A75F; }
      #content-area #item-grid-container .grid-container #items .plan.plan-11 {
        background-color: #bccbf9;
        color: #1034A6; }
      #content-area #item-grid-container .grid-container #items .plan.plan-12 {
        background-color: #ddd5cf;
        color: #0c0a08; }
      #content-area #item-grid-container .grid-container #items .plan.plan-13 {
        background-color: #ddd5cf;
        color: #483C32; }
      #content-area #item-grid-container .grid-container #items .plan.plan-14 {
        background-color: #fdd2ed;
        color: #F541B2; }
      #content-area #item-grid-container .grid-container #items .plan.plan-15 {
        background-color: #d6b6e1;
        color: #3d1d48; }
      #content-area #item-grid-container .grid-container #items .plan.plan-16 {
        background-color: #f0d4fd;
        color: #8E08CA; }
      #content-area #item-grid-container .grid-container #items .plan.plan-17 {
        background-color: #b5fbd1;
        color: #0AA748; }
      #content-area #item-grid-container .grid-container #items .plan.plan-18 {
        background-color: #d1d1e0;
        color: #666699; }
      #content-area #item-grid-container .grid-container #items .plan.plan-19 {
        background-color: #a6fff5;
        color: #004039; }
      #content-area #item-grid-container .grid-container #items .plan.plan-20 {
        background-color: #b9e2ff;
        color: #003153; }
      #content-area #item-grid-container .grid-container #items .plan.plan-21 {
        background-color: #fcdff1;
        color: #C71585; }
      #content-area #item-grid-container .grid-container #items .plan.plan-22 {
        background-color: #fbfdfb;
        color: #679267; }
      #content-area #item-grid-container .grid-container #items .plan.plan-23 {
        background-color: #d6e7f4;
        color: #2A6EA1; }
      #content-area #item-grid-container .grid-container #items .plan.plan-24 {
        background-color: #efe1b5;
        color: #886f1d; }
      #content-area #item-grid-container .grid-container #items .plan.plan-25 {
        background-color: #f4eaf0;
        color: #914E75; }
      #content-area #item-grid-container .grid-container #items .plan.plan-26 {
        background-color: #c1dbf4;
        color: #3E8EDE; }
      #content-area #item-grid-container .grid-container #items .plan.plan-27 {
        background-color: #6fc8f0;
        color: #093F57; }
      #content-area #item-grid-container .grid-container #items .plan.plan-28 {
        background-color: #8fd8c2;
        color: #1B4D3E; }
      #content-area #item-grid-container .grid-container #items .plan.plan-29 {
        background-color: white;
        color: #fabebe; }
      #content-area #item-grid-container .grid-container #items .plan.plan-30 {
        background-color: #f5f2d9;
        color: #d4c861; }
      #content-area #item-grid-container .grid-container #items .plan.plan-31 {
        background-color: #b7e4f0;
        color: #38b4d6; }
      #content-area #item-grid-container .grid-container #items .plan.plan-32 {
        background-color: white;
        color: #cc8de0; }
      #content-area #item-grid-container .grid-container #items .plan.plan-33 {
        background-color: #faddf3;
        color: #e856c6; }
      #content-area #item-grid-container .grid-container #items .plan.plan-34 {
        background-color: #f0f7f4;
        color: #8cc2a8; }
      #content-area #item-grid-container .grid-container #items .plan.plan-35 {
        background-color: #c2ccf2;
        color: #4363d8; }
      #content-area #item-grid-container .grid-container #items .plan.plan-36 {
        background-color: #d3f5fc;
        color: #42d4f4; }
      #content-area #item-grid-container .grid-container #items .plan.plan-37 {
        background-color: #e7f9ba;
        color: #bfef45; }
      #content-area #item-grid-container .grid-container #items .plan.plan-38 {
        background-color: #fcdbc3;
        color: #f58231; }
      #content-area #item-grid-container .grid-container #items .plan.plan-39 {
        background-color: #ffff1a;
        color: #808000; }
      #content-area #item-grid-container .grid-container #items .plan.plan-40 {
        background-color: #a3d5d0;
        color: #469990; }
      #content-area #item-grid-container .grid-container #items .plan.plan-41 {
        background-color: #ffe6e6;
        color: #800000; }
      #content-area #item-grid-container .grid-container #items .plan.plan-42 {
        background-color: #f8fbf0;
        color: #bfd979; }
    #content-area #item-grid-container .grid-container #items .links {
      margin-bottom: 0; }
      #content-area #item-grid-container .grid-container #items .links li .link-icon {
        height: 14px;
        padding-left: 10px;
        padding-right: 10px;
        width: 34px; }
    #content-area #item-grid-container .grid-container #items .mobile-info .float-left {
      float: left; }
    #content-area #item-grid-container .grid-container #items .mobile-info .float-right {
      float: right; }
    #content-area #item-grid-container .grid-container #items .mobile-info .info-row {
      float: left;
      display: block;
      margin: 0 0 3px 0;
      width: 100%; }
      #content-area #item-grid-container .grid-container #items .mobile-info .info-row.info-name-status .info-name {
        color: #607A93; }
      #content-area #item-grid-container .grid-container #items .mobile-info .info-row.info-name-status .info-status .status-button {
        border-radius: 4px;
        font-size: 9px;
        padding: 2px 10px;
        width: auto; }
      #content-area #item-grid-container .grid-container #items .mobile-info .info-row.info-email {
        color: #607A93; }
  #content-area #item-action iframe {
    border: 0;
    float: left;
    height: 275px;
    width: 100%; }
  #content-area #more-filters-button {
    margin-top: 30px !important;
    height: 32px !important;
    border-radius: 0px;
    width: 180px;
    float: right !important;
    cursor: default;
    border: 1px solid #c8c8c8; }
  #content-area .su-dropdown-arrow {
    float: right;
    margin-top: 10px;
    font-size: 9px;
    color: #686969; }
  #content-area #filter-header {
    font-size: 15px;
    margin-left: 15px;
    padding-bottom: 7px;
    border-bottom: .2px solid #c8c8c8; }
  #content-area .filter-action {
    float: right; }
  #content-area #reset-filters {
    float: right;
    cursor: pointer; }
  #content-area #more-filters-container {
    overflow: visible;
    padding: 25px 25px 25px 10px;
    position: absolute;
    z-index: 1;
    background-color: white;
    right: 0;
    border: 1px solid #c8c8c8;
    width: 345px;
    top: 60px;
    margin-top: 5px; }
    #content-area #more-filters-container #start-timepicker_wrapper {
      width: unset; }
    #content-area #more-filters-container #end-timepicker_wrapper {
      width: unset; }
    #content-area #more-filters-container .filter-row {
      padding-top: 15px !important; }
    #content-area #more-filters-container .secondary-button {
      margin-left: 10px; }

#payment-activity-tab .payment-elipsis {
  white-space: nowrap;
  width: 21m;
  overflow: hidden;
  text-overflow: ellipsis; }

#refresh-resources {
  display: none;
  float: right;
  margin-top: 3px; }
  #refresh-resources span {
    background-color: var(--colorPrimary);
    padding: 7px 10px;
    color: white;
    border-radius: 3px;
    cursor: pointer; }

.e-ddl-popup .e-search, .e-ddl-popup .e-in-wrap {
  height: 34px !important; }

.e-ddl-popup .e-search {
  border-bottom: 1px solid #ddd !important; }

.e-ddl-popup .e-in-wrap {
  border: none !important;
  margin: 0 !important; }

.e-ddl-popup #plan-filter_popup .e-content .e-ul .e-category {
  background-color: #ddd; }

.e-daterangewidget .e-select, .e-ddl .e-select {
  border-left-color: #C8C8C8; }

#theme {
  margin-left: -5px;
  font-size: 14px; }

#switch {
  margin-left: 5px; }

#checkallow {
  margin-left: -5px; }

#allow {
  margin-left: -5px; }

.primary-button {
  background: #0565ff;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  min-width: 90px;
  outline: none;
  text-align: center;
  padding: 0 15px;
  border: 1px solid #0450cc; }

.pull-right {
  float: right !important; }

.secondary-button {
  margin-left: 15px; }

.secondary-button {
  background: #fff;
  border: 0;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  min-width: 90px;
  outline: none;
  text-align: center;
  padding: 0 15px;
  border: 1px solid #b3b3b3; }

.pull-right {
  float: right !important; }

#add-logs-button {
  background: var(--colorPrimary);
  border: 1px solid #0851d0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  outline: none;
  position: absolute;
  right: 3%;
  text-align: center;
  top: 2%;
  width: 90px; }

#logs-submit-button {
  background: var(--colorPrimary);
  border: 1px solid #0851d0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  min-width: 90px;
  outline: none;
  padding: 0 15px;
  text-align: center;
  width: 90px; }
  #logs-submit-button:disabled {
    background: white;
    border: 1px solid #0851d0;
    color: #333; }

#log-comments {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: -40px; }

#hidden {
  margin-left: -5px; }

#log-comments-text {
  margin-top: 15px;
  margin-bottom: 15px; }

#text-area-div {
  margin-top: 15px;
  margin-bottom: 15px; }

#footer-dialog {
  background-color: #f9f9f9; }

#header-dialog {
  background-color: #f9f9f9; }

#logs-icon {
  font-size: 20px; }

@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.additional-content {
  display: none;
  text-align: center;
  margin-bottom: 40px; }
  .additional-content #action-btn {
    color: var(--colorPrimary);
    cursor: pointer;
    display: inline-block; }
    .additional-content #action-btn span {
      font-size: 12px; }

#no-more-notification-info, #error-notification-info {
  display: none; }
  #no-more-notification-info h3, #error-notification-info h3 {
    font-size: 14px !important; }

#no-notification-info {
  display: none; }

#action-btn_WaitingPopup, #loader-div_WaitingPopup {
  background-color: transparent; }

#tenant-info-tab .admin-page-body .tenant-status .status-button {
  width: auto; }

#tenant-activity-tab .admin-page-body .filters-container {
  background: #fbfbfb;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  padding: 20px;
  margin: 25px 20px 0 20px; }
  #tenant-activity-tab .admin-page-body .filters-container .filter-item-div {
    display: inline-block;
    margin-right: 21px; }
  #tenant-activity-tab .admin-page-body .filters-container .reset-button-div {
    top: -12px;
    position: relative;
    margin-left: 10px; }
    #tenant-activity-tab .admin-page-body .filters-container .reset-button-div .reset-filters {
      height: 29px;
      padding: 0 15px;
      background: #179bd7;
      border: none;
      border-radius: 3px;
      color: #fff; }
  #tenant-activity-tab .admin-page-body .filters-container #loader-div {
    width: 30px;
    height: 30px; }

#tenant-activity-tab .admin-page-body #activity-feed-body {
  padding: 2%; }
  #tenant-activity-tab .admin-page-body #activity-feed-body .row {
    margin: 0 0 0 30px; }
    #tenant-activity-tab .admin-page-body #activity-feed-body .row .content {
      border-left: 1px solid #eeeeee;
      display: table;
      padding: 10px 0; }
      #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .logtype {
        font-weight: 900;
        font-size: 13px; }
      #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .item-icon.su {
        font-size: 18px;
        position: relative;
        top: 10px;
        left: -9px;
        background: white;
        padding: 5px 0px; }
        #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .item-icon.su:before {
          color: #686969; }
      #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .event-icon.su {
        font-size: 14px;
        position: relative;
        top: 7px;
        left: 20px;
        background: black;
        border-radius: 50%;
        padding: 4px; }
        #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .event-icon.su:before {
          color: #fff; }
      #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .feed-content {
        display: table-cell;
        vertical-align: middle;
        left: 40px;
        position: relative; }
        #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .feed-content p {
          display: inline-block;
          padding: 0;
          margin: 0;
          width: 300px;
          border-radius: 3px;
          color: #333;
          font-weight: 600; }
        #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .feed-content .date {
          font-size: 12px; }
  #tenant-activity-tab .admin-page-body #activity-feed-body .date-row .content {
    border-left: none;
    padding: 20px 0; }
    #tenant-activity-tab .admin-page-body #activity-feed-body .date-row .content span.date-header {
      margin-left: 25px;
      font-weight: 600;
      font-size: 18px;
      padding: 10px; }
    #tenant-activity-tab .admin-page-body #activity-feed-body .date-row .content .date-split-line:before {
      width: 30%;
      border-top: 1px solid #e7eaec;
      content: "";
      position: absolute;
      margin-top: 10px;
      margin-left: 10px; }
  #tenant-activity-tab .admin-page-body #activity-feed-body .feed-added .content .event-icon.su {
    background-color: #5cb85c; }
  #tenant-activity-tab .admin-page-body #activity-feed-body .feed-deleted .content .event-icon.su {
    background-color: #f0ad4e; }
  #tenant-activity-tab .admin-page-body #activity-feed-body .feed-failure .content .event-icon.su {
    background-color: #f7625e; }
  #tenant-activity-tab .admin-page-body #activity-feed-body .feed-edited .content .event-icon.su {
    background-color: #2ca1f1; }

#record-summary-div {
  position: fixed;
  top: 380px;
  left: 600px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease; }
  #record-summary-div #records-summary {
    display: inline-block;
    background: #f7f7f7;
    width: 95%; }
    #record-summary-div #records-summary .record-summary-header {
      font-size: 22px;
      font-weight: 600;
      padding: 5px 10px; }
    #record-summary-div #records-summary .record-count-div {
      padding: 3px 20px;
      margin: 0 20px 0 0;
      display: inline-block; }
      #record-summary-div #records-summary .record-count-div .item-type {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px; }
      #record-summary-div #records-summary .record-count-div .record-line {
        display: inline-block;
        padding: 10px;
        background: white;
        margin: 0 10px 10px 0;
        box-shadow: 0 0 1px #a09797;
        border-radius: 1px;
        text-align: center;
        min-width: 125px; }
        #record-summary-div #records-summary .record-count-div .record-line .item-event {
          text-transform: uppercase;
          color: #999; }
        #record-summary-div #records-summary .record-count-div .record-line span.item-count {
          font-size: 20px; }

#record-count_popup_list_wrapper, #event-filter_popup_list_wrapper, #status-filter_popup_list_wrapper {
  border-color: #C8C8C8; }

.scroll-class {
  top: 100px !important; }

#loader-div_WaitingPopup div svg circle {
  r: 13 !important; }

@media screen and (max-width: 1400px) {
  #record-summary-div {
    left: 500px; }
    #record-summary-div #records-summary .record-summary-header {
      font-size: 18px; }
    #record-summary-div #records-summary .record-count-div .item-type {
      font-size: 16px; }
    #record-summary-div #records-summary .record-count-div .record-line {
      padding: 5px;
      min-width: 75px; }
      #record-summary-div #records-summary .record-count-div .record-line .event-icon {
        font-size: 12px; }
      #record-summary-div #records-summary .record-count-div .record-line .item-event {
        font-size: 10px; }
      #record-summary-div #records-summary .record-count-div .record-line span.item-count {
        font-size: 16px; }
  .scroll-class {
    top: 75px !important; } }

table {
  table-layout: fixed;
  width: 100%; }

table td {
  word-wrap: break-word;
  /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;
  /* Renamed property in CSS3 draft spec */ }

td {
  padding: 10px;
  border: 1px solid #bbb;
  font-size: 12px; }

td:first-child {
  font-weight: 600;
  width: 10%; }
