@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.admin-page-container {
  margin: 0;
  padding: 0;
  padding: 20px; }
  .admin-page-container .admin-page-header {
    border-bottom: 1px solid #eeeeee;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0; }
    .admin-page-container .admin-page-header .back-button {
      color: #808080;
      font-size: 20px;
      line-height: 1;
      margin-top: -3px;
      padding: 0px 10px 0px 0px; }
    .admin-page-container .admin-page-header .page-title {
      font-size: 14px;
      color: var(--colorText);
      font-weight: 700;
      padding-left: 0px;
      margin-bottom: 5px;
      margin-top: 0; }
    .admin-page-container .admin-page-header .page-description {
      color: #1a1a1a;
      margin: 0;
      padding: 0;
      font-size: 12px; }
  .admin-page-container .admin-page-body {
    background-color: var(--surface);
    border: 1px solid #eeeeee;
    border-radius: 4px;
    font-size: 12px;
    float: left;
    margin-bottom: 80px;
    margin-top: 0px;
    padding: 20px;
    position: relative;
    width: 100%; }
    .admin-page-container .admin-page-body .input-field-wrapper {
      margin-bottom: 15px; }
    .admin-page-container .admin-page-body .app-textbox-label {
      color: var(--colorText);
      font-size: 12px;
      font-weight: normal;
      line-height: 28px;
      margin: 0;
      text-align: right; }
    .admin-page-container .admin-page-body #txt_welcome_note {
      resize: vertical; }
    .admin-page-container .admin-page-body .info-text {
      color: #808080;
      font-size: 11px; }
    .admin-page-container .admin-page-body .field-container {
      margin-bottom: 8px;
      margin-top: 0px;
      padding-left: 10px; }
    .admin-page-container .admin-page-body .bootstrap-select {
      padding-left: 0; }
    .admin-page-container .admin-page-body .form-control {
      font-size: 12px;
      height: 28px; }
    .admin-page-container .admin-page-body .validation-errors, .admin-page-container .admin-page-body .validation-message {
      color: var(--danger);
      font-size: 10px; }
    .admin-page-container .admin-page-body .show-hide-password {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 9px; }
    .admin-page-container .admin-page-body .form-input-field button[data-toggle="dropdown"] {
      font-size: 11px; }
    .admin-page-container .admin-page-body .dropdown-menu a span {
      font-size: 11px; }
    .admin-page-container .admin-page-body .switch-align {
      margin-top: 8px;
      margin-left: -12px; }
    .admin-page-container .admin-page-body .saml-switch-align {
      margin-top: 8px; }
  .admin-page-container .admin-page-actions {
    margin-top: -50px;
    padding: 0 0 30px 0; }
    .admin-page-container .admin-page-actions .primary-button,
    .admin-page-container .admin-page-actions .secondary-button {
      margin-left: 15px; }
  @media screen and (max-width: 1040px) {
    .admin-page-container .admin-page-header {
      margin: 0 0 15px 0;
      padding: 0 0 10px 0; } }

@media screen and (min-width: 1400px) {
  .admin-page-container {
    padding: 25px; }
    .admin-page-container .admin-page-header .back-button {
      font-size: 22px; }
    .admin-page-container .admin-page-header .page-title {
      font-size: 16px; }
    .admin-page-container .admin-page-header .page-description {
      font-size: 14px; }
    .admin-page-container .admin-page-header .header {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .admin-page-container .admin-page-body {
      font-size: 14px; }
      .admin-page-container .admin-page-body .app-textbox-label {
        font-size: 14px;
        line-height: 32px; }
      .admin-page-container .admin-page-body .form-control {
        font-size: 14px;
        height: 32px; }
        .admin-page-container .admin-page-body .form-control .ums-lanuage-group {
          padding: 0 15px; }
      .admin-page-container .admin-page-body .validation-errors, .admin-page-container .admin-page-body .validation-message {
        font-size: 12px; }
      .admin-page-container .admin-page-body .form-input-field button[data-toggle="dropdown"] {
        font-size: 13px; }
      .admin-page-container .admin-page-body .form-input-field .dropdown-menu .text {
        font-size: 13px !important; }
  #edit-user-profile-master .admin-page-header .header .page-title {
    margin-top: 0px !important; } }

@charset "UTF-8";
@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.e-grid:not(.item-grid) {
  border-color: #e6e6e6; }
  .e-grid:not(.item-grid) .e-gridheader {
    background: var(--background);
    color: var(--colorText);
    border-bottom-color: #e6e6e6;
    border-top-color: #e6e6e6; }
    .e-grid:not(.item-grid) .e-gridheader .e-headercell {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      background: var(--background); }
      .e-grid:not(.item-grid) .e-gridheader .e-headercell .e-headercelldiv, .e-grid:not(.item-grid) .e-gridheader .e-headercell .e-headercelldiv * {
        color: var(--colorText);
        font-size: 13px;
        letter-spacing: 0.3px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis; }
  .e-grid:not(.item-grid) .e-gridcontent {
    background: #fff;
    color: var(--colorText);
    font-size: 12px; }
    .e-grid:not(.item-grid) .e-gridcontent tr {
      height: 40px; }
      .e-grid:not(.item-grid) .e-gridcontent tr.e-hover td {
        background: #eeeeee;
        color: var(--colorText); }
      .e-grid:not(.item-grid) .e-gridcontent tr td {
        padding-left: 15px;
        font-size: 13px; }
        .e-grid:not(.item-grid) .e-gridcontent tr td.e-rowcell {
          padding-left: 15px;
          overflow: hidden;
          width: 100%; }
        .e-grid:not(.item-grid) .e-gridcontent tr td.e-templatecell .grid-content {
          display: inline-block;
          line-height: 17px;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          float: left; }
        .e-grid:not(.item-grid) .e-gridcontent tr td.e-templatecell a {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .e-grid:not(.item-grid) .e-gridcontent tr td.e-rowcell, .e-grid:not(.item-grid) .e-gridcontent tr td.e-templatecell {
          text-overflow: ellipsis; }
        .e-grid:not(.item-grid) .e-gridcontent tr td.e-tabletd {
          padding-left: 0; }
        .e-grid:not(.item-grid) .e-gridcontent tr td a {
          color: var(--colorPrimary);
          overflow: hidden;
          text-overflow: ellipsis; }
        .e-grid:not(.item-grid) .e-gridcontent tr td .option-icon {
          border-radius: 5px;
          border: none;
          cursor: pointer;
          padding: 4px 2px;
          position: absolute;
          top: -12px !important;
          left: 5px; }
        .e-grid:not(.item-grid) .e-gridcontent tr td .grid-directory-icon {
          padding: 0 0 0 15px;
          color: #808080;
          line-height: 17px;
          display: block;
          float: left; }
        .e-grid:not(.item-grid) .e-gridcontent tr td.emptyrecord {
          padding: 10px; }
        .e-grid:not(.item-grid) .e-gridcontent tr td.e-active {
          background: #dbe9ff;
          color: var(--colorText); }
          .e-grid:not(.item-grid) .e-gridcontent tr td.e-active a {
            color: var(--colorPrimary); }
          .e-grid:not(.item-grid) .e-gridcontent tr td.e-active .grid-directory-icon {
            color: var(--colorText); }
          .e-grid:not(.item-grid) .e-gridcontent tr td.e-active .dropdown.open .option-icon, .e-grid:not(.item-grid) .e-gridcontent tr td.e-active .dropup.open .option-icon {
            border: 1px solid #333; }
    .e-grid:not(.item-grid) .e-gridcontent tr a.delete-user, .e-grid:not(.item-grid) .e-gridcontent tr .delete-permission, .e-grid:not(.item-grid) .e-gridcontent tr .delete-group-permission, .e-grid:not(.item-grid) .e-gridcontent tr .permission-delete {
      display: none !important; }
    .e-grid:not(.item-grid) .e-gridcontent tr.e-hover a.delete-user, .e-grid:not(.item-grid) .e-gridcontent tr.e-hover .delete-permission, .e-grid:not(.item-grid) .e-gridcontent tr.e-hover .delete-group-permission, .e-grid:not(.item-grid) .e-gridcontent tr.e-hover .permission-delete {
      color: var(--danger) !important;
      display: inline-block !important;
      font-weight: 400; }
      .e-grid:not(.item-grid) .e-gridcontent tr.e-hover a.delete-user .su, .e-grid:not(.item-grid) .e-gridcontent tr.e-hover .delete-permission .su, .e-grid:not(.item-grid) .e-gridcontent tr.e-hover .delete-group-permission .su, .e-grid:not(.item-grid) .e-gridcontent tr.e-hover .permission-delete .su {
        font-size: 12px; }
      .e-grid:not(.item-grid) .e-gridcontent tr.e-hover a.delete-user .su-close, .e-grid:not(.item-grid) .e-gridcontent tr.e-hover .delete-permission .su-close, .e-grid:not(.item-grid) .e-gridcontent tr.e-hover .delete-group-permission .su-close, .e-grid:not(.item-grid) .e-gridcontent tr.e-hover .permission-delete .su-close {
        color: var(--danger);
        font-size: 10px; }
    .e-grid:not(.item-grid) .e-gridcontent .dropdown {
      position: absolute;
      right: 35px; }
      .e-grid:not(.item-grid) .e-gridcontent .dropdown .dropdown-menu {
        left: -172px;
        width: 190px; }
  .e-grid:not(.item-grid) .e-pager {
    background: var(--background);
    border-color: #e6e6e6;
    color: var(--colorPrimary);
    display: block;
    height: 45px;
    padding: 0px; }
    .e-grid:not(.item-grid) .e-pager .e-pagercontainer, .e-grid:not(.item-grid) .e-pager .e-parentmsgbar {
      display: table-cell;
      vertical-align: middle;
      padding: 14px 12px 14px 20px; }
    .e-grid:not(.item-grid) .e-pager .e-pagercontainer {
      background: var(--background);
      border: none;
      height: 17px; }
      .e-grid:not(.item-grid) .e-pager .e-pagercontainer .e-icon, .e-grid:not(.item-grid) .e-pager .e-pagercontainer .e-link {
        background: transparent;
        border: none;
        float: left;
        font-size: 12px;
        padding: 0px; }
      .e-grid:not(.item-grid) .e-pager .e-pagercontainer .e-icon {
        font-family: "Server" !important;
        font-size: 17px;
        margin-top: -4px;
        color: #4d4d4d; }
        .e-grid:not(.item-grid) .e-pager .e-pagercontainer .e-icon:hover {
          color: #1a1a1a; }
      .e-grid:not(.item-grid) .e-pager .e-pagercontainer .e-mediaback:before {
        content: ""; }
      .e-grid:not(.item-grid) .e-pager .e-pagercontainer .e-mediaforward:before {
        content: ""; }
      .e-grid:not(.item-grid) .e-pager .e-pagercontainer .e-arrowheadleft-2x:before {
        content: ""; }
      .e-grid:not(.item-grid) .e-pager .e-pagercontainer .e-arrowheadright-2x:before {
        content: ""; }
      .e-grid:not(.item-grid) .e-pager .e-pagercontainer .e-numericcontainer {
        float: left;
        margin-top: 0px; }
        .e-grid:not(.item-grid) .e-pager .e-pagercontainer .e-numericcontainer .e-link {
          background: transparent;
          color: var(--colorPrimary); }
        .e-grid:not(.item-grid) .e-pager .e-pagercontainer .e-numericcontainer .e-currentitem {
          color: var(--colorText); }
    .e-grid:not(.item-grid) .e-pager .e-parentmsgbar {
      color: var(--colorText);
      font-size: 12px;
      float: none; }
  .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] {
    border-radius: 4px; }
    .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer {
      font-family: var(--font-family) !important; }
      .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-select {
        border-left: 0; }
        .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-select:hover {
          background: var(--colorPrimary); }
          .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-select:hover .e-icon {
            color: var(--colorOnPrimary); }
      .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-input, .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-caption {
        font-size: 12px; }
      .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-input {
        border-radius: 4px; }
      .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-filter {
        background: var(--colorPrimary);
        border: 0;
        border-radius: 4px;
        color: var(--colorOnPrimary);
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        height: 28px;
        line-height: 28px;
        min-width: 90px;
        outline: none;
        text-align: center;
        min-width: 75px; }
        .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-filter {
          padding: 0 15px; }
        .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-filter:hover, .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-filter:focus {
          background: #007aff;
          color: var(--colorOnPrimary); }
        .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-filter:disabled {
          background: #eeeeee;
          border: 1px solid #cccccc;
          color: #999999; }
      .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-clear {
        background: var(--colorSecondary);
        border: 0;
        border-radius: 4px;
        color: var(--colorOnSecondary);
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        height: 28px;
        line-height: 28px;
        min-width: 90px;
        outline: none;
        text-align: center;
        border: 1px solid #b3b3b3;
        min-width: 75px; }
        .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-clear {
          padding: 0 15px; }
        .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-clear:hover, .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-clear:focus {
          background: #f9f9f9;
          color: var(--colorOnSecondary); }
        .e-grid:not(.item-grid) .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-dlgBtns .e-clear:disabled {
          background: #eeeeee;
          border: 1px solid #cccccc;
          color: #999999; }
  .e-grid:not(.item-grid) .e-excelfilter .e-menu-wrap .e-menu li:hover, .e-grid:not(.item-grid) .e-excelfilter .e-menu-wrap .e-menu li.e-mhover {
    background: #eeeeee; }
    .e-grid:not(.item-grid) .e-excelfilter .e-menu-wrap .e-menu li:hover .e-menulink, .e-grid:not(.item-grid) .e-excelfilter .e-menu-wrap .e-menu li.e-mhover .e-menulink {
      background: transparent; }
  .e-grid:not(.item-grid) .e-excelfilter .e-menu-wrap .e-menu li.e-active {
    background: var(--colorPrimary); }
    .e-grid:not(.item-grid) .e-excelfilter .e-menu-wrap .e-menu li.e-active .e-menulink {
      background: transparent; }
  .e-grid:not(.item-grid) .e-excelfilter .e-menu-wrap .e-menu li.e-separator {
    background: transparent;
    border-bottom-color: #eeeeee !important; }
  .e-grid:not(.item-grid) .e-excelfilter .e-btncontainer {
    margin-left: 34px;
    width: 100%; }
    .e-grid:not(.item-grid) .e-excelfilter .e-btncontainer input {
      min-width: 60px !important; }
    .e-grid:not(.item-grid) .e-excelfilter .e-btncontainer input[id$='_OkBtn'] {
      background: var(--colorPrimary);
      border: 0;
      border-radius: 4px;
      color: var(--colorOnPrimary);
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      height: 28px;
      line-height: 28px;
      min-width: 90px;
      outline: none;
      text-align: center; }
      .e-grid:not(.item-grid) .e-excelfilter .e-btncontainer input[id$='_OkBtn'] {
        padding: 0 15px; }
      .e-grid:not(.item-grid) .e-excelfilter .e-btncontainer input[id$='_OkBtn']:hover, .e-grid:not(.item-grid) .e-excelfilter .e-btncontainer input[id$='_OkBtn']:focus {
        background: #007aff;
        color: var(--colorOnPrimary); }
      .e-grid:not(.item-grid) .e-excelfilter .e-btncontainer input[id$='_OkBtn']:disabled {
        background: #eeeeee;
        border: 1px solid #cccccc;
        color: #999999; }
    .e-grid:not(.item-grid) .e-excelfilter .e-btncontainer input[id$='_CancelBtn'] {
      background: var(--colorSecondary);
      border: 0;
      border-radius: 4px;
      color: var(--colorOnSecondary);
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      height: 28px;
      line-height: 28px;
      min-width: 90px;
      outline: none;
      text-align: center;
      border: 1px solid #b3b3b3; }
      .e-grid:not(.item-grid) .e-excelfilter .e-btncontainer input[id$='_CancelBtn'] {
        padding: 0 15px; }
      .e-grid:not(.item-grid) .e-excelfilter .e-btncontainer input[id$='_CancelBtn']:hover, .e-grid:not(.item-grid) .e-excelfilter .e-btncontainer input[id$='_CancelBtn']:focus {
        background: #f9f9f9;
        color: var(--colorOnSecondary); }
      .e-grid:not(.item-grid) .e-excelfilter .e-btncontainer input[id$='_CancelBtn']:disabled {
        background: #eeeeee;
        border: 1px solid #cccccc;
        color: #999999; }

.items-mobile-grid {
  padding: 10px; }
  .items-mobile-grid .e-grid {
    border-color: #eeeeee;
    border-radius: 4px; }
    .items-mobile-grid .e-grid .e-gridcontent {
      border-radius: 0px 0px 4px 4px;
      overflow: visible;
      position: relative; }
      .items-mobile-grid .e-grid .e-gridcontent .emptyrecord {
        text-align: center; }
      .items-mobile-grid .e-grid .e-gridcontent .e-content {
        position: relative; }
        .items-mobile-grid .e-grid .e-gridcontent .e-content .card-field {
          padding-right: 18px !important; }
      .items-mobile-grid .e-grid .e-gridcontent .card-table {
        width: 100%; }
        .items-mobile-grid .e-grid .e-gridcontent .card-table .card-field {
          padding: 5px 0px 5px 10px;
          text-align: left; }
        .items-mobile-grid .e-grid .e-gridcontent .card-table .card-header {
          color: #808080;
          Padding: 0;
          text-align: right; }
      .items-mobile-grid .e-grid .e-gridcontent .dropdown {
        position: absolute; }
        .items-mobile-grid .e-grid .e-gridcontent .dropdown .dropdown-menu {
          left: auto !important;
          right: -8px;
          width: 180px !important;
          background: var(--surface); }
          .items-mobile-grid .e-grid .e-gridcontent .dropdown .dropdown-menu hr {
            margin: 5px; }
      .items-mobile-grid .e-grid .e-gridcontent .details {
        padding: 0; }
      .items-mobile-grid .e-grid .e-gridcontent tr td {
        padding-left: 0px; }
      .items-mobile-grid .e-grid .e-gridcontent .e-table td:first-child {
        padding: 0px; }
        .items-mobile-grid .e-grid .e-gridcontent .e-table td:first-child .status {
          height: 35px;
          width: 5px; }
        .items-mobile-grid .e-grid .e-gridcontent .e-table td:first-child .active {
          background-color: var(--success); }
        .items-mobile-grid .e-grid .e-gridcontent .e-table td:first-child .inactive {
          background-color: var(--danger); }
        .items-mobile-grid .e-grid .e-gridcontent .e-table td:first-child .completed {
          background-color: #ff9503; }
      .items-mobile-grid .e-grid .e-gridcontent .e-table .e-rowcell {
        border-color: #eeeeee;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .items-mobile-grid .e-grid .e-gridcontent .e-table .e-rowcell .su {
          color: #808080;
          padding: 5px; }
        .items-mobile-grid .e-grid .e-gridcontent .e-table .e-rowcell .su-vertical-expand {
          font-size: 8px; }
    .items-mobile-grid .e-grid .e-gridheader {
      display: none; }
    .items-mobile-grid .e-grid .e-gridtoolbar {
      background: var(--surface);
      border-color: #eeeeee;
      border-radius: 4px; }
      .items-mobile-grid .e-grid .e-gridtoolbar .e-horizontal {
        border-bottom: 1px solid #eeeeee;
        width: 100%; }
      .items-mobile-grid .e-grid .e-gridtoolbar #items_expand-temp, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_expand-temp {
        background: transparent;
        border: none;
        padding-top: 8px; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_expand-temp .collapse-all, .items-mobile-grid .e-grid .e-gridtoolbar #items_expand-temp .expand-all, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_expand-temp .collapse-all, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_expand-temp .expand-all {
          padding: 10px; }
      .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp {
        background-color: transparent;
        border: none;
        float: right;
        padding-right: 5px; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp a, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp a {
          padding: 10px; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp .remove-background, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp .remove-background {
          border: none;
          background-color: transparent; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp #clear-search, .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp .search-item, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp #clear-search, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp .search-item {
          height: 25px;
          line-height: 25px; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp #search-items, .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp #search-schedules, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp #search-items, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp #search-schedules {
          height: 25px;
          width: 150px; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp .search-item, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp .search-item {
          height: 25px;
          padding-top: 5px; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp ::-webkit-input-placeholder, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp ::-webkit-input-placeholder {
          color: #b3b3b3; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp :-moz-placeholder, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp :-moz-placeholder {
          color: #b3b3b3;
          opacity: 1; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp ::-moz-placeholder, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp ::-moz-placeholder {
          color: #b3b3b3;
          opacity: 1; }
        .items-mobile-grid .e-grid .e-gridtoolbar #items_search-temp :-ms-input-placeholder, .items-mobile-grid .e-grid .e-gridtoolbar #scheduleGrid_search-temp :-ms-input-placeholder {
          color: #b3b3b3; }
    .items-mobile-grid .e-grid .e-pagerstatusbar {
      display: none !important; }
  .items-mobile-grid .e-scrollbar.e-vscrollbar {
    width: 8px !important; }
    .items-mobile-grid .e-scrollbar.e-vscrollbar .e-vscroll {
      border: none;
      float: right;
      vertical-align: top;
      width: inherit; }
      .items-mobile-grid .e-scrollbar.e-vscrollbar .e-vscroll .e-vup, .items-mobile-grid .e-scrollbar.e-vscrollbar .e-vscroll .e-vdown {
        display: none !important; }
      .items-mobile-grid .e-scrollbar.e-vscrollbar .e-vscroll .e-vhandlespace .e-vhandle {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border-bottom: 1px solid;
        border-top: 1px solid; }
      .items-mobile-grid .e-scrollbar.e-vscrollbar .e-vscroll .e-icon {
        width: 100% !important;
        position: relative; }
  .items-mobile-grid .e-scrollbar.e-hscrollbar {
    width: 8px !important; }
    .items-mobile-grid .e-scrollbar.e-hscrollbar .e-hscroll {
      border: none; }
      .items-mobile-grid .e-scrollbar.e-hscrollbar .e-hscroll .e-hup, .items-mobile-grid .e-scrollbar.e-hscrollbar .e-hscroll .e-hdown {
        display: none !important; }
      .items-mobile-grid .e-scrollbar.e-hscrollbar .e-hscroll .e-hhandlespace .e-hhandle {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border-bottom: 1px solid;
        border-top: 1px solid; }

.e-ddl-popup, .e-atc-popup {
  border-color: #cccccc; }
  .e-ddl-popup .e-ul li, .e-atc-popup .e-ul li {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .e-ddl-popup .e-hover, .e-atc-popup .e-hover {
    background: #eeeeee; }
  .e-ddl-popup .e-active, .e-atc-popup .e-active {
    background: var(--colorPrimary); }

@media screen and (min-width: 1400px) {
  .e-grid .e-gridheader .e-headercell .e-headercelldiv, .e-grid .e-gridheader .e-headercell .e-headercelldiv * {
    font-size: 14px; }
  .e-grid .e-gridcontent {
    font-size: 14px; }
    .e-grid .e-gridcontent tr {
      height: 40px; }
  .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-input, .e-grid .e-dialog-wrap[id$='_stringDlg_wrapper'] .e-dlgcontainer .e-caption {
    font-size: 14px; }
  .e-ddl-popup .e-ul li, .e-atc-popup .e-ul li {
    font-size: 14px; } }

.e-toolbarTooltip {
  display: none !important; }

.user-hover-options {
  padding-right: 15px;
  text-align: left; }
  .user-hover-options a {
    margin: 0 12px; }
    .user-hover-options a i {
      color: #4d4d4d;
      font-size: 16px; }
    .user-hover-options a i.su-eye {
      font-size: 18px; }
    .user-hover-options a:hover i {
      color: #1a1a1a; }

.e-active .user-hover-options a i {
  color: var(--colorText); }

.e-active .user-hover-options a:hover i {
  color: var(--colorText); }

@media screen and (max-width: 1400px) {
  .user-hover-options a i {
    font-size: 14px; }
  .user-hover-options a i.su-eye {
    font-size: 16px; } }

.e-grid .e-gridheader .e-icon {
  color: #4d4d4d !important; }
  .e-grid .e-gridheader .e-icon:hover {
    color: #1a1a1a !important; }

.e-grid .e-operator .e-ddl.e-focus .e-in-wrap, .e-grid .e-operator .e-atc.e-focus .e-in-wrap, .e-grid .e-value .e-ddl.e-focus .e-in-wrap, .e-grid .e-value .e-atc.e-focus .e-in-wrap {
  background-color: var(--surface) !important;
  box-shadow: none !important;
  border-color: var(--colorPrimary) !important; }
