.e-spinner-pane {
  opacity: .85;
  background-color: #333 !important; }
  .e-spinner-pane .e-spinner-inner .e-spin-material {
    stroke: #0565ff !important; }

.e-dlg-container .e-control.e-dialog .e-dlg-content {
  padding: 18px; }

.e-dlg-container .e-control.e-dialog .e-footer-content {
  padding: 10px 18px; }
  .e-dlg-container .e-control.e-dialog .e-footer-content .e-btn {
    margin-left: 16px; }

#user-notification-container {
  background-color: #fff;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-stretch: normal;
  top: 0;
  left: -400px;
  height: 100vh;
  position: absolute;
  width: 400px;
  z-index: 10000; }
  #user-notification-container .notification-header {
    height: 58px;
    padding: 17px 15px; }
    #user-notification-container .notification-header .su-arrow-back {
      font-size: 22px;
      cursor: pointer;
      padding: 5px; }
      #user-notification-container .notification-header .su-arrow-back:hover {
        border-radius: 4px;
        background-color: #e2e2e2;
        color: #1a1a1a; }
    #user-notification-container .notification-header .notification-title {
      font-family: "RobotoRegular";
      font-size: 16px;
      font-weight: 600;
      line-height: 23px;
      letter-spacing: 0.2px;
      vertical-align: top;
      margin-left: 10px; }
    #user-notification-container .notification-header .notification-setting-link {
      color: #0565ff;
      display: inline-block;
      float: right;
      font-family: "RobotoRegular";
      font-size: 12px;
      font-weight: 600;
      line-height: 2;
      letter-spacing: 0.2px;
      text-align: right; }
      #user-notification-container .notification-header .notification-setting-link:hover {
        color: #0050d1; }
  #user-notification-container #notification-content {
    height: 100%;
    overflow: auto; }
    #user-notification-container #notification-content .notification-list-ul {
      list-style: none;
      padding: 0 4px 0 54px; }
      #user-notification-container #notification-content .notification-list-ul .notification-sub-heading {
        color: #808080;
        font-family: "RobotoRegular";
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.4px;
        margin: 10px 0 14px 0; }
      #user-notification-container #notification-content .notification-list-ul .notification-tile {
        border-radius: 4px;
        margin-bottom: 12px; }
        #user-notification-container #notification-content .notification-list-ul .notification-tile:hover {
          background-color: #dbe9ff; }
        #user-notification-container #notification-content .notification-list-ul .notification-tile .notification-image {
          border-radius: 50%;
          height: 24px;
          margin-left: 6px;
          vertical-align: top;
          width: 24px; }
        #user-notification-container #notification-content .notification-list-ul .notification-tile .notification-display-content {
          color: #4d4d4d;
          display: inline-block;
          font-family: "RobotoRegular";
          font-size: 12px;
          font-weight: normal;
          line-height: 1.5;
          letter-spacing: 0.3px;
          margin: 3px 0 0 6px;
          width: 285px; }
          #user-notification-container #notification-content .notification-list-ul .notification-tile .notification-display-content .notification-display-name {
            font-family: "RobotoRegular";
            font-size: 12px;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.3px;
            color: #4d4d4d;
            word-wrap: break-word; }
        #user-notification-container #notification-content .notification-list-ul .notification-tile .notification-tile-div1 {
          padding: 4px 0 8px 0; }
      #user-notification-container #notification-content .notification-list-ul .notification-link {
        padding: 0 0 8px 38px; }
        #user-notification-container #notification-content .notification-list-ul .notification-link .notification-type-icon {
          background-image: linear-gradient(to bottom, #f7981c, #f76b1c);
          border-radius: 2.6px;
          float: left;
          height: 18px;
          width: 18px; }
          #user-notification-container #notification-content .notification-list-ul .notification-link .notification-type-icon .su {
            color: #fff;
            font-size: 10px;
            float: left;
            padding: 4px; }
        #user-notification-container #notification-content .notification-list-ul .notification-link .notification-item-link {
          color: #0565ff;
          overflow-wrap: break-word; }
          #user-notification-container #notification-content .notification-list-ul .notification-link .notification-item-link:hover {
            color: #0050d1; }
        #user-notification-container #notification-content .notification-list-ul .notification-link .notification-link-content {
          color: #4d4d4d;
          display: inline;
          font-family: Heebo;
          font-size: 12px;
          font-weight: normal;
          line-height: 1.5;
          letter-spacing: 0.3px;
          margin-left: 8px;
          width: 260px; }
      #user-notification-container #notification-content .notification-list-ul .time-option {
        color: #808080;
        font-family: Heebo;
        font-size: 10px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        padding: 0 0 6px 38px; }
    #user-notification-container #notification-content #no-more-notification-info {
      font-family: "RobotoRegular";
      font-size: 14px;
      font-weight: 600;
      letter-spacing: .2px;
      padding: 20px;
      text-align: center; }
    #user-notification-container #notification-content #no-notification-info {
      display: table;
      height: 100%;
      letter-spacing: 0.3px;
      margin: 0 auto; }
      #user-notification-container #notification-content #no-notification-info div {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        #user-notification-container #notification-content #no-notification-info div img {
          color: #4d4d4d;
          font-family: "RobotoRegular";
          font-size: 14px;
          font-weight: bold;
          line-height: 1.71;
          margin-bottom: 20px; }
        #user-notification-container #notification-content #no-notification-info div h5 {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.71;
          margin-bottom: 8px; }
        #user-notification-container #notification-content #no-notification-info div p {
          color: #808080;
          font-size: 12px;
          font-weight: normal;
          width: 75%;
          margin: 0 auto;
          margin-bottom: 8px; }
        #user-notification-container #notification-content #no-notification-info div a {
          color: #0565ff;
          font-family: "RobotoRegular";
          font-size: 12px;
          font-weight: 600;
          line-height: 2; }
    #user-notification-container #notification-content #user-notification-loader {
      padding: 10px;
      text-align: center; }
  #user-notification-container::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 1;
    -webkit-transition: opacity 1.2s;
    transition: opacity 1.2s; }
  #user-notification-container.user-notification-open {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all 0.8s 0s; }
    #user-notification-container.user-notification-open:after {
      width: 0;
      height: 0;
      opacity: 0;
      -webkit-transition: opacity 0.8s, width 0.1s 0.8s, height 0.1s 0.8s;
      transition: opacity 0.8s, width 0.1s 0.8s, height 0.1s 0.8s; }
  #user-notification-container.user-notification-close {
    left: -400px;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    transition: all 0.9s 0s; }

#user-notification-backdrop {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 400px;
  height: 100vh;
  width: 100vW;
  position: absolute;
  background: transparent; }

.tooltip {
  z-index: 20000; }

#notifciation-page-container #user-notification-container {
  background-color: #fff;
  box-shadow: none;
  left: 0;
  position: relative;
  top: 0;
  transform: none;
  width: 100%;
  z-index: 0; }
  #notifciation-page-container #user-notification-container .notification-header .su-arrow-back {
    display: none; }
  #notifciation-page-container #user-notification-container #notification-content .notification-list-ul .notification-tile .notification-display-content {
    width: 83%; }
  #notifciation-page-container #user-notification-container #notification-content .notification-list-ul .notification-link .notification-link-content {
    width: auto; }

#notifciation-page-container #user-notification-backdrop {
  display: none !important; }

@media screen and (min-width: 1041px) {
  #notifciation-page-container #user-notification-container {
    padding-bottom: 60px !important; } }
