@import "../../themes/_light.scss";
@import "../../components/_spinner.scss";
@import "../../components/_dialog.scss";
@import "../../core/typography";

@mixin ellipses {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#user-notification-container {
    background-color: $white;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-stretch: normal;
    top: 0;
    left: -400px;
    height: 100vh;
    position: absolute;
    width: 400px;
    z-index: 10000;

    .notification-header {
        height: 58px;
        padding: 17px 15px;

        .su-arrow-back {
            font-size: 22px;
            cursor: pointer;
            padding: 5px;

            &:hover {
                border-radius: 4px;
                background-color: $app-background-hover;
                color: $icon-hover-color;
            }
        }

        .notification-title {
            font-family: $primary-font;
            font-size: 16px;
            font-weight: 600;
            line-height: 23px;
            letter-spacing: 0.2px;
            vertical-align: top;
            margin-left: 10px;
        }

        .notification-setting-link {
            color: $primary;
            display: inline-block;
            float: right;
            font-family: $primary-font;
            font-size: 12px;
            font-weight: 600;
            line-height: 2;
            letter-spacing: 0.2px;
            text-align: right;

            &:hover {
                color: darken($primary, 10%);
            }
        }
    }

    #notification-content {
        height: 100%;
        overflow: auto;

        .notification-list-ul {
            list-style: none;
            padding: 0 4px 0 54px;

            .notification-sub-heading {
                color: $grey-700;
                font-family: $primary-font;
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.4px;
                margin: 10px 0 14px 0;
            }

            .notification-tile {
                border-radius: 4px;
                margin-bottom: 12px;

                &:hover {
                    background-color: $primary-selected-color;
                }

                .notification-image {
                    border-radius: 50%;
                    height: 24px;
                    margin-left: 6px;
                    vertical-align: top;
                    width: 24px;
                }

                .notification-display-content {
                    color: $grey-800;
                    display: inline-block;
                    font-family: $primary-font;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.5;
                    letter-spacing: 0.3px;
                    margin: 3px 0 0 6px;
                    width: 285px;

                    .notification-display-name {
                        font-family: $primary-font;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: 0.3px;
                        color: $grey-800;
                        word-wrap: break-word;
                    }
                }

                .notification-tile-div1 {
                    padding: 4px 0 8px 0;
                }
            }

            .notification-link {
                padding: 0 0 8px 38px;

                .notification-type-icon {
                    background-image: linear-gradient(to bottom, #f7981c, #f76b1c);
                    border-radius: 2.6px;
                    float: left;
                    height: 18px;
                    width: 18px;

                    .su {
                        color: $text-white;
                        font-size: 10px;
                        float: left;
                        padding: 4px;
                    }
                }

                .notification-item-link {
                    color: $primary;
                    overflow-wrap: break-word;

                    &:hover {
                        color: darken($primary, 10%);
                    }
                }

                .notification-link-content {
                    color: $grey-800;
                    display: inline;
                    font-family: Heebo;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.5;
                    letter-spacing: 0.3px;
                    margin-left: 8px;
                    width: 260px;
                }
            }

            .time-option {
                color: $grey-700;
                font-family: Heebo;
                font-size: 10px;
                font-weight: normal;
                line-height: normal;
                letter-spacing: 0.3px;
                padding: 0 0 6px 38px;
            }
        }

        #no-more-notification-info {
            font-family: $primary-font;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: .2px;
            padding: 20px;
            text-align: center;
        }

        #no-notification-info {
            display: table;
            height: 100%;
            letter-spacing: 0.3px;
            margin: 0 auto;

            div {
                display: table-cell;
                vertical-align: middle;
                text-align: center;

                img {
                    color: $grey-800;
                    font-family: $secondary-font;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.71;
                    margin-bottom: 20px
                }

                h5 {
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.71;
                    margin-bottom: 8px;
                }

                p {
                    color: $grey-700;
                    font-size: 12px;
                    font-weight: normal;
                    width: 75%;
                    margin: 0 auto;
                    margin-bottom: 8px;
                }

                a {
                    color: $primary;
                    font-family: $primary-font;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 2;
                }
            }
        }

        #user-notification-loader {
            padding: 10px;
            text-align: center;
        }
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        content: '';
        opacity: 1;
        -webkit-transition: opacity 1.2s;
        transition: opacity 1.2s;
    }

    &.user-notification-open {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: all 0.8s 0s;

        &:after {
            width: 0;
            height: 0;
            opacity: 0;
            -webkit-transition: opacity 0.8s, width 0.1s 0.8s, height 0.1s 0.8s;
            transition: opacity 0.8s, width 0.1s 0.8s, height 0.1s 0.8s;
        }
    }

    &.user-notification-close {
        left: -400px;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        transition: all 0.9s 0s;
    }
}

#user-notification-backdrop {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 400px;
    height: 100vh;
    width: 100vW;
    position: absolute;
    background: transparent;
}

.tooltip {
    z-index: 20000;
}


//Notification page styles
#notifciation-page-container {
    #user-notification-container {
        background-color: $white;
        box-shadow: none;
        left: 0;
        position: relative;
        top: 0;
        transform: none;
        width: 100%;
        z-index: 0;

        .notification-header {
            .su-arrow-back {
                display: none;
            }
        }

        #notification-content {
            .notification-list-ul {
                .notification-tile {
                    .notification-display-content {
                        width: 83%;
                    }
                }

                .notification-link {
                    .notification-link-content {
                        width: auto;
                    }
                }
            }
        }
    }

    #user-notification-backdrop {
        display: none !important;
    }
}

@media screen and (min-width: 1041px) {
    #notifciation-page-container {
        #user-notification-container {
            padding-bottom: 60px !important;
        }
    }
}