<div id="grant-users-access-dialog-content" class="modal-body col-xs-12">
    <div id="add-user-search-area" class="pull-right">
        <input type="text" class="pull-left" id="add-user-search" placeholder="[[[Search users]]]" />
        <span class="su su-inner-close close-icon pull-left" id="add-user-clear-search" title="[[[Clear search]]]"></span>
        <span class="su su-search search-icon pull-left" title="[[[Search]]]"></span>
    </div>
    <div class="col-xs-12 no-padding">
        <div id="add_users_grid"></div>
    </div>
    <div class="col-xs-12 no-padding">
        <div class="note-info"><span class="note-text">[[[Note]]]:</span><span>[[[ Select the users who would be granted site access.]]]</span></div>
    </div>
</div>