@{
    Layout = null;
}
@model TenantInfo

<html>
<head>
    <script>
        function load() {
            if (($(parent.window).width()) > 1400) {
                $(".dialog").addClass("iframe");
            }

            if (($(parent.window).width()) < 1400) {
                $(".dialog").removeClass("iframe");
            }
        }
    </script>
</head>
<body>
    <div id="plan-upgrade-confirm-dialog" class="col-xs-12 no-padding dialog" style="display:none">
        <input type="hidden" id="tenant-name" class="tenant-name" value="" />
        <div class="col-xs-12 dialog-header">
            <div class="col-xs-11 col-sm-11 col-md-11 no-padding">
                <span class="dialog-title popup-title" id="dialog-title">Upgrade Plan</span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 no-padding">
                <a href="javascript:void(0);" title="Close" class="popup-close pull-right"><span class="su su-close" style="color: inherit;background-color: white"></span></a>
            </div>
        </div>

        <div class="plan-upgrade-process">
            <div class="dialog-body col-xs-12 no-padding" style="padding:10px !important">
                <div class="col-xs-12">
                    <div><span style="white-space:nowrap;float:left">Are you sure you want to Upgrade Plan to &nbsp; </span><span class="plan-name highlight-name"></span> for @Model.User.FirstName  @Model.User.LastName (@Model.User.Email)</div>
                </div>
            </div>
            <div class="col-xs-12 dialog-footer rightAlign no-right-padding no-left-padding" style="position:relative !important;font-size:14px !important;padding:10px !important">
                <div class="col-xs-4"></div>
                <div class="col-xs-8 no-padding padding-top validation-area">
                    <input type="button" class="primary-button margin-right" value="Yes" data-tenant-id="@Model.TenantInfoId" id="plan-upgrade-confirm" tabindex="1" autofocus />
                    <input type="button" id="cancel" class="secondary-button popup-close" value="No" onclick="onUpgradeDialogClose()" tabindex="2" />
                </div>
            </div>
        </div>

        <div class="plan-upgrade-status" style="display:none">
            <div class="dialog-body col-xs-12 no-padding text-center" style="margin-bottom:15px;margin-top:10px">
                <div class="col-xs-12">
                    <div class="delete-item">Unable upgrade plan to - &nbsp;<span class="plan-name highlight-name"></span></div>
                </div>
            </div>
            <div class="col-xs-12 dialog-footer no-right-padding no-left-padding text-center" style="position:relative !important;font-size:14px !important;padding:10px !important">
                <input title="" type="button" id="Cancel" class="secondary-button popup-close" value="OK" onclick="onTenantDialogClose()" tabindex="1" autofocus />
            </div>
        </div>
    </div>
</body>
</html>
