@{
    Layout = null;
}

<html>
<head>
    <script>
        function load() {
            if (($(parent.window).width()) > 1400) {
                $(".dialog").addClass("iframe");
            }

            if (($(parent.window).width()) < 1400) {
                $(".dialog").removeClass("iframe");
            }
        }
    </script>
</head>
<body onload="load()" oncopy="return false" oncut="return false" onpaste="return false">
    <div id="tenant-dialog" class="col-xs-12 no-padding dialog" style="display:none">
        <input type="hidden" id="tenant-name" class="tenant-name" value="" />
        <div class="col-xs-12 dialog-header">
            <div class="col-xs-11 col-sm-11 col-md-11 no-padding">
                <span id="dialog-icon"></span>
                <span class="dialog-title popup-title" id="dialog-title"></span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 no-padding">
                <a href="javascript:void(0);" title="Close" class="popup-close pull-right"><span class="su su-close"></span></a>
            </div>
        </div>

        <div class="tenant-action-process">
            <div class="dialog-body col-xs-12 no-padding" style="padding:10px !important">
                <div class="col-xs-12">
                    <div class="delete-item"><span style="white-space:nowrap;float:left">Are you sure you want to <span class="tenant-action"></span> Tenant — </span><span class="tenant-name highlight-name"></span><span class="tenant-action-markorremove"></span>?</div>
                </div>
                <div id="confirmation-div">
                    <div class="col-xs-4" style="margin-top:15px; margin-bottom:15px"><div class="field-label">Confirm tenant name<span class="mandatory">*</span></div></div>
                    <div class="col-xs-8 no-left-padding" style="margin-top:15px;margin-bottom:15px">
                        <span>
                            <input type="text" id="tenant_name_confirmation" value="" autofocus name="fileName" maxlength="255" class="form-control text" tabindex="1">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 dialog-footer rightAlign no-right-padding no-left-padding" style="position:relative !important;font-size:14px !important;padding:10px !important">
                <div class="col-xs-4"></div>
                <input id="tenant-dns" type="hidden" value="">
                <input id="tenant-id" type="hidden" value="">
                <input id="tenant-action" type="hidden" value="" />
                <div class="col-xs-8 no-padding padding-top validation-area">
                    <input type="button" class="primary-button margin-right" value="Yes" id="action-button" tabindex="1" autofocus disabled="disabled" />
                    <input type="button" id="cancel" class="secondary-button popup-close" value="No" onclick="onTenantDialogClose()" tabindex="2" />
                </div>
            </div>
        </div>


        <div class="tenant-action-status" style="display:none">
            <div class="dialog-body col-xs-12 no-padding text-center" style="margin-bottom:15px;margin-top:10px">
                <div class="col-xs-12">
                    <div class="delete-item">Unable to <span class="tenant-action"></span> Tenant - &nbsp;<span class="tenant-name highlight-name"></span></div>
                </div>
            </div>
            <div class="col-xs-12 dialog-footer no-right-padding no-left-padding text-center" style="position:relative !important;font-size:14px !important;padding:10px !important">
                <input title="" type="button" id="Cancel" class="secondary-button popup-close" value="OK" onclick="onTenantDialogClose()" tabindex="1" autofocus />
            </div>
        </div>
    </div>
</body>
</html>