<script>
    var tenantInfoUrl = "@Url.Action("GetTenantSpecificInformation", "TenantsManagement")";
</script>

<div role="tabpanel" class="tab-pane" id="tenant-resources-tab">
    <div class="admin-page-body">
        <div class="row">
            <div id="users-count-div" class="card-info col-xs-12 no-padding">
                <div id="users-count" class="inner-card-info">
                    <div class="main-div">
                        <div class="header">Users</div>
                        <div class="main-count-div">
                            <span id="active-users-value" class="main-count-value"></span>
                            <span class="main-count-label">(Active users)</span>
                        </div>
                    </div>
                    <div class="secondary-div col-xs-12 no-padding">
                        <div class="sec-element-div col-xs-3 border-right-element">
                            <span id="inactive-users-value" class="sec-element-value col-xs-12 no-padding"></span>
                            <span class="sec-element-label col-xs-12 no-padding">Inactive users</span>
                        </div>
                        <div class="sec-element-div col-xs-3">
                            <span id="deleted-users-value" class="sec-element-value col-xs-12 no-padding"></span>
                            <span class="sec-element-label col-xs-12 no-padding">Deleted users</span>
                        </div>
                        <div class="sec-element-div col-xs-3">
                            <span id="azure-users-value" class="sec-element-value col-xs-12 no-padding"></span>
                            <span class="sec-element-label col-xs-12 no-padding">Azure users</span>
                        </div>
                        <div class="sec-element-div col-xs-3">
                            <span id="db-users-value" class="sec-element-value col-xs-12 no-padding"></span>
                            <span class="sec-element-label col-xs-12 no-padding">Database users</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="groups-count-div" class="card-info col-xs-12 no-padding">
                <div id="groups-count" class="inner-card-info">
                    <div class="main-div">
                        <div class="header">Groups</div>
                        <div class="main-count-div">
                            <span id="active-groups-value" class="main-count-value"></span>
                        </div>
                    </div>
                    <div class="secondary-div col-xs-12 no-padding col-xs-12 no-padding">
                        <div class="sec-element-div col-xs-12 border-right-element">
                            <span id="azure-groups-value" class="sec-element-value col-xs-12 no-padding"></span>
                            <span class="sec-element-label col-xs-12 no-padding">Azure groups</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="dashboards-count-div" class="card-info col-xs-12 no-padding">
                <div id="dashboards-count" class="inner-card-info">
                    <div class="main-div">
                        <div class="header">Items</div>
                        <div class="main-count-div">
                            <span id="dashboards-value" class="main-count-value"></span>
                            <span class="main-count-label">(Active dashboards)</span>
                        </div>
                    </div>
                    <div class="secondary-div col-xs-12 no-padding col-xs-12 no-padding">
                        <div class="sec-element-div col-xs-6 border-right-element">
                            <span id="drafts-value" class="sec-element-value col-xs-12 no-padding"></span>
                            <span class="sec-element-label col-xs-12 no-padding">Drafts</span>
                        </div>
                        <div class="sec-element-div col-xs-6">
                            <span id="public-dashboards-value" class="sec-element-value col-xs-12 no-padding"></span>
                            <span class="sec-element-label col-xs-12 no-padding">Public dashboards</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="datasources-count-div" class="card-info col-xs-12 no-padding">
                <div id="datasources-count" class="inner-card-info">
                    <div class="main-div">
                        <div class="header">Data sources</div>
                        <div class="main-count-div">
                            <span id="datasources-value" class="main-count-value"></span>
                        </div>
                    </div>
                    <div class="secondary-div col-xs-12 no-padding col-xs-12 no-padding">
                        <div class="sec-element-div col-xs-6 border-right-element">
                            <span id="live-datasources-value" class="sec-element-value col-xs-12 no-padding"></span>
                            <span class="sec-element-label col-xs-12 no-padding">Live Data sources</span>
                        </div>
                        <div class="sec-element-div col-xs-6">
                            <span id="extract-datasources-value" class="sec-element-value col-xs-12 no-padding"></span>
                            <span class="sec-element-label col-xs-12 no-padding">Extract Data sources</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="schedules-count-div" class="single-card-info col-xs-12 no-padding">
                <div id="schedules-count" class="inner-card-info">
                    <div class="header">Schedules</div>
                    <div class="details-div no-padding">
                        <span id="schedules-value" class="single-detail-value no-padding"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-branding-div">
        </div>
    </div>
    <div class="tenant-activty-types-div">
    </div>
</div>