@{
    Layout = null;
}

<html>
<head>
    <script>
        function load() {
            if (($(parent.window).width()) > 1400) {
                $(".dialog").addClass("iframe");
            }

            if (($(parent.window).width()) < 1400) {
                $(".dialog").removeClass("iframe");
            }
        }
    </script>
</head>
<body onload="load()" oncopy="return false" oncut="return false" onpaste="return false">
    <div id="add-logs-dialog" class="col-xs-12 no-padding dialog" style="display:none">
        <input type="hidden" id="tenant-name" class="tenant-name" value="" />
        <div class="col-xs-12 dialog-header" id="header-dialog">
            <div class="col-xs-11 col-sm-11 col-md-11 no-padding">
                <span id="logs-icon">Add Logs</span>
                <span class="dialog-title popup-title" id="dialog-title"></span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 no-padding">
                <a href="javascript:void(0);" title="Close" class="popup-close pull-right" onclick="onAddLogsClose()"><span class="su su-close"></span></a>
            </div>
        </div>
        <div id="confirmation-div">
            <div class="col-xs-4" id="log-comments-text"><div class="field-label">Comments<span class="mandatory">*</span></div></div>
            <div class="col-xs-8 no-left-padding" id="text-area-div">
                <span>
                    <textarea rows="7" cols="60" name="description" id="log-comments" style="overflow:auto;resize: none"></textarea>
                </span>
            </div>
            <div class="col-xs-12 modal-footer  no-right-padding no-left-padding" id="footer-dialog">
                <div class="col-xs-4" id="hidden">
                    <input type="hidden" id="hiddenId" value="" />
                </div>
                <div class="col-xs-8 no-padding">
                    <input type="hidden" value="">
                    <input type="button" class="critical-action-button" id="logs-submit-button" value="Submit" />
                    <input type="button" onclick="onAddLogsClose()" style="margin-right:15px" class="secondary-button popup-close" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>