@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">     
    <script type="text/x-jsrender" id="admin-template">
        <span class="item-name grid-content" title="{{:DisplayName}}" target="_blank">
            {{:DisplayName}}           
        </span>
        <br />
        <div class="email-id">{{:Email}}</div>

    </script>
    <script type="text/x-jsrender" id="admin-checkbox-row-template">
        <input type="checkbox" class="checkbox-row material-checkbox" data-checked-id="{{:UserId}}" id="admin-row-check{{:UserId}}" data-email="{{:Email}}"/>
        <input name="admin-row-check{{:UserId}}" type="hidden" value="false">
        <label for="admin-row-check{{:UserId}}"> </label>
    </script>

    <script type="text/x-jsrender" id="admin-checkbox-header-template">
        @Html.CheckBox("admin-checkbox-header", new { @class = "material-checkbox" })
        @Html.Label("admin-checkbox-header", " ", new { @class = "admin-checkbox-header-label" })
    </script>

    <script>
        var getAllUsersUrl = "@Url.Action("GetAllUserList", "TenantsManagement")";
        var addTenantsUrl = "@Url.Action("AddTenant", "ServerConfiguration")";
    </script>
</head>
<body>
    <div>
        <div class="modal-body col-xs-12 user-body-container">
            <div class="col-xs-12 no-padding">
                <div id="add_admins_grid">
                </div>
            </div>
            <div class="col-xs-12 no-padding validation-user-div">
                <span type="text" id="validation-user-error" class="validation-txt-errors">[[[Please select a user.]]]</span>
            </div>
        </div>
    </div>
</body>
</html>