<script>
    var updatethemingUrl = "/tenants/" + "@Context.Request.Query["id"]" + "/preview-features";
</script>
@{
    var previewFeatures =  ViewBag.PreviewFeature as Dictionary<string, string>;

    var isThemingEnabled = previewFeatures != null && previewFeatures.Count != 0 && previewFeatures["Theming"] != null && bool.Parse(previewFeatures["Theming"]);
}

<div role="tabpanel" class="tab-pane" id="tenant-previewfeature-tab">
    <div class="admin-page-body col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <br />
        <div class="row input-field-wrapper">
            <div class="col-xs-8 field-container-dashboard bottom-width ">
                <div class="col-md-6 col-xs-4">
                </div>
                <div class="col-md-2 notification-header" id="checkallow">
                    <strong>Allow</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 field-container-dashboard" >
                    <label class="col-md-6 col-xs-4 app-textbox-label activation" id="theme">
                        Theming
                    </label>
                    <div class="col-md-2 switch-align no-padding" id="switch">
                        <span class="material-switch text-left" >
                            <input type="checkbox" id="checkbox" class="preview-feature" data-feature-key="features[0]" data-feature-name="Theming" @(isThemingEnabled ? "checked" : string.Empty) />
                            <label for="checkbox" class="label-primary"></label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input type="button" id="previewfeature-enable-cancel" class="secondary-button pull-right" value="Cancel" onclick="window.location.reload()" />
        <input type="button" id="previewfeature-enable-save" class="primary-button pull-right" value="Save" />
    </div>
</div>





