@{
    ViewBag.Title = "Tenant Not Found - Syncfusion";
}

@section MainSection{
    <style>
        .tenant-not-found-div {
            padding-top: 250px
        }

        .tenant-not-found-image-div {
            margin: 0;
            text-align: center;
        }

        .tenant-not-found-message-div {
            text-align: center;
        }

        .tenant-not-found-message {
            font-size: 16px;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: .4px;
            color: #333;
            display: block;
            padding: 24px 0;
            text-align: center;
        }
    </style>
    <div class="tenant-not-found-div">
        <div class="tenant-not-found-image-div">
            <img src="/content/styles/less/images/dashboard-empty-state.svg" style="margin: 0 auto;">
        </div>
        <div class="tenant-not-found-message-div">
            <span class="tenant-not-found-message">
                No tenants were found.
            </span>
        </div>

    </div>
}


