@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Generate License Key</title>
    <script>
        var licenseKey = "@ViewBag.licenseKey";
        var callBackOrigin = "@ViewBag.CallBackUrlOrigin";
        var isSuccess = @Json.Serialize(ViewBag.IsSuccess);
        var data = { isSuccess: isSuccess, licenseKey : licenseKey };
        window.opener.postMessage(data, callBackOrigin);
        window.close();
    </script>
</head>
<body>
    <P> Please wait . . . </P>
</body>
</html>
