@import "../mixins.scss";

$textbox-28: 28px;
$textsize-12: 12px;

$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;
$space-xxl: 36px;
$space-xxs: 4px;
$space-xs: 8px;
$color-current-plan: #FAFAFA;
/*$table-header: #fcfcfc;*/
$color-grey-20: #FBFBFB;
$color-grey-28: #282828;
$color-grey-80: #EEEEEE;
$color-grey-100: #E6E6E6;
$color-grey-200: #CCCCCC;
$color-grey-800: #333333;
$color-primary: #0565FF;
$white: #fff;
$red: #FF0000;

#license-settings-container {
    #choose-plan-container {
        margin-bottom: 30px;
    }

    .admin-page-body {
        margin-bottom: 30px;
    }

    #link-kc-offer {
        font-weight: 600;
        letter-spacing: 0.3px;
        margin-right: 15px;
        margin-top: 10px;
    }

    .free-plan-container {
        color: $grey-800;
        letter-spacing: 0.3px;
        line-height: 21px;

        .free-plan-title {
            margin-bottom: 20px;
            padding: 0px;
            margin-top: 0px;
        }

        .free-plan-active {
            color: $grey-800;
            font-weight: 600;
            letter-spacing: 0.3px;
            line-height: 21px;

            .success-image {
                width: 18px;
                padding-bottom: 4px;
            }
        }

        .vertical-divider {
            border-right: 1px solid $grey-800;
            height: 80px;
            margin: 0 10px;
        }

        .horizontal-divider {
            border-top: 1px solid $subscription-horizontal-border;
            margin: 20px 0px 18px 0px;
        }

        .buy-additional-storage {
            font-size: 14px;
            color: $subscription-buy-additional-storage-option;
            letter-spacing: 0.3px;
            line-height: 27px;
            font-weight: 600;

            #upgrade-my-storage, #add-my-storage {
                cursor: pointer;
            }
        }

        .purchased-label {
            font-size: 13px;
            color: $additional-storage-font-color;
            letter-spacing: 0.3px;
            line-height: 20px;
            font-weight: 600;
            margin-bottom: 17px;
        }

        .storage-quantity {
            font-size: 16px;
            color: $additional-storage-font-color;
            letter-spacing: 0.3px;
            line-height: 27px;
        }
    }

    .cancel-subscription-button:disabled {
        pointer-events: none !important;
    }

    .reactivate-subscription-button {
        background: $subscription-background;
    }

    .reactivate-subscription-button:hover {
        background: $subscription-btn-hover !important;
        color: $white;
    }

    .text-bitter-bold {
        font-weight: 700;
    }


    .text-h1 {
        font-size: 20px;
        letter-spacing: 0.3px;
        line-height: 30px;
        color: $color-grey-800;
    }

    .text-bitter-h2 {
        font-size: 16px;
        letter-spacing: 0.6px;
        line-height: 24px;
        color: $color-grey-800;
    }

    .text-h2 {
        font-size: 16px;
        letter-spacing: 0.3px;
        line-height: 24px;
        color: $color-grey-800;
    }

    .text-h3 {
        font-size: 18px;
        letter-spacing: 0.3px;
        line-height: 24px;
        color: $color-grey-800;
    }

    .text-h4 {
        font-size: 19px;
        letter-spacing: 0.5px;
        line-height: 20px;
    }

    .text-primary {
        color: $color-primary;
    }

    .text-semibold {
        font-weight: 600;
    }

    .text-body {
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 18px;
        color: $color-grey-800;
    }

    .sub-section-heading {
        font-size: 14px;
        font-weight: 700;
        margin: 0 0 20px 0;
        padding: 0;
    }

    .hide-block {
        display: none;
    }

    .show-block {
        display: block;
    }

    #subscription-plan-container {

        #tenant-information-form {
            display: none !important;
        }

        #subscription-plan-form, #tenant-information-form {


            .table-section, .active-subscription-table-section {
                border-collapse: collapse;
                border: 1px solid $color-grey-200;

                th {
                    background-color: $table-header;
                    border-bottom: 1px solid $color-grey-200;
                }

                td {
                    border: none;

                    .status-label {
                        display: inline !important;
                    }
                }
            }

            #plan-details-contianer {
                .limitexceededuserrow {
                    b {
                        vertical-align: text-top;
                        padding-right: 4px;
                    }
                }

                .table-section, .active-subscription-table-section {
                    margin-bottom: 5px;

                    td {
                        width: 25%;
                    }

                    td:first-child {
                        width: 30%;
                    }
                }
            }

            #subscription-information, #tenant-information {
                .table-section, .active-subscription-table-section {
                    tr td:first-child {
                        background-color: $table-header;
                        text-align: right;
                        display: table-cell;
                        vertical-align: middle;
                        font-weight: 600;
                        border-right: 1px solid $color-grey-200;
                    }

                    td:last-child {
                        border-bottom: 1px solid $color-grey-200;
                    }

                    tr td span {
                        display: block;
                        padding-bottom: $space-xxs;
                    }
                }
            }

            .alert-note {
                font-style: italic;

                a:hover {
                    color: $poup-close-hover-color;
                }

                a:visited {
                    color: $poup-close-hover-color;
                }
            }
        }

        #edit-button {
            #edit {
                margin-left: 10px;
            }

            .inactive-content {
                display: none;
            }

            .active-content {
                margin-left: 100px !important;
                visibility: visible;
            }

            #cancel-button {
                display: none;
                margin-left: 10px;
            }
        }
    }

    #subscription-settings-container {
        .subscription-content {
            span {
                display: block;
                padding-bottom: $space-m;
            }
        }

        #cancelsubscription-group-button {
            margin-top: $space-l;

            .material-checkbox {
                &:checked + input + label::before {
                    left: 1px !important;
                    bottom: 13px !important;
                }
            }

            .material-checkbox + input + label {
                padding: 6px 0 0 26px !important;
                margin-right: 17px;
                margin-bottom: 15px;
            }

            .toggle-space {
                height: 29px !important;
            }
        }
    }

    .plan-page-body {
        padding: 0px;
    }

    .plan-chooser-container {
        display: table;
        background-color: white;

        #plan-chooser-body {
            text-align: center;
            margin: 0 auto;

            .splitter-horizontal {
                border-top: 1px solid $color-grey-100;
                margin: 0%;
                padding: 1%;
            }

            .field-container {
                display: table;
                margin: 0 auto;
                width: 100%;
                padding-top: 7px;

                .card-wrapper {
                    display: inline-block;
                    margin: 0 auto;

                    .card {
                        background-color: $color-grey-20;
                        border: 1px solid $color-grey-80;
                        border-radius: 6px;
                        margin: 20px auto;
                        padding: 0px;
                        width: 280px;
                        float: initial;

                        .card-body {
                            .price-banner {
                                line-height: 30px;
                                padding: 7px 0px 0px 0px;
                                margin: 0px auto 10px 0px;
                                border-bottom: 1px solid #d7d7d7;

                                .price-container {
                                    color: $color-grey-28;

                                    .text-h4 {
                                        padding: 10px 0;
                                    }

                                    .creator-count {
                                        color: $overlay-color;
                                        font-size: 12.8px;
                                        line-height: 1.44;
                                        letter-spacing: normal;
                                        text-align: center;
                                        padding-bottom: 20px !important;
                                    }

                                    .dollar-symbol {
                                        font-size: 15px;
                                        padding-right: 6px;
                                        vertical-align: top;
                                    }

                                    .upgrading-plan-price {
                                        font-size: 56px;
                                    }

                                    .plan-duration {
                                        font-size: 14px;
                                    }
                                }
                            }

                            .features-container {
                                padding: 10px 20px 10px 30px;
                                text-align: left;
                                min-height: 368px;

                                .feature-detail {
                                    margin-bottom: 10px;
                                }

                                .text-body {
                                    font-size: 13px;
                                    letter-spacing: 0.3px;
                                    line-height: 18px;
                                    color: $color-grey-800;
                                    padding-left: 10px;
                                }

                                span.text-semibold {
                                    font-weight: 600;
                                }
                            }

                            .choose-plan-button {
                                border-radius: 0px;
                                width: 100%;

                                .su-tick {
                                    display: none;
                                    font-size: 20px;
                                    vertical-align: middle;
                                    color: $white;
                                }
                            }

                            .selected-plan-button {
                                background: $color-primary;

                                .su-tick {
                                    display: block;
                                }

                                .choose-plan-text {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .card-wrapper.special-plans {
                    .card {
                        margin: 45px auto;

                        .content {
                            margin: 45px 25px 40px 25px;
                            font-size: 15px;
                        }

                        .contact-us-button {
                            background: $white;
                            border: 1px solid #C1C1C1;
                            border-radius: 5px;
                            color: $color-grey-800;
                            display: inline-block;
                            height: 32px;
                            outline: none;
                            font-size: 14px;
                            font-weight: 700;
                            cursor: pointer;
                            margin: 20px auto 20px auto;
                            padding: 5px 0px;
                            text-decoration: none;
                            width: 120px;

                            .contact-us-button:focus {
                                text-decoration: none !important;
                            }
                        }
                    }
                }
            }

            .note-side-downgrade {
                padding-left: $space-m;


                .note-side-header {
                    padding-right: 5px;
                }
            }
        }
    }
}

#kc-link-popup_overLay, #buy-additional-storage-popup_overLay {
    opacity: 0 !important;
}

#kc-link-popup_wrapper {
    text-align: center;
    background: $white;
    border: 0 solid #E6E6E6;
    box-shadow: 0 6px 14px 3px rgba(0,0,0,0.10);
    border-radius: 4px;

    .e-dialog-scroller {
        border: none !important;
    }

    .fluent-popup-header {
        background: $white;
        border: none;
        height: 0px;
        padding: 0px;
    }

    .fluent-popup-body {
        padding-bottom: 0px !important;

        .syncfusion-logo {
            margin: 0 auto;
            width: 180px;
        }

        .heading {
            font-size: 15px;
            margin: 15px auto 15px auto;
        }

        .kc-coupon-code {
            margin: 15px auto;
            width: 350px;

            input {
                font-size: 12px;
                height: 28px;
            }
        }

        p {
            font-size: 12px;
        }

        .coupon-error-message {
            letter-spacing: 0.3px;
            margin: 20px 0;
        }

        .fluent-popup-content {
            margin-bottom: 25px;
        }
    }

    .fluent-popup-footer {
        background: $white;
        border: none;
        height: 65px;

        .app-button {
            border-radius: 0px;
        }

        #kclink-submit-button, #kclink-retry-button {
            height: 28px;
            letter-spacing: 0.3px;
            line-height: 28px;
            margin: 20px 0;
        }
    }
}

#buy-additional-storage-popup_wrapper {

    .buy-additional-storage-popup-body {
        #storage-selection-container {
            .storage-selection-section {
                margin-bottom: 27px;
                display: inline-block;

                #storage-selection-label {
                    float: left;
                    font-size: 12px;
                    letter-spacing: 0.3px;
                    line-height: 18px;
                    font-weight: 600 !important;
                }

                .storage-numeric-selection {
                    width: 80px;
                    float: left;
                    margin-left: 80px;

                    input {
                        height: 24px;
                        font-size: 12px;
                        padding-right: 0px;
                        color: $additional-storage-font-color;
                        letter-spacing: 0.3px;
                        text-align: center;
                        line-height: 18px;
                    }

                    .e-numeric {

                        .e-box {
                            border: 1px solid $scroller-bg;
                            border-radius: 4px 4px 4px 4px;

                            .e-select {
                                border-left: 1px solid $scroller-bg;
                                background: none;

                                .e-spin-up {
                                    border-bottom: 1px solid $scroller-bg;
                                }

                                .e-spin-down {
                                }
                            }
                        }
                    }
                }

                .units-display {
                    float: left;
                    height: 24px;
                    margin: 3px 0px 0px 9px;
                }
            }

            .storage-summary-section {
                span {

                    #storage-summary-label {
                        font-size: 12px;
                        letter-spacing: 0.3px;
                        line-height: 18px;
                        font-weight: 600 !important;
                        margin-bottom: 10px;
                    }
                }

                .storage-summary-information {
                    .table-section {
                        border-collapse: collapse;
                        border: 1px solid #E6E6E6;
                        border-radius: 0.25em;

                        tr {
                            font-size: 13px;
                            color: $additional-storage-font-color;
                            letter-spacing: 0;
                            line-height: 26px;

                            td {
                                vertical-align: middle;
                            }

                            td:first-child {
                                width: 87px;
                                padding-left: 12px;
                            }

                            td:last-child {
                                width: 128px;
                                text-align: center;
                            }
                        }

                        tr:first-child {
                            height: 70px;

                            td {
                                border: 1px solid $additional-storage-border-color;
                            }

                            td:nth-child(2) {
                                text-align: center;
                            }
                        }

                        tr:last-child {
                            height: 40px;
                            background: $additional-storage-table-bg-color;

                            td:last-child {
                                font-size: 16px;
                                letter-spacing: 0.37px;
                                line-height: 20px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }

        #card-payment-container {
            display: inline-block;
            width: 100%;

            #upgradecard-details {
                display: inline-block;
                width: 100%;

                .poweredby-div {
                    padding: 0px;

                    #powerby-icon {
                        z-index: 1;
                        left: 0;
                        width: 100%;
                    }

                    #geotrust {
                        table {
                            margin-right: 0px !important;
                        }
                    }
                }

                .card-container {
                    padding-left: 0px;

                    .form-control {
                        height: 26px;
                    }

                    .card-fields-container {
                        margin-bottom: 26px;
                    }

                    .card-container-div {
                        #brand-icon {
                            bottom: 5px;
                        }

                        #card-number.form-control,
                        #card-cvc.form-control,
                        #card-exp.form-control {
                            padding-top: 5px;
                        }
                    }
                }

                .error-section {
                    .error {
                        text-align: center;
                    }
                }
            }

            .horizontal-divider {
                border-top: 1px solid $border-color;
                margin: 0px 0px 25px 0px;
            }

            .payment-summary {
                .storage-payment-label {
                    font-size: 14px;
                    color: $additional-storage-font-color;
                    letter-spacing: 0;
                    line-height: 26px;
                    font-weight: 100;
                }

                .storage-total-price {
                    font-size: 16px;
                    color: $additional-storage-font-color;
                    letter-spacing: 0.37px;
                    text-align: center;
                    line-height: 20px;
                    float: right;
                    font-weight: 600;
                    margin-right: 20px;
                }
            }
        }

        #billing-address-container {
            display: inline-block;
            width: 100%;

            #card-form-id {
                #billing-address-label {
                    font-size: 12px;
                    letter-spacing: 0.3px;
                    line-height: 18px;
                    font-weight: 600 !important;
                    margin-bottom: 20px;
                }

                #address-section {
                    padding: 0px 10px 0px 0px;

                    input {
                        height: 28px;
                    }

                    .form-group {
                        margin-bottom: 28px;
                        position: relative;

                        .email-address-info {
                            float: right;
                            font-size: 10px;
                            position: absolute;
                            right: 0px;
                            top: -19px;
                        }

                        .validation-error {
                            position: absolute;
                            color: $validation-text-color;
                            font-size: $validation-font-size;
                        }

                        .has-error {
                            .dropdown-toggle {
                                border-color: $validation-text-color;
                            }
                        }

                        .country-validation {
                            left: 0px;
                            bottom: -18px;
                        }
                    }
                }
            }

            .validation-error {
                color: $validation-text-color;
                font-size: $validation-font-size;
            }

            .btn.dropdown-toggle {
                height: $textbox-height;
                font-size: $app-text-size;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            }
        }
    }

    #additional-storage-button {
        #button-container {
            bottom: 0;
            padding: 9px 15px;
            right: 0;
            width: 100%;

            .app-button {
                margin-left: 15px;
            }

            .app-primary-button {
                color: $primary-btn-text-color;
            }

            #storage-back-popup-button {
                margin-left: 0px;
            }
        }
    }
}

@media (min-width: 1600px) {
    .plan-chooser-container {
        #plan-chooser-body {
            .field-container {
                width: 85% !important;
            }
        }
    }
}

@media (min-width: 1850px) {
    .plan-chooser-container {
        #plan-chooser-body {
            .field-container {
                width: 70% !important;
            }
        }
    }
}

@media (max-width: 1399px) {
    #subscription-plan-container {
        #subscription-plan-form, #tenant-information-form {
            .table-section {
                width: 415px;
            }

            .active-subscription-table-section {
                width: 520px;
            }

            #subscription-information, #tenant-information {
                .table-section, .active-subscription-table-section {
                    tr td:first-child {
                        width: 100px;
                    }
                }
            }

            #plan-details-contianer {
                .table-section {
                    width: 415px;
                }

                .active-subscription-table-section {
                    width: 520px;
                }
            }
        }
    }

    #subscription-settings-container {
        #cancelsubscription-group-button {
            .material-checkbox + input + label {
                margin-right: 47px !important;
            }
        }
    }
}

@media (min-width: 1400px) {
    #subscription-plan-container {
        #subscription-plan-form, #tenant-information-form {
            .table-section {
                width: 480px;
            }

            .active-subscription-table-section {
                width: 605px;
            }

            #subscription-information, #tenant-information {
                .table-section, .active-subscription-table-section {
                    tr td:first-child {
                        width: 115px;
                    }
                }
            }

            #plan-details-contianer {
                .table-section {
                    width: 600px;
                }

                .active-subscription-table-section {
                    width: 605px;
                }
            }
        }
    }
}

#cancel-subscription-feedback-popup {
    min-height: 520px;

    .display-none {
        display: none;
    }

    #cancel-subscription-feedback-container {
        .reason-lable {
            font-weight: 200;
            font-size: 12px;
        }

        .reason-one {
            margin-top: 15px;
        }

        .reason-two, .reason-three, .reason-four {
            margin-top: 10px;
        }

        .reason-five {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .form-group {
            margin-bottom: 0px;

            .textarea {
                width: 95%;
                height: 135px;
                resize: none !important;
            }

            .CodeMirror {
                border-radius: 4px;
                min-height: 130px;
                max-height: 130px;
                margin-top: 8px;
                font-size: 12px;
                border: 1px solid $border-color;
                padding: 4px;
            }

            .CodeMirror-scroll {
                min-height: 75px;
                max-height: 80px;
            }

            .CodeMirror-code {
                max-width: 434px;
            }

            .CodeMirror-focused {
                border-color: $primary-color;
                outline: 0;
            }
        }

        .error-message {
            font-size: 10px;
            visibility: hidden;
        }

        .toggle-space {
            padding: 8px 0 0 26px !important;
            height: 30px !important;
            font-weight: 200;
            font-size: 12px;
        }

        .material-checkbox:checked + input + label::before {
            left: 2px !important;
            bottom: 13px !important;
        }
    }

    #cancel-subscription-feedback-button {
        #button-container {
            bottom: 0;
            padding: 10px 15px;
            right: 0;
            width: 100%;

            .app-button {
                margin-left: 15px;
            }

            .app-button {
                border: 1px solid;
                border-radius: 4px;
                cursor: pointer;
                display: inline-block;
                font-size: 13px;
                font-weight: 700;
                height: 28px;
                line-height: 26px;
                outline: none;
                text-align: center;
                min-width: 80px;

                &:disabled {
                    background: $submit-button-disabled !important;
                    border-color: $border-color !important;
                    color: $primary-btn-disabled-color !important;
                }
            }

            .app-primary-button {
                background: $primary-color;
                border-color: $primary-color;
                color: $primary-btn-text-color;

                &:hover {
                    background: $primary-btn-hover;
                }
            }

            .app-secondary-button {
                background: $secondary-btn-bg;
                border-color: $secondary-btn-border-color;
                color: $primary-text-color;

                &:hover {
                    background: $secondary-btn-hover;
                }
            }
        }
    }
}

