@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

#additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-selection-section {
  margin-bottom: 27px;
  display: inline-block; }
  #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-selection-section #quantity-selection-label {
    float: left;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 18px;
    font-weight: 600 !important; }
  #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-selection-section .quantity-numeric-selection {
    width: 80px;
    float: left;
    margin-left: 80px; }
    #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-selection-section .quantity-numeric-selection input {
      height: 24px;
      font-size: 12px;
      padding-right: 0px;
      color: #333333;
      letter-spacing: 0.3px;
      text-align: center;
      line-height: 18px; }
    #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-selection-section .quantity-numeric-selection .e-numeric .e-box {
      border: 1px solid #b3b3b3;
      border-radius: 4px 4px 4px 4px; }
      #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-selection-section .quantity-numeric-selection .e-numeric .e-box .e-select {
        border-left: 1px solid #b3b3b3;
        background: none; }
        #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-selection-section .quantity-numeric-selection .e-numeric .e-box .e-select .e-spin-up {
          border-bottom: 1px solid #b3b3b3; }

#additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-summary-section span #quantity-summary-label {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  font-weight: 600 !important;
  margin-bottom: 10px; }

#additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-summary-section .quantity-summary-information .table-section {
  border-collapse: collapse;
  border: 1px solid #E6E6E6;
  border-radius: 0.25em; }
  #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-summary-section .quantity-summary-information .table-section tr {
    font-size: 13px;
    color: #333333;
    letter-spacing: 0;
    line-height: 26px; }
    #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-summary-section .quantity-summary-information .table-section tr td {
      vertical-align: middle; }
    #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-summary-section .quantity-summary-information .table-section tr td:first-child {
      width: 87px;
      padding-left: 12px; }
    #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-summary-section .quantity-summary-information .table-section tr td:last-child {
      width: 128px;
      text-align: center; }
  #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-summary-section .quantity-summary-information .table-section tr:first-child {
    height: 70px; }
    #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-summary-section .quantity-summary-information .table-section tr:first-child td {
      border: 1px solid #eeeeee; }
    #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-summary-section .quantity-summary-information .table-section tr:first-child td:nth-child(2) {
      text-align: center; }
  #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-summary-section .quantity-summary-information .table-section tr:last-child {
    height: 40px;
    background: #f9f9f9; }
    #additional-devloper-quantity-popup_wrapper .additional-devloper-quantity-popup-body #quantity-selection-container .quantity-summary-section .quantity-summary-information .table-section tr:last-child td:last-child {
      font-size: 16px;
      letter-spacing: 0.37px;
      line-height: 20px;
      font-weight: 600; }

#additional-devloper-quantity-popup_wrapper #additional-quantity-button #button-container {
  bottom: 0;
  padding: 9px 15px;
  right: 0;
  width: 100%; }
  #additional-devloper-quantity-popup_wrapper #additional-quantity-button #button-container .app-button {
    margin-left: 15px; }
  #additional-devloper-quantity-popup_wrapper #additional-quantity-button #button-container .app-primary-button {
    color: var(--colorOnPrimary); }
