/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0; }

::-ms-clear {
  width: 0;
  height: 0; }

* {
  outline: none !important; }

*:focus {
  outline: none !important; }

label {
  font-weight: normal; }

a, a:hover {
  text-decoration: none !important; }

a:focus {
  text-decoration: underline !important; }

input[type=button], input[type=submit], button[type=submit] {
  padding: 0px !important; }

input.form-control:not(.input-block-level), .btn-group.form-control .btn.dropdown-toggle {
  box-shadow: none !important;
  border: 1.5px solid #CCCCCC; }

.bs-searchbox .input-block-level.form-control {
  box-shadow: none !important;
  border: 1.5px solid #CCCCCC; }

input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid #0565FF !important;
  box-shadow: none !important; }

.has-error .form-control, .has-error input.form-control:focus:not(.input-block-level) {
  outline: none !important;
  border: 1.5px solid #A94442 !important;
  box-shadow: none !important; }

input[type="password"] {
  padding-right: 30px; }

.form-control[disabled] {
  cursor: default; }

.su-eye {
  cursor: pointer;
  position: absolute; }

.material-checkbox {
  position: relative; }
  .material-checkbox label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox label:before, .material-checkbox label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox label:before {
      background: #FFFFFF;
      border: 1.5px solid #CCCCCC;
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox input[type="checkbox"]:checked + label:before {
      background: #0565FF;
      border: 1.5px solid #0565FF; }
    .material-checkbox input[type="checkbox"]:checked + label:after {
      border: 2px solid #FFFFFF;
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid #0851D0; }

span.su-password-tick {
  background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  font-size: 20px;
  display: inline-block;
  float: left;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%; }

.text-h1 {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 30px;
  color: #333333; }

.text-h2 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: #333333; }

.text-h4 {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #333333; }

.text-body {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: #333333; }

.text-bitter-h2 {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-bitter-h1 {
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-primary {
  color: #0565FF; }

.activation-wrapper {
  font-family: RobotoRegular;
  font-size: 12px;
  margin: 0 auto;
  display: inline-block;
  min-width: 320px;
  padding: 24px 32px;
  text-align: center; }
  .activation-wrapper .icon-success {
    background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 5px; }
    .activation-wrapper .icon-success .su.su-tick {
      height: 25px;
      width: 25px;
      margin: 3px auto 0px auto;
      border-radius: 50%;
      padding: 4px;
      color: #6fd963;
      font-size: 17px;
      background: white; }
  .activation-wrapper .icon-failure {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fa9a32;
    padding: 5px;
    color: #fa9a32; }
    .activation-wrapper .icon-failure .su.su-warning-alt {
      font-size: 25px;
      color: #FFFFFF; }
  .activation-wrapper .heading {
    margin: 16px 0px;
    font-weight: 600; }
  .activation-wrapper .status-message #tenant-email {
    font-weight: 600;
    text-decoration: none;
    color: #333333; }
  .activation-wrapper .status-message span {
    display: block; }
  .activation-wrapper .account-activated {
    margin-bottom: 20px; }
  .activation-wrapper .proceed-button {
    background: #0565FF;
    border: 1px solid #0851D0;
    border-radius: 5px;
    color: #FFFFFF;
    height: 32px;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    min-width: 120px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    padding: 0 10px !important; }
    .activation-wrapper .proceed-button:hover, .activation-wrapper .proceed-button:focus {
      background: #0050d1; }
    .activation-wrapper .proceed-button:disabled {
      background: #CCCCCC;
      cursor: default;
      border: none; }
    .activation-wrapper .proceed-button:hover {
      background: #007aff; }
  .activation-wrapper .resend-verification {
    margin-top: 24px; }
    .activation-wrapper .resend-verification a.text-primary {
      text-decoration: none;
      cursor: pointer; }
  .activation-wrapper .divider-light {
    border-bottom: 1px solid #CCCCCC;
    height: 2px;
    margin-top: 24px;
    margin-bottom: 16px; }
  .activation-wrapper .expiration-time .info-icon {
    height: 18px;
    width: 18px;
    display: inline-block;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 50%;
    margin-right: 7px;
    color: #0565FF; }
  .activation-wrapper .expiration-time .message {
    display: inline-block;
    padding-left: 2px; }
  .activation-wrapper .link-hover:hover {
    color: #0565FF; }
