$su-access-denied: "\e900";
$su-active-directory: "\e901";
$su-add: "\e902";
$su-add-category: "\e903";
$su-all-dashboards: "\e904";
$su-angle-double-left: "\e905";
$su-angle-double-right: "\e906";
$su-angle-left: "\e907";
$su-angle-right: "\e908";
$su-arrow-back: "\e909";
$su-arrow-right: "\e90a";
$su-azure-ad: "\e90b";
$su-back: "\e90c";
$su-big-small-column: "\e90d";
$su-bold: "\e90e";
$su-cache_3: "\e90f";
$su-calendar-1: "\e910";
$su-calendar-2: "\e911";
$su-categoried-dashboard: "\e912";
$su-category-collapse-mobile-path1: "\e913";
$su-category-collapse-mobile-path2: "\e914";
$su-category-expand-mobile-path1: "\e915";
$su-category-expand-mobile-path2: "\e916";
$su-clone: "\e917";
$su-close: "\e918";
$su-comment-1: "\e919";
$su-comment-2: "\e91a";
$su-comment-3: "\e91b";
$su-concierge-support: "\e91c";
$su-connected: "\e91d";
$su-connector-path1: "\e91e";
$su-connector-path2: "\e91f";
$su-copy: "\e920";
$su-copy-1: "\e921";
$su-data-preview-path1: "\e922";
$su-data-preview-path2: "\e923";
$su-dataset: "\e924";
$su-datasource: "\e925";
$su-datastorage: "\e926";
$su-default-view-path1: "\e927";
$su-default-view-path2: "\e928";
$su-delete: "\e929";
$su-delete-cross: "\e92a";
$su-design-dashboard: "\e92b";
$su-disable: "\e92c";
$su-dis-favorite: "\e92d";
$su-document: "\e92e";
$su-dollar: "\e92f";
$su-dots-menu: "\e930";
$su-down-arrow: "\e931";
$su-download: "\e932";
$su-draft: "\e933";
$su-dragger-path1: "\e934";
$su-dragger-path2: "\e935";
$su-dropdown-arrow: "\e936";
$su-edit: "\e937";
$su-edited-view-path1: "\e938";
$su-edited-view-path2: "\e939";
$su-edit-inverse: "\e93a";
$su-e-mail: "\e93b";
$su-embed: "\e93c";
$su-enable: "\e93d";
$su-equals: "\e93e";
$su-expand: "\e93f";
$su-external-auth: "\e940";
$su-eye: "\e941";
$su-favorite: "\e942";
$su-feedback: "\e943";
$su-filter: "\e944";
$su-folder: "\e945";
$su-greater-than: "\e946";
$su-greater-than-or-equal-to: "\e947";
$su-group: "\e948";
$su-group-1: "\e949";
$su-group-2: "\e94a";
$su-header: "\e94b";
$su-help: "\e94c";
$su-image: "\e94d";
$su-info: "\e94e";
$su-inner-close: "\e94f";
$su-italic: "\e950";
$su-left: "\e951";
$su-lesser-than: "\e952";
$su-lesser-than-or-equal-to: "\e953";
$su-license-settings: "\e954";
$su-link: "\e955";
$su-list-ol: "\e956";
$su-list-ul: "\e957";
$su-load-more: "\e958";
$su-lock: "\e959";
$su-login-error: "\e95a";
$su-logout: "\e95b";
$su-manage-permission: "\e95c";
$su-maximize: "\e95d";
$su-maximize-1: "\e95e";
$su-minimize: "\e95f";
$su-minus-circle: "\e960";
$su-mobile-menu-icon: "\e961";
$su-move: "\e962";
$su-ms-adfs: "\e963";
$su-ms-logo-path1: "\e964";
$su-ms-logo-path2: "\e965";
$su-ms-logo-path3: "\e966";
$su-ms-logo-path4: "\e967";
$su-multitab: "\e968";
$su-multi-tabbed: "\e969";
$su-nav-dashboard: "\e96a";
$su-nav-dataset: "\e96b";
$su-nav-datasource: "\e96c";
$su-nav-home: "\e96d";
$su-nav-report: "\e96e";
$su-nav-schedule: "\e96f";
$su-nav-settings: "\e970";
$su-nav-user-management: "\e971";
$su-nav-widgets: "\e972";
$su-not-equals: "\e973";
$su-notification: "\e974";
$su-notification-alert: "\e975";
$su-notification-new: "\e976";
$su-notification-settings: "\e977";
$su-oauth-path1: "\e978";
$su-oauth-path2: "\e979";
$su-oauth-path3: "\e97a";
$su-open-path1: "\e97b";
$su-open-path2: "\e97c";
$su-openid: "\e97d";
$su-open-link-newtab: "\e97e";
$su-options: "\e97f";
$su-options-horizontal: "\e980";
$su-options-menu: "\e981";
$su-or-line-path1: "\e982";
$su-or-line-path2: "\e983";
$su-or-line-mobile: "\e984";
$su-palette: "\e985";
$su-pane-collapse: "\e986";
$su-pane-expand: "\e987";
$su-password-tick: "\e988";
$su-password-untick-path1: "\e989";
$su-password-untick-path2: "\e98a";
$su-password-untick-path3: "\e98b";
$su-pause: "\e98c";
$su-pin: "\e98d";
$su-pin_unpin: "\e98e";
$su-play: "\e98f";
$su-play-1: "\e990";
$su-preview: "\e991";
$su-public: "\e992";
$su-public-dashboards: "\e993";
$su-publish: "\e994";
$su-quote: "\e995";
$su-re-authorize: "\e996";
$su-recent-dashboards: "\e997";
$su-refresh: "\e998";
$su-remove-default: "\e999";
$su-remove-public-path1: "\e99a";
$su-remove-public-path2: "\e99b";
$su-remove-public-path3: "\e99c";
$su-remove-slideshow-circle: "\e99d";
$su-reply: "\e99e";
$su-report: "\e99f";
$su-reset: "\e9a0";
$su-reset-cross: "\e9a1";
$su-right: "\e9a2";
$su-roll-back: "\e9a3";
$su-save-as: "\e9a4";
$su-save: "\e9a5";
$su-saveall: "\e9a6";
$su-saveas: "\e9a7";
$su-schedule-status: "\e9a8";
$su-search: "\e9a9";
$su-set-default: "\e9aa";
$su-settings-1: "\e9ab";
$su-settings-2: "\e9ac";
$su-share: "\e9ad";
$su-share-circle: "\e9ae";
$su-shield: "\e9af";
$su-sidebar-collapse: "\e9b0";
$su-sidebar-expand: "\e9b1";
$su-single-column: "\e9b2";
$su-single-sign-on: "\e9b3";
$su-small-big-column: "\e9b4";
$su-sort: "\e9b5";
$su-sort-down-up-path1: "\e9b6";
$su-sort-down-up-path2: "\e9b7";
$su-sort-left: "\e9b8";
$su-sort-right: "\e9b9";
$su-stop-watch: "\e9ba";
$su-storage_icon: "\e9bb";
$su-synchronize: "\e9bc";
$su-table: "\e9bd";
$su-three-column: "\e9be";
$su-tick: "\e9bf";
$su-time-setting: "\e9c0";
$su-tv: "\e9c1";
$su-two-column: "\e9c2";
$su-update-data-source: "\e9c3";
$su-upload: "\e9c4";
$su-upload-image: "\e9c5";
$su-url: "\e9c6";
$su-user: "\e9c7";
$su-user_settings_icon: "\e9c8";
$su-user-1: "\e9c9";
$su-user-add: "\e9ca";
$su-user-block: "\e9cb";
$su-user-swap: "\e9cc";
$su-versions: "\e9cd";
$su-vertical-collapse: "\e9ce";
$su-vertical-expand: "\e9cf";
$su-view: "\e9d0";
$su-view-permission: "\e9d1";
$su-warning: "\e9d2";
$su-warning-alt: "\e9d3";
$su-widget: "\e9d4";
$su-wifi: "\e9d5";
$su-windows-ad: "\e9d6";
$su-windows-logo: "\e9d7";
$su-with-comment: "\e9d8";
$su-without-comment: "\e9d9";
$su-www: "\e9da";