@import "../../core/_variables.scss";
@import "../../components/_buttons.scss";
@import "../../themes/_light.scss";
@import "../../core/_typography.scss";

//unlock feature dialog - target element height
.unlock-enterprise-features {
    min-height: 450px !important;
}

.blur-content {
    filter: blur(5px);
}

%font {
    font-style: normal;
    font-stretch: normal;
}

#unlock-enterprise-features-container {
    .e-dlg-content {
        padding: 0 !important;

        .cloud-hosted-shield {
            width: 300px;
        }

        #shield-container {
            background-color: $grey-100;
            text-align: center;

            .self-hosted-img {
                width: 96px;
                height: 106px;
                margin: 50px 0 17px 0;
            }

            .cloud-hosted-img {
                width: 96px;
                height: 106px;
                margin: 77px 0 17px 0;
            }

            h1 {
                font-size: 20px;
                font-weight: bold;
                font-family: $default-page-header;
                line-height: 1.2;
                letter-spacing: 0.6px;
                margin: 0;
                padding: 0 52px 0 55px;
                color: $primary;
                @extend %font;
            }

            p {
                font-size: 13px;
                font-family: Heebo;
                font-weight: normal;
                line-height: 1.38;
                letter-spacing: 0.3px;
                @extend %font;
            }

            .self-hosted-feature {
                padding: 0 20px;
            }

            .cloud-hosted-feature {
                padding: 0 10px;
            }

            #feature-paragraph-content {
                margin-bottom: 23px;
                margin-top: 13px;
            }

            button {
                width: 216px;
                height: 32px;
                border-radius: 4px;
                border: solid 1px $primary-btn-border-color;
                margin-bottom: 50px;
                color: $white;
            }

            #feature-list {
                ul {
                    display: inline-block;
                    padding: 0;
                }
            }

            .license-contact-us {
                padding: 0 20px;
            }

            #upgrade-license-contact-us {
                display: block;
                margin-top: 13px;
                margin-bottom: 45px;

                a {
                    cursor: pointer;
                    color: $primary;

                    &:hover {
                        color: darken($primary,10%);
                    }
                }
            }

            .shield-container-divider {
                margin-top: 24px;
                margin-bottom: 24px;
            }

            #contact-sales-cookie-content, #contact-sales-success {
                color: $green;
                padding: 0 20px;
            }
        }

        #feature-container {
            height: 420px;
            width: 502px;

            h1 {
                font-size: 16px;
                font-weight: 500;
                font-family: Heebo;
                line-height: 1.5;
                letter-spacing: 0.3px;
                text-align: center;
                @extend %font;
            }

            #enterprise-features {
                #features-container-segment-one, #features-container-segment-two {
                    padding: 0 17px 0 19px;

                    .features-container-data {
                        text-align: center;

                        img {
                            width: 50px;
                            height: 50px;
                            margin-top: 20px;
                            margin-bottom: 15px;
                        }

                        h4 {
                            font-size: 13px;
                            font-weight: 500;
                            font-family: Heebo;
                            line-height: 1.54;
                            letter-spacing: 0.3px;
                            margin-top: 0;
                            margin-bottom: 7px;
                            @extend %font;
                        }

                        p {
                            font-size: 12px;
                            font-weight: normal;
                            font-family: Heebo;
                            line-height: 1.5;
                            letter-spacing: 0.3px;
                            margin-top: 0;
                            margin-bottom: 26px;
                            padding: 0 12px 0 12px;
                            color: $grey-700;
                            @extend %font;
                        }
                    }
                }
            }

            .white-labeling {
                border-right: 1px solid $grey-200;
                border-bottom: 1px solid $grey-200;
            }

            .third-party-login {
                border-top: 1px solid $grey-200;
                border-left: 1px solid $grey-200;
                margin-top: -1px;
                margin-left: -1px;
            }
        }
    }
}
