@{
    var tenantInfo = ViewBag.TenantInfo as TenantInfo;
}
<div id="additional-devloper-quantity-popup" class="fluent-popup custom-bootstrap-styles custom-server-style" ng-app="serverApp" ng-controller="additionalQuantityController">
    <div class="fluent-popup-header">
        <h4 class="popup-title">
            <span>Additional quantity</span>
            <button id="quantity-close-popup" type="button" title="Close" class="close popup-close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h4>
    </div>
    <div class="fluent-popup-body additional-devloper-quantity-popup-body">
        <div id="quantity-selection-container">
            <div class="quantity-selection-section">
                <span>
                    <label id="quantity-selection-label" class="popup-label">No.of devlopers</label>
                </span>
                <div class="quantity-numeric-selection">
                    <input type="text" class="form-control" id="numeric" value="@tenantInfo.Quantity" ng-model="developerQuantity">
                </div>
            </div>
            <div class="quantity-summary-section">
                <span>
                    <label id="quantity-summary-label" class="popup-label">Summary</label>
                </span>
                <div class="quantity-summary-information">
                    <table class="table table-section">
                        <tr>
                            <td>
                                Developers
                            </td>
                            <td>
                                <b>{{(developerQuantity <=0 || developerQuantity > 999) ? "NA" : developerQuantity}}</b> x $@Model.Price
                            </td>
                            <td>
                                <b>${{(developerQuantity <=0 || developerQuantity > 999) ? "NA" : developerQuantity*@Model.Price}} / @Model.Interval</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    Total
                                </span>
                            </td>
                            <td></td>
                            <td>${{(developerQuantity <=0 || developerQuantity > 999) ? "NA" : developerQuantity*@Model.Price}} / @Model.Interval</td>
                        </tr>
                    </table>
                </div>
                <input id="additional-developer-quantity" type="hidden" value="{{developerQuantity}}" />
            </div>
        </div>
    </div>
    <div id="additional-quantity-button" class="fluent-popup-footer">
        <div id="button-container" class="col-lg-12 col-md-12">
            <button type="button" id="quantity-close-popup-button" class="app-button app-secondary-button pull-right">Close</button>
            <button type="button" onclick="saveDeveloperQuantity();" class="app-button app-primary-button pull-right" ng-disabled="developerQuantity <=0 || developerQuantity > 999">Add</button>
        </div>
    </div>
</div>