@-ms-viewport {
  width: auto !important; }

.dashboard-server *, .base-comment-container *, .server-dashboard-view *, #viewShare_popup *, .schedule-dialog *, #get-item-link_wrapper *, #messageBox_wrapper *, #delete-div_wrapper *, #permission_delete_confirmation_wrapper *, #designer-header * {
  font-family: "RobotoRegular"; }

.e-icon, .e-rte-toolbar-icon, .e-background-color, .e-font, .e-rte-footericon, .e-resize-handle {
  font-family: 'ej-webfont' !important; }

html, body {
  height: 100%;
  width: 100%; }

::-ms-clear {
  display: none; }

input::-ms-clear, input::-ms-reveal {
  display: none; }

a:hover, a:focus {
  text-decoration: none !important; }

.suspension-warning, .user-warning {
  position: absolute;
  color: #000;
  text-align: center;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  -moz-box-shadow: 0 0 5px #000;
  top: 0;
  width: 100%;
  margin-left: -80px; }
  .suspension-warning .warning-content, .suspension-warning .user-warning-content, .user-warning .warning-content, .user-warning .user-warning-content {
    position: relative;
    padding: 10px;
    background: #fde073;
    background-color: #e57768;
    color: white; }
    .suspension-warning .warning-content a, .suspension-warning .user-warning-content a, .user-warning .warning-content a, .user-warning .user-warning-content a {
      color: white;
      text-decoration: underline; }
  .suspension-warning .close-warning-icons, .suspension-warning .close-user-warning-icons, .user-warning .close-warning-icons, .user-warning .close-user-warning-icons {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 2px;
    padding: 12px;
    border-radius: 10px; }

.user-warning-space, .suspension-warning-space {
  padding-top: 45px !important; }

.profile-pic-tag {
  border-radius: 50%;
  color: #333;
  display: inline-block;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 2px;
  position: relative;
  text-align: center; }

#profilelogo {
  width: 175px !important;
  margin-top: -45px !important;
  border-radius: 0px !important; }
