@import "mixins.scss";

#server-app-container, #base-footer-div {
    background: $admin-bg !important;
}

.admin-page-container {
    .admin-page-header {
        margin-bottom: 0;

        .page-title {
            font-size: 18px;
        }
    }

    .admin-page-body {
        background: $admin-container-bg;
        border-color: $admin-pages-border-color;
        border-width: 0;
        padding-top: 30px !important;

        #admin-page-inner-body {
             
            .row {
                border-right: 1px solid $admin-pages-border-color;
            }
        }

        .column {
            .list-content {
                background-color: $admin-page-bg;
                border: 1px solid $admin-pages-border-color;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                margin: 15px;
                padding: 20px 26px;
                height: 300px;
                line-height: 1.8;

                .appheader {
                    border-bottom: 1px solid $admin-pages-border-color;
                    float: left;
                    padding-bottom: 26px;
                    width: 100%;

                    .icon-badge {
                        color: $primary-btn-text-color;
                        float: left;
                        margin-right: 20px;
                        margin-top: -35px;
                        padding: 50px 17px 15px 17px;

                        &.users {
                            background: $users-badge-bg;
                        }

                        &.groups {
                            background: $groups-badge-bg;
                        }

                        &.applications {
                            background: $app-badge-bg;
                        }

                        i {
                            font-size: $icon-size * 2;
                        }
                    }

                    .count {
                        margin-top: -8px;
                        margin-bottom: 0;
                    }
                }

                .module-links {
                    margin-left: -6px;

                    .main-nav {
                        margin-top: 20px;
                        line-height: 1.8;

                        li {
                            display: block;
                            height: 32px;
                            position: relative;
                            width: 100%;

                            > a {
                                color: $primary-text-color;
                                float: left;

                                > i {
                                    font-size: 16px;
                                    padding: 8px;
                                }

                                > i, > span {
                                    float: left;
                                }

                                > span {
                                    padding-top: 6px;
                                }
                            }

                            > .no-hyperlink {
                                cursor: pointer;
                                padding-left: 32px;
                            }

                            .sub-nav {
                                background: $admin-page-bg;
                                box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
                                display: none;
                                left: 130px;
                                list-style: none;
                                padding: 5px;
                                position: absolute;
                                top: 0;
                                width: 145px;
                                z-index: 9;

                                li {
                                    padding: 5px;

                                    a:hover {
                                        color: $primary-color;
                                    }
                                }
                            }

                            &.view-link {
                                margin-bottom: 5px;
                            }

                            &:hover {
                                .sub-nav {
                                    display: block;
                                }
                            }
                        }

                        .access-information {
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }

            &.user-column, &.group-column{
                 padding-right: 0;
        }
        }

        .app-module {
            border-top: 1px solid $admin-pages-border-color;
            margin-top: 30px;
            padding-left: 40px;

            .module-header {
                margin-top: 30px;
            }

            .app-list {
                padding-top: 20px;

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        display: inline-block;
                        height: $btn-height-large - 2;
                        margin-right: 85px;
                        margin-bottom: 30px;
                        cursor: pointer;

                        .bar {
                            display: table;
                            border-left: 5px solid;
                            float: left;
                            height: $btn-height-large - 2;
                        
                            &.app-theme-blue {
                                border-left-color: $app-theme-blue;
                            }

                            &.app-theme-green {
                                border-left-color: $app-theme-green;
                            }

                            &.app-theme-cyan {
                                border-left-color: $app-theme-cyan;
                            }

                            &.app-theme-gold {
                                border-left-color: $app-theme-gold;
                            }

                            &.app-theme-yellow {
                                border-left-color: $app-theme-yellow;
                            }

                            &.app-theme-red {
                                border-left-color: $app-theme-red;
                            }

                            &.app-theme-indigo {
                                border-left-color: $app-theme-indigo;
                            }                        

                            .app-name {
                                background-color: $admin-page-bg;
                                color: $primary-text-color;
                                float: left;
                                padding: 6px 20px;
                                min-width: 225px;
                                max-width: 225px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap !important;
                                display: table-row;     
                                font-size: 14px;     

                                .app-url{
                                    font-size: 12px;                                    
                                }                                                     
                            }

                            &:hover {
                                box-shadow: 0 0 15px rgba(0,0,0,0.2);
                            }                                                     
                        }

                        .popover {
                            width: auto !important;
                            .arrow{
                                top: 50% !important;
                            }
                            .popover-title {
                                display: none;
                            }
                            .popover-content{
                                max-width: 100%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            a {
                                vertical-align: unset;
                                width: unset; 
                                height: auto; 
                                padding: 0 !important; 
                                text-align: left;
                                color: $primary-color;                                
                            }                                
                        }
                    }
                }
            }
        }

        .recent-users-container{
            padding: 0 !important;
            }
        .recent-users-module {
            padding-left: 48px;
            height: 340px;

            .recent-users-list {
                list-style: none;
                padding: 0;

                li {
                    height: 32px;
                    margin: 6px 7px;

                    .img-loader, .name-loader {
                        -webkit-animation-name: fadeOpactiy;
                        -webkit-animation-duration: 4s;
                        animation-name: fadeOpactiy;
                        animation-duration: 4s;
                        animation-iteration-count: infinite;
                        background: $add-background-border-color;
                        display: block;
                        float: left;
                        height: 32px;
                        margin-right: 14px;
                    }

                    .img-loader {
                        border-radius: 50%;
                        width: 32px;
                    }

                    .name-loader {
                        height: 20px;
                        margin-top: 5px;
                        width: 100px;
                    }

                    a {
                        color: $primary-text-color;
                        display: inline-block;
                    }

                    img {
                        border-radius: 50%;
                        float: left;
                        margin-right: 14px;
                    }

                    .user-display-name {
                        float: left;
                        padding: 7px 0;
                        max-width: 120px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap !important;
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .admin-page-container {
        .admin-page-header {
            .page-title {
                padding-left: 10px;
            }
        }

        .admin-page-body {
        }
    }
}

@media (min-width:299px) and (max-width:320px) {
    .siteadmin {
        .list-content {
            .list-unstyled {
                padding-left: 15px;
            }
        }
    }
}

@media (min-width:319px) and (max-width:361px) {
    .siteadmin {
        .list-content {
            .list-unstyled {
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
        }
    }
}

@media (min-width:1024px) and (max-width:1365px) {
    .admin-page-container {
        .admin-page-body {
            .column {
                .list-content {
                    .appheader {
                        h4 {
                            font-size: 16px;
                        }

                        h1 {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

@-webkit-keyframes fadeOpactiy {
    0% {
        opacity: 0.25;
    }

    25% {
        opacity: 0.50;
    }

    50% {
        opacity: 0.75;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0.25;
    }
}

@keyframes fadeOpactiy {
    0% {
        opacity: 0.25;
    }

    25% {
        opacity: 0.50;
    }

    50% {
        opacity: 0.75;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0.25;
    }
}
