@import (reference) "Mixins.less";

#application-disable-confirmation, #application-enable-confirmation {
    .modal-dialog .modal-body .delete-msg, #user-delete-confirmation .modal-dialog .modal-body .delete-msg {
        font-size: @info-font-size;
    }

    .modal-dialog {
        display: block;
        height: auto;
        min-height: 120px;
        width: 378px;
        margin: 0 auto;
        padding: 0;
        border-radius: 2px;

        .modal-content {
            border: none;
        }

        .modal-header {
            background: @grid-header-bg;
            padding: 10px;
            width: 100%;
            z-index: 9;
            float: left;
            margin: 0;
            border-bottom: medium none;
            height: 50px;

            a.close {
                color: @primary-text-color;
                float: right;
                font-size: @app-text-size - 2;
                margin: 0;
                opacity: 1;

                &:hover {
                    color: @primary-color;
                }
            }
        }

        .modal-body {
            padding: 0px;

            .delete-msg {
                height: 50px;
            }

            .highlight-name {
                font-style: italic;
                color: @primary-btn-bg;
            }
        }

        .modal-footer {
            background: #f2f2f2;
            border-top: 1px solid #e5e5e5;
            padding: 10px;

            .critical-action-button {
                margin-right: 10px;
            }

            .popup-close {
                float: none;
                margin-right: 10px;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    #application-disable-confirmation, #application-enable-confirmation {
        .modal-dialog .modal-body .delete-msg, #user-delete-confirmation .modal-dialog .modal-body .delete-msg {
            font-size: @label-font-size;
        }

        .modal-header {
            a.close {
                font-size: @app-text-size;
            }
        }
    }
}