@import "../core/_variables.scss";
@import "../core/_typography.scss";
@import "../themes/_light_cloud.scss";

@mixin button($height, $width, $buttonType: "primary", $background-color: $primary, $color: $white, $border: 1px solid, $border-radius: 4px, $border-color: $primary-btn-border-color, $hover-color: $primary-btn-hover-color) {

    @if ($buttonType == "primary") {
        $background-color: $primary;
        $color: $white;
        $border-color: $primary-btn-border-color;
        $hover-color: $primary-btn-hover-color;
    }
    @else if ($buttonType == "secondary") {
        $background-color: $white;
        $color: $primary-black;
        $border-color: $grey-500;
        $hover-color: $grey-300;
    }

    border: $border;
    border-radius: $border-radius;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    position: relative;
    text-align: center;
    width: $width;
    height: $height;
    line-height: $height;
    background-color: $background-color;
    border-color: $border-color;
    color: $color;

    &:hover {
        background-color: $hover-color;
    }

    &:disabled {
        cursor: default;
        background-color: $grey-200;
        box-shadow: none;
        color: $grey-600;
        border: 1px solid $grey-400;
    }
}