@{
    ViewBag.Title = "[[[Access Denied]]]";
    ViewBag.MessageBox = false;
    var globalAppSettings = new TenantHandler().GetTenantConfig();
}

@section scripts{
    @Scripts.Render("~/bundles/scripts/bootstrapjs")
}

@section MainSection{
    <h2>[[[Access Denied]]]</h2>    
}
