@import  "../mixins.scss";

.admin-page-content-container {
    .admin-page-body {
        .import-file {
            #user-import-validation-msg {
                color: $validation-text-color;
                cursor: pointer;
                float: left;
                margin-top: 15px;
            }
        }

        .grid-area {
            #grid-validation-messages {
                float: left;
                height: 20px;
                margin-bottom: 3px;
                margin-top: 0;
                text-align: center;
                width: 100%;

                #grid-nodata-validation, #grid-error-validation {
                    color: $validation-text-color;
                    display: none;
                }

                #grid-validation {
                    color: $success-text-color;
                    display: none;
                }
            }
        }
    }
}

#messageBox {
    .e-footer-content {
        text-align: center;
    }
}

.user-validation {
    color: $validation-text-color;

    ol {
        padding-left: 3px;
        list-style-type: none;
    }
}

/*For the purpose of height adjustment,which differs in various message box*/
.msg-box-height {
    height: 150px !important;
}

.failed-msg-box-height {
    height: 200px !important;
}

@media screen and (min-width: 1400px) {
    .container-fluid .content-section .import-file .input-group-addon {
        height: 32px;
    }
}
