@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.admin-page-content-container .admin-page-body .import-file #user-import-validation-msg {
  color: var(--danger);
  cursor: pointer;
  float: left;
  margin-top: 15px; }

.admin-page-content-container .admin-page-body .grid-area #grid-validation-messages {
  float: left;
  height: 20px;
  margin-bottom: 3px;
  margin-top: 0;
  text-align: center;
  width: 100%; }
  .admin-page-content-container .admin-page-body .grid-area #grid-validation-messages #grid-nodata-validation, .admin-page-content-container .admin-page-body .grid-area #grid-validation-messages #grid-error-validation {
    color: var(--danger);
    display: none; }
  .admin-page-content-container .admin-page-body .grid-area #grid-validation-messages #grid-validation {
    color: var(--success);
    display: none; }

#messageBox .e-footer-content {
  text-align: center; }

.user-validation {
  color: var(--danger); }
  .user-validation ol {
    padding-left: 3px;
    list-style-type: none; }

/*For the purpose of height adjustment,which differs in various message box*/
.msg-box-height {
  height: 150px !important; }

.failed-msg-box-height {
  height: 200px !important; }

@media screen and (min-width: 1400px) {
  .container-fluid .content-section .import-file .input-group-addon {
    height: 32px; } }
