@import "../mixins.scss";
#base-container {
    .admin-header-btn {
        #new-user-dropdown {
            margin-left: 15px
        }

        #assign-user-role-button {
            margin-left: 16px
        }
    }

    #user-list-container {
        #role-filter-option {
            margin: 3px -10px;
            font-size: 14px;
            height: 16px;
            width: 16px;
            position: absolute;
        }

        .role-filter {
            border: 1px solid #f2f2f2;
            position: absolute;
            width: 248px;
            height: auto;
            padding: 10px;
            text-align: left;
            z-index: 1000;
            background: #fff;
            border: 1px solid rgba(0,0,0,.15);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
            background-clip: padding-box;
            margin-left: 25px;
            margin-top: 25px;

            .admin, .non-admin {
                padding: 5px 10px;

                .app-textbox-label {
                    cursor: pointer;
                    line-height: 20px;
                }

                .notransition:before, .notransition:after {
                    /*CSS animations*/
                    animation: none !important;
                    -moz-animation: none !important;
                    -ms-animation: none !important;
                    -o-animation: none !important;
                    -webkit-animation: none !important;
                }

                label {
                    font-size: 12px !important;
                    font-weight: 500 !important;
                }
            }

            .filter-buttons {
                padding: 5px 10px 10px 10px;

                input[type="button"] {
                    height: 28px !important;
                    line-height: 28px !important;
                    width: 95px !important;
                }

                #filter-button {
                    color: $white;
                }

                #cancel {
                    margin-left: 12px;
                }
            }
        }

        #user_grid {
            .e-gridcontent {
                table {
                    tr {
                        .e-active {
                            background: $selected-color !important;
                        }
                    }
                }
            }

            table {
                th:last-child {
                    cursor: default;
                }
            }
        }

        .margin {
            margin-left: 3px;
        }
    }

    .ad-azure-indication {
        padding: 10px 0 0 5px;

        .su {
            color: $ad-icon-color;
        }
    }
}

.note-info {
    margin-top: 10px;

    .note-text {
        font-weight: bold;
    }
}

#add-tenants-dialog_wrapper {
    width: 902px !important;
    position: fixed !important;

    .e-dialog-scroller {
        width: 902px !important;
        border-bottom: none;

        #add-tenants-dialog {
            height: 1070px !important;
            display: block;
            @include dialogbox();

            .modal-dialog {
                width: 902px !important;
                position: fixed;

                .modal-content {
                    .modal-header {
                        border-bottom: none !important;

                        .close {
                            font-size: 16px !important;
                            color: #4d4d4d;
                            opacity: 1;

                            &:hover {
                                color: #1a1a1a;
                            }
                        }
                    }

                    .modal-body {
                        padding: 10px !important;
                        min-height: 433px !important;

                        #add_tenants_grid {
                            .e-gridheader {
                                .material-checkbox {
                                    @include material-checkbox-controls();

                                    &:checked + input + label::before {
                                        top: 0px !important;
                                    }
                                }
                            }

                            .e-gridcontent {
                                max-height: 275px !important;
                                overflow: auto !important;

                                .material-checkbox {
                                    @include material-checkbox-controls();

                                    &:checked + input + label::before {
                                        top: 7px !important;
                                    }
                                }
                            }
                        }
                    }

                    .modal-footer {
                        background: #F2F2F2;
                        border-top: 1px solid #e5e5e5;
                        padding: 10px;
                    }

                    #provide-access-button {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

.modal-footer {
    background: $grey-60;
    border-top: 1px solid $grey-40;
    padding: 10px;
    height: 60px !important;
}

#add-tenants-report-dialog {
    #csv-download {
        margin-top: 20px;
        margin-bottom: 20px
    }

    .status-table {
        .report-table {
            width: 100%;

            tr {
                text-align: center;
            }

            .title-row {
                height: 50px;
                border-bottom: 2px solid $grey-200;
                background-color: $grey-40;

                td {
                    font-weight: 600;

                    .info-icon {
                        margin-left: 5px;
                        position: relative;
                        font-size: 13px;
                    }
                }
            }

            .content-row {
                height: 50px;
            }
        }
    }

    #csv-download {
        a {
            cursor: pointer;
            color: $primary-color;
        }
    }
}

.e-grid .e-gridcontent tr:first-child td, .e-grid tr:first-child.e-editedrow td.e-rowcell, .e-grid .e-gridcontent .e-firstrow > td {
    border-top: 1px solid $grid-border-color;
}

#popup-container {
    #confirm-modal {
        .modal-dialog {
            #movable-dialog {
                border-radius: 0;
                top: 150px;

                .modal-header {
                    border-bottom: 0;
                    padding: 10px;

                    a.close {
                        color: #4d4d4d;
                        font-size: $app-large-text-size;
                        opacity: 1;
                        filter: none !important;

                        &:hover {
                            color: #1a1a1a;
                        }
                    }

                    .modal-title {
                        font-size: $app-large-text-size;

                        head-icon {
                            padding-right: 7px;
                        }
                    }

                    .subhead-menu {
                        font-size: $app-text-size;
                        padding: 0 0 10px 0;
                    }
                }

                .modal-body {
                    padding: 0px !important;
                    font-size: $app-text-size;

                    .placeholder {
                        height: $textbox-height + 2;
                        padding-left: 12px;
                        position: absolute;
                        top: 0;
                        line-height: $textbox-height;
                        color: $placeholder-color;
                    }

                    .form-label {
                        margin-top: 8px;
                    }

                    .form-control {
                        font-size: $app-text-size;
                        height: $btn-height-normal;
                    }

                    textarea.form-control {
                        font-size: $app-text-size;
                        height: auto;
                        resize: none;
                    }

                    .group-validation {
                        color: $validation-text-color;
                        display: block;
                        font-size: $validation-text-size;
                    }

                    .description-content {
                        margin-top: 20px;
                    }

                    .notification {
                        font-size: $validation-text-size;
                    }

                    .dropdown-menu {
                        max-width: 200px;

                        > .active > a {
                            color: $admin-page-bg !important;
                            background-color: $primary-color;
                        }

                        li {
                            a {
                                span {
                                    max-width: 385px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                }

                .modal-footer {
                    border-top: 1px solid $footer-border-color;
                    background-color: $dialog-footer-bgcolor;
                    margin-top: 190px;
                    padding: 12.5px 10px;
                    text-align: right;

                    .primary-button {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.e-dialog {
    @include dialogbox();

    .validation-message {
        float: left;
        margin: 0 10px;

        span {
            float: left;
            font-size: 11px;
            padding: 10px;
        }
    }

    .modal-body {
        padding: 0px;

        .form-control {
            font-size: $app-text-size;
            width: 301px;
            height: $btn-height-normal;
            line-height: normal;
        }

        .app-textbox-label {
            margin-top: 8px;
            font-weight: 400;
            padding-right: 45px;
        }

        .form-padding {
            padding: 10px;

            &.password {
                .show-hide-password {
                    cursor: pointer;
                    display: block;
                    position: absolute;
                    right: 15px;
                    top: 8px;
                    font-size: 16px;
                }

                .tooltip {
                    left: 264px !important;

                    .tooltip-inner {
                        word-break: normal !important;
                    }

                    .tooltip-arrow {
                        top: auto !important;
                    }
                }
            }
        }

        .password {
            margin-bottom: 10px;
        }

        .useradd-validation-messages {
            color: $validation-text-color;
            display: block;
            font-size: $validation-text-size;
            margin-bottom: -16px;
        }

        .placeholder {
            height: $textbox-height + 2;
            padding-left: 12px;
            position: absolute;
            top: 0;
            line-height: $textbox-height;
            color: $placeholder-color;
        }

        ul#password_policy_rules {
            font-size: $app-text-size -2;
            color: $validation-text-color;
            list-style-type: none;
            margin: 10px 0 0 0;
            padding: 0;

            span {
                display: inline-block !important;
                margin-right: 5px;
                vertical-align: middle;
            }
        }

        #password_policy_rules #p_policy_heading {
            color: $primary-text-color;
        }

        #password-policy-rules {
            #p_policy_length {
                margin-left: 47px;
            }

            #p_policy_uppercase, #p_policy_lowercase {
                margin-right: -5px;
            }

            #p_policy_number {
                margin-right: 4px;
            }

            #p_policy_specialcharacter {
                margin-right: -44px;
            }

            li {
                span {
                    font-size: $app-text-size -2 !important;
                    padding-right: 10px !important;
                }
            }
        }

        .clear-error {
            color: $success-text-color;
        }

        li span.su-tick {
            color: $success-text-color !important;
            margin-right: 10px;
        }

        li span.su-close {
            color: $validation-text-color;
            margin-right: 10px;
        }
    }
}

.e-dialog, #user-delete-confirmation, #singleuser-delete-confirmation {
    padding: 0;
    //To retrieve the dialog box during window resize
    display: block;

    .modal-dialog {
        display: block;
        height: auto;
        min-height: 120px;
        width: 378px;

        .modal-title {
            font-size: 14px;
        }

        .modal-body {
            padding: 0px !important;

            .delete-msg, .msg {
                height: 50px;
                font-size: $app-text-size;
            }
        }
    }
}
/*Hiding no suggestion and waiting popup in Filtering*/
#user_grid_acString {
    background-image: none !important;
}

#user_grid_acString_suggestion {
    display: none !important;
}
// To wrap the text in tool tip
.tooltip-inner {
    word-break: break-all;
}

@media screen and (min-width: 1400px) {
    .e-dialog .modal-dialog .modal-content .modal-header {
        .modal-title, a.close {
            font-size: 16px;
            filter: none !important;
        }

        .model-title {
            font-size: 16px;
        }
    }

    .e-dialog {
        .validation-message {
            span {
                font-size: $validation-large-text-size;
            }
        }

        .modal-body {
            .form-control {
                font-size: $app-large-text-size;
                height: $textbox-lg-height;
            }

            .app-textbox-label {
                font-size: $app-large-text-size;
            }

            .useradd-validation-messages {
                font-size: $validation-large-text-size;
            }

            .placeholder {
                line-height: $textbox-height + 4;
            }
        }
    }

    #singleuser-delete-confirmation .modal-dialog .modal-body .delete-msg, #user-delete-confirmation .modal-dialog .modal-body .delete-msg {
        font-size: $app-large-text-size;
    }

    #popup-container #confirm-modal .modal-dialog #movable-dialog {
        .modal-header {
            .modal-title, a.close {
                font-size: $app-large-text-size + 2;
                filter: none !important;
            }

            .subhead-menu {
                font-size: $app-large-text-size;
            }
        }

        .modal-body {
            font-size: $app-large-text-size;

            .form-control {
                font-size: $app-large-text-size;
                height: $textbox-lg-height;
            }

            .group-validation {
                font-size: $validation-large-text-size;
            }

            .notification {
                font-size: $validation-large-text-size;
            }
        }
    }
}

#messageBox_wrapper {
    .e-dialog-scroller {
        height: 150px;

        #messageBox {
            height: 100% !important;
            width: 100% !important;

            .message-content {
                margin: 0px;
                height: 70px;
                padding: 15px 15px 15px 15px;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1200px) {

    #base-container .admin-page-header #user-title .dropdown {

        .add-user-dropdown {
            left: -119px;
            width: 216px !important
        }

        .sync-user-dropdown {
            left: -126px;
            width: 235px !important
        }
    }
}
