@import "../mixins.scss";

#admin-menu-nav-bar {
    @include navmenu();
}

#server-app-container {
    overflow: hidden;

    #content-area {
        height: 100%;
    }

    @include admin-page-template_header();

    .admin-page-content-container {

        &#view-user-profile {
            height: calc(100% - 76px);
            overflow: unset;
        }

        &#change-password-container {
            height: calc(100% - 140px) !important;
            overflow:visible;
        }

        @include admin-page-template_new();

        .admin-page-body {
            .import-file {
                @include uploadInput();
            }
        }
    }
}

#new-password + .popover {
    @include passwordPolicyPopOver();
}

