@import "../mixins.scss";

#admin-menu-nav-bar {
    @include navmenu();

    ul {
        margin-top: 18px;
    }
}

#server-app-container {
    overflow: hidden;

    #content-area {
        height: 100%;
    }

    .admin-page-content-container {
        @include admin-page-template_new();

        .admin-page-body {
            .import-file {
                @include uploadInput();
            }
        }
    }
}

