.activate-tenant-bg {
  font-family: var(--font-family);
  font-size: 12px;
  margin: 0 auto;
  display: inline-block;
  width: 400px;
  background: #fffdfc;
  border-radius: 4px 4px 4px 4px;
  padding: 24px 32px;
  text-align: center; }
  .activate-tenant-bg .icon-container {
    background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%; }
    .activate-tenant-bg .icon-container .su.su-tick {
      height: 25px;
      width: 25px;
      margin: 3px auto 0px auto;
      border-radius: 50%;
      padding: 4px;
      color: #4dd964;
      font-size: 17px;
      background: white; }
  .activate-tenant-bg .icon-container {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fa9a32;
    padding: 5px;
    color: #fa9a32; }
    .activate-tenant-bg .icon-container .su.su-warning-alt {
      font-size: 25px;
      color: #FFFFFF; }
  .activate-tenant-bg .icon-background {
    background: #fa9a32; }
  .activate-tenant-bg .heading {
    margin: 16px 0px;
    font-weight: 600; }
  .activate-tenant-bg .status-message #tenant-email {
    font-weight: 600;
    text-decoration: none;
    color: #333333;
    word-break: break-all; }
  .activate-tenant-bg .status-message span {
    display: block; }
  .activate-tenant-bg .btn-holder {
    border-radius: 5px;
    text-align: center;
    vertical-align: central;
    background: #0565FF;
    height: 32px;
    width: 120px;
    margin: 0 auto;
    margin-top: 32px; }
    .activate-tenant-bg .btn-holder .proceed-button {
      background: #ff4800;
      border: none;
      color: #FFFFFF;
      height: inherit;
      display: inline-block;
      width: 120px;
      outline: none;
      line-height: 32px;
      border-radius: 5px; }
      .activate-tenant-bg .btn-holder .proceed-button:hover {
        background: #cc3a00;
        text-decoration: none; }
      .activate-tenant-bg .btn-holder .proceed-button:disabled {
        background: #CCCCCC;
        cursor: default; }
  .activate-tenant-bg .resend-verification {
    margin-top: 24px; }
    .activate-tenant-bg .resend-verification a.text-primary {
      text-decoration: none;
      cursor: pointer;
      color: #0052CC; }
  .activate-tenant-bg .divider-light {
    border-bottom: 1px solid #CCCCCC;
    height: 2px;
    margin-top: 24px;
    margin-bottom: 16px; }
  .activate-tenant-bg .expiration-time .info-icon {
    height: 18px;
    width: 18px;
    display: inline-block;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 50%;
    margin-right: 7px;
    color: #ff4800; }
  .activate-tenant-bg .expiration-time .message {
    display: inline-block;
    padding-left: 2px; }
  .activate-tenant-bg .link-hover:hover {
    color: #0747A6; }
  .activate-tenant-bg .verification-contianer {
    text-align: center;
    margin: 5% 0%; }
    .activate-tenant-bg .verification-contianer #verifiation-error {
      padding: 5px;
      color: #EF3F3F;
      display: none; }
    .activate-tenant-bg .verification-contianer .btn-holder {
      margin-top: 15px !important; }
    .activate-tenant-bg .verification-contianer .account-verification-code {
      border-radius: 8px;
      padding: 8px;
      font-size: 20px;
      letter-spacing: 5px;
      text-align: center;
      width: 100% !important; }
