@import "newthemes/elementsize.scss";
@import "newthemes/elementcolor.scss";
@import"../themes/_light_cloud.scss";

.activate-tenant-bg {
    font-family: var(--font-family);
    font-size: $textsize-12;
    margin: 0 auto;
    display: inline-block;
    width: 400px;
    background: $registration-form-background;
    border-radius: $rc-all-4;
    padding: $space-l $space-xl;
    text-align: center;

    .icon-container {
        background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
        display: inline-block;
        height: 40px;
        width: 40px;
        border-radius: 50%;

        .su.su-tick {
            height: 25px;
            width: 25px;
            margin: 3px auto 0px auto;
            border-radius: 50%;
            padding: 4px;
            color: $green;
            font-size: 17px;
            background: white;
        }
    }

    .icon-container {
        height: 40px;
        width: 40px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: #fa9a32;
        padding: 5px;
        color: #fa9a32;

        .su.su-warning-alt {
            font-size: 25px;
            color: $color-white;
        }
    }

    .icon-background {
        background: #fa9a32;
    }

    .heading {
        margin: $space-m 0px;
        font-weight: $text-semibold;
    }

    .status-message {
        #tenant-email {
            font-weight: $text-semibold;
            text-decoration: none;
            color: $color-grey-800;
            word-break: break-all;
        }

        span {
            display: block;
        }
    }

    .btn-holder {
        border-radius: 5px;
        text-align: center;
        vertical-align: central;
        background: $color-primary;
        height: $button-32;
        width: 120px;
        margin: 0 auto;
        margin-top: $space-xl;

        .proceed-button {
            background: $boldbi-primary-color;
            border: none;
            color: $color-white;
            height: inherit;
            display: inline-block;
            width: 120px;
            outline: none;
            line-height: $button-32;
            border-radius: 5px;

            &:hover {
                background: darken($boldbi-primary-color, 10%);
                text-decoration: none;
            }

            &:disabled {
                background: $color-grey-200;
                cursor: default;
            }
        }
    }

    .resend-verification {
        margin-top: $space-l;

        a.text-primary {
            text-decoration: none;
            cursor: pointer;
            color: $registartion-page-link;
        }
    }

    .divider-light {
        border-bottom: 1px solid $color-grey-200;
        height: 2px;
        margin-top: $space-l;
        margin-bottom: $space-m;
    }

    .expiration-time {
        .info-icon {
            height: 18px;
            width: 18px;
            display: inline-block;
            border: 1px solid $color-grey-200;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            border-radius: 50%;
            margin-right: 7px;
            color: $boldbi-primary-color;
        }

        .message {
            display: inline-block;
            padding-left: 2px;
        }
    }

    .link-hover:hover {
        color: $registartion-page-link-hover;
    }

    .verification-contianer {
        text-align: center;
        margin: 5% 0%;

        #verifiation-error {
            padding: 5px;
            color: $danger-color;
            display: none;
        }

        .btn-holder {
            margin-top: 15px !important;
        }

        .account-verification-code {
            border-radius: 8px;
            padding: 8px;
            font-size: 20px;
            letter-spacing: 5px;
            text-align: center;
            width: 100% !important;
        }
    }
}
