@charset "UTF-8";
@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.active-directory-container .e-gridheader .material-checkbox + input + label {
  cursor: pointer;
  display: inline-block;
  height: 25px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.26px;
  margin: 0;
  padding: 6px 7px 0 24px !important;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .active-directory-container .e-gridheader .material-checkbox + input + label::after {
    border-radius: 2px; }
  .active-directory-container .e-gridheader .material-checkbox + input + label::before, .active-directory-container .e-gridheader .material-checkbox + input + label::after {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
    width: 11px;
    height: 8px; }

.active-directory-container .e-gridheader .material-checkbox:not(:checked) + input + label::before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px; }

.active-directory-container .e-gridheader .material-checkbox:not(:checked) + input + label::after {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid #b3b3b3;
  top: 0px;
  z-index: 1;
  margin-top: 7px;
  margin-bottom: 2px; }

.active-directory-container .e-gridheader .material-checkbox:checked + input + label::before {
  bottom: 11.2px;
  color: #fff;
  content: "юдл";
  font-family: "Server";
  left: 1px;
  font-size: 14px;
  font-weight: bold; }

.active-directory-container .e-gridheader .material-checkbox:checked + input + label::after {
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--colorPrimary);
  background-color: var(--colorPrimary);
  z-index: 0;
  margin-top: 7px;
  margin-bottom: 2px; }

.active-directory-container .e-gridheader .material-checkbox:disabled + input + label::after {
  background-color: #f2f2f2;
  border: 1px solid #cccccc; }

.active-directory-container .e-gridheader .material-checkbox:disabled + input + label::before {
  color: #b3b3b3; }

.active-directory-container .e-gridheader .material-checkbox:not(:checked):disabled + input + label::after {
  background-color: #f2f2f2;
  border: 1px solid #cccccc; }

.active-directory-container .e-gridheader .material-checkbox:not(:checked), .active-directory-container .e-gridheader .material-checkbox:checked {
  position: absolute;
  left: -9999px;
  opacity: 0; }

.active-directory-container .e-gridheader .material-checkbox:checked + input + label::before {
  bottom: 14px !important;
  left: 1px; }

.active-directory-container .e-gridcontent .material-checkbox + input + label {
  cursor: pointer;
  display: inline-block;
  height: 25px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.26px;
  margin: 0;
  padding: 6px 7px 0 24px !important;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .active-directory-container .e-gridcontent .material-checkbox + input + label::after {
    border-radius: 2px; }
  .active-directory-container .e-gridcontent .material-checkbox + input + label::before, .active-directory-container .e-gridcontent .material-checkbox + input + label::after {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
    width: 11px;
    height: 8px; }

.active-directory-container .e-gridcontent .material-checkbox:not(:checked) + input + label::before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px; }

.active-directory-container .e-gridcontent .material-checkbox:not(:checked) + input + label::after {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid #b3b3b3;
  top: 0px;
  z-index: 1;
  margin-top: 7px;
  margin-bottom: 2px; }

.active-directory-container .e-gridcontent .material-checkbox:checked + input + label::before {
  bottom: 11.2px;
  color: #fff;
  content: "юдл";
  font-family: "Server";
  left: 1px;
  font-size: 14px;
  font-weight: bold; }

.active-directory-container .e-gridcontent .material-checkbox:checked + input + label::after {
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--colorPrimary);
  background-color: var(--colorPrimary);
  z-index: 0;
  margin-top: 7px;
  margin-bottom: 2px; }

.active-directory-container .e-gridcontent .material-checkbox:disabled + input + label::after {
  background-color: #f2f2f2;
  border: 1px solid #cccccc; }

.active-directory-container .e-gridcontent .material-checkbox:disabled + input + label::before {
  color: #b3b3b3; }

.active-directory-container .e-gridcontent .material-checkbox:not(:checked):disabled + input + label::after {
  background-color: #f2f2f2;
  border: 1px solid #cccccc; }

.active-directory-container .e-gridcontent .material-checkbox:not(:checked), .active-directory-container .e-gridcontent .material-checkbox:checked {
  position: absolute;
  left: -9999px;
  opacity: 0; }

.active-directory-container .e-gridcontent .material-checkbox:checked + input + label::before {
  bottom: 8px !important;
  left: 1px; }

.active-directory-container .import-active-directory .admin-page-header .back-button {
  padding: 6px 10px 0 0; }

.active-directory-container .import-active-directory .admin-page-header .page-title {
  padding-top: 5px; }

.active-directory-container .import-active-directory .directory-path {
  margin-right: 5px; }

.active-directory-container .import-active-directory .admin-page-link {
  color: var(--colorPrimary);
  background-color: var(--colorOnPrimary);
  margin-left: 6px;
  padding: 4px 20px 4px;
  border: 1px solid var(--colorPrimary);
  font-weight: 600;
  border-radius: 2px; }
  .active-directory-container .import-active-directory .admin-page-link:hover {
    background-color: #eeeeee; }

.active-directory-container .import-active-directory .col-md-8 {
  padding-left: 0; }

.active-directory-container .import-active-directory .error-message {
  color: var(--danger);
  padding-top: 8px; }

.active-directory-container .admin-page-link {
  color: var(--colorPrimary); }

.active-directory-container .user-data-grid .import-message {
  display: block;
  padding-bottom: 30px; }

.active-directory-container .user-data-grid #grid-validation-messages {
  height: 20px;
  margin-bottom: 3px;
  margin-top: 0;
  text-align: center;
  width: 100%; }
  .active-directory-container .user-data-grid #grid-validation-messages .grid-validation, .active-directory-container .user-data-grid #grid-validation-messages .grid-error-validation, .active-directory-container .user-data-grid #grid-validation-messages .grid-nodata-validation {
    padding-top: 6px; }
  .active-directory-container .user-data-grid #grid-validation-messages .validation-message {
    color: var(--danger);
    display: none;
    padding-top: 6px;
    width: 100%; }

.active-directory-container .user-data-grid #grid-nodata-validation, .active-directory-container .user-data-grid #grid-error-validation {
  color: var(--danger);
  display: none; }

.active-directory-container .user-data-grid #grid-validation {
  color: var(--success);
  display: none; }

.active-directory-container .user-data-grid .col-md-12, .active-directory-container .user-data-grid .col-xs-12 {
  padding-left: 0;
  padding-right: 0; }

.active-directory-container .user-data-grid #grid-container .e-grid .e-gridheader .e-headercell .e-headercelldiv {
  margin-left: -4px; }
  .active-directory-container .user-data-grid #grid-container .e-grid .e-gridheader .e-headercell .e-headercelldiv .item-header {
    display: inline; }

.active-directory-container .user-data-grid #grid-container .su-login-error {
  color: var(--danger); }

.e-gridcontent tr td {
  padding-left: 18px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.message-content #group-imported {
  color: var(--success); }

.emptyrecord {
  padding-left: 28px; }

.tooltip-inner {
  max-width: none; }

.tooltip.top .tooltip-arrow {
  bottom: 1px; }

#messageBox_wrapper {
  width: 575px !important;
  height: 276px !important; }
  #messageBox_wrapper #messageBox .message-header {
    padding: 0 15px 15px 0; }
  #messageBox_wrapper .e-dialog .e-widget-content {
    padding: 0 !important; }
  #messageBox_wrapper .e-dialog-scroller {
    height: 276px;
    width: 572px; }
    #messageBox_wrapper .e-dialog-scroller #messageBox {
      height: 276px !important;
      width: 577px !important;
      position: relative; }
      #messageBox_wrapper .e-dialog-scroller #messageBox .message-content {
        margin-top: 0;
        max-height: 182px;
        margin-right: -10px;
        overflow: auto; }
      #messageBox_wrapper .e-dialog-scroller #messageBox .message-box-btn-holder {
        position: absolute;
        bottom: 0; }
