@charset "UTF-8";
@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

#import-active-directory-users .e-gridheader .material-checkbox + input + label {
  cursor: pointer;
  display: inline-block;
  height: 25px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.26px;
  margin: 0;
  padding: 6px 7px 0 24px !important;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  #import-active-directory-users .e-gridheader .material-checkbox + input + label::after {
    border-radius: 2px; }
  #import-active-directory-users .e-gridheader .material-checkbox + input + label::before, #import-active-directory-users .e-gridheader .material-checkbox + input + label::after {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
    width: 11px;
    height: 8px; }

#import-active-directory-users .e-gridheader .material-checkbox:not(:checked) + input + label::before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px; }

#import-active-directory-users .e-gridheader .material-checkbox:not(:checked) + input + label::after {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid #b3b3b3;
  top: 0px;
  z-index: 1;
  margin-top: 7px;
  margin-bottom: 2px; }

#import-active-directory-users .e-gridheader .material-checkbox:checked + input + label::before {
  bottom: 11.2px;
  color: #fff;
  content: "юдл";
  font-family: "Server";
  left: 1px;
  font-size: 14px;
  font-weight: bold; }

#import-active-directory-users .e-gridheader .material-checkbox:checked + input + label::after {
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--colorPrimary);
  background-color: var(--colorPrimary);
  z-index: 0;
  margin-top: 7px;
  margin-bottom: 2px; }

#import-active-directory-users .e-gridheader .material-checkbox:disabled + input + label::after {
  background-color: #f2f2f2;
  border: 1px solid #cccccc; }

#import-active-directory-users .e-gridheader .material-checkbox:disabled + input + label::before {
  color: #b3b3b3; }

#import-active-directory-users .e-gridheader .material-checkbox:not(:checked):disabled + input + label::after {
  background-color: #f2f2f2;
  border: 1px solid #cccccc; }

#import-active-directory-users .e-gridheader .material-checkbox:not(:checked), #import-active-directory-users .e-gridheader .material-checkbox:checked {
  position: absolute;
  left: -9999px;
  opacity: 0; }

#import-active-directory-users .e-gridheader .material-checkbox:checked + input + label::before {
  bottom: 14px !important;
  left: 1px; }

#import-active-directory-users .e-gridcontent .material-checkbox + input + label {
  cursor: pointer;
  display: inline-block;
  height: 25px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.26px;
  margin: 0;
  padding: 6px 7px 0 24px !important;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  #import-active-directory-users .e-gridcontent .material-checkbox + input + label::after {
    border-radius: 2px; }
  #import-active-directory-users .e-gridcontent .material-checkbox + input + label::before, #import-active-directory-users .e-gridcontent .material-checkbox + input + label::after {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
    width: 11px;
    height: 8px; }

#import-active-directory-users .e-gridcontent .material-checkbox:not(:checked) + input + label::before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px; }

#import-active-directory-users .e-gridcontent .material-checkbox:not(:checked) + input + label::after {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid #b3b3b3;
  top: 0px;
  z-index: 1;
  margin-top: 7px;
  margin-bottom: 2px; }

#import-active-directory-users .e-gridcontent .material-checkbox:checked + input + label::before {
  bottom: 11.2px;
  color: #fff;
  content: "юдл";
  font-family: "Server";
  left: 1px;
  font-size: 14px;
  font-weight: bold; }

#import-active-directory-users .e-gridcontent .material-checkbox:checked + input + label::after {
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--colorPrimary);
  background-color: var(--colorPrimary);
  z-index: 0;
  margin-top: 7px;
  margin-bottom: 2px; }

#import-active-directory-users .e-gridcontent .material-checkbox:disabled + input + label::after {
  background-color: #f2f2f2;
  border: 1px solid #cccccc; }

#import-active-directory-users .e-gridcontent .material-checkbox:disabled + input + label::before {
  color: #b3b3b3; }

#import-active-directory-users .e-gridcontent .material-checkbox:not(:checked):disabled + input + label::after {
  background-color: #f2f2f2;
  border: 1px solid #cccccc; }

#import-active-directory-users .e-gridcontent .material-checkbox:not(:checked), #import-active-directory-users .e-gridcontent .material-checkbox:checked {
  position: absolute;
  left: -9999px;
  opacity: 0; }

#import-active-directory-users .e-gridcontent .material-checkbox:checked + input + label::before {
  bottom: 8px !important;
  left: 1px; }

#import-active-directory-users .admin-page-header .back-button {
  padding: 6px 10px 0 0; }

#import-active-directory-users .admin-page-header .page-title {
  padding-top: 5px; }

#import-active-directory-users .content-section .admin-page-link, #import-active-directory-users .admin-page-body .admin-page-link {
  color: var(--colorPrimary); }

#import-active-directory-users .content-section .directory-user-search .directorypath-area .directory-path, #import-active-directory-users .admin-page-body .directory-user-search .directorypath-area .directory-path {
  padding-top: 8px !important; }

#import-active-directory-users .content-section .directory-user-search .directorypath-area .ad-url, #import-active-directory-users .admin-page-body .directory-user-search .directorypath-area .ad-url {
  padding-top: 1px !important; }

#import-active-directory-users .content-section .directory-user-search .directorypath-area .update-config, #import-active-directory-users .admin-page-body .directory-user-search .directorypath-area .update-config {
  color: var(--colorPrimary);
  padding: 4px 20px 4px;
  background-color: var(--colorOnPrimary);
  border: 1px solid var(--colorPrimary);
  font-weight: 600;
  border-radius: 2px; }
  #import-active-directory-users .content-section .directory-user-search .directorypath-area .update-config:hover, #import-active-directory-users .admin-page-body .directory-user-search .directorypath-area .update-config:hover {
    background-color: #eeeeee; }

#import-active-directory-users .content-section .directory-user-search .directorypath-area .error-msg, #import-active-directory-users .admin-page-body .directory-user-search .directorypath-area .error-msg {
  color: var(--danger);
  padding-top: 8px !important; }

#import-active-directory-users .content-section .user-data-grid, #import-active-directory-users .admin-page-body .user-data-grid {
  margin-bottom: 30px; }
  #import-active-directory-users .content-section .user-data-grid .import-message, #import-active-directory-users .admin-page-body .user-data-grid .import-message {
    display: block;
    padding-bottom: 30px; }
  #import-active-directory-users .content-section .user-data-grid .grid-error-validation, #import-active-directory-users .content-section .user-data-grid #grid-validation-messages, #import-active-directory-users .admin-page-body .user-data-grid .grid-error-validation, #import-active-directory-users .admin-page-body .user-data-grid #grid-validation-messages {
    float: left;
    margin-top: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 3px;
    height: 20px; }
    #import-active-directory-users .content-section .user-data-grid .grid-error-validation .grid-validation, #import-active-directory-users .content-section .user-data-grid .grid-error-validation #grid-validation, #import-active-directory-users .content-section .user-data-grid #grid-validation-messages .grid-validation, #import-active-directory-users .content-section .user-data-grid #grid-validation-messages #grid-validation, #import-active-directory-users .admin-page-body .user-data-grid .grid-error-validation .grid-validation, #import-active-directory-users .admin-page-body .user-data-grid .grid-error-validation #grid-validation, #import-active-directory-users .admin-page-body .user-data-grid #grid-validation-messages .grid-validation, #import-active-directory-users .admin-page-body .user-data-grid #grid-validation-messages #grid-validation {
      color: var(--success);
      display: none; }
    #import-active-directory-users .content-section .user-data-grid .grid-error-validation .grid-error-validation, #import-active-directory-users .content-section .user-data-grid .grid-error-validation #grid-error-validation, #import-active-directory-users .content-section .user-data-grid #grid-validation-messages .grid-error-validation, #import-active-directory-users .content-section .user-data-grid #grid-validation-messages #grid-error-validation, #import-active-directory-users .admin-page-body .user-data-grid .grid-error-validation .grid-error-validation, #import-active-directory-users .admin-page-body .user-data-grid .grid-error-validation #grid-error-validation, #import-active-directory-users .admin-page-body .user-data-grid #grid-validation-messages .grid-error-validation, #import-active-directory-users .admin-page-body .user-data-grid #grid-validation-messages #grid-error-validation {
      color: var(--danger);
      display: none; }
    #import-active-directory-users .content-section .user-data-grid .grid-error-validation .empty-validation, #import-active-directory-users .content-section .user-data-grid .grid-error-validation #empty-validation, #import-active-directory-users .content-section .user-data-grid #grid-validation-messages .empty-validation, #import-active-directory-users .content-section .user-data-grid #grid-validation-messages #empty-validation, #import-active-directory-users .admin-page-body .user-data-grid .grid-error-validation .empty-validation, #import-active-directory-users .admin-page-body .user-data-grid .grid-error-validation #empty-validation, #import-active-directory-users .admin-page-body .user-data-grid #grid-validation-messages .empty-validation, #import-active-directory-users .admin-page-body .user-data-grid #grid-validation-messages #empty-validation {
      color: var(--danger);
      display: none; }
    #import-active-directory-users .content-section .user-data-grid .grid-error-validation .grid-validation, #import-active-directory-users .content-section .user-data-grid .grid-error-validation .grid-error-validation, #import-active-directory-users .content-section .user-data-grid .grid-error-validation .grid-nodata-validation, #import-active-directory-users .content-section .user-data-grid #grid-validation-messages .grid-validation, #import-active-directory-users .content-section .user-data-grid #grid-validation-messages .grid-error-validation, #import-active-directory-users .content-section .user-data-grid #grid-validation-messages .grid-nodata-validation, #import-active-directory-users .admin-page-body .user-data-grid .grid-error-validation .grid-validation, #import-active-directory-users .admin-page-body .user-data-grid .grid-error-validation .grid-error-validation, #import-active-directory-users .admin-page-body .user-data-grid .grid-error-validation .grid-nodata-validation, #import-active-directory-users .admin-page-body .user-data-grid #grid-validation-messages .grid-validation, #import-active-directory-users .admin-page-body .user-data-grid #grid-validation-messages .grid-error-validation, #import-active-directory-users .admin-page-body .user-data-grid #grid-validation-messages .grid-nodata-validation {
      padding-top: 6px; }
  #import-active-directory-users .content-section .user-data-grid #grid-container .container-fluid #Grid .e-rowcell, #import-active-directory-users .content-section .user-data-grid #grid-container .container-fluid #Grid .e-templatecell, #import-active-directory-users .admin-page-body .user-data-grid #grid-container .container-fluid #Grid .e-rowcell, #import-active-directory-users .admin-page-body .user-data-grid #grid-container .container-fluid #Grid .e-templatecell {
    padding: 0;
    text-overflow: ellipsis; }
    #import-active-directory-users .content-section .user-data-grid #grid-container .container-fluid #Grid .e-rowcell .user-import-validation, #import-active-directory-users .content-section .user-data-grid #grid-container .container-fluid #Grid .e-templatecell .user-import-validation, #import-active-directory-users .admin-page-body .user-data-grid #grid-container .container-fluid #Grid .e-rowcell .user-import-validation, #import-active-directory-users .admin-page-body .user-data-grid #grid-container .container-fluid #Grid .e-templatecell .user-import-validation {
      cursor: pointer; }
  #import-active-directory-users .content-section .user-data-grid #grid-container .container-fluid #Grid .row-disabled td:last-child, #import-active-directory-users .admin-page-body .user-data-grid #grid-container .container-fluid #Grid .row-disabled td:last-child {
    color: var(--danger); }
  #import-active-directory-users .content-section .user-data-grid #grid-container .e-grid .e-gridheader .e-headercell, #import-active-directory-users .admin-page-body .user-data-grid #grid-container .e-grid .e-gridheader .e-headercell {
    padding-right: 0; }
    #import-active-directory-users .content-section .user-data-grid #grid-container .e-grid .e-gridheader .e-headercell .e-headercelldiv, #import-active-directory-users .admin-page-body .user-data-grid #grid-container .e-grid .e-gridheader .e-headercell .e-headercelldiv {
      margin-left: -23px; }

@media screen and (min-width: 1400px) {
  #import-active-directory-users .admin-page-body .directory-user-search #search-area input[type="text"], #import-active-directory-users .admin-page-body .directory-user-search #search-area .close-icon, #import-active-directory-users .admin-page-body .directory-user-search #search-area .su-search {
    height: 32px; } }

#messageBox_wrapper {
  width: auto !important;
  height: auto !important; }
  #messageBox_wrapper .e-dialog-scroller {
    height: auto !important;
    width: auto; }
    #messageBox_wrapper .e-dialog-scroller #messageBox {
      height: auto !important;
      width: auto !important; }
      #messageBox_wrapper .e-dialog-scroller #messageBox .message-content {
        height: 170px;
        margin-bottom: 10px; }

.tooltip-inner {
  word-break: break-all;
  white-space: pre;
  max-width: none; }

#messageBox_wrapper.success-message-large {
  height: 270px !important; }
  #messageBox_wrapper.success-message-large .e-dialog-scroller.e-scroller.e-js.e-widget {
    height: 270px !important; }
    #messageBox_wrapper.success-message-large .e-dialog-scroller.e-scroller.e-js.e-widget #messageBox {
      height: 270px !important; }
