@charset "UTF-8";
html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-header .header-description, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .site-default-text, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .email-id {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.sf-button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  min-width: 90px;
  outline: none;
  text-align: center;
  padding: 0 15px; }
  .sf-button:disabled {
    cursor: default;
    background-color: #cccccc; }

.sf-primary-button {
  background: var(--colorPrimary); }

.sf-secondary-button {
  background: #fff; }

.sf-danger-button {
  background: var(--danger); }

.sf-rounded-button {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

body .form-control:focus, body input[type="text"]:focus {
  border-color: var(--colorPrimary) !important;
  box-shadow: none !important;
  outline: none !important;
  transition: all .3s linear; }

body .form-control :disabled, body input[type="text"] :disabled {
  cursor: default !important; }

body .form-control ~ .focusdiv, body input[type="text"] ~ .focusdiv {
  border: 0;
  box-shadow: none !important;
  outline: none !important;
  border-color: transparent; }

body .has-error .form-control:focus {
  border-color: var(--danger) !important;
  box-shadow: none !important;
  outline: none !important;
  transition: all .3s linear; }

body input[type="text"]:focus ~ .su-search {
  border: 1px solid var(--colorPrimary) !important;
  border-left: 0px !important; }

body input[type="text"]:focus ~ .close-icon {
  border: 1px solid var(--colorPrimary) !important;
  border-left: 0px !important; }

@media screen and (min-width: 0px) {
  body {
    font-size: 10px; }
    body .form-control, body .bootstrap-select .btn {
      font-size: 10px;
      height: 28px; }
    body .dropdown-menu .inner {
      font-size: 10px; }
    body .validation-txt-errors {
      font-size: 12px;
      color: var(--danger); } }

@media screen and (min-width: 1400px) {
  body {
    font-size: 12px; }
    body .form-control, body .bootstrap-select .btn {
      font-size: 12px;
      height: 32px; }
    body .dropdown-menu .inner {
      font-size: 12px; }
    body .validation-txt-errors {
      font-size: 12px;
      color: var(--danger); } }

html body .add-tenant-dialog-wrapper #popup-container .modal-header .add-tenant-popup-title label, html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selector-content, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-header .text-header-content, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-header .header-description, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div .text-content, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-header, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .item-name, html body .add-tenant-dialog-wrapper #popup-container #dialog-body-footer #details-back, html body .add-tenant-dialog-wrapper #popup-container #dialog-body-footer #details-next {
  color: var(--colorText);
  font-family: var(--font-family);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal; }

.e-dialog {
  max-height: 100%; }

html {
  width: 100%;
  height: 100%; }
  html body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: var(--colorText);
    font-family: var(--font-family) !important; }
    html body .add-tenant-dialog-wrapper {
      width: 100%;
      height: 100%; }
      html body .add-tenant-dialog-wrapper .e-float-input {
        height: 40px !important; }
      html body .add-tenant-dialog-wrapper #popup-container {
        padding: 0 !important;
        width: 100%;
        height: 100%; }
        html body .add-tenant-dialog-wrapper #popup-container .modal-header {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          background-color: #fff;
          height: 50px;
          padding: 0 !important;
          border: none; }
          html body .add-tenant-dialog-wrapper #popup-container .modal-header .add-tenant-popup-title {
            padding: 18px 0 0 18px;
            line-height: 0;
            float: left; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-header .add-tenant-popup-title label {
              width: 102px;
              height: 15px;
              letter-spacing: 0.33px;
              margin: 0; }
          html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector {
            position: relative;
            width: 750px;
            margin: auto; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selector-icons {
              height: 28px;
              margin-left: 160px; }
              html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selector-icons .selector-panel {
                float: left;
                padding: 7px 0 0 0; }
                html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selector-icons .selector-panel .circle {
                  border-radius: 50%;
                  width: 14px;
                  height: 14px;
                  border: solid 2px #cccccc;
                  background-color: #fff;
                  float: left; }
                html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selector-icons .selector-panel .hr-tag {
                  width: 90px;
                  margin-left: 14px;
                  margin-top: 4px;
                  border: solid 2px #cccccc; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selector-content {
              margin-left: 120px;
              height: 16px;
              font-weight: 500;
              line-height: 1.6;
              letter-spacing: 0.3px;
              text-align: left;
              color: #4d4d4d; }
              html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selector-content .site-creation {
                width: 75px;
                padding-right: 18px; }
              html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selector-content .select-database {
                width: 91px;
                padding-right: 18px; }
              html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selector-content .select-intermediate-database {
                padding-right: 18px; }
              html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selector-content .select-storage {
                padding-right: 18px; }
              html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selector-content .get-data-security {
                padding-right: 24px; }
              html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selector-content .administrator {
                width: 82px; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selectedClass {
              border-color: var(--colorPrimary) !important; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selectedContent {
              color: var(--colorPrimary) !important; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selectedOval .hr-tag {
              border: 2px solid var(--colorPrimary) !important; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector .selectedOval .circle {
              background-color: var(--colorPrimary) !important; }
          html body .add-tenant-dialog-wrapper #popup-container .modal-header .reports-selector .selector-icons {
            margin-left: 110px; }
          html body .add-tenant-dialog-wrapper #popup-container .modal-header .reports-selector .selector-content {
            margin-left: 80px; }
          html body .add-tenant-dialog-wrapper #popup-container .modal-header .icons {
            padding: 18px 18px 0 18px;
            float: right;
            width: 50px; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-header .icons #add-tenant-close {
              color: var(--colorText);
              float: left;
              height: 14px;
              width: 14px;
              font-family: var(--font-family);
              background: transparent; }
          html body .add-tenant-dialog-wrapper #popup-container .modal-header .icon-alignment {
            margin-left: 265px !important; }
          html body .add-tenant-dialog-wrapper #popup-container .modal-header .content-alignment {
            margin-left: 230px !important; }
          html body .add-tenant-dialog-wrapper #popup-container .modal-header .selector-alignment {
            width: 870px !important; }
        html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body {
          background-color: var(--background);
          padding: 0 24px !important; }
          html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body .inline-align {
            display: inline-block; }
          html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #search-area input[type="text"] {
            border: 0; }
          html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body .close-icon, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body .su-search {
            margin-left: 351px;
            margin-top: -45px; }
          html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-header {
            height: 74px;
            border-radius: 4px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
            padding: 14px 30px;
            display: none;
            background-color: var(--surface);
            width: 464px;
            margin: auto;
            margin-top: 24px;
            position: relative; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-header .text-header-content {
              letter-spacing: 0.3px;
              float: left; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-header .header-description {
              display: inline-block;
              padding-left: 37px;
              height: 21px;
              font-weight: 500;
              letter-spacing: 0.35px;
              margin-top: -2px; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-header .header-label {
              color: #4d4d4d;
              margin: 0;
              padding-bottom: 11px; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-header #used-tenant-name {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 80%; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-header #used-tenant-identifier {
              padding-left: 47px;
              color: var(--colorPrimary);
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 80%; }
          html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body {
            width: 464px;
            margin: auto;
            position: relative; }
            html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div {
              border-radius: 6px;
              border: 1px solid #eeeeee;
              box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.12);
              background-color: var(--surface);
              margin: 24px 0 !important;
              padding-top: 24px;
              float: left;
              width: 464px; }
              html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div .text-content {
                letter-spacing: 0.3px; }
              html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div .db-fields {
                color: #333; }
              html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-header {
                text-align: center; }
                html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-header #header-logo {
                  width: 464px;
                  padding-bottom: 24px; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-header #header-logo img {
                    width: 60px;
                    height: 60px; }
                html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-header #header-title {
                  height: 21px;
                  letter-spacing: 0.4px;
                  line-height: normal;
                  font-weight: bold; }
                html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-header #header-description {
                  padding: 18px 13px 18px 12px;
                  line-height: 1.67;
                  letter-spacing: 0.3px;
                  font-weight: normal;
                  color: #808080; }
              html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container {
                float: left;
                padding: 6px 24px 24px 24px;
                width: 464px; }
                html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container input {
                  border-color: #cccccc; }
                html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form {
                  width: 100%; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .branding-type .dropdown-toggle .filter-option {
                    color: #333 !important; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .branding-type .dropdown-toggle .caret {
                    color: #333333; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .branding-type .info-icon {
                    margin-left: 5px;
                    cursor: pointer; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form #input-domain {
                    border-radius: 0 4px 4px 0;
                    border-left: 0; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .form-text {
                    height: 32px;
                    border-radius: 4px; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .site-default-text {
                    width: 416px;
                    height: 20px;
                    line-height: 1.54; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .site-url-identifier, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .site-name, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .domain, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .branding-type {
                    padding-top: 24px !important; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .site-url-identifier .site-identifier-div, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .site-name .site-identifier-div, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .domain .site-identifier-div, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .branding-type .site-identifier-div {
                      min-height: 96px; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .empty-validation-error {
                    padding-top: 15px !important; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form #tenant-name {
                    line-height: 1.5; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .domain #ssl-selectpicker {
                    float: left; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .domain #ssl-selectpicker .input-group-addon {
                      border: 0;
                      padding: 0 !important;
                      background-color: transparent; }
                      html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .domain #ssl-selectpicker .input-group-addon #enable-ssl {
                        height: 40px !important;
                        margin-bottom: 5px;
                        width: 80px;
                        border-radius: 4px;
                        border: 1px solid #cccccc;
                        background-color: #fff;
                        text-align: center; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .domain #ssl-selectpicker .domain-text {
                      width: 340px; }
                      html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .domain #ssl-selectpicker .domain-text .e-custom {
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .domain #domain-validation-error {
                    margin-bottom: -10px; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .identifier-info {
                    float: left;
                    display: block;
                    width: 100%; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .identifier-info .url-part {
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .identifier-info .site-url {
                      word-spacing: -3px;
                      cursor: pointer;
                      padding-top: 0 !important; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form .validation-txt-errors {
                    display: none;
                    color: var(--danger); }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form #site-identifier-check {
                    margin-top: 5px; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-registration-form #site-identifier-check label::before {
                      top: 2px; }
                html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-database-form .system-startUp-settings-bg, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-intermediate-database-form .system-startUp-settings-bg {
                  position: relative;
                  display: inline-block; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-database-form .system-startUp-settings-bg #system-settings-general, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-intermediate-database-form .system-startUp-settings-bg #system-settings-general {
                    margin: 0px auto; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-database-form .system-startUp-settings-bg .system-settings-page-container, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-intermediate-database-form .system-startUp-settings-bg .system-settings-page-container {
                    padding: 0; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-database-form .system-startUp-settings-bg .startup-page-conatiner, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-intermediate-database-form .system-startUp-settings-bg .startup-page-conatiner {
                    display: inline;
                    padding: 0; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-database-form .system-startUp-settings-bg .system-settings-db-selection-field, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-intermediate-database-form .system-startUp-settings-bg .system-settings-db-selection-field {
                    box-shadow: none;
                    padding: 0;
                    width: 400px !important; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-database-form .system-startUp-settings-bg .system-settings-db-selection-field .database-types, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-intermediate-database-form .system-startUp-settings-bg .system-settings-db-selection-field .database-types {
                      padding-top: 0px; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-database-form .system-startUp-settings-bg .bootstrap-select, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-intermediate-database-form .system-startUp-settings-bg .bootstrap-select {
                    padding: 0; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-database-form .system-startUp-settings-bg .disabled, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-intermediate-database-form .system-startUp-settings-bg .disabled {
                    cursor: not-allowed;
                    background: #eeeeee; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-database-form .system-startUp-settings-bg .sql-server-existing-db .dropdown-menu .inner, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-intermediate-database-form .system-startUp-settings-bg .sql-server-existing-db .dropdown-menu .inner {
                    max-height: 220px !important;
                    overflow-y: auto; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-database-form .system-startUp-settings-bg .btn-holder, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-database-form .system-startUp-settings-bg .fake-password, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-intermediate-database-form .system-startUp-settings-bg .btn-holder, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-intermediate-database-form .system-startUp-settings-bg .fake-password {
                    display: none; }
                html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-database-form #messageBox, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-intermediate-database-form #messageBox {
                  display: none; }
                html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container {
                  box-shadow: none;
                  padding: 0;
                  width: 400px !important; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container #blob-storage-form {
                    margin-top: 20px; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container .report-content {
                    text-align: center;
                    margin-bottom: 14px;
                    margin-top: 24px;
                    margin-right: 20px;
                    width: 100%;
                    color: #808080; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container .form-div {
                    margin: 0px !important;
                    padding-bottom: 24px; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container .storage-checkbox.file-storage-button {
                    display: none; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container .storage-block .azure-validation .blob-error-message {
                    position: relative;
                    bottom: 10px; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container .database-types {
                    padding-top: 15px;
                    position: relative; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container .database-types .file-storage-align, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container .database-types .blob-storage-align {
                      display: inline-block;
                      margin-left: 70px;
                      margin-bottom: 1px; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container .radio-padding {
                    padding-right: 0px;
                    padding-left: 0px; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container #connection-string {
                    height: 60px; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container .secure-sql {
                    margin-top: 24px;
                    margin-bottom: 24px; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container .secure-sql.material-checkbox label::before {
                      top: 22px; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .storage-form #system-settings-filestorage-container .secure-sql.material-checkbox label::after {
                      top: 25px; }
                html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form {
                  width: 454px;
                  border: none;
                  padding: 0; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form .validation-user-div {
                    margin-top: 5px; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form .validation-user-div span {
                      padding-left: 20px; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form .user-body-container {
                    padding: 0; }
                  html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid {
                    padding: 0 0 0 20px;
                    width: 454px !important;
                    border: none; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridheader {
                      border: none;
                      display: none; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent {
                      width: 434px !important; }
                      html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .e-content {
                        width: 424px !important; }
                      html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent table {
                        border-collapse: collapse !important;
                        position: relative; }
                      html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent tr {
                        height: 62px;
                        border-bottom: 2px solid #cccccc;
                        text-align: left !important; }
                        html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent tr td .e.active {
                          background: var(--colorPrimary); }
                      html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .item-name {
                        height: 15px;
                        letter-spacing: 0.33px; }
                      html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .email-id {
                        color: #4d4d4d;
                        margin-top: 8px; }
                      html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .e-table .e-row .e-rowcell {
                        padding-left: 0;
                        padding-right: 0; }
                      html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .option-icon {
                        top: 0px !important; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .material-checkbox + input + label {
                      position: relative;
                      padding: 5px 0 0 25px !important;
                      cursor: pointer;
                      display: inline-block;
                      height: 25px;
                      margin: 0;
                      font-size: 12px;
                      -webkit-user-select: none;
                      -moz-user-select: none;
                      -ms-user-select: none; }
                      html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .material-checkbox + input + label::after {
                        border-radius: 3px; }
                      html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .material-checkbox + input + label::before, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .material-checkbox + input + label::after {
                        content: '';
                        left: 0;
                        position: absolute;
                        -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
                        transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
                        z-index: 1; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .material-checkbox:not(:checked) + input + label::before {
                      width: 0;
                      height: 0;
                      border: 3px solid transparent;
                      left: 6px;
                      top: 10px; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .material-checkbox:not(:checked) + input + label::after {
                      height: 18px;
                      width: 18px;
                      background-color: transparent;
                      border: 2px solid #808080;
                      top: 0px;
                      z-index: 1;
                      margin-top: 7px;
                      margin-bottom: 2px; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .material-checkbox:checked + input + label::before {
                      bottom: 5px;
                      color: #fff;
                      content: "";
                      font-family: "Server";
                      height: 10.8px;
                      width: 8px;
                      left: 3px; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .material-checkbox:checked + input + label::after {
                      top: 0;
                      width: 18px;
                      height: 18px;
                      border: 1.5px solid var(--colorPrimary);
                      background-color: var(--colorPrimary);
                      z-index: 0;
                      margin-top: 7px;
                      margin-bottom: 2px; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .material-checkbox:disabled + input + label::after {
                      background-color: #808080;
                      border: 1px solid #808080; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .material-checkbox:not(:checked):disabled + input + label::after {
                      background-color: white;
                      border: 1px solid #808080; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .material-checkbox:not(:checked), html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .material-checkbox:checked {
                      position: absolute;
                      left: -9999px;
                      opacity: 0; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-gridcontent .material-checkbox + input + label {
                      padding: 0;
                      margin-left: -20px; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-pagerstatusbar {
                      display: none !important; }
                    html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-scrollbar.e-vscrollbar {
                      width: 10px !important; }
                      html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-scrollbar.e-vscrollbar .e-vscroll {
                        border: none;
                        float: right;
                        vertical-align: top;
                        width: inherit; }
                        html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-scrollbar.e-vscrollbar .e-vscroll .e-vup, html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-scrollbar.e-vscrollbar .e-vscroll .e-vdown {
                          display: none !important;
                          height: 0 !important; }
                        html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-scrollbar.e-vscrollbar .e-vscroll .e-vhandlespace {
                          background: #fff;
                          height: 100% !important; }
                          html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-scrollbar.e-vscrollbar .e-vscroll .e-vhandlespace .e-vhandle {
                            width: 4px !important;
                            background-color: #808080; }
                        html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div #dialog-body-container .tenant-user-form #add_admins_grid .e-scrollbar.e-vscrollbar .e-vscroll .e-icon {
                          position: relative; }
              html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div .grid-alignment {
                padding: 6px 5px 20px 5px !important;
                overflow: hidden !important; }
              html body .add-tenant-dialog-wrapper #popup-container .modal-tenant-body #dialog-body .dialog-body-div .grid-height-control {
                height: 400px; }
        html body .add-tenant-dialog-wrapper #popup-container .adjustment {
          overflow-y: scroll; }
        html body .add-tenant-dialog-wrapper #popup-container .site-page-adjustment {
          margin-top: 30px !important; }
        html body .add-tenant-dialog-wrapper #popup-container #dialog-body-footer {
          height: 64px;
          border-radius: 0 0 4px 4px;
          background-color: #fff;
          position: fixed;
          bottom: 0;
          border-top: 1px solid #cccccc;
          padding: 16px 23px;
          text-align: center;
          float: left; }
          html body .add-tenant-dialog-wrapper #popup-container #dialog-body-footer #details-back {
            background-color: var(--colorSecondary);
            border: 1px solid #cccccc;
            border-radius: 4px;
            box-sizing: border-box;
            color: var(--colorOnSecondary);
            cursor: pointer;
            display: inline-block;
            font-weight: 600;
            height: 32px;
            line-height: 32px;
            position: relative;
            text-align: center;
            width: 162px;
            line-height: 1.54;
            letter-spacing: 0.3px;
            display: none;
            border-color: #cccccc; }
            html body .add-tenant-dialog-wrapper #popup-container #dialog-body-footer #details-back:hover {
              background-color: #f9f9f9; }
            html body .add-tenant-dialog-wrapper #popup-container #dialog-body-footer #details-back:disabled {
              background-color: #f2f2f2;
              border: 1px solid #cccccc;
              box-shadow: none;
              color: #999999;
              cursor: default; }
          html body .add-tenant-dialog-wrapper #popup-container #dialog-body-footer #details-next {
            background-color: var(--colorPrimary);
            border: 1px solid #cccccc;
            border-radius: 4px;
            box-sizing: border-box;
            color: var(--colorOnPrimary);
            cursor: pointer;
            display: inline-block;
            font-weight: 600;
            height: 32px;
            line-height: 32px;
            position: relative;
            text-align: center;
            width: 418px;
            line-height: 1.54;
            letter-spacing: 0.3px;
            margin-right: 10px; }
            html body .add-tenant-dialog-wrapper #popup-container #dialog-body-footer #details-next:hover {
              background-color: #007aff; }
            html body .add-tenant-dialog-wrapper #popup-container #dialog-body-footer #details-next:disabled {
              background-color: #f2f2f2;
              border: 1px solid #cccccc;
              box-shadow: none;
              color: #999999;
              cursor: default; }
          html body .add-tenant-dialog-wrapper #popup-container #dialog-body-footer .next-alignment {
            width: 230px !important;
            margin-left: 24px !important; }
          html body .add-tenant-dialog-wrapper #popup-container #dialog-body-footer #move-to-next {
            display: none !important; }
    html body #custom-attribute-dialog .material-checkbox + input + label {
      position: relative;
      padding: 5px 0 0 25px !important;
      cursor: pointer;
      display: inline-block;
      height: 25px;
      margin: 0;
      font-size: 12px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
      html body #custom-attribute-dialog .material-checkbox + input + label::after {
        border-radius: 3px; }
      html body #custom-attribute-dialog .material-checkbox + input + label::before, html body #custom-attribute-dialog .material-checkbox + input + label::after {
        content: '';
        left: 0;
        position: absolute;
        -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
        transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
        z-index: 1; }
    html body #custom-attribute-dialog .material-checkbox:not(:checked) + input + label::before {
      width: 0;
      height: 0;
      border: 3px solid transparent;
      left: 6px;
      top: 10px; }
    html body #custom-attribute-dialog .material-checkbox:not(:checked) + input + label::after {
      height: 18px;
      width: 18px;
      background-color: transparent;
      border: 2px solid #808080;
      top: 0px;
      z-index: 1;
      margin-top: 7px;
      margin-bottom: 2px; }
    html body #custom-attribute-dialog .material-checkbox:checked + input + label::before {
      bottom: 5px;
      color: #fff;
      content: "";
      font-family: "Server";
      height: 10.8px;
      width: 8px;
      left: 3px; }
    html body #custom-attribute-dialog .material-checkbox:checked + input + label::after {
      top: 0;
      width: 18px;
      height: 18px;
      border: 1.5px solid var(--colorPrimary);
      background-color: var(--colorPrimary);
      z-index: 0;
      margin-top: 7px;
      margin-bottom: 2px; }
    html body #custom-attribute-dialog .material-checkbox:disabled + input + label::after {
      background-color: #808080;
      border: 1px solid #808080; }
    html body #custom-attribute-dialog .material-checkbox:not(:checked):disabled + input + label::after {
      background-color: white;
      border: 1px solid #808080; }
    html body #custom-attribute-dialog .material-checkbox:not(:checked), html body #custom-attribute-dialog .material-checkbox:checked {
      position: absolute;
      left: -9999px;
      opacity: 0; }
    html body #custom-attribute-dialog .material-checkbox:not(:checked) + input + label::after {
      border-color: #cccccc !important; }
    html body #custom-attribute-dialog .material-checkbox + input + label {
      padding-top: 7px !important; }
    html body #custom-attribute-dialog .material-checkbox:checked + input + label::before {
      bottom: 7px !important;
      left: 2px !important; }
    html body .data-security-container h5 {
      font-weight: bold;
      font-size: 14px; }
    html body .data-security-container .data-security-description {
      margin-bottom: 30px;
      color: #808080; }
    html body .data-security-container #custom-attribute-name {
      height: 32px; }
    html body .data-security-container .isolation-code-container {
      margin-top: 20px;
      margin-bottom: 10%; }
      html body .data-security-container .isolation-code-container .isolation-code-value .e-disabled {
        border: 1px solid #cccccc !important; }
      html body .data-security-container .isolation-code-container #site-isolation-code {
        height: 32px;
        min-width: 220px;
        border: 0 !important; }
      html body .data-security-container .isolation-code-container .has-error {
        border-color: var(--danger) !important; }
      html body .data-security-container .isolation-code-container #isolation-code-validation {
        color: var(--danger);
        font-size: 12px; }
    html body .data-security-container .attribute-header {
      margin-bottom: 10px; }
      html body .data-security-container .attribute-header h5 {
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
        margin: 0; }
      html body .data-security-container .attribute-header .add-site-attribute {
        color: var(--colorPrimary);
        cursor: pointer;
        display: inline-block;
        font-family: var(--font-family) !important;
        float: right;
        font-weight: bold;
        margin-right: 10px; }
      html body .data-security-container .attribute-header .su-add:before {
        color: var(--colorPrimary);
        font-family: 'server' !important;
        font-size: 10px;
        margin-right: 4px; }
    html body .data-security-container .notes-container {
      display: inline-block;
      margin-top: 20px; }
      html body .data-security-container .notes-container h5 {
        display: inline-block;
        font-size: 12px;
        margin: 0 0 10px 0; }
      html body .data-security-container .notes-container p {
        font-size: 12px;
        color: #808080; }
    html body #database-type-dropdown .popover {
      left: -144px !important; }
    html body .username-field .popover {
      left: -151px !important; }
    html body .secure-sql .info-icon {
      margin-left: 5px;
      cursor: pointer; }
    html body .secure-sql .popover {
      left: -125px !important; }

#add_admins_grid_stringDlg_wrapper .e-scroller {
  overflow-y: auto; }

#add_admins_grid_stringDlg {
  display: none; }

.display-none {
  display: none; }

.no-padding {
  padding: 0 !important; }

#search-area {
  padding: 21px 20px 20px 20px;
  float: left;
  width: 100%; }
  #search-area .su-search {
    width: 12px;
    height: 12px;
    position: absolute;
    margin-left: 360px;
    margin-top: -40px;
    font-size: 15px;
    color: #4d4d4d;
    padding: 5px 0;
    cursor: pointer;
    border: 0 !important;
    display: block; }
  #search-area .close-icon {
    padding: 5px 0;
    cursor: pointer;
    font-size: 15px;
    width: 12px;
    height: 12px;
    position: absolute;
    margin-left: 360px;
    margin-top: -40px;
    border: 0 !important; }
  #search-area .fade {
    left: 394px !important; }
    #search-area .fade .tooltip-arrow {
      top: 45px !important; }
  #search-area .search-bar {
    width: 384px;
    height: 24px;
    float: left; }
  #search-area .sort {
    margin-top: 9px;
    padding: 5px 0;
    cursor: pointer; }
  #search-area .su-sort {
    color: #808080;
    width: 15px;
    height: 15px;
    font-size: 17px; }

.close-icon.su-inner-close {
  display: none; }

::-webkit-input-placeholder {
  color: #4d4d4d; }

::-moz-placeholder {
  color: #4d4d4d; }

.placeholder {
  color: #4d4d4d; }

@media screen and (min-width: 0px) {
  html body .selector-content {
    font-size: 12px; }
  html body .header-description {
    font-size: 12px; }
  html body #header-title {
    font-size: 14px; } }

@media screen and (min-width: 1400px) {
  html body .selector-icons {
    margin-left: 170px !important; }
  html body .selector-panel {
    width: 125px !important; }
    html body .selector-panel .hr-tag {
      width: 110px !important; }
  html body .icon-alignment {
    margin-left: 265px !important; }
  html body .selector-content {
    font-size: 12px;
    margin-left: 140px !important; }
  html body .reports-selector .selector-icons {
    margin-left: 24px !important; }
  html body .reports-selector .selector-content {
    margin-left: 0px !important; }
  html body .content-alignment {
    margin-left: 230px !important; }
  html body .header-description {
    font-size: 14px; }
  html body #header-title {
    font-size: 16px; }
  html body #database-type-dropdown .popover {
    left: -133px !important; }
  html body .username-field .popover {
    left: -141px !important; }
  html body .branding-type .popover {
    left: -125px !important; }
  html body .secure-sql .popover {
    left: -114px !important; } }

.bootstrap-select.btn-group > .disabled {
  cursor: default; }
