#card-form-id .free-description {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 35px; }

#card-form-id .parent-container {
  text-align: center; }
  #card-form-id .parent-container #address-section {
    display: inline-block;
    text-align: left;
    margin-bottom: 68px; }
    #card-form-id .parent-container #address-section div {
      width: 400px; }
    #card-form-id .parent-container #address-section .address-section-left {
      float: left;
      margin-right: 76px; }
    #card-form-id .parent-container #address-section .address-section-right {
      float: right; }
    #card-form-id .parent-container #address-section .form-group {
      margin-bottom: 32px; }
      #card-form-id .parent-container #address-section .form-group .form-control {
        height: 32px; }
        #card-form-id .parent-container #address-section .form-group .form-control .btn {
          height: 32px;
          font-size: 12px;
          outline: none !important; }
        #card-form-id .parent-container #address-section .form-group .form-control .dropdown-menu.open .dropdown-menu.inner, #card-form-id .parent-container #address-section .form-group .form-control .dropdown-menu.open .bs-searchbox {
          font-size: 13px; }
      #card-form-id .parent-container #address-section .form-group .validation-error {
        position: absolute; }
    #card-form-id .parent-container #address-section .form-group.email-address-wrapper {
      position: relative; }
      #card-form-id .parent-container #address-section .form-group.email-address-wrapper .email-address-info {
        float: right;
        font-size: 10px;
        position: absolute;
        right: 0px;
        top: -19px; }
    #card-form-id .parent-container #address-section .form-group.address-line-2, #card-form-id .parent-container #address-section .form-group.zip-code {
      margin-bottom: 0px; }
  #card-form-id .parent-container .button-container input {
    width: 120px;
    display: inline-block; }
  #card-form-id .parent-container .button-container input:first-child {
    margin-right: 24px; }
