@import "newthemes/elementcolor.scss";
@import "newthemes/elementsize.scss";

#card-form-id {
    .free-description {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 35px;
    }

    .parent-container {
        text-align: center;

        #address-section {
            display: inline-block;
            text-align: left;
            margin-bottom: 68px;

            div {
                width: 400px;
            }

            .address-section-left {
                float: left;
                margin-right: 76px;
            }

            .address-section-right {
                float: right;
            }

            .form-group {
                margin-bottom: $space-xl;

                .form-control {
                    height: $textbox-32;

                    .btn {
                        height: $textbox-32;
                        font-size: $textsize-12;
                        outline: none !important;
                    }

                    .dropdown-menu.open {
                        .dropdown-menu.inner, .bs-searchbox {
                            font-size: 13px;
                        }
                    }
                }

                .validation-error {
                    position: absolute;
                }
            }

            .form-group.email-address-wrapper {
                position: relative;

                .email-address-info {
                    float: right;
                    font-size: 10px;
                    position: absolute;
                    right: 0px;
                    top: -19px;
                }
            }

            .form-group.address-line-2, .form-group.zip-code {
                margin-bottom: 0px;
            }
        }

        .button-container {
            input {
                width: 120px;
                display: inline-block;
            }

            input:first-child {
                margin-right: 24px;
            }
        }
    }
}
