@import "newthemes/elementcolor.scss";
@import "newthemes/elementsize.scss";

.credit-card-container {
    display: none;
    width: 100%;
    margin-bottom: 25px;

    .wrapper {
        display: table;
        width: 100%;

        #credit-card-body {
            display: table-cell;
            vertical-align: middle;
            text-align: center;

            .free-description {
                margin-bottom: 25px;
                margin-top: 35px;
            }

            .card-cental-body {
                display: inline-block;
                margin: 0;
            }

            .card-container {
                .card-container-div {
                    text-align: left !important;
                    padding: 0px !important;
                    float: none;
                    margin: 0 auto;
                    display: inline-block;
                    position: relative;

                    .accepted-cards {
                        background: url("images/powered-by.svg");
                        background-repeat: no-repeat;
                        background-size: 100%;
                        height: 57px;
                        width: 400px;
                        margin: 0 0 16px 0;

                        img[name="gts_seal"] {
                            width: 80px;
                            margin-right: -11px;
                        }
                    }

                    .card-number-div {
                        margin: 0px 0px $space-m 0px;
                        position: relative;
                        width: 400px;
                    }

                    #brand-icon {
                        background: url("images/creditcard-icons.svg");
                        background-repeat: no-repeat;
                        background-size: 100%;
                        height: 30px;
                        position: absolute;
                        right: 0;
                        top: 25px;
                        width: 50px;
                    }

                    .su-credit-card {
                        background-position-y: -9px !important;
                    }

                    .su-visa {
                        background-position-y: -83px !important;
                    }

                    .su-mastercard {
                        background-position-y: -46px !important;
                    }

                    .su-american-express {
                        background-position-y: -121px !important;
                    }

                    .su-jcb {
                        background-position-y: -159px !important;
                    }

                    .su-discover {
                        background-position-y: -196px !important;
                    }

                    .su-diners {
                        background-position-y: -234px !important;
                    }

                    .su-unionpay {
                        background-position-y: -271px !important;
                    }

                    .name-div {
                        margin-bottom: 20px;
                        width: 400px;
                    }

                    .exp-cvv-div {
                        width: 400px;
                        display: inline-block;

                        .exp-div, .cvv-div {
                            width: 165px;
                        }

                        .exp-div {
                            float: left;
                        }

                        .cvv-div {
                            float: right;
                            position: relative;

                            .info-icon {
                                height: 16px;
                                width: 16px;
                                display: inline-block;
                                margin-left: 10px;
                                background: url("images/help-icon.svg");
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                                position: absolute;
                                top: 1px;
                            }

                            .popover {
                                .popover-content {
                                    width: 130px;
                                    font-size: 10px;
                                    padding: 5px;
                                }
                            }
                        }
                    }

                    .form-control {
                        height: $textbox-32;
                    }

                    .error-section {
                        margin: 10px 0px 0px 0px;
                        position: absolute;
                        text-align: center;
                        width: inherit;
                        width: 100%;
                    }

                    #card-number.form-control,
                    #card-cvc.form-control,
                    #card-exp.form-control {
                        display: inline-block;
                        padding-top: 8px;
                    }
                }
            }

            #card-details-info {
                display: inline-block;
                margin-top: 54px;
                margin-bottom: 44px;
                font-size: $textsize-12;
                width: 970px;

                a {
                    color: $color-primary;
                }
            }

            .button-div {
                input {
                    width: 120px;
                    display: inline-block;
                    height: $button-32;
                }

                input:first-child {
                    margin-right: 24px;
                }
            }
        }
    }
}
