@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

body {
  margin: 0 !important; }

.base-container-bg {
  background-color: #333333;
  font-family: var(--font-family);
  vertical-align: middle;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0; }
  .base-container-bg .base-conatiner {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative; }
    .base-container-bg .base-conatiner #main-div {
      background-color: var(--surface);
      display: table;
      vertical-align: middle;
      margin: 45px auto;
      width: 380px;
      margin-bottom: 140px;
      padding: 0 10px;
      border-radius: 5px; }
      .base-container-bg .base-conatiner #main-div .app-logo {
        margin: 25px auto -10px auto;
        width: 255px;
        text-align: center; }
        .base-container-bg .base-conatiner #main-div .app-logo img {
          height: 45px; }
      .base-container-bg .base-conatiner #main-div .secondary-div {
        text-align: center;
        padding: 20px; }
        .base-container-bg .base-conatiner #main-div .secondary-div .page-title {
          font-size: 18px;
          font-weight: 400;
          text-align: center;
          padding: 10px; }
        .base-container-bg .base-conatiner #main-div .secondary-div .page-content {
          color: #808080;
          font-weight: 300;
          display: block;
          margin: auto;
          padding: 10px 0;
          font-size: 14px; }
          .base-container-bg .base-conatiner #main-div .secondary-div .page-content b {
            font-weight: 700;
            color: #333; }
          .base-container-bg .base-conatiner #main-div .secondary-div .page-content a {
            color: var(--colorPrimary); }
        .base-container-bg .base-conatiner #main-div .secondary-div .causes-class {
          float: left;
          margin: 10px 0 10px 25px;
          font-weight: 600; }
        .base-container-bg .base-conatiner #main-div .secondary-div .causes-ul {
          text-align: left;
          margin-top: 20px; }
        .base-container-bg .base-conatiner #main-div .secondary-div .support-div {
          padding: 15px 0; }
          .base-container-bg .base-conatiner #main-div .secondary-div .support-div #support-button {
            background-color: var(--colorPrimary);
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;
            font-size: 14px; }
      .base-container-bg .base-conatiner #main-div .login-button {
        background-color: var(--colorPrimary);
        position: relative;
        width: 80%;
        height: 36px;
        border: none;
        color: #fff;
        box-shadow: 2px 6px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 5px 0 rgba(0, 0, 0, 0.12), 0 4px 2px 0px rgba(0, 0, 0, 0.2); }

#banned-country-page #main-div {
  width: 40%; }
  #banned-country-page #main-div .secondary-div p {
    margin-top: 15px; }

@media screen and (max-width: 500px) {
  .base-container-bg .base-conatiner {
    padding: 0 10px; }
    .base-container-bg .base-conatiner #main-div {
      width: auto; } }
