@import "../themes/default.scss";
@import "mixins.scss";

body {
    margin: 0 !important;
}

.base-container-bg {
    background-color: $login-bg;
    font-family: var(--font-family);
    vertical-align: middle;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;

    .base-conatiner {
        padding: 0;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        position: relative;

        #main-div {
            background-color: $admin-page-bg;
            display: table;
            vertical-align: middle;
            margin: 45px auto;
            width: 380px;
            margin-bottom: 140px;
            padding: 0 10px;
            border-radius: 5px;

            .app-logo {
                margin: 25px auto -10px auto;
                width: 255px;
                text-align: center;

                img {
                    height: 45px;
                }
            }

            .secondary-div {
                text-align: center;
                padding: 20px;

                .page-title {
                    font-size: 18px;
                    font-weight: 400;
                    text-align: center;
                    padding: 10px;
                }

                .page-content {
                    color: $sub-text-color;
                    font-weight: 300;
                    display: block;
                    margin: auto;
                    padding: 10px 0;
                    font-size: 14px;

                    b {
                        font-weight: 700;
                        color: $primary-black;
                    }

                    a {
                        color: $primary-color;
                    }
                }

                .causes-class {
                    float: left;
                    margin: 10px 0 10px 25px;
                    font-weight: 600;
                }

                .causes-ul {
                    text-align: left;
                    margin-top: 20px;
                }

                .support-div {
                    padding: 15px 0;

                    #support-button {
                        background-color: $primary-color;
                        color: $white;
                        text-decoration: none;
                        padding: 5px 10px;
                        font-size: 14px;
                    }
                }
            }

            .login-button {
                background-color: $primary-btn-bg;    
                position: relative;                                                    
                width: 80%;                                
                height: 36px;                               
                border: none; 
                color: $white;
                box-shadow: 2px 6px 4px 0 rgba(0,0,0,0.14), 0 3px 5px 0 rgba(0,0,0,0.12), 0 4px 2px 0px rgba(0,0,0,0.2); 
            }
        }
    }
}

#banned-country-page {
    #main-div {
        width: 40%;

        .secondary-div p {
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 500px) {
    .base-container-bg {
        .base-conatiner {
            padding: 0 10px;

            #main-div {
                width: auto;
            }
        }
    }
}