@import "../themes/default.scss";
@import "../core/_typography.scss";

$notify-baner-bg:#e57768;
* {
    font-family: var(--font-family);
}

*:focus {
    outline: none !important;
}

body {
    background: $admin-container-bg;

    #content-area {
        margin-top: 0px !important;

        .user-warning {
            text-align: center;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            top: 0;
            width: 100%;
            z-index: 101;
        }

        .user-warning .warning-content, .user-warning .user-warning-content {
            position: relative;
            padding: 10px;
            background-color: $notify-baner-bg;
            color: white;
        }

        .user-warning .warning-content, .user-warning .user-warning-content a {
            color: white;
            text-decoration: underline;
        }

        .user-warning .warning-content, .user-warning .close-user-warning-icons {
            cursor: pointer;
            font-size: 13px;
            position: absolute;
            right: 5px;
            top: 7px;
            padding: 12px;
            border-radius: 10px;
        }

        .user-warning-space {
            padding-top: 45px !important;
        }
    }

    #base-footer-div {
        bottom: 0px;
        color: $grey-700;
        float: left;
        font-size: map-get($app-text-size, md);
        font-weight: 600;
        margin-top: 7px;
        padding: 25px 30px 10px 30px;
        position: absolute;
        width: 100%;

        footer {
            .layout-footer {
                padding: 0px;
                margin-top: 10px;

                #enablefooter {
                    #footer-separator {
                        margin-left: 10px;
                        margin-right: 10px;
                        padding: 0px 10px;
                    }

                    #footerlogo {
                        height: 25px;
                        width: 100px;
                    }
                }
            }

            .language-area {
                bottom: 0px;
                font-size: map-get($app-text-size, md);
                margin-bottom: 5px;
                padding: 0px;
                position: relative;
                right: 0px;
                width: auto;
                bottom: 0px;

                #lang_menu {
                    position: relative;
                    right: 0;

                    #footer-separator {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }

            p {
                margin-bottom: 0px;

                a {
                    color: inherit;
                    text-decoration: none;
                }

                img {
                    margin-left: 5px;
                    margin-top: -7px;
                    height: 25px;
                }
            }
        }

        .no-padding {
            padding: 0px;
        }

        .copyright-poweredby {
            position: relative;
        }

        .cookie-notification + .copyright-poweredby {
            bottom: 28px;
        }
    }

    #server-app-container {
        #base-footer-div {
            margin-top: 20px;
            padding: 0px 0px 0px 80px;
        }
    }
}

body.layout-accounts {
    #base-footer-div {
        padding: 0px;
    }
}

@media screen and (max-width: 1400px) {
    body {
        #base-footer-div {
            footer {
                .language-area {
                    font-size: map-get($app-text-size, md);
                }

                #enablefooter {
                    font-size: map-get($app-text-size, md);
                }
            }
        }
    }
}

@media screen and (max-width: 1040px) {
    #base-footer-div {
        padding: 0px !important;

        .language-area {
            width: 100%;
            text-align: center !important;
        }

        #enablefooter {
            margin-top: 0px !important;
            width: 100%;
            text-align: center !important;
        }
    }
}
