* {
  font-family: var(--font-family); }

*:focus {
  outline: none !important; }

body {
  background: var(--background); }
  body #content-area {
    margin-top: 0px !important; }
    body #content-area .user-warning {
      text-align: center;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      top: 0;
      width: 100%;
      z-index: 101; }
    body #content-area .user-warning .warning-content, body #content-area .user-warning .user-warning-content {
      position: relative;
      padding: 10px;
      background-color: #e57768;
      color: white; }
    body #content-area .user-warning .warning-content, body #content-area .user-warning .user-warning-content a {
      color: white;
      text-decoration: underline; }
    body #content-area .user-warning .warning-content, body #content-area .user-warning .close-user-warning-icons {
      cursor: pointer;
      font-size: 13px;
      position: absolute;
      right: 5px;
      top: 7px;
      padding: 12px;
      border-radius: 10px; }
    body #content-area .user-warning-space {
      padding-top: 45px !important; }
  body #base-footer-div {
    bottom: 0px;
    color: #4d4d4d;
    float: left;
    font-size: 12px;
    font-weight: 600;
    margin-top: 7px;
    padding: 25px 30px 10px 30px;
    position: absolute;
    width: 100%; }
    body #base-footer-div footer .layout-footer {
      padding: 0px;
      margin-top: 10px; }
      body #base-footer-div footer .layout-footer #enablefooter #footer-separator {
        margin-left: 10px;
        margin-right: 10px;
        padding: 0px 10px; }
      body #base-footer-div footer .layout-footer #enablefooter #footerlogo {
        height: 25px;
        width: 100px; }
    body #base-footer-div footer .language-area {
      bottom: 0px;
      font-size: 12px;
      margin-bottom: 5px;
      padding: 0px;
      position: relative;
      right: 0px;
      width: auto;
      bottom: 0px; }
      body #base-footer-div footer .language-area #lang_menu {
        position: relative;
        right: 0; }
        body #base-footer-div footer .language-area #lang_menu #footer-separator {
          margin-left: 10px;
          margin-right: 10px; }
    body #base-footer-div footer p {
      margin-bottom: 0px; }
      body #base-footer-div footer p a {
        color: inherit;
        text-decoration: none; }
      body #base-footer-div footer p img {
        margin-left: 5px;
        margin-top: -7px;
        height: 25px; }
    body #base-footer-div .no-padding {
      padding: 0px; }
    body #base-footer-div .copyright-poweredby {
      position: relative; }
    body #base-footer-div .cookie-notification + .copyright-poweredby {
      bottom: 28px; }
  body #server-app-container #base-footer-div {
    margin-top: 20px;
    padding: 0px 0px 0px 80px; }

body.layout-accounts #base-footer-div {
  padding: 0px; }

@media screen and (max-width: 1400px) {
  body #base-footer-div footer .language-area {
    font-size: 12px; }
  body #base-footer-div footer #enablefooter {
    font-size: 12px; } }

@media screen and (max-width: 1040px) {
  #base-footer-div {
    padding: 0px !important; }
    #base-footer-div .language-area {
      width: 100%;
      text-align: center !important; }
    #base-footer-div #enablefooter {
      margin-top: 0px !important;
      width: 100%;
      text-align: center !important; } }
