get-embed-code .padding-top15 {
  padding-top: 15px !important; }

get-embed-code .padding-15 {
  padding: 15px 0 !important; }

get-embed-code .label-div {
  margin-top: 2px; }

get-embed-code .resolution-width {
  width: 44%; }

get-embed-code .authentication {
  margin-top: 5px; }

get-embed-code .update-comment, get-embed-code .SSO-dropdown {
  visibility: hidden; }

get-embed-code .dialog-footer {
  position: relative !important;
  font-size: 14px !important; }

get-embed-code .close-button {
  padding-right: 15px; }

get-embed-code .update-comment {
  float: right;
  margin-right: 10px;
  color: var(--success); }

get-embed-code .documentation-content {
  padding-bottom: 15px !important; }
