@import "../themes/default.scss";

get-embed-code {
    .padding-top15 {
        padding-top: 15px !important;
    }

    .padding-15 {
        padding: 15px 0 !important;
    }

    .label-div {
        margin-top: 2px;
    }

    .resolution-width {
        width: 44%;
    }

    .authentication {
        margin-top: 5px;
    }

    .update-comment, .SSO-dropdown {
        visibility: hidden;
    }

    .dialog-footer {
        position: relative !important;
        font-size: 14px !important;
    }

    .close-button {
        padding-right: 15px;
    }

    .update-comment {
        float: right;
        margin-right: 10px;
        color: $success;
    }

    .documentation-content {
        padding-bottom: 15px !important;
    }
}
