@import  "Mixins.scss";

.container-fluid {
    .admin-page-header {
        .import-area {
            .back-button {
                margin-top: 5px !important;
            }

            .page-title {
                padding-top: 8px;
            }

            .import-users {
                .primary-button {
                    margin-top: 5px;
                }
            }
        }
    }

    .content-section {
        display: table;

        .import-file {

            #filename {
                background-color: $home-border !important;
                opacity: 1;
                cursor: pointer;
            }

            .form-control, #filename {
                border-radius: 0px;
                border: 1px solid $admin-pages-border-color;
                margin: 0;
                width: 87%;
                background-color: $admin-page-bg;
            }

            .input-group-addon {
                background-color: $admin-page-bg;
                border: 1px solid $admin-pages-border-color;
                font-size: 14px;
                font-weight: 400;
                height: 28px;
                line-height: 1;
                padding: 0 12px;
                text-align: center;
            }

            input.upload-btn {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
                width: 0;
            }

            #user-import-validation-msg, .user-import-validation {
                color: $validation-text-color;
                cursor: pointer;
                float: left;
            }
        }

        .download-template {
            color: $primary-color;
            padding-left: 3px;
        }

        .grid-area {
            #grid-validation-messages {
                float: left;
                height: 20px;
                margin-bottom: 3px;
                margin-top: 0;
                text-align: center;
                width: 100%;

                #grid-nodata-validation, #grid-error-validation {
                    color: $validation-text-color;
                    display: none;
                }

                #grid-validation {
                    color: $success-text-color;
                    display: none;
                }
            }
        }
    }
}

.user-validation {
    color: $validation-text-color;

    ol {
        padding-left: 3px;
        list-style-type: none;
    }
}

/*For the purpose of height adjustment,which differs in various message box*/
.msg-box-height {
    height: 150px !important;
}

.failed-msg-box-height {
    height: 200px !important;
}

@media screen and (min-width: 1400px) {
    .container-fluid .content-section .import-file .input-group-addon {
        height: 32px;
    }
}
