@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

#searchArea, #userSearchArea, #groupSearchArea {
  float: right;
  right: 30px;
  margin-top: 10px;
  position: relative; }
  #searchArea input[type="text"], #userSearchArea input[type="text"], #groupSearchArea input[type="text"] {
    -webkit-appearance: none;
    width: 185px;
    border: 1px solid #eeeeee;
    border-radius: 4px 0px 0px 4px;
    margin: 0;
    height: 35px;
    border-right: 0;
    float: left;
    padding-left: 5px; }
    #searchArea input[type="text"]:focus, #userSearchArea input[type="text"]:focus, #groupSearchArea input[type="text"]:focus {
      outline: none; }
  #searchArea .placeholder, #userSearchArea .placeholder, #groupSearchArea .placeholder {
    position: absolute;
    top: 0;
    padding-left: 5px;
    height: 30px;
    line-height: 35px;
    color: #b3b3b3; }
  #searchArea .su-search, #userSearchArea .su-search, #groupSearchArea .su-search {
    float: left;
    width: 25px;
    height: 35px;
    border: 1px solid #eeeeee;
    margin: 0;
    padding-top: 9px;
    padding-left: 4px;
    border-left: 0;
    border-radius: 0px 4px 4px 0px;
    background-color: #fff;
    cursor: pointer; }

#userSearchArea, #groupSearchArea {
  margin-top: -2px; }
  #userSearchArea input[type="text"], #groupSearchArea input[type="text"] {
    height: 30px; }
  #userSearchArea .su-search, #groupSearchArea .su-search {
    height: 30px; }
  #userSearchArea #clear-search, #userSearchArea #clear-group-search, #groupSearchArea #clear-search, #groupSearchArea #clear-group-search {
    height: 30px;
    padding-top: 7px; }

#designReport {
  margin-top: 10px;
  position: absolute;
  right: 225px; }
  #designReport .su-design-dashboard {
    margin-right: 5px; }

.seperator {
  width: 1px;
  height: 16px;
  display: block;
  border-left: 1px solid var(--colorPrimary); }

#item-grid-container {
  padding: 5px 10px; }
  #item-grid-container .heading {
    height: 60px;
    font-size: 30px;
    color: #1a1a1a; }

#datasource_popup {
  padding: 0; }
  #datasource_popup .datasource-popup-frame {
    width: 100%;
    border: 0;
    background: #fff;
    height: 324px;
    float: left; }

#widget_popup {
  padding: 0; }
  #widget_popup .widget-popup-frame {
    width: 100%;
    border: 0;
    background: #fff;
    height: 324px;
    float: left; }

#AddCategoryPopup {
  padding: 0; }
  #AddCategoryPopup #AddCategoryPopup_iframe {
    width: 100%;
    border: 0;
    background: #fff;
    height: 285px;
    float: left; }

#EditCategoryPopup {
  padding: 0; }
  #EditCategoryPopup #EditCategoryPopup_iframe {
    width: 100%;
    border: 0;
    background: #fff;
    height: 285px;
    float: left; }

#datasource_edit_popup {
  padding: 0; }
  #datasource_edit_popup .datasource-popup-frame {
    width: 100%;
    border: 0;
    background: #fff;
    height: 420px;
    float: left; }

#widget_edit_popup {
  padding: 0; }
  #widget_edit_popup .widget-popup-frame {
    width: 100%;
    border: 0;
    background: #fff;
    height: 420px;
    float: left; }

#ItemAction iframe {
  width: 100%;
  border: 0;
  height: 275px;
  float: left; }

#scheduler-popup-iframe {
  width: 100%;
  border: 0;
  height: 600px;
  float: left; }

#item_delete_confirmation #PopupContainer {
  float: left;
  overflow: hidden; }
  #item_delete_confirmation #PopupContainer .dialogFooter {
    bottom: 0;
    position: absolute; }

#item_delete_confirmation .delete-item-popupcontent {
  font-size: 16px;
  margin: 10px; }

#item_delete_confirmation .item-delete-btns {
  margin: 0 auto;
  width: 60%; }
  #item_delete_confirmation .item-delete-btns input {
    margin: 5px; }

#file-popup {
  padding: 0 !important; }

#verionWindowContainer iframe, #permissionPopup iframe {
  width: 100%;
  height: 615px;
  border: none;
  float: left; }

#ItemVersionController .popup-header .header-menu {
  background: none repeat scroll 0 0 #fff;
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 9; }
  #ItemVersionController .popup-header .header-menu #VersionTab, #ItemVersionController .popup-header .header-menu #ItemLogTab {
    font-size: 21px;
    margin-left: 0;
    padding: 10px; }
  #ItemVersionController .popup-header .header-menu .activeTab {
    background: none repeat scroll 0 0 var(--colorPrimary);
    color: #fff; }
  #ItemVersionController .popup-header .header-menu .versionPopupClose {
    float: right; }

#ItemVersionController .popup-header .report-heading {
  float: left;
  margin-top: 50px;
  padding: 10px; }
  #ItemVersionController .popup-header .report-heading .VersionitemName {
    font-size: 20px;
    padding: 10px; }
  #ItemVersionController .popup-header .report-heading .report-heading-icon {
    font-size: 20px;
    padding: 10px; }

#report_popup_wrapper #report_popup {
  width: 100% !important;
  padding: 0;
  margin-top: 0; }
  #report_popup_wrapper #report_popup #report_iframe {
    border: 0px;
    height: 390px;
    width: 100%;
    float: left; }

#select_datasource_popup_wrapper #select_datasource_popup {
  width: 100% !important;
  margin-top: 0px;
  padding: 0; }
  #select_datasource_popup_wrapper #select_datasource_popup #datasource_content {
    width: 100%;
    height: 100%; }
    #select_datasource_popup_wrapper #select_datasource_popup #datasource_content #datasource_iframe {
      border: 0px;
      height: 100%;
      width: 100%; }

#report_edit_window_wrapper #report_edit_window {
  width: 100% !important;
  margin-top: 0px; }
  #report_edit_window_wrapper #report_edit_window .share-popup {
    width: 100%; }
    #report_edit_window_wrapper #report_edit_window .share-popup iframe {
      border: 0px;
      height: 100%; }

.fileDialog {
  height: 382px;
  width: 600px;
  border: none; }

.editDashboardDialog, .updateDataSourceDialog {
  height: 490px;
  width: 100%;
  border: none;
  float: left; }

#GeneralfileContainer #file_description, #GeneralfileContainer #version_comment, #GeneralfileContainer #comment {
  height: 71px; }

#GeneralfileContainer #version_comment td div {
  width: 120px; }

#GeneralfileContainer .field-label {
  width: 105px; }

.popup {
  margin-bottom: 25px !important; }

.validation-message {
  color: var(--danger);
  float: left;
  margin-top: -25px; }

.notification {
  float: left;
  margin-top: -25px; }

.validation-message-file {
  color: var(--danger);
  float: left; }

#categoryArea {
  border: 0 none;
  height: 85px;
  width: 64%; }
  #categoryArea #categoryName {
    font-size: 18px;
    color: #1a1a1a;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap; }
  #categoryArea #CategoryDescription {
    font-size: 16px;
    color: #4d4d4d; }

.e-rowcell .dropdown {
  position: absolute; }
  .e-rowcell .dropdown .dropdown-menu {
    left: -244px;
    margin: 0;
    padding: 0;
    width: 260px; }
    .e-rowcell .dropdown .dropdown-menu a {
      padding: 5px 10px; }
      .e-rowcell .dropdown .dropdown-menu a .su {
        float: left;
        padding: 2px 10px 0 5px; }

.heading {
  height: 50px;
  font-size: 30px; }

.headermargin {
  margin-top: 1.5%;
  margin-bottom: 4%; }

.contentheight {
  height: 230px; }

.footermargin {
  margin-top: 1%; }

#categoryDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#edit-file-popup, #update-data-source-popup {
  padding: 0 !important; }
  #edit-file-popup .PopupTitle, #update-data-source-popup .PopupTitle {
    width: 90% !important; }

.editDataSourceForm #PopupContainer .extendedTitle, .editWidgetForm #PopupContainer .extendedTitle, .white-bg #PopupContainer .extendedTitle, #addItemForm #PopupContainer .extendedTitle {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.editDataSourceForm #GeneralfileContainer .margin-Top5, #addItemForm #GeneralfileContainer .margin-Top5 {
  margin-top: 5px; }

.inactive-content {
  color: #333333 !important; }

.no-style {
  text-decoration: none;
  outline: 0; }
  .no-style:hover {
    text-decoration: none;
    outline: 0; }
  .no-style:focus {
    text-decoration: none;
    outline: 0; }
  .no-style:active {
    text-decoration: none;
    outline: 0; }

.bottom-margin30 {
  margin-bottom: 25px; }

.bottomPadding5 {
  padding-bottom: 5px; }

.white-background {
  background-color: #fff; }

.file-content-height {
  margin-top: 20px;
  min-height: 215px; }

.no-margin {
  margin: 0px !important; }

#itemsGrid .dropdown-menu {
  z-index: 997 !important; }

#itemsGrid .e-gridcontent .e-rowcell div {
  line-height: 18px; }

#itemsGrid_WaitingPopup {
  z-index: 998 !important; }

.upload-file {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0 none;
  float: left; }

.item-listing .e-rowcell .dropdown .dropdown-menu {
  left: -246px;
  width: 260px; }

.fileUpload {
  border-radius: 0;
  padding: 6px 18px;
  overflow: hidden;
  position: relative; }

#rdl_file_upload_btn {
  margin-top: 0px; }

input.upload-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

#filename, #name {
  width: 480px; }

.add-dashboard-module #filename, .add-dashboard-module #name {
  width: 553px; }

.add-dashboard-module .selectpicker {
  width: 603px; }
  .add-dashboard-module .selectpicker .filter-option {
    text-overflow: ellipsis; }

.edit-dashboard-module .selectpicker {
  width: 580px; }
  .edit-dashboard-module .selectpicker .filter-option {
    text-overflow: ellipsis; }

.edit-dashboard-module #filename, .edit-dashboard-module #name {
  width: 530px; }

.add-dashboard-module #GeneralfileContainer, .edit-dashboard-module #GeneralfileContainer {
  padding-top: 2px; }

.error-file-upload {
  border: 1px solid var(--danger) !important; }
  .error-file-upload:focus {
    border: 1px solid var(--danger);
    box-shadow: none; }
  .error-file-upload:hover {
    border: 1px solid var(--danger); }

.no-left-border {
  border-left: none !important; }

tr a.deletePermission, tr a.deleteGroupPermission {
  display: none;
  color: var(--danger) !important;
  font-weight: 400; }
  tr a.deletePermission .su, tr a.deleteGroupPermission .su {
    font-size: 12px; }
  tr a.deletePermission .su-close, tr a.deleteGroupPermission .su-close {
    color: var(--danger);
    font-size: 10px; }

tr.e-hover a.deletePermission, tr.e-hover a.deleteGroupPermission {
  display: block; }

.height-adjust {
  margin-top: 50px; }

.e-dialog-scroller {
  overflow: visible; }

.item-views {
  width: 250px;
  max-height: 300px;
  overflow: auto; }

@media (min-width: 768px) and (max-width: 890px) {
  #categoryArea {
    width: 54%; } }

@media (min-width: 320px) and (max-width: 1040px) {
  body #base_Div #base_content_Div {
    padding-top: 0; }
    body #base_Div #base_content_Div #page_content_Div #item-grid-container {
      padding: 0;
      position: relative;
      float: left;
      width: 100%; }
      body #base_Div #base_content_Div #page_content_Div #item-grid-container .heading {
        font-size: 18px;
        height: 40px; }
      body #base_Div #base_content_Div #page_content_Div #item-grid-container #searchArea, body #base_Div #base_content_Div #page_content_Div #item-grid-container #userSearchArea, body #base_Div #base_content_Div #page_content_Div #item-grid-container #groupSearchArea {
        display: block;
        margin-top: -5px;
        right: 0; }
        body #base_Div #base_content_Div #page_content_Div #item-grid-container #searchArea #searchItems, body #base_Div #base_content_Div #page_content_Div #item-grid-container #userSearchArea #searchItems, body #base_Div #base_content_Div #page_content_Div #item-grid-container #groupSearchArea #searchItems {
          height: 35px; }
      body #base_Div #base_content_Div #page_content_Div #item-grid-container #categoryArea {
        height: 38px;
        margin-top: 33px;
        width: 100%; }
        body #base_Div #base_content_Div #page_content_Div #item-grid-container #categoryArea #categoryName {
          font-size: 16px !important; }
        body #base_Div #base_content_Div #page_content_Div #item-grid-container #categoryArea #categoryDescription {
          display: none; }
  body #base_Div #base_footer_Div {
    margin-top: 0; }
  body #base_Div #mobile-menu #notification {
    margin-top: -35px; }
  body #make_item_public_wrapper {
    width: 300px !important; }
    body #make_item_public_wrapper #PopupContainer {
      width: 300px !important; }
      body #make_item_public_wrapper #PopupContainer .PopupTitle {
        font-size: 18px; }
      body #make_item_public_wrapper #PopupContainer .delete-item {
        font-size: 12px; }
      body #make_item_public_wrapper #PopupContainer #make-public {
        padding: 4px; }
  body #remove_item_public_wrapper {
    width: 300px !important; }
    body #remove_item_public_wrapper #PopupContainer {
      width: 300px !important; }
      body #remove_item_public_wrapper #PopupContainer .PopupTitle {
        font-size: 18px; }
      body #remove_item_public_wrapper #PopupContainer .delete-item {
        font-size: 12px; }
      body #remove_item_public_wrapper #PopupContainer #remove-public {
        padding: 4px; }
  body #get_item_link_wrapper {
    width: 300px !important; } }

@media (min-width: 401px) and (max-width: 1040px) {
  #searchArea {
    display: block;
    margin-top: -5px;
    right: 0; }
    #searchArea #searchItems {
      display: block !important; } }

@media (max-width: 400px) {
  #searchArea {
    box-shadow: none !important;
    margin-top: -5px;
    width: 100%;
    right: 0; }
    #searchArea #searchItems {
      box-shadow: none !important;
      padding-top: 0;
      height: 35px;
      width: 91% !important;
      display: none; }
    #searchArea .search-item {
      background-color: #f2f2f2;
      border: medium none;
      width: 9% !important;
      position: absolute;
      right: 0;
      text-align: center;
      padding-left: 0; }
    #searchArea #clear-search {
      padding-left: 0;
      width: 9% !important;
      position: absolute;
      right: 0; }
    #searchArea .add-background {
      background-color: #eeeeee !important;
      border-color: #eeeeee #eeeeee #eeeeee #fff !important;
      border-radius: 0 4px 4px 0 !important;
      border-style: solid solid solid none !important;
      border-width: 1px 1px 1px 0 !important; } }

#make_item_public #PopupContainer {
  float: left;
  overflow: hidden; }
  #make_item_public #PopupContainer .dialogFooter {
    bottom: 0;
    position: absolute; }

#make_item_public .delete-item-popupcontent {
  font-size: 16px;
  margin: 10px; }

#make_item_public .item-delete-btns {
  margin: 0 auto;
  width: 60%; }
  #make_item_public .item-delete-btns input {
    margin: 5px; }

.makepublic-dialog-body {
  min-height: 200px !important; }

input#item-link {
  overflow: hidden;
  border-radius: 4px 0 0 4px;
  resize: none;
  width: 93%;
  float: left;
  border-right: medium none; }

#item-link-copy {
  border-radius: 0 4px 4px 0;
  float: left;
  border-left: medium none;
  cursor: pointer;
  padding-left: 6px;
  padding-top: 9px;
  width: 7%; }

#remove_item_public #PopupContainer {
  overflow: hidden; }
  #remove_item_public #PopupContainer .dialogFooter {
    bottom: 0;
    position: absolute; }

#remove_item_public .delete-item-popupcontent {
  font-size: 16px;
  margin: 10px; }

#remove_item_public .item-delete-btns {
  margin: 0 auto;
  width: 60%; }
  #remove_item_public .item-delete-btns input {
    margin: 5px; }

.removepublic-dialog-body {
  min-height: 220px !important; }

@media (min-width: 320px) and (max-width: 1040px) {
  input#item-link {
    width: 90%; }
  #item-link-copy {
    width: 10%; } }

.link-item-name {
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left; }

.get-link-body {
  font-size: 14px !important;
  padding-top: 0px !important; }
