@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: var(--font-family) !important; }

body {
  position: relative;
  padding-bottom: 35px; }

#main-content {
  display: table;
  height: 100%;
  width: 100%; }

.boldsign-parent {
  height: 100%;
  width: 100%;
  display: table;
  margin-bottom: -35px; }
  .boldsign-parent .boldsign-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .boldsign-parent .boldsign-child .boldsign-main-content {
      font-family: var(--font-family);
      font-size: 12px;
      margin: 0 auto;
      display: inline-block; }
      .boldsign-parent .boldsign-child .boldsign-main-content .account-header {
        margin-bottom: 20px; }
        .boldsign-parent .boldsign-child .boldsign-main-content .account-header img {
          height: 45px; }
        .boldsign-parent .boldsign-child .boldsign-main-content .account-header a {
          display: inline-block; }

.boldsign-registration-header {
  padding: 0 48px 0 17px;
  font-family: 'Heebo', sans-serif !important;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px; }
  .boldsign-registration-header img {
    width: 145px;
    height: 32px;
    margin-top: 10px; }
  .boldsign-registration-header .login-text {
    color: #666E80;
    font-weight: 400;
    margin-top: 17px; }
  .boldsign-registration-header .bold-sign-login {
    color: var(--colorPrimary);
    font-weight: 500; }

.boldsign-registration-footer {
  font-family: 'Heebo', sans-serif; }
  .boldsign-registration-footer .copyright {
    font-size: 10px;
    color: #666E80; }
