@import "mixins.scss";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family) !important;
}

body {
    position: relative;
    padding-bottom: 35px;
}

#main-content {
    display: table;
    height: 100%;
    width: 100%;
}

.boldsign-parent {
    height: 100%;
    width: 100%;
    display: table;
    margin-bottom: -35px;

    .boldsign-child {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        .boldsign-main-content {
            font-family: var(--font-family);
            font-size: 12px;
            margin: 0 auto;
            display: inline-block;

            .account-header {
                margin-bottom: 20px;

                img {
                    height: 45px;
                }

                a {
                    display: inline-block;
                }
            }
        }
    }
}

.boldsign-registration-header {
    padding: 0 48px 0 17px;
    font-family: 'Heebo', sans-serif !important;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 18px;

    img {
        width: 145px;
        height: 32px;
        margin-top: 10px;
    }

    .login-text {
        color: $sub-text-black;
        font-weight: 400;
        margin-top: 17px;
    }

    .bold-sign-login {
        color: $primary-color;
        font-weight: 500;
    }
}

.boldsign-registration-footer {
    font-family: 'Heebo', sans-serif;

    .copyright {
        font-size: 10px;
        color: $sub-text;
    }
}
