ul#password_policy_rules {
  font-size: 12px -2;
  color: var(--danger);
  list-style-type: none;
  padding: 0;
  white-space: nowrap; }
  ul#password_policy_rules li span.su-password-tick {
    color: var(--success) !important;
    font-size: 15px; }

@media (max-width: 989px) {
  ul#password_policy_rules {
    margin: 0 !important;
    padding-bottom: 35px; } }

@media (max-width: 410px) {
  ul#password_policy_rules #p_policy_heading {
    white-space: normal; } }

@media screen and (min-width: 1400px) {
  ul#password_policy_rules {
    font-size: 12px; } }
