ul#password_policy_rules {
  font-size: 12px -2;
  color: var(--danger);
  list-style-type: none;
  margin-left: 110%;
  margin-top: -12%;
  padding: 0;
  white-space: nowrap; }
  ul#password_policy_rules span {
    margin-right: 5px; }

#password_policy_rules #p_policy_heading {
  color: var(--colorText);
  padding-bottom: 10px; }

#password-policy-rules #p_policy_length {
  margin-left: 47px; }

#password-policy-rules #p_policy_uppercase, #password-policy-rules #p_policy_lowercase {
  margin-right: -5px; }

#password-policy-rules #p_policy_number {
  margin-right: 4px; }

#password-policy-rules #p_policy_specialcharacter {
  margin-right: -44px; }

#password-policy-rules li span {
  font-size: 12px -2 !important;
  padding-right: 10px !important; }

.clear-error {
  color: var(--success); }

li span.su-tick {
  color: var(--success) !important;
  margin-right: 10px; }

li span.su-close {
  color: var(--danger);
  margin-right: 10px; }

@media (max-width: 989px) {
  ul#password_policy_rules {
    margin: 0 !important;
    padding-bottom: 70px; } }

@media (max-width: 410px) {
  ul#password_policy_rules #p_policy_heading {
    white-space: normal; } }

@media screen and (min-width: 1400px) {
  ul#password_policy_rules {
    font-size: 12px; } }
