/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0; }

::-ms-clear {
  width: 0;
  height: 0; }

* {
  outline: none !important; }

*:focus {
  outline: none !important; }

label {
  font-weight: normal; }

a, a:hover, a:focus {
  text-decoration: none !important;
  color: var(--colorPrimary); }

input[type=button], input[type=submit], button[type=submit] {
  padding: 0px !important; }

input.form-control:not(.input-block-level), .btn-group.form-control .btn.dropdown-toggle, .form-control.StripeElement {
  box-shadow: none !important;
  border: 1px solid #CCCCCC; }

.bs-searchbox .input-block-level.form-control {
  box-shadow: none !important;
  border: 1.5px solid #CCCCCC; }

input.form-control:focus:not(.input-block-level), .StripeElement--focus {
  outline: none !important;
  border: 1.5px solid #0565FF !important;
  box-shadow: none !important; }

input.ng-invalid.ng-touched.remove-border {
  outline: none !important;
  border: 1.5px solid #0565FF !important;
  box-shadow: none !important; }

input.ng-invalid.ng-touched:not(.ng-exclude):not(.e-control), input.ng-invalid.ng-empty.ng-dirty:not(.ng-exclude):not(.e-control), input.ng-invalid.ng-touched:focus:not(.ng-exclude):not(.e-control), .has-error input.form-control:not(.input-block-level), .has-error input.form-control:focus:not(.input-block-level), .has-error .btn-group.form-control .btn.dropdown-toggle, .StripeElement--invalid, input.ng-invalid.ng-invalid-pattern:focus, input.ng-invalid.ng-invalid-maxlength:focus, input.ng-invalid.ng-invalid-uniquednsnotactivated:focus, input.error-focus.ng-invalid.ng-untouched {
  outline: none !important;
  border: 1px solid var(--danger) !important;
  box-shadow: none !important; }

input[type="password"] {
  padding-right: 30px; }

.form-control[disabled] {
  cursor: default;
  background-color: #eeeeee !important; }

.su-eye {
  cursor: pointer;
  position: absolute; }

.material-checkbox {
  position: relative; }
  .material-checkbox label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox label:before, .material-checkbox label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox label:before {
      background: #FFFFFF;
      border: 1.5px solid #CCCCCC;
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox input[type="checkbox"]:checked + input + label:before {
      background: #0565FF;
      border: 1.5px solid #0565FF; }
    .material-checkbox input[type="checkbox"]:checked + input + label:after {
      border: 2px solid #FFFFFF;
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid #ff4800; }

.material-checkbox.selfhosted {
  position: relative; }
  .material-checkbox.selfhosted label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox.selfhosted label:before, .material-checkbox.selfhosted label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox.selfhosted label:before {
      background: #FFFFFF;
      border: 1.5px solid #CCCCCC;
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox.selfhosted input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox.selfhosted input[type="checkbox"]:checked + label:before {
      background: #0565FF;
      border: 1.5px solid #0565FF; }
    .material-checkbox.selfhosted input[type="checkbox"]:checked + label:after {
      border: 2px solid #FFFFFF;
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox.selfhosted input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid #007aff; }

span.su-password-tick {
  background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  font-size: 20px;
  display: inline-block;
  float: left;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%; }

.text-h1 {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 30px;
  color: #333333; }

.text-h2 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: #333333; }

.text-h4 {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #333333; }

.text-body {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: #333333; }

.text-bitter-h2 {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-bitter-h1 {
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-primary {
  color: #0565FF; }

.plan-chooser-container {
  margin-top: 80px; }
  .plan-chooser-container #license-setting-header {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center; }
    .plan-chooser-container #license-setting-header .free-description {
      margin-bottom: 4px !important; }
  .plan-chooser-container #plan-chooser-body {
    text-align: center;
    margin: 0 auto; }
    .plan-chooser-container #plan-chooser-body .field-container {
      display: table;
      margin: 0 auto;
      width: 100%;
      padding-top: 30px; }
      .plan-chooser-container #plan-chooser-body .field-container .card-wrapper {
        display: inline-block;
        margin: 0 auto; }
        .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card {
          margin-right: 25px;
          margin-left: 25px;
          margin-bottom: 33px;
          padding: 0px;
          width: 250px;
          background: #FFFFFF;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          border-radius: 6px;
          width: 280px; }
          .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .price-banner {
            line-height: 30px;
            padding: 7px 0px 0px 0px;
            margin: 0px auto 10px 0px;
            padding: 5px 20px 0 20px; }
            .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .price-banner .text-h4 {
              line-height: 20px;
              padding-top: 10px;
              font-size: 12px;
              color: #7C7C7C;
              letter-spacing: 0.3px;
              text-align: center;
              line-height: 18px; }
            .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .price-banner .price-container {
              border-bottom: 1px solid #ECECEC;
              margin-top: 17px; }
              .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .price-banner .price-container .dollar-symbol {
                padding-right: 6px;
                vertical-align: top;
                font-size: 24px;
                color: #282828;
                letter-spacing: 0.72px;
                line-height: 24px; }
              .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .price-banner .price-container .upgrading-plan-price {
                font-size: 48px;
                color: #282828;
                letter-spacing: 1.44px;
                line-height: 26px; }
              .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .price-banner .price-container .plan-duration {
                color: #7C7C7C;
                display: block;
                font-size: 12px;
                letter-spacing: 0.54px;
                line-height: 24px;
                padding-bottom: 10px; }
          .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .features-container {
            padding: 20px 40px;
            text-align: left; }
            .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .features-container .feature-detail {
              margin-bottom: 7px; }
            .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .features-container .text-body {
              font-size: 14px;
              color: #333333;
              letter-spacing: 0.35px;
              line-height: 18px;
              margin-left: 20px; }
            .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .features-container .su-tick {
              color: #0565FF;
              font-size: 16px; }
          .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .choose-plan-button {
            background: #ff4800;
            border: 1px solid #ff4800;
            border-radius: 5px;
            color: #FFFFFF;
            height: 32px;
            outline: none;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
            display: block;
            background: #0970FF;
            border-radius: 4px;
            height: 32px;
            width: 130px;
            display: inline;
            margin-bottom: 30px; }
            .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .choose-plan-button:hover, .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .choose-plan-button:focus {
              background-color: #fff1ef;
              border: none;
              color: #ff4800; }
            .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .choose-plan-button:disabled {
              background: #CCCCCC;
              cursor: default;
              border: none;
              color: #FFFFFF; }
            .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .choose-plan-button span {
              font-size: 14px;
              font-weight: normal;
              color: #FFFFFF;
              letter-spacing: 0.32px;
              text-align: center;
              line-height: 32px;
              text-shadow: 0 1px 1px rgba(0, 0, 0, 0.14); }
      .plan-chooser-container #plan-chooser-body .field-container .card-wrapper.special-plans .card {
        min-height: 295px; }
        .plan-chooser-container #plan-chooser-body .field-container .card-wrapper.special-plans .card .card-body {
          margin-top: 50px; }
        .plan-chooser-container #plan-chooser-body .field-container .card-wrapper.special-plans .card .content {
          margin: 30px 20px;
          font-size: 14px; }
        .plan-chooser-container #plan-chooser-body .field-container .card-wrapper.special-plans .card .contact-us-button {
          background: #FFFFFF;
          border: 1px solid #b3b3b3;
          border-radius: 5px;
          color: #333333;
          height: 32px;
          outline: none;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
          display: block;
          margin: 20px auto 25px auto;
          padding: 5px 0px;
          width: 120px; }
          .plan-chooser-container #plan-chooser-body .field-container .card-wrapper.special-plans .card .contact-us-button:hover, .plan-chooser-container #plan-chooser-body .field-container .card-wrapper.special-plans .card .contact-us-button:focus {
            background: #F7F8F9; }
          .plan-chooser-container #plan-chooser-body .field-container .card-wrapper.special-plans .card .contact-us-button:disabled {
            background: #cccccc;
            cursor: default; }
          .plan-chooser-container #plan-chooser-body .field-container .card-wrapper.special-plans .card .contact-us-button .contact-us-button:focus {
            text-decoration: none !important; }
      .plan-chooser-container #plan-chooser-body .field-container .user-license-info {
        font-size: 13px;
        padding-top: 25px; }
    .plan-chooser-container #plan-chooser-body .divider-line {
      height: 1px;
      margin: 40px auto 62px auto; }
    .plan-chooser-container #plan-chooser-body .more-users {
      margin-bottom: 34px; }
    .plan-chooser-container #plan-chooser-body .custom-plan-button {
      background: #FFFFFF;
      border: 1px solid #C1C1C1;
      border-radius: 5px;
      color: #333333;
      display: inline-block;
      height: 32px;
      outline: none;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      margin: 20px auto 20px auto;
      padding: 5px 0px;
      text-decoration: none;
      width: 280px; }
      .plan-chooser-container #plan-chooser-body .custom-plan-button:hover, .plan-chooser-container #plan-chooser-body .custom-plan-button:focus {
        background: #e6e6e6; }
      .plan-chooser-container #plan-chooser-body .custom-plan-button:disabled {
        background: #CCCCCC;
        cursor: default;
        border: none; }
  .plan-chooser-container .field-container.boldbi-plan-card {
    padding-top: 30px; }
    .plan-chooser-container .field-container.boldbi-plan-card .card {
      width: 330px !important; }

.no-padding {
  padding: 0px !important; }

.boldbi-app-body .plan-chooser-container .bold-bi-free-description-1 {
  color: #ff4800;
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 40px; }

.boldbi-app-body .plan-chooser-container .bold-bi-free-description-2 {
  font-size: 38px;
  letter-spacing: 0.3px; }

@media (max-width: 1400px) {
  .registration-header {
    top: 10px; }
  .plan-chooser-container {
    margin-top: 40px; }
    .plan-chooser-container #license-setting-header {
      margin: 0; }
    .plan-chooser-container .text-h1 {
      font-size: 18px; }
    .plan-chooser-container #plan-chooser-body .field-container {
      width: 90% !important;
      padding-top: 15px; }
      .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card {
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 24px;
        width: 250px; }
        .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .price-banner .price-container {
          margin-top: 10px; }
          .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .price-banner .price-container .dollar-symbol {
            font-size: 18px; }
          .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .price-banner .price-container .upgrading-plan-price {
            font-size: 26px; }
        .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .features-container {
          padding: 10px 30px; }
          .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .features-container .su-tick {
            font-size: 14px; }
          .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .features-container .text-body {
            font-size: 12px; }
        .plan-chooser-container #plan-chooser-body .field-container .card-wrapper .card .card-body .choose-plan-button {
          margin-bottom: 20px;
          width: 115px; }
      .plan-chooser-container #plan-chooser-body .field-container .card-wrapper.special-plans .card {
        min-height: 250px; }
        .plan-chooser-container #plan-chooser-body .field-container .card-wrapper.special-plans .card .card-body {
          margin-top: 35px; }
          .plan-chooser-container #plan-chooser-body .field-container .card-wrapper.special-plans .card .card-body .text-body {
            font-size: 12px; } }

@media (min-width: 1200px) {
  .plan-chooser-container #plan-chooser-body .field-container {
    width: 90% !important; }
    .plan-chooser-container #plan-chooser-body .field-container.boldbi-plan-card {
      width: 100% !important; } }

@media (min-width: 1300px) {
  .plan-chooser-container #plan-chooser-body .field-container {
    width: 85% !important; }
    .plan-chooser-container #plan-chooser-body .field-container.boldbi-plan-card {
      width: 90% !important; } }

@media (min-width: 1500px) {
  .plan-chooser-container #plan-chooser-body .field-container {
    width: 80% !important; }
    .plan-chooser-container #plan-chooser-body .field-container.boldbi-plan-card {
      width: 90% !important; } }

@media (min-width: 1600px) {
  .plan-chooser-container #plan-chooser-body .field-container {
    width: 75% !important; }
    .plan-chooser-container #plan-chooser-body .field-container.boldbi-plan-card {
      width: 85% !important; } }

@media (min-width: 1760px) {
  .plan-chooser-container #plan-chooser-body .field-container {
    width: 70% !important; }
    .plan-chooser-container #plan-chooser-body .field-container.boldbi-plan-card {
      width: 80% !important; } }

@media (min-width: 1850px) {
  .plan-chooser-container #plan-chooser-body .field-container {
    width: 60% !important; }
    .plan-chooser-container #plan-chooser-body .field-container.boldbi-plan-card {
      width: 70% !important; } }

@media (min-width: 2200px) {
  .plan-chooser-container #plan-chooser-body .field-container {
    width: 50% !important; }
    .plan-chooser-container #plan-chooser-body .field-container.boldbi-plan-card {
      width: 60% !important; } }
