@import "newthemes/elementsize.scss";
@import "newthemes/elementcolor.scss";
@import "newthemes/mixins.scss";

.plan-chooser-container {
    margin-top: 80px;

    #license-setting-header {
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: center;

        .free-description {
            margin-bottom: $space-xxs !important;
        }
    }

    #plan-chooser-body {
        text-align: center;
        margin: 0 auto;

        .field-container {
            display: table;
            margin: 0 auto;
            width: 100%;
            padding-top: 30px;


            .card-wrapper {
                display: inline-block;
                margin: 0 auto;

                .card {
                    margin-right: 25px;
                    margin-left: 25px;
                    margin-bottom: 33px;
                    padding: 0px;
                    width: 250px;
                    background: #FFFFFF;
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
                    border-radius: 6px;
                    width: 280px;

                    .card-body {
                        .price-banner {
                            line-height: 30px;
                            padding: 7px 0px 0px 0px;
                            margin: 0px auto 10px 0px;
                            padding: 5px 20px 0 20px;

                            .text-h4 {
                                line-height: 20px;
                                padding-top: 10px;
                                font-size: 12px;
                                color: #7C7C7C;
                                letter-spacing: 0.3px;
                                text-align: center;
                                line-height: 18px;
                            }

                            .price-container {
                                border-bottom: 1px solid #ECECEC;
                                margin-top: 17px;

                                .dollar-symbol {
                                    padding-right: 6px;
                                    vertical-align: top;
                                    font-size: 24px;
                                    color: #282828;
                                    letter-spacing: 0.72px;
                                    line-height: 24px;
                                }

                                .upgrading-plan-price {
                                    font-size: 48px;
                                    color: #282828;
                                    letter-spacing: 1.44px;
                                    line-height: 26px;
                                }

                                .plan-duration {
                                    color: #7C7C7C;
                                    display: block;
                                    font-size: 12px;
                                    letter-spacing: 0.54px;
                                    line-height: 24px;
                                    padding-bottom: 10px;
                                }
                            }
                        }

                        .features-container {
                            padding: 20px 40px;
                            text-align: left;

                            .feature-detail {
                                margin-bottom: 7px;
                            }

                            .text-body {
                                font-size: 14px;
                                color: #333333;
                                letter-spacing: 0.35px;
                                line-height: 18px;
                                margin-left: 20px;
                            }

                            .su-tick {
                                color: $color-primary;
                                font-size: 16px;
                            }
                        }

                        .choose-plan-button {
                            @include proceed-button();
                            background: #0970FF;
                            border-radius: 4px;
                            height: 32px;
                            width: 130px;
                            display: inline;
                            margin-bottom: 30px;

                            span {
                                font-size: 14px;
                                font-weight: normal;
                                color: #FFFFFF;
                                letter-spacing: 0.32px;
                                text-align: center;
                                line-height: 32px;
                                text-shadow: 0 1px 1px rgba(0,0,0,0.14);
                            }
                        }
                    }
                }
            }

            .card-wrapper.special-plans {
                .card {
                    min-height: 295px;

                    .card-body {
                        margin-top: 50px;
                    }

                    .content {
                        margin: 30px 20px;
                        font-size: 14px;
                    }

                    .contact-us-button {
                        @include back-button();
                        margin: 20px auto 25px auto;
                        padding: 5px 0px;
                        width: 120px;

                        .contact-us-button:focus {
                            text-decoration: none !important;
                        }
                    }
                }
            }

            .user-license-info {
                font-size: 13px;
                padding-top: 25px;
            }
        }

        .divider-line {
            height: 1px;
            margin: 40px auto 62px auto;
        }

        .more-users {
            margin-bottom: 34px;
        }

        .custom-plan-button {
            background: $color-white;
            border: 1px solid #C1C1C1;
            border-radius: 5px;
            color: $color-grey-800;
            display: inline-block;
            height: $button-32;
            outline: none;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
            margin: 20px auto 20px auto;
            padding: 5px 0px;
            text-decoration: none;
            width: 280px;

            &:hover, &:focus {
                background: darken($color-white, 10%);
            }

            &:disabled {
                background: $color-grey-200;
                cursor: default;
                border: none;
            }
        }
    }

    .field-container.boldbi-plan-card {
        padding-top: 30px;

        .card {
            width: 330px !important;
        }
    }
}

.no-padding {
    padding: 0px !important;
}

.boldbi-app-body {
    .plan-chooser-container {
        .bold-bi-free-description-1 {
            color: $boldbi-primary-color;
            font-size: 20px;
            letter-spacing: 0.3px;
            line-height: 40px;
        }

        .bold-bi-free-description-2 {
            font-size: 38px;
            letter-spacing: 0.3px;
        }
    }
}


@media (max-width: 1400px) {
    .registration-header {
        top: 10px;
    }

    .plan-chooser-container {
        margin-top: 40px;

        #license-setting-header {
            margin: 0;
        }

        .text-h1 {
            font-size: 18px;
        }

        #plan-chooser-body {
            .field-container {
                width: 90% !important;
                padding-top: 15px;

                .card-wrapper {
                    .card {
                        margin-right: 25px;
                        margin-left: 25px;
                        margin-bottom: 24px;
                        width: 250px;

                        .card-body {
                            .price-banner .price-container {
                                margin-top: 10px;

                                .dollar-symbol {
                                    font-size: 18px;
                                }

                                .upgrading-plan-price {
                                    font-size: 26px;
                                }
                            }

                            .features-container {
                                padding: 10px 30px;

                                .su-tick {
                                    font-size: 14px;
                                }

                                .text-body {
                                    font-size: 12px;
                                }
                            }

                            .choose-plan-button {
                                margin-bottom: 20px;
                                width: 115px;
                            }
                        }
                    }
                }

                .card-wrapper.special-plans {
                    .card {
                        min-height: 250px;

                        .card-body {
                            margin-top: 35px;

                            .text-body {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .plan-chooser-container {
        #plan-chooser-body {
            .field-container {
                width: 90% !important;

                &.boldbi-plan-card {
                    width: 100% !important;
                }
            }
        }
    }
}

@media (min-width: 1300px) {
    .plan-chooser-container {
        #plan-chooser-body {
            .field-container {
                width: 85% !important;

                &.boldbi-plan-card {
                    width: 90% !important;
                }
            }
        }
    }
}

@media (min-width: 1500px) {
    .plan-chooser-container {
        #plan-chooser-body {
            .field-container {
                width: 80% !important;

                &.boldbi-plan-card {
                    width: 90% !important;
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    .plan-chooser-container {
        #plan-chooser-body {
            .field-container {
                width: 75% !important;

                &.boldbi-plan-card {
                    width: 85% !important;
                }
            }
        }
    }
}

@media (min-width: 1760px) {
    .plan-chooser-container {
        #plan-chooser-body {
            .field-container {
                width: 70% !important;

                &.boldbi-plan-card {
                    width: 80% !important;
                }
            }
        }
    }
}

@media (min-width: 1850px) {
    .plan-chooser-container {
        #plan-chooser-body {
            .field-container {
                width: 60% !important;

                &.boldbi-plan-card {
                    width: 70% !important;
                }
            }
        }
    }
}

@media (min-width: 2200px) {
    .plan-chooser-container {
        #plan-chooser-body {
            .field-container {
                width: 50% !important;

                &.boldbi-plan-card {
                    width: 60% !important;
                }
            }
        }
    }
}