body .top-nav-sec {
  float: right;
  margin-left: 30px;
  width: 40px; }

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  float: right;
  margin-right: 13px;
  padding-right: 2px; }

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 50%;
  color: var(--primary-text-color);
  cursor: pointer;
  position: relative; }
  .icon-container i {
    font-size: 20px;
    color: var(--secondary-text-color); }
  .icon-container .profile-pic-tag {
    text-align: center;
    font-weight: 900;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important; }
    .icon-container .profile-pic-tag .img {
      top: 0px !important;
      left: 0px !important;
      height: 40px;
      width: 40px; }
    .icon-container .profile-pic-tag #default-profile-image {
      right: 10px !important;
      left: 0 !important; }
    .icon-container .profile-pic-tag #first-letter {
      font-size: 13px !important; }
  .icon-container .homepage-profile {
    position: relative;
    top: 12px; }

.help-icon-item {
  margin-right: 10px !important; }

.dropdown-menu li.top-menu-item > span:hover {
  background: none; }

.icon-item {
  margin: 0px;
  border-radius: 50%;
  cursor: pointer; }
  .icon-item.help-icon-item:hover {
    background-color: var(--grey-300); }
    .icon-item.help-icon-item:hover .icon-container i {
      font-size: 20px;
      color: var(--secondary-text-color); }

#top-nav a.dropdown-toggle.profile-tag:hover {
  text-decoration: none; }
#top-nav .top-menu {
  width: 194px;
  border: 0;
  border-radius: 2px;
  cursor: default;
  left: -140px;
  list-style: none;
  text-align: center;
  top: auto;
  bottom: auto;
  line-height: 20px;
  margin-top: 7px; }
  #top-nav .top-menu.dropdown-menu {
    background: var(--drop-down-menu-bg-normal-color) !important; }
    #top-nav .top-menu.dropdown-menu li.top-menu-item a:hover {
      background: var(--drop-down-menu-bg-hover-color) !important; }
#top-nav .help-icon-item .top-menu {
  padding: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); }
#top-nav .top-menu-item-title {
  height: 32px;
  text-align: left; }
#top-nav .top-menu-item {
  height: auto !important;
  text-align: left;
  cursor: pointer;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: var(--primary-text-color); }
  #top-nav .top-menu-item .profile-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px; }
  #top-nav .top-menu-item .su-profile-settings:before,
  #top-nav .top-menu-item .su-profile-log-out:before {
    margin-top: 2px; }
  #top-nav .top-menu-item .manage-text {
    color: var(--primary-text-color);
    padding: 0px 8px; }
  #top-nav .top-menu-item .su-profile-settings {
    color: var(--primary-text-color); }
  #top-nav .top-menu-item .manage-profile {
    padding: 0px 8px;
    font-family: var(--font-family); }
  #top-nav .top-menu-item .logout-sec {
    color: #d70000; }
  #top-nav .top-menu-item span {
    display: block; }
#top-nav .sf-top-menu-separator {
  background: var(--header-separator-color);
  height: 1px;
  margin: 7px 0px;
  cursor: default; }
#top-nav .top-menu-item-title div, #top-nav .top-menu-item span {
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  margin: 7px 5px 8px 0px; }
#top-nav .top-menu-item-title div {
  font-weight: 600;
  letter-spacing: 0.3px; }
#top-nav .dropdown-menu li.top-menu-item > span:hover {
  background: none; }
#top-nav .dropdown-menu > li > a {
  padding: 3px 16px !important; }
#top-nav li.profile-section .dropdown-toggle::after {
  visibility: hidden; }
#top-nav li.profile-section .top-menu {
  font-size: 14px;
  width: 240px;
  border: 0;
  cursor: default;
  left: -203px;
  bottom: auto;
  top: auto; }
  #top-nav li.profile-section .top-menu .top-menu-profile {
    height: auto !important;
    text-align: left;
    cursor: pointer;
    font-style: normal;
    font-stretch: normal; }
    #top-nav li.profile-section .top-menu .top-menu-profile .top-menu-user-email-style {
      color: var(--primary-text-color); }
  #top-nav li.profile-section .top-menu .top-menu-item {
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    font-style: normal;
    font-stretch: normal; }
    #top-nav li.profile-section .top-menu .top-menu-item span {
      padding: 0px 10px;
      font-size: 14px; }
    #top-nav li.profile-section .top-menu .top-menu-item a {
      font-size: 13px;
      font-weight: normal;
      letter-spacing: 0.3px;
      display: contents; }
      #top-nav li.profile-section .top-menu .top-menu-item a .top-menu-profile-hover {
        display: inline-block; }
        #top-nav li.profile-section .top-menu .top-menu-item a .top-menu-profile-hover .top-menu-user-name {
          float: right;
          display: inline-block;
          margin-left: 43px;
          width: 180px;
          font-weight: 600;
          margin-top: -45px;
          color: var(--colors-gray-light-mode-700, #344054);
          font-size: 14px;
          padding: 10px 10px 0px 10px; }
          #top-nav li.profile-section .top-menu .top-menu-item a .top-menu-profile-hover .top-menu-user-name .top-menu-user-name-style, #top-nav li.profile-section .top-menu .top-menu-item a .top-menu-profile-hover .top-menu-user-name .top-menu-user-email-style {
            overflow: hidden;
            text-overflow: ellipsis; }
          #top-nav li.profile-section .top-menu .top-menu-item a .top-menu-profile-hover .top-menu-user-name .top-menu-user-name-style {
            font-size: 12px;
            color: var(--primary-text-color);
            height: 20px; }
          #top-nav li.profile-section .top-menu .top-menu-item a .top-menu-profile-hover .top-menu-user-name .top-menu-user-email-style {
            font-size: 10px;
            color: var(--primary-text-color); }
    #top-nav li.profile-section .top-menu .top-menu-item .profile-action {
      padding: 0px;
      display: flex;
      align-items: center;
      margin: 0px;
      gap: 0px; }
    #top-nav li.profile-section .top-menu .top-menu-item.logout-section a {
      font-size: 14px; }
#top-nav li.profile-section .top-menu-profile-text-padding {
  font-size: 10px;
  padding-left: 10px; }
#top-nav li.profile-section .tooltip-inner {
  word-break: break-all !important;
  white-space: pre !important;
  max-width: none !important; }

@media (max-width: 1040px) {
  .icon-list {
    margin-top: 22px; } }
