@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

body #messageBox .message-box-close {
  right: 10px;
  color: #4d4d4d;
  opacity: 1; }
  body #messageBox .message-box-close:hover {
    color: #1a1a1a; }

body #messageBox .message-content {
  height: 50px;
  line-height: 50px;
  margin-top: 0px; }

#edit-profile-base-div {
  margin-top: 0px; }
  #edit-profile-base-div .admin-page-header .header {
    padding-top: 8px !important; }
  #edit-profile-base-div #is-aduser, #edit-profile-base-div #logged-user {
    display: none; }
  #edit-profile-base-div #user-profile-master label {
    font-weight: 400; }
  #edit-profile-base-div #user-profile-master #edit-profile-heading-div {
    border-bottom: 1px solid #cccccc;
    float: left; }
    #edit-profile-base-div #user-profile-master #edit-profile-heading-div .section-heading {
      font-size: 14px;
      font-weight: 500; }
    #edit-profile-base-div #user-profile-master #edit-profile-heading-div .button-section {
      padding: 0 !important; }
      #edit-profile-base-div #user-profile-master #edit-profile-heading-div .button-section a:hover {
        color: var(--colorPrimary); }
      #edit-profile-base-div #user-profile-master #edit-profile-heading-div .button-section .edit-password {
        margin-left: 10px; }
  #edit-profile-base-div #user-profile-master .profile-section {
    background-color: var(--surface);
    margin: 0 0 30px 0 !important;
    padding-bottom: 20px; }
    #edit-profile-base-div #user-profile-master .profile-section .img-view-holder {
      border: 0.5px solid #eeeeee;
      border-radius: 2px;
      float: left;
      height: 120px;
      margin: 20px 0 0 20px;
      text-align: center;
      width: 120px; }
      #edit-profile-base-div #user-profile-master .profile-section .img-view-holder #user-profile-picture {
        border-radius: 2px;
        height: 110px;
        margin: 4px 0 0 -11px;
        width: 110px; }
      #edit-profile-base-div #user-profile-master .profile-section .img-view-holder .user-profile-picture {
        background: var(--colorText);
        opacity: 0.3;
        position: relative; }
      #edit-profile-base-div #user-profile-master .profile-section .img-view-holder .profile-picture-edit-button {
        background: var(--colorText) none repeat scroll 0% 0%;
        border-radius: 13px;
        color: var(--colorOnPrimary);
        cursor: pointer;
        display: inline;
        height: 25px;
        padding: 5px;
        position: absolute;
        top: 86px;
        width: 25px; }
      #edit-profile-base-div #user-profile-master .profile-section .img-view-holder #avatar-button-click {
        left: 7px; }
      #edit-profile-base-div #user-profile-master .profile-section .img-view-holder #avatar-delete-click {
        left: 86px; }
    #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div {
      color: var(--colorText);
      float: left;
      font-size: 14px;
      margin-top: 20px; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .form-group {
        margin: 0 !important; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .line-spacing {
        margin-top: 16px !important; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .label-panel {
        float: left;
        font-size: 12px;
        margin-top: 2px;
        width: 120px; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list {
        padding: 0 0 0 20px !important;
        width: 250px; }
        #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list .disable-content {
          background-color: var(--surface); }
        #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list .placeholder {
          background: none;
          color: #b3b3b3;
          margin: -25px 15px;
          position: absolute; }
        #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list .content-size {
          font-size: 12px;
          height: 28px; }
        #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list .enable {
          background-color: var(--surface); }
        #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list .alert-messages {
          color: var(--danger);
          font-size: 12px -2;
          position: relative;
          width: 200px; }
        #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list span.alert-messages {
          color: var(--danger); }
        #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list #groups {
          margin-top: 7px; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .button-section {
        margin-bottom: 20px; }
        #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .button-section .left-margin-15 {
          margin-left: 15px; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div h5 {
        margin-left: 5px; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #homepage-name, #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #no-default-homepage {
        margin-top: 7px;
        font-size: 12px; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #no-default-homepage #info-tag {
        display: inline-block;
        padding-left: 15px;
        vertical-align: middle;
        font-size: 12px; }
        #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #no-default-homepage #info-tag #tooltip-info {
          font-size: 12px;
          padding: 5px;
          left: auto;
          width: 170px; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #homepage-list .btn-default {
        height: 28px; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #homepage-list .filter-option {
        font-size: 12px; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #homepage-list .no-result {
        padding: 4px 8px; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #homepage-list .dropdown-menu.open ul.dropdown-menu li {
        width: 210px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle; }
        #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #homepage-list .dropdown-menu.open ul.dropdown-menu li a span {
          font-size: 12px;
          width: 190px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #homepage-list .dropdown-menu.open ul.dropdown-menu li.no-results {
        margin: 0px !important;
        padding-left: 8px !important; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #homepage-list .dropdown-menu.open ul.dropdown-menu li.no-results:nth-child(2) {
        display: none !important; }
    #edit-profile-base-div #user-profile-master .profile-section #edit-button {
      margin: 20px 20px 0 0;
      position: absolute;
      right: 0; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-button .inactive-content {
        display: none; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-button .active-content {
        margin-left: 100px !important;
        visibility: visible; }
      #edit-profile-base-div #user-profile-master .profile-section #edit-button #cancel-button {
        display: none;
        margin-left: 10px; }
    #edit-profile-base-div #user-profile-master .profile-section #message {
      clear: left;
      margin-left: 450px;
      margin-top: 6px; }
      #edit-profile-base-div #user-profile-master .profile-section #message #success-message .validate-success {
        color: var(--success); }
      #edit-profile-base-div #user-profile-master .profile-section #message #success-message .validate-error {
        color: var(--danger); }
  #edit-profile-base-div #user-profile-master #notification-preference-base-div {
    padding: 0 0 30px; }
    #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-heading-form-div {
      height: 40px;
      padding: 0 20px !important; }
      #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-heading-form-div #section-heading {
        font-size: 14px;
        font-weight: 700;
        margin-top: 9px; }
    #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .margin-top16 {
      margin-top: 16px !important; }
    #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .dropdown {
      margin-left: 20px; }
      #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .dropdown .dropdown-menu {
        min-width: 0 !important;
        width: 252px; }
      #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .dropdown ul.dropdown-menu {
        margin-left: 1px; }
    #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .margin-left {
      margin-left: 280px; }
    #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .notification-content {
      font-size: 12px;
      margin-top: 8px; }
    #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .btn-default {
      height: 28px; }
    #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .selectpicker {
      background-color: #eeeeee;
      overflow-y: hidden !important;
      width: 250px !important; }
      #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .selectpicker li, #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .selectpicker .filter-option {
        font-size: 12px; }
    #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .enable {
      background-color: var(--surface); }
    #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table #success-msg .validate-success {
      color: var(--success); }
    #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table #success-msg .validate-error {
      color: var(--danger); }
    #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form #edit-button {
      margin-top: -20px; }
      #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form #edit-button .inactive-content {
        display: none; }
      #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form #edit-button .active-content {
        margin-left: 100px !important;
        visibility: visible; }
      #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form #edit-button #cancel-settings {
        display: none;
        margin-left: 10px;
        margin-right: 20px; }
      #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form #edit-button #edit-settings {
        margin-right: 20px; }

#avatar-upload-box {
  padding: 0px !important; }
  #avatar-upload-box .modal-content {
    border-radius: 0;
    border: 0;
    padding: 0; }
    #avatar-upload-box .modal-content .ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    #avatar-upload-box .modal-content .modal-header {
      border: none;
      height: 50px;
      padding: 10px !important; }
      #avatar-upload-box .modal-content .modal-header .modal-title {
        font-size: 14px;
        font-weight: 500; }
      #avatar-upload-box .modal-content .modal-header .header-icon {
        padding: 3px 3px 3px 0;
        width: 20px; }
      #avatar-upload-box .modal-content .modal-header .header-content {
        font-size: 10px;
        font-weight: 400; }
      #avatar-upload-box .modal-content .modal-header .popup-close {
        color: var(--colorText);
        font-size: 10px; }
        #avatar-upload-box .modal-content .modal-header .popup-close:hover {
          color: var(--colorPrimary);
          text-decoration: none; }
    #avatar-upload-box .modal-content .modal-body {
      font-size: 12px;
      padding: 10px;
      overflow-y: auto; }
      #avatar-upload-box .modal-content .modal-body #file-name {
        cursor: pointer; }
      #avatar-upload-box .modal-content .modal-body .highlight-name {
        font-style: italic;
        color: var(--colorPrimary); }
      #avatar-upload-box .modal-content .modal-body .selectpicker, #avatar-upload-box .modal-content .modal-body .form-control {
        font-size: 12px; }
      #avatar-upload-box .modal-content .modal-body .btn-default {
        height: 28px; }
        #avatar-upload-box .modal-content .modal-body .btn-default .filter-option {
          margin-top: -1px; }
      #avatar-upload-box .modal-content .modal-body .delete-msg {
        margin-top: 4px; }
      #avatar-upload-box .modal-content .modal-body .validation-message {
        color: var(--danger);
        font-size: 10px;
        float: left; }
      #avatar-upload-box .modal-content .modal-body .app-textbox-label {
        font-weight: 400;
        font-size: 12px; }
      #avatar-upload-box .modal-content .modal-body .info-text {
        font-size: 10px; }
    #avatar-upload-box .modal-content .modal-footer {
      background-color: #eeeeee;
      height: 50px;
      padding: 10px; }
      #avatar-upload-box .modal-content .modal-footer .message-area {
        height: 35px;
        margin-top: -8px; }
        #avatar-upload-box .modal-content .modal-footer .message-area .error-message, #avatar-upload-box .modal-content .modal-footer .message-area .success-message {
          padding: 0px;
          float: left;
          text-align: left;
          height: 44px;
          width: 100%;
          display: none;
          word-wrap: break-word; }
        #avatar-upload-box .modal-content .modal-footer .message-area .success-message {
          overflow: hidden;
          position: relative;
          text-overflow: ellipsis; }
      #avatar-upload-box .modal-content .modal-footer .margin-right {
        margin-right: 10px; }
      #avatar-upload-box .modal-content .modal-footer .margin-top {
        margin-top: 2px; }
  #avatar-upload-box .modal-dialog {
    margin-top: 0px;
    width: 598px;
    height: 380px; }
    #avatar-upload-box .modal-dialog .modal-content {
      height: auto; }
      #avatar-upload-box .modal-dialog .modal-content .modal-header .header-content {
        margin-top: 5px; }
      #avatar-upload-box .modal-dialog .modal-content .modal-body {
        height: 310px;
        padding: 10px; }
        #avatar-upload-box .modal-dialog .modal-content .modal-body .image-path {
          float: left; }
          #avatar-upload-box .modal-dialog .modal-content .modal-body .image-path .form-control {
            height: 28px; }
          #avatar-upload-box .modal-dialog .modal-content .modal-body .image-path #image-path {
            border-right: none;
            font-size: 12px; }
          #avatar-upload-box .modal-dialog .modal-content .modal-body .image-path #upload-picture {
            border: 1px solid #cccccc;
            padding: 0 !important;
            width: 60px !important;
            height: 0 !important; }
            #avatar-upload-box .modal-dialog .modal-content .modal-body .image-path #upload-picture .e-selectpart {
              border: none;
              height: 26px;
              margin: -13px 0 0 -30px;
              position: absolute;
              width: 60px; }
              #avatar-upload-box .modal-dialog .modal-content .modal-body .image-path #upload-picture .e-selectpart:hover {
                background-color: #eeeeee; }
                #avatar-upload-box .modal-dialog .modal-content .modal-body .image-path #upload-picture .e-selectpart:hover #upload-picture_SelectButton {
                  color: black; }
              #avatar-upload-box .modal-dialog .modal-content .modal-body .image-path #upload-picture .e-selectpart #upload-picture_SelectButton {
                border: none;
                margin-top: -3px; }
            #avatar-upload-box .modal-dialog .modal-content .modal-body .image-path #upload-picture .upload-box {
              margin: -13px 0 0 0; }
          #avatar-upload-box .modal-dialog .modal-content .modal-body .image-path .ValidationErrorImage {
            color: var(--danger); }
        #avatar-upload-box .modal-dialog .modal-content .modal-body .has-error #upload-picture {
          border: 1px solid var(--danger); }
        #avatar-upload-box .modal-dialog .modal-content .modal-body .image-selection-holder {
          border: 1px solid #cccccc;
          float: left;
          margin-left: 60px;
          overflow: hidden;
          width: 225px; }
          #avatar-upload-box .modal-dialog .modal-content .modal-body .image-selection-holder .img-container {
            margin-left: -2px;
            overflow: hidden;
            text-align: center;
            width: 200px; }
            #avatar-upload-box .modal-dialog .modal-content .modal-body .image-selection-holder .img-container #profile-picture {
              background-repeat: no-repeat;
              height: 200px;
              max-width: 100%;
              width: 200px; }
            #avatar-upload-box .modal-dialog .modal-content .modal-body .image-selection-holder .img-container .jcrop-active {
              height: 200px !important;
              width: 200px !important; }
            #avatar-upload-box .modal-dialog .modal-content .modal-body .image-selection-holder .img-container .custom-shade {
              height: 100%;
              left: 0;
              opacity: 1;
              position: absolute;
              top: 0;
              width: 100%; }
            #avatar-upload-box .modal-dialog .modal-content .modal-body .image-selection-holder .img-container .jcrop-circle-demo .jcrop-box {
              background-image: none !important;
              border: 1px solid rgba(255, 255, 255, 0.4);
              border-radius: 50%;
              box-shadow: 1px 1px 26px #333;
              height: 100%;
              left: 0;
              opacity: 0.5 !important;
              overflow: hidden;
              position: absolute;
              top: 0;
              width: 100%; }
        #avatar-upload-box .modal-dialog .modal-content .modal-body #file-description {
          margin-top: -24%; }
          #avatar-upload-box .modal-dialog .modal-content .modal-body #file-description #file-description-content {
            color: var(--colorText);
            font-size: 12px; }
      #avatar-upload-box .modal-dialog .modal-content .modal-footer #upload-image {
        margin-right: 10px;
        cursor: pointer; }

@media (max-width: 320px) {
  #edit-profile-base-div {
    width: 97%; }
    #edit-profile-base-div #user-profile-master .profile-section .img-view-holder #user-profile-picture {
      margin-left: -11px; }
      #edit-profile-base-div #user-profile-master .profile-section .img-view-holder #user-profile-picture #avatar-button-click {
        top: 87px !important;
        left: 7px !important; }
      #edit-profile-base-div #user-profile-master .profile-section .img-view-holder #user-profile-picture #avatar-delete-click {
        top: 87px !important;
        left: 7px !important; }
    #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .edit-profile-form .label-panel {
      text-align: left;
      float: none !important; }
    #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .edit-profile-form .form-control {
      width: 100%; }
    #edit-profile-base-div #user-profile-master .profile-section #edit {
      margin-top: 20px;
      margin-left: -10px; }
    #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .notification-content {
      text-align: left; } }

@media screen and (min-width: 1400px) {
  #content-area #edit-profile-base-div #user-profile-master #edit-profile-heading-div .section-heading {
    font-size: 16px; }
  #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .label-panel {
    font-size: 14px;
    margin-top: 1px; }
  #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list .content-size {
    font-size: 14px;
    height: 32px; }
  #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list #groups {
    margin-top: 7px; }
  #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list #first-name-validation, #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list #email-duplicate-validation, #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list #contact-validation, #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list #last-name-validation {
    font-size: 12px; }
  #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #homepage-name, #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #no-default-homepage {
    font-size: 14px; }
  #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #no-default-homepage #info-tag {
    font-size: 14px; }
    #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #no-default-homepage #info-tag #tooltip-info {
      font-size: 14px; }
  #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #homepage-list .btn-default {
    height: 32px; }
  #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #homepage-list .filter-option {
    font-size: 14px; }
  #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div #homepage-list .dropdown-menu.open ul.dropdown-menu li a span {
    font-size: 14px; }
  #content-area #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-heading-form-div #section-heading {
    font-size: 16px; }
  #content-area #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .notification-content {
    font-size: 14px;
    margin-top: 8px; }
  #content-area #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .dropdown-menu .text {
    font-size: 14px; }
  #content-area #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .btn-default {
    height: 32px; }
  #content-area #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .selectpicker li, #content-area #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .selectpicker .filter-option {
    font-size: 14px; } }

@media screen and (min-width: 1400px) {
  #avatar-upload-box .modal-content {
    border-radius: 0;
    border: 0;
    padding: 0; }
    #avatar-upload-box .modal-content .ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    #avatar-upload-box .modal-content .modal-header {
      border: none;
      height: 50px;
      padding: 10px !important; }
      #avatar-upload-box .modal-content .modal-header .modal-title {
        font-size: 16px;
        font-weight: 500; }
      #avatar-upload-box .modal-content .modal-header .header-icon {
        padding: 3px 3px 3px 0;
        width: 20px; }
      #avatar-upload-box .modal-content .modal-header .header-content {
        font-size: 12px;
        font-weight: 400; }
      #avatar-upload-box .modal-content .modal-header .popup-close {
        color: var(--colorText);
        font-size: 12px; }
        #avatar-upload-box .modal-content .modal-header .popup-close:hover {
          color: var(--colorPrimary);
          text-decoration: none; }
    #avatar-upload-box .modal-content .modal-body {
      font-size: 14px;
      padding: 10px;
      overflow-y: auto; }
      #avatar-upload-box .modal-content .modal-body #file-name {
        cursor: pointer; }
      #avatar-upload-box .modal-content .modal-body .highlight-name {
        font-style: italic;
        color: var(--colorPrimary); }
      #avatar-upload-box .modal-content .modal-body .selectpicker, #avatar-upload-box .modal-content .modal-body .form-control {
        font-size: 14px; }
      #avatar-upload-box .modal-content .modal-body .btn-default {
        height: 32px; }
        #avatar-upload-box .modal-content .modal-body .btn-default .filter-option {
          margin-top: -1px; }
      #avatar-upload-box .modal-content .modal-body .delete-msg {
        margin-top: 4px; }
      #avatar-upload-box .modal-content .modal-body .validation-message {
        color: var(--danger);
        font-size: 12px;
        float: left; }
      #avatar-upload-box .modal-content .modal-body .app-textbox-label {
        font-weight: 400;
        font-size: 14px; }
      #avatar-upload-box .modal-content .modal-body .info-text {
        font-size: 12px; }
    #avatar-upload-box .modal-content .modal-footer {
      background-color: #eeeeee;
      height: 50px;
      padding: 10px; }
      #avatar-upload-box .modal-content .modal-footer .message-area {
        height: 35px;
        margin-top: -8px; }
        #avatar-upload-box .modal-content .modal-footer .message-area .error-message, #avatar-upload-box .modal-content .modal-footer .message-area .success-message {
          padding: 0px;
          float: left;
          text-align: left;
          height: 44px;
          width: 100%;
          display: none;
          word-wrap: break-word; }
        #avatar-upload-box .modal-content .modal-footer .message-area .success-message {
          overflow: hidden;
          position: relative;
          text-overflow: ellipsis; }
      #avatar-upload-box .modal-content .modal-footer .margin-right {
        margin-right: 10px; }
      #avatar-upload-box .modal-content .modal-footer .margin-top {
        margin-top: 2px; }
  #avatar-upload-box .modal-dialog .modal-content .modal-body .image-path #image-path {
    font-size: 14px; }
  #avatar-upload-box .modal-dialog .modal-content .modal-body .image-path .form-control {
    height: 32px; }
  #avatar-upload-box .modal-dialog .modal-content .modal-body .image-path #upload-picture .e-selectpart {
    height: 30px;
    margin: -15px 0 0 -30px; }
  #avatar-upload-box .modal-dialog .modal-content .modal-body #file-description #file-description-content {
    font-size: 12px; }
  #avatar-upload-box .modal-dialog .modal-content .modal-footer .margin-top {
    margin-top: -3px; } }

@media screen and (max-width: 1040px) {
  #server-app-container {
    overflow-x: hidden; }
    #server-app-container #content-area {
      padding: 40px 10px 10px 10px !important; }
      #server-app-container #content-area #user-dns-list {
        padding: 0 !important; }
      #server-app-container #content-area #edit-profile-base-div #user-profile-master {
        margin-bottom: 10px; }
        #server-app-container #content-area #edit-profile-base-div #user-profile-master #edit-profile-heading-div hgroup h1 {
          display: none; }
        #server-app-container #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-button {
          width: 200px; }
        #server-app-container #content-area #edit-profile-base-div #user-profile-master .profile-section .img-view-holder .profile-picture-edit-button {
          display: none !important; } }

@media screen and (max-width: 768px) {
  #server-app-container #content-area #edit-profile-base-div #user-profile-master .profile-section .img-view-holder {
    margin-left: 120px; }
  #server-app-container #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-button {
    width: 100%;
    position: relative; }
    #server-app-container #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-button #edit {
      margin-right: 10px; }
    #server-app-container #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-button #cancel-button {
      margin-right: 10px; }
  #server-app-container #content-area #edit-profile-base-div #user-profile-master .profile-section #message {
    margin-left: 20%;
    width: 80%; }
  #server-app-container #content-area #edit-profile-base-div #user-profile-master .notification-preference-form .notification-content {
    margin-bottom: 15px;
    text-align: left; }
  #server-app-container #content-area #edit-profile-base-div #user-profile-master .notification-preference-form .dropdown {
    margin: 0px !important; }
  #server-app-container #content-area #edit-profile-base-div #user-profile-master .notification-preference-form #edit-button {
    margin-top: 0 !important; }
  #server-app-container #content-area #success-alert {
    right: 10px;
    width: 300px; } }

@media screen and (max-width: 390px) {
  #server-app-container #content-area #edit-profile-base-div .label-panel {
    padding: 0px 0px 5px 10px;
    text-align: left; }
  #server-app-container #content-area #edit-profile-base-div #user-profile-master .profile-section #edit-profile-form-div .group-list {
    padding: 0 10px 0 10px !important;
    width: 100%; }
  #server-app-container #content-area #edit-profile-base-div #user-profile-master .profile-section .img-view-holder {
    margin-left: 30%; }
  #server-app-container #content-area #edit-profile-base-div #user-profile-master #notification-preference-base-div {
    padding: 0 0 20px; }
    #server-app-container #content-area #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-heading-form-div {
      padding: 0 15px !important; }
    #server-app-container #content-area #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table {
      padding-bottom: 15px; }
      #server-app-container #content-area #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .dropdown {
        margin-left: 0px;
        width: 100%; }
        #server-app-container #content-area #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .dropdown .dropdown-menu {
          width: 100%; }
      #server-app-container #content-area #edit-profile-base-div #user-profile-master #notification-preference-base-div #notification-preference-form-div .notification-preference-form .notification-preference-table .selectpicker {
        width: 100% !important; } }

@media screen and (max-width: 1024px) {
  #content-area {
    margin-top: 30px !important; } }

#user-dns-list {
  padding: 20px 20px 20px 30px !important; }
  #user-dns-list .admin-page-header {
    border: none;
    margin: 0; }
  #user-dns-list .admin-page-body {
    font-size: 14px;
    padding: 15px 0;
    border: none; }
    #user-dns-list .admin-page-body .no-site-info {
      text-align: center;
      padding: 50px;
      width: 100%; }
    #user-dns-list .admin-page-body .user-dns-data {
      margin: 15px 0px 15px 0px; }
      #user-dns-list .admin-page-body .user-dns-data .user-dns {
        text-align: center;
        border-radius: 4px;
        box-shadow: 1px 0 13px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid #eeeeee;
        background-color: var(--surface);
        padding: 10px 20px;
        min-height: 195px; }
        #user-dns-list .admin-page-body .user-dns-data .user-dns .dns-data-image {
          height: 20px;
          width: 20px;
          margin-right: 2px; }
        #user-dns-list .admin-page-body .user-dns-data .user-dns .dns-org-name {
          width: 85%;
          margin-top: 10px;
          font-size: 20px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        #user-dns-list .admin-page-body .user-dns-data .user-dns .dns-name {
          margin-top: 10px;
          font-size: 17px; }
        #user-dns-list .admin-page-body .user-dns-data .user-dns .data {
          text-align: left;
          padding: 0;
          margin-top: -3px; }
        #user-dns-list .admin-page-body .user-dns-data .user-dns i {
          font-size: 30px; }
        #user-dns-list .admin-page-body .user-dns-data .user-dns .site-sub-lable {
          color: #999999;
          font-size: 11px;
          margin-top: 10px;
          margin-bottom: 0; }
        #user-dns-list .admin-page-body .user-dns-data .user-dns .status {
          border-radius: 5px;
          display: inline-block;
          font-size: 11px;
          font-weight: 600;
          padding: 3px 16px;
          text-align: center;
          text-decoration: none;
          text-align: right; }
        #user-dns-list .admin-page-body .user-dns-data .user-dns .tenant-status {
          text-align: right;
          padding: 10px 0; }
          #user-dns-list .admin-page-body .user-dns-data .user-dns .tenant-status .status-style {
            border-radius: 5px;
            display: inline-block;
            font-size: 11px;
            font-weight: 600;
            padding: 3px 16px;
            text-align: center;
            text-decoration: none;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          #user-dns-list .admin-page-body .user-dns-data .user-dns .tenant-status .trial, #user-dns-list .admin-page-body .user-dns-data .user-dns .tenant-status .trialnotstarted {
            background-color: #c4f0ff;
            color: #555abf; }
          #user-dns-list .admin-page-body .user-dns-data .user-dns .tenant-status .active, #user-dns-list .admin-page-body .user-dns-data .user-dns .tenant-status .activepaymentrequired, #user-dns-list .admin-page-body .user-dns-data .user-dns .tenant-status .activebenefits, #user-dns-list .admin-page-body .user-dns-data .user-dns .tenant-status .activedtpayment {
            background-color: #d6facf;
            color: #159570; }
          #user-dns-list .admin-page-body .user-dns-data .user-dns .tenant-status .markedforsuspension {
            background-color: #fcf4b2;
            color: #ce7c3a; }
          #user-dns-list .admin-page-body .user-dns-data .user-dns .tenant-status .subscriptioncancelled {
            background-color: #9251ac;
            color: #ffe0f5; }
        #user-dns-list .admin-page-body .user-dns-data .user-dns .dns-data {
          padding: 10px 0; }
        #user-dns-list .admin-page-body .user-dns-data .user-dns .site-action-buttons {
          padding: 10px 40px 10px 0;
          bottom: 0;
          position: absolute; }
    #user-dns-list .admin-page-body #no-sites-found-container {
      display: table;
      height: 100%;
      width: 100%;
      padding: 30px 10px 10px 10px; }
      #user-dns-list .admin-page-body #no-sites-found-container .no-sites-found-data {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        #user-dns-list .admin-page-body #no-sites-found-container .no-sites-found-data img {
          width: 384px;
          height: 224px;
          object-fit: contain; }
        #user-dns-list .admin-page-body #no-sites-found-container .no-sites-found-data h1 {
          font-size: 22px;
          font-weight: bold;
          line-height: 1.2;
          font-family: 'Bitter',serif;
          letter-spacing: .6px;
          margin-top: 0; }
        #user-dns-list .admin-page-body #no-sites-found-container .no-sites-found-data p {
          font-size: 16px;
          font-weight: normal;
          line-height: 1.71;
          margin: 0 auto; }
          #user-dns-list .admin-page-body #no-sites-found-container .no-sites-found-data p a {
            color: var(--colorPrimary); }
        #user-dns-list .admin-page-body #no-sites-found-container .no-sites-found-data button {
          width: 150px;
          height: 40px;
          line-height: 32px;
          border-radius: 4px;
          background: var(--colorPrimary);
          color: var(--colorOnPrimary);
          border: 1px solid var(--colorPrimary); }
        #user-dns-list .admin-page-body #no-sites-found-container .no-sites-found-data .no-sites-margin {
          margin-bottom: 30px; }
  #user-dns-list #site-tab-nav {
    border-color: #eeeeee; }
    #user-dns-list #site-tab-nav li:first-child {
      margin-left: 20px; }
    #user-dns-list #site-tab-nav li a {
      color: var(--colorText); }
    #user-dns-list #site-tab-nav li.active a {
      color: var(--colorPrimary); }
