@import "../default/default.scss";
@import "variables/fontsize.scss";
@import "variables/elementsize.scss";
@import "../../fonts/variables.scss";

body {
    .top-nav-sec {
        float: right;
        margin-left: 30px;
        width: 40px;
    }
}

.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    //padding: 10px;
    float: right;
    margin-right:13px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 50%;
    color: $primary-text-color;
    cursor: pointer;

    i {
        font-size: 20px;
        color: var(--secondary-text-color);
    }

    .profile-pic-tag {
        text-align: center;
        font-weight: 900;
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;

        #first-letter {
            font-size: 13px !important;
        }
    }
}

.help-icon-item {
    margin-right: 10px !important;
}

.dropdown-menu li.top-menu-item > span:hover {
    background: none;
}

.icon-item {
    margin: 0px;
    border-radius: 50%;
    cursor: pointer;

    &.help-icon-item:hover {
        background-color: $grey-300;

        .icon-container {
            i {
                font-size: 20px;
                color: var(--secondary-text-color);
            }
        }
    }
}

#top-nav {
    a.dropdown-toggle.profile-tag:hover {
        text-decoration: none;
    }

    .top-menu {
        width: 194px;
        border: 0;
        border-radius: 2px;
        cursor: default;
        left: -140px;
        list-style: none;
        //padding: 0 5px;
        text-align: center;
        top: auto;
        bottom: auto;
        line-height: 20px;
        margin-top: 7px;

        &.dropdown-menu {
            background: $drop-down-menu-bg-normal-color !important;

            li.top-menu-item {
                a {
                    &:hover {
                        background: $drop-down-menu-bg-hover-color !important;
                    }
                }
            }
        }
    }

    .help-icon-item .top-menu {
        padding: 5px;
    }

    .top-menu-item-title {
        height: 32px;
        text-align: left;
    }

    .top-menu-item {
        height: auto !important;
        text-align: left;
        cursor: pointer;
        font-style: normal;
        font-stretch: normal;
        font-size: 14px;
        color: $primary-text-color;

        .profile-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 100px;
        }

        .su-profile-settings:before,
        .su-profile-log-out:before {
            margin-top: 2px;
        }

        .manage-text {
            //color: rgba(52, 64, 84, 1);
            color: $primary-text-color;
            padding: 0px 8px;
            //width: 184px;
        }

        .su-profile-settings {
            //color: rgba(102, 112, 133, 1);
            color: $primary-text-color;
        }

        .manage-profile {
            padding: 0px 8px;
            font-family: var(--font-family);
            // width: 184px;
        }

        .logout-sec {
            color: rgb(215, 0, 0);
        }

        span {
            display: block;
        }
    }

    .sf-top-menu-separator {
        background: var(--header-separator-color);
        height: 1px;
        margin: 7px 0px;
        cursor: default;
    }

    .top-menu-item-title div, .top-menu-item span {
        padding: 5px 10px;
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.3px;
        margin: 7px 5px 8px 0px;
        //margin: 8px 8px 8px 0px;
    }

    .top-menu-item-title div {
        font-weight: 600;
        letter-spacing: 0.3px;
    }

    .dropdown-menu li.top-menu-item > span:hover {
        background: none;
    }

    .dropdown-menu {

        > li {
            > a {
                padding: 3px 16px !important;
            }
        }
    }

    li.profile-section {

        .top-menu {
            font-size: 14px;
            width: 240px;
            border: 0;
            //padding: 6px 0px 4px 0px;
            cursor: default;
            left: -203px;
            bottom: auto;
            top: auto;

            .top-menu-profile {
                height: auto !important;
                text-align: left;
                cursor: pointer;
                font-style: normal;
                font-stretch: normal;

                a {
                    //padding: 4px 0px;
                }

                .top-menu-user-email-style {
                    color: $primary-text-color;
                }
            }

            .top-menu-item {
                font-size: 14px;
                text-align: left;
                cursor: pointer;
                font-style: normal;
                font-stretch: normal;

                span {
                    padding: 0px 10px;
                    font-size: 14px;
                }

                a {
                    font-size: 13px;
                    font-weight: normal;
                    //line-height: 20px;
                    letter-spacing: 0.3px;

                    .top-menu-profile-hover {
                        display: inline-block;
                        //padding-left: 10px;
                        //height:40px;

                        .top-menu-user-name {
                            float: right;
                            display: inline-block;
                            margin-left: 43px;
                            width: 180px;
                            font-weight: 600;
                            margin-top: -45px;
                            color: var(--colors-gray-light-mode-700, rgba(52, 64, 84, 1));
                            font-size: 14px;
                            padding: 10px 10px 0px 10px;

                            .top-menu-user-name-style, .top-menu-user-email-style {
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .top-menu-user-name-style {
                                font-size: 12px;
                                // color: rgba(52, 64, 84, 1);
                                color: $primary-text-color;
                            }


                            .top-menu-user-email-style {
                                font-size: 10px;
                                //color: var(--colors-gray-light-mode-600, rgba(71, 84, 103, 1));
                                color: $primary-text-color;
                            }
                        }
                    }
                }

                .profile-action {
                    padding: 0px;
                    display: flex;
                    align-items: center;
                    margin: 0px;
                    gap: 0px;
                }

                &.logout-section a {
                    font-size: 14px;
                }
            }
        }

        .top-menu-profile-text-padding {
            font-size: 10px;
            padding-left: 10px;
        }

        .tooltip-inner {
            word-break: break-all !important;
            white-space: pre !important;
            max-width: none !important;
        }
    }
}

@media (max-width: 1040px) {
    .icon-list{
        margin-top: 22px;
    }
    
}
