@import "newthemes/elementcolor.scss";
@import "newthemes/elementsize.scss";

.registration-header {
    position: absolute;
    width: 100%;
    top: $space-xs;
    font-family: var(--font-family);
    font-size: $textsize-12;

    .boldbi-app-header-logo {
        background: url("images/bold-bi-header-logo.svg");
        background-repeat: no-repeat;
        background-size: 80% 80%;
        display: inline-block;
        height: 50px;
        margin-left: 25px;
        width: 150px;
    }

    .syncfusion-app-header-logo {
        background: url("images/syncfusion-header-logo.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        height: 40px;
        margin-left: 25px;
        width: 160px;
    }

    img {
        margin-left: 20px;
        width: 160px;
    }

    .link-wrapper {
        display: inline-block;
        font-family: Heebo;
        font-size: 13px;
        font-style: normal;
        font-stretch: normal;
        float: right;
        line-height: 1.23;
        letter-spacing: 0.4px;
        margin-top: 10px;
        margin-right: 20px;
        padding-right: 15px;

        a {
            color: $boldbi-primary-color;
        }

        a:hover, a:focus {
            color: darken($boldbi-primary-color, 10%);
        }

        .cloud-home, .need-help {
            margin-right: 20px;
        }

        .sign-in {
            border-radius: 4px;
            font-weight: bold;
        }
    }
}


@media screen and (min-width: 1400px) {
    .registration-header {
        top: $space-s;
    }
}