@import "newthemes/elementsize.scss";
@import "newthemes/mixins.scss";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.link-button {
    @include button($secondary-btn-bg, $primary-color, $secondary-btn-hover, $btn-height-normal, false);
    border: 1px solid $primary-color;

    &:hover {
        border: 1px solid $primary-btn-hover;
        color: $primary-btn-hover;
    }
}

.register-tenant-background {
    background: url("images/registration-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    float: left;
    width: 30%;

    .tagline-content {
        margin: 68% 32px 0px 13%;
    }

    .tenant-background-content {
        font-family: Segoe UI;
        font-weight: lighter;
        color: $white;
        font-size: 25px !important;
    }
}

.register-tenant-parent {
    height: 100%;
    position: relative;
    padding-bottom: 35px;
    width: 70%;
    float: right;

    .register-tenant-child {
        text-align: center;
        margin-right: 48px;
        height: 100%;
        display: table;
        width: 100%;

        .registration-heading {
            font-family: Segoe UI;
            font-weight: lighter;
            font-size: 25px;
            color: $color-grey-800;
            letter-spacing: 0.6px;
            text-align: center;
            line-height: 32px;
            margin: 80px 0px 10px 0px;
        }

        .registration-heading-free-trial {
            font-family: Segoe UI;
            font-weight: lighter;
            text-align: center;
            margin-bottom: 35px;
            font-size: 18px;
            margin-top: 0px;
        }

        .register-tenant-bg {
            font-family: var(--font-family);
            font-size: $textsize-12;
            margin: 0 auto;
            display: inline-block;
            text-align: left;

            .register-tenant-fields-div {
                padding-bottom: 5px;

                .register-tenant-fields-container {

                    #outer-container {
                        .form-div {
                            position: relative;
                            width: 276px;
                        }

                        .form-div.email-address.signed {
                            width: 276px;
                        }

                        #dns-container {
                            .dns-list {
                                width: 278px;
                                margin-top: 0px;

                                #start-new-site {
                                    display: block;
                                }
                            }

                            .dns-field #txt-dns {
                                width: 179px;
                                margin: 0px;
                                border-bottom-right-radius: 0;
                                border-top-right-radius: 0;
                                padding-right: 25px;
                            }

                            .bootstrap-select {
                                .dropdown-menu {
                                    .bs-searchbox {
                                        .input-block-level {
                                            margin: 0px;
                                        }
                                    }
                                }
                            }

                            .input-group-addon {
                                font-size: $textsize-12;
                                padding: 6px 6px;
                                width: auto;
                            }

                            .su-password-tick {
                                display: none;
                                position: absolute;
                                z-index: 99;
                                margin-top: 6px;
                                margin-left: -27px;
                            }

                            #spinner {
                                background-repeat: no-repeat;
                                background-image: url(images/waitingpopup_small.gif);
                                position: absolute;
                                margin-top: 7px;
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                margin-left: -25px;
                                z-index: 99;
                            }

                            a {
                                cursor: pointer;
                            }

                            .dns-list {
                                .btn-group {
                                    .dropdown-toggle.selectpicker {
                                        font-size: $textsize-12;
                                        outline: none !important;
                                        outline-offset: 0;
                                    }
                                }

                                .dropdown-menu.selectpicker {
                                    li {
                                        font-size: $textsize-12;
                                    }

                                    li.no-results.active {
                                        width: 265px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }

                        .name-block {
                            margin-top: 0px !important;

                            .name-block-text {
                                width: 100%;
                            }

                            .first-name-block {
                                width: 48%;
                                margin-right: 12px
                            }

                            .last-name-block {
                                width: 48%
                            }
                        }

                        #txt-password + .popover {
                            background: $color-black;
                            opacity: 0.8;
                            width: 200px;
                            top: -160px !important;

                            .arrow {
                                top: 80% !important;
                            }

                            .arrow::after {
                                border-right-color: $color-black;
                                opacity: 0.8;
                            }

                            .popover-title {
                                background: black;
                                opacity: 0.8;
                                color: $color-white;
                                font-size: $textsize-12;
                                letter-spacing: 0.3px;
                                line-height: 18px;
                                padding-bottom: 0px;
                                border: none;
                            }

                            .popover-content {
                                padding-top: 0px;
                                height: 175px;

                                ul {
                                    list-style: none;
                                    padding: 0px;

                                    li {
                                        height: 20px;
                                        margin: 15px 15px 15px 10px;

                                        span.icon {
                                            height: 20px;
                                            width: 20px;
                                            margin: 0 auto;
                                            border-radius: 50%;
                                            border: 2px solid $color-white;
                                            display: inline-block;
                                            float: left;
                                        }

                                        span.content {
                                            margin-left: 40px;
                                            color: $color-white;
                                        }
                                    }
                                }
                            }
                        }

                        .show-hide-password {
                            color: $color-grey-800;
                            display: block;
                        }

                        .agreement-wrapper {
                            text-align: left;
                            display: inline-block;
                            margin: 30px 0px 15px 0px;

                            .coupon-status-div {
                                text-align: center;
                                margin: 5px 0px 0px 0px !important;
                                padding: 3px 5px;
                                font-size: 10px;
                            }

                            .agreement-div {
                                font-size: $textsize-12;

                                #agreement {
                                    display: inline-block;
                                }


                                label {
                                    display: inline-block;
                                    font-weight: normal;
                                    width: 94%;

                                    a {
                                        text-decoration: none;
                                        cursor: pointer;
                                        color: $color-primary;
                                    }

                                    a:hover {
                                        color: darken($color-primary, 10%);
                                    }
                                }
                            }

                            .material-checkbox {
                                label {
                                    &:before, &:after {
                                        top: 1px;
                                    }
                                }

                                input[type="checkbox"] {
                                    &:checked + input {
                                        + label:after {
                                            top: 4px;
                                        }
                                    }
                                }
                            }
                        }

                        .content {
                            color: $color-grey-800;
                            font-weight: 300;
                            margin-bottom: 10px;
                            display: block;
                            width: 82%;
                            margin: auto;
                        }

                        .content, .form-control {
                            font-size: $textsize-12;
                            border-radius: 5px;
                        }

                        .form-control {
                            height: $textbox-32;
                        }

                        .su-eye {
                            padding: 10px;
                            right: 0px;
                            top: 0px;
                        }

                        .display-none {
                            display: none;
                        }

                        .input-alignment {
                            margin-bottom: 0;
                            margin-top: $space-xl;

                            label {
                                margin: 0px;
                            }
                        }

                        .show-hide-password {
                            display: inline !important;
                            color: $color-grey-800 !important;
                        }

                        .fake-password {
                            visibility: hidden;
                            position: absolute;
                            left: -99999px;
                        }

                        .password-rules {
                            position: relative;
                        }

                        .error-container {
                            height: 2px;
                        }
                    }

                    #register-tenant {
                        @include proceed-button(36px);
                        width: 120px;
                        margin: 0 auto;
                    }

                    .validation-message {
                        color: $validation-text-color;
                        display: block;
                        height: 30px;
                        font-size: $textsize-12;
                        padding-top: 3px;
                        text-align: left;
                        position: absolute;
                        line-height: $textsize-12;
                    }

                    .validation-message {
                        a {
                            color: $color-primary;
                        }

                        a:hover {
                            color: darken($color-primary, 10%);
                        }
                    }
                }
            }
        }

        .signin-instead {
            display: block;
            font-family: var(--font-family);
            font-size: $textsize-14;
            line-height: 16px;
            margin-top: 10px;

            .signin-instead-link {
                color: $color-primary;
                margin-left: 5px;

                &:hover {
                    color: darken($color-primary, 10%);
                }
            }
        }
    }
}

.blur {
    filter: blur(5px);
}

#account-activation-popup {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 9999;

    #account-activation-popup-parent {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        #account-activation-popup-content {
            font-size: $textsize-12;
            margin: 0 auto;
            display: inline-block;
            width: 400px;
            background: $color-white;
            border-radius: $rc-all-4;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        }
    }
}

#account-activation-popup.showpopup {
    display: table;
}

@media screen and (min-width: 1400px) {

    .register-tenant-background {
        .tenant-background-content {
            font-size: 38px !important;
            margin-top: 60% !important;
        }
    }

    .register-tenant-parent {
        .register-tenant-child {
            .registration-heading {
                font-size: 35px;
                margin: 190px 0px 20px 0px;
            }

            .registration-heading-free-trial {
                font-size: 25px;
            }

            .register-tenant-bg {
                font-size: $textsize-14;

                .register-tenant-fields-div {

                    .register-tenant-fields-container {
                        #outer-container {
                            .form-div, .form-div.email-address.signed {
                                width: 520px;
                            }

                            #dns-container {
                                .dns-list {
                                    width: 520px;
                                }

                                .dns-field #txt-dns {
                                    width: 410px;
                                }

                                .input-group-addon {
                                    font-size: $textsize-14;
                                }

                                .dns-list {
                                    .btn-group {
                                        .dropdown-toggle.selectpicker {
                                            font-size: $textsize-14;
                                        }
                                    }

                                    .dropdown-menu.selectpicker {
                                        li {
                                            font-size: $textsize-14;
                                        }
                                    }
                                }
                            }

                            #txt-password + .popover {
                                width: 220px;

                                .popover-title {
                                    font-size: $textsize-14;
                                }
                            }

                            .agreement-wrapper {
                                .agreement-div {
                                    font-size: $textsize-14;
                                }
                            }

                            .content, .form-control {
                                font-size: $textsize-14;

                                .btn.dropdown-toggle {
                                    height: $button-32;
                                }
                            }

                            .input-alignment {
                                margin-top: $space-xxl + 4;
                            }
                        }

                        .validation-message {
                            font-size: $textsize-12;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1040px) and (max-width: 1366px) {
    .register-tenant-parent {
        .register-tenant-child {
            .registration-heading {
                margin: 70px 0px 10px 0px;
            }

            .registration-heading-free-trial {
                margin-bottom: 24px;
            }
        }
    }

    .name-block {
        .first-name-block, .last-name-block {
            width: 46% !important;
        }
    }

    .agreement-div {
        label {
            width: 90% !important;
        }
    }
}
