@import "newthemes/elementsize.scss";
@import "newthemes/mixins.scss";
@import "../themes/default.scss";
@import "../../fonts/variables.scss";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 60px;
    background-color: $color-grey-40;
    background-image: url('images/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
}

.body-on-premise {
    padding-bottom: 80px;
}

.no-padding {
    padding: 0px !important;
}

.display-none {
    display: none !important;
}

.link-button {
    @include button($secondary-btn-bg, $primary-color, $secondary-btn-hover, $btn-height-normal, false);
    border: 1px solid $primary-color;

    &:hover {
        border: 1px solid $primary-btn-hover;
        color: $primary-btn-hover;
    }
}

.boldbi-app-header-logo {
    display: none !important;
}

.popover {
    .popover-content {
        a {
            color: $registartion-page-link;
        }

        a:hover, a:focus {
            color: $registartion-page-link-hover;
        }
    }
}

.register-tenant-parent {
    height: 100%;
    position: relative;
    width: 100%;
    float: right;

    .register-tenant-block {
        height: 100%;
        position: relative;
        width: 100%;
        float: right;
    }

    .reg-info {
        padding: 5% 0 0 39%;

        .reg-header {
            .reg-image {
                margin-bottom: 30px;
                width: 127px;
            }

            .reg-header-info {
                margin-bottom: 32px;
                color: $registration-header;
                font-family: 'Bitter', serif;
                font-size: 50px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: normal;
            }
        }

        .header-info-meassages {
            .reg-info-span {
                margin-bottom: 15px;
            }

            .reg-info-tick {
                width: 20px;
                height: 20px;
            }

            .reg-info-1, .reg-info-2, .reg-info-3 {
                font-family: 'Heebo', sans-serif;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.63;
                letter-spacing: normal;
                color: $registration-header;
                margin-left: 10px;
            }
        }

        .dashboard-image {
            width: 550px;
            margin-top: 150px;
        }

        .authenticated-dashboard-image {
            margin-top: 38px;
        }
    }

    .register-tenant-child {
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        padding: 10% 0 0 0;
        height: 100%;
        display: table;
        width: 100%;

        .link-wrapper {
            font-family: 'Heebo', sans-serif;
            font-size: 13px;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            letter-spacing: 0.4px;
            text-align: right;
            margin-bottom: 5px;
            width: 240px;

            a {
                color: $registartion-page-link;
                margin-left: 10px;
            }

            a:hover, a:focus {
                color: $registartion-page-link-hover;
            }
        }

        .register-tenant-container {
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            text-align: center;
            display: table-cell;
            width: 542px;
            height: 758px;
            border-radius: 4px;
            box-shadow: 1px 0 13px 0 rgba(0, 0, 0, 0.1);
            background-color: $registration-form-background;
        }

        .authenticated-register-tenant-container {
            height: 666px;
        }

        .register-cloud-tenant-container {
            height: 800px;
        }

        .boldbi-registration-main-heading {
            font-family: 'Heebo', sans-serif;
            font-size: 28px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: normal;
            text-align: center;
            color: $registration-header;
            margin: 27px 0 0px 0;
        }

        .boldbi-registration-heading {
            margin: 0 0 9px 0;
            font-family: 'Heebo', sans-serif;
            font-size: 19px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $registration-form-heading;
        }

        .free-plan-header {
            margin-bottom: 27px !important;
        }

        .boldbi-registration-sub-heading {
            margin: 0 0 20px 0;
            font-family: 'Heebo', sans-serif;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $boldbi-primary-color;
        }

        .enterprise-sub-heading {
            margin-bottom: 10px
        }

        .register-tenant-bg {
            font-family: var(--font-family);
            font-size: $textsize-12;
            margin: 0 auto;
            display: inline-block;
            text-align: left;
            width: 430px;

            .register-tenant-fields-div {
                padding-bottom: 5px;

                .register-tenant-fields-container {

                    #outer-container {
                        .form-div {
                            position: relative;
                        }

                        .form-div.email-address.signed {
                        }

                        .plan-name {
                            vertical-align: middle;
                            font-size: 16px;

                            span:first-child {
                                padding-right: 10px;
                            }

                            a {
                                font-size: 11px;
                                color: $boldbi-primary-color;
                                text-decoration: none !important;
                            }

                            a:hover {
                                color: darken($boldbi-primary-color, 10%);
                            }
                        }

                        .quantity-block {
                            display: inline-flex;

                            .numeric-label {
                                margin-top: 7px;
                                font-size: 13px;
                            }

                            .numeric-box {
                                padding-left: 15px;

                                .e-in-wrap {
                                    border-radius: 8px;

                                    input {
                                        text-align: center;
                                    }
                                }

                                .e-numeric.e-error .e-in-wrap, .has-error {
                                    border-color: $validation-text-color !important;
                                }

                                .e-select {
                                    border-left: 1px solid #e2e2e2 !important;

                                    .e-spin-up {
                                        border-bottom: 1px solid #e2e2e2;
                                    }
                                }
                            }
                        }

                        .plan-list {

                            .btn-group {

                                .dropdown-menu {
                                    z-index: 100153;

                                    li a {
                                        font-weight: 700;
                                        padding: 10px 20px;
                                        color: $registartion-page-plan-text;
                                        white-space: normal;
                                    }

                                    li small {
                                        display: block;
                                        padding: 6px 0 0 0;
                                        font-weight: 100;
                                        color: $registartion-page-plan-text;
                                    }

                                    .inner {
                                        scrollbar-color: $color-grey-100 $color-white;
                                        scrollbar-width: thin;
                                    }

                                    .inner::-webkit-scrollbar-track {
                                        border-radius: 1px;
                                        background-color: $color-white;
                                    }

                                    .inner::-webkit-scrollbar {
                                        width: 10px;
                                        background-color: $color-white;
                                    }

                                    .inner::-webkit-scrollbar-thumb {
                                        border-radius: 1px;
                                        background-color: $color-grey-100;
                                    }
                                }

                                .dropdown-toggle {
                                    background-color: $color-white !important;

                                    span {
                                        font-size: $textsize-12;
                                        color: #828893;
                                        letter-spacing: 0;
                                        margin-top: 2px;
                                    }

                                    .caret {
                                        width: 10px;
                                        height: 10px;
                                        border: none;
                                        position: static;
                                        font-family: 'server' !important;
                                    }
                                }

                                .btn:focus, .btn:hover, .btn:active {
                                    outline: none !important;
                                    background-color: $color-white;
                                }


                                button {
                                    height: $textbox-40 !important;
                                }

                                div.dropdown-menu.open {
                                    max-height: 314px !important;
                                    overflow: hidden;
                                }

                                ul.dropdown-menu.inner {
                                    max-height: 260px !important;
                                    overflow-y: auto;
                                }
                            }
                        }



                        #dns-container {
                            margin-top: 25px;
                            margin-bottom: 5px;

                            .dns-list {
                                margin-top: 0px;

                                #start-new-site {
                                    display: block;
                                }
                            }

                            .dns-field #txt-dns {
                                width: 325px;
                                margin: 0px;
                                border-bottom-right-radius: 0;
                                border-top-right-radius: 0;
                                padding-right: 25px;
                            }

                            .site-field {
                                width: 100%;
                            }

                            .site-field #txt-dns {
                                width: 100% !important;
                            }

                            .bootstrap-select {
                                .dropdown-menu {
                                    .bs-searchbox {
                                        .input-block-level {
                                            margin: 0px;
                                        }
                                    }
                                }
                            }

                            .input-group-addon {
                                padding: 6px 6px;
                                width: 105px;
                                font-size: $textsize-14;
                                background-color: $registration-form-domain-bg-color;
                                border-radius: 2px;
                                border: 1px solid $registration-form-border-color;
                                font-family: 'Heebo', sans-serif;
                                font-weight: normal;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                text-align: center;
                                color: $registration-form-heading;
                            }

                            .su-password-tick {
                                display: none;
                                position: absolute;
                                z-index: 99;
                                margin-top: 10px;
                                margin-left: -27px;
                            }

                            #spinner {
                                background-repeat: no-repeat;
                                background-image: url(images/waitingpopup_small.gif);
                                position: absolute;
                                margin-top: 12px;
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                margin-left: -25px;
                                z-index: 99;
                            }

                            a {
                                cursor: pointer;
                            }

                            .dns-list {
                                .btn-group {
                                    .dropdown-toggle.selectpicker {
                                        font-size: $textsize-12;
                                        outline: none !important;
                                        outline-offset: 0;
                                        height: $textbox-40;
                                    }

                                    button {
                                        height: $textbox-40;
                                    }
                                }

                                .dropdown-menu.selectpicker {
                                    li {
                                        font-size: $textsize-12;
                                    }

                                    li.no-results.active {
                                        width: 265px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }

                        .name-block {
                            margin-top: 0px !important;

                            .name-block-text {
                                width: 100%;
                            }

                            .first-name-block {
                                width: 48%;
                                margin-right: 12px
                            }

                            .last-name-block {
                                width: 48%
                            }
                        }

                        #txt-password + .popover {
                            background: $color-black;
                            opacity: 0.8;
                            width: 200px;
                            top: -160px !important;

                            .arrow {
                                top: 80% !important;
                            }

                            .arrow::after {
                                border-right-color: $color-black;
                                opacity: 0.8;
                            }

                            .popover-title {
                                background: black;
                                opacity: 0.8;
                                color: $color-white;
                                font-size: $textsize-12;
                                letter-spacing: 0.3px;
                                line-height: 18px;
                                padding-bottom: 0px;
                                border: none;
                            }

                            .popover-content {
                                padding-top: 0px;
                                height: 175px;

                                ul {
                                    list-style: none;
                                    padding: 0px;

                                    li {
                                        height: 20px;
                                        margin: 15px 15px 15px 10px;

                                        span.icon {
                                            height: 20px;
                                            width: 20px;
                                            margin: 0 auto;
                                            border-radius: 50%;
                                            border: 2px solid $color-white;
                                            display: inline-block;
                                            float: left;
                                        }

                                        span.content {
                                            margin-left: 40px;
                                            color: $color-white;
                                        }
                                    }
                                }
                            }
                        }

                        .show-hide-password {
                            color: $color-grey-800;
                            display: block;
                        }

                        .agreement-wrapper {
                            text-align: left;
                            display: inline-block;
                            margin: 24px 0 0 0;

                            .coupon-status-div {
                                text-align: center;
                                margin: 5px 0px 0px 0px !important;
                                padding: 3px 5px;
                                font-size: 10px;
                            }

                            .agreement-div {
                                font-size: $textsize-12;

                                #agreement {
                                    display: inline-block;
                                }

                                label {
                                    display: inline-block;
                                    font-weight: normal;
                                    width: 90%;
                                    color: $registration-agreement-color;
                                    font-size: $textsize-14;
                                    font-family: 'Heebo', sans-serif;
                                    font-weight: normal;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: 1.57;
                                    letter-spacing: normal;

                                    a {
                                        text-decoration: none;
                                        cursor: pointer;
                                        color: $registartion-page-link;
                                    }

                                    a:hover {
                                        color: $registartion-page-link-hover;
                                    }
                                }
                            }

                            .material-checkbox {
                                label {
                                    &:before, &:after {
                                        top: 1px;
                                    }
                                }

                                input[type="checkbox"] {
                                    &:checked + input {
                                        + label:after {
                                            top: 4px;
                                        }
                                    }
                                }
                            }
                        }

                        .content {
                            color: $color-grey-800;
                            font-weight: 300;
                            margin-bottom: 10px;
                            display: block;
                            width: 82%;
                            margin: auto;
                        }

                        .content, .form-control {
                            font-size: $textsize-12;
                            border-radius: 5px;
                        }

                        .form-control {
                            height: $textbox-40;
                        }

                        .su-eye {
                            padding: 10px;
                            right: 0px;
                            top: 4px;
                        }

                        .display-none {
                            display: none;
                        }

                        .input-alignment {
                            margin-bottom: 0;
                            margin-top: 25px;

                            label {
                                margin: 0px;
                            }
                        }

                        .show-hide-password {
                            display: inline !important;
                            color: $registration-agreement-color !important;
                        }

                        .fake-password {
                            visibility: hidden;
                            position: absolute;
                            left: -99999px;
                        }

                        .password-rules {
                            position: relative;
                        }

                        .error-container {
                            height: 2px;
                        }
                    }

                    #register-tenant {
                        @include proceed-button(36px);
                        width: 300px !important;
                        width: 300px !important;
                        height: 56px;
                        border-radius: 28px;
                        width: 100%;
                        margin: 0 auto;
                        margin-top: 30px;
                        transition: all .6s;
                    }

                    .validation-message {
                        color: $validation-text-color;
                        display: block;
                        height: 30px;
                        font-size: $textsize-12;
                        padding-top: 3px;
                        text-align: left;
                        position: absolute;
                        line-height: $textsize-12;
                    }

                    .validation-message {
                        a {
                            color: $registartion-page-link;
                        }

                        a:hover {
                            color: $registartion-page-link-hover;
                        }
                    }
                }
            }
        }

        .signin-instead {
            display: block;
            font-size: $textsize-14;
            font-family: 'Heebo', sans-serif;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: center;
            color: $registration-form-heading;
            margin: 20px 0px 116px 0px;

            .signin-instead-link {
                color: $registartion-page-link;
                margin-left: 5px;

                &:hover {
                    color: $registartion-page-link-hover;
                }
            }
        }

        .sigin-margin {
            margin-bottom: 0px;
        }
    }
}

.blur {
    filter: blur(5px);
}

#account-activation-popup {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 9999;

    #account-activation-popup-parent {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        #account-activation-popup-content {
            font-size: $textsize-12;
            margin: 0 auto;
            display: inline-block;
            width: 400px;
            background: $color-white;
            border-radius: $rc-all-4;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        }
    }
}

#account-activation-popup.showpopup {
    display: table;
}

#existing-account-login-popup {
    padding: 5px;

    p {
        padding: 8px;
        margin: 0;
        color: $registration-agreement-color;
        font-family: 'Heebo', sans-serif;
    }

    #redirection-buttons {
        padding: 10px;

        #redirection-submit {
            background: $boldbi-primary-color;
            border: 1px solid $boldbi-primary-color;
            border-radius: 5px;
            color: $color-white;
            height: 28px;
            max-width: 100px;
            margin: 0 94px 10px;

            &:hover, &:focus {
                background-color: $choose-plan-light;
                border: none;
                color: $boldbi-primary-color;
            }
        }

        #redirection-cancel {
            background: $admin-page-bg;
            border-radius: 5px;
            color: $secondary-btn-text-color;
            height: 28px;
            max-width: 195px;
            text-align: center;
            padding: 0 15px;
            margin: 0 48px;
            border: 1px solid $secondary-btn-border;

            &:hover, &:focus {
                background: $secondary-btn-hover;
                color: $secondary-btn-text-color;
            }
        }
    }
}

@media screen and (min-width: 2881px) {
    #boldbi-register-body {
        padding: 10% 14% 10% 20% !important;

        .dashboard-image {
            width: 463px;
            margin-top: 261px;
            height: 319px;
        }

        .authenticated-dashboard-image {
            margin-top: 136px;
        }
    }

    .register-tenant-parent {
        .register-tenant-child {
            .link-wrapper {
                text-align: left;
                width: 100%;
                margin: 0 !important;
                padding: 0 0 5px 460px !important;
            }

            .authenticated-link-wrapper {
                margin: 0 !important;
                padding: 0 0 5px 400px !important;
            }
        }
    }
}

@media (min-width: 2561px) and (max-width: 2880px) {
    #boldbi-register-body {
        padding: 5% 5% 5% 13% !important;

        .dashboard-image {
            width: 463px;
            margin-top: 261px;
            height: 319px;
        }

        .authenticated-dashboard-image {
            margin-top: 136px;
        }
    }

    .register-tenant-parent {
        .register-tenant-child {
            .link-wrapper {
                text-align: left;
                width: 100%;
                padding: 0 0 5px 460px !important;
            }

            .authenticated-link-wrapper {
                margin: 0 !important;
                padding: 0 0 5px 400px !important;
            }
        }
    }
}

@media (min-width: 2401px) and (max-width: 2560px) {
   
    #boldbi-register-body {
        padding: 4% 0% 6% 8%;

        .dashboard-image {
            width: 463px;
            margin-top: 266px;
            height: 319px;
        }

        .authenticated-dashboard-image {
            margin-top: 136px;
        }
    }
    .bold-cloud-register-body {
        padding: 2% 0% 6% 8% !important;
    }
    .register-tenant-parent {
        .register-tenant-child {
            .link-wrapper {
                text-align: left;
                width: 100%;
                margin: 0 !important;
                padding: 0 0 5px 460px !important;
            }

            .authenticated-link-wrapper {
                margin: 0 !important;
                padding: 0 0 5px 400px !important;
            }
        }
    }
}

@media (min-width: 2134px) and (max-width: 2400px) {
    #boldbi-register-body {
        padding: 4% 0% 6% 8% !important;

        .dashboard-image {
            width: 463px;
            margin-top: 261px;
            height: 319px;
        }

        .authenticated-dashboard-image {
            margin-top: 130px;
        }
    }


    .register-tenant-parent {
        .register-tenant-child {
            .link-wrapper {
                text-align: left;
                width: 100%;
                margin: 0 !important;
                padding: 0 0 5px 460px !important;
            }

            .authenticated-link-wrapper {
                margin: 0 !important;
                padding: 0 0 5px 400px !important;
            }
        }
    }
}

@media (min-width: 1921px) and (max-width: 2133px) {
    .register-tenant-parent {
        .register-tenant-child {
            .link-wrapper {
                text-align: left;
                width: 100%;
                margin: 0 !important;
                padding: 0 0 5px 460px !important;
            }

            .authenticated-link-wrapper {
                margin: 0 !important;
                padding: 0 0 5px 400px !important;
            }
        }
    }
}

@media screen and (max-width: 1871px) {
    /*.signin-instead {
        margin: 20px 0px 100px 0px !important;
    }*/
        footer {
            .privacy-policy-wrapper {
                .copyright {
                    margin-right: 224px !important;
                }

                .privacy-policy {
                    margin-left: 197px !important;
                }
            }
        }
    }

@media screen and (max-width: 1600px) {
    .register-tenant-parent {
        .reg-info {
            padding: 5% 0 0 28%;

            .reg-header {
                .reg-header-info {
                    margin-top: 10px;
                }
            }

            .authenticated-dashboard-image {
                width: 476px;
            }
        }
    }
}

@media screen and (max-width: 1440px) {

    .register-tenant-parent {
        .reg-info {
            padding: 5% 0 0 20%;
        }
    }

    .register-tenant-block {
        .register-tenant-child {
            .register-tenant-bg {
                font-size: $textsize-14;

                .register-tenant-fields-div {

                    .register-tenant-fields-container {
                        #outer-container {
                            .form-div, .form-div.email-address.signed {
                                width: 100%;
                            }

                            #dns-container {
                                .dns-list {
                                    width: 100%;

                                    .dropdown-menu.inner {
                                        .selected {
                                            a {
                                                background-color: $selected-color;
                                                color: $color-grey-800;
                                            }
                                        }

                                        a:hover {
                                            background-color: $select-hover;
                                        }
                                    }
                                }

                                .site-field #txt-dns {
                                    width: 100%;
                                }

                                .input-group-addon {
                                    font-size: $textsize-14;
                                }

                                .dns-list {
                                    .btn-group {
                                        .dropdown-toggle.selectpicker {
                                            font-size: $textsize-14;
                                        }
                                    }

                                    .dropdown-menu.selectpicker {
                                        li {
                                            font-size: $textsize-14;
                                        }
                                    }
                                }
                            }

                            #txt-password + .popover {
                                width: 220px;

                                .popover-title {
                                    font-size: $textsize-14;
                                }
                            }

                            .content, .form-control {
                                font-size: $textsize-14;

                                .btn.dropdown-toggle {
                                    height: $button-32;
                                }
                            }

                            .input-alignment {
                                margin-top: $space-xl;
                            }
                        }

                        .validation-message {
                            font-size: $textsize-12;
                        }
                    }
                }
            }

            .signin-instead {
                font-size: $textsize-12;
            }
        }
    }

    footer {
        .privacy-policy-wrapper {
            .copyright {
                margin-right: 140px !important;
            }

            .privacy-policy {
                margin-left: 135px !important;
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    #boldbi-register-body {
        .reg-info {
            padding: 7% 0 0 14%;
        }

        .dashboard-image {
            width: 463px;
            margin-top: 186px;
            height: 319px;
        }

        .authenticated-dashboard-image {
            margin-top: 60px;
        }
    }

    .form-container {
        /*.link-wrapper {
            margin-bottom: 10px;
            margin-left: 304px;
        }*/
        .register-tenant-child {
            height: 550px;

            .register-tenant-container {
                .boldbi-registration-main-heading {
                    margin-bottom: 2px;
                }

                .boldbi-registration-sub-heading {
                    margin: 0 0 20px 0;
                }

                .register-tenant-bg {
                    .register-tenant-fields-div {
                        #register-tenant-form {
                            #outer-container {
                                .mobile-password {
                                    #txt-password + .popover {
                                        top: -218px !important;
                                        left: 283px !important;

                                        .arrow {
                                            top: 100% !important;
                                        }

                                        .arrow::after {
                                            border-top-color: $color-black;
                                            border-right-color: transparent;
                                        }
                                    }
                                }

                                #dns-container {

                                    .su-password-tick {
                                        margin-top: 10px !important;
                                    }

                                    #spinner {
                                        margin-top: 12px !important;
                                    }
                                }

                                .form-control {
                                    height: $textbox-40;
                                }

                                .su-eye {
                                    padding: 10px;
                                    right: 0px;
                                    top: 4px;
                                }
                            }
                        }

                        #register-tenant {
                            margin-top: 20px;
                        }
                    }
                }
            }

            .signin-instead {
                margin: 10px 0px 110px 0px;
            }
            
            .sigin-margin {
                margin-bottom: 0px;
            }
        }
    }

    footer {
        .privacy-policy-wrapper {
            .copyright {
                margin-right: 140px !important;
            }

            .privacy-policy {
                margin-left: 135px !important;
            }
        }
    }
}

@media screen and (min-width: 2456px) {
    .register-tenant-parent {
        .register-tenant-container{
            float: left;
        }
    }
}

@media screen and (max-width: 1200px) {
    .register-tenant-parent {
        .reg-info {
            padding: 5% 0 0 12% !important;

            .authenticated-dashboard-image {
                margin-top: 120px;
            }
        }
    }
}

@media(min-width: 992px) and (max-width: 1280px) {
    #boldbi-register-body {

        .reg-info {
            padding: 5% 0 0 28%;

            .reg-header {
                .reg-image {
                    margin-bottom: 30px;
                }

                .reg-header-info {
                    margin: 20px 0px 20px 0px;
                    font-size: 33px;
                }
            }

            .header-info-meassages {
                .reg-info-tick {
                    width: 17px;
                    height: 20px;
                }

                .reg-info-1, .reg-info-2, .reg-info-3 {
                    font-size: 14px;
                    line-height: 1.63;
                    margin-left: 10px;
                    margin-top: -2px;
                }
            }
        }

        .dashboard-image {
            width: 477px;
            height: 311px;
            margin-top: 232px;
        }

        .authenticated-dashboard-image {
            margin-top: 128px;
        }
    }

    .form-control {
        width: 100%;
    }

    .form-container {
        .register-tenant-child {
            .register-tenant-container {
                width: 492px !important;
                height: 674px !important;

                .register-tenant-bg {
                    width: 400px;

                    .register-tenant-fields-div {
                        #register-tenant-form {
                            #outer-container {
                                #txt-dns {
                                    width: 295px !important;
                                }

                                .mobile-password {
                                    #txt-password + .popover {
                                        top: -218px !important;
                                        left: 249px !important;

                                        .arrow {
                                            top: 100% !important;
                                        }

                                        .arrow::after {
                                            border-top-color: $color-black;
                                            border-right-color: transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            /*.signin-instead {
                margin: 10px 0px 222px 0px !important;
            }*/
            .register-tenant-container {
                height: 800px !important;
            }
        }
    }

        footer {
            .privacy-policy-wrapper {
                .copyright {
                    margin-right: 0px !important;
                }

                .privacy-policy {
                    margin-left: 0px !important;
                }
            }
        }
    }

@media screen and (max-width: 991px) {
    #boldbi-register-body {
        .link-wrapper {
            display: block;
            font-family: 'Heebo', sans-serif;
            font-size: 13px;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            letter-spacing: 0.4px;
            text-align: right;
            padding: 25px 15px 0 0;

            a {
                color: $registartion-page-link;
                margin-left: 10px;
            }

            a:hover, a:focus {
                color: $registartion-page-link-hover;
            }
        }

        .form-control {
            width: 100%;
        }

        .form-container {
            .register-tenant-child {
                width: 100% !important;
                height: 694px !important;
                padding: 3% 0 0 0;

                .table-container {
                    display: table;
                }

                .register-tenant-container {
                    width: 100% !important;
                    height: 758px !important;

                    .boldbi-registration-main-heading {
                        padding-top: 30px;
                        margin: 0;
                    }

                    .register-tenant-bg {
                        padding: 0 10px 0 10px !important;
                        width: 100%;

                        .register-tenant-fields-div {
                            #register-tenant-form {
                                #outer-container {
                                    padding: 0 20px;

                                    #dns-container {
                                        .dns-field, .site-field {
                                            width: 100%;
                                        }

                                        .dns-field #txt-dns, .site-field #txt-dns {
                                            width: 100% !important;
                                        }

                                        .input-group-addon {
                                            width: 10%;
                                        }
                                    }


                                    .mobile-password {
                                        #txt-password + .popover {
                                            .arrow {
                                                top: 100% !important;
                                                left: 50% !important;
                                            }

                                            .arrow::after {
                                                border-top-color: $color-black;
                                                border-right-color: transparent;
                                            }
                                        }
                                    }

                                    .name-block {
                                        .first-name-block {
                                            width: 100%;
                                            margin-right: 12px;
                                            margin-top: 25px;
                                        }

                                        .last-name-block {
                                            width: 100%
                                        }
                                    }

                                    .input-alignment {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                .register-cloud-tenant-container {
                    height: 920px !important;
                }
            }
        }
    }

    footer {
        height: 81px !important;
        font-size: $textsize-12 !important;

        .privacy-policy-wrapper {
            .copyright {
                float: none !important;
            }
        }
    }

    .mobile-align {
        text-align: center;
        margin-bottom: 5px;
    }
}

@media(min-width: 320px) and (max-width: 991px) {
    .register-tenant-parent {
        .register-tenant-block {
            max-width: 90% !important;
            margin: 0 auto !important;
            float: none !important;
        }

        .reg-info {
            padding: 5% 0 0 0% !important;

            .reg-header {
                text-align: center;

                .reg-header-info {
                    margin: 0px 0px 20px 0px;
                    font-size: 33px;
                }
            }

            .header-info-meassages {
                .reg-info-tick {
                    width: 17px;
                    height: 20px;
                }

                .reg-info-1, .reg-info-2, .reg-info-3 {
                    font-size: 14px;
                    line-height: 1.63;
                    margin-left: 10px;
                    margin-top: -2px;
                }
            }
        }
    }

    footer {
        padding: 12px !important;

        .privacy-policy-wrapper {
            .copyright {
                float: none !important;
                color: $registration-footer-copyright;
                margin-right: 0px !important;
            }

            .privacy-policy {
                margin-left: 0px !important;
            }
        }
    }
}

@media screen and (max-height: 700px) {
    .register-tenant-parent .input-alignment {
        margin-top: $space-l;
    }
}

@media (min-width: 551px) and (max-width: 991px) {
    .form-container {
        .register-tenant-child {
            .register-tenant-container {
                .register-tenant-bg {
                    .register-tenant-fields-div {
                        #register-tenant-form {
                            #outer-container {
                                .mobile-password {
                                    #txt-password + .popover {
                                        top: -218px !important;
                                        left: 236px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 550px) {
    .form-container {
        .register-tenant-child {
            .register-tenant-container {
                .register-tenant-bg {
                    .register-tenant-fields-div {
                        #register-tenant-form {
                            #outer-container {
                                .mobile-password {
                                    #txt-password + .popover {
                                        top: -218px !important;
                                        left: 60px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    height: 60px;
    background-color: $registration-footer;
    font-family: 'Heebo', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: $textsize-14;
    line-height: 1.75;
    letter-spacing: 0.4px;

    .privacy-policy-wrapper {
        letter-spacing: 0.3px;
        line-height: 16px;
        display: block;
        width: 100%;

        a {
            color: $primary-btn-text-color;
        }

        a:hover, a:focus {
            color: $boldbi-primary-color;
        }

        .copyright {
            float: right;
            color: $registration-footer-copyright;
            margin-right: 433px;
        }

        .privacy-policy, .cookie-policy, .terms-of-use {
            margin: 0 6px 0px 9px;
        }

        .privacy-policy {
            margin-left: 398px;
        }

        .footer-separator {
            background-color: $registration-footer-copyright;
            border-top: 1px solid $registration-footer-copyright;
            display: inline-block;
            height: 13px;
            margin: 0;
            position: absolute;
            top: 0px;
            width: 1px;
        }
    }
}

input.form-control:focus:not(.input-block-level), .StripeElement--focus, .plan-list-outline .btn:focus {
    outline: none !important;
    border: 1px solid #FFBD01 !important;
    box-shadow: none !important;
}

//Contains bold reports style changes
.bold-reports {
    .reg-info {
        .reg-header {
            .reg-image {
                width: 200px;
            }
        }
    }

    .register-tenant-parent {
        .register-tenant-child {
            .register-tenant-bg {
                width: 450px;
            }
        }
    }
}

@media (min-width: 990px) and (max-width: 1280px) {
    .bold-reports {
        .register-tenant-bg {
            width: 420px !important;
        }
    }
}
