@import "../themes/default.scss";

body {
    .loading-page-wrap {

        hr.top-line {
            border: 6px solid orange;
        }

        .spinner-gif {
            display: block;
            height: 100px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-top: 224px;
            margin-right: auto;
            width: 100px;
        }

        h1 {
            color: $grey-800;
            font-family: Heebo;
            font-size: 24px;
            text-align: center;
            margin-bottom: 40px;
            font-weight: bold;
        }

        h2 {
            color: $grey-800;
            font-family: Heebo;
            font-size: 19px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .registration-header {
        display: none;
    }
}
