.registration-header {
  position: absolute;
  width: 100%;
  top: 8px;
  font-family: var(--font-family);
  font-size: 12px; }
  .registration-header .boldbi-app-header-logo {
    background: url("images/bold-bi-header-logo.svg");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    display: inline-block;
    height: 50px;
    margin-left: 25px;
    width: 150px; }
  .registration-header .syncfusion-app-header-logo {
    background: url("images/syncfusion-header-logo.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    height: 40px;
    margin-left: 25px;
    width: 160px; }
  .registration-header img {
    margin-left: 20px;
    width: 160px; }
  .registration-header .link-wrapper {
    display: inline-block;
    font-family: Heebo;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    float: right;
    line-height: 1.23;
    letter-spacing: 0.4px;
    margin-top: 10px;
    margin-right: 20px;
    padding-right: 15px; }
    .registration-header .link-wrapper a {
      color: #ff4800; }
    .registration-header .link-wrapper a:hover, .registration-header .link-wrapper a:focus {
      color: #cc3a00; }
    .registration-header .link-wrapper .cloud-home, .registration-header .link-wrapper .need-help {
      margin-right: 20px; }
    .registration-header .link-wrapper .sign-in {
      border-radius: 4px;
      font-weight: bold; }

@media screen and (min-width: 1400px) {
  .registration-header {
    top: 12px; } }
