/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0; }

::-ms-clear {
  width: 0;
  height: 0; }

* {
  outline: none !important; }

*:focus {
  outline: none !important; }

label {
  font-weight: normal; }

a, a:hover, a:focus {
  text-decoration: none !important;
  color: var(--colorPrimary); }

input[type=button], input[type=submit], button[type=submit] {
  padding: 0px !important; }

input.form-control:not(.input-block-level), .btn-group.form-control .btn.dropdown-toggle, .form-control.StripeElement {
  box-shadow: none !important;
  border: 1px solid #CCCCCC; }

.bs-searchbox .input-block-level.form-control {
  box-shadow: none !important;
  border: 1.5px solid #CCCCCC; }

input.form-control:focus:not(.input-block-level), .StripeElement--focus {
  outline: none !important;
  border: 1.5px solid #0565FF !important;
  box-shadow: none !important; }

input.ng-invalid.ng-touched.remove-border {
  outline: none !important;
  border: 1.5px solid #0565FF !important;
  box-shadow: none !important; }

input.ng-invalid.ng-touched:not(.ng-exclude):not(.e-control), input.ng-invalid.ng-empty.ng-dirty:not(.ng-exclude):not(.e-control), input.ng-invalid.ng-touched:focus:not(.ng-exclude):not(.e-control), .has-error input.form-control:not(.input-block-level), .has-error input.form-control:focus:not(.input-block-level), .has-error .btn-group.form-control .btn.dropdown-toggle, .StripeElement--invalid, input.ng-invalid.ng-invalid-pattern:focus, input.ng-invalid.ng-invalid-maxlength:focus, input.ng-invalid.ng-invalid-uniquednsnotactivated:focus, input.error-focus.ng-invalid.ng-untouched {
  outline: none !important;
  border: 1px solid var(--danger) !important;
  box-shadow: none !important; }

input[type="password"] {
  padding-right: 30px; }

.form-control[disabled] {
  cursor: default;
  background-color: #eeeeee !important; }

.su-eye {
  cursor: pointer;
  position: absolute; }

.material-checkbox {
  position: relative; }
  .material-checkbox label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox label:before, .material-checkbox label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox label:before {
      background: #FFFFFF;
      border: 1.5px solid #CCCCCC;
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox input[type="checkbox"]:checked + input + label:before {
      background: #0565FF;
      border: 1.5px solid #0565FF; }
    .material-checkbox input[type="checkbox"]:checked + input + label:after {
      border: 2px solid #FFFFFF;
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid #ff4800; }

.material-checkbox.selfhosted {
  position: relative; }
  .material-checkbox.selfhosted label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox.selfhosted label:before, .material-checkbox.selfhosted label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox.selfhosted label:before {
      background: #FFFFFF;
      border: 1.5px solid #CCCCCC;
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox.selfhosted input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox.selfhosted input[type="checkbox"]:checked + label:before {
      background: #0565FF;
      border: 1.5px solid #0565FF; }
    .material-checkbox.selfhosted input[type="checkbox"]:checked + label:after {
      border: 2px solid #FFFFFF;
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox.selfhosted input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid #007aff; }

span.su-password-tick {
  background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  font-size: 20px;
  display: inline-block;
  float: left;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%; }

.text-h1 {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 30px;
  color: #333333; }

.text-h2 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: #333333; }

.text-h4 {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #333333; }

.text-body {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: #333333; }

.text-bitter-h2 {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-bitter-h1 {
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-primary {
  color: #0565FF; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px; }

body {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.link-button {
  background: var(--colorSecondary);
  border: 0;
  border-radius: 2px;
  color: var(--colorPrimary);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  min-width: 90px;
  outline: none;
  text-align: center;
  border: 1px solid var(--colorPrimary); }
  .link-button {
    padding: 0 15px; }
  .link-button:hover, .link-button:focus {
    background: #f9f9f9;
    color: var(--colorPrimary); }
  .link-button:disabled {
    background: #f9f9f9;
    color: #808080;
    cursor: default; }
  .link-button:hover {
    border: 1px solid #007aff;
    color: #007aff; }

.register-tenant-background {
  background: url("images/registration-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  float: left;
  width: 30%; }
  .register-tenant-background .tagline-content {
    margin: 68% 32px 0px 13%; }
  .register-tenant-background .tenant-background-content {
    font-family: Segoe UI;
    font-weight: lighter;
    color: #fff;
    font-size: 25px !important; }

.register-tenant-parent {
  height: 100%;
  position: relative;
  padding-bottom: 35px;
  width: 70%;
  float: right; }
  .register-tenant-parent .register-tenant-child {
    text-align: center;
    margin-right: 48px;
    height: 100%;
    display: table;
    width: 100%; }
    .register-tenant-parent .register-tenant-child .registration-heading {
      font-family: Segoe UI;
      font-weight: lighter;
      font-size: 25px;
      color: #333333;
      letter-spacing: 0.6px;
      text-align: center;
      line-height: 32px;
      margin: 80px 0px 10px 0px; }
    .register-tenant-parent .register-tenant-child .registration-heading-free-trial {
      font-family: Segoe UI;
      font-weight: lighter;
      text-align: center;
      margin-bottom: 35px;
      font-size: 18px;
      margin-top: 0px; }
    .register-tenant-parent .register-tenant-child .register-tenant-bg {
      font-family: var(--font-family);
      font-size: 12px;
      margin: 0 auto;
      display: inline-block;
      text-align: left; }
      .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div {
        padding-bottom: 5px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .form-div {
          position: relative;
          width: 276px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .form-div.email-address.signed {
          width: 276px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .dns-list {
          width: 278px;
          margin-top: 0px; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .dns-list #start-new-site {
            display: block; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .dns-field #txt-dns {
          width: 179px;
          margin: 0px;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          padding-right: 25px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .bootstrap-select .dropdown-menu .bs-searchbox .input-block-level {
          margin: 0px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .input-group-addon {
          font-size: 12px;
          padding: 6px 6px;
          width: auto; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .su-password-tick {
          display: none;
          position: absolute;
          z-index: 99;
          margin-top: 6px;
          margin-left: -27px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container #spinner {
          background-repeat: no-repeat;
          background-image: url(images/waitingpopup_small.gif);
          position: absolute;
          margin-top: 7px;
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-left: -25px;
          z-index: 99; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container a {
          cursor: pointer; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .dns-list .btn-group .dropdown-toggle.selectpicker {
          font-size: 12px;
          outline: none !important;
          outline-offset: 0; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .dns-list .dropdown-menu.selectpicker li {
          font-size: 12px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .dns-list .dropdown-menu.selectpicker li.no-results.active {
          width: 265px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .name-block {
          margin-top: 0px !important; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .name-block .name-block-text {
            width: 100%; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .name-block .first-name-block {
            width: 48%;
            margin-right: 12px; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .name-block .last-name-block {
            width: 48%; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #txt-password + .popover {
          background: #000000;
          opacity: 0.8;
          width: 200px;
          top: -160px !important; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #txt-password + .popover .arrow {
            top: 80% !important; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #txt-password + .popover .arrow::after {
            border-right-color: #000000;
            opacity: 0.8; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #txt-password + .popover .popover-title {
            background: black;
            opacity: 0.8;
            color: #FFFFFF;
            font-size: 12px;
            letter-spacing: 0.3px;
            line-height: 18px;
            padding-bottom: 0px;
            border: none; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #txt-password + .popover .popover-content {
            padding-top: 0px;
            height: 175px; }
            .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #txt-password + .popover .popover-content ul {
              list-style: none;
              padding: 0px; }
              .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #txt-password + .popover .popover-content ul li {
                height: 20px;
                margin: 15px 15px 15px 10px; }
                .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #txt-password + .popover .popover-content ul li span.icon {
                  height: 20px;
                  width: 20px;
                  margin: 0 auto;
                  border-radius: 50%;
                  border: 2px solid #FFFFFF;
                  display: inline-block;
                  float: left; }
                .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #txt-password + .popover .popover-content ul li span.content {
                  margin-left: 40px;
                  color: #FFFFFF; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .show-hide-password {
          color: #333333;
          display: block; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .agreement-wrapper {
          text-align: left;
          display: inline-block;
          margin: 30px 0px 15px 0px; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .agreement-wrapper .coupon-status-div {
            text-align: center;
            margin: 5px 0px 0px 0px !important;
            padding: 3px 5px;
            font-size: 10px; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .agreement-wrapper .agreement-div {
            font-size: 12px; }
            .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .agreement-wrapper .agreement-div #agreement {
              display: inline-block; }
            .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .agreement-wrapper .agreement-div label {
              display: inline-block;
              font-weight: normal;
              width: 94%; }
              .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .agreement-wrapper .agreement-div label a {
                text-decoration: none;
                cursor: pointer;
                color: #0565FF; }
              .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .agreement-wrapper .agreement-div label a:hover {
                color: #0050d1; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .agreement-wrapper .material-checkbox label:before, .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .agreement-wrapper .material-checkbox label:after {
            top: 1px; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .agreement-wrapper .material-checkbox input[type="checkbox"]:checked + input + label:after {
            top: 4px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .content {
          color: #333333;
          font-weight: 300;
          margin-bottom: 10px;
          display: block;
          width: 82%;
          margin: auto; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .content, .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .form-control {
          font-size: 12px;
          border-radius: 5px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .form-control {
          height: 32px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .su-eye {
          padding: 10px;
          right: 0px;
          top: 0px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .display-none {
          display: none; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .input-alignment {
          margin-bottom: 0;
          margin-top: 32px; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .input-alignment label {
            margin: 0px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .show-hide-password {
          display: inline !important;
          color: #333333 !important; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .fake-password {
          visibility: hidden;
          position: absolute;
          left: -99999px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .password-rules {
          position: relative; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .error-container {
          height: 2px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #register-tenant {
          background: #ff4800;
          border: 1px solid #ff4800;
          border-radius: 5px;
          color: #FFFFFF;
          height: 36px;
          outline: none;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
          display: block;
          width: 120px;
          margin: 0 auto; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #register-tenant:hover, .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #register-tenant:focus {
            background-color: #fff1ef;
            border: none;
            color: #ff4800; }
          .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #register-tenant:disabled {
            background: #CCCCCC;
            cursor: default;
            border: none;
            color: #FFFFFF; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container .validation-message {
          color: var(--danger);
          display: block;
          height: 30px;
          font-size: 12px;
          padding-top: 3px;
          text-align: left;
          position: absolute;
          line-height: 12px; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container .validation-message a {
          color: #0565FF; }
        .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container .validation-message a:hover {
          color: #0050d1; }
    .register-tenant-parent .register-tenant-child .signin-instead {
      display: block;
      font-family: var(--font-family);
      font-size: 14px;
      line-height: 16px;
      margin-top: 10px; }
      .register-tenant-parent .register-tenant-child .signin-instead .signin-instead-link {
        color: #0565FF;
        margin-left: 5px; }
        .register-tenant-parent .register-tenant-child .signin-instead .signin-instead-link:hover {
          color: #0050d1; }

.blur {
  filter: blur(5px); }

#account-activation-popup {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 9999; }
  #account-activation-popup #account-activation-popup-parent {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    #account-activation-popup #account-activation-popup-parent #account-activation-popup-content {
      font-size: 12px;
      margin: 0 auto;
      display: inline-block;
      width: 400px;
      background: #FFFFFF;
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2); }

#account-activation-popup.showpopup {
  display: table; }

@media screen and (min-width: 1400px) {
  .register-tenant-background .tenant-background-content {
    font-size: 38px !important;
    margin-top: 60% !important; }
  .register-tenant-parent .register-tenant-child .registration-heading {
    font-size: 35px;
    margin: 190px 0px 20px 0px; }
  .register-tenant-parent .register-tenant-child .registration-heading-free-trial {
    font-size: 25px; }
  .register-tenant-parent .register-tenant-child .register-tenant-bg {
    font-size: 14px; }
    .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .form-div, .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .form-div.email-address.signed {
      width: 520px; }
    .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .dns-list {
      width: 520px; }
    .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .dns-field #txt-dns {
      width: 410px; }
    .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .input-group-addon {
      font-size: 14px; }
    .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .dns-list .btn-group .dropdown-toggle.selectpicker {
      font-size: 14px; }
    .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #dns-container .dns-list .dropdown-menu.selectpicker li {
      font-size: 14px; }
    .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #txt-password + .popover {
      width: 220px; }
      .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container #txt-password + .popover .popover-title {
        font-size: 14px; }
    .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .agreement-wrapper .agreement-div {
      font-size: 14px; }
    .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .content, .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .form-control {
      font-size: 14px; }
      .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .content .btn.dropdown-toggle, .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .form-control .btn.dropdown-toggle {
        height: 32px; }
    .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container #outer-container .input-alignment {
      margin-top: 40px; }
    .register-tenant-parent .register-tenant-child .register-tenant-bg .register-tenant-fields-div .register-tenant-fields-container .validation-message {
      font-size: 12px; } }

@media (min-width: 1040px) and (max-width: 1366px) {
  .register-tenant-parent .register-tenant-child .registration-heading {
    margin: 70px 0px 10px 0px; }
  .register-tenant-parent .register-tenant-child .registration-heading-free-trial {
    margin-bottom: 24px; }
  .name-block .first-name-block, .name-block .last-name-block {
    width: 46% !important; }
  .agreement-div label {
    width: 90% !important; } }
