@charset "UTF-8";
@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

#schedule-synchronization-container {
  height: 560px; }
  #schedule-synchronization-container input::-ms-clear, #schedule-synchronization-container input::-ms-reveal {
    display: none !important; }
  #schedule-synchronization-container .material-checkbox + input + label {
    cursor: pointer;
    display: inline-block;
    height: 25px;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.26px;
    margin: 0;
    padding: 6px 7px 0 24px !important;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
    #schedule-synchronization-container .material-checkbox + input + label::after {
      border-radius: 2px; }
    #schedule-synchronization-container .material-checkbox + input + label::before, #schedule-synchronization-container .material-checkbox + input + label::after {
      content: '';
      left: 0;
      position: absolute;
      -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      z-index: 1;
      width: 11px;
      height: 8px; }
  #schedule-synchronization-container .material-checkbox:not(:checked) + input + label::before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px; }
  #schedule-synchronization-container .material-checkbox:not(:checked) + input + label::after {
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #b3b3b3;
    top: 0px;
    z-index: 1;
    margin-top: 7px;
    margin-bottom: 2px; }
  #schedule-synchronization-container .material-checkbox:checked + input + label::before {
    bottom: 11.2px;
    color: #fff;
    content: "юдл";
    font-family: "Server";
    left: 1px;
    font-size: 14px;
    font-weight: bold; }
  #schedule-synchronization-container .material-checkbox:checked + input + label::after {
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid var(--colorPrimary);
    background-color: var(--colorPrimary);
    z-index: 0;
    margin-top: 7px;
    margin-bottom: 2px; }
  #schedule-synchronization-container .material-checkbox:disabled + input + label::after {
    background-color: #f2f2f2;
    border: 1px solid #cccccc; }
  #schedule-synchronization-container .material-checkbox:disabled + input + label::before {
    color: #b3b3b3; }
  #schedule-synchronization-container .material-checkbox:not(:checked):disabled + input + label::after {
    background-color: #f2f2f2;
    border: 1px solid #cccccc; }
  #schedule-synchronization-container .material-checkbox:not(:checked), #schedule-synchronization-container .material-checkbox:checked {
    position: absolute;
    left: -9999px;
    opacity: 0; }
  #schedule-synchronization-container .material-checkbox:checked + input + label::before {
    bottom: 8px !important;
    left: 1px; }
  #schedule-synchronization-container #schedule-header {
    margin-top: 12px; }
    #schedule-synchronization-container #schedule-header .import-area {
      border-bottom: 1px solid #eeeeee;
      padding: 0 0 20px 0; }
    #schedule-synchronization-container #schedule-header .back-button {
      margin-bottom: 5px; }
  #schedule-synchronization-container .schedule-info {
    font-size: 12px; }
    #schedule-synchronization-container .schedule-info #schedule-label {
      font-weight: normal; }
    #schedule-synchronization-container .schedule-info .pad-enable {
      padding-left: 0; }
    #schedule-synchronization-container .schedule-info .enable-schedule {
      padding: 8px;
      cursor: pointer; }
    #schedule-synchronization-container .schedule-info .next-schedule-container {
      margin-bottom: 10px;
      padding-right: 0; }
      #schedule-synchronization-container .schedule-info .next-schedule-container .next-schedule-label #next-schedule {
        padding-left: 6px; }
    #schedule-synchronization-container .schedule-info .display-inline {
      display: inline-block; }
  #schedule-synchronization-container #schedule-panel {
    height: 330px; }
    #schedule-synchronization-container #schedule-panel .material-checkbox + input + label {
      height: 27px !important; }
    #schedule-synchronization-container #schedule-panel .clspadleft {
      padding-left: 10px; }
    #schedule-synchronization-container #schedule-panel .radio-pad {
      padding-left: 100px; }
    #schedule-synchronization-container #schedule-panel .material-checkbox + input + label {
      cursor: pointer;
      display: inline-block;
      height: 25px;
      font-family: var(--font-family);
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.26px;
      margin: 0;
      padding: 6px 7px 0 24px !important;
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
      #schedule-synchronization-container #schedule-panel .material-checkbox + input + label::after {
        border-radius: 2px; }
      #schedule-synchronization-container #schedule-panel .material-checkbox + input + label::before, #schedule-synchronization-container #schedule-panel .material-checkbox + input + label::after {
        content: '';
        left: 0;
        position: absolute;
        -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
        transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
        z-index: 1;
        width: 11px;
        height: 8px; }
    #schedule-synchronization-container #schedule-panel .material-checkbox:not(:checked) + input + label::before {
      width: 0;
      height: 0;
      border: 3px solid transparent;
      left: 6px;
      top: 10px; }
    #schedule-synchronization-container #schedule-panel .material-checkbox:not(:checked) + input + label::after {
      height: 16px;
      width: 16px;
      background-color: transparent;
      border: 1px solid #b3b3b3;
      top: 0px;
      z-index: 1;
      margin-top: 7px;
      margin-bottom: 2px; }
    #schedule-synchronization-container #schedule-panel .material-checkbox:checked + input + label::before {
      bottom: 11.2px;
      color: #fff;
      content: "юдл";
      font-family: "Server";
      left: 1px;
      font-size: 14px;
      font-weight: bold; }
    #schedule-synchronization-container #schedule-panel .material-checkbox:checked + input + label::after {
      top: 0;
      width: 16px;
      height: 16px;
      border: 1px solid var(--colorPrimary);
      background-color: var(--colorPrimary);
      z-index: 0;
      margin-top: 7px;
      margin-bottom: 2px; }
    #schedule-synchronization-container #schedule-panel .material-checkbox:disabled + input + label::after {
      background-color: #f2f2f2;
      border: 1px solid #cccccc; }
    #schedule-synchronization-container #schedule-panel .material-checkbox:disabled + input + label::before {
      color: #b3b3b3; }
    #schedule-synchronization-container #schedule-panel .material-checkbox:not(:checked):disabled + input + label::after {
      background-color: #f2f2f2;
      border: 1px solid #cccccc; }
    #schedule-synchronization-container #schedule-panel .material-checkbox:not(:checked), #schedule-synchronization-container #schedule-panel .material-checkbox:checked {
      position: absolute;
      left: -9999px;
      opacity: 0; }
    #schedule-synchronization-container #schedule-panel .material-checkbox:checked + input + label::before {
      bottom: 10px !important;
      left: 1px; }
    #schedule-synchronization-container #schedule-panel .cls-options {
      display: none;
      margin-left: 5px; }
    #schedule-synchronization-container #schedule-panel .mar-top {
      margin-top: 7px; }
    #schedule-synchronization-container #schedule-panel .week-margin {
      margin-top: 9px !important; }
    #schedule-synchronization-container #schedule-panel .month-margin {
      margin-top: -5px; }
    #schedule-synchronization-container #schedule-panel .monthly-select {
      padding-left: 10px;
      margin-top: -5px; }
    #schedule-synchronization-container #schedule-panel .cls-day {
      padding: 0 10px 0 10px;
      margin-top: -5px; }
    #schedule-synchronization-container #schedule-panel .cls-padleft {
      padding-left: 60px; }
    #schedule-synchronization-container #schedule-panel .textbox-pad {
      margin-top: -5px;
      padding-left: 10px; }
    #schedule-synchronization-container #schedule-panel .clspad {
      padding-left: 16px; }
    #schedule-synchronization-container #schedule-panel .display {
      display: block; }
    #schedule-synchronization-container #schedule-panel .top-margin {
      margin-top: 4px; }
    #schedule-synchronization-container #schedule-panel .app-textbox-label {
      line-height: 28px !important; }
    #schedule-synchronization-container #schedule-panel .daybox-width {
      width: 110px; }
      #schedule-synchronization-container #schedule-panel .daybox-width .bootstrap-select.btn-group .open {
        min-width: 90% !important;
        margin-left: 10px; }
    #schedule-synchronization-container #schedule-panel .monthbox-width {
      width: 160px; }
      #schedule-synchronization-container #schedule-panel .monthbox-width .bootstrap-select.btn-group .open {
        min-width: 92% !important;
        margin-left: 10px; }
    #schedule-synchronization-container #schedule-panel .yearbox-width {
      width: 160px; }
      #schedule-synchronization-container #schedule-panel .yearbox-width .bootstrap-select.btn-group .open {
        min-width: 100% !important; }
    #schedule-synchronization-container #schedule-panel .dropbox-width .bootstrap-select.btn-group .open {
      min-width: 98% !important;
      margin-left: 0; }
    #schedule-synchronization-container #schedule-panel .time-width {
      width: 100%;
      height: 28px; }
    #schedule-synchronization-container #schedule-panel .col-sm-1, #schedule-synchronization-container #schedule-panel .col-sm-2, #schedule-synchronization-container #schedule-panel .col-sm-3, #schedule-synchronization-container #schedule-panel .col-sm-4, #schedule-synchronization-container #schedule-panel .col-sm-5, #schedule-synchronization-container #schedule-panel .col-sm-6, #schedule-synchronization-container #schedule-panel .col-sm-7, #schedule-synchronization-container #schedule-panel .col-sm-8, #schedule-synchronization-container #schedule-panel .col-sm-9, #schedule-synchronization-container #schedule-panel .col-sm-10, #schedule-synchronization-container #schedule-panel .col-sm-11, #schedule-synchronization-container #schedule-panel .col-sm-12 {
      margin-top: 10px; }
    #schedule-synchronization-container #schedule-panel .e-select {
      border-left: 1px solid #eeeeee !important; }
    #schedule-synchronization-container #schedule-panel .no-top-margin {
      margin-top: 0; }
    #schedule-synchronization-container #schedule-panel .form-control[disabled] {
      background-color: var(--colorOnPrimary);
      opacity: 0.6; }
    #schedule-synchronization-container #schedule-panel .schedule-type {
      padding-left: 0px; }
    #schedule-synchronization-container #schedule-panel .normal-font {
      font-weight: normal; }
    #schedule-synchronization-container #schedule-panel .label-font {
      font-weight: 700; }
    #schedule-synchronization-container #schedule-panel .no-float {
      float: none !important; }
    #schedule-synchronization-container #schedule-panel #hourly-schedule-option #every-x-hours-value {
      margin: 0px; }
    #schedule-synchronization-container #schedule-panel #hourly-schedule-option .time-format[disabled] {
      opacity: 0.6; }
    #schedule-synchronization-container #schedule-panel #hourly-schedule-option .pointer {
      cursor: pointer; }
    #schedule-synchronization-container #schedule-panel #hourly-schedule-option #_timewidget, #schedule-synchronization-container #schedule-panel #hourly-schedule-option .e-timewidget {
      border-radius: 4px;
      float: left;
      height: 32px;
      width: 218px; }
      #schedule-synchronization-container #schedule-panel #hourly-schedule-option #_timewidget .e-in-wrap, #schedule-synchronization-container #schedule-panel #hourly-schedule-option .e-timewidget .e-in-wrap {
        border-radius: 4px; }
      #schedule-synchronization-container #schedule-panel #hourly-schedule-option #_timewidget .e-select, #schedule-synchronization-container #schedule-panel #hourly-schedule-option .e-timewidget .e-select {
        display: none; }
    #schedule-synchronization-container #schedule-panel #hourly-schedule-option #time-format {
      margin-top: 10px; }
    #schedule-synchronization-container #schedule-panel #hourly-schedule-option .frequency-error {
      color: var(--danger);
      display: none;
      margin-top: 7px;
      margin-left: 30px;
      position: absolute; }
  #schedule-synchronization-container #cancel-schedule-synchronization, #schedule-synchronization-container #Update-schedule-synchronization-bottom {
    margin-left: 15px; }
  #schedule-synchronization-container .left-margin {
    margin-left: 10px; }

@media (min-width: 999px) and (max-width: 1399px) {
  #enable-checkbox.col-sm-4 {
    width: 22% !important; }
  #recursion.col-sm-8 {
    width: 77% !important; } }

.tooltip-inner {
  word-break: break-all;
  white-space: pre;
  max-width: none; }

@media screen and (min-width: 1400px) {
  #schedule-synchronization-container .material-checkbox + input + label {
    cursor: pointer;
    display: inline-block;
    height: 25px;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.26px;
    margin: 0;
    padding: 6px 7px 0 24px !important;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
    #schedule-synchronization-container .material-checkbox + input + label::after {
      border-radius: 2px; }
    #schedule-synchronization-container .material-checkbox + input + label::before, #schedule-synchronization-container .material-checkbox + input + label::after {
      content: '';
      left: 0;
      position: absolute;
      -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      z-index: 1;
      width: 11px;
      height: 8px; }
  #schedule-synchronization-container .material-checkbox:not(:checked) + input + label::before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px; }
  #schedule-synchronization-container .material-checkbox:not(:checked) + input + label::after {
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #b3b3b3;
    top: 0px;
    z-index: 1;
    margin-top: 7px;
    margin-bottom: 2px; }
  #schedule-synchronization-container .material-checkbox:checked + input + label::before {
    bottom: 11.2px;
    color: #fff;
    content: "юдл";
    font-family: "Server";
    left: 1px;
    font-size: 14px;
    font-weight: bold; }
  #schedule-synchronization-container .material-checkbox:checked + input + label::after {
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid var(--colorPrimary);
    background-color: var(--colorPrimary);
    z-index: 0;
    margin-top: 7px;
    margin-bottom: 2px; }
  #schedule-synchronization-container .material-checkbox:disabled + input + label::after {
    background-color: #f2f2f2;
    border: 1px solid #cccccc; }
  #schedule-synchronization-container .material-checkbox:disabled + input + label::before {
    color: #b3b3b3; }
  #schedule-synchronization-container .material-checkbox:not(:checked):disabled + input + label::after {
    background-color: #f2f2f2;
    border: 1px solid #cccccc; }
  #schedule-synchronization-container .material-checkbox:not(:checked), #schedule-synchronization-container .material-checkbox:checked {
    position: absolute;
    left: -9999px;
    opacity: 0; }
  #schedule-synchronization-container .material-checkbox:checked + input + label::before {
    bottom: 10px !important; }
  #schedule-synchronization-container .schedule-info {
    font-size: 14px; }
  #schedule-panel #weekly-schedule-option div .material-checkbox + input + label {
    cursor: pointer;
    display: inline-block;
    height: 25px;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.26px;
    margin: 0;
    padding: 6px 7px 0 24px !important;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
    #schedule-panel #weekly-schedule-option div .material-checkbox + input + label::after {
      border-radius: 2px; }
    #schedule-panel #weekly-schedule-option div .material-checkbox + input + label::before, #schedule-panel #weekly-schedule-option div .material-checkbox + input + label::after {
      content: '';
      left: 0;
      position: absolute;
      -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      z-index: 1;
      width: 11px;
      height: 8px; }
  #schedule-panel #weekly-schedule-option div .material-checkbox:not(:checked) + input + label::before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px; }
  #schedule-panel #weekly-schedule-option div .material-checkbox:not(:checked) + input + label::after {
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #b3b3b3;
    top: 0px;
    z-index: 1;
    margin-top: 7px;
    margin-bottom: 2px; }
  #schedule-panel #weekly-schedule-option div .material-checkbox:checked + input + label::before {
    bottom: 11.2px;
    color: #fff;
    content: "юдл";
    font-family: "Server";
    left: 1px;
    font-size: 14px;
    font-weight: bold; }
  #schedule-panel #weekly-schedule-option div .material-checkbox:checked + input + label::after {
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid var(--colorPrimary);
    background-color: var(--colorPrimary);
    z-index: 0;
    margin-top: 7px;
    margin-bottom: 2px; }
  #schedule-panel #weekly-schedule-option div .material-checkbox:disabled + input + label::after {
    background-color: #f2f2f2;
    border: 1px solid #cccccc; }
  #schedule-panel #weekly-schedule-option div .material-checkbox:disabled + input + label::before {
    color: #b3b3b3; }
  #schedule-panel #weekly-schedule-option div .material-checkbox:not(:checked):disabled + input + label::after {
    background-color: #f2f2f2;
    border: 1px solid #cccccc; }
  #schedule-panel #weekly-schedule-option div .material-checkbox:not(:checked), #schedule-panel #weekly-schedule-option div .material-checkbox:checked {
    position: absolute;
    left: -9999px;
    opacity: 0; }
  #schedule-panel #weekly-schedule-option div .material-checkbox:checked + input + label::before {
    bottom: 12px !important; }
  .bootstrap-select > .btn {
    font-size: 14px; }
  #schedule-panel #daily-schedule-option .textbox-pad {
    padding-left: 15px !important; }
    #schedule-panel #daily-schedule-option .textbox-pad .e-in-wrap input {
      font-size: 14px;
      margin-top: -1px; } }
