@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0; }

::-ms-clear {
  width: 0;
  height: 0; }

* {
  outline: none !important; }

*:focus {
  outline: none !important; }

label {
  font-weight: normal; }

a, a:hover, a:focus {
  text-decoration: none !important;
  color: var(--colorPrimary); }

input[type=button], input[type=submit], button[type=submit] {
  padding: 0px !important; }

input.form-control:not(.input-block-level), .btn-group.form-control .btn.dropdown-toggle, .form-control.StripeElement {
  box-shadow: none !important;
  border: 1px solid #CCCCCC; }

.bs-searchbox .input-block-level.form-control {
  box-shadow: none !important;
  border: 1.5px solid #CCCCCC; }

input.form-control:focus:not(.input-block-level), .StripeElement--focus {
  outline: none !important;
  border: 1.5px solid #0565FF !important;
  box-shadow: none !important; }

input.ng-invalid.ng-touched.remove-border {
  outline: none !important;
  border: 1.5px solid #0565FF !important;
  box-shadow: none !important; }

input.ng-invalid.ng-touched:not(.ng-exclude):not(.e-control), input.ng-invalid.ng-empty.ng-dirty:not(.ng-exclude):not(.e-control), input.ng-invalid.ng-touched:focus:not(.ng-exclude):not(.e-control), .has-error input.form-control:not(.input-block-level), .has-error input.form-control:focus:not(.input-block-level), .has-error .btn-group.form-control .btn.dropdown-toggle, .StripeElement--invalid, input.ng-invalid.ng-invalid-pattern:focus, input.ng-invalid.ng-invalid-maxlength:focus, input.ng-invalid.ng-invalid-uniquednsnotactivated:focus, input.error-focus.ng-invalid.ng-untouched {
  outline: none !important;
  border: 1px solid var(--danger) !important;
  box-shadow: none !important; }

input[type="password"] {
  padding-right: 30px; }

.form-control[disabled] {
  cursor: default;
  background-color: #eeeeee !important; }

.su-eye {
  cursor: pointer;
  position: absolute; }

.material-checkbox {
  position: relative; }
  .material-checkbox label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox label:before, .material-checkbox label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox label:before {
      background: #FFFFFF;
      border: 1.5px solid #CCCCCC;
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox input[type="checkbox"]:checked + input + label:before {
      background: #0565FF;
      border: 1.5px solid #0565FF; }
    .material-checkbox input[type="checkbox"]:checked + input + label:after {
      border: 2px solid #FFFFFF;
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid #ff4800; }

.material-checkbox.selfhosted {
  position: relative; }
  .material-checkbox.selfhosted label {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 8px; }
    .material-checkbox.selfhosted label:before, .material-checkbox.selfhosted label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0; }
    .material-checkbox.selfhosted label:before {
      background: #FFFFFF;
      border: 1.5px solid #CCCCCC;
      border-radius: 2px;
      cursor: pointer;
      height: 15px;
      transition: background .3s;
      width: 15px; }
  .material-checkbox.selfhosted input[type="checkbox"] {
    outline: 0;
    margin: 0px;
    opacity: 0; }
    .material-checkbox.selfhosted input[type="checkbox"]:checked + label:before {
      background: #0565FF;
      border: 1.5px solid #0565FF; }
    .material-checkbox.selfhosted input[type="checkbox"]:checked + label:after {
      border: 2px solid #FFFFFF;
      border-right-style: none;
      border-top-style: none;
      height: 6px;
      left: 2px;
      top: 3px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .material-checkbox.selfhosted input[type="checkbox"]:focus + input + label:before {
      border: 1.5px solid #007aff; }

span.su-password-tick {
  background: linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -moz-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -webkit-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -o-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  background: -ms-linear-gradient(135deg, #BAE04B 0%, #A2DA55 26%, #78D967 52%, #6AD46B 76%, #4FD478 100%);
  font-size: 20px;
  display: inline-block;
  float: left;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%; }

.text-h1 {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 30px;
  color: #333333; }

.text-h2 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: #333333; }

.text-h4 {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #333333; }

.text-body {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: #333333; }

.text-bitter-h2 {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-bitter-h1 {
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #333333; }

.text-primary {
  color: #0565FF; }

#duplicate-table-list .message-header {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  #duplicate-table-list .message-header span {
    margin-right: 5px; }
    #duplicate-table-list .message-header span .su-delete {
      color: var(--danger); }
  #duplicate-table-list .message-header span.su-close {
    cursor: pointer; }

#duplicate-table-list .message-box-close {
  color: #4d4d4d;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  right: 15px;
  top: 8px;
  opacity: 1; }
  #duplicate-table-list .message-box-close:hover {
    color: #1a1a1a; }

#duplicate-table-list .message-content {
  margin-top: 35px;
  font-size: 12px;
  max-height: 122px;
  overflow: auto; }
  #duplicate-table-list .message-content .list-area {
    padding: 10px 0 0 50px;
    text-align: left; }

#duplicate-table-list .message-box-btn-holder {
  background: #eeeeee none repeat scroll 0 0;
  border-top: 1px solid #eeeeee;
  bottom: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 100%;
  text-align: center; }
  #duplicate-table-list .message-box-btn-holder .secondary-button {
    background: var(--colorSecondary);
    border: 0;
    border-radius: 2px;
    color: var(--colorOnSecondary);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    min-width: 90px;
    outline: none;
    text-align: center;
    border: 1px solid #b3b3b3;
    margin-left: 10px; }
    #duplicate-table-list .message-box-btn-holder .secondary-button {
      padding: 0 15px; }
    #duplicate-table-list .message-box-btn-holder .secondary-button:hover, #duplicate-table-list .message-box-btn-holder .secondary-button:focus {
      background: #f9f9f9;
      color: var(--colorOnSecondary); }
    #duplicate-table-list .message-box-btn-holder .secondary-button:disabled {
      background: #f9f9f9;
      color: #808080;
      cursor: default; }

.configuration-status {
  color: white;
  font-family: var(--font-family);
  font-size: 14px; }

.system-startUp-settings-bg {
  background: #f9f9f9;
  font-family: var(--font-family);
  font-size: 14px;
  vertical-align: middle;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0; }
  .system-startUp-settings-bg .system-settings-startup-page-fields {
    border-width: 1.5px;
    box-shadow: none !important;
    width: 300px;
    margin: 0px auto 0px auto; }
  .system-startUp-settings-bg .no-margin-dropdown-ul {
    margin-left: -9px; }
  .system-startUp-settings-bg .startup-page-conatiner {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative; }
    .system-startUp-settings-bg .startup-page-conatiner #system-settings-general {
      display: table;
      vertical-align: middle;
      border-radius: 5px;
      margin: 30px auto;
      width: 380px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .system-settings-startup-logo {
        margin: 25px auto;
        width: 255px;
        text-align: center; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .title {
        font-size: 16px;
        font-weight: 400;
        padding: 5px;
        margin-bottom: 10px;
        text-align: center; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .content {
        color: #808080;
        font-weight: 300;
        display: block;
        width: 82%;
        margin: auto auto 30px auto; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .content, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .dropdown-menu, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .form-control, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .text {
        font-size: 12px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .form-control {
        height: 28px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .full-width {
        width: 100% !important; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .center-align {
        text-align: center;
        clear: both; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .sqlce-content {
        color: #808080;
        font-size: 12px;
        font-weight: 300;
        margin: auto auto 30px auto;
        width: 300px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .txt-holder, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .table-prefix {
        position: relative;
        width: 300px;
        margin: auto auto 24px auto; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .startup-validation {
        display: block;
        color: var(--danger);
        float: left;
        font-size: 12px;
        text-align: left; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #connection-string {
        resize: both; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .su-eye {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 8px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .info-area {
        cursor: pointer;
        position: absolute;
        right: -22px;
        top: 6px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .dsn-info {
        cursor: pointer;
        position: absolute;
        top: 18px;
        right: -22px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #dsn-messgage {
        left: 15px;
        margin: 0;
        min-width: 205px;
        width: 40px;
        z-index: 997;
        padding: 5px 8px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #dsn-message-oracle {
        left: 15px;
        margin: 0;
        min-width: 205px;
        width: 40px;
        z-index: 997;
        padding: 5px 8px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .display-none {
        display: none; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .validation-messages {
        color: var(--danger);
        height: 20px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .character-limits {
        color: #808080;
        float: left;
        font-size: 12px;
        margin-top: 5px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .input-alignment {
        margin-bottom: 11px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #password-field, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .password-field {
        right: 30px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .show-hide-password {
        display: inline !important;
        color: var(--colorText) !important; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .tooltip .tooltip-inner {
        word-break: break-all !important;
        white-space: pre !important;
        max-width: none !important; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .tooltip .tooltip.top .tooltip-arrow {
        bottom: 1px !important; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #prefix-message, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #prefix-message-mysql, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #prefix-message-oracle, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #prefix-message-postgresql {
        left: 15px;
        margin: 0;
        min-width: 205px;
        width: 40px;
        z-index: 997;
        padding: 5px 8px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .fake-password {
        visibility: hidden;
        position: absolute;
        left: -99999px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container {
        display: block; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .text-wrap .bootstrap-select li a > span.text, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .text-wrap .bootstrap-select li a > span.text {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 240px; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field {
          text-align: center; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field .database-dropdown-margin > div.bootstrap-select, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field .database-dropdown-margin > div.bootstrap-select {
            width: 300px !important; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field .sqlcenot, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field .sqlcenot {
            display: none;
            position: relative; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field .sqlcenot .su, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field .sqlcenot .su {
              display: block;
              color: #808080; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field .sqlcenot .dropdown-menu, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field .sqlcenot .dropdown-menu {
              padding: 8px;
              top: -59px;
              width: 300px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field #connection-validation, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field #connection-validation {
            display: none;
            margin: 0 auto;
            padding: 0px 25px 24px 25px;
            width: 100%;
            float: left; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field #connection-validation .validation-errors, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field #connection-validation .validation-errors {
              display: none;
              color: var(--danger);
              font-size: 12px;
              min-height: 10px;
              text-align: center;
              width: 100%; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field label, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field label {
            font-weight: 500;
            cursor: pointer; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field .new-db, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field .new-db {
            display: inline-block;
            float: left; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field .existing-db, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field .existing-db {
            display: inline-block;
            float: right; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field .new-db label, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field .existing-db label, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field .new-db label, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field .existing-db label {
            margin-bottom: 24px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field #db-content-holder .dropdown-menu .inner, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field #db-content-holder .dropdown-menu .inner {
            margin-left: -8px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field #mysql-content-holder .database-dropdown-mysql .bootstrap-select, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field #mysql-content-holder .database-dropdown-mysql .bootstrap-select {
            margin: 0px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field #mysql-content-holder .database-dropdown-mysql #waiting-iconmysql, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field #mysql-content-holder .database-dropdown-mysql #waiting-iconmysql {
            right: -35px;
            top: 4px;
            position: absolute; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field #mysql-content-holder .dropdown-menu .inner, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field #mysql-content-holder .dropdown-menu .inner {
            margin-left: -8px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field #oracle-content-holder .database-dropdown-oracle .bootstrap-select, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field #oracle-content-holder .database-dropdown-oracle .bootstrap-select {
            margin: 0px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field #oracle-content-holder .database-dropdown-oracle #waiting-icon-oracle, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field #oracle-content-holder .database-dropdown-oracle #waiting-icon-oracle {
            right: -35px;
            top: 4px;
            position: absolute; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field #oracle-content-holder .dropdown-menu .inner, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field #oracle-content-holder .dropdown-menu .inner {
            margin-left: -8px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field #postgresql-content-holder .database-dropdown-postgresql .bootstrap-select, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field #postgresql-content-holder .database-dropdown-postgresql .bootstrap-select {
            margin: 0px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .system-settings-db-selection-field #postgresql-content-holder .database-dropdown-postgresql #waiting-icon-postgressql, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .system-settings-db-selection-field #postgresql-content-holder .database-dropdown-postgresql #waiting-icon-postgressql {
            right: -35px;
            top: 4px;
            position: absolute; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-db-selection-container .placeholder, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-tenant-container .placeholder {
          position: absolute;
          left: 50%;
          margin-left: -136px;
          margin-top: -28px;
          color: #b3b3b3; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container {
        display: none;
        text-align: center; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .database-types {
          margin: 20px 0; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .database-types .center-storage-types {
            float: none;
            margin: 0 auto;
            width: 378px; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .database-types .center-storage-types > div {
              float: left;
              width: 50%; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .database-types .center-storage-types span.text {
              float: left;
              margin-left: 6px; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .database-types .center-storage-types .is-blob-storage-label {
              color: #808080;
              cursor: pointer;
              font-weight: 500; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .database-types .center-storage-types .blob-storage-align {
              margin-left: -9px; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block {
          padding-top: 50px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block .azure-validation {
            padding: 32px 0 32px 0; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block .blob-error-message {
            color: var(--danger);
            font-size: 12px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block #blob-storage-form {
            display: none;
            width: 600px;
            margin: auto;
            padding-top: 12px; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block #blob-storage-form .form-div {
              float: left;
              position: relative;
              width: 100%; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block #blob-storage-form .custom-endpoint-form-element {
              display: none; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block #blob-storage-form .text-caption {
              color: #808080;
              font-size: 11px;
              float: left;
              margin: 0;
              text-align: left; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block #blob-storage-form textarea.form-control {
              height: 80px; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block #blob-storage-form .sub-head {
              font-size: 14px;
              margin-bottom: 6px;
              text-align: left; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block #blob-storage-form .connection-types {
              text-align: left;
              margin-bottom: 5px; }
              .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block #blob-storage-form .connection-types label.connection-label {
                cursor: pointer;
                margin-bottom: 0;
                font-weight: normal; }
                .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block #blob-storage-form .connection-types label.connection-label span {
                  color: #808080;
                  float: left;
                  font-size: 12px;
                  margin-top: 2px; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .placeholder {
          position: absolute;
          left: 50%;
          margin-left: -122px;
          margin-top: -28px;
          color: #b3b3b3; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container {
        display: none;
        text-align: center; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .content {
          margin-bottom: auto; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container {
          width: 270px;
          margin: auto; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container .admin-avatar {
            border-radius: 70px;
            height: 80px;
            margin: 10px auto;
            overflow: hidden;
            width: 80px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container .form-div {
            position: relative;
            margin-bottom: 24px !important; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container input[type="text"], .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container input[type="password"] {
            width: 270px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container .username-description {
            top: 0%;
            margin-top: 34px;
            min-width: 280px; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container .username-description .username-contain {
              padding-left: 7px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container .mail-description {
            top: 0%;
            margin-top: 34px;
            min-width: 280px; }
            .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container .mail-description .mail-contain, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container .mail-description .username-content {
              padding-left: 7px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container #username-detail, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container #mail-detail {
            padding-left: 7px; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container .show-hide-password {
            color: var(--colorText);
            display: block; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container .placeholder {
            position: absolute;
            left: 50%;
            margin-left: -122px;
            margin-top: -28px;
            color: #b3b3b3; }
          .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container #new-password, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container .admin-account-fields-container #confirm-password {
            right: 30px; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-user-account-container #admin-account-submit-container {
          margin-top: 10px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .btn-holder .proceed-button {
        background: #0565FF;
        border: 1px solid #0851d0;
        border-radius: 5px;
        color: var(--colorOnPrimary);
        height: 36px;
        width: 300px;
        cursor: pointer;
        font-weight: 700;
        outline: none; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .btn-holder .proceed-button:hover {
          background: #0050d1; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .btn-holder .proceed-button:disabled {
          background: #CCCCCC;
          border: none;
          cursor: not-allowed; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #move-to-next {
        margin-top: 20px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #mysql-odbc-dropdown .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn), .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #oracle-odbc-dropdown .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 300px; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #duplicate-table-list .message-header {
        font-size: 16px;
        overflow: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 400px; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #duplicate-table-list .message-header span {
          margin-right: 5px; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #duplicate-table-list .message-header .su-login-error {
          color: var(--danger);
          margin-left: 2px; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #duplicate-table-list .message-header .popup-close {
          cursor: pointer !important; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #duplicate-table-list .message-content {
        margin-top: 10px;
        font-size: 14px;
        height: 125px;
        overflow: auto;
        text-align: left; }
        .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #duplicate-table-list .message-content .list-area {
          padding: 5px 0 0 40px;
          text-align: left; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #duplicate-table-list .message-box-btn-holder {
        background: #eeeeee none repeat scroll 0 0;
        border-top: 1px solid #b3b3b3;
        bottom: 0;
        padding: 10px;
        position: absolute;
        right: 0;
        width: 100%;
        text-align: center; }
      .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #duplicate-table-list .e-scroller {
        overflow: auto; }
    .system-startUp-settings-bg .startup-page-conatiner .notransition:before, .system-startUp-settings-bg .startup-page-conatiner .notransition:after {
      /*CSS animations*/
      animation: none !important;
      -moz-animation: none !important;
      -ms-animation: none !important;
      -o-animation: none !important;
      -webkit-animation: none !important; }
    .system-startUp-settings-bg .startup-page-conatiner .layout-footer {
      float: none !important; }
  .system-startUp-settings-bg .bootstrap-select .btn {
    border-width: 1.5px;
    height: 28px; }
    .system-startUp-settings-bg .bootstrap-select .btn .filter-option {
      font-size: 12px; }
  .system-startUp-settings-bg a:focus {
    text-decoration: none !important; }
  .system-startUp-settings-bg .dropdown-menu.inner .selected a {
    background-color: #dbe9ff;
    color: #333333; }
  .system-startUp-settings-bg .dropdown-menu.inner a:hover {
    background-color: #eeeeee; }

/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0; }

::-ms-clear {
  width: 0;
  height: 0; }

* {
  outline: none !important; }

*:focus {
  outline: none !important; }

.bs-searchbox input[type="text"] {
  color: var(--colorText); }

input[type="radio"][class="css-radio"] + label:before {
  top: 1px !important;
  border-color: #cccccc !important; }

input[type="radio"][class="css-radio"]:checked + label::before {
  border-color: var(--colorPrimary) !important; }

#base-footer-div {
  bottom: 0; }

ul#password_policy_rules {
  margin-left: -40px !important;
  margin-top: 10px !important; }

#password_policy_rules #p_policy_heading {
  padding-bottom: 5px;
  white-space: normal;
  text-align: left;
  margin-left: 40px; }

#password_policy_rules {
  padding-bottom: 0px !important; }
  #password_policy_rules li {
    font-size: 12px !important;
    margin-left: 40px;
    text-align: left !important; }
    #password_policy_rules li span {
      font-size: 12px !important;
      padding-right: 10px !important; }

@media screen and (min-width: 1400px) {
  .system-startUp-settings-bg {
    font-size: 16px; }
    .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .form-control, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .bootstrap-select .btn {
      height: 32px; }
    .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .btn, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .content, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .dropdown-menu, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .form-control, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .text, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .validation-errors, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .blob-error-message, .system-startUp-settings-bg .startup-page-conatiner #system-settings-general .bootstrap-select .btn .filter-option {
      font-size: 14px; }
    .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block #blob-storage-form .text-caption {
      font-size: 12px; }
    .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #system-settings-filestorage-container .storage-block #blob-storage-form .sub-head {
      font-size: 16px; }
    .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #duplicate-table-list .message-header {
      font-size: 18px; }
    .system-startUp-settings-bg .startup-page-conatiner #system-settings-general #duplicate-table-list .message-content {
      font-size: 16px; }
  ul#password-policy-rules {
    font-size: 12px; }
  #password-policy-rules li span {
    font-size: 12px !important; } }

@media screen and (max-width: 1400px) {
  .placeholder {
    margin-top: -23px !important; } }

#enablefooter {
  width: auto;
  padding-left: 0px; }

#lang_menu {
  padding-left: 0px;
  padding-right: 0px;
  width: 180px; }

.add-scroller {
  overflow-y: scroll; }

.client-config-info {
  padding: 5px;
  margin: 10px 40px;
  font-size: 14px; }

@media (max-width: 989px) {
  ul#password_policy_rules li {
    margin-left: unset !important; } }

#btn-proceed-page3 {
  width: 270px !important; }
