@import "mixins.scss";

.additional-content {
    display: none;
    text-align: center;
    margin-bottom: 40px;

    #action-btn {
        color: $primary-color;
        cursor: pointer;
        display: inline-block;

        span {
            font-size: $app-text-size;
        }
    }
}

#no-more-notification-info, #error-notification-info {
    display: none;

    h3 {
        font-size: $app-large-text-size !important;
    }
}

#no-notification-info {
    display: none;
}

#action-btn_WaitingPopup, #loader-div_WaitingPopup {
    background-color: transparent;
}

#tenant-info-tab {
    .admin-page-body {
        .tenant-status {
            .status-button {
                width: auto;
            }
        }
    }
}

#tenant-activity-tab {
    .admin-page-body {
        .filters-container {
            background: #fbfbfb;
            border: 1px solid #f0f0f0;
            overflow: hidden;
            padding: 20px;
            margin: 25px 20px 0 20px;

            .filter-item-div {
                display: inline-block;
                margin-right: 21px;
            }

            .reset-button-div {
                top: -12px;
                position: relative;
                margin-left: 10px;

                .reset-filters {
                    height: 29px;
                    padding: 0 15px;
                    background: #179bd7;
                    border: none;
                    border-radius: 3px;
                    color: $white;
                }
            }

            #loader-div {
                width: 30px;
                height: 30px;
            }
        }

        #activity-feed-body {
            padding: 2%;

            .row {
                margin: 0 0 0 30px;

                .content {
                    border-left: 1px solid $table-border;
                    display: table;
                    padding: 10px 0;

                    .logtype {
                        font-weight: 900;
                        font-size: $logtype-fontsize;
                    }

                    .item-icon.su {
                        font-size: 18px;
                        position: relative;
                        top: 10px;
                        left: -9px;
                        background: white;
                        padding: 5px 0px;

                        &:before {
                            color: #686969;
                        }
                    }

                    .event-icon.su {
                        font-size: 14px;
                        position: relative;
                        top: 7px;
                        left: 20px;
                        background: black;
                        border-radius: 50%;
                        padding: 4px;

                        &:before {
                            color: $white;
                        }
                    }

                    .feed-content {
                        display: table-cell;
                        vertical-align: middle;
                        left: 40px;
                        position: relative;

                        p {
                            display: inline-block;
                            padding: 0;
                            margin: 0;
                            width: 300px;
                            border-radius: 3px;
                            color: $primary-black;
                            font-weight: 600;
                        }

                        .date {
                            font-size: 12px;
                        }
                    }
                }
            }

            .date-row {
                .content {
                    border-left: none;
                    padding: 20px 0;

                    span.date-header {
                        margin-left: 25px;
                        font-weight: 600;
                        font-size: 18px;
                        padding: 10px;
                    }

                    .date-split-line:before {
                        width: 30%;
                        border-top: 1px solid #e7eaec;
                        content: "";
                        position: absolute;
                        margin-top: 10px;
                        margin-left: 10px;
                    }
                }
            }

            .feed-added .content .event-icon.su {
                background-color: #5cb85c;
            }

            .feed-deleted .content .event-icon.su {
                background-color: #f0ad4e;
            }

            .feed-failure .content .event-icon.su {
                background-color: #f7625e;
            }

            .feed-edited .content .event-icon.su {
                background-color: #2ca1f1;
            }
        }
    }
}

#record-summary-div {
    position: fixed;
    top: 380px;
    left: 600px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;

    #records-summary {
        display: inline-block;
        background: #f7f7f7;
        width: 95%;

        .record-summary-header {
            font-size: 22px;
            font-weight: 600;
            padding: 5px 10px;
        }

        .record-count-div {
            padding: 3px 20px;
            margin: 0 20px 0 0;
            display: inline-block;

            .item-type {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .record-line {
                display: inline-block;
                padding: 10px;
                background: white;
                margin: 0 10px 10px 0;
                box-shadow: 0 0 1px #a09797;
                border-radius: 1px;
                text-align: center;
                min-width: 125px;

                .item-event {
                    text-transform: uppercase;
                    color: #999;
                }

                span.item-count {
                    font-size: 20px;
                }
            }
        }
    }
}

#record-count_popup_list_wrapper, #event-filter_popup_list_wrapper, #status-filter_popup_list_wrapper {
    border-color: #C8C8C8;
}

.scroll-class {
    top: 100px !important;
}

#loader-div_WaitingPopup div svg circle {
    r: 13 !important;
}

@media screen and (max-width: 1400px) {
    #record-summary-div {
        left: 500px;

        #records-summary {
            .record-summary-header {
                font-size: 18px;
            }

            .record-count-div {
                .item-type {
                    font-size: 16px;
                }

                .record-line {
                    padding: 5px;
                    min-width: 75px;

                    .event-icon {
                        font-size: 12px;
                    }

                    .item-event {
                        font-size: 10px;
                    }

                    span.item-count {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .scroll-class {
        top: 75px !important;
    }
}
