@import "../themes/default.scss";

$plan1: #999;
$plan2: #5b528c;
$plan3: #003d70;
$plan4: #521973;
$plan5: #96c93e;
$plan6: #eaaf00;
$plan7: #FF4800;
$plan8: #45202A;
$plan9: #BB2079;
$plan10: #31A75F;
$plan11: #1034A6;
$plan12: #483C32;
$plan13: #483C32;
$plan14: #F541B2;
$plan15: #5C2C6C;
$plan16: #8E08CA;
$plan17: #0AA748;
$plan18: #666699;
$plan19: #00A693;
$plan20: #003153;
$plan21: #C71585;
$plan22: #679267;
$plan23: #2A6EA1;
$plan24: #D4AF37;
$plan25: #914E75;
$plan26: #3E8EDE;
$plan27: #093F57;
$plan28: #1B4D3E;
$plan29: #fabebe;
$plan30: #d4c861;
$plan31: #38b4d6;
$plan32: #cc8de0;
$plan33: #e856c6;
$plan34: #8cc2a8;
$plan35: #4363d8;
$plan36: #42d4f4;
$plan37: #bfef45;
$plan38: #f58231;
$plan39: #808000;
$plan40: #469990;
$plan41: #800000;
$plan42: #bfd979;

#content-area {
    padding: 20px;

    .status-button {
        //border: 1px solid;
        border-radius: 5px;
        color: white;
        display: inline-block;
        font-size: 11px;
        font-weight: 600;
        padding: 3px 16px;
        text-align: center;
        text-decoration: none;
    }

    #timezone-container {
        margin-top: -25px;

        label {
            float: left;
            padding: 7px;
            margin-right: 15px;
        }

        #timezone-filter_wrapper {
            float: right;
        }
    }

    #search-area {
        float: left;
        width: 100%;

        .other-filters-collection {
            background: $grey-40;
            border: 1px solid $grey-60;
            overflow: hidden;
            padding: 20px;

            .other-filters-collection-container {
                padding-left: 0px;

                #search-container {
                    width: 275px;

                    input, span {
                        margin-top: 28px !important;
                        height: 30px !important;
                        border-radius: 0px;
                        border-color: $grey-200;
                    }

                    input {
                        width: 90.5%;
                    }
                }

                .filter-container {
                    display: inline-block;
                    margin-right: 20px;
                }

                .date-range-picker {
                    input {
                        border: none;
                        width: 100%;
                        padding-bottom: 5px;
                    }
                }
            }
        }

        #appstatus_dropdown, #paymentstatus_dropdown, #plandroobdown_dropdown {
            border-left: 1px solid $grey-200 !important;
        }

        label {
            font-weight: 600;
        }
    }

    #tenant-info-tab {
        .status-button {
            margin-left: 15px;
        }
    }

    #tenant-resources-tab {
        .admin-page-body {
            .row {
                margin-bottom: 20px;
            }

            .row-header span {
                font-size: 25px;
                padding-left: 20px;
            }

            #users-count-div {
                width: 550px;
            }

            .card-info {
                height: 200px;
                width: 350px;
                background-color: $white;
                box-shadow: 0 0 20px $grey-60;
                border: 1px solid $grey-60;
                margin-left: 20px;

                .inner-card-info {
                    height: 100%;

                    .main-div {
                        padding: 20px 0 0 20px;
                        border-bottom: 2px solid $grey-60;
                        height: 63%;

                        .header {
                            font-size: 24px;
                        }

                        .main-count-div {
                            margin-top: 20px;

                            .main-count-value {
                                font-size: 29px;
                            }

                            .main-count-label {
                                font-size: 18px;
                                margin-left: 10px;
                            }
                        }
                    }

                    .secondary-div {
                        height: 37%;

                        .sec-element-div {
                            height: 100%;
                            padding: 15px 0 0 20px;
                            border-right: 2px solid $grey-60;

                            .sec-element-value {
                                font-size: 18px;
                                margin-bottom: 5px;
                            }
                        }

                        .border-right-element {
                            border-right: 2px solid $grey-60;
                        }
                    }
                    /*.details {
                        .detail-div {
                            .label-tag {
                                font-weight: 600;
                            }

                            img {
                                width: auto;
                                height: auto;
                            }

                            #app-name-value {
                                margin-left: 20px;
                            }

                            .logo-div {
                                margin-top: 10px;
                            }

                            .logo-value {
                                max-width: 200px;
                                max-height: 60px;
                            }
                        }
                    }*/
                }
            }

            .single-card-info {
                height: 150px;
                width: 250px;
                background-color: white;
                box-shadow: 0 0 20px $grey-60;
                border: 1px solid $grey-60;
                margin-left: 20px;

                .inner-card-info {
                    padding: 20px;
                    height: 100%;

                    .header {
                        font-size: 24px;
                        margin-bottom: 20px;
                    }

                    .details-div {
                        float: right;

                        .single-detail-value {
                            font-size: 45px;
                        }
                    }
                }
            }

            .custom-branding-div .single-card-info .inner-card-info {
                .header {
                    font-size: 16px;
                }

                .details-div .single-detail-value {
                    font-size: 24px;
                }
            }
        }

        .app-name-info {
            width: auto !important;
            max-width: 400px;
            min-height: 150px;
            height: auto !important;
            padding-bottom: 10px !important;
        }

        .tenant-activty-types-div {
            display: inline-block;
            width: 100%;
            background: white;
            margin-bottom: 30px;

            .tenant-activty-types {
                display: inline-block;
                padding: 20px;
                font-size: 16px;

                .row-header span {
                    font-size: 25px;
                    padding-left: 0;
                }

                .item-table-div {
                    padding: 5px 20px;
                    box-shadow: 0 0 10px 2px $grey-80;
                    overflow-x: scroll;
                    max-height: 300px;

                    table {
                        width: 100%;

                        td, th {
                            padding: 5px;
                            border-bottom: 2px solid $grey-60;
                        }

                        td:last-child, th:last-child {
                            border-right: none;
                        }

                        tr:last-child td {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }

    #plan-upgrade-popup-iframe {
        width: 100%;
        border: 0;
        background: white;
        height: 324px;
        float: left;
    }


    #application-information-container {
        .admin-page-body {
            margin-bottom: 30px !important;
            border-top: 0 !important;
        }

        .license-info {

            .su-close {
                color: gray;
                padding: 4px;
                border-radius: 50%;
            }

            .su-tick {
                color: $supported-plan;
                padding: 4px;
                border-radius: 50%;
            }

            .current-plan {
                color: $premium-plan;
                font-size: 16px;
            }

            .pricing-charge {
                font-size: 14px;
            }

            .pricing-charge-details {
                color: $pro-plan;
            }

            .license-feature {
                width: 100%;
                border-collapse: collapse;

                td {
                    border: 1px solid $feature-plan-border;
                    padding: 5px;
                    font-weight: 400;
                }

                td:first-child {
                    width: 75%;
                }

                td:nth-child(2) {
                    text-align: center;
                }
            }
        }

        .logdetails {
            padding: 2%;

            .row {
                .date {
                    text-align: right;
                    width: 110px;
                    position: relative;
                    padding-top: 38px;

                    i {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 5px;
                        height: 25px;
                        width: 30px;
                        text-align: center;
                        border-top: 1px solid $table-border;
                        border-bottom: 1px solid $table-border;
                        border-left: 1px solid $table-border;
                        background: #f8f8f8;
                    }

                    .text-green {
                        color: $date-text;
                    }

                    small {
                        font-size: $date-fontsize;
                    }
                }

                .content {
                    border-left: 1px solid $table-border;
                    border-bottom: 1px solid $table-border;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    min-height: 80px;

                    .logtype {
                        font-weight: 900;
                        font-size: $logtype-fontsize;
                    }

                    p {
                        padding-top: 12px;
                    }
                }

                .no-top-border {
                    border-top: 0 !important;
                }
            }
        }
    }

    .form-input-field {
        margin-top: 6px;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .copy {
        margin-top: 12px;

        i {
            border: 1px solid $search-border;
            cursor: pointer;
            padding: 6px;
            background-color: #eee;
            opacity: 1;
            margin-top: 14px;
        }
    }

    .tenant-status {
        .activation-pending {
            background-color: #b8fdfe;
            color: #217ab7;
        }

        .payment-pending, .active-trial, .trial-not-started {
            background-color: #c4f0ff;
            color: #555abf;
        }

        .deployment-failed {
            background-color: #fdeebe;
            color: #c85d42;
        }

        .active {
            background-color: #d6facf;
            color: #159570;
        }

        .suspended {
            background-color: #fcf4b2;
            color: #ce7c3a;
        }

        .deleted, .deletion-pending {
            background-color: #ffe7cb;
            color: #c23d4b;
        }

        .deployment-inprogress {
            background-color: #e6ebf1;
            color: #525f7f;
        }

        .subscription-cancelled {
            background-color: #ffe0f5;
            color: #9251ac;
        }
    }

    .payment-status {

        .status-button {
            width: 80px !important;
        }

        .success {
            background-color: #5cb85c;
        }

        .failure {
            background-color: #d9534f;
        }

        .refund {
            background-color: #f0ad4e;
        }

        .cancel {
            background-color: #f0ad4e;
        }
    }

    .product-types {
        .bold-bi {
            background-color: #D7EBFF;
            color: #3C3DA6;
        }

        .bold-reports {
            background-color: #F6E6B9;
            color: #8F2700;
        }

        .bold-bi-onpremise {
            background-color: #FDE2DD;
            color: #9B0840;
        }

        .bold-reports-onpremise {
            background-color: #CBF4C9;
            color: #04593D;
        }

        .bold-sign {
            background-color: #CBF4C9;
            color: #04593D;
        }
    }

    .options {
        width: 50%;
    }

    .pending {
        border-color: royalblue;
        color: royalblue !important;
    }

    #item-grid-container {
        h2 {
            margin: 0;
        }

        .grid-container {
            float: left;
            width: 100%;

            #items {
                .dropdown {
                    position: absolute;

                    .dropdown-menu {
                        left: -174px;
                        margin: 0;
                        padding: 5px 0px;
                        width: 170px;
                    }

                    i {
                        vertical-align: middle;
                    }

                    .su-nav-settings {
                        &:before {
                            color: $su-nav-settings-color;
                        }
                    }
                }

                .customer-name, .customer-email {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .internal-icon {
                    height: 20px;
                    width: 20px;
                }

                .tooltip-inner {
                    max-width: none
                }

                .customer-name {
                    margin-bottom: 3px;
                }

                .customer-email {
                    color: $grey-500;
                }

                .plan {
                    //border: 1px solid;
                    border-radius: 5px;
                    display: inline-block;
                    font-size: 11px;
                    font-weight: 600;
                    padding: 3px 16px;
                    text-align: center;
                    text-decoration: none;

                    &.plan-1 {
                        background-color: lighten($plan1, 30%);
                        color: darken($plan1, 10%);
                    }

                    &.plan-2 {
                        background-color: lighten($plan2, 50%);
                        color: $plan2;
                    }

                    &.plan-3 {
                        background-color: lighten($plan3, 60%);
                        color: $plan3;
                    }

                    &.plan-4 {
                        background-color: lighten($plan4, 60%);
                        color: $plan4;
                    }

                    &.plan-5 {
                        background-color: lighten($plan5, 20%);
                        color: darken($plan5, 20%);
                    }

                    &.plan-6 {
                        background-color: lighten($plan6, 50%);
                        color: $plan6;
                    }

                    &.plan-7 {
                        background-color: lighten($plan7, 30%);
                        color: $plan7;
                    }

                    &.plan-8 {
                        background-color: lighten($plan8, 60%);
                        color: darken($plan8, 10%);
                    }

                    &.plan-9 {
                        background-color: lighten($plan9, 50%);
                        color: $plan9;
                    }

                    &.plan-10 {
                        background-color: lighten($plan10, 50%);
                        color: $plan10;
                    }

                    &.plan-11 {
                        background-color: lighten($plan11, 50%);
                        color: $plan11;
                    }

                    &.plan-12 {
                        background-color: lighten($plan12, 60%);
                        color: darken($plan12, 20%);
                    }

                    &.plan-13 {
                        background-color: lighten($plan13, 60%);
                        color: $plan13;
                    }

                    &.plan-14 {
                        background-color: lighten($plan14, 30%);
                        color: $plan14;
                    }

                    &.plan-15 {
                        background-color: lighten($plan15, 50%);
                        color: darken($plan15, 10%);
                    }

                    &.plan-16 {
                        background-color: lighten($plan16, 50%);
                        color: $plan16;
                    }

                    &.plan-17 {
                        background-color: lighten($plan17, 50%);
                        color: $plan17;
                    }

                    &.plan-18 {
                        background-color: lighten($plan18, 35%);
                        color: $plan18;
                    }

                    &.plan-19 {
                        background-color: lighten($plan19, 50%);
                        color: darken($plan19, 20%);
                    }

                    &.plan-20 {
                        background-color: lighten($plan20, 70%);
                        color: $plan20;
                    }

                    &.plan-21 {
                        background-color: lighten($plan21, 50%);
                        color: $plan21;
                    }

                    &.plan-22 {
                        background-color: lighten($plan22, 50%);
                        color: $plan22;
                    }

                    &.plan-23 {
                        background-color: lighten($plan23, 50%);
                        color: $plan23;
                    }

                    &.plan-24 {
                        background-color: lighten($plan24, 30%);
                        color: darken($plan24, 20%);
                    }

                    &.plan-25 {
                        background-color: lighten($plan25, 50%);
                        color: $plan25;
                    }

                    &.plan-26 {
                        background-color: lighten($plan26, 30%);
                        color: $plan26;
                    }

                    &.plan-27 {
                        background-color: lighten($plan27, 50%);
                        color: $plan27;
                    }

                    &.plan-28 {
                        background-color: lighten($plan28, 50%);
                        color: $plan28;
                    }

                    &.plan-29 {
                        background-color: lighten($plan29, 30%);
                        color: $plan29;
                    }

                    &.plan-30 {
                        background-color: lighten($plan30, 30%);
                        color: $plan30;
                    }

                    &.plan-31 {
                        background-color: lighten($plan31, 30%);
                        color: $plan31;
                    }

                    &.plan-32 {
                        background-color: lighten($plan32, 30%);
                        color: $plan32;
                    }

                    &.plan-33 {
                        background-color: lighten($plan33, 30%);
                        color: $plan33;
                    }

                    &.plan-34 {
                        background-color: lighten($plan34, 30%);
                        color: $plan34;
                    }

                    &.plan-35 {
                        background-color: lighten($plan35, 30%);
                        color: $plan35;
                    }

                    &.plan-36 {
                        background-color: lighten($plan36, 30%);
                        color: $plan36;
                    }

                    &.plan-37 {
                        background-color: lighten($plan37, 25%);
                        color: $plan37;
                    }

                    &.plan-38 {
                        background-color: lighten($plan38, 30%);
                        color: $plan38;
                    }

                    &.plan-39 {
                        background-color: lighten($plan39, 30%);
                        color: $plan39;
                    }

                    &.plan-40 {
                        background-color: lighten($plan40, 30%);
                        color: $plan40;
                    }

                    &.plan-41 {
                        background-color: lighten($plan41, 70%);
                        color: $plan41;
                    }

                    &.plan-42 {
                        background-color: lighten($plan42, 30%);
                        color: $plan42;
                    }
                }

                .links {
                    margin-bottom: 0;

                    li {
                        .link-icon {
                            height: 14px;
                            padding-left: 10px;
                            padding-right: 10px;
                            width: 34px;
                        }
                    }
                }

                .mobile-info {

                    .float-left {
                        float: left;
                    }

                    .float-right {
                        float: right;
                    }

                    .info-row {
                        float: left;
                        display: block;
                        margin: 0 0 3px 0;
                        width: 100%;

                        &.info-name-status {

                            .info-name {
                                color: #607A93;
                            }

                            .info-status {
                                .status-button {
                                    border-radius: 4px;
                                    font-size: 9px;
                                    padding: 2px 10px;
                                    width: auto;
                                }
                            }
                        }

                        &.info-email {
                            color: #607A93;
                        }

                        &.info-dns {
                        }
                    }
                }
            }
        }
    }

    #item-action {
        iframe {
            border: 0;
            float: left;
            height: 275px;
            width: 100%;
        }
    }

    #more-filters-button {
        margin-top: 30px !important;
        height: 32px !important;
        border-radius: 0px;
        width: 180px;
        float: right !important;
        cursor: default;
        border: 1px solid #c8c8c8;
    }

    .su-dropdown-arrow {
        float: right;
        margin-top: 10px;
        font-size: 9px;
        color: #686969;
    }

    #filter-header {
        font-size: 15px;
        margin-left: 15px;
        padding-bottom: 7px;
        border-bottom: .2px solid #c8c8c8;
    }

    .filter-action {
        float: right;
    }

    #reset-filters {
        float: right;
        cursor: pointer;
    }

    #more-filters-container {
        overflow: visible;
        padding: 25px 25px 25px 10px;
        position: absolute;
        z-index: 1;
        background-color: white;
        right: 0;
        border: 1px solid #c8c8c8;
        width: 345px;
        top: 60px;
        margin-top: 5px;

        #start-timepicker_wrapper {
            width: unset;
        }

        #end-timepicker_wrapper {
            width: unset;
        }

        .filter-row {
            padding-top: 15px !important;
        }

        .secondary-button {
            margin-left: 10px;
        }
    }
}


#payment-activity-tab {
    .payment-elipsis {
        white-space: nowrap;
        width: 21m;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#refresh-resources {
    display: none;
    float: right;
    margin-top: 3px;

    span {
        background-color: $primary-color;
        padding: 7px 10px;
        color: white;
        border-radius: 3px;
        cursor: pointer;
    }
}

.e-ddl-popup {
    .e-search, .e-in-wrap {
        height: 34px !important;
    }

    .e-search {
        border-bottom: 1px solid #ddd !important;
    }

    .e-in-wrap {
        border: none !important;
        margin: 0 !important;
    }

    #plan-filter_popup {
        .e-content {
            .e-ul {
                .e-category {
                    background-color: #ddd;
                }
            }
        }
    }
}

.e-daterangewidget .e-select, .e-ddl .e-select {
    border-left-color: #C8C8C8;
}

#theme {
    margin-left: -5px;
    font-size: 14px;
}

#switch {
    margin-left: 5px;
}

#checkallow {
    margin-left: -5px;
}

#allow {
    margin-left: -5px;
}

.primary-button {
    background: #0565ff;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    min-width: 90px;
    outline: none;
    text-align: center;
    padding: 0 15px;
    border: 1px solid #0450cc;
}

.pull-right {
    float: right !important;
}

.secondary-button {
    margin-left: 15px;
}

.secondary-button {
    background: #fff;
    border: 0;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    min-width: 90px;
    outline: none;
    text-align: center;
    padding: 0 15px;
    border: 1px solid #b3b3b3;
}

.pull-right {
    float: right !important;
}

#add-logs-button {
    background: $primary-color;
    border: 1px solid $dashboard-button-border-color;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 28px;
    outline: none;
    position: absolute;
    right: 3%;
    text-align: center;
    top: 2%;
    width: 90px;
}

#logs-submit-button {
    background: $primary-color;
    border: 1px solid $dashboard-button-border-color;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    min-width: 90px;
    outline: none;
    padding: 0 15px;
    text-align: center;
    width: 90px;


    &:disabled {
        background: white;
        border: 1px solid $dashboard-button-border-color;
        color: #333;
    }
}

#log-comments {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left:-40px;
}
#hidden{
    margin-left:-5px;
}
#log-comments-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

#text-area-div {
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer-dialog {
    background-color: #f9f9f9;
}

#header-dialog {
    background-color: #f9f9f9;
}

#logs-icon {
    font-size: 20px;
}
