@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.additional-content {
  display: none;
  text-align: center;
  margin-bottom: 40px; }
  .additional-content #action-btn {
    color: var(--colorPrimary);
    cursor: pointer;
    display: inline-block; }
    .additional-content #action-btn span {
      font-size: 12px; }

#no-more-notification-info, #error-notification-info {
  display: none; }
  #no-more-notification-info h3, #error-notification-info h3 {
    font-size: 14px !important; }

#no-notification-info {
  display: none; }

#action-btn_WaitingPopup, #loader-div_WaitingPopup {
  background-color: transparent; }

#tenant-info-tab .admin-page-body .tenant-status .status-button {
  width: auto; }

#tenant-activity-tab .admin-page-body .filters-container {
  background: #fbfbfb;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  padding: 20px;
  margin: 25px 20px 0 20px; }
  #tenant-activity-tab .admin-page-body .filters-container .filter-item-div {
    display: inline-block;
    margin-right: 21px; }
  #tenant-activity-tab .admin-page-body .filters-container .reset-button-div {
    top: -12px;
    position: relative;
    margin-left: 10px; }
    #tenant-activity-tab .admin-page-body .filters-container .reset-button-div .reset-filters {
      height: 29px;
      padding: 0 15px;
      background: #179bd7;
      border: none;
      border-radius: 3px;
      color: #fff; }
  #tenant-activity-tab .admin-page-body .filters-container #loader-div {
    width: 30px;
    height: 30px; }

#tenant-activity-tab .admin-page-body #activity-feed-body {
  padding: 2%; }
  #tenant-activity-tab .admin-page-body #activity-feed-body .row {
    margin: 0 0 0 30px; }
    #tenant-activity-tab .admin-page-body #activity-feed-body .row .content {
      border-left: 1px solid #eeeeee;
      display: table;
      padding: 10px 0; }
      #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .logtype {
        font-weight: 900;
        font-size: 13px; }
      #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .item-icon.su {
        font-size: 18px;
        position: relative;
        top: 10px;
        left: -9px;
        background: white;
        padding: 5px 0px; }
        #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .item-icon.su:before {
          color: #686969; }
      #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .event-icon.su {
        font-size: 14px;
        position: relative;
        top: 7px;
        left: 20px;
        background: black;
        border-radius: 50%;
        padding: 4px; }
        #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .event-icon.su:before {
          color: #fff; }
      #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .feed-content {
        display: table-cell;
        vertical-align: middle;
        left: 40px;
        position: relative; }
        #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .feed-content p {
          display: inline-block;
          padding: 0;
          margin: 0;
          width: 300px;
          border-radius: 3px;
          color: #333;
          font-weight: 600; }
        #tenant-activity-tab .admin-page-body #activity-feed-body .row .content .feed-content .date {
          font-size: 12px; }
  #tenant-activity-tab .admin-page-body #activity-feed-body .date-row .content {
    border-left: none;
    padding: 20px 0; }
    #tenant-activity-tab .admin-page-body #activity-feed-body .date-row .content span.date-header {
      margin-left: 25px;
      font-weight: 600;
      font-size: 18px;
      padding: 10px; }
    #tenant-activity-tab .admin-page-body #activity-feed-body .date-row .content .date-split-line:before {
      width: 30%;
      border-top: 1px solid #e7eaec;
      content: "";
      position: absolute;
      margin-top: 10px;
      margin-left: 10px; }
  #tenant-activity-tab .admin-page-body #activity-feed-body .feed-added .content .event-icon.su {
    background-color: #5cb85c; }
  #tenant-activity-tab .admin-page-body #activity-feed-body .feed-deleted .content .event-icon.su {
    background-color: #f0ad4e; }
  #tenant-activity-tab .admin-page-body #activity-feed-body .feed-failure .content .event-icon.su {
    background-color: #f7625e; }
  #tenant-activity-tab .admin-page-body #activity-feed-body .feed-edited .content .event-icon.su {
    background-color: #2ca1f1; }

#record-summary-div {
  position: fixed;
  top: 380px;
  left: 600px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease; }
  #record-summary-div #records-summary {
    display: inline-block;
    background: #f7f7f7;
    width: 95%; }
    #record-summary-div #records-summary .record-summary-header {
      font-size: 22px;
      font-weight: 600;
      padding: 5px 10px; }
    #record-summary-div #records-summary .record-count-div {
      padding: 3px 20px;
      margin: 0 20px 0 0;
      display: inline-block; }
      #record-summary-div #records-summary .record-count-div .item-type {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px; }
      #record-summary-div #records-summary .record-count-div .record-line {
        display: inline-block;
        padding: 10px;
        background: white;
        margin: 0 10px 10px 0;
        box-shadow: 0 0 1px #a09797;
        border-radius: 1px;
        text-align: center;
        min-width: 125px; }
        #record-summary-div #records-summary .record-count-div .record-line .item-event {
          text-transform: uppercase;
          color: #999; }
        #record-summary-div #records-summary .record-count-div .record-line span.item-count {
          font-size: 20px; }

#record-count_popup_list_wrapper, #event-filter_popup_list_wrapper, #status-filter_popup_list_wrapper {
  border-color: #C8C8C8; }

.scroll-class {
  top: 100px !important; }

#loader-div_WaitingPopup div svg circle {
  r: 13 !important; }

@media screen and (max-width: 1400px) {
  #record-summary-div {
    left: 500px; }
    #record-summary-div #records-summary .record-summary-header {
      font-size: 18px; }
    #record-summary-div #records-summary .record-count-div .item-type {
      font-size: 16px; }
    #record-summary-div #records-summary .record-count-div .record-line {
      padding: 5px;
      min-width: 75px; }
      #record-summary-div #records-summary .record-count-div .record-line .event-icon {
        font-size: 12px; }
      #record-summary-div #records-summary .record-count-div .record-line .item-event {
        font-size: 10px; }
      #record-summary-div #records-summary .record-count-div .record-line span.item-count {
        font-size: 16px; }
  .scroll-class {
    top: 75px !important; } }
