<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <!--
    I copied the web.config in the Views folder under the WebProject inorder to  View in NewArea,
    which is other than Views location.
     For more information,please visit:http://stackoverflow.com/questions/6389055/the-name-model-does-not-exist-in-current-context-in-mvc3]
     -->
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Globalization" />
        <add namespace="System.Linq" />
        <add namespace="System" />
        <add namespace="System.Web.Helpers" />
        <add namespace="i18n" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <dotless minifyCss="true" cache="false" web="false" disableParameters="true" />
  <location inheritInChildApplications="false">
    <appSettings>
      <!-- Default keys -->
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="PreserveLoginUrl" value="true" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <add key="SystemConfigurationPath" value="\UMS\Configuration\" />
      <add key="SiteFolderPath" value="" />
      <add key="ApplicationName" value="IdentityProvider" />
      <add key="AppDataPath" value="\App_Data\" />
      <add key="IsLogOptionalData" value="false" />
      <add key="owin:AppStartup" value="Syncfusion.Server.IdentityProvider.Startup, Syncfusion.Server.IdentityProvider" />
      <add key="owin:AutomaticAppStartup" value="true" />
      <add key="i18n.DirectoriesToScan" value=".." />
      <add key="i18n.WhiteList" value="*.cs;*.cshtml;*.sitemap;*.js" />
      <add key="i18n.BlackList" value=".\Scripts\AngularJS;.\Scripts\Bootstrap;.\Scripts\EssentialJS;.\Scripts\Jcrop;.\Scripts\jQuery;" />
      <add key="i18n.NuggetBeginToken" value="[[[" />
      <add key="i18n.NuggetEndToken" value="]]]" />
      <add key="i18n.NuggetDelimiterToken" value="||||" />
      <add key="i18n.NuggetCommentToken" value="////" />
      <add key="i18n.NuggetParameterBeginToken" value="(((" />
      <add key="i18n.NuggetParameterEndToken" value=")))" />
      <!-- Default keys ends -->
      <!-- Cloud usage keys -->
      <add key="syncfusion:product_home" value="https://www.boldbi.com" />
      <add key="bold_reports:product_home" value="https://www.boldreports.com" />
      <!-- Cloud usage keys ends -->
      <!-- OnPremise usage keys -->
      <add key="tenant_management:url" value="/ums/" />
      <!-- OnPremise usage keys ends -->
      <!-- Cloud - OnPremise usage keys -->
      <add key="EmailTemplatePath" value="\Configuration\" />
      <add key="JwtSecurityKey" value="47DFC81F098CD8F29E34737306233E763A956EC1831600AFB74B2A91138305E23A0D8E138B72BCAC2A305D870A5854B1BFF2FCA934104B9F3657092E26357108" />
      <add key="IsCDN" value="false" />
      <add key="CdnLink" value="/Content" />
      <add key="Loggername" value="identityproviderweb" />
      <add key="app:branding" value="boldbi" />
      <add key="app:branding_domain" value="boldbi.com" />
      <add key="documentation:url" value="https://help.syncfusion.com" />
      <!--  Cloud - OnPremise usage keys ends -->
      <add key="PrivateKeysPath" value="\App_Data\Configuration\" />
    </appSettings>
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="~/login" slidingExpiration="true" timeout="1440" protection="All" name="bold_identity" />
      </authentication>
      <machineKey validationKey="69077B962BBEA5B3DA27976ABCB63B31702F92C7C41807435B34B98E3FCCA091D7E04C717F3071E61A77FBF4ED74F0CB85B16F0DD6821DBED6ACB2ADABD97832" decryptionKey="C83837AC3B629DB40F18024D5B60AFE1CA4C31074E7A91B8" validation="SHA1" />
      <httpRuntime maxRequestLength="75000" targetFramework="4.5" requestPathInvalidCharacters="" maxUrlLength="1024" relaxedUrlToFileSystemMapping="true" />
      <compilation targetFramework="4.5">
        <assemblies>
          <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </assemblies>
      </compilation>
      <httpHandlers>
        <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
      </httpHandlers>
      <pages controlRenderingCompatibilityVersion="4.0">
        <namespaces>
          <add namespace="System.Web" />
          <add namespace="System.Web.Helpers" />
          <add namespace="System.Web.Mvc" />
          <add namespace="System.Web.Mvc.Ajax" />
          <add namespace="System.Web.Mvc.Html" />
          <add namespace="System.Web.Routing" />
          <add namespace="System.Web.WebPages" />
          <add namespace="System.Web.Optimization" />
        </namespaces>
      </pages>
      <httpModules>
        <add name="i18n.LocalizingModule" type="i18n.LocalizingModule, i18n" />
      </httpModules>
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlCustom="public" cacheControlMaxAge="1.00:00:00" cacheControlMode="UseExpires" httpExpires="Sat, 13 Jan 2029 13:29:11 GMT" />
        <remove fileExtension=".otf" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".otf" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
      </staticContent>
      <validation validateIntegratedModeConfiguration="false" />
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1048576000" />
        </requestFiltering>
      </security>
      <modules runAllManagedModulesForAllRequests="true">
        <add name="i18n.LocalizingModule" type="i18n.LocalizingModule, i18n" />
      </modules>
      <handlers>
        <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
        <add name="ApiURIs-ISAPI-Integrated-4.0" path="/user/avatar/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
      <httpProtocol>
        <customHeaders>
          <clear />
          <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.7.0.0" newVersion="8.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.0" newVersion="1.5.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.28.3.860" newVersion="2.28.3.860" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: BE19F04D-4A8E-4E34-A8A1-D6D866E66F05-->