<div class="poweredby-div col-xs-12">
    <span id="powerby-icon"></span>
    <span id="geotrust">@await Html.PartialAsync("../Payment/GeoTrust")</span>

</div>

<div class="card-container col-xs-12">
    <div class="card-container-div col-xs-12 no-padding">
        <div class="card-number-div card-fields-container">
            <label for="card-number" class="text-body app-textbox-label text-bitter-bold">[[[Card Number]]]</label>
            <span id="card-number" class="form-control card-input"></span>
            <span class="su-credit-card" id="brand-icon"></span>
        </div>
        <div class="name-div card-fields-container">
            <label for="name" class="text-body app-textbox-label text-bitter-bold">[[[Name on the card]]]</label>
            <input type="text" class="form-control text-body card-input" placeholder="[[[Name on the card]]]" id="name" autocomplete="cc-name">
        </div>
        <div class="exp-cvv-div col-xs-12">
            <div class="exp-div col-xs-5 no-padding">
                <label for="card-exp" class="text-body app-textbox-label text-bitter-bold">[[[Expiry Date]]]</label>
                <span id="card-exp" class="form-control card-input"></span>
            </div>
            <div class="cvv-div col-xs-5 no-padding">
                <label for="card-cvc" class="text-body app-textbox-label text-bitter-bold">[[[CVC]]]</label>
                <div class="tool-tip col-xs-1 info-icon">
                    <span class="dropdown-toggle" data-toggle="dropdown" id="help-text-default"><span id="error_icon" class="su su-info" title=""></span></span>
                    <div class="dropdown-menu" role="menu" id="help-text-message">[[[Three-digit number on the back of your card.]]]</div>
                </div>
                <span id="card-cvc" class="form-control card-input"></span>
            </div>
        </div>
    </div>
</div>

<div class="form-group text-body error-section no-padding no-margin">
    <div class="error col-xs-12" role="alert">
        <span class="message validation-error"></span>
    </div>
</div>