

@{
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}
<environment include="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/default-pages.css" />
</environment>
<environment exclude="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/default-pages.min.css" />
</environment>

<style>
    #content-area {
        overflow: hidden !important;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
<div class="col-xs-12 defafult-pages-container no-padding dt-payment-page">
    <div class="default-pages">
        <img class="default-pages-dashboard-image" src="https://cdn.boldbi.com/static/default-pages/v1/dt-payments.svg">
        <h1 class="default-pages-header">Payment profile linked to Syncfusion Direct-Trac</h1>
        <p class="default-pages-message"> Please contact your sales representative for more information.</p>
        <a href="https://www.@(GlobalAppSettings.BrandingDomain)/contact" target="_blank" class="primary-button">Contact Us</a>
    </div>
</div>