@{
    var tenantStatus = (TenantStatus)ViewData["TenantStatus"];
}

<div id="PopupContainer" class="col-xs-12 no-padding dialog">
    <div class="dialog-header">
        @if (tenantStatus == TenantStatus.MarkedForSuspension || tenantStatus == TenantStatus.Suspended)
        {
            <span class="PopupTitle extendedTitle" title="[[[Update card]]]">[[[Update and retry payment]]]</span>
        }
        else
        {
            <span class="PopupTitle extendedTitle" title="[[[Update card]]]">[[[Update card]]]</span>
        }
        <a href="javascript:void(0);" title="[[[Close]]]" class="PopupClose"><span class="su su-close"></span></a>
    </div>
    <form onsubmit="validateForm(event)">
        <div id="upgradecard-details">
            <div class="update-card-description">
                @if (tenantStatus == TenantStatus.Active)
                {
                    <div class="description-detail">
                        [[[The updated card information will apply to your next billing cycle.]]]
                    </div>
                }
                else if (tenantStatus == TenantStatus.MarkedForSuspension || tenantStatus == TenantStatus.Suspended)
                {
                    <div class="description-detail">
                        [[[The updated card information will be used to charge your pending payment.]]]
                    </div>
                }
            </div>

            @await Html.PartialAsync("_CardInputElements")

        </div>

        <div class="update-card-footer">
            <div class="footer-button">
                <div class="update-card-button">
                    <input type="button" value="[[[Cancel]]]" class="secondary-button cancel-update">
                </div>
                <div class="update-card-button">
                    @if (tenantStatus == TenantStatus.Suspended || tenantStatus == TenantStatus.MarkedForSuspension)
                    {
                        <input type="submit" value="[[[Update and pay now]]]" class="primary-button update-card-and-pay">
                    }
                    else
                    {
                        <input type="submit" value="[[[Update]]]" class="primary-button update-card">
                    }
                </div>
            </div>
        </div>
    </form>
</div>
