@using Microsoft.AspNetCore.Http.Extensions
@{
    var authority = new Uri(Context.Request.GetDisplayUrl()).Authority;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <table width="135" border="0" cellpadding="2" cellspacing="0" title="[[[Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.]]]" style='float: right;width: 82px;margin-top: 13px;height: 38px;margin-right: 9px;'>
        <tr>
            <td width="135" align="center" valign="top">
                <script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=@authority&amp;size=M&amp;lang=en"></script><br />
                <a href="http://www.geotrust.com/ssl/" target="_blank" style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a>
            </td>
        </tr>
    </table>

</body>
</html>
