@using Microsoft.AspNetCore.Http.Extensions
@{
    var authority = new Uri(Context.Request.GetDisplayUrl()).Authority;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
        <script type="text/javascript">
var __dcid = __dcid || [];
__dcid.push({"cid":"DigiCertClickID_jT46Hd01","tag":"jT46Hd01"});
(function(){var cid=document.createElement("script");cid.async=true;cid.src="//seal.digicert.com/seals/cascade/seal.min.js";var s = document.getElementsByTagName("script");var ls = s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());
</script>

<style>
    .geo-trust-seal img {
        width:100% !important;
    }
</style>
</head>
<body>
    <table width="135" class="geo-trust-seal" border="0" cellpadding="2" cellspacing="0" title="@string.Format(T["Click to Verify - This site chose {0} for secure e-commerce and confidential communications."].Value,"GeoTrust SSL")" style='float: right;width: 82px;margin-top: 13px;height: 38px;margin-right: 9px;'>
        <tr>
            <td width="135" align="center" valign="top">
                <div id="DigiCertClickID_jT46Hd01"></div>
            </td>
        </tr>
    </table>

</body>
</html>
