<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dashboard.Core.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Dashboard.Core.Configuration.Properties.Settings>
            <setting name="ConnectionFolderPath" serializeAs="String">
                <value>Connections</value>
            </setting>
            <setting name="WidgetsFolderPath" serializeAs="String">
                <value>Widgets</value>
            </setting>
            <setting name="PluginConfigFileName" serializeAs="String">
                <value>config.plugin</value>
            </setting>
            <setting name="PluginConfigFileSeparator" serializeAs="String">
                <value>;</value>
            </setting>
        </Dashboard.Core.Configuration.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
