<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Syncfusion.Dashboard.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Syncfusion.Dashboard.Core.Properties.Settings>
            <setting name="DepenciesFolder" serializeAs="String">
                <value>Dependencies</value>
            </setting>
            <setting name="DashboardSaveFileName" serializeAs="String">
                <value>report.json</value>
            </setting>
        </Syncfusion.Dashboard.Core.Properties.Settings>
    </applicationSettings>
</configuration>