<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- ~ 200KB -->
    <httpRuntime maxRequestLength="200000" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <security>
      <requestFiltering>
        <!-- ~1 GB  -->
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Syncfusion.Dashboard.Designer.Web.Service.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess" />
  </system.webServer>
</configuration>
<!--ProjectGuid: fb80204f-98b6-44c5-af82-f9369ffb7d35-->