<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Syncfusion.TenantManagement.Core.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\ums" hostingModel="outofprocess" requestTimeout="00:20:00" />
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="2097151" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <!--<appSettings>
  <add key="i18n.WhiteList" value="*.cs;*.cshtml;*.sitemap;*.js" />
    <add key="i18n.BlackList" value=".\wwwroot\scripts\angularjs;.\wwwroot\scripts\bootstrap;.\wwwroot\scripts\essentialjs;.\wwwroot\scripts\essentialjs2;.\wwwroot\scripts\jcrop;.\wwwroot\scripts\jquery;" />
    <add key="i18n.NuggetBeginToken" value="[[[" />
    <add key="i18n.NuggetEndToken" value="]]]" />
    <add key="i18n.NuggetDelimiterToken" value="||||" />
    <add key="i18n.NuggetCommentToken" value="////" />
    <add key="i18n.NuggetParameterBeginToken" value="(((" />
    <add key="i18n.NuggetParameterEndToken" value=")))" />
</appSettings>-->
</configuration>
<!--ProjectGuid: 15cc61ce-f756-40a6-a31e-8b689918b046-->
<!--ProjectGuid: f168abe8-6103-48f7-a82e-4a71f08cd82b-->