@using Syncfusion.Server.Base;
@using Syncfusion.Server.Base.DataClasses;
@using System.Net; 
@{
    var showBoldSignUp = ViewBag.IsBoldSign ?? false;
    var returnUrlAction = (ViewBag.ReturnURL != null ? "?returnUrl=" + WebUtility.UrlEncode(ViewBag.ReturnURL.ToString()) : "");
    var signUpBoldSignUrl = CloudAppConfig.TenantAppURL.TrimEnd('/') + "/bold-sign/register?plan=82";
}
<div class="bold-container">
    <div id="bold-sign-up">
        @if (showBoldSignUp)
        {
            <div class="col-xs-12 no-padding bold-provider">
                <button type="button" onclick="location.href='@signUpBoldSignUrl'" class="link-button button-style sign-up-button" id="bold-sign-signup">
                    <img alt="sign" src="@GlobalAppSettings.CdnDomain/static/logos/v1/@IconFileNames.BoldSign" />
                    <div id="sign-login-text">Sign Up</div>
                </button>
            </div>
        }
    </div>
</div>