<script>
    var Server = {
        App: {
            LocalizationContent: {
                //Words present in more files
                PasswordMismatch: "[[[Password mismatch]]]",
                AvoidSpecialCharactors: "[[[Please avoid special characters]]]",
                EnterPassword: "[[[Please enter the password]]]",
                PasswordRule1: "[[[Password must meet the following requirements. It must contain,]]]",
                PasswordRule2: "[[[at least 6 characters]]]",
                PasswordRule3: "[[[1 uppercase]]]",
                PasswordRule4: "[[[1 lowercase]]]",
                PasswordRule5: "[[[1 numeric]]]",
                PasswordRule6: "[[[1 special character]]]",
                UserNameValidator: "[[[Please enter username]]]",
                PasswordValidator: "[[[Please enter password]]]",
                NewPasswordValidator: "[[[Please enter new password]]]",
                InvalidPasswordValidator: "[[[Please enter a valid password]]]",
                SettingsSuccessAlert: "[[[Settings has been updated successfully.]]]",
                SettingsWarningAlert: "[[[Error while updating settings.]]]",
                UpdatePassword: "[[[Update Password]]]",
                PasswordSuccess: "[[[Password has been updated successfully.]]]",
                PasswordFailure: "[[[Error occurred while updating password. Please try again later.]]]",
                IsValidEmail: "[[[Invalid email address]]]",
                InvalidUsername: "[[[Username can contain letters, numbers, hyphen, underscore and period.]]]",
                UsernameExceeds: "[[[Username should be between 3 to 254 characters.]]]",
                BrowseProfileImagePath: "[[[Browse file path]]]",
                BrowsePath: "[[[Browse file path]]]",
                Categoryvalidator: "Please enter category name",
                IsCategoryExist: "Category name already exists",
                Delete: "[[[Delete]]]",
                Collapse: "Collapse",
                ClicktoView: "[[[Click to view]]]",
                ClicktoHide: "[[[Click to hide]]]",

                //Account.js
                LoginUsernameEmailValidator: "[[[Please enter username or email address]]]",
                AccessDenied: "[[[Access is denied]]]",
                SeviceUnAvailable: "[[[Service UnAvailable]]]",
                AccountNotActivated: "[[[Your account is not yet activated]]]",
                DownloadDataFailure: "Unable to download your data",
                Copysuccess: "Copied",
                PasswordCopy: "Click to copy",

                //EditProfile.js
                Language: "[[[Application Language]]]",
                DataLanguage: "[[[Data Language]]]",
                IsValidEmailAddress: "[[[Please enter a valid email address]]]",
                ItemNameValidator: "[[[Please enter the name]]]",
                PhoneNumberValidator: "[[[Please enter the valid phone number]]]",

                //Server.Core.js
                UserNameWhiteSpaceValicator: "[[[Username should not contain white space]]]",
                HasWhiteSpace: "[[[Username should not contain white space]]]",
                YesButton: "[[[Yes]]]",
                NoButton: "[[[No]]]",
                OKButton: "[[[OK]]]",
                Save: "[[[Save]]]",
                Cancel: "[[[Cancel]]]",
                ChangeAvatar:"[[[Change Profile Picture]]]",
                DeleteAvatar: "[[[Delete Profile Picture]]]",
                DeleteAvatarSuccess: "[[[Profile picture has been deleted successfully.]]]",
                DeleteAvatarTitle: "[[[Delete Avatar]]]",
                DeleteAvatarError: "[[[Error in deleting profile picture.]]]",
                NoRecords: "No records to display",
                SearchKeyStart: "StartsWith",
                SearchKeyEnd: "EndsWith",
                SearchKeyContanins: "Contains",
                SearchKeyEqual: "Equal",
                SearchKeyNotEqual: "NotEqual",
                SearchValue: "Filter Value",
                Search: "Filter",
                ClearSearch: "Clear",
                PageCount: "{0} of {1} pages ({2} items)",
                FirstPage: "Go to first page",
                LastPage: "Go to last page",
                NextPage: "Go to next page",
                PreviousPage: "Go to previous page",

                //Home.js
                NoUsers: "No users found.",
                ServerError: "Server Error",
                UnableToRetriveUsers: "Unable to retrieve the recently logged in users.",

                //Login.js
                ConfirmNewPassword: "[[[Please confirm new password]]]",
                EmailValidator: "[[[Please enter email address]]]",
                LoginButton: "[[[Log In]]]",
                InvalidAccount: "[[[Unable to find your account]]]",
                NotActivated:"[[[User account not yet activated]]]",
                ContinueButton: "[[[Continue]]]",

                //Changepassword.js
                OldPasswordValidator: "[[[Please enter your old password]]]",
                CompanyNameValidator: "Please enter your company name",

                //UserManagementProfile.js
                ResendActivationCode: "[[[Resend Activation Code]]]",
                ActivationCodeNotSend: "[[[Activation code has been generated successfully. As email settings are not configured we are not able to send activation email to the user.]]]",
                ConfigureMail: "[[[Please click here to configure the email settings.]]]",
                ActivationCodeSent: "[[[Activation code has been sent successfully.]]]",
                Active: "Active",
                UserActivated: "User account has been activated successfully.",
                UserAccountClosed: "Delete Account",
                UserAccountCancelClose: "Reactivate Account",
                UserAccountClosedFailure: "Internal server error. Please try again.",
                UserAccountClosedSuccess: "We have logged your request to delete your account and it will be deleted after 72 hours automatically. We will redirect you to login page shortly. If you want to retain your account, please login again to cancel your request.",

                //Usermanagement.js
                AddUser: "Add User",
                ImportCSV: "Import users from CSV",
                ImportFileValidator: "There is no data in the uploaded file. Please check and try uploading again.",
                IsEmailExist: "[[[Email already exists]]]",
                IsUserNameExist: "[[[Username already exists]]]",
                UserAddedActivatedSuccess: "User has been added and activated successfully.",
                UserAddedSuccess: "User has been added successfully.",
                UserAddedNotActivated: "User has been created successfully. Activation emails cannot be sent until the user’s email settings are configured.",
                DeleteUser: "Delete User(s)",
                UserDeleteSuccess: " User(s) has been deleted successfully.",
                UsersDeleteSuccess: "Failed to delete user(s), please try again later.",
                ChangeAutomaticActivation: "To send account activation email to the user, please configure email settings or change the account activation mode as Automatic Activation.",
                ImportIncomplete: "User import incomplete. Do you want to continue?",
                DuplicatedData: "Duplicate or Invalid data is found. Please change the data accordingly and re-upload the file.",
                UserDeleteFailed: "Failed to delete user, please try again later.",
                UsersAddedSuccess: " user(s) has been added successfully.",
                UserDeletedSuccess: "User has been deleted successfully.",

                //EditProfile.js
                EmailAddressValidator: "[[[Please enter your email address]]]",
                FirstNameValidator: "[[[Please enter your first name]]]",
                ChangeAvatar: "[[[Change Profile Picture]]]",
                AvatarUpdateSuccess: "[[[Profile picture has been saved successfully.]]]",
                AvatarUpdateError: "[[[Failed to update the Profile picture, try again later.]]]",
                AvatarDelete: "[[[Are you sure you want to delete the profile picture?]]]",
                UploadSelect: "[[[No file selected.]]]",
                UpdateProfile: "[[[Update Profile]]]",
                BrowseImage: "[[[browse image path]]]",
                Browse: "[[[Browse]]]",
                InvalidFileFormat: "[[[Invalid file format]]]",
                NoDefaultHomepage: "[[[No default Homepage]]]",
                UpdateAccountPreference: "[[[Update Account Preference]]]",

                //UpdateCard.js
                UpdateCardTitle: "Update Card",
                UpdateCardSuccess: "The card has been updated successfully.",
                UpdateCardFailed: "Failed to update the card.",
                UpdateBillingAddressSuccess: "The billing address has been updated successfully.",
                UpdateBillingAddressFailed: "Failed to update billing address.",
                Expires: "EXPIRES",
                FullnameValidator: "Please enter your full name",
                AddressValidator: "Please enter your address",
                CityValidator: "Please enter your city",
                StateValidator: "Please enter your state",
                ZipValidator: "Please enter your ZIP/postal code",
                NameonCardValidator: "Please enter your name on card",
                EmailValidator: "Please enter your email address",
                CountryValidator: "Please select your country",
                PhoneValidator: "Please enter your phone number",
                IsValidPhone: "Please enter a valid phone number",
                CardDetailsValidator: "Please complete your card details",
                RetryPaymentTitle: "Retry payment",
                RetryPaymentWait: "We have initiated the payment for your subscription and are waiting for approval. Please wait…",
                RetryPaymentSuccess: "Payment for your subscription has been successful. We will now refresh the page for you to continue.",
                RetryPaymentFailDescription1: "Payment for your subscription has failed for the following reason: ",
                RetryPaymentFailDescription2: "More details </a>. Please check the details on the reported error and try again later.",
                RetryPaymentFailDescription3: "Payment for your subscription failed, please try again.",
                UpdateBillingAddressTitle: "Update Billing Address",
                BillingAddressNotChanged: "No changes were made",
                Payments: "Payments",
                AddPaymentDetailSuccess: "Payment details for your subscription have been added successfully.",

                //LicenseSettings.js
                Subscribe: "Subscribe",
                MonthOnly: "month",
                ChoosePlan: "Choose Plan",
                UpdatedPlanSuccess: "Plan updated successfully.",
                SubscriptionPlan: "Subscription & Plan",
                SubscriptionUpdated: "Subscription Updated",
                SubscriptionPlanFailure: "Unable to reload the subscription plan. Internal server error. Please try again later.",
                ReactivateSubscritpionSuccess: "Reactivated subscription successfully.",
                ChoosePlanFailure: "Unable to process your plan. Internal server error. Please try again.",
                ApplyKCCouponSuccess: "Free subscription benefits activated successfully.",
                CancelSubscriptionSuccess: "Canceled subscription successfully",
                GetUpdatePlanFailure: "Unable to get the plans. Internal server error. Please try again.",
                ReactivateSubscription: "Reactivate my subscription",
                CancelSubscription: "Cancel my subscription",
                ReactivateSubscritpionFailure: "Unable to reactivate your subscription. Internal server error. Please try again later.",
                CancelSubscritpionFailure: "Unable to cancel your subscription. Internal server error. Please try again later.",
                ConnectYourSyncfusionAccount: "Connect your syncfusion account",
                ApplyCouponFailed: "Failed to apply your coupon. Please try again.",
                InvalidBusinessEmail: "We require a business email account for the free plan.",
                UpdateTenantInformation: "Update Tenant Information",
                PortalNameValidator: "Please enter your portal name",
                PortalUrlValidator: "Please enter your portal url.",
                UpdateTenantInformationFailed: "Failed to update Tenant",
                UpdateTenantInformationSuccess: "Tenant has been updated successfully.",
                InvalidPortalName: "Invalid Portal Name",
                TenantDetailsNotChanged: "No changes were made",
                Subscription: "Subscription",
                UpdateSubscriptionSuccess: "Subscription updated successfully.",
            }
        }
    };
</script>