<div id="login-disclaimer-dialog" class="fluent-popup custom-bootstrap-styles custom-server-style">
    <div class="fluent-popup-header">
        <h4 class="popup-title">
            <span id="info-dialog-header">@ViewBag.LoginDisclaimer.Title</span>
            <button id="close-info-dialog" type="button" title="Close" data-bs-toggle="tool-tip" data-container="body" class="close popup-close" aria-label="Close">
                <span class="su su-close"></span>
            </button>
        </h4>
    </div>
    <div class="fluent-item-popup-body">
        <div id="consent-message">
            <p class="item-info-name">
                @Html.Raw(@ViewBag.LoginDisclaimer.Message)
            </p>
        </div>
    </div>
    <div class="fluent-popup-footer">
        <div class="col-12 ng-hide">
            <button class="secondary-button" id="close-button" title="">@T["Close"]</button>
        </div>
    </div>
</div>




