<div id="avatar-upload-box"></div>

<div id="avatar-upload-box-content">
    <div class="no-padding input-group image-path">
        <input type="file" id="fileupload" name="UploadFiles">
    </div>
    <div class="image-message">
            <span class="image-validation-message"></span>
        </div>
    <div class="col-md-6 no-padding" id="file-description">
        <div id="file-description-content">
            <ul>
                <li class="content">[[[Allowed file types are .png, .jpg, and .jpeg.]]]</li>
                <li class="content">[[[Maximum file size is 20MB.]]]</li>
                <li class="content last">[[[Recommended resolution is 200x200 pixels.]]]</li>
            </ul>
        </div>
    </div>
    <div class="image-selection-holder">
        <div>
            <div class="img-container">
                <div id="image-preview-text">[[[Image Preview]]]</div>
                <img id="profile-picture" style="background-repeat: no-repeat; display:none;" src="" />
                <input type="hidden" name="LeftOfCropArea" value="" />
                <input type="hidden" name="TopOfCropArea" value="" />
                <input type="hidden" name="LeftToCropArea" value="" />
                <input type="hidden" name="TopToCropArea" value="" />
                <input type="hidden" name="height" value="" />
                <input type="hidden" name="width" value="" />
            </div>
        </div>
    </div>
</div>

<style>
    [contentEditable=false]:empty:not(:focus):before {
        content: attr(data-text);
    }
</style>
