@using Microsoft.AspNetCore.Http.Extensions
@{
    var requestUri = new Uri(Context.Request.GetDisplayUrl());
    var currentUrl = requestUri.LocalPath.TrimEnd('/');
    var manageLicenseUrl = Url.Action("LicenseSettings", "Subscription");
    var uypdateCardUrl = Url.Action("GetCardDetail", "Payment");
}

<nav id="admin-nav">
    <ul>
        <li class="mobile-hidden">
            <a id="license-settings-link" class="admin-menu-item @(currentUrl.IndexOf(manageLicenseUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@manageLicenseUrl" role="tab">
                <i class="su su-license-settings"></i>
                <span>[[[Subscription]]]</span>
            </a>
        </li>
        <li>
            <a id="payment-link" class="admin-menu-item @(currentUrl.IndexOf(uypdateCardUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@uypdateCardUrl" role="tab">
                <i class="su su-dollar"></i>
                <span>[[[Payments]]]</span>
            </a>
        </li>
    </ul>
</nav>
