@import "../../core/_typography.scss";
@import "../../themes/_light.scss";

#custom-attribute-dialog {
    .e-dlg-header-content {
        height: 44px;
        padding: 12px 8px 11px 12px;

        .e-dlg-header {
            .custom-dialog-header {
                color: $primary-text-color;
                font-size: map-get($app-text-size, md);
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: 0.3px;
            }
        }

        .e-dlg-closeicon-btn {
            margin: 4px 0 0 0;
            height: 20px;
            padding: 0px;
            width: 20px;

            .e-btn-icon {
                color: $icon-color;
                float: right;
                font-size: map-get($app-text-size, md) + 1;
                line-height: 25px;

                &:hover {
                    color: $icon-hover-color;
                }
            }
        }
    }

    .e-dlg-content {
        padding: 18px;
    }

    .custom-attribute-label {
        color: $primary-text-color;
        font-size: map-get($app-text-size, sm) + 1;
        font-weight: normal;
        margin-top: 7px;
    }

    .custom-attribute-input {
        height: 28px !important;
    }

    .custom-attribute-div {
        margin: 0 14px 0 2px;
        padding: 0;

        input, textarea {
            margin-bottom: 15px;
            resize: vertical;
            padding: 4px 10px;
            width: 460px;
        }

        textarea {
            height: 74px;
        }
    }

    ::-webkit-input-placeholder {
        color: $separator-color;
        font-size: map-get($app-text-size, sm);
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
    }

    :-moz-placeholder {
        color: $separator-color;
        font-size: map-get($app-text-size, sm);
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
    }

    ::-moz-placeholder {
        color: $separator-color;
        font-size: map-get($app-text-size, sm);
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
    }

    .custom-attribute-div:last-child {
        margin-bottom: 0;
    }

    .material-checkbox + input + label {
        color: $primary-text-color;
        font-weight: normal;
        height: 28px;
        padding: 7px 0 0 22px !important;
    }

    .material-checkbox:checked + input + label::before {
        bottom: 12px !important;
        left: 1px !important;
    }

    .e-footer-content .e-btn {
        font-size: map-get($app-text-size, sm);
        font-weight: bold;
        height: 28px;
        line-height: 25px;
        margin-left: 16px;
        min-width: 80px;
    }

    .has-error {
        border-color: $danger;
    }

    #name-plugin-validation, #custom-name-validation, #value-plugin-validation, #custom-value-validation {
        color: $danger;
        float: left;
        margin-top: -15px;
        font-size: map-get($app-text-size, sm);
        position: absolute;
    }
}

#SiteAttributesGrid, #AddSiteAttributesGrid {

    .e-gridcontent {

        .e-rowcell {
            position: static !important;
            padding-left: 18px;
            text-overflow: ellipsis;

            .dropdown {
                position: absolute !important;

                .dropdown-menu {
                    left: -140px;
                    margin-top: 5px;
                    padding: 5px 0px;

                    li a {
                        padding: 5px 10px !important;

                        .menu-text {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .user-hover-options {
        #edit-site-attribute, #remove-site-attribute {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.validation-errors {
    color: $danger;
    font-size: map-get($app-text-size, sm);
    position: absolute;
    bottom: -5px;
}