@import "_typography.scss";
@import "_variables.scss";
@import "../themes/_light_cloud.scss";

$resolutions: (below-1400: 0, above-1400: 1400);

/*@each $current-resolution, $current-resolution-value in $resolutions {
    @media screen and (min-width: $current-resolution-value+px) {
        @if ($current-resolution-value < 1400) {
            .resolution-font-size {
                font-size: map-get($app-text-size, sm);
            }

            .resolution-element-height {
                height: map-get($input-height, md);
            }
        }
        @else {
            .resolution-font-size {
                font-size: map-get($app-text-size, md);
            }

            .resolution-element-height {
                height: map-get($input-height, lg);
            }
        }

        body {
            @extend .resolution-font-size;

            .form-control, .bootstrap-select .btn {
                @extend .resolution-font-size;
                @extend .resolution-element-height;
            }

            .dropdown-menu .inner {
                @extend .resolution-font-size;
            }

            .validation-txt-errors {
                font-size: map-get($app-text-size, sm);
                color: $validation-text-color;
            }
        }
    }
}*/
