// Buttons

$input-height: ( md: 28px, lg: 32px );
$button-height: ( md: 28px, lg: 32px );

//Font-size
// Resolution <= 1366px

$app-text-size: ( xs: 10px, sm: 12px, md: 14px, lg: 16px );
$header-text-size: map-get($app-text-size, sm) + 1;
$label-text-size: map-get($app-text-size, sm) + 2;
$dialog-header-text-size: map-get($app-text-size, sm) + 4;
$info-text-size: map-get($app-text-size, sm) - 2;
$button-text-size: map-get($app-text-size, sm);