@import "../../core/_typography.scss";
@import "../../core/_variables.scss";
@import "../../themes/_light.scss";
@import "../../mixins/_border-radius.scss";

#item-settings-dialog {
    border-radius: 0;

    .e-dlg-header-content {
        font-size: map-get($app-text-size, lg);
        height: 44px;
        line-height: 25px;
        padding: 8px 0px 8px 12px;

        .e-dlg-header {
            font-size: map-get($app-text-size, lg);
            font-weight: 600;

            .dialog-header-title {
                font-weight: bold;
                font-size: map-get($app-text-size, lg);
                line-height: 15px;
                margin-left: 5px;
            }

            .dashboard-item-name {
                font-size: map-get($app-text-size, sm);
                line-height: 13px;
                margin: 3px 0 0 5px;
            }
        }

        .e-dlg-closeicon-btn {
            height: 25px;
            margin: 6px 6px 0 0;
            padding: 0px;
            width: 35px;

            .e-btn-icon {
                color: $icon-color;
                float: right;
                font-size: map-get($app-text-size, lg) + 1;
                line-height: 25px;

                &:hover {
                    color: $icon-hover-color;
                }
            }
        }

        .su-shield {
            display: inline;
            font-weight: normal;
            line-height: 25px;
            margin: 0 5px;
        }
    }

    #itemsettings-dialog-content {
        .security-info {
            display: block;
            font-size: map-get($app-text-size, md);
            margin-bottom: 20px;
        }

        .item-settings-content-list {
            margin: 0 0 20px 0;

            p {
                font-weight: bold;
                margin-bottom: 3px;
            }

            .focused {
                border: 1px solid $blue;
            }

            .domain-overflow {
                height: 150px;
                overflow-y: scroll;
            }
        }

        .item-settings-input {
            border: 1px solid $separator-color;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0,0,0,.075);
            cursor: text;
            display: block;
            min-height: 75px;
            max-height: 150px;
            overflow-y: auto;
            width: 100%;

            .item-settings-chip {
                display: inline;
                padding: 0px;

                .e-chip{
                   border-color:$white;
                }

                .e-chip-text {
                    max-width: 215px;
                }
            }

            .item-settings-content {
                border: none;
                box-shadow: none !important;
                display: inline-block;
                min-width: 30%;
                max-width: 100%;
                padding-left: 4px;
                transition: none;
            }

            ::-webkit-input-placeholder {
                font-size: map-get($app-text-size, md) + 1;
            }

            ::-moz-placeholder {
                font-size: map-get($app-text-size, md) + 1;
            }

            :-moz-placeholder {
                font-size: map-get($app-text-size, md) + 1;
            }

            :-ms-input-placeholder {
                font-size: map-get($app-text-size, md) + 1;
            }
        }

        .ip-address-validation, .domain-name-validation {
            color: $danger;
            float: left;
            margin: 5px 0;
            font-size: map-get($app-text-size, md);
            position: absolute;
        }

        .chip-validation {
            border-color: $danger !important;
        }

        #item-settings-container {
            margin: 30px 0 10px 0px;
            width: 100%;

            .item-settings-label {
                float: left;
                font-weight: 400;
                font-size: map-get($app-text-size, md) + 1;
                letter-spacing: 0.3px;
                line-height: 18px;
                overflow: hidden;
                padding: 0px;
                vertical-align: middle;
            }

            .dropdown-menu {
                top: -350%;
            }

            .item-settings-dropdown {
                display: inline-block;
                width: 63%;
                margin-top: -20px;
                padding-left: 5px;

                .btn-group {
                    padding: 0;
                    margin-left: 10px
                }
            }
        }
    }

    .e-footer-content {
        .e-btn {
            font-size: map-get($app-text-size, md);
            font-weight: bold;
            height: 28px;
            line-height: 25px;
            min-width: 80px;
        }
    }
}