@{
    ViewBag.Title = "Access Denied";
    ViewBag.MessageBox = false;
}

@section scripts{
    @Scripts.Render("~/scripts/bootstrapjs")
}

@section MainSection{
    <h2>[[[Access Denied]]]</h2>    
}
