@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Syncfusion Cloud Management - Access Denied</title>
    <link rel="icon" href="@GlobalAppSettings.CdnDomain/static/company/@GlobalAppSettings.Branding/logo/v1/@IconFileNames.Favicon" />
    @Styles.Render("~/styles/layout")
    @Styles.Render("~/styles/error-page")
</head>
<body>
    <div class="base-container-bg">
        <div class="base-conatiner" id="base-conatiner">
            <div id="main-div">
                <div class="app-logo">
                    <img alt="Login Logo" src="@GlobalAppSettings.CdnDomain/static/company/@GlobalAppSettings.Branding/logo/v1/@IconFileNames.LoginLogo" />
                </div>
                <div class="secondary-div">
                    <div class="page-title">
                        Access Denied
                    </div>
                    <div class="page-content">You do not have permission to view this page.</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>