$nav-icon-height: 36px;
$nav-icon-width: 44px;
$separator-height: 25px;
$separator-width: 40px;
$nav-border: 1px solid #dce1e5;
$nav-designer-border: 1px solid #c8c8c8;
$close-icon-size: 15px;

// Resolution <= 1366px
$header-height: 40px;
$menu-height: 40px;
$menu-width: 80px;
$textbox-height: 28px;
$grid-row-height: 35px;

// Resolution >= 1366px

$header-lg-height: 50px;
$menu-lg-height: 50px;
$menu-lg-width: 80px;
$textbox-lg-height: 32px;
$grid-row-lg-height: 40px;

//Resolution >= 1041px and <=1399px

$menu-sm-width: 60px;
$menu-sm-text-size: 8px;
$menu-sm-icon-size: 13px;
$menu-sm-height: 40px;
