@{
    var globalAppSettings = _globalAppSettings;
    ViewBag.Title = "[[[Published Resources]]] - " + globalAppSettings.SystemSettings.OrganizationName;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}

@section MainSection{
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/published-items.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/published-items.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/published-items.min.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/published-items.min.js"></script>
    </environment>
    <script>
        var publishedItemDetails = @Html.Raw(Json.Serialize(ViewBag.PublishedItemDetails));
        var synchronizeSitesUrl = "@Url.Action("SynchronizePublishedItem", "Publish")";
        var removePublishedItemUrl = "@Url.Action("RemovePublishedItem", "Publish")";
    </script>

    <div id="base-container" class="col-xs-12 admin-page-container ">
        <div class="col-lg-12 admin-page-header">
            <div class="col-xs-12 no-padding" id="user-title">
                <h1 class="pull-left col-lg-6 no-padding page-title">
                    [[[PUBLISHED RESOURCES]]]
                </h1>
            </div>
        </div>
        <div id="user-list-container" class="list col-xs-12 admin-page-body">
            <div id="search-area" class="pull-right">
                <input type="text" class="pull-left" id="search-published-items" placeholder="[[[Search resources]]]" />
                <span class="su su-inner-close close-icon pull-left" id="clear-search" title="[[[Clear search]]]"></span>
                <span class="su su-search search-user pull-left" title="[[[Search]]]"></span>
            </div>
            <div class="col-xs-12 no-padding ">
                <div class="control-section">
                    <div class="content-wrapper">
                        <script type="text/x-jsrender" id="options">
                            <div class="dropdown">
                                <span class="dropdown-toggle option-icon" title="[[[Actions]]]" data-toggle="dropdown">
                                    <span class="su su-options"> </span>
                                </span>
                                <ul class="dropdown-menu" role="menu">
                                    {{if PublishJobHistory[0].Status == "Failed" || PublishJobHistory[0].Status == "Success"}}
                                    <li class="menu-group">
                                        <a href="javascript:void(0);" title="[[[Syncronize]]]" onclick="onConfirmSynchronizeDialog()">
                                            <i class="su su-synchronize"></i>
                                            <span class="menu-text">[[[Synchronize]]]</span>
                                        </a>
                                    </li>
                                    {{/if}}
                                    <li class="menu-group">
                                        <a href="javascript:void(0);" title="[[[Info]]]" onclick="openPublishInfo()">
                                            <i class="su su-info"></i>
                                            <span class="menu-text">[[[Info]]]</span>
                                        </a>
                                    </li>
                                    <li class="menu-group">
                                        <a href="javascript:void(0);" title="[[[Publish History]]]" onclick="publishHistoryDialog()">
                                            <i class="su su-versions"></i>
                                            <span class="menu-text">[[[Publish History]]]</span>
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="menu-group">
                                        <a href="javascript:void(0);" title="[[[Remove]]]" onclick="showRemoveConfirmation()">
                                            <i class="su su-delete"></i>
                                            <span class="menu-text">[[[Remove]]]</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </script>
                        <script type="text/x-jsrender" id="dashboard-template">
                            <div class="item-dashboard grid-content" title="{{:Name}}" data-toggle="tooltip" data-placement="top">
                                <span><a class="grid-content" href="@Url.Action("Dashboards", "Dashboards")/{{:ItemId}}/{{:CategoryName}}/{{:Name}}" target="_blank">{{:Name}}</a></span>
                            </div>
                        </script>
                        <script type="text/x-jsrender" id="status-template">
                            {{if PublishJobHistory[0].Status == "Started"}}
                            <div class="item-dashboard grid-content" title="[[[Started]]]" data-toggle="tooltip" data-placement="top">
                                <span>[[[Started]]]</span>
                            </div>
                            {{else PublishJobHistory[0].Status == "InProgress"}}
                            <div class="item-dashboard grid-content" title="[[[In Progress]]]" data-toggle="tooltip" data-placement="top">
                                <span>[[[In Progress]]]</span>
                            </div>
                            {{else PublishJobHistory[0].Status == "Success"}}
                            <div class="item-dashboard grid-content" title="[[[Success]]]" data-toggle="tooltip" data-placement="top">
                                <span>[[[Success]]]</span>
                            </div>
                            {{else}}
                            <div class="item-dashboard grid-content" title="[[[Failed]]]" data-toggle="tooltip" data-placement="top">
                                <span>[[[Failed]]]</span>
                            </div>
                            {{/if}}
                        </script>
                        <script id="grouping-synchronize-template" type="text/x-jsrender">
                            {{:key}}
                            <button class="btn display-none synchronize-button" onclick="onConfirmSynchronizeAllDialog(event)"><i class="su su-synchronize synchronize-icon-container"></i>[[[Synchronize]]]</button>
                        </script>
                        <div id="PublishItemGrid"></div>
                        @await Html.PartialAsync("_PublishHistory")
                        @await Html.PartialAsync("_PublishInfo")
                        <div id="publish-remove-container" class="display-none">
                            <div class="col-lg-12 modal-header">
                                <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11 no-padding">
                                    <span class="header-icon col-xs-1 no-padding"><i class="su su-delete"></i></span>
                                    <span class="modal-title popup-title schedule-popup-title ellipsis col-lg-11 col-xs-11 col-sm-11 col-md-11 no-padding" data-toggle="tooltip" data-placement="bottom" data-container="body"><b>[[[Remove Published Dashboard]]]</b></span>
                                </div>
                                <div class="col-lg-1 col-xs-1 col-sm-1 col-md-1 no-padding">
                                    <a href="javascript:void(0);" title="[[[Close]]]" class="popup-close pull-right" onclick="hideRemoveConfirmation()"><span class="su su-close"></span></a>
                                </div>
                            </div>
                            <div class="col-lg-12 modal-body">
                                <p>
                                    Are you sure you want to remove the published dashboard?<br /><br />
                                    <b>Note:</b> Removing the published dashboard does not remove the dashboard in the published site.
                                </p>
                            </div>
                            <div class="col-lg-12 modal-footer">
                                <input type="button" class="app-button app-secondary-button pull-right popup-close" value="[[[No]]]" onclick="hideRemoveConfirmation()" tabindex="-1" />
                                <input type="button" class="app-button app-critical-action-button pull-right popup-close" value="[[[Yes]]]" onclick="removePublishedItem()" tabindex="-1" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
