// Primary Variables

$primary-color: var(--colorPrimary);
$primary-text-color: var(--colorText);
$validation-text-color: var(--danger);
$success-text-color: var(--success);
$blue-lighter: #dbe9ff;

////Grey Colours
$grey-900: #1a1a1a;
$grey-800: #333333;
$grey-700: #4d4d4d;
$grey-500: #808080;
$grey-400: #999999;
$grey-300: #b3b3b3;
$grey-200: #cccccc;
$grey-100: #e6e6e6;
$grey-80: #eeeeee;
$grey-60: #f2f2f2;
$grey-40: #f9f9f9;
$text-gray: $grey-800;
$sub-text-color: $grey-500;

// Warning colors
$warning-900: #fff8ee;
$warning-800: #ffebcf;

////Secondary Colours
$danger: var(--danger);
$success: var(--success);

$orange: #ff9503;
$yellow: #ffcc01;
$blue-secondary: #007aff;
$primary-border: #0851d0;
$hover-blue: $blue-secondary;

$black: #333;
$white: #fff;
$browser-default-select-color-ej2-custom: #3297FD;

// Input Box
$input-box-disabled: $grey-80;
$input-box-border-disable-color: $grey-200;
$input-box-text-normal-color: $primary-text-color;
$input-box-text-disable-color: $grey-300;

// Login Page
$login-bg: $grey-800;
$placeholder-color: $grey-300;
$border-color: $grey-200;

// Popup
$bg-color: #383838;

// Admin Page
$backgroud: var(--background);
$admin-container-bg: var(--background);
$admin-page-bg: var(--surface);
$admin-body-border-color: $grey-80;
$admin-pages-border-color: $grey-80;

//Grid Variables

$grid-header-bg: var(--background);
$grid-content-bg: $grid-header-bg;
$grid-footer-bg: $grid-header-bg;

$grid-border-color: $admin-pages-border-color;
$grid-hover-color: $grey-80;
$grid-active-color: $primary-color;

$grid-header-color: $sub-text-color;
$grid-text-color: $primary-text-color;
$grid-link-color: $primary-color;

$item-panel-bg: $grey-700;
$item-search-bg: $grey-900;
$AuthorColor: $grey-300;
$ad-icon-color: $grey-500;

//Main Menu Variables

$menu-bg: $grey-800;
$menu-active-bg: $primary-color;
$menu-icon-color: $grey-200;
$menu-hover-color: $grey-700;
$menu-active-icon-color: $white;
$menu-btn-hover-color: $grey-700;

//Sub Menu

$menu-hover-text-color: $grey-80;
$menu-active-text-color: $primary-color;

//Header Variables

$header-bg: $grey-800;
$header-bg-color: $grey-80;
$header-text-color: $grey-80;
$header-height: 40px;
$unread-notification-color: $danger;

//Button Variables
$btn-min-width: 90px;
$btn-height-normal: 28px;
$btn-height-large: 34px;
$filter-btn-min-width: 75px;
$primary-btn-bg: $primary-color;
$primary-btn-hover: $blue-secondary;
$primary-btn-text-color: $white;
$primary-btn-disabled-color: $grey-400;
$primary-btn-disabled-bg: $grey-40;
$secondary-btn-bg: var(--colorSecondary);
$secondary-btn-text-color: var(--colorOnSecondary);
$secondary-btn-border: $grey-80;
$secondary-btn-hover: $grey-40;
$danger-btn-bg: $danger;
$danger-btn-hover: var(--danger-border-red);
$submit-button-disabled: $grey-60;
$upload-box-button-bg: #FFFFFF;

// Profile Dialog
$profile-btn-text-color: $grey-500;
$profile-border-color: $grey-200;

//Dialog Box
$dialog-header-bgcolor: $white;
$dialog-body-bgcolor: $white;
$dialog-footer-bgcolor: $grey-60;
$footer-border-color: $grey-200;
$footer-primary-border-color: #0450ff;

//CSS Radio Button
$radio-border: $grid-border-color;
$radio-shadow: $white;
$radio-active: $primary-color;

//Dialog
//Dialog Box
$dialog-header-bg-normal-color: $backgroud;
$dialog-header-border-normal-color: $grey-100;
$dialog-footer-bg-normal-color: $backgroud;
$dialog-footer-border-normal-color: $grey-100;
$dialog-close-icon-color: $grey-500;

//Application Font Sizes
$label-font-size: 14px;
$info-font-size: 12px;
$validation-font-size: $info-font-size;

//Search area border
$search-border: $grey-200;

//Place holder
$placeholder-color: $grey-300;

//Schedule status icon color
$active-schedule-icon-color: $success;
$completed-schedule-icon-color: $orange;
$inactive-schedule-icon-color: $danger;

//Notification variables
$notification: $grey-80;

// Comments UserMention
$list-bg-color: $white;
$autocomplete-bg-color: $grey-80;

//focus style
$focus: #dbe9ff;

//Dashboard Views
$poup-close-hover-color: $primary-color;
$footer-border-color: $grey-200;
$search-bg-color: $white;
$add-background-border-color: $grey-80;
$delete-icon-color: $grey-800;

//Login Page
$external-button-border: $grey-200;

//OAuth Error Page
$warning-icon-color: $grey-500;
$error-text: $grey-700;

//Modal dialog
$dialog-footer-bg-color: $grey-40;
$dialog-border-color: $grey-80;

// Icons
$icon-color: $grey-700;
$icon-hover-color: $grey-900;

//Fluent Popup
$popup-header-bg: $grey-40;
$popup-footer-bg: $popup-header-bg;
$popup-header-border: $grey-80;
$popip-footer-border: $popup-header-border;

//Subscription
$subscription-horizontal-border: $grey-200;
$subscription-buy-additional-storage-option: $primary-color;
$additional-storage-font-color: $grey-800;
$additional-storage-border-color: $grey-80;
$additional-storage-table-bg-color: $grey-40;

//Custom Expression Editor
$overlay-color: $grey-500;

$home-page-bg: $white;
$scroller-bg: $grey-300;

// Link colors
$link-text-color: $primary-color;
$link-text-hover-color: #0050d1;

$bg-linear-gradient: linear-gradient(-215deg, #FBFEFF 0%, #EEF2F3 100%);

//LicenseSettings
$secondary-btn-border-color: $grey-300;
$subscription-btn-hover: #50b754;
$subscription-background: #4CAF50;

//Applications
$app-theme-blue: #1090D9;
$app-theme-green: #24C97C;
$app-theme-cyan: #019FA2;
$app-theme-gold: #F2AF47;
$app-theme-yellow: #F7E962;
$app-theme-red: #EB6A57;
$app-theme-indigo: #6655C8;

$admin-bg: $grey-40;

$regenerate-warning-bg: #F5DEB3;
$regenerate-warning-text: #D5853F;

$users-badge-bg: #1090D9;
$groups-badge-bg: #24C97C;
$app-badge-bg: #F2AF47;

//Tenant Status colors
$subscriptioncancelled: #9251ac;
$subscriptioncancelled-bg: #ffe0f5;
$markedforsuspension: #ce7c3a;
$markedforsuspension-bg: #fcf4b2;
$active: #159570;
$active-bg: #d6facf;
$trial: #555abf;
$trial-bg: #c4f0ff;

$bold-bg-color: #fffdfc;


$nav-menu-bg-color: var(--nav-menu-bg-color);
$nav-menu-text-color: var(--nav-menu-text-color);
$nav-menu-text-sec-color: var(--nav-menu-text-sec-color);
$nav-menu-content-color: var(--nav-menu-content-color);
$nav-menu-active-color: var(--nav-menu-active-color);
$nav-menu-active-text-color: var(--nav-menu-active-text-color);
$nav-menu-active-sec-color: var(--nav-menu-active-sec-color);
$nav-menu-active-content-color: var(--nav-menu-active-content-color);
$nav-menu-hover-color: var(--nav-menu-hover-color);
$nav-menu-hover-text-color: var(--nav-menu-hover-text-color);
$nav-menu-hover-text-sec-color: var(--nav-menu-hover-text-sec-color);
$nav-menu-hover-content-color: var(--nav-menu-hover-content-color);
$nav-menu-create-icon-bgcolor: var(--nav-menu-create-icon-bgcolor);
$nav-menu-separtor-icon-color: var(--nav-menu-separtor-icon-color);

$item-menu-bg-color: $nav-menu-bg-color;
$item-menu-section-bg-color: var(--item-menu-section-bg-color);
$item-menu-title-color: $nav-menu-text-color;
$item-menu-descrip-color: $nav-menu-text-sec-color;
$item-menu-hover-bg-color: var(--item-menu-hover-bg-color);
$item-menu-hover-border-color: var(--item-menu-hover-border-color);
$item-menu-hover-title-color: $nav-menu-hover-text-color;
$item-menu-hover-descrip-color: $nav-menu-hover-text-sec-color;

$nav-notification-menu-bg-color: $nav-menu-bg-color;
$nav-notification-items-hover-bg-color: $nav-menu-hover-color;
$nav-notification-heading-text-color: $nav-menu-text-color;
$nav-notification-sub-heading-text-color: $nav-menu-text-sec-color;
$nav-notification-content-text-color: $nav-menu-text-color;
$nav-notification-time-text-color: $nav-menu-text-sec-color;
$nav-notification-content-hover-text-color: $nav-menu-text-color;
$nav-notification-time-hover-text-color: $nav-menu-hover-text-sec-color;

//SubNavigationMenu
$sub-nav-menu-bg-color: $grey-40;
$sub-nav-menu-border-color: $grey-200;
$sub-nav-menu-hover-color: $grey-80;
$sub-nav-menu-content-text-normal-color: $grey-800;
$sub-nav-menu-content-bg-active-color: $blue-lighter;
$sub-nav-menu-content-text-active-color: $primary-color;
$sub-nav-menu-header-text-normal-color: $grey-800;
$sub-nav-menu-header-bg-color: $primary-color;
$sub-nav-menu-header-border-color: $primary-color;

//Profile page warning
$embed-warning-bg-normal-color: $warning-900;
$embed-warning-border-normal-color: $warning-800;