@model TenantInfo
@{
    var isConciergeUserAccess = ViewBag.ConciergeUser;
}
<script>
    var removeaccessurl = "@Url.Action("RemoveAccess", "TenantsManagement")";
    var grantaccessurl = "@Url.Action("GrantAccess", "TenantsManagement")";
</script>
<div role="tabpanel" class="tab-pane" id="tenant-concierge-tab">
    <div class="admin-page-body col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">

        <br />
        <div class="row input-field-wrapper">
            <div class="col-xs-8 field-container-dashboard bottom-width ">
                <div class="col-md-6 col-xs-4">
                </div>
                <div id="allow" class="col-md-2 notification-header">
                    <strong>Allow</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 field-container-dashboard">
                    <label id="text" class="col-md-6 col-xs-4 app-textbox-label activation">
                        Enable Concierge User Access
                    </label>
                    <div class="col-md-2 switch-align no-padding">
                        <span class="material-switch text-left">
                            <input type="checkbox" id="check" @(isConciergeUserAccess ? "checked" : "unchecked")>
                            <label for="check" class="label-primary"></label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input type="button" id="cancel" class="secondary-button pull-right" value="Cancel" onclick="window.location.reload()" />
        <input type="button" id="save" class="primary-button pull-right" value="Save" />
    </div>
</div>


