<script>
    var getFeedsTagUrl = "@Url.Action("GetActivityFeedsOnRequest", "TenantsManagement")";
    var tntInfoId = "@Model.TenantInfoId";
    var isLoadActivity = "@(ViewBag.IsLoadActivity != null && ViewBag.IsLoadActivity == true)".toLowerCase() === "true";
    var activityFeed = isLoadActivity ? @Html.Raw(Json.Serialize(ViewBag.TenantActivities)) : "";
</script>
<script src="~/bundles/js/tenant-activity.js" asp-append-version="true"></script>
<div role="tabpanel" class="tab-pane" id="tenant-activity-tab">
    <div class="admin-page-body col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="filters-container">
            <div class="daterangepicker-div filter-item-div">
                <label>Item Date</label>
                <input id="activity-daterange" />
            </div>
            <div class="event-filters-div filter-item-div">
                <label>Item Type</label>
                <input id="event-filter" />
            </div>
            <div class="status-filters-div filter-item-div">
                <label>Status</label>
                <input id="status-filter" />
            </div>
            <div class="record-count-div filter-item-div">
                <label>Records Count</label>
                <input id="record-count" />
            </div>
            <div class="reset-button-div filter-item-div">
                <input type="button" class="reset-filters" value="Reset" />
            </div>
            <div id="loader-div" class="filter-item-div">
            </div>
        </div>
        <div id="activity-feed-body">
        </div>

        <div id="error-notification-info" class="additional-content">
            <div>
                <h3>Unable to fetch the activity feeds</h3>
            </div>
        </div>
        <div id="more-notification-btn" class="additional-content">
            <div id="action-btn">
                <span class="su su-load-more"></span>
                <h6>LOAD MORE</h6>
            </div>
        </div>
        <div id="no-more-notification-info" class="additional-content">
            <div>
                <h3>No more activities found</h3>
            </div>
        </div>
        <div id="no-notification-info" class="additional-content">
            <div>
                <h4>No activities found</h4>
            </div>
        </div>
    </div>

    <div id="record-summary-div">
        <div id="records-summary">
        </div>
    </div>
</div>