@import "../mixins.scss";

.primary-button, .e-control.e-btn.e-flat.e-primary {
    @include button();
    background: $primary-button-bg-normal-color;
    border: 1px solid $primary-button-border-normal-color;
    color: $primary-button-text-normal-color !important;

    &:hover {
        background: $primary-button-bg-hover-color;
        border: 1px solid $primary-button-border-normal-color;
        color: $primary-button-text-hover-color !important;
    }

    &:disabled {
        background: $primary-button-bg-disable-color;
        border: 1px solid $primary-button-border-disable-color;
        color: $primary-button-text-disable-color !important;
    }
}

.secondary-button, .e-control.e-btn.e-flat {
    @include button();
    background: $secondary-button-bg-normal-color;
    border: 1px solid $secondary-button-border-normal-color;
    color: $secondary-button-text-normal-color;

    &:hover {
        background: $secondary-button-bg-hover-color;
        border: 1px solid $secondary-button-border-normal-color;
        color: $secondary-button-text-hover-color;
        outline: 0px;
    }

    &:disabled {
        background: $secondary-button-bg-disable-color;
        border: 1px solid $secondary-button-border-disable-color;
        color: $secondary-button-text-disable-color;
    }
}

.link-button {
    @include button();
    background: $link-button-bg-normal-color;
    border: 1px solid $link-button-border-normal-color;
    color: $link-button-text-normal-color;

    &:hover, &:focus {
        background: $link-button-bg-hover-color;
        border: 1px solid $link-button-border-hover-color;
        color: $link-button-text-hover-color;
    }
}

.critical-action-button, .e-control.e-btn.e-flat.e-primary.critical-action-button {
    @include button();
    background: $danger-button-bg-normal-color;
    border: 1px solid $danger-button-border-normal-color;
    color: $danger-button-text-normal-color !important;

    &:hover {
        background: $danger-button-bg-hover-color;
        color: $danger-button-text-hover-color !important;
    }
}