@import "../../default/default.scss";
@import "../mixins.scss";

.e-dlg-container {
    .e-dlg-header-content {
        height: 44px !important;
        padding: 0 !important;
        border-bottom: 1px solid $dialog-header-border-normal-color;
        background: $dialog-header-bg-normal-color;

        .e-dlg-closeicon-btn {
            position: static;

            &:hover, &:focus {
                background-color: transparent;
                border: 0;

                span {
                    color: $dialog-header-close-icon-hover-color;
                }
            }

            .e-icon-dlg-close {
                color: $dialog-header-close-icon-normal-color;
                font-size: 10px;
                right: 11px;
                position: absolute;
                font-size: 10px !important;
                margin: 0 10px 15px 200px;
            }
        }

        #messageBox_title {
            margin: 0 !important;
            padding-top: 15px;
        }

        .dlg-title, .e-dlg-header, .modal-title {
            padding: 10px;
            width: 300px !important;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.3px;
            color: $dialog-content-text-normal-color !important;
        }

        .e-dlg-header *{
            color: $dialog-content-text-normal-color !important;
        }

        .su {
            position: absolute;
        }

        .modal-title {
            position: absolute;
            top: 3px;
            left: 20px
        }

        .dlg-description {
            font-size: 13px;
            margin-top: -8px;
        }
    }

    .e-dlg-header-content + .e-dlg-content {
        padding-top: 18px;
    }

    .e-dlg-content, .modal-content {
        color: $dialog-content-text-normal-color;
        background-color: $dialog-content-bg-normal-color;

        .modal-footer {
            background: $dialog-footer-bg-normal-color !important;
            border-top: 1px solid $dialog-footer-border-normal-color !important;
        }
    }

    .e-footer-content {
        border-top: 1px solid $dialog-footer-border-normal-color;
        background: $dialog-footer-bg-normal-color;
        height: 43px !important;
        padding: 0px !important;

        .e-btn.e-lib.e-primary.e-flat {
            margin-right: 15px;
        }

        .e-btn {
            font-family: var(--font-family);
            text-transform: none;
        }

        .e-btn, .secondary-button {
            border: 1px solid $secondary-button-border-normal-color;
            margin: 8px 0 7px 0;
            padding: 0;
            @include dialogButton();
        }

        .e-btn.e-primary, .critical-action-button {
            margin: 8px 16px 7px 12px;
            padding: 0;
            @include dialogButton();
        }

        .secondary-button {
            margin: 8px 16px 7px 0 !important;
        }
    }
}

.dialog {
    @include dialogbox();
}

.bootstrap-select > .btn {
    font-size: $app-text-size;
}


.dialog.iframe {
    @include dialogbox();
}

.dialog.iframe {
    .bootstrap-select > .btn {
        font-size: $app-large-text-size;
    }
}

// -css for master site dialog box.
#master-site-change {
    #master-site-change_dialog-content {
        line-height: 2 !important;
        font-size: 13px !important;
    }

    .tenant-name {
        color: $link-text-color;
        font-style: italic;
    }

    .conform-message {
        display: block !important;
        margin-top: 20px !important;
    }
}