@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }
.e-dlg-container .e-dlg-header-content {
  height: 44px !important;
  padding: 0 !important;
  border-bottom: 1px solid var(--dialog-header-border-normal-color);
  background: var(--dialog-header-bg-normal-color); }
  .e-dlg-container .e-dlg-header-content .e-dlg-closeicon-btn {
    position: static; }
    .e-dlg-container .e-dlg-header-content .e-dlg-closeicon-btn:hover, .e-dlg-container .e-dlg-header-content .e-dlg-closeicon-btn:focus {
      background-color: transparent;
      border: 0; }
      .e-dlg-container .e-dlg-header-content .e-dlg-closeicon-btn:hover span, .e-dlg-container .e-dlg-header-content .e-dlg-closeicon-btn:focus span {
        color: var(--dialog-header-close-icon-hover-color); }
    .e-dlg-container .e-dlg-header-content .e-dlg-closeicon-btn .e-icon-dlg-close {
      color: var(--dialog-header-close-icon-normal-color);
      font-size: 10px;
      right: 11px;
      position: absolute;
      font-size: 10px !important;
      margin: 0 10px 15px 200px; }
  .e-dlg-container .e-dlg-header-content #messageBox_title {
    margin: 0 !important;
    padding-top: 15px; }
  .e-dlg-container .e-dlg-header-content .dlg-title, .e-dlg-container .e-dlg-header-content .e-dlg-header, .e-dlg-container .e-dlg-header-content .modal-title {
    padding: 10px;
    width: 300px !important;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: var(--dialog-content-text-normal-color) !important; }
  .e-dlg-container .e-dlg-header-content .e-dlg-header * {
    color: var(--dialog-content-text-normal-color) !important; }
  .e-dlg-container .e-dlg-header-content .su {
    position: absolute; }
  .e-dlg-container .e-dlg-header-content .modal-title {
    position: absolute;
    top: 3px;
    left: 20px; }
  .e-dlg-container .e-dlg-header-content .dlg-description {
    font-size: 13px;
    margin-top: -8px; }
.e-dlg-container .e-dlg-header-content + .e-dlg-content {
  padding-top: 18px; }
.e-dlg-container .e-dlg-content, .e-dlg-container .modal-content {
  color: var(--dialog-content-text-normal-color);
  background-color: var(--dialog-content-bg-normal-color); }
  .e-dlg-container .e-dlg-content .modal-footer, .e-dlg-container .modal-content .modal-footer {
    background: var(--dialog-footer-bg-normal-color) !important;
    border-top: 1px solid var(--dialog-footer-border-normal-color) !important; }
.e-dlg-container .e-footer-content {
  border-top: 1px solid var(--dialog-footer-border-normal-color);
  background: var(--dialog-footer-bg-normal-color);
  height: 48px !important;
  padding: 0px !important; }
  .e-dlg-container .e-footer-content .e-btn.e-lib.e-primary.e-flat {
    margin-right: 15px; }
  .e-dlg-container .e-footer-content .e-btn {
    font-family: var(--font-family);
    text-transform: none; }
  .e-dlg-container .e-footer-content .e-btn, .e-dlg-container .e-footer-content .secondary-button {
    border: 1px solid var(--secondary-button-border-normal-color);
    margin: 8px 0 7px 0;
    padding: 0;
    font-size: 13px;
    line-height: 0px;
    width: 80px;
    height: 28px; }
  .e-dlg-container .e-footer-content .e-btn.e-primary, .e-dlg-container .e-footer-content .critical-action-button {
    margin: 8px 16px 7px 12px;
    padding: 0;
    font-size: 13px;
    line-height: 0px;
    width: 80px;
    height: 28px; }
  .e-dlg-container .e-footer-content .secondary-button {
    margin: 8px 16px 7px 0 !important; }

.dialog .modal-dialog {
  margin: 0 auto;
  padding: 0;
  border-radius: 2px;
  color: var(--dialog-content-text-normal-color); }
  .dialog .modal-dialog .modal-content {
    border: none; }
    .dialog .modal-dialog .modal-content .modal-header {
      background: var(--dialog-header-bg-normal-color);
      padding: 10px;
      width: 100%;
      z-index: 9;
      float: left;
      margin: 0;
      border-bottom: medium none;
      height: 50px; }
      .dialog .modal-dialog .modal-content .modal-header .modal-title {
        font-size: 14px;
        padding: 0; }
      .dialog .modal-dialog .modal-content .modal-header a.close {
        color: #4d4d4d;
        float: right;
        font-size: 14px;
        margin: 0;
        opacity: 1;
        filter: none !important; }
        .dialog .modal-dialog .modal-content .modal-header a.close:hover {
          color: #1a1a1a; }
    .dialog .modal-dialog .modal-content .modal-body {
      background: var(--dialog-content-bg-normal-color);
      font-size: 12px;
      padding: 10px; }
    .dialog .modal-dialog .modal-content .modal-footer {
      background: var(--dialog-footer-bg-normal-color);
      border-top: 1px solid var(--dialog-footer-border-normal-color);
      padding: 10px; }
      .dialog .modal-dialog .modal-content .modal-footer .primary-button, .dialog .modal-dialog .modal-content .modal-footer .critical-action-button {
        margin-right: 10px; }
.dialog .e-scrollbar {
  display: none !important;
  /*To override style from script*/ }

.bootstrap-select > .btn {
  font-size: 12px; }

.dialog.iframe .modal-dialog {
  margin: 0 auto;
  padding: 0;
  border-radius: 2px;
  color: var(--dialog-content-text-normal-color); }
  .dialog.iframe .modal-dialog .modal-content {
    border: none; }
    .dialog.iframe .modal-dialog .modal-content .modal-header {
      background: var(--dialog-header-bg-normal-color);
      padding: 10px;
      width: 100%;
      z-index: 9;
      float: left;
      margin: 0;
      border-bottom: medium none;
      height: 50px; }
      .dialog.iframe .modal-dialog .modal-content .modal-header .modal-title {
        font-size: 14px;
        padding: 0; }
      .dialog.iframe .modal-dialog .modal-content .modal-header a.close {
        color: #4d4d4d;
        float: right;
        font-size: 14px;
        margin: 0;
        opacity: 1;
        filter: none !important; }
        .dialog.iframe .modal-dialog .modal-content .modal-header a.close:hover {
          color: #1a1a1a; }
    .dialog.iframe .modal-dialog .modal-content .modal-body {
      background: var(--dialog-content-bg-normal-color);
      font-size: 12px;
      padding: 10px; }
    .dialog.iframe .modal-dialog .modal-content .modal-footer {
      background: var(--dialog-footer-bg-normal-color);
      border-top: 1px solid var(--dialog-footer-border-normal-color);
      padding: 10px; }
      .dialog.iframe .modal-dialog .modal-content .modal-footer .primary-button, .dialog.iframe .modal-dialog .modal-content .modal-footer .critical-action-button {
        margin-right: 10px; }
.dialog.iframe .e-scrollbar {
  display: none !important;
  /*To override style from script*/ }

.dialog.iframe .bootstrap-select > .btn {
  font-size: 14px; }

#master-site-change #master-site-change_dialog-content {
  line-height: 2 !important;
  font-size: 13px !important; }
#master-site-change .tenant-name {
  color: var(--global-link-text-normal-color);
  font-style: italic; }
#master-site-change .conform-message {
  display: block !important;
  margin-top: 20px !important; }
