@import "../../themes/default.scss";
@import "../newthemes/elementcolor.scss";

.e-numeric {
    .e-in-wrap {
        .e-select {
            background: $color-white;

            .e-spin-up:hover, .e-spin-down:hover {
                background: $color-grey-80;
            }

            .e-active {
                background: $color-white !important;
            }

            &:hover {
                background: none;
            }
        }
    }
}

.e-ntouch {
    .e-in-wrap {
        .e-select:hover {
            background: $selected-color;
        }
    }
}

.bootstrap-select .btn:focus {
    outline: none !important;
}

.e-ntouch, .e-numeric {
    &.e-focus {
        .e-in-wrap {
            outline: none !important;
            border: 1px solid $numeric-focus-border !important;
            box-shadow: none !important;
        }
    }
}