.e-numeric .e-in-wrap .e-select {
  background: #FFFFFF; }
  .e-numeric .e-in-wrap .e-select .e-spin-up:hover, .e-numeric .e-in-wrap .e-select .e-spin-down:hover {
    background: #EEEEEE; }
  .e-numeric .e-in-wrap .e-select .e-active {
    background: #FFFFFF !important; }
  .e-numeric .e-in-wrap .e-select:hover {
    background: none; }

.e-ntouch .e-in-wrap .e-select:hover {
  background: #CDE0FF; }

.bootstrap-select .btn:focus {
  outline: none !important; }

.e-ntouch.e-focus .e-in-wrap, .e-numeric.e-focus .e-in-wrap {
  outline: none !important;
  border: 1px solid #ffcc01 !important;
  box-shadow: none !important; }
