@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.fluent-popup {
  padding: 0 !important; }
  .fluent-popup .fluent-popup-header {
    background-color: #f9f9f9;
    border-bottom: 1px solid #eeeeee;
    margin: 0;
    height: 44px;
    padding-top: 2px;
    border-top: none; }
    .fluent-popup .fluent-popup-header .popup-title {
      font-size: 14px;
      color: var(--colorText);
      letter-spacing: 0.3px;
      line-height: 21px;
      font-weight: 600;
      margin-left: 12px; }
      .fluent-popup .fluent-popup-header .popup-title .popup-close {
        font-size: 16px;
        margin-right: 7px;
        opacity: 0.7;
        color: #4d4d4d;
        padding: 2px; }
        .fluent-popup .fluent-popup-header .popup-title .popup-close:focus {
          outline: none !important;
          outline-color: #f9f9f9 !important;
          box-shadow: none !important; }
        .fluent-popup .fluent-popup-header .popup-title .popup-close:hover {
          color: #1a1a1a !important; }
  .fluent-popup .fluent-popup-body {
    padding: 15px;
    background-color: #fff; }
    .fluent-popup .fluent-popup-body .popup-label {
      font-size: 12px;
      color: #333333;
      margin: 0;
      font-weight: 200; }
    .fluent-popup .fluent-popup-body .popup-info {
      font-size: 10px;
      color: var(--info);
      letter-spacing: 0.3px;
      margin: 0;
      font-weight: 200; }
  .fluent-popup .fluent-popup-footer {
    background-color: #f9f9f9;
    border-top: 1px solid #eeeeee;
    height: 48px;
    border-bottom: none; }
