@import "../../themes/default.scss";
@import "../animation.scss";

input[type="radio"][class="css-radio"] {
    display: none;
}

input[type="radio"][class="css-radio"] + label {
    cursor: pointer;
    padding-left: 28px;
    position: relative;
}

input[type="radio"][class="css-radio"] + label:before, input[type="radio"][class="css-radio"] + label:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input[type="radio"][class="css-radio"] + label:before {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid $radio-button-border-normal-color;
    -moz-box-shadow: inset 0 0 0 8px $radio-button-box-shadow-normal-color;
    -webkit-box-shadow: inset 0 0 0 8px $radio-button-box-shadow-normal-color;
    box-shadow: inset 0 0 0 8px $radio-button-box-shadow-normal-color;
}

input[type="radio"][class="css-radio"]:disabled + label:before {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid $radio-button-border-disable-color;
    -moz-box-shadow: inset 0 0 0 8px $radio-button-box-shadow-disable-color;
    -webkit-box-shadow: inset 0 0 0 8px $radio-button-box-shadow-disable-color;
    box-shadow: inset 0 0 0 8px $radio-button-box-shadow-disable-color;
}

input[type="radio"][class="css-radio"] + label:after {
    top: 49%;
    left: 9px;
    width: 54px;
    height: 54px;
    opacity: 0;
    background: rgba(0, 154, 239, 0.3);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}

input[type="radio"][class="css-radio"]:checked + label:before {
    -moz-box-shadow: inset 0 0 0 4px $radio-button-box-shadow-active-color;
    -webkit-box-shadow: inset 0 0 0 4px $radio-button-box-shadow-active-color;
    box-shadow: inset 0 0 0 4px $radio-button-box-shadow-active-color;
    border: 2px solid $radio-button-border-active-color;
    background: $radio-button-bg-active-color;
}

input[type="radio"][class="css-radio"]:checked + label:after {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -moz-animation: ripple 1s none;
    -webkit-animation: ripple 1s none;
    animation: ripple 1s none;
}

input[type="radio"][class="css-radio"]:checked:disabled + label:before {
    -moz-box-shadow: inset 0 0 0 4px $radio-button-box-shadow-disable-color;
    -webkit-box-shadow: inset 0 0 0 4px $radio-button-box-shadow-disable-color;
    box-shadow: inset 0 0 0 4px $radio-button-box-shadow-disable-color;
    border: 2px solid $radio-button-border-disable-color;
    background: $radio-button-border-normal-color;
}