.material-switch > input[type="checkbox"] {
  display: none; }

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
  margin-bottom: 0px; }

.material-switch > label::before {
  border-radius: 8px;
  content: '';
  height: 16px;
  position: absolute;
  margin-top: -12px;
  transition: all .4s ease-in-out;
  width: 28px; }

.material-switch > label::after {
  border-radius: 10px;
  content: '';
  height: 9px;
  left: 4px;
  position: absolute;
  top: -8.5px;
  transition: all .3s ease-in-out;
  width: 9px;
  border-radius: 50%; }

.material-switch > label::before {
  background: #fff;
  border: 1px solid #b3b3b3; }

.material-switch > label:hover::before {
  border: 1px solid #4d4d4d; }

.material-switch > input[type="checkbox"]:checked + label::before {
  background: var(--colorPrimary);
  border: 1px solid var(--colorPrimary); }

.material-switch > input[type="checkbox"]:disabled + label::before {
  background: #eeeeee;
  border: 1px solid #cccccc; }

.material-switch > label::after {
  background: #808080; }

.material-switch > input[type="checkbox"]:checked + label::after {
  background: #fff;
  left: 15px; }

.material-switch > input[type="checkbox"]:disabled + label::after {
  background: #b3b3b3; }
