@import "../../themes/default.scss";

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
    margin-bottom: 0px;
}

.material-switch > label::before {
    border-radius: 8px;
    content: '';
    height: 16px;
    position: absolute;
    margin-top: -12px;
    transition: all .4s ease-in-out;
    width: 28px;
}

.material-switch > label::after {
    border-radius: 10px;
    content: '';
    height: 9px;
    left: 4px;
    position: absolute;
    top: -8.5px;
    transition: all .3s ease-in-out;
    width: 9px;
    border-radius: 50%;
}

.material-switch > label::before {
    background: $material-switch-background-bg-normal-color;
    border: 1px solid $material-switch-background-border-normal-color;
}

.material-switch > label:hover::before {
    border: 1px solid $material-switch-background-border-hover-color;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: $material-switch-background-bg-active-color;
    border: 1px solid $material-switch-background-border-active-color;
}

.material-switch > input[type="checkbox"]:disabled + label::before {
    background: $material-switch-background-bg-disable-color;
    border: 1px solid $material-switch-background-border-disable-color;
}

.material-switch > label::after {
    background: $material-switch-foreground-bg-normal-color;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: $material-switch-foreground-bg-active-color;
    left: 15px;
}

.material-switch > input[type="checkbox"]:disabled + label::after {
    background: $material-switch-foreground-bg-disable-color;
}