@import "../../themes/default.scss";

.warning-toast {
    width: 400px;
    height: 64px;
    background: $toast-bg-normal-color;
    border: 1px solid $warning-toast-border-normal-color;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    .su-close {
        color: $toast-close-icon-text-normal-color;

        &:hover {
            color: $toast-close-icon-text-hover-color;
        }
    }
}

.toast-container {
    .toast-image-container {
        display: inline-block;
        padding: 14px 5px 0 10px;
    }

    .toast-message {
        display: inline-block;
        vertical-align: middle;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.3px;
        color: $toast-text-normal-color;

        .toast-know-more {
            cursor: pointer;
        }
    }

    .toast-close {
        float: right;
        padding: 21px 16px 21px;
        display: inline-block;
        cursor: pointer;
    }
}

.success-toast {
    width: 400px;
    height: 64px;
    background: $toast-bg-normal-color;
    border: 1px solid $success-toast-border-normal-color;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    .toast-message .toast-message-content {
        display: inline-block;
        vertical-align: middle;
    }

    .su-close {
        color: $toast-close-icon-text-normal-color;

        &:hover {
            color: $toast-close-icon-text-hover-color;
        }
    }
}

.warning-toast-dialog {
    padding: 20px !important;
    #warning-toast-dialog_dialog-content {
        padding: 0 !important;
    }

    .fluent-item-popup-body {
        #warning-toast-content {
            padding: 20px 0;
        }
    }

    .fluent-popup-footer {
        text-align: center;
        padding: 10px;
    }
}

#progress-alert-container {
    position: fixed;
    top: 40px;
    right: 40px;

    .success-toast, .warning-toast {
        position: relative !important;
        margin-bottom: 15px;
    }
}
