.warning-toast {
  width: 400px;
  height: 64px;
  background: #fff;
  border: 1px solid #4bc870;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
  border-radius: 4px; }
  .warning-toast .su-close {
    color: #4d4d4d; }
    .warning-toast .su-close:hover {
      color: #1a1a1a; }

.toast-container .toast-image-container {
  display: inline-block;
  padding: 14px 5px 0 10px; }

.toast-container .toast-message {
  display: inline-block;
  vertical-align: middle;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #333333; }
  .toast-container .toast-message .toast-know-more {
    cursor: pointer; }

.toast-container .toast-close {
  float: right;
  padding: 21px 16px 21px;
  display: inline-block;
  cursor: pointer; }

.success-toast {
  width: 400px;
  height: 64px;
  background: #fff;
  border: 1px solid #4bc870;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
  border-radius: 4px; }
  .success-toast .toast-message .toast-message-content {
    display: inline-block;
    vertical-align: middle; }
  .success-toast .su-close {
    color: #4d4d4d; }
    .success-toast .su-close:hover {
      color: #1a1a1a; }

.warning-toast-dialog {
  padding: 20px !important; }
  .warning-toast-dialog #warning-toast-dialog_dialog-content {
    padding: 0 !important; }
  .warning-toast-dialog .fluent-item-popup-body #warning-toast-content {
    padding: 20px 0; }
  .warning-toast-dialog .fluent-popup-footer {
    text-align: center;
    padding: 10px; }

#progress-alert-container {
  position: fixed;
  top: 40px;
  right: 40px; }
  #progress-alert-container .success-toast, #progress-alert-container .warning-toast {
    position: relative !important;
    margin-bottom: 15px; }
