@import  "../Themes/Default.scss";

.e-numeric {
    .e-in-wrap {
        .e-select {
            .e-spin-up:hover, .e-spin-down:hover {
                background: $datetimepicker-active-color;
            }

            .e-active {
                background: $primary-color !important;
            }

            &:hover {
                background: none;
            }
        }
    }
}

.e-ntouch {
    .e-in-wrap {
        .e-select:hover {
            background: $datetimepicker-active-color;
        }
    }
}

.bootstrap-select .btn:focus {
    outline: none !important;
}

.e-datetime-popup {
    border-color: $datetimepicker-border-color !important;

    .e-popup-container {
        .e-datecontainer {
            .e-datepicker {
                border-color: $datetimepicker-border-color !important;

                .e-header {
                    .e-prev, .e-text, .e-next {
                        .e-arrow-sans-left, .e-datepicker-headertext, .e-arrow-sans-right {
                            &:hover {
                                background: $datetimepicker-headertext-hover-color !important;
                            }
                        }
                    }
                }

                .e-dp-viewdays, .e-dp-viewmonths, .e-dp-viewyears, .e-dp-viewallyears {
                    .e-datepicker-days, .e-datepicker-months, .e-datepicker-years, .e-datepicker-allyears {
                        .e-active {
                            background: $datetimepicker-active-color !important;
                        }

                        .e-state-hover {
                            background: $datetimepicker-active-color !important;
                        }

                        .other-month, .e-allyear-first {
                            color: $datetimepicker-inactive-color !important;

                            &:not(.e-active):hover {
                                background: $datetimepicker-hover-color !important;
                            }
                        }

                        .current-month, .e-current-month, .e-current-year, .e-current-allyear {
                            color: $datetimepicker-current-month-color;

                            &:not(.e-active):hover {
                                background: $datetimepicker-hover-color !important;
                            }
                        }

                        .e-allyear-last {
                            cursor: default !important;
                        }
                    }
                }
            }
        }

        .e-timecontainer {
            .e-header {
                border-bottom: 1px solid $datetimepicker-timecontainer-border-color;
            }

            .e-time-popup {
                border-color: $datetimepicker-border-color !important;

                .e-content {
                    .e-hover {
                        background: $datetimepicker-hover-color !important;
                    }

                    .e-active {
                        color: $datetimepicker-timecontainer-text-color !important;
                        background: $datetimepicker-timecontainer-bg-color !important;
                    }
                }

                .e-scrollbar {
                    .e-vscroll {
                        .e-vhandlespace {
                            .e-vhandle:hover {
                                background: $datetimepicker-active-color;
                            }
                        }
                    }
                }
            }
        }
    }

    .e-button-container {
        .e-dt-today, .e-dt-now {
            background: $primary-btn-text-color !important;
            border-radius: 4px !important;
            border: 1px solid $secondary-btn-border !important;
            height: 20px !important;
            line-height: 20px !important;
            font-weight: 600 !important;

            &:hover {
                border: 1px solid $secondary-btn-border !important;
                background: $secondary-btn-hover !important;
                color: $secondary-btn-text-color !important;
            }
        }

        .e-dt-done {
            border-radius: 4px !important;
            border: 1px solid $primary-btn-border !important;
            background: $primary-color !important;

            &:hover {
                background: $primary-btn-hover !important;
            }
        }
    }
}

//It overrides the designer styles in recurrence page
#start-date_popup, #end-date_popup {
    .e-datepicker .e-icon {
        height: 18px !important;
        width: 18px !important;
        padding: 0 !important;
    }

    .e-datepicker .e-text {
        margin-top: 0 !important;
    }

    .e-datepicker.e-calendar {
        width: 18em !important;

        .e-dp-viewdays {
            th {
                background: $template-image-bg-color !important;
                font-weight: normal !important;
            }
        }
    }
}