@import  "../Themes/Default.scss";

.e-numeric {
    .e-in-wrap {
        .e-select {
            .e-spin-up:hover, .e-spin-down:hover {
                background: $datetimepicker-active-color;
            }

            .e-active {
                background: $primary-color !important;
            }

            &:hover {
                background: none;
            }
        }
    }
}

.e-ntouch {
    .e-in-wrap {
        .e-select:hover {
                background: $datetimepicker-active-color;
        }
    }
}

.bootstrap-select .btn:focus {
    outline: none !important;
}

.e-ntouch, .e-numeric {
    &.e-focus {
        .e-in-wrap {
            background-color: $dashboard-color-white !important;
            box-shadow: none !important;
            border-color: $highlight-list-item !important;
        }
    }
}
