@import  "../Themes/Default.scss";

.e-time-popup {
    border-color: $datetimepicker-border-color !important;

    .e-content {
        .e-hover {
            background: $datetimepicker-hover-color !important;
        }

        .e-active {
            color: $datetimepicker-timecontainer-text-color !important;
            background: $datetimepicker-timecontainer-bg-color !important;
        }
    }

    .e-scrollbar {
        .e-vscroll {
            .e-vhandlespace {
                .e-vhandle:hover {
                    background: $datetimepicker-active-color;
                }
            }
        }
    }
}
