/*:root {
    --primary-text-color: #344054;
    --add-new-project-color: #53389E;
    --primary-button-bg-color: #7F56D9;
    --primary-button-border-color: #7F56D9;
    --add-conn-button-color: #7F56D9;
    --primary-button-text-color: #ffffff;
    --secondary-btn-bg-color: #F9F5FF;
    --secondary-btn-text-color: #6941C6;
    --secondary-btn-border-color: #6941C6;
    --main-tab-active-color: #6941C6;
    --main-tab-active-border-color: #6941C6;
    --schedule-hh-mm-text-color: #6941C6;
    --schedule-hh-mm-bg-color: #F9F5FF;
    --source-custom-tag-text-color: #6941C6;
    --source-custom-tag-border-color: #6941C6;
    --navmenu-list-drop-hover-bg-color: #edf2f7;
    --navmenu-list-active-bg-color: #F4EBFF;
    --source-list-hover-bg-color: #F9FAFB;
    --custom-btn-hover-bg-color: #F9FAFB;
    --table-header-bg-color: #F9FAFB;
    --table-header-text-color: #475467;
    --table-bottom-border-color: #EAECF0;
    --output-page-border-right-color: #EAECF0;
    --transform-page-border-right-color: #EAECF0;
    --custom-sidemenu-bg-color: #FFFFFF;
    --project-tab-text-color: #667085;
    --beta-badge-bg-color: #BB6BD9;
    --beta-badge-text-color: #F2F2F2;
    --add-project-border-color: #DBBDFF;
    --control-focus-border-color: #BB6BD9;
    --loading-indicator-color: rgba(127, 86, 217);
}*/

:root {
    --primary-text-color: #344054;
    --add-new-project-color: #0565ff;
    --add-conn-button-color: #0565ff;
    --add-project-border-color: #dbe9ff;
    --primary-button-border-color: #0565ff;
    --primary-button-bg-color: #0565ff;
    --primary-button-text-color: #ffffff;
    --secondary-btn-bg-color: #dbe9ff;
    --secondary-btn-text-color: #0565ff;
    --secondary-btn-border-color: #0565ff;
    --main-tab-active-color: #6941C6;
    --main-tab-active-border-color: #6941C6;
    --schedule-hh-mm-text-color: #0565ff;
    --schedule-hh-mm-bg-color: #dbe9ff;
    --source-custom-tag-text-color: #0565ff;
    --source-custom-tag-border-color: #0565ff;
    --navmenu-list-drop-hover-bg-color: #edf2f7;
    --navmenu-list-active-bg-color: #F4EBFF;
    --source-list-hover-bg-color: #F9FAFB;
    --custom-btn-hover-bg-color: #F9FAFB;
    --table-header-bg-color: #F9FAFB;
    --table-header-text-color: #475467;
    --table-bottom-border-color: #EAECF0;
    --output-page-border-right-color: #EAECF0;
    --transform-page-border-right-color: #EAECF0;
    --custom-sidemenu-bg-color: #FFFFFF;
    --project-tab-text-color: #667085;
    --beta-badge-bg-color: #0565ff;
    --beta-badge-text-color: #FFFFFF;
    --control-focus-border-color: #0451cc;
    --loading-indicator-color: rgba(5, 101, 255);
}
