@{
    ViewBag.Title = T["Access Denied"].Value;
    ViewBag.MessageBox = false;

}

@section scripts{
    <script nonce="@Context.Items["ScriptNonce"]" src="~/bundles/js/bootstrapjs.js" integrity="@IntegrityTagHelper.GetIntegrity("bundles/js/bootstrapjs.js")" crossorigin="anonymous" asp-append-version="true"></script>
}

@section MainSection{
    <h2>@T["Access Denied"]</h2>
}
