@{
    ViewBag.Title = T["Access Denied"].Value;
    ViewBag.MessageBox = false;

}

@section scripts{
    <script src="~/bundles/js/bootstrapjs.js" asp-append-version="true"></script>
}

@section MainSection{
    <h2>@T["Access Denied"]</h2>
}
