@{
    ViewBag.Title = "Access Denied";
    ViewBag.MessageBox = false;
}

@section scripts{
    <script src="~/bundles/js/bootstrapjs.js" asp-append-version="true"></script>
}

@section MainSection{
    <h2>[[[Access Denied]]]</h2>
}
