// Primary Variables

@primary-color: #0565ff;
@primary-text-color: #1B1E24;
@sub-text-color: #7C7C7C;
@validation-text-color: #d9534f;
@success-text-color: #3c763d;
@selected-color: #E7F0FF;
@select-hover: #EEEEEE;

////Neturals Colour
@white: #fff;

// Login Page
@login-bg: #2D3138;
@placeholder-color: #AAA;
@border-color: #CCCCCC;
@login-font-color: #1B1E24;
//Grid Variables
@grid-header-bg: #FFF;
@grid-content-bg: @grid-header-bg;
@grid-footer-bg: @grid-header-bg;

@grid-border-color: @admin-pages-border-color;
@grid-hover-color: @select-hover;
@grid-active-color: @selected-color;
@grid-active-text-color: @primary-text-color;
@grid-active-icon-color: @primary-text-color;
@grid-header-color: @sub-text-color;
@grid-text-color: @primary-text-color;
@grid-link-color: @primary-color;

@item-name-color: #F9F9F9;
@item-panel-bg: #3A404B;
@item-panel-border-color: #555B63;
@item-search-color: #AAA;
@item-search-bg: #1B1E24;
@ItemSearchBorder: 1px solid #494F59;
@ItemColorOnSelect: #1B1E24;
@ItemFontStyle: Roboto Medium 12px;
@AuthorColor: #A7ADB1;
@AuthorColorOnSelect: #262A33;
@AuthorTextFontStyle: Roboto Regular 10px;
@item-select-bg: #A7ADB1;
@item-hover-bg: #454C56;
@item-count-bg: #A7ADB1;
@ItemCountFontStyle: Roboto Medium 10px;
@ad-icon-color: #848789;
//Main Menu Variables
@menu-bg: #262A33;
@menu-active-bg: @primary-color;
@menu-item-height: 40px;
@menu-item-width: 40px;
@menu-icon-color: #DBDBDB;
@menu-label-color: #333333;
@menu-hover-color: #eeeeee;
@menu-active-icon-color: #FFF;
@background-active: #dbe9ff;
@text-white: @white;
//Sub Menu
@menu-text-color: @primary-text-color;
@menu-hover-text-color: #E5E8EA;
@menu-active-text-color: @primary-color;
@nav-icon-normal-color: #808080;
@blue-lighter-color: #f0f6ff;
//Header Variables
@header-bg: #333842;
@header-bg-color: #efefef;
@header-active-bg: #0071BC;
@header-text-color: #EFEDED;
@HeaderFontStyle: Roboto Medium 14px;
@header-height: 40px;
@header-border-color: #B8B8B8;
@unread-notification-color: #EF675C;
//Button Variables
@btn-min-width: 90px;
@btn-height-normal: 28px;
@btn-height-large: 34px;
@filter-btn-min-width: 75px;
@primary-btn-bg: @primary-color;
@primary-btn-border: #0450cc;
@primary-button-disabled: #F7F8F9;
@primary-btn-hover: #1882ff;
@primary-button-disabled: #F7F8F9;
@primary-btn-text-color: #FFF;
@primary-btn-disabled-bg: #f2f2f2;
@primary-btn-disabled-color: #999999;
@primary-btn-disabled-border: 1px solid #cccccc;
@secondary-btn-bg: #ffffff;
@secondary-btn-text-color: #333333;
@secondary-btn-border: #B3B3B3;
@secondary-btn-hover: #EEEEEE;
@danger-btn-bg: #FF3B30;
@danger-btn-hover: #FF4E45;
@link-btn-hover: #E2E2E2;
@submit-button-disabled: #F0F0F0;
// Profile Dialog
@profile-btn-text-color: #686868;
@profile-border-color: #BCC3CB;
@success-text-color: #3c763d;
// Admin Page
@admin-container-bg: #F9F9F9;
@admin-page-bg: #FFF;
@admin-body-border-color: #DCE1E5;
@admin-pages-border-color: #E2E2E2;
@description-text-color: #1B1C1C;
//Dialog Box
@dialog-header-bgcolor: #FFF;
@dialog-body-bgcolor: #FFF;
@dialog-footer-bgcolor: #F2F2F2;
@footer-border-color: #C4CED7;
@dialog-scroll-color: #C2C2C2;
//CSS Radio Button
@radio-bg: @primary-color;
@radio-border: @grid-border-color;
@radio-shadow: @primary-btn-text-color;
@radio-active: @primary-color;
//Dialog
@dialog-close-icon-color: #696969;
//Application Font Sizes
@label-font-size: 14px;
@info-font-size: 12px;
@validation-font-size: @info-font-size;
//Favorite icon color
@favorite-icon-color: #ffda88;
//Search area border
@search-border: #d3d3d3;
//Iframe content background
@content-background: #eaeaea;
//Dashboard hover
@dashboard-hover-color: #A7ACB0;
@dashboard-icon-color: #000000;
//Place holder
@placeholder-color: #a7a9ac;
//Schedule status icon color
@active-schedule-icon-color: #008000;
@completed-schedule-icon-color: #FFA500;
@inactive-schedule-icon-color: #FF0000;
//Notification variables
@notification-border-color: #356db5;
@notification-bg-color: #ef675c;
@notification: #ddd;
// Comments UserMention
@list-border-color: #ccc;
@list-bg-color: #fff;
@all-container-bg-color: #f5f5f5;
@all-container-border-color: @list-border-color;
@usermention-text-color: #3572b0;
@autocomplete-bg-color: #eee;
@autocomplete-border-color: #ddd;
@autocomplete-trigger-bg: @autocomplete-border-color;
//focus style
@focus: #66AFE9;
// Dashboard Viewer page
@navbar-border-color: #D9D9D9;
@navbar-active-border-color: #E7E7E7;
@navbar-active-icon-color: #3782E3;
//Dashboard Views
@poup-close-hover-color: #337ab7;
@recipients-bg-color: #EEE;
@recipients-border-color: #ababab;
@share-items-bg-color: #ffffff;
@waitpopup-bg-color: #f5f5f5;
@share-title-border-color: #ccc;
@footer-bg-color: #e2e2e2;
@footer-border-color: #e5e5e5;
@search-key-border-color: #e4e4e4;
@heading-color: #1b1c1c;
@folder-manage-tab-color: #7f7f7f;
@folder-tab-color: #FF712F;
@search-bg-color: #FFF;
@select-border-color: @share-title-border-color;
@inactive-border-box-color: #A94442;
@footer-border-top: #bbb;
@search-schedule-bg-color: #f4f4f4;
@add-background-border-color: @search-key-border-color;
@delete-icon-color: #333;
@remove-btn-color: #a94442;
//Applications
@app-theme-blue: #1090D9;
@app-theme-green: #24C97C;
@app-theme-cyan: #019FA2;
@app-theme-gold: #F2AF47;
@app-theme-yellow: #F7E962;
@app-theme-red: #EB6A57;
@app-theme-indigo: #6655C8;

@admin-bg: #F9F9F9;

@regenerate-warning-bg: #F5DEB3;
@regenerate-warning-text: #D5853F;

@users-badge-bg: #1090D9;
@groups-badge-bg: #24C97C;
@app-badge-bg: #F2AF47;
//Login Page
@forget-pwd-color: #1E7BE2;
@login-label-text: #6F6F6F;
@title-text: #9D9D9D;
@background-color: #d8d8d8;
@button-color: #4169e1;
@login-border-color: #a94442;
@external-button-border: #cecece;
//OAuth Error Page
@warning-icon-color: #7f8A8D;
@error-text: #525759;

@home-border: 1px solid #EEEEEE;

// Icons
@icon-color: #4d4d4d;
@icon-hover-color: #1a1a1a;

//new UX
@dashboard-color-white: white;
@highlight-list-item: #0565FF;

//dropdown
@dropdown-hover: @select-hover;
@dropdown-selected: @selected-color;
@dropdown-selected-text: @primary-text-color;

//LicenseSettings
@supported-plan: #008000;
@unsupported-plan: #FF0000;
@plan-color: #FFF;
@feature-plan-border: #d3d3d3;
@basic-plan: #00B0F0;
@advance-plan: #FFC000;
@pro-plan: #00B753;
@premium-plan: #7030A0;
@cancel-subscription: #FF0000;
@upgrade-plan: #A7ADB1;
@upgrade-planname-font: 16px;
@upgrading-planprice-font: 28px;
@subscription-message-font: 10px;
@choose-plan-button: #7F7F7F;

//TenantLogs
@table-border: #e7eaec;
@date-text: #1ab394;
@date-fontsize: 85%;
@logtype-fontsize: 13px;


