@media (min-width: 1040px) and (max-width: 1200px) {
  .app-header #application-list {
    text-align: center !important; } }

.e-dlg-container .e-dlg-header-content {
  height: 44px !important;
  padding: 0; }
  .e-dlg-container .e-dlg-header-content .e-btn .e-btn-icon {
    font-size: 8px;
    margin: 0 10px 15px 200px; }
  .e-dlg-container .e-dlg-header-content .dlg-title, .e-dlg-container .e-dlg-header-content .modal-title {
    margin: 11px 312px 12px 12px;
    line-height: 21px;
    width: 148px;
    height: 20.76px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #333333; }
  .e-dlg-container .e-dlg-header-content .su {
    position: absolute;
    margin: 15px 12px 13px 12px; }
  .e-dlg-container .e-dlg-header-content .modal-title {
    position: absolute;
    margin: 11px 288px 12px 35px !important; }

.e-dlg-container .e-footer-content {
  height: 43px;
  width: 472px;
  padding: 0px !important; }
  .e-dlg-container .e-footer-content .e-btn, .e-dlg-container .e-footer-content .secondary-button {
    border: 1px solid #cccccc;
    margin: 8px 0 7px 0;
    font-size: 13px;
    line-height: 20px;
    width: 80px;
    height: 28px; }
  .e-dlg-container .e-footer-content .e-btn.e-primary, .e-dlg-container .e-footer-content .critical-action-button {
    border: 1px solid #0450ff;
    margin: 8px 16px 7px 12px;
    font-size: 13px;
    line-height: 20px;
    width: 80px;
    height: 28px; }
  .e-dlg-container .e-footer-content .secondary-button {
    margin: 8px 16px 7px 0 !important; }
  .e-dlg-container .e-footer-content .critical-action-button {
    background-color: var(--danger);
    border: 1px solid var(--danger); }
