@import "themes/default.scss";
@import "pages/mixins.scss";

.e-dlg-container {
    .e-dlg-header-content {
        height: 44px !important;
        padding: 0;

        .e-btn {
            .e-btn-icon {
                font-size: 8px;
                margin: 0 10px 15px 200px;
            }
        }

        .dlg-title, .modal-title {
            margin: 11px 312px 12px 12px;
            line-height: 21px;
            width: 148px;
            height: 20.76px;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.3px;
            color: $grey-800;
        }

        .su {
            position: absolute;
            margin: 15px 12px 13px 12px;
        }

        .modal-title {
            position: absolute;
            margin: 11px 288px 12px 35px !important;
        }
    }

    .e-footer-content {
        height: 43px;
        width: 472px;
        padding: 0px !important;

        .e-btn, .secondary-button {
            border: 1px solid $footer-border-color;
            margin: 8px 0 7px 0;
            @include dialogButton();
        }

        .e-btn.e-primary, .critical-action-button {
            border: 1px solid $footer-primary-border-color;
            margin: 8px 16px 7px 12px;
            @include dialogButton();
        }

        .secondary-button {
            margin: 8px 16px 7px 0 !important;
        }

        .critical-action-button {
            background-color: $danger;
            border: 1px solid $danger;
        }
    }
}
