@import "core/_typography.scss";
@import "core/_variables.scss";
@import "themes/_light_cloud.scss";
@import "mixins/_button.scss";

html, body {
    height: 100%;
    width: 100%;
}

//To hide default clear button in IE browsers
::-ms-clear {
    display: none;
}

input {
    &::-ms-clear, &::-ms-reveal {
        display: none;
    }
}

a {
    &:hover, &:focus {
        text-decoration: none !important;
    }
}

@import "core/_predefinedclasses.scss";
@import "core/_resolution.scss";
