@import "themes/default.scss";

.e-float-input {
    height: 28px !important;
}

.e-custom {
    font-family: var(--font-family) !important;
    font-size: 12px !important;

    input {
        min-height: 40px !important;
    }

    &:hover:not(.e-input-focus):not(.e-input-group):not(.e-success):not(.e-error):not(.e-disabled) {
        border-color: $primary-color !important;

        input:valid ~ label.e-float-text {
            color: $primary-color !important;
        }
    }

    .e-float-input.e-disabled {
        border-top-color: transparent !important;
    }

    &.e-valid-input:hover:not(.e-success):not(.e-error):not(.e-float-icon-left):not(.e-disabled) {
        border-color: $primary-color !important;
        border-top-color: transparent !important;

        .e-float-text {
            color: $primary-color !important;

            &.e-label-top, &.e-label-bottom {
                &::after, &::before {
                    border-top: solid 1px !important;
                    border-color: $primary-color !important;
                }
            }
        }
    }

    &.e-input-focus:not(.e-error):not(.e-success):not(.e-disabled):not(.e-float-icon-left) {
        border-color: $primary-color !important;
        border-top-color: transparent !important;
        box-shadow: inset 0.1px 0 $primary-color, inset -0.1px 0 $primary-color, inset 0 -0.1px $primary-color !important;

        .e-float-text {
            color: $primary-color !important;

            &.e-label-top, &.e-label-bottom {
                &::after, &::before {
                    border-top: solid 1px !important;
                    border-color: $primary-color !important;
                }
            }
        }
    }

    &.e-error {
        box-shadow: inset 0.1px 0 $validation-text-color, inset -0.1px 0 $validation-text-color, inset 0 -0.1px $validation-text-color !important;

        &.e-input-focus {
            .e-float-text {
                color: $validation-text-color !important;

                &.e-label-top, &.e-label-bottom {
                    &::after, &::before {
                        border-top: solid 1px !important;
                        border-color: $validation-text-color !important;
                    }
                }
            }
        }
    }

    &.e-disabled {
        background-color: $input-box-disabled !important;
        border: 1px solid $input-box-border-disable-color !important;
        color: $input-box-text-disable-color !important;
        border-top-color: transparent !important;

        .e-float-text {

            &.e-label-top, &.e-label-bottom {
                &::after, &::before {
                    border-top: solid 1px !important;
                    border-color: $grey-200 !important;
                }
            }
        }
    }


    .e-label-bottom {
        line-height: 55px !important;
        font-size: 14px !important;
    }

    &.e-input-group {
        input {
            padding: 3px 12px 10px !important;
        }

        .e-input-group-icon {
            font-size: 10px !important;
            margin-top: 4px !important;
        }
    }

    .e-radio:checked + label::after {
        background-color: $primary-color !important;
        color: $primary-color !important;
    }

    .e-radio:checked + label::before {
        background-color: $white !important;
        border-color: $primary-color !important;
    }

    .e-radio + label .e-label {
        font-family: var(--font-family) !important;
        font-size: 14px !important;
    }
}

input.e-input::selection, textarea.e-input::selection, .e-input-group input.e-input::selection, .e-input-group.e-control-wrapper input.e-input::selection, .e-float-input input::selection, .e-float-input.e-control-wrapper input::selection, .e-input-group textarea.e-input::selection, .e-input-group.e-control-wrapper textarea.e-input::selection, .e-float-input textarea::selection, .e-float-input.e-control-wrapper textarea::selection {
    background: $browser-default-select-color-ej2-custom !important;
    color: $white !important;
}
