@import "themes/_light_cloud.scss";

body {
    box-sizing: border-box;

    .navbar, .navbar-inverse navbar-fixed-top {
        padding-top: 10px;
        background-color: $white;
        border-bottom: none;
        height: 100px;

        .containerBox {
            margin-left: 60px;
            margin-right: 60px;

            .collapse {

                ul, .nav {
                    margin-left: 50px;

                    li {
                        .btn {
                            background-color: $white;
                            width: 100px;
                            height: 50px;
                            border-radius: 10rem;
                            color: $boldbi-brand;
                            text-align: center;
                            font-size: 20px;
                            transition: 0.5s;
                        }

                        .btn:hover {
                            background-color: $boldbi-brand;
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .page-wrapper {
        background-color: $white;

        .container {
            width: 850px;
            margin-top: 100px;
            line-height: 1.8;

            .header {
                text-align: center;

                h1 {
                    font-size: 45px;
                    color: $text-gray;
                }
            }

            .eff-date {
                text-align: left;
                color: grey;
            }

            .content {
                h3 {
                    text-align: left;
                    font-size: 25px;
                    color: $text-gray;
                }

                p {
                    text-align: justify;
                    font-size: large;
                }
            }
        }
    }

    .footer {
        background-color: $white;
        height: 150px;

        .footer-text {
            margin-left: 260px;
            padding-top: 50px;
            font-size: 15px;

            .copyrights {
                font-size: 14.5px;
                color: grey;
            }

            .copyrights:hover {
                color: $brown;
            }

            .tag1 {
                margin-left: 30px;
            }

            .tag1, .tag2, .tag3 {
                color: $boldbi-brand;
            }

            .tag1:hover, .tag2:hover, .tag3:hover {
                color: $brown;
            }
        }
    }
}
