@import "themes/default.scss";

.e-spinner-bg {
    background-color: $bg-color !important;
    color: #282827;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10062;
    opacity: 0.85;
}

.e-spinner-pane .e-spinner-inner .e-spin-material {
    stroke: $primary-color !important;
}