/*@mixin app-header($height: $header-height) {
    background-color: $header-bg;
    color: $header-text-color;
    height: $height;
    position: fixed;
    width: 100%;
    z-index: 1050;

    .header-bar {
        margin: 0;
        padding: 0;

        .application-navigation {
            font-size: 25px;
            color: $primary-btn-text-color;
            vertical-align: middle;
            cursor: pointer;
        }

        .dropdown-menu {
            margin-top: -6.5px;
            padding: 0;
            min-width: 100px !important;

            .app-loading-text {
                color: $primary-text-color;
                padding-left: 5px;
            }
        }

        .main-screen-logo {
            float: left;
            padding: 5px;

            #application-logo {
                height: $height - 20;
                margin: 4px 0 0 4px;
            }
        }

        .org-name-wrapper {
            display: inline-block;
            padding-left: 10px;

            .header-org-name {
                display: table-cell;
                height: $height;
                margin: 0;
                vertical-align: middle;*/
/*color: $primary-btn-text-color !important;*/
            /*}
        }

        #upload-item-section {
            #btn-item-upload {
                background: $primary-color;
                border: none;
                border-radius: 0;*/
/*color: $primary-btn-text-color;*/
                /*height: $height;
                width: 120px;
            }
        }

        .user-account {
            float: right;

            .profile-picture {
                img {
                    cursor: pointer;
                    height: $header-height;
                    width: $header-height;
                }
            }

            #profile-info-section {
                left: auto;
                right: 0;
                padding: 0;
                white-space: nowrap;

                .profile-info {
                    border-bottom: 1px solid $profile-border-color;
                    padding: 0;

                    .profile-picture-area {
                        padding: 10px;

                        img {
                            border-radius: 50%;
                            height: 48px;
                            width: 48px;
                        }
                    }

                    .profile-info-area {
                        overflow: auto;
                        padding-right: 10px;

                        ul {
                            list-style: none;

                            #profile-name {
                                color: $primary-text-color;
                                font-size: $app-large-text-size;
                                font-weight: 500;
                                height: auto;
                                margin-top: 10px;
                            }

                            #profile-email {
                                font-size: $app-text-size;
                                font-weight: 400;
                            }
                        }
                    }
                }

                .profile-buttons {
                    a {
                        color: $profile-btn-text-color;
                        padding: 10px 0;
                        text-align: center;

                        &:first-child {
                            border-right: 1px solid $profile-border-color;
                        }
                    }
                }
            }
        }
    }
}*/
/*@mixin dialog($dialog-font-size, $dialog-validation-size, $dialog-text-box) {
    .form-control, .btn {
        border-radius: 0;
    }

    .dialog-header {
        font-size: $dialog-font-size + 2;
        padding: 10px 15px;

        .PopupTitle {
            vertical-align: top;
        }

        .report-name {
            font-size: $dialog-validation-size;
        }

        .PopupClose {
            float: right;
            font-size: $dialog-validation-size;

            &:hover {
                color: $primary-color;
                text-decoration: none;
            }
        }
    }

    input[type="text"], button[type="button"] {
        height: $dialog-text-box;
    }

    .fileUpload {
        height: $dialog-text-box;
        padding: 0 18px;
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .padding20 {
        padding: 20px;
    }

    .padding-bottom20 {
        padding-bottom: 20px;
    }

    .no-bottom-padding {
        padding-bottom: 0 !important;
    }

    .no-top-padding {
        padding-top: 0 !important;
    }

    .no-left-padding {
        padding-left: 0 !important;
    }

    .no-right-padding {
        padding-right: 0 !important;
    }

    .rightAlign {
        text-align: right;
    }

    .bottom-margin30 {
        margin-bottom: 30px;
    }

    .padding10 {
        padding: 10px;
    }

    .bootstrap-select {
        width: 100% !important;
    }

    .bottom-margin35 {
        margin-bottom: 35px;
    }

    .dialog-body {
        font-size: $dialog-font-size;
        padding: 10px 15px;

        .bootstrap-select.btn-group .no-results {
            padding: 6px;
            margin: 0;
        }

        .validation-error {
            color: $validation-text-color;
            font-size: $validation-text-size;
            float: left;
            margin-top: -24px;
        }

        .filter-option {
            margin-top: -2px;
        }

        .text-label {
            margin: 5px 0 5px;
        }

        #filename, #name {
            cursor: pointer;
        }

        .permission-denied {
            padding: 10px;
            text-align: center;
        }

        .highlight-name {
            font-style: italic;
            color: $primary-color;
        }

        .mandatory {
            padding-left: 2px;
        }

        .text, .note {
            font-size: $dialog-font-size;
        }

        .bootstrap-select {
            padding: 0;
        }

        .help-text {
            font-size: $dialog-validation-size;
        }

        .help-text-mandatory {
            padding-right: 2px;
        }

        .padding-right-15 {
            padding-right: 15px;
        }
    }

    .dialog-footer {
        padding: 10px;
        background: #e5e5e5 none repeat scroll 0 0;
        border-top: 1px solid #bbbbbb;
        bottom: 0;
        padding: 10px 15px;
        position: fixed;
        right: 0;
        width: 100%;

        .centerAlign {
            width: 100%;
            text-align: center;

            .PopupClose, .ItemPermissionPopupClose {
                float: none;
            }
        }

        .primary-button {
            margin-right: 10px;
        }
    }
}*/
/*@media (min-width:1040px) and (max-width: 1200px) {
    .app-header {
        #application-list {
            text-align: center !important;
        }
    }
}*/
.primary-button, .e-control.e-btn.e-flat.e-primary, .proceed-button {
  background: var(--primary-branding-bg-color);
  border: 0;
  border-radius: 4px;
  color: var(--primary-button-text-normal-color);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  min-width: 90px;
  outline: none;
  text-align: center;
  background: var(--primary-button-bg-normal-color);
  border: 1px solid var(--primary-button-border-normal-color);
  color: var(--primary-button-text-normal-color) !important; }
  .primary-button, .e-control.e-btn.e-flat.e-primary, .proceed-button {
    padding: 0 15px; }
  .primary-button:hover, .primary-button:focus, .e-control.e-btn.e-flat.e-primary:hover, .e-control.e-btn.e-flat.e-primary:focus, .proceed-button:hover, .proceed-button:focus {
    background: var(--primary-button-bg-hover-color);
    color: var(--primary-button-text-normal-color); }
  .primary-button:hover, .e-control.e-btn.e-flat.e-primary:hover, .proceed-button:hover {
    background: var(--primary-button-bg-hover-color);
    border: 1px solid var(--primary-button-border-normal-color);
    color: var(--primary-button-text-hover-color) !important; }
  .primary-button:disabled, .e-control.e-btn.e-flat.e-primary:disabled, .proceed-button:disabled {
    background: var(--primary-button-bg-disable-color);
    border: 1px solid var(--primary-button-border-disable-color);
    color: var(--primary-button-text-disable-color) !important; }

.secondary-button, .e-control.e-btn.e-flat {
  background: var(--primary-branding-bg-color);
  border: 0;
  border-radius: 4px;
  color: var(--primary-button-text-normal-color);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  min-width: 90px;
  outline: none;
  text-align: center;
  background: var(--secondary-button-bg-normal-color);
  border: 1px solid var(--secondary-button-border-normal-color);
  color: var(--secondary-button-text-normal-color); }
  .secondary-button, .e-control.e-btn.e-flat {
    padding: 0 15px; }
  .secondary-button:hover, .secondary-button:focus, .e-control.e-btn.e-flat:hover, .e-control.e-btn.e-flat:focus {
    background: var(--primary-button-bg-hover-color);
    color: var(--primary-button-text-normal-color); }
  .secondary-button:hover, .e-control.e-btn.e-flat:hover {
    background: var(--secondary-button-bg-hover-color);
    border: 1px solid var(--secondary-button-border-normal-color);
    color: var(--secondary-button-text-hover-color);
    outline: 0px; }
  .secondary-button:disabled, .e-control.e-btn.e-flat:disabled {
    background: var(--secondary-button-bg-disable-color);
    border: 1px solid var(--secondary-button-border-disable-color);
    color: var(--secondary-button-text-disable-color); }

.link-button {
  background: var(--primary-branding-bg-color);
  border: 0;
  border-radius: 4px;
  color: var(--primary-button-text-normal-color);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  min-width: 90px;
  outline: none;
  text-align: center;
  background: var(--link-button-bg-normal-color);
  border: 1px solid var(--link-button-border-normal-color);
  color: var(--link-button-text-normal-color); }
  .link-button {
    padding: 0 15px; }
  .link-button:hover, .link-button:focus {
    background: var(--primary-button-bg-hover-color);
    color: var(--primary-button-text-normal-color); }
  .link-button:hover, .link-button:focus {
    background: var(--link-button-bg-hover-color);
    border: 1px solid var(--link-button-border-hover-color);
    color: var(--link-button-text-hover-color); }

.critical-action-button, .e-control.e-btn.e-flat.e-primary.critical-action-button {
  background: var(--primary-branding-bg-color);
  border: 0;
  border-radius: 4px;
  color: var(--primary-button-text-normal-color);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  min-width: 90px;
  outline: none;
  text-align: center;
  background: var(--danger-button-bg-normal-color);
  border: 1px solid var(--danger-button-border-normal-color);
  color: var(--danger-button-text-normal-color) !important; }
  .critical-action-button, .e-control.e-btn.e-flat.e-primary.critical-action-button {
    padding: 0 15px; }
  .critical-action-button:hover, .critical-action-button:focus, .e-control.e-btn.e-flat.e-primary.critical-action-button:hover, .e-control.e-btn.e-flat.e-primary.critical-action-button:focus {
    background: var(--primary-button-bg-hover-color);
    color: var(--primary-button-text-normal-color); }
  .critical-action-button:hover, .e-control.e-btn.e-flat.e-primary.critical-action-button:hover {
    background: var(--danger-button-bg-hover-color);
    color: var(--danger-button-text-hover-color) !important; }
  .critical-action-button:disabled, .e-control.e-btn.e-flat.e-primary.critical-action-button:disabled {
    background: var(--secondary-button-bg-disable-color);
    border: 1px solid var(--secondary-button-border-disable-color);
    color: var(--secondary-button-text-disable-color) !important;
    cursor: default; }
