:root {
	/***** This file contains all the color definitions that work in dark mode. Please update colors for your custom palette that work well in dark mode in this file. *****/
	--primary-branding-color: var(--blue);
	--primary-branding-border-color: var(--primary-branding-color);
	--primary-text-normal-color: var(--primary-black);
	--primary-text-hover-color: var(--primary-text-normal-color);
	--secondary-text-normal-color: var(--grey-700);
	--hover-bg-normal-color: var(--grey-200);
	--active-bg-normal-color: var(--primary-branding-color);
	--active-text-normal-color: var(--primary-text-normal-color);
	--hyper-link-normal-color: var(--blue);
	--hyper-link-hover-color: var(--blue-secondary);
	--primary-btn-bg-normal-color: var(--primary-branding-color);
	--primary-btn-bg-hover-color: var(--primary-branding-color);
	--primary-btn-bg-disable-color: var(--grey-200);
	--primary-btn-border-normal-color: var(--primary-branding-color);
	--primary-btn-border-disable-color: var(--grey-400);
	--primary-btn-text-normal-color: var(--primary-text-normal-color);
	--primary-btn-text-hover-color: var(--primary-btn-text-normal-color);
	--primary-btn-text-disable-color: var(--grey-500);
	--secondary-btn-bg-normal-color: var(--secondary);
	--secondary-btn-bg-hover-color: var(--grey-500);
	--secondary-btn-bg-disable-color: var(--grey-200);
	--secondary-btn-border-normal-color: var(--secondary);
	--secondary-btn-border-disable-color: var(--grey-400);
	--secondary-btn-text-normal-color: var(--primary-text-normal-color);
	--secondary-btn-text-hover-color: var(--secondary-btn-text-normal-color);
	--secondary-btn-text-disable-color: var(--grey-500);
	--link-btn-bg-normal-color: var(--background);
	--link-btn-bg-hover-color: var(--primary-branding-color);
	--link-btn-text-normal-color: var(--primary-branding-color);
	--link-btn-text-hover-color: var(--primary-text-normal-color);
	--link-btn-border-normal-color: var(--primary-branding-color);
	--link-btn-border-hover-color: var(--primary-branding-color);
	--nav-menu-main-color: var(--primary-branding-bg-color);
	--nav-menu-bg-normal-color: var(--grey-200);
	--nav-menu-bg-hover-color: var(--hover-bg-normal-color);
	--nav-menu-bg-active-color: var(--active-bg-normal-color);
	--nav-menu-pri-text-normal-color: var(--primary-text-normal-color);
	--nav-menu-pri-text-hover-color: var(--primary-text-hover-color);
	--nav-menu-pri-text-active-color: var(--active-text-normal-color);
	--nav-menu-hyper-link-normal-color: var(--hyper-link-normal-color);
	--nav-menu-hyper-link-hover-color: var(--hyper-link-hover-color);
}