@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    ViewBag.Title = T["Refresh logs"].Value + " - " + globalAppSettings.SystemSettings.OrganizationName;
    var logContent = ViewBag.LogsContent;
}

<body>
<div>
    @{
    #pragma warning disable SCS0029
    }
    @Html.Raw(logContent)
    @{
    #pragma warning restore SCS0029
    }
</div>
</body>
