@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    ViewBag.Title = T["Refresh logs"].Value + " - " + globalAppSettings.SystemSettings.OrganizationName;
    var logContent = ViewBag.LogsContent;
}

<body>
    <div>
        @Html.Raw(logContent)
    </div>
</body>
