@model Syncfusion.Server.Base.DataClasses.EmailTemplateModel

@{
    Layout = null;
    var content = !string.IsNullOrWhiteSpace(Model.MailHeaderContent) ? Model.MailHeaderContent : !string.IsNullOrWhiteSpace(Model.WelcomeNote) ? Model.WelcomeNote : Model.AlertHtmlMessage;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .im {
            color: #000000 !important;
        }
        div > span.im {
            color: #000000 !important;
        }
        p > span.im {
            color: #000000 !important;
        }
        </style>
</head>
<body>
<div>
      @Html.Raw(content)
</div>
</body>
</html>