<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <clear />
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="65536" maxAllowedContentLength="524288000" />
        </requestFiltering>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Syncfusion.Server.Dashboards.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 9A2FF144-42A5-485F-B66B-7A3575FCD76D-->