<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved.</CopyrightInformation>
  <IsEnableCopyrightInfo>true</IsEnableCopyrightInfo>
  <IsEnablePoweredBySyncfusion>true</IsEnablePoweredBySyncfusion>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <OrganizationName>Bold ID</OrganizationName>
  <InstallationFolder>IDP</InstallationFolder>
  <SqlConfiguration>
  </SqlConfiguration>
  <StorageType>0</StorageType>
  <WelcomeNoteText>Welcome to Bold BI Enterprise</WelcomeNoteText>
  <TimeFormat>false</TimeFormat>
  <DRM>cm8QptPbrlwHMq71XvCegp0OwOcGG2SqD+0DOgLzFhCYxDllC3UAe1URnzII3j+J5nIOgf53k5YqLGOGy00LNcG9l1dAaZcXZYVsNj3nusFqvUU2axChOGZ3n1CcLxFp6G7KW+zu7vKjUxNOprEQ73m0QNQfLD16KJgB5zV4Xy/qVe3lYXnOu+3Yg7JJ7S4f/eh5NE401bSaJi9kLJ9vvPQfHY5xB/a+jo9dUMO08uCpmhjekfqyeupvkWHWWUeM9q/RkbFFaJuv8ADzvHKldlJgFrFohWuRpi8e1sD3ffaNlsvHT23RUzG31HGSPGyPe8smo7gNRObzTxP7tT2/lMWhGCDe3sa/HtRu4DQSdONlZy7/jKFRjpXSJ/LSJr8EjXGAtKJm+p7WkXxdFybN4keUvd8v4w7l9sRXbGN/eWjKxnLJsLq0RZli9gvAxD2u43Ff7GwOA0y5JcW2Dw+cILbBSNxhWvIOkx3bFxvkYULLiLOVVFJgHenvH7ufmldAHVsOaM8DaGQIJvzupvSu2rg25xVrFrAg4UtZPnKvkN+K+Hz4k/NAWir45b16or4RzDIMIwYCcxkENUigHiLakfbrgzLc0Z+0zNDZAGzsuMSiGPjr4ygz4azRswFW3TvYhBrLh9DFqn8rVP6iPd5xWbn1zCKmg6e+MfVJ67tb3iN96mbaNDH63g5hL1XJKijiXrbnyIVmCiAJ+4Zbn/xStw==</DRM>
  <IsCustomBinding>false</IsCustomBinding>
  <InternalAppBIUrl></InternalAppBIUrl>
  <InternalAppReportUrl>
  </InternalAppReportUrl>
  <InternalAppClientId>55e7e978-9569-4c88-8489-31f983e85f14</InternalAppClientId>
  <InternalAppClientSecret>20jMrkwQ5WXB3A7jJkCrOSWk7UAfs6s79/+MEJwbXmggY/PNLglnMc0LTsPEUi1ZYWm0EVvr8gtgr84N369uBw==</InternalAppClientSecret>
  <PreviewFeatures>
    <Localization>false</Localization>
  </PreviewFeatures>
</SystemSettings>