<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved.</CopyrightInformation>
  <IsEnableCopyrightInfo>true</IsEnableCopyrightInfo>
  <IsEnablePoweredBySyncfusion>true</IsEnablePoweredBySyncfusion>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <OrganizationName>Bold ID</OrganizationName>
  <InstallationFolder>IDP</InstallationFolder>
  <SqlConfiguration>
  </SqlConfiguration>
  <StorageType>0</StorageType>
  <WelcomeNoteText>Welcome to Bold BI Enterprise</WelcomeNoteText>
  <TimeFormat>false</TimeFormat>
  <DRM>AHNWrDNsYm0ycjG+MoAwkDKHEvj05Isz5ti8UsucSelll7JDwsVntT50gYPOWfy5fK+CYC95eS9cYmN38rWAJNi+mHm0rMX7Af6Og4QcMc7wqf5irUOUVlszyGLyYe4OgRrdSLNMwykXn3dqUoJFQIKvL9KU2u1w+tOMEDU9viFSGzGKR2Y1Orxw9+CnLJ+M9V3HJqMJczLOPqvgSofMZZbA4qoycWwompMWogg5bhYKLCHwnB7UdUaQz9Mya4zLlJs6G7UoBncG5BCBPLA3BWs0Ykw/6DnxKjLhWGQZT26uGdYIJNd36J50Pi1UhKuj4aWnzPpg4zErY6vCBEkgtbnx+D4YHwMgcSDcoZ9zgXQbsh5bP0l9QQstFFDBvbXvPbaWPekqtxAcdSzf0suxfAHq5UdvBBtI5vGJSQFMLalWQnLrhpJT7q/KKM2njemqheMM4xclEjGPrOjH6LFw+Cm4feqM3n9cSpHAW3QAbAsyQz5JuDKW2no6UtgECUnHU/yaZO2416QNowd00+zScpmYidvBg2rcpUO/EVA39VdCYsEnfGTW/EdotpdGkWobucmG8N72CdTYx/dXorsMsc931oxH5wK0awrwKuJrNJDIf1m//8S1w2W+aaCMh3QM97nroczQwlVhb77XAfJ0k9+SfATpC5ZMdkGYIX/8wjkA13+Yco4RhIQokg7VQ1h6</DRM>
  <IsCustomBinding>false</IsCustomBinding>
  <InternalAppBIUrl></InternalAppBIUrl>
  <InternalAppReportUrl>
  </InternalAppReportUrl>
  <InternalAppClientId>e82e11bd-1dee-4ff1-bc73-62f0a370db26</InternalAppClientId>
  <InternalAppClientSecret>PlzNGT79BzHBihwBvuEDJgDfAob5EmeboTtfUuoOOnGQRUPoytxKyWBdSeDTveFmTYwG5nz2jYtbDXXnPNJP5g==</InternalAppClientSecret>
  <PreviewFeatures>
    <Localization>false</Localization>
  </PreviewFeatures>
</SystemSettings>