@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/bundles/styles/account-page")
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById('login-form').submit();
        }
    </script>
</head>
<body>
    <form method="post" id="login-form" name="loginForm" class="login-form">
        <div id="container">
            <div id="inner-container">
                <div id="loading-popup"></div>
                <span id="waiting-text">[[[Please wait...]]]</span>
            </div>
        </div>
    </form>
</body>
</html>