@import (reference) "../NewThemes/ElementColor.less";

footer {
    display: table;
    height: 50px;
    background: transparent;
    padding: 0px 30px !important;

    .footer-image, .footer-link {
        display: table-cell;
        vertical-align: middle;
    }

    .footer-image{
        padding-left:3% !important;
     }

    .footer-link {
        text-align: right;
        font-size: 12px;
        font-weight: 600;
        color: @color-grey-footer;

        a{
            color: @color-grey-footer;
            text-decoration: none;
        }

        a:hover{
            color: @color-blue;
            text-decoration: none;
        }
    }

    .footer-link.layout {
        color: @color-grey-footer;

        a{
            color: @color-grey-footer;
        }

        a:hover{
            color: @color-blue;
        }
    }
}