@media screen and (min-width: 0px) {
  .resolution-font-size, body, body .form-control, body .bootstrap-select .btn, body .dropdown-menu .inner {
    font-size: 12px; }
  .resolution-element-height, body .form-control, body .bootstrap-select .btn {
    height: 28px; }
  body .validation-txt-errors {
    font-size: 12px;
    color: #a94442; } }

@media screen and (min-width: 1400px) {
  .resolution-font-size, body, body .form-control, body .bootstrap-select .btn, body .dropdown-menu .inner {
    font-size: 14px; }
  .resolution-element-height, body .form-control, body .bootstrap-select .btn {
    height: 32px; }
  body .validation-txt-errors {
    font-size: 12px;
    color: #a94442; } }
