$su-access-denied: "\e900";
$su-active-directory: "\e901";
$su-add: "\e902";
$su-add-1: "\e903";
$su-add-category: "\e904";
$su-all-dashboards: "\e905";
$su-angle-double-left: "\e906";
$su-angle-double-right: "\e907";
$su-angle-left: "\e908";
$su-angle-right: "\e909";
$su-applications: "\e90a";
$su-apps-menu: "\e90b";
$su-arrow-back: "\e90c";
$su-arrow-right: "\e90d";
$su-azure-ad: "\e90e";
$su-back: "\e90f";
$su-big-small-column: "\e910";
$su-bold: "\e911";
$su-cache_3: "\e912";
$su-calendar-1: "\e913";
$su-calendar-2: "\e914";
$su-categoried-dashboard: "\e915";
$su-category-collapse-mobile-path1: "\e916";
$su-category-collapse-mobile-path2: "\e917";
$su-category-expand-mobile-path1: "\e918";
$su-category-expand-mobile-path2: "\e919";
$su-check-box-checked: "\e91a";
$su-check-box-outline: "\e91b";
$su-clone: "\e91c";
$su-close: "\e91d";
$su-comment-1: "\e91e";
$su-comment-2: "\e91f";
$su-copy: "\e920";
$su-data-base-sync: "\e921";
$su-dataset: "\e922";
$su-datasource: "\e923";
$su-datastorage: "\e924";
$su-delete: "\e925";
$su-delete-cross: "\e926";
$su-design-dashboard: "\e927";
$su-disable: "\e928";
$su-dis-favorite: "\e929";
$su-document: "\e92a";
$su-dollar: "\e92b";
$su-dots-menu: "\e92c";
$su-down-arrow: "\e92d";
$su-download: "\e92e";
$su-draft: "\e92f";
$su-dragger-path1: "\e930";
$su-dragger-path2: "\e931";
$su-dropdown-arrow: "\e932";
$su-edit: "\e933";
$su-edit-inverse: "\e934";
$su-e-mail: "\e935";
$su-embed: "\e936";
$su-enable: "\e937";
$su-equals: "\e938";
$su-expand: "\e939";
$su-external-auth: "\e93a";
$su-eye: "\e93b";
$su-favorite: "\e93c";
$su-filter: "\e93d";
$su-folder: "\e93e";
$su-greater-than: "\e93f";
$su-greater-than-or-equal-to: "\e940";
$su-group-1: "\e941";
$su-group-2: "\e942";
$su-groups: "\e943";
$su-header: "\e944";
$su-help: "\e945";
$su-hide: "\e946";
$su-image: "\e947";
$su-info: "\e948";
$su-inner-close: "\e949";
$su-italic: "\e94a";
$su-left: "\e94b";
$su-lesser-than: "\e94c";
$su-lesser-than-or-equal-to: "\e94d";
$su-license-settings: "\e94e";
$su-link: "\e94f";
$su-list-eye: "\e950";
$su-list-ol: "\e951";
$su-list-ul: "\e952";
$su-load-more: "\e953";
$su-login-error: "\e954";
$su-logout: "\e955";
$su-manage-permission: "\e956";
$su-maximize: "\e957";
$su-maximize-1: "\e958";
$su-minimize: "\e959";
$su-minus-circle: "\e95a";
$su-mobile-menu-icon: "\e95b";
$su-move: "\e95c";
$su-ms-adfs: "\e95d";
$su-ms-logo-path1: "\e95e";
$su-ms-logo-path2: "\e95f";
$su-ms-logo-path3: "\e960";
$su-ms-logo-path4: "\e961";
$su-multi-tabbed: "\e962";
$su-nav-dashboard: "\e963";
$su-nav-datasource: "\e964";
$su-nav-home: "\e965";
$su-nav-schedule: "\e966";
$su-nav-settings: "\e967";
$su-nav-user-management: "\e968";
$su-nav-widgets: "\e969";
$su-not-equals: "\e96a";
$su-notification: "\e96b";
$su-notification-alert: "\e96c";
$su-notification-settings: "\e96d";
$su-open-path1: "\e96e";
$su-open-path2: "\e96f";
$su-open-link-newtab: "\e970";
$su-options: "\e971";
$su-options-horizontal: "\e972";
$su-options-menu: "\e973";
$su-or-line-path1: "\e974";
$su-or-line-path2: "\e975";
$su-or-line-mobile: "\e976";
$su-palette: "\e977";
$su-pane-collapse: "\e978";
$su-pane-expand: "\e979";
$su-password-tick: "\e97a";
$su-password-untick-path1: "\e97b";
$su-password-untick-path2: "\e97c";
$su-password-untick-path3: "\e97d";
$su-pause: "\e97e";
$su-pin: "\e97f";
$su-pin_unpin: "\e980";
$su-play: "\e981";
$su-play-1: "\e982";
$su-preview: "\e983";
$su-privacy-settings: "\e984";
$su-private: "\e985";
$su-public: "\e986";
$su-public-dashboards: "\e987";
$su-quote: "\e988";
$su-radio-button-checked: "\e989";
$su-radio-button-outline: "\e98a";
$su-recent-dashboards: "\e98b";
$su-refresh: "\e98c";
$su-sync: "\e98d";
$su-remove-public-path1: "\e98e";
$su-remove-public-path2: "\e98f";
$su-remove-public-path3: "\e990";
$su-remove-slideshow-circle: "\e991";
$su-reply: "\e992";
$su-report: "\e993";
$su-reset: "\e994";
$su-reset-cross: "\e995";
$su-right: "\e996";
$su-roll-back: "\e997";
$su-save-as: "\e998";
$su-save: "\e999";
$su-saveall: "\e99a";
$su-saveas: "\e99b";
$su-schedule: "\e99c";
$su-schedule-status: "\e99d";
$su-search: "\e99e";
$su-settings-1: "\e99f";
$su-settings-2: "\e9a0";
$su-share: "\e9a1";
$su-share-circle: "\e9a2";
$su-show: "\e9a3";
$su-sidebar-collapse: "\e9a4";
$su-sidebar-expand: "\e9a5";
$su-single-column: "\e9a6";
$su-single-sign-on: "\e9a7";
$su-slideshow: "\e9a8";
$su-small-big-column: "\e9a9";
$su-sort-down-up-path1: "\e9aa";
$su-sort-down-up-path2: "\e9ab";
$su-stop-watch: "\e9ac";
$su-storage_icon: "\e9ad";
$su-table: "\e9ae";
$su-three-column: "\e9af";
$su-tick: "\e9b0";
$su-time-setting: "\e9b1";
$su-two-column: "\e9b2";
$su-ums-sync: "\e9b3";
$su-unlisted-eye: "\e9b4";
$su-update-data-source: "\e9b5";
$su-upload-image: "\e9b6";
$su-url: "\e9b7";
$su-user_settings_icon: "\e9b8";
$su-user-1: "\e9b9";
$su-user-add: "\e9ba";
$su-user-block: "\e9bb";
$su-users: "\e9bc";
$su-user-swap: "\e9bd";
$su-versions: "\e9be";
$su-vertical-collapse: "\e9bf";
$su-vertical-expand: "\e9c0";
$su-view: "\e9c1";
$su-view-lens: "\e9c2";
$su-view-permission: "\e9c3";
$su-warning: "\e9c4";
$su-warning-alt: "\e9c5";
$su-widget: "\e9c6";
$su-wifi: "\e9c7";
$su-windows-ad: "\e9c8";
$su-windows-logo: "\e9c9";
$su-with-comment: "\e9ca";
$su-without-comment: "\e9cb";

