@{
    var dashboardServerResourceUrl = GlobalAppSettings.HttpPathBase + ServerAppConfig.AppSettings.EndPoints.CdnLink;
    dashboardServerResourceUrl = dashboardServerResourceUrl.TrimEnd('/');
    var headerLogo = dashboardServerResourceUrl + "/cdn/images/application/boldbi/" + ServerAppConfig.Theme.Appearance + "/" + ServerAppConfig.BrandingJson.BrandingImages.DeploymentHeaderLogo;
}

<header class="startup-header">
    <div class="startup-header-container">
        <img class="boldbi-logo" src='@headerLogo' />
    </div>
</header>