<div id="notification-banner" style="display: none;" ng-controller="NotificationBannerCtrl">
    <div class="su su-close float-end" title="@T["close"]" ng-click="closeBanner()"></div>
    <div class="banner-container">
        <div class="announcement-type">{{bannerObject.AnnouncementType}}</div>
        <h4 class="announcement-title" title="{{bannerObject.AnnouncementTitle}}">{{bannerObject.Title}}</h4>
        <div class="announcement-bullets">
            <p class="announcement-top-content" ng-repeat="topContent in bannerObject.Contents.TopContent">
                {{topContent}}
            </p>
            <ul ng-if='bannerObject.Contents.BulletPoints[0] != ""'>
                <li ng-repeat="bulletContent in bannerObject.Contents.BulletPoints">
                    {{bulletContent}}
                </li>
            </ul>
            <p class="announcement-bottom-content" ng-repeat="bottomContent in bannerObject.Contents.BottomContent">
                {{bottomContent}}
            </p>
        </div>
        <div class="announcement-date">
            <span>{{bannerObject.TimeLabel}}</span>
            <div class="announce-bottom-date">{{bannerObject.DisplayTimeString}}</div>
        </div>
        <a id="notification-button" href="{{bannerObject.ButtonLink}}" target="_blank" ng-if="bannerObject.ShowButton" ng-click="closeBanner()">
            <div class="button-content">{{bannerObject.ButtonName}}</div>
        </a>
    </div>
</div>